[2017-09-17 00:58] bloodmc commented on #1773
Disable the causetracker debug in sponge's global config for now.

[2017-09-17 01:02] Keaton1188 commented on #1773
Alright, guessing its something on your guys end and not ours? :)

[2017-09-17 01:06] BlueCyro commented on #1757
@bloodmc All mods work as expected without SpongeForge on the latest Forge version.

[2017-09-17 21:12] cuddylier opened #1774 "Latest Mystcraft and Sponge 1.11.2 results in crash"
- SpongeForge version: spongeforge-1.11.2-2476-6.1.0-BETA-2636
- Forge version: 2476
- Java version: 1.8.0_112
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: https://pastebin.com/raw/UQrpni9v

**What is the expected result?**
Server doesn't crash
**What is the current result?**
Crash with this error: https://pastebin.com/raw/vtehmniQ

Fu

[2017-09-18 01:02] ryantheleach commented on #937
@bloodmc Woo! Under what conditions was it null?

[2017-09-18 01:46] ryantheleach commented on #1743
Note: these messages are also displayed by vanilla Minecraft. Generally they can be caused by high latency, large explosions, dragon collision with player, or your players cheating, riding horses, or your players cheating.

Unless you can describe how Sponge differs from vanilla Minecraft in this regard, we can not help.

https://bugs.mojang.com/browse/MC-100830?jql=status%20%3D%20Open%20AND%20tex

[2017-09-18 03:34] kashike commented on #937
This is a vanilla bug.
It's worth noting that we had to patch this in Paper, too: https://github.com/PaperMC/Paper/blob/master/Spigot-Server-Patches/0197-Assign-the-World-in-WorldGenStronghold.patch

[2017-09-18 12:53] phit commented on #1643
Welp, after not having issue ourselves in 1.10 or 1.11, we finally have a server using BOP and sure enough no Wither Skellis to be found.

Running BiomesOPlenty-1.12-7.0.0.2291 with SpongeForge 7.0.0-BETA-2640

Actually unless that's a vanilla change, not even a Skeleton spawner is giving me Wither Skeletons
![](https://i.imgur.com/gdx3gX4.png)

[2017-09-18 12:57] ghost commented on #1643
Btw in the singleplayer wither skeletons spawning normally (with bop and/or tic installed).

[2017-09-18 22:46] phit opened #1775 "InventoryLens issues with Refined Storage"
- SpongeForge version: spongeforge-1.12.1-2480-7.0.0-BETA-2640.jar
- Forge version: forge-1.12.1-14.22.1.2478-universal.jar
- Mod affected: refinedstorage-1.5.18.jar

User was doing something with the pattern grid from Refined Storage when this crashed, if reproduction is needed let me know and I'll make a step by step.

@Faithcaio

https://gist.github.com/phit/5e729c0acbba1965cc8d3a2ba336acd1

[2017-09-18 23:34] D3nnis3n opened #1776 "No Lightning / Thunderstorm Sounds"
- SpongeForge version: 1.12.1-2480-7.0.0-BETA-2641
- Forge version: 2485
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
Hear the Lightning and Thunderstorm Sounds.

**What is the current result?**
No hearable Lightning and Thunderstorm Sounds, until removing sponge - then i can hear them.

As there is no Crash or anythin

[2017-09-19 00:37] D3nnis3n commented on #1771
We came across that yesterday, too. But it seemed to work in earlier versions (for 1.12.) of spongeforge as it appeared after we updated spongeforge - unfortunatley i do no longer know the Version we had before :/

[2017-09-19 00:45] phit commented on #1771
it probably worked prior to this https://github.com/SpongePowered/SpongeAPI/pull/1370
but you can't easily go back to before that as these changes are breaking for most plugins

[2017-09-19 01:21] Zidane commented on #1771
Patience, we'll get this fixed up. The bleeding branch is called bleeding for a reason.

[2017-09-19 04:22] CaptainSisko opened #1777 "[1.10.2] TAIGA Mod - Tiberium Ore Explosion Causes Runaway Phase"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2277-5.2.0-BETA-2637
- Forge version: forge-1.10.2-12.18.3.2477-universal.jar
- Java version: 1.8.0_131
- Operating System: Ubuntu 16.04.3 LTS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
All The Mods 1 (1.10.2)
https://hastebin.com/ehewigewix.py

**What is the expected result?**
Th

[2017-09-20 01:06] Dockter opened #1778 "Add configuration option to silence missing entity console spam and wipe entity/te."
Feature Requests:
* Add a configuration option to silence console spam generated from EntityList.java.
* Add a configuration option to wipe entity or tile entity when encountered within the createEntityFromNBT method.
* Add a configuration option to silence console spam generated from TileEntity.java.

These would be ideal options when migrating worlds from previous versions and or when pulling a

[2017-09-20 01:27] hugeblank opened #1779 "[1.11.2] Xnet mod crash, traced back to spongeforge"
Xnet was working perfectly fine on their version 1.3.2, but the moment I updated to 1.4.0, the server crashed (log provided below). I tried backporting to 1.3.2, but it still crashed in the same manner as with 1.4.0. I reported this [issue](https://github.com/McJty/XNet/issues/160#issuecomment-330450454) to mcjty, and he redirected it to you guys.

**I am currently running...**

- Minecraft Versio

[2017-09-20 01:30] Zidane commented on #1779
Sponge is only in the stacktrace because it is doing tracking around the tick. Nothing to do with us otherwise.

If you have doubts just remove Sponge and try again.

[2017-09-20 01:35] hugeblank commented on #1779
Alright, that answers that! Thanks for the swiftness!

[2017-09-20 10:56] davv1 commented on #1776
I can confirm that too. After adding SpongeForge to our server, nobody can't hear Thunderstorm sound. Lighting is visible.
We were using Forge 2477 and updated to 2485, without any change in this case. Also, We're using Windows 7 OS on our server.

[2017-09-20 10:58] D3nnis3n commented on #1776
Yes, lightning is visible but the sound of the lightning when it occurs and the general thunder sounds from more far away are not hearble. This is sad, as we use CoroUtils Weather Mod and it takes out a lot of immersion.

[2017-09-20 11:11] davv1 opened #1780 "[1.12.1] Can't start server with SpongeForge and MovingWorld"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2623
- Forge version: forge-1.12.1-14.22.1.2485-universal
- Java version: jre1.8.0_60 (64 bit)
- Operating System: Windows 7 Home Edition (64 bit)

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
[Mod] davincisvessels-1.12-5.335-full
[CoreMod] movingworld-1.12-5.341-full

[2017-09-20 11:20] davv1 commented on #1776
@D3nnis3n Sorry for offtop, but by the way... How you got WeatherMod for 1.12.1? I would be very grateful for help!

[2017-09-20 11:22] D3nnis3n commented on #1776
Hey,
it has been out since yesterday on CurseForge, just search it 😊

Gesendet von Mail für Windows 10

Von: davv1
Gesendet: Mittwoch, 20. September 2017 13:20
An: SpongePowered/SpongeForge
Cc: D3nnis3n; Mention
Betreff: Re: [SpongePowered/SpongeForge] No Lightning / Thunderstorm Sounds(#1776)

@D3nnis3n Sorry for offtop, but by the way... How you got WeatherMod for 1.12.1? I would be very gratefu

[2017-09-20 14:40] Zidane commented on #1780
MovingWorld needs to update their Mixin they are targeting to be compatible with SpongeForge.

[2017-09-20 14:40] #1780 closed, assigned to nobody

[2017-09-20 23:59] phit opened #1781 "Cyclic "Inventory Upgrade" crashes server when opened"
- SpongeForge version: spongeforge-1.12.1-2480-7.0.0-BETA-2643.jar
- Forge version: forge-1.12.1-14.22.1.2485-universal.jar
- Plugins/Mods:
Cyclic-1.12-1.8.4.jar

**What is the expected result?**
opening your second inventory "Inventory Upgrade" `cyclicmagic:inventory_food` doesn't crash the server
**What is the current result?**
server crash

crash report https://gist.github.com/phit/4b6a520ccde9

[2017-09-21 01:30] ryantheleach commented on #1776
@D3nnis3n Can you confirm the list of mods you had added, or is this reproducible without mods? The 'offtopic' comments seem to imply that you are running mods that potentially interact with the weather.

[2017-09-21 05:06] D3nnis3n commented on #1776
I'll do so later. But no, on the Time i opened the issue i had not had a Weather altering mod and the issue was already there for several days.

[2017-09-21 05:36] ryantheleach commented on #1776
No weather altering mods? or No other mods?

[2017-09-21 07:26] D3nnis3n commented on #1776
No Weather altering mods. When i come home i Post you a log where you can
See the mods. Its 135 of them. But it's working in Singleplayer with These
mods and on servers without sponge. As soon as sponge is Installed
Lightning sounds are gone.

Am 21.09.2017 07:36 schrieb "Ryan Leach" <notifications@github.com>:

[2017-09-21 07:56] D3nnis3n commented on #1776
https://pastebin.com/gaFjDTee

This is the log, i also edited my post above, as it was fucked up when writing mobile.
If this is not what you need, please tell me what you want me to provide.

[2017-09-21 16:48] phit opened #1782 "[1.12] BlockEvent.PlaceEvent not firing with Sponge"
Testcode https://gist.github.com/phit/6e2e3166fae093b9cfa88cc08441816e - [jar](https://phit.link/s/PlaceEventTest-1.0-SNAPSHOT.jar)

when running just forge placing a crafting table will print "placed table!" in the placers chat, when Sponge is installed the event doesn't fire and not chat message is being send

I ran into this while figuring out why some interaction in AstralSorcery doesn't work

[2017-09-21 18:20] ghost commented on #1775
I have similar issue.

[2017-09-21 23:22] phit commented on #1782
so I tracked down where the issue is, this line is returning null cancelling the rest of the event post to forge

https://github.com/SpongePowered/SpongeForge/blob/f43cb1c2b073be581a9f1ca1b4174d91d097ce90/src/main/java/org/spongepowered/mod/event/SpongeForgeEventFactory.java#L1097-L1100

[2017-09-22 13:59] Sanquira commented on #1775
I tested it a little bit and found repro:

Open Pattern grid block and set it to create crafting recipe. Then close and open this blocks GUI. (Now you have initial conditions.) Then switch to processing and WITHOUT closing GUI try paste anything into result grid (i tried middle position). Result is crash.

You are welcome.

[2017-09-23 17:48] tgstyle opened #1783 "Draconic Evolution Grinder Crash"
This keeps happening with a draconic grinder and draconic stabalized spawner.

**I am currently running...**

- SpongeForge version: 7.0.0-BETA-2653
- Forge version: 12.13.0.2489
- Java version:  1.8.0_144-b01
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

Draconic Evolution 1.12-2.3.4.265

https://gist.github.com/tgstyle/4bb31234fbb7f

[2017-09-23 17:56] Eufranio commented on #1783
I believe this is duplicate of https://github.com/SpongePowered/SpongeForge/issues/1588.

[2017-09-23 19:14] tgstyle commented on #1783
Somewhat, the Grinder is a TE, the other is entities.

[2017-09-23 19:30] tgstyle commented on #1783
Seems it could be an effect of the Grinder killing an effected Entity though.

[2017-09-24 17:41] ghost opened #1784 "Async light console spam 1.12.2"
[19:47:10] [Server thread/INFO]: SpongeForge
    Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-c3bb482
    SpongeForge: 1.12.2-2486-7.0.0-BETA-2653
    Minecraft Forge: 14.23.0.2489

<pre>
[19:40:01] [Sponge - Async Light Thread/INFO] [STDERR]: [java.lang.ThreadGroup:uncaughtException:1052]: java.lang.IndexOutOfBoundsException: Index: 547, Size: 577
[19:40:01] [Sponge - Async Light Thread/INFO]

[2017-09-24 17:48] phit commented on #1782
fixed in bleeding

[2017-09-24 17:48] #1782 closed, assigned to nobody

[2017-09-24 19:41] Twisted-Code commented on #1398
@GenDeathrow you're sure you're doing everything you can on your end to resolve this/duct tape around this? Maybe also consider submitting a PR? Honestly I'd submit one myself, but I don't know shit about programming in Java (yet)
Also, I've noticed that the incompatibility with your mod causes items to be teleported to the origin chunks (chunks near 0,0,0) under certain circumstances. Probably ne

[2017-09-25 00:16] #1784 closed, assigned to nobody

[2017-09-25 19:36] Faithcaio commented on #1781
https://github.com/SpongePowered/SpongeCommon/commit/3633da5b13e4b1a9c4454e302fcfdb94f1514f45

[2017-09-25 19:36] #1781 closed, assigned to nobody

[2017-09-25 20:12] Faithcaio commented on #1775
I think this is caused by the mod changing the container-slots again after creation of the container.
We currently have no way to detect this

[2017-09-25 20:28] tgstyle commented on #1783
In my case it seems to be caused by Scaling Health creating blight mobs (via a Stabalized Spawner), which then crashes the server when the DE Grinder kills them.

https://minecraft.curseforge.com/projects/scaling-health/files

[2017-09-25 22:30] phit commented on #1771
still happens after the recent refactor fixes https://gist.github.com/phit/7ff07e64f5cf7766f1566eae6aa1a0a0

[2017-09-26 05:37] GenDeathrow commented on #1398
I'm using the one and only method forge has given me to capture drops from entities. There basically is no other way.. if forge had an event for drops Id use that. But their only event is basically if the chicken dies. The other is when an item is created but doesn't give the origin(ie chicken) that made it.

So, I used this method to catch my drops plus vanilla drops, and any modded drops from sa

[2017-09-26 11:08] ghost commented on #1775
Will be possible eliminate crash? For example exlude inventory handling for specific block/tileentity in the sponge config etc. as workaround now.

[2017-09-27 09:57] ghost opened #1785 "[1.12.2] "Silently" catching entity tracking error console spam"
Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-fb55a76
    SpongeForge: 1.12.2-2486-7.0.0-BETA-2665
    Minecraft Forge: 14.23.0.2493

<pre>
[11:49:02] [Server thread/ERROR]: "Silently" catching entity tracking error.
net.minecraft.util.ReportedException: Adding entity to track
        at net.minecraft.entity.EntityTracker.func_72785_a(EntityTracker.java:256) [ol.class:?]
        at net.minecraft

[2017-09-27 18:05] davv1 commented on #1776
@ryantheleach I'm not using any weather altering mods in my case, and still I don't get any thunder sounds.

[2017-09-28 01:13] johnfriedrich opened #1786 "Crash, villager has no careers, entity.DeathPhase"
When loading/saving a chunk with this specific villager, the server crashes. (Or when he is attacked by a Zombie?)
Also an error occurs when trying to kill the villager

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2637
- Forge version: 1.10.2-12.18.3.2422
- Java version: OpenJDK for some reason, but shouldn't matter anyway in this case.
- Operating System: Debian 9.1

 - [x] Linux (Ubuntu, Debia

[2017-09-28 08:10] ghost opened #1787 "[1.12.2] Phase tracking console spam"
Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-fb55a76
    SpongeForge: 1.12.2-2486-7.0.0-BETA-2665
    Minecraft Forge: 14.23.0.2493

<pre>
[10:02:34] [Server thread/ERROR] [Sponge]: /***************************************************************************************************************************/
[10:02:34] [Server thread/ERROR] [Sponge]: /*

[2017-09-28 14:59] ghost opened #1788 "[1.12.2] In-game commands from mod does not works"
Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-fb55a76
    SpongeForge: 1.12.2-2486-7.0.0-BETA-2665
    Minecraft Forge: 14.23.0.2493

console:
<pre>
[16:54:49] [Server thread/ERROR] [Sponge]: Error occurred while executing command 'cms debug' for source DedicatedServer: java.lang.NullPointerException
java.lang.RuntimeException: java.lang.NullPointerException
        at org.spongepowered.common.c

[2017-09-28 15:23] ghost opened #1789 "[1.12.2] CustomMobSpawner does not work with SpongeForge"
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-fb55a76
SpongeForge: 1.12.2-2486-7.0.0-BETA-2665
Minecraft Forge: 14.23.0.2493

No mobs spawned. Singleplayer works fine. Turned on cms debug from config:

<pre>
[17:13:05] [Server thread/DEBUG] [mixin]: Mixing status.MixinServerStatusResponseVersion from mixins.common.core.json into net.minecraft.network.ServerStatusResponse$Version
[17:13:06] [Server t

[2017-09-28 15:26] Dockter commented on #1789
What version of CMS are you using?

[2017-09-28 15:27] ghost commented on #1789
3.11.3

[2017-09-28 15:28] Zidane commented on #1789
This isn't a crash, someone left in a dumpStack in CMS as the log says...

[2017-09-28 15:28] ghost commented on #1789
server runs, but nothing spawned - dump is when debug cms is enabled

[2017-09-28 15:30] Zidane commented on #1788
Caused by: java.lang.NullPointerException
        at drzhark.customspawner.command.CommandCMS.func_184881_a(CommandCMS.java:142) ~[CommandCMS.class:?]

Report to CMS

[2017-09-28 15:30] #1788 closed, assigned to nobody

[2017-09-28 16:13] ghost commented on #1789
It looks some of 6.0 api plugins blocks spawning.

[2017-09-28 16:13] #1789 closed, assigned to nobody

[2017-09-29 12:36] theboomer commented on #1785
This is actually a SpongeCommon issue, I didn't notice this had been filed earlier when I filed mine.
The above error is caused by dragging and discarding itemstacks out of inventory GUIs and dropping outside.  It is present in SpongeVanilla as well hence spongecommon.

https://github.com/SpongePowered/SpongeCommon/issues/1543

[2017-09-29 13:51] Zidane commented on #1785
Closing as this is an issue in common hence the ticket by @theboomer .

[2017-09-29 13:51] #1785 closed, assigned to nobody

[2017-09-30 02:29] bloodmc commented on #1787
Fixed in latest builds.

[2017-09-30 02:29] #1787 closed, assigned to nobody

[2017-09-30 11:56] Deamon5550 commented on #1524
I believe this was fixed by https://github.com/SpongePowered/SpongeCommon/commit/7178a358498a585f793abc431772d32c3be40bb1, although that might need backporting?

[2017-10-01 01:32] kwpugh commented on #1771
Broken on spongeforge-1.12.2-2486-7.0.0-BETA-2672.jar

https://gist.github.com/kwpugh/e61ea9cf71e16319590fe8a96eb0ee72

[2017-10-01 03:20] Zidane commented on #1771
So this is happening because the phase tracker is being told to add a player to the context (as Tinker's is executing a block break on behalf of the player at tick end).

Not exactly sure the correct fix here so awaiting @gabizou 's feedback.

[2017-10-01 03:32] liach commented on #1771
I think we should probably add context overriding for this.

[2017-10-01 03:38] #1771 closed, assigned to gabizou

[2017-10-01 15:25] phit opened #1790 "Actually Additions Breaker PhaseTracker issues"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2486-7.0.0-BETA-2677
- Forge version: forge-1.12.2-14.23.0.2491
- Plugins/Mods: ActuallyAdditions-1.12.1-r120

**What is the expected result?**
actually additions breaker breaking stuff not creating 20mb log files after 10minutes with verbose tracking enabled

**What is the current result?**
20mb log file, its basically this

[2017-10-01 16:02] phit opened #1791 "Tinkers Construct Crafting Stations crashes server when crafting"
**I am currently running...**
- SpongeForge version: spongeforge-1.12.2-2486-7.0.0-BETA-2677
- Forge version: forge-1.12.2-14.23.0.2491

- Plugins/Mods: TConstruct-1.12-2.7.3.30

**What is the expected result?**
be able to craft normally in the crafting station
**What is the current result?**
server crash

https://gist.github.com/phit/e252db2717489c67d8eadf61b014d45c

[2017-10-01 17:33] phit commented on #1775
resolved in 2678

[2017-10-01 17:33] phit commented on #1791
resolved in 2678

[2017-10-01 17:33] #1791 closed, assigned to nobody

[2017-10-01 19:26] kwpugh commented on #1771
Just for confirmation, it works!!

And thank you for the great work on Sponge Forge.

[2017-10-01 20:10] phit opened #1792 "[1.12] Attached blocks don't drop"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2486-7.0.0-BETA-2678
- Forge version: forge-1.12.2-14.23.0.2491

- Plugins/Mods: none

**What is the expected result?**
breaking blocks attached to sideways torches, beds, ladders, cactus etc. drop the block broken and the attached block(s)
**What is the current result?**
only the block being broken drops

example video https

[2017-10-01 21:55] D3nnis3n commented on #1776
Do you need any more Information from me? The issue is still there in 2679.

[2017-10-01 22:19] D3nnis3n opened #1794 "Mixin Issue between Advanced Chimneys and Malisis containing Sponge Error - to whom to report?"
I really just want to know who's fault this is - mine, yours, malisis or advancedchimneys and respectivley whom to Report. I'll include the form nevertheless.

- SpongeForge version: 2679
- Forge version: 2494
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
Server working.
**What is the current result?**
Server crashing.

[2017-10-01 22:24] D3nnis3n commented on #1794
Okay, this does still happen when Sponge is removed. So i suspect it is not your issue. Uff.

[2017-10-01 22:55] kashike commented on #1776
https://github.com/SpongePowered/SpongeCommon/blob/7678e517fb3c79535a3d0727cc061e461f09c674/src/main/java/org/spongepowered/common/event/tracking/TrackingUtil.java#L139-L143

[2017-10-01 22:58] D3nnis3n commented on #1776
Ah, i saw there is an similar Issue in SpongeCommon. Didn't get you got multiple issue trackers, sorry for that.

[2017-10-01 23:00] kashike commented on #1776
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1529.

[2017-10-01 23:00] #1776 closed, assigned to bloodmc, kashike

[2017-10-01 23:09] D3nnis3n commented on #1794
Okay, that seems to be already known to MalisisDev: https://github.com/Ordinastie/MalisisCore/issues/12

[2017-10-01 23:09] #1794 closed, assigned to nobody

[2017-10-01 23:28] ghost opened #1795 "Sponge crash"
https://gist.github.com/xKnightGamingx/0cf8a21ac30f3e974888108e3cf0ac7d

Sponge crash the server on the latest version of spongeforge for api 7 running on 1.12.2 Custom Skyblock server

[2017-10-01 23:31] bloodmc commented on #1795
This was already fixed and you are not using the latest. Update again.

[2017-10-01 23:31] #1795 closed, assigned to nobody

[2017-10-02 02:02] Werwolfi commented on #1755
We have the same issue on our server.
 Forge 12.18.3.2477-universal
Sponge 1.10.2-2477-5.2.0-BETA-2637

`[03:35:21] [Netty Epoll Server IO #14/WARN] [io.netty.channel.DefaultChannelPipeline]: An exception was thrown by a user handler's exceptionCaught() method while handling the following exception:
java.io.IOException: Error while writev(...): Connection reset by peer
	at io.netty.channel.epoll.N

[2017-10-02 05:32] pen-siv commented on #1752
Still appears to be an issue in 1.12.2

[2017-10-02 11:15] Keaton1188 opened #1796 "Quantum Quarry - Broken"
Hi all, on our Age of Engineering server the Quantum Quarries are not working. It takes Rf from a capacitor bank, also shows that in the quarry its mined blocks but they are not outputting to the chest.

Tested on single player and works fine.

SpongeForge:
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2477-5.2.0-BETA-2637

[2017-10-02 15:39] Faithcaio commented on #1792
Similar issue with double-flowers.
Only breaking the top half drops the item.

[2017-10-02 16:29] phit commented on #1792
@bloodmc everything else seemed fixed but double flowers still only drop when the top half is broken

https://phit.link/s/2017-10-02_18-28-19.mp4

[2017-10-02 18:28] pen-siv commented on #1792
unsure if related, but block groups broken by Tinker tools (hammer, excavator) only drop one block as well.

[2017-10-02 22:49] Fently opened #1797 "McMultipart/Mekanism Sponge Bug"
Strange issue directly caused by sponge when placing pipes in Mekanism. These two videos I recorded will project the problem easier than I cane explain in words:

[Video1](https://youtu.be/cmZ3dPL2BcI)
[Video2](https://youtu.be/Uk8igR_3m8I)

I tested with and without sponge, and the issue only occurs when sponge is installed. I am using Mekanism v9.3.5.206 in conjunction with McMultipart v2.0.2 +

[2017-10-02 23:47] PixelmonPRO commented on #1755
In the last Forge (1.10.2 - 12.18.3.2488), it seems to have solved this problem.
<img width="727" alt="screenshot at 03 02-46-48" src="https://user-images.githubusercontent.com/26658563/31104343-22950f86-a7e5-11e7-8eab-e8725384fcda.png">
But I can be wrong :)

[2017-10-03 00:26] ryantheleach commented on #1794
For those playing from home:

MalisisDev: Ordinastie/MalisisCore#125

[2017-10-03 00:28] ryantheleach commented on #1752
@travis-anderson What Sponge version did you test with? the Sponge versions available for MC 1.12 have gone through radical changes over the last month, it would be valuable to know the exact version used.

[2017-10-03 00:35] pen-siv commented on #1752
@ryantheleach
I've tried in the following versions:
1.12.1-2480-7.0.0-BETA-2643
1.12.2-2486-7.0.0-BETA-2674
1.12.2-2486-7.0.0-BETA-2682
1.12.2-2486-7.0.0-BETA-2683

[2017-10-03 07:45] kingdevnl opened #1798 "Mixins wihout obfuscation Mappings?"
So its it possible to skip the obfuscation Mappings step when building a jar file?,
Im working on a project that isnt in a OBF Envouriment, (Bukkit Side)

[2017-10-03 07:48] #1798 closed, assigned to nobody

[2017-10-03 07:48] kingdevnl commented on #1798
Oops posted in wrong repo....

[2017-10-03 14:35] #1792 closed, assigned to nobody

[2017-10-03 19:20] phit commented on #1775
nvm, rightclicking a stack in the grid still crashes

https://gist.github.com/phit/6be8a8e99a2df8f527e6a8cb2c71cf0b

[2017-10-03 19:33] kwpugh opened #1799 "[1.12.2] Tinkers AoE tools not working under SpongeForge"
**I am currently running...**

- SpongeForge version:  spongeforge-1.12.2-2486-7.0.0-BETA-2679.jar
- Forge version: forge-1.12.2-14.23.0.2494-installer.jar
- Java version: 1.8 144
- Operating System: Centos 7

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Lockette, LuckPerms, Nucleus

**What is the expected result?**
When using a Tinkers Construct Hammer or Excavator, br

[2017-10-03 19:34] phit commented on #1799
update this was already fixed in 2683 and 2684

[2017-10-03 19:58] kwpugh commented on #1799
Testing now.

[2017-10-03 20:06] kwpugh commented on #1799
That fixed it.  Thank you.

[2017-10-03 20:07] #1799 closed, assigned to nobody

[2017-10-03 20:25] Tencao opened #1800 "[1.12.2] Malisis Core Incompatibility"
**I am currently running...**
- SpongeForge version: 1.12.2-2486-7.0.0-BETA-2685
- Forge version: 14.23.0.2495
- Java version: 8
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

Crash Report - https://gist.github.com/Tencao/411ea87e9851629a5d0ebe50fd2ccac5
Log - https://gist.github.com/Tencao/14b80c3cea7b1077d0e31168eda9f0f0

Confirmed this crash only hap

[2017-10-03 20:26] kwpugh opened #1801 "[1.12.2] Latest SpongeForge seems to break Shipping Bin in Pam's Harvestcraft"
I am currently running...

SpongeForge version: spongeforge-1.12.2-2486-7.0.0-BETA-2684.jar
Forge version: forge-1.12.2-14.23.0.2494-installer.jar
Java version: 1.8 144
Operating System: Centos 7

Plugins/Mods:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Lockette, LuckPerms, Nucleus

What is the expected result?
Placing items in the Shipping Bin from Pam's Harvestcraft and selecting t

[2017-10-03 23:06] gabizou commented on #1800
Does renaming the sponge jar with an `a` at the beginning help?

[2017-10-03 23:23] kashike commented on #1800
@Ordinastie

[2017-10-04 01:36] bloodmc commented on #1790
@phit does this occur in latest?

[2017-10-04 01:38] phit commented on #1790
doesn't look like it, at least not since our last server restart, I assume it's fixed I'll reopen if it pops up again

[2017-10-04 01:38] #1790 closed, assigned to nobody

[2017-10-04 04:22] Tencao commented on #1800
I will try and report back

[2017-10-04 04:24] Tencao commented on #1800
No, if anything this causes it to crash even faster.

Log - https://gist.github.com/Tencao/490b89f49dda0e56af465037b6960afa

[2017-10-04 15:12] Mumfrey commented on #1800
Read the error [here](https://gist.github.com/Tencao/490b89f49dda0e56af465037b6960afa#file-gistfile1-txt-L347):

    [05:23:17] [main/WARN] [mixin/]: Mixin config mixins.malisiscore.core.json requires mixin
    subsystem version 0.7.4 but 0.7.2 was found. The mixin config will not be applied.

Ordinastie is using features from 0.7.4 but Sponge's version is loading first and is out of date.

You ne

[2017-10-04 15:40] kashike commented on #1800
That's not the issue. The issue is that MalisisCore [is injecting](https://github.com/Ordinastie/MalisisCore/blob/1.12/src/main/java/net/malisis/core/asm/mixin/core/MixinChunk.java#L46) into a method that Sponge [overwrites](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L399-L403). @Ordinastie is working on fixin

[2017-10-04 19:50] Tencao commented on #1800
For reference as well, I am using the 6.1.6 build where he fixed the crash his end, hence why it only crashes with sponge installed now.

[2017-10-04 20:12] julio-rodrigues opened #1802 "Could not find type owning class, assigning fallback"
Info: forge-1.12.2-14.23.0.2503-universal AND spongeforge-1.12.2-2486-7.0.0-BETA-2687

[2017-10-05 06:11] D3nnis3n commented on #1800
So not using sponge an using malisis 6.1.6 will work for now?

[2017-10-05 09:56] Tencao commented on #1800
Yes, that's correct

[2017-10-06 17:08] phit opened #1803 "LivingSpawnEvent.CheckSpawn isSpawner always returns true"
**I am currently running...**
- SpongeForge version: d9a14cae40be2adcfd6f75e2cb88b9f037192cf9
- Plugins/Mods: -

the isSpawner check is broken, it will always return true regardless if the spawnevent actually comes from a mobspawner or not, works fine when I remove Sponge from my workspace

found when debugging why [Torchmaster](https://minecraft.curseforge.com/projects/torchmaster) doesn't work,

[2017-10-06 17:14] #1803 closed, assigned to kashike

[2017-10-07 22:06] #1681 closed, assigned to nobody

[2017-10-08 04:34] pyscho974 opened #1805 "lightning malfunction."
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2637
- Forge version: forge-1.10.2-12.18.3.2477-universal
- Java version: jre1.8.0_144
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x ] Windows (win7/ server 2008r2

- Plugins/Mods: nucleus

**What is the expected result?**
/lightning does actual damage and sound.
**What is

[2017-10-08 04:39] kashike commented on #1805
Update to `5.2.0-BETA-2691`.

[2017-10-08 04:39] #1805 closed, assigned to nobody

[2017-10-08 04:54] pyscho974 commented on #1805
ty.. just checked prior to that update and did not see it. works now.

[2017-10-08 12:57] Keaton1188 opened #1806 "Quarry Dim - lag"
We are getting massive lag on our Dw20 1.10.2 server.
I have reset the DIM and that fixes it, we only have about 3 people on the server and around 3 quarries running..
![untitled](https://user-images.githubusercontent.com/24898745/31316971-6e1a5a8e-ac30-11e7-927d-e5c13e12c9ce.png)

SpongeForge:
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2281-5.2.0-BETA-2591
Minecraft F

[2017-10-08 15:20] phit opened #1807 "Applied Energistics 2 PhaseTracker Issues"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2503-7.0.0-BETA-2694.jar
- Forge version: forge-1.12.2-14.23.0.2509-universal.jar
- Plugins/Mods: appliedenergistics2-rv5-alpha-7.jar

full log is usually way over 50mb since this is spammed nonstop http://vpaste.net/avW9K

[2017-10-08 15:22] phit commented on #1806
please test this without Sponge, pretty sure performance will be just as bad for that dimension

[2017-10-08 18:14] D3nnis3n opened #1808 "Ultimate Car Mod - Cars can't be spawned"
- SpongeForge version: 2696
- Forge version: 2509
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
The car from Ultimate Car Mod is spawned when crafted correctly and the spawn button is pressed.

**What is the current result?**
The car is not spawning and the following error occurs in the console:
https://gist.github.com

[2017-10-08 18:33] phit commented on #1808
please put the log on https://gist.github.com/ and dont paste it directly in the issue

[2017-10-08 18:36] D3nnis3n commented on #1808
Changed that.

[2017-10-08 20:34] Deamon5550 commented on #1808
The mod is spawning entities from off the main thread, this leads to a variety of race conditions and should be fixed by the mod author (by performing the spawning on the main thread, probably through a scheduled task).

[2017-10-08 20:37] D3nnis3n commented on #1808
Thanks for your answer. I crosslinked the post to the mod authors issue tracker: https://minecraft.curseforge.com/projects/ultimate-car-mod/issues/8

Hopefully he does fix that. Or you can. Whoever wants to. :D

[2017-10-08 21:27] D3nnis3n commented on #1808
The mod author replied the following:

I think this means it's unlikely he is willing to "fix" that.

[2017-10-09 00:07] ryantheleach commented on #1808
@D3nnis3n it sounds like they don't realize that it's being called off of the main thread at all in the first place.

[2017-10-09 00:09] Dockter opened #1809 "Furnace / Inventory bug"
Bug:  Furnace malfunctions.
Build:  October 6th commit of 1.12.2 (bleeding)
Forge: 1.12.2 - 2501.

Reproduce:  Place furnace, place in pork, place in coal.  The moment you place coal the furnace GUI is forced closed, the itemStack of Coal (the rest of it) will disappear from your player inventory AND the remaining of pork if you had any.  If you click on the furnace it will show all the slots empt

[2017-10-09 00:21] kashike commented on #1809
already fixed

[2017-10-09 00:21] #1809 closed, assigned to nobody

[2017-10-09 11:12] D3nnis3n commented on #1800
Yep, that works out. So hopefully there will be a solution to this. At least now i can use crafttweaker again, even though i have to lose out on Sponge.

[2017-10-09 11:15] D3nnis3n commented on #1808
Yeh, i hope we could Point that out. Even i was wondering that something was a misunderstanding, though i'm not a native english Speaker. Sureley, after three People mentioning that, it should be clear :D

//EDIT:
Ah, he seems to have understood and fixed it already. Great. I'll Close this issue after testing, maybe he still Needs help.

[2017-10-09 13:43] Dockter commented on #1801
Test this with the latest version of Forge and SpongeForge.  I had a similar issue with furnaces acting strange.  Forge: 2509 and SF: 2503 seemed to have solved the issue for me.

[2017-10-09 19:35] Thutmose opened #1810 "Items with custom entities are deleted on toss."
**I am currently running...**

- SpongeForge version: 1.11.2-2476-6.1.0-BETA-2699
- Forge version: 13.20.1.2510
- Java version: 1.8.0_111
- Operating System: Windows 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Thut Core, In-game NBTEdit - Pokecube Edition, Pok

[2017-10-09 21:44] XsergeiX opened #1811 "IC2 spawns loot of block, that wasn't destroyed"
**I am currently running...**

- SpongeForge version: 2694
- Forge version: 2509
- Java version: 1.8.0_144
- Operating System: Win 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: industrialcraft-2-2.8.16-ex112

**What is the expected result?**
When you cancel block destroy event(make transaction invalid) caused by ic2 explosion, it should do that.

**Wha

[2017-10-09 22:06] XsergeiX opened #1812 "IC2 Block's TileEntity gets destroyed even if block break transaction was cancelled"
**I am currently running...**

- SpongeForge version: 2694
- Forge version: 2509
- Java version: 1.8.0_144
- Operating System: Win 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: industrialcraft-2-2.8.16-ex112

**What is the expected result?**
When canceling block break event(making transaction invalid), it should prevent TileEntity being deleted too.
It

[2017-10-09 23:45] kwpugh commented on #1801
Tested with Forge 2512 and SpongeForge 2700, still no joy.

[2017-10-10 00:36] gabizou commented on #1801
@kwpugh A workaround is implemented in the latest build. Give it a few minutes to build from the latest commit. The problem is still going to be with Pam's Harvestcraft doing world operations off the main thread, in this case, spawning an entity off the main thread. The work around at the moment is that Sponge will "capture" the entity and still spawn said entity while on the main thread, but the

[2017-10-10 00:36] #1801 closed, assigned to nobody

[2017-10-10 00:39] gabizou commented on #1808
Closing as the new default configuration option presented in the latest builds will allow said entities to spawn * on the main thread*, but if disabled, Sponge will ignore the entity being spawned. The real fix will be with the mods themselves to ensure they are spawning entities on the main thread, and not on network threads.

[2017-10-10 00:39] #1808 closed, assigned to nobody

[2017-10-10 01:02] kwpugh commented on #1801
Thank you.

[2017-10-10 01:20] ryantheleach commented on #1810
Should Pokecube be extending EntityItem?

[2017-10-10 01:28] Thutmose commented on #1810
not nessisarily, the method allows returning any "Entity" as the item when tossed, something could say spawn an exp orb when tossed instead, which would then be an EntityXPOrb, which does not extend EntityItem.

[2017-10-10 03:52] gabizou commented on #1810
Looks like an error on our end. We're expecting that all entities dropped from the player interactions are always `EntityItem`s. It never occurred to us that there were alternative options for when a player drops an item. Should see a fix soon for both 1.11 and 1.12.

[2017-10-10 05:40] #1607 closed, assigned to nobody

[2017-10-10 07:18] ProsperCraft commented on #1746
This is still happening with

[01:17:43] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-c675e80
    SpongeForge: 1.10.2-2477-5.2.0-BETA-2698
    Minecraft Forge: 12.18.3.2316

Verified by loading with forge only, and the drops happen just fine.

[2017-10-10 12:25] ryantheleach commented on #1383
FWIW ExplosionIC2 extends Explosion.

I've partially decompiled the dev versions of IC2 in an attempt to work out what events, if any, would be captured by sponge.

https://gist.github.com/ryantheleach/12d625805e2e57ba826ce3ae2024a03e

As far as I can see from decompiling the dev version of 1.12, the logic goes something like this.

1. Throw a custom explosion event that doesn't extend the forge e

[2017-10-12 05:00] Tencao commented on #1800
Any update regarding this issue?

[2017-10-12 05:07] Ordinastie commented on #1800
Will be fixed in the next update of MalisisCore that should come in a few days.

[2017-10-12 05:22] Tencao commented on #1800
Thanks for that, once the update is out I'll recheck the issue and close once I've confirmed it fixed my end

[2017-10-15 06:12] #1553 closed, assigned to nobody

[2017-10-15 10:26] D3nnis3n opened #1813 "Ultimate Car Mod - Fueling the Car leads to Client Disconnect"
**I am currently running...**
- SpongeForge version: 2706
- Forge version: 1512
- Java version:
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
You drive your car in front of a fuel station. You rightclick the fuel station and press start. The car will now get slowly filled with fuel.

**What is the current result?**
You

[2017-10-15 15:58] D3nnis3n commented on #1813
Yep, same issue. Fixed by the mod Author.

[2017-10-15 15:58] #1813 closed, assigned to nobody

[2017-10-16 04:00] Dockter opened #1814 "CauseStack Manager called from off main thread error when server shutdown"
Error from server when it was shutdown:  https://gist.github.com/Dockter/2259066ec2a61c5b4f9c6e1968703ac7

Sponge: spongeforge-1.12.2-2503-7.0.0-BETA-2696
Forge: 1.12.2 - 2509

[2017-10-16 04:53] BlayzerQ opened #1815 "Lost Cities SpongeChunkGeneratorForge issues"
I use the [LostCities](https://github.com/McJty/LostCities) mod in my modpack and interact with it in my mod. But I encountered a problem: Sponge is replaced the chunk generator. In a single game the code works and everything is fine, but on the server I get the error: java.lang.ClassCastException: org.spongepowered.mod.world.gen.SpongeChunkGeneratorForge cannot be cast to mcjty.lostcities.dimensi

[2017-10-16 20:07] Deamon5550 commented on #1815
The issue is with us wrapping the chunk generator and them trying to get theirs out of the world by casting. Perhaps we could be less aggressive with how we handle world generation but that would essentially mean a config option that neuters the sponge worldgen api denying any plugins access to the world generator for that world for an issue that isn't even related to the wrapping. I don't like th

[2017-10-16 20:21] Aaron1011 commented on #1814
@Dockter: Are you able to reproduce this consistently? Based on the stacktrace, this method should have been called from the main thread.

[2017-10-16 20:44] simon816 commented on #1814
I get this. It's called from the "Server Shutdown Thread"

Edit: specifically this code:
[code]

[2017-10-16 20:44] kashike commented on #1814
https://github.com/SpongePowered/SpongeCommon/commit/1a3c79f9fa78689a1a3171d77f3a056ef868b801

[2017-10-17 12:16] Aiidoneus opened #1816 "Advanced Rocketry Space Stations are not Saving"
**I am currently running...**

- SpongeForge version: _spongeforge-1.10.2-2477-5.2.0-BETA-2691
- Forge version: forge-1.10.2-12.18.3.2477-universal
- Java version: 1.8.0_131
- Operating System:

 - [x]  Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Advanced Rocketry: AdvancedRocketry-1.10.2-1.0.19
LibVulpes: LibVulpes-1.10.2-0.1.19-universal

**What is the expect

[2017-10-17 20:30] simibubi opened #1817 "Repeating Command blocks stop looping"
forge: 1.12.2-14.23.0.2503
spongeforge: 1.12.2-2486-7.0.0-BETA-2689

Any command in Repeating Command blocks stopped looping when
reentering the chunks after a few minutes, it has to be reactivated by a player to operate again:
Always active: Command blocks have to be replaced or changed in the UI
Needs Redstone: Redstone source has to be turned off and back on

[2017-10-20 16:28] BrainStone opened #1818 "ChannelRegistrar#unbindChannel doesn't free the channel."
*(Previous title: ChannelRegistrar#getChannel returns empty Optional for registered channel)*

I registered a channel like this:
[code]
Then a later call to
[code]
returns an empty `Optional`.

This also causes `getOrCreateRaw` to throw the following exception when the channel is already registered:
[code]

**I am currently running...**
- SpongeForge version: 1.12.2-2503-7.0.0-BETA-2706
- Forge ve

[2017-10-20 17:14] simon816 commented on #1818
When creating the channel, are you sure no exceptions are thrown? Are you also sure that the channel is not being unbound (`unbindChannel`)?
`createRawChannel` followed immediately by `getChannel` will return the channel as expected.

[2017-10-20 17:15] BrainStone commented on #1818
Yes. And yes.
I discovered that error while trying to unbind it.

It works fine under SpongeVanilla.

[2017-10-20 17:22] simon816 commented on #1818
I see you have some other mods/plugins loaded. Are you able to isolate the problem to just your code that creates the channel? There could be another mod causing something strange to happen.

[2017-10-20 17:30] BrainStone commented on #1818
Even with only my plugin the same thing happens.

[2017-10-20 17:37] simon816 commented on #1818
There may be an issue if you unbind a channel then attempt to create a new binding with the old name. Is that what could be happening here?
Otherwise, I don't know how it could be going wrong; creating a channel adds it to a `Map`, `getChannel` simply queries the map.

[2017-10-20 17:40] BrainStone commented on #1818
The getter fails before I unbind the channel.

I'll try to create a minimal example.

[2017-10-20 17:51] D3nnis3n opened #1819 "Elevators behaving strangely when Sponge is installed"
- SpongeForge version: 2706
- Forge version: 2512
- Java version:
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
ThutElevators work correctly as they should.
**What is the current result?**
ThutElevators stop working, start working again, stop working - with no log output at all.

See this Video: http://minecraft.godsofw

[2017-10-21 09:15] ryantheleach commented on #1819
Is this near spawn? can people break blocks there? It's a bit of a stretch, but maybe it's spawn protection, or a plugin stopping interacts?

[2017-10-21 13:05] D3nnis3n commented on #1819
I don't know if he had such in his Tests, but no, i have no plugins installed atm (as i Need to remove sponge all day cause of incompatibilitites) and no, that Building is nowhere near where a spawn protection would be, if it wasn't disabled, which it is. This Building is a survial Building of one of our Players - so yes, blocks can be broken and placed.

[2017-10-22 19:24] BrainStone commented on #1818
So this is a minimal example I could create:

[code]

Throws the exception when reloading:

[code]

Works as expected on SpongeVanilla!

[2017-10-22 19:41] BrainStone commented on #1818
Some debugging revealed that the unbind call is sucessful. And the `ChannelRegistrar#getChannel` returns an empty optional. However the call to `ChannelRegistrar#createRawChannel` (`SpongeModNetworkManager#createRawChannel` in this case) hasn't realized that the channel has been freed again. So I suspect that the unbind method isn't working properly!

[2017-10-22 21:42] simon816 commented on #1818
Ah, so as I suspected:

SpongeForge doesn't actually remove the channel name from the Forge registry (I didn't want to hack around forge when I implemented it).
Didn't think anyone would rebind an old channel 😛

I don't see why you would need to rebind a channel in reload anyway, unless it didn't bind the first time, there's no reason to remove it then re-add immediately.

But anyway, there is a b

[2017-10-23 10:17] #1800 closed, assigned to nobody

[2017-10-25 19:42] bl4ckscor3 commented on #1623
Is there any progress on this?

[2017-10-25 22:23] tyler489 commented on #1806
If i remeber right this is because ex2 doesnt call for the blocks correctly. They then get left behind in the quarry dimention and also are put into chests. In adition the quarty picks arandom number and gens chunks around it so that also causes heavy preformance hits.

[2017-10-25 23:39] heyoomimi opened #1820 "Falling Blocks Duplication Bug"
Falling Blocks Duplicating, which includes Sand, Gravel, and Dragon Eggs.
I have recorded a video of the duplication of a Dragon Egg:
https://youtu.be/r1XUXfnVuYU
This is only occurring on a server, not on Single Player.
I noticed that if I break the top most block, then continue breaking the lower blocks, the dupe won't happen. However, if I don't break the top-most block and continue breaking th

[2017-10-26 04:26] bloodmc commented on #1820
Old SpongeForge builds are not supported. Update to latest 1.10.2 build

[2017-10-26 04:26] #1820 closed, assigned to nobody

[2017-10-26 11:07] Raycoms opened #1821 "Sponge not letting us cancel block click events."
**I am currently running...**

- SpongeForge version: Latest 1.10.2
- Forge version:  latest 1.10.2
- Java version: latest java 8
- Operating System:
 - [ X] Linux RedHat

- Plugins/Mods:
AdminShop-1.10.2-1.8.2-universal.jar                EconomyLite-5.0.0-2.9.0.jar  MMCReboot-1.7.1-API-5.1.0.jar                    PlayerShopsRPG-v2.0.1.jar
AdventureMMO-v2.0.7-API5.x.jar                      EMPS

[2017-10-26 15:32] ninja0773 opened #1822 "Advanced Rocketry Data Cable"
**I am currently running...**

SpongeForge version: _spongeforge-1.10.2-2477-5.2.0-BETA-2691
Forge version: forge-1.10.2-12.18.3.2477-universal
Java version: 1.8.0_131
Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
Data cables attach to the satellite terminal and the data should be transmitted
**What is the current result

[2017-10-26 22:02] BrainStone commented on #1818
@simon816 any updates?

[2017-10-28 00:56] Dockter commented on #1809
This issue is not fixed.

[2017-10-29 14:13] Keaton1188 opened #1824 "Silent Gems - Dupe Bug - Sponge Issue"
Hi there, I have noticed a dupe bug with the Chaos Altar, this dupe bug does **NOT** happen on single player so guessing its an issue with sponge.

What you do - Place down the Chaos Alter, put any item in it and break it with a pickaxe, the item that you put in it will double when you break the Altar.

FTB Horizons 3 - Newest Version (1.0.0)

**SpongeForge:**
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SN

[2017-10-30 01:26] #1534 closed, assigned to JBYoshi

[2017-10-30 06:30] Keaton1188 commented on #1810
Any update on that fix?? Also having a very similar issue.. When pressing Q the item doesn't drop it just stays in your inv, this doesn't happen all the time but multiple people have reported it to me. When forcing the item out your inv, so pressing E the. Picking it up and throwing it out it will just delete this item and not drop..1.12.2 this is happening on.

[2017-10-30 08:14] BakermanLP opened #1825 "Bedrock Ores don't drop ores"
Hello,

we want to use spongeforge with bedrockores. When we excavate bedrock ores from the mod, no ores are droping. Without spongeforge this works fine.

**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2476-6.1.0-BETA-2712.jar
- Forge version: forge-1.11.2-13.20.1.2476-universal.jar
- Java version: Oracle Java 1.8.0_144
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fe

[2017-10-30 12:15] fnuecke commented on #1825
Going by the warning in the linked issue

[code]

I'd guess this might be related to [using the default FakePlayer here](https://github.com/MightyPirates/BedrockOres/blob/9e3e0ec34b6d3d471423733dc433984afc0abd42/src/main/java/li/cil/bedrockores/common/tileentity/TileEntityBedrockOre.java#L155)? If that's not how you're supposed to use it, let me know what I need to change, thanks.

(FWIW, I don't

[2017-10-31 05:30] LXGaming commented on #1824
In `config/sponge/global.conf` under `optimizations` set `drops-pre-merge` to `false`.

[2017-10-31 07:32] xAlicatt opened #1826 "Weird client error that says something about sponge when sponge is not even installed"
This may or may not be the appropriate place for this, but I've been trying to figure out why my custom pack profile on Twitch launcher will not load for about an hour now, with no success. This is using the Java launcher.

When I click the play button on the launcher it prints out a blurb of errors and doesn't go anywhere. There are no config files or crash logs, because it doesn't get that far.

[2017-10-31 07:38] phit commented on #1826
looks like some mod is using https://github.com/SpongePowered/Mixin and erroring, either way not related to SpongeForge at all, I can recommend removing mods one by one to figure it out.

[2017-10-31 08:13] xAlicatt commented on #1826
For anyone finding this in the future, the mod appears to be MalisisCore. Will report back if I find more information. Closing this since it's not SpongeForge related.

[2017-10-31 08:13] #1826 closed, assigned to nobody

[2017-10-31 15:35] Keaton1188 commented on #1824
Its already set to false...

[2017-11-01 00:21] #1818 closed, assigned to simon816

[2017-11-01 04:02] phit commented on #1752
can't reproduce with spongeforge-1.12.2-2503-7.0.0-BETA-2716, if you can find out which mod is needed so this doesn't work, please add it to this issue, will make debugging this a lot easier

![2017-11-01_05 02 18](https://user-images.githubusercontent.com/2097483/32259595-da2cd3fc-bec1-11e7-8c97-e73899873888.png)

[2017-11-01 04:05] phit commented on #1668
hastebin is deleted, and can't reproduce this with spongeforge-1.12.2-2503-7.0.0-BETA-2716

[2017-11-01 04:13] phit commented on #1766
can't reproduce with spongeforge-1.11.2-2476-6.1.0-BETA-2715

![2017-11-01_05 13 11](https://user-images.githubusercontent.com/2097483/32259796-655fd73e-bec3-11e7-8db4-2cb212422e32.png)

[2017-11-01 04:23] phit commented on #1815
just to add to this, the mod works fine on our server on 1.12.2

[2017-11-01 04:33] phit commented on #1463
still an issue in 1.12.2, pretty sure shadow said its a forge issue at some point

[2017-11-01 04:45] kashike commented on #1814
https://github.com/SpongePowered/SpongeCommon/commit/01c3ab6a73b456ed44414f3cac290623e3583b67

[2017-11-01 04:45] #1814 closed, assigned to kashike

[2017-11-01 04:46] #1559 closed, assigned to nobody

[2017-11-01 05:07] phit commented on #1821
could you please add a snippet of how you are cancelling the event?

[2017-11-01 05:15] phit commented on #1324
still happens with spongeforge-1.12.2-2503-7.0.0-BETA-2716

Forge's EntityItem#setNoDespawn() is being ignored, see https://github.com/SpongePowered/SpongeForge/issues/1201#issuecomment-325281084

[2017-11-01 05:24] phit commented on #1796
can't reproduce with with spongeforge-1.10.2-2477-5.2.0-BETA-2698 and extrautils2-1.10.2-1.6.4

![2017-11-01_06 24 07](https://user-images.githubusercontent.com/2097483/32261201-49220f9c-becd-11e7-89de-923d0404c583.png)

[2017-11-01 05:38] phit commented on #1824
can't reproduce with spongeforge-1.12.2-2503-7.0.0-BETA-2716, SilentsGems-1.12-2.5.8-238 & SilentLib-1.12-2.2.11-92

placed altar, threw in some wool, broke the altar with diamond pickaxe, tried the same thing with the burner pylon as suggested in [this issue](https://github.com/SilentChaos512/SilentGems/issues/185) and still had no luck reproducing this

[2017-11-01 11:51] ghost commented on #1824
can't reproduce with spongeforge-1.12.2-2503-7.0.0-BETA-2706/SilentLib-1.12-2.2.10-91.jar/SilentsGems-1.12-2.5.6-232.jar on a horizons 3 server

[2017-11-01 12:27] Keaton1188 commented on #1824
I'll test this again when I am home. Will update sponge then see if the issue is still happening, if it is will get a video of it.

[2017-11-01 15:33] ghost opened #1827 "[1.12.2] horizons 3 armour doesnt take damge"
**I am currently running...**

- SpongeForge version:   spongeforge-1.12.2-2503-7.0.0-BETA-2706
- Forge version: forge-1.12.2-14.23.0.2515-universal.jar
- Java version: java8 latest
- Operating System: Cent Os

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:  http://prntscr.com/h4v6w1  list in there <<<<

**What is the expected result?** armour should take d

[2017-11-01 15:34] ghost commented on #1827
https://gist.github.com/baconetworks/b7efb34618fe00d6b96f203e65243a00   <<< full log

[2017-11-01 16:36] ghost commented on #1827
tried it on a horizons 3 server without spongeforge and armour takes damage

test server is an exact copy of above

GlHf

[2017-11-01 18:39] Keaton1188 commented on #1824
Fixed in latest version :)

Closing.

[2017-11-01 18:39] #1824 closed, assigned to nobody

[2017-11-02 16:32] KorDum opened #1828 "[1.11.2] Incorrect work portals"
**I am currently running...**

- SpongeForge version: 1.11.2-2476-6.1.0-BETA-2715
- Forge version: 13.20.1.2476
- Java version: 1.8.0_151-b12
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins:
FlexibleLogin 0.16.2
UltimateCore 3.0.11

**What is the expected result?**
1. Portal to Nether will let players out normally.
2. Teleportation of the play

[2017-11-02 19:05] FoolishBalloon opened #1829 "[1.10.2] Villagers having wrong trades"
For starters, I barely know what SpongeForge is, but my server administrator recommended me to post here. I'm running FTB Beyond 1.11, but the problem has persisted since many versions back, around 6 months I believe.

Basically, all modded villager professions have the wrong trades assigned to them. Vanilla professions such as armorer and librarian all sell their usual stuff, but modded ones such

[2017-11-03 00:15] ryantheleach commented on #1829
This is the minimum of information we will need.

That said, it appears this issue is a duplicate of : https://github.com/SpongePowered/SpongeForge/issues/1562

[2017-11-04 13:18] Faithcaio commented on #1775
Problem not fixed but this should now no longer crash the server with latest.

[2017-11-04 20:10] runescapejon opened #1830 "[1.12.2] Dupe issue with Griefprevention cancel event's"
**I am currently running...**

griefprevention-1.12.1-4.3.0.483.jar
spongeforge-1.12.2-2503-7.0.0-BETA-2725
forge-1.12.2-14.23.0.2515
industrialforegoing-1.12.2-1.5.3-88
LuckPerms v3.4.68
- Operating System: Centos

 - [ X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
https://gyazo.com/72e8c8d29e06d89ebeaa13e266a4a6d0

here is how the Dupe glitch works
you will

[2017-11-04 20:14] phit commented on #1830
report it to the mod author..

https://github.com/Buuz135/Industrial-Foregoing/blob/master/src/main/java/com/buuz135/industrial/tile/world/BlockDestroyerTile.java#L90

[2017-11-04 20:18] runescapejon commented on #1830
alright Thanks

[2017-11-04 23:08] tgstyle commented on #1700
Could this be it?

"Note: Does not currently work with Sponge, because the Forge Explosion events don't get fired with Sponge installed."

I saw it noted on this mod.

https://minecraft.curseforge.com/projects/environmental-creepers

[2017-11-05 02:02] JoeSGT opened #1831 "Not compatible with newer version of forge"
**I am currently running...**

- SpongeForge version: 7.0.0-BETA-2725
- Forge version:  14.23.0.2529
- Java version: java 8
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows
  Not compatible with each other https://pastebin.com/pAEHkgrA
I'll use an older version of forge until this get fix

thanks

[2017-11-05 02:37] Tencao commented on #1831
Would be nice to see this get updated, as mods have started updating to the newer versions due to the recent changes, making sponge incompatible with a few recent mod updates.

[2017-11-05 05:40] gabizou commented on #1831
Fixed by https://github.com/SpongePowered/SpongeForge/commit/d16eb67d4f640625ab28863e545757eabddbf719

[2017-11-05 05:40] #1831 closed, assigned to nobody

[2017-11-05 05:43] gabizou commented on #1830
Closing as it's not a Sponge issue, we throw the events and the mod is not considering that it is cancelled.

[2017-11-05 05:43] #1830 closed, assigned to nobody

[2017-11-05 05:50] gabizou commented on #1827
Can you provide a precise list of instructions on replicating the issue? What items specifically?

[2017-11-05 09:27] heyoomimi commented on #1796
Do you have Grief Prevention installed? I got it to work by disabling Grief Prevention in the dimension -9999 quarry dimension.

[2017-11-05 10:11] mblob opened #1832 "[1.12.2] TinkerConstruct broke after build 2716"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2726
- Forge version: forge-1.12.2-14.23.0.2529
- Java version: 1.8.0_151
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows
- Plugins:  SpongeAPI, SpongeForge, Nucleus
- Mods: Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied Llamagistics, Applied Llama

[2017-11-05 10:21] phit commented on #1832
update Forge (2529) and Sponge (2727) to latest, and try again @Faithcaio just pushed a fix

[2017-11-05 10:48] mblob commented on #1832
Seem to be ok.
Thanks.

[2017-11-05 10:48] #1832 closed, assigned to nobody

[2017-11-05 12:01] phit commented on #1775
solved in https://github.com/SpongePowered/SpongeCommon/commit/f1d4b40ab2319f8bd83bdcb7fa9f3c4d51d0771d

[2017-11-05 12:01] #1775 closed, assigned to Faithcaio

[2017-11-05 14:39] FlashFyreMods opened #1834 "Mesas generate without clay with Biomes O Plenty installed"
When running the latest Biomes O Plenty with the latest Spongeforge, all mesa biomes generate with only stone, and no clay whatsoever.

It is **definitely** Sponge, as mesas generate normally when installing BOP on its own.

**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2698
- Forge version: Forge 1.10.2 12.18.3.2477 (But has been replicated on an older ve

[2017-11-05 16:47] Keaton1188 commented on #1796
No, we are using Nations.

Also using the latest version of sponge and still having the issue.

Resetting the Quarry DIM now to see if that helps

[2017-11-05 21:36] heyoomimi commented on #1796
Try to disable it in that dimension if possible.

[2017-11-06 03:34] JoeSGT commented on #1816
Having the same issue on 1.12.2
Sponge - 7.0.0-BETA-2729
Forge - 14.23.0.2529
Advanced Rocketry - 1.12.2-1.2.5a
LibVulpes - 0.2.6

[2017-11-06 03:46] Tkdmaster opened #1835 "OpenTerrainGenerator Incompatibility"
Forge Version: forge-1.12.2-14.23.0.2529-universal
SpongeForge Version: spongeforge-1.12.2-2529-7.0.0-BETA-2729
Hosting: localhost
OS: Windows
- Plugins/Mods: Modern Skyblock 2 mods + Open Terrain Generator

**What is the expected result?**
Server should start

**What is the current result?**
Server crashes with log

https://pastebin.com/MLmmit4y

[2017-11-06 19:52] phit commented on #1766
Closing this for now. If this is still an issue for you, please let us know and provide relevant new info e.g. which mods are required to reproduce this.

[2017-11-06 19:52] #1766 closed, assigned to nobody

[2017-11-06 19:55] phit commented on #1752
Closing this for now. If this is still an issue for you, please let us know and provide relevant new info e.g. which mods are required to reproduce this.

[2017-11-06 19:55] #1752 closed, assigned to nobody

[2017-11-06 19:57] #1642 closed, assigned to gabizou

[2017-11-06 20:00] phit commented on #1529
Old issue and since no one else has reported this, I'm closing this. If you run into this again, feel free to reply here or open a new issue.

[2017-11-06 20:00] #1529 closed, assigned to nobody

[2017-11-06 20:02] phit commented on #1028
Pretty sure this was fixed on Psi's end at some point, let me know if it's still an issue and I'll reopen this.

[2017-11-06 20:02] #1028 closed, assigned to nobody

[2017-11-06 20:05] phit commented on #1103
@ProsperCraft is this still something that happens?

[2017-11-06 20:07] #1755 closed, assigned to nobody

[2017-11-06 20:08] phit commented on #1741
Solved a while ago see #1740

[2017-11-06 20:08] #1741 closed, assigned to nobody

[2017-11-06 20:09] ProsperCraft commented on #1103
Not sure, we are not running a Sponge server right now, all Thermos and forge only for the newer stuff.

[2017-11-06 20:11] phit commented on #1372
Dupe of #941 & #1342 which was fixed.

[2017-11-06 20:11] #1372 closed, assigned to nobody

[2017-11-06 20:14] phit commented on #1103
Closing this for now then, let me know if you see this again and I will reopen this issue.

[2017-11-06 20:14] #1103 closed, assigned to nobody

[2017-11-06 20:17] phit commented on #1806
Closing this as it is a mod issue, see https://github.com/rwtema/extrautilities/issues/1224

[2017-11-06 20:17] #1806 closed, assigned to nobody

[2017-11-06 20:18] phit commented on #1769
No reply in about 2 months, closing this for now. Please reply with the information you have been asked for and I will reopen this issue.

[2017-11-06 20:18] #1769 closed, assigned to nobody

[2017-11-06 20:19] phit commented on #1756
Duplicate of #1654

[2017-11-06 20:19] #1756 closed, assigned to nobody

[2017-11-06 20:21] phit commented on #1100
Closing this for now, as this issue is almost a year old and there were no new reports. See also #1103

[2017-11-06 20:21] #1100 closed, assigned to nobody

[2017-11-06 20:24] phit commented on #1767
Did newer AoE or Sponge versions resolve this for you or is this still an issue?

[2017-11-06 20:29] phit commented on #1796
@Keaton1188 sounds like Nations could be blocking the block breaking, check if there's a way to disable its protection for the Quarry Dimension.

[2017-11-06 20:31] phit commented on #1829
Duplicate of #1562

[2017-11-06 20:31] #1829 closed, assigned to nobody

[2017-11-06 20:34] phit commented on #1828
I have seen this myself in 1.10 and 1.11, but still haven't found a way to reproduce it consistently.

[2017-11-06 20:37] phit commented on #568
Closing this in favor of https://github.com/SpongePowered/SpongeCommon/issues/1165

[2017-11-06 20:37] #568 closed

[2017-11-06 20:42] phit commented on #1420
@Rubbertjuh Does this not happen when Sponge is not installed?

[2017-11-06 20:57] phit commented on #1465
@DrakeEldridge still an issue?

[2017-11-06 21:35] phit commented on #1601
@FiveEYZ @1434967947 is this still an issue with latest Blood Magic and Sponge?

[2017-11-06 21:40] phit commented on #1459
fixed in https://github.com/SpongePowered/SpongeCommon/commit/f6c23f5ce7ef494a44589471928cfbfe1da4fd23

[2017-11-06 21:40] #1459 closed, assigned to Faithcaio

[2017-11-06 22:12] phit commented on #1274
No reply, closing this for now. Please reply with the information you have been asked for and I will reopen this issue.

[2017-11-06 22:12] #1274 closed, assigned to nobody

[2017-11-06 22:14] phit commented on #1332
No reply, closing this for now. Please reply with the information you have been asked for and I will reopen this issue.

[2017-11-06 22:14] #1332 closed, assigned to nobody

[2017-11-06 22:18] phit commented on #1616
Duplicate of #1588

[2017-11-06 22:18] #1616 closed, assigned to Aaron1011

[2017-11-06 22:19] phit commented on #1588
@Aaron1011 assigned you because I closed the duplicate issue for this

here's the log from the other issue https://gist.github.com/phit/2f2c8e913692a4d0e5aea5a9a5338746

see also https://github.com/SpongePowered/SpongeForge/issues/1783 & https://github.com/SpongePowered/SpongeVanilla/issues/307

[2017-11-06 22:21] phit commented on #1783
Duplicate of #1588

[2017-11-06 22:21] #1783 closed, assigned to nobody

[2017-11-06 22:31] phit commented on #1596
@merjilin still an issue with latest stable rtg release?

[2017-11-07 00:35] Keaton1188 opened #1836 "Cyclic Scepter - Dupe Bug"
Hi all, having a issue with the Cyclic Building Scepter.. (Sponge Dupe Bug)

**How to reproduce this:
Get a Cyclic Building Scepter, in the bottom left you'll see arrows etc, make sure its on the chest, right click, put any item in the purple square, hold shift and use the scroll wheel to set it on the square (Place block - normal) then just right click and it will keep placing the item.

This doe

[2017-11-07 04:35] DrakeEldridge commented on #1465
I do not know. I do not use Thuttech anymore (Use another elevator mod) and I have not tested Valkyrien Warfare is now 1.11.2 not 1.10.2 and I have yet to test it. Will test it when I have a working VW set up.

[2017-11-07 06:33] yuanjie000 commented on #1767
still have this problem
spongeforge-1.10.2-2477-5.2.0-BETA-2698

[2017-11-07 06:45] KorDum commented on #1828
Yes, I can't too. I can't even write the steps.

[2017-11-07 07:25] phit commented on #1836
see https://github.com/PrinceOfAmber/Cyclic/issues/549

[2017-11-07 07:30] phit commented on #1668
Closing this for now. If this is still an issue for you, please let us know and provide relevant new info e.g. which mods are required to reproduce this.

[2017-11-07 07:30] #1668 closed, assigned to nobody

[2017-11-07 08:25] Inf3rnado commented on #1834
Current server:
Java: Java 8
OS: CentOS 7

[2017-11-07 09:13] tryolivier opened #1837 "NoSuchElementException on PhaseStack.pop"
hello

I give you a crash report with the last version :
https://paste.md-5.net/nidusanucu.avrasm
https://paste.md-5.net/rugadebequ.vhdl

the server crash a lot with alrays that

thanks

[2017-11-07 09:48] phit commented on #1837
Can you please add a way to reproduce this, what are you doing when this happens?

[2017-11-07 10:14] phit commented on #1093
briefly looked over the vanilla source and also couldn't find any confirmation that they despawn in vanilla, so considering this a feature request

[2017-11-07 10:27] phit commented on #1278
Closing this in favor of https://github.com/SpongePowered/SpongeCommon/issues/1397

[2017-11-07 10:27] #1278 closed, assigned to nobody

[2017-11-07 10:49] tryolivier commented on #1837
i found the solution sorry :)

i forgot to update creativecore

done so it works

thanks

[2017-11-07 10:52] phit commented on #1366
still an issue with `spongeforge-1.10.2-2477-5.2.0-BETA-2698` & `BloodMagic-1.10.2-2.1.11-80`

repro:

* grab a tartaric gem with at least 1000 will from the creative menu
* drop a sentient sword

it will stay in your inventory, when you kill what it spawns you get a second sword

relevant sources
<https://github.com/WayofTime/BloodMagic/blob/305e001b1589737405a794b76a80d0db10bd8799/src/main/java/

[2017-11-07 10:57] phit commented on #1837
cool, closing this then!

[2017-11-07 10:57] #1837 closed, assigned to nobody

[2017-11-07 11:07] phit commented on #1625
@pie-flavor is this still an issue? then please add some more information like versions this applies to

[2017-11-07 11:09] phit commented on #1571
possibly related to https://github.com/SpongePowered/SpongeForge/issues/1643

[2017-11-07 11:10] phit commented on #1669
was probably fixed with https://github.com/SpongePowered/SpongeCommon/pull/1471, please let me know if this still occurs and I will reopen this issue!

[2017-11-07 11:10] #1669 closed, assigned to nobody

[2017-11-07 11:14] phit commented on #1679
@codeHusky can you add some more info please as to what API version this is for and update the hastebin link, as the error log is offline

[2017-11-07 11:22] phit opened #1838 "Command blocks desync after switching dimension"
- SpongeForge version: 1.10.2-2698 & 1.11.2-2484 & 1.12.2-2729
- Plugins/Mods: none

**What is the expected result?**
switch dimension through a nether portal and be able to place a commandblock and access it, without relogging or "opping yourself again"

**What is the current result?**

originally reported by @Eldwen here https://github.com/SpongePowered/SpongeForge/issues/1684
just tested this a

[2017-11-07 11:23] phit commented on #1684
I have edited your post to make this about only one issue and opened a new issue here https://github.com/SpongePowered/SpongeForge/issues/1838, for the command block desync

[2017-11-07 11:38] phit commented on #1578
confirmed with 7.0.0-BETA-2729 and FTBUtilities-4.2.2, FTBLib-4.2.3

[2017-11-07 12:35] phit commented on #1701
Duplicate of #1687

[2017-11-07 12:35] #1701 closed, assigned to nobody

[2017-11-07 15:25] phit commented on #1121
Closing this in favor of https://github.com/SpongePowered/SpongeCommon/issues/1511

[2017-11-07 15:25] #1121 closed, assigned to nobody

[2017-11-07 18:54] JoeSGT opened #1840 "[1.12.2] Open Computer issue with SpongeForge"
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2729
- Forge version: 1.12.2-14.23.0.2529
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
when you have opencomputer mod loaded in the server with spongeforge
it will give you this error
https://pastebin.com/wAXDrwha
it seem this error don't not show up when i

[2017-11-07 21:08] tgstyle commented on #1643
I could get it to work with everything but Natura.
https://github.com/progwml6/Natura/issues/385

[2017-11-07 23:35] ToastyNikk opened #1841 "SpongeForge vs Galacticraft"
The server crashed due to a memory leak, but when we attempted to restart it, it kept crashing due to an issue where Galacticraft tried to load before sponge. Sponge obvs did not like that so it spanked it and crashed the server. This problem was fixed by disabling sponge and all the plugins and restarting the server and then stopping it properly. We re-enabled sponge and most plugins and it loade

[2017-11-08 21:11] #1596 closed, assigned to Deamon5550

[2017-11-08 22:34] Keaton1188 commented on #1796
Its already disabled in that Dimension.

[2017-11-09 04:08] ghost opened #1842 "Sponge Ignoring Global.conf by default"
Appears that by default the global.conf is not working, for some reason it started working as it should after I changed:

# This setting does nothing in the global config. In dimension/world configs, it allows the config to override config(s) that it inherits from
    config-enabled=false

to

# This setting does nothing in the global config. In dimension/world configs, it allows the config to ove

[2017-11-09 09:35] phit commented on #1842
I think you are misunderstanding the configuration, global.conf will always be overridden by more specific configs be it for specific worlds or dimension types if they are enabled. And of course "subfolders" will be regenerated if you delete them at each startup, that's intentional.

Could you please elaborate what config option you set, in which file and what exactly didn't work?

[2017-11-10 01:16] ghost commented on #1842
Doing any changes the the configs in the subfolders makes them regenerate. All I did was change the dims from loading on start to false and it always reverts to true.

[2017-11-10 02:42] rob5251 commented on #1643
Has anyone found a temporary fix for this?
I did a bunch of config file digging, but found nothing notable.

[2017-11-10 02:47] Tkdmaster commented on #1835
Issue still persists as of version 2730 of Spongeforge

[2017-11-10 02:56] tgstyle commented on #1643
Place a spawner in the nether and click a Wither Skeleton spawn egg on it.

[2017-11-10 09:59] phit opened #1843 "Forestry Centrifuge ClassCastException"
**I am currently running...**
- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2730
- Plugins/Mods: forestry_1.12.2-5.7.0.210

full log is 450mb of this https://gist.github.com/phit/8318f6c3c13a5e0f2def5bd1850568b2

https://github.com/ForestryMC/ForestryMC/blob/mc-1.12/src/main/java/forestry/factory/tiles/TileCentrifuge.java#L49

[2017-11-10 11:26] ryantheleach commented on #1842
It might not have been able to parse them, or you may have unintentionally renamed them if you got the file extension incorrect.

@Astralick are you able to verify the files on http://www.hoconlint.com/ and see if they validate, before saving and seeing if they regenerate?

[2017-11-10 11:39] phit commented on #1827
User deleted their account and can't reproduce this with spongeforge-1.12.2-2529-7.0.0-BETA-2730 and Horizons 1.1.0, closed.

[2017-11-10 11:39] #1827 closed, assigned to nobody

[2017-11-10 11:55] phit commented on #1841
@ToastyNikk Can you please report this to Galacticraft, the dev has been pretty helpful and uses Sponge himself to test.

[2017-11-10 12:28] phit commented on #1835
not a Sponge issue, looks like the mod is incompatible with Twilight Forest https://github.com/PG85/OpenTerrainGenerator/issues/76

[2017-11-10 12:28] #1835 closed, assigned to nobody

[2017-11-10 19:08] HeberonYT opened #1844 "Spam in console [1.10.2]"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2698.jar
- Forge version: 12.18.3.2422
- Java version: 1.8.0_151
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
**Modpack Sky Factory 3 (3.0.15)**
Plugins (180): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Not Enough Items, OpenComputers (Core), SpongeA

[2017-11-10 19:11] phit commented on #1844
Please update Forge to newer than 12.18.3.2488 or newer and see if it still happens.

[2017-11-10 20:09] ghost commented on #1842
Hello, better explanation of the issue. Everything is correct with the configs/file names.

There is Advanced Rocketry + Galaticraft and extra planets, together these add around 100 dimensions and by default Sponge was loading the spawn for every single dimension causing the server instance to freeze from too much being loaded and eventually crash, isn't a server issue as it has a 5ghz i7 7700k +

[2017-11-10 20:15] phit commented on #1842
you have to enable the configs for them to not regenerate by setting `config-enabled=true` in each config you change

[2017-11-10 20:42] ghost commented on #1842
Thank you that was the issue.

[2017-11-10 20:42] #1842 closed, assigned to nobody

[2017-11-10 22:30] Whazaaaaa opened #1845 "Exception during phase body (console spam)"
**I am currently running...**
- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2730
- Forge version: 14.23.0.2532
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods:
Modpack: AllTheMods3 (4.5)
Plugins: Betterchunkloader,Discordbridge,griefprevention,luckperms,nucleus,projectcore,seriousvote,rankup,stackban,totaleconomy,worldedit

[2017-11-11 08:45] Jager67 opened #1846 "Simple Life 2 Ore Gen issue"
**I am currently running.. a Simple Life 2 server.**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2731
- Forge version: 1.10.2 forge 12.18.3.2511
- Java version: jre1.8.0_151
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
MagiBridge-2.4.1-all
UltimateCore
CatClearLag-0.8
LuckPerms-Sponge-4.0.6
**What is the expected result?**
Server b

[2017-11-11 22:09] phit commented on #1828
just had this happen on our 1.12 server with 7.0.0-BETA-2730

[2017-11-11 23:07] Brend-Smits commented on #1828
Can confirm as well - No way to reproduce either... 1.10.2-2281-5.2.0-BETA-2597

[2017-11-12 04:10] dariusc93 commented on #1836
Oddly enough this can be reproduce in single player. Unsure how this is related to sponge.

[2017-11-12 14:16] Keaton1188 commented on #1836
I was unable to reproduce this in SP, I'll test again.

[2017-11-12 15:03] Tencao opened #1848 "[1.12.2] Tile data not saving properly"
**I am currently running...**
- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2730
- Forge version: 14.23.0.2529
- Java version: 8
- Operating System: Windows 10
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows
- Plugins/Mods:
Plugins (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BungeeTabListPlus-SpongeBridge, LuckPerms, Nations, Nucleus, Prism, ProjectCore fo

[2017-11-12 15:10] Tencao commented on #1848
Can you please let me know what more information is needed, as I'd be happy to provide whats needed to resolve this issue.

[2017-11-12 15:12] phit commented on #1848
sorry! basically figure out what mods are needed to reproduce this, the modlist is way too long to realistically test this for us

[2017-11-12 15:19] phit commented on #1821
can't reproduce and no reply, closed.

[2017-11-12 15:19] #1821 closed, assigned to nobody

[2017-11-12 16:32] phit commented on #1836
The reason this happens is because Sponge overrides `WorldServer#markChunkDirty` to use the tile it has been passed, while the Vanilla method never uses the tile. Cyclic is passing null as tile to `markChunkDirty`, usually this would just throw an NPE and not cause any major issues.

The problem is Cyclic's code to place blocks is in the same try catch, as the markChunklDirty call and they are ass

[2017-11-12 16:59] Tencao commented on #1848
I do know this wasn't an issue until recently, so I'm going to try downgrading sponge version to see if I can find a version that this issue started on.

[2017-11-12 17:12] ryantheleach commented on #1836
I accidentally made it in SpongeVanilla because I was a little rushed, but I think this would resolve it?

https://gist.github.com/ryantheleach/f5c5ede5d3f2401784cdff5472defded

[2017-11-12 20:16] oliveryasuna opened #1849 "Server crashes after server incorrectly shut down."
I lost power to my computer so the server did not shut down correctly. Ever since the server wont start up correctly. See the crashlog at the bottom.

Thank you.

**I am currently running...**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2698
- Forge version: 1.10.2-12.18.3.2185
- Java version: 1.8.0_151
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
-

[2017-11-12 20:21] phit commented on #1849
Roll back to a world backup, if you don't have one try deleting the level_sponge.dat in the world folder.

Regardless this is not a bug, and stuff like that can happen when you don't shut down a server properly, so I'm closing this.

If you're still having issues, feel free to reach out in our [support channels](https://discord.gg/PtaGRAs) or [forums](https://forums.spongepowered.org/)!

[2017-11-12 20:21] #1849 closed, assigned to nobody

[2017-11-12 20:46] Keaton1188 commented on #1845
Maybe similar to this - https://github.com/SpongePowered/SpongeForge/issues/1773

Also have the same issues you are having on our Horizons 3 server.

[2017-11-12 21:06] Keaton1188 opened #1850 "Cyclic Block Placer - Dupe Bug"
Hi all, we are having a issue with the Block Placer from Cyclic.
With this item you are able to duplicate any block.

***How to reproduce: All you have to do is place a block placer down (On a sponge server) and set it to "Always on". Place any block inside it, it will place this block then you use a pickaxe to destroy it then it will replace the block again etc etc.

This does not happen on singl

[2017-11-12 21:11] phit commented on #1850
I'm gonna close this, it has the same cause as the Scepter dupe. For more info I posted a summary in its issue https://github.com/SpongePowered/SpongeForge/issues/1836

[2017-11-12 21:11] #1850 closed, assigned to nobody

[2017-11-12 22:04] Tencao commented on #1848
https://paste.ee/r/oDsT3
I'm seeing a lot of stuff like this, if this helps.

[2017-11-13 00:17] rob5251 opened #1851 "ClassCastException in createSpongeBlockSnapshot"
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2730
- Forge version: 14.23.0.2529
- Java version: Version 8 Update 151 (build 1.8.0_151-b12)
- Operating System:

 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**Plugins/Mods:**
_Plugins:_
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Enjin Minecraft Plugin, GriefPrevention, LuckPerms

[2017-11-13 00:27] CrankySupertoonArchive opened #1852 "ClassCastException WeakReference cannot be cast to org.spongepowered.api.world.World"
**I am currently running...**

- SpongeForge version: 270 1.12
- Forge version: 2731
- Java version: 1.8
- Operating System: Some kind of Linux that the host uses

 - [x ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
-------------
Rank Upper 5.0-6.0-3.0.1-b207
React-1.2.4
EMPSponge7
MMCReboot 2.1.1
Boop 1.6.0
Nucleus 1.2.0 PR2 S7.0
Luckperms-Sponge-3.4.39
Active

[2017-11-13 00:29] phit commented on #1852
@gabizou I believe this is related to https://github.com/SpongePowered/SpongeForge/commit/d16eb67d4f640625ab28863e545757eabddbf719

[2017-11-13 00:31] CrankySupertoonArchive commented on #1852
Also the server does go up but then it crashes a minute or 2 later. Maybe a plugin is registering a invalid something

[2017-11-13 00:33] phit commented on #1852
actually this is a dupe of https://github.com/SpongePowered/SpongeForge/issues/1851
my bad I told @Technobot7 to open an issue

[2017-11-13 00:33] #1852 closed, assigned to nobody

[2017-11-13 00:34] phit commented on #1851
@gabizou side effect of https://github.com/SpongePowered/SpongeForge/commit/d16eb67d4f640625ab28863e545757eabddbf719 ?

[2017-11-13 00:40] phit commented on #1845
pretty much the same as https://github.com/SpongePowered/SpongeForge/issues/1843 but for IC2

[2017-11-13 01:58] #1851 closed, assigned to kashike

[2017-11-13 20:03] phit commented on #1816
try setting `deny-chunk-requests=false` and `keep-spawn-loaded=true` for the space station dimension

[2017-11-13 20:29] JoeSGT commented on #1816
can't move in the space station but it fixes creating one
in the console it said this
`moved too quickly!`
i cannot move anywhere in the space station
and if i remove sponge i can create and move in my space station

[2017-11-13 20:42] phit commented on #1816
To quote the comment for this config:
[code]

Closing this, as this is not really a bug but a side effect of an optimization, which you can disable if you have to.

[2017-11-13 20:42] #1816 closed, assigned to nobody

[2017-11-14 00:09] ryantheleach commented on #1816
To add to this, once https://github.com/SpongePowered/SpongeCommon/pull/1592 is merged you will be able to disable those vanilla checks.

[2017-11-14 03:07] smmmadden commented on #1810
any update on a fix for this?  I'm seeing it in build 2528 and 2538 for 1.12.2.

[2017-11-14 04:48] codeHusky commented on #1679
well that.. sucks. I don't have that stored anywhere, but it was definitely the most recent SV at the time

[2017-11-14 04:53] JoeSGT commented on #1679
If i recall it was something like this https://pastebin.com/we7uhi6p

[2017-11-14 04:54] codeHusky commented on #1679
@JoeSGT Error log, not the code.

[2017-11-14 05:04] JoeSGT commented on #1679
oh  my bad sorry

[2017-11-14 21:17] phit commented on #1588
just got this again with spongeforge-1.12.2-2529-7.0.0-BETA-2730

https://gist.github.com/phit/a649f5f2c7103600e777beea1f01f5e2

[2017-11-14 23:26] Schuldakt commented on #1144
Any chance we could get a compiled version of this, i don't have Gradle or linux?

[2017-11-14 23:28] phit commented on #1144
this was fixed months ago, so it's in all release versions since then!

[2017-11-15 00:06] Schuldakt commented on #1144
well the issue is still occurring on my server

[2017-11-15 00:07] phit commented on #1144
well then feel free to open a new issue with an updated log

[2017-11-15 00:18] Schuldakt opened #1854 "SpongeForge Not working with FTB Beyond"
I'm trying to implement sponge with my FTB server so i can use the voxels sniper plugin, whenever i add sponge to the mods folder it makes it so i can no longer user the ftb commands and the plugin doesn't work.
I am currently running

- SpongeForge version:  1.10.2-2477-5.2.0-BETA-2731
- Forge version: forge-1.10.2-12.18.3.2511-universal.jar
- Java version: 1.8.0_151
- Operating System: Windows 1

[2017-11-15 00:24] phit commented on #1854
I edited the Java version in your post, since you aren't on Java 9.. if you were the server wouldn't even start launching.

[2017-11-15 00:25] Schuldakt commented on #1854
thank you, brain fart, java 8

[2017-11-15 05:23] ryantheleach commented on #1854
My suspicion is that the ftb commands have some form of permission that isn't granted to non op'd players under Sponge.

My advice would be to install luckperms (you will be wanting a perms manager anyway), and do `/lp verbose` to see all permission checks that are happening while attempting to run that command.

[2017-11-15 05:26] ryantheleach commented on #1854
Possibly related: https://github.com/SpongePowered/SpongeForge/issues/1144

[2017-11-15 05:26] Schuldakt commented on #1854
thanks for the response, but voxel sniper still doesn't even work when i'm op'd.

also i commented on that thread and was redirected to make this thread by phit.

[2017-11-15 06:27] ryantheleach commented on #1854
Yes, the related ticket wasn't necessarily a reply to you. The goal of an issue tracker is to track the **issue** as well as forming relationships between issues, in order to aid investigation.

[2017-11-15 23:48] JakePost opened #1855 "[1.12.2] Server crashing frequently and what seems randomly."
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2732
- Forge version: 14.23.0.2529
- Java version: V8.131
- Operating System: Windows Server 2012

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

**Mods:**
Animania
BiblioCraft
Biomes O' Plenty
Chisel
CraftStudios API
Decocraft
FastAsyncWorldEdit
Hats
KleeSlabs
Mantle
Natura
Nethe

[2017-11-15 23:51] phit commented on #1855
Raise [max-tick-time](https://minecraft.gamepedia.com/Server.properties#max-tick-time) in your `server.properties`, the server watchdog is killing the server when the server freezes a bit too long.

The crashlog will just spill out whatever the server was doing in that moment, as this is not a bug I'm closing this.

[2017-11-15 23:51] #1855 closed, assigned to nobody

[2017-11-16 00:26] JakePost commented on #1855
While that prevent the server from shutting down, it just endlessly spams console with https://pastebin.com/7iLJr0LR endlessly and times players out.

[2017-11-16 00:28] phit commented on #1855
please open a new issue for that with a full server log

[2017-11-16 00:33] JakePost opened #1856 "Switching Phase error endlessly being created and freezing server."
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2732
- Forge version: 14.23.0.2529
- Java version: V8.131
- Operating System: Windows Server 2012

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

**Mods:**
Animania
BiblioCraft
Biomes O' Plenty
Chisel
CraftStudios API
Decocraft
FastAsyncWorldEdit
Hats
KleeSlabs
Mantle
Natura
Nethe

[2017-11-16 00:35] phit commented on #1856
dont just copy and paste the old issue... add a full `fml-junk-earlystartup.log` and remove the irrelevant crash report

[2017-11-16 00:36] JakePost commented on #1856
Too large to post, One sec...

[2017-11-16 00:40] phit commented on #1856
use https://gist.github.com

[2017-11-16 00:51] Yorkforce commented on #1643
Still occurring on spongeforge-1.12.2-2529-7.0.0-BETA-2732, were using the Horizons modpack which doesn't have Tinkers in the pack, only BOP.

[2017-11-16 01:00] JakePost commented on #1856
Edited the main post with a link to it.

[2017-11-16 01:04] phit commented on #1856
Thanks! For now set `verbose=false` and `verbose-errors=false` in the `cause-tracker` section of the `configs/sponge/global.conf`. That should reduce the amount of spam in the console.

[2017-11-16 01:13] JakePost commented on #1856
Will that prevent the server from timing out?

[2017-11-16 01:14] phit commented on #1856
this shouldnt cause the server to freeze in the first place it's just logging errors

[2017-11-16 03:04] smmmadden commented on #1855
I couldn't tell from the log provided what you are using for JVM Arguments with Java 8.  There are new arguments in Java 8 that replace some from Java 7.  I'd recommend visiting Oracle's site and see what's changed and what may work for you to stop thread dumps.  I've been managing app servers for a couple decades and it takes that long sometimes to get it right. :-)

Word of caution - throwing mo

[2017-11-16 05:56] Tencao commented on #1848
Done some additional testing and turned out to be a forge bug, sponge just made it more apparent. Since the bug wasn't linked to sponge and is now fixed, I'm closing the issue.

[2017-11-16 05:56] #1848 closed, assigned to nobody

[2017-11-16 08:55] ryantheleach commented on #1571
Do you have any more details that would give any more details?

"Normally, only zombie pigman, blaze, wither-skeleton, magma cube. Other mobs didn't spawn in the fortress. They spawn out of the fortress. They know where is our spawn point."

Do you mean that they spawn very far away from the fortresses?

[2017-11-16 08:55] ryantheleach commented on #1643
@phit I'll take this one.

[2017-11-16 09:08] ryantheleach commented on #1848
@Tencao I'd appreciate a link to the forge ticket if you have it handy.

[2017-11-16 10:07] Tencao commented on #1848
I haven't made one yet as it was mostly discussed via irc, and I haven't been able to pinpoint exactly what but it was either custom chunk loader settings or dormant chunk cache in the forge chunk config

[2017-11-16 11:48] Tencao commented on #1856
I can confirm the same bug or something very similar and it does indeed cause the server to lag to the point of freezing. Sadly the log is so big that simply attempting to copy it into gist causes the browser to crash, so I will copy the repeating error. (The log file is around 150mb+)
https://gist.github.com/Tencao/1658b70c6b4c1f628d9ae8cac3680e93

[2017-11-16 13:21] ryantheleach commented on #1856
@Tencao Was this after a recent upgrade of anything? And do you have a mod list.

[2017-11-16 13:36] Tencao commented on #1856
This is on sponge 1.12.2-2529-7.0.0-BETA-2732
Forge - 14.23.0.2544
Not sure exactly when this bug started, as I was dealing with another bug alongside this, but since that one has been fixed, this is the only one left.

Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BungeeTabListPlus-SpongeBridge, LuckPerms, Nations, Nucleus, Prism, ProjectCore for SpongeAPI 7.x, ProjectPor

[2017-11-16 13:41] phit commented on #1856
These are the mods that overlap between you and OP

Animania
BiblioCraft
Biomes O' Plenty
Chisel
CraftStudios API
KleeSlabs
Mantle
Natura
NetherPortalFix

[2017-11-16 14:12] Tencao commented on #1856
Just got this crash, not sure if it's related or a different issue.
https://paste.ee/r/DWKJz

[2017-11-16 14:15] ryantheleach commented on #1856
@Tencao Can you try with FoamFix Lawful, also I don't think that crash is related. Lets keep that on a separate ticket if you can show that's Sponge related, but I don't see Sponge featuring significantly in that stack trace.

[2017-11-16 14:18] Tencao commented on #1856
For now I'll put that to a side until I can find a way to reproduce it. Going to switch to foamfix lawful and report back, do you want me to try with verbose on?

[2017-11-16 14:30] ryantheleach commented on #1643
Tested in a Sponge Single Player Production environment, No Mods:

SpongeForge
    Minecraft: 1.12.2
    SpongeAPI: 7.0.0-SNAPSHOT-14f459d
    SpongeForge: 1.12.2-2529-7.0.0-BETA-2732
    Minecraft Forge: 14.23.0.2537

Wither Skeletons generated on fortresses, and seemed to be spawning in fortresses.

I tried your trick with the spawner, and was able to get skeletons and wither skeletons to spawn.

[2017-11-16 14:41] ryantheleach commented on #1643
Testing using natura-1.12-4.3.0.23.jar , Mantle-1.12-1.3.1.21.jar

I was able to spawn skeletons and wither skeletons using a mob spawner in the nether.

However, I was unable to /locate a Fortress....

Searching manually.

Edit: Locate worked. must have just taken a tiny bit.

Wither Skeletons are at least generating... Not sure about spawning.

[2017-11-16 14:59] liach commented on #1848
Is this related to MinecraftForge/MinecraftForge#3325?

[2017-11-16 14:59] Tencao commented on #1848
Yeah that sounds a lot like the issue I was having actually

[2017-11-16 15:00] phit commented on #1848
your forge version shouldn't be affected by this though :/

[2017-11-16 15:01] Tencao commented on #1848
Shouldn't but that's the issue I was having

[2017-11-16 15:17] ryantheleach opened #1857 "[1.12-Dev SP/MP] Bad Causes on Mob Spawn Events"
Testing in a development single player lan environment & server, spawned mobs do not appear to have sane causes.

Version: https://github.com/SpongePowered/SpongeForge/commit/0dd748c0ee814678626f42750d52d83af6783a49

Mods: natura-1.12-4.3.0.23.jar, Mantle-1.12-1.3.1.21.jar
[code]

[code]

[2017-11-16 16:10] ryantheleach commented on #1857
This PR should fix this: https://github.com/SpongePowered/SpongeCommon/pull/1549/files

[2017-11-16 16:11] ryantheleach commented on #1857
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1530

[2017-11-16 16:11] #1857 closed, assigned to nobody

[2017-11-16 21:55] Tencao commented on #1856
Just to report, so far things have been smooth, but this has been with verbose off, I have no idea if the errors are still there and repeating.

[2017-11-17 00:21] phit commented on #1465
I wasn't able to reproduce the elevator issues with Sponge 1.12.2-2529-7.0.0-BETA-2732 and thuttech-6.0.7, haven't tested VW yet.

[2017-11-17 01:11] Keaton1188 opened #1859 "Living Drops Events is fired twice was (Gravestone issue - possibly sponge related)"
Minecraft version: 1.12.2

GaveStone Version; gravestone-1.10.0.jar

SpongeForge:
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-14f459d
SpongeForge: 1.12.2-2529-7.0.0-BETA-2730
Minecraft Forge: 14.23.0.2528

Issue we are having is; when players break their graves sometimes the items do not drop, nothing just comes out.

Not sure if sponge related or mod related so reported to both.

See: https://git

[2017-11-17 01:13] phit commented on #1859
Update Sponge to latest, and if possible test this without Sponge.

[2017-11-17 03:37] ryantheleach commented on #1843
`public class TileCentrifuge extends TilePowered implements ISocketable, ISidedInventory, IItemStackDisplay {`

`public abstract class TilePowered extends TileBase implements IRenderableTile, ISpeedUpgradable, IStreamableGui {`

`public abstract class TileBase extends TileForestry {`

`public abstract class TileForestry extends TileEntity implements IStreamable, IErrorLogicSource, ISidedInventory,

[2017-11-17 17:53] #1836 closed, assigned to nobody

[2017-11-17 19:09] #1843 closed, assigned to Faithcaio

[2017-11-17 19:15] #1845 closed, assigned to nobody

[2017-11-17 20:14] phit commented on #1859
confirmed `LivingDropsEvent` is being fired twice by Sponge

first with [items](https://i.imgur.com/XazT0cF.png), then [without](https://i.imgur.com/rxC9cqJ.png)

[2017-11-17 21:09] gabizou commented on #1859
I see what's happening. Because Sponge does a sanity check for compatibility with Forge (where forge always fires an event, even if there are no drops), and then immediately after, sponge will throw an event with the drop. I'll have this fixed in a bit.

[2017-11-18 08:55] Yorkforce commented on #1643
To confirm, if placing a spawner then changing it to a wither skeleton spawner via a spawn egg the skeletons do spawn from those, they do not spawn naturally however, neither do blazes naturally spawn. (the blaze spawners do spawn though so it's not as bigger an issue as the wither skeletons).

Server currently has: (Horizons 3 v1.1.0)
spongeforge-1.12.2-2529-7.0.0-BETA-2732
BiomesOPlenty-1.12.2-7

[2017-11-18 11:38] Raycoms opened #1860 "Players not respawning if they didn't sleep yet."
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2503-7.0.0-BETA-2706.jar
- Forge version: forge-1.12.2-14.23.0.2515
- Java version: 1.8
- Operating System:

 - [X ] Linux ( Fedora)

- Plugins/Mods:

**What is the expected result?**
Players respawn normally
**What is the current result?**
Players don't respawn when they die, if they haven't sleeped yet to set a spawmpoint.

[2017-11-18 16:15] phit commented on #1860
Find out what on your huge plugin/mod list is causing it, this is impossible to test for us. Also update Sponge and Forge, outdated versions won't get any support.

[2017-11-18 16:31] Whazaaaaa opened #1861 "VoidIslandControl and Sponge not working together."
Hello,

I'm currently running a Modern SkyBlock2 server and whenever people go to the nether it seems something breaks. And they are unable to use /warp or /home (I know thats nucleus) because something breaks on the player itself.

So when the person goes back through the nether portal, the player disconnect with an "Internal server error" and once they reconnect they can use the portal again but

[2017-11-18 16:33] Raycoms commented on #1860
Found it

Not sure if it is your or his fault:

https://github.com/TheIllusiveC4/Comforts/issues/4

[2017-11-18 16:35] phit commented on #1860
can you add your actual log to this issue and please not as a screenshot, use https://gist.github.com

[2017-11-18 16:40] Raycoms commented on #1860
As a Gist: https://gist.github.com/Raycoms/d005939a1edeb22e1b416efed3e851c7

[2017-11-18 20:38] ryantheleach commented on #1860
@Raycoms this should have been fixed externally by comforts, but there may still be issues we need to investigate.

[2017-11-18 20:39] ryantheleach commented on #1834
I'm going to check this out on Sponge 1.12 What seed did you use?

[2017-11-18 20:43] ryantheleach commented on #1643
I've tested this with Natura and with BOP was not able to replicate.

Blazes and wither skeletons were both spawning using BiomesOPlenty-1.12.2-7.0.1.2302-universal.jar and a custom build of SpongeForge that has a few fixes that should be unrelated to this bug.

Can you test using ONLY SF, BiomesOPlenty, in both single player and multiplayer? I've spent several hours at this point chasing a bug th

[2017-11-18 20:45] Keaton1188 commented on #1859
Sounds good, thx

[2017-11-18 20:49] Raycoms commented on #1860
Thanks a lot for the support. Will try it out later today.

[2017-11-18 20:53] ryantheleach commented on #1643
Using selectors I found was extremely helpful.

 e.g. `/kill @e[type=wither_skeleton]` `/say @e[type=wither_skeleton]` `/tp @e[type=wither_skeleton]`

[2017-11-18 20:53] ryantheleach commented on #1643
![image](https://user-images.githubusercontent.com/141554/32984657-81880f90-ccfa-11e7-9c32-c29a7cba289e.png)

[2017-11-18 21:01] ryantheleach commented on #1643
Locate is working now, with no changes. something odd is happening.

[2017-11-18 21:08] ryantheleach commented on #1834
This is reproducible on 1.12 `/biomesop tpbiome 37`
[07:38:17] [main/INFO]: [CHAT] Teleported Player475 to biome Mesa at (-9486.0, 68.0, 1012.0)
`-3934076723076037690` World Type: Biomes O' Plenty

This only occurs when using the World Type: Biomes O' Plenty, even with BOP installed.

SpongeCommon class `MesaBiomeGenerationPopulator` is never hit when WorldType is BOP, but is when world type is de

[2017-11-18 21:18] mblob opened #1862 "[1.12.2] Rcon is broken"
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2732
- Forge version: 1.12.2-14.23.0.2529
- Java version: 1.8.0_152-b16
- Operating System:

 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied Llamagistics, Applied Llamagistics Core, AutoRegLib, BD Lib, BiblioCraft, B

[2017-11-18 21:20] phit commented on #1862
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1533, will be fixed by https://github.com/SpongePowered/SpongeCommon/pull/1526

[2017-11-18 21:20] #1862 closed, assigned to nobody

[2017-11-18 23:32] ryantheleach commented on #1834
@Deamon5550
It's failing because BoP is still using the SpongeGenerationPopulator, but isn't running BiomeMesa::genTerrainBlocks because we cancel it, as we handle it in our populator. MixinBiomeMesa::genTerrainBlocks is the mixin that cancels it.

Commenting out the cancel makes it work, but I'm not sure what side effects that has as I havn't investigated fully.

[2017-11-19 00:56] Whazaaaaa opened #1864 "Items gone with keepinventory 2736"
When keepInventory is ON, the items in the players inventory dissapear. This didnt happen in 2734.

**I am currently running...**
- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2736
- Forge version: forge-1.12.2-14.23.0.2544-universal
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods:
no plugins no mods

**What is

[2017-11-19 00:56] #1201 closed, assigned to nobody

[2017-11-19 01:14] Keaton1188 commented on #1859
So after updating to the latest version, 3 empty gravestones and 1 full now spawn. (it was 2 empty + 1)

![2017-11-19_01 04 18](https://user-images.githubusercontent.com/24898745/32986295-069d4b52-ccc7-11e7-8662-bb3fdd315c84.png)

[2017-11-19 02:02] phit commented on #1643
Tested with:
SpongeCommon d65d60cceba8be1521415a7664009fa7e4806fb6
SpongeForge d53f36e1dee94514cc4bc6ec7e4fac883dacf3d5 + https://github.com/SpongePowered/SpongeForge/pull/1858
BiomesOPlenty-1.12.2-7.0.1.2309-universal.jar

Server was run through the dev enviroment as dedicated server, client was just a normal MultiMC instance with BoP.

I was in a Corrupted Sands biome with a Fortress, no Wither

[2017-11-19 02:19] Whazaaaaa commented on #1864
Okay im not sure whats going on with inventories. But more people are losing their inventory. And from what I hear its not always because they died (with keepInventory on) So I'll just revert to 2734 untill this is solved.

[2017-11-19 02:21] phit commented on #1864
Most likely caused by https://github.com/SpongePowered/SpongeCommon/commit/211ba4dd20cc2e4858c4fcc83f67f76900d44815

[2017-11-19 02:22] Keaton1188 opened #1865 "MeeCreeps - Sponge issue (dupe)"
Hi all, this issue is a Dupe bug with the Creep Cube.. place it down, set it to "flatten an area" and select 9x9.
It will then go to the nearest block and break it, it breaks the same block over and over again but also drops the item each time.

This does not happen on a Single Player world.

meecreeps-1.12-0.1.3beta.jar
[fml-server-latest.log](https://github.com/SpongePowered/SpongeForge/files/14

[2017-11-19 15:42] phit commented on #1571
Judging by [this comment](https://minecraft.curseforge.com/projects/iyamatos-mod?comment=65) from the mod author the mod is not compatible with Biomes O Plenty in 1.11.2, as for the no Wither Skeleton issue, see https://github.com/SpongePowered/SpongeForge/issues/1643.

Closing this for now, let me know if I misunderstood your report and I will reopen.

[2017-11-19 15:42] #1571 closed, assigned to nobody

[2017-11-19 16:20] JackHNT2 opened #1867 "Opening XNET controller gets you kicked from server"
SpongeForge:
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-14f459d
SpongeForge: 1.12.2-2529-7.0.0-BETA-2730
Minecraft Forge: 14.23.0.2528

When you open the XNET controller you get kicked from the server with a fatal error. Only happens on server with sponge, not in singleplayer.

[2017-11-19 16:23] phit commented on #1867
please add your fml-junk-earlystartup.log, preferably uploaded to http://gist.github.com

[2017-11-19 16:30] JackHNT2 commented on #1867
The thing is it is on a server that i dont have access to the files for. I have a fml-server-latest.log, if that is any help. I could request that file, but it may take a few mins to come through.

[2017-11-19 16:31] phit commented on #1867
get the server owner to report it here, we can't really help without a log

[2017-11-19 16:37] JackHNT2 commented on #1867
Remove this thread, ill get the owner to report it

[2017-11-19 16:37] #1867 closed, assigned to nobody

[2017-11-19 16:54] ryantheleach commented on #1865
@Keaton1188 How is it breaking the same block over and over again? is it in a protected area?

[2017-11-19 19:03] xorinzor opened #1868 "Server crashes while unloading worlds while stopping"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2736
- Forge version: forge-1.12.2-14.23.0.2546-universal
- Java version: 1.8.0_151
- Operating System: CentOS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: All the Mods 3 modpack

**What is the expected result?**
While shutting down it should save the dimensions, the

[2017-11-19 22:44] ryantheleach commented on #1834
When BoP is installed, SpongeForge assumes that the mod will handle it's own generation, so we don't add to it.

![image](https://user-images.githubusercontent.com/141554/32996396-005b9f30-cdd2-11e7-842e-0bbc9a04b17d.png)

However, we have changed the base assumption of where the clay gets populated from `BiomeMesa::genTerrainBlocks` to `MesaBiomeGenerationPopulator` and cancel all calls to `genTe

[2017-11-19 23:11] ryantheleach commented on #1834
Rushed because I needed to get ready for work, but you can see a preliminary fix here with really dirty git history.

https://github.com/RTLSponge/SpongeAPI/tree/MesaFix
https://github.com/RTLSponge/SpongeCommon/commits/fix/issue-1530-DirtySharing

[2017-11-19 23:50] Keaton1188 opened #1869 "XNET Controller - fatal Error"
SpongeForge:
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-cc44fdf0
SpongeForge: 1.12.2-2529-7.0.0-BETA-0
Minecraft Forge: 14.23.0.2528

When you open the XNET controller you get kicked from the server with a fatal error. Only happens on server with sponge, not in singleplayer.

[fml-server-latest.log](https://github.com/SpongePowered/SpongeForge/files/1486108/fml-server-latest.log)

https://gist.gi

[2017-11-19 23:59] Keaton1188 commented on #1865
Not in a protected area, just constantly breaks the nearest block but doesn't "break" it if that makes sense.
It goes to but just drops the block.

Example, place a Creep Cube next to a solar panel, set it to flatten an area then it will constantly break that item.

[2017-11-20 07:08] JoeSGT opened #1870 "Keepinventory bug with SF -2736"
**I am currently running...**

- SpongeForge version: 7.0.0-BETA-2736.
- Forge version: 1.12.2-14.23.0.2549
- Java version: java 8
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
https://gyazo.com/2847484ea987edf10c4322775eef5966

**What is the expected result?**
cleared your inventory once you die if you ran the command `/gamerule keepi

[2017-11-20 12:13] ryantheleach commented on #1864
Duplicate of : https://github.com/SpongePowered/SpongeForge/issues/1870

[2017-11-20 12:17] ryantheleach commented on #1859
This needs to be reverted or fixed, stat. Other bugs this causes are way more annoying.

[2017-11-20 12:22] ryantheleach commented on #1870
Duplicate of: https://github.com/SpongePowered/SpongeForge/issues/1864

[2017-11-20 12:24] ryantheleach commented on #1861
https://github.com/Bartz24/VoidIslandControl/blob/master/src/main/java/com/bartz24/voidislandcontrol/EventHandler.java#L273

[2017-11-20 13:01] JoeSGT commented on #1870
oop's sorry i didn't know I'll close this issue

[2017-11-20 13:01] #1870 closed, assigned to nobody

[2017-11-20 14:14] xorinzor commented on #1859
I had the same thing happen as Keaton1188 on 1.12.2-2529-7.0.0-BETA-2736

[2017-11-20 16:03] phit commented on #1869
relevant stacktraces https://gist.github.com/phit/7ec3b1666c3dd1cb9e1f897e39d77eb0
doesn't look like a Sponge issue to me, but I'll let someone else decide

[2017-11-20 16:58] gabizou commented on #1869
Did you try without sponge on the server?

[2017-11-20 19:35] Deamon5550 commented on #1834
That is not the correct fix, the simple fix should be to make the cancellation of that method conditional on the generation for that world not being mod overriden. Adding a populator while assuming that a mod is handling it will break the generation if a mod is say replacing the mesa generation with their own handling.

[2017-11-20 20:31] FlashFyreMods commented on #1834
Is it looking promising? Obviously my server would suck if all mesas were like this, and I can't delay the release forever, yknow, i'd like to get things done asap, but i'm an impatient person, so try things at your own pace lol. I plan to backup the map when it's finished, so if a fix arrives after release for whatever reason I can just revert the world. Obviously I know that the parts of mesas w

[2017-11-20 21:01] phit commented on #1864
Solved in https://github.com/SpongePowered/SpongeCommon/commit/27e245433a9939c6d1ea930c7049b1a3d5961176

[2017-11-20 21:01] #1864 closed, assigned to nobody

[2017-11-20 23:46] phit commented on #1844
No reply, closed.

[2017-11-20 23:46] #1844 closed, assigned to nobody

[2017-11-21 00:11] ryantheleach commented on #1834
@Deamon5550 How do you suggest telling the difference between it being mod generated vs plugin generated? Can I just have an initialization boolean or method that is only set in a different constructor or something?

[2017-11-21 00:13] phit commented on #1170
`sponge config -d minecraft:overworld world.auto-save-interval`

Seems to work fine now (7.0.0-BETA-2739), as this issue is old and doesn't have a version associated I'll close this.

Let me know if you are still having issues and I'll reopen.

[2017-11-21 00:13] #1170 closed, assigned to kashike

[2017-11-21 00:53] phit commented on #1779
Closed like Zidane said, likely not a Sponge bug. If you can't reproduce it with just Forge let me know and I'll reopen.

[2017-11-21 00:53] #1779 closed, assigned to nobody

[2017-11-21 00:55] phit commented on #1786
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1467

[2017-11-21 00:55] #1786 closed, assigned to nobody

[2017-11-21 00:59] phit commented on #1629
@kasdo still an issue? the log is offline

[2017-11-21 01:02] phit commented on #1698
possibly related to https://github.com/SpongePowered/SpongeForge/issues/1615 and https://github.com/SpongePowered/SpongeForge/issues/1564

[2017-11-21 01:07] phit commented on #1822
Mod issue see https://github.com/zmaster587/AdvancedRocketry/issues/850, https://github.com/zmaster587/AdvancedRocketry/issues/883

[2017-11-21 01:07] #1822 closed, assigned to nobody

[2017-11-21 01:10] phit commented on #1711
Most likely not a Sponge issue, if you find a way to reproduce it consistently with just Sponge. Feel free to open a new issue.

[2017-11-21 01:10] #1711 closed, assigned to nobody

[2017-11-21 01:12] phit commented on #1186
Not a Sponge issue, just Sponge's tracking in the log.

[2017-11-21 01:12] #1186 closed, assigned to nobody

[2017-11-21 01:30] phit commented on #1505
Please reopen in SpongeCommon if this is still an issue.

[2017-11-21 01:30] #1505 closed, assigned to nobody

[2017-11-21 01:31] phit commented on #1542
probably related to https://github.com/SpongePowered/SpongeForge/issues/1810

[2017-11-21 01:45] phit commented on #1840
@Mumfrey looks like a mixin issue, mind taking a look?

[2017-11-21 05:18] ryantheleach commented on #1698
If this occurs in a specific biome, I'd suggest going around using `/biomesop tpbiome n` one at a time until you find the biome id that crashes in order to have better reproducible instructions.

e.g.

`/biomesop tpbiome 1`
`/biomesop tpbiome 2`

etc.

Of course, this is going to be much faster with seed and co-ordinates if you have them already, or if you have some manner of predicting which biom

[2017-11-21 05:23] ryantheleach commented on #1615
Copying and pasting mod list to enhance search power of github issues:

[code]

Seemingly caused by : EntityHenLeghorn

[2017-11-21 12:55] Sir-Will opened #1871 "chunk-gc not working properly?"
I have the chunk-gc from sponge with the default settings enabled, this unloads the chunks frequently but something instantly loads those chunks again which causes the chunks to get loaded and unloaded repeatedly.
Disabling this to use the vanilla chunk-gc prevents this issue.

- I have `deny-chunk-requests` enabled so shouldn't sponge prevent those chunks from getting loaded again?
- How is the c

[2017-11-21 22:12] phit commented on #1796
Also can't reproduce with

spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
extrautils2-1.12-1.6.7.jar

Closing, if you find a way to reproduce this feel free to open a new issue, with all the relevant information.

[2017-11-21 22:12] #1796 closed, assigned to nobody

[2017-11-21 22:17] phit commented on #1868
Thank you for your report, to make it easier for us to reproduce this it would be helpful if you can isolate what mods are needed to reproduce this as it doesn't happen with just SpongeForge.

[2017-11-21 22:30] phit commented on #1773
Can't reproduce with

Mantle-1.12-1.3.1.21.jar
natura-1.12-4.3.0.23.jar

Blew up Nitrocreeper in the Nether, no exceptions in the console. As for the second log, no idea how to reproduce as this issue lacks information.

[2017-11-21 22:36] phit commented on #1846
Can't reproduce with

spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
OreSpawn-1.12-3.2.0.95.jar

Set these config options and flew around for a bit
`B:"Replace Vanilla Oregen"=true`
`B:"Flatten Bedrock"=true`

no exceptions in the console and TPS seemed fine.

[2017-11-21 22:48] phit commented on #1700
Doesn't seem to work

spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
creeperheal-1.12-1.3.1.jar

Spawned creeper, let them explode, broken blocks aren't slowly replaced.
relevant sources: https://github.com/PrinceOfAmber/ForgeCreeperHeal/blob/master/src/main/java/fr/eyzox/forgecreeperheal/handler/ExplosionEventHandler.java#L14

[2017-11-21 23:01] ryantheleach commented on #1588
This is due to Sponge making assumptions about something that is possible under Vanilla due to what is probably a bug.

Under some conditions, mobs will spawn with the protection enchantment twice on a single piece of armor.

Moved to SpongeCommon

[2017-11-22 00:10] phit commented on #883
still an issue with spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar

[2017-11-22 00:42] phit commented on #1422
Gonna assume this is fixed for now, flew around for 10min each on the latest Ruins 1.10 and 1.12 with 5.2.0-BETA-2731 and 7.0.0-BETA-2741 respectively, no errors in console or crashing.

[2017-11-22 00:42] #1422 closed, assigned to nobody

[2017-11-22 00:49] phit commented on #1430
still an issue with
extrautils2-1.12-1.6.7.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar

[2017-11-22 03:59] #1643 closed, assigned to nobody

[2017-11-22 09:25] Keaton1188 commented on #1859
@xorinzor Have you been having an issue where when users break the graves sometimes items do not come out of any of them??

[2017-11-22 09:33] xorinzor commented on #1859
@Keaton1188 we haven't been using SpongeForge that long yet. We were just setting up the server and found out about these issues, then discontinued to use SpongeForge until a stable version is reached.
So I'm afraid I cannot answer your question. I will however later today try to provide an answer to another issue (opened by me) so maybe I'll come across it. If so, I'll let you know.

[2017-11-22 12:24] xorinzor commented on #1868
@phit I did what you asked, took me quite a while to accurately pinpoint the cause:

This combination of mods will cause the error:
- spongeforge-1.12.2-2529-7.0.0-BETA-2736
- LibVulpes-1.12.2-0.2.6-11-universal
- AdvancedRocketry-1.12.2-1.2.5a-22
- astralsorcery-1.12.2-1.8.2

As soon as AstralSorcery is combined with AdvancedRocketry it'll generate a lot of dimensions, after  shutting down the se

[2017-11-22 15:33] Whazaaaaa commented on #1861
I dont understand. Am I supposed to do something with that link? Or is it just a reference to look at later? Can I do something about this. The Nether being broken is a real problem on Modern SkyBlock2.

[2017-11-22 17:25] phit commented on #1868
Thanks, that should make finding the source a lot easier!

[2017-11-22 20:22] phit commented on #1265
Tested with **spongeforge-1.12.2-2529-7.0.0-BETA-2741**, seems to not fire at all when Sponge is installed on the server.. works fine with just forge-1.12.2-14.23.0.2529

TestMod: https://gist.github.com/phit/d6b5e66efa744f83ba0f0ca4fee39181 https://phit.link/s/itemtosstest-1.0.jar

[2017-11-22 20:37] phit commented on #1625
moving to SpongeCommon > https://github.com/SpongePowered/SpongeCommon/issues/1609

[2017-11-22 20:37] #1625 closed, assigned to nobody

[2017-11-22 20:51] phit commented on #1434
Can't reproduce on 1.10.2-2477-5.2.0-BETA-2698 or 1.12.2-2529-7.0.0-BETA-2741, middle clicked in survival and creative, empty slots and filled slots and also tried the pickblock feature.

If this is still an issue for you, feel free to reply with more information on how to reproduce it and I'll be happy to reopen this.

[2017-11-22 20:51] #1434 closed, assigned to nobody

[2017-11-22 21:14] phit commented on #1458
confirmed with spongeforge-1.12.2-2529-7.0.0-BETA-2741

cancelled all `ChangeBlockEvent` done by players in Sponge and listened for Forge's `BlockEvent.HarvestDropsEvent`

Event was still fired event though the block wasn't broken.
[code]

mod src: https://gist.github.com/phit/60f7a4c43a03f1a60b14ce9eb999ce98

[2017-11-22 21:21] phit commented on #1029
Closing this, probably not related to Sponge at all and no reproduction.

[2017-11-22 21:21] #1029 closed, assigned to bloodmc

[2017-11-22 21:26] phit commented on #1444
spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
SimpleDimensions-MC1.12-1.3.1.jar

https://gist.github.com/phit/ac0acb4db7aa7e10412ca36ac0e2d53f

[2017-11-22 22:28] phit commented on #1753
Closing this for now. If this is still an issue for you, please let us know and provide relevant new info e.g. which mods are required to reproduce this.

[2017-11-22 22:28] #1753 closed, assigned to Aaron1011

[2017-11-23 00:20] phit commented on #1209
The explosion event looks like a Sponge bug to me it fires `ExplosionEvent.Start` in Forge, but for some reason it never fires `ExplosionEvent.Pre` in Sponge.

Tested with:
Mantle-1.12-1.3.1.21.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
TConstruct-1.12-2.7.4.34.jar

Forge Test:
[code]
Sponge Test:
[code]

![image](https://user-images.githubusercontent.com/2097483/33154936-5dcb3344-cfec-11e7-8

[2017-11-23 00:26] phit commented on #1083
Closing in favor of https://github.com/SpongePowered/SpongeForge/issues/1209, as it had more activity and essentially tracks the same thing. Issues with events related to EFLN.

[2017-11-23 00:26] #1083 closed, assigned to Aaron1011

[2017-11-23 00:49] phit commented on #1757
Totally still crashes if you make two dimensions with a different world generator
full log https://gist.github.com/phit/ec54b8f3ce96796377301c40552fee9e

Tested with spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
mcjtylib-1.12-2.5.0.jar
rftools-1.12-7.14.jar
rftoolsdim-1.12-5.05.jar

[2017-11-23 00:58] phit commented on #1384
still an issue with

spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
mcjtylib-1.12-2.5.0.jar
rftools-1.12-7.14.jar
rftoolsdim-1.12-5.05.jar

[2017-11-23 01:28] Raycoms opened #1872 "Forge + Sponge having issues"
**I am currently running**

- SpongeForge version:  spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
- Forge version: forge-1.12.2-14.23.0.2550-universal.jar (Also happening with 2529)
- Java version: OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: Linux (Redhat)

When generating chunks with BOP and spongeforge occasionally totally corrupted chunks appear.

Huge areas up to

[2017-11-23 01:28] Raycoms commented on #1872
This does not happen without sponge. And unfortunately the log doesn't say anything useful.

[2017-11-23 01:34] ryantheleach commented on #1872
I can't help but notice there are some islands in the bottom right of that 'ocean square', and would have expected multiple reports of this.

This smells like the seed changing or the random number generator being messed up in some form, and you are by chance getting ocean?

This also might be due to a potential theoretical difference between the biome generators between BOP and Sponge+BOP.

Does

[2017-11-23 01:36] Raycoms commented on #1872
Happening in a completely new world.

[2017-11-23 14:16] TRLWeiss opened #1873 "Couldn't pick up drop items when installed Geomastery mod"
- Plugins/Mods:Geomastery
[code]
When I was running spongeforge with gaining any drop item it will appear until i leave the item.
If I just use Original Forge, the problem would go away.
How can I run this mod by using sponge without this problem?

[2017-11-23 18:11] tetsune opened #1874 "LittleMaids not spawning, with or without egg"
**I am currently running**
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2698
- Forge version: forge-1.10.2-12.18.3.2477-universal
- Java version: 1.8 151
- Operating System: Windows 10

**- Plugins/Mods:**
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, CreativeCoreDummy, IvToolkit, SpongeAPI, SpongeForge, ccl-entityhook, Extended Workbench, EBLib, L

[2017-11-23 18:11] phit commented on #1873
We have an issue template for a reason, please add the information we ask for.

Also related to https://github.com/JayAvery/geomastery/issues/56

[2017-11-23 18:17] phit commented on #1874
`Exception attempting to capture or spawn an Entity! ` https://gist.github.com/phit/b4abac66a766fea82a58c6a04d199c27

[2017-11-23 18:23] tetsune commented on #1874
I did notice that was spamming. Is there anything I can do to fix it?

[2017-11-23 18:32] RedNesto commented on #1865
I could not reproduce it with _only_ MeeCreeps and SpongeForge (the same versions as yours).

[2017-11-23 20:58] LemADEC commented on #1846
SimpleLife2 was using OreSpawn-1.10.2-2.0.0.15.jar in 1.3.6 and removed the mod altogether in 1.4.
Are those new configuration options from OreSpawn 3.x?

[2017-11-23 21:01] phit commented on #1846
no idea, I just tested if it is an issue in 1.12 for https://github.com/SpongePowered/SpongeForge/projects/3

[2017-11-23 23:01] Keaton1188 opened #1875 "Server Lag - tileEntityPending"
Hi all, just quick.. we're having some lag issues.. the sponge timings report is showing "tileEntityPending" is causing some lag issues. Not actually sure what this is.. anyone know? :)
(102% TPS Loss)

Sponge Report - https://timings.aikar.co/?id=1cec25020d404732abe5aa1e43af0950

SpongeForge:
Minecraft: 1.12.2
SpongeAPI: 7.0.0-SNAPSHOT-e66ed25
SpongeForge: 1.12.2-2529-7.0.0-BETA-2744
Minecraft Fo

[2017-11-23 23:03] phit commented on #1875
Closed, please use the [forums](https://forums.spongepowered.org/), or [Discord](https://discord.gg/PtaGRAs) for support like this.

[2017-11-23 23:03] #1875 closed, assigned to nobody

[2017-11-24 03:49] ryantheleach commented on #1679
@codeHusky Sponge Vanilla or Sponge Forge? this is potentially looking indicative of a SpongeCommon bug.

[2017-11-24 05:27] #1588 closed, assigned to Aaron1011

[2017-11-24 14:21] tetsune commented on #1874
https://github.com/Verclene/LittleMaidReengaged/issues/125#issuecomment-346723026

[2017-11-24 15:44] Faithcaio commented on #1874
`sendContainerToPlayer` is called in `MixinEntityPlayerMP#stopActiveHand`
maybe checking for FakePlayer there?

[2017-11-25 02:11] StoneLegion opened #1876 "Expedition Mod no drops until final breaking"
**Summery**
Expedition Mod allows you to Mine a ore say 3 times and you get a bit of material each time you mine it. But rather Sponge does not give you any materials till the very last time you mine it when the block breaks.

**I am currently running**
- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2731
- Forge version: 1.10.2-12.18.3.2477
- Java version: 1.8.0_151-b12
- Operating System: Ubuntu

[2017-11-25 02:27] StoneLegion commented on #1876
More Information I stripped down everything and tested it and still broken. The mod I'm using in the list is forked so will post the details here:

1.10.2 (I think only the first one is required but I got all 3):
https://minecraft.curseforge.com/projects/wtfs-expedition-gameplay
https://minecraft.curseforge.com/projects/wtfs-tools
https://minecraft.curseforge.com/projects/wtfs-expedition-cavebiome

[2017-11-25 13:00] TRLWeiss opened #1877 "Couldn't use Geomastery and Spongeforge at the same time"
**I am currently running**

- SpongeForge version: 1.11.2-2393-6.1.0-BETA-2715
- Forge version: 13.20.1.2476
- Java version: 1.8
- Operating System: CentOS 7.1

- Plugins/Mods: Geomastery,Spongeforge

**Issue Description**
[23:12:31] [Server thread/ERROR] [Sponge]: /************************************

*******************/

/************************************************************************

[2017-11-25 13:00] #1873 closed, assigned to nobody

[2017-11-25 13:38] ryantheleach commented on #1877
Could you explain a little more on what "When I was running spongeforge with gaining any drop item it will appear until i leave the item." means? particularly, does it have to be a specific item, does it have to be an item from this mod?

Also, your log doesn't appear to have enough information to debug this issue: (for others) https://gist.github.com/ryantheleach/6400aaa6e4f5e0a34025564bf75f9505

[2017-11-25 17:49] StoneLegion commented on #1209
Having this issue myself and googled it and looks like this is known so I'm happy about it. Not sure if it will get resolved in 1.10 in the near future but either way I'm one of those people :)

[2017-11-25 21:46] Raycoms opened #1878 "Problem with sponge switching dimension"
SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2741.jar
Forge version: forge-1.12.2-14.23.0.2550-universal.jar (Also happening with 2529)
Java version: OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
Operating System: Linux (Redhat)

Our teleportation code does that:

playerToTeleport.changeDimension(colonyDimension);
playerToTeleport.setPositionAndUpdate(position.getX(), position

[2017-11-26 04:15] TRLWeiss commented on #1877
Question 1:Could you explain a little more on what "When I was running spongeforge with gaining any drop item it will appear until i leave the item." means?
Answer:That means when i try to pick up any item, the item will be unable to picked up.And the console will show the same information circularly.Sorry because i am not a native speaker of English so my grammer is very strange.

Quesion 2:does

[2017-11-26 17:28] codeHusky commented on #1679
I was using SpongeVanilla

[2017-11-26 18:55] ghost opened #1879 "Issue With Sponge If a Lot of Dimensions Are Being Loaded"
Using:
forge-1.12.2-14.23.1.2554-universal.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2746.jar

This also happens in 1.10.2 with the latest version of forge and sponge.

Can you please give us an option to disable generate-spawn-on-load=true it off by default? This may also be a bug as the default global.conf file has this set to false, the config-enabled setting in the world.confs is set to false whe

[2017-11-26 18:59] phit commented on #1879
intentional behavior, stuff like this will always fall back to the dimension or world config

to fix your issue, go to `/config/sponge/worlds/advancedrocketry/planet/dimension.conf` set `config-enabled=true`, `load-on-startup=false` and `generate-spawn-on-load=false`

[2017-11-26 18:59] #1879 closed, assigned to nobody

[2017-11-26 19:00] ghost commented on #1879
Hello, I just dug more into this it seems to be a conflict with Astral Sorcery.

If I use only Spongeforge and adv rocketry it doesn't try to load all the dims on a new world, as soon as you add astral sorcery sponge will load all dims at launch and it ignores the world.conf.

[2017-11-26 19:44] ghost opened #1880 "Conflict Between Astral Sorcery, Advanced Rocketry and SpongeForge"
This seems to be effecting at least all recent versions of SpongeForge 1.10.2 and up.

If you use Astral Sorcery and sponge it will cause all dimensions from Advanced Rocketry to load and it will ignore any related settings made to global.conf, dimension.cong and world.conf. This does not happen if Sponge is not installed or if you have Sponge and Advanced Rocketry but no Astral Sorcery.

How to r

[2017-11-26 19:47] ghost commented on #1880
Forgot to put this in the original post, it does seem to crash with this config and here is the crash log. If you use more mods it eventually just freezes instead of crashing.

https://pastebin.com/Gx1qkAry

I will test in 1.10.2 and see if it also crashes or just freezes.

Edit: Same crash in 1.10.2

https://pastebin.com/PKmBUf3s

[2017-11-26 19:54] phit commented on #1880
zip up all your sponge configs please

[2017-11-26 20:15] ghost commented on #1880
Hello, I was using the sponge files it generates from nothing so giving you them isn't going to help. I am also going to supply you the server files I am using so you can see this for yourself as it is a real problem not just me being an idiot. Seems like other people who reported it just got ignored.

Server Files:
http://www.mediafire.com/file/f9651llv6eq471f/Sponge_Server.zip

Config files it g

[2017-11-26 20:19] phit commented on #1880
READ what i wrote in the last issue, you don't need the world.conf's and the global.conf will do nothing.. that fully intentional.
Edit the single DIMENSION.CONF in the `/config/sponge/worlds/advancedrocketry/planet` folder and set the values there..

to quote myself

I'm running a server with Astral Sorcery and Adv Rocketry myself using these settings and nothing loads on startup.

[2017-11-26 20:25] ghost commented on #1880
When I change the settings to that it reverts them on the next reload, this also only effects NEW servers. Go download the server files and try it yourself, it will ignore what you keep telling people to do that does not work. Setting it to read only way work though, but that is a bandaid not a fix if it did.

Once it loads once it's not a problem it seems.

[2017-11-26 20:25] phit commented on #1880
then you didn't set `config-enabled=true`

[2017-11-26 20:28] ghost commented on #1880
Do you want me to record my screen and send it to you? What you are saying doesn't work because when you load the server it keeps setting the setting back to true.

It also just outright crashes for some reason when you use only Astral Sorcery and ADV rocketry but in a modpack this doesn't happen.

[2017-11-26 20:36] phit commented on #1880
So I downloaded your server zip and still had 0 issues when setting what I asked you to set.

* start server once until overworld starts loading
* kill server
* edit `/config/sponge/worlds/advancedrocketry/planet/dimension.conf`
  set `config-enabled=true`, `load-on-startup=false` and `generate-spawn-on-load=false`
* load server again
* no new worlds generate, just some astral sorcery spam checkin

[2017-11-27 00:00] #1880 closed, assigned to nobody

[2017-11-27 18:25] Yorkforce commented on #1621
We have also been seeing huge fml-junk-earlystartup log files in 1.12 (Horizons 3 server), just checked now and the log file was already at 10GBs.
Due to console spam I was unable to check how long the server had been up but they are on 8 hour restarts, however last night our dedibox ran out of disk space completely (they have 480GB SSD with 100GB free) so the log file must have been insanely larg

[2017-11-27 18:38] phit commented on #1621
@Yorkforce update to latest, spam should be a lot better with it, for even less set `verbose=false` and `verbose-errors=false` in the global.conf

[2017-11-27 18:46] phit commented on #1765
@PretoAlbino any idea on how to reproduce this, was someone teleporting outside the border or something similar?

[2017-11-27 18:50] Yorkforce commented on #1621
Thanks Phit, just done that and changed the verbose setting to false, hopefully that should stop it occurring.

[2017-11-27 19:14] phit commented on #1679
[code]

works fine on 1.12.2-2529-7.0.0-BETA-2747, no errors either

[2017-11-27 19:16] phit commented on #1629
No reply, closing this for now. Please reply with the information you have been asked for and I will reopen this issue.

[2017-11-27 19:16] #1629 closed, assigned to nobody

[2017-11-27 19:20] phit commented on #1577
@Katrix- @Sir-Will @LilyEvergreen is this still an issue? if it is, can you please add a step by step reproduction

[2017-11-27 19:22] ImMorpheus commented on #1765
@phit I'm pretty sure you nailed it `EntityPlayerMP['ManoGamerBr'/3666, l='minerar', x=-29999983.50, y=57.00, z=29999984.50]]`

[2017-11-27 19:24] phit commented on #1765
Closing in favor of https://github.com/SpongePowered/SpongeCommon/issues/651 then, thanks @ImMorpheus totally missed that.

[2017-11-27 19:24] #1765 closed, assigned to nobody

[2017-11-27 23:37] ryantheleach commented on #1679
@phit Inventory::Listener is not listening to the on Inventory Click event.

It's an API we expose as a helper.

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/inventory/Inventory.java#L629

[2017-11-29 05:41] Dockter commented on #1872
@Raycoms I ran into a similar issue today working with Structure generation and how Sponge registers its generators.  This PR solved my issue, perhaps it can help with yours.

https://github.com/SpongePowered/SpongeCommon/pull/1624

[2017-11-29 05:45] Dockter commented on #1861
Seems to me that this mod is handing this event all wrong.

[2017-11-29 23:11] codeHusky commented on #1679
Make sure these changes get into a 1.10.2 build.

[2017-11-29 23:17] phit commented on #1679
can you provide a log for this bug in 1.10 and add some code how to reproduce it, as I have no interest myself in doing any further testing for 1.10

the whole tracker system was [overhauled](https://github.com/SpongePowered/SpongeAPI/pull/1370) for 1.12 and that will never get a 1.10 build as there are breaking API changes, which I assume fixed this somewhere along the way

[2017-11-30 01:32] ryantheleach commented on #1872
@Dockter Are you thinking this is something to do with Ocean monuments?

[2017-11-30 07:43] HorizonsMC commented on #1684
Same issue with Just Enough Dimensions in 1.12.2

[2017-11-30 08:14] HorizonsMC opened #1881 "Just Enough Dimensions Crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2747
- Forge version: forge-1.12.2-14.23.1.2556-universal
- Java version:  Java 8 u152
- Operating System: Windows 10

- Plugins/Mods:
justenoughdimensions-1.12.1-1.5.5

When entering a dimension that was created with Just Enough Dimensions it causes an error with the world if you use the world info setting.

Exa

[2017-11-30 09:13] phit commented on #1881
https://github.com/maruohon/justenoughdimensions/issues/9

dev of the mod supposedly fixed this in their dev version, you can find more info on that issue tracker

[2017-11-30 09:16] HorizonsMC commented on #1881
Got the dev version and it appears to be working, thank you.

[2017-11-30 09:16] #1881 closed, assigned to nobody

[2017-11-30 09:22] phit commented on #1420
No reply, closing this for now.

[2017-11-30 09:22] #1420 closed, assigned to nobody

[2017-11-30 09:26] phit commented on #1478
Can't reproduce with the information given, if you can figure out what mod is needed to reproduce this, let me know and I'll reopen this issue

[2017-11-30 09:26] #1478 closed, assigned to nobody

[2017-11-30 14:31] Dockter commented on #1872
In my testing the changes I made was affecting structure creation only, I didn't have empty spots in the map.  That being said I am not privy to the inter-workings of BOP.

[2017-12-01 20:33] Deamon5550 commented on #1874
It looks like this was fixed by the mod developer (see the linked issue)

[2017-12-01 21:53] #1874 closed, assigned to nobody

[2017-12-02 01:20] codeHusky commented on #1679
ill look into this in a bit. this was mostly an issue which affected HuskyUI, so I'm just trying to make sure it's resolved in all the versions I expect users to use HuskyUI with.

[2017-12-02 01:20] phit commented on #892
Minecraft Forge: 14.23.0.2529
Sponge https://github.com/SpongePowered/SpongeForge/commit/3541ce62d63fc516b1b0fd859e2103b31d0c8d19

Still an issue, tested by placing a bucket of water and then a Tinker's Construct Bucket

[2017-12-02 01:24] phit commented on #1376
@merjilin was this ever resolved?

[2017-12-02 02:43] phit commented on #1260
Can't reproduce with
armorplus-1.12.2-11.8.1.27-beta.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2748.jar

![image](https://user-images.githubusercontent.com/2097483/33510924-f57020ba-d712-11e7-8e41-1d6f232ed06f.png)

[2017-12-02 02:52] phit commented on #1320
Can't reproduce with:
spongeforge-1.12.2-2529-7.0.0-BETA-2748.jar
Baubles-1.12-1.5.1.jar
extrautils2-1.12-1.6.8.jar

Item always go back to your inventory now when closing a crafting table, which also applies to the player crafting table.

[2017-12-02 02:55] phit commented on #1841
Sorry, log doesn't even mention Sponge and I couldn't reproduce this. I'm closing this for now, if you still experience this please open an issue with Galacticraft.

[2017-12-02 02:55] #1841 closed, assigned to nobody

[2017-12-02 03:07] phit commented on #1702
Tested on 1.12.2 with Sponge 2529-7.0.0-BETA-2748 and then without, this appears to be vanilla behavior. You can always see all players in the spectator menu, regardless what dimension they are in.

[2017-12-02 03:07] #1702 closed, assigned to nobody

[2017-12-02 03:13] phit commented on #1684
Duplicate of #1444

[2017-12-02 03:13] #1684 closed, assigned to nobody

[2017-12-02 03:36] phit commented on #1455
the same thing happens with just Forge on the server without Sponge, report it to them

[2017-12-02 03:36] #1455 closed, assigned to Aaron1011

[2017-12-02 03:43] phit commented on #1558
deleted some unrelated logs to make this issue easier to read after checking if they are also reported

[2017-12-02 07:54] Rasgnarok opened #1882 "World Import Fail"
**I am currently running**
- SpongeForge version: `spongeforge-1.12.2-2529-7.0.0-BETA-2748.jar`
- Forge version: `forge-1.12.2-14.23.0.2529-universal.jar`
- Java version: `1.8.0_151`
- Operating System: `CentOS Linux 7`

Plugins/Mods:
- `Nucleus-1.2.0-PR4-S7.0-MC1.12.2-plugin.jar`

**Issue Description**
Importing a world with a level name that contains special characters (spaces, brackets) causes

[2017-12-02 20:27] Whazaaaaa opened #1883 "Sponge breaking ae2stuff machines + console spam because of it."
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2747
- Forge version: forge-1.12.2-14.23.1.2556-universal
- Java version: 8
- Operating System: Ubuntu

- Plugins/Mods: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, ClearMob, Discord Bridge, Enjin Minecraft Plugin, GoonUtils, GriefPrevention, HuskyCrates, HuskyUI, LuckPerms, NuVotifi

[2017-12-02 20:31] phit commented on #1883
probably the same as https://github.com/SpongePowered/SpongeForge/issues/1807

[2017-12-02 21:30] #1807 closed, assigned to nobody

[2017-12-02 21:30] #1883 closed, assigned to nobody

[2017-12-02 21:45] phit commented on #1872
@Raycoms please update to latest (2753+) and retest

[2017-12-02 22:17] phit commented on #1815
same with
lostcities-1.12-1.0.2.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2753.jar

note the mod itself works fine, just the `/lc_debug` command doesn't https://github.com/McJty/LostCities/blob/master/src/main/java/mcjty/lostcities/commands/CommandDebug.java#L38

[2017-12-02 22:28] #1860 closed, assigned to nobody

[2017-12-02 22:34] phit commented on #1456
can't repro with spongeforge-1.12.2-2529-7.0.0-BETA-2753

[2017-12-02 22:46] phit commented on #1648
similar to https://github.com/SpongePowered/SpongeForge/issues/1415

[2017-12-02 22:56] phit commented on #1551
can't reproduce with
spongeforge-1.12.2-2529-7.0.0-BETA-2753.jar
buildcraft-7.99.12.jar

[2017-12-02 22:58] phit commented on #1687
blew up painting with a creeper no errors with spongeforge-1.12.2-2529-7.0.0-BETA-2753

[2017-12-02 23:07] phit commented on #1825
confirmed with
spongeforge-1.12.2-2529-7.0.0-BETA-2753.jar
Bedrock Ores-MC1.12-1.2.5.38.jar

https://gist.github.com/phit/cab16fcd8fdeb038bd2803ec91f4205c

[2017-12-02 23:30] phit commented on #1797
can't reproduce with

MCMultiPart-2.3.3.jar
Mekanism-1.12.2-9.4.2.327.jar
MekanismGenerators-1.12.2-9.4.2.327.jar
MekanismTools-1.12.2-9.4.2.327.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2753.jar

[2017-12-02 23:46] phit commented on #1623
the mounting issues seem to be fixed, as for the rest: the mod seems to do a lot of things async, which it shouldn't please report this to the mod author

https://gist.github.com/phit/a762c9cb5a631137ca47fed2bd69704e

[2017-12-02 23:53] phit commented on #1558
Mod was taken down due to copyright infringement, which makes me unable to test this. Please let me know if the mod gets rereleased and this is still an issue and I'll reopen this issue.

[2017-12-02 23:53] #1558 closed, assigned to nobody

[2017-12-03 00:26] kherock commented on #1828
It would be really nice if the End portal bug could be sorted out soon.

I'm on SpongeVanilla 1.12.2-7.0.0-BETA-356. I've noticed the following behavior so far:
* Does not happen while in creative mode
* In survival, you are teleported correctly 80% of the time if you enter through the top of the portal
  * Entering through the side or bottom of the portal will cause you the teleport incorrect as

[2017-12-03 18:17] JoeSGT opened #1884 "Internal server error when picking up item's"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2757
- Forge version: 1.12.2-14.23.1.2559
- Java version:  8
- Operating System: Windows 10

- Plugins/Mods:
applied-llamagistics-1.12.1-rv5-beta-10
just that mod no sponge plugins a clean test server

**Issue Description**
Okay on my clean test server i got internal server error when i pickup an item
this only h

[2017-12-03 20:10] Tencao opened #1885 "[1.12.2] Exception attempting to capture block change"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2757
- Forge version: 14.23.1.2555
- Java version: 8
- Operating System: Windows 10

- Plugins/Mods:
Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BungeeTabListPlus-SpongeBridge, LuckPerms, Nations, Nucleus, Prism, ProjectCore for SpongeAPI 7.x, ProjectPortals for SpongeAPI 7.x, ProjectWorlds for Spon

[2017-12-04 00:35] thiakil commented on #1884
Probably related to this: https://github.com/thiakil/Applied-Energistics-2/blob/rv5-1.12/src/main/java/appeng/items/tools/powered/ToolPortableCell.java#L277

OP has said they did not have a Portable Cell on them, so all that the handler should be doing is simulating what won't fit into the player's inv.

[2017-12-04 04:57] ryantheleach commented on #1874
It was, but this could still be a potential (I believe forge) issue for other mods.

[2017-12-04 11:28] SawFowl opened #1886 "A bug with blocks from mods. Substitution of block identifiers."
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2757
- Forge version: 14.23.1.2555
- Java version: Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: Ubuntu Server 16.04

Plugins (18): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, CmdCalendar, CommandUtils, EasyScoreboards, EconomyLite, GriefPrevention, JobsLite, La

[2017-12-04 21:35] drewc5131 opened #1887 "Crash on server load - unexplained by crash logs"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2757
- Forge version: forge-1.12.2-14.23.1.2559-universal
- Java version: jdk1.8.0_91
- Operating System: Windows 10

MODS

Name                                           | Version                     | Source                                      |
:-------------------------------------------- |:------------------

[2017-12-04 23:37] ryantheleach commented on #1886
Are you talking about the cause tracker spam in the logs? Or is there a bigger problem?

What does "A bug with blocks from mods. Substitution of block identifiers." mean?

[2017-12-04 23:40] ryantheleach commented on #1887
Remapped:

[code]

[2017-12-05 00:01] Keaton1188 commented on #1885
Also getting massive spam for Exception attempting to capture a block change!

Log - https://hastebin.com/catequkoqa.css

[2017-12-05 04:56] SawFowl commented on #1886
The problem appeared suddenly. Blocks became chaotically replaced with others. For example, blocks of lumber from the Foresty fashion could be turned into ores from the fashion BiomesO'Plenty. All this was accompanied by spam in the console and disconnection of players. I had to make a wipe on the server, since just a rollback of the world did not help, the problem returned. Vip did yesterday, now

[2017-12-05 19:19] tgstyle commented on #1796
If sponge is unloading the dimension, make sure it stays loaded with -

keep-spawn-loaded=true

This fixed my issue.

[2017-12-05 19:56] PurpleIsEverything commented on #1885
Getting this too, really annoying when you have a several gig log file with no way to even temporarily mute these errors.

[2017-12-06 00:34] Tencao commented on #1885
There is a way to mute most errors, if you go to sponge and disable verbose in the config. Note this will only silence most errors, not fix them.

[2017-12-06 00:36] PurpleIsEverything commented on #1885
Disabling verbose does not silence these errors even a little bit.

[2017-12-06 01:24] Tencao commented on #1885
Strange, it managed to silence a majority of mine, then again it depends how many AE2 tiles you have.

[2017-12-06 22:42] drewc5131 commented on #1887
Update: I deleted the scoreboard.dat file from the world and it fixed the crash.

[2017-12-08 00:30] merjilin commented on #1376
I no longer have a 1.10 environment setup for testing, but it wasn't resolved when I had a server on API 5.

[2017-12-08 01:05] FilipK-CZ opened #1888 "Error executing task - Industrial Foregoing"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2760
- Forge version: forge-1.12.2-14.23.1.2555-universal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
- Operating System: Ubuntu 14.04.5 LTS

Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, InstantRespawn, LuckPerms, Nucleus, ProjectCore, ProjectWorlds,

[2017-12-08 01:14] rob5251 commented on #1888
Also happening when opening an ME Terminal from Applied Energistics.

[2017-12-08 01:23] FilipK-CZ commented on #1888
Grid from Refined Storage too

[2017-12-08 01:24] ryantheleach commented on #1888
@Faithcaio I believe this is due to your recent merge of the inventory refactor.

https://github.com/SpongePowered/SpongeCommon/pull/1585

[2017-12-08 19:13] PurpleIsEverything commented on #1886
This seems to be a common problem with all 1.12 servers running Sponge the only solution to it currently is to copy a level.dat from a backup of the same world. From the looks of it the registry map is getting damaged or modified when this happens blocks change into other blocks and if the world loads like that then those same blocks can lose NBT data too.

[2017-12-08 20:40] Faithcaio commented on #1888
should be fixed in latest

[2017-12-08 20:40] #1888 closed, assigned to Faithcaio

[2017-12-08 20:41] Faithcaio commented on #1884
should be fixed in latest

[2017-12-08 20:41] #1884 closed, assigned to gabizou

[2017-12-09 03:14] HorizonsMC commented on #1846
It's an issue because the SImple Life 2 is using an outdated version of MMD Orespawn (almost a year old). Tell the author to update.

[2017-12-09 03:25] Tencao opened #1889 "[1.12.2] Kick when picking up items"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2757
- Forge version: 14.23.1.2559
- Java version: 8
- Operating System: Windows 10

- Plugins/Mods:
Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BungeeTabListPlus-SpongeBridge, LuckPerms, Nations, Nucleus, Prism, ProjectCore for SpongeAPI 7.x, ProjectPortals for SpongeAPI 7.x, ProjectWorlds for Spon

[2017-12-09 06:16] #1889 closed, assigned to nobody

[2017-12-09 06:16] phit commented on #1889
update to latest

[2017-12-09 06:32] SawFowl commented on #1886
After I removed the WorldEdit and FastAsyncWorldEdit mods, the blocks stopped changing due to this error, but sometimes I see their disappearance, including vanilla ones. The stability of the server as a whole has grown after this.

[2017-12-09 17:20] alicheek opened #1890 "Switching Phase Spam 1.12.2-2555-7.0.0-BETA-2762 DW20 1.12"
**I am currently running**

- SpongeForge version:  1.12.2-2555-7.0.0-BETA-2762
- Forge version: 14.23.1.2555
- Java version:  8
- Operating System: Centos 6.7

- Plugins/Mods:

DW20 1.12

**Issue Description**

Getting about 250Mb of spam regarding switching phase ticks cant seem to see what it is exactly regarding to as seen in log below

https://gist.github.com/alicheek/60d998f50e3f199a6b5e9769

[2017-12-09 17:33] #1890 closed, assigned to nobody

[2017-12-09 17:36] phit commented on #1872
No reply in a week, closing this for now. If this is still an issue, then please reply with the information you have been asked for and I will reopen this issue.

[2017-12-09 17:36] #1872 closed, assigned to nobody

[2017-12-09 17:43] phit commented on #1865
Can't reproduce either with
spongeforge-1.12.2-2555-7.0.0-BETA-2763.jar
meecreeps-1.12-1.0.0.jar

Closing this for now, if this still an issue for you please provide a way to reproduce and I'll reopen this issue.

[2017-12-09 17:43] #1865 closed, assigned to nobody

[2017-12-09 22:47] FilipK-CZ opened #1891 "Hide message from Console (Spam)"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2760
- Forge version: forge-1.12.2-14.23.1.2555-universal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
- Operating System: Ubuntu 14.04.5 LTS

Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, InstantRespawn, LuckPerms, Nucleus, ProjectCore, ProjectWorlds,

[2017-12-10 01:16] me4502 commented on #1886
Does that still occur with just WorldEdit (Not FastAsyncWorldEdit)?

[2017-12-10 06:58] SawFowl commented on #1886
After I put the WorldEdit plug-in instead of mod, the block changing stopped, but the error in the console was the same as before. 1 time a piece of blocks was missing, but not on such a scale as before.

[2017-12-10 07:15] phit commented on #1891
neither of this is Sponge, nor is it spam...

[2017-12-10 07:15] #1891 closed, assigned to nobody

[2017-12-10 07:34] descention commented on #1662
See #1880 for fix:

[2017-12-10 07:46] PurpleIsEverything commented on #1886
This issue is not related to WE or FAWE multiple servers have had issues without the servers ever having either of those two plugins/mods installed.

[2017-12-10 07:58] SawFowl commented on #1886
FAWE(Forge) only exacerbated the problem, but was not its cause. FAWE(Forge) does not work correctly with blocks from mods, so the blocks were replaced.

[2017-12-10 08:06] PurpleIsEverything commented on #1886
Again, this issue occurs with FAWE and WE never being installed.

[2017-12-10 16:35] gabizou commented on #1886
If someone can zip the level.dat file before and after accompanied with a trimmed down error log that may help to isolate how sponge may be interfering with block substitutions. Otherwise sponge has no code in place that touches block substitutions or the level.dat for the case of block id’s.

[2017-12-10 16:40] phit commented on #1886
I'm gonna assume this is the same issue me and other server admins have been seeing for a while now. I have yet to find any reproduction, when diffing my level.dat I also never found anything that hinted towards something going wrong there, but @ShadowKitten made different experiences in that regard as in rolling back the level.dat worked for him.

[2017-12-10 17:49] PurpleIsEverything commented on #1886
Yes, we definitely found resolve on multiple occasions by rolling back the level.dat to one of our hourly snapshots. However this issue is often not replica-table and when it happens it often causes crashes which results in loss of any logs due to the current logging issue where everything is placed in the junk log.

Even when this is not the case more often than not cause-tracker spam which we ca

[2017-12-10 18:00] PurpleIsEverything commented on #1885
Forge version: 1.12.2-14.23.1.2561
Sponge Version: 1.12.2-2555-7.0.0-BETA-2763

More AE unload type cause-tracker sponge https://hastebin.com/izamowacib.md so unfortunately this is not fixed.

[2017-12-10 21:36] alicheek opened #1892 "Exception to Capture a Block Change - spongeforge-1.12.2-2555-7.0.0-BETA-2763 - DW20 1.12"
**I am currently running**

- SpongeForge version:  spongeforge-1.12.2-2555-7.0.0-BETA-2763.jar
- Forge version: 14.23.1.2555
- Java version: OpenJDK 64-Bit Server VM (build 25.121-b13, mixed mode)
- Operating System: CentOS 6.8 (Final)

- Plugins/Mods:
DW20 1.12 Modpack

**Issue Description**

Still seem to be getting some spam regarding capturing block change for AE2 on chunk unload it seems.

h

[2017-12-10 23:10] alicheek commented on #1892
Also got this as well not sure if this one is related:

https://gist.github.com/alicheek/0efc1a90bb08768fb0c19b8d89cc17f0

[2017-12-11 05:36] JoeSGT commented on #1892
Having the same issue
here are my version..
- applied-llamagistics-1.12.1-rv5-beta-10
- forge-1.12.2-14.23.1.2562
- spongeforge-1.12.2-2555-7.0.0-BETA-2764

https://pastebin.com/M8d2Gjdr

[2017-12-11 06:12] gabizou commented on #1892
Re-test with 2764.

[2017-12-11 06:15] gabizou commented on #1885
2764 should have the bug fixes. re-test?

[2017-12-11 06:22] PurpleIsEverything commented on #1885
They were actually in 2763 according to the commits, though later in the day we bumped our build and it continued.

[2017-12-11 06:22] JoeSGT commented on #1892
@gabizou  what do you mean by re-test i have that version and it still spam with those error's

[2017-12-11 17:35] SawFowl commented on #1886
I saved the level.dat file before and after changing the block ID. As I said before, the replacement of id is observed only if the WorldEdit mode is installed. The plugin does not give this effect, because it does not work with blocks from mods.

[world dat.zip](https://github.com/SpongePowered/SpongeForge/files/1548765/world.dat.zip)

[2017-12-12 02:04] Sunconure11 opened #1893 "Incompatibility with GottaGoFast, plus another minor issue I'd like to report, regarding bans"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2764
- Forge version: 14.23.1.2560
- Java version: Java 8
- Operating System: Windows 10

- Plugins/Mods: Since I cannot get a list with this mod installed, as it prevents proper startup, I will dump a list without it: https://pastebin.com/a89Cp8Wj Yeaaah, I have a pretty beefy pack.

**Issue Description**

The mod [GottaGoF

[2017-12-12 05:41] AeoniaMC opened #1894 "CapturedEntity Error causing Client Crash, Login Issues, and World Loading Issues"
I am currently running:
- SpongeForge version: spongeforge-1.11.2-2476-6.1.0-BETA-2715
- Forge version: 1.11.2-forge1.11.2-13.20.1.2429
- Java version: Java 8
- Operating System: Not sure (hosted server)

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, FoamFixCore, Better Command Signs, Buycraft, CatClearLag, MrCrayfish's Furniture Mod, C

[2017-12-12 21:44] #1892 closed, assigned to nobody

[2017-12-12 22:04] Keaton1188 opened #1895 "Unexpected World Change Detected"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2765.jar
- Forge version: 14.23.1.2555
- Java version: OpenJDK 64-Bit Server VM (build 25.121-b13, mixed mode)
- Operating System: CentOS 6.8 (Final)

- Plugins/Mods:
DW20 1.12 Modpack

**Issue Description**
Seem to be getting a lot of spam related to a unexpected world change:
https://gist.github.com/Keaton1188/

[2017-12-12 22:13] #1885 closed, assigned to gabizou

[2017-12-13 00:27] JoeSGT commented on #1895
can you tried this with spongeforge-1.12.2-2555-7.0.0-BETA-2766

[2017-12-13 00:30] phit commented on #1895
@JoeSGT 2766 just changed some logging

[2017-12-13 00:32] JoeSGT commented on #1895
ohh okay sorry i just though it might help cause there was another commit related about reduce spamming

[2017-12-13 00:46] phit commented on #1895
oh yeah it will help the spam, just not fix the underlying issue ;)

[2017-12-13 11:51] D3nnis3n opened #1897 "UniDict Registry ordering issue"
**I am currently running**

- SpongeForge version: 2769
- Forge version: 2564
- Operating System: Ubuntu 14.04 LTS

- Plugins/Mods:
Nucleus

**Issue Description**
After i updated to the first sponge Version built against Forge 2555 i get the issue that (if i understood the developer of Base/Modern/*Metals correctly) the IDs for CrackHammer Recipes are not the same on Server and Client on every res

[2017-12-13 11:58] phit commented on #1897
Add some logs and some way to reproduce this for someone that has no idea how that mod works. Right now I'm just seeing quotes that don't make much sense to me, assuming you are meaning block/item ids?  Aren't those synced to the client when they join a server? They haven't been static since like 1.6.4.

[2017-12-13 12:01] D3nnis3n commented on #1897
Which logs do you want me to provide exactly? I've shown you the relevant parts that Show the Problem.

Which Client logs, which Server logs? Complete Startup?

The Modder says "recipe hammer recipes don't get the same ids on Server and Client with sponge installed".

You can reproduce it by installing this mod: https://minecraft.curseforge.com/projects/base-metals
And sponge. On every sponge Star

[2017-12-13 12:47] D3nnis3n commented on #1897
Okay, i made two starts that are exactly the same mods and configs, first time without sponge - everything works finde, then with sponge and i was ordered to acknowledge 337 "missing" registry entries on start.

Here you get the complete logs of my log Folder:
http://minecraft.godsofwar.de/server_without_sponge.tgz
http://minecraft.godsofwar.de/server_with_sponge.tgz

I hope that helps.
When spong

[2017-12-13 13:53] ryantheleach commented on #1897
I'm no expert at Forge modding, but this statement outright scares me.

The registry events were made for a reason, and from what I've seen Lex is pretty adamant about people using it.

The registry events also give a very clearly defined point in the lifecycle where Sponge can expect the registrations to be finished, so any assumptions that Sponge might be making about when things are registered

[2017-12-13 14:16] D3nnis3n commented on #1897
Yes, it occurs also with this Version - i updated to the latest sponge from that Version today, as i wanted to check if the issue has already been fixed. It must have been a Change in the Version that was build for the forge versions you choose before 2555. I'll try a bit around for you. (At least if my "Intuition" is correct)

As for ShadowWolf: He is a very skilled developer in my opinion and if

[2017-12-13 14:34] D3nnis3n commented on #1897
My suspecton was wrong. The mod causing this issue seems to be UniDict. With Version 1.3 they added "basemetals" Support for the crusher recipes. And as soon as i use a unidict Version below this Version, Startup and Connection with sponge is no longer an issue. Seems like this mod Version has a problem with sponge after updating to 1.3 or higher.

I opened an issue over there. So the problem is m

[2017-12-13 14:37] D3nnis3n commented on #1897
I can now also say the following: When you add sponge it will tell you that unidict:recipes are missing.
When you remove sponge and Startup again it tells you basemetals:recipes are missing.
When you then start again it works like it should with no missing recipes and everyone can connect.

Funny. (At least for me who has no idiea what is actually Happening)

[2017-12-13 14:42] D3nnis3n commented on #1897
Maybe unidict does not Register their altered recipes at the same time when basemetals does that and this is only a problem with sponge installed? I dunno. It's funnny at least. If you guys Need any further Information from me, just ask, i'll be happy to provide what i can.

[2017-12-13 15:20] dshadowwolf commented on #1897
Okay, looks like UniDict might be accessing and modifying the "Crusher Recipe Registry" badly. As said to @D3nnis3n on Discord, \*Metals runs all of its internal registry stuff (which the "Crusher" registry certainly counts as) a long time before Forge ever fires the related events. This is because, mostly, those registries are used for things like "holding the instance of a block or item that is

[2017-12-14 00:04] alicheek commented on #1895
Tbh there doesnt seem to be much change in the logging still showing up quite a few times on our logs having said that at least we arent getting like 500 MB logs any more!

[2017-12-14 00:08] phit commented on #1895
@alicheek make sure verbose is set to `false` in your global.conf

[2017-12-14 00:53] alicheek opened #1898 "PrettyPrinter limit backport breaks TileEntity CauseTracker"
**I am currently running**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2776
- Forge version: forge-12.18.3.2511
- Java version: build 1.8.0_151-b12
- Operating System: CentOS 7

- Plugins/Mods:
The Simple Life 2 Modpack

**Issue Description**

Lots of spam since I updated from spongeforge-1.10.2-2477-5.2.0-BETA-2731.jar to spongeforge-1.10.2-2477-5.2.0-BETA-2776.jar server crashed b

[2017-12-14 01:25] ryantheleach commented on #1898
@Faithcaio The spam is related to hoppers.

@alicheek Do you know if any of the mods in the modpack modify the vanilla hoppers to be more efficient? Or are they just normal Minecraft hoppers?

The crash seems to be a different issue entirely.

[2017-12-14 01:28] alicheek commented on #1898
Not sure tried this now on Skyfactoy 3 and got pretty much the same results:

https://gist.github.com/alicheek/b51496045f4cba60c8f301ca001d9e67

[2017-12-14 01:29] alicheek commented on #1898
@ryantheleach  also notice at the bottom we are also getting phase spam also not guessing some changes were ported from 1.12?

[2017-12-14 01:41] alicheek commented on #1898
@ryantheleach been advised by one of my players and admin that logged in when i had this up on the skyfactory 3 server that everything from their storage was wiped even including signs. Luckily he was the only player to log on at the time.

[2017-12-14 12:54] Keaton1188 commented on #1895
Yep, we have; verbose=false and verbose-errors=false

[2017-12-14 16:13] StoneLegion commented on #1898
Thankfully you made backup 👍

[2017-12-14 16:55] Keaton1188 commented on #1898
We don't keep backups.

[2017-12-14 17:01] StoneLegion commented on #1898
I assumed that!

[2017-12-14 17:02] Keaton1188 commented on #1898
:)

[2017-12-15 02:29] baegmon commented on #1878
Same issue confirmed on both Forge 1.12.2 and 1.12.1 with latest version of SpongeForge installed.
Pastebin: https://pastebin.com/Gagn7cyb

Code works fine with just Forge.

[2017-12-16 02:33] phit commented on #1898
this has been reverted for now so the latest build i safe to download https://github.com/SpongePowered/SpongeCommon/commit/94063c5e1241b7cd8f4ca1d32dd158a94c3f9f2c

[2017-12-16 02:34] JBYoshi commented on #1898
Not quite latest yet. Once it builds, you should be good to go.

[2017-12-16 02:41] JBYoshi commented on #1898
2777 has the fix.

[2017-12-16 15:41] FilipK-CZ opened #1899 "Explosion - Error"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2760
- Forge version: forge-1.12.2-14.23.1.2555-universal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
- Operating System: Ubuntu 14.04.5 LTS

Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, InstantRespawn, LuckPerms, Nucleus, ProjectCore, ProjectWorlds,

[2017-12-16 17:17] phit commented on #1899
update to latest spongeforge and check again

[2017-12-16 22:00] FilipK-CZ commented on #1899
Same

[2017-12-16 22:38] FilipK-CZ commented on #1899
It does it too after blood moon started by mod Bloodmoon. Probably some mobs do something with world

[2017-12-18 06:38] ghost opened #1900 "[1.12.2] Destroying beds, doors broken with SF 2764 and newer"
Steps to reproduce:

goto survival mode
place bed/doors
destroy it (destroying with creative works fine)

Issue not present with builds < 2764

[2017-12-18 06:49] vectrixdevelops commented on #1900
Is this by chance related to this? https://github.com/SpongePowered/SpongeCommon/issues/1653

[2017-12-18 06:52] ghost commented on #1900
yes exactly

[2017-12-18 06:54] #1900 closed, assigned to nobody

[2017-12-18 23:08] ghost opened #1901 "Spamming and crash after a while"
I am running
Forge 1.10.2 12.18.3.2511
Sponge 1.10.2-2477-5.2.0-BETA-2777
Java 8

 Plugins/Mods (38): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, B.A.S.E, Better Questing, Bookshelf, Buycraft, CatClearLag, Chameleon, Chisel, Clumps, CustomNPCs, Dark Roleplay Core, Dark Roleplay Medieval, EconomyLite, FastAsyncWorldEdit, Holograms, Inventory Sync, Iro

[2017-12-19 22:17] Tencao opened #1902 "Phase state error with EU2 Quarry"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2783
- Forge version: 14.23.1.2566
- Java version: 8
- Operating System: Windows

- Plugins/Mods:

**Issue Description**
When leaving the EU2 Quarry to run, it outputs a phase state error regarding getting chunks or generating chunks

Trace - https://paste.ee/r/DNjZC
Log - https://gist.github.com/Tencao/c9c42e2ae6afc1d12f9d46

[2017-12-20 04:59] JoeSGT opened #1903 "Draconic Evolution Loot Core not being spawned"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2783
- Forge version:  1.12.2-14.23.1.2565
- Java version:  8
- Operating System: Windows 10

- Plugins/Mods:
 SpongeForge-1.12.2-2555-7.0.0-BETA-2783
Draconic-Evolution-1.12-2.3.5.269-universal
BrandonsCore-1.12-2.3.4.134-universal
RedstoneFlux-1.12-2.0.1.2-universal
CodeChickenLib-1.12.2-3.1.5.331-universal

**Issue Descri

[2017-12-20 05:09] ryantheleach commented on #1429
https://github.com/micdoodle8/Galacticraft/issues/2975 and several other issues that have been closed suggest that

Is still a problem that may have been missed.

[2017-12-20 13:42] MJRLegends commented on #1429
It seems that https://github.com/SpongePowered/SpongeCommon/blob/8e3fc2f6a4c04d955aad7a83d9e5defe4220b0d2/src/main/java/org/spongepowered/common/world/WorldManager.java#L958 isnt the cause of my pain, it seems to be later on than this method is called. as it seems to return all correct dimension types

[2017-12-20 17:02] Kraziebone116 commented on #1895
Getting the same spam to console as listed above in the original post.

We updated to:
 - spongeforge-1.12.2-2555-7.0.0-BETA-2779.jar

furthermore we updated to the newest build as well to see if it got any better, but it did not:
 - spongeforge-1.12.2-2555-7.0.0-BETA-2783.jar

Currently running:
- Java version 1.8.0_131
- Forge version 1.12.2-14.23.1.2555
- CentOS release 6.9 (Final)
- DW20 1.12

[2017-12-20 18:03] gabizou commented on #1895
should be fixed in latest

[2017-12-21 08:51] Mallalei opened #1904 "No WitherSkeleton Spawn in Nether"
I have install on a FTB-SkyFactory3 Server spongeforge-1.10.2-2477-5.2.0-BETA-2777 and try it with 1.10.2-2477-5.2.0-BETA-2782 and now do not spawn witherSkeletons and blazes, blazes spawn arround his spawner but thats all… Skeletons and WitherSkeletons dont spawn!

SpongeForge is the only one Plugin that i have installed after the ModPack by FTB.

If i delete sponge it works with the spawn of thi

[2017-12-21 09:59] yyeerai opened #1905 "Ex Nihilo Creatio NPE"
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.0.0-SNAPSHOT-8821d54
- SpongeForge: 1.12.2-2555-7.0.0-BETA-2786
- Minecraft Forge: 14.23.1.2555
- Java version: 1.8
- Operating System: windows2012

** Mods** (25): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, CoFH Core, CoFH World, CodeChicken Lib, CraftTweaker JEI Support, CraftTweaker2,

[2017-12-21 10:16] gabizou commented on #1905
The NullPointerException looks to be pointing to [this line in the ExNihiloCreatio mod](https://github.com/BloodWorkXGaming/ExNihiloCreatio/blob/1.12/src/main/java/exnihilocreatio/barrel/modes/compost/BarrelModeCompost.java#L76). Nothing sponge specifically related from the error.

[2017-12-21 12:11] phit commented on #1904
gotta see if backporting https://github.com/SpongePowered/SpongeCommon/pull/1604 is needed

[2017-12-22 01:55] JoeSGT opened #1906 "Unexpected world change detected when having advancedRocketry OxygenVent in space"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2786
- Forge version: 1.12.2-14.23.1.2581
- Java version: 8
- Operating System: linux

- Plugins/Mods:
Just having SpongeForge,
advancedRocketry - 1.12.2-1.2.5a-13
LibVulpes-1.12.2-0.2.6-8

**Issue Description**
so i made a space station and from there i made an CO2 scrubber and Oxygen Vent
and power it but put Carbon collec

[2017-12-22 16:13] JBYoshi commented on #1904
I can't reproduce this without mods. I went to some newly generated nether fortresses (SpongeForge 1.10.2-2477-5.2.0-BETA-2782) and found multiple skeletons and wither skeletons around them, in addition to several blazes that were not near spawners.

[2017-12-22 16:15] phit commented on #1904
yeah skyfactory uses custom worldgen (all void) provided by a mod, hence the PR linked above probably needs to be backported

[2017-12-22 17:43] JBYoshi commented on #1904
Never mind then. Can reproduce with just [YUNoMakeGoodMap](https://minecraft.curseforge.com/projects/yunomakegoodmap) ([source](https://github.com/LexManos/YUNoMakeGoodMap))- make sure to flip on nether fortress generation in the configuration file.

[2017-12-22 17:50] JBYoshi commented on #1904
That fixes it.

[2017-12-22 17:52] JBYoshi commented on #1904
Fixed in SpongePowered/SpongeCommon@dfc7cb62c2d9633d25640610241cfa44e9d58024.

[2017-12-22 17:52] #1904 closed, assigned to phit

[2017-12-22 18:43] JBYoshi commented on #1904
Also backported to 1.11. https://github.com/SpongePowered/SpongeCommon/commit/ac6fab7818388e749221a38be6063d17846c8d67

[2017-12-22 23:05] DumbSlayer commented on #1903
ima use it to lag the shit out of servers

[2017-12-23 00:25] Runemoro opened #1907 ""Shadow field _combatTracker was not located in the target class net.minecraft.entity.EntityLivingBase""
#**I am currently running**

- SpongeForge version: 2786 dev
- Forge version: 2555
- Java version: JDK 1.8.0_144 64-bit
- Operating System: Windows 8.1

- Plugins/Mods: Sponge only

**Issue Description**

Running the dev version in IntelliJ Idea fails with the following error: https://gist.githubusercontent.com/Runemoro/93f75adf4dddc434e92d913c64824c86/raw/44bad568ed37d829c5a37183c226c8e770e351eb/

[2017-12-23 08:08] gabizou commented on #1907
Mapping difference? What snapshot of mappings are you attempting to run based on? There's a lot more than just matching the forge version in this case.

[2017-12-23 08:09] gabizou commented on #1907
Also, why are you trying to run the dev jar of SpongeForge?

[2017-12-23 08:12] gabizou commented on #1907
For reference, Sponge is using an MCP snapshot version that is old enough where the name of the field is appropriately `_combatTracker`. The history available for the field is as follows:
[code]

[2017-12-23 09:23] Runemoro commented on #1907
I'm running the dev jar to debug a problem with my mod that happens only with SpongeForge enabled. I'm using the latest mappings, which mappings should I be using instead?

[2017-12-23 10:49] bl4ckscor3 commented on #1623
The issues got fixed in SecurityCraft's code. Thanks for your hint towards the problem!

[2017-12-23 15:58] phit commented on #1907
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/gradle.properties#L8

`snapshot_20171003` that's also the version currently shipped with the Forge MDK

[2017-12-23 16:19] phit commented on #1895
@Keaton1188 still an issue in latest?

[2017-12-23 17:15] Lantcoder opened #1908 "Incorrect interaction of lava with water in automatic stone generator"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2786
- Forge version: forge-1.12.2-14.23.1.2555-universal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: Linux Main 4.13.0-21-generic #24-Ubuntu SMP Mon Dec 18 17:29:16 UTC 2017 x86_64 x86_64 x86_64 GNU/Lin

[2017-12-23 18:32] Runemoro commented on #1907
Ok, thanks. That works.

[2017-12-23 18:32] #1907 closed, assigned to nobody

[2017-12-23 19:14] JBYoshi commented on #1908
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/a7738effbce1bceabaae964cdceb80e1db640967.

[2017-12-23 19:14] #1908 closed, assigned to nobody

[2017-12-23 22:12] Runemoro opened #1909 "SpongeForge block place behavior not the same as Forge"
**I am currently running**

- SpongeForge version: 2791
- Forge version: 2555
- Java version: JDK 1.8.0_144 64-bit
- Operating System: Windows 8.1

- Plugins/Mods: Sponge, DimDoors

**Issue Description**
The SpongeForge block place behavior is different from Forge:
 1. Sponge calls the `onBlockAdded` method later (not sure when) than from within the `setBlockState` like Forge does. This prevents m

[2017-12-23 23:16] tgstyle commented on #1700
https://github.com/SpongePowered/SpongeForge/issues/1327

[2017-12-24 00:08] Keaton1188 commented on #1895
Not able to test on latest version yet as newest sponge version breaks a plugin of ours, dev can't fix it till Jan 3rd so gotta wait.

[2017-12-24 00:52] bl4ckscor3 commented on #1623
Accidently clicked on close and comment, sorry. The "unexpected world change" issue is still happening.

[2017-12-24 00:56] phit commented on #1623
Mind adding a log with latest version and a reproduction for that one? otherwise this issue is getting quite cluttered with a lot of different things and I couldn't even find the log "unexpected world change".

[2017-12-24 00:59] phit commented on #1905
linking for reference https://github.com/BloodWorkXGaming/ExNihiloCreatio/issues/51

[2017-12-24 13:07] rediomand opened #1910 "Nether chunk generation Server-Crash"
I am currently running

SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2793
Forge version: 2477
Java version: 1.8
Operating System: debian

skyfactory3 Modpack
- Plugins/Mods :Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Not Enough Items, OpenComputers (Core), FoamFixCore, ccl-entityhook, Fence Overhaul, Actually Additions, CodeChicken Lib, C

[2017-12-24 21:05] Mohron commented on #1346
This problem exists in 1.12.2
https://github.com/Ipsis/Woot/issues/288
woot-1.12.2-0.0.4
spongeforge-1.12.2-2555-7.0.0-BETA-2794

[2017-12-24 21:13] Mohron opened #1912 "Woot - Unable to Capture Dragon"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2794
- Forge version: forge-1.12.2-14.23.1.2560-universal
- Java version: 1.8
- Operating System: Ubuntu

- Plugins/Mods:
**Plugins (20):** Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AutoBroadcaster, BadgeUp Sponge Client, BetterChunkLoader, CarrotShop, DimReseter, Discord Bridge, EconomyLite, GotR S

[2017-12-25 12:35] flawnn opened #1914 "SpongeForge 1.8.9?"
Hey,
I want to use SpongeForge with 1.8.9. Isn't it available?  And is there a way to do it?

Greetings
Flawn

[2017-12-25 12:52] bl4ckscor3 commented on #1623
It's this log ryantheleach posted. https://gist.github.com/ryantheleach/adc192aafc99c5bf11fd3cc8d388172f
It happens whenever a correct code gets entered into the Keypad and activates it.

[2017-12-25 15:28] phit commented on #1914
http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/index_1.8.9.html

[2017-12-25 15:28] #1914 closed, assigned to nobody

[2017-12-25 16:35] flawnn commented on #1914
How can i make now Mods with it? @phit

[2017-12-25 16:40] phit commented on #1914
what?

[2017-12-25 16:48] flawnn commented on #1914
Like developing Mods with SpongeForge 1.8.9.... Or didn't i get the way how to @phit

[2017-12-25 19:16] flawnn commented on #1914
How do i use that? @phit

[2017-12-25 19:41] phit commented on #1914
I don't understand your question, Sponge is a plugin API you don't make mods with it.. you can read the older documentation here https://docs.spongepowered.org/4.1.0/en/index.html

[2017-12-25 20:03] flawnn commented on #1914
Isn't there a way, to do a Mixin for a Client as Coremod with Sponge?

[2017-12-25 20:08] phit commented on #1914
Mixin is an independent system from Sponge, you can use it without it. The wiki for it should explain everything you need to know in detail https://github.com/SpongePowered/Mixin/wiki

[2017-12-25 20:18] flawnn commented on #1914
Ok thanks, but can i use it for changing Clientside Bytecode?

[2017-12-25 20:21] flawnn commented on #1914
I did my Workingspace, but my problem was, that i couldn't find anything in gradle/maven that imports Client side code.

[2017-12-25 20:25] ShortCircuit908 opened #1915 "Incorrect mapping of MainPlayerInventory rows"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2797
- Forge version: 14.23.1.2555
- Java version: 1.8
- Operating System: Windows 10

- Plugins/Mods: tieredkits (not released, in development)

**Issue Description**
The player's GridInventory is mapped to the top two rows of the main inventory, and the hotbar
The player's Hotbar is mapped to the bottom row of

[2017-12-25 20:26] phit commented on #1915
@Faithcaio

[2017-12-25 20:32] flawnn commented on #1914
And i don't see any Documentation how to setup the Workspace. I just did it with the IntelliJ Plugin and chose Sponge....

[2017-12-26 03:08] brandon3055 commented on #1903
DE collects items via the forge Entity join world event in order to capture all possible drops from a block. I suspect sponge is somehow interfering with this event
https://github.com/brandon3055/BrandonsCore/blob/master/src/main/java/com/brandon3055/brandonscore/handlers/BCEventHandler.java

[2017-12-27 07:34] Faithcaio commented on #1915
Maybe just need to swap around the lens consctruction order in MainPlayerInventoryLensImpl.
But this might then in turn break Container order.
I'll look into it this evening.

[2017-12-27 15:59] Mallalei opened #1916 "Light Bug"
**I am currently running**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2793
- Forge version: 2477
- Java version: 8
- Operating System: Linux

- Plugins/Mods: FTB SkyFactory3 Modpack, PermissionEX, Catclear, simplyChat, SimplyTag, Worldedit, ActionBroadcaster.

I have a light bug in the whole world. If someone wants to build a mop farm, the light level in the "dark room" is not 0, b

[2017-12-27 16:21] phit commented on #1916
post screenshot of room

[2017-12-27 16:59] Mallalei commented on #1916
![2017-12-27_17 57 13](https://user-images.githubusercontent.com/22809362/34387631-94a65282-eb2f-11e7-8ad4-d37e38a6df64.png)
![2017-12-27_17 57 18](https://user-images.githubusercontent.com/22809362/34387632-94bd5efa-eb2f-11e7-8f83-28c8e7189187.png)
![2017-12-27_17 57 26](https://user-images.githubusercontent.com/22809362/34387633-94d440c0-eb2f-11e7-8147-92ef66f59c6d.png)
![2017-12-27_17 56 59](ht

[2017-12-27 18:02] #1915 closed, assigned to nobody

[2017-12-28 02:26] JoeSGT opened #1917 "Redstone Clock (Extra Utilities) bad performance"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2799
- Forge version: 1.12.2-14.23.1.2581
- Java version:  8
- Operating System: linux

- Plugins/Mods:
https://gyazo.com/4acc15bd3f2a7ce79ac1fe2ce8dba0d2

**Issue Description**
When i place down redstone clock  from Extra Utilities and put a redstone dust on top the TPS start to goes down
i saw that there a config selection

[2017-12-28 02:51] phit commented on #1917
noticed this too, looks like the block-capturing ignore list no longer works as before

[2017-12-28 03:28] cdog580 opened #1918 "multiple server crashes following crash report by sponge"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2799
- Forge version: forge-1.12.2-14.23.1.2555
- Java version: java 8 update 151
- Operating System: windows 10 home 64 bit

- Plugins/Mods:
Mods (25): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, BC Builders, BC Energy, BC Factory, BC Robotics, BC Silicon, BC Transport, BuildCr

[2017-12-28 04:45] phillipinman opened #1919 "Chest contents disappearing Randomly"
- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2797
- Forge version: forge-1.12.2-14.23.1.2555-universal
- Java version: 1.8.0_151
- Operating System: Ubuntu 16.04 LTS

- Plugins/Mods: spongeforge-1.12.2-2555-7.0.0-BETA-2797

**Issue Description**

Chest contents inconsistency disappear when closed. Happens on world load, server restart and just being the the loaded chunks.
Does not aff

[2017-12-28 07:28] Faithcaio commented on #1918
`io.github.aquerr.eaglefactions.listeners.PlayerMoveListener.onPlayerMove(PlayerMoveListener.java:47)`
calls setLocation during a Move or Teleport Event instead of using the method on the event. `setToTransform`
This causes infinite recursion.

[2017-12-28 10:18] LemADEC opened #1920 "Teleporting into blocks"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2786.jar
- Forge version: forge-1.12.2-14.23.1.2580-universal.jar
- Java version: java-1.8.0-openjdk-1.8.0.151-5.b12.el7_4.x86_64/jre
- Operating System: CentOS Linux release 7.4.1708 (Core)

- Plugins/Mods:
FTB Revelation 1.0.0
Nucleus
GriefPrevention

**Issue Description**
when teleporting to unloaded chunk, pla

[2017-12-28 13:35] dualspiral commented on #1920
Can you check this without Advanced Rocketry? There was an issue with that causing players to get stuck like this when teleporting.

https://github.com/zmaster587/AdvancedRocketry/issues/995

[2017-12-28 15:09] LemADEC commented on #1920
Testing without AR is too impacting. Would be easier if sponge booted in single player.

[2017-12-28 15:17] #1920 closed, assigned to nobody

[2017-12-28 15:18] phit commented on #1920
Remove Advanced Rocketry or patch your client version with this https://phit.link/s/AdvancedRocketry-1.12.2-1.2.6-37.jar

Not a Sponge issue

[2017-12-28 15:22] LemADEC commented on #1920
Removing AR from the official version of an FTB modpack, you're kidding right?

[2017-12-28 15:26] phit commented on #1920
Why would I be kidding? that will fix your issue as it is 100% unrelated to Sponge.. or you know spend 5min on the AR issue tracker and realize you can patch [this](https://github.com/zmaster587/AdvancedRocketry/commit/0950322e192f219d860b74eeb6de3b00bf8d5592) client side, or even better just use the version I just provided

[2017-12-28 19:47] gabizou commented on #1920
I'm somewhat curious as to what sort of errors you're getting trying to load sponge forge on the client.

[2017-12-29 00:55] ParsaRezaei commented on #1869
does this issue have a solution yet?

[2017-12-29 13:55] LemADEC opened #1921 "Sponge causes elec332 to crash on loading single player worlds"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2799.jar
- Forge version: 14.23.1.2575
- Java version: 1.8.0_25
- Operating System: Windows 10 64bits

- Plugins/Mods:
FTB Revelation 1.0.0, single player

**Issue Description**
When adding Sponge to the modpack, game will crash when loading or creating a single player world (creative, default options).
Steps to

[2017-12-29 13:56] LemADEC commented on #1920
@gabizou I've added #1921 for this

[2017-12-29 23:27] jfrederickson commented on #1840
Experiencing what looks like the same thing with:

- SpongeForge 1.12.2-2555-7.0.0-BETA-2799
- Forge 1.12.2-14.23.1.2555
- OpenComputers MC1.12.1-1.7.1.43
- Debian 9.3
- OpenJDK 1.8.0_151

https://gist.github.com/jfrederickson/ca64e23202fdb4d105bfb94d4a5b4b14

[2017-12-30 00:20] HorizonsMC commented on #1906
I don't get the spam but it may be related to this.

https://github.com/zmaster587/AdvancedRocketry/issues/1009

[2017-12-31 20:06] Dockter opened #1922 "EntityData NPE on client launch"
**I am currently running**
- SpongeForge version: 2806
- Forge version: 2582
- Gist: https://gist.github.com/Dockter/ecf8a820d2308c067c6b62491ccbc9ac

Used same client configuration under 2798 and everything is fine.  Haven't find point tested builds in between this and 2806

[2017-12-31 20:27] #1922 closed, assigned to gabizou

[2017-12-31 21:43] alicheek opened #1923 "High Core Usage with 1.12 Modpacks & Sponge - 1.12.2-2555-7.0.0-BETA-2807 - Horizons 3 Details"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2807
- Forge version:  14.23.1.2566
- Java version: build 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

Server details:
CPU
Intel(R) Xeon(R) CPU E5-1620 v2 @ 3.70GHz
Cores : 8
Cache : 10240KB
RAM
4x 16384MB DDR4 @ 2400Mhz
Disks
3 x 300 GB SSD
Motherboard
X9SRE/X9SRE-3F/X9SRi/X9SRi-3F

- Plugins/Mods:

Hori

[2017-12-31 21:47] phit commented on #1923
set `deny-chunk-requests` to false if you don't want mods to load areas, nothing sponge can do about mods using cpu otherwise

and especially refined storage is known for its bad performance regardless of Sponge installed or not
https://github.com/raoulvdberge/refinedstorage/issues/838
https://github.com/raoulvdberge/refinedstorage/issues/1525

[2017-12-31 21:51] alicheek commented on #1923
@phit  I have tested deny-chunk-requests being set to false and this still occurs for some reason

[2018-01-01 00:20] KhaozFrost opened #1924 "Skins disappearing constantly"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2807
- Forge version: 2555
- Java version: 1.8.0_151
- Operating System: Linux OS

- Plugins/Mods:
1st test - SpongeForge / Forge
2nd test - SpongeForge / Forge / Pixelmon Reforged / GriefPrevention / Nucleus / Luckperms ((all on latest versions))

**Issue Description**
http://prntscr.com/hubsbo
http://prntscr.com/hubsif
htt

[2018-01-01 00:21] phit commented on #1924
been seeing this too, not sure if it's sponge or nucleus.. havent had time to test this yet
see also https://github.com/NucleusPowered/Nucleus/issues/1041

[2018-01-01 00:24] KhaozFrost opened #1925 "Constant Client Disconnects Network Dispatcher"
**I am currently running**

    SpongeForge version: 1.12.2-2555-7.0.0-BETA-2807
    Forge version: 2555
    Java version: 1.8.0_151
    Operating System: Linux OS

    Plugins/Mods:
    1st test - SpongeForge / Forge
    2nd test - SpongeForge / Forge / Pixelmon Reforged / GriefPrevention / Nucleus / Luckperms ((all on latest versions))

**Issue Description**

`31.12 08:51:33 [Server] Netty Epoll

[2018-01-01 00:27] phit commented on #1925
That super generic error is sadly not very helpful, I personally get that error a lot when my internet is being slow.

I'll leave this issue open but unless you find a way to consistently reproduce this without any mods/plugins, I would call it a network issue and not a bug.

[2018-01-01 00:28] phit commented on #1923
provide a simple test world to reproduce this with as few mods as possible and I'll look at it, but right now this looks like a mod issue

[2018-01-01 00:32] phit commented on #1919
will need logs and update to latest and retest, I haven't seen this on any of personal servers nor has anyone else reported this, as it is a quite serious issue you would think someone else would have

[2018-01-01 00:33] phit commented on #1921
please report this to the mod author

[2018-01-01 00:34] phit commented on #1918
please report this to the plugin author

[2018-01-01 00:34] #1918 closed, assigned to nobody

[2018-01-01 00:46] phit commented on #1893
Sponge adds the ability to disable these checks itself, you don't need a mod for that. Which you can enable in the Sponge `global.conf`

[code]

For the second issue please open a separate issue for that, otherwise it will probably get lost.

[2018-01-01 02:14] smmmadden commented on #1925
I've seen the same on my Pokecube Server and downgraded to build 2758.  After this build, it throws PhaseState Exceptions and the network dispatcher exception periodically and then the server needs to be restarted.  The two are probably not related, but 2758 is the only one I can use currently.

[2018-01-01 02:33] JBYoshi commented on #1925
@smmmadden What are the PhaseState exceptions?

@KhaozFrost Could you post the full server log? I think the full error is longer.

[2018-01-01 02:45] smmmadden commented on #1925
http://www.minecraftforge.net/forum/topic/62215-exception-occurred-during-a-phasestate-on-startup/
https://forums.spongepowered.org/t/exception-occurred-during-a-phasestate-on-startup/21845

[2018-01-01 02:47] phit commented on #1925
relevant section https://gist.github.com/phit/74e8f94e50c38c6e6cd32bd1c8aae79c

[2018-01-01 07:54] phillipinman commented on #1919
Indeed, I suspected at first it was weirdness with my environment.

If you haven't seen this issue with any other servers ill investigate further and report back.

The server setup does use bungeecord with a plugin to allow forge connections through the proxy but from what testing the issue persists with a direct connection bypassing the proxy. Will update shortly with a fresh world, direct connec

[2018-01-01 09:07] gabizou commented on #1465
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:07] #1465 closed, assigned to nobody

[2018-01-01 09:08] gabizou commented on #1577
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:08] #1577 closed, assigned to nobody

[2018-01-01 09:08] gabizou commented on #1600
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:08] #1600 closed, assigned to nobody

[2018-01-01 09:08] gabizou commented on #1615
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:08] #1615 closed, assigned to nobody

[2018-01-01 09:09] gabizou commented on #1621
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:09] #1621 closed, assigned to nobody

[2018-01-01 09:09] gabizou commented on #1415
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:09] #1415 closed, assigned to gabizou

[2018-01-01 09:09] gabizou commented on #1648
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:09] #1648 closed, assigned to nobody

[2018-01-01 09:11] gabizou commented on #1654
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:11] #1654 closed, assigned to nobody

[2018-01-01 09:11] gabizou commented on #1687
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:11] #1687 closed, assigned to nobody

[2018-01-01 09:12] gabizou commented on #1093
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:12] #1093 closed, assigned to nobody

[2018-01-01 09:13] gabizou commented on #1259
Fairly sure this is still going to be affected in 1.12, the sooner we can try to reproduce the issue on 1.12 the better, I've kept kicking the can down the road at the monstrosity that exists for translating sponge events to forge events, sometimes it's not very clear.

[2018-01-01 09:14] gabizou commented on #1366
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:14] #1366 closed, assigned to nobody

[2018-01-01 09:14] gabizou commented on #1402
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 09:14] #1402 closed, assigned to nobody

[2018-01-01 12:59] LemADEC commented on #1919
Please provide a list of mods too

[2018-01-01 15:48] phit commented on #1320
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:48] #1320 closed, assigned to Aaron1011

[2018-01-01 15:48] phit commented on #1797
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:48] #1797 closed, assigned to nobody

[2018-01-01 15:49] phit commented on #1551
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed