[2016-03-25 19:08] Aaron1011 commented on #582
@prolix: I can't seem to reproduce this. Do you have any mods installed?

[2016-03-25 19:21] prolix commented on #582
91 mods, https://gist.github.com/prolix/758cc1cc96b1a99422ec

[2016-03-25 19:27] Aaron1011 commented on #582
@prolix: Can you give me a link to the modpack you're using, or some way to download the correct version of all of those mods?

[2016-03-25 19:41] prolix commented on #582
Sorry for not listing mods before and giving light info, here is a thread to all the info on the modpack

https://forums.joe.to/viewtopic.php?f=226&t=73672

[2016-03-25 19:43] Aaron1011 commented on #582
@prolix: No problem :). Btw, this is almost certainly an issue with one of those mods incorrectly implementing `ICommand`. I'll be reporting an issue to the developers once I track it down.

[2016-03-25 19:51] prolix commented on #582
Ok thanks a lot! Give it a bit to download the pack as i'm fixing a upload corruption issue. Will post when it's ready

[2016-03-25 20:42] prolix commented on #582
Pack is updated and stable, try giving it a test now. My server info is in the forum thread for the pack

[2016-03-25 21:01] Aaron1011 commented on #582
@prolix: I'm trying the latest version, but it's hanging on a line about missing textures, when the client is starting.

[2016-03-25 21:08] prolix commented on #582
Make sure you give the launcher more than 1.5GB of memory allocation or it
likes to hang on startup.

On Fri, Mar 25, 2016 at 5:01 PM, Aaron Hill <notifications@github.com>
wrote:

--
Nic "prolix" Haney
Senior Administrator for www.joe.to - A social community since 1996

______________________________________
[image: Inline image 6]- prolix@joe.to <prolix@gmail.com>
[image: Inline image 3] - proli

[2016-03-25 21:13] Aaron1011 commented on #582
@prolix: Thanks, allocating more ram fixed it :)

[2016-03-25 21:16] prolix commented on #582
@Aaron1011: No problem! If you whisper me your UUID/IGN I'll PM you an IP for a whitelisted server

[2016-03-25 23:00] #582 closed

[2016-03-25 23:01] Aaron1011 commented on #582
@prolix: This should be fixed in the latest build of SpongeForge.

[2016-03-26 02:28] seanamor opened #583 "Chat Event Error"
Minecraft: 1.8.9
SpongeAPI: 4.1.0-SNAPSHOT-dd7e8e2
SpongeForge: DEV
Minecraft Forge: 11.15.1.1764

http://hastebin.com/pufoluroji.avrasm

[2016-03-26 02:34] windy1 commented on #583
Either you aren't on 4.1.0 like you say you are or you are building your plugin incorrectly because this is the result of an outdated API.

`java.lang.NoSuchMethodError: org.spongepowered.api.event.message.MessageChannelEvent$Chat.getMessage()Ljava/util/Optional;`

This method no longer returns an `Optional` but rather a `Text` object.

[2016-03-26 02:34] #583 closed

[2016-03-26 06:28] Favorlock opened #584 "BlockRay Filters not working very well for BlockTypes.SKULL"
This is the code that I am using for detecting if a player is looking at a skull: http://pastebin.com/2TFxaq59

What I'm expecting is that if the player is directly looking at a skull the skull should trigger a hit, but that is not the case most of the time. I generally have to be right next to the skull for it to even trigger a hit and even then it doesn't work some times.

If I am going about th

[2016-03-26 06:39] Minecrell commented on #584
Block ray will return the last block that matches the filter, AIR doesn't match your filter, therefore it will only work if there is no other block between the skull and the player. You should use a `onlyAirFilter` together with a `maxDistanceFilter` of 1, then that will return the first block after the filter stops matching, so actually the block the player is looking at. Then just check if it's

[2016-03-26 14:03] DDoS commented on #584
It's not maxDistance but continueAfter. Also skulls are partial blocks which is not really supported right now. The whole block bounding box is used, not the skull one.

[2016-03-26 16:29] Minecrell commented on #584
Fail, that's what I wanted to write :P

[2016-03-27 20:23] Favorlock commented on #584
Looks like your suggestion does the job @Minecrell The only explanations on the forum don't mention using continueAfterFilter.

Thanks

[2016-03-27 20:23] #584 closed

[2016-03-28 11:51] killerjerick opened #585 "Crash on custom pack with 150 mods"
Hey guys, it's probably just an incompatibility but the crashlog seems to reference nothing of the sort so I thought I'd post the crash log and see if there is a fix for it.

1.8.9
Forge 1808
Sponge 1808

[code]

[2016-03-28 12:30] kashike commented on #585
Could you provide a list of the mods?

[2016-03-28 12:57] modwizcode commented on #585
@kashike I think this is probably an issue with one of the listed coremods preventing the mixin for `ItemType` from being applied properly

[2016-03-28 13:05] modwizcode commented on #585
Sorry, jumped a beat, missed the title, yeah definitely going to need a complete listing of mods.

[2016-03-28 16:06] theboomer opened #586 "No thunder/lightning storms"
Spongeforge 1227 (and earlier versions)

Weather can be changed by command to sunny/rain/thunder but no lightning/thunder is generated during the storm - have surveyed various biomes out, kept changing weather to storm mode, no success.  Forge with spongemod disabled= thunderstorms work fine.

Nor does summoned LightningBolt trigger a spawnentity event

[2016-03-28 17:40] hunter688 commented on #535
looks like this bug is back :-( spongeforge build 1227

[2016-03-28 17:46] Favorlock opened #587 "Cannot Cancel SendCommandEvent"
Here is the code I am using: http://pastebin.com/xb39gkjC

I've verified that the setCancelled method is being trigger with logging, so the event should be cancelled, but the command is still executing.

[2016-03-28 19:49] killerjerick commented on #585
The list is pretty long, like I said I don't want to waste your time but if any of these mods are known to cause issues please let me know :) Thanks guys!
 http://i.imgur.com/zNF6k0L.png

[2016-03-28 19:52] kinggoesgaming commented on #585
holy... I would be not surprised if more than one mod in there is causing the crash :tongue:

[2016-03-28 19:53] modwizcode commented on #586
I'll investigate.

[2016-03-28 19:54] liach commented on #585
@killerjerick You should post the full log, as mixin has debug outputs.

[2016-03-28 20:15] gabizou commented on #585
One of the core mods seems to be loading the `net.minecraft.item.Item` class earlier than SpongeForge can start mixins:

[2016-03-29 00:39] modwizcode commented on #586
With respect to the lack of any lightning during a storm  the cause was not easy to find, but the fix was a single character, the code in SpongeCommon checked for a canceled `ConstructEntityEvent.Pre` rather than a non-canceled one.

As for the non-fired `SpawnEntityEvent`, weather effects are handled slightly differently from standard entities, in this case, before Minecraft creates the lightning

[2016-03-29 00:58] JonathanxD commented on #585
I tried to start a server with DummyCore-2.2.189.0.jar, may be DummyCore.
[code]

I've added only DummyCore

forge-1.8.9-11.15.1.1808
spongeforge-1.8.9-1763-4.1.0-BETA-1220

[2016-03-29 01:25] modwizcode commented on #585
Different error

[2016-03-29 02:31] theboomer commented on #586
Not being in the spawn event for a summon makes sense ..sorta.. from a non-necessary point of view, if it throws a specific event in exchange, as well as the construction event.

I had issues with the construction events not being triggered the last time I was trying to play with them a week or so ago and figured it was one of the nonimplimented things, so I didn't test it.

Thank you for addressi

[2016-03-29 02:49] modwizcode commented on #586
Indeed it is, it was a tricky problem to track down though.

[2016-03-29 05:17] #586 closed

[2016-03-29 18:05] JonathanxD commented on #585
mdcore is the causer.

Full log:
[code]

[2016-03-29 18:23] Xiaminou opened #588 "[4.1.0] Compatibility issue with Agricraft"
Agricraft is incompatible with SpongeForge.
(reported on both githubs)

Crash Report: http://pastebin.com/AZxAe9uV

[2016-03-29 18:36] Deamon5550 commented on #588
For reference the Agricraft issue: InfinityRaider/AgriCraft#601

[2016-03-29 18:42] Deamon5550 commented on #585
Well theres the problem... [this transformer](https://github.com/MattDahEpic/MDECore/blob/1.9.X/src/main/java/com/mattdahepic/mdecore/asm/TickrateTransformer.java) class loads his mods main class [in order to use the logger](https://github.com/MattDahEpic/MDECore/blob/1.9.X/src/main/java/com/mattdahepic/mdecore/asm/TickrateTransformer.java#L19) which causes [Item and Material to be classloaded as

[2016-03-29 18:42] gabizou commented on #585
Any ideas on where to report to the developer of mdcore?

[2016-03-29 18:44] InfinityRaider commented on #588
Issue can be closed here, error is entirely on our side.

[2016-03-29 18:56] #588 closed

[2016-03-29 19:13] theboomer opened #589 "ConstructEntityEvent.POST event caught, but nothing there"
Abstract errors all around for getTargetType, getTargetEntity, etc
Spongeforge1808

I need an event that contains both the cause of the spawning (ie, mobcube) and the ability to get the spawnedentity UUID both, and the .POST seems like where it will be at.

[2016-03-29 20:29] hunter688 opened #590 "villages / entities problem"
Tested on the latest spongeforge, no mods. When go to village, press F3 to see entities. They will unstoppable grow. After some limit will fps drop to 1 fps. Looks like something wrong with villages/villagers/something else.

[2016-03-29 21:13] hunter688 commented on #590
some clientside mod, sorry... :-(

[2016-03-29 21:13] #590 closed

[2016-03-29 21:14] KumaGetsu opened #591 "Server Crash - Failed to parse JSON"
Whenever these written_book items are grabbed from a chest/inventory/enderchest it causes this crash.
http://paste.ubuntu.com/15554956/

I've uploaded a world with the bad written_book. Chests with broken books are located at -193 68 232
https://www.dropbox.com/s/arnobdb87c02yww/world.7z?dl=0

[2016-03-29 21:32] hunter688 commented on #590
BaseMetals 1.7.4 - when on clientside causes the issue

[2016-03-29 21:59] gabizou commented on #585
@killerjerick You'll have to re-create the process again to find out what core mod is loading the Forge event classes before SpongeForge can get to them.

[2016-03-30 00:51] #591 closed

[2016-03-30 13:51] KumaGetsu opened #592 "Cannot Cancel onDropItemListener"
SpongeForge 4.1.0-BETA-1229

onDropItemListener not being cancelled after updating SpongeForge.

Code: http://paste.ubuntu.com/15559551/

[2016-03-31 04:29] #563 closed

[2016-04-01 02:37] MattDahEpic commented on #585
I've fixed my end of the problem.

[2016-04-01 16:51] KumaGetsu opened #593 "InvalidMixinException"
SpongeForge 4.1.0-BETA-1229

This error shows in the logs during start.

http://paste.ubuntu.com/15578358/

[2016-04-01 16:52] KumaGetsu commented on #592
Update - The cancel does seem to work, but it does not give the items back to the player

[2016-04-01 18:17] KumaGetsu opened #594 "BlockRedstoneWire server crash after timeout"
SpongeForge 4.1.0-BETA-1229

A player on my server created a redstone clock with hoppers. When the chunk was loaded it caused the server to timeout and crash.

Crash Log:
http://paste.ubuntu.com/15579395/

[2016-04-01 19:36] gabizou commented on #593
Updating to 1231 fixes this.

[2016-04-01 19:36] #593 closed

[2016-04-01 19:38] gabizou commented on #589
You're not really making sense, there is no SpongeForge 1808 build, we've only reached so far build 1231 today.

Could you clarify what the actual issue is (I don't care for reasons why you want to use the event) and what your event listener looks like?

[2016-04-01 19:39] gabizou commented on #581
@Aaron1011 you said so yourself, anything to go on?

[2016-04-01 19:40] gabizou commented on #577
I believe we fixed this bug a while back, @Deamon5550 was this a bug you fixed at some point?

[2016-04-01 19:43] gabizou commented on #570
There's nothing we can do on our end as PlayerAPI is simply overwriting the entire method.

[2016-04-01 19:43] #570 closed

[2016-04-01 19:44] gabizou commented on #568
@Zidane I'm assuming that this is fixed for 1.9 update, but what about a 1.8.9 fix?

[2016-04-01 21:43] #594 closed

[2016-04-01 21:45] Aaron1011 commented on #594
@KumaGetsu: This was caused by `UserDiscoverer` failing to cache user instances, and repeatedly triggering a disk lookup. It should be fixed in the latest SpongeForge.

[2016-04-01 22:10] theboomer commented on #589
Hmm, my version info got all truncated out -- At the time of posting, it was Spongeforge-1808-1228 with forge-1808

LISTENER CODE:
[code]
Event fires, but the methods in the event throw abstract errors when called:

Log:
[code]

[2016-04-01 22:48] theboomer commented on #589
Also to clarify, its not like its just that one error message aka "oh, something to do with endercrystals" - the event throws a few hundred times when the server starts up with no login, throwing on all types of entities in the stacktrace, cows, pigs, sheep, skeletons...

[2016-04-01 23:14] gabizou commented on #589
I believe I know the root of the issue then, I'll have a fix in a moment.

[2016-04-02 00:46] #589 closed

[2016-04-02 03:58] theboomer commented on #589
Excellent, that brought the getTargetEntity, getTargetType, and getTransform out of abstract errorville..
But the CAUSE is a constant unchanged for all entity spawns alike -- is this also due to missing a bridge from a placeholder cause and a fast fix, or is it a huge undertaking because no cause code is in place for it|?

[code]

[2016-04-02 07:05] Minecrell commented on #577
https://github.com/SpongePowered/SpongeCommon/issues/601

[2016-04-02 07:05] #577 closed

[2016-04-02 15:35] MrQwer opened #595 "Unable to launch"
Hi !
I've downloaded

Forge version: forge-1.8.9-11.15.1.1808-universal.jar

Sponge version: spongeforge-1.8.9-1808-4.1.0-BETA-1230-dev.jar

but when I want to start the server, it interrupts with an error: Unable to launch [...] Class not found [...] caused by: FMLSecurityManager -> http://pastebin.com/APrq5kRU
I thought, maybe it's the version so I tried it with an older version, but the same er

[2016-04-02 15:36] Minecrell commented on #595
Please post the full error.

[2016-04-02 15:41] Minecrell commented on #595
You downloaded the wrong JAR, you need to download the main (Mod) JAR, not the dev JAR.

[2016-04-02 15:41] #595 closed

[2016-04-02 20:24] bloodmc commented on #539
@SocraticPhoenix is this with SpongeForge installed on client? If so try removing it and test again.

[2016-04-03 04:44] SocraticPhoenix commented on #539
@bloodmc
At the time I believe it was on the server.

[2016-04-03 09:34] hunter688 opened #596 "Digging Giant Red Flower Petal crash server"
When using BIomes O Plenty - and try to digging Giant Red Flower Petal using axe in the Flower Island biome. server crashed. Looks like something wrong with causing system.

Crashreport:

http://pastebin.com/FRzCxT67

[2016-04-03 11:53] modwizcode commented on #539
I suspect the source of this error is the `ProjectileLogic` class SpongeCommon uses that causes the linked issue. This is almost certainly not a SpongeForge specific issue.

[2016-04-03 16:13] gabizou commented on #596
[code]
The relative line:
[code]

Somehow, there's an `Item` that has an `ItemStack` that has a null `ItemType`.

[2016-04-03 16:14] Aaron1011 commented on #596
I've opened an issue on BOP, but forgot to link it here:
https://github.com/Glitchfiend/BiomesOPlenty/issues/731

[2016-04-04 00:09] Aaron1011 commented on #596
@hunter688: The issue should be resolved in the latest BOP.

[2016-04-04 00:09] #596 closed

[2016-04-04 05:09] hunter688 commented on #596
Thanks a lot!

[2016-04-04 12:33] NiceDev opened #597 "Opening CustomInventory doesn't work?"
Hey!
When I try to open a simple inventory like this:
`        CustomInventory inventory = CustomInventory.builder().name(new FixedTranslation(TextColors.RED.getId() + "Test")).size(45).build();
        player.openInventory(inventory, null);`
it throws an exception:
`[14:29:50] [Server thread/ERROR] [Sponge]: Could not pass InteractBlockEvent$Secondary$Impl to org.spongepowered.mod.plugin.SpongeMo

[2016-04-04 15:05] Deamon5550 commented on #597
Custom inventories aren't implemented yet so there is no builder for it to find.

[2016-04-05 06:10] hunter688 opened #598 "SpongeForge build 1241 crashing during startup"
1240 and lower works...

end of log: http://pastebin.com/WucRFYkf

[2016-04-05 07:24] StevenB83 opened #599 "SpongeForge build 1232-1241 crash"
Hi,

Using Forge build 1808 SpongeForge build 1232 through 1240 crash with the same error.
http://pastebin.com/vafJ3mM5

Build 1226 and 1231 works fine, haven't tested 1227-1230.

Regards,
Steven

Edit: This doesn't occur on new world generation, if you want me to test anything let me know.
Edit 2: 1241 crashes with the error mentioned in #598

[2016-04-05 11:22] pickman opened #600 "Sponge Forge 1.8.9-1808-4.1.0-BETA-1241"
Launch error sponge forge server.

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/204316/fml-server-latest.txt)

[2016-04-05 11:38] hunter688 commented on #600
duplicate #598

[2016-04-05 14:38] simon816 commented on #600
Closing, duplicate of #598

[2016-04-05 14:38] #600 closed

[2016-04-05 14:53] #599 closed

[2016-04-05 14:54] simon816 commented on #599
The crash was hiding the actual error so if you have an issue again then re-open.
For the other issue, wait until #598 is resolved

[2016-04-05 15:41] #598 closed

[2016-04-06 11:40] hunter688 opened #601 "minetweaker reload does not work with SpongeForge"
when do /mt reload

http://pastebin.com/6fjPtwvS

[2016-04-06 19:35] Aaron1011 commented on #601
@hunter688: I've opened an issue with MineTweaker to fix this problem.

[2016-04-07 04:01] #480 closed

[2016-04-08 01:41] dh47 opened #603 "Spongeforge and Agricraft"
@bloodmc requested me to make this ticket.

Hey guys trying to run Spongeforge but I'm getting a crash on start up running forge 1.8.9 1808 and with sponge 1249 what am I doing wrong. http://pastebin.com/xkTp6GxW

Error seems to be Agricraft removing it has allowed the server to start.

My gut said that mod because it caught my eye in the console. > http://pastebin.com/RGw9rF9s

[2016-04-08 03:50] dh47 commented on #580
Can also confirm the same is happening with the same error about, both sponge and denseores are installed, once a denseore is mined nothing else can be mined after.

[2016-04-08 15:12] KumaGetsu opened #604 "Items showing negative number"
SpongeForge 4.1.0-BETA-1253

Plugin which takes an item away is causing the item to go negative instead of removing from inventory.

[2016-04-08 15:54] ST-DDT commented on #604
Could you please post your code that is causing this issue?

[2016-04-08 19:21] Aaron1011 commented on #580
@dh47: I've had a lot of difficulty reproducing this. Are you consistently able to get that stacktrace, or does it occur randomly when breaking blocks?

[2016-04-08 22:19] KumaGetsu commented on #604
It's not my plugin, here is the source. https://github.com/terrainwax/LootCrate/releases

[2016-04-09 01:42] bloodmc commented on #604
Then post a ticket on his github. If he thinks its a bug on our end he can create the ticket. As of now this ticket is useless.

[2016-04-09 01:42] #604 closed

[2016-04-09 04:12] dh47 commented on #580
@Aaron1011 - yep, breaking a dense ore block will work but when I want to break something else it won't, and each time you break a block a stacktrace error will be generated in the console.

Would you like me to make a short video?

[2016-04-09 04:25] kinggoesgaming commented on #580
Break a block type 1 break another type 2 and so on for a few times and put that log so there is comparison if it is the stack being repeated

[2016-04-09 04:41] dh47 commented on #580
Here we go.
http://pastebin.com/b1b1hKXG

[2016-04-09 09:03] hunter688 opened #605 "spawn-protection behavior"
When set spawn-protection in the server.properties, expect vanilla behavior - protect only overworld.

Ok, there is another behavior, in the spongeforge is protected all dimensions. I've found permission:
_minecraft.spawn-protection.override_ but howto set to vanilla like? override only in the nether and the end. In this thread: https://forums.spongepowered.org/t/guide-pex-quick-command-reference/

[2016-04-09 09:31] hunter688 commented on #605
found some related PR: https://github.com/SpongePowered/SpongeCommon/pull/128

[2016-04-09 12:20] mblob opened #606 "Eye of ender not working with bop and sponge"
[https://github.com/Glitchfiend/BiomesOPlenty/issues/739](https://github.com/Glitchfiend/BiomesOPlenty/issues/739)

Can't throw any eye of ender. Only happening when level-type set to BIOMESOP
Steps to reproduce:

    Set level-type to BIOMESOP in server.properties
    Delete world/*
    Start server

Additional Information:

[fml-server-latest.log.txt](https://github.com/SpongePowered/SpongeForge

[2016-04-09 13:25] Aaron1011 commented on #606
@Deamon5550: This appears to be a word-gen related issue, as `worldIn.getStrongholdPos("Stronghold", new BlockPos(playerIn))` in `ItemEnderEye` is returning `null`.

[2016-04-09 13:40] Aaron1011 commented on #580
@dh47: Unfortunately, I'm still completely unable to reproduce this. Would you mind making a video?

[2016-04-09 14:19] dh47 commented on #580
Sure.  Will do expect it soon.

[2016-04-09 21:54] jpiermarini commented on #580
Getting this error as well http://pastebin.com/BcnbT4Tx also using dense ores 2.0.0

[2016-04-09 22:39] KumaGetsu commented on #604
Without your pleasant response I wouldn't have had the suggestion to post a ticket on his github. You have made my ticket very useful, thank you.

[2016-04-09 23:25] Aaron1011 commented on #580
@jpiermarini @dh47 @NEXUS2345: I've tracked down the issue. Sorry for the delay in finding this - I think I either wasn't testing this properly, or had some other issue.

The cause of this problem is due to the way Sponge handles block breaking. Normally, Forge's `Block#getExpDrop` method is called before the broken block has actually been set to air in the world. However, due to Sponge's CauseTra

[2016-04-10 02:50] dh47 commented on #580
@Aaron1011:  Thanks for the update, please let us know witch version to update too after you have sorted a fix.

[2016-04-10 15:30] Aaron1011 commented on #580
For reference, here's the issue on the DenseOres github project: https://github.com/rwtema/DenseOres/issues/122

I'm currently waiting on a change in DenseOres to be able to fix this.

[2016-04-10 16:15] hunter688 opened #607 "BOP berrries crashes server"
When player collect and eat berries, server can crash.

I've created ticket at BOP, but they said its sponge problem.

See: https://github.com/Glitchfiend/BiomesOPlenty/issues/740

[2016-04-10 16:50] Aaron1011 commented on #607
@hunter688: Try updating to the latest SpongeForge - the issue should be fixed there.

[2016-04-10 17:05] hunter688 commented on #607
Ok I will try, then report, thanks.

[2016-04-10 17:25] hunter688 commented on #607
Looks like build 1262 fixed this issue. Thanks a lot!

[2016-04-10 17:25] #607 closed

[2016-04-11 13:41] zml2008 commented on #605
The command is `/pex group Default perm minecraft.spawn-protection.override true --context world=DIM-1`

[2016-04-11 13:41] #605 closed

[2016-04-11 15:14] bloodmc commented on #498
@simon816 please get the fix into master so this issue can be closed.

[2016-04-11 16:49] DoomedScar opened #608 "HarvestEntityEvent.TargetPlayer is NOT being called"
The "**PlayerEvents**" class is registered as a _Listener_ and does fire other events such as "**DropItemEvent.Destruct**", but for some odd reason "**HarvestEntityEvent.TargetPlayer**" doesn't fire after a player drops their items on death, therefore I can not use "**setKeepsInventory**" on them.

In the docs it says that the event should be "_Called when an Entity has been killed and is being "h

[2016-04-11 18:41] kinggoesgaming commented on #608
Have you tested on spongevanilla to make sure it's a sponge forge issue or sponge common issue?

[2016-04-11 19:32] gabizou commented on #608
Closing as it's a duplicate of the existing https://github.com/SpongePowered/SpongeCommon/issues/41 event tracking issue.

[2016-04-11 19:32] #608 closed

[2016-04-12 03:25] simon816 commented on #377
As it stands there is a broken SDK currently in master: https://github.com/SpongePowered/SpongeForge/tree/1c95edad7a163593f45db699effcc1db13d3682f/sdk
We need to either 1) Remove it, or 2) Re-purpose it perhaps for forge modders looking to integrate with spongeforge

[2016-04-12 03:51] AbrarSyed commented on #377
nuke it IMO. Forge modders know how to add a dependency, or can make a quick wiki page for that or something.
As for a way to run the things, I believe I already mentioned the SpongeStart plugin someone made...

[2016-04-12 04:36] #498 closed

[2016-04-12 05:16] liach commented on #377
Should we make it in spongeapi?

[2016-04-12 05:18] Minecrell commented on #377
Not needed for now, there are (or will be) detailed instructions on the docs how to setup a Gradle/Maven/... project for a Sponge plugin.

[2016-04-12 05:46] #377 closed

[2016-04-13 06:28] simon816 commented on #603
Issue with Agricraft, see https://github.com/SpongePowered/SpongeForge/issues/588 and https://github.com/InfinityRaider/AgriCraft/issues/601

[2016-04-13 06:28] #603 closed

[2016-04-14 05:49] simon816 commented on #511
As an alternative solution I have created SpongeBootstrap - a launchable jar that will inject SpongeForge into the FML loading process before any other coremods.
https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275

[2016-04-14 12:43] jpiermarini commented on #511
Is this why adding enderio and endercore has caused issues for me? Pex and essentialcmds don't work when those two are loaded.

[2016-04-14 13:48] jpiermarini opened #610 "an issue where EnderCore and Sponge don't seem to play nice."
Not sure if this has something to do with https://github.com/SpongePowered/SpongeForge/issues/511#issuecomment-209773409 but i did try the bootloader that was put out yesterday and I also tried renaming sponge as _sponge and endercore as zzzzzendercore and the issue still remains.

What is happening is when endercore is present on the server permissionsex and essentialscmd stop working or loading

[2016-04-14 19:07] Aaron1011 commented on #610
@jpiermarini: I'm not actually sure what's causing this. What are the steps to reproduce it?

[2016-04-14 20:12] rob5251 commented on #610
Steps to reproduce is to just try loading up a SpongeForge server with EnderCore and the two Plugins (EssentialsCmds, PermissionsEx)

Then try to use commands from the two plugins, they will fail to work.
Running the command "/sponge plugins" will show the two plugins as if they loaded though.

[2016-04-14 22:10] #550 closed

[2016-04-14 22:16] jpiermarini commented on #610
@Aaron1011, @rob5251   is correct loading up sponge permissionsEx, EssentialsCmds and Endercore will result in this issue happening. I'm running forge 1764 sponge 1218 and the latest versions of PermissionsEx, EssentialCmds, and EnderCore.

[2016-04-15 02:31] simon816 commented on #539
Note that the position and velocity of a projectile when calling `launchProjectile` is calculated to be a sensible default. If you'd like more control over the position etc. then you can use `setLocation`, `setVelocity` etc for adjustment.

Most projectiles seem to work OK. I have fixed WitherSkull and the two fireballs not spawning at the player head. I have hopefully fixed SmallFireball's odd be

[2016-04-15 02:33] #539 closed

[2016-04-15 15:16] bloodmc commented on #573
Use InteractEntityEvent.Primary for armor stands.

[2016-04-15 15:16] #573 closed

[2016-04-15 15:19] bloodmc commented on #601
@Aaron1011 couldn't we just avoid this from happening on our end?

[2016-04-15 19:42] Aaron1011 commented on #601
@bloodmc: Technically, yes, but mods shouldn't really be re-registering a command.

[2016-04-16 01:57] bloodmc commented on #601
@Aaron1011 how about we avoid the error and log a warning with the mod info?

[2016-04-16 02:07] Aaron1011 commented on #601
@zml2008 would be the one to talk to - I'm not sure if we want to add in an exception for duplicate-command registering when a mod is involved.

[2016-04-16 02:31] Aaron1011 commented on #610
@rob5251: I'm unable to reproduce this issue. I'm using EssentialCmds, PEX, and EnderZoo.

@jpiermarini: Can you try again with the latest SpongeForge?

[2016-04-16 13:53] simon816 commented on #606
If that's returning `null` then [`SpongeChunkProvider#getStrongholdGen`](https://github.com/SpongePowered/SpongeCommon/blob/ce903298ff8293513495c865509e2af5b0fc1239/src/main/java/org/spongepowered/common/world/gen/SpongeChunkProvider.java#L337-L346) is returning null.

Which means the `genpop` list doesn't contain a `MapGenStronghold`
By looking at where the [genpop list is set](https://github.com

[2016-04-16 15:39] rob5251 commented on #610
Still happening for me on latest version of SpongeForge (spongeforge-1.8.9-1808-4.1.0-BETA-1268)

I tried using the latest builds for EnderCore, EnderZoo, and EnderIO from the Jenkins repositories and the issue still persists.

Prism commands are the only ones that continue to work for me. PEX and EssentialsCmds get broken.

[2016-04-16 15:59] jpiermarini commented on #610
@aaron1011 I've upsa

[2016-04-16 15:59] jpiermarini commented on #610
Woops

[2016-04-16 16:01] jpiermarini commented on #610
@aaron1011 I've updated to forge 1808 and the latest sponge anf still have the issue. You need to make sure to have endercore loaded in. No real need to load in enderio or enderzoo

[2016-04-16 20:00] Deamon5550 commented on #606
short of doing static code analysis to guess which stronghold generator it is in modded chunk generators theres fuck all we can do. Sponge does work with mods that don't extend vanilla generators as far as the actual generation goes this is just a strange case of something trying to reference the generator.

[2016-04-16 22:22] gabizou commented on #606
@Addubz is probably the person you'd want to prod about gen structures with BoP.

[2016-04-16 22:54] KumaGetsu opened #611 "Repeater Crash"
Player had a looping redstone setup with repeaters which caused the server to crash.

Crash Log:
http://paste.ubuntu.com/15883199/

[2016-04-17 01:10] gabizou commented on #611
Could you provide the server log as well as the crash report? Also, any mods installed?

[2016-04-17 01:15] simon816 commented on #611
Java8CheckerCoremod (Pixelmon-1.8.9-4.2.3-universal.jar)
  SpongeCoremod (spongeforge-1.8.9-1808-4.1.0-BETA-1243.jar)

Likely caused by Pixelmon

[2016-04-17 01:16] Aaron1011 commented on #611
@simon816: Yes, pixelmon has a bad reputation for causing `ConcurrentModificationException`s.

[2016-04-17 01:37] Aaron1011 commented on #610
@jpiermarini: My bad - I had accidently used the EnderCore API jar the first time, and thought that it required EnderZoo or EnderIO to load. I've reproduced the issue, and I'm looking into it.

[2016-04-17 02:59] simon816 commented on #606
It should be possible for sponge to handle generators that don't extend vanilla classes, perhaps with reduced SpongeAPI compatibility/interoperability but still allow modded dimensions and generators to work as intended.

[2016-04-17 03:37] Aaron1011 commented on #610
@jpiermarini: The issue is in EnderCore. I've opened a PR to solve it: https://github.com/SleepyTrousers/EnderCore/pull/37

[2016-04-17 04:26] Deamon5550 commented on #606
@simon816

[2016-04-17 04:33] #606 closed

[2016-04-17 04:57] #592 closed

[2016-04-17 18:10] xChristopher210 opened #612 "Lag Spike Issues with Player Leaving and Joining"
When a player leaves and join there is a 3 - 5 second lag spike. I tested this out with clienthax MusicBox plugin. When someone leaves and joins the music stops. Then resumes at a fast pace. Nothing is in my console as from crashes. Just the regular information given when someone joins.

http://paste.ubuntu.com/15901697/

The issue seems to go on when someone leaves or join.

[2016-04-17 20:27] bloodmc commented on #612
@xChristopher210 this isn't a sponge problem or else it would happen with only sponge. Remove all your plugins and mods then start adding 1 by 1 until you find the culprit.

[2016-04-17 20:27] #612 closed

[2016-04-18 17:29] KumaGetsu commented on #611
Here's another ConcurrentModificationException which happened today along with the server log for when it happened.

Crash-Report: http://paste.ubuntu.com/15917141/
Server Log: http://paste.ubuntu.com/15917473/

[2016-04-19 12:25] yyeerai opened #613 "SpongeForge的性能问题"
中文：
1.8.9的forge性能很不好
加入的时候或者快速飞行的时候总是发生：
Can't keep up! Did the system time change, or is the server overloaded?
发生此信息的时候地图加载不出来要等待一段时间才能加载出来
以前的mcpc+ 和kc都没有这个问题
我认为是优化问题
运行的forge版本：forge-1.8.9-11.15.1.1855
运行的SpongeForge版本：spongeforge-1.8.9-1808-4.1.0-BETA-1276.jar
没有加任何插件和mod
服务器cpu：e5 v3
RAM :64g
ssd: 520g

English:
forge a very bad performance 1.8.9
Join or when fast when flying always happens

[2016-04-19 15:40] liach commented on #613
老兄等等，1.8.9暂时没有优化mod，SpongeForge并不像PaperSpigot一样有很多优化，虽然他们也在[加优化] (SpongePowered/SpongeCommon#621)。

You need to wait as there's not yet any performance mod for Minecraft 1.8.9. Unlike Paper, SpongeForge does not have a lot of optimizations, although they are [adding optimizations] (SpongePowered/SpongeCommon#621).

Better Translation:
Minecraft Forge for Minecraft 1.8.9 has a very bad performance.

[2016-04-19 23:39] Zidane commented on #611
Issue with Pixelmon. Report it to them please.

[2016-04-19 23:39] #611 closed

[2016-04-19 23:45] Zidane commented on #610
Issue is on EnderCore's side. They'll need to issue a fix.

[2016-04-19 23:45] #610 closed

[2016-04-20 01:50] bloodmc commented on #613
I'll work on fixing this soon. I'm aware of the issue as I've experienced it myself.

[2016-04-20 05:21] liach commented on #613
@bloodmc Might this also be related to cause tracking refactor? Unfortunately it would not be available for 1.8.9.

[2016-04-20 05:35] bloodmc commented on #613
@liach no the same issues occur.

[2016-04-21 02:05] KumaGetsu opened #614 "IndexOutOfBoundsException"
SpongeForge 4.1.0-BETA-1279

Server crashed, here's the crash-report:
http://paste.ubuntu.com/15958669/

[2016-04-21 02:17] #614 closed

[2016-04-22 16:55] DoomedScar opened #615 "InteractEntityEvent.Secondary Bug"
When I right click with a Water Bucket an entity, a Sheep for example, **InteractEntityEvent.Secondary** still runs when cancelled and the water is placed.

Canceling the **InteractBlockEvent.Secondary** event seems to work but of course only when the player right clicks a block.

_Output:
true
net.minecraft.item.ItemBucket@705dc1a6
Is Banned_

I'm using **SpongeForge 1.8.9 - 4.1.0-BETA-1285**.

[

[2016-04-23 18:40] MarkL4YG commented on #511
So, why not just temporarily rename the download to begin with _ until there's a fix ?

[2016-04-24 02:05] Aetheros commented on #511
@MarkL4YG For the same reason why doctors don't give patients pain killers untill a cure for cancer is found. Fixing the problem with a simple, but incredibly incomplete workaround does only mask the symptoms, but doesn't fix the problem, which remove the immediate need for a fix, slowing down development on the fix for said problem, while it also could mask the symptoms of other, equally or more

[2016-04-24 03:37] bloodmc commented on #613
@liach @yyeerai I'll be pushing a new build shortly with a few optimizations including an important bug fix to my entity activation patch which wasn't working correctly. You should see a big perf gain with a server like pixelmon.

[2016-04-24 04:53] ryantheleach commented on #511
Whilst your comment was correct Aetheros that was a very confusing analogy.

[2016-04-24 05:55] kinggoesgaming commented on #511
It's a good analogy but not worded right :P

[2016-04-24 06:47] liach commented on #613
Thanks @bloodmc for adding optimizations, and also for porting GriefPreventions.

[2016-04-24 08:19] yyeerai commented on #613
@bloodmc good job，To address performance issues, sponge will become very popular.

[2016-04-24 10:04] MarkL4YG opened #616 ""./gradlew genIntelliJRuns" creates an incorrect configuration"
Hey, as stated here [https://forums.spongepowered.org/t/error-spongecoremod/6145](url)
gradle is generating a configuration that's not working at least in IntelliJ 16.

The configuration sets "Use classpath of module" to "SpongeForge" (which does not have the gradleStart<Insert> classes)

If you change that option to "SpongeForge-main" (as one could guess should be the correct value) you get CnF f

[2016-04-24 10:05] Minecrell commented on #616
We have no control about the generated run configurations, this is handled completely by ForgeGradle which needs to be updated to generate them with the correct module. There is a PR at https://github.com/MinecraftForge/ForgeGradle/pull/351, but we can't do anything to fix this until @AbrarSyed merges it.

[2016-04-24 10:05] #616 closed

[2016-04-24 14:36] Aetheros commented on #511
I'm not a native speaker, so please forgive my wording D:

[2016-04-24 16:04] MarkL4YG commented on #511
xD

[2016-04-25 06:28] bloodmc commented on #613
@liach @yyeerai I had to rewrite entity activation since it was broken. This delayed my release =). I'm just finishing up a collision performance patch then I'll be pushing it to master. Should be by the end of today.

Here is how the new entity-activation config looks

https://gist.github.com/bloodmc/e4c21dd343c6a2a2b01ad715f749ba66

[2016-04-26 18:05] Aaron1011 commented on #564
@AuricPolaris: Sorry for the extremely long delay in getting to this. Can you still reproduce this?

[2016-04-26 21:42] Badeye opened #617 "Fresh install throws MixinErrorHandler, issue with net.minecraft.world.chunk.Chunk"
A fresh install caused this [error log](http://pastebin.com/M1f1gcRA)

I have failed to eliminate the problem, deleted and reinstalled the server and world files with no solution.

Using:
spongeforge-1.8.9-1808-4.1.0-BETA-1290.jar
forge-1.8.9-11.15.1.1808-universal.jar

[2016-04-26 22:22] #617 closed

[2016-04-27 05:31] #613 closed

[2016-04-28 16:58] simon816 commented on #564
There is an invalid item drop being created in the world, likely one of the many mods you have there is causing the problem.
If this issue is still reproducible, it would be great if you could remove mods until the crash no longer occurs. Then we can investigate further with sponge and that mod.

[2016-04-29 00:26] simon816 commented on #585
You could try using SpongeBootstrap - https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275
I'm hoping it will be a short-term fix for these class loading edge-cases

[2016-04-29 09:15] Billabonga commented on #568
Seems to have been fixed ... ?

[2016-04-29 13:55] Zidane commented on #568
It isn't fixed.

Basically Vanilla says that whatever difficulty the server has is the one that all worlds has. I'll expose this to the config files and unhook it as part of the "Multi-world commands" PR.

[2016-04-29 15:09] Billabonga commented on #568
OK, thanks a lot

[2016-04-30 01:30] simon816 commented on #587
Just tested with the following code and cancellation worked as expected. Are you still able to reproduce this?
[code]

[2016-04-30 16:11] KumaGetsu opened #619 "Entity Crash"
Just updated from Build 1298 to 1302 and my server is now getting these frequent crashes every time someone loads the chunk.

Crash-Report:
http://paste.ubuntu.com/16151361/

[2016-04-30 16:39] kinggoesgaming commented on #619
I think this a Pixelmon issue afaik
`Entity EntityPixelmon['Eevee'/246, l='world', x=-641.00, y=69.00, z=-2328.00] already spawned in the world!`

[2016-04-30 16:41] KumaGetsu commented on #619
Yeah, it's definitely caused by a pixelmon thing. But this only started after updating SpongeForge.

[2016-04-30 16:41] KumaGetsu commented on #619
Reverting the SpongeForge to 1298 fixed it.

[2016-04-30 16:49] kinggoesgaming commented on #619
You might want to contact them and double check if its something they can fix..

[2016-04-30 17:32] kenzierocks commented on #619
Seems like the check that was added to protect plugin developers is revealing bugs in other mods?

[2016-04-30 17:35] simon816 commented on #619
It's possibly more complicated than that.
Pixelmon is checking `World.loadedEntityList` before spawning in the world. With Sponge's cause tracking system, the entity may not appear in the list until the next tick. As far as pixelmon is concerned the entity is being added for the first time.

[2016-04-30 19:00] ryantheleach commented on #619
Suppress the error if the entity is queued to spawn?

[2016-05-01 04:42] bunSakurAing opened #620 "Throw TConstruct item cause connection timeout"
http://pastebin.com/12Y78Htg
Thrown out  TConstruct item after display connection timeout, then unable to enter the server

[2016-05-01 16:47] Aaron1011 commented on #620
@bunSakurAing: Could you paste the whole stacktrace? It appears to be cut off at the top.

[2016-05-01 19:17] DarkArc opened #621 "Maps/ItemFrames with maps in them crash clients"
Clients which have SpongeForge installed crash while attempting to render item frames. This looks like it's specific to item frames with maps in them.
[code]

[2016-05-01 19:18] DarkArc commented on #621
It's definitely just maps.

[2016-05-01 21:14] #621 closed

[2016-05-01 22:36] simon816 commented on #620
I was able to reproduce this by throwing out a Tinker's Construct Pickaxe.
A `StackOverflowError` is thrown repeatedly
[code]

It looks like Forge's [`ForgeInternalHandler#onEntityJoinWorld`](https://github.com/MinecraftForge/MinecraftForge/blob/master/src/main/java/net/minecraftforge/common/ForgeInternalHandler.java#L18) is causing an infinite loop with the cause tracker, see line 55, `event.worl

[2016-05-02 00:09] #620 closed

[2016-05-02 01:32] simon816 commented on #619
This commit fixes the issue, but I'm not sure whether there may be more issue further down the line
https://github.com/simon816/SpongeCommon/commit/16f9288efddcc419e2cbb56d40706864110568b4

[2016-05-02 23:23] xChristopher210 commented on #619
Reported this on the PixelmonMod Site with the information given here and the crash logs from this issue on my server.

http://pixelmonmod.com/tracker.php?p=2&t=8469

[2016-05-03 21:46] xChristopher210 commented on #619
The issue still occurs on SpongeForge 1311
http://paste.ubuntu.com/16209084/

It says the "Block entity being ticked" is a Ranch Block so I disabled that in the pixelmon.hocon but the issue still occurs.

[2016-05-03 22:43] DoomedScar opened #623 "Crash on "/summon Item""
I'm calling the **CreateParty** method from a command and it works fine however it has the tendency to randomly crash the server.
Sometimes it would run through the whole process without any issues and sometimes it would crash almost instantly after the command was executed.

**Crash Log**: http://paste.ubuntu.com/16209332/

Using **SpongeForge 1.8.9 - 4.1.0-BETA-1311**
[code]

[2016-05-03 22:45] kenzierocks commented on #623
You can only spawn items in the main thread. Use the synchronous scheduler.

[2016-05-03 22:47] DoomedScar commented on #623
@kenzierocks It works, the items are being spawned however it sometimes crashes the server.

[2016-05-03 22:53] simon816 commented on #623
It crashes because you're not on the thread that synchronizes with game ticks.
Instead of using `java.util.Timer`, try using sponge's scheduler https://docs.spongepowered.org/master/en/plugin/scheduler.html as @kenzierocks suggested.

[2016-05-03 22:54] DoomedScar commented on #623
@simon816 Alright thank you, I'll try that.

[2016-05-03 23:24] DoomedScar commented on #623
@kenzierocks @simon816 That fixed my problem, thank you very much!

[2016-05-03 23:24] #623 closed

[2016-05-04 14:08] KumaGetsu commented on #619
I confirm it still occurs using 1311.

[2016-05-04 19:27] jaredlll08 commented on #601
I fixed this in the official continuation of Minetweaker3 https://github.com/jaredlll08/CraftTweaker/issues/15

[2016-05-04 19:33] bloodmc commented on #601
@jaredlll08 thanks.

[2016-05-04 19:33] #601 closed

[2016-05-04 19:36] jaredlll08 commented on #601
No problem :) sorry I took so long to fix it
On May 4, 2016 9:33 PM, "bloodmc" <notifications@github.com> wrote:

[2016-05-04 21:48] simon816 commented on #619
This is primarily a Pixelmon issue.
They should not be looking in `loadedEntityList` to determine whether their entity spawned. Rather, it should be possible to keep track of the state by using a boolean for example.

[2016-05-05 05:09] hunter688 commented on #601
This fix is useless because 17 days ago support 1.8.x was canceled in this commit:

https://github.com/jaredlll08/CraftTweaker/commit/a426d8da799a58c34984b2b6854b1b9e471b0841

[2016-05-05 08:18] jaredlll08 commented on #601
I thought the general consensus was to skip 1.8, especially considering that 1.9 has a RB now.

[2016-05-05 08:20] hunter688 commented on #601
Sponge Forge is 1.8.9. Could you please add back 1.8.9 support please?

[2016-05-05 08:47] jaredlll08 commented on #601
Expect it next release, the 1.8.9 support that was added was extremely broken anyway, i had to port 1.7 -> 1.9 to get it to work correctly, so I'll do 1.9 -> 1.8 now

[2016-05-05 08:48] hunter688 commented on #601
Thanks a lot.

[2016-05-05 09:04] hunter688 commented on #601
FYI see how many downloads are 1.8.9 version, its most wanted :) http://mods.curse.com/mc-mods/minecraft/239197-crafttweaker-customized-minetweaker3#t1:other-downloads

[2016-05-05 09:14] jaredlll08 commented on #601
Yea I gotta say, I never looked at that when I decided to remove the support...

[2016-05-05 13:46] jaredlll08 commented on #601
http://minecraft.curseforge.com/projects/crafttweaker-customized-minetweaker3/files/2298190
There you go

[2016-05-05 16:43] hunter688 commented on #601
it crashes on the server:
`
java.lang.IllegalArgumentException: Multiple entries with same key: MineTweaker3=FMLMod:MineTweaker3{3.0.4} and MineTweaker3=FMLMod:MineTweaker3{3.0.5}
        at com.google.common.collect.ImmutableMap.checkNoConflict(ImmutableMap.java:150)
        at com.google.common.collect.RegularImmutableMap.checkNoConflictInBucket(RegularImmutableMap.java:104)
        at com.googl

[2016-05-05 16:45] jaredlll08 commented on #601
Send the full log please
On May 5, 2016 6:43 PM, "hunter688" <notifications@github.com> wrote:

[2016-05-05 16:47] hunter688 commented on #601
http://pastebin.com/PP6FgHqK

Looks like two mods with two versions inside jar

[2016-05-05 16:48] hunter688 commented on #601
client crashes with same error

[2016-05-05 17:31] hunter688 commented on #601
when delete directory mc19 inside jar, mod working, but looks like wrong modid, modtweaker need depedency to "crafttweaker"
 `Missing Mods:
        crafttweaker : any

net.minecraftforge.fml.common.MissingModsException: Mod modtweaker2 (Mod Tweaker 2) requires [crafttweaker]
        at net.minecraftforge.fml.common.Loader.sortModList(Loader.java:238)
        at net.minecraftforge.fml.common.Loader

[2016-05-05 17:33] jaredlll08 commented on #601
Ok so, I know and have fixed the mod duplicate error, the modtweaker error
however... Well modtweaker 1.8 is terribly broken, like super broken, and I
don't know of enough mods in 1.8 to support it, so gimme a list of mods
that you want support for, and I'll get a fixed version with those mods up
today or tomorrow
On May 5, 2016 7:31 PM, "hunter688" <notifications@github.com> wrote:

[2016-05-05 17:39] hunter688 commented on #601
Modtweaker is not necessary now, it is just notice about error. Many thanks for fixing bugs.

[2016-05-06 18:34] hunter688 commented on #555
During some testing (removing mods step by step) found one mod which causing issue. Try with ic2, for example build 239.

http://jenkins.ic2.player.to/job/IC2_18/239/artifact/build/libs/industrialcraft-2-2.3.239-ex18.jar

You can debug...

[2016-05-08 16:13] Aetheros opened #626 "Sponge crashing on load in version 1316"
When loading the Sponge mod I get this very curious error

[code]

To make a bit more sense of it:
- crashed on `net.minecraft.network.PacketBuffer` during phase `DEFAULT`
- I'm using the correct forge version
- Cause is `unknown`
- Message is `Shadow method writeNBTTagCompoundToBuffer was not located in the target class`

[2016-05-08 16:22] modwizcode commented on #626
Please put your whole log in a [Pastebin](http://pastebin.com) or [Gist](http://gist.github.com)

[2016-05-08 16:24] Aetheros commented on #626
http://pastebin.com/hjeMbzu5 here you go

[2016-05-08 16:25] Aetheros commented on #626
To rule out a few obvious things, no movingworld isn't the issue, my sponge loads before my movingworld loads.

It also has to be one of the changes made in the time between this release of sponge and the previous, because the previous release works like a charm

[2016-05-08 16:29] kashike commented on #626
This will be fixed once someone pushes a submodule bump to SpongeForge.

[2016-05-08 16:36] Aetheros commented on #626
Nice

[2016-05-08 16:37] #626 closed

[2016-05-10 01:22] jpiermarini opened #628 "Sponge is stopping Tinkers Construct from loading cobal and ardite in the nether."
Currently running spong-1.8.9-1808-1305 and forge 1808 . Although I did just test this with the latest sponge-1855-BETA 1317 and Forge 1855 to make sure it was still an issue. I experienced the same issue with the latest and greatest sponge has to offer.

Loading Sponge, Tinkers Construct 1.8.9 2.2.1 and Mantle 1.8.9 0.9.2 going to to the nether there is no cobalt or ardite to be found. To be sure

[2016-05-10 11:26] jpiermarini commented on #628
@bloodmc tried sponge 4.1.0-BETA-1318 and 4.1.0-BETA-1320 neither have fixed this issue.

[2016-05-10 13:34] bloodmc commented on #628
I'll look into it soon.

[2016-05-10 13:48] jpiermarini commented on #628
Thanks, appreciate it.

[2016-05-10 15:25] bloodmc commented on #628
@Deamon5550
https://github.com/SlimeKnights/TinkersConstruct/blob/master/src/main/java/slimeknights/tconstruct/shared/worldgen/NetherOreGenerator.java#L38

[2016-05-11 18:57] bloodmc commented on #619
@KumaGetsu @xChristopher210 @kinggoesgaming @simon816 my next push to master will have this issue resolved.

[2016-05-12 05:14] gabizou opened #629 "[1.9] Client worlds are not actual worlds"
Log into single player and witness as no updates are sent to the client. This is based on the branch:
[quick-dirty-update](https://github.com/SpongePowered/SpongeForge/tree/temp/quick-dirty-update), granted, but none the less, most of the Forge events need re-implementing in many cases.

More than likely there's some sort of injection interaction happening that isn't supposed to happen.

[2016-05-12 07:19] #629 closed

[2016-05-12 15:12] Zidane commented on #628
Closed as issue on Tinker's end.

https://github.com/SlimeKnights/TinkersConstruct/issues/2071

[2016-05-12 15:12] #628 closed

[2016-05-13 01:56] gabizou opened #630 "[1.9.4] Rewrite Forge Event Handling to translate Sponge thrown Events"
There are enough changes now in 1.9 that most of the "use" events are now distinctly different.

They need to be either rewritten or re-managed where the forge events are thrown separately from the Sponge events.

[2016-05-13 03:25] sourcepowered opened #631 "Where is SpongeForge 1.9?"
I can't find it, we do not yet release it?

[2016-05-13 03:32] JBYoshi commented on #631
No, it is not released yet. You'll have to build it yourself from the source code.

[2016-05-13 03:33] #631 closed

[2016-05-13 03:33] Zidane commented on #555
@Minecrell

Status update.

[2016-05-13 04:56] Minecrell commented on #555
@Zidane Not working on this, it's caused by resource conflicts causing SF to load the wrong `mcmod.info` (e.g. from another coremod). Not sure how to fix it, we might need to rename AF's `mcmod.info` file so it is unique or open it differently.

[2016-05-13 05:29] kashike commented on #555
Do what the `MCP` mod does (`mcpmod.info`), create `spongemod.info`?

[2016-05-13 16:41] JBYoshi commented on #555
https://github.com/MinecraftForge/MinecraftForge/blob/4248dbc71d77a8288029a7d4612d7a13eaef04f7/src/main/java/net/minecraftforge/fml/common/Loader.java#L207
[code]

[2016-05-14 03:49] gabizou opened #632 "[1.9.4] Rewrite Forge Registry callbacks for new added registries"
There are a few new registries added in 1.9 Forge, namely `POTION_TYPES` AND `VILLAGER_X` registries. Many of our current registry injections are using mixins to work with those systems, and thus need to be rewritten to simply remain as callbacks.

[2016-05-15 00:27] #619 closed

[2016-05-15 23:12] i9hdkill opened #633 "ticking player error when a player tries to enter a world via netherportal that is disabled by forge/sponge"
Steps to reproduce this:
Forge: 1.8.9-11.15.1.1855
SpongeForge: 1855-4.1.0-BETA-1318

Start server and build a nether portal.
config/sponge/worlds/nether/DIM-1/world.conf gets created.
enter the nether portal
stop the server.
start the server and enter the netherportal again
config/sponge/worlds/nether/Nether/world.conf gets created.
stop the server.
change
config/sponge/worlds/nether/Nether/world

[2016-05-16 01:38] Zidane commented on #633
@bloodmc

I'll fix this in 1.8.9.

[2016-05-16 01:43] bloodmc commented on #633
@Zidane ok thanks.

[2016-05-16 03:17] gabizou opened #634 "[1.9] Client settings are not persistent"
For some reason, client settings are no longer persisting (try turning down the volume of the in game music and restart the client after properly quitting).

[2016-05-16 03:18] gabizou opened #635 "[1.9] Client Menu Descriptions are not translating"
Some menu descriptions are shown only as the translation keys:
![image](http://puu.sh/oTv2w/233135f62c.png)

[2016-05-16 03:52] bloodmc commented on #630
This is already done for many events as seen in SpongeForgeEventFactory. I'll finish the rest soon.

[2016-05-17 19:33] KumaGetsu opened #636 "Multiple entries with same key"
The server crashes when a player destroys a playerhead.

Crash-report:
http://paste.ubuntu.com/16481064/

[2016-05-18 00:59] #636 closed

[2016-05-18 01:20] Milchshakee opened #637 "StackOverflowError when cancelling an InventoryClickEvent and sending a message afterwards"
The following simple event listener gets caught in an endless loop somehow:

[code]

[2016-05-18 03:22] KumaGetsu opened #638 "trackBlockPositionCausePreTick"
Crashed the server twice today with trackBlockPositionCausePreTick.

Crash-reports:
http://paste.ubuntu.com/16484844/
http://paste.ubuntu.com/16484845/

[2016-05-18 04:01] DarkArc opened #639 "Sponge Forge on the client results in random jittering"
When entering new chunks faster than the server can generate them, the client will start jittering until the new chunks are loaded. This can also happen randomly while walking around, when it happens while walking around, the only way to end the jittering is to teleport away from the area.

[2016-05-18 05:19] gabizou commented on #639
Version info?

[2016-05-18 05:20] DarkArc commented on #639
Minecraft: 1.8.9
    SpongeAPI: 4.1.0-SNAPSHOT-0c1d6c3
    SpongeForge: 1.8.9-1890-4.1.0-BETA-1330
    Minecraft Forge: 11.15.1.1855

[2016-05-18 05:22] Zidane commented on #637
We need a log please.

[2016-05-18 05:24] #587 closed

[2016-05-18 05:27] Zidane commented on #564
Closing until we receive further feedback.

[2016-05-18 05:27] #564 closed

[2016-05-18 11:17] Milchshakee commented on #637
There you go: [https://gist.github.com/anonymous/9f6fec46737d579c93fdf9e18ca68ab1](url)

[2016-05-18 16:41] bloodmc commented on #638
@KumaGetsu update to latest SpongeForge and post a new crash report if it happens.

[2016-05-18 17:17] KumaGetsu commented on #638
I'm on the latest and had two more crashes this morning.

Crash-reports:
http://paste.ubuntu.com/16496954/
http://paste.ubuntu.com/16496954/

[2016-05-18 17:19] #639 closed

[2016-05-18 17:21] bloodmc commented on #638
@KumaGetsu Try 1331 and post report if it crashes.

[2016-05-18 17:30] KumaGetsu commented on #638
@bloodmc Am doing that now, will report back if issue persists.

[2016-05-18 22:18] KumaGetsu commented on #638
@bloodmc It just happened again.

Crash-report:
http://paste.ubuntu.com/16501176/

[2016-05-18 22:38] KumaGetsu commented on #638
And again

Crash-report:
http://paste.ubuntu.com/16501325/

[2016-05-19 15:17] bloodmc commented on #638
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/8baf146e990ccf5a54c0c1bd602adbc06edb6e62

[2016-05-19 15:17] #638 closed

[2016-05-19 19:18] KumaGetsu opened #640 "SpongeForge 1337 - preTrackBlock"
Server crashed.

Crash-report:
http://paste.ubuntu.com/16512906/

[2016-05-19 20:02] KumaGetsu commented on #640
Another trackEntityCausePreTick crash, but this time a concurrent crash-report was given shortly before the tracking one.

Crash-reports:
http://paste.ubuntu.com/16513384/ - concurrent
http://paste.ubuntu.com/16513417/ - trackEntityCausePreTick

[2016-05-19 21:12] zyradyl commented on #640
I wasn't sure if I should branch this out to a new bug or not, but the issues are so similar I figured I would post it here first. I'm getting a server crash on PostTrackBlock:

http://pastebin.com/da0RptTA

Thank you guys for all your work on sponge. :)

[2016-05-19 21:23] KumaGetsu opened #641 "SpongeForge 1337 - inflateBytes"
Server crashed.

Crash-report:
http://paste.ubuntu.com/16513958/

[2016-05-20 00:15] bloodmc commented on #640
@KumaGetsu @zyradyl I'll have a fix soon.

[2016-05-20 01:17] #640 closed

[2016-05-20 01:17] #641 closed

[2016-05-20 03:15] bloodmc commented on #640
@KumaGetsu @zyradyl build 1338 working ok?

[2016-05-20 15:13] MrJoki007 opened #642 "Crash on starting sponge with the newest version"
When I start my server, it crashes with the following crash message. When I try it woth the sponge version 1338 it works but no longer with 1339:

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/274857/fml-server-latest.txt)

[2016-05-20 15:23] Cybermaxke commented on #635
The `getName` method of the minecraft `SoundCategory` class is being overwritten in the `MixinSoundCategory`.

[2016-05-20 15:33] i9hdkill opened #643 "java.lang.NullPointerException: The property 'initialWeather' was not provided //crash"
SpongeForge 1339
http://pastebin.com/Yi04tNYy
Getting this error/crash after the server loaded sucessfully.

[2016-05-20 16:02] bloodmc commented on #643
@i9hdkill Use 1338 for now.

[2016-05-20 16:03] Zidane commented on #643
@bloodmc

This was caused by this dumb separation occurring in these mixins and I missed it. I'll push a fix shortly.

[2016-05-20 18:11] KumaGetsu commented on #640
@bloodmc I'll upload it now... It may take some time to see a result.

[2016-05-20 18:57] KumaGetsu opened #644 "SpongeForge 1339 - Server stopped"
There was no crash, the server just stopped while trying to startup.

Last few lines from console:
http://paste.ubuntu.com/16531187/

[2016-05-20 18:59] KumaGetsu commented on #644
This doesn't happen on previous version.

[2016-05-20 19:01] bloodmc commented on #644
dupe #642

[2016-05-20 19:01] #644 closed

[2016-05-20 19:01] bloodmc commented on #643
dupe #642

[2016-05-20 19:01] #643 closed

[2016-05-20 20:13] bloodmc commented on #615
You need to cancel UseItemStackEvent for this case.

[2016-05-20 20:13] #615 closed

[2016-05-20 20:14] bloodmc commented on #580
@dh47 @NEXUS2345 does this still occur with latest SpongeForge builds?

[2016-05-20 20:15] bloodmc commented on #585
Closing due to no response in over 20 days.

[2016-05-20 20:15] #585 closed

[2016-05-20 20:17] bloodmc commented on #637
I see no point in cancelling the base event like this...especially when you are attempting to send a message directly after. Do you know the ClickInventoryEvent will trigger a ton as that handles ALL clicks within a container. Please provide a proper use-case for what you are attempting to do because currently it makes no sense.

[2016-05-20 20:37] Zidane commented on #642
Fixed in build 1340.

Apologies again!

[2016-05-20 20:39] Zidane commented on #633
@i9hdkill

My intention was to resolve this sooner but my main dev machine's GPU decided to go take a walk. That has been somewhat resolved so you'll have a fix this evening.

[2016-05-20 20:43] MrJoki007 commented on #642
Not fixed yet
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/275417/fml-server-latest.txt)

[2016-05-20 20:59] i9hdkill commented on #633
No worries mate. Thanks for for fixing this in 1.8.9 at all!:)

[2016-05-20 21:37] Zidane commented on #642
@MrJoki007

Working fine locally, I'm starting to wonder if there is a cached mixin build happening or something of the sorts.

I'll keep testing, we'll get it figured out

[2016-05-20 21:48] Zidane commented on #642
Okay, built a jar of SpongeForge locally and ran it, no problems. Looks like our build site is caching the Mixin jar for whichever reason, we'll look into it.

Here is the pre-built jar from my workspace which is 1:1 master. Can you give it a try?

https://www.dropbox.com/s/5m2o12v3lombe2m/spongeforge-1.8.9-1890-4.1.0-BETA-0.jar?dl=0

[2016-05-20 21:48] MrJoki007 commented on #642
sure

[2016-05-20 21:48] MrJoki007 commented on #642
damn

[2016-05-20 21:52] MrJoki007 commented on #642
The server starts again perfectly but the bug between the worlds is not fixed yet

[2016-05-20 22:01] MrJoki007 commented on #642
So thats funny again... The enderchest works now between the nether and the normal world but not with the mining world
It all works in singleplayer so it has to be a sponge bug

[2016-05-20 22:24] Zidane commented on #642
@MrJoki007

I don't see how it would be different. The code states that any world who isn't Overworld shares same map storage with Overworld now.

[2016-05-20 22:25] Zidane commented on #642
I'll check into it though. Thanks for the testing.

[2016-05-20 22:26] MrJoki007 commented on #642
I know thats very strange
But im using Aroma1997s Dimensional World (Mining World Mod)
http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1287828-aroma1997s-mods-betterchests-mining-world-mod
(The world where its bugging out)

[2016-05-20 22:30] Zidane commented on #642
@MrJoki007

Okay I see the issue. I'll be home shortly and fix it at the other spot.

[2016-05-20 22:31] MrJoki007 commented on #642
Sry for annoying you :(

[2016-05-20 22:32] Zidane commented on #642
@MrJoki007

No annoyance, it is Sponge's fault and mistake and falls on our shoulders to fix. I'm glad you came forward as we would have honestly never found it (until @modwizcode implemented maps I'd imagine ;)).

[2016-05-20 22:34] MrJoki007 commented on #642
Ok ^^

[2016-05-20 23:01] KumaGetsu commented on #640
@bloodmc Here is a new pretick crash on 1338

Crash-report:
http://paste.ubuntu.com/16533433/

[2016-05-20 23:20] Aaron1011 commented on #580
@bloodmc: This won't be resolved until DenseOres makes the needed change.

[2016-05-21 01:54] Zidane commented on #642
@MrJoki007

I've pushed the fix for that dimension. It'll be available in SF 1342 when it builds and uploads. I'll close this again, reopen otherwise.

[2016-05-21 01:54] #642 closed

[2016-05-21 03:48] Favorlock opened #645 "Heads not updating skins after restart"
So I have a utility class I made for updating skulls which you can find here: http://pastebin.com/uTxzCHzx

The heads just show as steve heads.

[2016-05-21 04:09] zyradyl commented on #640
I'm on 1343, no issues yet. However I am getting a "Silently Catching" Ticking error. Should I open a new bug for that or post it here? No crashes, just a notice in console.

[2016-05-21 04:13] Favorlock commented on #645
So I've updated my code a bit, here is a working version for setting the heads of a player: http://pastebin.com/ZZVbFYk7

Filling the profile only works with the cache disabled it would seem. If I try fill(profile, true, true) player skins are not set to the profile properly.

[2016-05-21 07:15] Zidane commented on #633
I've made some headway this evening on this issue. Mod dimensions (and Vanilla) now disable but the dimension type isn't right when you join the server. We ran into other unforseen issues on 1.8,9 that I also fixed in regards to multi-world.

I should have this fixed up by the afternoon my time tomorrow.

[2016-05-21 09:16] MrJoki007 commented on #642
Thanks works perfectly

[2016-05-21 19:48] zyradyl opened #646 "Sponge 1343 - Concurrent Modification Exception"
Crash log is here: http://pastebin.com/CFYjUSVf

I just recently added dynmapForge alpha 2.3-1. Wondering if it is mod incompatibility.

[2016-05-21 19:53] Zidane commented on #633
@i9hdkill

I have successfully resolved the issue for both regular entities and players. Here is a jar from my dev environment, can you test and see if it works for you?

https://www.dropbox.com/s/5m2o12v3lombe2m/spongeforge-1.8.9-1890-4.1.0-BETA-0.jar?dl=0

BACKUP your worlds first.

[2016-05-21 20:19] i9hdkill commented on #633
Thank you, it works!
Disabled the nether in dimension.conf:
world-enabled=false
load-on-startup=false
and disabling works. No errors etc.

Tried to push some items and chickens into the portal and it denies to work for them aswell.
Thanks for your hard work!

[2016-05-21 20:24] Zidane commented on #633
@i9hdkill

No problem :). Code will be cleaned up and pushed to master later on today.

[2016-05-22 05:22] Aaron1011 commented on #645
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/6574605746bc4a8aff177e985e56a76c9a2f0f91

[2016-05-22 05:22] #645 closed

[2016-05-22 06:30] JosephRymer commented on #646
What version of [SpongeForge](https://github.com/SpongePowered/SpongeForge) are you running and can you link the file to

[2016-05-22 13:24] bunSakurAing opened #647 "Any tools with the Collector effect can destroy locked blocks which placed"
Thaumcraft 5.2.4, the server is running with sponge 1347
I lock a block, and then I use the wand with the Collector effect destroying the block, the block will be destroyed and then recover, it will drop as an entity and players who have been collected.
I don't know to whom I should report this problem, if this is the problem of the sponge, please repair it.

[2016-05-22 14:27] ryantheleach commented on #647
How are you locking the block?

[2016-05-22 15:55] bunSakurAing commented on #647
@ryantheleach With the sponge plugin keys

[2016-05-22 18:44] zyradyl commented on #646
SpongeForge 1343, Link to Dynmap is at http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1286593-dynmap-dynamic-web-based-maps-for-minecraft

Thanks for looking into this.

[2016-05-22 18:47] zyradyl commented on #646
Had another crash last night, Without Dynmap installed. Details are here:
http://pastebin.com/kZyGva9x

[2016-05-22 18:49] Zidane commented on #646
Hmm, I'm seeing Biomes O Plenty in all these stacks but I doubt they are doing something odd here...

[2016-05-22 19:01] Zidane commented on #646
I'll discuss with @Deamon5550 to see about the best way to resolve this. I see the issue. Thanks for the reply.

[2016-05-22 19:03] Aaron1011 commented on #581
`GameProfileManager#fill` runs asynchronously, so you'll need to call `get` on it to ensure that the `GameProfile` is actually filled.

If this issue persists, please re-open this issue.

[2016-05-22 19:03] #581 closed

[2016-05-22 19:27] Zidane commented on #646
@zyradyl

What is your server's view distance?

[2016-05-22 21:25] zyradyl commented on #646
View distance is set at six.

[2016-05-22 21:27] Zidane commented on #646
@zyradyl

I made a commit that adds mob-spawn-range to your config files. Basically, Vanilla has a bug where a view distance under 8 will still load chunks page your view distance when spawning mobs around the player.

This is now fixed to be capped to your view distance. At view distance of 6 mobs will now spawn between 0 and 6 chunks around each player.

[2016-05-22 21:28] Zidane commented on #646
Let me push a ref bump for Forge

[2016-05-22 21:29] zyradyl commented on #646
Thank you very much! :)

[2016-05-22 23:59] bloodmc commented on #647
This has nothing to do with SpongeForge. The issue is with keys not handling this specific mod case.

[2016-05-22 23:59] #647 closed

[2016-05-23 01:52] zyradyl commented on #646
Seems fixed, Gonna close this now. Thank you!

[2016-05-23 01:52] #646 closed

[2016-05-23 05:16] DoomedScar commented on #615
@bloodmc UseItemStackEvent does not fire when right clicking with a Water Bucket

[2016-05-23 16:23] ryantheleach commented on #647
https://github.com/prism/Keys/blob/master/src/main/java/com/helion3/keys/listeners/ChangeBlockListener.java#L45

So at a guess there is no player present in the cause when a tool with collector is used.

[2016-05-24 05:08] aglarcz opened #648 "doors and gates not closing"
Hello,
doors and gates are not closing with hand on my server with latest spongeforge. When you rightclick some doors not made from oak, they will not close. They are closing in 1 of 10 tries. No error, no fps drops - just not working. Oak doors are ok and opening with button/lever/pressure plate works too. Any ideas?

[2016-05-24 05:30] Zidane commented on #648
@aglarcz

Cannot reproduce. Remove all plugins/mods besides SpongeForge and retest.

[2016-05-24 11:35] aglarcz commented on #648
Found interaction with RedProtect - will communicate with its owner. Thanks for tip.

[2016-05-24 13:10] CreativeMD opened #649 "SpongeForge Core Mod support?"
Hello,
lately i got an issue report about SpongeForge (https://github.com/CreativeMD/ItemPhysic/issues/19). My mod ItemPhysic can't be used on a SpongeForge Server due to some ASM Transformer crashes.

So my question is, is there a way to fix an issue like that? I'm sure that this is a lot more difficult because those files don't exits like in forge, so my transformation end up ruining everything.

[2016-05-24 13:18] #648 closed

[2016-05-24 15:29] simon816 commented on #649
There are a few things that I have spotted that are potential issues.
You are accessing a logger field on the mod container [here](https://github.com/CreativeMD/ItemPhysic/blob/1.8.9/src/main/java/com/creativemd/itemphysic/ItemTransformer.java#L65) (and in other places)  which in turn will load the mod container whilst transforming another class, and on the wrong classloader.
Try putting the logge

[2016-05-25 00:43] KumaGetsu opened #650 "World Border not saving"
Using /worldborder set on other dimensions is not persistent after a restart. Only the main world saves it's worldborder.

This issue started a couple version back.

[2016-05-25 00:44] KumaGetsu opened #651 "Server crash - removeFirst"
SpongeForge 4.1.0-BETA-1352

Crash-report:
http://paste.ubuntu.com/16670044/

[2016-05-25 00:46] Zidane commented on #650
@KumaGetsu

Unfortunately, this was a side effect of fixing many other issues with storage not being shared globally for global map/etc storage...now the WorldBorder isn't synced to overworld.

I'll push up a fix, apologies!

[2016-05-25 00:47] Zidane commented on #651
Heh, blood's favorite bug.

[2016-05-25 00:52] KumaGetsu commented on #650
Thank you. Please @ me when it's pushed. @Zidane

[2016-05-26 00:11] gabizou opened #652 "Double Generation Events"
From the [thread](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=2255), Realistic Terrain Generation is receiving double ore generation events.

@srs_bsns could likely explain more, but I'm willing to bet it has to do with the fact that the ore events are thrown on a different event bus than the main events.

[2016-05-26 13:29] Milchshakee commented on #637
The code I use in my plugin is of course more complicated and filters out the ClickInventoryEvents it wants to cancel. The example code above is just used to reproduce the issue that cancelled ClickInventoryEvents are sent again if a message is send after cancellation.

[2016-05-27 15:54] #555 closed

[2016-05-27 20:54] MrJoki007 opened #653 "Random server crash"
Just played on my modpack server and it accidently crashed with following crash report:
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/287327/fml-server-latest.txt)

[2016-05-27 21:24] simon816 commented on #653
You have pore which unfortunately isn't fully implemented and will likely crash with bukkit plugins.
Remove Pore to see if it helps fix the issue

[2016-05-28 00:14] bloodmc commented on #653
Caused by Pore which is a dead plugin and unsupported.

[2016-05-28 00:14] #653 closed

[2016-05-28 00:23] bloodmc commented on #651
@KumaGetsu I need a crash report using latest build.

[2016-05-28 16:51] Milchshakee opened #654 "Cancelling an InventoryClickEvent and clicking repeatedly causes ItemStacks to disappear"
When using the event listener below in a plugin and trying to click on an ItemStack in an inventory nothing happens as expected, since the event is cancelled. However, if you spam your left and right mouse button simultaneously long and hard enough, the ItemStack will somehow disappear. Even after a relog, the ItemStack is gone. Note that you have to spam the mouse buttons both at the same time an

[2016-05-29 19:52] dpisarenko opened #655 "Sponge forums are down"
When I try to open the [Sponge forums](https://forums.spongepowered.org/) I get the `503 Service Unavailable` [error](http://i.imgur.com/cJ8V1np.png).

[2016-05-29 19:52] Zidane commented on #655
Services will be restored later on today. We're aware of the issues. Thanks!

[2016-05-29 19:52] #655 closed

[2016-05-30 21:37] KumaGetsu commented on #651
@bloodmc Using 1365 since this morning and haven't seen the crash yet. Going to update to 1367 later. Will keep you informed if those crash-reports show up.

[2016-05-31 07:00] KumaGetsu commented on #651
@bloodmc Just had the same crash using 1365. I have just updated to the latest 1370, will update again if it still happens.

Crash-report:
http://paste.ubuntu.com/16860369/

[2016-05-31 07:11] KumaGetsu commented on #651
Nvm I am using 1368 because of this issue during startup: http://paste.ubuntu.com/16860434/

[2016-05-31 17:46] bloodmc commented on #651
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/de314482135c462d4fbd9bdde48e8c3bb1e8912f

[2016-05-31 17:46] #651 closed

[2016-06-01 04:43] KumaGetsu opened #656 "1377 Teleport errors"
@bloodmc 1377 causing issues with teleporting

Not able to copy text of the errors in chat mouse-over info so here's 2 screenshots of the issues.

setLocation
http://puu.sh/pcnxi/57a1cbf9ca.png

setTransform
http://puu.sh/pcnzw/24bbe28286.png

[2016-06-01 04:46] Zidane commented on #656
@KumaGetsu

Hassan will need to update his plugins.

[2016-06-01 04:46] #656 closed

[2016-06-01 04:57] KumaGetsu commented on #656
@Zidane Okay thanks, I'll inform him

[2016-06-01 23:06] bbtiger opened #657 "spongeforge-1.8.9-1890-4.1.0-BETA-1380 crash-reports"
input spawn *  ERR

java.lang.NoSuchMethodError: org.spongepowered.api.entity.living.player.Player.setLocation(Lorg/spongepowered/api/world/Location;)V
        at main.java.me.cuebyte.nexus.commands.CommandSpawnTeleport.<init>(CommandSpawnTeleport.java:35) ~[CommandSpawnTeleport.class:?]
        at main.java.me.cuebyte.nexus.commands.CommandSpawn.process(CommandSpawn.java:30) ~[CommandSpawn.class:

[2016-06-01 23:18] ryantheleach commented on #657
https://github.com/CuebyteGit/Nexus/blob/ae0eb8dcf98ebe04987bae232ad889c6aa9c211b/src/main/java/me/cuebyte/nexus/commands/CommandSpawnTeleport.java#L35

https://github.com/SpongePowered/SpongeAPI/commit/29eeb92d962fc5c09439f296ed1d5533094d0686

Would changing the return type from void to boolean break binary compatibility?

[2016-06-01 23:22] bbtiger commented on #657
spongeforge-1.8.9-1890-4.1.0-BETA-1368 Without this problem

[2016-06-01 23:25] Deamon5550 commented on #657
@ryantheleach yes it does, plugins will have to update. (just a recompile in this case of void -> bool)

[2016-06-01 23:25] #657 closed

[2016-06-02 13:57] KumaGetsu opened #658 "1381 removeFirst"
@bloodmc 1381 still causing this crash.

Crash-report:
http://paste.ubuntu.com/16919786/

[2016-06-02 15:39] #658 closed

[2016-06-03 14:09] seanamor opened #659 "Compatibility"
Currently this is my set up:

 SpongeForge
 Minecraft: 1.8.9
 SpongeAPI: 4.1.0-SNAPSHOT-8c015f8
 SpongeForge: DEV
 Minecraft Forge: 11.15.1.1902

When I try to use Sponge 4.1.0-BETA-1385, it crashes. I am pretty certain its because its not built on forge 11.15.1.1902 (*latest)

Id like to stay on the bleeding edge, as there are bug fixes so frequently. If you guys can update sponge to play nice wi

[2016-06-03 14:49] JBYoshi commented on #659
Could you post the crash report?

[2016-06-03 14:56] seanamor commented on #659
Sure let me switch over to Sponge 4.1.0-BETA-1385 to get the report.

[2016-06-03 15:01] seanamor commented on #659
My apologies, it worked this time. This can be closed, aside from the spawning issue in the config.

[2016-06-04 00:26] bloodmc commented on #659
Disabling a specific mob? There is nothing in our configs that support this. You can disable entity activation but that has NOTHING to do with spawning. Read the docs.

[2016-06-04 00:26] #659 closed

[2016-06-04 00:32] seanamor opened #660 "Teleport/World Issue"
Minecraft: 1.8.9
SpongeAPI: 4.1.0-SNAPSHOT-6aa22d5
SpongeForge: 1.8.9-1890-4.1.0-BETA-1385
Minecraft Forge: 11.15.1.1902

I try teleporting to a player, and this occurs:

[code]

[2016-06-04 00:37] JBYoshi commented on #660
@gabizou Probably a mistake in https://github.com/SpongePowered/SpongeCommon/commit/f39be58f704466dd8ca7e66ecb88777c29475f3b? Specifically, I think the JVM was looking for a method in `org.spongepowered.api.mixin.Entity`, but the actual method is in `MixinEntity`. Probably could be fixed by mixing into `org.spongepowered.api.mixin.Entity` and adding the methods from `IMixinEntityBackwardsCompatibl

[2016-06-04 00:46] Aaron1011 commented on #660
@seanamor: Can you link to the version of EssentialCmds that you're using?

[2016-06-04 00:47] Zidane commented on #649
Closing this as its an issue on ItemPhysic's end.

[2016-06-04 00:47] #649 closed

[2016-06-04 00:48] Zidane commented on #597
Closing this as custom inventories are in progress and there is an open PR available.

[2016-06-04 00:48] #597 closed

[2016-06-04 01:39] #432 closed

[2016-06-04 10:12] #660 closed

[2016-06-06 05:13] Zidane commented on #650
@KumaGetsu

I fixed up the WorldBorder implementation. It now changes per world and persists :).

[2016-06-06 05:13] #650 closed

[2016-06-06 05:13] #634 closed

[2016-06-06 05:13] #635 closed

[2016-06-06 06:08] Zidane opened #662 "Fix ItemTossEvent not cancelling correctly upstream"

[2016-06-06 07:34] ryantheleach commented on #650
So nether / end don't use the overworlds border by default? We should document this on the docs somewhere.

[2016-06-06 14:53] theboomer opened #663 "[1.8.9] ConstructEntityEvent.POST meaningless Cause object"
This issue was closed months ago, but was not completed and the followup was never acknowledged, so I'm reposting to make sure it was seen again with the current Spongeforge/forge 1.8.9 (just prior to api 4.2.0 pushoout) combo              https://github.com/SpongePowered/SpongeForge/issues/589

The ConstructEntityPost event is thrown but the CAUSE is useless:
Cause.toString ::
`Cause[{Name=Source

[2016-06-06 17:49] LuxusDarkangel opened #664 "[1.9.4] Startup crash (problem with mixins)"
Full log: http://pastebin.com/sdS21PiB
Forge: 12.17.0.1954
Sponge: 5.0.0-BETA-1398

Without any mod or plugin.

[2016-06-06 21:37] LuxusDarkangel commented on #664
Fixed in latest versions.

[2016-06-06 21:37] #664 closed

[2016-06-06 21:38] LuxusDarkangel opened #665 "[1.9.4] Crash with some mods installed"
Crash-Report: http://pastebin.com/9rqFG6H4
SpongeForge version: 5.0.0-BETA-1406

In this case i used Forestry to reproduce the crash, but works with Extrautilities too.

[2016-06-06 23:43] LuxusDarkangel opened #666 "[1.9.4] Unable to launch - Null pointer exception"
Crash on startup while using TechReborn and RebornCore.

Full log: http://pastebin.com/4rssNZPc
SpongeForge version: 5.0.0-BETA-1406

[2016-06-06 23:44] LuxusDarkangel opened #667 "[1.9.4] Exception in server tick loop"
Crash-Report: http://pastebin.com/m5d8vQn9
SpongeForge version: 5.0.0-BETA-1406

Using EnderIO and EnderCore.

[2016-06-07 00:10] Deamon5550 commented on #667
This issue is already known and is pending a fix by the EnderCore developers. See [SleepyTrousers/EnderCore#37](https://github.com/SleepyTrousers/EnderCore/pull/37) and related issue #610.

[2016-06-07 00:10] #667 closed

[2016-06-07 00:10] Zidane commented on #667
@LuxusDarkangel

This is because EnderCore is classloading several events and other game objects during their transformer:

https://github.com/SleepyTrousers/EnderCore/blob/master/src/main/java/com/enderio/core/common/transform/EnderCoreTransformer.java#L253

This line invokes a Logger field from EnderCore which cascades into loading the classes in EnderCore's class file. You need to tell the deve

[2016-06-07 00:16] LuxusDarkangel commented on #667
Whooops, sorry for the duplicated report.

[2016-06-07 00:56] gabizou commented on #665
Fixed with https://github.com/SpongePowered/SpongeForge/commit/c910096bce1a189f1ed19ac2b37b4b2c0c6c14a8 the build should be [#1409](http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/index_1.9.4.html).

[2016-06-07 00:56] #665 closed

[2016-06-07 01:32] Aaron1011 commented on #667
I have an open PR for that issue: https://github.com/SleepyTrousers/EnderCore/pull/37

[2016-06-07 01:58] #666 closed

[2016-06-07 15:42] LuxusDarkangel opened #668 "[1.9.4] Massive spam generating a world with Pam's Harvestcraft."
Log  (only a chunk, becase it's waaaaaay bigger): http://pastebin.com/rBgZN7Nk
SpongeForge version: 5.0.0-BETA-1412

[2016-06-07 15:45] Zidane commented on #668
@LuxusDarkangel

We need the log from start and up to the FIRST print of the runaway phase.

[2016-06-07 17:54] theboomer opened #669 "[1.8.9] Explosion transactions include AIR - can be several hundreds for each real block transaction needed)"
Would it be possible to eliminate the inclusion of AIR blocks from the transaction list for an ExplosionEvent.Detonate, in order to reduce an iterable list of impacted blocks down to something meaningful without having to filter-out all the air from a MASSIVE list each time?  Or is there a purpose for including them?

**The inclusion of the unchanged AIR makes no sense** whatsoever that I can see:

[2016-06-07 20:22] gabizou commented on #668
@LuxusDarkangel Can you give build 1414 a try? I've added some helpful debugging in the cases where terrain recurses into multiple chunks (which mods apparently want), Do report back if it still ends up spamming with the same type of stack trace as https://gist.github.com/gabizou/547830b48abdec0a39121eb56fc37ac2#file-gistfile1-txt-L115-L201 exemplifies. (What you're looking for is when you see the

[2016-06-07 20:23] gabizou commented on #663
@Zidane @bloodmc I'm guessing that this is going to be chalked up to the `CauseTracker` to determine what the cause of the construction should be?

[2016-06-07 20:34] LuxusDarkangel commented on #668
Hmm... you mean build 1413 or is it still building and uploading to the forge servers?

[2016-06-07 21:06] gabizou commented on #668
Sorry, build 1417 which just built (should show up in the next few minutes) has the fixes and then some.

[2016-06-07 22:33] LuxusDarkangel opened #670 "[1.9.4] Incompatibility with ExtraBitManipulation"
When you use some of the functions of this mod, it shows this error in the console log and the changes you made are not saved (they're only reflected in your client, and disappear when you relog)

A chunk of the log: http://pastebin.com/DacTdU0g
Full log: https://mega.nz/#!hNsz1A5Q!_bvac-xl1q3z1osd4aJYd6gZeSg53zEwWyM8F5MWUqQ

[2016-06-07 22:40] LuxusDarkangel commented on #668
You only added debug? Because i'm not able to reproduce it using build 1417, only build 1413.
Guess it's fixed, thank you!

[2016-06-08 01:04] gabizou opened #671 "Fail to convert a command block minecart"
This is just an abstract method error that should be resolved pretty easily:

[code]

@zml2008

[2016-06-08 01:25] #671 closed

[2016-06-08 06:39] ryantheleach commented on #669
I'd really like the air to stay. I had considered a plugin where instead of damaging blocks creepers would instead spam blocks randomly within the explosion radius. removing the air would make this more problematic as I would need to re-raytrace.

[2016-06-08 15:36] seanamor opened #672 "Blood Magic - Demonic Will"
https://github.com/WayofTime/BloodMagic/issues/784

Can anyone do further testing, The dev closed out the issue if you read the above issue. It does not look like they will/can fix this issue, but its pretty game breaking for the mod itself, it worked on past version of sponge, I just cannot verify which one.

**#### What you expected to happen:**

Receive demonic will

**#### Steps to reproduce:*

[2016-06-08 16:24] gabizou opened #673 "Make SpongeForge configuration configurable through Forge mod configuration menu"
A few mods have already started doing this for clients, and I believe that as many options we provide, we should be able to configure the global configurations of Sponge (granted, mixin disabling barred since that's a more runtime start up thing) through such menus. This is a low priority but still an enhanced feature.

Perhaps later on as well, we could provide a sponge like GUI menu for in world

[2016-06-08 17:32] Mohron opened #674 "[1.9.4] SpongeForge incompatible with EnderCore"
Mod Versions
EnderCore-1.9.4-0.4.0.23-alpha.jar
spongeforge-1.9.4-1954-5.0.0-BETA-1417.jar

[Crash Report](http://pastebin.com/xrrtiB9U)

https://github.com/SleepyTrousers/EnderCore/issues/44

[2016-06-08 17:33] Mohron commented on #674
https://github.com/SpongePowered/SpongeForge/issues/674

[2016-06-08 17:37] gabizou commented on #674
It's a known issue, it requires a single class change of which a PR was made some time ago to fix it: https://github.com/SleepyTrousers/EnderCore/pull/37 There's nothing SpongeForge can do by itself.

[2016-06-08 17:37] #674 closed

[2016-06-08 20:02] CuebyteGit commented on #657
Thanks for reporting this issue! This has been fixed in [Nexus v1.8.2c](https://github.com/CuebyteGit/Nexus/releases).

[2016-06-09 00:10] topisani commented on #652
i remember looking into this (hi, im topi, another TeamRTG member (yes thats a terrible name, blame @WhichOnesPink44)), but i forgot what i found out, so thats kinda sad. Does this affect all mc versions? cause theres a pretty big difference between our mod versions.

[2016-06-09 01:04] teaearlgraycold opened #675 "NPE Raised every time world save occurs"
I'm currently running SpongeForge 1.9.4, and every 45 seconds (when the world auto-saves) and when running `save-all`, this appears in the console. This is on Windows 10 x64.

[code]

I believe [this](https://github.com/SpongePowered/SpongeCommon/blob/5afad37c96b825b9db7eb06cba52a02b4a856bea/src/main/java/org/spongepowered/common/mixin/core/world/storage/MixinWorldInfo.java#L727) is the method.

[2016-06-09 01:22] teaearlgraycold commented on #675
The world data can be saved and updated, but I suppose Sponge related metadata or whatever is having issues.

[2016-06-09 02:32] gabizou commented on #675
This is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/781

[2016-06-09 02:32] #675 closed

[2016-06-09 07:09] bloodmc commented on #672
@seanamor Test build SF 1421.

[2016-06-09 16:51] LuxusDarkangel commented on #670
The same problem happens with other mods, FE: using Tinkers Contruct's EFLN.
Any news? @gabizou

[2016-06-09 17:51] gabizou commented on #670
I know of a solution, but whether it's a good one is unknown, I have to do some finer testing.

[2016-06-09 23:13] iPencil opened #676 "Villager ID crash with Immersive Engineering and SpongeForge 4.2.0-BETA-1414"
When the Immersive Engineering Villager is loaded it immediately crashes the server. I'm not sure who is at fault here but I thought reporting it here might be better.

As I said we're using SpongeForge 4.2.0-BETA-1414 and Immersive Engineering 0.8-27 for 1.8.9

Please note that while the ID currently says -1, it started crashing with 80, crashes with 5, 7, or anything else we have tried.

Please

[2016-06-10 03:03] gabizou commented on #676
So, there's no clear way to fix this sadly. The unfortunate part is that Forge's `VillagerRegistry` was rewritten for 1.9, but the changes were never back ported to 1.8.9, which basically prevents mods from properly registering their custom villagers and what's called `ITradeList`s. While it *is* possible to add support for custom `VillagerProfession`s, it's not very well possible for us (sponge)

[2016-06-10 10:18] ruyanve opened #677 "[1.9.4] Start-up crash with Stellar API/Sky"
Forge 1954
Sponge 1418
Stellar API 0.4.3.2b
Stellar Sky 0.4.4.1

With Stellar API: https://gist.github.com/ruyanve/e9138db618f5d477ac2583d70dfcc552
With Stellar API + Stellar Sky: https://gist.github.com/ruyanve/43ce5a9bbc16284490bc591221eb6915

Opened a ticket here as well: https://github.com/Abastro/StellarAPI/issues/2

[2016-06-10 10:19] ruyanve opened #678 "[1.9.4] Item duplication when dropped via drag out of inventory"
Using
spongeforge-1.9.4-1954-5.0.0-BETA-1418
and
Forge 1954
log: https://gist.github.com/ruyanve/9955163133b3451dcda65a2915a505a2

I can't drop items via the keybind (they return to me instantly) and whenever I drop items via drag and drop out of the inventory they duplicate.

[2016-06-10 13:42] iPencil commented on #676
Well it seems like Immersive Engineering hasn't even implemented their villager and are spawning it by accident so that conflict should be resolved. Just seems like SpongeForge is more sensitive with that stuff than Forge itself, because it doesn't crash on a vanilla/forge server.

[2016-06-10 15:14] cindylo opened #679 "[1.9.4] Shift placing block doesn't work"
This was also an issue that was fixed on spongevanilla a bit ago but shift clicking with a block doesn't work, it just disappears but still pulls from your inventory if you're in survival.

[2016-06-10 15:26] Zidane commented on #677
Fixed locally, will be pushed up tonight with a big amount of multi-world fixes

[2016-06-10 15:34] Zidane commented on #669
At first I was going to close this but elected to think about it for a bit.

After doing so, @theboomer is correct but also incorrect at the same time. The transactions in ChangeBlockEvent should represent an actual change occurring. If an explosion hits AIR then the result is AIR...no change occurs. What is happening in the base game is the Explosion notifies those AIR blocks (but nothing comes o

[2016-06-10 16:38] Eufranio opened #680 "[1.8.9] Crash with Agricraft and Sponge"
I am receiving a crash every time that i try to start a spongeforge server using agricraft.
Crash-report: http://pastebin.com/1eTbyhdH
With normal forge the issue is not happening.

[2016-06-10 16:41] simon816 commented on #680
This is an issue with Agricraft
https://github.com/InfinityRaider/AgriCraft/issues/601

[2016-06-10 16:41] #680 closed

[2016-06-10 16:53] theboomer commented on #669
So... the reason for keeping air blocks is to issue notify-neighbor events and trigger any intact BUD configurations that aren't destroyed of the airblock beside it being .... touched by an explosion, yet, not actually updated or modified in any way that a notify-neighbor would trigger?
What is the difference for a notify on unchanged air blocks vs unchanged stone blocks?

--
My key thinking was t

[2016-06-10 19:08] LuxusDarkangel opened #681 "[1.9.4] Incompatibility with CodeChickenCore"
Log: https://gist.github.com/LuxusDarkangel/9ceb2b4ed5b203c80ee8266e329fb512
SpongeForge version: 5.0.0-BETA-1418

[2016-06-12 18:27] Zidane commented on #677
Fixed in next SF bleeding build.

[2016-06-12 18:27] #677 closed

[2016-06-13 05:14] dakattack opened #682 "[1.9.4] Game breaking duplication glitch"
Sponge is causing items to duplicate on my server. It is very easy to recreate, just open your inventory, click an item, then (without closing the inventory screen) click and drop it off to the side. I am on spongeforge-1.9.4-1954-5.0.0-BETA-1429.  I know the problem is with sponge since it doesn't work in single player when I tried.  The only other mod I use is Biomes O Plenty.

EDIT: It is a pro

[2016-06-13 05:55] mikroskeem opened #683 "Server crash on startup when allow-nether=true"
Hello!

When I set `allow-nether=true` in server.properties, my server crashes with log: http://ix.io/S4P

I have tried everything:
* Reinstalling whole server
* Removing Sponge (server runs without it fine)
* Removing anything but Sponge (still crashes)
* Regenerating world(s)
* Setting `allow-nether=false`, which disables all worlds (server runs fine, but I want other worlds too)
* Updating/down

[2016-06-13 07:22] Zidane commented on #683
Erm, that build is actually a fair bit old and behind our latest recommended build as well.

[code]

Please download 1402 at the minimum http://files.minecraftforge.net/spongepowered and run it again.

[2016-06-13 07:22] #683 closed

[2016-06-13 07:30] Zidane commented on #682
I've tested the latest SpongeForge bleeding code and I cannot reproduce this. No duplication occurs.

[2016-06-13 07:31] Zidane commented on #682
@gabizou

I stand corrected. This only affects survival.

[2016-06-13 10:48] mikroskeem commented on #683
Whoops, my bad (more sleep needed) :)

[2016-06-13 11:50] Flashback083 opened #684 "[1.8.9] Offline server return "null" instead of name of player ?"
Hello ! Since i updated sponge, we have an issue, i think the uuid is break , for example, i use foxguard plugin and when a add member to region , the member wasnt add and in list, we see : "null" instead of name of player, any idea for this problem or you need more information ? thanks!!

PS :  i already make issue on spongeapi, but i think its not the good place, so i repost here my problem
i do

[2016-06-13 17:36] gabizou commented on #676
Closing this as SpongeForge is doing it's job appropriately to where villager careers that were not registered correctly are being reported as such. Granted, the registration process could be improved, 1.8.9's `VillagerRegistry` was far from usable. 1.9+ saw a registry rewrite, so the `VillagerRegistry` works perfectly for that version moving forward.

[2016-06-13 17:36] #676 closed

[2016-06-13 18:07] #678 closed

[2016-06-13 18:08] #682 closed

[2016-06-13 18:09] bloodmc commented on #672
Closing as this is a prism bug.

[2016-06-13 18:09] #672 closed

[2016-06-14 01:00] dakattack opened #685 "[1.9.4] Can't use water bucket in survival"
When I right click with the bucket the water block appears and then disappears and my bucket is still a "water bucket".  On the latest bleeding version in survival mode.  Tested it and it also affects the version released before this.

[2016-06-14 02:07] kinggoesgaming commented on #685
do you have any mods/ plugins? Try without any if yes

[2016-06-14 02:54] dakattack commented on #685
only biomes o plenty.  i did try it without any mods and it did not work.  damn shame cause i've got some water that needs a movin.

[2016-06-14 04:42] dakattack opened #686 "[1.9.4] You respawn with all of your items in survival"
On the latest bleeding version and possibly other versions compatible with 1.9.4, you respawn with your inventory intact.  Then you can go to your body and all of your items are there as well.  When you proceed to pick up those items, it seems to negate all of the items, and it writes in a 0 as the amount of that item you have, effectively deleting the item altogether.

[2016-06-14 14:05] Zidane commented on #684
@Flashback083

This sounds like a FoxGuard issue, report it to its maintainer and they can work with us on a resolution.

[2016-06-14 14:05] #684 closed

[2016-06-14 14:06] Zidane commented on #632
Closing this as it is complete.

[2016-06-14 14:06] #632 closed

[2016-06-14 16:17] gabizou commented on #686
Update to the latest SF bleeding.

[2016-06-14 16:17] #686 closed

[2016-06-14 17:56] #679 closed

[2016-06-14 18:20] Aaron1011 commented on #685
Bizarrely enough, this is a [**feature**](https://bugs.mojang.com/browse/MC-99561?jql=text%20~%20%22filling%20bucket%20creative%22). However, given how counterintuitive it is, it might actually be worth it to add a config option to use the old behavior.

[2016-06-14 18:24] Zidane commented on #685
@Aaron1011

He said this is happening in SURVIVAL mode.

[2016-06-14 18:33] Aaron1011 commented on #685
Ah, my bad - I read the issue the opposite way by mistake.

[2016-06-14 19:12] Aaron1011 commented on #685
Fixed for real in https://github.com/SpongePowered/SpongeForge/commit/b1b0fd702402573b865b18af9fc42fe621a7f8c7.

[2016-06-14 19:12] #685 closed

[2016-06-14 19:33] Mohron opened #687 "Compatability - Crafting Harmonics"
Version: spongeforge-1.9.4-1954-5.0.0-BETA-1436
Also Installed: craftingharmonics-1.9.4-1.4.6.29

Don't know if there is any hope of compatibility with Crafting Harmonics given what it interacts with but one can hope!

https://github.com/legendblade/CraftingHarmonics/issues/109

[2016-06-14 19:42] Aaron1011 commented on #687
@Mohron: The issue is in CraftingHarmonics. I've left a comment.

[2016-06-14 19:50] Zidane commented on #687
Closing as issue is on the mod author's end.

[2016-06-14 19:50] #687 closed

[2016-06-14 20:04] Aaron1011 commented on #681
This will be fixed when https://github.com/SpongePowered/Mixin/issues/134 is closed.

[2016-06-14 20:33] LuxusDarkangel opened #688 "[1.9.4] Loosen restrictions for flight with motion limits"
When you're flying on a spigot or vanilla server and it's a bit overloaded, you may experience some block lag (if you stop to break blocks) or the world loading slower, but it's nothing too bad. While using Sponge, if it lags even just a bit, will spam the console with "moved wrongly" and teleport you back ALL THE TIME, which is a terribly unsatisfactory feel.

[2016-06-14 20:56] Zidane commented on #688
@LuxusDarkangel

This does happen on a Vanilla server. Its basically because the moved too quickly check is wayyy to harsh and pulls you back. Spigot patches it to be forgiving, we need to do the same. If you can generate a timings report, we can make sure nothing is getting encumbered from our code.

Also, your plugins and mods installed will heavily affect this.

[2016-06-14 21:00] LuxusDarkangel commented on #688
I'm running the server with very low resources because it's a test server, i'm not blaming sponge for performance, but yeah, patching it to be forgiving is the best.

[2016-06-14 21:19] Starza4TW opened #689 "[1.9.4] Items from Entity Deaths Disappearing"
Using Sponge Forge Build 1438, no drops are spawned in the world upon entity death, either from players or from mobs (I'm guessing this is related to the changes in Sponge Forge Build 1436). Experience orbs do still drop upon death.

[2016-06-14 22:32] Mumfrey commented on #681
@Aaron1011 no it won't because you need to update to 0.5.7 for the fix.

[2016-06-14 23:31] LuxusDarkangel commented on #668
Well, i was wrong, this keeps happening. Here's a log using the latest sponge version so you can see the debug; https://mega.nz/#!wRkkkQhJ!TV8KPEpR3jcFD2gvPfrIipDQcNWateGVTKFCLw-fzns

[2016-06-15 00:34] gabizou commented on #668
@LuxusDarkangel Could you just use gist.github.com to include the startup and the first few sets of reports from the cause tracker? I don't really need the rest of the log.

[2016-06-15 00:38] LuxusDarkangel commented on #668
Of course: https://gist.github.com/LuxusDarkangel/73be4b556cb557fd6735299a34a878d7

[2016-06-15 00:38] gabizou commented on #668
You're still using an older SpongeForge, your'e running 1412, the build that fixed this issue is 1417+.

[2016-06-15 00:38] #668 closed

[2016-06-15 00:41] LuxusDarkangel commented on #668
You're totally right, I uploaded the latest version knowing it should fix this, but made it to the wrong server (I'm using two dedicated servers, with the same name). Sorry for bothering you!

[2016-06-15 00:55] Aaron1011 commented on #681
@Mumfrey: My bad - I meant 'we will fix it after this issue is closed', not 'it will be automatically fixed'.

[2016-06-15 01:22] LuxusDarkangel opened #690 "[1.9.4] Included debug?"
The message "Specific drops is false" will appear constantly in the console, guess it's debug wrongly included.

[2016-06-15 01:29] gabizou commented on #690
Yeah,

[2016-06-15 01:29] #690 closed

[2016-06-15 01:55] LuxusDarkangel opened #691 "[1.9.4] Weird item drop behavior."
Actually two problems exist with item drops:

1.- Opening the inventory GUI and dropping items in one of the sides will cause them to disappear (like throwing them to NEI in cheat mode)
2.- Trying to drop anything using Q can cause two behaviors:
  - If you open your inventory GUI and drop anything using Q, it will delete the item (no matter if in survival or creative mode)
  - If you select the i

[2016-06-15 03:13] Aaron1011 commented on #681
This is resolved in the latest SpongeForge.

[2016-06-15 03:13] #681 closed

[2016-06-16 13:28] knoxhack opened #692 "Crash with Evilcraft on server"
http://pastebin.com/3TYkGbBG

[2016-06-16 18:32] LuxusDarkangel opened #693 "[1.9.4] Incompatibility with ExtraUtilities2"
Log: https://gist.github.com/LuxusDarkangel/d69d4b7d43e7d6217efa83bc4a0feeeb
SpongeForge version: 5.0.0-BETA-1450

[2016-06-16 20:18] Aaron1011 commented on #693
Pending on https://github.com/rwtema/extrautilities/issues/888.

[2016-06-17 17:52] LuxusDarkangel opened #694 "[1.9.4] ChunkPreGenerate not working properly."
I made two tests using a plugin which implements ChunkPreGenerate (ProjectBorders: https://github.com/trentech/ProjectBorders/releases/tag/0.1.0), one in SpongeForge 1.8.9 (working fine, used to compare) and another one using SpongeForge 1.9.4 (bugged one)

I generated a new world for each test and used the following commands:

/border center world [x] [z]
/border diameter world 2500 (2500 = world

[2016-06-18 15:32] flash4203 opened #695 "Server start Crash with latest spongeforge-1.9.4-1965-5.0.0-BETA-1464"
The new spongeforge-1.9.4-1965-5.0.0-BETA-1464 and  forge-1.9.4-12.17.0.1965-universal wont work. clean install.

wont even start server. Report below

`---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.9.4-1965-5.0.0-BETA-1464.jar)
Contact their authors BEFORE contacting forge

// I just don't know what went wrong :(

Time: 6/18/16 3:30 PM
Description

[2016-06-18 15:34] flash4203 commented on #695
btw I tested forge before the mod and it worked. it is a sponge issue.

[2016-06-18 16:21] Zidane commented on #695
@flash4203

Update your bleeding build that I just pushed.

[2016-06-18 16:21] #695 closed

[2016-06-18 16:21] Zidane commented on #693
Closing as this is a mod author issue and not a Sponge issue.

[2016-06-18 16:21] #693 closed

[2016-06-18 16:56] flash4203 commented on #695
Ok I done that. no need to swear :o

[2016-06-18 16:57] Zidane commented on #695
@flash4203

Where in the reply to you did I...swear :S?

[2016-06-18 17:01] flash4203 commented on #695
its a joke I think in the UK bleeding means  like

Just bleeding doing it already, stems from Bloody. Like Bloody hell. etc.  ( I guess its lost in translation somewhere)

[2016-06-18 17:02] Zidane commented on #695
@flash4203

We had quite a laugh over here. For reference, SpongeForge for 1.9.4 originates from the codebase branch called "bleeding" meaning bleeding edge.

[2016-06-18 17:03] flash4203 commented on #695
ah I get you. but thank you anyway. No I got to hunt down the dynmap guy as his mod is bugged out as well. but he does not seem to answer his requests as quick as you guys. Kudos for you.

[2016-06-18 17:22] Zidane commented on #692
@knoxhack

Thanks for the report. Made me realize I forgot to register mod dimension types in the update :P. I've fixed that (not your issue) as well as allow mods to use WorldProviders that have other DimensionTypes they do not register (should fix your stuff).

[2016-06-18 17:22] #692 closed

[2016-06-18 17:23] Zidane commented on #580
Closing this as its an issue on DenseOre's side.

[2016-06-18 17:23] #580 closed

[2016-06-18 21:29] gabizou commented on #691
Should all be fixed now. Report back if still broken in build 1472.

[2016-06-18 21:29] #691 closed

[2016-06-18 22:59] knoxhack opened #696 "Crash with Bookshelf by darkhax on server"
https://gist.github.com/knoxhack/cc8333db2c1fd10ca7dec4bb33178b9b

Also reported to the mod developer.

[2016-06-18 23:01] gabizou commented on #696
Bookshelf is relying on a client side class while on the server. Nothing SpongeForge can do about that.

[2016-06-18 23:01] #696 closed

[2016-06-18 23:41] MrJoki007 opened #697 "Server not starting"
Just created a FTB Unstable 1.9.4 server with forge version forge-1.9.4-12.17.0.1965-universal.jar and sponge version spongeforge-1.9.4-1965-5.0.0-BETA-1472.jar.
But the server wont start
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/322038/fml-server-latest.txt)

[2016-06-19 00:06] LuxusDarkangel commented on #691
One of the problems is fixed, another one partially fixed and the last one keeps happening as before. I edited my first post to mark them.

[2016-06-19 00:15] LuxusDarkangel commented on #697
You have two problems:
1.- Update EnderCore (See [this](https://github.com/SleepyTrousers/EnderCore/pull/45))
2.- Remove ExtraUtilities 2, it's not compatible with SpongeForge (Requires a mod change, see [this](https://github.com/rwtema/extrautilities/issues/888))

[2016-06-19 01:55] Zidane commented on #697
Closing as this is a mod issue and not us.

[2016-06-19 01:55] #697 closed

[2016-06-19 02:28] Zidane commented on #694
I've tested latest bleeding and this is indeed fixed.

[2016-06-19 02:28] #694 closed

[2016-06-19 02:36] Zidane commented on #689
As of latest bleeding, drops are now functional again.

[2016-06-19 02:36] #689 closed

[2016-06-19 02:49] Zidane commented on #691
Moving discussion over here:

https://github.com/SpongePowered/SpongeCommon/issues/803

[2016-06-19 15:11] LuxusDarkangel opened #698 "[1.9.4] Chunks never get unloaded"
I noticed an issue with chunks, where as i was moving around the world and using the command /sponge chunks -w world the number never decreased, even if I stopped for a few minutes in the same spot to prevent more chunk loading. Turned on chunk unload debug, and confirmed the issue.

This mean two things:

1.- Natural chunk unload is not working, leading to massive lag and, finally, the server run

[2016-06-19 16:56] MrJoki007 opened #699 "NullPointException when entering nether"
When I enter the nether I get kicked with the reason Internal Server Error and this error in the console: http://hastebin.com/rodadojeme.avrasm

Modpack: FTB Unstable 1.9.4 Forge version: forge-1.9.4-12.17.0.1965-universal.jar Sponge version: spongeforge-1.9.4-1965-5.0.0-BETA-1472.jar

Edit: Nether is enabled in server.server.properties and the dimension.conf of sponge

[2016-06-19 17:49] knoxhack opened #700 "(1.9.4) Crash with Actually Additions (world gen related?)"
https://gist.github.com/knoxhack/229fe673f2b322e7ded7ad8662722da5

[2016-06-19 17:52] knoxhack opened #701 "[1.9.4] Crash with Roguelike Dungeons"
https://gist.github.com/knoxhack/7accde6c580697a328ac99ba0f0c9fdf

[2016-06-19 17:55] Ellpeck commented on #700
This is apparently caused by me using a Fake Player during worldgen to bonemeal grass and flowers.
This might not be good practise, but it works in vanilla with forge, so I thought it was okay. If it's not, I could also change it.

[2016-06-19 18:01] Aaron1011 commented on #700
@Ellpeck: I'm looking into it right now. There may be something Sponge can do to fix this.

[2016-06-19 18:03] gabizou commented on #700
I'd avoid using fake players for world gen always, but there is a bug that I hadn't considered before, and that's because SpongeCommon is not designed to take into account for Forge's FakePlayer object even though it extends `EntityPlayerMP`. Having that said, you could reproduce placing bonemeal by simply using a flower popular of sorts, similar to our [`MixinWorldGenFlowers`](https://github.com/

[2016-06-19 18:05] Ellpeck commented on #700
Yea, I could always just copy the code that Bonemeal uses as well. It was just easier to do it that way, and I didn't take into account it could cause problems.

[2016-06-19 18:16] Aaron1011 commented on #700
I'll be pushing a fix in a minute. There shouldn't be any changes needed on your end to fix the crash.

[2016-06-19 18:21] Ellpeck commented on #700
Okay, thanks :)

[2016-06-19 18:21] Aaron1011 commented on #700
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/78a787e266f2210c940c16d11c208f0ac767c019.

[2016-06-19 18:21] #700 closed

[2016-06-19 18:45] Aaron1011 commented on #699
@MrJoki007: I'm unable to reproduce this with the latest FTB unstable pack. Were you using the latest version (I had to disable extrautilities and manually upgrade EnderCore to get it to work with Sponge).

[2016-06-19 20:28] MrJoki007 commented on #699
Yeah did those two too. Also I have installed enderstorage and chickenchunks

[2016-06-19 22:43] dakattack opened #702 "[1.9.4] Sheering Sheep does not produce wool"
Sheered a sheep, got no wool.  Killed a sheep and the wool spawned.  Only other mod is biomes o plenty.  On latest version of sponge 1.9.4.

[2016-06-20 01:42] KumaGetsu opened #703 "addMessage Server Crash"
I couldn't figure out the cause.

Crash-report:
http://paste.ubuntu.com/17573388/

[2016-06-20 04:16] gabizou commented on #703
Could you provide more of the client log?

[2016-06-21 19:06] MrJoki007 commented on #699
It seems to be the fault of chickenchunks

[2016-06-21 20:07] MrJoki007 opened #704 "Items disappearing when dropped in inventory"
Im playing FTB Unstable and have a weired bug, when I drop items out of my inventory with the q key on hovering an item when the inventory is open. But insted of dropping the item, it disappears.

I removed all the mods to check if its an mods fault but it wasnt fixed then I removed them.

Modpack: FTB Unstable 1.9.4 Forge version: forge-1.9.4-12.17.0.1965-universal.jar Sponge version: spongeforge

[2016-06-21 20:17] gabizou commented on #704
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/803. Will be fixed in the next bump of SpongeCommon.

[2016-06-21 20:17] #704 closed

[2016-06-21 21:43] gabizou commented on #698
Fixed in https://github.com/SpongePowered/SpongeForge/commit/f355e5798ace5b25f2540121f99f8a249c04b323.

[2016-06-21 22:45] gabizou commented on #702
Fixed in https://github.com/SpongePowered/SpongeForge/commit/f6f78052f1934181624bf73c3be491b20553984e

[2016-06-21 22:45] #702 closed

[2016-06-21 22:46] gabizou commented on #701
I can't reproduce this. If this is still happening, re-test with the latest SF (should be build 1478) and provide the full log.

[2016-06-21 22:46] #701 closed

[2016-06-21 23:46] bougar opened #705 "[1.9.4] Craft table is not dropping unused items."
Hello,
When you put items on the craft table, and you don`t use them, if you dont recollect them manually, they dissapear.
I am using  forge-1.9.4-12.17.0.1968 with spongeForge Build 1476.

[2016-06-22 02:55] KumaGetsu commented on #703
@gabizou What do you mean 'client log'?

This is the crash-report from the server.

[2016-06-22 02:57] kashike commented on #703
Could you provide the entire server crash report?

[2016-06-22 09:46] BakermanLP opened #706 "Sponge command not registered"
Hello,
I tried to install an new minecraft server with forge and sponge. Here are the versions and the locations:
- forge-1.9.4-12.17.0.1968-universal.jar
- minecraft_server.1.9.4.jar
- mods/spongeforge-1.9.4-1968-5.0.0-BETA-1483.jar

After starting this with "java -jar forge-1.9.4-12.17.0.1968-universal.jar" I see, that Sponge is loaded:

[11:38:51] [main/DEBUG] [FML/]: Injecting tracing printstr

[2016-06-22 10:59] MrJoki007 commented on #706
Try using the Sponge version 5.0.0-BETA-1477.
The newest version is bugged for me too.

[2016-06-22 11:28] BakermanLP commented on #706
You are right, 1477 does work for me.

[2016-06-22 17:50] Xwaffle1 opened #707 "Random Crash with maximum players online."
Server was running just fine with no lag, not latency issues. Then boom. Servers modded, but the crash report seems to be coming from SpongeCommon.

http://pastebin.com/TUGT96Gh

[2016-06-22 20:59] Aaron1011 commented on #707
@Xwaffle1: Could you post the entire server log?

[2016-06-23 03:35] devryb opened #708 "Cannot launch with ExtraUtils2"
Mod name: EXTRAUTILS2-1.9.4-ALPHA-1.0.0A.jar
Link: http://minecraft.curseforge.com/projects/extra-utilities/files

Log: http://pastebin.com/bDvjgdDT

[2016-06-23 03:37] Zidane commented on #708
@devryb

ExtraUtils is causing ModMetadata to be classloaded in their transformer. They need to not do this as it doesn't give us a chance to perform a transformation on that class too.

Closing as this is not a Sponge issue.

[2016-06-23 03:37] #708 closed

[2016-06-23 03:42] devryb commented on #708
@Zidane do we have an issue open on the extrautil tracker for this?

[2016-06-23 03:45] Zidane commented on #708
@devryb

https://github.com/rwtema/extrautilities/issues/888

[2016-06-23 04:01] XileForce commented on #706
appears to be resolved in 1489

[2016-06-23 04:02] #706 closed

[2016-06-23 04:41] XileForce opened #709 "[1.9.4] Cannot place or drop items"
Basically in sponge 1489 trying to place an item or block spams this in my console and the block doesnt place. if in survival mode it also removes the block from your hand.

[code]

[2016-06-23 04:43] Zidane commented on #709
Incompatibility with biomes o plenty and us

@gabizou

I think your item pre-merge is to blame. That needs to be reverted, these methods should never be passing null stacks.

[2016-06-23 04:46] XileForce commented on #709
alright I wasn't sure who to post this to. thanks for letting me know.

[2016-06-23 04:50] gabizou commented on #709
Potentially, but the stacks shouldn't be null, the entities shouldn't be null to begin with? To simply toggle it, override one of the methods in the PacketPhase to ignorePreMerging and it will allow items to be spawned as normal.

The pre-merging system is designed to be toggle able based on not only the config option, but also the phase states themselves.

[2016-06-23 04:54] XileForce commented on #709
Shall I try disabling pre merging in the config and see if the issue is resolved?

[2016-06-23 04:58] gabizou commented on #709
It won't resolve the issue, it'll just disable the bit of code that is causing the issue. Item pre-merging is a good optimization overall for various cases, just not a very well tested feature where mods are concerned (as some contracts are intentionally broken, and others are not intentionally broken, such as in this case of BoP breaking). Yes, if you want it to work properly, disable it in the c

[2016-06-23 04:59] XileForce commented on #709
thanks! ill give it a shot for the time being

[2016-06-23 05:58] XileForce opened #710 "[1.9.4] Issue with Thutapi Mod"
I've also reported this to thutmose. I cant always reproduce the issue. But it happens usually a few minutes after the server has been running and a player is logged in. Not sure if the problem is with you or him. He said its related to how he handles explosions. These messages essentially spam several hundred times until you get disconnected.

[code]

[2016-06-23 09:15] DJTech9 opened #711 "SpongeForge 1.8.9 Problems"
I have been having issues with SpongeForge whenever i go and install the jar into my mods folder the server always crashes when i start it back up i have tried all sorts of different versions and yes just to be clear the SpongeForge and Forge versions are the same so thats not the issue

i have posted what i see in my console also
[code]

[2016-06-23 09:40] DJTech9 commented on #711
Here a crash report also

---- Minecraft Crash Report ----

WARNING: coremods are present:
  Java8CheckerCoremod (Pixelmon-1.8.9-4.2.7-universal.jar)
  SpongeCoremod (spongeforge-1.8.9-1890-4.1.0-BETA-1358.jar)
Contact their authors BEFORE contacting forge

// You should try our sister game, Minceraft!

Time: 6/23/16 5:27 AM
Description: Exception in server tick loop

java.lang.UnsupportedOperatio

[2016-06-23 10:35] DJTech9 commented on #711
Does is look like a java problem?

[2016-06-23 13:12] bloodmc commented on #711
spongeforge-1.8.9-1890-4.1.0-BETA-1358.jar
sponge{1.8.9-1890-4.2.0-BETA-1402

Old builds are not supported. Update to latest SpongeForge and make sure you are also running latest 1.8.9 forge.

[2016-06-23 13:12] #711 closed

[2016-06-23 13:28] DJTech9 commented on #711
Does the same thing and i put the latest builds in

[2016-06-23 13:28] DJTech9 commented on #711
23.06 09:24:18 [Multicraft] Server stopped 23.06 09:24:18 [Multicraft] Restarting crashed server in 5 seconds 23.06 09:24:18 [Multicraft] Server shut down (starting) 23.06 09:24:18 [Server] INFO at net.minecraftforge.fml.common.LoadController.propogateStateMessage(LoadController.java:189) ~[LoadController.class:?] 23.06 09:24:18 [Server] INFO at net.minecraftforge.fml.common.LoadController.sendEve

[2016-06-23 13:30] DJTech9 commented on #711
23.06 09:24:18 [Multicraft] Server stopped
23.06 09:24:18 [Multicraft] Restarting crashed server in 5 seconds
23.06 09:24:18 [Multicraft] Server shut down (starting)
23.06 09:24:18 [Server] INFO at net.minecraftforge.fml.common.LoadController.propogateStateMessage(LoadController.java:189) ~[LoadController.class:?]
23.06 09:24:18 [Server] INFO at net.minecraftforge.fml.common.LoadController.sendEve

[2016-06-23 13:34] Zidane commented on #711
@DJTech9

What exact version of Java are you running? I'm seeing:

[code]

[2016-06-23 13:35] DJTech9 commented on #711
It's not a home based server i use a webstie i've sent a ticket asking them to see about updating the java

[2016-06-23 13:38] DJTech9 commented on #711
I missed that though thank you for having a close look :)

[2016-06-23 13:39] Minecrell commented on #711
You need at least Java `1.8.0_40` to be able to run Sponge. Your host is using `1.8.0_11` which is very old and has several bugs that have been fixed in later versions.

For now you can only wait until your host updates his Java version to at least Java `1.8.0_40`.

[2016-06-23 13:40] DJTech9 commented on #711
Hmm well i hope they update it for me

[2016-06-23 19:01] #709 closed

[2016-06-23 21:28] Xwaffle1 commented on #707
Sorry for late response.

We are running Pixelmon (i'm sure you get many many crash reports that may because by them)
The stack trace points to sponge, but we're sending it to Pixelmon as well. Thanks!

http://pastebin.com/V0ZZ1LzW

[2016-06-23 21:36] gabizou commented on #707
If you can give it a shot, update Java as there might be a bug in the JVM causing the error.

[2016-06-24 03:02] Xwaffle1 commented on #707
BTW, this is on SpongeForge-1.8.9-1402, the last recommended version not 1.9.

[2016-06-25 16:31] #705 closed

[2016-06-25 16:32] gabizou commented on #705
This has been fixed in the later builds.

[2016-06-25 16:34] gabizou commented on #663
Is this still a thing?

[2016-06-26 04:02] Xwaffle1 commented on #707
This error seems to be quite common for us now, after the servers left online for a while. We have a good 40-100 players online at all times.

[2016-06-26 04:04] Zidane commented on #707
@Xwaffle1

Do you have a timings paste from when you have near 100 players online? Would love to see it.

[2016-06-26 15:27] HrdyAndrew opened #713 "[1.9.4/1.10] Inventories do not iterate over the off-hand slot"
I found that when iterating over a player's inventory, the off-hand slot is excluded. The code that I used to test this is this:
  `Iterable<Slot> slots = player.getInventory().slots();`
  `int i = 0;`
  `for (Slot slot : slots) {`
       `i += slot.getStackSize();`
   `}`
   `player.sendMessage(Text.of(i));`

I put this code in a command and ran it in-game with no items in my inventory except 64

[2016-06-26 16:34] theboomer commented on #663
Yes, there is  no change, except in the current spongeforge and 4.2.0 api we get:

`[Server thread/INFO] [STDOUT]: [com.prennet.boomod.testplatformc.TestplatformC:ps:38]: Cause[{Name=Source, Object={SpongeModGame{platform=SpongeModPlatform{type=SERVER, executionType=SERVER, api=Plugin{id=spongeapi, name=SpongeAPI, version=4.2.0-SNAPSHOT-768e91f}, impl=sponge, minecraftVersion=SpongeMinecraftVersio

[2016-06-26 19:43] Aaron1011 opened #714 "SpongeForge generates Nether and End in singleplayer"
Normally, only the Overworld is generated in singleplayer, while the Nether and End are generated when the player first travels to them.

With SpongeForge installed, all three dimensions are generated when the world is first created, which can increase the world load time by several seconds.

Unless there's a specific reason to do this, we should probably stick to how Vanilla handles it, and only

[2016-06-26 20:01] Xwaffle1 commented on #707
https://timings.aikar.co/v2/?id=be54136a680b4ea9b2ccd6a60c490443

The servers appear to be crashing upong restarts. Constantly. We had 4 crashes within a minute of each reboot. This timing report has 92 players online.

This time we got some more interesting crash reports. Here's  a pastebin with the stacktrace.
http://pastebin.com/AGSXAyDw

[2016-06-26 20:02] Xwaffle1 commented on #707
Also we are using Multicraft, and it's auto reboot feature. But, that shouldn't matter because it's a simple stop command.

[2016-06-26 20:12] Aaron1011 commented on #707
@Xwaffle1: Would you be able to join IRC (`#sponge` on `irc.freenode.net` - [webchat](https://webchat.freenode.net/)) to help me debug this issue?

[2016-06-26 23:21] Zidane commented on #714
@Aaron1011

This should actually apply no matter the platform but is only really an issue for the Nether. For example, you always teleport to a location around 0, 0 in The End so generating it at server start makes sense as that means a quick teleport.

Nether is different, we generate around spawn point of Nether which, like End, would be at 0 I believe and you won't see the benefit of this UNLES

[2016-06-27 05:46] xChristopher210 opened #715 "Errors in Items, Block Placing, Chunk Loading."
I'm having some weird things going on in my server being reported from many different people. Players are saying that blocks can't be placed, that they cannot pick up items, and chunks just don't load.

Sadly I dont have the fml-server-latest.log but I do have the regular log in the tar.gz file. It shows alot of errors and can hardly see players chatting.

https://drive.google.com/file/d/0B4r2-vZp

[2016-06-27 11:20] MrJoki007 opened #716 "[bleeding] Sponge breaking world when mod gets removed"
I just removed mods from my server and sponge messed up the world by mixing all the block ids.
Error: http://hastebin.com/ohokeyakec.vbs

But if i remove sponge and then the other mods the world is fine until I add sponge again to the server.
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/334703/fml-server-latest.txt)
Sponge version: spongeforge-1.9.4-1968-5.0.0-BETA-15

[2016-06-27 12:05] SnowBlitzz opened #717 "problem with setLocationAndRotationSafely"
https://github.com/NucleusPowered/Nucleus/issues/228

[2016-06-27 12:06] SnowBlitzz commented on #716
Just a fyi I don't think they support old sponge builds anymore. Update to the latest.

[2016-06-27 14:12] MrJoki007 commented on #716
Its the recent version

[2016-06-27 14:46] bloodmc commented on #715
@xChristopher210 Fixed in latest build.

[2016-06-27 14:46] #715 closed

[2016-06-27 15:18] SnowBlitzz commented on #716
Ah, fuzzy. Read it all wrong. Sorry about that XD never should have commented lol

[2016-06-27 15:39] MrJoki007 opened #718 "[bleeding] Sponge breaking FTB Utilities"
If you have installed FTB Utilities on both (client and server) sides, some buttons will appear on the top left corner of the inventory gui. But if you have sponge installed, the buttons wont appear.

Sponge version: spongeforge-1.9.4-1968-5.0.0-BETA-1503.jar
Forge version: forge-1.9.4-12.17.0.1968-universal.jar
FTB Utilities version: FTBUtilities-1.9.4-2.1.0-pre1.jar

[2016-06-27 15:47] gabizou commented on #718
There's not really anything we do with GUIs, so I'm not at all sure of how we're breaking it per say.

[2016-06-27 18:17] MrJoki007 commented on #718
I think the mod is checking if the mod is on the server too and that check fails

[2016-06-28 09:16] dags- opened #719 "Forge HarvestDropsEvent being passed as ChangeBlockEvent"
Forge's `BlockEvent.HarvestDropsEvent` is being sent to listeners of Sponge's `ChangeBlockEvent`. The latter being cancellable, and the former not. This causes the above error when attempting to cancel the block event.

Seems to be occurring when blocks decay and potentially drop items (unsustainable leaves dropping saplings/apples or w/e).

[2016-06-29 01:50] gabizou commented on #718
Can you gist the full FML log?

[2016-06-29 16:41] bloodmc commented on #716
@MrJoki007 please zip your mods so we can troubleshoot the issue on our end. Also state the exact steps you took to reproduce this issue.

[2016-06-29 19:13] MrJoki007 commented on #716
With the mods I removed or without?

[2016-06-29 19:25] MrJoki007 commented on #718
Here you go
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/340015/fml-server-latest.txt)

[2016-06-29 19:37] MrJoki007 commented on #716
Here a link of all mods zipped together: http://glplayers.de/Daten/mods.rar
The steps: Create a world :D
Then stop the server and remove mods (EnderStorage, ChickenChunks and CodeChickenCore for me)
Start the server again
Then the normal message that some blocks are missing appears, confirm that with /fml confirm
After that an error appears that theres an error in the level.dat and you have to con

[2016-06-30 00:00] LuxusDarkangel commented on #698
Seems like chunk gc is broken again. If i move around the world it unloads inactive chunks when i get far from them, but if i'm using a chunk pre generator, chunk gc does nothing and the number of loaded chunks keeps growing until it runs out of memory.

[2016-06-30 01:21] gabizou commented on #698
Chunk GC is disabled. there's nothing that we're preventing chunks from unloading or loading. Are any mods installed?

[2016-06-30 15:54] dags- commented on #719
Ok, so: [`HarvestDropsEvent`](https://github.com/MinecraftForge/MinecraftForge/blob/1.8.9/src/main/java/net/minecraftforge/event/world/BlockEvent.java#L45) extends [`BlockEvent`](https://github.com/MinecraftForge/MinecraftForge/blob/1.8.9/src/main/java/net/minecraftforge/event/world/BlockEvent.java#L20), which inherits [`ChangeBlockEvent`](https://github.com/SpongePowered/SpongeAPI/blob/master/src

[2016-06-30 17:15] caseif opened #720 "[1.8.9] Netty AssertionError on player join"
This exception was generated on the latest build of SpongeForge 4.2.0. Stack trace follows:

[code]

Obviously the JVM needs the `-ea` flag passed to replicate this.

[2016-06-30 17:35] gabizou commented on #720
And how do you replicate this?

[2016-06-30 18:10] caseif commented on #720
Simply by joining the server. Also, for the record, this occurs on Forge build #1902.

[2016-06-30 19:19] LuxusDarkangel commented on #698
You mean chunk gc is not available in Sponge atm?

And no, I always test issues without mods (or only the specific mod causing the issue) to make sure it's a problem with sponge or the mod in question.

It looks like only chunks loaded by players are being unloaded. Not sure how minecraft manages that, but i remember some kind of ticket mechanics to force chunk loading? Maybe there is the problem.

[2016-06-30 19:36] bloodmc commented on #716
@MrJoki007 Provide the log again as your hastebin link has expired.

[2016-06-30 21:18] gabizou commented on #698
I hate to say it, but would you be able to re-test with the latest 1.10.2 versions released?  There have been quite a few bug fixes in various systems, and I'm wondering if the version of SF you downloaded had not been updated for that commit. And yes, there is a force chunk load ticket system, but I don't see any of Sponge's internals doing anything to keep chunks loaded itself, unless Project Po

[2016-06-30 21:34] LuxusDarkangel commented on #698
Tested with the 1.10.2 version, the same thing happens. It has nothing to do with ProjectBorders, as i'm using the same versions as i was using when we closed this issue (and it worked fine back then, chunks generated -> then unloaded)

[2016-06-30 21:59] gabizou commented on #698
And without ProjectBorders?

[2016-06-30 22:02] LuxusDarkangel commented on #698
Well... without ProjectBorders I can't reproduce the bug. I know there's another plugin which does the same, you want me to test using it?

[2016-06-30 22:03] Zidane commented on #698
@LuxusDarkangel

I would do so. This is why we always request removing plugins and testing as we MUST make sure that it really is a Sponge issue.

[2016-06-30 22:10] LuxusDarkangel commented on #698
Well, yeah, but I needed it to test. Anyway, tried with ChunkPreGenUtil (Another plugin for the same purpose) and the same happens. Both are opensource and very small, if you want to take a look at them?

[2016-07-01 14:14] GershonR opened #721 "[1.8.9] Task Nullpointer Error"
Not sure what's causing this error:
http://pastebin.com/5u62XkKw

It just shows up randomly after several hours

Minecraft: 1.8.9
SpongeAPI: 4.2.0-SNAPSHOT-bd51b3a
SpongeForge: 1.8.9-1890-4.2.0-BETA-1511
Minecraft Forge: 11.15.1.1890

Plugins (33): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeForge, ActionBroadcaster, AdminShop, ChangeSkin, Easy Scoreboards, EconomyLit

[2016-07-01 16:46] Aaron1011 commented on #721
@GershonR: It appears to be caused by a null `Slot` being used internally.

Looking at the stack trace, this was caused by attempting to use an item on a block, or attempting to place a block. Do you know if you were using any item in particular when this happened?

[2016-07-01 16:59] GershonR commented on #721
Unfortunately I don't know, its caused by the players, i'm not sure what they are doing to cause this, I tried out the latest 1518 build but it still happens on it

[2016-07-01 17:08] Aaron1011 commented on #721
@GershonR: Would you be able to join `#spongedev` on `irc.esper.net` to help debug this further?

[2016-07-01 17:36] GershonR commented on #721
It could be adminshop since it's the only plugin that I updated recently, here's the commits for it:
https://github.com/hsyyid/AdminShop/commit/6954f6e135312f1cf6fafb1e9905b7dcf9bf8ecb

I downgraded now and will see if it pop-up again but I can't reproduce it on my test server

[2016-07-01 19:05] GershonR commented on #721
Downgraded but still seems to be showing up, looks like it's the current world state that's the issue

[2016-07-02 09:06] SnowBlitzz opened #723 "[1.8.9] Crash report on startup"
http://pastebin.com/hN9g4z3x

SpongeForge: 1.8.9-1890-4.2.0-BETA-1521 (on older versions as well, not sure which)
Forge: 11.15.1.1890

[2016-07-02 12:27] MrJoki007 commented on #716
http://pastebin.com/UC3WpzeX

[2016-07-02 18:21] simon816 commented on #720
I'm not sure why this is calling `writeOutbound` directly. I've seen most the time the `writeAndFlush` method is used
https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/common/world/MixinDimensionManager.java#L159

[2016-07-02 20:27] Aaron1011 commented on #723
@SnowBlitzz: Someone else is having this issue, and I've been having an incredibly difficult time tracking it down.

Could you please paste your full logs, along with all plugins/mods (with versions numbers) that you're using?

Also, how frequently does this happen? Does it always occur on startup, or does it happen at random times?

[2016-07-02 23:24] SnowBlitzz commented on #723
[2016-07-02-4.log.gz](https://github.com/SpongePowered/SpongeForge/files/344785/2016-07-02-4.log.gz)
[2016-07-02-5.log.gz](https://github.com/SpongePowered/SpongeForge/files/344786/2016-07-02-5.log.gz)
The first one is the logs for a manual restart, the next one is after that manual restart until a crash happened 5 hours later (same crash log)

[2016-07-03 05:51] bloodmc commented on #707
@Xwaffle1 update to latest SpongeForge as it fixed a memory leak which could be the cause of your issues.

[2016-07-03 19:11] mrAppleXZ opened #724 "[1.10.2] Server crash on player join"
Crash-report: http://pastebin.com/PFHXu4k2
SpongeForge version: 1.10.2-2002-5.0.0-BETA-1529.

[2016-07-03 21:43] cartman-2000 opened #725 "[1.10.2] LeavesDecay not being sent to the client automatically."
LeavesDecay events aren't being sent to the clients automatically, you have to right click on the block, or do something else to update it for it to fade after you cut down a tree.

Tested on a fresh server with just SpongeForge. The decay works properly when you're running the server without sponge, but appears when you run the server with spong.

[2016-07-03 21:48] gabizou commented on #725
Version info?

[2016-07-03 21:52] gabizou commented on #724
Could you zip up the folders for me to test? There's a mod's profession that isn't being registered correctly, which is a problem.

[2016-07-03 22:18] cartman-2000 commented on #725
[15:16:43] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-c641c6c
    SpongeForge: 1.10.2-2002-5.0.0-BETA-1525
    Minecraft Forge: 12.18.0.2005

OS is windows 10 with 1.8.0_91 build of Java.

[2016-07-03 23:08] gabizou commented on #710
Should be fixed with this [commit](https://github.com/SpongePowered/SpongeForge/commit/fa15df77a800eacf0e9f9cd49857bc55a686ddbb). If you can though, enable a config option in the global.conf like so:
[code]

The reason for this is that if Thutapi is performing world changes during a world tick event that it isn't supposed to, it will print out a report about it and can further be reported to Thuta

[2016-07-03 23:08] #710 closed

[2016-07-03 23:53] cartman-2000 opened #726 "[1.10.2] keep-spawn-loaded=false flag doesn't work to auto unload the chunks after a server start."
Chunks don't automatically unload after a server start when you have this flag set to false on a world. They only unload when a player visits and leaves the chunks in the spawn area.

[16:52:36] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-05d0adc
    SpongeForge: 1.10.2-2002-5.0.0-BETA-1533
    Minecraft Forge: 12.18.0.2005

OS is windows 10 with 1.8.0_91

[2016-07-04 04:29] mrAppleXZ commented on #724
@gabizou This is not FTB modpack.
Client.zip: [https://drive.google.com/open?id=0B3_ewppkJd3oYW5hdHF4SlJNR2M](url).
Server.zip: [https://drive.google.com/open?id=0B3_ewppkJd3ock1scnBuME5rRW8](url)

[2016-07-04 06:34] belmenel opened #727 "(1.9.4) Block19a101 - Gamerules not applying to nether/end."
As in the title, gamerules set for the server are not functioning in the nether or end. keepInventory isn't a big deal in vanilla where the most you can loose is a bit of diamond nonsense, but in heavily modded games loosing inventory on death kills the fun. Setting keepInventory to true works in the overworld, but doesn't apply to other dimensions, and there doesn't seem to be a way to set gameru

[2016-07-04 07:19] gabizou commented on #724
Fixed in the next build of SpongeForge (should be build 1534).

[2016-07-04 07:19] #724 closed

[2016-07-04 10:36] mrAppleXZ commented on #716
Same issue on SpongeForge 5.0.0-BETA-1534.

[2016-07-04 18:39] cartman-2000 opened #728 "[1.10. 2] Server crash when something is burning(fire spread.)"
This is triggered when running the 1.10 branch of GriefPrevention on a server, and something is burning on the server(fire spread.).

I posted the crashlog and trace in the issue report in GP's repository.
https://github.com/MinecraftPortCentral/GriefPrevention/issues/90

[2016-07-04 18:43] cartman-2000 commented on #715
There's still some issues with item pickup, but it's usually fixed when a player reconnects to the server.

[2016-07-04 20:14] majix560 commented on #725
I think I'm having the same problem.
My mods are listed [here](https://www.atlauncher.com/pack/Psionics)

[2016-07-04 20:48] cartman-2000 commented on #725
Well you can forcibly sync the updates to the client by holding right click on the leaf blocks, but that's a bit annoying to do.

[2016-07-05 06:10] aglarcz opened #730 "Timings report/paste error"
/sponge timings report
/sponge timings paste

Not working for me, error here:
http://pastebin.com/raw/rEmB7vd5

[2016-07-05 06:35] ST-DDT commented on #730
This looks like the server is not reachable from your server or the server is currently down/overloaded.

[2016-07-05 06:42] hunter688 opened #731 "[1.8.9] Thaumcraft selecting focus on wand not work behind BungeeCord"
Tested with pure forge server - no problems. When add spongeforge (no another plugins) then cannot change focuses on the Thaumcraft wand wand. Looks like spongeforge break clicking in the selecting gui.

Steps to reproduce:
 - give to inventory some focuses and wand.
- hold wand
- press F
- then try to click focus

expected result is change focus to clicked.

SF(build 1538)

[2016-07-05 07:44] aglarcz commented on #730
And whats the adress which is it connecting to?

[2016-07-05 09:54] simon816 commented on #730
It makes a connection to http://timings.aikar.co

[2016-07-05 12:05] ST-DDT commented on #730
Maybe this should be added to the exception message to make it easier to get for admins to check/reproduce.

[2016-07-05 21:08] gabizou commented on #728
Should be fixed in the latest commits.

[2016-07-05 21:08] #728 closed

[2016-07-05 21:40] LuxusDarkangel commented on #731
Probably an issue with packets, as happened with BungeeCord. Please, post your server log.

[2016-07-05 21:42] LuxusDarkangel opened #732 "[1.9.4] Forestry farms not working properly."
Error Log: https://gist.github.com/LuxusDarkangel/0974c034796f688c88c49cf2a9fd74d3
SpongeForge version: 5.0.0-BETA-1503

It simply can't place or break blocks.

[2016-07-05 21:50] LuxusDarkangel opened #733 "[Suggestion] Add comand to check server RAM usage."
As title says, add a command to display maximum available memory and usage, as Essentials used to do in Spigot.

[2016-07-05 21:59] LuxusDarkangel opened #734 "[1.9.4] NPE using Bagginses."
Error Log: https://gist.github.com/LuxusDarkangel/8cdf8e888c660b4be27c412d055457e5
SpongeForge version: 5.0.0-BETA-1503

Not sure if it really affects the mod usage, as i'm not able to manually reproduce it, but spams console as hell.

[2016-07-05 22:51] gabizou commented on #734
Fixed in newer builds targeting 1.10.2. 1.9.4 support was dropped.

[2016-07-05 22:51] #734 closed

[2016-07-05 22:52] gabizou commented on #732
Fixed in newer builds targeting 1.10.2. Not fixing for 1.9.4 as support for 1.9.4 was dropped.

[2016-07-05 22:52] #732 closed

[2016-07-05 22:53] LuxusDarkangel commented on #734
Ew... No chance it can be commited to 1.9.4 too?

[2016-07-05 22:54] gabizou commented on #731
I've got a fairly decent idea as to what's going on and how to handle it for 1.10.2+. @bloodmc basically, when a foreign packet is received, we should be checking the content changes for the player's inventories and throwing events accordingly. In this case, Thaumcraft is changing the itemstack in the player's main hand and modifying the tag.

[2016-07-05 23:23] gabizou commented on #734
Unfortunately, it's regardless whether the changes are easily back ported to 1.9.4, we simply don't want to be supporting a system that we've already elected to replace with 1.10.2. With mods already making the jump to 1.10.2, it's futile to keep both 1.9.4 and 1.10.2 up to date with bug fixes.

[2016-07-06 01:42] JBYoshi commented on #734
https://forums.spongepowered.org/t/psa-dropping-1-9-4-support/13374

[2016-07-06 05:10] ryantheleach commented on #731
But couldn't that foreign packet be doing a number of different things? Won't some foreign packets get spammed a *lot*?

[2016-07-06 05:40] XileForce commented on #716
Happens on the 1.10.2 builds as well. Basically at one point we removed neotech several days ago. But if I add in sponge, it says that the backup level.dat is being used and scrambles everything around if you confirm it. ie, certain trees becoming blocks from other mods. Adding sponge to worlds where no mods have ever been removed is fine however.

[2016-07-06 06:09] gabizou commented on #716
Yeah, I know the fix, a bit of an annoyance, but will fix for 1.10.2, not for 1.9.4 sadly.

[2016-07-06 06:10] gabizou commented on #731
Yes, @ryantheleach but without being able to tell when something happens, since itemstacks are interacted with directly, i's not really well possible unless we basically flag to capture anything that does change during the packet being handled.

[2016-07-06 06:37] hunter688 commented on #731
In the server is no exceptions, errors etc. Yes its behind bungeecord.

[2016-07-06 06:52] hunter688 commented on #731
Yay, without bungeecord it works. Im using SpongePls plugin for forwarding in the BungeeCord. In the logs of sponge and bungee see no errors or exceptions.

[2016-07-06 07:32] maxanier opened #735 "[1.10] Nullpointer in StaticMixinForgeHelper - Armor Modifier"
Hello,

my server frequently crashes with the following crashreport:
[http://pastebin.com/PBc5aR0R](http://pastebin.com/PBc5aR0R)

I don't now what happens in game, when the crash occurs, but according to the crashreports its always a EntityTippedArrow.

I'm using spongeforge-1.10.2-2002-5.0.0-BETA-1534, which is not the most recent version, but after checking the changelog, the commits and the St

[2016-07-06 07:58] gabizou commented on #735
The crash report actually says that a living entity is being attacked, and the NPE is pointing to a mod saying there's an armor property available for an `ItemStack` in a slot, but the `ItemStack` is null when retrieved. This means a mod is doing some side effect stuff or improperly doing something with the armor of an entity when being attacked by an arrow. I'll look into resolving this with the

[2016-07-06 08:43] maxanier commented on #735
Is there a way I can help?

Only thing I can tell you right now is that the hit creature is not a creature of Vampirism since none of Vampirism's entities extends EntityMob

[2016-07-06 09:55] maxanier commented on #735
Alright, I've build my own version of SpongeForge containing a try-catch at that position as a workaround. It also includes a logger which logs as much as possible when the NPE is thrown.
I will post the result here when it happens again

[2016-07-06 11:18] SilverCory commented on #731
This is probably something to contact the thaumcraft author about. I've no clue of it's protocol or how it works, so the chances of me fixing this are slim.

[2016-07-06 11:45] LuxusDarkangel commented on #731
The issue is with BungeeCord, not SpongeForge nor SpongePls. See [this](https://github.com/SpigotMC/BungeeCord/issues/1439) for reference.

[2016-07-06 13:22] bloodmc commented on #731
@dualspiral Can you look into this with your BungeeCord fork?

[2016-07-06 13:30] bloodmc commented on #730
Not our issue.

[2016-07-06 13:30] #730 closed

[2016-07-06 15:02] dualspiral commented on #731
@bloodmc When I get chance I'll take a look - though @hunter688, have you tried this using [Waterfall](https://ci.aquifermc.org/job/Waterfall/) instead of Bungee yet?

[2016-07-06 15:53] Zidane commented on #731
Closing this but discussion can continue as it is not a Sponge issue and is a bungee issue.

[2016-07-06 15:53] #731 closed

[2016-07-06 16:41] hunter688 commented on #731
Found source of problem. Lobby server is 1.10.2 with protocolsupport plugin. When connect through this server, got issue. When remove protocolsupport and join to modded server as fallback, all is ok.

[2016-07-06 17:01] maxanier opened #736 "[1.10]EntityAttribute is missing"
Does SpongeForge somehow mess with Minecraft's EntityAttributes?
I'm developing the mod Vampirism and use them there in the same way as Vanilla does by registering them in the entity constructor (within the attach capability event) and then access them using player.getEntityAttribute(VReference.biteDamage) . This works fine by itself, but when it runs on a SpongeForge powered server. player.getEnt

[2016-07-06 17:03] gabizou commented on #736
Does the player die at any point in time, or get teleported between worlds?

[2016-07-06 17:12] maxanier commented on #736
No, sometimes it e.g. starts happening right after a player connects

I guess you are getting at the fact that entities are recreated (new instance) on death and on changing dimensions.
But the capability instance is also recreated by Vampirism then (which registers the attribute again).

[2016-07-06 17:15] maxanier commented on #736
Maybe it is actually a bug in Vampirism, but because it only happened in conjuction with a Sponge powered server yet and I can't explain how this can happen without any external modification, I decided to create a issue here.

If you don't think that SpongeForge messes with them, I will continue my search elsewhere.

[2016-07-06 17:50] LuxusDarkangel opened #737 "[1.10.2] StackOverflow using the chat."
Log: https://gist.github.com/LuxusDarkangel/c79c6d18c0403d087bd70efa47897480

[2016-07-06 18:04] gabizou commented on #736
Well, I can say that Sponge does prevent the game from recreating entities for teleports and players for deaths. I'm not sure that we do anything specific to attributes, but if there's an event being listened to, it's worthwhile to mention which event as it's possible SpongeForge is silently suppressing the events unintentionally.

[2016-07-06 19:08] maxanier commented on #736
OK, I investigated the issue further with that information in mind. It definitively happens also happens when a player dies (not sure about the above mentioned player reconnect anymore, maybe I've misinterpreted the messy log or that is another issue).
As you said the EntityPlayer is not recreated (entity id does not change), but the `AbstractAttributeMap attributeMap` is a new one (at least it's

[2016-07-06 20:57] LuxusDarkangel commented on #737
Ok, not only with plugins but simple chat messages too.

[2016-07-06 22:36] kinggoesgaming commented on #737
@LuxusDarkangel mind changing the title accordingly?

[2016-07-07 00:27] zml2008 commented on #737
This issue was fixed in common -- I just forgot to bump common in SpongeForge

[2016-07-07 05:51] mrAppleXZ commented on #716
It's still happening on SpongeForge 5.0.0-BETA-1543 for 1.10.2.

[2016-07-07 05:55] XileForce commented on #716
I don't think the fix has been pushed yet. Likely this issue would have been referenced in the commit or closed if it had.

[2016-07-07 05:56] gabizou commented on #716
Correct.

[2016-07-07 16:12] LuxusDarkangel commented on #716
Good news then, this is a critical bug.

[2016-07-07 16:29] Zidane commented on #716
This will be addressed today by either gabizou or me.

[2016-07-07 16:29] Zidane commented on #737
Closing as SF was bumped.

[2016-07-07 16:29] #737 closed

[2016-07-07 16:31] Zidane commented on #727
I'll take this as the Vanilla commands are meant to touch all worlds (unless you toggle it off with a mixin plugin found in a PR).

[2016-07-07 16:39] SnowBlitzz commented on #723
clearing the usercache seems to have fixed this, however it needs further testing to be confirmed. I'll update the ticket whenever

[2016-07-07 16:47] Zidane commented on #718
Try with just Sponge + FTB utilities. See if it happens.

[2016-07-07 16:50] Zidane commented on #714
I've decided that I'll just make the Nether's archetype to not generate-on-load which will fix this issue.

[2016-07-07 17:01] belmenel commented on #727
I would think it should. Or at least that there should be some non vanilla commands to use instead. It works in the overworld, and seems to work for other dimensions in other mod packs and in vanilla. The only info i can find is that it seems to be related to something with sponge for handling multiple worlds. Pretty much everything is set to the defaults for block19.

[2016-07-07 17:01] majix560 commented on #725
Leaf decay is still not being sync'ed to client.
And I'm currently using Beta 1544

[2016-07-07 17:09] LuxusDarkangel opened #738 "[1.10.2] Drops bug with Forestry installed."
Installing Forestry alongside with SpongeForge causes "the Q drop" bug to reappear (You can't drop anything using Q or shift + Q)

No errors appear in console.

[2016-07-07 17:14] Zidane commented on #688
Reopen this in Common please.

[2016-07-07 17:14] #688 closed

[2016-07-08 01:17] #716 closed

[2016-07-08 03:29] XileForce commented on #738
can confirm this as well on latest sponge builds. I will add, if you drop something with only one in your hand it appears to duplicate it and give you 2, but it doesnt work beyond that.

[2016-07-08 04:05] SnowBlitzz opened #739 "[1.8.9] Crash"
http://pastebin.com/TUcXqRhE

[2016-07-08 04:06] SnowBlitzz opened #740 "[1.8.9] Another Crash"
http://pastebin.com/Z1AVEuYZ

[2016-07-08 06:56] cartman-2000 commented on #725
They added an option to disable it(as an optimization), but but the bug itself hasn't been fixed yet.

[2016-07-09 03:08] dakattack opened #741 "[1.10.02] Too many items stacked"
The server managed to stack two sets of shears on top of each other, proceeded to kick me for this and outputted a bunch of errors, then made me completely unable to connect, because it would kick me every time.  I am familiar with programming so I read through the errors and determined there were too many items in a stack.  Went into an inventory editor and sure enough, a stack of shears was the

[2016-07-09 03:11] dakattack opened #742 "[1.10.02] Can't grow trees"
I plant a sapling and they don't ever turn into trees given amble time or even bone meal.  I am on the latest version of sponge, am in survival mode, and the only other mod I have is biomes o plenty.

[2016-07-09 04:42] gabizou commented on #741
Kinda need some full server logs for this.

[2016-07-09 05:46] dakattack commented on #741
ooo I managed to find the log it was in!
`[01:24:59] [Server thread/WARN]: Failed to handle packet for /127.0.0.1:62289
net.minecraft.util.ReportedException: Ticking player
	at net.minecraft.entity.player.EntityPlayerMP.func_71127_g(EntityPlayerMP.java:380) ~[lu.class:?]
	at net.minecraft.network.NetHandlerPlayServer.redirect$onPlayerTick$0(NetHandlerPlayServer.java:231) ~[me.class:?]
	at net.mine

[2016-07-09 13:57] thomas15v opened #743 "[1.10.2]Plugins that use mixins are not enabled."
For my [plugin](https://github.com/thomas15v/NoXray) I used mixins. The mixins itself apply perfectly fine. But the plugin itself doesn't get enabled.

Server Log: http://pastebin.com/zbweANa0. On Sponge Vanilla it works fine.

[2016-07-09 14:13] kashike commented on #743
Could you provide a full server log (debug enabled)?

[2016-07-09 14:43] thomas15v commented on #743
https://drive.google.com/file/d/0B4cT1XPmcnpKMHVVVHdkQlRzTjQ/view?usp=sharing

[2016-07-09 15:09] simon816 commented on #743
[code]

I think you need to add `FMLCorePluginContainsFMLMod: true` to the `MANIFEST.MF`

[2016-07-09 15:20] kashike commented on #743
Add `ForceLoadAsMod: true` or (`FMLCorePlugin: <coremod class>` if it is a coremod) to your `MANIFEST.MF`.

[2016-07-09 15:47] thomas15v commented on #743
That did the trick. Thank you.

[2016-07-09 15:47] #743 closed

[2016-07-09 16:54] bloodmc commented on #739
Pixelmon issue.

[2016-07-09 16:54] #739 closed

[2016-07-09 17:23] GershonR opened #744 "[1.8.9] Ticking Entity Error"
http://pastebin.com/Snevhk1J

[2016-07-09 18:24] Billabonga opened #745 "[SOLVED] Server Crash at start"
http://pastebin.com/1iMQnGe5

[2016-07-09 18:32] gabizou commented on #745
Does it still crash without sponge?

[2016-07-09 18:39] simon816 commented on #745
Looks like it crashed when trying to tell you that there are missing mods.
From the log file:
[code]

[2016-07-09 19:30] Billabonga commented on #745
Looks like Forever Enough Items was the culprit.... Thanks folks

[2016-07-09 19:58] Aaron1011 commented on #725
Moving to SpongeCommon: https://github.com/SpongePowered/SpongeCommon/issues/837

[2016-07-09 19:58] #725 closed

[2016-07-10 06:34] cartman-2000 opened #746 "[1.10.2] Block tracking error with repeaters."
When you either place or destroy a repeater you can get this trace in the server log.

Running with:
[23:31:25] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-1d3c9d6
    SpongeForge: 1.10.2-2002-5.0.0-BETA-1550
    Minecraft Forge: 12.18.0.2005

[code]

[2016-07-10 10:19] xChristopher210 opened #747 "[1.8.9] Books not keeping format after signing."
I was creating a server guide for new players. 40 pages later I finally signed it and saw the horrible format it gave me. It did not stick to the format it was before the signing.
http://i.imgur.com/6h5Hfp4.png

Server Versions:
SpongeForge: 1547
Forge: 1890
Minecraft: 1.8.9
Pixelmon: 4.2.7

[2016-07-10 16:04] maxanier opened #748 "[1.10] Can't use water bucket in survival"
When I right click with the bucket the water block appears and then disappears and my bucket is still a "water bucket". On the latest bleeding version in survival mode. (No other plugins)
Same problem as [https://github.com/SpongePowered/SpongeForge/issues/685](https://github.com/SpongePowered/SpongeForge/issues/685),
but on 1.10 and apparently caused by something else, because I've checked the co

[2016-07-10 16:35] maxanier commented on #748
Something else I've noticed, which might be related to this issue:
If you want to eat something you must not look at a block. If you look at one the player starts eating over and over again

[2016-07-10 23:05] bloodmc commented on #748
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/7563e42f05ac48d72754d28f88c4a14a6b1f4ad9

[2016-07-10 23:05] #748 closed

[2016-07-11 09:25] cartman-2000 commented on #746
Related to

[2016-07-11 16:20] LuxusDarkangel commented on #742
I can't reproduce this. Are you trying it with BoP saplings or vanilla saplings?

[2016-07-11 16:22] LuxusDarkangel commented on #744
It's a pixelmon issue, see #739

[2016-07-11 16:23] #746 closed

[2016-07-11 16:24] gabizou commented on #746
Closing as this is a duplicate as you said related.

[2016-07-11 17:09] aglarcz opened #749 "too many chunks"
Server with java 8 and latest sponge 1.8.9 (build 1547)
Mods used: http://prntscr.com/brl5oh
Timings: https://timings.aikar.co/v2/?id=bb8aa6cddb9541ad930c711ee30e6b1a

Problem:
Few minutes after restart i got too many chunks loaded, for example now with 15 players there are 5500 chunks loaded and server is getting to low TPS. I tried to lower view-distance but without any success to solve this iss

[2016-07-11 17:38] funniray opened #750 "[1.9.4] Server craching at start"
Whenever I start a server running [FateCraft](http://mods.curse.com/modpacks/minecraft/244739-fatecraft), it crashes.
Crashlog:
[code]

[2016-07-11 17:54] ryantheleach commented on #750
Looking through the list, potential coremods that could be causing this.

com.enderio.core.common.transform.EnderCorePlugin
com.rwtema.extrautils2.asm.CoreXU2
com.demoxin.minecraft.fortuneores.coremod.FOFMLLoadingPlugin
ic2.core.coremod.IC2core
shetiphian.core.asm.TweakPlugin

[2016-07-11 18:27] LuxusDarkangel commented on #749
Turn on chunk unload logging in sponge config to see if chunks are getting unloaded. If they are, probably a plugin or mod is forcing the chunks to load.

[2016-07-11 19:06] aglarcz commented on #749
Few chunks get unloaded but much more is loaded at the same time.
Log with 5 players online, almost 2000 chunks already loaded.
Any other idea?

[2016-07-11 20:22] bloodmc commented on #749
Lower the 'chunk-gc-tick-interval' and raise the 'max-chunk-unloads-per-tick' in sponge's global.conf

[2016-07-11 20:22] #749 closed

[2016-07-11 23:09] Aaron1011 commented on #750
@funniray: As @LuxusDarkangel, ExtraUtilities 2 is currently incompatible with Sponge. You can follow the progress of the fix on [this issue](https://github.com/rwtema/extrautilities/issues/888).

[2016-07-11 23:09] #750 closed

[2016-07-12 01:06] gravityfox opened #751 "[1.8.9] WorldUnloadEvent not firing when stopping server."
Repost of https://github.com/SpongePowered/SpongeCommon/issues/839 since it was only affecting SF.

[2016-07-12 01:07] dakattack commented on #742
you're right it is a BOP issue, my bad

[2016-07-12 01:07] #742 closed

[2016-07-12 02:00] Aaron1011 commented on #742
@dakattack: Does the issue only occur when Sponge is installed along with BOP? If so, you should re-open this issue.

[2016-07-12 13:49] aglarcz commented on #749
10 players online, still 6500 chunks loaded even with recommended settings

[2016-07-12 19:39] aglarcz opened #752 "build 1509+ bugs"
When digging into previous issue #749 i found some interesting facts:
1) old build 1508 is stable and without any issues
2) builds 1509 to 1511 have teleport issue, player see sky and nothing more after using any teleport command (home, tp, warp etc.)
3) from build 1518 to 1547 i got TPS drops with more chunks loaded (i made it better by chunk-gc-tick-interval and max-chunk-unloads-per-tick but it

[2016-07-12 19:50] Aaron1011 commented on #752
I'm not quite sure what could be causing this.

@bloodmc: Here are the relevant commit ranges (from 1508 to 1547): https://github.com/SpongePowered/SpongeCommon/compare/6a8a15e9acb08e1a114c3...master and https://github.com/SpongePowered/SpongeForge/compare/3e74daf5744cbf021cd8fae3ed31de5d3aa37b86...master

[2016-07-12 20:24] kftzzu opened #753 "Item Doubling Glitch"
If you place a block with the offhand, but the BlockChangeEvent gets canceled, you gain the item back without losing the one in the offhand. If you repeat this, you can get infinite Blocks.

[2016-07-12 20:42] bloodmc commented on #752
@aglarcz Try setting chunk-gc-tick-interval to 0 and also I would need to see a timings report during lag.
Make sure to turn on verbose in your global.conf before running /sponge timings.

[2016-07-12 21:23] aglarcz commented on #752
Interval set to 0, problem continues..
Timings during lag (which starts immediately after startup): https://timings.aikar.co/v2/?id=3a4bad39eaa24227a923102e025d2f4e&section=all
It drops from 17-20 TPS (build 1508) to something like 3 TPS (build 1518+) so its not small drop but huge one.

[2016-07-12 21:52] #753 closed

[2016-07-12 22:35] bloodmc commented on #752
@aglarcz Hrmm another pixelmon server experienced a similar issue only on restarts and the lag would clear up after a few minutes. The server i'm referring to gets up to 70+ players and has been at 20 TPS using latest builds. Looking at the timings, the pixelmon spawner is using a ton of resources. First try waiting a few minutes to see if lag clears up. If it still happens, try testing with a fre

[2016-07-12 22:38] EnderStar opened #754 "Crash with coremod farseek (mod: streams)"
https://github.com/delvr/Farseek/blob/f4c446523b1b4883dba16a9ee401b08d013ebb01/src/main/scala/farseek/world/gen/ChunkGeneratorExtensions.scala

crash log: http://pastebin.com/k24nygqA

[2016-07-12 23:20] bloodmc commented on #744
Yes this is a pixelmon issue.

[2016-07-12 23:20] #744 closed

[2016-07-12 23:20] bloodmc commented on #740
Corrupted user cache. Wipe out your cache so it regenerates.

[2016-07-12 23:20] #740 closed

[2016-07-12 23:21] #745 closed

[2016-07-12 23:42] EnderStar commented on #753
lol, do you know how to cancel the block change event in a server as a normal player?
thanks

[2016-07-13 01:38] Aaron1011 commented on #754
@EnderStar:The issue is that Farseek completely replaces `GameRegistry#generateWorld`, which Spoonge needs to inject into.

I'll look into submitting a fix.

[2016-07-13 01:45] Aaron1011 commented on #754
I've opened an issue: https://github.com/delvr/Farseek/issues/16

[2016-07-13 04:44] devryb opened #755 "[1.9.4} Forestry multiblock farm cause severe lag"
Using sponge 1503 and Forestry 1.9.4-5.0.20.167

When the multiblock farm is planting the server log is spammed repeatedly with this and the server lag incredibly hard http://pastebin.com/xbg6rpf2

This is what I see in VisualVM when it lags from this: http://puu.sh/pZSqT/045e803468.png

[2016-07-13 04:49] gabizou commented on #755
Already fixed in newer releases.

[2016-07-13 04:49] #755 closed

[2016-07-13 07:12] aglarcz commented on #752
Interesting.. thanks for reply, i will try 4.2.7 and see if it helps. If not i will try other options.. and let you know..

[2016-07-13 13:16] bloodmc commented on #752
Make sure you are using latest SpongeForge build. If you still experience issues, report to plugin dev since you are using essentials. Closing as the issue at hand is solved.

[2016-07-13 13:16] #752 closed

[2016-07-13 19:51] Xiphoseer opened #756 "Sponge Mixin to FML Launcher prevents mod_list.json mods to be loaded"
### Introduction
While testing the new mod_list.json feature in forge, i've encountered the strange behavior, that no other mods have been loaded from a mod_list.json file in a sponge directory, except Sponge. It was even weirder as the first other mod I tried was IC2 which printed stuff to the console, but didn't show up in the mods list. Loading sponge from mod_list.json and other mods from the

[2016-07-13 20:40] Zidane commented on #754
Closing as this isn't a Sponge issue.

[2016-07-13 20:40] #754 closed

[2016-07-13 20:42] Zidane commented on #699
@MrJoki007

Re-test with the latest 1.10 build of Sponge and give me the log if it happens again.

[2016-07-14 02:18] cartman-2000 opened #757 "[1.10.2] Egg drop bug with chickens."
Chickens on the server don't drop any eggs at all when you have sponge on it.

Tested on a clean test server, it works as expected when running with forge itself, but the chickens no longer dorp any eggs as soon as the server is loaded up with sponge.

Server versions:
[18:40:23] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-f8895a9
    SpongeForge: 1.10.2-2

[2016-07-14 09:01] Mumfrey commented on #756
Oops, I think this is my derp, sorry about that.

On the other hand, it's good to know that people are using the `mod_list` functionality in the wild, this is useful to know.

Also, +1 for such a detailed report, wish we had more of these.

[2016-07-14 09:11] TBlueF opened #758 "[1.10.2] Item duplication when a piston breaks a block"
_Minecraft: 1.10.2
SpongeAPI: 5.0.0-SNAPSHOT-f8895a9
SpongeForge: 1.10.2-2011-5.0.0-BETA-1560
Minecraft Forge: 12.18.1.2011_

If you break a Block (SugarCane, Flower, DragonEgg) with a Piston it drops the item twice.
_(This does not happen without the sponge-mod installed)_

[2016-07-14 09:21] dakattack commented on #741
Update: it happened again today, but this time to a friend of mine on the same server running version 1544.  And the thing is this time I cannot figure out what item is causing the error I've gone so far as to remove one of each item from his inventory, still no luck.  He cannot connect to the server at all because of this.  Log this time: https://gist.github.com/dakattack/2591f6dd7189bbd7d0cb4e8b

[2016-07-14 12:34] xChristopher210 commented on #747
I tested this on a regular 1.8.9 server by transferring my player file to a new minecraft vanilla world.

The same issue occurs. So it might be a mc bug then? Is it still possible to fix?

[2016-07-14 17:52] maxanier commented on #741
Sometimes I have the same issue on my server.
The one time it happened to myself was when I killed myself using [EssentialsCmds](https://forums.spongepowered.org/t/essentialcmds-v8-1-13/8576) kill command (which somehow keeps the inventory but also drops the items) and then teleporting me back. But I wasn't not able to reproduce it, although when testing it I noticed I got a few itemstacks with st

[2016-07-15 04:53] devryb commented on #755
@gabizou is it possible for this fix to be ported to the 1.9.4 branch?

[2016-07-15 05:04] kinggoesgaming commented on #755
1.9.4 is no longer supported

[2016-07-15 12:25] maxanier commented on #736
This also causes another problem:
All modifier to the vanilla attributes are reset. Thereby vampire players in my mod Vampirism loose their extra health etc., because it is applied only on entity creation or on changes.

Can you make the attributeMap persistent over death, if you are already making the EntityPlayer persist?

[2016-07-16 17:03] NightOps007 opened #759 "[1.8.9] Sponge server crash with evilcraft"
Forge log link: Forge log latest only says starting server. Here is link to crashlog: http://pastebin.com/35kfwmc7

Problem: Spong server won't run with evilcraft on it. Evilcraft and spong will work just fine without the other but I can't get them to run together on a server. Did some troubleshooting to be certain it is a conflict with those two. Stripped away all other mods and try to run a serv

[2016-07-16 17:26] ST-DDT commented on #759
Here the remote issue for reference: https://github.com/CyclopsMC/EvilCraft/issues/434

[2016-07-16 21:47] XileForce commented on #738
further testing with build 1560 seems to show that dropping works fine for most things if there is only 1 in the stack. Example: dropping 1 glass fiber cable works fine, but if i have a stack of 10 glass fiber cables and hit Q it just immediately returns it to my inventory. Sometimes dropping the item makes it disappear as well.

[2016-07-16 22:24] #759 closed

[2016-07-17 17:23] Mysterizon opened #760 "SpongeForge Decaying Leaves and Overloaded"
spongeforge-1.10.2-2011-5.0.0-BETA-1560

**ISSUE 1**: When the trees are chopped down.. the leaves is not decaying or despawning after a long time of period.

Proof:
I added "FastLeafDecay" mod to the forge and it dont work, so i removed the SpongeForge mod.. it works perfectly so SpongeForge is the cause of why the leaves won't despawn or decay.

**ISSUE 2**: While the Forge server is running wit

[2016-07-17 21:27] Aaron1011 commented on #760
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/837.

@Mysterizon: Can you please open a separate issue for 'ISSUE 2'?

[2016-07-17 21:27] #760 closed

[2016-07-17 23:03] theboomer opened #761 "[1.10.2] No SkyLuminanceProperty or GroundLuminanceProperty values"
These two properties are not one of the applicable properties and return empty for all blocks.
This mechanism used to work eons of versions ago, and I dont see any replacement systems to get the light magnitude.

1.10.2 spongeforge-1560; api 5.0.0-84;forge-2011

[2016-07-18 01:51] Mysterizon opened #762 "SpongeForge Overloaded (Issue 2)"
This issue is related to Sponge Forge Leaves not decaying (Issue 1):
https://github.com/SpongePowered/SpongeForge/issues/760

**ISSUE 2**: While the Forge server is running with SpongeForge mod, it show a message something like "did the time system changed or is the server overloaded, skipping 80 ticks"
i think the leaf decaying may have to do with it..  no telling. so please look in it.

**Additi

[2016-07-18 02:09] kinggoesgaming commented on #762
@Mysterizon can you show your server specs and how much memory you are giving it?

its very much likely that the server is overloaded...

[2016-07-18 04:01] Mysterizon commented on #762
alright..
Here is the spec of server following:

**Forge-1.10.2 - 12.18.1.2011**
-autosapling
-bauble
-BiomeOplenty
-botania
-chameleon
-chisel&bits
-dynmap
-fastleafdcay
-immersive craft
-mantle
-mineralogy
-projectborder
-projectinventory
-projectportals
-realistic torches
-storagedrawer
-tconstruct
-betterfps (improve server's performance.. since there is no cauldron or bukkit for 1.10.2)
the R

[2016-07-18 09:15] theboomer commented on #761
I'm losing my mind.  This morning, i reran things and those properties are there now...

[2016-07-18 09:32] theboomer commented on #761
No, not fully losing my mind - reopening - they do now appear as "applicableproperties" for the block/locations but under NO circumstance am I able to get anything other than EMPTY for the SkyLuminanceProperty and GroundLuminanceProperty - examining locations underground, in the surface, on the surface, above the surface, in the air...

[2016-07-18 09:47] theboomer commented on #761
I see what i did wrong - its working just fine - these properties apply to the location, i was checking the block state.  So confusing as to which object uses which light setting...

[2016-07-18 09:47] #761 closed

[2016-07-18 11:12] Nullga opened #763 "[1.10.2] Incompatibility with RFTools Dimensions?"
Hi.
Server crashes when creating a dimension by using RFTools Dimensions. It also does the same crash when entering to pre-generated dimensions by the same mod.  Might be related to other mods' issues per dimension creation but I love to use RFTools since it unloads dimensions while no chunks are loaded at the moment so I appreciate if you guys can look into this. Thanks.

---Crash reports---
Crea

[2016-07-18 11:18] KKyang opened #764 "[1.8.9] Sponge default settings are blocking mods updating chunk information"
Hi, there

The optimization of Sponge (1.8.9 - 4.2.0-BETA-1538) makes some mods unable to update the chunk information.

Like Industrialcraft2 produce such error message tells that it is unable to update it's energy-net.

[code]

[2016-07-18 18:44] gabizou commented on #762
Having looked at the source code, there's not much performance improvement server side that it's achieving. SpongeForge already bundles quite a few optimizations and performance tweaks by itself.

There's a possibility of some performance issues with the CauseTracking system needing to be tweaked in 1.10, but that's under heavy development and a moderate change with block change handling is coming

[2016-07-18 23:29] LuxusDarkangel opened #765 "[1.10.2] Sponge not registering Chisel&Bits events."
This issue is divided in 2 parts:

1.- If you try to chisel a block inside a protected region (GP, RedProtect, etc), you will get the drop but the block won't be modified.

2.- If the block inside a protected region IS ALREADY chiseled, you will be able to modify it and you will also get the drop.

Chisel and Bits source: https://github.com/AlgorithmX2/Chisels-and-Bits

[2016-07-19 00:32] LuxusDarkangel opened #766 "[1.10.2] Sponge prevents Psi to load player data."
If SpongeForge is installed alongside with Psi, the mod won't be able to load your data and you will loose your progress each time you relog.

Steps to reproduce:
1.- Get one Psi level (This can be easily done: Get a CAD Assembler, an Iron CAD Assembly and some redstone dust. Place the CAD Assembler in the world and put the CAD Assembly inside, then get the Casting Assistance Device, throw redston

[2016-07-19 01:25] Mysterizon commented on #762
Alright. i will do that.. well i can use your advice to improve the server's performance even that mean i have to remove betterfps

[2016-07-20 01:48] dakattack commented on #741
Happened again, two buckets stacked this time.  Same error

[2016-07-20 06:54] Mechy71 commented on #738
Build 1570 still has the same issue

[2016-07-20 16:16] LuxusDarkangel opened #767 "[1.10.2] Crash with CorrelatedPotentialistics"
The following crash can happen while treating with CoP disks: https://gist.github.com/LuxusDarkangel/0a70ae544cd508afc13ced14ae7dbbdf

[2016-07-20 16:18] LuxusDarkangel opened #768 "[1.10.2] Exception in server tick loop"
Crash report: https://gist.github.com/LuxusDarkangel/5cc685488f9ef824b06a5f617da8d12b
Not sure what caused it, but happens with frequency.

[2016-07-21 00:24] LuxusDarkangel opened #769 "[1.10.2] Psi ticking entity crash"
Crash report: https://gist.github.com/LuxusDarkangel/c855eaef082d54fb8503a13d34407cd6

[2016-07-22 01:09] GershonR opened #771 "[1.8.9] SpongeForge 1578 Lookup Service Spam"
http://pastebin.com/WmEMD6sU

After the server finishes starting up it spams this until the server runs out of memory

And crash report it made:
http://pastebin.com/3mu2ayH0

[2016-07-22 01:33] kashike commented on #771
Should be fixed with https://github.com/SpongePowered/SpongeCommon/commit/13f0bc2ea73943152aed38d944a32786f341b65b.

[2016-07-22 12:02] GershonR commented on #771
This still happens with build 1580

[2016-07-22 16:48] kashike commented on #771
Try with 1581, please.

[2016-07-22 19:15] GershonR commented on #771
22.07 15:20:26 [Server] INFO at org.spongepowered.common.profile.query.UniqueIdQuery$SingleGet.call(UniqueIdQuery.java:64) ~[UniqueIdQuery$SingleGet.class:1.8.9-1890-4.2.0-BETA-1581]
22.07 15:20:26 [Server] INFO at org.spongepowered.common.profile.query.UniqueIdQuery$SingleGet.call(UniqueIdQuery.java:45) ~[UniqueIdQuery$SingleGet.class:1.8.9-1890-4.2.0-BETA-1581]
22.07 15:20:26 [Server] INFO at or

[2016-07-22 20:00] LuxusDarkangel opened #772 "[1.10.2] Redstone performance issues."
I made three redstone clocks, one of one type and two of another type (to test clocks with repeaters and clocks with redstone torches), made timings in a 1.8.9 SpongeForge server and then a 1.10.2 SpongeForge server, here are the results:

1.8.9: https://timings.aikar.co/v2/?id=259f160ae9964a94b69a2a8e5e940835
1.10.2: https://timings.aikar.co/v2/?id=62a1adb48c134cf5a9bf798ccb783bc3

As you can see

[2016-07-22 20:12] LuxusDarkangel opened #773 "[1.10.2] Protection duplication bug."
Explained it with images here: http://imgur.com/a/N5Rq3

[2016-07-22 20:15] LuxusDarkangel commented on #772
Moved to SpongeCommon.

[2016-07-22 20:15] #772 closed

[2016-07-22 20:16] LuxusDarkangel commented on #773
Moved to SpongeCommon.

[2016-07-22 20:16] #773 closed

[2016-07-23 03:40] dakattack opened #774 "[1.10.02] Chickens not laying eggs"
On the latest version and previous versions of sponge, the sounds of a chicken laying an egg is played, however no egg spawns.  Only other mod is biomes o plenty and the server is in survival mode.

[2016-07-23 03:43] dakattack commented on #741
Happened once again with the same error, however this time I could not even determine what was causing the error, as according to NBTExplorer, none of the items in the inventory were actually stacked beyond their limits.  I ended up having to remove his entire inventory through nbtexplorer, write them down, and give them all back to him.

[2016-07-23 03:47] GershonR commented on #771
Same with 1585:
22.07 23:52:34 [Server] pool-2-thread-3/WARN Couldn't look up profile properties for com.mojang.authlib.GameProfile@5fb41090[id=309b3832-b82c-346e-aa2e-0f2427a3c1ce,name=,properties={},legacy=false]
22.07 23:52:34 [Server] INFO com.mojang.authlib.exceptions.AuthenticationException: The client has sent too many requests within a certain amount of time
22.07 23:52:34 [Server] INFO at

[2016-07-23 03:48] dakattack opened #775 "[1.10.02] Sleeping at night does not change time"
This happens very often but not every single night, so obviously needs more testing to see what is the cause.  Sometimes, when everybody on the server is in bed, even if there is only one person on the server, the time does not turn to day.  I have to manually use slash time set which is obviously a problem because I am not on the server all of the time, and I don't want to allow my friends to use

[2016-07-23 03:50] #771 closed

[2016-07-23 03:52] Aaron1011 commented on #769
@LuxusDarkangel: I'm unable to reproduce this with the latest SpongeForge (I created a simple explosive spell, and put in in a projectile bullet). Can you please list the exact steps you took to trigger this crash?

[2016-07-23 04:21] Aaron1011 commented on #774
@gabizou: This is an issue with the CauseTracker. When item premerging is enabled, a chicken laying an egg causes an itemstack to be added to `PhaseContext#getCapturedItemStackSupplier()`. However, that supplier is only checked in the `CLOSE_WINDOW`, `USE_ENTITY`, and `UNKNOWN_PACKET` `PacketFunctions`. So, since `EntityTickPhaseState#processPostTick` ignores those `ItemStack` captures, the item n

[2016-07-23 06:59] gabizou commented on #775
Any mods or plugins installed?

[2016-07-23 07:43] LuxusDarkangel commented on #769
It's a crash I got on my production server, so I don't know how it happened (that's why it's not explained in the first post)

I know it's hard to fix if you can't reproduce it, but I had to try.

[2016-07-23 10:03] inklit opened #776 "1.8.9 FakePlayer problems"
Not entirely sure what is causing this or the direct impact that this is having on protection and such, but whenever a mod's FakePlayer attempts to do something (Specifically ComputerCrafts) it starts spamming the console with this message:

[code]

0d0c4ca0-4ff1-11e4-916c-0800200c9a66 is the UUID for ComputerCraft's FakePlayer.
I'm running SpongeForge 1586

[2016-07-23 10:23] loveyanbei opened #777 "1.10 incorrect explosion effect"
I was blown up by creeper and flied in to high sky,unreasonable high.

[2016-07-23 10:27] inklit commented on #776
Also I accidentally opened it in SpongeCommon first and then moved it to SpongeForge, if it turns out to be an issue with SpongeCommon feel free to close this and re-open the issue at https://github.com/SpongePowered/SpongeCommon/issues/854

[2016-07-23 10:43] inklit commented on #776
This bug is not present in B1575 and below.
It was introduced in B1576 and is present onward.

[2016-07-23 11:02] inklit opened #778 "Tab autocomplete throws an exception"
[code]

"d016dfe11dcb" seems to be the last part of my player's UUID (BTC) although that same value shows up even when you use tab autocomplete on players that don't have that UUID.

[2016-07-23 12:13] loveyanbei commented on #777
Look different from spigot implementation uhhh.

[2016-07-23 14:22] Xwaffle1 opened #779 "NPE when a player joins, crashes server. [1.8.9-1890-4.2.0-BETA-1583]"
Super weird crash, it's entirely Base Minecraft, so I assume those editing base Minecraft might know a thing or two about this crash report. I am running Pixelmon, yet this stack trace contains nothing from Pixelmon that would make me assume it's Pixelmon.

The issue did not occur until we updated.

http://pastebin.com/aWu4Ynsq

[2016-07-23 14:54] Aaron1011 commented on #769
@LuxusDarkangel: From looking at the stacktrace, it's definitely related to using the 'Projectile Bullet' (the item you right-click the Spell Programmer with) - let me know if you're able to consistently reproduce it.

[2016-07-23 23:29] #756 closed

[2016-07-24 00:31] GershonR commented on #771
The above commit would just slow it down, but it still shows up, anyway to suppress it?

[2016-07-24 01:19] #776 closed

[2016-07-24 03:38] loveyanbei commented on #777
OK,I tried again and got this
![2016-07-24_11 28 25](https://cloud.githubusercontent.com/assets/7147471/17081615/5894291e-5192-11e6-9e0a-d0ea5b5ef010.png)
![2016-07-24_11 28 29](https://cloud.githubusercontent.com/assets/7147471/17081614/58913628-5192-11e6-9e98-e71aab8232b9.png)
Explosion by creeper brought me to Y = 130.

[2016-07-24 03:44] loveyanbei opened #780 "[1.10.2] - Too Many Monsters"
![2016-07-24_11 33 59](https://cloud.githubusercontent.com/assets/7147471/17081635/98db3008-5192-11e6-8148-d2faf053d4fd.png)
They are naturally generated.
![2016-07-24_11 37 42](https://cloud.githubusercontent.com/assets/7147471/17081648/16e6d0d8-5193-11e6-9ac4-0caf389adefb.png)

[2016-07-24 05:08] gabizou commented on #780
Version info?

[2016-07-24 08:47] inklit commented on #771
This seems very similar to the bug report I posted #776, which was just fixed.  The symptoms were almost exactly the same so maybe you should check if it was fixed in the commit that fixed #776.

[2016-07-24 09:05] hunter688 opened #781 "[1.8.9] Tinkers Construct inventory events"
Found bug related or similar to #738 but with TinkerConstruct for 1.8.9 (items from Creative tab named Tinkers' Tools)

When try to drop any item from this tab using Q, item is duplicated - dropped to ground and stay in the inventory too.

Im tried make workaroud cancelling DropItemEvent.Dispense event for affected items, but when try drag item from the creative inventory, cannot, due item use thi

[2016-07-24 09:52] ST-DDT commented on #771
Maybe being able to specify a proxy/mirror profile resolver can reduce the load on the mojang server.
This might be useful if using multiple servers behind a NAT or on the same server/IP-address.

Each server would ask the mirror profile resolver. If the profile was requested before, its already available on that mirror and can be returned automatically. If not it will be forwarded to the mojang s

[2016-07-24 11:39] hunter688 opened #782 "[1.8.9] Tinker Construct ores/ islands in nether"
When have SpongeForge with Biomes O Plenty and Tinker Construct installed, no Tinkers ores/islands generated in the nether. Without spongeforge ores/islands generated.

SpongeForge build 1586

[2016-07-24 12:42] GershonR commented on #771
1591 didn't work as a fix for me:

[code]

[2016-07-24 21:11] #777 closed

[2016-07-24 21:12] Aaron1011 commented on #777
@loveyanbei: Thanks for reporting this! It should be fixed in the latest SpongeForge.

[2016-07-24 23:40] Eufranio opened #783 "[1.10.2] Some interaction between Progressive Automation and SpongeForge causes remapping issues with overridden Redirects."
Error: http://prntscr.com/bx1txs
Running 1.10.2 server with latest SpongeForge, and latest Progressive Automation (1.6.49).

[2016-07-25 00:39] loveyanbei commented on #780
1.10.2server

[2016-07-25 00:57] gabizou commented on #780
Any mods/plugins installed?

[2016-07-25 01:19] kinggoesgaming opened #784 "NoSuchMethodException"
https://gist.github.com/kinggoesgaming/41e03078a9adef87a87fbf7ffbb63fef

I am running dev environment with latest bleeding branch of SF

[2016-07-25 01:46] gabizou commented on #784
Check your plugin is using the right API dependency. It sounds as though your plugin compiled against an older version of the methods or a version of which the method had a certain signature. Not a sponge issue.

[2016-07-25 01:46] #784 closed

[2016-07-25 01:51] kinggoesgaming commented on #784
This seemingly works in production server

[2016-07-25 02:06] kinggoesgaming commented on #784
ok i think i figured it out

[2016-07-25 05:22] loveyanbei commented on #780
I hooked lightning strike event and create explosion or zombie pigmen by chance.But I found the world full of zombies and creepers.

[2016-07-25 05:29] loveyanbei commented on #780
Source

package dogop.bloodmoon;

import com.flowpowered.math.vector.Vector3d;
import org.spongepowered.api.Server;
import org.spongepowered.api.block.BlockType;
import org.spongepowered.api.block.BlockTypes;
import org.spongepowered.api.data.key.Keys;
import org.spongepowered.api.data.type.HandTypes;
import org.spongepowered.api.data.value.mutable.Value;
import org.spongepowered.api.entity.Entity

[2016-07-25 05:29] loveyanbei commented on #780
package dogop.bloodmoon;
import org.spongepowered.api.Sponge;
import org.spongepowered.api.entity.Entity;
import org.spongepowered.api.event.Listener;
import org.spongepowered.api.event.action.LightningEvent;
import org.spongepowered.api.event.game.state.GameStartedServerEvent;
import org.spongepowered.api.event.game.state.GameStoppedServerEvent;
import org.spongepowered.api.plugin.Plugin;
/**
 *

[2016-07-25 06:38] xChristopher210 opened #785 "[1.8.9] Server not saving on crash"
I have an issue with the server crashing but when it does it rolls back to the last point the world was saved. Dont get me wrong but I know it would save right before it did and everything was just fine. I updated about 40 builds and this issue started occurring.

Im currently on:
Spongeforge 1584
Forge 1890
Pixelmon 4.2.7

[2016-07-25 09:04] gabizou commented on #780
Please use https://gist.github.com/ to paste classes such as that to preserve indentation properly.

[2016-07-25 09:30] gabizou commented on #785
The game never is able to save during a hard crash. That's why the game crashes and there's a rollback. Unless there's a stack trace or crash report that we can look at and maybe identify whether it's Sponge's fault for the game crashing, there's not much to fix here.

[2016-07-25 13:12] bloodmc commented on #785
As gabizou stated, there is nothing we can do about that. If you want to protect yourself from crashes then save more frequently by altering the autosave tick interval in your config. You are also using a bugged version with pistons causing crashes, update to latest.

[2016-07-25 13:12] #785 closed

[2016-07-25 14:45] JBYoshi commented on #779
@Xwaffle1 Sponge does add some methods to base Minecraft classes; `setLocationAndAngles` is one of them. So yes, it is Sponge's fault.

[2016-07-25 17:21] simon816 commented on #778
Is there a rogue file called `d016dfe11dcb.ocnm` in the `world/playerdata` folder. There should only be files with the player UUID as their filename.

[2016-07-25 19:41] phit commented on #718
Same thing on 1.10.2, not sure if helpful but there seems to be another mod in my pack that does a similar check: craftingtweaks-mc1.9.4-5.0.6

When I log on it says in chat: "This server does not have Crafting Tweaks installed. Functionality may be limited."

Well anyway here's the rest of the versions:
FTBLib-1.9.4-2.1.0-pre2.jar
FTBUtilities-1.9.4-2.1.0-pre2.jar
spongeforge-1.10.2-2026-5.0.0-BE

[2016-07-25 21:06] allanf181 commented on #783
same issue here

[2016-07-25 21:09] AnimadorX commented on #783
Same issue here!

[2016-07-25 22:11] gabizou commented on #783
Can you start the server with the flags: `-Dmixin.debug.export=true` at which point in the server's run directory, you'll find a folder that's generated named `.mixin.out`, please zip the contents of the folder and upload it for us to analyze.

[2016-07-25 22:34] Eufranio commented on #783
I put it in my server start script, here:
[code]
But it didn't generate any folders.

[2016-07-25 22:44] kenzierocks commented on #783
It must go before the `-jar`.

[2016-07-25 23:09] Eufranio commented on #783
Done. All the files in .mixin.out and directories are [here.](http://accretion.us/frani/report.zip)

[2016-07-25 23:32] FiveEYZ opened #786 "[1.10.2] Visual bug"
Placing the Eye of Ender in End Portal dont show the open portal.
(it still works tho and you can jump thru, but you cant see it)

relogging or change dimension fixes it and you will see the portal

Killing the ender dragon dont visual show the portal
(it still works tho and you can jump thru, but you cant see it)
https://i.gyazo.com/8c5de7e67cb9094c9f90267b5930be08.png

relogging or change dimens

[2016-07-26 02:24] knoxhack opened #787 "HQM-Sponge server crash MC-1.10.2"
https://gist.github.com/knoxhack/2a17fda98004e7b2a5641330d2b3287d

[2016-07-26 02:25] gabizou commented on #783
Thank you very much for the zip. We've found that this is in fact an issue with Mixins, however really well hidden, so a fix will be available soon. For now however, you can use the flag: `-Dmixin.debug.disableHandlerRename=true` and the server should start up without the crash. It's not a fix, just a workaround for now.

[2016-07-26 02:43] knoxhack opened #788 "Pixelmon - Sponge server MC 1.10.2"
https://gist.github.com/knoxhack/2c5b0659d6a8b54135e7c3f234ac3e3d

[2016-07-26 10:11] TBlueF commented on #758
This seems to be fixed. Nice :)

Tested in:
*Minecraft: 1.10.2
SpongeAPI: 5.0.0-SNAPSHOT-8352948
SpongeForge: 1.10.2-2026-5.0.0-BETA-1601
Minecraft Forge: 12.18.1.2026*

[2016-07-26 10:11] #758 closed

[2016-07-26 10:58] Etheras commented on #718
They're probably gonna need logs, if you can provide in a gist like stated above.

[2016-07-26 11:14] TBlueF commented on #786
Note: Another case where this happens is the frost_walker enchantment.

[2016-07-26 12:17] LuxusDarkangel commented on #780
I can confirm mob spanwing rate is higher in sponge than vanilla. Probably a few options to configure mob spawning such as maximum mobs per world, maximum mobs per type, near the user, etc would be helpful (Spigot/Bukkit implemented some of this options too).

Here a few more screenshots one of the users took in my server:

https://i.gyazo.com/e17c32c8bfd43161d5a3574aaec88023.jpg
https://i.gyazo.c

[2016-07-26 12:45] inklit commented on #771
The UUID b23fc745-6382-344d-ae93-fc66747ee83cand and
45b421db-e143-391d-b0a6-0e171ceeca6a do not belong to any Minecraft players (thus invalid) do you know if they belong to a mod's fakeplayer?

[2016-07-26 12:50] inklit commented on #778
There's a file called ac440b00-f677-4852-bb32-d016dfe11dcb.ocnm which is my entire UUID.
I don't know how this file got there or it's purpose so I've copied it out of the directory and it seems to fix the issue.
Maybe a check for invalid files in the directory should be created.

Thanks.

[2016-07-26 14:09] ryantheleach commented on #778
What mods did you have installed? I wonder if this is some strange storage for one of your mods?

[2016-07-26 14:24] inklit commented on #778
OpenComputers, ChunkLoaderZ, ComputerCraft, CCTweaks, MoreFurnaces, and Iron Chest.

[2016-07-26 14:29] inklit commented on #778
Ah I see.
They are for OpenComputer's Nanomachine data storage.

[2016-07-26 14:30] inklit commented on #778
https://github.com/MightyPirates/OpenComputers/blob/399e0f44e6e6088a8b95f011011d817cbec45177/src/main/scala/li/cil/oc/common/event/NanomachinesHandler.scala#L111

[2016-07-26 15:49] Eufranio commented on #783
Okay, thank you!
What will be stopped by using this?

[2016-07-26 18:13] Eufranio commented on #783
Happening with Hovering Hourglass too. http://prntscr.com/bxtscv
I'll keep that issue open by a while

[2016-07-26 18:20] gabizou commented on #783
Are you using the same flags?

[2016-07-26 18:21] Eufranio commented on #783
I deleted -Dmixin.debug.export=true and put -Dmixin.debug.disableHandlerRename=true

[2016-07-26 18:23] gabizou commented on #783
IF you can have both flags, and if it still crashes, re-upload that `.mixin.out` folder.

[2016-07-26 18:29] Eufranio commented on #783
Yeah, the server started with no errors, but the world disapppeared and everyone is freezed. I think this is a sponge security feature, right?
Well, we can't play that way, so i'll wait the fix.

[2016-07-26 18:34] LuxusDarkangel opened #789 "[1.10.2] Exception trying to process over a phase (EnderIO)"
Sometimes EnderIO's capactior banks will stop sending/receiving energy and console shows this in the log: https://gist.github.com/LuxusDarkangel/ce8d7521719fa1e440c75720fc4b6eae

[2016-07-26 18:46] gabizou commented on #783
Uhhhh, no, that's not a feature..... Please zip up that classes folder and the log so we can look into that as a possible separate issue.

[2016-07-26 18:48] gabizou commented on #789
Sponge version info?

[2016-07-26 18:52] LuxusDarkangel commented on #789
Latest (1601)

[2016-07-26 18:54] gabizou commented on #789
Alright, I'll give a look over, I was sure that I fixed this sort of issue before.

[2016-07-26 18:56] LuxusDarkangel commented on #789
I reported a few from different mods. In which versión you added the fix?

[2016-07-26 18:57] gabizou commented on #789
I added the fix quite a few builds back, namely with resolving #710

[2016-07-26 19:03] LuxusDarkangel commented on #789
I'm not at home, so I thought maybe I made a mistake and it's not latest, but that fix is from the 1.9.4 era.

[2016-07-26 19:04] gabizou commented on #789
Nope, this is a different event handling. I'll have a fix out momentarily.

[2016-07-26 19:09] Eufranio commented on #783
Nothing appeared in the folder .mixin.out: http://prntscr.com/bxuhdx
Here is the world, when i or other person join the server: http://prntscr.com/bxuhvc
[Here](http://accretion.us/frani/fml-server-3.log) is the latest forge log (since start to i type /stop)
And here is the start script:
[code]

[2016-07-26 19:11] #789 closed

[2016-07-26 19:13] gabizou commented on #789
@LuxusDarkangel look out for the next build with that fix (you should see the commit message in the changelog for that build).

[2016-07-26 19:14] gabizou commented on #783
Your vm flag `-Daffinity.reserved=80` should be before the `-jar` flag. Otherwise it's a program argument, which likely isn't what whatever is looking for that is looking for.

[2016-07-26 19:24] Eufranio commented on #783
Okay, the classes are [here.](http://accretion.us/frani/report2.zip)

[2016-07-26 19:44] GershonR commented on #771
I'm not sure, could be an economy or pixelmon

[2016-07-26 19:54] gabizou commented on #783
Even with classes exported, there shouldn't be an issue, but on join, nothing loads?

[2016-07-26 19:56] Eufranio commented on #783
Yep. I can talk, run commands, teleport, etc, but the world doesn't load. Even after a restart. It happens only if SpongeForge is loaded/installed.

[2016-07-26 19:59] gabizou commented on #783
And without the mixin flags and only SpongeForge + ProgressiveAutomation, the server still crashes?

[2016-07-26 20:29] Eufranio commented on #783
@gabizou  Nope, the server doesn't crash since i use the last mixin flag, but it doesn't load the world.
With only SpongeForge and Progressive Automation: http://prntscr.com/bxvpat
There is no errors in console.

[2016-07-26 20:36] gabizou commented on #789
@LuxusDarkangel wait to use that build as there's a bug that I forgot to fix in relation to the event.

[2016-07-26 20:45] gabizou commented on #789
@LuxusDarkangel 1604 should do the trick.

[2016-07-26 20:51] LuxusDarkangel commented on #789
Oh, okay. This isn't something I could reproduce, just happened sometimes, so I guess we can close this.

I will report back if it happens again.

[2016-07-26 21:12] Eufranio commented on #783
GOD!!! It's fixed in the last version of SpongeForge!

[2016-07-26 21:14] gabizou commented on #783
@Eufranio is that with the mixin flags or without?

[2016-07-26 21:26] Eufranio opened #790 "[1.10.2] Can't catch some block changes"
This is being spamming in my log: http://prntscr.com/bxwh30
Everything is working fine, at least what i realized.
It throw a new error when someone stand in a pressure plate too, or a door: http://prntscr.com/bxwiir
Or when a turtle try to move: http://prntscr.com/bxwk9g

[2016-07-26 21:38] Eufranio commented on #783
@gabizou without mixin flags it works and load but still spamming errors, with the flags it worked fine. But the errors still present, i created a new and separated issue for it: #790

[2016-07-26 21:40] LuxusDarkangel commented on #790
Sponge version?

[2016-07-26 21:41] Eufranio commented on #790
SpongeForge version: 5.0.0-BETA-1604
Forge version: 12.18.1.2026

[2016-07-26 22:09] gabizou commented on #698
Should be fixed with the latest builds.

[2016-07-26 22:09] #698 closed

[2016-07-26 22:11] #786 closed

[2016-07-26 22:27] gabizou commented on #783
It's still the same issue.

[2016-07-26 22:27] #790 closed

[2016-07-26 22:57] Eufranio opened #791 "[1.10.2] Item drop is very fast"
In 1.10.2, running SpongeForge build 1606, i can't drop items, they return to my inventory.
Easili reproducible just pressing Q with a item in hand. The 'collect' is very fast, then the item is not even throwed.

[2016-07-26 23:11] Eufranio opened #792 "[1.10.2] Botania flowers can't interact with world"
In my server using SpongeForge b1606, my Botania flowers can't interact with the world:
Screenshots:
http://prntscr.com/bxxqgh
http://prntscr.com/bxxrbg

[2016-07-27 00:04] gabizou commented on #788
Pixelmon bug, not SpongeForge.

[2016-07-27 00:04] #788 closed

[2016-07-27 00:13] FiveEYZ commented on #791
if there is only 1 of the item you wanna throw on the hotbar and none in the inventory then u can throw it with Q
as soon as you have multiple of the same item in your inventory there will be problems when you try to drop it

[2016-07-27 00:14] FiveEYZ commented on #792
they also cant make living stone/wood

you can see the "effect" but nothing happens with the stone/wood

[2016-07-27 00:26] gabizou commented on #792
Any errors or exceptions in the log? What is supposed to happen versus what's happening in this picture?

[2016-07-27 00:27] LuxusDarkangel commented on #791
This is a problem with Forestry, next time test if you can reproduce it without mods/plugins and without sponge to determine the problem.

Here is the issue: [#738](https://github.com/SpongePowered/SpongeForge/issues/738)

[2016-07-27 00:37] Eufranio commented on #792
First picture: The Gourmaryllis is supposed to eat the foods, but they stay there, dropped, nothing happens.
Second picture: Hopperhock should collect dropped items from the ground, but they still there, it can't collect.
About livingrock/stone, Pure Daisies are supposed to change WOOD to LIVINGWOOD, but the block doesn't change. The particles shows like if it is being changed, but nothing happens

[2016-07-27 01:00] FiveEYZ commented on #791
forestry with sponge = bug
forestry without sponge = no bug
sponge without forestry = no bug

nothing in logs

tested with:
forestry_1.10.2-5.2.3.212
spongeforge-1.10.2-2026-5.0.0-BETA-1604

[2016-07-27 02:04] phit opened #793 "[1.10.2] refinedstorage unusable"
from https://github.com/raoulvdberge/refinedstorage/issues/223

could reproduce with these versions, havent tried it in newer ones:
refinedstorage-0.8.12.jar
spongeforge-1.10.2-2026-5.0.0-BETA-1599.jar.dis
forge-12.18.1.2026

[2016-07-27 02:18] GershonR commented on #771
Looks like sometimes it can actually kill the server:
`6.07 22:23:17 [Server] pool-2-thread-846/WARN Couldn't look up profile properties for com.mojang.authlib.GameProfile@10cfbe8d[id=2d5d0cd4-7faa-3a5e-bb48-2d24915d7b46,name=,properties={},legacy=false]
26.07 22:23:17 [Server] INFO com.mojang.authlib.exceptions.AuthenticationException: The client has sent too many requests within a certain amount

[2016-07-27 05:44] hunter688 commented on #791
It looks like something wrong with dropping items not only in the 1.10. See #781

[2016-07-27 11:28] FiveEYZ commented on #793
Did a test with only these mods installed:
refinedstorage-0.8.12
spongeforge-1.10.2-2026-5.0.0-BETA-1607

1.  Made a simple setup with a interface connected to a RSsystem
2.  Placed a stack of redstone on 1 of the export slots
3.  When i tried to remove that "ghost" stack from the slot i got this in console: http://pastebin.com/raw/tkvcNTDj

The interface wont reset unless i break it.

**This also

[2016-07-27 16:44] dakattack commented on #775
biomesoplenty as far as forge goes, essentialcmds, permissionsex for sponge.  sometimes it will happen even when I am the only one on the server, being OP, so I dont think it is a permissions issue of any sort

[2016-07-27 18:34] gabizou commented on #793
Going to need full logs for that the.

[2016-07-27 18:44] gabizou opened #795 "[1.8.9] WorldSaveEvent doesn't work on shutdown"
Self explanatory. @bloodmc already knows how to fix.

[2016-07-27 18:51] gravityfox commented on #795
#751 Looks awfully similar.

[2016-07-27 19:01] #795 closed

[2016-07-27 19:29] FiveEYZ commented on #793
same setup as my comment above but with a new world

logs here:
https://gist.github.com/FiveEYZ/2ffb293e89a5c0ca08a354e9e5398a3f

[2016-07-27 21:18] gabizou commented on #793
It sounds like the mod is using client classes while on the server. So not a Sponge issue directly.