[2018-07-23 21:08] phit commented on #2340
yes, and as you can see the first few occurrences have a full log which we needed
https://gist.github.com/phit/9c8ae117132065b50d2a85be17d6c7a5

[2018-07-23 21:10] TheOpalium commented on #2340
Indeed, I just noticed this as well. I updated the issue on EnderIO's repo as well with this information, hopefully they can help out somehow too. Sorry for the wait!

[2018-07-23 21:18] TheOpalium opened #2341 "Error spam with Forge Multipart: "TileEntity is not registered""
**I am currently running**

- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3304
- Forge version: 14.23.4.2735
- Java version: OpenJDK 1.8.0_171
- Operating System: Ubuntu 16.04 64bit

- Plugins/Mods:
Mods (172):
`Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, AE2 Stuff, Actually Additions, Actually Baubles, Advanced Generators, Advanced Sola

[2018-07-23 21:19] #2341 closed, assigned to nobody

[2018-07-23 21:20] phit commented on #2341
https://github.com/SpongePowered/SpongeCommon/commit/be074bd36d9f07b8fd2a1ec4241aa1d96cd132fe

[2018-07-23 21:24] ImMorpheus commented on #2340
Uh I know this one. This should be the old 1.10 issue.

[2018-07-23 21:26] phit commented on #2272
is still still an issue on latest?

[2018-07-23 21:40] ImMorpheus commented on #2340
EnderIO is wrapping worlds in their own Worlds and delegating methods to the wrapped world. However we are accessing the chunkProvider field directly, thus causing the NPE.

See https://github.com/SleepyTrousers/EnderIO/blob/master/enderio-base/src/main/java/crazypants/enderio/base/farming/PickupWorld.java#L1034

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongep

[2018-07-23 21:48] gabizou commented on #2340
The problem is that Sponge needs to avoid creating the events when the world is considered "fake". In this case, the Overwrite [here in PlayerInteractionManager](https://github.com/SpongePowered/SpongeCommon/blob/a245bcc3d6d38380f21044ed918e54acf0b068bd/src/main/java/org/spongepowered/common/mixin/core/server/management/MixinPlayerInteractionManager.java#L116), we're not checking if ti's a fake wo

[2018-07-23 21:56] ImMorpheus commented on #2340
Is it really a fake world ?
I haven't tested it but from the looks of it, `IMixinWorld#isFake` would return false.
They are wrapping a real world to be used with their machines.

[2018-07-23 22:40] gabizou commented on #2340
It would return false, because `PickupWorld` is not a `WorldServer` subclass as shown [here](https://github.com/SleepyTrousers/EnderIO/blob/master/enderio-base/src/main/java/crazypants/enderio/base/farming/PickupWorld.java#L72).

[2018-07-23 22:46] gabizou commented on #2340
And I understand why they're doing it, but Sponge can't do anything to it with the world being wrapped. It's not possible for Sponge to use internalized methods that would otherwise be used, and in this case, even using `createBlockSnapshot` will fail because it's injected into the `World` class, so `PickupWorld` is going to inherit the method, but it will still fail because `PickupWorld` is not a

[2018-07-23 23:36] Shybella opened #2342 "Spawn rates not taking affect"
**I am currently running**

- SpongeForge version: 3338
- Forge version: 2705
- Java version: 1.8 update 171
- Operating System: Windows server 2012 r2

- Plugins/Mods: LuckPerms, Nucleus and Griefprevention

**Issue Description**

Sponge config settings to change mob spawn rates do not work in individual worlds when set in their configs.

[2018-07-23 23:39] ChampTheLegend commented on #2342
I am having the same problem, same Forge Version, however Sponge 3206.

[2018-07-24 01:09] bloodmc commented on #2338
@PolyacovYury Please provide a test world with a few BUD switch designs that are having issues. Also make sure to explain the bugs you are seeing in detail.

[2018-07-24 01:26] ryantheleach commented on #2326
That's strange behavior, the equivalent recipes I've seen in vanilla keep the bucket for a cake recipe in the crafting grid where it originated from, (If I can rely on my memory)

[2018-07-24 02:17] bloodmc commented on #2342
Spawn rates are not _**exact**_ limits. They are factored in with amount of spawnable chunks available, view distance and mob spawn range to get the actual limit. Upload your configs if you are still having issues.

[2018-07-24 02:25] Shybella commented on #2342
`Sponge config settings to change mob spawn rates do not work in individual worlds when set in their configs.` has nothing to do with spawn limits or rates.

global.conf rates are overriding other worlds.

[2018-07-24 02:38] ryantheleach commented on #2338
@PolyacovYury It was our understanding that the Panda Redstone changes **didn't** change the behavior of budded pistons, unless they were already directional.

You can read more about the fixes here: https://www.youtube.com/watch?v=NEMARMNvDsw

https://bugs.mojang.com/browse/MC-11193?focusedCommentId=320079&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-320079

It

[2018-07-24 02:42] ryantheleach commented on #2342
@Shybella Things like this can be hard to judge at first glance without seeing evidence in a post.

The more work that goes into a ticket, immensely helps devs reproduce errors and fix them.

If you could provide

1. Your testing methodology of how you are counting the mob spawns.
2. the results.
3. the configuration.
4. the details on which worlds this affects, and whether they are mod loaded, va

[2018-07-24 02:45] Shybella commented on #2342
It's super simple. global.conf rates are overriding other dimension configs for their own set rate.

[2018-07-24 02:55] bloodmc commented on #2342
It is definitely working per world as I just tested. How are you confirming that the rates you are setting are not working? We provide no such information in game. Do as I said and upload your configs or this will be closed.

[2018-07-24 02:58] Shybella commented on #2342
I'm using a external mod to handle spawn rates. If @ChampTheLegend wants to do that he can.

[2018-07-24 03:04] bloodmc commented on #2342
Well that explains why it isn’t working. Sponge config is to modify spawn limits for vanilla’s spawner. If the mod is trying to do the same thing then it is not going to work unless it replaces the spawner entirely.

[2018-07-24 03:06] Shybella commented on #2342
This was happening before I installed it. I installed it because you ignored my multiple requests about it in Sponge testing. I only opened this issue because of @ChampTheLegend repeating the same exact issue in the Sponge discord.

[2018-07-24 03:11] ChampTheLegend commented on #2342
I’m using the global.conf, no matter how low I adjust it the same amount of mobs always seem to spawn in-game

[2018-07-24 03:13] bloodmc commented on #2342
Provide what ryantheleach requested or this will be closed.

[2018-07-24 03:14] ChampTheLegend commented on #2342
I test this by editing the config and re-logging in - always about ~80 mobs spawn around me at night. I will post my global.conf momentarily.

[2018-07-24 03:19] ChampTheLegend commented on #2342
https://pastebin.com/6rXTH3y5

[2018-07-24 03:27] bloodmc commented on #2342
Are you killing all mobs and allowing them to respawn? The spawn limits do not affect "chunk spawns".

[2018-07-24 03:31] ChampTheLegend commented on #2342
Yes, I'm killing them and allowing them to respawn, but no matter how I adjust the config the number stays stagnant at always about ~80 mobs per person. What exactly does spawn rates do if not adjust the amount of mobs spawning?

[2018-07-24 03:34] bloodmc commented on #2342
It does affect spawning, just not chunk spawns. Chunk spawns are when chunks get generated. I'll look into non-chunk spawns.

[2018-07-24 03:40] bloodmc commented on #2342
With a setting of 15
[code]
With a setting of 200
[code]

Working as intended. Make sure you are testing with ONLY SF and no other mods.

[2018-07-24 03:47] bloodmc commented on #2330
Looks like it may be caused by the husky plugin. Have you tested without this plugin?

[2018-07-24 03:49] bloodmc commented on #2313
If you need other help, join our discord or use our forums. Do not use the same github ticket for multiple issues.

[2018-07-24 03:49] #2313 closed, assigned to nobody

[2018-07-24 03:50] bloodmc commented on #2304
This is probably related to an old bug where a TE had a chance of being created without its corresponding block. Create another ticket if it occurs with fresh TE creations.

[2018-07-24 03:50] #2304 closed, assigned to nobody

[2018-07-24 03:51] Aipaloovik commented on #2330
The error is happening on a production server and I can't really remove plugins. Also, the error happens so inconsistently that I couldn't try to reproduce it on a test server. I have been running with the debug flag for 8 hours and haven't gotten the error yet.

Also, husky outputs that debug code all the time. Not just when the error occurs.

I'll wait until I get the error again with the debug

[2018-07-24 03:51] bloodmc commented on #2272
This has already been fixed in latest.

[2018-07-24 03:51] #2272 closed, assigned to nobody

[2018-07-24 03:51] bloodmc commented on #2293
Does this occur with the latest SF build?

[2018-07-24 03:52] bloodmc commented on #2211
Is this still an issue with latest builds?

[2018-07-24 03:55] bloodmc commented on #2330
I've seen the husky UI plugin have issues with later SF builds causing it to get stuck in a loop which could easily result in server hanging. When this issue happens, do users have trouble opening their inventory?

[2018-07-24 03:59] Aipaloovik commented on #2330
As soon as the error starts happening there is usually less than a minute before the server just hangs so I haven't gotten any data on inventory usage.

I might just downgrade Sponge. I only went past the RB because GP needed it. I'll just revert back to the minimum of what it needs. Although I think I'll wait for it to happen once more with the debug on.

[2018-07-24 04:05] #2002 closed, assigned to dualspiral

[2018-07-24 04:18] bloodmc commented on #2133
We reduced quite a bit of RAM usage in latest builds. If you experience issues with latest, provide a profile dump.

[2018-07-24 04:18] #2133 closed, assigned to nobody

[2018-07-24 04:19] bloodmc commented on #2099
As JBYoshi stated, this is not an issue with latest builds.

[2018-07-24 04:21] bloodmc commented on #1928
UseItemStackEvent works fine for me in latest builds.

[2018-07-24 04:21] #1928 closed, assigned to Zidane

[2018-07-24 04:23] SquidDev commented on #2002
Thank you!

[2018-07-24 04:25] ChampTheLegend commented on #2342
That seems to be the reason - I tested SF without other mods, and works as intended. Must be another mod overriding it, apologies for making you test something that was already working.

[2018-07-24 05:08] bloodmc commented on #2342
No worries. It’s probably a mod that either provides its own spawner or makes modifications to vanilla’s that is not compatible with ours. I’ll keep this open until you discover which mod is causing the issue.

[2018-07-24 07:04] Aaron1011 commented on #2301
@Y0ungSandwich: The [issue has now been fixed in HammerCore 2.0.1.1](https://gitlab.com/DragonForge/HammerCore/issues/69#note_89851475). You can disable the `broken-mod` module in your `global.conf` once you upgrade.

[2018-07-24 07:53] Yeregorix commented on #2338
Maybe we can add an option like : `redstone_algorithm=vanilla` (or `panda` or `turbo`)

[2018-07-24 10:27] Sir-Will commented on #2293
Yes, this is still an issue with 3342.

[2018-07-24 15:00] phit commented on #2099
@creeper123123321 posted on discord and could still repro it
https://gist.github.com/phit/978cf20ec9568a08e481d9a82eea48bc

[2018-07-24 15:30] Aipaloovik commented on #2330
With `-Dsponge.debugcauseframes=true`
https://gist.github.com/Aipaloovik/b54d071a281b46db632d4a35cd82be50

[2018-07-24 16:29] Aaron1011 commented on #2330
@Aipaloovik: Try changing `max-block-processing-depth=100` to `max-block-processing-depth=80` in `config/sponge/global.conf`. If you're still getting a `StackOverflowError`, try lowing it a little more.

[2018-07-24 17:23] gabizou commented on #2330
Try build 3343. I'm not sure how it's possible to reproduce the issue, but the changes should fix it. If not, please comment back with a new log :)

[2018-07-24 18:06] phit commented on #2336
@fcpwiz still an issue?

[2018-07-24 18:52] PolyacovYury opened #2343 "No option to turn vanilla maxEntityCramming on without turning max-entities-within-aabb off"

[2018-07-24 18:59] liach commented on #2343
1. you pinged the wrong person.
2. report to animalia for configurable breed frequency.

[2018-07-24 19:03] #2343 closed, assigned to nobody

[2018-07-24 19:06] bloodmc commented on #2338
Closing as this is an issue with panda which is not enabled by default.

[2018-07-24 19:06] #2338 closed, assigned to nobody

[2018-07-24 20:35] phit commented on #2281
~move to sc

[2018-07-24 20:35] limbo-app commented on #2281
Hey @02Miki! I've moved your issue to [SpongePowered/SpongeCommon#2018](https://github.com/SpongePowered/SpongeCommon/issues/2018).

[2018-07-24 20:35] #2281 closed, assigned to nobody

[2018-07-25 01:55] ryantheleach commented on #2338
To clarify:

We are not accepting bugs in alternate redstone providers, these optimizations are provided for convenience and unless it can be proven that our implementation of them is out of date / wrong, vs the same optimization on Vanilla, e.g. CarpetMod or "Panda's Redstone Mod" then we won't be accepting bug reports for them.

**IF** there is bug that is fixed in a later version of the modific

[2018-07-25 08:24] fcpwiz commented on #2336
Not an issue anymore with latest. Thanks!

[2018-07-25 08:24] #2336 closed, assigned to nobody

[2018-07-25 13:34] XakepSDK commented on #2276
From discord: https://hastebin.com/acekizezek.pl

[2018-07-25 17:08] ryantheleach commented on #2276
Some people have been reporting this issue that have JEID installed.

For reference:

https://minecraft.curseforge.com/projects/jeid

https://github.com/DimensionalDevelopment/JustEnoughIDs/tree/master/src/main/java/org/dimdev/jeid

Which mixes into the same classes we do, so things might get a little fuzzy, or maybe our fix for vanilla breaks their mod?

https://github.com/DimensionalDevelopment/

[2018-07-26 00:18] Aaron1011 commented on #2276
The endless parade of SPacketChunkData bugs continues:

So far, I've identified three distinct bugs, all of which have the potential to cause this kind of crash:

* A Vanilla bug, which I've patched in Sponge [here](https://github.com/SpongePowered/SpongeCommon/blob/cd5ff6beb7850b7b75451b35530a3b18a99a935e/src/main/java/org/spongepowered/common/mixin/core/world/chunk/MixinBlockStateContainer.java#

[2018-07-26 01:14] ryantheleach commented on #2276
@Aaron1011 That vanilla bug might be worth PR'ing to forge, you might get more eyes over it.

[2018-07-26 08:38] #2340 closed, assigned to nobody

[2018-07-26 09:17] nzminecraftDOTcom opened #2344 "Latest EnderIO version causing issues with latest sponge version?"
**I am currently running**

- SpongeForge version: 3206
- Forge version: 14.23.4.2705
- Java version: JRE 1.8.0_172
- Operating System: Windows server 2008 R2 Enterprise edition
- Minecraft version 1.12.2

- Sponge Plugins:
Page 1: https://i.imgur.com/PQIq3yI.png
Page 2: https://i.imgur.com/aaDxnFf.png

Regular minecraft Mods:
Page 1: https://i.imgur.com/mzd7pnU.png
Page 2: https://i.imgur.com/eHk

[2018-07-26 10:08] fcpwiz commented on #2335
@Lemmmy yes, I’m on 3342 and it occurs often.

[2018-07-26 10:39] gabizou commented on #2335
@fcpwiz, there’s newer builds, 3353 was made this morning and has had a few more bug fixes.

Though, for clients losing items on weak connections, I don’t believe there’s anything the client even does to lose items, since the inventories are server managed. Worst case scenario is you have a mod/plugin interacting with inventories and needs to do its job better. Otherwise, I don’t see sponge interf

[2018-07-26 10:44] gabizou commented on #2344
Crash reports and logs are all 100% EnderIO code. Looks like they’re not intializing something they should be. Closing as it’s not appearing to be a sponge issue and sounds like it’s happening to others who don’t have sponge installed.

[2018-07-26 16:59] bloodmc commented on #2328
@SimplyLime Retest using latest SF and make sure to address any config changes phit has mentioned.

[2018-07-27 04:19] KingDan27 commented on #2211
as of 1.12.2-2705-710-BETA-3349 it is still not working

[2018-07-27 07:59] covers1624 commented on #2294
No, your assumptions of Brandon's network code are incorrect, The packet IS handled on the main thread. The packet in question is [`PacketPlacedItem`](https://github.com/brandon3055/Draconic-Evolution/blob/master/src/main/java/com/brandon3055/draconicevolution/network/PacketPlaceItem.java#L42), Notice that its Handler extends [`MessageHandlerWrapper`](https://github.com/brandon3055/BrandonsCore/bl

[2018-07-27 08:15] ghost commented on #1811
How's the fix?

[2018-07-27 08:30] ryantheleach commented on #2294
Reopening this until someone can provide absolute evidence one way or the other.

[2018-07-27 08:43] ryantheleach commented on #1383
After reading these 2 related issues, I believe this should at least be partially fixed, but needs to be tested on 1.12 with reactors specifcally.

Related Issues:
----
https://github.com/SpongePowered/SpongeForge/issues/1811 - IC2 Dupes blocks on explosion.
https://github.com/SpongePowered/SpongeForge/issues/1812 - IC2 Tile Entities arn't available on restore.

[2018-07-27 08:44] ryantheleach commented on #1811
Related Issues:
----
https://github.com/SpongePowered/SpongeForge/issues/1383 - Reactors can explode protected areas.
https://github.com/SpongePowered/SpongeForge/issues/1812 - IC2 Tile Entities arn't available on restore.

[2018-07-27 08:44] ryantheleach commented on #1812
Related Issues:
----
https://github.com/SpongePowered/SpongeForge/issues/1383 - Reactors can explode protected areas.
https://github.com/SpongePowered/SpongeForge/issues/1811 - IC2 Tile Entities arn't available on restore.

[2018-07-27 08:49] ryantheleach commented on #2169
And remapped: https://gist.github.com/ryantheleach/345319d38743b6ee2586f186001d8109

[2018-07-27 08:53] ryantheleach commented on #2169
@MacKey-255 Apologies for the delay of any meaningful response, I know that can be frustrating.

But with the current information you have provided, it's very vague and hard to debug, without knowing a modpack or specific mod combination that will cause this.

If you have updated information, it would help debug this, otherwise a modpack, or example world that contains this issue, or some form of

[2018-07-27 08:57] brandon3055 commented on #2294
http://ss.brandon3055.com/7393c

Edit: And before you ask to see my LogHelper.
http://ss.brandon3055.com/57e7c

[2018-07-27 09:09] ryantheleach commented on #2294
@brandon3055 Thanks.

[2018-07-27 09:21] ryantheleach commented on #1289
I'd like to see a reply to this with a 1.12 mod that is able to cause the issue, or a test mod that causes the issue, so I can add logging at the appropriate point.

[2018-07-27 09:37] ryantheleach commented on #2062
@Big-Deaddy To confirm, all previous errors are gone, but people still timeout?

Can we have your resource pack + sha1 settings to test with? It's going to be hard to reproduce, and I suspect it may be a vanilla issue. If you could get one of those people with timeout issues to test against a vanilla server with that resource pack enabled it will help work out whose issue it is, ours or Mojangs.

[2018-07-27 09:37] #2062 closed, assigned to JBYoshi

[2018-07-27 09:39] ryantheleach commented on #2091
Assigned myself to retest this over this weekend.

[2018-07-27 09:41] ryantheleach commented on #919
Assigning myself to create a test plugin that's able to catch when this happens, verify it still happens, and to reply with a test plugin/mod.

[2018-07-27 10:12] ryantheleach commented on #883
I'll retest this tonight considering the latest refactors.

[2018-07-27 10:23] ryantheleach commented on #2071
It's pretty clear that this is mods violating our assumptions for our world generation system.

My question is can we instead log a warning, and prevent the crash, and compare the results to generation without SpongeForge?

Would Vanilla instead redirect and load chunks at this point, or would it silently drop the changes?

If it's literally just a performance reason / different world gen architec

[2018-07-27 10:39] ryantheleach commented on #2150
https://github.com/maruohon/justenoughdimensions/issues/9

@maruohon Seems relatively Sponge friendly on this issue, Maybe we could work something out?

This is the config that ships with Exoria-Server-1.3.0c.zip which contains: justenoughdimensions-1.12.2-1.6.0-dev.20180502.030835.jar

Which is the latest version of the modpack at time of posting.

I've not tested this.

https://gist.github.com/r

[2018-07-27 12:18] maruohon commented on #2150
I suspect it's caused by unregistering the Nether and the End in Exoria's config. From trying to look through the SpongeCommon `WorldManager` code on Github, looks like the `dimensionType` variable in the `WorldManager.loadAllWorlds(WorldManager.java:683)` method is null on that line, but I couldn't see why that would happen. Looks like SpongeCommon always adds/registers the vanilla dimensions in

[2018-07-27 16:27] ryantheleach commented on #883
Still applicable to spongeforge-1.12.2-2705-7.1.0-BETA-3355.jar

I tried disabling (production sponge configs) to disable tracking and a few others, but it still continued to fail.

will take debugging or disabling random mixins.

I tested Mojang Vanilla: Works.

Tested Forge: Works.

Tested Sponge with Panda's redstone, also fails.

[2018-07-27 17:13] Faithcaio commented on #2337
Is this modded?
You must have somehow clicked on a Slot 49 which does not exist on a normal crafting table.

[2018-07-27 17:45] ryantheleach commented on #892
Still applies to spongeforge-1.12.2-2705-7.1.0-BETA-3355.jar , forge-1.12.2-14.23.4.2739-universal.jar

[2018-07-27 19:24] yamy19 commented on #2344
Ender io says it's an issue on you end though
https://github.com/SleepyTrousers/EnderIO/issues/4747

[2018-07-27 20:04] Faithcaio commented on #2326
Ok.. can reproduce now. It only happens on server.
Not when running single player.

[2018-07-27 20:08] SawFowl commented on #2326
@Faithcaio Tested on 1.12.2-2705-7.1.0-BETA-3355
The bug is present. The error appears only on the server.

[2018-07-27 21:13] Faithcaio commented on #2326
https://github.com/MrCrayfish/MrCrayfishFurnitureMod/blob/master/src/main/java/com/mrcrayfish/furniture/handler/CraftingHandler.java#L44

This is where the item gets added.
Now why does it happen with Sponge only...

https://github.com/MrCrayfish/MrCrayfishFurnitureMod/blob/61359ff650de95971dbcade5bc4e09fb5d949590/src/main/java/com/mrcrayfish/furniture/init/FurnitureCrafting.java#L147
retains the

[2018-07-27 22:31] theBluebaerry commented on #2344
Wrong link from Yamy, use this one https://github.com/SleepyTrousers/EnderIO/issues/4768

[2018-07-28 00:02] HenryLoenwind commented on #2344
No, we did NOT say this is a SpongeFogre issue. We asked the OP to run his world without SpongeForge to see if there is a weird interaction with it or not. However, people don't like to cooperate in finding the bugs they report and prefer to start arguing...

[2018-07-28 00:11] bloodmc commented on #2342
Closing as there has been no update in a few days. Open a new ticket if you discover mod.

[2018-07-28 00:11] #2342 closed, assigned to nobody

[2018-07-28 01:49] theBluebaerry commented on #2344
"sponge modifys how the calls are handled, resulting in different from normal execution chains ... something modifys an object along the way of the call and the call...runs into an nullpointer, which means a missing information (hence the expectation of normal forge to never fail at this point and never deliver a null)"
If I'm not mistaken is this not telling us that its a problem with sponge forg

[2018-07-28 02:16] nzminecraftDOTcom commented on #2344
Why immediately jump on songeforge's back then, there's another 200 mods on that list that it could be.
EnderIO shows up in the entire crash report, so we're going to assume.. EnderIO has the fault.

[2018-07-28 12:58] Aang23 opened #2345 "Serious lag (>0.2TPS) on a very light modpack (No issue without SpongeForge), and insane RAM usage (+64G)"
**I am currently running**

- SpongeForge version: Custom build from commit https://github.com/SpongePowered/SpongeForge/commit/e184c35b0823c8572754441c205fb909395d09e9
- Forge version: 14.23.4.2739 (I changed it in my custom build, because TE requires it now)
- Java version: Java 8
- Operating System: Debian Stretch, running on a Dedicated Ryzen 7 1700X @4.2 Ghz with 64G of RAM. (16 allocated to

[2018-07-28 19:18] ryantheleach commented on #2344
Guys Guys. Settle down.

SpongeForge is an extremely large CoreMod that **does** make drastic differences to the Forge / Minecraft code.

Whilst we make effort to be compatible, sometimes problems arise.

For example, let me explain a compatibility issue between Sponge and EnderIO.

You get a crash when using a large modpack, that contains Sponge or EnderIO in some fashion.

In this case, the cras

[2018-07-28 20:13] Zidane commented on #2345
Closing as we do not support custom SpongeForge builds.

[2018-07-28 20:13] #2345 closed, assigned to nobody

[2018-07-28 21:10] Aipaloovik commented on #2330
Happened again.
Build: spongeforge-1.12.2-2705-7.1.0-BETA-3344
Log: https://gist.github.com/Aipaloovik/6ced6852dd75ac0b268cdedf14c8ff3c

[2018-07-28 21:14] gabizou commented on #2330
@Aipaloovik can you try the latest builds, build 3358 would be the current latest build as of this writing, I noticed there was another commit for stack overflow issues on block placement. What exactly is it that is being placed that causes the issue? Do you know?

[2018-07-28 22:29] theBluebaerry commented on #2344
Exactly, an incompatibility exists. I didn't realise that asking the two teams to work together to fix the problem would knock so many noses out of joint, my mistake.

[2018-07-28 22:37] LemADEC opened #2346 "Shulker duplication with PortalGun"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3358
- Forge version: 14.23.4.2739
- Java version: 1.8.x
- Operating System: CentOS and Windows

- Plugins/Mods:
iChunUtil-1.12.2-7.1.4
PortalGun-1.12.2-7.0.2

**Issue Description**
1- create new world in creative, flat
2- place a shulker box (any color)
3- add a diamond in the shulker box
4- select your portal gun, target th

[2018-07-29 02:11] Shybella commented on #2346
I also experience this problem, this can also be done with block breakers from several different mods.

[2018-07-29 12:43] TriADeX opened #2347 "IC2 and SpongeForge spam in console"
- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3346
- Forge version: 14.23.4.2705
- Java version: jre-8u131

Plugins/mods - https://pastebin.com/hgR4n2Qh

Problem - https://pastebin.com/fV6KDaBe

[2018-07-29 14:43] HenryLoenwind commented on #2344
as ryantheleach said, plus:

There are 2 types of bugs: Those that are self-contained and those that happen because 2 or more mods interact. Classifying a crash into "self-contained" or "mod interaction" is *extremely* important---you can have a thousand coders looking at your code for a thousand years and they will not be able to find a "interaction" bug. You have to have the other mod available

[2018-07-29 16:09] gabizou commented on #2344
So, my question then is, what circumstances could the NPE be happening? From my perspective, SpongeForge doesn't interfere beyond posting events in sync with the forge events when we share parity between them (so like BlockBreakEvent vs ChangeBlockEvent). In this case however, once calling EnderIO's server tick listener, it's seemingly all EnderIO code.

What sort of situations are caused for the

[2018-07-29 16:09] #2344 closed, assigned to nobody

[2018-07-29 17:02] mmis1000 commented on #2337
Also happened to me when using inventory tweaks to send a bunch of clicks that normal user has no way to do that fast.

Part of log: https://pastebin.com/SCsGFwf0
Full log: https://transfer.sh/H5Gn0/latest.log#

I don't know whether it is caused by our plugin modified the inventory out of server thread or not.
But the sponge api itself does not prevent us to do so, so I suspect it is safe to do th

[2018-07-29 20:11] theBluebaerry commented on #2344
Sorry gazibou, I wasn't actually referring to you when I was talking about passing the blame around, you've only been helpful in everything you've said. Is it confirmed that the latest EnderIO fixes this problem? I thought we were using the latest version and if not why the heck wouldn't they just point us towards an update instead of running us around :/ I'm not a coder so I really don't understa

[2018-07-29 20:18] ImMorpheus commented on #2344
The fix gabizou was talking about is part of this commit https://github.com/SleepyTrousers/EnderIO/commit/fb935e24e10e10ef213c66c48dbd7901c73765e1 (8 days ago).
The latest version of EnderIO (following the download link on enderio.com) is 5.0.29 (which is the one you're using according to the issue), released on Jul 3, 2018.
There's no "update".

[2018-07-29 23:09] andrebpessoa opened #2348 "Time out when load a chunk (?)"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3358
- Forge version: 14.23.4.2705

**Issue Description**
When a player login in the server, or create a new chunk, all the players take time out, nothing appears on the log or debug files... If they try to login again, says they already logged in. To fix this, I have to force a stop in server and start again

[2018-07-29 23:13] LemADEC opened #2349 "No entity type is registered for modded entity"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3355 & 1.12.2-2705-7.1.0-BETA-3358
- Forge version: 14.23.4.2739
- Java version: 1.8.0_171-b10
- Operating System: CentOS

- Plugins/Mods:
Plugins (18): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AdamantineShield, AntiWDL, BetterChunkLoader, Broadcast, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MagiBrid

[2018-07-29 23:15] SimonFlash commented on #2349
Should be addressed by [SpongeCommon#2026](https://github.com/SpongePowered/SpongeCommon/pull/2026)

[2018-07-29 23:20] LemADEC opened #2350 "entity tracking error due to already tracked entity when ZAWA mob drops loot"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3358
- Forge version: 14.23.4.2739
- Java version: 1.8.0_171-b10
- Operating System: CentOS

- Plugins/Mods:
zawa - 1.3.2 (1.12.2).jar    https://minecraft.curseforge.com/projects/zoo-wild-animals-rebuild
etc.

**Issue Description**
Console reports entity tracking errors for each entity dropped by ZAWA mobs when killed by a p

[2018-07-29 23:28] Lemmmy commented on #2348
Sponge typically recommends you set a world border and pregenerate the entire world, as chunk generation is very expensive.

[2018-07-30 00:14] phit commented on #2348
no logs or mod/plugin list and it doesn't happen to others, please use our forums or discord for support

[2018-07-30 00:14] #2348 closed, assigned to nobody

[2018-07-30 02:40] ryantheleach commented on #2337
It is never safe to call any Sponge API methods off the main server thread, unless specifically stated so.

If a method was intended to be called async or off the main thread, and it's not documented as such, create an issue about that specific piece of JavaDocs.

Your plugin is quite large, a hint to where you call it, and the circumstances you call it from would be appreciated.

[2018-07-30 02:56] mmis1000 commented on #2337
https://github.com/OKTW-Network/Galaxy/blob/86f3d739d049d2ac294081f3c591071b5b77260c/src/main/kotlin/one/oktw/galaxy/gui/BrowserGalaxy.kt
https://github.com/OKTW-Network/Galaxy/blob/86f3d739d049d2ac294081f3c591071b5b77260c/src/main/kotlin/one/oktw/galaxy/gui/view/GridGUIView.kt
https://github.com/OKTW-Network/Galaxy/blob/86f3d739d049d2ac294081f3c591071b5b77260c/src/main/kotlin/one/oktw/galaxy/gui/

[2018-07-30 09:35] HenryLoenwind commented on #2344
Lol, in all this back and forth about diagnosing, I completely forgot what the crash was about. ;)

Ok, back to the subject: What happens here is that a neighboring block suddenly doesn't have an inventory anymore. Usually when a block changes, the conduit gets notified and removes the connection to that block. However, with the new Forge Capabilities blocks can gain/lose inventories without havin

[2018-07-30 14:53] MJavad commented on #1628
I got this when I tried to remove spongeforge-1.12.2-2705-7.1.0-BETA-3358 and load my save file from my server.
Any idea why? also, there are more errors regarding saving chunks after ignoring this.
On FTB Revelation 2.3.0

[2018-07-30 15:22] dualspiral commented on #2349
While there is a class cast exception and that is in itself a valid issue, the fact this happens means that something went wrong elsewhere first.

Can we see your full debug logs? I suspect that an entity type isn't being registered correctly by a mod, there should be a warning somewhere in the log to tell us which one.

[2018-07-30 15:35] phit commented on #1628
the message is normal when you remove SpongeForge from your server

[2018-07-30 16:32] SimonFlash commented on #2349
Right, and that's just something I didn't know until Morph stated that having an entity with an unknown type should never happen - this type of stuff isn't really written down or made clear anywhere. Ultimately whatever mod causing this needs to address the specific issue, and my PR should make it clear on Sponge's side that this is a mod issue.

[2018-07-30 17:23] gabizou commented on #2344
The original guess was that the neighbor block was removed/replaced without a block change notification being fired, which would be something SpongeForge could be responsible for.

But according to the stacktraces, this is during a server tick listener, not a neighbor notification (which yes, sponge heavily modifies to replicate vanilla block logic in correct order while allowing for some block tr

[2018-07-30 17:43] HenryLoenwind commented on #2344
Without further evidence about which block it was, I'll assume this was a "block lost its inv cap without block change notification" and will not look deeper.

Technical background: Conduits keep a list of external connections which is updated on block change notifications and rely on that list being accurate when ticking the network. Scanning all their neighbors every time they want to send an it

[2018-07-30 18:00] ryantheleach commented on #2337
Performance problems in the API implementation is the real issue then. And I believe @Aaron1011 has taken some steps to workaround / mitigate it recently. https://github.com/SpongePowered/SpongeAPI/commit/a3431307f06996321489b69664b16202e8806042

To my limited knowledge, you should not be modifying inventories async, end of story.

Loading and preparing heads / game profiles might be ok async (as

[2018-07-30 18:42] mmis1000 commented on #2337
Just tried to reschedule every action related to inventory to server thread.
[commit](https://github.com/mmis1000/Galaxy/commit/e703844493053e4e2bf96c0ef6253fd23bda20ec)
But it still unfortunately crash when sort with inventory tweak.
So off main thread problebly not the real cause of that crash...
The race must happen inside somewhere in the sponge itself
And probably the same issue.

[2018-07-30 19:18] andrebpessoa commented on #2348
I can't send the log here, I send a message for phit on Discord...

[2018-07-30 19:47] ryantheleach commented on #2337
Looking at Inventory-tweaks issue tracker, it's possible that the combined source of these is Sponge choking on (something) when many inventory packets is sent.

The issue tracker of Inventory-Tweaks shows that Spigot tends to just boot people who send packets that quickly.

So the easiest way to replicate this, is probably to use "Z style sorting" on Inventory Tweaks, only on the client. (After r

[2018-07-30 20:12] ryantheleach commented on #1289
From forges changelog:
[code]

[2018-07-30 20:15] ryantheleach commented on #1949
This needs testing after Forge:

Forge Changelog:
[code]

[2018-07-30 22:17] LemADEC commented on #2349
I can't reproduce after rebooting the server.
I can reproduce after the 1st player connects to the server.
I can't reproduce after said player disconnects from the server.

In the logs, ExoticBirds and Lumen entities are reported by Sponge:
[code]

[code]
Is that a Sponge coding/configuration issue then?

https://gist.github.com/LemADEC/0386849b34f3029c8f9a10358a06f147

[2018-07-30 23:52] Rsslone opened #2351 "Mixin error on Spongeforge upgrade."
**I am currently running**

- SpongeForge version: From spongeforge-1.12.2-2705-7.1.0-BETA-3136 TO spongeforge-1.12.2-2705-7.1.0-BETA-3360
- Forge version: 14.23.4.2705 for Minecraft 1.12.2
- Java version: version 1.8.0_152
- Operating System: Win8.1

- Plugins/Mods: Plugins (20): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, ActiveTime, BattleLog, CatClearLag, LuckPerms, MMCLogger, MMC

[2018-07-30 23:59] Zidane commented on #2351
[16:44:54] [main/INFO] [mixin]: SpongePowered MIXIN Subsystem Version=0.7.4 Source=file:/P:/Dedotated/MCSS/servers/1.12.2/./mods/1.12.2/malisiscore-1.12.2-6.4.0.jar Service=LaunchWrapper Env=SERVER

Caused by: org.spongepowered.asm.launch.MixinInitialisationError: Required mixin config mixins.common.api.json requires mixin subsystem version 0.7.10

MalisisCore needs to upgrade the Mixin version it

[2018-07-30 23:59] #2351 closed, assigned to nobody

[2018-07-31 03:37] Dockter commented on #2351
I provide additional assistance with this ticket.  Please PM me on Discord.

[2018-07-31 03:39] Rsslone commented on #2351
Sure, What handle can I reach you at?

[2018-07-31 03:46] mmis1000 commented on #2337
I seems it is a regression bug.
I test it with a old build 3322, the crash does not happen. (there is no log spam and error messages) (the user opening the inventory and click sort may still get kicked due to packet burst or server lag)
But, with 3357 we are using, it does log spam and kick every user from server
I am trying to bisect it to find the exact commit that cause the crash.

3322 works
3

[2018-07-31 03:59] Dockter commented on #2351
@Dockter

[2018-07-31 04:45] Rsslone commented on #2351
I can't add you without your full ID, mine is Tommy-sama#7966

[2018-07-31 06:58] Faithcaio commented on #2337
Inventory Events were not fired when there was no inventory change. Build 3030 fixed that issue.

Apparantly packets are sent with an invalid index.
Maybe I can just ignore those ...

[2018-07-31 07:07] Aipaloovik commented on #2330
Happening on 3358
Same log as before ([here it is anyway](https://gist.github.com/Aipaloovik/1c3ea69e6eb67eed2825c5919d526fb7))
I have no idea what is being placed since it happens completely randomly (went a whole day without a crash and then crashed today).

Given that this isn't happening to anyone else I'm led to believe it is a problem with a plugin or mod I am using. Is there anything I can

[2018-07-31 14:55] Headmower opened #2352 "CustomNPC silenced by 50% of sponge plugins"
System is: Ubuntu 18.04, Java 1.8.0_181.
Versions is: CustomNPCs_1.12.2_09jul18 (also tried older version - same), spongeforge-1.12.2-2705-7.1.0-BETA-3355 (also tried recommended build - same),  flexiblelogin-0.17.4 (tried older version - same), RealisticChat-1.0.0.

Issue is:
There is a mod CustomNpc on my spongeForge server, it works great without plugins or with some of them. When I put CustomN

[2018-07-31 22:55] flamechair opened #2353 "Crash while generating world"
**I am currently running**

Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
Minecraft Forge: 14.23.4.2705

- Plugins/Mods:
[code]
[code]

**Issue Description**
Generating chunks on a new map and the server crashses

Crash report: https://gist.github.com/iamtpage/03fa8d4446b50627573277cfa7f7625b

[2018-08-01 09:38] Ewallee opened #2354 "RCON overloads all CPU cores"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
- Forge version: 1.12.2-forge1.12.2-14.23.4.2744
- Java version: 8
- Operating System: ubuntu 18.04

- Plugins/Mods: no mods, no plugins

Everything works as it should, until I start using RCON(sending messages and commands to servers console)
Steps to reproduce the error:
Start a sponge server 1.12.2 (actually all the latest sponge ve

[2018-08-01 10:07] Bucky420 opened #2355 "Usage of GetCollisionBoxesEvent breaks Teleportation"
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
Minecraft Forge: 14.23.4.2732

Nucleus version 1.4.6-S7.0 (built from commit cb28285)
going to the nether and using using /tp or /spawn i get
Unexpected error running this command: Intended to track block entity spawns! Please analyze the current phase context.

u then must relog to do any thing

the conso

[2018-08-01 10:15] mmis1000 commented on #2337
The problem for this is, it creates a lot of log spam, and stuck the server due to stdio to write a giant log file, the error itself does not actually make the server down, but the message log to file does.

[2018-08-01 17:49] TriADeX commented on #2347
Please, fix it https://pastebin.com/q3Cjcrkt

[2018-08-02 09:45] MoeShimaKaze opened #2356 "The Nether world make server overload"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3357
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System:Windows Server 2016
- Plugins:Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, AdamantineShield, AutoTabStop, CarrotShop, CatClearLag, EasyKits, EasyScoreboards, Econ

[2018-08-02 12:19] Aaron1011 commented on #2285
@wormzjl: A fix has been pushed [to the Quark repository](https://github.com/Vazkii/Quark/commit/d4e25c99d6077bf63fc6d9b852e22c550ffa6f86). The next release of Quark should stop the error spam.

[2018-08-02 13:29] MoeShimaKaze opened #2357 "HeatAndClimate Mod running on SpongeForge cause the Mod's item problem"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3364
- Forge version: forge:1.12.2-14.23.4.2705
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System:Windows Server 2016
- HeatAndClimate Version:HeatAndClimateMod_1.12.2-2.5.7(least)

- Plugins:Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, FastAsyncWorldEdit, AdamantineShield, A

[2018-08-02 18:47] ryantheleach commented on #2357
Heat and Climate Coremod Library: https://github.com/defeatedcrow/HeatAndClimateLib
Heat and Climate Mod: https://github.com/defeatedcrow/HeatAndClimateMod

https://github.com/defeatedcrow/HeatAndClimateLib/blob/1.12.1_master/java/defeatedcrow/hac/core/base/DCItem.java#L71

I wonder why it's doing that null check on player.

[2018-08-02 19:00] ryantheleach commented on #2354
!move sc

[2018-08-02 19:02] ryantheleach commented on #2354
~move to sc

[2018-08-02 19:02] limbo-app commented on #2354
Hey @Ewallee! I've moved your issue to [SpongePowered/SpongeCommon#2038](https://github.com/SpongePowered/SpongeCommon/issues/2038).

[2018-08-02 19:02] #2354 closed, assigned to nobody

[2018-08-02 19:08] ryantheleach commented on #2355
This seems to be a mod incompatibility issue with fairylights, something in our phase tracker might be being incorrectly triggered .

Remapped Trace:
[code]

Full Trace:
https://gist.github.com/ryantheleach/489cf1b615993196a405de4f6ab6a89a

[2018-08-02 19:23] ryantheleach commented on #2356
The Tiimings report fingers Fire tick updates in the nether and the HeatAndClimate mod as potential suspects. There's also a small amount of chunk unloading.

With the HeatAndClimate Mod, + other mods in your pack, Are a large number of your users using the nether?

Was the nether pregenerated along with the rest of the worlds, or are you generating as you go?

[2018-08-02 22:54] bloodmc commented on #2357
No idea what this mod is attempting to do because the code makes no sense at all. The problem is the mod always returns a result of PASS which will cause Sponge to restore. The mod needs to follow the item use method contract and return SUCCESS if it was successful. Log a ticket with mod as it is their fault.

[2018-08-02 22:54] #2357 closed, assigned to nobody

[2018-08-02 23:01] MoeShimaKaze commented on #2356
the nether pregenerated along with the rest of the worlds
however,my server's player just enter into nether world in a short time and leave,but the nether world cause so large lag and make the server overload,and no player in the nether world,but when i unload the nether world,all thing restore to normal level

[2018-08-03 04:17] MoeShimaKaze opened #2358 "Player lost connection"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3357
- Forge version: forge-1.12.2-14.23.4.2705-univcersal
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System:Windows Server 2016
- Galacticraft Version:4.0.1-181(least)
- BungeeCord Version:HexaCord-201
- Plugins:Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, FastAs

[2018-08-03 04:24] Zidane commented on #2358
GalacticCraft is dismounting off the main server thread. Not a Sponge issue.

[2018-08-03 04:24] #2358 closed, assigned to nobody

[2018-08-03 04:50] MoeShimaKaze commented on #2358
ok,thank you.i will repeat at GalacticCraft

[2018-08-03 05:44] defeatedcrow commented on #2357
I apologize for making ugly code with no sense. It will be fixed by next update.
Since this is the base class of other Items, it seems correct to call the super method.

[2018-08-03 07:29] Bucky420 commented on #2355
i removed that mod and i still have issues

[2018-08-03 07:30] dualspiral commented on #2355
Logs showing these issues? We can’t diagnose the problem without them.

[2018-08-03 07:30] Bucky420 commented on #2355
will do boss

[2018-08-03 11:45] SawFowl opened #2359 "Many errors. Conflict with the CustomNPCs mod."
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3365
- Forge version: 14.23.4.2747
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System: Debian 9

- Mods (50): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Better Questing, CoFH Core, CoFH World, CodeChicken Lib, Console Filter, Construct's A

[2018-08-03 17:42] SawFowl commented on #2359
There is also a problem with executing commands on behalf of the console.

[2018-08-03 18:03] MJavad commented on #1628
@phit Thank you for the answer, so it should be ok but I get lots of errors afterwards that it can’t save chunks.
I’m not home right now, I’ll provide further information when I can.

[2018-08-03 19:31] ryantheleach commented on #2359
Remapped Trace: https://gist.github.com/ryantheleach/888a90c77e1181d4b507750bb1c0156f

[code]

[2018-08-04 12:54] johnfriedrich opened #2360 "Phase context stackoverflow + eventual crash when using hatchets for digging [3361]"
**I am currently running**
- SpongeForge version: 3361
- Forge version: 2705

**Issue Description**

Getting PhaseContext errors that are resulting in stackoverflow errors:
https://pastebin.com/XHRxBWrL
https://gist.github.com/Flashback083/ac14e68e497a2b59730ae9ad511e1b0a
https://pastebin.com/EG7vg3u4

This happens when players are digging with a hatchet. Other tools seems to be fine (My guess)

F

[2018-08-04 13:33] Aaron1011 commented on #2360
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/22954ada090fe9609c272ea59f9f6afd3eb40c55

[2018-08-04 13:33] #2360 closed, assigned to nobody

[2018-08-04 13:35] Aaron1011 commented on #2360
@i9hdkill: There are actually two separate issues going on here - I fixed the 'Failed to process all PhaseContext captured!' one. Can you open a separate issue for the StackOverflowError?

[2018-08-04 13:50] Aaron1011 commented on #2360
Try lowering your `max-block-processing-depth` setting to get a more informative error instead of a `StackOverflowError`.

[2018-08-04 14:26] qq591692157 opened #2361 "Server crash~"
I am currently running

SpongeForge version: 3361
Forge version: 2705
Issue Description

The server will not be shut down directly, but will keep refreshing the error, the player all out of line.

https://pastebin.com/VSmrHADH
https://pastebin.com/ZKqe2zeC

http://www.mediafire.com/file/ap1nccpsybadlka/debug.7z/file

[2018-08-04 14:26] Aaron1011 commented on #2359
See if build `1.12.2-2705-7.1.0-BETA-3370` fixes your issues.

[2018-08-04 14:32] ryantheleach commented on #2361
@qq591692157 The error message is very long, and you have cut off the bottom.

When the error messages are surrounded by `*`'s

We require the log, (until the first error message has completed) as well as the entire error.

e.g.

[code]

not

[code]

[2018-08-04 14:33] qq591692157 commented on #2361
I have uploaded the complete DeBUG file.
http://www.mediafire.com/file/ap1nccpsybadlka/debug.7z/file

[2018-08-04 14:34] ryantheleach commented on #2361
The Debug Log is different, and doesn't help me in this case.

[2018-08-04 14:35] qq591692157 commented on #2361
The debug log caused the server to keep flushing, so I had to shut down the server to solve the problem.

[2018-08-04 15:35] SawFowl commented on #2359
@Aaron1011 The next 2 days I will test, then report the results and provide logs.

[2018-08-04 15:36] johnfriedrich commented on #2360
Pretty sure the hatchet error causes the stackoverflow internally after some time.
Still, if the stackoverflow error comes back, I will let you know

[2018-08-04 23:11] LemADEC commented on #2350
Is there any way to disable this callstack from spamming our console?

[2018-08-05 00:50] johnfriedrich opened #2362 "Switching worlds sets hotbar selection to be always slot 1 instead of remembering the selected slot"
- SpongeForge version: 3371
- Forge version: 2705

- Mods: Pixelmon

**Issue Description**

When entering another world, the player automatically selects the first slot in the hotbar.
Vanilla MC and Vanilla Forge keep the slot selection.

How to reproduce: Join a vanilla Forge server, build a nether portal. Select another hotbar slot than the first one. Enter the portal. Slot 2 is still selected.

[2018-08-05 05:49] qq591692157 opened #2363 "The server crashed and restarted automatically."
I am currently running
SpongeForge version: 3370
Forge version: 2705

Issue Description
The server stops after an error occurs and restarts automatically.

https://pastebin.com/auvwUgez

Full log:
http://www.mediafire.com/file/w6ubdru0gddkfgt/Full%20log.txt

[2018-08-05 08:23] TriADeX opened #2364 "Item dupes, if player quit before death."
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3371
- Forge version: 14.23.4.2705
- Java version: jre-8u131

1 Have low hp
2. Activate creeper nearly
3. Another player must stay in same chunk, to be sure, that chunk will not be unloaded.
4. Quit late as possible, before creeper explodes
5 Items drops from your inventory, but inventory isn't cleared.

Plugins (16): Minecraft, Minecraft Coder Pack, S

[2018-08-05 09:17] Faithcaio commented on #2337
Latest should now only print warnings instead of full exceptions.

I'll have to investigate further what happens without Sponge when packets have invalid slotindex.

[2018-08-05 09:33] qq591692157 commented on #2363
crash-reports
https://pastebin.com/PR7CtuCy

[2018-08-05 09:37] mmis1000 commented on #2337
Is the log rate being limited?
Or it is likely still going to kick players due to log spam.

[2018-08-05 09:42] #2212 closed, assigned to nobody

[2018-08-05 09:45] Faithcaio commented on #2337
No limit. I'd like to really fix it. It should give me some hopefully useful output now.

[2018-08-05 10:00] LemADEC commented on #2349
Any update on this?

[2018-08-05 11:15] alex450 opened #2365 "something is incompatible with crafttweaker"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
- Forge version: 1.12.2 2705
- Java version: openjdk u181
- Operating System: Centos7 #Kernel: x86_64 Linux 4.15.7-1.el7.elrepo.x86_64

i made a script of crafttweaker for my own server
(i had also installed modtweaker)

#This is a minor part of it
recipes.remove(<ic2:resource:12>);

recipes.addShaped(<ic2:resource:12>,
 [[<thermalfoun

[2018-08-05 11:20] alex450 commented on #2365
a number of recipes also doesn't work

This is my script
//This file was created via CT-GUI! Editing it is not advised!
//Don't touch me!
//#Remove
recipes.remove(<ic2:te:60>);
recipes.remove(<ic2:te:57>);
recipes.remove(<matteroverdrive:star_map>);
recipes.remove(<advancedrocketry:guidancecomputer>);
recipes.remove(<thermalexpansion:frame>);
recipes.remove(<ic2:resource:13>);
recipes.remove(<ic2:

[2018-08-05 12:01] alex450 commented on #2365
oh ****
i am trolling
this problem is caued by disable quarry and quarryproxy of extrautils2(the mod will not register anything disabled)
please close this issue

[2018-08-05 12:02] #2365 closed, assigned to nobody

[2018-08-05 12:16] ryantheleach commented on #2364
@TriADeX Does this occur without mods?

[2018-08-05 12:54] ryantheleach commented on #2350
(At first glance) This appears to be a mod bug, that we are creating louder errors for to help find and catch the problem. Unfortunately that mod isn't open source that I can see, so finding the issue and who should own it, will take a larger amount of time.

I recommend you also report this to ZAWA.

[2018-08-05 13:29] ryantheleach commented on #2349
Either Sponge is failing to pick up on those entity types being registered, and/or the mod is registering them at a strange/incorrect time.

Do you know if those mods have issue trackers / open source repositories?

[2018-08-05 22:32] Keaton1188 opened #2366 "Server spam - Transaction Class etc"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3374
- Java version:  Java openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: FTB Continuum.

**Issue Description**
Hi there, on our Continuum server we are getting massive spa

[2018-08-06 02:13] ryantheleach commented on #2366
This isn't nearly enough information to act on.

Please include the full error message, steps on how to reproduce.

If the log is too large to upload, please upload the log from the start, and ending after including the first few instances of the error you wish to report.

Screenshots of logs are rarely appropriate.

[2018-08-06 04:22] LemADEC commented on #2349
Lumen is OpenSource: https://github.com/Ladysnake/Lumen
ExoticBirds as an issue tracker here: https://minecraft.curseforge.com/projects/exotic-birds/issues

[2018-08-06 04:30] LemADEC commented on #2350
https://minecraft.curseforge.com/projects/zoo-wild-animals-rebuild/issues/26

[2018-08-06 04:44] ryantheleach commented on #2349
Lumen Relevent Code: https://github.com/Ladysnake/Lumen/blob/lumen/src/main/java/ladysnake/lumen/common/init/ModEntities.java#L78

[2018-08-06 05:31] gabizou opened #2367 "Change Mod Version and Artifact Title"
We've reached a point where it's time to clean up our versioning scheme, not just for *SpongeForge*, but for *SpongeAPI*, *SpongeCommon*, *SpongeVanilla*, and *SpongeForge*. Since the issue originally started with *SpongeForge* needing a version string improvement, the discussion illuminated that version schemes all across the board need to be fixed.

#### What we have right now

We have versions

[2018-08-06 05:38] ryantheleach commented on #2367
I really really welcome the changes regarding the SpongeAPI versioning, as it will greatly simplify Ore dependency requirements, and education of users.

That said, I'm not sure how difficult it is to actually implement it gradle wise.

As long as stable and bleeding remain separate, I don't foresee any issues with the versioning string confusing dependency resolvers either.

The only difference I

[2018-08-06 06:28] james58899 commented on #2212
After https://github.com/SpongePowered/SpongeCommon/commit/922cc65c15ee80409e627b99975742b0c9606fae

console spam

[code]

[2018-08-06 06:46] DiamondArrow opened #2368 "PhaseTracker StackOverflowError BlockAddedSpawns"
**I am currently running**

- SpongeForge version: 3361 and 3368
- Forge version: 2705
- Java version: 1.8.10_171
- Operating System: Ubuntu 16.04.4

- Plugins/Mods: Pixelmon Reforged 6.3.4 + 57 plugins (will provide list if needed). Recently updated Nucleus to 1.4.6, GriefPrevention 646, and Luckperms 4.02.58)

**Issue Description**
Not sure what’s triggering it, and its fairly inconsistent with

[2018-08-06 06:51] XakepSDK commented on #2367
Maybe from least changing values to most changing?
`spongeforge-1.12.2-7.0-2705-4.12.jar`

[2018-08-06 09:19] dualspiral commented on #2367
I think this is reasonable. Thoughts are below (I don't know how I can write so much about versioning...)

Yep - I'm trying to work out where we might use a patch version, other than JD clarifications and deprecations I don't see it. Besides, having yet _more_ release branches is just going to sap even more of our limited time. I am completely for this change. Would this work its way back to the A

[2018-08-06 10:55] Mumfrey commented on #2367
I think it's worth bearing in mind that [the -SNAPSHOT suffix isn't arbitrary](https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN401)*

\* edit to clarify that this is obviously when the artefact is available via a maven repo.

[2018-08-06 11:07] Mumfrey commented on #2367
Sorry @ryantheleach I didn't see your reply.

[2018-08-06 14:36] phit commented on #2366
this was introduced by https://github.com/SpongePowered/SpongeCommon/commit/922cc65c15ee80409e627b99975742b0c9606fae

see also https://github.com/SpongePowered/SpongeForge/issues/2212#issuecomment-410602176

[2018-08-06 19:30] Shybella opened #2369 "Chisel n Bits not working on certain blocks"
**I am currently running**

- SpongeForge version: 3374
- Forge version: 2739
- Java version: 1.8 update 181
- Operating System: Windows Server 2012 R2

- Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional Wo

[2018-08-06 20:02] ResqDiver1317 commented on #2369
@Shybella, the version we know works referenced in our thread on the CandB Git is 3328, not 3288 :)

[2018-08-06 20:04] ResqDiver1317 commented on #2369
I as well can confirm this issue in our custom modpack. I update SpongeForge from 3328 to 3344 (I think) and began having this issue. I rolled back to 3328 and the problem went away. I'm not sure exactly what SpongeForge version the issue with Chisels and Bits begins occurring, but I do know it is somewhere after 3328.

[2018-08-06 20:59] Addalyn commented on #2355
We have the same issues on 2 servers (atm3 and Foolcraft3) this is log from atm3
https://paste.dimdev.org/ewojunubek.md

[2018-08-07 02:32] limbo-app opened #2370 "Spongeforge 3361+ at least won't load with forge 2739"
This issue was originally submitted by @trender7 in [SpongePowered/SpongeCommon#2049](https://github.com/SpongePowered/SpongeCommon/issues/2049).
___
**I am currently running**

- SpongeForge version: 3361
- Java version: 8
- Operating System: windows 10

- Plugins/Mods:  sponge wont load

**Issue Description**
Sponge 3361 wont load with Forge 2739.
I can for example use Sponge 3206 and it loads.

[2018-08-07 02:33] Trillo7 commented on #2370
You can try this faster and better explained:
You can download i.e a modpack Im using enigmatica 2, latest version uses forge 2739.
I run the server and then install sponge in the mods folder. I run the server again and it just runs it like if you didn't even put the sponge jar file there.
Just do the same but with Sponge 3206 and it will load sponge.

[2018-08-07 02:38] gabizou commented on #2370
Forge made breaking changes that we can't upgrade to because Forge's recommended build is 2705. SpongeForge is built against Forge 2705. We're not going to break the recommended usage availability or maintain two forks for compatibility. Since the Forge build is newer than the recommended, we can't provide support for it as it would break compatibility with the actual recommended build. Sorry.

[2018-08-07 02:38] #2370 closed, assigned to nobody

[2018-08-07 02:53] ryantheleach commented on #2370
@Trender7 Thanks for the notification, Additionally I just tested with forge-1.12.2-14.23.4.2747-universal.jar vs spongeforge-1.12.2-2705-7.1.0-BETA-3375.jar

Loaded fine. Without logs I can't diagnose your true issue, (but yes, I used newer versions of both then you, so we could have different results)

[2018-08-07 02:55] ryantheleach commented on #2370
[latest.log](https://github.com/SpongePowered/SpongeForge/files/2264790/latest.log)
[2018-08-07-1.log.gz](https://github.com/SpongePowered/SpongeForge/files/2264791/2018-08-07-1.log.gz)
[debug.log](https://github.com/SpongePowered/SpongeForge/files/2264792/debug.log)
[debug-1.log.gz](https://github.com/SpongePowered/SpongeForge/files/2264793/debug-1.log.gz)

[2018-08-07 03:09] Trillo7 commented on #2370
@ryantheleach oh well then thats weird.
I also tried same versions as you and mine still didnt load sponge hmm.
3206 loaded.
I could load 3361 with that good old SpongeBootstrap, but some plugins are bugged and doesnt work.
Ill upload the debug.log then (witouth the bootstrap, it doesnt load sponge newer versions huh); then I guess it must be some mods of the modpack, kinda weird because older spo

[2018-08-07 03:17] Trillo7 commented on #2370
[2018-08-07-4.log.gz](https://github.com/SpongePowered/SpongeForge/files/2264836/2018-08-07-4.log.gz)
[debug.log](https://github.com/SpongePowered/SpongeForge/files/2264837/debug.log)
[debug-1.log.gz](https://github.com/SpongePowered/SpongeForge/files/2264838/debug-1.log.gz)
[latest.log](https://github.com/SpongePowered/SpongeForge/files/2264839/latest.log)

[2018-08-07 03:25] ryantheleach commented on #2370
@trender7 You have a known issue due to a version conflict of Mixin between Sponge and MalisisCore.

See https://github.com/SpongePowered/SpongeForge/issues/2254 https://github.com/SpongePowered/SpongeForge/issues/2351

This issue will be fixed for good if https://github.com/SpongePowered/SpongeForge/pull/2252 is validated to work correctly and pulled.

[2018-08-07 15:44] NightHawk5755 commented on #2063
so, anyone find a fix, because I am having the same issue...

[2018-08-08 00:39] ryantheleach commented on #2063
Flan's mod is open source, Gun dropping: https://github.com/FlansMods/FlansMod/blob/1.12.2/src/main/java/com/flansmod/common/guns/ItemGun.java#L200

[2018-08-08 03:01] gkazan commented on #2350
Is this an issue with when the entities are killed and drop items?

Edit: ZAWA dev btw

[2018-08-08 08:17] LemADEC commented on #2350
Issue is reproduced by killing any ZAWA mobs in single player, using:
moon-core 7.0 (1.12)
spongeforge-1.12.2-2705-7.1.0-BETA-3375
zawa - 1.3.2 (1.12.2)

https://gist.github.com/LemADEC/c084b8fa8cb0d86832e66d485957b29e

[2018-08-08 15:02] phit commented on #2213
@Aaron1011 status on this?
just got another report for this on discord https://gist.github.com/phit/9a30d26c65377fe96d937ed3567aff1d

[2018-08-08 20:11] Aaron1011 commented on #2213
This should be fixed in the latest SpongeForge

[2018-08-08 20:11] #2213 closed, assigned to Aaron1011

[2018-08-08 21:55] gkazan commented on #2350
Ok I'll try to run sponge with my development build and fix the issue or I'll try to send the onDeath code here when I get a chance.

[2018-08-09 00:38] PurpleIsEverything commented on #2355
Having the same issue here on a Foolcraft server.

[2018-08-09 07:34] 3TUSK commented on #2307
While #2213 is closed, using SpongeForge build 3376 (`spongeforge-1.12.2-2705-7.1.0-BETA-3376.jar`) alongside with Forge 1.12.2-14.23.4.2747 still does not allow player entering new "age". When a player is trying to do so, server will hang for a uncertain period of time and crash.

<details>
<summary>Sample log output</summary>

[code]

</details>

Full crash report: https://paste.ubuntu.com/p/c7k

[2018-08-09 07:41] Bucky420 commented on #2355
is this good?
[latest.log](https://github.com/SpongePowered/SpongeForge/files/2273233/latest.log)

[code]
i can remove littletiles but that does no world stuff either its a block mod XD
i also did test with version 3376 of sponge

[2018-08-09 09:17] Patrick-van-Halm opened #2371 "SG craft and Galacticraft dimension error"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361
- Forge version: 14.23.4.2705
- Java version: 1.8.0_1.7.1
- OS: Linux AMD

- Plugins/Mods:
Minecraft,
Minecraft Coder Pack,
Forge Mod Loader,
Minecraft Forge,
SpongeAPI,
SpongeForge,
Applied Energistics 2,
BC Builders,
BC Energy,
BC Factory,
BC Robotics,
BC Silicon,
BC Transport,
Battle Towers,
Baubles,
Biomes O' Plenty

[2018-08-09 13:16] zhehedream commented on #2307
This problem still exists on sponge 3377 with forge 2705.

[2018-08-09 17:07] Aaron1011 commented on #2368
The next build of SpongeForge should provide a more informative error, and stop the spam.

[2018-08-09 23:51] 3TUSK commented on #2307
Just did a quick test, and I confirm that using SpongeForge 1.12.2-2705-7.1.0-BETA-3383 alongside with Forge 1.12.2-14.23.4.2747 does solve the issue. Can we consider this is fixed now?

[2018-08-10 00:03] 3TUSK commented on #2307
Guess we can close this for now, per XCompWiz/Mystcraft-Issues#285. Reopen when the same error reappears.

[2018-08-10 00:03] #2307 closed, assigned to nobody

[2018-08-10 02:08] luenlin opened #2372 "MKUltra Skills cannot be used on a sponge server"
Some of the professional skills are not working properly on the Sponge Server.
For example, Druid's Ball Lightning and Flame Blade, Phoenix Aspect.
The specific performance is that the potion effect cannot be correctly given.

[2018-08-10 02:12] ryantheleach commented on #2372
@luenlin Please follow the issue template, it's actually rather important if you want to get dev attention to fix your issue.

Even if you think "Oh it's pretty easy if they spend 30m to google and download things" it could be weeks before we see it, and by that time versioning info is out of date.

(It's especially going to be weeks, as the team prioritizes bugs and issues that are well written,

[2018-08-10 02:12] #2372 closed, assigned to nobody

[2018-08-10 02:59] zhehedream opened #2373 "Crash with forestry & mystcraft"
I am currently running
~Forge 1.12.2 2750
~SpongeForge 3383
~mods:  Forestry , Mystcraft

Server will crash in several minutes after creating a new world.
Although the mystcraft hasn't appeared in crash log, I believe it has something to do with it.
I also notice that tons of error messages in server terminal, said
'[Server thread/ERROR] [forestry/]: tried to generate a hive in an unloaded area.'

[2018-08-10 03:34] luenlin opened #2374 "MKUltra Skills cannot be used on a sponge server"
SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3383
Forge version: 14.23.4.2705
Java version: 1.8.0_1.7.2
OS：windows server 2016
Plugins/Mods:
Minecraft,
Minecraft Forge,
SpongeAPI,
MKUltra-0.76 https://github.com/ChaosBuffalo/MKUltra
targeting_api-0.12 https://github.com/ChaosBuffalo/TargetingAPI
Issue Description
Some of the professional skills are not working properly on the Sponge Ser

[2018-08-10 03:59] ryantheleach commented on #2374
Example, Flame Blade potion: https://github.com/ChaosBuffalo/MKUltra/blob/master/src/main/java/com/chaosbuffalo/mkultra/effects/spells/FlameBladeEffectPotion.java#L22-L49

[2018-08-10 04:34] luenlin commented on #2374
@ryantheleach  Yes

[2018-08-10 04:41] luenlin commented on #2374
It should be said that it is not a potion buff invalid. It is simply not a player's potion effect.

[2018-08-10 15:47] phit commented on #2363
see https://github.com/SpongePowered/SpongeForge/issues/2368

[2018-08-10 15:47] #2363 closed, assigned to nobody

[2018-08-10 15:51] phit commented on #2361
looks the same as https://github.com/SpongePowered/SpongeForge/issues/2368
closing this as the other one has more info, so please try latest and add any new info to that issue

[2018-08-10 15:51] #2361 closed, assigned to nobody

[2018-08-10 15:55] phit commented on #2356
looks like HeatAndClimateLib is doing things when fire ticks which obviously happens a lot in the nether, take it to them doesn't look related to Sponge

[2018-08-10 15:55] #2356 closed, assigned to nobody

[2018-08-10 15:57] phit commented on #2359
@Mr-Krab any update?

[2018-08-10 15:58] phit commented on #2353
can you please figure out which mods are needed to reproduce this? does this happen with just sponge?

[2018-08-10 16:00] phit commented on #2335
@fcpwiz is this still happening on latest (3383)?

[2018-08-10 16:03] phit commented on #2330
gonna take this to the newer issue for it, please try latest and report in there https://github.com/SpongePowered/SpongeForge/issues/2368

[2018-08-10 16:03] #2330 closed, assigned to nobody

[2018-08-10 16:15] qq591692157 opened #2375 "Console error, causing server to stop for 20 seconds +"
I am currently running
SpongeForge version: 3383
Forge version: 2705
Java version: 1.8.10_172
Operating System: win2012 r2
Plugins/Mods: Pixelmon Reforged 6.3.4 ironchest-1.12.2-7.0.42.827 + 30 plugins (will provide list if needed). Recently updated Nucleus to 1.4.6, GriefPrevention 646, and Luckperms 4.02.58)

Issue Description
When an error occurs, the console refreshes the error all the time, a

[2018-08-10 16:17] Rasgnarok commented on #2375
Here's two variations of it, happens on 3358 and 3361 as well. Pixelmon 6.3.4, no IronChest mod needed:
https://gist.githubusercontent.com/xPXpanD/460956fd472e922ac71e7fd9c6b95a3c/raw/22dd61fc7ef1c84206904a3a2d766fa670123976/gistfile1.txt
https://gist.githubusercontent.com/Rasgnarok/97e38b4f1242de72d8dae131882461ce/raw/2c05c87431fb049c821d0002f531f443fb47ce35/gistfile1.txt

[2018-08-10 16:35] Rasgnarok commented on #2375
Forwarded to Reforged's tracker, from Sponge's discord. Will look into the thread messaging.

12:26 PM] gabizou: https://github.com/SpongePowered/SpongeCommon/blob/ada51d882c621af7184be6c12cba6fb13de4a7de/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L850
[12:26 PM] gabizou: yeah....
[12:26 PM] gabizou: no thread checks in that method
[12:26 PM] gabizou: nowadays th

[2018-08-10 17:05] Kovak commented on #2374
Hey everyone,

One of the devs for MKUltra here.

We make use of a ton of custom potions, and tbh I've not really ever tested with Sponge, but it looks like maybe something is incompatible here. Is there anything to keep in mind with Sponge, Forge and PotionEffects? I'd love to get things fixed so that everything works as intended with Sponge.

[2018-08-10 17:06] SawFowl commented on #2359
@phit Unfortunately, I did not manage to check everything myself, I have had a lot of work recently.
I do not notice any problems in the mod, this problem can be considered solved.
If there are other problems, I will prepare a bug report in the new request.

[2018-08-10 17:06] #2359 closed, assigned to nobody

[2018-08-10 17:17] gabizou commented on #2374
I'm not quite sure what is being said here. Are there any logs? Any warnings? exceptions? Do the effects just not apply? Does damage not get dealt?

Could you describe in more detail about what you said here?

It should be said that most of the buff skills are invalid.

[2018-08-10 19:03] Aaron1011 commented on #2375
This is a bug in Pixelmon - their NPCLearnMove packet handler is interacting with a player off the main thread (specifically, it's calling `EntityPlayer#openGUI`

For a temporary workaround, set `broken-mod` to `true` in your `global.conf`. Then, add `pixelmon` to the `broken-network-handler-mods` list (also in `global.conf`).

[2018-08-10 19:03] #2375 closed, assigned to nobody

[2018-08-10 21:40] LemADEC opened #2376 "Failed to process all PhaseContext with ExoticBirds during WorldGeneration"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3383
- Forge version: 14.23.4.2749
- Java version:
- Operating System: CentOS

- Plugins/Mods:
Exotic Birds 1.12.2-1.4.1
as part of a custom modpack

**Issue Description**

[code]

[2018-08-11 02:22] nickkeane commented on #2373
Getting an identical issue to what you're getting, SF 3383 on All The Mods 3 + Mystcraft.

[2018-08-11 02:56] luenlin commented on #2374
@Kovak
The test found two possible causes
1.The syrup is incorrectly registered on the forge
Expressed as:`[Server thread/WARN] [mkultra]: Tried to get a spell on an unregistered target! Spell: effect.flame_blade`
2.The pre-API cannot correctly judge the relationship between the enemy and the friend in the sponge environment.
Expressed as:Range buff skills cannot be given to friendly creatures or

[2018-08-11 02:58] luenlin commented on #2374
@gabizou  Sorry, because the log and the debug don't see any errors.
These problems are all discovered by practice.

[2018-08-11 03:01] luenlin commented on #2374
@ryantheleach @Kovak @gabizou
I still provide the server running log.

https://paste.ubuntu.com/p/Pp57RM4Tfg/

**Edit:** Fixed link (ryantheleach)

[2018-08-11 17:48] Kovak commented on #2374
The
`
Tried to get a spell on an unregistered target! Spell: effect.flame_blade
`
is not from potion registration. This is some custom logic in MK-Ultra that allows us to keep a pairing of caster, target with the potion for effect execution. For most of these skills this means something is going wrong in our variation on EntityAreaEffectCloud:

https://github.com/ChaosBuffalo/MKUltra/blob/master/s

[2018-08-11 17:54] stephan-gh commented on #2367
I discussed this with @gabizou yesterday and we have already established that the new versioning scheme requires marking recommended builds _before_ they are built, not some time later, e.g. by bumping the recommended build number in `gradle.properties`. Otherwise there is no way to determine the `{NumberOfBuildsSinceLastRecommended}` for all other builds. This also allows us to properly tag them

[2018-08-11 20:06] phase commented on #2367
Why can't the bleeding branch have tags? Isn't it being changed to `api8` anyway?

[2018-08-11 20:09] ryantheleach commented on #2374
Is this happening to all targets? Or only when a very large group of targets is aimed at?

[2018-08-11 20:15] ryantheleach commented on #2367
@phase No reason it can't it would just be slightly (but not very) unorthodox, and would either require automation, or strict adherence to remember to tag.

Was mentioned by Minecrell.

Also, unless Bleeding has a separate versioning thing that is kept separate, having those extra tags could also potentially interfere with the bleeding versioning numbers? Or at the least 2 solutions would be requi

[2018-08-12 02:07] gearkill opened #2377 "inventory tweaks DoS"
**I am currently running**

- SpongeForge version:  3396
- Minecraft Version: 1.12.2
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 8
- Operating System:

- Plugins/Mods:
AutoBroadcasterSponge-0.2.1.jar
CmdCalendar-mc1.10.2-v1.1.1.jar
command-utils-2.2.4.jar
CommandSync.jar
DailyRewards-api7-1.3.2 (1).jar
Daycare-S7.1.0-0.9.0-BETA.jar
EasyScoreboards.jar
EconomyLite-7.1.0-2.1

[2018-08-12 02:16] gkazan commented on #2350
I removed my onDeath override so it just calls the EntityTameable's onDeath now, so as long as there is no issue with the EntityTameable's onDeath the next update to zawa should fix the problem. After I release a new zawa update (I cannot say when this will be yet) if the issue is still present please put in a new issue on zawa's curse page.

[2018-08-12 07:25] Kovak commented on #2374
any targets at all, doesn't seem to hit friends, foes, or yourself regardless of number or anything.

[2018-08-12 08:17] DiamondArrow commented on #2377
The issue he seems to be describing is Inventory Tweaks trying to sort items in GUIs. This causes the plugin to be constantly triggered and spams console with something like below before lagging or in his case, crashing from lag.

GTS:
`[03:44:30] [Server thread/INFO] [net.minecraft.server.dedicated.DedicatedServer]: Impactor API (Debug) Processing inventory click event for GearKillr...
[03:44:30]

[2018-08-12 08:23] TriADeX commented on #2364
@ryantheleach did not check without mods.

[2018-08-12 13:18] stephan-gh commented on #2367
Bleeding as the work-in-progress branch of the next API version shouldn't have any releases. That doesn't mean it cannot have _tags_ though, as those don't have to be releases.

[2018-08-12 16:38] Aaron1011 commented on #2377
This sounds like it could be a bug in whatever plugin is responsible for managing that custom GUI.

To debug this further, I'll either need access to the plugin used in the video, or a way to reproduce the crash without using that plugin.

[2018-08-12 17:00] gearkill commented on #2377
so far I have tested only with the GTS and the virtual chest

[2018-08-12 17:39] Aaron1011 commented on #2377
Can you provide a series of step-by-step instructions for reproducing this, starting with only a plain SpongeForge server?

[2018-08-12 20:50] gearkill commented on #2377
https://drive.google.com/file/d/1AhaL_r7Nj7vXUiCsLkZ62ZaDnO2t_UHJ/view?usp=sharing
in sponge 1.12.2-2705-7.1.0-BETA-3399
inventory tweaks + autoclick or macro

I think it gives you a better understanding of how it works

[2018-08-13 00:39] ghost opened #2378 "Unable to capture transaction from class org.spongepowered.mod.item.inventory.adapter.IItemHandlerAdapter at index 1"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3396
- Forge version: 1.12.2 2705

Why is this message always appearing in my console, what should I do: [Sponge]: Unable to capture transaction from class org.spongepowered.mod.item.inventory.adapter.IItemHandlerAdapter at index 1

[2018-08-13 00:41] phit commented on #2378
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2366

[2018-08-13 00:41] #2378 closed, assigned to nobody

[2018-08-13 01:15] luenlin commented on #2374
@Kovak @ryantheleach
Will this bug be fixed?

[2018-08-13 16:12] beareogaming opened #2379 "Spatial IO Applied energistics Phase problem"
**I am currently running** 1.12.2 test server

- SpongeForge version: beta 3361
- Forge version: 14.23.4.2739
- Java version: Version 8 Update 181
- Operating System: w10 home

- Plugins/Mods:

Plugins (9): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Boop, MagiBridge, Nucleus, ProjectCore, StackBan

Mods (151): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Sponge

[2018-08-13 23:10] Y0ungSandwich opened #2380 "Advancement Issue with Monk Mod"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361 tested with 3399 with same results.
- Forge version: 1.12.2-2705
- Java version: Java 8
- Operating System:CentOS

- Plugins/Mods:
https://www.atlauncher.com/pack/MechMagic
Nucleus, Economy Lite, Grief Prevention, VShops, Langswitch, Luck Perms

**Issue Description**
The Monk Mod uses its advancements as a guide and pro

[2018-08-13 23:15] phit commented on #2380
for reference https://github.com/rwtema/Monk-Mod/blob/master/src/main/java/com/rwtema/monkmod/advancements/criteria/MonkRequirementBreakBlockBareHanded.java#L23

[2018-08-14 02:39] ryantheleach commented on #2380
That code seems 100% reasonable, Looks like we are doing something badly in regard to forge events.

[2018-08-14 15:52] xingcheng2 opened #2381 "Dimensional Pockets 2 startup crash"
**I am currently running**

- SpongeForge version:
- Forge version:
- Java version:
- Operating System:

- Plugins/Mods:

**Issue Description**

With regard to using with Dimensional-Pockets, once this MOD is added, the server can't start!
But if you delete spong or Dimensional-Pockets, then the server will start.
It is emphasized that the two can not be used together, but once it is used, it cann

[2018-08-14 16:21] luenlin commented on #2374
@ryantheleach Will the sponge fix this problem?

[2018-08-14 18:02] luenlin commented on #2374
Is all entities, any skill can't work for the entity

[2018-08-14 18:48] Yeregorix commented on #2236
I'm experiencing the same issue. Using SpongeVanilla 1.12.2-7.1.0-BETA-105 or SpongeForge 1.12.2-2705-7.1.0-BETA-3399 or 1.12.2-2705-8.0.0-BETA-3394  `DropItemEvent.Dispense` is fired instead of `DropItemEvent.Destruct`.

[2018-08-15 14:56] Aaron1011 commented on #2373
Can you re-test on the latest SpongeForge?

[2018-08-15 20:37] LemADEC opened #2383 "keepondeath incompatible with Corail Tombstone"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3383
- Forge version: 14.23.4.2749
- Java version: "1.8.0_171"
- Operating System: CentOS

- Plugins/Mods:
aether_legacy-1.12.2-v3.2.jar
tombstone-2.10.2-1.12.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3383.jar
LuckPerms-Sponge-4.2.67build727.jar
Nucleus-1.5.2-S7.0-MC1.12.2-plugin.jar
forge-1.12.2-14.23.4.2749-universal.jar

**I

[2018-08-15 20:42] dualspiral commented on #2383
Simplified code that causes this:

[code]

[2018-08-15 23:24] cuddylier commented on #2355
I can confirm I also face this issue with any Forge version above 3350 and it also disappears with Sponge 3350.

Logs:

https://pastebin.com/raw/qv1HwYT5
https://pastebin.com/raw/qnZtXCAa

[2018-08-16 01:40] nickkeane commented on #2373
Added Mystcraft and SF 3400 to my All The Mods 3 pack.

Server Loaded, Client Loaded. Created 2 Mystcraft Worlds w/ return linking books. Worlds load fine, going between the worlds multiple times seems to work.

Forestry still gives "tried to generate a hive in an unloaded area" spam on server start w/ Mystcraft and Sponge 3400 and seems to add some time to server startup. Otherwise, it seems to b

[2018-08-16 04:20] zhehedream commented on #2373
I also test with 3400, myst and forestry. The game didn't crash. But the terminal still gives out tons of "tried to generate a hive in an unloaded area" when mystcraft is creating profile dimension.
And it also gives out some error message like "Illegal Async PhaseTracker Access" as well as "Illegal Async Chunk Load" when mystcraft is creating profile dimension.

After the profile dimension creati

[2018-08-16 11:05] Faithcaio commented on #2212
@james58899 should be fixed with latest

[2018-08-16 11:06] Faithcaio commented on #2366
Should be fixed with latest

[2018-08-16 11:06] #2366 closed, assigned to Faithcaio

[2018-08-16 13:46] FlandreCirno opened #2384 "Applied Energistics 2 spatial IO not working"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: build 1.8.0_181-b13
- Operating System: Windows 10 Home

- Plugins/Mods:
Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge

Mods (9): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeFo

[2018-08-16 17:33] ghost commented on #2063
Wrong line

[2018-08-17 01:24] ryantheleach commented on #2063
@TomTheHero Can you elaborate?

[2018-08-17 01:34] tgstyle commented on #2266
My server did not crash but it did give this error when executing the home command, maybe it will help.

https://gist.github.com/tgstyle/8ce09ef1a18e2a18170ac5219be91126

[2018-08-17 01:48] limbo-app opened #2385 "Liquids and buckets dupe"
This issue was originally submitted by @ResponsibleBear in [SpongePowered/SpongeCommon#2061](https://github.com/SpongePowered/SpongeCommon/issues/2061).
___
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3400
- Java version:  64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: Debian

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, SpongeAPI,

[2018-08-17 09:29] Foxgreat opened #2386 "Galacticraft NASA Workbench SpongeForge FATAL on requesting GUI"
**I am currently running**
- SpongeForge-3403:
- Forge-2705:
- Java Version: 1.8.0_181, Oracle Corporation
- Operating System: Linux (amd64) version 4.15.0-24-generic
- 113 Plugins/Mods:

Hello there!
I have an issue on my server. While i trying to call for NASA Workbench GUI from Galacticraft it sends FATAL error and not opening workbench from SpongeForge. In singlePlayer works fine, without spon

[2018-08-17 10:11] Faithcaio commented on #2326
somehow fixed this with something...

[2018-08-17 10:11] #2326 closed, assigned to nobody

[2018-08-17 10:41] LemADEC opened #2387 "Notable CPU load in LocatableBlock.builder() called by randomTickBlock()"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3404
- Forge version: 1.12.2-14.23.4.2756
- Java version: 1.8.0_171
- Operating System: CentOS

- Plugins/Mods:
terraqueous-1.12.0-1.4.12.jar (among others, full list is here: https://www.technicpack.net/modpack/fsg-spectracraft.1282933/mods )

**Issue Description**
Profiling consistently show 2 to 3% CPU load in

Here's a s

[2018-08-17 15:23] Shybella commented on #2387
Are you using realtime in the config by any chance?

I also experience this problem.

[2018-08-17 19:28] RedNesto commented on #2386
I don't have any issue clicking a NASA Workbench with:
- SpongeForge `1.12.2-2705-7.1.0-BETA-3403` with according Forge version
- GalacticraftCore `1.12.2-4.0.1.181`
- Galacticraft-Planets `1.12.2-4.0.1.181`
- MicdoodleCore `1.12.2-4.0.1.181`

[2018-08-17 22:22] gabizou commented on #2386
Seeing as @RedNesto so gracefully already tested just sponge forge and galacticraft as their own environment, maybe it's a combination of some coremods along with the two that causes an issue with Galacticraft? @Foxgreat could you try to narrow down which mods are needed to reproduce the issue, testing with 117 mods isn't really within our realm of ideal bug fixing.

[2018-08-17 22:54] LemADEC commented on #2387
How would I do that?

[2018-08-17 22:57] gabizou commented on #2387
Not related at all.

[2018-08-17 22:58] gabizou commented on #2387
Fixed with
https://github.com/SpongePowered/SpongeForge/commit/76cda71bbca6f15d87111f8a948c36ca32396b64

[2018-08-17 22:58] #2387 closed, assigned to nobody

[2018-08-18 01:09] yaroslav4167 opened #2388 "XP bug"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3406

- Plugins/Mods:
Mods (8): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Hammer Core, Improvable Skills
Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge

**Issue Description**
Earlier I already discovered a similar problem #2168 .
Now this problem with Im

[2018-08-18 01:45] ghost commented on #2063
That one is the method for dropping items on reload and on shoot, not the item itself

[2018-08-18 05:08] Foxgreat commented on #2386
i will check up now which modification causes that, give me some time please

[2018-08-18 06:11] gabizou commented on #2367
@Minecrell any luck on getting some of the versioning we discussed working?

If I recall correctly, we have it where it's `{MC}-{ForgeBuild}-{APIMajor}.{APILastMinorRelease}.{RecommendedBuildBumped}.{BuildSince}`?

[2018-08-18 09:14] Foxgreat commented on #2386
it caused by world-map break from several updates of modpack. In new map it worked fine. It could be closed

[2018-08-18 09:14] #2386 closed, assigned to nobody

[2018-08-18 11:09] LemADEC commented on #2371
Are you able to reproduce with just SGCraft and GC?
Are you able to reproduce with just SGCraft and dialing the nether?

[2018-08-18 11:48] RedNesto commented on #2388
I can confirm, tested with stable-7 in my development env.

It seems something internally ignores XP changes made by the mod, so earning XP after storing it will rollback the level and add earned XP to it (at least from the client view), all of that without removing XP from the book.
Rollbacks also happens when XP is withdrawn from the book: if you have no XP and withdraw 2 times 10 levels then ge

[2018-08-18 19:56] RedNesto commented on #2388
After some searches, there is no way in Forge to be fully aware of experience changes since there is no dedicated method to remove XP (only a method to add, which seems to not work with negative values). As a workaround, modders change directly the experience fields values manually, but Sponge has no way to listen to field values changes.

A workaround would be to recalculate experience when a `SP

[2018-08-19 01:14] yaroslav4167 commented on #2388
Is it possible to correct such errors in modifications without the participation of their developers?
There are many such mods. And turn to everyone about correcting this error.. It will be difficult.
Is there a simpler solution?

[2018-08-19 01:55] Shybella opened #2389 "Deadlock with Pistons"
**I am currently running**

- SpongeForge version: 3382
- Forge version: 2739
- Java version: 1.8 update 181
- Operating System: Windows Server 2012 R2

- Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional Wo

[2018-08-19 01:58] Shybella commented on #2389
![download](https://user-images.githubusercontent.com/4436776/44304724-73bf0b00-a33e-11e8-90fc-f840cd273287.png)

[2018-08-19 05:45] RedNesto commented on #2388
It needs the developer's participation because for now changes made by the mod are absolutely invisible to Sponge.

I tried to only have a fix for Sponge, but what I found requires the mod to send experience in a separate (vanilla) packet. So their participation is needed to make sure informations are sent with vanilla tools.

[2018-08-19 08:11] ghost commented on #2383
Tombstone only handles "player drop event" for this and checks for this rule, so i suppose my mod isn't involved in this issue and is only related to "sponge"

[2018-08-19 10:03] ryantheleach commented on #2383
"Players inventory gets deleted on death when they have nucleus.inventory.keepondeath and Corail Tombestone is installed"

Whilst this seems like unintended behavior, I'd think from 1st principals that nucleus keepondeath and a gravestone like mod would be incompatible.

What is the expected behavior?

You essentially have a conflict between 2 mods, both fighting for what should happen on death.

[2018-08-19 11:59] LemADEC commented on #2383
It's quite frequent for mods to add keepinv or soulbound effect on death. They work together, that's the whole point of Forge. I don't understand why Sponge wouldn't be able to do it.

Last time I've checked, a Gravestone mod works by saving the player inventory and deleting its content during the death event, then restoring the 'soulbound/keepinv' items when player is respawning.
Depending on the

[2018-08-19 12:04] yaroslav4167 commented on #2388
Can you compile a modification with a fix?
The developer of Improvable Skills has not done anything yet, and it's inconvenient to play with such a mistake.

I'm not strong in Java, especially in sending packets. =c

[2018-08-19 12:26] ghost commented on #2383
Tombstone never tries to force a grave, and let others mods do what they want before.
If a grave is generated it's because gamerule is not set to true (my event is only in the drops event...)
And in forge, if the gamerule is set to true (and if i'm right indeed), the drop event isn't triggered at all, even with receiveCanceled to true.

[2018-08-19 14:07] ryantheleach commented on #2383
[code]
[testKeepInv-1.0-SNAPSHOT.jar.zip](https://github.com/SpongePowered/SpongeForge/files/2300364/testKeepInv-1.0-SNAPSHOT.jar.zip)

[2018-08-19 15:03] Flashback083 opened #2390 "JavaScript - CustomNPC chat error"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3392.jar
- Forge version: 2705
- Java version: "1.8.0_131"
- Operating System: Linux x64

- Plugins/Mods:
Plugins page 1 : https://gyazo.com/65c586248187eade0d05b635f41fdadf
Plugins page 2 : https://gyazo.com/5f43bfac5d2b107765669e5eb831ae12
Plugins page 3 : https://gyazo.com/91ce7e08c041b9dcca57d623267f45c0
Mods

[2018-08-19 16:24] ghost commented on #2383
Thanks Ryan, i made some tests with it :
- first, my mod works as intended with gamerule keepInventory on forge (the event isn't triggered when the gamerule keepInventory is true)
- then, with the ryan's mod & my mod, i made tests on spongeForge to print the gamerule value (based on the player world) :
[Screen of the output](https://media.discordapp.net/attachments/480722280973074443/4807640828662

[2018-08-19 17:32] yoshikixxxx opened #2391 "Failure to display scoreboard value with tellraw command."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3406
- Forge version: 1.12.2-forge1.12.2-14.23.4.2705
- Java version: 1.8.0_171
- Operating System: Windows7 (x64)

- Plugins/Mods: None (spongeforge only)

**Issue Description**
(I am Japanese. I am using Google Translate.)

Using the tellraw command fails to display the scoreboard value.
However, if you use the

[2018-08-19 19:55] Shybella commented on #2276
Yeah, it's back everyday now. Nothing abnormal is appearing in the chunks. Most of them are empty normal generated chunks.

[code]

[2018-08-19 20:50] Wissi opened #2392 "Hatchery Mod's Animal Net does not empty and places Infinite mobs."
**I am currently running**
- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3401
- Forge version:  1.12.2 - 14.23.4.2705
- Java version:  1.8.0_181
- Operating System:  Windows 10 (amd64) version 10.0

- Plugins/Mods:
[code]

**Issue Description**
"Animal Net" (From Hatchery Mod) in servers not working. Once a mob is captured it will continue to appear as captures in net and can be released over and

[2018-08-19 20:53] phit commented on #2392
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1982

[2018-08-19 20:53] #2392 closed, assigned to nobody

[2018-08-19 21:42] wysohn commented on #2384
Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-dbe3cb0
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3358
    Minecraft Forge: 14.23.4.2705

---

Could not find the log, but one of the user in my server also reported that Spatial IO doesn't work in server yet works in single player

[2018-08-20 02:23] #2278 closed, assigned to nobody

[2018-08-20 02:27] #2388 closed, assigned to nobody

[2018-08-20 02:33] phit commented on #2325
was fixed on enderio's end

[2018-08-20 02:33] #2325 closed, assigned to nobody

[2018-08-20 03:33] #2390 closed, assigned to nobody

[2018-08-20 04:34] PorPit opened #2393 "auto-populate broken since config rework"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3409
- Forge version: forge-1.12.2-14.23.4.2705
- Java version: 1.8
- Operating System: windows server 2012

- Plugins/Mods:
Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, ActionBroadcaster, CMD Item, CarrotShop, CrazyFeetSponge, EconomyLite, EpicBanItem, GriefPrevention, LinkMe, LuckPerms, MCRMB, Mcr

[2018-08-20 05:27] xingcheng2 commented on #2381
When loading DIM98 world, BUG appears!

[2018-08-20 16:02] LemADEC opened #2394 "Lag in SpongeCommonEventFactory.callCollideEntityEvent"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3404
- Forge version: 14.23.4.2756
- Java version: 1.8.0b171
- Operating System: CentOS

- Plugins/Mods:
https://www.technicpack.net/modpack/fsg-spectracraft.1282933/mods
Plugins (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AdamantineShield, AntiWDL, BetterChunkLoader, Broadcast, Enjin Minecraft Plugin, Gri

[2018-08-20 18:23] stephan-gh commented on #2367
@gabizou Haven't really worked on it. We still need to make a final decision for one of the options I posted above, all of them have disadvantages so we just need to pick one of them.

Right now the one that looks easiest to implement is the `git describe` option (see above), but it doesn't really have "build numbers", it only provides "commit numbers".

A Maven snapshot compatible versioning was

[2018-08-20 22:06] Wissi commented on #1982
Original Issue opened Feb 1st, almost 7 months ago and many many sponge versions since. Is there a version that includes a fix as @ryantheleach stated:

It may need to be ported to the new phase tracker.

It is a Dupe Issue. Any mob caught remains in net and can be infi placed over and over.
Issue still persist on newest "stable" version of Sponge (atm of writing this) using:
SpongeForge version:

[2018-08-21 14:24] Dockter opened #2395 "Run-away Phase Tracker Errors"
**I am currently running**

- SpongeForge version: 3406
- Forge version: 1.12.2 - 2705
- Java version: 8, b171
- Operating System:  win10

Outputs:
- https://gist.github.com/Dockter/d534ab0be2e47fd37e3d270b9dfab445
- https://gist.github.com/Dockter/e639ba16e611ef678e72ba740aa51b11

My servers log files for a 12 hour period are a few hundred MB's.  I may be able to provide additional information, j

[2018-08-21 14:41] Zidane commented on #2395
[code]

@gabizou unrelated a bit but we fix the places where this stuff may trigger to not send an empty-stack NPE? I can't tell at all where the issue is.

[2018-08-21 18:27] SSKirillSS opened #2396 "GeographiCraft Support"
SpongeForge: spongeforge-1.12.2-2705-7.1.0-BETA-3361 ;
Forge: forge-1.12.2-14.23.4.2705-universal (and tested on forge-1.12.2-14.23.4.2750-universal) ;
Java: Version 8 Update 181 x64 (build 1.8.0_181-b13) ;
Operating System: Windows 7 Max. x64 ;

Plugins:
Don't have;
Mods:
BiomesOPlenty-1.12.2-7.0.1.2399-universal ;
GeographiCraft-1.12-0.8.9b ;
RTG-1.12.2-6.1.0.0-beta.5 ;
spongeforge-1.12.2-2705-7

[2018-08-21 18:49] gabizou commented on #2396
@Aaron1011 this is an issue with the map optimization, looks like someone else is accessing the map list?

You can disable the optimization to avoid the crash by turning `map-optimization` off in the global config.

[2018-08-21 19:01] SSKirillSS commented on #2396
![image](https://user-images.githubusercontent.com/38190325/44423003-85e2b880-a58d-11e8-9d29-8c7423e7f09f.png)
...\config\sponge\global.conf
SpongeForge: spongeforge-1.12.2-2705-7.1.0-BETA-3361
Forge: forge-1.12.2-14.23.4.2705-universal

[2018-08-21 19:02] rvveber opened #2397 "Teleport over worlds. Bug."
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3406
- Forge version: 1.12.2-14.23.4.2756
- Java version: 1.8.0_181
- Operating System: ubuntu(on server)/windows 10(on client)

- Plugins/Mods:
(Plugins Only:
Griefprevention, Nucleus, LuckPerms, Eaglefactions, spark, mmcrestrict, modbanner, Totaleconomy, worldedit forge)

**Issue Description**
-when i teleport player A who

[2018-08-21 19:03] phit commented on #2396
@SSKirillSS that is for the crash with 3406

[2018-08-21 19:04] phit commented on #2397
please add your `logs/debug.log`

[2018-08-21 19:06] SSKirillSS commented on #2396
Ok, thx. As for incompatibility - should I wait for the next releases, or did I misunderstood something?

[2018-08-21 19:08] phit commented on #2396
try again on latest, the map crash is unrelated to the mod incompatibility

gonna make a separate issue for that

[2018-08-21 19:11] phit opened #2398 "CME with map optimizations turned on"
**I am currently running**
- SpongeForge version: 3406/3411
- Forge version: 2705

- Plugins/Mods: see gists

**Issue Description**
could reproduce this consistently by going through the twilight forest portal, was also reported in https://github.com/SpongePowered/SpongeForge/issues/2396

https://gist.github.com/SSKirillSS/13c3e097a83122fba54a8311a79ab83f.
https://gist.github.com/phit/58cc52ac923d

[2018-08-21 19:38] SSKirillSS commented on #2396
I'm update the server spongeforge in main modpack to last build and disable map-optimization (with 2750 forge on server and client).
If you need, this is a load new world with latest spongeforge with disabled map-optimization in test modpack(with the 2705 forge build):
Logs: https://gist.github.com/SSKirillSS/adcc318cd1022e85a71d931475b79872
Debug: https://gist.github.com/SSKirillSS/40c79db5b109f6

[2018-08-21 19:42] RedCriterion commented on #2397
this is all i have, sorry

[2018-08-21 19:49] rvveber commented on #2397
updated debug.log to the correct one

[2018-08-21 19:51] Aaron1011 commented on #2398
@phit: I'm completely unable to reproduce this issue, after having gone through the Twilight Forest portal several times (with map optimizations enabled).

Were you running any mods besides Twilight Forest?

[2018-08-21 20:20] phit commented on #2397
that debug log doesnt have any of the exceptions you screenshotted

oh looks like a dupe of https://github.com/SpongePowered/SpongeForge/issues/2355

[2018-08-21 20:22] #2397 closed, assigned to nobody

[2018-08-21 20:24] rvveber commented on #2063
still a thing

[2018-08-21 22:09] RedNesto commented on #2063
Found what breaks everything: [that damn cancel](https://github.com/FlansMods/FlansMod/blob/fd1077cf43b4ae4416731d18aeed96b0e8d9053d/src/main/java/com/flansmod/common/CommonTickHandler.java#L90)

The Forge event is cancelled, so Sponge removes the entity that should have been spawned ([reference](https://github.com/SpongePowered/SpongeForge/blob/stable-7/src/main/java/org/spongepowered/mod/event/S

[2018-08-21 22:32] RedCriterion commented on #2063
nice!!!

[2018-08-22 09:57] luenlin commented on #2374
Half a month has elapsed since the initial submission
What are you doing

[2018-08-22 11:37] RedNesto commented on #2374
We are doing other things.
There are many other issues (some that are opened since September 2016) and developers choose what issues they want to fix, if they want to in the first place (staff members or not).
You, as well as other people have encountered issues, and we all know that this is inconvenient, but you have two choices: fix it yourself or wait for somebody else to fix it.

To me, insist

[2018-08-22 17:40] ST-DDT opened #2399 "Write MCP-Mapping version to manifest/dev-shaded.jar"
Ref: https://github.com/SpongePowered/SpongeDocs/issues/585

We require that the mod authors use the same MCP-Mapping version as SpongeForge if they use the shaded jar for in IDE running. However currently it is not possible to get that version from an existing jar.

To avoid confusion and manual research in the github repository it would be nice, if we could include that information somewhere in

[2018-08-22 18:17] phit commented on #2399
this may need to be moved to sc, but im not quite certain how the gradle stuff is done

though common does hold the mappings https://github.com/SpongePowered/SpongeCommon/blob/1e12f7e109010c4d1c840f726c6c298b54440a52/gradle.properties#L8

[2018-08-22 18:50] Tommeh1 opened #2400 "[1.12.2]Nether unable to load"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3413 (3413 was used to see if it would fix the issue, the issue originally occured on 3361)
- Forge version: 1.12.2 - 14.23.4.2705
- Java version:  OpenJDK 64-Bit Server VM, version 1.8.0_171
- Operating System: Linux

Mods (80): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Applied Energistics 2

[2018-08-22 19:04] RedNesto commented on #2399
@phit Maybe someone knows for sure, but I don't think gradle can add manifest entries to jars built by parent projects. I think it has to be done on the SpongeForge buildscript.

[2018-08-22 19:06] gabizou commented on #2063
@RedNesto Awesome detective work!

I have a potential solution for this, and this might have been because how custom items were potentially added as custom entities in forge more recently than the flan's handling code was created.

It involves making the item stack override [Item#hasCustomEntity](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/patches/minecraft/net/minecraft/item/Item

[2018-08-22 20:46] ST-DDT opened #2401 "Insonsistent mod/plugin command behaviour"
**I am currently running**

If I try to use the command completion it does not filter for mods or plugins.

test-plugin

The commands will show the details of a plugin regardless of whether it is a plugin or mod.
Which is not that bad, but the auto completion behavior is unexpected and might actually be a bother if there are lots of plugins/mods.

[2018-08-22 20:48] phit commented on #2400
OTG is not supported, see https://github.com/SpongePowered/SpongeForge/issues/2072#issuecomment-377701029

[2018-08-22 20:48] #2400 closed, assigned to nobody

[2018-08-22 20:49] CraftalotReloaded commented on #2400
OTG generated the overworld just fine and should not effect the nether, the nether uses default worldgen

[2018-08-22 21:17] RedNesto commented on #2063
Thanks to @gabizou's valuable Forge expertise, I was able to find a fix for Flan's mod.
Let me introduce to you [The Holy Anti-Dupe Patch](https://gist.github.com/RedNesto/4181dc67d8902d3c6b16ba304931d6ce#file-patching-patch-L140) (skip of useless imports and minor refactoring included, may contain traces of FLARD).

[2018-08-22 21:40] Y0ungSandwich commented on #2380
I just found out one of our users has got the mod working by following an outside guide. He says he has advanced through some of the levels but the achievements do not update as reported in the OP. Nothing in the logs during these level progressions still. So I guess the issue is the advancements not triggering? Im sure you guys got it handled just wanted to drop that piece of new info I got. Than

[2018-08-22 22:35] tgstyle opened #2402 "Entities Breed, no offspring"
**I am currently running**
- SpongeForge version: 3413
- Forge version: 2757
- Java version: 1.8.0_171
- Operating System: Win 10

Since the change in 3403 baby entities no longer spawn. Animals go through all the motions, drop XP and that is it.

[2018-08-23 00:31] ryantheleach commented on #2402
Any mods?

[2018-08-23 00:40] NightHawk5755 commented on #2063
Great!
So, how do I implement this?

[2018-08-23 00:44] Aaron1011 commented on #2402
My bad - fixed in https://github.com/SpongePowered/SpongeCommon/commit/be165cc3232cc2b60669db836f643d4af59693c4.

[2018-08-23 00:44] #2402 closed, assigned to nobody

[2018-08-23 07:50] RedNesto commented on #2063
A developer could apply the patch in a Flan's mod clone (but I did not removed the event listener that causes the duplication in the patch I shared).
Otherwise, you have to wait for Flan's developers to fix the bug, but they have not been active on the repository recently.

I made a [fixed release](https://github.com/RedNesto/FlansMod/releases/tag/1.12.2-5.5.2-for-Sponge) based on the latest commi

[2018-08-23 10:17] ChrisLane commented on #2063
Thanks @RedNesto, your fix is now in the main repo.

[2018-08-23 10:19] psych0d0g commented on #2373
still crashing with 3402 on my end - serverside
[crash-2018-08-23_12.14.43-server.txt](https://github.com/SpongePowered/SpongeForge/files/2314018/crash-2018-08-23_12.14.43-server.txt)

[2018-08-23 11:46] #2063 closed, assigned to nobody

[2018-08-23 13:05] rvveber commented on #2355
Same or Similar Issue.

**I am currently running**
- SpongeForge version: 3413
- Forge version: forge-1.12.2-14.23.4.2756

**Plugins:**
nucleus, luckperms, totaleconomy etc. (others not relevant)

**Issue Description**
https://www.youtube.com/watch?v=pLPWPFAbTPM&feature=youtu.be

**log**
https://ghostbin.com/paste/w7q2d

And i highly doubt it's mod incompatibility

[2018-08-23 13:47] mbax commented on #2367
How about we make it so the user doesn't have to visit the docs to figure out what they're looking at? MC version first (user cares most), Sponge RB and build number (whether builds-since or total-builds, that's separate from my proposal) next, and finally anything extra (like forge version).
* `spongeforge-MC1.12.1-RB1-build3361-forge2705.jar`
* `spongevanilla-MC1.12.1-RB1-build59.jar`

Users sho

[2018-08-23 14:58] phit commented on #2367
while I like this format from a userfriendliness perspective, what happens when a mc version has multiple api versions?

[2018-08-23 15:10] mbax commented on #2367
"...with API versions released on RB release."

`spongeforge-MC1.12.1-RB2-build3485-forge2705.jar`

Educate users that a plugin only runs on the latest RB.

[2018-08-23 15:12] phit commented on #2367
okay that doesn't really answer my question, sorry I wasn't quite clear
what do you name the jars for api versions that dont have a rb?

[2018-08-23 15:32] mbax commented on #2367
I don't really have a solution to that problem :D

The first post in this issue also seems to just include the RB number regardless of being the recommended build or not.

Perhaps using a builds-since-RB strategy would better clarify, with build 0 (or build number removed) as recommended build and then counting up on something that communicates it's after the RB.

[2018-08-23 15:36] dualspiral commented on #2367
How will that work for plugins and third party implementations, such as Lantern?

The reason we have an API version is so that we can say “this plugin runs anywhere that implements API 7”. I get this is about implementation, but the SpongeAPI is wider than just SpongeForge and SpongeVanilla (that might see different RB numbers depending on how the impl matures). By educating users that the plugin

[2018-08-23 15:48] Shybella commented on #2355
Other plugins/mods are relevant if you read this topic you will see that

Disable LittleTiles and see what happens. I am not experiencing this problem.

I'm assuming your home location is ontop of LittleTiles.

[2018-08-23 16:57] lllMohandarlll opened #2403 "Almost no mobs spawning; reference s#1345"
**I am currently running**
1.12.2
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3413
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: java build 1.8.0_161-b12
- Operating System: windows 8.1

- Plugins/Mods:

https://i.imgur.com/dYH4Wl1.png

the only plugin is listed in the mods folder as well and it's just a reward plugin that runs the command /give when the player

[2018-08-23 17:16] #1982 closed, assigned to nobody

[2018-08-23 17:18] phit commented on #2403
none of those settings you posted affect mob spawn counts, please post your global.conf

[2018-08-23 17:38] lllMohandarlll commented on #2403
https://pastebin.com/iHvn1Gp5

[2018-08-23 18:18] phit commented on #2403
reset `mob-spawn-range` to its default value (4)
yours is currently set to 12 spreading out the usual spawn cap of 70 (well yours is set to 75) to an area thats 576% larger..

[2018-08-23 18:23] lllMohandarlll commented on #2403
Why to close? even when the range was at 4 the problem was present.

[2018-08-23 18:30] lllMohandarlll commented on #2403
just re-open it until a solution is found.
I've just set the range at 4, again. And in fact just nothing changed.
I bet is something about light level, but I'm not sure, what is sure is that sponge interfere with the spawning in betweenlands dimension

[2018-08-23 18:34] lllMohandarlll commented on #2403
This is with spongeforge:
![xr45czd](https://user-images.githubusercontent.com/11860704/44544907-ddab2c00-a713-11e8-9bba-00d1e59fa5f7.png)

and this without sponge installed
![pmplvqq](https://user-images.githubusercontent.com/11860704/44544921-e69bfd80-a713-11e8-9cef-643abeaa8cc7.png)

you can see the red dots on journeymap

on the bottom left we can see that Lightlevel is at 15 there, the mod ma

[2018-08-23 18:39] avescarelo opened #2404 "Some server errors and client crash"
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-SNAPSHOT-2d8df24
- SpongeForge: 1.12.2-2705-7.1.0-BETA-3413
- Minecraft Forge: 14.23.4.2750
- Operating System: Linux

**- Plugins**:
FastAsyncWorldEdit, A'therys Core, A'therys Parties, ActionBroadcaster, GriefPrevention, LuckPerms, Nucleus, Prism, PrismPlus, ShabbyHolograms, Total Economy, UCFA, UltimateChat, VoxelSniper, WorldEd

[2018-08-23 18:42] phit commented on #2404
the server errors are caused by the prism plugin, please take it to their issue tracker

[2018-08-23 18:42] #2404 closed, assigned to nobody

[2018-08-23 18:54] lllMohandarlll commented on #2403
Would be possible an implementation of code with a new config option that disable sponge living-entity handling entirely?
This would probably be a temporary fix.
Otherwise, should I notify this to betweenlands authors too?

[2018-08-23 19:12] Shybella commented on #2276
Happening again in a empty area. This is happening randomly there is not a pattern to the crashes.

[code]

[2018-08-23 23:44] sfxworks opened #2405 "Async Light causes IndexOutOfBoundsException SPacketChunkData"
**I am currently running**
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-d453c3e
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3206
    Minecraft Forge: 14.23.4.2705
- Java version:
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)
- Operating System:
CentOS Linux release 7.5.1804 (Core)

Plugins
[code]

Mods:
[cod

[2018-08-23 23:49] Shybella commented on #2405
Is this related? https://github.com/SpongePowered/SpongeForge/issues/2276#issuecomment-415536380

[2018-08-23 23:52] sfxworks commented on #2405
Possibly but unsure. Another note to add is that I had to sigterm the java process. It just let the server hang but marked "connected" players as afk. Don't know if that's related.

[2018-08-23 23:53] sfxworks commented on #2276
My issue referenced by Shybella seems related.

[2018-08-24 00:30] Aaron1011 commented on #2405
@sfxworks You're using an extremely outdated build of Sponge - you should update to the latest version.

[2018-08-24 00:42] Aaron1011 commented on #2276
@Shybella: Can you upload your entire crash report?

[2018-08-24 00:55] Shybella commented on #2276
https://pastebin.com/raw/esyB0zUL

Sent this one because of the phasetracker error others don't have it

[2018-08-24 01:06] Aaron1011 commented on #2276
@Shybella: After taking a look at all of the coremods you're running, I didn't find any that even touched the relevant classes (SPacketChunkData and net.minecraft.world.chunk.BlockStateContainer).

At this point, there are two possibilities:

* I've missed something, and one of those coremods actually modifies one of those classes
* There's yet another Vanilla bug to deal with.

[2018-08-24 01:07] Aaron1011 commented on #2276
@Shybella: Are you able to join IRC/Discord to discuss this further?

[2018-08-24 01:33] Shybella commented on #2276
Yes, I am XXMINECRAFTGODXX.

[2018-08-24 08:41] sfxworks commented on #2405
Upgrading the version revealed the chunk but it still occurs

[code]

]: SpongeForge
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
    Minecraft Forge: 14.23.4.2705

[2018-08-24 08:42] madwolfpack commented on #2405
"Git"-good kid

[2018-08-24 16:19] yoshikixxxx commented on #2391
Thank you for fixing.
We implemented [SpongeForge 7.1.0-BETA-3415] and confirmed the operation, we are working normally.
Thank you very much.

![Image of list](https://i.imgur.com/wXIaH0A.png)

[2018-08-24 17:41] JayPeaSize commented on #2112
This may be a bit dated, but also have this issue with Pixelmon Reforged entities (https://pastebin.com/yq57G2Ru)

I can also confirm that Pixelmon is properly registering the entities. (EntityList.registerModEntity)

[2018-08-24 18:10] #2391 closed, assigned to nobody

[2018-08-24 18:31] limbo-app opened #2406 "IC2 Tool Box PrimaryInventoryClickState error"
This issue was originally submitted by @luckyrill in [SpongePowered/SpongeCommon#2032](https://github.com/SpongePowered/SpongeCommon/issues/2032).
___
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361
- Java version: 8 Update 181
- Operating System: Ubuntu 16.04

- Plugins/Mods: industrialcraft-2-2.8.94-ex112

Simulation a problem in the game: Open tool_box (ic2), move

[2018-08-24 18:33] AsuraTakun opened #2407 "Infinite (or very very large) Capture Block Change Server Time Out"
**I am currently running**

- SpongeForge version: 3406
- Forge version: 2705
- Java version: 181
- Operating System: Win10Pro

- Plugins/Mods:
Plugins (11): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, Nucleus, ProjectCore, ProjectPortals, Total Economy, Web-API, spark

Mods (175): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge,

[2018-08-24 18:54] gabizou commented on #2407
I think I have an idea of what's happening:

During world gen, there are a few world generation events thrown on the world generation event bus, and while I haven't considered needing to ignore the block changes occurring due to those event listeners, we might have to *specifically* check if this is either the ore gen bus or another event bus that we "shouldn't track" due to world generation. Or,

[2018-08-24 18:59] phit commented on #2407
looks like all you need is Chisel, it generates its Basalt around underground lava lakes

https://github.com/Chisel-Team/Chisel/blob/1.12/dev/src/main/java/team/chisel/common/util/GenerationHandler.java#L66

at least that's what it looks like from the log

[2018-08-24 20:47] TeraNovell commented on #2369
I can also confirm that with version 3415.

[2018-08-24 22:35] Elspar2 opened #2408 "Sponge fails to function with Movingworld mod"
- SpongeForge version: 3361+
- Forge version: 1.12 2705
- Java version: 1.8_181
- Operating System: Windows 8.1

Mod: https://minecraft.curseforge.com/projects/movingworld
With movingworld installed, Sponge fails to function in the console and game.
Here is a log with ONLY movingworld and Sponge in mods: https://pastebin.com/AcAai1ZH

[2018-08-24 22:38] Elspar2 opened #2409 "Sponge fails to function with MalisisCore mods"
**I am currently running**

- SpongeForge version: 3361+
- Forge version: 1.12 2705
- Java version: 1.8_181
- Operating System: Windows 8.1

While attempting to run a server with MalisisCore, Sponge fails to function in the console and in-game. Just like it is not enabled.
Here is a log with ONLY MalisisCore and Sponge installed: https://pastebin.com/6kTuk66h

[2018-08-24 22:40] Elspar2 commented on #2353
FoamFix is causing the crash. My pack shares a lot of mods, and adding them in slowly reveals that FoamFix causes the crash.

[2018-08-24 22:58] phit commented on #2409
The mod is loading an outdated Mixin version before Sponge, please report it to the mod author! For temporary solution rename the SpongeForge jar file, so its sorted alphabetically before the other mod e.g. rename `spongeforge-1.12.2-2705-7.1.0-BETA-3318.jar` to `_aspongeforge-1.12.2-2705-7.1.0-BETA-3318.jar`

[2018-08-24 22:58] #2409 closed, assigned to nobody

[2018-08-24 22:58] phit commented on #2408
The mod is loading an outdated Mixin version before Sponge, please report it to the mod author! For temporary solution rename the SpongeForge jar file, so its sorted alphabetically before the other mod e.g. rename `spongeforge-1.12.2-2705-7.1.0-BETA-3318.jar` to `_aspongeforge-1.12.2-2705-7.1.0-BETA-3318.jar`

[2018-08-24 22:58] #2408 closed, assigned to nobody

[2018-08-24 23:02] phit commented on #2353
Try foamfix lawful and report back, otherwise I don't think we can do much here. FoamFix while trying to maintain compat with other mods still does a lot of conflicting optimizations that break with other mods such a Sponge, as we also do a lot of changes on our end.

[2018-08-24 23:19] gabizou commented on #2407
Didn't mean for the commit message to close this issue. Please test the newer build with my fix. It may fix it or not, if it still crashes, please provide a new log.

[2018-08-25 04:51] AsuraTakun commented on #2407
The main ones that I notice causing world gen would be Chisel, Rogue-like Dungeons, and Quark. I'm going to be honest though, I have not been able to reproduce it, because after the server reboot, that same area was already mapped. More or less it is chance that you run into a chunk that generates basalt at least. This is also server side only, the clients were just fine.

[2018-08-25 09:59] SSKirillSS commented on #2396
Hello, again. I'm installed a last build of SpongeForge(spongeforge-1.12.2-2705-7.1.0-BETA-3416) and create a new test world. The new world was generated by mechanics RTG, but after restart generation is fully broken(I'm don't use /world border load (Nucleus), respectively the world was not fully loaded):
![2018-08-25_12 52 18](https://user-images.githubusercontent.com/38190325/44617153-971a1680-a

[2018-08-25 13:38] LemADEC opened #2410 "Console spam causing server crash"
**I am currently running**
- SpongeForge version: 2705-7.1.0-BETA-3409
- Forge version: 14.23.4.2756
- Java version: 1.8.0b171
- Operating System: CentOS

- Plugins/Mods:
Plugins (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AdamantineShield, AntiWDL, BetterChunkLoader, Broadcast, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MagiBridge, Nucleus, Server Backup, SleepVote, To

[2018-08-25 13:41] phit commented on #2410
this is a mod bug that happens without Sponge, we simply catch the error instead of crashing the server
https://github.com/WayofTime/BloodMagic/issues/1407

[2018-08-25 13:41] #2410 closed, assigned to nobody

[2018-08-25 13:48] LemADEC commented on #2410
My point is that the server is supposed to delete the block, but SpongeForge prevents that.

[2018-08-25 16:50] Shybella commented on #2410
@LemADEC Can you remove Spongeforge and turn on erroring TileEntites and see if it removes it without Sponge?

[2018-08-25 17:02] ustc-zzzz commented on #2374
The reason is simply a coincidence.

Sponge will check all of the entities whether [the `ticksExisted` field is an integer multiple of four](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/mixin/plugin/entityactivation/EntityActivationRange.java#L420), and if it is SpongeForge, the value of the fields will firstly [be increased by one](https://git

[2018-08-25 19:13] phit commented on #2374
welp if thats the case this should be easily fixed by disabling entity activation for MKUltra

`/sponge config -g entity-activation-range.mods.mkultra.enabled false`

[2018-08-25 21:56] #2374 closed, assigned to nobody

[2018-08-26 20:20] TriADeX commented on #2364
up

[2018-08-27 05:57] SawFowl commented on #2179
The problem is again relevant.

-   SpongeAPI: 7.1.0-SNAPSHOT-9c79de1
-   SpongeForge: 1.12.2-2705-7.1.0-BETA-3421
-  Minecraft Forge: 14.23.4.2747

- Mods (52): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Better Questing, BiblioCraft, CoFH Core, CoFH World, CodeChicken Lib, Console Filter, Construct's Armory, CraftTweaker JEI Support, CraftTweaker2,

[2018-08-27 13:20] gabizou commented on #2364
@TriADeX We're not likely to start trying to resolve the problem with the requirement of dozens of mods to install to try and replicate the issue. If you can narrow down the issue to as few mods as possible, that would speed up our investigation to resolve the issue.

[2018-08-27 14:01] Shybella commented on #2369
Please, someone look into this.

[2018-08-27 14:02] Shybella commented on #2405
Anything on this, @sfxworks?

[2018-08-27 14:18] ResqDiver1317 commented on #2369
I intended to test this when he released the potential fix but RL and issues on our other servers for in the way. I will update ours tonight and test it out

[2018-08-27 14:23] Shybella opened #2411 "Hoppers duplicating ore with EnderIO Machines"
**I am currently running**

- SpongeForge version: 3414
- Forge version: 2739
- Java version: 1.8 update 181
- Operating System: Windows Server

Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional World, Aroma

[2018-08-27 14:33] Shybella commented on #2389
I've not had another occurrence with this. Although, I think it may have something to do with Chisel n Bits and pistons.

[2018-08-27 19:15] LemADEC commented on #2394
Is there an option to disable this module until a fix is found?

[2018-08-27 19:26] Shybella commented on #2394
That is not `significant CPU load` that's normal and yes you can disable collisions in the sponge config but you'll have issues with mob behavior.

[2018-08-27 19:27] LemADEC commented on #2394
2% is nowhere close to negligible CPU load, get your facts right.

[2018-08-27 20:36] phit commented on #2393
this broke in https://github.com/SpongePowered/SpongeCommon/pull/1957

[2018-08-27 20:37] phit commented on #2393
~move to sc

[2018-08-27 20:37] limbo-app commented on #2393
Hey @PorPit! I've moved your issue to [SpongePowered/SpongeCommon#2076](https://github.com/SpongePowered/SpongeCommon/issues/2076).

[2018-08-27 20:37] #2393 closed, assigned to nobody

[2018-08-27 20:40] phit commented on #2376
@LemADEC does this still happen? when does it happen? the log mentions thaumcraft, any easy way to reproduce this?

[2018-08-27 21:16] LemADEC commented on #2376
Yes, it's still reproduced with ExoticBirds 1.12.2-2.0.1:
[code]

ExoticBirds is placing tile entities (nest) on top of tree leaves during world generation. I don't think it's linked with Thaumcraft.
I'm not sure what the PhaseContext capture is trying to say here or what's triggering it.

[2018-08-27 21:20] gabizou commented on #2394
@LemADEC The problem here is that you're compounding what is already negligible CPU performance in individual sections and adding them together to say they're unperformant. Sure, if the actual method itself in a single call site would take 2%, then we'd consider it to be a serious candidate of optimization (much like the costs that were associated with `LocatableBlock.builder()`). The actual metho

[2018-08-27 21:33] LemADEC commented on #2394
Keep in mind we still have 0.20% and 0.30% in there by themselves from a profiling over 5 minutes.
Also, I'm confused on why we have some many places where we trigger those events and what those events are for.

[2018-08-28 01:11] Shybella commented on #2389
Happened again
![download](https://user-images.githubusercontent.com/4436776/44694813-57138900-aa4a-11e8-9706-a9b76a76ac04.png)

Is there anything that can be done? Running SF: 3414

[2018-08-28 05:01] sfxworks commented on #2405
The recent update had this still occur. It gave me chunk coords. The ones specified revealed no active blocks other than ones rendered. Have not had a crash lately though.

[2018-08-28 05:27] Shybella commented on #2405
This is happening about twice a day for me. All my locations are pretty much random too.

[2018-08-28 06:19] LXGaming opened #2412 "Decremented listener count to -4 for field public static boolean org.spongepowered.common.event.ShouldFire.MOVE_ENTITY_EVENT"
**I am currently running**

- SpongeForge version:
 - 1.12.2-2705-7.1.0-BETA-3415 (forge-1.12.2-14.23.4.2758)
 - 1.12.2-2705-7.1.0-BETA-3422 (forge-1.12.2-14.23.4.2758)
- Java version: 1.8
- Operating System: Linux

- Plugins/Mods: Enigmatica 2: Expert modpack

**Issue Description**
It appears that when an Advanced Rocketry world is unloaded it unregisters events which is somehow causing Nucleus e

[2018-08-28 07:28] SawFowl commented on #2346
In protected areas, the portal cannon, when the G button is pressed, deletes the blocks.

[2018-08-28 11:12] ImMorpheus commented on #2394
CollideEntityEvent is `Fired when an {@link Entity} collides with one or more {@link Entity}'s.`

Actual profiling:

![before-csm](https://user-images.githubusercontent.com/24737505/44718132-9b387500-aaae-11e8-84c7-55b92467d293.png)

![csm-60](https://user-images.githubusercontent.com/24737505/44718133-9bd10b80-aaae-11e8-9556-a8faf78d76bd.png)

There's nothing Sponge can do to improve this method

[2018-08-28 15:43] Dockter opened #2413 "Portal Agents no longer being respected"
**I am currently running**

- SpongeForge version: 3422- API7
- Forge version: 2705
- Java version: 1.8.171
- Operating System: Win10Pro

Are the portal agents with the latest SF broken?  I have this https://gist.github.com/Dockter/04529cdcaee8a26ca0a3aec1da58b607 in one of my world configs.  When I went to the nether from that world I did not end up in Keystone-Nether.

[2018-08-28 16:26] Dockter commented on #2413
This ticket is on hold.  The original issue may not exist but the catalog type may be within our config system.

[2018-08-28 16:30] Dockter commented on #2413
Original issue doesn't exist, test was invalid however Zidane discovered a new issue which he will create ticket for.

[2018-08-28 16:30] #2413 closed, assigned to nobody

[2018-08-28 17:59] mmis1000 opened #2414 "ChannelRegistrationEvent never contains player in cause"
**I am currently running**

- SpongeForge version: 3422
- Forge version: OpenJDK 8
- Java version: linux
- Operating System: Galaxy, LuckPerms, SpongePrometheusExporter, VillageMarkerSponge, AppleSkin, Duplicate Entity UUID Fix (DEUF), JMFixer, JourneyMap, Just Enough Items, RandomPatches

**Issue Description**

Sponge didn't add player to cause out of main thread because it may be unsafe,
but Cha

[2018-08-28 20:43] LemADEC commented on #2394
Thanks for the explaination!
I understand the call itself can't be significantly improved.
My feeling is that we're calling it too frequently.

In our setup, CollideEntityEvent is used by GriefPrevention. I'll have to check which claim flags use it and if we actually needs those flags. As far as I remember, spawn protection depends on it.

In our profile reports, we see many (60+) references to ca

[2018-08-28 21:35] ImMorpheus commented on #2394
Ok, I've looked at this a bit more deeply.

We fire the event at the end of `World#getEntitiesWithinAABB` which is used to `Gets all entities of the specified class type which intersect with the AABB`. (**Only if a listener for the event was registered**)

This means there's no need for a collision in the strict sense to happen. It just need something to look for entities in a bounding box.
Ex. wh

[2018-08-28 21:35] Shybella commented on #2394
You should open a issue with ProjectE about that.

These results don't take into account the number of entities that are causing the collisions. You can control the radius of AABB in the Sponge Config but that will probably break Project E.

You are worrying yourself over such small impact that you wouldn't even notice if the performance was cut in half. Move on.

[2018-08-29 00:05] HaniXP opened #2416 "Testing Forge 2759 onto SpongeForge 2705 ? Crash?"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361
- Forge version: 1.12.2 - 14.23.4.2759
- Java version: 8
- Operating System: Windows 7 Ultimate 64 bit

- Plugins/Mods:

Plugins:
1)CatClearLag-0.8.3.jar
2)EconomyLite-7.1.0-2.14.3.jar
3)griefprevention-1.12.2-4.3.0.590.jar
4)LuckPerms-sponge-4.2.14.jar
5)MagiBridgeAI-2.4.5.1.jar
6)Nations-2.11-S7.0-1.12.2.jar
7)Nucleus

[2018-08-29 00:18] #2416 closed, assigned to nobody

[2018-08-29 00:20] phit commented on #2416
we will update once there is a newer recommended forge version, until then you can take it to the mods that require a newer forge version and possibly see about downgrading them if they really need the newer version

[2018-08-29 00:22] phit commented on #2416
just noticed your spongeforge version is also ancient recommended is 3361, you are using 3206
the issue in the log was fixed weeks/months
http://files.minecraftforge.net/spongepowered

[2018-08-29 06:59] ResponsibleBear commented on #2385
Still working guys...
https://youtu.be/CEtXoY1Ie3U

[2018-08-29 21:39] Shybella opened #2418 "ClassCastException in BlockDropItemsPhaseState"
**I am currently running**

- SpongeForge version: 3414
- Forge version: 2739
- Java version: 1.8 update 181
- Operating System: Windows Server 2012

- Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional World

[2018-08-29 21:53] ImMorpheus commented on #2418
@Shybella Post you global.conf

[2018-08-29 21:58] Shybella commented on #2418
Relocated the world on a dev server with clean configs and got it to print. I had a feeling it was a config messed up.

Stack Trace: https://pastebin.com/raw/VTKgDVJC

[2018-08-29 22:01] ImMorpheus commented on #2418
Does it happen randomly ? Do you have a way to reproduce this ?

[2018-08-29 22:08] sfxworks commented on #2405
https://gist.github.com/sfxworks/00a6d57c373a26c873b0763036a83180

Had a new one today. Redacted coords. Staff to investigate affiliated chunks.

[2018-08-29 22:22] sfxworks commented on #2405
Good news. We have continuous replication results here. We have a few region files that are giving similar coords and a player joining a planet in ExtraPlanets that has continually crashes the server. I can send anyone the world if necessary.

[2018-08-30 12:59] Shybella commented on #2418
This does need some type of discard system. Phase errors sometimes take time to be fixed and having this spam at this rate is killing performance.

<s>Maybe Implement something that prints several times and then becomes suppressed and does not print. I don't want to turn off verbose errors in the config because now that I have it printing the errors, I want to catch them all and report them.</s>

[2018-08-30 13:07] Shybella commented on #2405
Yes, it's happening for me daily.

I had a client experience roughly the samething where a packet was too big and would disconnect them. Come to find out it was massive amount of EnderIO conduits sending tons of data to the client.

As, I do not have ExtraPlanets, do you have by chance EnderIO?

Thanks, hopefully we can narrow this down and help find a solution for Aaron.

[2018-08-30 16:04] Dockter commented on #2371
What version of SGCraft?

[2018-08-30 21:29] liampearson96 commented on #2369
I’m having the same problem. Was working and then broke after I updated to one of the latest beta builds. I’ve worked out that if the player is in creative it allows the player to chisel it, in single player it doesn’t. Also, it spams an error in the console “error executing task”. Please look into this.

[2018-08-31 06:25] gabizou commented on #2242
@RussianSanity any noticeable differences? Any extra bugs potentially caused by my changes? If not, the workaround is pretty much silent and avoids the world unload events I'm supposing from someplace else than sponge's dimension management.

[2018-08-31 08:51] liampearson96 commented on #2369
Also get this in the latest.log

[code]

[2018-09-01 13:27] OldKingisdie opened #2419 "plot bug"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: java8
- Operating System:Linux and Window10

- Plugins/Mods:spongeforge-1.12.2-2705-7.1.0-BETA-3328/PlotSquared-Sponge-18.08.23-f5a981f-2037

**Issue Description**
plotsquared is already set a permission restrict the place in road，but player

[2018-09-01 15:19] ImMorpheus commented on #2369
@liampearson96 The stacktrace is missing the important part. Can you upload the complete error ?

[2018-09-01 15:22] Shybella commented on #2369
@ImMorpheus

[code]

[2018-09-01 15:28] liampearson96 commented on #2369
Shys is pretty much the same... i'd reproduce it but i've downgraded my sponge now as too many things broke lol

[2018-09-02 00:21] Dinip opened #2421 "Sponge removing FTB Utilities chat prefix/color"
**I am currently running**

- SpongeForge version: 2705-7.1.0-BETA-3361
- Forge version: 14.23.4.2750
- Java version: 1.8.0_181
- Operating System: Ubuntu 16.04

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, FTB Utilities, FTBLib, Just Enough Items

**Issue Description**
I have ranks configured in FTButilites with some permissions for c

[2018-09-02 15:17] ImMorpheus commented on #2369
Fixed by https://github.com/SpongePowered/SpongeForge/pull/2420

[2018-09-02 15:17] #2369 closed, assigned to nobody

[2018-09-02 18:36] sfxworks opened #2422 "Errors on Joins"
**I am currently running**
SpongeForge
  - Minecraft: 1.12.2
  - SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
  - SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
  - Minecraft Forge: 14.23.4.2705

Java version:
  - openjdk version "1.8.0_181"
   - OpenJDK Runtime Environment (build 1.8.0_181-b13)
  - OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

Operating System:
  - CentOS Linux release 7.5.1804 (Core)

[2018-09-02 18:37] RedNesto commented on #2422
Sounds like a journeymap issue to me.

[2018-09-02 18:44] ImMorpheus commented on #2422
Can you reproduce the issue without sponge ?

[2018-09-02 18:44] #2422 closed, assigned to nobody

[2018-09-02 18:45] phit commented on #2422
journeymap issue, see https://github.com/TeamJM/journeymap/issues/42
they need to update for https://github.com/MinecraftForge/MinecraftForge/pull/4890

[2018-09-03 00:48] sfxworks opened #2423 "Failed to process all PhaseContext captured"
**I am currently running**
SpongeForge
  - Minecraft: 1.12.2
  - SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
  - SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
  - Minecraft Forge: 14.23.4.2705

Java version:
  - openjdk version "1.8.0_181"
   - OpenJDK Runtime Environment (build 1.8.0_181-b13)
  - OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

Operating System:
  - CentOS Linux release 7.5.1804 (Core)

[2018-09-03 13:16] limbo-app opened #2424 ""Sponge" server crash with "LostCities" mod"
This issue was originally submitted by @AndyDr in [SpongePowered/SpongeAPI#1906](https://github.com/SpongePowered/SpongeAPI/issues/1906).
___
In my modpack Using lost cities and spongeforge, the server shuts down with an error generation die.
I understand that I duplicate a bug report, but in a branch SpongePowered/SpongeForge#1815 it says the problem is solved, or I don't understand.
I apologize

[2018-09-04 01:39] Dockter opened #2425 "Runaway Phase Tracker Issue"
**I am currently running**
- SpongeForge version: 3422
- Forge version: 2705

I have no idea what just caused this but it got our server stuck in a loop which forced me to hard-stop it.

https://gist.github.com/Aaron1011/c78dd8fe98acf66cdb120ba7b9640ec6

[2018-09-04 03:16] Shybella commented on #2389
![download](https://user-images.githubusercontent.com/4436776/45008214-f5b86080-afdb-11e8-830c-0dbed2a86aa7.png)

SF: 3422

[2018-09-04 03:23] ghost opened #2426 "More of a question"
With Mods like forestry and others using the latest version of forge can we get sponge updated to work with those version cause sponges crash on those versions of forge and my pack and others can't have a working server with sponge.

[2018-09-04 03:24] phit commented on #2426
https://github.com/SpongePowered/SpongeForge/issues/2370#issuecomment-410914239

also in the future please use the forums or chat channels for questions

[2018-09-04 03:24] #2426 closed, assigned to nobody

[2018-09-04 06:04] zhourui123 opened #2427 "that channel is already registered"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3019
- Forge version: 1.12.2   2611
- Java version: 1.8.0 151
- Operating System: win10 edu

- Plugins/Mods:
server: spongeforge,diyMod
client: diyMod

**Issue Description**
I want communication between forge and sponge.
I registered channel on CommonProxy of my DiyMod:
`public static SimpleNetworkWrapper mod_plugin = NetworkRegistry.IN

[2018-09-04 18:50] Aaron1011 commented on #2412
@LXGaming: There should be a few exceptions before this one. Can you upload your entire `debug.log`?

[2018-09-04 20:10] ST-DDT commented on #2399
Maybe it would be nice to add also add an explicit entry for the target Minecraft version. (This would also be relevant for the API).

Ref: https://github.com/SpongePowered/SpongeDocs/issues/652

[2018-09-05 00:01] Shybella commented on #2405
https://pastebin.com/raw/xfEudesN

Happening 1-2 times a day now.

[2018-09-05 00:13] LXGaming commented on #2412
[debug-5.log.gz](https://github.com/SpongePowered/SpongeForge/files/2350679/debug-5.log.gz)
@Aaron1011

[2018-09-05 06:16] gabizou commented on #2405
Since you have the chunk coordinates, what region is that chunk at? It would be probably indicative of possible bad chunk data overflowing the packet.

[2018-09-05 08:18] gabizou commented on #2389
You have pistons being cancelled, likely by protections. Nothing really going wrong here on sponge's side. @bloodmc thoughts? I think for some reason we might be capturing blocks on piston movement again (or this is the block update for pistons). I'll have to triple check how they flow again.

I would try to find out where the mass amount of pistons are that are scheduling so many updates.

[2018-09-05 08:22] gabizou commented on #2425
[code]
It sounds like you're getting recursive notifications from your crops at the same position. Any ideas when this started?

[2018-09-05 08:37] gabizou commented on #2423
Can you try with a newer version? I understand 3361 is recommended, but if you can try for example 3431 which may have this bug fixed already, I'm not sure.

[2018-09-05 13:50] Shybella commented on #2389
Thank you for looking into this, gabi.

I do believe it's something to do with GP and pistons. I was able to reproduce this by chance using 3 pistons to push some Chisel n Bits stone inside of a claim.

[2018-09-05 13:51] Shybella commented on #2276
Reference https://github.com/SpongePowered/SpongeForge/issues/2405

[2018-09-05 13:54] Shybella commented on #2405
Thank you for looking into this, gabi.

The chunks/regions where this happen seem to be completely random. Even happening in flat worlds with no active players.

Is there anything debugging/inspection that can capture whats maybe sending the bad chunk data?

Should this be opened with Forge, as-well?

Thanks.

[2018-09-05 18:01] Wissi commented on #1912
Also adding our server to the list of still not working. Neither the Wither nor the Ender Dragon.

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3401
- Forge version: 1.12.2 - 14.23.4.2705
- woot-1.12.2-1.4.2
- Guide-API-1.12-2.1.7-62
- Java version: 1.8.0_181

[2018-09-05 20:16] PoroUsedSnax opened #2429 "Issue with hoppers pushing to a Storage Drawers block"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3431
- Forge version: 14.23.4.2705
- Java version: 1.8.0_181
- Operating System: Linux

- Plugins/Mods:
A lot, special mention for Storage Drawers

**Issue Description**
Had recently updated our server to the mentioned Sponge version, and was running well, then suddenly had a drop down to 2 TPS, after doing some digging, I f

[2018-09-06 02:44] ghost opened #2430 "Crash with Advanced Rocketry and sponge"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3432
- Forge version: 2760
- Java version: Jave 8
- Operating System: Windows 10

- Plugins/Mods:

**Issue Description**
Happens as soon as the server fully loads then it crashes

https://gist.github.com/TacticalUniverse/777e1daea8ddf205225cf2c26ad03de3

https://github.com/zmaster587/AdvancedRocketry/issues/1391

[2018-09-06 03:40] #2385 closed, assigned to nobody

[2018-09-06 07:07] Faithcaio commented on #2429
The Lens should be reused instead of recreating a new one every time the hopper ticks.
I'll look into this later today

[2018-09-06 07:34] SawFowl opened #2431 "Dungeon Mobs Reborn errors and crash"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3433
- Forge version: 14.23.4.2747
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
- Operating System: Debian 9

- Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, HuskyCrates, HuskyUI, LuckPerms,

[2018-09-06 09:22] gabizou commented on #2405
Can either test and give new logs for any changes from this jar?

[spongeforge-1.12.2-2705-7.1.0-PACKET_BUFFER_TEST-1.jar.zip](https://github.com/SpongePowered/SpongeForge/files/2356376/spongeforge-1.12.2-2705-7.1.0-PACKET_BUFFER_TEST-1.jar.zip)

I know for sure it doesn't mitigate the issue but it does provide more information about *how* and maybe *when* something is going wrong. There's more va

[2018-09-06 09:30] gabizou commented on #2431
I don't know how you're getting stack traces to show up as MCP named instead of SRG named, but your issue is a mod that is calling a client method on the server:
[code]
Not a sponge issue.

[2018-09-06 09:30] #2431 closed, assigned to nobody

[2018-09-06 09:32] SawFowl commented on #2431
@gabizou This error does not occur if Sponge is not installed..

[2018-09-06 10:06] gabizou commented on #2431
@Mr-Krab The crash that is literally about the entity calling a client only method:
[code]
The method in question is `net/minecraft/entity/player/InventoryPlayer.armorItemInSlot()`, which I hate to say, is client only.

And looking at a decompiled version of their code, it's pretty evident that the method is being called regardless whether the entity is on a server or not:

<img width="654" alt="s

[2018-09-06 10:18] SawFowl commented on #2431
@gabizou Thank you. I also made a request to the developers of the mod. And for the moment, turned off the spawn of a problem mob.

[2018-09-06 10:31] Tylerun opened #2432 "Crash on Launch org.spongepowered.asm.mixin.transformer.throwables.MixinTransformerError (Server Crash)"
- Minecraft Version 1.12.2
- SpongeForge version: 2705-7.1.0-BETA-3434
- Forge version: 2759
- Java version: Version 8 update 181
- Operating System: Windows 10 Pro

Please refer to Logs for full list of mods as I can not run sponge commands due to server crashing on launch.

**Issue Description**
Hello. when starting up a development server i'm working on using sponge the server crashes when tryi

[2018-09-06 13:07] Preta-Crowz opened #2433 "Ghost item entity duplicate bug on TiC"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version: 14.23.4.2707
- Java version: 10.0.1 2018-04-17
- Operating System: Windows 10 Version 1709 (Build 16299.547)

- Plugins/Mods:

I removed all plugins for testing. It happens when I added sponge.

**Issue Description**
When user drops TiC Tools, then it duplicates to many entities. But only one entity is

[2018-09-06 13:17] Pilad opened #2434 "Crash with latest forge 2760"
Forge 2760
Sponge spongeforge-1.12.2-2705-7.1.0-BETA-3361, 1.12.2-2705-7.1.0-BETA-3434
Crash log.
https://pastebin.com/pgRTPG9A

[2018-09-06 14:17] Zidane commented on #2434
We do not support any Forge builds beyond what our SpongeForge build targets.

[2018-09-06 14:17] #2434 closed, assigned to nobody

[2018-09-06 14:18] Zidane commented on #2432
You are using FoamFix which has a compatibility issue with us. Contact them to get the appropriate version of their product that works fine with us.

[2018-09-06 14:18] #2432 closed, assigned to nobody

[2018-09-06 15:00] Pilad commented on #2434
Most mods do not work on the 2705 forge. What do I do now?

[2018-09-06 15:05] Shybella opened #2435 "java.lang.IllegalStateException Phasetracker error on CoFH Core Drill"
**I am currently running**

- SpongeForge version: 3432
- Forge version: 2739
- Java version: 8 update 181
- Operating System: Windows Server 2012 R2

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional World, Aroma1997

[2018-09-06 15:06] Shybella commented on #2418
This is related to the spam causing bad performance from the phasetracker logger. https://github.com/SpongePowered/SpongeForge/issues/2435

Same problem just a proper stack trace now.

[2018-09-06 15:36] Dockter commented on #2434
I haven't found one that doesn't work with 2705.

[2018-09-06 15:58] #2433 closed, assigned to nobody

[2018-09-06 15:58] phit commented on #2433
update sponge, your version is very very outdated

[2018-09-06 16:06] gabizou commented on #2435
Retest with 3366

[2018-09-06 16:22] Pilad commented on #2434
Ok.
What is this?
https://imgur.com/a/MVCqpVL

[2018-09-06 16:43] Shybella commented on #2434
Update to 2739. It works fine with latest SF.

[2018-09-06 16:46] Pilad commented on #2434
2749 for latest forestry.

[2018-09-06 16:48] Shybella commented on #2434
Try 2749

[2018-09-06 17:11] Pilad commented on #2434
foamfix-0.10.1-1.12.2 - this is problem. Without this mod - good work. Forge latest.

[2018-09-06 17:43] Zidane commented on #2371
Closed due to no response from issue creator.

[2018-09-06 17:43] #2371 closed, assigned to nobody

[2018-09-06 17:45] Zidane commented on #2352
Fixed in the latest builds.

[2018-09-06 17:45] #2352 closed, assigned to Aaron1011, bloodmc

[2018-09-06 17:50] Zidane commented on #2419
I believe this is now resolved in the latest builds.

[2018-09-06 17:50] #2419 closed, assigned to nobody

[2018-09-06 18:21] Dockter commented on #2434
Several versions of those mods work on 2705.

[2018-09-06 18:46] ImMorpheus commented on #2430
You are using FoamFix which has a compatibility issue with us. Contact them to get the appropriate version of their product that works fine with us.

Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2432

[2018-09-06 18:46] #2430 closed, assigned to nobody

[2018-09-07 08:37] Preta-Crowz opened #2436 "[REPOST] Ghost item entity duplicate bug on TiC"
Same as #2433
It still happens on 1.12.2-2705-7.1.0-BETA-3438

[2018-09-08 17:58] jinkhya opened #2437 "Unlimited use of food in a bowl."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3440.jar
- Forge version: 2707
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

- Plugins/Mods:
Sevtech v. 3.0.8
Minecraft, Minecraft Coder Pack, spongeAPI, SpongeForge, AdamantineShield, Catclearlag, Enjin Minecraft Plugin, GriefPrevention, Luckperms, MMCRestrict, Nucleus, Prism

When you eat s

[2018-09-09 07:35] Neonit commented on #2192
Could be connected: https://github.com/rolandoislas/multi-hotbar/issues/56

[2018-09-09 19:14] Faithcaio commented on #2429
Sorry took a while.
Try again with latest.
Haven't implemented lens reuse but this should be faster for large inventories already.

[2018-09-10 00:36] Shybella commented on #2405
https://pastebin.com/raw/0U3tV4qS

That's with build 3440.

[2018-09-10 01:28] PoroUsedSnax opened #2438 "Error teleporting cross-dimension"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3431 (Also tested with 3442)
- Forge version: 1.12.2-14.23.4.2705
- Java version: 1.8.0_181
- Operating System: Linux

- Plugins/Mods: https://gist.github.com/PoroUsedSnax/9ddb81c3fa6561a31d51c578d56545ca

**Issue Description**
When a player teleports cross-dimension (Tested with /spawn and /home from Nucleus and

[2018-09-11 09:12] ST-DDT commented on #2367
IMO the API version has to be part of the name/version suffix.
I would go as far as saying that the current way of referencing the API is almost perfect. It only needs an indicator that it refers to an API preview of the next release. (I don't care whether we limit the API version to 2 parts or not)

Example:

* spongeforge-PRE7.2.0-...4000.jar
* spongeforge-7.1.0-...3661.jar

This has the followi

[2018-09-11 15:25] gabizou commented on #2367
To summarize the issue:
API version is **required**
Minecraft version is **required**
Signifying an implementation is depending on a bleeding API **required**
Forge build version **required** (though Forge may be changing version strings, pending some discussion with forge peeps)

Since we can't get maven publishing to auto increment builds, but we can get some git-fu tasks to "calculate" the amou

[2018-09-12 00:22] ryantheleach commented on #2367
@gabizou Your latest reply seems ambiguous to whether 7.1 represents a **released** API version, or the current 'snapshot' version. This is arguably the most important point to me, and plugin devs being nagged by server admins on Ore.

@ST-DDT

I would go as far as saying that the current way of referencing the API is **terrible**, causes undue pressure on plugin authors to 'update' to bleeding AP

[2018-09-12 05:56] gabizou commented on #2367
I'd say what I said before (I wrote my example as `7.1` because that's the most current released version), decrease the API minor version if it has not been released yet (or if the minor version is already `0` and we're still in `SNAPSHOT`, means we're on a bleeding branch, and then the `PRE` is applied in replacement to `RB`), leading to say that we have *guaranteed support* for that API release

[2018-09-12 12:05] ginyai opened #2439 "Something blocking Forge's AttackEntityEvent"
Forge event `AttackEntityEvent` does not fire.
#1256 is still in API6/7

[2018-09-12 16:17] phit commented on #2439
https://github.com/SpongePowered/SpongeForge/blob/stable-7/src/main/java/org/spongepowered/mod/mixin/core/fml/common/eventhandler/MixinEventBus.java#L96

[2018-09-12 16:49] phase commented on #2367
I want to back this up with the Ore perspective. Ore is **flooded** with people using snapshot APIs, and it's greatly in part to how we market our API versions. This is bad for server owners who are wanting to look for something that matches their setup. An API & MC Version filter will be coming soon, but having people depend on these unstable APIs is inherently bad!

[2018-09-12 22:43] pie-flavor opened #2440 "Catalog types not working correctly"
On 2705-3442, on 2705 Forge, with a Pieconomy-backed economy, the following line returns an empty optional (when the getAllOf call returns a non-empty collection):
[code]
This behavior is not reproducible on SpongeVanilla.

[2018-09-13 05:07] gabizou commented on #2439
Originally added [*nearly* 3 years ago](https://github.com/SpongePowered/SpongeForge/commit/516ca4b07cf82795bde189c7e3cc6439ad4f0166#diff-e136d0f5f960839144bd45ccc3e2d104R67)... @bloodmc not sure if you remember why this was added, don't know how the attackentityevent was to be implemented normally...

[2018-09-14 00:32] Keaton1188 opened #2441 "Ender IO / Sponge"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3442.jar
- Forge version: 14.23.4.2739
- Java version: Java openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: Direwolf20 1.12.2

**Issue Description**
When placing Ender IO energy conduits, or attempting to upgrade I sh

[2018-09-14 00:35] phit commented on #2441
update enderio, this was fixed on their end

https://github.com/SleepyTrousers/EnderIO/issues/4766#issuecomment-406801898

[2018-09-14 00:35] #2441 closed, assigned to nobody

[2018-09-14 00:58] phit commented on #2438
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2355

[2018-09-14 00:58] #2438 closed, assigned to nobody

[2018-09-14 01:03] phit commented on #2394
gonna close this we have plenty of options to help with collisions and as gabizou said, there's nothing really left to optimize

[2018-09-14 01:03] #2394 closed, assigned to bloodmc

[2018-09-14 01:10] phit commented on #2353
https://github.com/asiekierka/FoamFix/issues/166#issuecomment-415294287

[2018-09-14 01:10] #2353 closed, assigned to nobody

[2018-09-14 01:11] phit commented on #2350
gonna assume this was fixed by the mod, thanks @0SoggyMustache0
once the new zawa build is out and this still happens please open a new issue

[2018-09-14 01:11] #2350 closed, assigned to nobody

[2018-09-14 01:18] phit commented on #2424
https://github.com/McJtyMods/LostCities/pull/102
mod bug

[2018-09-14 01:18] #2424 closed, assigned to nobody

[2018-09-14 01:19] phit commented on #2407
gonna close this then, if this happens again make a new issue with an updated stacktrace

[2018-09-14 01:19] #2407 closed, assigned to nobody

[2018-09-14 01:23] phit commented on #2384
https://github.com/AppliedEnergistics/Applied-Energistics-2/blob/bbf4d4a9ce36cee0d0e467972ea05c365299baba/src/main/java/appeng/items/storage/ItemSpatialStorageCell.java#L144

line of crash

[2018-09-14 01:29] phit commented on #2337
@mmis1000 did you get any logs for this?

[2018-09-14 01:30] #2335 closed, assigned to nobody

[2018-09-14 01:35] phit commented on #2297
@MoeShimaKaze does this still happen on newer versions (3400+)?

[2018-09-14 01:44] #2210 closed, assigned to nobody

[2018-09-14 01:45] phit commented on #2210
config system was reworked since then if this is still an issue on latest please open a new issue

[2018-09-14 01:45] #2207 closed, assigned to Aaron1011

[2018-09-14 01:46] phit commented on #2276
closing in favor of the newer issue

[2018-09-14 01:46] #2276 closed, assigned to nobody

[2018-09-14 01:51] #2169 closed, assigned to nobody

[2018-09-14 01:55] phit commented on #2109
https://github.com/SpongePowered/SpongeForge/issues/2368

[2018-09-14 01:55] #2109 closed, assigned to nobody

[2018-09-14 02:07] gabizou commented on #2368
Has there been any more logging output of the overflow or has the overflow ceased?

[2018-09-14 04:25] mmis1000 commented on #2337
@phit
here is
sponge version: spongeforge-1.12.2-2705-7.1.0-BETA-3415.jar
log: https://transfer.sh/Ap9x0/latest.log

[2018-09-14 07:25] Faithcaio commented on #2337
well thats useless.. Apparantly message formatting is done differently here

[2018-09-14 10:30] mmis1000 commented on #2337
@Faithcaio
I remember that there is pr in sponge forge or sponge common that fix the formating issue here, not sure if it is merged.
I will try to upgrade to latest and try again later.

[2018-09-14 10:50] Faithcaio commented on #2337
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/mixin/core/item/inventory/MixinContainer.java#L560 still there.
Dont remember seeing smth to fix it.

[2018-09-14 13:13] mmis1000 commented on #2337
@Faithcaio
https://github.com/SpongePowered/SpongeCommon/issues/2090

Turns out issue opened 12 days ago but no PR yet.

[2018-09-14 15:26] Faithcaio commented on #2337
now again with the correct formatting

[2018-09-14 16:00] mmis1000 commented on #2337
@Faithcaio
Here is
https://transfer.sh/TXOoK/latest.log#
And I may found the root cause in my case
I open the hopper(5 Slot) after I clicked one of the item in Big Chest(54 slot)

And some race condition happened, cause sponge(or maybe vanilla) try to find slot 51 in hopper(which is obviously out of index)

Same situation may be applied to some containers that switch from a bigger one to smaller o

[2018-09-14 17:26] Shybella commented on #2379
Still occurring with 3440.

Anything I can do to help provide more information on this?

[2018-09-14 18:33] Faithcaio commented on #2337
Thanks didn't think about that when I added the empty Transaction when the event had none.
So should be fixed with latest then...

[2018-09-14 19:01] mmis1000 commented on #2337
@Faithcaio confirmed, issue is gone for me in latest sponge forge version (3445)

[2018-09-14 19:03] #2337 closed, assigned to nobody

[2018-09-14 23:29] PoroUsedSnax commented on #2429
Apologies I took some time myself to try it out, got a bit busy the past few days, I've updated to Sponge 3445 currently and I'm still seeing issues between Sponge and Storage Drawers with hoppers.

[2018-09-15 04:33] LemADEC commented on #2394
Sounds like denial to me.

Le jeudi 13 septembre 2018, phit <notifications@github.com> a écrit :

[2018-09-15 04:38] Zidane commented on #2394
@LemADEC

Have you read the code that is running there? If so, make a PR and prove others wrong. @gabizou gave you a clear and concise definition of what is going on and some changes you can make on your end. Try doing that before running your mouth and making a fool of yourself.

[2018-09-15 07:45] mmis1000 opened #2442 "Broken command block"
**I am currently running**

- SpongeForge version: 3442
- Forge version: 2759
- Java version: openjdk8
- Operating System: linux

- Plugins/Mods: FML, forge, spongeapi, sponge, foamfixcore, randompatches, appleskin, foamfix, galaxy, jei, journeymap, jmfixer, luckperms, spongeprometheusexporter, vanillafix, villagemarkersponge

**Issue Description**

After update to sponge 3442 from 3438, command b

[2018-09-15 15:42] noremac09 opened #2443 "Piston duplication blocks issue"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3445
- Forge version: 14.23.4.2705
- Java version: java version "1.8.0_144"
- Operating System: Linux

- Plugins/Mods:
Mods (14): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, BiblioCraft, Chisel, Iron Chest, Pixel Extras, Pixelmon, RandomPatches, RandomTweaks, Tree Chopper

**Iss

[2018-09-15 15:43] noremac09 commented on #2443
I wrote with this problem to the developers of GriefPrevention, they said that the problem is not in their plugin, and said to write here.

[2018-09-15 15:45] mmis1000 commented on #2442
https://github.com/SpongePowered/SpongeCommon/blob/cdc441d09840ed02545790c82bc2ede8f39e9d98/src/main/java/org/spongepowered/common/event/tracking/phase/general/CommandState.java#L106

Error seems cause by this line.
Command block can be triggered without user interation at all.
But the line here always assume it can get User from the command.

And this may be a sponge common bug, not sure if this

[2018-09-16 21:14] Raycoms opened #2444 "PhaseContext Message"
SpongeForge version: 1.12.2-2705-7.1.0-BETA-3445
Forge version: 14.23.4.2705
Java version: 1.8.0_181
Operating System: Linux

All Plugins/Mpds: https://gist.github.com/PoroUsedSnax/9ddb81c3fa6561a31d51c578d56545ca

For some reason we've recently been getting some strange messages from sponge regarding our colonists. They don't mention enough details to debug it from our side so I will report it he

[2018-09-17 14:21] zhourui123 commented on #2427
i'm really really need help...

[2018-09-17 17:34] #2442 closed, assigned to Zidane

[2018-09-17 19:22] gabizou commented on #2367
Posting here again with some additional refinements and clarifications regarding recommended builds of implementation (and resolves versioning sponge common to be maven usable and ore definable):
This is a readme document to specify what sort of versioning standard Sponge will be adopting moving forward.

Currently, we have the following (all projects versioning currently):

### SpongeAPI:

Maven

[2018-09-17 20:06] jinkhya opened #2445 "Building tool Minecolonies bypasses protection"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3447.jar
- Forge version: 2751
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

- Plugins/Mods: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, CatClearLag, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MMCRestrict, Nucleus, Prism
Mods are just forge and minecol

[2018-09-18 02:26] Dockter commented on #2425
We've made a change in how our crops notify their neighbors (we forced them not to), we haven't seen issue since.  This is a unique case since we allow edge chunks to tick.

[2018-09-18 02:26] #2425 closed, assigned to nobody

[2018-09-18 02:53] gabizou commented on #2425
@Dockter you had me thinking though, would it have broken any logic if a recursive neighbor notification to the same position was ignored if the position was already notified but not changed? I had thought about potentially doing some "redundancy detection" in that way to avoid any problems like this, but your code might have been a rare anomaly of neighbor notifications.

[2018-09-18 04:09] Dockter commented on #2425
Well in the example provided I also removed the playermap lookup to have the server tick every loaded chunk regardless of it being populated with a player.

[2018-09-18 04:41] Shybella commented on #2380
I am also encountering this with monkmod1.4 and SF 3440

[2018-09-18 06:06] Mikirae commented on #1946
Not sure if this has been fixed and just not marked at all or something, but I spent three hours trying to fix my server due to this crash. Most people simply remove sponge when this happens to their world, but I was unable to do this because it happened in my secondary world. I spent three hours of my time trying to figure out how to fix this issue without deleting a dozen people's homes in my wo

[2018-09-18 15:29] Shybella commented on #2389
This is becoming a month old and no avail yet.

I've allowed pistons to not be tracked by GP and still happening.

[2018-09-18 15:31] Shybella commented on #2443
Is this only happening inside of a GriefPrevention claim?

[2018-09-18 16:35] noremac09 commented on #2443
No. It seems to me that during block duplication there is some microlag on the server. How can I gather more information for developers? I am well aware that the video is almost nothing clear. Why even look for a mistake?

I also came to the conclusion that this bug does not work on an empty server.

[2018-09-18 16:44] Shybella commented on #2443
https://www.youtube.com/watch?v=rH83o5Bo3nU&feature=youtu.be

I'm using SF 3440.<s> I'm unable to reproduce.</s> I have 20 players online too, not empty.

Correction:

http://prntscr.com/kvvvon

It does duplicate. Can confirm.

[2018-09-18 17:00] Shybella commented on #2380
http://prntscr.com/kvw13p

Seems to start working at times.

[2018-09-18 18:00] Y0ungSandwich commented on #2380
Yeah we noticed that too. In console it will spam all levels gained at once. Players can't get past I think level 18 though.

[2018-09-18 18:09] MorbiusStorm opened #2446 "FTB Revelation 2.5.0 is a no go with SF."
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361
- Forge version: 14.23.4.2759
- Java version: 1.8.0_102
- Operating System: Linux (amd64) version 3.10.0-514.26.1.el7.x86_64

- Plugins/Mods: FTB Revelation 2.5.0

FTB Revelation 2.5.0 doesn't work with SpongeForge. Tried with 3361, 3445, 2447, 3448, and even 8.0.0-3449 (for giggles I guess). Revelation 2.4.1 works. I'm

[2018-09-18 18:11] gabizou commented on #2446
Try running foam fix lawful or remove foam fix entirely.

Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2432

[2018-09-18 18:11] #2446 closed, assigned to nobody

[2018-09-18 18:12] gabizou commented on #2443
Is panda redstone enabled or disabled?

[2018-09-18 18:17] gabizou commented on #1946
The bug is rather complicated to fix as the source of the bug is not at all evident, even with the logs. The problem is reproducing in a local development environment to "see" when things are changing that we end up having an NPE (because even with the stack traces, it's not identifiable what is null under what context). I understand the frustration that the issue is causing, but resorting to comp

[2018-09-18 19:04] phit commented on #2446
open your foamfix config and disable `general.patchChunkSerialization`

[2018-09-18 19:18] MorbiusStorm commented on #2446
That seems to fix it. I also got it going by setting coremods forceDisable to true. But that option seemed like the sledgehammer method before just deleting the mod. Thanks for the help. Perhaps others will find this solution when they try to update from Revelation 2.4.1 to 2.5.0

[2018-09-18 20:59] #1946 closed, assigned to nobody

[2018-09-18 21:13] gabizou commented on #1946
To summarize from the commits, there is what on the surface looks like a workaround, but is likely a byproduct of the nature how chunk loading is piped through the chunk loader on the server versus just normal world generation on the client. The root cause is that because structures are being requested outside the world generation pipeline that sponge otherwise controls, sponge has to delegate bac

[2018-09-18 21:18] noremac09 commented on #2443
Enabled. I just checked this bug with Panda Redstone disabled, still duplicating blocks :(

[2018-09-18 21:28] gabizou commented on #2443
Just making sure it's not related (reduces the amount of mixins I have to thread through to find the dupe).

Overall, is there any faster way to reproduce the dupe? I'm assuming there's some math involved somewhere if this is extremely time related.

[2018-09-18 21:35] noremac09 commented on #2443
The bug reproduces with both enabled and disabled panda-redstone.

I don't know how to reproduce this dupe faster.

If there are any tools that can help in collecting information? I'll put them on my server and we can collect more information. I have a great online and it's ideal to reproduce when there are people on the server.

[2018-09-19 01:15] gabizou commented on #2367
@SpongePowered/developers @SpongePowered/docs @SpongePowered/ore Updated the original description of the issue for a more finalized proposal. Please bring up any issues or comments for changes as the format will be final very soon.

[2018-09-19 05:54] #2427 closed, assigned to nobody

[2018-09-19 16:22] avescarelo opened #2447 "JurassicCraft and more (some console spam)"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3440
- Forge version: 2760
- Java version: 8
- Operating System: Linux

- Plugins:
ActionBroadcaster, AtherysCore, AtherysParties, FAWE, griefprevention, LuckPerms, Nucleus, shabbyholograms, TotalEconomy, ucfa, UltimateChat, VoxelSniper

- Mods:
Antiqueatlas, AppleCore, AutoRegLib, Carry-On, ContainerFix, Earthworks, JEI, JurassiCraft,

[2018-09-19 20:31] ImMorpheus commented on #2236
See https://github.com/SpongePowered/SpongeCommon/pull/2062

[2018-09-19 20:31] #2236 closed, assigned to gabizou

[2018-09-20 05:19] gabizou commented on #2367
Having discussed it with Zidane, we're deciding the issue description in OP is the final format.

To summarize, the new format is:

Project | Format | Comments
---|---|---
SpongeAPI | `{APIMajor}.{APIMinor}(-SNAPSHOT)` | Remove patch version,
SpongeCommon | `{MC}-{APIMajor}.{LatestAPIMinorRelease}.{RecommendedVersion}(-SNAPSHOT)` | Add MC. Use only the latest released SpongeAPI version. Recommende

[2018-09-20 08:42] Inscrutable commented on #2367
SpongeDocs can expand the [current versioning page](https://docs.spongepowered.org/stable/en/contributing/versioning.html) to include the new version formatting, retaining an explanation of the old style "Legacy format" and it's deprecation date. Probably also including the first and last builds of each so users can easily see where the change took place.

[2018-09-20 16:40] yaroslav4167 opened #2448 "Bug witch DynamicTrees. Don't drop after break tree"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3454
- Forge version: 14.23.4.2758
- Java version: 8
- Operating System: Debian

- Plugins/Mods:
Plugins (24): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, AntiBot for Sponge, BlockyArena, Broadcast, CatClearLag, GriefPrevention, KeepInventorySponge, LuckPerms, MMCReboot, MMCTickets, MagiBrid

[2018-09-20 17:02] ImMorpheus commented on #2448
@yaroslav4167 do not use bit.ly links

Plugins/Mods: https://hastebin.com/pucuqesawu.hs

[2018-09-21 07:34] LXGaming commented on #2411
This bug also affects blocks from:
- Actually Additions
- Applied Energistics 2
- Cyclic
- Ex Compressum
- Extra Utilities 2

[2018-09-21 07:58] LXGaming commented on #2411
The bug was introduced in `1.12.2-2705-7.1.0-BETA-3401`

[2018-09-21 09:16] ryantheleach commented on #2367
I have a minor quibble with the UX of the terms RC vs RB, and was in mixed feelings of using the term

Preview, Pre Release, to represent RC instead,

On one hand it would match the semantics of minecraft pre release / experimental builds but apply to us instead,

On the other hand confusion could be had as users believe it's related to the mojang pre releases.

Overall I am extremely pleased with

[2018-09-21 09:35] Faithcaio commented on #2411
https://github.com/SpongePowered/SpongeCommon/compare/f9b0f113606d6ab0c0fb5cd9172953e4cb05e321...4fcbc235305bdfe1e401d0499b07970b9f1a8874#diff-a4b4fff4bbad85e9f3f3e4036493946c

[2018-09-21 11:59] LXGaming commented on #2411
It appears that Sponge is doing a double insert with certain modded inventories

Commenting out this line prevents the duplication from happening
https://github.com/SpongePowered/SpongeCommon/blob/cdc82f577079cc9a5f6bf527433a7ea3e30723e5/src/main/java/org/spongepowered/common/event/SpongeCommonEventFactory.java#L1346

[2018-09-21 19:03] FrayFox opened #2449 "Flan's Mod invalid event annotation"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3455
- Forge version: forge-1.12.2-14.23.4.2759
- Java version: Version 8 update181
- Operating System: Windows10

- Plugins/Mods:
 Plugins (14): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, LangSwitch, Lottery, LuckPerms, MMCRestrict, Nucleus, ProjectCore, RankUpper, Total Economy, V

[2018-09-21 20:20] TheFlash787 opened #2450 "[Latest] WorldServer missing? Crash on updateTimeLightAndEntities()"
**I am currently running**
- SpongeForge version: 2705-7.1.0-BETA-3448
- Forge version: 2751
- Java version: 1.8.0_171
- Operating System: Ubuntu 16.04
- Plugins/Mods:
Enigmatica 2 Expert Skyblock: https://gist.github.com/TheFlash787/a9abc11c3ff1012a498780fe79b23d77

**Plugins:** https://gist.github.com/TheFlash787/50bfa77f739d24d7c5037423559dad2b

**Issue Description**

Recently, I have been gett

[2018-09-21 20:35] Dockter commented on #2450
Offline mode server?

[2018-09-21 20:59] TheFlash787 commented on #2450
@Dockter Yes, this is running with Bungee

[2018-09-21 21:13] phit commented on #2450
was caused by unloader https://minecraft.curseforge.com/projects/unloader
also see https://github.com/SpongePowered/SpongeForge/issues/2195

[2018-09-21 21:13] #2450 closed, assigned to nobody

[2018-09-21 23:37] LXGaming commented on #2411
Stacktrace: https://gist.github.com/LXGaming/75f2ba6f4b7608998f25f646711b6b1f

The 1st insert is done by Sponges transaction capture system.
The 2nd is done by [IItemHandlerAdapter.java](https://github.com/SpongePowered/SpongeForge/blob/b6f1bafb06f1b7a0111957e6a8960cf271593c71/src/main/java/org/spongepowered/mod/item/inventory/adapter/IItemHandlerAdapter.java) and [IItemHandlerFabric.java](https:/

[2018-09-22 11:25] Faithcaio commented on #2411
Thanks for investigating.

This all actually happens because of
`IItemHandlerFabric#setIItemHandlerStack`
which cannot reliably remove items from an IItemHandler.
As such "setting" the final item of a transaction is not possible.

Actually the `extractItem` code in there is currently never called because there is still a null check instead of isEmpty on the item.
But even fixing that will not fix

[2018-09-22 12:02] Faithcaio commented on #2411
Fixed in latest. (tested with enderio sagmill)
I print out a warning once for every IItemHandler that I detect not allowing to remove items.
After that all `setStack` operations on it will be ignored.
As such canceling `ChangeInventoryEvent.Transfer.Post` will not work for such inventories.
Plugins could still use the `Pre` event to cancel before any items were moved.

[2018-09-22 12:02] #2411 closed, assigned to nobody

[2018-09-22 13:48] Faithcaio commented on #2411
While investigating further I found `IItemHandlerModifiable` in Forge.
If the modded inventory would implement that I could use the `setStackInSlot` to revert stuff.

[2018-09-22 14:30] Shybella commented on #2411
Good stuff, I'll test this out later today.

[2018-09-22 21:40] noremac09 commented on #2443
Update: works with 3458 build.

[2018-09-23 17:24] BrandHyde commented on #2405
https://pastebin.com/L0ebkatm

Sponge build 3442.

[2018-09-23 19:05] alicheek opened #2453 "Forge mismatch for sponge forge 2705 and modpacks moving to forge 2760"
Hey Team,

Just a query regarding the current forge version 2705 that is being used for builds of sponge.

Recently both DW20 1.12.2 and Stoneblock modpacks have updated with the version for forge: .2760

I have tried to run our servers with the new version and the latest sponge version but i get the following error due to the forge mismatch i believe: https://pastebin.com/766T05c3

Is there a pos

[2018-09-23 21:11] ImMorpheus commented on #2453
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2434

[2018-09-23 21:11] #2453 closed, assigned to nobody

[2018-09-24 03:13] FrayFox opened #2454 "Crash on Startup"
I am currently running

SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
[crash-2018-09-23_21.09.53-server.txt](https://github.com/SpongePowered/SpongeForge/files/2409512/crash-2018-09-23_21.09.53-server.txt)

Forge version: forge-1.12.2-14.23.4.2759
Java version: Version 8 update181
Operating System: Windows10
Plugins/Mods:
Plugins (14): Minecraft, Minecraft Coder Pack, SpongeAPI, Spo

[2018-09-24 07:16] OldKingisdie opened #2455 "1.12.2 when a player create a FTBteam the server will crash"
**I am currently running**

- SpongeForge version: sponge-3456
- Forge version: 2705
- Java version: java8
- Operating System:linux
- Plugins/Mods:

FTBLib-5.1.0.22
FTBUtilities-5.1.0.27

**Issue Description**

Server crash when player create a FTBteam

[code]

[2018-09-24 18:29] jinkhya opened #2456 "Applied Energistics 2 : memory card won't save configuration to link tunnels"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3440.jar
- Forge version: 2715
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

Plugins/Mods: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, CatClearLag, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MMCRestrict, Nucleus, Prism

modpack : ATM3

**Issue Descript

[2018-09-24 18:52] Shybella commented on #2456
I also encounter this on SF: 3450

This does not happen on 3361.

[2018-09-24 18:57] jinkhya commented on #2456
oh good to know, thank you.

[2018-09-25 10:04] jinkhya commented on #2456
It seems to have fixed itself after a restart, not sure if it will or won't derp again.

[2018-09-25 15:48] TheNullablePrototype commented on #2443
A piston(not sticky) also duplicates the blocks in the case of the Shulker.

[2018-09-25 16:04] Shybella commented on #2443
https://github.com/SpongePowered/SpongeForge/issues/2346

Shulker has tons of dupes, for some reason that's marked as mod incompatibility but happens without any mods but spongeforge.

[2018-09-25 16:05] Shybella commented on #2346
There is a bigger issue here beyond just mod incompatibility. You can reproduce this same dupe effect without mods on shulker boxes. This stuff does not happen with SF uninstalled.

Even if the mods are at fault, which is 3-5 mods currently able to reproduce this same dupe in several ways, it does not happen with SF. Therefore, SF is the problem even if its the mods fault. Consideration needs to b

[2018-09-25 16:07] Shybella commented on #2456
It will, that same-thing happens to me as-well

Yes, if theres anyway we can provide for information to speed the fix of this up we will gladly help.

[2018-09-25 16:31] Shybella commented on #2418
This seems to have resolved itself and maybe a fix was made in the latest builds.

[2018-09-25 16:31] #2418 closed, assigned to nobody

[2018-09-25 16:32] Shybella commented on #2435
The issue has gone away and was handled in #bugs on discord.

[2018-09-25 16:32] #2435 closed, assigned to nobody

[2018-09-26 00:37] Keaton1188 opened #2457 "Update/sponge - crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3460
- Forge version: 14.23.4.2760
- Java version: Java openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: Dw20 1.12/Sponge

**Issue Description**
Hi there.. created a fresh Dw20 1.12 server, all working fine.. added the

[2018-09-26 00:38] phit commented on #2457
https://github.com/SpongePowered/SpongeForge/issues/2446#issuecomment-422510456

[2018-09-26 00:38] #2457 closed, assigned to nobody

[2018-09-26 03:21] luenlin commented on #2439
@gabizou @phit @Aaron1011 @bloodmc
This kind of problem has caused a lot of errors, please fix it as soon as possible.

[2018-09-26 04:28] liach commented on #2439
@luenlin please do not ping so many developers at once. They are always going to fix it.

[2018-09-26 05:19] SawFowl opened #2458 "Conflict with mod Tiquality."
**I am currently running**
- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3460
- Forge version: 14.23.4.2747
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
- Operating System: Debian 9

- Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, Holograms, HuskyCrates, HuskyUI

[2018-09-26 05:24] phit commented on #2458
gonna need some more info on what doesnt work and how to reproduce it, also the mod in question is in very early alpha.. may wanna go to the mod dev first and see if its just an issue on their end

[2018-09-26 05:25] phit commented on #2455
update ftb utilities

[2018-09-26 05:25] #2455 closed, assigned to nobody

[2018-09-26 05:27] phit commented on #2454
your `sponge_level.dat` is corrupted

restore it from a backup, in the future make sure to shut down your server properly, stuff like this is usually caused by harddrive issues or server power loss

[2018-09-26 05:27] #2454 closed, assigned to nobody

[2018-09-26 05:30] phit commented on #2447
possibly related to https://github.com/SpongePowered/SpongeForge/issues/2403

[2018-09-26 05:35] LeonPhilips commented on #2458
You have to add the liquids to the whitelist using /tiquality add <feet|below>

This is not a spongefore issue!

[2018-09-26 05:36] phit commented on #2346
@Shybella write a simple reproduction without mods or a minimal mod list needed, that can help reproducing it quicker in dev env

[2018-09-26 05:36] #2458 closed, assigned to nobody

[2018-09-26 05:46] phit commented on #2437
I can't reproduce this using spongeforge-1.12.2-2705-7.1.0-BETA-3460

Closing this for now. If this is still an issue for you, please let us know and provide relevant new info, like which mods exactly are required to reproduce this. Testing with a huge modpack is not really an option.

[2018-09-26 05:46] #2437 closed, assigned to nobody

[2018-09-26 05:51] phit commented on #2436
can't reproduce with
spongeforge-1.12.2-2705-7.1.0-BETA-3460.jar
TConstruct-1.12.2-2.10.1.87.jar
Mantle-1.12-1.3.2.24.jar

please add more information what mods are needed to reproduce this, and no testing a full modpack is not an option.. please figure out which minimal modset is needed!

once that information has been supplied I'll be happy to reopen the issue, thanks

[2018-09-26 05:51] #2436 closed, assigned to nobody

[2018-09-26 05:54] phit commented on #2423
No reply in a while week, closing this for now. If this is still an issue, then please reply with the information you have been asked for and I will reopen this issue.

[2018-09-26 05:54] #2423 closed, assigned to nobody

[2018-09-26 05:56] phit commented on #2297
Closing this for now. If this is still an issue for you, please let us know and provide relevant new info.

[2018-09-26 06:02] phit commented on #2445
https://github.com/ldtteam/minecolonies/blob/0384d90ff1f081ef3b806c2dc7abef3d0d21509a/src/main/java/com/minecolonies/coremod/network/messages/BuildingMoveMessage.java#L141

[2018-09-26 06:03] phit commented on #2445
https://github.com/ldtteam/minecolonies/blob/0384d90ff1f081ef3b806c2dc7abef3d0d21509a/src/main/java/com/minecolonies/coremod/network/messages/BuildingMoveMessage.java#L141

[2018-09-26 08:10] LemADEC commented on #2346
The initial report already reproduced the bug with a single mod, what do you need more?

[2018-09-26 09:31] SawFowl commented on #2458
@TerminatorNL Problems are observed even with water and lava. These liquids are already in the white list.

[2018-09-26 15:56] LeonPhilips commented on #2458
@Mr-Krab please refer to the new issue located [here](https://github.com/TerminatorNL/Tiquality/issues/1)

[2018-09-26 16:47] phit commented on #2346
sorry, I was mainly referring to this

[2018-09-26 16:51] Faithcaio commented on #2429
Now we reuse lenses made for IItemHandlers.
If it is still an issue with latest please provide new profiler output.

[2018-09-26 16:51] #2429 closed, assigned to nobody

[2018-09-26 18:12] #2449 closed, assigned to nobody

[2018-09-26 18:34] gabizou commented on #2456
So, to reproduce this issue, what steps do I need to do?
AE2 + SpongeForge
1) Place a P2P Tunnel
2) Shift right click on placed tunnel
3) Get error?

[2018-09-26 18:57] FrayFox opened #2459 "Cause Stack Frame Corruption!"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3461
- Forge version: 1.12.2-14.23.4.2759
- Java version: Java8U181
- Operating System: Win10

- Plugins/Mods:
 Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, LangSwitch, Lottery, LuckPerms, MMCRestrict, Nucleus, ProjectCore, RankUpper, Total Economy, VillagerShops, WalletDrop

Mods (4

[2018-09-26 22:43] phit commented on #2459
add your full debug.log please

[2018-09-26 23:07] phit commented on #2328
couldn't even test this on latest, rocket simply doesnt launch

LibVulpes-1.12.2-0.2.8-37-universal.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3460.jar
AdvancedRocketry-1.12.2-1.4.0-102-universal.jar

https://gist.github.com/phit/062c0fb634c29fb877caca8a5de6500e

test world: https://phit.link/s/adv_rocketry_launch_test.zip

[2018-09-26 23:47] FrayFox commented on #2459
Just added to post and this comment
https://gist.github.com/FrayFox/a19c23ab4ee254afc7de5a56d024496f

[2018-09-27 00:05] phit commented on #2459
@dualspiral any idea whats happening here?

[2018-09-27 00:40] #2439 closed, assigned to Aaron1011

[2018-09-27 01:16] phit commented on #2346
can't reproduce this with pistons.. but I did reproduce this with the portal gun

PortalGun-1.12.2-7.0.2.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3460.jar
iChunUtil-1.12.2-7.1.4.jar

[2018-09-27 01:39] LemADEC commented on #2346
Issue is reproduced with Dark Matter pickaxe in any non-standard mode. Default keys are G to toggle mode, and V to increase power.

spongeforge-1.12.2-2705-7.1.0-BETA-3422 in SSP
ProjectE-1.12-PE1.3.1B

Also reproduced in SMP with full pack running spongeforge-1.12.2-2705-7.1.0-BETA-3455.

Notable difference: ProjectE is open source.

[2018-09-27 01:58] FrayFox opened #2460 "Could not pass DestructEntityEvent$Death$Impl to Plugin"
I am currently running

SpongeForge version: 1.12.2-2705-7.1.0-BETA-3461

Forge version: 1.12.2-14.23.4.2759

Java version: Java8U181

Operating System: Win10

Plugins/Mods:
Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, LangSwitch, Lottery, LuckPerms, MMCRestrict, Nucleus, ProjectCore, RankUpper, Total Economy, VillagerShops, WalletDrop

Mods (47): Minecra

[2018-09-27 02:02] phit commented on #2460
report the errors to `walletdrop`, the crash looks unrelated something is locking up during file saves in the windows file system

[2018-09-27 02:02] #2460 closed, assigned to nobody

[2018-09-27 08:34] #2346 closed, assigned to nobody

[2018-09-27 08:40] gabizou commented on #2346
Give the new build a shot. I'm almost positive the commit fixed very much the same issue with ProjectE.

[2018-09-27 13:01] OldKingisdie opened #2461 "Server crash.and the crash-report say cause by sponge"
**I am currently running**

- SpongeForge version: 3458
- Forge version: 2705
- Java version: java8
- Operating System:linux

- Plugins/Mods:
   in crash-report
**Issue Description**
    I find boss with fast speed in Twilight forest . Twilight forest chunks generation too fast and then my server crash . and I found the crash-report mention sponge.so maybe it's a sponge error?

[code]

[2018-09-27 16:53] gabizou commented on #2461
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2405

[2018-09-27 16:53] #2461 closed, assigned to nobody

[2018-09-27 19:46] LemADEC commented on #2346
Issue is still reproduced with a fresh world including:
- spongeforge-1.12.2-2705-7.1.0-BETA-3465
- ProjectE-1.12-PE1.3.1B
- jei_1.12.2-4.12.1.217

Issue is still reproduced with a fresh world including:
- ProjectE-1.12-PE1.3.1B
=> not a sponge issue

Issue is no longer reproduced with
- spongeforge-1.12.2-2705-7.1.0-BETA-3465
- PortalGun-1.12.2-7.0.2
- iChunUtil-1.12.2-7.1.4

=> issue is fixed

[2018-09-27 22:44] phit commented on #1812
reproduced in dev env using 1.12.2-2705-7.1.0-BETA-3465 with industrialcraft-2-2.8.100-ex112.jar

breaks the tileentity only leaving block behind
[code]
same thing also seems to happen with simply cancelling the event

[code]

https://phit.link/s/2018-09-28_00-43-44.webm

[2018-09-27 22:57] phit commented on #1811
industrialcraft-2-2.8.100-ex112.jar
1.12.2-2705-7.1.0-BETA-3465

still an issue, tested with the advanced miner, you get blocks that arent removed from the world even when the event is cancelled, looks like ic2 may not respect the forge event being cancelled?

[2018-09-27 23:40] phit commented on #2211
reproduced with
1.12.2-2705-7.1.0-BETA-3465
careerbees-0.4.0.jar
forestry_1.12.2-5.8.1.344.jar

most likely related to https://github.com/SpongePowered/SpongeForge/issues/2293

https://github.com/rwtema/Careerbees/blob/6a0e67cfd7132320d4f70f0a745484458de1dd54/src/main/java/com/rwtema/careerbees/entity/PlacedBeeManager.java#L104

the data is simply not being saved, or stripped when read haven't act

[2018-09-28 03:12] phit commented on #2347
https://gist.github.com/phit/afdc9c42b3c215f807361f6ac9cc33a1

still an issue on 1.12.2-2705-7.1.0-BETA-3465

repro place down an industrial workbench from IC2 and craft something in it

[2018-09-28 04:06] phit commented on #2456
can't reproduce this with
appliedenergistics2-rv5-stable-11.jar
1.12.2-2705-7.1.0-BETA-3465

is there anything special you need to do to "break" it otherwise this is gonna be hard to debug

[2018-09-28 06:00] SimonFlash opened #2462 "Inconsistent order of InteractItem and InteractBlock events"
Sponge Version: 1.12.2-2705-7.1.0-BETA-3465
Forge Version: 14.23.4.2705

The documentation for [`InteractItemEvent`](https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/event/item/inventory/InteractItemEvent.java#L35-L36) state `Canceling this event will halt any future actions from occurring`.

The documentation for [`Player

[2018-09-28 06:02] #1812 closed, assigned to nobody

[2018-09-28 12:08] sfxworks opened #2463 "Attempt made to initialize dim which isn't registered - spam"
**I am currently running**
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
Minecraft Forge: 14.23.4.2705

Java version: openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

Operating System: CentOS Linux release 7.5.1804 (Core

- Plugins/Mods:
[code]

**Issue Description**

[2018-09-28 17:30] #2347 closed, assigned to nobody

[2018-09-28 17:39] Shybella commented on #2405
This just happened to only me by teleportation to a already generated chunk.

This has nothing to do with on chunk generation only happening as I thought and has nothing to do with CoFH Thermal Foundation.

[2018-09-28 18:01] Rasgnarok commented on #2443
Having the same issue with latest recommended and above, https://cdn.discordapp.com/attachments/471732400112795648/494966331125399552/2018-09-27_13.19.17.png. Has there been any debug proposed?

I have panda-redstone enabled, and GP. The piston head seems to be invisible, yet still activates and pushes the shulkerbox, causing duplication into other blocks. Let me know if I can debug in a better wa

[2018-09-28 18:57] Faithcaio commented on #2383
Ok so..
`DestructEntityEvent.Death#setKeepInventory` does not set the gamerule it just makes it so the player inventory is not cleared and so no items are dropped.
The `PlayerDropsEvent` is then fired by Sponge with an empty drops list.
Then baubles adds its items to that the list. [see here](https://github.com/Azanor/Baubles/blob/master/src/main/java/baubles/common/event/EventHandlerEntity.java#L

[2018-09-28 19:05] Shybella commented on #2405
[code]

[2018-09-28 19:18] gabizou commented on #2405
Ok, a new build of SF should have the chunk packet debugging info that would probably show us more of the issue, build number 3468 should be the one to do it.

Please provide new logs if and when the crash/exceptions occur.

[2018-09-28 19:20] Besharia commented on #2405
I'm having the same problem on my server as well and it's causing a lot of trouble.

[2018-09-28 19:23] #2383 closed, assigned to nobody

[2018-09-28 19:23] gabizou commented on #2405
As I just commented, a new build with some better information is ~going to be~ available, please update to that one and provide new logs.

Edit: [SF 3468  is available on spongeforge downloads from sponge.](https://www.spongepowered.org/downloads/spongeforge/stable/1.12.2)

[2018-09-28 19:49] gabizou commented on #2443
I still have yet to find a way to reproduce this issue.

If the issue can be reproduced with just SpongeForge, I need to know how it can be reproduced with just SpongeForge (no GP interactions, no forge mod interactions), disable panda Redstone, note whether the TPS is struggling, whether there's no lag, etc. As of right now I still can't reproduce the dupe locally to be able to find out *why* it'

[2018-09-28 20:59] Shybella commented on #2443
The tick rate does affect if it duplicates.

[2018-09-28 21:02] gabizou commented on #2443
So... what sort of tick rate do we need to see the duplication occur? As you can imagine, slowing down the tick rate by itself doesn't do much for us, but the possibility of skipping scheduled updates (which pistons are crazy about) could potentially be the root of the issue where pistons are concerned.

[2018-09-28 21:07] Shybella commented on #2443
You can create a artificial source with 300 chickens in a 1x1. I have it happen nearly every-time on garbage collections.

[2018-09-28 22:47] Shybella commented on #2405
@sfxworks @Besharia @BrandHyde @OldKingisdie

Can you all load up all your crash reports that you have had with this problem and send them

We are trying to narrow it down to a coremod, I'm going through testing them right now, you can contact me on sponges discord

[2018-09-29 01:34] gabizou commented on #2405
For reference, the build will provide some enhanced logging when the crash happens. If possible, please provide the large amount of text towards the end of the log, including the log that is spat out before the exception/crash report. I do want some more debugging logs to get some variation of what data is being mishandled.

For those looking from the outside:

The issue that I've narrowed down to

[2018-09-29 10:48] luckyrill commented on #2406
I checked on the last build, the problem is not solved.
[Log](https://gist.githubusercontent.com/luckyrill/8f7772d3c582d387e93db08c2b3994be/raw/17f46ce3d2cba114d037e896be583320b83006c1/log)

[2018-09-29 12:30] Faithcaio commented on #2091
Pickup events fire just fine with only Sponge.
Relevant Sponge Code: https://github.com/SpongePowered/SpongeCommon/blob/a624e5c92e6a62cdb15df3d81624bab4863d22ed/src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityItem.java#L217

If you can reproduce it with minimal mods then I can investigate further.

[2018-09-29 12:33] Shybella commented on #2456
I will work on getting you a reliable reproduction method for you today or tomorrow. This may take longer to get

[2018-09-29 13:46] prokopiy opened #2464 "java.util.concurrent.ExecutionException: java.lang.NullPointerException"
**I am currently running**

- SpongeForge version: 3472
- Forge version: 2705
- Java version: 1,8
- Operating System: Ubuntu 16.04

java.util.concurrent.ExecutionException: java.lang.NullPointerException
<------>at java.util.concurrent.FutureTask.report(FutureTask.java:122) ~[?:1.8.0_181]
<------>at java.util.concurrent.FutureTask.get(FutureTask.java:192) ~[?:1.8.0_181]
<------>at net.minecraft.ut

[2018-09-29 15:28] gabizou commented on #2464
Steps to reproduce? Plugins? Mods?

From the stack trace alone:
[The mod isn't checking if a TileEntity is null or not](https://github.com/ebkr/Expansive-Energy/blob/c2e3816f674078a3d009afcf58a5cf2083dbf17f/src/main/java/com/ebkr/expansiveenergy/items/ItemExpansiveWrench.java). It feels as though the line of execution would have already resulted in a null regardless if sponge is installed or not.

[2018-09-29 16:21] #2406 closed, assigned to nobody

[2018-09-30 11:35] OldKingisdie commented on #2405
@gabizou This is my server new crash-report.maybe it‘s can help you
[code]

[2018-09-30 13:43] Shybella commented on #2405
We share 3 total Core-mods, Chisel, Sponge, EnderIO.
He's also using Forge 2705, I'm using 2760.

@OldKingisdie Have you been able to reproduce this on the fly or just does it randomly?

[2018-09-30 17:49] phit commented on #2297
found the cause by accident, die while having an item on your cursor

https://gist.github.com/phit/21b1640ea0fcd2bd4612beaeb22469af

repro, hop into a lava lake then die with your inventory open and an item on your cursor

[2018-09-30 17:49] OldKingisdie commented on #2405
@Shybella randomly..........I don't found any regularity

[2018-09-30 22:27] LXGaming commented on #2405
Might want to check that this isn't fucking with anything: https://github.com/SleepyTrousers/EnderCore/blob/d0e32a34ff9aacfc5592463b3a5bd9749ab950e1/src/main/java/com/enderio/core/common/transform/EnderCoreTransformer.java#L122-L143

I did try to reproduce this issue with just EnderCore but as this bug appears to be rare and random it's difficult to do so.

[2018-09-30 22:45] Shybella commented on #2405
Yes, spent 5-6 hours yesterday trying to reproduce it in a manner that would be helpful but coming up short.

Although, I do believe you are on to it there. The world I had a massive increase recently with this crash did get new additions to generation and glowstone was added at high rates. If it is due to light calucations that does make sense why it's happening more.

I will boot up a test world

[2018-10-01 01:13] OldKingisdie commented on #2405
crash-again
[code]

[2018-10-01 01:17] Shybella commented on #2405
Yeah, no faster reproduction with the world filled with much higher rates of glowstone.

[2018-10-03 19:54] billbertking1 commented on #2405
I'm also having this crash 2-3 times a day.

[2018-10-03 21:17] zhehedream commented on #2373
re-test this on forge 2765 + sponge 3477 + forestry_1.12.2-5.8.1.322 + mystcraft-1.12.2-0.13.6.00
Still gived tons of "tried to generate a hive in an unloaded area"

I tried to generate several dimensions with mystcraft, it works pretty good.

[2018-10-04 15:28] Shybella opened #2465 "Crash with Auto-populate Tile Entities"
**I am currently running**

- SpongeForge version: 3475
- Forge version: 2760
- Java version: 1.8 update 181
- Operating System: Windows Server

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional World, Aroma1997Core,