[2017-02-26 09:03] gd71 commented on #1295
there is a new release 1.10.2-2221-5.2.0-BETA-2198
I will give a try

[2017-02-26 09:09] gd71 commented on #1295
It's ok with the 1.10.2-2221-5.2.0-BETA-2198
sorry for the bad report

[2017-02-26 11:25] gd71 opened #1296 "Exception caught when switching into nether world"
Forge Mod Loader version 12.18.3.2221 for Minecraft 1.10.2
Sponge 1.10.2-2221-5.2.0-BETA-2198
This was not occurring before installing sponge mod
Other effects may or may not be linked
 - server disconnection when switching back to overworld (need to retry once)
 - some vanilla blocks cannot be mined (soulsand, quartz...) but netherhack ok

[code]

[2017-02-26 12:08] Yeregorix opened #1297 "Can't run setupDecompWorkspace task since EventGen update"
I cloned a recent version of SpongeForge and now, every times i'm running setupDecompWorkspace task I get this error : http://pastebin.com/C0UZJ8W1
I'm using Gradle Buildship for Eclipse.

[2017-02-26 12:09] ghost commented on #1253
Latest tests points to enderio block conduits - when neighbor activate only part of conduit network, this leads to tps drop. Network had 853 conduits. This network now cause lag with build 2113 too. I think issue can be closed. Thanks for help.

[2017-02-26 12:58] TheoKah opened #1298 "Sponge tracker going crazy"
Modpack: Direwolf20 1.5.1
Sponge: spongeforge-1.10.2-2221-5.2.0-BETA-2198

This block is spammed and server freeze:
http://pastebin.com/nkgGiMbE

I rollbacked to the version I was on before the update (spongeforge-1.10.2-2221-5.1.0-BETA-2185.jar) and problem not here anymore

Here is a timing report (with 2185, so non-buggy), so you can check the config if needed: https://timings.aikar.co/?id=a54f

[2017-02-26 15:47] Yorkforce opened #1300 "World pre-gen crash"
Currently trying to pregen a world with Direwolf20 1.5.1
Using nucleus 0.23.4 /world border gen command results in this crash:

http://pastebin.com/61fwYD2s

On spongeforge-1.10.2-2221-5.1.0-BETA-2178

[2017-02-26 15:48] Aaron1011 commented on #1300
Can you upload your full `fml-server-latest.log`?

[2017-02-26 15:53] Aaron1011 commented on #1298
Can you upload your full `fml-server-latest.log`?

[2017-02-26 16:05] Yorkforce commented on #1300
Sure thing (it's actually fml-server-3.log with the crash due to auto restart)
https://www.mediafire.com/?39ynahpe8qxsi3d

(sorry for the mediafire link, github just would not accept the .log or a .zip file)

[2017-02-26 16:10] Aaron1011 commented on #1300
Can you re-test on the latest SpongeForge? I've [fixed a bug](https://github.com/SpongePowered/SpongeCommon/commit/ba3642a3d8d086c270d60ad7892c8407587e8ce8) which cause causing chunk loading (and therefore CauseTracker phase completion) to happen off of the main thread.

[2017-02-26 16:10] Aaron1011 commented on #1298
Can you re-test on the latest SpongeForge? I've [fixed a bug](https://github.com/SpongePowered/SpongeCommon/commit/ba3642a3d8d086c270d60ad7892c8407587e8ce8) which cause causing chunk loading (and therefore CauseTracker phase completion) to happen off of the main thread.

[2017-02-26 16:19] Yorkforce commented on #1300
Same crash unfortunately:
Crash Report:
http://pastebin.com/SyLu5ptc
FML log
https://www.mediafire.com/?s4equ9q8638x5wd

Not sure if it's relevant but I did disable 'deny-chunk-requests=false' in the world.conf for UnionWorldDW1 in sponge configs

[2017-02-26 16:22] Aaron1011 commented on #1297
Does the task work if you run gradle from the command line (e.g. `./gradlew genEventImpl`)

[2017-02-26 16:25] Aaron1011 commented on #1300
It looks like the original issue was fixed, but now there's a new issue. I'll look into it.

[2017-02-26 16:44] Aaron1011 commented on #1300
@Yorkforce Actually, it appears you're not on the latest build `1.10.2-2221-5.2.0-BETA-2199`, which contains my fix.

That crash looks to be another symptom of the bug fixed in the latest build.

[2017-02-26 17:28] Yorkforce commented on #1300
Doh my bad, I grabbed the top one, testing on 2202 now.

Edit: Yep that did it, it's generating properly now! Thanks for the super quick responses and sorry for mix up!

[2017-02-26 17:33] Aaron1011 commented on #1300
No problem :) Glad to be able to help!

[2017-02-26 17:33] #1300 closed, assigned to nobody

[2017-02-26 19:32] Eufranio opened #1301 "Tracking error on server shutdown"
When my server stops, this error is shown in the log: https://hastebin.com/qafulepuqi.md
The server doesn't crash, and no one noticed corruption, but yeah that's a error, so... I'm also usint [this](https://github.com/Stonebound/Applied-Energistics-2) version of AE2.

Using:

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-982a6b0
    SpongeForge: 1.10.2-2221-5.2.0-BETA-2202
    Minecraft Forg

[2017-02-26 21:09] Eufranio opened #1302 "Skulls aren't being rendered"
When uploading to latest SpongeForge (2202), players noticed their Skulls are not being rendered anymore, they have the Steve/Alex skin. After some tests, I realized that:

1. If the skull owner never joined the server, the skull will be rendered when in the inventory, but won't be rendered when placed in world.
2. If the skull owner joined the server once, the skull will not be rendered both in i

[2017-02-26 22:09] Yeregorix commented on #1297
Yes, using cmd it works fine.

[2017-02-26 22:17] Time6628 opened #1303 "Unexpected World Change detected with EU2 And TOP"
This is spamming my server's logs
[code]
Pack is Resonant Rise 4 on ATL.
SpongeForge: spongeforge-1.10.2-2221-5.1.0-BETA-2188
Forge: forge-1.10.2-12.18.3.2221-universal

[2017-02-26 22:19] Aaron1011 commented on #1303
Upgrade to [the latest SpongeForge](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2).

[2017-02-26 22:19] #1303 closed, assigned to nobody

[2017-02-26 22:22] t2wave opened #1304 "Phase error when opening Shulker boxes"
Forge: forge-1.11.2-13.20.0.2228
SpongeForge: spongeforge-1.11.2-2227-6.0.0-BETA-2200

[code]

[2017-02-26 22:27] Aaron1011 commented on #1304
Can you upload your entire `fml-server-latest.log`?

[2017-02-26 22:31] Time6628 commented on #1303
Thanks, didn't see it on http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/

[2017-02-26 22:32] Aaron1011 commented on #1303
No problem - we're currently having issues with that site. I'll let you know once it's fixed.

[2017-02-26 22:33] Aaron1011 commented on #1297
@Yeregorix What version of Eclipse are you using?

[2017-02-26 22:49] t2wave commented on #1304
Changed it to a txt file so I could upload it. There it is my good sir.

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/802364/fml-server-latest.txt)

[2017-02-26 23:05] Aaron1011 commented on #1298
Closing, as I'm almost certain this was fixed in that commit. Please re--open if the issue re-occurs.

[2017-02-26 23:22] Aaron1011 commented on #1304
I can't seem to reproduce this. Can you see if this happens without any mods or plugins installed?

[2017-02-27 00:48] leelawd commented on #1298
I just tested this fix and it is still happening unfortunately.

Here is a full server log.
https://drive.google.com/file/d/0B5kVUsw24he0amJSY0QzOHJwLW8/view?usp=sharing

This is a major issue as within 3 hours of run time, this file became 25GB in size.

[2017-02-27 00:49] phit commented on #1298
can confirm filled my servers harddrive pretty quick using 2203

[2017-02-27 01:46] bhi-elliot opened #1305 "[1.11.2-2227-2204] Server crash "Exception in server tick loop""
Totally took the server down. Just 1 player playing.
Hopefully this can be fixed quickly.
Thank you.

http://pastebin.com/9HdiJYFb
and
http://pastebin.com/fUfFNeQF

now with server log from the last half an hour before crash (including crash)
http://pastebin.com/sbzbDXNm

[2017-02-27 01:52] Aaron1011 commented on #1305
Are you able to reproduce this consistently?

[2017-02-27 01:57] bhi-elliot commented on #1305
Thanks for the quick reply Aaron1011. No, not yet.
Note that I just updated the original post with server log showing crash:
http://pastebin.com/sbzbDXNm

[2017-02-27 02:04] Aaron1011 commented on #1305
Thank you, that's very helpful. Can you upload your entire `fml-server-latest.log`, along with a list of all of the mods that you're using?

[2017-02-27 02:12] bhi-elliot commented on #1305
Couldn't upload the entire thing to pastebin because it is too large for my baby, free account. Here it is zipped and uploaded here.
[fml-server-3.zip](https://github.com/SpongePowered/SpongeForge/files/802524/fml-server-3.zip)

Hope that helps! Thank you kindly!

[2017-02-27 02:14] bhi-elliot commented on #1305
Couldn't upload the entire thing to pastebin because it is too large for my baby, free account. Here it is zipped and uploaded here.
[fml-server-3.zip](https://github.com/SpongePowered/SpongeForge/files/802525/fml-server-3.zip)

Hope that helps! Thank you kindly!

[2017-02-27 03:43] t2wave commented on #1304
Just removed everything but Forge and SpongeForge and the error still comes up.

[2017-02-27 04:05] liach commented on #1304
The log without any other plugin?

[2017-02-27 04:16] t2wave commented on #1304
Sorry, here it is.

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/802638/fml-server-latest.txt)

[2017-02-27 06:21] mrapplexz commented on #937
Sill exists in Sponge 2221

[2017-02-27 09:59] Yeregorix commented on #1297
Eclipse JDT: 4.6.2.20161208-0625 (Neon.2)
Gradle Buildship: 1.0.21.v20161010-1640

[2017-02-27 17:07] Aaron1011 commented on #1304
Can you upload your `latest.log` as well?

[2017-02-27 17:20] FiveEYZ opened #1306 "[1.10.2] Exception during phase body"
Got some errors showing in my log

Exception during phase body
https://gist.github.com/FiveEYZ/0dd7d4c9e3cdfcb862fcd86418c612a4

fml-server-latest:
https://gist.github.com/FiveEYZ/7db8f279af14e626c42b0abdfec7bb15

Minecraft: 1.10.2
SpongeAPI: 5.1.0-cf4dfb1
SpongeForge: 1.10.2-2221-5.1.0-BETA-2203
Minecraft Forge: 12.18.3.2239
Modpack: Direwolf20 1.6.2

[2017-02-27 17:40] gd71 commented on #1296
wrong place?
Could be an issue from skyresources mod not detectable on a pure forge server?

[2017-02-27 17:43] gd71 commented on #1296
in addition:
[code]

[2017-02-27 17:57] Aaron1011 commented on #1296
The root of this issue seems to be that `EntityPlayerMP.isDead` is somehow being set to `true`. I'm investigating further.

[2017-02-27 18:19] gd71 commented on #1296
so maybe this can help. few seconds before in the same log
[11:48:59] [Server thread/WARN]: Force-added player with duplicate UUID 951d01e4-bc2c-41a1-b1bb-77b836a3efed
I've noticed a level.dat in the DIM-1 folder which was not present before
I've performed the migration twice before reporting that
Migration was done from a vanilla+forge well running server (I stil have it if you want me to test th

[2017-02-27 18:27] gd71 opened #1307 "[1.10.2] [Sponge]: No entity type is registered for class raised"
Greetings,
I've got this kind of warns using spongeforge-1.10.2-2221-5.2.0-BETA-2198
with the according forge-1.10.2-12.18.3.2221-universal
[11:40:24] [Server thread/WARN] [Sponge]: No entity type is registered for class crazypants.enderio.machine.killera.TileKillerJoe$Attackera
[11:40:27] [Server thread/WARN] [Sponge]: No entity type is registered for class net.minecraftforge.common.util.FakePlay

[2017-02-27 19:09] kashike commented on #1307
This isn't an error, it's just a warning.

[2017-02-27 19:09] #1307 closed, assigned to nobody

[2017-02-27 20:03] t2wave commented on #1304
Here it is.

[latest.txt](https://github.com/SpongePowered/SpongeForge/files/804869/latest.txt)

[2017-02-28 02:42] Zerthick opened #1308 "Opening a custom inventory in an Event and cancelling it prevents the inventory from being shown."
As the title says, when opening a custom inventory in an event and then cancelling the event, the inventory is not shown to the player, this only occurs on SpongeForge and not SpongeVanilla. Bug can be replicated by the code below:

[code]

Tested on Forge 12.18.3.2221 for Minecraft 1.10.2 and SpongeForge v1.10.2-2221-5.2.0-BETA-2202

[2017-02-28 06:10] #1253 closed, assigned to nobody

[2017-02-28 06:38] bhi-elliot commented on #1305
Happened again today, so it wasn't just a one time thing. Not sure what caused it so unable to reproduce consistently, but may have something to do with explore new land. ..

[2017-02-28 15:40] dags- opened #1309 "PluginContainer.getName() returns null if it hasn't been set in the @Plugin annotation"
**Forge**: `1.10.2-12.18.3.2221`
**SpongeForge**: `1.10.2-2221-5.1.0-BETA-2203`

I think it's because [this check in SpongeModPluginContainer](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/plugin/SpongeModPluginContainer.java#L134) is no longer relevant because forge reads the mcmod.meta file packaged in the plugin jar, so the ModMetadata isn't flag

[2017-02-28 21:12] merjilin commented on #1298
sadly, Issue is still occurring when using build 2208 as well.
Here's the fml log which contains the errors: https://drive.google.com/drive/folders/0B-_XApo04kgXVTM5Ty1HS2VOUHc
(ignore the nucleus mixins errors, they're mod conflicts)

[2017-03-01 08:08] Vladgina opened #1310 "Game Crash Whilst Rendering Screen"
Whenever I read the Origins of Darkness and come to a screen with recipes it crashes. Sometimes it takes a bit, sometimes it's when I hover over them, sometimes it's immediately.

[2017-03-01 15:10] Aaron1011 commented on #1310
Can you upload any generated crashlog, your `latest.log`, and your `fml-client.latest.log`?

[2017-03-01 15:35] KasperFranz opened #1311 "Extra Utils Quarry - Unexpected World Change Detected"
Error in console: https://gist.github.com/KasperFranz/45d99ae80c2b888da523c257ba8e81fc

Running SpongeForge: spongeforge-1.10.2-2221-5.1.0-BETA-2208.

Extra utils version: 1.1.1

[2017-03-01 18:05] lantren commented on #568
Yup, ultimately, for me, it means I can't migrate my server to Sponge. too bad.

[2017-03-01 18:54] Aaron1011 commented on #1311
I've reproduced the issue, and should have a fix soon.

[2017-03-01 20:34] Aaron1011 commented on #1311
Fixed in [the latest SpongeForge](https://github.com/SpongePowered/SpongeForge/commit/5e4abf30d7db9a344a25a91c69d02018f9d51d4c).

[2017-03-01 20:34] #1311 closed, assigned to nobody

[2017-03-01 20:35] Aaron1011 commented on #1306
Can you open a separate issue for each one of those?

[2017-03-01 20:36] Aaron1011 commented on #1298
This should be fixed in [the latest SpongeForge](https://github.com/SpongePowered/SpongeForge/commit/5e4abf30d7db9a344a25a91c69d02018f9d51d4c).

[2017-03-01 20:36] #1298 closed, assigned to nobody

[2017-03-01 21:08] FiveEYZ opened #1312 "[1.10.2] Exception Exiting Phase"
Exception Exiting Phase
https://gist.github.com/FiveEYZ/4e7e5701f15575034585cb680f3513ee

[2017-03-01 21:08] FiveEYZ opened #1313 "[1.10.2] Exception attempting to capture or spawn an Entity!"
Exception attempting to capture or spawn an Entity!
https://gist.github.com/FiveEYZ/d126ee8285ed6e4ea3a220c32ee3a71a

[2017-03-01 21:09] KappaKiddie opened #1314 "[1.10.2] Error when unload the server"
http://pastebin.com/Asrvr7Mv

[2017-03-02 00:33] bloodmc commented on #1314
1.10.2-2221-5.1.0-BETA-2136

Using outdated build which is NOT supported. Update to latest.

[2017-03-02 00:33] #1314 closed, assigned to nobody

[2017-03-02 00:54] Malachiel87 opened #1315 "Strange tps lag after 1-2 hours"
Hi i noticed after 1-2 hours of playing my pixelmon server start to lag:
- sun/moon freeze, furnace take infinite time, ecc... like x 100 time normal
- pixelmon take a lot of time to spawn
- player move laggy
- chat work fine

My timings and mods/spongeforge:
https://timings.aikar.co/?id=116eef1da2eb426c94e76093bf46e812

Here there is the flm log from server start, with 4 players online, i enabled

[2017-03-02 03:32] ghost opened #1316 "Crash on world load with SF 2210"
Any idea where I should begin with this?
http://pastebin.com/E41Ym9mQ

[2017-03-02 03:35] SSDFDFDF commented on #1313
I got the same exception.

[2017-03-02 04:02] Aaron1011 commented on #1313
This is a bug with how Sponge handles explosions, which I'll be fixing.

[2017-03-02 04:03] Aaron1011 commented on #1316
Your `level_sponge.dat` file appears to be corrupted. Try renaming or moving it, and restart the server.

[2017-03-02 07:24] comdarksider opened #1317 "[1.10.2] - NetworkDispatcher"
I use spongeforge-1.10.2-2221-5.1.0-BETA-2210.
error NetworkDispatcher exception java.io.IOException: An existing connection was forcibly closed by the remote host

Link error :
1. Paste bin -  http://pastebin.com/EPt55ZWP
2. Github -  https://gist.github.com/comdarksider/23635a7994e0fedd7c9eb9629c59d869

[2017-03-02 09:46] EwoutV opened #1318 "[1.10.2] World load on startup is broken"
As of SpongeForge 1.10.2-2221-5.1.0-BETA-2117, it seems like the abillity to load a world on startup is broken. When I perform the project worlds command /world loadonstartup <world> true, it doesn't load the world on startup. Also, all settings get reset for that world when I restart the server. Downgraded my sponge to 1.10.2-2221-5.1.0-BETA-2113, and the issue is gone.

[2017-03-02 16:21] Aaron1011 commented on #1318
`/world` isn't a built-in Sponge command. What plugin are you using?

[2017-03-02 16:22] Aaron1011 commented on #1317
This looks like the the client crashed. Can you try to get a `latest.log`, `fml-client-latest.log`, and any crash reports from affected users (e.g. `comdarksider`).

Also, please upload your full `fml-server-latest.log`

[2017-03-02 16:23] phit commented on #1318
https://forums.spongepowered.org/t/project-worlds-v0-11-4-world-manager/10170

[2017-03-02 16:37] Aaron1011 commented on #1318
Oops, I somehow missed that.

[2017-03-02 16:47] EwoutV commented on #1318
Tried it with multiple plugins, without any success. It only worked on spongeforge 1.10.2-2221-5.1.0-BETA-2113 and below.

[2017-03-02 18:21] Aaron1011 commented on #1305
Can you rest this on the latest SpongeForge?

[2017-03-02 19:44] bhi-elliot commented on #1305
Hi there,
I'll do my best, might be a few days. I ended up having to revert to a backup using SpongeForge build 2170 due to all the crashes. Once I get to the server location, I'll update Sponge again and let you know.
Thank you!

[2017-03-02 23:11] ghost commented on #1316
Haven't been able to do that until now, but that worked perfectly, thanks!

[2017-03-02 23:11] #1316 closed, assigned to nobody

[2017-03-02 23:36] Eufranio opened #1319 "[1.10.2] Railcraft's tunnel bore is able to place tracks in protected areas"
Railcraft is a mod focused in trains, rails, and etc. It has a Tunnel Bore, that is basically a locomotive that will place down tracks and mine a 3x3 area in front of it. It looks like this:

![1](http://image.prntscr.com/image/b3078714e6dd499cab56d495c08f4e48.png)

It has a Bore Head that will allow the locomotive to break blocks in front of it. It works just fine, respecting server protection, b

[2017-03-02 23:38] liach commented on #1319
Well, `ChangeBlockEvent` is supposed to be fired. Isn't this event fired?

[2017-03-02 23:46] Eufranio commented on #1319
I'm not that good debugging, but testing with GriefPrevention, it isn't firing any events (or at least they're not being checked). It fires the EntityMoveEvent when moving, but that's all.

[2017-03-02 23:51] CovertJaguar commented on #1319
I'm probably missing the events on that action.

[2017-03-03 00:10] Keaton1188 opened #1320 "Baubles Inventory voids items"
Not sure if this is a mod bug or a sponge issue.

## The Bug
### Press E (to open your inv) have a Angel Ring on you, place it in the crafting grid (4 slots) then hit on Baubles and go back to your inv, the angel ring then just vanishes, does not drop on the floor and a relog does not help.

Update - Its not just the Angel Ring, its any item.

(Only tested on Infinity Lite, not sure if it does it

[2017-03-03 00:13] Eufranio commented on #1320
Confirm with
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-cf4dfb1
    SpongeForge: 1.10.2-2221-5.1.0-BETA-2208
    Minecraft Forge: 12.18.3.2239

Other items will not be lost, instead they'll just be dropped.

[2017-03-03 00:30] Eufranio commented on #1319
User error, sorry. In SpongeForge, they're protected, but you may want to add those events anyway @CovertJaguar.

[2017-03-03 00:30] #1319 closed, assigned to nobody

[2017-03-03 00:52] #1315 closed, assigned to nobody

[2017-03-03 00:56] FabioZumbi12 commented on #899
More users reporting this same issue with experience drops without break the block, but now with Redprotect.

https://forums.spongepowered.org/t/shield-anti-grief-with-flag-gui-redprotect-1-8-9-1-11/11846/454

[2017-03-03 02:55] Aaron1011 commented on #1312
This is another mod which doesn't properly handle having `writeToNbt` called before it's ticked. I'll open an issue with the dev, but I also think that Sponge might want to catch exceptions thrown from `writeToNBT` (when we create a Forge `BlockSnapshot`).

[2017-03-03 03:04] Eufranio commented on #1312
There's one with AE2 too. Wanna see the stacktrace?

[2017-03-03 03:19] Aaron1011 commented on #1312
Yes, thanks!

[2017-03-03 17:13] ArukaAlter opened #1321 "Console spam"
Every once in a while the server console gets filled with this warning
https://hastebin.com/fecahoqili.vbs
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-982a6b0
SpongeForge: 1.10.2-2221-5.2.0-BETA-2211
Minecraft Forge: 12.18.3.2239

[2017-03-03 17:17] Aaron1011 commented on #1321
That appears to be cut off. Can you include some lines above and below that exception (along with the full log, if you have it).

[2017-03-03 17:39] ArukaAlter commented on #1321
The server was stopped shortly after, and I can't seem to find the exact lines in the file anymore.
Here's the full log
https://gist.github.com/ArukaAlter/f1e1778bf3115229894f8e18a4af0f59

[2017-03-03 19:20] EwoutV commented on #1318
@Aaron1011 Definetly a Sponge bug. I'm not a developer, but I think [this](https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17) might have something to do with the issue.

[2017-03-03 19:23] phit commented on #1318
have you tried setting it in the sponge configs not with a plugin?

[2017-03-03 19:37] EwoutV commented on #1318
Wow, I didn't know there was an option for that, it worked, thanks! Still strange how Nucleus and pwp fail loading the world when the server starts on Sponge versions 2117 and above...

[2017-03-03 19:53] #1318 closed, assigned to nobody

[2017-03-03 21:55] Time6628 opened #1322 "AE2 + Sponge Unexpected World Change"
Getting this on spongeforge-1.10.2-2221-5.2.0-BETA-2215 and appliedenergistics2-rv4-alpha-11
https://gist.github.com/Time6628/bfc820a7f5f644093237ab6cca352e8a

[2017-03-04 02:19] bloodmc commented on #1322
@Aaron1011 please look into this.

[2017-03-04 06:54] bhi-elliot commented on #1305
Running build 2220 for a few hours and so far no crash, which is much longer than it would stay up on build 2204

[2017-03-04 09:03] iLefty opened #1323 "Crashes with Mo'Creatures"
After installation MoCreatures mod the server began to crash often. In a today already 6 times. I don't want to delete this mod, it is necessary to learn a problem and to fix it.
On the server there is many loaded chunkes (till 6000) and entityes (till 30000). Possibly it also is the reason of crashes.
All information about mods and their versions, present in crash reports.
Reports in archive:
htt

[2017-03-04 15:18] ghost commented on #1322
Here's another example with SF 2219:
http://pastebin.com/jUxfphiV

[2017-03-04 16:12] Aaron1011 commented on #1322
We're not properly handling changes that occur while a tile entity is loading. I'll create a new phase to handle this.

[2017-03-04 17:08] iLefty commented on #1323
http://pastebin.com/EbTn0aWC
One more crash.

[2017-03-04 17:14] Zerthick commented on #1308
Clarification: The behavior only seems to occur when the block interacted with is a chest.

[2017-03-04 17:39] ghost opened #1324 "Items despawning that should not"
I don't know if this is the right place for this, but I believe it would be SF that's causing items that shouldn't despawn (Like Botania's Terra Shatterer) to do so. How might I track this down? Any help with this would be greatly appreciated.

[2017-03-04 18:35] t2wave commented on #1304
Updated everything today and the message still appears even without plugins loaded. Below are the logs.

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/818845/fml-server-latest.txt)
[latest.txt](https://github.com/SpongePowered/SpongeForge/files/818844/latest.txt)

[2017-03-04 18:57] Aaron1011 commented on #1304
I've found the issue - it should be fixed with the addition of @liach's shulker data.

[2017-03-04 19:41] t2wave commented on #1304
Awesome! Will that be in an upcoming build?

[2017-03-05 00:01] Sir-Will opened #1325 "Tracking System Spam - Actually Additions + TickProfiler"
spongeforge-1.10.2-2221-5.2.0-BETA-2215
http://pastebin.com/iQcR2G1L

[2017-03-05 13:55] Yorkforce commented on #937
Confirming issue still exists on `spongeforge-1.10.2-2221-5.2.0-BETA-2215` with BIomesOPlenty world
http://pastebin.com/vzwpZZeW

[2017-03-05 15:09] leelawd opened #1326 "[1.10.2] RFTools Elevator's are bugging out"
First of all, I am not sure if this is a GriefPrevention issue or SpongeForge issue BUT when i updated both to their latest version, the RFTools elevators would not work as intended.

If i reverted either GP or SF back to the previously used version, everything would be fine. It only seems to do it when both are updated.

This also happens outside of a GP Claim.

I am unsure of what version's this

[2017-03-05 16:38] stephan-gh commented on #1309
Fixed in https://github.com/SpongePowered/SpongeForge/pull/1106

[2017-03-05 16:38] #1309 closed, assigned to stephan-gh

[2017-03-05 19:30] Raycoms opened #1327 "Explosion event not fired with Sponge."
We offer a protection for all explosions with our mod, but it seems it doesn't work with sponge.

    public void on(final ExplosionEvent.Detonate event)
    public void on(final ExplosionEvent.Start event)

SpongeForge: 1.10.2-2221-5.1.0-BETA-2156

[2017-03-05 19:31] rmnaderdev opened #1328 "[1.10.2] MissingFormatArgumentException | Server Crash on Startup"
Just updated the All the Mods mod pack this morning and I started the server and just after it loads the world I get this crash: http://pastebin.com/rk888RPw

Looks like a string call error: Format specifier '%20S' at org.spongepowered.common.SpongeImplHooks.onTileEntityError(SpongeImplHooks.java:721)

[2017-03-05 19:38] rmnaderdev commented on #1328
Moving to Sponge Common, sorry about that.

[2017-03-05 19:38] #1328 closed, assigned to nobody

[2017-03-05 22:35] Yorkforce commented on #1028
We are also experiencing something very similiar to this with Draconic items and the coke oven too, they both spit out ghost items to the ground that can't seemingly be interacted with, they also decay way faster than normal items would.

Relogging doesn't fix the issue, they are still on the ground after logging out and back in.

This is on spongeforge 2215

[2017-03-06 01:20] LemADEC opened #1329 "ZombieAwareness compatiblity with CauseTracker?"
Using
spongeforge-1.10.2-2221-5.2.0-BETA-2219.jar
zombieawareness-1.10.2-1.11.6.jar
forge-1.10.2-12.18.3.2239-universal.jar
in our test modpack, we've cause tracker issues when explosions happens.

It seems due to ZombieAwareness spawning its entities during the explosion.

[code]

[2017-03-06 08:40] alicheek opened #1330 "Stuck at logging in menu for clients"
Error Log: http://pastebin.com/CHG48Nmr

Sponge: spongeforge-1.10.2-2221-5.2.0-BETA-2219.jar

Hey there so we seem to have an issue where the player is stuck in a logging in screen basically untill they are kicked for being inactive, so it seems the server itself thinks the client is connected but the client cant see that its connected to the server. From what we have tested is that it only seems

[2017-03-06 14:24] Codazed commented on #1082
I have also gotten NPE from this same issue. This happens whenever trying to use TeamChisel's Chisel mod to chisel blocks by left-clicking on them. (FTB Presents Direwolf20 1.10.2 Version 1.6.2)
[code]

[2017-03-06 17:27] Brend-Smits commented on #1322
https://hastebin.com/ecomoradas.md
Same with farming stations

Causes lag spikes while these errors are being spammed.

[2017-03-06 19:02] ghost commented on #1326
I thinks its GP bug: https://github.com/MinecraftPortCentral/GriefPrevention/issues/341

try latest build of GP

[2017-03-06 19:26] leelawd commented on #1326
I will test this soon, thanks for the information

[2017-03-06 19:57] Aaron1011 commented on #1330
The root of the problem seems to be this:

[code]

Can you provide more details about the custom world that you're using?

[2017-03-06 21:04] tridaak opened #1331 "Error loading worlds"
Having problems loading worlds, been having it for some time, but haven't been using the other worlds that much so never reported the issue. Using nucleus and spongeforge-1.10.2-2221-5.1.0-BETA-2208
Believe I had this problem when I was using 1.10.2-2221-5.2.0-BETA-2215, but went back because of issues.

[code]

Full list of mods:
├── Aliases-1.0.jar
├── CommandKits-v1.2.0.jar
├── EconomyLite-5.0.

[2017-03-06 21:10] leelawd commented on #1326
Thank you, it was a GP Issue. Closing since it has been fixed.

[2017-03-06 21:10] #1326 closed, assigned to nobody

[2017-03-06 21:37] Nedelosk opened #1332 "NullPointerException with Forestry"
We have a problem with forestry. We have an exception that only is thrown if anyone plays with spongepowered. There is the forestry issue: https://github.com/ForestryMC/ForestryMC/issues/1524. It would be great if you could help us.

[2017-03-07 01:44] Slind14 opened #1333 "WrapperCommandSource errors"
Better Questing allows a command execution as reward which packs like forever stranded utilize in their first quest for example. Unfortunately sponge does not know how to deal with it, which causes the quest claiming to never complete, allowing to reclaim it over and over again, causing an endless supply of rewards. Further more the command is not being executed which is an issue in case it is req

[2017-03-07 01:45] Slind14 commented on #1333
@Funwayguy In case you want to add anything.

[2017-03-07 05:48] ghost opened #1334 "Incompatible with Alternate Terrain Generation"
If you use sponge + this mod is causes all new chunks biomes to be ocean. Also when generating a new world it says "Unable to find spawn biome."

https://minecraft.curseforge.com/projects/alternate-terrain-generation

[2017-03-07 06:39] alicheek commented on #1330
yes sorry for the delay, we are using the nucleus plugin to generate the other world but apart from that there isnt anything different with it.

[2017-03-07 13:42] JBYoshi commented on #1333
Confirmed to be a Sponge bug. I personally don't have time to test and upload a fix right now (I'm on my phone), but one of the other developers could.

For the technical-minded: The fix (as far as I can see) is changing `MixinICommandSender` to not implement `IMixinCommandSender` and to use `WrapperCommandSource.of()` instead of `this.asCommandSource()`.

[2017-03-07 16:18] ziceptor commented on #1229
@Aaron1011 [fml-server-latest.log and latest.log](https://cloud.mail.ru/public/KKu7/CNPonSeiu)
It happened when player trying to connect to the server. Before that, the player was kicked.

[2017-03-07 17:48] merjilin opened #1335 "EnderIO world change error."
Hey, thanks for fixing the errors with the ExtraUtils2 Quantum Quarries! However it seems a new one has occurred. Specifically a change due to the EnderIO farming station.
Error: http://pastebin.com/D7B4kEDf
FML log (converted to txt it be posted here):
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/825285/fml-server-latest.txt)
Spongeforge: spongeforge-1.10.2-2221-5.2.

[2017-03-07 18:37] merjilin commented on #1335
I've just had a few more errors occur, one of which was to do with quantum quarries again.
[Uploading fml-server-latest (2).txt…]()

[2017-03-07 19:50] Aaron1011 commented on #1330
What generator type are you using?

[2017-03-07 19:55] alicheek commented on #1330
@Aaron1011 for that world its Biomes of plenty but we also have the same issues with the mining worlds we made which were just normal generation.

[2017-03-07 21:31] ktole1999 commented on #1330
did someone create a world using rftools and then not remove it properly?

[2017-03-08 01:19] ghost opened #1336 "Incompatible with Water Power"
Using Water Power with Sponge causes a crash.

https://minecraft.curseforge.com/projects/water-power

[2017-03-08 10:15] gabizou commented on #1336
We need some logs to be able to troubleshoot what you mean by "crash". Also, any instructions on how to replicate what happens before the crash helps a lot.

[2017-03-08 18:43] iLefty opened #1337 "Server Crash"
Server is crashing for the unclear reason for me. I fight against this error, long time.
Here you will see today's crash-reports (4 times of this day):
https://yadi.sk/d/nNYwpWrB3FHqKM
All information of server is present at report. I need help!
P.S. At forge forum, have told that a problem in Sponge.

[2017-03-08 19:36] Deamon5550 commented on #1337
Please upload your logs to a paste site like http://gist.github.com/ for the future.

This one looks like a world gen issue.

[2017-03-08 22:03] diluvium opened #1338 "Mob Spawners not spawning mobs"
Using spongeforge-1.11.2-2227-6.0.0-BETA-2224.jar, mob spawners are no longer spawn mobs. If I remove spongeforge from the mods folder, then mobs happily spawn again. I can't seen anything in the logs to indicate a problem.

[2017-03-09 00:39] Grinch opened #1339 "Load Plugin Mixins when plugin is located outside mods folder"
Currently plugins that have mixins only have their mixins loaded when located in the ./mods folder. If you put the plugin in ./mods/plugins or any other directory then the mixins for that plugin are simply not loaded.

[2017-03-09 02:38] FirEmerald opened #1340 "SimpleNetworkWrapper not working"
I'm trying to make a 1.10.2 server for my mod, Metroid Cubed 3, which is HEAVILY dependent on it's packet system using SimpleNetworkWrapper. However, installing it on a spongeforge server causes the network to not send or receive ANY packets.

[2017-03-09 04:07] FirEmerald commented on #1340
Cannot debug this because dev builds of spongeforge do not work in the forge dev environment, they cause this error:
[code]
Forge version is correct, already checked that.

[2017-03-09 10:04] Unnoen commented on #1334
Noticing this issue too.

[2017-03-09 12:28] Eden-Mor opened #1341 "A change in world - Sponge Tracker"
Sponge error directing me here :p
If you need any other info~ ask! Also didnt know what to title this. feel free to change it!
Thanks!

[code]

[2017-03-09 14:36] stephan-gh commented on #1340
If you want to use the SpongeForge `dev-shaded` build you need to use the same MCP mappings version as Sponge. For 1.10.2 this is `snapshot_20160822`.

[2017-03-09 15:01] iLefty commented on #1337
http://pastebin.com/2jtkk1PA
http://pastebin.com/zimdVH5v
http://pastebin.com/hCpPa4d7
http://pastebin.com/qv4HZsp3
http://pastebin.com/t1VzEWBt
http://pastebin.com/SnVNaLbQ
All crashes.

[2017-03-09 15:01] ktole1999 commented on #1339
i am just curious, would there be a certain scenario where you would not want this in the mods folder?

[2017-03-09 15:04] Grinch commented on #1339
@ktole1999 In most cases probably not. However Sponge does natively support ./mods/plugins for a plugin path and that is configurable. We should be searching the configured path as well.

[2017-03-09 15:07] ktole1999 commented on #1339
gotcha, ok i misread your comment. i saw /plugins rather than /mods/plugins. my bad

[2017-03-09 15:24] FirEmerald commented on #1340
How do I change the MCP mappings when I'm using forge? I'm currently at snapshot_20161009, which is clearly newer than the version you're at.
Also, that's still not the primary issue here. The primary issue is that SimpleNetworkWrapper isn't working with SpongeForge installed.

[2017-03-09 15:33] stephan-gh commented on #1340
You would need to change the MCP mappings of your project in the Gradle build script temporarily while testing with SpongeForge.

[2017-03-09 16:01] Mumfrey commented on #1339
No this is not possible, you cannot open a box with the crowbar which is inside.

[2017-03-09 16:02] #1339 closed, assigned to nobody

[2017-03-09 16:11] Mumfrey commented on #1339
Clarification:

The mechanism by which mixins can be bundled in a plugin jar is via the Mixin Tweaker, the tweaker is *discovered by Forge* in the mod container (jar) during the coremod scan, **as is the Mixin Tweaker for SpongeForge**. When SpongeForge applies its PREINIT mixins, it adds support into the mod discoverer for scanning in the second location. This second location is searched for **mo

[2017-03-09 18:01] Deamon5550 commented on #1337
The worldgen one is definitely a duplicate of #1289 the rest are all something else.

[2017-03-09 18:56] iLefty commented on #1337
Really? I think, that's different...

[2017-03-09 19:07] Deamon5550 commented on #1337
This one http://pastebin.com/hCpPa4d7 is the exact same issue. The rest are all the something else, but also something I've seen before, I think someone mentioned it was a forge bug, or at least that it occurs in forge as well without sponge.

[2017-03-09 19:11] iLefty commented on #1337
On forge forum said, that this bug in sponge.

[2017-03-09 19:13] iLefty commented on #1337
http://www.minecraftforge.net/forum/topic/52425-server-crash-1102/

[2017-03-09 19:23] Deamon5550 commented on #1337
Test without sponge and see if they still occur.

[2017-03-09 19:54] KasperFranz commented on #1322
not sure if related but this is also in the same area (running latest sponge 2226) https://gist.github.com/KasperFranz/6d4272353ff5695a7796fb020a22943f

[2017-03-09 20:29] phit opened #1342 "Extra Utilities Redstone Clock Crash"
reposting from the FTB forums

reproduction https://forum.feed-the-beast.com/threads/redstone-clock.220564/
log http://pastebin.com/AuChiZ77
spongeforge-1.10.2-2221-5.2.0-BETA-2223

[2017-03-09 22:32] FirEmerald commented on #1340
Any reason sponge completely disables the server GUI? Becaue I kinda can't debug properly without being able to op myself on the dev server, which I need the GUI for since Eclipse doesn't seem to have an input panel.

[2017-03-09 22:39] FirEmerald commented on #1340
Ok, it seems the eclipse console can be used as an input. Still, the GUI is nice to have and I can't think of any reason to disable it completely

[2017-03-09 22:40] FirEmerald commented on #1340
Also, SimpleNetworkWrapper IS working in my dev - so it's either the obfuscated release or something on my server that's breaking it.

[2017-03-09 22:49] FirEmerald commented on #1340
The problem is in the obfuscated version.

[2017-03-09 23:06] jmercado808 opened #1343 "Rendering Glitch - Coke Oven and Blast Furnace"
This happens on a spongeforge server. Not in SP.

So, for some reason when right clicking on the center block for the Coke Oven and Blast Furnace, more pieces appear. They are not actually there, but they look very strange.

Edit: When breaking any blocks on either of them, additional blocks are created and fly off from the main structure. Causing duplication.

put a wood block in there to show th

[2017-03-10 02:05] Slind14 commented on #1333
@JBYoshi do you have some time on the weekend? I'm around if you want me to test a version :)

[2017-03-10 03:47] FirEmerald commented on #1340
Nevermind, decided to test it on my computer and that's not the issue. Weird.

[2017-03-10 04:00] #1340 closed, assigned to nobody

[2017-03-10 04:02] FirEmerald commented on #1340
Closed as I think it might actually be an issue with the network thread locking/crashing on the server

[2017-03-10 07:01] iLefty commented on #1337
There is no opportunity to test without sponge. I will lose plugins for protection and players will create chaos.

[2017-03-10 17:22] Bennyboy1695 opened #1344 "AE2/ AE2Stuff issue with sponge"
Enabled verbose as i know its helpful. But every few minutes we get a 10 second lag spike and then quite commonly we get this in console - https://gist.github.com/Bennyboy1695/ae1c2698156849b97a9aafbed32a4d82

[2017-03-10 17:24] ktole1999 commented on #1344
https://github.com/SpongePowered/SpongeForge/issues/1322

[2017-03-10 17:35] #1344 closed, assigned to nobody

[2017-03-10 21:51] phit opened #1345 "Almost no mobs spawning"
Since the async light changes, lots of people on my servers are reporting none to very few hostile mod spawns. Turning off async-lighting in the global.conf fixes it, this is consistent across various modpacks and I also heard the same thing from a few other server owners.

Tested with 5.2.0-BETA-2215 and 5.2.0-BETA-2226
Maybe related to #1338

edit: I guess it's worth mentioning, I have made no o

[2017-03-10 21:52] Mohron commented on #1345
I'm also encountering this issue!

[2017-03-10 21:52] Aaron1011 commented on #1345
@bloodmc can you help me look into this?

[2017-03-10 22:46] LemADEC commented on #1022
Issue is still live on 1.10.2 with spongeforge-1.10.2-2221-5.2.0-BETA-2219.jar.
It happens relatively frequently in our small modpack
[code]

[2017-03-10 23:16] kashike commented on #1338
Related to https://github.com/SpongePowered/SpongeCommon/issues/1241 maybe?

[2017-03-10 23:16] kashike commented on #1345
Related to https://github.com/SpongePowered/SpongeCommon/issues/1241 maybe?

[2017-03-10 23:18] Mohron commented on #1345
Given that lighting and squid spawning is not linked in anyway I would say no.

[2017-03-10 23:19] Aaron1011 commented on #1345
@Mohron Actually, the issues may be related. The mob spawner takes lighting into account, and we've had issues in the past with async lighting interfering with proper chunk loading and unloading.

[2017-03-10 23:21] Mohron commented on #1345
I guess I'm just thinking since squid spawning doesn't have lighting requirements changing lighting shouldn't affect them. But you guys know best.

[2017-03-11 06:02] phit commented on #1343
seeing the same thing on my ftb beyond server
1.10.2-2221-5.2.0-BETA-2226

[2017-03-11 06:53] JaSpr commented on #1322
Same issue.  The AE2 Inscriber is using a LOT more time per tick since this started last week.

https://gist.github.com/JaSpr/d988d981d294f97eb0072c3ade563582

[2017-03-11 07:04] iLefty commented on #1337
http://www.minecraftforge.net/forum/topic/52425-server-crash-1102/
So, people said, that error in Sponge...

[2017-03-11 12:01] bookerthegeek opened #1346 "Woot Looting Issue"
Heyo!
So Cross posting this with some testing done for you. https://github.com/Ipsis/Woot/issues/139. Seems we are having an issue with the looting enchantment. (Please forgive the lack of Java speak & concrete documentation)

[Woot](https://github.com/Ipsis/Woot): A mod adding a multiblock structure that will generate mob drops at the cost of RF.
It does this by spawning the mobs (In this case a

[2017-03-11 12:15] phit commented on #1346
According to [this comment](https://github.com/Ipsis/Woot/issues/139#issuecomment-282484211) by the mod dev, this should cause it:
https://github.com/SpongePowered/SpongeForge/blob/stable-5/src/main/java/org/spongepowered/mod/mixin/core/fml/common/eventhandler/MixinEventBus.java#L79

[2017-03-11 13:16] Time6628 commented on #1322
I think they got that it is an issue.

[2017-03-11 13:21] JBYoshi commented on #1333
@Slind14 I submitted a fix, but it won't be officially released until the core devs accept it. https://github.com/SpongePowered/SpongeCommon/issues/1247

[2017-03-11 13:34] JaSpr commented on #1346
Can confirm

[2017-03-11 15:19] ghost opened #1347 "Minecolonies Worker Range Bug"
There is currently a bug with sponge with the mine colonies mod where if a player is not inside the chunk a worker is in they work at an extremely slow speed.

[2017-03-11 17:26] thagreenkronic opened #1348 "Server crash - Exception ticking world"
crash-log:

https://gist.github.com/thagreenkronic/ffe44ac8a3414015713314834242410f

[2017-03-11 18:02] Aaron1011 commented on #1348
Can you upload your full `fml-server-latest.log` and `latest.log`?

[2017-03-11 19:05] J0SLAN commented on #1254
That's not a Sponge bug. That's an MC bug.

[2017-03-11 20:19] thagreenkronic commented on #1348
I tried mate, but they are long gone with new logs. If it happens again, Ill be 100% sure to get it.

The only mention to it apart from the crash-logs I could find now is this:

[10:28:23] [Server thread/INFO]: There are 3/50 players online:
[10:28:23] [Server thread/INFO]: nielsyboy765, ExplodingC, killerbyte12
[10:28:29] [Server Watchdog/FATAL]: A single server tick took 60.00 seconds (should be

[2017-03-11 21:10] phit commented on #1342
also crashes when you put redstone on top of the clock, just happened on my server
http://vpaste.net/zZg7K

[2017-03-11 21:14] dogboy21 commented on #1342
Maybe something similar to #941, although this issue was fixed. We also had crashes sometimes back then.

[2017-03-11 21:18] phit commented on #1342
you just reminded me there is a config for the clock now because of some other bug with it

[code]

just set that to false, hopefully that will fix it

[2017-03-11 21:20] dogboy21 commented on #1342
Setting this to false will disable the special handling of the Redstone Clock, so you should definitely keep it set to true. But iirc the names of all XU2 blocks and items changed, let me check that.

[2017-03-11 21:23] dogboy21 commented on #1342
Yes, the name changed.. Try changing the name in the config to `redstoneclock` in lowercase

[2017-03-11 21:29] Slind14 commented on #1333
Thank you.

[2017-03-11 21:40] ExperimentCode3 opened #1349 "(1.10.2) Server crash when loading a world missing a dimension."
When removing a mod that adds a dimension from the server, I get this crash. I have found that deleting all references to sponge in the server\world folder and removing all references to the mod that added the missing dimension from the server\config\sponge folder can fix the issue. Though, I thought I should report it anyway.
[crash-2017-03-10_23.52.59-server.txt](https://github.com/SpongePowered

[2017-03-11 22:25] LemADEC opened #1350 "CauseTracker exception with gravestones and bloodmagic"
As of spongeforge-1.10.2-2221-5.2.0-BETA-2219.jar with
BloodMagic-1.10.2-2.1.5-74.jar
GraveStone Mod 1.5.12.jar
, when a player dies from a BloodMagic sacrificial dagger on top of a BloodMagic rune, the gravestone is empty and the console reports an exception in CauseTracker.completePhase:
[code]

[2017-03-11 22:40] LemADEC commented on #1350
Issue is reproduced with spongeforge-1.10.2-2221-5.2.0-BETA-2226.jar:
[code]

[2017-03-11 22:48] Aaron1011 commented on #1350
Can you upload your `fml-server-latest.log`?

[2017-03-11 22:55] LemADEC commented on #1350
Issue is also reproduced with the Gravestone mod.
[code]

[2017-03-11 22:58] LemADEC commented on #1350
Here's the fml latest from the last trial withouth gravestone mod: https://gist.github.com/LemADEC/cccb9c9a776603bae4e49e3d40db905d

[2017-03-11 22:59] LemADEC commented on #1035
Fixed in CraftTweaker

[2017-03-11 22:59] #1035 closed, assigned to kashike

[2017-03-11 23:58] #1308 closed, assigned to Aaron1011

[2017-03-12 00:05] Aaron1011 commented on #1335
This appears to be an issue with TickProfiler

[2017-03-12 00:09] Aaron1011 commented on #1341
Can you reproduce this consistently? If so, please upload your `fml-server-latest.log` from when it happens.

[2017-03-12 00:11] Aaron1011 commented on #1321
The only stacktrace from that log that I was able to find was this:

[code]

Which is an issue with LuckPerms. If this issue re-occurs, please re-open it.

[2017-03-12 00:11] #1321 closed, assigned to nobody

[2017-03-12 10:34] phit opened #1351 "Actually Additions Traveler's Sack Item Dupe"
Reproduction
https://github.com/Ellpeck/ActuallyAdditions/issues/674

Tested in 1.10.2-2221-5.2.0-BETA-2226
Modpack was FTB Beyond, dupe only happens on a Sponge server not in singleplayer

[2017-03-12 13:02] Bennyboy1695 opened #1352 "Crash when placing Opium cores from ExtraUtils2"
As title said when placing an opium core from ExtraUtils2 the server instantly crashes because of sponge cause tracker.
http://pastebin.com/6RP3wTS4

[2017-03-12 13:38] Keaton1188 opened #1353 "Server crashes.. related to Ae2"
Hi all, I am setting up a FTB Beyond server (just to do some tests on) and need sponge for it.
I have installed Forge correctly and added Sponge to the mods, when it starts it gives me this error 
(First pic is with Ae2 on and trying to start the server)

When I remove Ae2 and Ae2 Stuffs, the server launches further than the previous error.. but still gives me another error (another pic below)

![

[2017-03-12 14:19] phit commented on #1353
You have to remove wireless crafting terminal if you not gonna have AE2, it requires it..
Anyway AE2 doesnt work out of the box with sponge, but you can use a [patched version ](https://github.com/Stonebound/Applied-Energistics-2#about) or [SpongeBootstrap](https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275) and it will work!

#966

[2017-03-12 14:23] Keaton1188 commented on #1353
Thanks for the reply!

[2017-03-12 14:26] #1353 closed, assigned to nobody

[2017-03-12 14:52] thagreenkronic opened #1354 "Client crash [java.lang.NullPointerException]"
Players sometimes crash on my server when attempting to join. Simply trying to join again seems to work for them.

logs - https://gist.github.com/thagreenkronic/ce516c908043adadd30aa8a2ef4e1e2b

Problem seems to begin at line 7598 (fml-server-latest.log)

[2017-03-12 17:38] ghost opened #1355 "FTB Beyond Duplication glitch (Sponge servers only)"
When on the pack FTB Beyond Version 1.0.1
And running sponge forge version 1.10.2-2221-5.2.0-BETA-2229

If You Shift Right Click On Any Solar Panel From The Solar Flux Reborn Mod With The Crescent  Hammer From Thermal Expansion It Will Duplicate As Shown In The Attached Video (Sorry For Poor Quality) This Only Happens On Sponge Servers.

[Video](http://www.dailymotion.com/video/x5elyqs)

Thanks
~S

[2017-03-12 17:39] phit commented on #1355
not a sponge bug, update beyond to 1.1.0
https://minecraft.curseforge.com/projects/solar-flux-reborn/issues/47
https://forum.feed-the-beast.com/threads/solar-flux-reborn-really-enjoys-the-crescent-hammer.221020/

[2017-03-13 01:01] #1338 closed, assigned to nobody

[2017-03-13 01:01] #1345 closed, assigned to nobody

[2017-03-13 01:16] Keaton1188 opened #1356 "Use of /cofh"
Hi all, I am just asking for a bit of help.

All users are able to do /cofh tps.. we do NOT want them to be able to do this command..
Is there any way to disable it? I cant seem to find anything in the configs.

Any help is appreciated

[2017-03-13 01:36] bloodmc commented on #1356
Create a plugin and handle it in SendCommandEvent.

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/command/SendCommandEvent.java

[2017-03-13 01:36] #1356 closed, assigned to nobody

[2017-03-13 01:37] #1355 closed, assigned to nobody

[2017-03-13 01:38] bloodmc commented on #1350
@LemADEC Latest build, I added back isVerbose check so until this issue gets fixed just make sure isVerbose is false in sponge's global config.

[2017-03-13 04:58] JaSpr commented on #1322
@Aaron1011 Any update on this?  This bug causes massive lag on our server as suddenly (seemingly out of nowhere) the console will start spam logging error messages so much that the server slows to a crawl, even with 16GB dedicated memory for the process.

[2017-03-13 08:13] LemADEC commented on #1350
When issue happens, players loose some items of their inventory, sometime the whole content.
Enabling keepInventory prevents the item lost but an exception is still logged in the console.

After updating to spongeforge-1.10.2-2254-5.2.0-BETA-2231.jar:
- with keepInventory, no more exception shows up in the console,
- without keepInventory, items lost remain and exception still shows up in the cons

[2017-03-13 11:26] LeftBoy commented on #1337
Thank you that you undertake nothing. Server crashes continues.

[2017-03-13 15:16] Time6628 commented on #1337
Whitelist the server and test without sponge. If you want your issue fixed, you need to test it with your setup.

[2017-03-13 15:35] iLefty commented on #1337
Without players, the problem doesn't arise.
Tested. Without sponge server worked 20 hours.

[2017-03-13 15:56] bloodmc commented on #1322
@JaSpr @Time6628 I added a config check to ignore the error until it gets fixed. Just make sure causetracker verbose is set to false in sponge's global.conf

[2017-03-13 16:09] ktole1999 commented on #1356
not sure if there is a permission node for this command. deny it.

[2017-03-13 16:51] iLefty commented on #1337
http://pastebin.com/GHWNJFPG
http://pastebin.com/WPRVE9qH
http://pastebin.com/wNbSf9Wc
http://pastebin.com/3Z5WxdcC
Four more crashes, for today, with sponge.

[2017-03-13 17:20] marchermans opened #1357 "SpongeForge [spongeforge-1.10.2-2254-5.2.0-BETA-2231] Causing a CNF when registering a EventHandler."
Hello,

I am the mod developer for SmithsCore a library currently in use by some mods I develop.
This library is based of Minecraft Forge and runs fine in a non Spone environment.
However, when my mod is put into a SpongeForge server, it fails to register an Event with a ClassNotFound exception.

The Log: https://gist.github.com/OrionDevelopment/a191e0f29a0b196272af5c4eedc68bbc
The class that is b

[2017-03-13 19:08] Time6628 commented on #1322
Thanks.

[2017-03-13 19:44] Eufranio commented on #1356
There IS a permission node, you can just deny it for your players with any permission plugin.

[2017-03-13 21:43] Keaton1188 commented on #1356
Using PEX, is there a permission node for that so it is disabled?

[2017-03-14 21:36] Sir-Will commented on #1103
Just got the crash, logs: https://gist.github.com/Sir-Will/c5ec5fe8db10f2bc24910b14bdfd64ff
spongeforge-1.10.2-2254-5.2.0-BETA-2231

[2017-03-14 21:42] Aaron1011 commented on #1103
This appears to be cut off.

[2017-03-14 21:47] Sir-Will commented on #1103
Downgraded to 2215 and it's no longer crashing.
Found Not Enough Wands light blocks at the location so this might be related to @bloodmc lightning changes.

Should be no longer cut off.

[2017-03-14 22:16] ArcasCZ commented on #274
What about GrantAchievementEvent?

[2017-03-15 11:08] chaosblad3 commented on #1259
Any update on this?

[2017-03-15 15:53] mkrtes opened #1358 "A frequent error in the console"
[code]

[2017-03-16 00:42] piperswe commented on #1284
Same thing's happening to me, except I have a bunch of other mods installed. Good to see that it's at least an issue with SpongeForge alone.

[2017-03-16 10:25] Sir-Will commented on #1342
Maybe this errors helps:
http://pastebin.com/raw/4W0FYBTh
(SpongeForge : 1.10.2-2254-5.2.0-BETA-2231 )

[2017-03-16 13:42] iLefty commented on #1337
http://pastebin.com/ujfzRaD3
http://pastebin.com/AjUtZxHV
http://pastebin.com/6ia8t9vL
http://pastebin.com/ihD4Xipk
http://pastebin.com/9nXgk4iw
Five more crashes.
YES I LIKE IT! (No.)

[2017-03-16 15:46] ktole1999 commented on #1284
why are you loading sponge on a client? If you are testing then you need to test with server environment

[2017-03-16 16:07] LeftBoy commented on #1337
Perhaps I found the reason. Crash was most likely because of function "tracking". I will test.

[2017-03-16 16:49] liach commented on #1284
SpongeForge can be a client mod. It contains mixins for the client.

[2017-03-16 17:51] iLefty commented on #1337
@Deamon5550, what I must do, that crash wasn't?

[2017-03-16 18:26] Time6628 commented on #1337
They can't help you unless you can reproduce it.

[2017-03-17 00:10] Aphex124 opened #1359 "Insane lag spikes to 700% usage"
Lets try this here since there wasn't a response on the forums.

Hello,

I have had my FTB Beyond server up for about 7 days now, and probably 3 days ago we have started to get insane lag spikes with a CPU usage of 700%, along with the allocated ram being maxed out. I have a decent CPU (E3-1240v5) along with a SSD, so it shouldnt be doing this, as my Resonant Rise server is not having this problem

[2017-03-17 02:20] Deamon5550 commented on #1359
Probably going to need to go in with a profiler and get a better look at that. Or even just warmroast could help.

[2017-03-17 02:30] Aphex124 commented on #1359
@Deamon5550 Will get one during the next lag spike, but it might take a while.
**Edit:** https://hastebin.com/bimawonewi.erl Thats all it gave me during the spike

[2017-03-17 04:46] iLefty commented on #1337
What? I sad, Server normally work without sponge... 20 hours.

[2017-03-17 04:57] me4502 commented on #1337
Do you have any plugins that change blocks? Like changes water to slabs (Or vice versa)?

[2017-03-17 05:10] iLefty commented on #1337
In crash-reports present all information about installed plugins and mods. I think, I haven't.

[2017-03-17 14:06] ziceptor commented on #1229
@Aaron1011 Any news?

[2017-03-17 17:13] afannnn commented on #1334
This was fixed in the latest version of ATG.

[2017-03-17 17:46] #1334 closed, assigned to Deamon5550

[2017-03-17 20:56] merjilin commented on #1335
Okay, so I updated the skyfactory 3 server to the newest build (3.0.8) along with forge to 2254 and spongeforge to 2231 and errors seemed to have stopped. I haven't touched tickprofiler either, so I'm not too sure what has fixed it.

[2017-03-18 12:53] ghost opened #1360 "SpongeForge not working with Galacticraft"
Here is the crash log and latest.txt file
[code]

[2017-03-18 18:43] Raycoms opened #1361 "Sponge problems with commands"
We have our own custom commands which already do the checks if the player is allowed to execute it.
First of all it checks for the op permission.

But it seems like if we put the command in the allowed list, sponge gives op level to that player for that command. Which screw some of our things up seriously.

[2017-03-18 18:45] Raycoms commented on #1327
Someone was able to analyze this?

[2017-03-18 20:50] Amaxter opened #1362 "Issue found in server console on custom modpack"
https://hastebin.com/efeqesocen.md

Mod list for pack: https://www.technicpack.net/modpack/audax.963457/mods

[2017-03-18 21:09] JaSpr commented on #1345
We have been running the latest beta build of spongeforge (2231) all week, and still cannot get squids to spawn anywhere on the server.

[2017-03-18 21:41] phit commented on #1345
squids and bats, can confirm
turning off async lighting does not fix it though! so I don't think it's related to this issue

[2017-03-18 22:13] kashike commented on #1360
1.8 is not supported.

[2017-03-18 22:13] #1360 closed, assigned to nobody

[2017-03-18 23:56] bloodmc commented on #1359
@Aphex124 Update to latest SF and make sure to provide your fml-server-latest.log along with timings.

[2017-03-19 13:08] gdude2002 opened #1363 "Apparent incompatibility with IC2's achievements"
Sponge: `1.10.2-2254-5.2.0-BETA-2234` (Server only, no Sponge on client)
Forge: 2254 (1.10.2)
IC2: 2.6.173 (Experimental for 1.10.2)

Upon mining some IC2 copper and collecting a block of it, the client is disconnected from the server and the following error occurs. Achievements from other mods seem to be fine.

<details>
  <summary>Error log</summary>

[code]
</details>

[2017-03-19 14:25] gd71 opened #1364 "Exception trying to process over a phase raised"
Hello
Sponge 1.10.2-2254-5.2.0-BETA-2234
forge-1.10.2-12.18.3.2254-universal
Using sponge with a mod which normally prevent explosions on certain zones
I assume it's related to sponge as working well without but let me know if I have to open PR for the mod
Thanks for your feedback!
[code]
[code]

[2017-03-19 15:14] gd71 commented on #1347
its a matter of sponge configuration
disable entity-activation-range for minecolonies if you want citizens to continue their life when players are at far distance
[code]

[2017-03-19 16:30] Varijon commented on #1269
Latest spongeforge-1.10.2-2254-5.2.0-BETA-2234 has this issue fixed.

[2017-03-19 16:30] #1269 closed, assigned to nobody

[2017-03-19 16:34] Varijon commented on #1265
Still broken in spongeforge-1.10.2-2254-5.2.0-BETA-2234.
Closing a container with item on cursor does not fire the Forge ItemToss event.

Also seems to affect item drops from fishing and pixelmon loot dropping if inventory is full.

[2017-03-19 17:50] johnfriedrich commented on #1363
Does happen with vanilla + every other achievement aswell.
In some rare cases, it can even crash your server + client.
In addition to that, it breaks ALL messages sent from the server.

[2017-03-19 17:59] gdude2002 commented on #1363
I've only noticed this with IC2's achievements, we've been getting others fine

[2017-03-19 18:30] gdude2002 commented on #1363
In addition to this, I've just noticed that this also prevents achievements from being broadcast entirely. Once the error occurs, that stops working.

[2017-03-20 00:01] jackytuutykcaj opened #1365 "The console is spammed with Unexpected World Change Detected"
http://pastebin.com/ZeXXeiSz

[2017-03-20 00:33] bloodmc commented on #1363
@simon816 Please fix this as it broke with your last commit.

[2017-03-20 09:23] simon816 commented on #1363
Fixed. I implemented a stub class for Achievement since achievements aren't implemented on the 5.x branch

[2017-03-20 09:23] #1363 closed, assigned to simon816

[2017-03-20 10:03] lurr commented on #1352
Please post a full log, and use the latest extrautils2 (1.3.3) as it fixes issues with crashes when placing Opinium Blocks/Klein Bottles if you aren't already.

[2017-03-20 14:11] Magi1053 commented on #970
+1

[2017-03-20 14:14] ktole1999 commented on #970
is ftb utilities in the pack and is this within an ftbu claim or other claimed area?

[2017-03-20 14:15] Magi1053 commented on #970
FTB Utilities was in the pack, but I removed the mod when I installed SpongeForge

[2017-03-20 15:46] Kuuch opened #1366 "Duplication with Blood Magic Sentient Sword"
Throwing a Blood Magic Sentient sword on the ground with 1000 Will, will duplicate the sword in the spectre which can be right clicked and collected, also the specter insta aggro's on any near by player which wasnt intended, the duplication i believe is spinge based as our server is running Sponge forge Version 1.10.2-2254-5.2.0-BETA-0 (custom) and the issue is there, however, single player, this

[2017-03-20 16:01] TehNut commented on #1366
The agro is probably on my end, but I believe the duplication is due to how Sponge is handling the ItemTossEvent  (or whatever it's called)

[2017-03-20 16:04] KasperFranz commented on #1366
Just for reference this is the issue on BloodMagic https://github.com/WayofTime/BloodMagic/issues/1096

[2017-03-20 16:56] lilmoefow opened #1367 "Sponge Tracking Error"
Forge: forge-1.10.2-12.18.3.2254
Sponge: spongeforge-1.10.2-2254-5.2.0-BETA-2236

Getting this error on start up, it says to report it here.  We have also been getting random crashes caused by a similar tracking issue, but i will report those separately once they occur again.

FML LOG : https://gist.github.com/lilmoefow/65ca34a5ae4f8d9ad649ee06c1afae59

[2017-03-20 17:35] lilmoefow commented on #1367
The error is also popping up again as i'm mining in the nether.  The Tick rate on the server takes a complete nose dive when this error starts.
https://gist.github.com/lilmoefow/9e5a29e35500bf410ac1dc6e2d250aa5

[2017-03-20 22:44] lilmoefow opened #1368 "Extra Utilities Quantum Quarry Crash"
Forge: forge-1.10.2-12.18.3.2254
Sponge: spongeforge-1.10.2-2254-5.2.0-BETA-2236
Crashlog: https://gist.github.com/lilmoefow/8eff708fa3a5f5395b71dc08a0500c41

Crash happened when the quarry was started. Last time this happened it was in a crash loop and i had to enable Forges RemoveErroringTileEntities config option to get it to load up.  But enabling that config just renders all Quantum Quarries

[2017-03-21 01:30] Dysthymic opened #1369 "Can no longer click chat Sponge 2236"
With the message fixes you can no longer click on links or paginations in chat.
SpongeForge #2236

[2017-03-21 01:44] simon816 commented on #1369
Cannot reproduce, I was able to navigate to different pages in the help menu
![working](https://puu.sh/uSnqh/2bfc674e44.jpg)

Do you have a specific scenario where this doesn't work?

[2017-03-21 02:55] Dysthymic commented on #1369
Removed Nucleus as a test. Seems there is an incompatibility with Nucleus (latest 26.1) and latest 2236 Sponge. Clickables work fine on 2231 with Nucleus.

[2017-03-21 03:18] simon816 commented on #1369
Still works with the `/help` pagination. Is there a specific text message that's not working that I can test for?

![ss](https://puu.sh/uStQE/0055ec49c7.png)

[2017-03-21 10:10] TomberWolf opened #1370 "ItemStack cannot be null!"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  FarseekCoreMod (Farseek-1.9.4-2.1.jar)
  FMLPlugin (InventoryTweaks-1.62-dev-66.jar)
  BookshelfLoadingPlugin (EnchantingPlus-Bookshelf-1.10.2-1.4.3.338.jar)
  NWRTweak (redstonepaste-mc1.9.4-1.7.4.jar)
  NEICorePlugin (NotEnoughItems-1.10.2-2.1.3.204-universal.jar)
  LoadingPlugin (HardcoreDarkness-MC1.9.4-1.8.jar)
  DynamicSurrou

[2017-03-21 16:45] CharZinta commented on #1190
This seems to happen when any mod has a villager and then you remove the mod.  We are currently hitting this bug on a regular basis as we try to get out of beta and go live.

Do we know if/when this fix is slated?

[2017-03-21 21:20] merjilin opened #1371 "Starting of a Quantum Quarry prints a crash log to console with no crash"
Hello there. I have been experiencing something especially weird with the QQ. When ever it is activated a crash log is printed to console but the server doesn't actually crash. Players have told me that this also resets the quantum quarries, causing them to lose upgrades, in addition to the fact the QQ doesn't actually mine or accept power. I'm posting this here incase this is anything to do with

[2017-03-21 22:18] lilmoefow commented on #1368
More Crashes today from it when a player who owns one logs onto the server.

https://gist.github.com/lilmoefow/5d74b91bad33a1ffd33b487506134d64

[2017-03-21 22:56] ryan-hoang commented on #1343
Getting the same issue, We're using 1.10.2-2221-5.2.0-BETA-2226 too.

[2017-03-21 23:54] merjilin commented on #1371
Oh I have also been made aware by players than item routing is no longer working for blood magic. This may be due to the attempt of fixing the dupe with the sword. This may also link to the reason why a special chest from routers reborn crashes the server when interacting with a blood magic altar.

[2017-03-22 00:37] Y0ungSandwich opened #1372 "Server crash on block update"
User placed cobblestone over Tinkers Construct drains. Ran vanilla redstone over the stone to a Extra Utilities timer. Server crashed immediately.

Pack is Mech & Magic v1.1.3 on ATLauncher
  SpongeCoremod (spongeforge-1.10.2-2254-5.2.0-BETA-2236.jar)

http://pastebin.com/gLDSy5tT

[2017-03-22 00:41] TomberWolf opened #1373 "Something happened when trying to unwind RandomBlockTickPhase"
[code]

[2017-03-22 00:43] TomberWolf opened #1374 "Exception during phase body"
[code]

[2017-03-22 03:28] JadenDevon opened #1375 "Unknown "Unexpected" error on Nether load"
I keep getting this strange error whenever I join an unloaded world. It is not restricted to the nether and never occurs when transporting back to the overworld. As far as I can tell, it doesn't break anything, but it is spamming the console and very annoying.
I am running sponge with SpongeBootstrap-0.2.0 on top of FTB Beyond 1.1.0

https://gyazo.com/6ee741520d1c8418b2aad31ccd4b8fe9

[fml-server-

[2017-03-22 15:49] merjilin opened #1376 "Cancelling of event leading to duping."
Hey, there! I've been sent by bloodshot regarding the cancelling of an event leading to dupes. I'll merely quote my previous issue.
"I've recently found out that upon updating to the newest GP around 7 hours ago, player have already managed to find and manipulate a bug. The bug allows a player to get duplicate blocks which have been mined using a PSI laser with the tick break block and OreExcavati

[2017-03-22 16:37] itsfolf opened #1377 "net.minecraft.stats.Achievement cannot be cast to org.spongepowered.api.statistic.achievement.Achievement"
[code]

[2017-03-22 16:43] stephan-gh commented on #1377
Update to SF build 2236.

[2017-03-22 16:43] #1377 closed, assigned to nobody

[2017-03-22 18:31] Magi1053 opened #1378 "TrackingUtil.tickTileEntity taking up entire server"
I dropped spongeforge into my existing DW20 pack, right off the bat the server was at 10tps. I profiled the server with Warmroast, and it told me that this was using 70% of the cpu.
` org.spongepowered.common.event.tracking.TrackingUtil.tickTileEntity() `

[2017-03-22 18:57] phit commented on #1378
everything sponge tracks will show up under that, https://github.com/SpongePowered/SpongeForge/issues/1213#issuecomment-274640181

[2017-03-22 19:18] gabizou commented on #1378
As phit said, sponge's calls are not expensive, it shows up as such because we are wrapping around everything to be able to track it. You'll need to provide some more profiling information for us to view, and likely give us an idea of how the server was preforming before you installed sponge.

[2017-03-22 19:21] Magi1053 commented on #1378
The server used approximately 20-30% of the box's cpu average at 20tps. After dropping in sponge, the cpu goes up to 100% and 6-10 tps. I ran https://github.com/nallar/TickProfiler, but it wasn't showing anything that was explaining the high server usage. How else do you recommend that I profile the server?

[2017-03-22 19:24] gabizou commented on #1378
We need to see the full warm roast profile.

[2017-03-22 19:27] gabizou commented on #1373
Update to the latest SpongeForge (#2241).

[2017-03-22 19:27] #1373 closed, assigned to nobody

[2017-03-22 20:25] Magi1053 commented on #1378
![image](https://cloud.githubusercontent.com/assets/1045179/24219110/acec3a9e-0f13-11e7-871a-904b1a3e90fa.png)
~link expired~

[2017-03-22 22:47] Yorkforce commented on #1259
Not sure if it's related but as well as the chickens not dropping items, lootbags are also not dropping with SpongeForge (2236).

[2017-03-23 09:02] gabizou commented on #1370
Fixed in the latest build for 1.10.2

[2017-03-23 09:02] #1370 closed, assigned to nobody

[2017-03-23 20:00] lilmoefow commented on #1367
The other admin on our server did some profiling with Warmroast.  Here are 2 images the results he got.

https://cdn.discordapp.com/attachments/213636083416694785/294478918012895233/moe1.PNG
https://cdn.discordapp.com/attachments/213636083416694785/294478932361740288/moe2.PNG

[2017-03-23 20:55] Raycoms commented on #1361
Is there a fix for that?

[2017-03-23 21:11] JadenDevon commented on #1375
By the way, this error is popping up with the cause tracker false for all values

[2017-03-24 01:46] Magi1053 commented on #1368
Related issue https://github.com/SpongePowered/SpongeForge/issues/970 https://github.com/SpongePowered/SpongeForge/issues/1371

[2017-03-24 11:57] Aphex124 commented on #1359
@bloodmc During the lag spike:
[FML-server-3.log](https://gist.github.com/Aphex124/345ec9eb62feb4562fb8fae49c527621)
I don't know how else to link a WarmRoast, but um [here](https://sentnet.us/WarmRoast.html) ... I still have the page up, if you need me to copy it in another way, just ask

**Edit:** It happened again, Sponge timings report: https://timings.aikar.co/?id=f612c25409bb473d94d1d2fa344c

[2017-03-24 15:54] radfast commented on #1360
Hi @kashike, I am the co-developer of Galacticraft, this issue has been reported to us also.  I expect you know that Galacticraft is one of the top 20 or so Minecraft mods, with over 5 million downloads.

Not sure what you meant by this, but we are currently updating Galacticraft for MC versions 1.8.9 and 1.10.2 at the same time.  It would be good to have MC 1.8.9 servers able to support Galacticr

[2017-03-24 16:05] radfast commented on #1360
Maybe this was one of the problems fixed by https://github.com/SpongePowered/SpongeForge/commit/f07f8a4b1e36c2c2039f6ee790b0752e9864c929 ?

[2017-03-24 16:13] Deamon5550 commented on #1360
@radfast Its pretty clear what we mean. Feel free to test in 1.10 or 1.11 and if it works great, if not then we can fix it there but we do not support and we do not backport fixes to 1.8 anymore.

[2017-03-24 16:15] radfast commented on #1360
Yes, but this creates a problem that there is a major issue in 1.8.9 which prevents our mod (and any other mod with dimension handling) from working with Sponge.  What about people who want to run servers with 1.8.9 modpacks?

[2017-03-24 16:28] phit commented on #1360
Then they will have to live without Sponge or backport the changes themselves, you can't support old versions forever. 1.8 came out over 2 years ago..

[2017-03-24 16:34] radfast commented on #1360
It would take you guys probably 5-10 minutes to backport  f07f8a4 to 1.8, I would make a PR for it but I think it's better done by someone completely familiar with your code.

The specific problem which prevents Galacticraft (and, I'm sure, also Mystcraft and other Forge mods which create new dimensions) from working in 1.8.9 is that

    FMLCommonHandler.instance().getMinecraftServerInstance().wo

[2017-03-24 17:14] Magi1053 commented on #1378
Updated warmroast profile link

[2017-03-24 17:19] gabizou commented on #1378
@Magi1053 Would you be able to provide a world + mods zip for us to be able to replicate? By the numbers, there's something somewhere causing an increase of use in the CauseTracker itself that is degrading performance for some reason, but the warm roast isn't showing anything to go off of.

[2017-03-24 17:39] Deamon5550 commented on #1360
If you want to spend your time and make a PR (only since this is a fairly bad error) then perhaps it could be accepted. But we have limited people and decided that two versions was the limit of what we can support, and those versions are the latest (1.11), and the second-latest (1.10) versions.

[2017-03-24 17:49] radfast commented on #1360
thank you, much appreciated.

I will make a PR.  It will take me a few days to do this, as I'm travelling over the weekend without PC access.

[2017-03-24 18:29] Magi1053 commented on #1371
Duplicate issue https://github.com/SpongePowered/SpongeForge/issues/970 https://github.com/SpongePowered/SpongeForge/issues/1368 (still unresolved)

[2017-03-24 19:07] Deamon5550 commented on #1371
Duplicate #1368, also please open a separate issue for your other issue.

[2017-03-24 19:07] #1371 closed, assigned to nobody

[2017-03-25 03:36] lilmoefow commented on #1378
I was having the same issue on my server.  Disabling the Quantum Quarry, and the dimension affiliated with it seems to have "fixed" it.

[2017-03-25 03:38] lilmoefow commented on #1367
#1378  is Related

[2017-03-25 15:51] Earthplate opened #1379 "Gamerule of showDeathMessages does not work"
Used to work in a previous version.

[2017-03-25 16:11] Keaton1188 opened #1380 "Pams HarvestCraft causing server lag - FTB Beyond"
So we are getting major lag on our FTB Beyond server, from what I can see it looks like its -
(harvestcraft:com.pam.harvestcraft.worldgen.FruitTreeWorldGen)

Sponge timings report - https://timings.aikar.co/?id=fa6cf9820f0647d5a06a9610764d2000

Any idea?

SpongeForge:
Minecraft 1.10.2
SpongeAPI 5.2.0-SNAPSHOT-a3257a0
SpongeForge 1.10.2-2254-5.2.0-BETA-2241
Minecraft Foge 12.18.3.2254

[2017-03-25 18:30] FiveEYZ commented on #1345
got lots of squids spawning after this fix, but i have yet to see any bats.

Did i miss something to make them spawn?

[2017-03-25 19:02] phit commented on #1345
might be worth a shot resetting your sponge global.conf, I have seen plenty of bats on both FTB Beyond and Direwolf20

[2017-03-25 21:08] EmanYm opened #1381 ""unexpected" tracking error when loading a world (with Nucleus)"
I got two errors when I loaded a world

Leading up to the report in the console

[The rest of the error is in here](http://pastebin.com/cjfxA4N9)

[Second error here](http://pastebin.com/dNfs67x6)

Possibly a similar issue as #1375

[Server Mod/Plugin list](https://i.gyazo.com/ebf75d8001b841de28675e72181abc61.png) (gyazo image)

[2017-03-26 00:06] crashtheparty opened #1382 "Pixelmon "Completing incorrect phase""
Whenever I win a pokemon battle in Pixelmon this error shows up:

25.03 19:56:14 [Server] Server thread/INFO [STDOUT]: [com.pixelmonmod.pixelmon.battles.controller.log.BattleLog:onCrash:234]: Caught error in battle. Continuing...
25.03 19:56:14 [Server] Server thread/INFO [STDERR]: [com.pixelmonmod.pixelmon.battles.controller.log.BattleLog:onCrash:235]: java.lang.NullPointerException
25.03 19:56:1

[2017-03-26 02:11] Eufranio opened #1383 "IC2 reactors can explode protected areas"
I know that's a known issue with the reactors, but I think with the tracking system those explosions could be controlled. When a IC2 reactor explodes, it will break the blocks ignoring their protection, same goes for nukes and etc...

[2017-03-26 04:22] Aphex124 commented on #1359
Can anyone get anything from the log and timings? Its happening more and more often.

[2017-03-26 05:04] gabizou commented on #1382
This is somewhat illegible, can you re-copy from the server log and use ` ``` ` block quotes?

[2017-03-26 05:51] #1382 closed, assigned to nobody

[2017-03-26 06:11] KingDan27 opened #1384 "Dragons not spawning with RFTools DIMs"
Running SF-2241 on FTB Beyond and SkyFactory3 Dragons do not spawn.
Tests completed:
Beyond/Skyfactory3 SF-2241 w/ plugins - no dragons spawn
Beyond/Skyfactory3 SF-2241 w/o plugins - no dragons spawn
Beyond/Skyfactory3 w/o SF-2241 - dragons spawn

Here is the FML Log i could find related to the dimension:
http://pastebin.com/ADZDnyy7

[2017-03-26 08:34] #1061 closed, assigned to nobody

[2017-03-26 08:34] #1184 closed, assigned to nobody

[2017-03-26 08:34] #1313 closed, assigned to nobody

[2017-03-26 08:34] #1329 closed, assigned to nobody

[2017-03-26 08:34] #1350 closed, assigned to nobody

[2017-03-26 08:34] #1358 closed, assigned to nobody

[2017-03-26 08:34] #1364 closed, assigned to nobody

[2017-03-26 08:34] #1365 closed, assigned to nobody

[2017-03-26 08:34] #1375 closed, assigned to nobody

[2017-03-26 08:34] #1381 closed, assigned to nobody

[2017-03-26 08:34] #1304 closed, assigned to nobody

[2017-03-26 08:34] #1322 closed, assigned to Aaron1011

[2017-03-26 08:34] #1331 closed, assigned to nobody

[2017-03-26 08:34] #1335 closed, assigned to nobody

[2017-03-26 08:34] #1341 closed, assigned to nobody

[2017-03-26 20:37] LemADEC opened #1385 "Lycanite: Exception trying to process over a phase!"
As of
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2245.jar

We're still observing cause tracker issues related to explosion:
[code]

This is with the MageWars 1.0.7 modpack, as found on Curse.

[2017-03-26 21:18] Eufranio opened #1386 "Exception ticking world entities"
I have removeErroringTileEntities on, and sometimes when it tries to remove a tile entity preventing a crash, the server crashes by another reason. Crash-report: https://hastebin.com/anuxaqeqej.sql

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2245
    Minecraft Forge: 12.18.3.2239

[2017-03-26 21:26] Eufranio commented on #1380
Pam's worldgen is laggy, pregen your world first and set a world border, otherwise every time someone is generating chunks your server will freeze,

[2017-03-26 21:31] Eufranio opened #1387 "RFTools Builder Block can mine protected areas"
RFTools has a block called Builder Block, which can be upgraded to act like a Quarry. When a player selects an area inside a protected area (GP claim, server spawn) and turn the builder on, it will mine the blocks, not respecting if they are protected or not.

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2245
    Minecraft Forge: 12.18.3.2239

[2017-03-26 21:33] LemADEC commented on #1385
This is reproduced with Lycanite Nether soul dying close to the surface: as a player, stand on the floor and wait for the mob to be at your level, then kill it.

[2017-03-26 21:36] LemADEC commented on #1385
A similar exception is observed with Cavernic creeper from  http://minecraft.curseforge.com/projects/cavern

I'm not sure if both issues are the same or not.

[code]

[2017-03-26 21:40] bloodmc commented on #1385
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/0811f5c721fe6c72add2a08728796935538670f2

[2017-03-26 21:40] #1385 closed, assigned to nobody

[2017-03-26 21:43] Eufranio opened #1388 "More tracking errors"
Now that's the stacktraces: https://hastebin.com/nenigebebu.md

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2245
    Minecraft Forge: 12.18.3.2239

[2017-03-26 21:53] merjilin opened #1389 "Dupication of Cyberware parts upon death using a internal defibrillator."
Hey again, guys!
I have recently come across an issue where if you prevent your death using an internal defibrillator from Cyberware, it will duplicate all robotic items on your player. Has been tested in single-player and dupe doesn't arise.
Steps:
1. Install the internal defibrillator as well as an additional upgrade,
2. Ensure they're powered.
3. die.

Spongeforge: 1.10.2-2254-5.2.0-BETA-2245
F

[2017-03-26 21:56] merjilin commented on #1389
Oh never mind. It appears to have been a graphic glitch. Sorry for the inconvenience.
Sincerely, merjilin.

[2017-03-26 21:56] #1389 closed, assigned to nobody

[2017-03-26 22:18] Eufranio opened #1390 "AgriCraft not workign with Sponge"
AgriCraft is a farming mod that adds crops sticks, where you can plant and enhance seeds. The main function of the mod is broken: while in a Sponge server, you can't put seeds in the crop sticks (right clicking it with a seed), so we can't use the mod. Seed Analyzer's also can't analyze the seeds (put a seed inside a Seed Analyzer, wait it finish, you won't get a analyzed seed, it would act as you

[2017-03-27 03:55] gabizou commented on #1388
Update to SpongeForge 2249 or higher, this issue is fixed for those builds, a back port for 1.10.2 will be provided in due time.

[2017-03-27 03:55] #1388 closed, assigned to nobody

[2017-03-27 13:38] Yorkforce opened #1391 "Lootbags dont drop with SpongeForge"
Noticed this problem a while ago on Sky Factory 3, we tested in single player and the lootbags drop from mobs just fine but on the server with SpongeForge-2241 they don't drop at all.

There was an issue #1259  reported about Hatchery but I wasn't sure if it was related to this problem.

[2017-03-27 14:48] merjilin opened #1392 "Machines disconnect upon chunk unloading"
Hey, guys. Sorry to be back so soon.
Players seem to be having an issue where complex systems are disconnecting upon the chunks being unloaded. I mean disconnected as in a refined storage systems disconnects itself and needs breaking in order to be fixed.
An example that has been revealed is: connecting a comprehensive refined storage auto crafting setup, and flying/teleporting away. Upon reloadin

[2017-03-27 15:18] Brend-Smits commented on #830
Can confirm this is an issue again after upgrading to the latest SpongeForge.
@bloodmc is it possible due to tracker changes? Or unrelated?

[2017-03-27 15:49] bloodmc commented on #1380
As Eufranio stated, pregen your world. Use nucleus to do it.

[2017-03-27 15:49] #1380 closed, assigned to nobody

[2017-03-27 15:51] bloodmc commented on #1369
@Dysthymic is this still an issue with latest SF?

[2017-03-27 15:54] #1128 closed, assigned to nobody

[2017-03-27 15:55] Zidane commented on #1110
Update to latest. if still an issue, re-open with more information.

[2017-03-27 15:55] #1110 closed, assigned to nobody

[2017-03-27 16:03] Zidane commented on #511
Closing this as it will eventually be resolved once cpw from Forge Team implements the new platform loading functionality to LaunchWrapper. At that point, we can finally be able to do what we need to do before coremods are even loaded.

Let me stress that this isn't a Sponge issue, it is an issue with how Sponge is treated by FML during the loading process. SpongeForge is mod in name only, meaning

[2017-03-27 16:03] #511 closed

[2017-03-27 17:06] bloodmc commented on #1392
@merjilin Did this just start happening with latest? Test other builds. You should also test this on a clean setup with only refined storage/enderio. and provide a timings report as well as a server log.

[2017-03-27 17:19] merjilin commented on #1392
I will have to do further testing tomorrow due to a tight schedule. The players told me that they had been noticing it for the past couple of weeks but didn't speak out about it. If I can remember correctly, the build I updated to before this started to occur was 2236. Though obviously testing is required.

[2017-03-27 20:16] Eufranio commented on #1392
That also happens with IC2 energy net. Sometimes when players log in the server, their E-net is gone: cables aren't connecting with eachother, machines aren't accepting/outputing power, and need to be replaced to work (everything).

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2245
    Minecraft Forge: 12.18.3.2239

[2017-03-27 20:20] Eufranio commented on #830
Latest here, no crashes. Maybe a modpack problem? My modpack: [MagiBeta Pack](https://www.technicpack.net/modpack/magibeta-pack.940049).

[2017-03-27 21:49] simon816 commented on #1379
Just tested with both SpongeForge `2255` (5.2.0) and `2256` (6.0.0) and it's working as intended. Is there a specific case that's not working for you? Also some version information would be useful

[2017-03-27 21:50] Eufranio opened #1393 "Farm Station spamming with removeErroringTileEntities enabled"
I've recently enabled the **removeErroringTileEntities** option in the Forge config, and then a lot of "crashes" started being printed in the console. Crash-report printed (not generated, since the server will not crash): https://hastebin.com/tiyayaqako.scala

I suspect to be something in Sponge, because I tested with the same world in a clean server and nothing crashed.

[2017-03-27 23:05] axle2005 commented on #1387
This is a GP issue.

[2017-03-27 23:05] axle2005 commented on #1383
GP Issue

[2017-03-27 23:17] Eufranio commented on #1387
This griefs the server spawn.

[2017-03-28 03:32] #1379 closed, assigned to nobody

[2017-03-28 04:11] bloodmc commented on #1392
@Eufranio @merjilin  provide a test world with only IC2 or refined storage and list steps to reproduce.

[2017-03-28 04:15] bloodmc commented on #1367
This was fixed. Update to latest SpongeForge.

[2017-03-28 04:15] #1367 closed, assigned to nobody

[2017-03-28 04:21] bloodmc commented on #1374
Fixed in latest builds, update.

[2017-03-28 04:21] #1374 closed, assigned to gabizou

[2017-03-28 04:47] bloodmc commented on #1369
Assuming this is fixed. I'll reopen if it happens again.

[2017-03-28 04:47] #1369 closed, assigned to nobody

[2017-03-28 04:48] bloodmc commented on #1362
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/ff967b5517b81b73b441c4cb0aea6ce3eedde4ea

[2017-03-28 04:50] bloodmc commented on #1362
Actually i need to catch this as well

[2017-03-28 04:50] bloodmc commented on #1362
@Faithcaio please fix this.

[2017-03-28 07:13] bloodmc commented on #1384
This should be fixed in latest builds, update.

[2017-03-28 09:06] Brend-Smits commented on #830
Occured after switching to latest SF on Sky Factory 3 and on FTB Beyond

[2017-03-28 09:10] Brend-Smits commented on #1387
https://github.com/McJty/RFTools/issues/1107

[2017-03-28 09:14] Brend-Smits opened #1394 "[1.10.2] ActuallyAdditions - Buttons"
https://github.com/Ellpeck/ActuallyAdditions/issues/587
For some odd reason a lot of mod developers just blame Sponge for everything which is extremely frustrating... Sorry to come here, but could this be fixed on the Sponge side of things of purely on ActuallyAdditions mod?

[2017-03-28 09:22] Brend-Smits opened #1395 "[1.10.2] Spawning certain modded items in the world won't work"
Hello all,
I'm seeking advice, we've made a new keep inventory system which basically gives the player to choose between Keeping their items (in exchange for a small fee) or dropping the items on the place of death.
It looks like spawning certain items on the world won't work though, for example, tinkers construct or draconic evolution armors/weapons.
If you literally take them from the player inv

[2017-03-28 12:11] ghost commented on #1392
It is very difficult to reproduce. As said Eufranio, cables disconnect sometimes (idk when chunk unloaded or loaded back).

[2017-03-28 13:07] LemADEC commented on #1395
Those mods are replacing ItemEntities with their owns, the one you spawn in is almost instantly replaced by the one from the mod

[2017-03-28 13:13] LemADEC commented on #1386
Your forge version is outdated 12.18.3.2239 and doesn't match with your outdated spongeforge version 1.10.2-2254-5.2.0-BETA-2245

Also, I'm pretty sure we need the full server logs to investigate this kind of cascaded errors.

[2017-03-28 13:18] ktole1999 commented on #1392
tp to spawn. wait 5-6 min and tp back. rinse and repeat till issue happens. unless your base is within 10 chunks of spawn then you need to go farther away from your base.

[2017-03-28 15:47] merjilin commented on #1392
I can't seem to get it to reproduce with pure refined storage and spongeforge 2259. It may be because I'm having to use a creative controller due to a lack of power generation in refined storage itself.

[2017-03-28 16:44] Faithcaio commented on #1362
https://github.com/SpongePowered/SpongeCommon/commit/7719eee07ee7
this could fix it

[2017-03-28 18:01] MrLegacy119 opened #1396 "aroma1997.core.command is conflicting with Sponge's MinecraftCommandWrapper"
Hello, I recently started trying to setup SpongeForge on my FTB Beyond server and had some difficulties, eventually after getting help from the sponge forums I got the server to load with spongeforge on it.  Once the server loaded up I went on just  to make sure it was working right and tried to use the /help command and got a long error, I went back on the forums with the error report and one of

[2017-03-28 18:12] KingDan27 opened #1397 "Issue with Quanum Quarry World Generation in Beta-2259"
Looks like an issue with quantum quarries world generation. Updated to SF-2259 when the issue occured downgraded to SF-2245 and the issue stopped. Server doesnt crash just times out.

https://pastebin.com/2DTSiQ52

[2017-03-28 18:47] Eufranio commented on #1392
Yeah, I can't fully reproduce it, just hear players reporting (and happened with myself). I chunkloaded the base where I had this bug and it isn't happening anymore, so defiantely is something with chunk unloading.

[2017-03-28 19:07] Aaron1011 opened #1398 "Decide how to handle Forge's Entity.capturedDrops"
Forge adds [a public field 'capturedDrops'](https://github.com/MinecraftForge/MinecraftForge/blob/006b8cc8bd088b90e3e8fa7162b5d052ec8c3dd2/patches/minecraft/net/minecraft/entity/Entity.java.patch#L32) to `Entity` for the purpose of firing events. With the CauseTracker system, we end up ignoring this field as we track drops ourselves in a `PhaseContext.

However, the [Hatchery mod](https://github.c

[2017-03-28 19:44] bloodmc commented on #1362
@Faithcaio push it if it works or provide a test jar for user to test. Thanks!

[2017-03-28 21:35] Brend-Smits commented on #1395
Thank you LemADEC, I will close this issue in that case.

[2017-03-28 21:35] #1395 closed, assigned to nobody

[2017-03-28 22:46] gabizou commented on #1398
@Aaron1011 There's a pretty good way to go about this, we can keep it in sync with the list of drops during processing (add hooks to SpongeImplHooks, but that class desperately needs to be refactored out to the several other utility classes for their designed areas), and keep it in line with events, as I'm assuming it's because Hatchery is using the event listeners to handle the drops? Otherwise,

[2017-03-29 01:54] LemADEC commented on #830
Issue is reproduced with
forge-1.10.2-12.18.3.2254-universal.jar
Morpheus-1.10.2-3.1.12.jar
VoidCraft-1.10.2-0.17.8.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2259.jar

It wasn't present (?) with
spongeforge-1.10.2-2254-5.2.0-BETA-2254.jar

[2017-03-29 11:36] Yorkforce commented on #1391
As mentioned in #1398 disabling pre-merge in sponge config does fix this

Thanks for looking into it guys!

[2017-03-29 15:50] t2wave opened #1399 "Interacting with Shulker Boxes still produscs error"
Just letting you guys know it's still there. Thankfully it doesn't appear to cause the server any trouble functioning.

latest.log:
https://pastebin.com/SH3JWMrz

fml-server-latest.log:
https://pastebin.com/tBRHvQqP

[2017-03-29 19:20] diluvium opened #1400 "world/data/scoreboard.dat not updated when using SpongeForge"
I've been trying to add a death counter to the tab screen when using spongeforge-1.11.2-2227-6.0.0-BETA-2260.jar

commands

[20:07:34] [Server thread/INFO]: Added new objective 'Deaths' successfully

[20:07:45] [Server thread/INFO]: Set the display objective in slot 'list' to 'Deaths'

With SpongeForge installed, the scoreboard.dat isn't updated, neither after the commands are entered nor when the

[2017-03-30 09:03] Inscrutable commented on #1399
This is a duplicate of the issue on SpongeCommon: https://github.com/SpongePowered/SpongeCommon/issues/1253

[2017-03-30 10:07] #1399 closed, assigned to nobody

[2017-03-30 10:59] Quetzi commented on #830
@Rubbertjuh The mod is all rights reserved, you do not have permission to redistribute. Any 'fix' you make to the mod would break functionality. This is on Sponge to fix.

[2017-03-30 11:06] Brend-Smits commented on #830
@Quetzi Sorry I did not know that, can't find the license anywhere. - Edited the comment to remove the "fix"

[2017-03-30 11:39] johnfriedrich opened #1401 "crashes since SF 2254 NullPointerException: Exception in server tick loop"
Since SF 2254 I am getting server crashes with FTB Beyond. I am sure, the global Causetracker commit is causing this, as I am running on 2250 since then and the server isn't crashing anymore.

The mod tracks, if a player uses a bed. I think during the crash, the mod tried to update the players sleep state and during that, the player lost the connection or logged out(?) That's why it crashed(?)
mc

[2017-03-30 11:55] axle2005 commented on #1401
The answer to this one is quite easy: The Morpheus dev has decided he does not support sponge, so just uninstall Morpheus.

[Link to Morpheus Github](https://github.com/Quetzi/Morpheus/issues/21#issuecomment-289492033)

[2017-03-30 12:01] johnfriedrich commented on #1401
Well, i don't see the point, but hey..
Okay. Thanks for the hint.

[2017-03-30 12:01] #1401 closed, assigned to nobody

[2017-03-30 12:39] TomberWolf opened #1402 "NPE Timings when getting block ID"
spongeforge-1.10.2-2254-5.2.0-BETA-2259

[code]

[2017-03-30 14:11] #1397 closed, assigned to gabizou

[2017-03-30 14:19] ktole1999 commented on #1402
need full log. paste link from pastebin

[2017-03-30 14:23] ktole1999 commented on #1401
no mod dev supports sponge when troubleshooting. this is why they say test in non sponge environment. i have this running just fine on my sponge server.

[2017-03-30 14:36] bloodmc commented on #1387
McJty fixed this in 5.91

[2017-03-30 14:36] #1387 closed, assigned to nobody

[2017-03-30 14:37] bloodmc commented on #1368
Update to latest SF and retest.

[2017-03-30 14:40] bloodmc commented on #1354
This has nothing to do with SpongeForge.

[2017-03-30 14:40] #1354 closed, assigned to nobody

[2017-03-30 14:41] bloodmc commented on #1348
This isn't a sponge issue, raise max-tick-time in server.properties.

[2017-03-30 14:41] #1348 closed, assigned to nobody

[2017-03-30 14:43] bloodmc commented on #1352
This was already resolved on our end. Update to latest SpongeForge.

[2017-03-30 14:43] #1352 closed, assigned to nobody

[2017-03-30 14:44] bloodmc commented on #1347
As gd71 stated, update your entity-activation to handle minecolonies. You can disable it entirely for the mod, just enable auto-populate then set enabled to false for minecolonies.

[2017-03-30 14:44] #1347 closed, assigned to nobody

[2017-03-30 15:16] bloodmc commented on #1361
Why not just use a permissions plugin like LuckPerms? The op system is terrible and there is no need to handle custom permission checks yourself.

[2017-03-30 16:21] bloodmc commented on #1325
This was fixed recently. Update to latest SF.

[2017-03-30 16:21] #1325 closed, assigned to nobody

[2017-03-30 16:22] bloodmc commented on #1336
Useless ticket with no information given.

[2017-03-30 16:22] #1336 closed, assigned to nobody

[2017-03-30 16:26] bloodmc commented on #1320
@Keaton1188 @Eufranio does this occur with latest SpongeForge build?

[2017-03-30 16:26] bloodmc commented on #1306
This was fixed recently. Update to latest SF.

[2017-03-30 16:26] #1306 closed, assigned to nobody

[2017-03-30 16:27] bloodmc commented on #1301
This was fixed recently. Update to latest SF.

[2017-03-30 16:27] #1301 closed, assigned to nobody

[2017-03-30 16:30] bloodmc commented on #1241
No response in nearly 2 months. Assuming fixed.

[2017-03-30 16:30] #1241 closed, assigned to nobody

[2017-03-30 16:34] bloodmc commented on #1179
I haven't heard of this issue using latest SF and GP. Update to latest SF and try with GP. If it occurs in GP then i'll reopen.

[2017-03-30 16:34] #1179 closed, assigned to nobody

[2017-03-30 16:35] bloodmc commented on #1146
Update to latest SF and create a new ticket if problem persists.

[2017-03-30 16:35] #1146 closed, assigned to nobody

[2017-03-30 16:36] bloodmc commented on #1166
This was fixed awhile ago. Update to latest SF.

[2017-03-30 16:36] #1166 closed, assigned to Zidane

[2017-03-30 16:37] bloodmc commented on #1143
I cannot reproduce any crashes with placing snow. Reopen if it occurs with latest builds.

[2017-03-30 16:37] #1143 closed, assigned to nobody

[2017-03-30 16:38] bloodmc commented on #1136
This does not occur with latest Sponge builds.

[2017-03-30 16:38] #1136 closed, assigned to nobody

[2017-03-30 16:38] bloodmc commented on #1142
Create a new ticket if it occurs with latest builds.

[2017-03-30 16:38] #1142 closed, assigned to nobody

[2017-03-30 16:40] bloodmc commented on #1139
Update to latest SpongeForge build and make sure to enable "structure-saving" and turn off mineshaft.

[2017-03-30 16:40] #1139 closed, assigned to nobody

[2017-03-30 16:42] bloodmc commented on #1081
This was fixed awhile ago. Create a new ticket if it happens with latest builds.

[2017-03-30 16:42] #1081 closed, assigned to nobody

[2017-03-30 16:43] bloodmc commented on #1058
Create a new ticket if it occurs with latest SF builds.

[2017-03-30 16:43] #1058 closed, assigned to nobody

[2017-03-30 17:05] Faithcaio commented on #1362
fixed in https://github.com/SpongePowered/SpongeCommon/commit/ba2a27ffa83ee972a024407921fbd36c01e768c0

[2017-03-30 17:05] #1362 closed, assigned to Faithcaio

[2017-03-30 17:27] bloodmc commented on #1101
@i9hdkill Does this still happen with latest builds?

[2017-03-30 17:28] bloodmc commented on #1118
This is no longer an issue with latest builds.

[2017-03-30 17:28] #1118 closed, assigned to nobody

[2017-03-30 17:30] bloodmc commented on #1032
No response in nearly 2 months, create a new ticket if problem persists.

[2017-03-30 17:30] #1032 closed, assigned to nobody

[2017-03-30 17:36] bloodmc commented on #512
This shouldn't be an issue with latest SF builds. Create a new ticket if it persists.

[2017-03-30 17:36] #512 closed

[2017-03-30 17:43] bloodmc commented on #1359
The lag is coming from AE2. Remove SpongeForge and retest. If it happens without sponge then report to dev.

[2017-03-30 19:28] fabri2000779 opened #1403 "annoying message in the server console"
so today i upload to the last beta version of sponge and it giving me this console error, all the plugins works good but it is just annoying message in the console
here the message:
https://pastebin.com/ffDFnFt1

[2017-03-30 19:38] bloodmc commented on #1403
Provide proper info or your ticket wont be bothered with. ALWAYS upload relevant server logs.

[2017-03-30 19:38] #1403 closed, assigned to nobody

[2017-03-30 19:59] lilmoefow commented on #1368
Updated to latest version of Sponge, enabled the quantum quarry again along with the dimension it uses. The server started back up but got a completely different crash

Crashlog : https://pastebin.com/cczzTB2i

Server Log : https://pastebin.com/wXsfDAQX

FML Log : https://gist.github.com/lilmoefow/23621fb15890b83f7b81994ef221c615

Disabling ChickenChunks on the server allowed us to start the serve

[2017-03-30 20:01] fabri2000779 opened #1404 "Item drops during world generation cause spam"
spongeforge-1.10.2-2254-5.2.0-BETA-2262.jar

i search in the logs and there is not error but this just spam in the console
https://pastebin.com/ffDFnFt1

[2017-03-30 20:52] lilmoefow commented on #1368
So, Quarry works but doesnt work.. It says in its gui that it is "mining blocks" but it doesnt actually output anything any more.  The quarry also sends the cpu usage to full 100%.  Will do some profiling with Warmroast later tonight or tomorrow, and give you the results

[2017-03-30 21:33] fothercat commented on #1404
I have the exact same issue.
I tp'd to the position in "position="
its either next to flowing water or lava , or next to cobwebs.

[2017-03-30 21:35] Deamon5550 commented on #1404
Your error is cut off we need the full server log.

Also don't open multiple issues....

[2017-03-30 21:41] fothercat commented on #1404
full error (error only) : https://pastebin.com/gpMLqLhr
complete logfile : https://pastebin.com/ffDFnFt1

[2017-03-30 21:48] fothercat commented on #1404
Sorry, full log to big for pastebin. here is the complete log:
[log.txt](https://github.com/SpongePowered/SpongeForge/files/883887/log.txt)

[2017-03-31 00:58] johnfriedrich commented on #1101
No actual crash so far, but this was random at that time and requires many player that are testing endportals.
If you deactive the end, and throw an item or let falling blocks get into the portal, you can easily crash the server because of the message spam:
http://prntscr.com/eqkchs

SF 2262

Edit: After 2 minutes the server crashes with this report:
https://pastebin.com/RcEvbgDi
Guess just too ma

[2017-03-31 04:34] simon816 commented on #1402
From what I can tell it appears that a block is loaded into the world but it not registered in the block registry. What mods do you have?

[2017-03-31 09:47] Yorkforce opened #1405 "Server Crash - epicsiegemod"
I did originally report this to the mod(pack) dev but it would appear to be a SpongeForge issue
https://github.com/Darkosto/InvasionIssues/issues/49

Summary:
Ran into this issue tonight:
https://pastebin.com/BLPwP3Qr

I believe it's related to mobs digging, after removing the mobs listed under the S:"Digging Mobs" entry in the config, the crash stopped.

[2017-03-31 11:42] axle2005 commented on #1401
Its a hit or miss thing... I have heard several large server networks having this exact same issue when they hit 2254. Its a pretty insignificant mod.

Also, do not simply say 'no mod dev supports sponge' as that is lie. There are a few that accept sponge is a thing and support it much like how Thermos or KCauldron were supported.

[2017-03-31 11:46] TomberWolf commented on #1402
This should be better:

https://pastebin.com/vGYUgVN1

[2017-03-31 14:31] ktole1999 commented on #1401
did not say they didnt support it. i said "no mod dev supports sponge when troubleshooting." there is a difference

[2017-03-31 16:41] fabri2000779 commented on #1404
so now what?

[2017-03-31 17:47] bloodmc commented on #1405
The Epic-Siege mod is using reflection to replace the entity AI tasks instance with their own proxy as shown here

https://github.com/Funwayguy/Epic-Siege-Mod/blob/1.10/src/main/java/funwayguy/epicsiegemod/handlers/MainHandler.java#L61

Replacing a core class instance like they are doing is just asking for trouble. I also do not see how this is only a Sponge issue as any mod that uses the AI tasks

[2017-03-31 19:51] #1405 closed, assigned to nobody

[2017-03-31 20:26] bloodmc commented on #1391
You should always have pre-merge turned off when running SpongeForge as there are too many compatibility issues with it.

[2017-03-31 20:26] #1391 closed, assigned to nobody

[2017-03-31 20:31] bloodmc commented on #1372
@Mumfrey any idea why the following is not working?
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/tracking/CauseTracker.java#L401

[2017-03-31 20:54] phit commented on #1372
https://github.com/SpongePowered/SpongeForge/issues/1342

[2017-03-31 21:07] ghost opened #1406 "org.spongepowered.common.event.tracking.phase.block.BlockDro"
Hi there -

I've got a pretty fresh world (less than a day old), that is currently running spongeforge-1.10.2-2254-5.2.0-BETA-2262.jar. When my players are exploring, the following floods the console.

https://pastebin.com/FbY2X6YR

I haven't been able to isolate it from anything other than exploring. Biomes o Plenty has been disabled, thinking it had something to do with how that plugin handles l

[2017-04-01 07:55] JaSpr commented on #1346
bump.

[2017-04-01 08:30] gabizou commented on #1404
Just to note, this is the first re-entrance, seems like item drops are occurring during world generation (Which is somewhat usually expected. Posting so I have something to look at when fixing this bug
:
[code]

I can't guarantee I'll get to it in the next day, but I'll try to get to it over this week.

[2017-04-01 08:38] gabizou commented on #1406
Duplicate of #1404

[2017-04-01 08:38] #1406 closed, assigned to nobody

[2017-04-01 11:29] LemADEC opened #1407 "Player kick "String too big" with /sponge plugins"
As of
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2262.jar
with the Invasion modpack and no plugins.
Issue is reproduced with other modpacks like FTB Beyond, etc.

When using /sponge plugins, player gets kicked from server:
[code]

When checking from console, the chat message is only 3868 bytes long:
[code]

Issue is reproduced with spongeforge-1.10.2-2254-5.2.0-BETA

[2017-04-01 11:30] stephan-gh commented on #1407
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/918 and https://github.com/SpongePowered/SpongeCommon/issues/1239

[2017-04-01 11:30] #1407 closed, assigned to nobody

[2017-04-01 18:01] Mohron opened #1408 "[1.11.2] Exception during phase body crash"
SF: spongeforge-1.11.2-2227-6.0.0-BETA-2260.jar

The server crashes on me everytime I use the ExU 2 Crusher on some blaze rods. Right before the crash there's a Spong error.
[Crash](https://hastebin.com/siyerufiki.sql) | [Log](https://gist.githubusercontent.com/Mohron/e1283cd8ec189ce5c7ab24b2e39ecf1f/raw/88d87205fbfaaf86ab88983257b8694aa503c747/server.log)

[2017-04-01 18:14] bloodmc commented on #1408
@Mohron test without SpongeForge.

[2017-04-01 18:24] bloodmc commented on #1408
ExtraUtilities 2 bug

https://github.com/rwtema/extrautilities/issues/1409

[2017-04-01 18:24] #1408 closed, assigned to nobody

[2017-04-01 18:52] jackytuutykcaj opened #1409 "Gamebreaking dupe"
So i posted this as an issue in draconic evolution but apparently they said its a spongeforge problem.
Original post: https://github.com/brandon3055/Draconic-Evolution/issues/647
The video of the dupe and how to reproduce it: https://youtu.be/PB8Gb4h85-o .

[2017-04-01 18:53] #1409 closed, assigned to nobody

[2017-04-01 18:55] jackytuutykcaj commented on #1351
https://youtu.be/PB8Gb4h85-o

[2017-04-01 20:20] Mohron commented on #1408
Damn. I was actually hoping it would get fixed... RIP

[2017-04-01 21:40] ghost commented on #942
NetherPortalFix does not work with SpongeForge.

[2017-04-01 22:21] bloodmc commented on #1404
@fabri2000779 Just turn off causetracker verbose warnings in sponge's global.conf until this gets fixed.

[2017-04-01 23:55] LemADEC commented on #1175
Is this still reproduced?

[2017-04-02 00:00] bloodmc commented on #1238
As @Mumfrey stated, this should be fixed as long as you are running latest builds.

[2017-04-02 00:00] #1238 closed, assigned to stephan-gh

[2017-04-02 10:18] Unnoen opened #1410 "Error with Quanum Quarry in SpongeForge Build 2264"
When the Quantum Quarry is powered, I am unable to open it, and it prints the following over and over again in the console:
https://pastebin.com/fzUzTDS2

SpongeForge 1.10.2-2254-5.2.0-BETA-2264
Forge 1.10.2-12.18.3.2254

[2017-04-02 15:56] phit opened #1411 "Wireless Crafting Terminal not working"
No items are showing up in the terminal and this is in the console
http://vpaste.net/iJpBv

WirelessCraftingTerminal-1.10.2-0.0.17.jar
appliedenergistics2-rv4-alpha-11.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2264.jar

[2017-04-02 22:04] Raycoms commented on #1327
Any update on this?

[2017-04-02 22:40] gabizou commented on #1327
Just wait on a fix, when the fix is in, the issue will be closed. I can't provide ETA's except that I'm aware of the issue and already working on a fix.

[2017-04-03 01:26] phit commented on #1411
note this works in 2262, so something in the inventory changes broke this

[2017-04-03 02:01] JaSpr commented on #1411
Came here to see if there was a ticket for this from the latest build.  There is.  Our users are having this issue, too.

[2017-04-03 03:35] Twisted-Code opened #1412 "Exception Ticking World (Invalid Villager profession id is present)"
https://gist.github.com/macks2008/165606051d68477ba872ff1df0e1af6c As far as I can tell,  something made this librarian so it has a wrong profession ID, and now whenever I log in (presumably because I was in the chunk and tried  interacting  with the villager), the server crashes. Is there any viable solution besides rolling the map back and deleting the villager, and perhaps any other villagers n

[2017-04-03 03:38] Twisted-Code commented on #1412
err, to clarify, this crash started happening after I tried trading with the librarian in question

[2017-04-03 04:37] Twisted-Code commented on #1412
it seems to only happens sometimes. Sometimes I'm able to connect to my server without it crashing, and just now it crashed while I wasn't even online, although I think one of my other players might have been?
https://gist.github.com/macks2008/d4150da06c69bc1cebf61831085436a5

[2017-04-03 15:16] Twisted-Code commented on #1412
on further inspection, it seems to have nothing to do with the librarian, but rather loading (or perhaps unloading?) chunks with corrupt villagers. I was the only one online and, while exploring presumably-new chunks, the server crashed again with the same error.

[2017-04-03 16:30] ktole1999 commented on #1412
duplicate issue. please use search to locate original post and make comment there.

[2017-04-03 16:51] Faithcaio commented on #1411
duplicate to https://github.com/SpongePowered/SpongeCommon/issues/1281

[2017-04-03 16:51] #1411 closed, assigned to nobody

[2017-04-03 16:55] ktole1999 commented on #942
confirmed. pathing is back to original crap but no errors in log. it just doesnt work. bummer because this was an awesome mod.

[2017-04-03 17:48] MiscMC commented on #1346
How did you do that ?

[2017-04-04 00:55] bhi-elliot opened #1413 "[1.11.2 - build 2260] ShulkerBox.getRootLens"
Complete Server crash... seems like it has something to do with Shulker boxes and Lens...

Not much info here, sorry, and I do not know enough about this stuff to help out more than provide the following. This was all I was able to get from the logs:

https://pastebin.com/U3paAWxY

[2017-04-04 03:36] Twisted-Code commented on #1412
I tried? Didn't find anything mentioning invalid villagers,, but maybe I'm just bad at using the search function on here

[2017-04-04 03:43] Twisted-Code commented on #1412
Okay, apparently I  forgot to include closed issues. that filter being on by default really gets me sometimes...

I still feel compelled to ask on this thread (although I'll also ask on one of the others): why not catch something like this and simply delete or reset the object with the invalid data (in this case, the villager)?

[2017-04-04 04:16] Twisted-Code commented on #1190
I'm having this problem as well. For me, it started happening sometime after updating AgriCraft, which was already causing villagers with weird data to begin with. Top that off with an inexperienced admin (me, guilty as charged) and you've got a recipe for an unscheduled map reset...
would it be too much to ask for someone to add a try/catch block for this that simply deletes villagers with broken

[2017-04-04 05:06] Yorkforce opened #1414 "Incompatibility with SwingThroughGrass"
Ran into this issue tonight with the SwingThroughGrass mod:
https://mods.curse.com/mc-mods/minecraft/264353-swingthroughgrass

https://pastebin.com/rtkyiizc
(sorry its not the best error report, thats all i could get from the log)

Basically results in SwingThroughEverything, blocks can't be broken, breaking them in creative results in a ghost block, couldn't even left select in world edit.

[2017-04-04 06:20] Faithcaio commented on #1413
This is already fixed. Update to latest. (2264+)

[2017-04-04 06:20] #1413 closed, assigned to nobody

[2017-04-04 16:12] Vhisper opened #1415 "null when completing phase after onChunkPopulateFinish"
Hi, I just wanna say that I have no idea what this error means, but it said to report. As far as I know, I didn't notice anything different nor did it crash my server. I also had to format the log file into a .docx because .long isn't supported. I can provide other diagnostics if needed.

[fml-server-latest.docx](https://github.com/SpongePowered/SpongeForge/files/893770/fml-server-latest.docx)

[2017-04-04 16:17] Yorkforce commented on #1414
Seems this is a mod issues not a spongeforge issue, apologies.

https://github.com/Darkosto/InvasionIssues/issues/95

[2017-04-04 16:17] #1414 closed, assigned to nobody

[2017-04-04 16:18] gabizou commented on #1415
Re-upload the log to something like gist.github.com

[2017-04-04 16:20] Vhisper commented on #1415
@gabizou
https://gist.github.com/Vhisper/21246dd23e8d97ef27a762c3f392e98c

Sorry about that.

[2017-04-04 17:36] gabizou commented on #1346
Do what? Add tags?

[2017-04-05 03:33] bhi-elliot commented on #1413
ah, okay. thanks. I have updated.

[2017-04-05 07:33] #1059 closed, assigned to nobody

[2017-04-05 09:41] bsun0000 commented on #1284
Sadly, but this issue is still not resolved. spongeforge-1.11.2-2227-6.0.0-BETA-2266 crashing with same problem..

[2017-04-05 17:28] crymates opened #1416 "/tellraw to console"
Could you make it possible to /tellraw something to the console only?

Like `tellraw @c {\"text\":\"For admin overview in log and live console\",\"color\":\"gold\"}`

`@c`  or `-` for the console.

[2017-04-05 17:29] crymates opened #1417 "Tellraw not shown in log file"
Pls add that `/tellraw` commands are shown in log file.

[2017-04-05 17:59] simon816 commented on #1417
Commands are not stored in the log files. You'll need a plugin to do that

[2017-04-05 18:14] afannnn commented on #1059
Why was this issue closed? @phit

[2017-04-05 18:55] Eufranio opened #1418 "Hunger/Life reseting in the client side on world change"
When a player changes world (overworld -> nether, nether -> overworld, overworld -> spawn, etc) his life and food are reseted visually. On walk or hurt, the client will update to the right info.

[2017-04-05 19:37] phit commented on #1059
because it's no longer an issue as far as I am aware, if you had a recent crash like this with an updated Sponge & AA version I'll be happy to reopen this

[2017-04-05 19:44] afannnn commented on #1059
ok just clarifying

[2017-04-05 20:23] LemADEC commented on #937
Issue still exists with RTG-1.10.2-4.1.2.4.jar and spongeforge-1.10.2-2254-5.2.0-BETA-2264.jar
https://pastebin.com/RsDHutRh

[code]

What do we miss to move forward on this issue?
Is there any known workaround?

[2017-04-05 22:56] ghost opened #1419 "Easy duplication of items on Sponge servers"
With Sponge installed, players can duplicate items by placing two pieces of sand on top of each other, an item frame on the top piece and a sign on top of the frame. Breaking the bottom piece of sand glitches it out and dupes the item. Video shows the bug:

https://i.gyazo.com/5cabeaae086e48abf7126e2044874a05.mp4

[2017-04-06 05:27] gabizou commented on #1419
Need more information than this... Versions, any sort of logs, I'm sure there's going to be some exceptions somewhere (make sure the cause tracker verbose is on).

[2017-04-06 05:48] ghost commented on #1419
Everything is on latest versions of 1.10.
Forge 2254 and SpongeForge 2264.

When I perform this dupe, no exceptions or errors are printed to console.
All options under the cause-tracker section are turned to true.

Here is a copy of the fml-server-latest:
https://gist.githubusercontent.com/Zachincool/4c1a0890c500dddb658e26c4cf1735eb/raw/1a91a05ac4cec6232939805b00e5192cdc1be209/latest

[2017-04-06 05:52] cigagar commented on #1190
Getting the same error here too! Running FTB Beyond 1.3

[2017-04-06 05:58] mattmess1221 commented on #1416
It's easy to do this from a plugin using `Game.getConsoleSource()`. A plugin could also create the command.

[2017-04-06 07:23] kashike commented on #1416
I'm not sure if we want to start adding our own selectors to commands.

[2017-04-06 09:39] Brend-Smits opened #1420 "Terrible lag spike upon erroring entity removal"
Enabling the (tile) entity removal of erroring entities in the forge.cfg will trigger very bad TPS drops whenever Forge or Sponge removes such entity.
I've caught it with my profiler, please visit the following link to download the .nps profile:
https://toastynetworks.net/rsampler.php?id=36139c89668f4e3fbf73f72990344e40

As you can see in this screenshot it looks like it has trouble writing it to

[2017-04-06 10:51] Yorkforce commented on #1419
We also see this kind of thing alot, for example skyclaims schematics also dupe items if an island schematic is reapplied over an old one, it's literally the same thing occurring where a block is removed thats attached to some kind of container, is it related to the cancelling of events perhaps? #1376

[2017-04-06 12:22] ghost commented on #1190
Same crash, FTB Beyond 1.4.0, lastest SF

[2017-04-06 17:39] crymates commented on #1417
Okay good to know, thx alot.

[2017-04-06 17:39] #1417 closed, assigned to nobody

[2017-04-06 17:42] crymates commented on #1416
I would appreciate it. What does the label system:commands say about the status of this issue report? :)

[2017-04-06 17:51] stephan-gh commented on #1416
@yololetsplay It means that this is an issue related to the command system ;)

[2017-04-06 17:52] crymates commented on #1416
@Minecrell Thx for ur quick respond :) Good to know.

[2017-04-06 21:05] Aaron1011 commented on #1420
This appears to be caused by crash reports being generated. Can you upload your `fml-server-latest.log` and `latest.log`?

[2017-04-06 21:55] Eufranio commented on #1419
Confirm this dupe. `report-different-world-changes=true`, `verbose=true`, `verbose-errors=true` and **no** errors/stacktraces are being generated when this dupe happens. Running latest too.

[2017-04-07 02:54] #1419 closed, assigned to gabizou

[2017-04-07 04:04] StoneLegion opened #1421 "1.10.2 - Entities Being Throttled when far away including a lot of unique mod features like magic effects."
Minecraft: 1.10.2
Sponge: 2264
Forge: 2254

So this started with Slime Islands from Tinkers going in slow motion falling from the sky. Then I shot a beam from a staff weapon and then people asked me to test sponge/forge only and yeah it's still happening there.

First Video shows the staff weapon:
https://www.youtube.com/edit?o=U&video_id=8FnSqvtAZAg

Second Video showing Slimes and Zombies
https:

[2017-04-07 04:24] StoneLegion commented on #1421
It seems that this is all range and I need to populate the config and disable them one by one for mods acting up.

[2017-04-07 04:24] #1421 closed, assigned to nobody

[2017-04-07 07:28] ghost commented on #1190
thanks @gabizou

[2017-04-07 08:22] #1190 closed, assigned to gabizou

[2017-04-07 09:13] Brend-Smits commented on #1420
There are no crash reports being generated though, that's the odd part.
Here are the logs:
[logs.zip](https://github.com/SpongePowered/SpongeForge/files/905071/logs.zip)
Hope these help.

[2017-04-07 12:18] ktole1999 commented on #1190
is there a way to tell which version this will get pushed to?

[2017-04-07 12:48] stephan-gh commented on #1190
@ktole1999 It should be in SF 2267+

[2017-04-07 18:32] mattmess1221 commented on #1416
@yololetsplay Do you want a command that can display on the console or custom selectors?

[2017-04-08 06:22] crymates commented on #1416
@killjoy1221 It should be displayed on the console :)

[2017-04-08 06:42] mattmess1221 commented on #1416
You misunderstand me. A plugin can easily be implemented to do the ***exact*** thing you want.

`/helpop This message will go to the console`

[code]

What I'm confused about is if you want a new selector. I'm not too familiar with how they work, but I would assume using a custom `CommandElement` would work.

[2017-04-08 07:53] crymates commented on #1416
Oh didn't knowed that /helpop is possible.
Something like this is what we want.
Why an selector? It's not really needed if another way like `/helpop` do this.

**But:**
/helpop isn't shown in console if I run it.
It should be just an easy way to message the console about something, also colored.

E.g. `/sendconsole &4This message is shown in console.`

**In console u just see in red:**

`This mess

[2017-04-08 07:55] mattmess1221 commented on #1416
This is getting off topic. Visit the forums or irc for programming help.

[2017-04-08 07:56] crymates commented on #1416
Ur right. Do u are an dev and have some time meet in IRC?

[2017-04-08 07:59] mattmess1221 commented on #1416
People are always on IRC.

[2017-04-08 08:05] crymates commented on #1416
I've sent u an mail :)

[2017-04-08 08:05] #1416 closed, assigned to nobody

[2017-04-08 08:35] dogboy21 commented on #1418
This also affects the experience value

[2017-04-08 11:00] mrapplexz opened #1422 "Crash on player join: java.lang.NullPointerException: Ticking block entity."
Crash-report: https://pastebin.com/cyjUYGaW
Sponge version: 1.10.2-2254-5.2.0-BETA-2272
Forge version: 12.18.3.2254
MC version: 1.10.2

[2017-04-09 00:16] Mohron opened #1423 "GrantAchievementEvent is Implemented on 1.11.2 but not 1.10.2"
`GrantAchievementEvent` exists in API 5 but is only fired on 1.11.2 SpongeForge servers. Is it possible to have the implementation back ported to 1.10.2?

[2017-04-09 00:22] #1423 closed, assigned to nobody

[2017-04-09 00:23] Mohron commented on #1423
Moved to SpongeCommon

[2017-04-09 00:38] KappaKiddie opened #1424 "Server crash"
https://pastebin.com/WxjHLKCD

[2017-04-09 04:46] StoneLegion commented on #1343
Same here

Forge: forge-1.10.2-12.18.3.2254
SpongeForge: spongeforge-1.10.2-2254-5.2.0-BETA-2264

When you build a Coke Oven or a Blast furnace and use the hammer to right click and assemble it causes the multiblock structure to malformed and become bigger then normal. Then when you break it you end up getting extra pieces (duping it).

![Blood has failed me](https://i.imgur.com/EsugfSs.png)

[2017-04-09 09:06] Faryzal2020 opened #1425 "Exception caught during firing event net.minecraftforge.fml.common.gameevent.TickEvent$WorldTickEvent@189fa0eb: java.lang.NullPointerException"
the server crashes whenever someone teleporting to DIM-1
https://pastebin.com/H79jjfwP
using spongeforge 5.2.0 2264 forge 2254

[2017-04-09 12:03] TomberWolf opened #1426 "Server crash while creating spawn on imported worlds"
[code]

[2017-04-09 18:40] sylphio commented on #1402
Same bug for us.

https://pastebin.com/BP9QwCPS

On our side, seem to happen when cutting Fir tree.

[2017-04-10 02:54] KiriCattus opened #1428 "Mob not spawning on block break with my mod in a sponge server."
I started working on splitting off a part of another one of my mods for a friend to use in 1.11.2 and have been told that a feature that should work does not so here I am at the suggestion of a friend.

Mod: Ender Dust And More
https://minecraft.curseforge.com/projects/ender-dust-more
Source code:
https://github.com/proxysprojects/EnderDustAndMore/blob/master/src/main/java/io/github/proxysprojects

[2017-04-10 04:55] silent-mobious opened #1429 "Server crash with Sponge dealing with dimensions"
Forge: 1.10.2-12.18.3.2272
Sponge: 1.10.2-2254-5.2.0-BETA-2272
Galacticraft: 1.10.2-4.0.0.58-BETA

When launching my server with just forge and Galacticraft things work well, however when adding Sponge it crashes with Dimension errors.  I believe I saw this with Sponge issue #1360 however that was for 1.8.9 so you understandably weren't supporting it you told @radfast.  This is with supported 1.10

[2017-04-10 06:16] StoneLegion opened #1430 "Extra Utilities Sickle Does not trigger correctly on grass and gives no loot/drops."
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2264.jar

extrautils2-1.10.2-1.3.2.jar

Pretty much the Sickles are 100% broken and no drops come from it sadly.

[2017-04-10 07:33] LemADEC commented on #1378
I've noticed the quantum dimension gets filled up with entity items that remain frozen in the dimension. Could that be that Sponge is tracking those even if the mod never really 'use' them?

[2017-04-10 07:48] LemADEC commented on #1342
Are we missing anything to understand this issue?

[2017-04-10 10:06] proverbiallemon commented on #1082
I'm getting this same error, it works fine with out sponge.  I like sponge though and want to be able to use my chisel :<

[code]

[2017-04-10 11:47] radfast commented on #1429
**UPDATE:  please see [this post below](https://github.com/SpongePowered/SpongeForge/issues/1429#issuecomment-352966266) for a current issue**

-------------------------------

hey, I was notified of this.  anything we can do on our side as Galacticraft devs to help you guys to fix this, we will.

Dimension -28 is the Moon, that should be registered as a dimension with a WorldProviderMoon type by

[2017-04-10 14:48] Zidane commented on #1429
@radfast

Why are you registering it as late as post init?

[2017-04-10 15:01] radfast commented on #1429
3 reasons, I think
* we have several submods made by other developers (mods like AmunRa, Extra Planets, More Planets) and it's to give them a chance to register their planets with our internal Registry, which then registers all the dimensions together
* it reduces conflicts with other Forge Mods, because by this stage we'll know if other mods are trying to use the same dimension ID
* we've always

[2017-04-10 15:04] radfast commented on #1429
Bear in mind that we can also **dynamically** create and load dimensions even later than this - we create Space Station dimensions on the fly (Mystcraft uses a similar system, so does AE2's Storage Cells)

[2017-04-10 17:31] Rongmario commented on #1430
Does ThermalExpansion ones work?

[2017-04-10 17:37] StoneLegion commented on #1430
I sadly don't have thermal expansion I'm using a pack called All The Mods Expert.

[2017-04-10 17:45] gabizou commented on #1429
@radfast I have no clue how Galacticraft is supposed to even be imported into an IDE, it doesn't have all dependencies on a clone and setup. That being said, if you could link to where you're dynamically creating dimensions, we can also look into that as well.

[2017-04-10 17:59] Rongmario opened #1431 "Sponge Crash - A required class was loaded prematurely! (CustomThings3)"
https://hastebin.com/ineyawudiz.md

[2017-04-10 18:00] radfast commented on #1429
You hopefully shouldn't need to do anything other than make sure that ```DimensionType``` and ```DimensionManager``` behaviour is unaltered from standard, for Forge mods.  We make **full** use of all the functionality that standard Forge ```DimensionManager``` provides.

IDE setup instructions (valid for 1.10 as well, just use the correct branch of our Github project)
https://wiki.micdoodle8.com/w

[2017-04-10 18:04] radfast commented on #1429
Server space station dimension registrations - note this is during **world load** if it's a SSP integrated server, because these dimensions can be different for each different saved map.
[Space stations world load registrations](https://github.com/micdoodle8/Galacticraft/blob/MC1.10/src/main/java/micdoodle8/mods/galacticraft/core/util/WorldUtil.java#L463-L483)
These dimensions will therefore be re

[2017-04-10 18:20] radfast commented on #1429
If you want to spend some time actually playing our mod (it is enjoyable: riding a rocket to space the first time is fairly awesome) latest 1.10 beta is [here](https://forum.micdoodle8.com/index.php?threads/looking-for-1-8-9-1-10-2-1-11-2-beta-testers.6555/)

To make a space station and get to space very quickly
* make a new world with cheats enabled (you need to be op)
* /gamemode 1
* /dimensiont

[2017-04-10 18:40] Rongmario commented on #1431
Turns out it was CustomThings3.

[2017-04-10 19:30] gabizou commented on #1431
Nothing Sponge can do. CustomThings3 can avoid class loading the `Block` class prematurely (i.e. when it's not supposed to), or you can use [SpongeBootstrap](https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275) temporarily to avoid the issue.

[2017-04-10 19:30] #1431 closed, assigned to nobody

[2017-04-10 19:32] gabizou commented on #1343
https://github.com/BluSunrize/ImmersiveEngineering/issues/1941#issuecomment-293054534

When I get a chance to investigate the issue, I'll do so.

[2017-04-10 21:27] StoneLegion commented on #1343
Thanks for the update. It's not so much the dupe but the ugly bases it's causing haha. Dupes are bad too though :) Let us know if you need testing.

[2017-04-10 21:39] gabizou commented on #1342
@LemADEC I have attempted to review the crash, but due to the complexity of red stone and notifications, I have not had adequate time to resolve the issue itself.

[2017-04-10 21:47] gabizou commented on #1429
@radfast I'm still confused as to how to set up the workspace according to the wiki. It's mentioning that I'd need to set up a Forge workspace as well?? The entire point of ForgeGradle is not needing to set up a Forge workspace by itself before working on the mod.

Anyways, that being said, is there a link to download a de-obfuscated build?

[2017-04-10 21:49] LemADEC commented on #1342
My understanding is issue can be reproduced by placing redstone dust on top of the clock to cause a stack overflow. I'm not even sure how's that's not crashing without sponge in the first place :)

[2017-04-10 21:50] gabizou commented on #1342
That's the eternal question. My suspicion is it's not toggling certain flags somewhere somehow where sponge hijacks the block update/notification/modification strategy.

[2017-04-10 21:51] Rongmario commented on #1431
It's all good, I was just testing CT3 thinking it'd happen, SpongeBootstrap does not actually fix it still for some reason.

[2017-04-10 22:10] dogboy21 commented on #1342
@Aaron1011 once added an exception for Redstone Clocks because of a problem with the block updating (see #941 and  SpongePowered/SpongeCommon@59bdeea). I haven't tested this issue again myself, but I think it's just caused again by ExtraUtilities changing it's modid and block names.

EDIT:
Changing the block-capturing category in the config to
[code]
fixes the problem

[2017-04-10 22:13] radfast commented on #1429
Access Transformers require the Forge workspace to be re-setup before they take effect.  Maybe you haven't used those before?  If you already have a Forge workspace, then it is a quick process to run ```gradle decompworkspace``` with some access transformers in src/main/resources.  It has the effect of changing the access of specified vanilla (or Forge) private fields and methods to public as requ

[2017-04-10 22:24] DenWav commented on #1429
Uhm https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/resources/META-INF/common_at.cfg

It sounds like you don't know how to setup a proper Forge mod workspace.

[2017-04-10 22:48] radfast commented on #1429
Quite possibly.  We're using what has worked for us for the last 3 years, it may not be the current way of doing things.

[2017-04-11 13:49] phit opened #1432 "No ambient spawns, again"
~~Worked fine in 2234-2262, just updated to latest (2274) and no more ambient spawns not sure in what build it broke.~~

Not a sponge bug

[2017-04-11 13:49] #1432 closed, assigned to nobody

[2017-04-11 20:59] ghost commented on #1404
Any ETA when this will be released? And will it be released for Forge 2254?

[2017-04-11 23:27] To-mos opened #1433 "1.10.2 Crashes on forge 2254 [user error]"
I have a fresh vanilla minecraft install with no mods(except spongeforge) or plugins running version 1.10.2, forge version 1.10.2-12.18.3.2254 and spongeforge-1.10.2-2254-5.2.0-BETA-2272 based on the site (1.10.2-2254-5.2.0-BETA-2272 "Stable" "Forge 2254") it is supposed to run on that version of forge but it crashes with this. The only mod running is spongeforge with no coremods, or other mods. N

[2017-04-11 23:33] #1433 closed, assigned to nobody

[2017-04-11 23:34] To-mos commented on #1433
I have been away from minecraft a while and forgot plugins are server side...so yeah user error...

[2017-04-11 23:37] gabizou commented on #1433
This isn't so much plugins are server side, this is your version of Java 8 is too old. Sponge requires Java 8 Update 40+ due to a bug fix from oracle for some collections.

[2017-04-11 23:39] gabizou commented on #1404
Considering a few fixes have been made in Forge, you should already be running Forge 2281. That being said, it's been a busy couple of weeks. I haven't finished resolving the issue yet but it's on my todo list as the issue is already marked as so.

[2017-04-11 23:40] gabizou commented on #1424
Provide more information. What happened what was happening etc. just providing a stacktrace will prompt us to close an issue outright.

[2017-04-12 00:26] To-mos commented on #1433
As I had mentioned in the original post "I also tried downloading the latest java 8 x64 and running it instead of the launcher version"...
And It was the plugin because I was trying to use a server one in the client...as to why I closed this...It's now working.

[2017-04-12 03:55] sylphio commented on #1402
Hi,
  Did a quick debug on my side to identify the improperly registered block.
 (I added a log to detect getId call on block not registered).

For us, it is tile.BOPLeafAir_1  from regrowable Leaf.

Thank

[2017-04-12 04:02] JaSpr commented on #1432
@phit Where was the bug?  We're running a Sky Factory 3 sponge server and are also getting 0 bats.

[2017-04-12 04:04] phit commented on #1432
There was no bug, my users were just blind or impatient.. I raised the spawn caps a bit and now everyone seems to be happy.

[2017-04-12 05:03] JaSpr commented on #1432
All the posts online about this seem to point to the same solution.  How do I go about raising the spawn limits on my sponge server.  The only thing I find mentioning "spawn limit" is in a group called "spawner", which seems like it may control how spawners function, not how natural spawning happens.

[2017-04-12 05:05] phit commented on #1432
spawner is for all spawns https://github.com/SpongePowered/SpongeCommon/commit/9e2868044f981a3ead5a771cec837a362b6983e4

[2017-04-12 05:25] JaSpr commented on #1432
is it necessary to change it in all the conf files that reference the overworld (e.g. worlds/minecraft/overworld/world.conf AND worlds/minecraft/overworld/dimension.conf AND global.conf?)

[2017-04-12 05:26] phit commented on #1432
https://docs.spongepowered.org/stable/en/server/getting-started/configuration/index.html

[2017-04-12 07:39] NickImpact opened #1434 "Invalid InventoryPacketState on Middle-Mouse click in Inventory"
So upon testing of a custom UI in my plugin, I encountered a state which is still blocked by click events (luckily), but appears to have something invalid going on internally. On each attempt at a middle-mouse click, or item cloning, a message (listed below) is sent to the console regarding an InventoryPacketState handler which could not be found.

`[Sponge]: Unable to find InventoryPacketState ha

[2017-04-12 16:58] StoneLegion commented on #1343
@gabizou
Not sure if this will help but we have actually had even bigger errors with it:
https://pastebin.com/Yfy0eiV3

Someone was trying to assemble  it and did not work so they broke it and was causing those errors and did not get all the blocks back. Playing a Hardcore (Expert) Pack these guys are suffering a lot with having to refarm for mats.

[2017-04-12 20:45] malte0811 commented on #1343
I have made some progress on this, it is caused by a race condition with the async lighting. Both the main thread ([here](https://github.com/BluSunrize/ImmersiveEngineering/blob/master/src/main/java/blusunrize/immersiveengineering/common/blocks/multiblocks/MultiblockCokeOven.java#L92)) and the lighting thread ([full stacktrace](https://gist.github.com/malte0811/c725b6066f4445b97828d154d17d5701), t

[2017-04-13 08:58] stephan-gh commented on #1038
If this is still happening on the latest builds, post a log here then we can re-open this issue.

[2017-04-13 08:58] #1038 closed, assigned to nobody

[2017-04-13 09:01] stephan-gh commented on #1119
@ST-DDT explained the solution for this problem. In any case, this is not something we can fix in SpongeForge (needs to be fixed in the plugin itself).

[2017-04-13 09:01] #1119 closed, assigned to stephan-gh

[2017-04-13 09:33] stephan-gh commented on #1357
I get the same error when I install `SmithsCore` on a Forge server without Sponge.

[2017-04-13 09:33] #1357 closed, assigned to nobody

[2017-04-13 09:36] stephan-gh commented on #1297
@Yeregorix Does this still happen? The link you posted above has expired.

[2017-04-13 09:42] stephan-gh commented on #1424
Has this happened more than once? If not, I wouldn't worry about it too much because it looks like a problem in JLine or your terminal configuration.

[2017-04-13 21:43] bhi-elliot opened #1436 "[1.11.2 build 2270] Server crash - stalled"
Hello,
Just reporting a crash. Just 1 player on at the time, said they were just doing normal block breaking (mining), nothing too intense. Unfortunately, I do not know enough about this to give you more info than the logs. The last few lines in server log report:
[code]

So it seems like it stalled. Whether that was the server or the computer, I do not know. Here is the crash log:
Crash log:
http

[2017-04-14 01:32] DarkArc opened #1437 "Biomes O' Plenty Triggers runaway phase"
The following shows up in the logs when using Biomes O' Plenty and SpongeForge on the 5.2 stable branch.
[code]

[2017-04-14 02:22] fabri2000779 opened #1438 "server crash when someone sleep"
spongeforge-1.10.2-2281-5.2.0-BETA-2274.jar

Hello like the title says my server crash when someone sleep, my server is on FTB Beyond v1.5.1
Crash report:  https://pastebin.com/cZYqpDR5

[2017-04-14 03:52] Zidane commented on #1438
There is no reference to anything regarding Sponge in this stacktrace. Remove Sponge and verify. If the issue goes away, we'll re-open.

[2017-04-14 03:52] #1438 closed, assigned to nobody

[2017-04-14 04:18] fabri2000779 commented on #1438
look this and yeah when i remove sponge server dont crash if someone sleep https://github.com/Quetzi/Morpheus/issues/21

[2017-04-14 05:36] phit commented on #1438
dupe of #830

[2017-04-14 06:00] Deamon5550 commented on #1437
The problem (at least part of it) is recursive generation caused by https://github.com/Skelril/Skree/blob/master/src/main/java/com/skelril/skree/content/world/wilderness/MagicMushroomPopulator.java#L42-L43

The volume you receive from sponge is already offset so your double offset is pushing your population in to the neighbouring chunk causing it to generate.

[2017-04-14 10:47] DarkArc commented on #1437
Interesting, that was based off of https://github.com/SpongePowered/SpongeCommon/blob/f39db6bf46c27fe90c6c7f13f3d8262bf3f1a0ae/src/main/java/org/spongepowered/common/world/gen/populators/HellMushroomPopulator.java a long time ago. Hasn't been a problem using vanilla generation for some reason.

[2017-04-14 15:09] gabizou commented on #1437
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1404

[2017-04-14 15:09] #1437 closed, assigned to nobody

[2017-04-14 17:42] RobertHerhold commented on #801
I'm seeing this same issue on spongeforge-1.10.2-2281-5.2.0-BETA-2274. It doesn't seem like this was ever fixed

[2017-04-14 19:53] Deamon5550 commented on #1437
@DarkArc It used to be that you got a chunk and just had to know to apply the offset, but I changed it [here](https://github.com/SpongePowered/SpongeAPI/commit/654db1d5f6f2ec6e5327223969579efd791a26cd) to instead take an extent that already had a min and max set to the area you need to populate (although it shouldn't actually let you go out of it so maybe there is a bug there, I'll look into it).

[2017-04-14 22:22] Keaton1188 opened #1439 "Beyond Sponge Class Issue"
Hi all, I am having a issue when updating our Beyond server, all files were transferred correctly etc. Its on the boot-up it dies. Error Below

Using the newest sponge version
(Also want to fix this without using Sponge Bootstrap)

![untitled](https://cloud.githubusercontent.com/assets/24898745/25057593/2c7dbb5e-2169-11e7-9f9b-5d8aad054df8.png)

[2017-04-14 22:47] Keaton1188 opened #1440 "Sponge Version 2274 - Quantum Quarry issue"
Hi again, seems that with the newest version of sponge (2274) it has stopped Quantum Quarries from working on all the 1.10 packs (Beyond, SF 3, Inf lite etc)

Seems that the Dimension is not even being loaded (check in /gc and its not there) and then when you give the Quarry power and a chest etc, it just stays at 0 RF. Any idea?
![2017-04-14_23 44 18](https://cloud.githubusercontent.com/assets/24

[2017-04-15 08:13] Deamon5550 commented on #1439
A full log would help, and you can start removing mods that have coremods one by one until you find the one breaking it.

[2017-04-15 08:34] phit commented on #1439
applied energistics 2 is the only mod in beyond that doesn't let the pack boot

https://github.com/Stonebound/Applied-Energistics-2#about

[2017-04-15 12:11] Time6628 opened #1441 ""Disconnected""
On the latest spongeforge(2274), instead of giving a correct disconnected message like "Timed Out" or "Kicked from the server", it just says "Disconnected". I think sponge is handling the disconnection twice, as the logs keep saying:
[code]

[2017-04-15 12:37] marchermans commented on #1357
@Minecrell Hmm i tested it again today with the latest versions and i am not getting this. Could you send me a log from the vanilla forge server?

[2017-04-15 14:41] jackytuutykcaj commented on #1439
Try reuploading your libraries folder. My server seems to work fine with latest spongeforge(spongeforge-1.10.2-2281-5.2.0-BETA-2274.jar) and latest beyond(FTBBeyond-1.5.3-1.10.2). If you dont want to use bootstrap, use one of the ae2 files from the link phit gave you.

[2017-04-15 15:23] Keaton1188 commented on #1439
Yea, got it all sorted now.

Thanks anyway all!

[2017-04-15 15:23] #1439 closed, assigned to nobody

[2017-04-15 16:46] StoneLegion commented on #1343
Thank you for the update. I'm personally waiting before continuing playing myself only because the crazy big machine blocks are crazy looking and of course the other issues that they might face.

http://i.imgur.com/OAsTimy.png

[2017-04-15 19:07] stephan-gh commented on #1357
@OrionDevelopment Doesn't happen anymore, I'm pretty sure https://github.com/SmithsGaming/SmithsCore/commit/b17a04c97a35efab385c4b9f1d6ae7cbdab14165 fixed it. Please re-test using your latest version and the latest SpongForge.

[2017-04-15 19:28] marchermans commented on #1357
Yep i was finally able to reliably reproduce it. With the help of the guys from the forge irc channel i fixed it. But we still have no clue why the EventSubscriptionTransformer does not like that IStructureFactory Interface. Inparticularly we have no idea why it throws the cnf when the interface gets clearly loaded when we add -verbose:class as vm argument. But whatever, it works now.

[2017-04-15 20:25] Dysthymic opened #1442 "Tracking Crashes (2274)"
https://pastebin.com/LyT4w3qi
We are getting this crash on our servers a couple times per day with Sponge 2274 and Forge 2281

[2017-04-15 23:39] P3rf3ctXZer0 opened #1443 "Major Issue - Preventing World Server Start 1.10.2 - 1.10.2-2281-5.2.0-BETA-2274"
I cannot make a world or start server I am getting infinite spam. The only Sponge mod I have is the Enjin plugin.

Spam from hell "https://gist.github.com/P3rf3ctXZer0/cc9d374b603f1355c7ad754580bd4234"

622506 Copies of this spam

[2017-04-15 23:46] P3rf3ctXZer0 commented on #1443
This spam does not exist with this version 1.10.2-2254-5.2.0-BETA-2272 also the server starts. Using Forge 1.10.2 - 12.18.3.2281

I am including my modlist maybe it will help.

[DirPrintTemp.txt](https://github.com/SpongePowered/SpongeForge/files/923992/DirPrintTemp.txt)

Redacted - So Its weird it happened again ... seems to happen on new world generation ... It has an additional error code thoug

[2017-04-16 00:46] jackytuutykcaj commented on #1351
bump!
Is this fixed yet?

[2017-04-16 00:49] Deamon5550 commented on #1443
Could your try uploading an actual log file rather than these rather useless snipets.

From what I can see the issue is mods causing recursive worldgen by loading adjacent chunks. some culprets here are railcraft's [WorldGenQuarry](https://github.com/CovertJaguar/Railcraft/blob/fb37747027c4faf2fb2c80a9ad467369a09f4d00/src/main/java/mods/railcraft/common/worldgen/WorldGenQuarry.java#L109-L126), Pam

[2017-04-16 00:49] #1443 closed, assigned to nobody

[2017-04-16 04:02] CovertJaguar commented on #1443
It's not Quarries, they only operate on single chunks. You are just blaming everything that happens to be in those chunks rather than the actual cause, which appears to start with Pam's. -.-

[2017-04-16 04:34] Deamon5550 commented on #1443
@CovertJaguar Right here in the middle of that stack posted

[code]

Which is caused by [this line](https://github.com/CovertJaguar/Railcraft/blob/fb37747027c4faf2fb2c80a9ad467369a09f4d00/src/main/java/mods/railcraft/common/worldgen/WorldGenQuarry.java#L120) checking if the neighbouring block is air, which since it is iterating purely within the chunk and not at an 8 block offset is causing the ne

[2017-04-16 05:38] JaSpr commented on #1351
While this is a sponge issue, Ellpeck (actually additions author) released a workaround to prevent the duplication bug.  Fix can be found in release 1.10.2-r105

[2017-04-16 07:18] P3rf3ctXZer0 opened #1444 "SimpleDimensions Incompatibility"
Crash Log
https://gist.github.com/P3rf3ctXZer0/e7ab126c5dc90dfb6236be0d66152afa

The whole server crashed after I used "SimpleDimensions" to create a island water dimension.

Additional Information
After I reloaded the server my simple dimension was completely erased. Probably going to remove sponge til its fixed.

edit by phit: Simple Dimensions (for search)

[2017-04-16 18:35] stephan-gh commented on #1357
@OrionDevelopment

Class loaders. Forge uses two separate class loaders, and MC and mods are loaded in a special class loader that is able to transform the classes before they are loaded. However, the library that is used to transform the classes (ASM) is loaded in the main class loader which does not have access to the classes of mods.

Normally, this is not a problem because it just needs to tra

[2017-04-16 18:38] marchermans commented on #1357
Then why does this work when I run the code in a deobfed environment? (Thanks for the Info btw)

[2017-04-16 21:21] Keaton1188 commented on #1320
Sorry for the late reply. @bloodmc

Still happening on sponge version - 1.10.2-2281-5.2.0-BETA-2274

[2017-04-17 01:50] radfast commented on #1429
A de-obfuscated distribution version of Galacticraft for Minecraft 1.10.2 is now available.  You can download it directly from our [Jenkins](https://ci.micdoodle8.com/job/Galacticraft-1.10-dev/)   You need three .jars, **GalacticraftCore**, **Galacticraft-Planets** and **MicdoodleCore**, but not the API.

[2017-04-17 11:51] Yeregorix commented on #1297
Yes, the issue is still here with the last clone of SpongeForge: https://pastebin.com/hFCyejMM

[2017-04-17 12:24] ktole1999 commented on #1444
or you could use different mod to create your world.

[2017-04-17 12:26] ktole1999 commented on #1440
have you tried different power source?

[2017-04-17 16:21] stephan-gh commented on #1357
@OrionDevelopment
I can't tell for sure but most likely it's the following:

There are two different ways how Forge can load mods: either in a JAR in the `mods` folder or directly from your classpath. Usually, if you run your mod in a deobfuscated environment you load it directly from the classpath (because you are in your mod workspace). If your mod is already on the classpath then it will be ava

[2017-04-17 16:54] marchermans commented on #1357
Ah okey. Thanks for the info

[2017-04-17 17:07] VOiDProXy commented on #1429
Dealing with the same issue as OP here.
I tried the three new jars from your Jenkins and now [the error is different for me](https://hastebin.com/tasunojiji.sql), at least.

[2017-04-17 18:23] Keaton1188 commented on #1440
Just tested with some Clockwork Engines and they DID put RF into the quarries, the Capacitor banks however, don't.

They used to and now don't anymore.

Update - Just tested with some solars from Solar Flux Reborn, it goes to power the quarry then just stops and goes back to 0 (RF) also kicks you out of the quarry (when you right click on it for where the upgrades go etc)

[2017-04-17 20:20] CovertJaguar commented on #1443
Say what again? 8 block offset?

[2017-04-17 20:23] phit commented on #1443
explanation of the issue
https://www.reddit.com/r/feedthebeast/comments/5x0twz/investigating_extreme_worldgen_lag/

http://i.imgur.com/YJChrfm.png

[2017-04-17 21:38] radfast commented on #1429
@VOiDProXy  you are running a server, or you are part of the SpongeForge development team?

The de-obfuscated Galacticraft I posted is only for Java programmers to use in a de-obfuscated development environment.  It's not going to work on a server!!

[2017-04-17 22:21] VOiDProXy commented on #1429
Oh I'm just a meager server owner. I'm Sorry @radfast - I'm still learning the lingo ;)
Thanks for setting me straight, I guess I'm just desperate for some space action but I'll try to stay out of the big kids pool for updates :)

[2017-04-17 22:39] radfast commented on #1429
@silent-mobious  @VOiDProXy   I am attempting a workaround for this in our next Galacticraft 1.10.2 build 67

Should be available in about 30 minutes from now.  No promise that it will fix the Sponge problem, but I hope it will.

Please can you guys take any further discussion of Galacticraft-specific to [this issue discussion](https://github.com/micdoodle8/Galacticraft/issues/2612), not here.

--

[2017-04-18 01:35] radfast commented on #1429
@silent-mobious @VOiDProXy  please try [new Galacticraft build 68](https://ci.micdoodle8.com/job/Galacticraft-1.10/)    Please report any problems with this build at the **Galacticraft** Github issues list, not here.  I'm very interested to know if this fixes the problem.

[2017-04-18 01:43] radfast commented on #1429
@gabizou  My guess is that Sponge is not doing anything special when the vanilla method ```net.minecraft.world.DimensionType.register()``` is called by Forge mods.  If so then Sponge ```WorldManager``` registers only the 3 vanilla ```DimensionType```.  It's likely that would then cause all of a Forge mod's DimensionManager dimension registration calls to fail, if attempting to use any DimensionTyp

[2017-04-18 16:23] radfast commented on #1429
@gabizou

I found what looks like a bug in Sponge:

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/MixinDimensionType.java#L135-L137

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/world/WorldManager.java#L232-L250

I think it should be coded like this in ```MixinDimensionType``

[2017-04-18 16:56] radfast commented on #1429
Also:  in ```WorldManager``` shouldn't this:

    public static int[] getRegisteredDimensionIds() {
        return dimensionTypeByTypeId.keySet().toIntArray();
    }

better be:

    public static int[] getRegisteredDimensionIds() {
        return dimensionTypeByDimensionId.keySet().toIntArray();
    }

[2017-04-18 18:48] radfast commented on #1429
One more thing (semi-related):

The Forge dimensions have ```level_sponge.dat``` containing a NBT tag```dimensionType``` in compound tag ```SpongeData```.  The value of that tag is the name of the DimensionType.

Sponge ```WorldManager``` reads that tag [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/world/WorldManager.java#L946-L960).  Wit

[2017-04-18 19:15] Faithcaio commented on #1429
@radfast typically target the bleeding branch for PRs

[2017-04-18 22:51] gabizou commented on #1429
Typically target bleeding, but in this case I'd suggest targeting stable-5 for 1.10.2 development. We can always port the change to 1.11.2 by cherrypicking the changes.

[2017-04-19 00:15] Rongmario opened #1446 "Exception in world tick?"
https://hastebin.com/ehuxoburur.scala

[2017-04-19 03:40] RogueRaiden opened #1447 "Server Crash While Teleporting Through Dimensions"
Server crash when using Draconic Evolution Dislocator, teleporting from Nether to Overworld. No other players online.

Crashlog shows Morpheus as being the cause. I created an issue on that mods page and they said that it is a bug through Sponge.
Not sure if this is enough information, and I thought i'd create an issue here so you guys are aware of this, if this is actually an issue through Sponge

[2017-04-19 03:48] BlueCyro opened #1448 "Aether inventory crashing when sponge is installed."
Hi, it seems Aether Legacy(?) is causing issues with sponge when the inventory is opened.
Sponge version: 1.10.2-2281-5.2.0-BETA-2274
Disconnect error: https://pastebin.com/rsiztgf7

[2017-04-19 07:43] phit commented on #1447
dupe of #830

[2017-04-19 13:31] loveyanbei opened #1449 "Is there any way to create item using existing blocks with metadata?"
I got problems creating itemstack from existing block data
Example:
I have a farm block from forestry placed on the ground
and I want to create an Itemstack from it
first I use getBlock() API and got the block object, great
according to doc I used Itemstack.builder().fromBlockState, OK , the stack has been created but..
Because forestry farm blocks shared the same id , with different meta
like gea

[2017-04-19 16:42] #1447 closed, assigned to nobody

[2017-04-19 16:57] alldaywarrior opened #1450 "Exception in server tick loop"
I use sponge and now the server crashes at randomly times. Players tell me that its very annoying, but i cant find out whats the problem. I hope one of you guys can tell me which mod I have to delete? I don't want to delete sponge because I think there is another mod/plugin crashing the server?

Forge version is 2254

https://pastebin.com/YUnkCkkp

[2017-04-19 17:50] loveyanbei commented on #1449
val entity = world.createEntity(EntityTypes.ITEM, location.getPosition)
entity.tryOffer(Keys.REPRESENTED_ITEM, itemStack.build().createSnapshot)

and the entity is just the default , without metadata / Traits

[2017-04-19 21:56] LornexMc opened #1451 "Customnpcs mod with Sponge"
Hello I have a problem with a mod and sponge. Let me explain if you know the mod customnpcs, that may help you. With this mod, it is possible to teleport to a point to another with a dialog of the npc (it works like a block command) ... But nothing happens and I deleted even all sponge plugins. I thought it was a problem with a plugin). So I tried a command block and it works ... Then I went to se

[2017-04-19 23:31] me4502 commented on #1450
From a quick glance it appears to be an issue with MineTweaker

[2017-04-20 00:19] axle2005 commented on #1450
We actually disabled staff being able to us OP because of this. I mean its a lot more secure anyway to flush out perms... but this is a **Chance cube** thing. If anyone is in the OP list, this occurs.

Simple solution: Delete the ops.json file and don't use /op

[2017-04-20 13:45] ArcasCZ opened #1452 "IndexOutOfBoundsException"
https://pastebin.com/6UXSbbiB

[2017-04-20 19:00] StoneLegion commented on #1343
Just updating this that removing / disabled async lighting has fixed the issue.
https://i.imgur.com/FapYZcN.png

[2017-04-21 17:40] gabizou commented on #1446
Version information? What happened before the crash? This looks like you have sponge on the client, but we don't modify the client in any of the ways that it crashed as is.

[2017-04-21 18:52] waggz81 commented on #830
Here is the latest in multiple similar crash reports: https://pastebin.com/tszqDWPP

spongeforge-1.10.2-2281-5.2.0-BETA-2274.jar
forge-1.10.2-12.18.3.2281-universal.jar
Morpheus-1.10.2-3.1.13.jar

FTB Beyond 1.5.3 modpack

I've just disabled Morpheus on the server for now, but would like to see this issue resolved in order to enable it again, as it's quite convenient for the players and sorely mis

[2017-04-21 19:50] mkrtes opened #1453 "FTB Beyond - massive error flood & server hangs"
Apparently, this is due to the generation of the world
https://pastebin.com/zinmryZ3

[2017-04-21 19:55] FiveEYZ commented on #830
I grew tired of this crash and just disabled Morpheus and installed https://ore.spongepowered.org/Icohedron/Sleep-Vote

[2017-04-21 20:15] diluvium opened #1454 "Slot cannot be null! moving item to/from Ender Chest"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.11.2-2282-6.0.0-BETA-2283.jar)
Contact their authors BEFORE contacting forge

// Why did you do that?

Time: 21/04/17 20:59
Description: Ticking player

java.lang.NullPointerException: Slot cannot be null!
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:229)
	at org.spongepowere

[2017-04-21 20:37] phit commented on #1453
please use pastebin/hastebin

[2017-04-21 22:54] Deamon5550 commented on #1453
Seems to be harvestcraft and natura causing the recursive generation, update natura to the latest they recently fixed this.

See https://github.com/MatrexsVigil/harvestcraft/issues/270 for an open issue with harvestcraft for this.

Related: #1443

[2017-04-22 04:20] TheNewBit opened #1455 "minecraft skeleton spawner turns back into a pig spawner"
when placing a minecraft spawner on the ground it seems to spawn one skeleton and then the mob inside the spawner turns into a pig but it stops spawning any mob.

[2017-04-22 04:23] TheNewBit commented on #1455
it seems when a admin places a specially spawned spawner with the "give @p mob_spawner 1 0 {BlockEntityTag:{SpawnData:{id:Skeleton},SpawnPotentials:[]}}" command it fixes the issue but only if the admin was the one to place it down. if a player places the same spawner down it turns back into a pig spawner.

[2017-04-22 06:22] gabizou commented on #1455
Version information? I've just tried this command in vanilla 1.11.2 and it doesn't work either.

[2017-04-22 06:41] TheNewBit commented on #1455
I did it on a 1.10.2 server.

[2017-04-22 16:48] Aaron1011 commented on #1455
@Bestnewb: What command are you using to get the broken spawner?

[2017-04-22 16:50] Aaron1011 commented on #1442
@Dysthymic: Can you upload your `fml-server-latest.log` and `latest.log`?

[2017-04-22 17:32] Aaron1011 commented on #1393
Can you upload your full `fml-server-latest.log`?

[2017-04-22 17:33] Aaron1011 commented on #1412
Fixed in the latest `stable-5`.

[2017-04-22 17:33] #1412 closed, assigned to nobody

[2017-04-22 17:35] Aaron1011 commented on #1452
@ArcasCZ: Are you able to reproduce this consistently? If so, please list the steps to do so, along with a list of all mods you have installed.

[2017-04-22 17:50] Eufranio commented on #1393
We reseted the server and updated the pack a few days after I posted this issue, and those errors aren't happening anymore, I'll reopen if it starts again  😄

[2017-04-22 17:50] #1393 closed, assigned to nobody

[2017-04-22 17:53] Aaron1011 commented on #1451
What version of Sponge and CustomNPCs are you using?

[2017-04-22 18:25] Aaron1011 commented on #1320
@Keaton1188: I can't reproduce this on the latest SpongeForge. Is this still an issue?

[2017-04-22 19:13] LornexMc commented on #1451
sponge-forge-1.10.2-2254-5.2.0-BETA-2264
                                  and
                        CustomNPCs_1.10.2

[2017-04-22 19:50] XakepSDK opened #1456 "[Client][NoSuchElement] Issue with map item"
**I am currently running...**

- SpongeForge version: 1.11.2-2282.6.0.0-BETA-2285
- Forge version: 13.20.0.2282
- Java version: 8
- Operating System: Ubuntu

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
InventoryTweaks 1.62+beta.85
jei 1.11.2-4.3.3.266
jer 1.11.2-2.0.6.3.5
optifine 1.11.2 hd u b7
true type font replacement 1.11.2-1.7.3
we cui v2
worldedit

[2017-04-22 20:20] Rongmario commented on #1446
That's a server crashlog.

[2017-04-22 20:23] Rongmario opened #1457 "Crash with NuclearCraft's alloy furnace on placement (server crash)"
https://hastebin.com/tuteximixa.sql

Happens at the event of placing alloy furnace from NuclearCraft.

- spongeforge-1.10.2-2281-5.2.0-BETA-2274
- Forge = same as the build sponge was built on
- Java 8
- OS: Windows

- Plugins/Mods: (Above pastelog)

- Expected Result = Not to crash?
- Current Result = Crash?

[2017-04-22 21:33] Keaton1188 commented on #1320
Still happening on FTB Beyond (1.5.3)
Could not get this to happen on Sky Factory 3 though.

Both are using Sponge version 2274 (newest one)

[2017-04-22 22:10] ArcasCZ commented on #1452
I can't. One of our players says it happens occasionally with some item in inventory.

[2017-04-22 22:36] Varijon opened #1458 "Forge BlockHarvestDropsEvent not cancelling properly"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2274
- Forge version: forge-1.10.2-12.18.3.2221-universal
- Java version: jre1.8.0_121
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
[00:26:29] [Server thread/INFO]: Plugins (20): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge,

[2017-04-22 23:50] gabizou commented on #1446
Most definitely not. It's referencing client code, which doesn't exist on the server. And still you haven't included what actually happened...

[2017-04-23 00:02] TheNewBit commented on #1455
I just use a normal /give command like the one I posted above. The spawner is not broken when I spawn it in but when a player puts it down it will sometimes spawn one mob change to a broken pig spawner.

[2017-04-23 00:05] TheNewBit commented on #1455
*and change to a broken pig spawner.*

[2017-04-23 04:08] Dysthymic commented on #1442
Yeah, it hasn't happened for 5 days on one server and 2 days on the other server. It really started slowing down the past few days which is strange. I'll keep an eye out in the next 24 or so hours and provide those logs once they are available to me again if it happens again

[2017-04-23 15:30] filipsowka opened #1459 "Exception during phase body"
Minecraft crashed after dead. I can't open inventory, it kills me while I'm moving and this error appears:
[LINK](https://gist.github.com/filipsowka/be301c1628a9264e8fb048ac806b62f6)
I've got the newest sponge version and the newest forge.

[2017-04-24 00:54] fabri2000779 opened #1460 "VeinMiner problem cause by spongeforge"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2274
- Forge version: forge-1.10.2-12.18.3.2281-universal.jar
- Java version: jre1.8.0_121
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
 Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, IvToolkit, Not Enough Items, SpongeAPI, Sp

[2017-04-24 01:52] axle2005 commented on #1455
He forgot to mention something: We offer kits for spawners. These kits work by literally copying a chest and everything in it, and doesn't alter anything. So the original items placed in these chests were spawners spawned through Creative or JEI, but when a player places it, it reverts to a pig spawner.

No Data Manipulation occurs anywhere in this kits plugin.

[2017-04-24 03:42] Sunconure11 opened #1461 "Possible conflict between this mod and Mowzie's Mobs"
https://pastebin.com/p4WSiRgh

Not sure of the frequency of this crash, but it appears to be related to Mowzie's Mobs.

SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2274

Forge version: forge-1.10.2-12.18.3.2281-universal

[2017-04-24 03:44] Sunconure11 commented on #1461
https://github.com/BobMowzie/MowziesMobs/issues/2

[2017-04-24 03:53] loveyanbei opened #1462 "IC2 explosion event cannot be captured"
When a IC2 TNT , IC2 nuke or IC2 Nuclear Reactor was placed near residence and detonated.
RedProtect plugin cannot protect the residence from being affected.
I tried to print log in onExplosion(ExplosionEvent.Detonate event) but the listener callback was not called
I think sponge forge didn't catch the explosion caused by mod..

[2017-04-24 04:06] gabizou commented on #1460
I don't even know where to begin with this since Sponge doesn't hook into forge mod detection in any way (except telling forge to load sponge plugins). Do you have bungee cord usage enabled? This appears to be something very nested within the login process of players, but as far as what is causing it, it's not very well evident.

I can't directly say that sponge is at fault, but it does seem to be

[2017-04-24 05:03] fabri2000779 commented on #1460
no i dont have bungee cord, but this error dont have sense i mean the veinminer dev dont know what is going to the only that we have is that is happening all the server that use sponge

[2017-04-24 11:09] loveyanbei commented on #1462
Will you fix it in the future?
I mean if can hook to all classes extended from NMS classes, it will be not necessary for me to write an extra plugin to hook into IC2Explosion, IC2Potion,etc.

[2017-04-24 13:53] filipsowka commented on #1459
OK, I managed to do this myself.
It was a problem with the TrashSlot mod.
When I deleted it, it's fine.

[2017-04-24 16:02] Eufranio opened #1463 "Error force loading a chunk"
This stacktrace randomly appears in the console when using the BetterChunkLoader plugin:
[code]

The author linked here: https://bitbucket.org/shadownode/betterchunkloader/issues/8/error-on-stop

[2017-04-24 16:03] Eufranio commented on #1462
I created an issue here: https://github.com/SpongePowered/SpongeForge/issues/1383 about the explosions.

[2017-04-24 23:31] KappaKiddie opened #1464 "Sponge causing QuantumQuarry crash"
**Crash:** https://pastebin.com/V8BNyE4r**

- SpongeForge version: 1.10.2-2254-5.2.0-BETA-2272
- Forge version: 2254
- Java version:
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [  ] macOS
 - [  ] Windows

[2017-04-24 23:41] liach commented on #1464
Is that a compile error?

[2017-04-25 02:31] DrakeEldridge opened #1465 "Issues with Valkyrien Warfare and Thuttech mods."
When I use these mods in SP everything works fine. But copying the single player map and moving it to the forge server, the ships from Valkyrien Warfare and the elevators from Thuttech mod gets deleted.
Making new ships from Valkyrien Warfare works fine, but making new elevators doesn't. They break, get stuck, have to relog to see them move. Can't delete them. As soon as I remove sponge, it breaks

[2017-04-25 04:31] Deamon5550 commented on #1464
No thats just your server timing out. Raise the max-tick-time and/or use `/sponge timings` or a profiler to find the source of the slow down.

[2017-04-25 04:31] #1464 closed, assigned to nobody

[2017-04-25 19:15] KappaKiddie commented on #1464
How I raise the max-tick-time ?

[2017-04-25 19:16] phit commented on #1464
https://www.google.com/search?q=max-tick-time

[2017-04-25 19:43] KappaKiddie commented on #1464
I raise for 100k, 200k, 80k and didn't work

[2017-04-25 19:47] kaal-1 opened #1466 "Crash when using Extra Utilities Quantum Quarry"
Does not happen when not using sponge.

Description: Ticking block entity

java.util.concurrent.RejectedExecutionException: Task net.minecraft.world.WorldServer$$Lambda$1849/1667412907@17fbc659 rejected from java.util.concurrent.ThreadPoolExecutor@745a78d6[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 3048]
    at java.util.concurrent.ThreadPoolExecutor$AbortPo

[2017-04-25 21:08] jackytuutykcaj commented on #1464
Try -1. It works for me.

[2017-04-25 21:12] jackytuutykcaj commented on #1464
The maximum number of milliseconds a single tick may take before the server watchdog stops the server with the message, A single server tick took 60.00 seconds (should be max 0.05); Considering it to be crashed, server will forcibly shutdown. Once this criteria is met, it calls System.exit(1).
-1 - disable watchdog entirely (this disable option was added in 14w32a)

[2017-04-25 21:18] KappaKiddie commented on #1464
I will try, thanks

[2017-04-25 22:34] KappaKiddie commented on #1464
Don't crash, but consumes energy and don't mine nothing

[2017-04-25 23:58] meza commented on #1384
This is back in 1.10.2-2281-5.2.0-BETA-2274 :(

[fml-server-latest.log.txt](https://github.com/SpongePowered/SpongeForge/files/956836/fml-server-latest.log.txt)

I went in the dimension, no dragons spawn.
Summoned one with 0 health: no portal spawned.
Summoned one with 1 health and killed it: no portal spawned.

[2017-04-26 01:36] loveyanbei commented on #1383
Resolved through decompiling the IC2 and insert event to Sponge event bus, but obviously it's not enough.
IC2 has a home-brew explosion system, bypassing NMS one.

[2017-04-26 01:41] loveyanbei commented on #1383
![img_2428](https://cloud.githubusercontent.com/assets/7147471/25414505/6a8f7f1e-2a64-11e7-8d11-d7c7161a1a52.PNG)
IC2 pushed events to forge but not captured

[2017-04-26 05:49] Aiidoneus opened #1467 "Villager Death Crashes Server"
Not sure if this is the place to go for this but hopefully you guys/gals can point me in the right direction.

Currently running
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2274
- Forge version: forge-1.10.2-12.18.3.2281-universal

- Plugins/Mods:
https://pastebin.com/XQn1b7TJ
This is FTB Beyond modpack

Crash Report: https://pastebin.com/6gK2vJD0

All you need to do to reproduce thi

[2017-04-26 08:38] Richetoku commented on #1467
I have this same issue and I have found it is modded villagers. Specifically, it happens with some actually additions villagers. Have not tried others, but I tested it with some shady merchant and the server crashes when they take damage with the crash error linked above. If it helps, I can check if any other villagers from other mods do the same.

[2017-04-26 15:42] Dysthymic commented on #1442
FML: https://pastebin.com/mftPFE6v
Latest.log: https://pastebin.com/5Uu5V28L
Happened a couple times earlier today
@Aaron1011

[2017-04-26 15:54] gabizou commented on #1446
Closing as no information is provided. Server logs missing, issue description is missing, logs provided are from the client, not the server, and sponge isn't installed on the client.

[2017-04-26 15:54] #1446 closed, assigned to nobody

[2017-04-26 19:40] LIRIKKER opened #1468 "Issue with Extra Utilites 2 and SpongeForge"
**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2254-5.2.0-BETA-2272.jar
- Forge version: forge-1.10.2-12.18.3.2254-universal.jar
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_102-b14)
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: FTB Beyond 1.5.3
Plugins (189): Minecraft, Minecraft Coder Pack, For

[2017-04-26 22:21] LIRIKKER commented on #1346
Also having this issue! Any ETA on when a fix will be released?

[2017-04-27 00:26] Richetoku commented on #1468
Works without sponge, but mines nothing with sponge. A visit to the mining dimension shows the blocks being mined but immediately landing on the ground resulting in a chunk full of dropped items.

[2017-04-27 04:01] DrakeEldridge commented on #1465
hello?

[2017-04-27 04:15] EliterScripts opened #1469 "Adding a party API"
I was wondering if it's any good idea to add a party API to Sponge. I mean, I've seen on a minigame server where you have friends and you have parties. Parties develop your team, and they can do all sorts of cool stuff.

I was wondering if there could be a Sponge API for this, so it would streamline any other plugins that would like to include parties in their plugin. Not necessarily built-in comm

[2017-04-27 04:24] NocturnalSergal opened #1470 "Yet Another Issue with spongeforge and AE2"
**I am currently running...**

- SpongeForge version: Latest as of April 27th, 2017
- Forge version: 2254
- Java version: 8u121
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, Not Enough Items, OpenComputers (Core), SpongeAPI,

[2017-04-27 04:50] gabizou commented on #1470
If you can provide the startup of the server log, that'd be wonderful, and actually list out what `/sponge version` is for SpongeForge as "latest" is not helpful.

[2017-04-27 04:51] gabizou commented on #1469
What would this API *do*? There's millions of ways parties can be written, so, kinda need some context as to what the API is supposed to do, and how it's supposed to be used (pragmatically, not just concept wise).

[2017-04-27 12:11] NocturnalSergal commented on #1470
I completely forgot that command existed

SpongeForge-1.10.2-2281-5.2.0-BETA-2274
SpongeAPI: 5.2.0-SNAPSHOT-a3257a0

And the log file is in its entirety since I just found some more debug stuff and I can't really edit it on my phone that well. Probably should have uploaded it yesterday

https://www.dropbox.com/s/8z7gtct187tibp0/fml-server-3.log?dl=0

[2017-04-27 16:44] kashike commented on #1469
This sounds like something that should be left to plugins, really.

[2017-04-27 21:03] Earthplate opened #1471 "Request: Implement event for player and player collisions"

[2017-04-27 23:48] ryantheleach commented on #1469
@EliterScripts This sounds like a good idea for a plugin provided Service, (you may have previously been familiar with Vault) This will allow multiple plugins to both register to use and supply parties, without committing any hard interfaces into SpongeAPI.

I had been thinking some sort of generic "friend" service to be able to grant permissions to people on someones friend list would be somethin

[2017-04-28 02:14] EliterScripts commented on #1469
The thing is when you leave things like this to a plugin, plugins don't work with other plugins. When API's like Sponge come together and make things universal, and easier to accomplish things, you get something awesome. When you don't have a universal platform, you have a bunch of chaos, bad practices used, and incooperation between plugins, and a lot of hard coding.

What I want a party API to d

[2017-04-28 02:34] parlough commented on #1471
I believe many of the collide events are implemented already. Check out the [CollideEvent](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/event/action/CollideEvent.html) and its sub-events: [CollideBlockEvent](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/event/block/CollideBlockEvent.html), [CollideBlockEvent.Impact](https://jd.spongepowered.org/6.0.0-SNAPSH

[2017-04-28 04:35] ryantheleach commented on #1469
That's already far more opinionated then what I was imagining.

[2017-04-28 05:35] parlough commented on #1469
I'd also like to point out what you described is practically there in a sense already with Minecraft's own [Scoreboards](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/scoreboard/Scoreboard.html), [Teams](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/scoreboard/Team.html), [Objectives](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/scoreboa

[2017-04-28 07:01] Nazta commented on #1454
It's still in 2287, I had to revert to an older version(2260) to keep it working(but that keeps spamming errors with shulker boxes). Tried running no other mods, besides forge and spongeforge, same result.

---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.11.2-2282-6.0.0-BETA-2287.jar)
Contact their authors BEFORE contacting forge

// Uh... Did I do t

[2017-04-28 23:48] P3rf3ctXZer0 opened #1472 "Server Crash - 1.10.2 During World Chunk Loading"
I crashed during tick loading a chunk. Also if I type /spawn it seems sponge breaks ftb utilitilies.

**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2274
- Forge version: 1.10.2-2281
- Java version: Java 8 u131
- Operating System: Win 10 Pro

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X ] Windows

- Plugins/Mods:
https://gist.github.com/P3rf3ctXZer0/e

[2017-04-29 00:02] pau101 commented on #1461
This was fixed later in the 1.11 release by SpongePowered/SpongeCommon@cd4eacb

[2017-04-29 01:42] bloodmc commented on #1472
Looks like your server was about to crash which shutdown the async lighting thread causing the java.util.concurrent.RejectedExecutionException.

According to your logs, the culprit seems to be caused by the BlockDropItemsPhaseState which apparently is not ending properly. Can you try disabling the causetracker verbose logging as a temporary workaround in sponge's global.conf to see if that helps t

[2017-04-29 03:53] mkrtes commented on #1472
Maybe I have the same problem. https://pastebin.com/pbuRJpAx
Massive error flood in console after start world generation.

[2017-04-29 07:15] P3rf3ctXZer0 commented on #1472
@bloodmc I already did that and yes it works as a work around.

[2017-04-29 07:58] Sunconure11 commented on #1461
@pau101 Is it possible to bring that to 1.10.2? Because that is where the crash happened.

[2017-04-29 09:01] Faithcaio commented on #1454
fixed in https://github.com/SpongePowered/SpongeCommon/commit/ba06972bdd9d87052f08de922132d151f9ec666b

[2017-04-29 09:01] #1454 closed, assigned to nobody

[2017-04-29 18:52] ghost opened #1473 "PREINIT Crash"
i was using forge 2285, but same thing happens with forge 2282. in logs, it says this:
[fml-client-latest.txt](https://github.com/SpongePowered/SpongeForge/files/966333/fml-client-latest.txt)
it says an another coremod loaded the blabla class before sponge blabla.
please help, thanks...

[2017-04-29 18:55] ghost commented on #1473
and if anyone can let me know what mod causes this bug, i can report this issue to that mods github. thanks..
edit: ok it's not about that mod, sponge should fix it

[2017-04-29 18:56] kenijey commented on #1473
and if it's not possible to detect the mod in logs, please let me know it to i test all mods to define which mod causes this problem. i'm not testing it right now because it takes billions of hours...

[2017-04-29 19:03] gabizou commented on #1473
[ServerPropertiesLAN](https://github.com/eileen12/MinecraftForge-Mods-ServerPropertiesLAN/blob/master/src/main/java/JaideepSinghHeer/Minecraft/mod/ServerPropertiesLAN.java) is doing a lot of class loading far too early before Sponge is being loaded.

Borrowing @simon816's explanation from [AppliedEnergistics2 issue](https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2482#issuecomme

[2017-04-29 19:04] ghost commented on #1473
so i should wait for you to write that?

[2017-04-29 19:06] phit commented on #1473
or remove the mod if you can

[2017-04-29 19:07] ghost commented on #1473
i can not remove that mod, sorry for that. :( or... give me 10 mins to decide this...

[2017-04-29 19:09] jackytuutykcaj commented on #1473
Or use a bootstrap as a work around

[2017-04-29 19:10] parlough commented on #1473
Yeah it may be worth a shot trying SpongeBootstrap for now: https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275

I'm not sure it will work though.

[2017-04-29 19:13] ghost commented on #1473
just trying, i will let you know it work or not
edit: nah, didn't work.

[2017-04-29 19:15] kenijey commented on #1473
nah, didn't work.

[2017-04-29 19:19] ghost commented on #1473
but i really agree that if sponge splits the coremods-mod container, it would be much more stable for sponge.

[2017-04-29 19:25] ghost opened #1474 "Sponge tracking crashing server"
https://gist.github.com/xKnightGamingx/fa4989d5a4a9fa97219ce88e51c40e61- skyfactory log
https://gist.github.com/xKnightGamingx/b2a42d417de7369b53351022b9af1759 - Skyfactory crash

https://gist.github.com/xKnightGamingx/f0121d0d073675df8304693606978626 - Foolcraft log
https://gist.github.com/xKnightGamingx/c70f18b3ab811c07633b9519f1eb9b09 - Crash 1
https://gist.github.com/xKnightGamingx/ee027c4106e

[2017-04-29 19:26] parlough commented on #1474
Again, instead of the zip can you please paste the log on https://gist.github.com/

Then simply include any other relevant information about your server's environment within the issue.

A downloadable ZIP is not an appropriate method for conveying this information.

**Edit:** By the way, your gist has an extra dash on the end, messing up the link.

[2017-04-29 19:31] xKnightGamingx commented on #1474
thing is its for two servers

[2017-04-29 19:32] xKnightGamingx commented on #1474
https://gist.github.com/xKnightGamingx/fa4989d5a4a9fa97219ce88e51c40e61- skyfactory log

[2017-04-29 19:33] Meronat commented on #1474
Then upload the logs for both.

[2017-04-29 19:36] ghost commented on #1474
updated

[2017-04-29 20:32] ghost opened #1475 "Dedicated Server Stops(like crash)"
i think it is the error part:

` [Server thread/ERROR] [FML/]: A fatal exception occurred during the server starting event
net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Galacticraft Planets (galacticraftplanets)

Caused by: java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:213) ~[minecraft_server.1.11.2.jar:?]
	at

[2017-04-29 20:33] ghost commented on #1475
btw, used forge 2282.

[2017-04-29 20:38] ghost commented on #1475
aaaand, it gives crash report with 2285 (maybe anyone need to see, just tried)
[2285 sponge dedicated server crash.txt](https://github.com/SpongePowered/SpongeForge/files/966379/2285.sponge.dedicated.server.crash.txt)

[2017-04-29 21:55] tolly765 commented on #830
@FiveEYZ may I ask how you disabled it? We're thinking about doing the same as well, since it is still present after multiple pack updates. Not using sponge isn't an option for us either.

[2017-04-29 22:04] LJack2k commented on #830
Remove it from the mod folder. And yes you have to do it with a pack update.

[2017-04-29 22:10] tolly765 commented on #830
Was gonna say, the last time we did something like that, it crippled people's ability to connect. Guess it isn't one of _those_ mods then. Thanks

[2017-04-30 01:25] gabizou commented on #1473
It's something you can open an issue with the mod developer to have them split up their code, referencing this issue with the reasoning I mentioned above, or of course wait for someone to write a PR to fix it.

[2017-04-30 02:54] fabri2000779 commented on #1468
oh my god thanks to report this i believed that is a Extra U problem, but sponge hehe

[2017-04-30 06:42] ghost commented on #1473
okay i deleted that mod it's not a terrible problem for me anymore, but please look at my dedicated server crash issue :(

[2017-04-30 13:15] yepidoodles commented on #1473
@kenijey use this version server side
https://github.com/Stonebound/Applied-Energistics-2

[2017-04-30 13:21] ghost commented on #1473
what? applied energitics?

[2017-04-30 13:49] yepidoodles commented on #1473
It's a fork which works with SpongeForge servers, clients with the official version will work with it.

[2017-04-30 13:50] ghost commented on #1473
i still didn't understand anything, i think u sent me wrong link @yepidoodles

[2017-04-30 13:51] yepidoodles commented on #1473
On the readme of that fork is the downloads. Use that version of AE2 on your SpongeForge server, and use the Official version of AE2 for your modpack.

[2017-04-30 13:53] ghost commented on #1473
but i don't use AE2 in my modpack ?  still i didn't understand anything

[2017-04-30 13:54] ghost commented on #1473
lets go to the real issue
https://github.com/SpongePowered/SpongeForge/issues/1475

[2017-04-30 13:54] #1473 closed, assigned to nobody

[2017-04-30 13:55] ghost commented on #1475
this is the real issue i'm waiting for help. (i did it for not to be misunderstood)

[2017-04-30 13:57] yepidoodles commented on #1473
Sorry, as [this issue](https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2482) was mentioned, I assumed it was AE2 related. My bad.

[2017-04-30 13:59] yepidoodles commented on #1475
This is an issue with the mod in question: Galacticraft Planets.

[2017-04-30 14:01] yepidoodles commented on #1475
Is it this mod?
https://minecraft.curseforge.com/projects/extraplanets

[2017-04-30 14:03] ghost commented on #1475
yes, galacticraft is installed in my modpack.

[2017-04-30 14:03] ghost commented on #1475
not extraplanets, here it is.
https://ci.micdoodle8.com/job/Galacticraft-1.11/

[2017-04-30 14:07] ghost commented on #1475
and i just linked that amazing compatibility issue an hour ago

[2017-04-30 14:08] yepidoodles commented on #1475
I don't know what is wrong, but I'm 95% sure it's nothing to do with SpongeForge

[2017-04-30 14:09] ghost commented on #1475
hmm :/ hope it be fixed soon by anyway

[2017-04-30 18:05] GenDeathrow commented on #1398
Hatchery dev - when a chicken is placed into a pen I set "capture drops" to truextrue on the entity. Than during specific ticks I check the drop list and drop the items. It's done this way so I make sure that when other mods drop items via entity.dropitem (). I can filter them thur the pens into inventories.

[2017-04-30 20:03] Deamon5550 commented on #1475
Looks like this was fixed by galacticraft https://github.com/micdoodle8/Galacticraft/commit/acf93095105dc939c04f74773341be3d8892e416

[2017-04-30 20:03] #1475 closed, assigned to nobody

[2017-04-30 22:46] PSILONCRAFT opened #1476 "I really need help with this one"
I am the creator of PROJEC PSILONCRAFTED and i use yor mod. its amazing but since i use 153 mods there are bound to be problems. Im sending you this issue because your mod is one that prints out with a error in my setup. i will send you the server log and hope for a proper answer to the adressing issue

Best regards PSILONCRAFT
[crash-2017-04-30_23.33.02-server.txt](https://github.com/SpongePowere

[2017-04-30 23:08] phit commented on #1476
sponge isnt even in the modlist for this crash

[2017-04-30 23:26] gabizou commented on #1476
No where does it show sponge is involved in that crash report. If you have a different crash report, by all means we'll re-open the issue.

[2017-04-30 23:26] #1476 closed, assigned to nobody

[2017-05-01 00:20] phit opened #1477 "CauseTracker issues on death via Blood Magic"
spongeforge-1.10.2-2281-5.2.0-BETA-2291

BloodMagic-1.10.2-2.1.9-78
Guide-API-1.10.2-2.0.3-46
GraveStone Mod 1.5.12

This error is thrown when dying to the Blood Magic [Sacrificial Knife](http://ftb.gamepedia.com/Sacrificial_Knife).

https://gist.github.com/phit/81b115f9d9f7e06e4fd2a1a17d07f926

[2017-05-01 13:49] #1472 closed, assigned to bloodmc

[2017-05-01 13:53] Sitherious opened #1478 "Exception ticking world"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2291
- Forge version: 12.18.3.2281
- Java version:  1.8
- Operating System:

 - [X ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (179): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, Not Enough Items, OpenComputers

[2017-05-01 15:07] bloodmc commented on #1471
This is already implemented as @Meronat stated.

[2017-05-01 15:07] #1471 closed, assigned to nobody

[2017-05-01 15:17] bloodmc commented on #1466
Provide the complete fml-server-latest log so I can see what it showed before this error.

[2017-05-01 16:02] fabri2000779 opened #1479 "sponge cause the same problem of quatum quarry with planters of AgriCraft"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2291.jar
- Forge version: 12.18.3.2281
- Java version: java-1.8.0
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (135): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, IvToolkit, Not Enough Items, SpongeAPI, SpongeForge,

[2017-05-01 17:50] Faithcaio commented on #1459
Our lenses are currently constructed after the Container construction. (`MixinContainer#init`)
Even if the `ContainerPlayerInventoryLens` were constructed dynamicly (in ContainerUtil#getLens/generateLens) it could not handle slots added later:
https://github.com/blay09/TrashSlot/blob/1.10/src/main/java/net/blay09/mods/trashslot/CommonProxy.java#L49

[2017-05-01 20:06] tyler489 commented on #1259
Just like to point out that you also cant Breed the modded chickens from the chickens mod
with seeds you have to use the nesting pins on a sponge forge server in sp either works

[2017-05-01 20:40] GenDeathrow commented on #1259
There is an array in the Entity.class that allows entities to store items instead of dropping the items. All nesting pens do is set it to true, and if the array has drops.. I handle the drops.

![image](https://cloud.githubusercontent.com/assets/3720710/25593974/847f830a-2e84-11e7-9aa0-450b1e05d1d6.png)

![image](https://cloud.githubusercontent.com/assets/3720710/25593960/7545c17e-2e84-11e7-8c8b-3

[2017-05-01 21:35] LornexMc commented on #1451
Hello I found something, a kind of permission to use the commands block via the mod customnpcs.It is with a config file that the customnpc mod creates in the config folder.  I changed the value by true, but there is still nothing that works, you think there is another trick that needs to be done? Thank you

![sans titre](https://cloud.githubusercontent.com/assets/27787968/25595920/b04e07b2-2e94-11

[2017-05-01 21:46] Aaron1011 commented on #1259
Sorry - I meant to link this issue here: https://github.com/SpongePowered/SpongeForge/issues/1398

[2017-05-02 02:04] allanf181 opened #1480 "Extra Utilities Quantum Quarry Crash"
**I am currently running...**

- SpongeForge version: 1.11.2-2227-6.0.0-BETA-2275
- Forge version: 13.20.0.2282
- Java version: 1.8.0_121
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
https://hastebin.com/vatilolino
**What is the expected result?**
No crash.
**What is the current result?**
Server crash.

Crash: https://hastebin.com/ubo

[2017-05-02 02:04] allanf181 commented on #1480
https://github.com/rwtema/extrautilities/issues/1466

[2017-05-02 07:01] ghost opened #1481 "Crash With Galacticraft(another)"
used sponge 2296 to 2298(tested all),
[crash-2017-05-02_10.48.01-server.txt](https://github.com/SpongePowered/SpongeForge/files/969750/crash-2017-05-02_10.48.01-server.txt)
 forge 2285

[2017-05-02 07:04] kenijey commented on #1481
i tested with sponge 2297 too, crashed again. here's that crash report
[crash-2017-05-02_10.03.04-server.txt](https://github.com/SpongePowered/SpongeForge/files/969657/crash-2017-05-02_10.03.04-server.txt)

[2017-05-02 08:58] #1481 closed, assigned to nobody

[2017-05-02 15:43] mkrtes opened #1482 "Cause Tracker issues on all death"
- spongeforge-1.10.2-2281-5.2.0-BETA-2292/91/74  (Tried it on three versions)
- Forge version: 2281
- Java version: 8
- Operating System: Linux
- Plugins/Mods:
`
[17:31:51] [Server thread/INFO]: Plugins (171): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Advanced Rocketry, Aroma1997Core, IvToolkit, SpongeAPI, SpongeForge, CoFH ASM, ccl-entityhook, CoFH Core, Actually Additio

[2017-05-02 16:39] ghost opened #1483 "Sponge Causes a Confusing Crash..."
https://github.com/Quetzi/Morpheus/issues/36#event-1065888881

[2017-05-02 18:04] Deamon5550 commented on #1483
Duplicate spongepowered/SpongeForge#830

[2017-05-02 18:04] #1483 closed, assigned to nobody

[2017-05-02 18:05] ghost commented on #1483
sorry..

[2017-05-03 13:01] radfast commented on #1481
There is an issue in Sponge where **on first time server start** it creates spawn areas for all dimensions added by Forge mods.  This spawn creation - for multiple dimensions - can take longer than 1 minute.  The default server time-out for a tick is set to 60000ms - that's 1 minute.

Our mod's wiki advises server owners to set the ```max-tick-time``` to a large number like 999999 for the first ti

[2017-05-03 13:09] radfast commented on #1475
Guys I'm sorry, I asked kenijey **not** to report this issue to Sponge!

I can't really control what our players do :(

The issue here was a command which had a ```null``` String as its name (not sure how, not intended but bugs do creep in between versions).  Standard Forge doesn't seem to mind about a null strong there, there is no error in standard Forge.  Sponge Forge does mind.  Sponge could a

[2017-05-03 15:18] johnfriedrich commented on #1368
Still an issue with SF 2264
https://pastebin.com/r6taVHDP

Just updated to 2300, lets see if it still happens.

[2017-05-03 16:20] ghost opened #1484 "Can't Drop Any Item"
if i try droping any item by pressing Q, nothing happens, item is being destroyed.
here is the logs:
[fml-server-latest.log.txt](https://github.com/SpongePowered/SpongeForge/files/974021/fml-server-latest.log.txt)
using forge 2294, latest sponge 2301
sorry if it's dupe, but i couldn't see any issue about dropping item.

[2017-05-03 17:34] JojoLesGo commented on #1346
I too am having this issue and would love to see a solution!

[2017-05-03 18:41] Heartfyre opened #1485 "Error - Mixin apply failed - after adding foamfix and BetterFPS"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2300
- Forge version: 2281
- Java version: jre1.8.0_131 (64Bit)
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
Forge mods only
BiomesOPlenty-1.11.2-6.1.0.2206-universal
foamfix-0.6.2-anarchy
BetterFps-1.4.3

**What is the current result?**
Hey guys,

I just started a fresh and new sponge/for

[2017-05-03 18:42] YOYOK9 opened #1486 "Newer Versions of sponge VS mods"
Something I have noticed over time is that as Sponge Forge updates it seems to "break" different parts of mods out there. Which makes it hard to run a server with mods that will only half work properly or even not at all. Also making it hard for mod authors to see what's wrong when 1 version it works and the next it fails?

Is there any news on what's going on and ways for mod authors and Sponge c

[2017-05-03 18:42] phit commented on #1485
remove BetterFPS there's no point in having it installed with Sponge anyway, see this  https://github.com/SpongePowered/SpongeForge/issues/762#issuecomment-233420532

[2017-05-03 18:46] Heartfyre commented on #1485
Hey mate,

thanks for the hint! I did remove it. That being said, the error still appears with foamfix only.

[code]

[2017-05-03 18:50] ktole1999 commented on #1486
latest and greatest vs stability. they dont always go hand in hand. its also impossible for sponge devs to predict mod behavior

[2017-05-03 18:51] phit commented on #1485
Try the "lawful" FoamFix version, since it's less invasive. If that works I would consider opening an issue on the FoamFix side [here](https://github.com/asiekierka/FoamFix/issues) and see if asie can fix it, since he fixed compatibility with [Sponge before](https://github.com/asiekierka/FoamFix/issues/15).

[2017-05-03 19:06] Heartfyre commented on #1485
Hey @phit

Thank you for your reply. As it seems it is indeed a problem with the Anarchy-version, as the lawful isn't producing any errors so far. I will let asie know about it. Thanks for pointing it out and helping me that quick!

Best regards!

[2017-05-03 19:06] #1485 closed, assigned to nobody

[2017-05-03 19:57] Deamon5550 commented on #1485
@Heartfyre make sure you're using the latest version, there was an issue with older versions of anarchy with sponge but they were fixed

[2017-05-03 20:30] johnfg2610 commented on #1460
we are having the same issue and are running bungeecord

[2017-05-03 21:25] KappaKiddie opened #1487 "Error in TabComplete"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2300
- Forge version: 1.10.2 - 12.18.3.2281
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

There's a error when I use Tab in the screen
Error: https://pastebin.com/E6XceVSb

[2017-05-03 21:38] KiriCattus commented on #1428
The issue seems to be fixed in a newer release of spongeforge so I'll close this ticket.

[2017-05-03 21:38] #1428 closed, assigned to nobody

[2017-05-03 21:44] YOYOK9 commented on #1486
This is true, Just find it odd how something could be working perfectly fine on the mods side (no updates) then just sponge updates and the mod then breaks. Just seems odd to me that's all.

[2017-05-04 02:51] KingDan27 opened #1488 "Quantum Quarry Mining Issue"
Running a brand new test server with no plugins on FTB Beyond the quantum quarry does not produce any mined materials. works fine without sponge on the same server.

**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2300
- Forge version: forge-1.10.2-12.18.3.2254-universal
- Java version: 8
- Operating System:
 - [X ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [

[2017-05-04 05:40] mkrtes commented on #1482
The cause of the problems found. It's [TrashSlot mod.](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2515456-trashslot-easy-on-the-environment)

[2017-05-04 18:02] Bennyboy1695 commented on #1460
Can confirm this is caused by Sponge, had a purely Forge server running a pack with Veinminer in it, players could join it with no issues at all. As soon as it was turned into a sponge server players got the Veinminer mod rejection.

[2017-05-04 21:40] chezpaul opened #1489 "Crash on Server Launch with OTG"
- SpongeForge version: 2281 2300 1.10.2
- Forge version: Forge 2281 1.10.2
- Java version: Java 8 121
- Operating System:
- [√ ] macOS 10.12.4
My server crashes when I add the [Open Terrain Generator](https://minecraft.curseforge.com/projects/open-terrain-generator) mod in mods folder.
Without Sponge (but with OTG), server starts fine, without Open Terrain Generator (but with Sponge), server also