[2017-07-17 16:22] ghost commented on #1655
tooooo old forge imho

[2017-07-17 16:38] Zidane commented on #1655
Closing as your Forge is well out of date. Make sure before opening tickets in the future that your SpongeForge, Forge, and mods are all up to date for the Minecraft version you are targeting.

[2017-07-17 16:38] #1655 closed, assigned to nobody

[2017-07-17 16:39] Zidane commented on #1652
This has nothing to do with Sponge:

	at jds.bibliocraft.events.EventItemToss.DroppedItemEvent(EventItemToss.java:22)

[2017-07-17 16:39] #1652 closed, assigned to nobody

[2017-07-17 16:43] Zidane commented on #1651
java.lang.ClassCastException: forestry.apiculture.tiles.TileHive cannot be cast to chanceCubes.tileentities.TileChanceCube
	at chanceCubes.blocks.BlockChanceCube.removedByPlayer(BlockChanceCube.java:50)

Nothing to do with Sponge.

[2017-07-17 16:43] #1651 closed, assigned to nobody

[2017-07-17 17:09] Zidane commented on #1650
java.lang.NullPointerException: Exception while updating neighbours
	at net.minecraft.block.Block.getId(Block.java:2671)

This returning null means a block hasn't been registered correctly and points to a mod doing something it should not be doing. Whereas Sponge tripped the crash, we aren't changing how we're doing getId as mods need to be using Minecraft's/Forge's registries correctly.

Per this

[2017-07-17 17:09] #1650 closed, assigned to nobody

[2017-07-17 17:11] Zidane commented on #1649
@linkinkov

In the future, do not piggy back issues on other issues. I'll be nice and allow it this time. For your current reply, not a Sponge issue:

[16:28:14] [Server thread/ERROR] [Sponge/]: /* java.lang.ClassCastException: com.pixelmonmod.pixelmon.blocks.tileEntities.TileEntityBerryTree cannot be cast to com.pixelmonmod.pixelmon.blocks.tileEntities.TileEntityApricornTree */
[16:28:14] [Server

[2017-07-17 17:13] Zidane commented on #1646
I'm closing this as we cannot support mods who fully replace method code like this. As @Mumfrey has pointed out, there are far better ways the mod author can achieve what he wants to achieve.

[2017-07-17 17:13] #1646 closed, assigned to nobody

[2017-07-17 17:15] Zidane commented on #1645
Looks like when LuckPerms is performing some code (likely a db lookup), it is hanging:

    at me.lucko.luckperms.sponge.service.proxy.SubjectProxy.getActiveContexts(SubjectProxy.java:165)

Report to the plugin's issue tracker.

[2017-07-17 17:15] #1645 closed, assigned to nobody

[2017-07-17 17:22] Zidane commented on #1654
I would recommend reinstalling your client installation and then reinstalling Forge. At that time, boot your client once, shut it down, and then put SpongeForge into your mods folder created on the client.

Try and launch again.

[2017-07-17 17:23] Zidane commented on #1641
Closing as this is an incompatibility with FoamFix and @ryantheleach has provided a fix.

[2017-07-17 17:23] #1641 closed, assigned to nobody

[2017-07-17 17:23] Zidane commented on #1642
@gabizou

Tracker bug, can you fix this?

[2017-07-17 17:26] Zidane commented on #1639
@Sir-Will

Can you re-open this on SpongeCommon instead? @Faithcaio Wait for the re-open then look into fixing as that query should return a view of an Inventory as an Inventory with only the stack he clicked and the clear of it should only affect that stack.

Unless @Mumfrey says otherwise.

[2017-07-17 17:44] Zidane commented on #1631
Closing this as the root issue has been resolved.

[2017-07-17 17:44] #1631 closed, assigned to gabizou

[2017-07-17 17:55] Zidane commented on #1614
Shouldn't be an issue now.

[2017-07-17 17:55] #1614 closed, assigned to nobody

[2017-07-17 17:56] Zidane commented on #1616
@Aaron1011

Please get this fixed.

[2017-07-17 17:58] Zidane commented on #1610
This will be an issue with Sponge because we send a GUI close when cancelling interaction to fix the fact that interacting something like a CommandBlock is handled on the client so without sending a gui close it would never close.

@SpongePowered/developers Thoughts? Fixing this would re-introduce what this was meant to fix to begin with.

[2017-07-17 18:01] Zidane commented on #1608
You state that you've allocated 6GB of Memory but the server is unable to allocate that much:

There is insufficient memory for the Java Runtime Environment to continue.
Native memory allocation (mmap) failed to map 616562688 bytes for committing reserved memory.
Possible reasons:
The system is out of physical RAM or swap space

Not a Sponge issue beyond the fact that adding additional mods will i

[2017-07-17 18:01] #1608 closed, assigned to nobody

[2017-07-17 18:04] Zidane commented on #1622
@CreativeMD

Why are you sending a packet to drop an item? Listen to the Forge events for Player toss and add motion to the EntityItem being spawned. If you circumvent Forge/Minecraft, Sponge will naturally break because the CauseTracker is expecting to go through the correct systems.

[2017-07-17 18:04] #1622 closed, assigned to nobody

[2017-07-17 18:11] linkinkov commented on #1649
@Zidane sorry for my mistake. Thank you for reply.

But, how about spam issue?

[2017-07-17 18:24] Zidane commented on #1597
Its a bug that happens, sometimes, with the async lighting code in Sponge. If persistent, turn it off in global.conf in the config folder.

[2017-07-17 18:24] #1597 closed, assigned to nobody

[2017-07-17 18:25] Zidane commented on #1601
Closing this as its not comprehensible. Fix your logs and post a reply and I'll reopen. We also have a template for this, utilize it.

[2017-07-17 18:28] Zidane commented on #1594
Report to the plugin author. The JSON is malformed. Not a Sponge issue.

[2017-07-17 18:28] #1594 closed, assigned to nobody

[2017-07-17 18:30] phit commented on #1595
might be related to https://github.com/rwtema/FunkyLocomotion/pull/104

[2017-07-17 18:31] Zidane commented on #1595
Closing as this isn't a Sponge issue. I'd take a look @phit 's comment and go from there (if you still use that mod).

[2017-07-17 18:31] #1595 closed, assigned to nobody

[2017-07-17 18:35] Zidane commented on #1284
There is more to this issue than you're putting here. This means a Mixin failed to apply so you've got a workspace issue. SpongeForge works fine in client-mode for me locally in IDE.

[2017-07-17 18:35] #1284 closed, assigned to nobody

[2017-07-17 18:36] Zidane commented on #1450
Not a Sponge issue. Go to MineTweaker and report if still a problem.

[2017-07-17 18:36] #1450 closed, assigned to nobody

[2017-07-17 18:37] Zidane commented on #1453
Closing as this isn't a Sponge issue.

[2017-07-17 18:37] #1453 closed, assigned to nobody

[2017-07-17 18:40] Zidane commented on #1418
@Eufranio

Closing this as you aren't providing any information. SF version? Forge version? Log? Tickets like these are going to start being auto-closed as we need information.

[2017-07-17 18:40] #1418 closed, assigned to nobody

[2017-07-17 18:45] phit commented on #1281
Retested this with
ImmersiveEngineering-0.11-63.jar
jei_1.11.2-4.5.0.291.jar
Mantle-1.11.2-1.2.0.26.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar
TConstruct-1.11.2-2.7.1.34.jar

Tried a Tinkers and Vanilla pickaxe with both fortune III, broke coke oven bricks multiple times and couldn't get them to dupe, even when the brick was part of the Coke Oven multiblock.

[2017-07-17 19:08] phit commented on #1151
could this be your texturepack offsetting the gui?

[2017-07-17 19:10] #1351 closed, assigned to nobody

[2017-07-17 19:15] phit commented on #1477
still an issue in 1.11.2

BloodMagic-1.11-2.1.11-80.jar
Guide-API-1.11.2-2.1.1-52.jar
jei_1.11.2-4.5.0.291.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar

https://gist.github.com/phit/a4c029fcf09e03ad79909c25a4ef92af

[2017-07-17 19:20] dualspiral commented on #1507
This is a Bungee bug - one caused by me really, it wasn't sending some packets through, including the Dimension Register one. I'll PR a fix to Waterfall.

[2017-07-17 19:20] #1507 closed, assigned to nobody

[2017-07-17 19:23] phit commented on #1342
should I create a pull request to fix this in stable-6 and bleeding?
all that's needed is to lowercase the item id..

[2017-07-17 19:34] phit commented on #1320
still an issue in 1.11.2

Baubles-1.11-1.4.5.jar
extrautils2-1.11.2-1.5.jar
jei_1.11.2-4.5.0.291.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar

item drops as expected when Sponge is removed

[2017-07-17 19:36] CreativeMD commented on #1622
Ok, still don't really get the problem behind it, but i could find a way around it. Thanks for you help anyway.

[2017-07-17 19:45] phit commented on #921
can't reproduce this, tested with

armorplus-1.11.2-10.7.0.1.jar
Forgelin-1.5.0.jar
jei_1.11.2-4.5.0.291.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar
thedragonlib-1.11.2-3.2.2.jar

and

armorplus-1.10.2-8.7.1.2.jar
jei_1.10.2-3.14.7.419.jar
spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
thedragonlib-1.10.2-1.0.3.1.jar

[2017-07-17 19:54] phit commented on #889
working fine, no stacktraces in the consoler either! tested with

spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar
VeinMiner-1.11-0.36.0.621+8499b73.jar

and

spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
VeinMiner-1.9-0.36.0.609+0056a96.jar

@Aaron1011 unless you still want to revisit this I consider this fixed

[2017-07-17 20:05] phit commented on #1041
I tried to reproduce this in 1.10 an 1.11 without any mods and just SpongeForge.
Could only get one egg, hitting the exploding dragon did nothing. This probably needs more information.

[2017-07-17 20:15] phit commented on #1018
EnderCompass-1.9.x-1.2.3.2.jar
spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar

no error and compass led me to to a stronghold
![2017-07-17_22 14 36](https://user-images.githubusercontent.com/2097483/28287850-70d9040c-6b3d-11e7-8336-c269392b3008.png)

[2017-07-17 20:21] phit commented on #1310
so little info, but I tested this with
CyclopsCore-1.11.2-0.10.6.jar
EvilCraft-1.11.2-0.10.29.jar
jei_1.11.2-4.5.0.291.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar

navigated the "Origins of Darkness" for a while, hovered over recipes and clicked around couldn't get my game to crash

[2017-07-17 20:26] liach commented on #1284
Will test and report.

[2017-07-17 20:26] liach commented on #1284
Will test and report.

[2017-07-17 20:29] Sir-Will commented on #1507
@dualspiral thanks a lot!

[2017-07-17 20:29] #921 closed

[2017-07-17 20:30] Faithcaio commented on #1639
Regardless of the actual issue. You can iterate through the slots and clear them.
`queryResult.slots().forEach(Inventory::clear);`

[2017-07-17 20:33] #1310 closed, assigned to nobody

[2017-07-17 20:34] johnfg2610 commented on #1594
I am the plugins developer and this isn't a plugin issue. Im using data formats to go from for example block snapshot to json and it works on certain servers and not others(works during testing and on our "near vanilla" server but not on our new frontier server)

[2017-07-17 20:43] phit commented on #1582
You need to OP yourself for them to show up, if you have a perms plugin `/op` will be disabled so you have to use `/minecraft:op <yourname>`.

[2017-07-17 20:46] Zidane commented on #1594
@johnfg10

What you've said makes no sense. It can't just work on one and not another. Check the software running on both boxes and narrow down when it happens. Even with that said, this isn't a Sponge issue else it'd break both servers.

[2017-07-17 20:47] Zidane commented on #1582
Closing as this isn't a Sponge issue and a fix is provided by @phit .

[2017-07-17 20:47] #1582 closed, assigned to nobody

[2017-07-17 20:48] Zidane commented on #1639
Closing as a work-around was provided by @Faithcaio and we need this re-opened in the proper repo for a more correct fix.

[2017-07-17 20:48] #1639 closed, assigned to nobody

[2017-07-17 20:49] phit commented on #1570
judging by this https://minecraft.curseforge.com/projects/craft-of-the-titans/issues/155
the mod is pretty broken, considering reporting this to the dev
https://github.com/bigbang87/deadly-monsters/issues

[2017-07-17 20:50] Zidane commented on #1649
The DataRegistration system will not be backported to 1.10.2 as it is a break. As @gabizou said, once the data fails to load for entities, the spam will go away.

[2017-07-17 20:50] #1649 closed, assigned to nobody

[2017-07-17 20:51] Zidane commented on #1281
Closing as not able to be reproduced by others (it may very well have been resolved by now).

[2017-07-17 20:51] #1281 closed, assigned to nobody

[2017-07-17 20:56] Sir-Will commented on #1639
Done: https://github.com/SpongePowered/SpongeCommon/issues/1449

[2017-07-17 21:01] Zidane commented on #1570
That error also shows unregistered entities which means the mod isn't making correct use of the registries built into Forge and/or Minecraft. Not a Sponge issue.

[2017-07-17 21:01] #1570 closed, assigned to nobody

[2017-07-17 21:02] Zidane commented on #673
I've elected to make the decision to not do this as running on the client comes as a happy consequence. The config file is easy enough to modify.

[2017-07-17 21:02] #673 closed

[2017-07-17 21:03] Zidane commented on #874
@Faithcaio

Is this old issue still an issue?

[2017-07-17 21:04] phit commented on #1602
dupe of #1394

[2017-07-17 21:04] Zidane commented on #883
@Aaron1011

Is this still an issue?

[2017-07-17 21:05] #1602 closed, assigned to nobody

[2017-07-17 21:08] phit commented on #1394
can't reproduce this on my own server

ActuallyAdditions-1.11.2-r110.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2463.jar

I'm personally behind Hexagon's BungeeCord for 1.12, either way this is not a Sponge issue

[2017-07-17 21:12] Zidane commented on #1436
Need more information...such as mods being used. Closing till we get it or if no response we'll assume fixed.

[2017-07-17 21:12] #1436 closed, assigned to nobody

[2017-07-17 21:13] Zidane commented on #1586
Can you re-upload your log? If no response I'll assume that this is resolved.

[2017-07-17 21:14] Zidane commented on #1586
Wrong copy-paste. Awaiting log re-upload.

[2017-07-17 21:15] Zidane commented on #1526
@Faithcaio

Are your fixes in 1.11?

[2017-07-17 21:16] #1394 closed, assigned to nobody

[2017-07-17 21:17] #662 closed

[2017-07-17 21:19] Zidane commented on #927
Given that this is in offline-mode, is this just an issue with Forge @inklit . Is this still a problem?

[2017-07-17 21:25] phit commented on #1612
@JSingDreams does this happen after every restart? what fixes it?
the crash mentions nuvotifier, consider reporting it to them

[2017-07-17 21:40] phit commented on #1056
cant reproduce with

ImmersiveEngineering-0.10-61.jar
spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar

![2017-07-17_23 40 20](https://user-images.githubusercontent.com/2097483/28291093-54abce20-6b49-11e7-9b35-c00c540414e3.png)

[2017-07-17 21:44] phit commented on #1002
still an issue with

itemscroller-1.11.2-0.11.0.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar

[2017-07-17 21:46] Faithcaio commented on #874
I tested canceling `ClickInventoryEvent.Drop.Single` in API7 and 5 both working as expected.

[2017-07-17 21:46] #874 closed

[2017-07-17 21:49] loveyanbei opened #1656 "[1.10.2] fail to save chunks on galacticraft dims"
running latest forge 1.10.2 - 12.18.3.2316
with sponge 1.10.2-2281-5.2.0-beta-2464
Server says failed to save chunks on saving galaciticraft dimensions
（using galaciticraft with plants and more planets)
Works fine under pure forge env.

[2017-07-17 21:51] phit commented on #1656
please add your fml-server-latest.log

[2017-07-17 22:04] phit commented on #1132
@Mumfrey Just retested, this is still an issue with spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
same crashes as shown above, https://gist.github.com/phit/02174792b2afb96bc37ad86b807ca99b

tested with latest stable liteloader, since there is no version in the filename
Name: liteloader-1.10.2-release.jar
SHA1: 6059F3F484776578B451B17DFF54AD5DA2E1E4D6

[2017-07-17 22:08] phit commented on #1305
@bhi-elliot is this still an issue?

[2017-07-17 22:13] Faithcaio commented on #1526
They should be.
But I'm pretty sure I do not handle player inventories with a size of [0](https://github.com/MightyPirates/OpenComputers/blob/917befcd0e8e256bc52abb038f86bc04f236645a/src/main/scala/li/cil/oc/server/agent/Inventory.scala).
Which is what seems to cause the error here.
@phit can you test this again?

[2017-07-17 22:30] Mumfrey commented on #1132
Posting the crash is almost totally useless to me. Post the logs. The issue in the OP was fixed months ago, the error you're listing there is totally different. I don't normally support such ancient versions but it's possible this can be fixed in Sponge and since 1.10.2 is an LTS version.

[2017-07-17 22:50] phit commented on #1132
The error is exactly the same? before renaming, Sponge crashes, then after renaming crashes due to playerlist.. scroll down there's two crashlogs. Anyway here's the full latest logs, both before and after rename https://gist.github.com/phit/d901328fb195374facacffcc651583a3

If you no longer support this version, feel free to close this issue, I personally couldn't care less, just helping clean up

[2017-07-17 22:58] phit commented on #1526
@Faithcaio still crashes
https://gist.github.com/phit/4859c3aaf75f45dd00a82012de364d09
spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar
OpenComputers-MC1.11.2-1.7.0.24.jar

to crash, give yourself the creatix (creative robot), place it down and just rightclick it

[2017-07-17 23:27] Mumfrey commented on #1132
The error is different, seeing what the error is I can now see how to fix it.

[2017-07-17 23:36] Mumfrey commented on #1132
I see the issue, I didn't backport the changes to 1.10.2, I should be able to make a liteloader snapshot version which can incorporate the fix for this.

[2017-07-18 00:58] sayore commented on #1654
Will do and report back later.

[2017-07-18 01:09] sayore commented on #1654
Same result: I deleted the .minecraft Folder, reinstalled forge 2281, and the only mod in the mods folder was spongeforge 2281, i removed EVERYTHING i could find in the Profile's folder except for the spongeforge mod(i let forge run once before i added spongeforge, as you told me to).
Using the default Java of MC(which seems to be 8_25) and i used my Java (8_121) to test it.
And i usually know how

[2017-07-18 01:11] bhi-elliot commented on #1436
Hi! Thank you for looking into this.
I have long since updated the server and mods and haven't had the exact same crash since, so it might have been fixed.
In any case, here are the mods that were being used at the time:
ironchest-1.11.2-7.0.18.800
Nucleus-0.27.1-1.11.2-S6.0-plugin
spongeforge-1.11.2-2227-6.0.0-BETA-2270
worldedit-sponge-6.1.7-SNAPSHOT-dist

[2017-07-18 01:14] phit commented on #1654
can you upload your fml-client-latest.log please? should be in the logs folder

[2017-07-18 01:21] bhi-elliot commented on #1305
Hi there,
Thank you for checking in.
I have not had this exact same crash happen. If I do, I'll re-post. I'm assuming this got fixed at some point. Currently running 1.11.2-2393-6.1.0-BETA-2468

[2017-07-18 01:24] ryantheleach commented on #1201
Possible interactions to investigate:

https://github.com/SpongePowered/SpongeCommon/blob/9e6acff2f9c25f346151420d368a26a0e3578a5b/src/main/java/org/spongepowered/common/mixin/realtime/mixin/MixinEntityItem.java

https://github.com/SpongePowered/SpongeCommon/blob/8824c6f4635e721228ac5e211a3c9f3fbf8a6dfb/src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityItem.java

https://git

[2017-07-18 01:26] sayore commented on #1654
There doesn't seem to be a fml-client-latest.log, i added FoamFix(!without Spongeforge!) to see if it generates with a mod in the mods folder. It's clearly listet in the mods section. But no fml-client-latest.log. Not even in my main modpack where i have a long list of mods.
(My main modpack: https://user-images.githubusercontent.com/6115966/28296393-4b546ab6-6b68-11e7-8989-1e536b387b4c.png)
I ins

[2017-07-18 01:51] ryantheleach commented on #1654
Added FoamFix? Are you trying to boot Sponge and Foamfix at the same time? If so please read:

https://github.com/SpongePowered/SpongeForge/issues/1641#issuecomment-314614232

[2017-07-18 02:02] sayore commented on #1654
No i just wanted to see if there would generate a fml log if i only used one mod, it didnt. Then i looked into my main modpack to see if there is a log, and there wasn't so i uploaded the only log available. Thats what i wanted to say.
FoamFix was just one where i knew it has no base mod/dependence. I grabbed it randomly. I did not mix these two mods.
This has absolutely no correlation.
I just wan

[2017-07-18 02:09] phit commented on #1654
just managed to reproduce this in a fresh Windows 10 VM, issue seems to be related to the new launcher (tested with 2.0.934) since it works fine in the old one (tested with 1.6.73-j and 1.6.69)

tested with
* launcher built in java jre1.8.0_25
* freshly installed jre1.8.0_131
* forge 2281
* forge 2316
* sponge 2464

logs: https://gist.github.com/phit/4465c16b7a7a467d576327f906c4797f
https://gist.g

[2017-07-18 02:11] ryantheleach commented on #1654
So you are seeing the GUI warning that you get when you double click on SF when you run the launcher?

The new launcher must be scanning for a public static void main or something.

[2017-07-18 02:12] ryantheleach commented on #1654
@phit [03:57:48] [main/INFO]: Java is Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_25, running on Windows 10:amd64:10.0, installed at C:\Program Files (x86)\Minecraft\runtime\jre-x64\1.8.0_25
[0

[03:57:48] [main/INFO]: [org.spongepowered.launch.JavaVersionCheckUtils:ensureJava8:51]: You may be running an outdated version of Java. Any crashes from Sponge may require an update to Java.

[2017-07-18 02:13] sayore commented on #1654
@ryantheleach The Gui opens when i try to start the SpongeForge mod. Its not the Launcher that does that, i only got my instructions from it that i followed.

[2017-07-18 02:14] phit commented on #1654
@ryantheleach read what I posted.. I also tested with 1.8.0_131 and a bunch of forge versions, same crash
https://gist.github.com/phit/a1dd6f66249479c2eed9eec6c99cf53e

[2017-07-18 02:17] ryantheleach commented on #1654
Thanks phit, it wasn't immediately obvious from the logs originally posted. Thought that your second test may have missed overriding the system java version in the options :)

[2017-07-18 03:28] ryantheleach commented on #1507
That's not what ip_forward does FYI. ip_forward makes Bungee encode additional details about the player into the packets, so that the servers can see the true connecting IP. I'm not 100% sure which platforms support it.

[2017-07-18 03:36] ryantheleach commented on #1594
@johnfg10 To be specific, as you mentioned block snapshot, narrow it down to a specific tile entity / block type.

It may be that some modded block is behaving differently.

[2017-07-18 03:43] ryantheleach commented on #1450
I suspect this was fixed looking at the history of: https://github.com/jaredlll08/CraftTweaker/blob/c6ff5111ff5d78d0ce4c6f07f710724e6c7e7eae/MineTweaker3-MC1102-Main/src/main/java/minetweaker/mc1102/server/MCServer.java

[2017-07-18 05:06] loveyanbei commented on #1656
ok, seems like a FuturePack issue on every dim, not galacitycraft

[13:03:19] [Server thread/INFO]: Stopping server
[13:03:19] [Server thread/INFO]: Saving players
[13:03:19] [Server thread/INFO]: Saving worlds
[13:03:19] [Server thread/INFO]: Saving chunks for level 'world'/Overworld
[13:03:19] [Server thread/INFO]: Saving chunks for level 'DIM-1'/Nether
[13:03:19] [Server thread/INFO]: Saving ch

[2017-07-18 05:38] ryantheleach commented on #1656
FuturePack seems to be closed source for anyone investigating.

[2017-07-18 06:19] FiveEYZ commented on #1601
this is the error he is trying to report as i'm also getting it but for 1.10.2
https://gist.github.com/FiveEYZ/5597627cf73b8e288d6e38ea5236f8e4

A player was using a sacrificialDagger on himself until he gets half a heart, then he heals himself to full by eating. Later maybe 1-2 min (after he did a little crafting running around) he got back to use the sacrificialDagger again, he went from 20 hear

[2017-07-18 06:43] mkrtes commented on #1586
Unfortunately, this log is lost. This problem no longer occurs.

[2017-07-18 06:43] #1586 closed, assigned to nobody

[2017-07-18 08:36] dualspiral commented on #1507
No, I think something was lost in translation here. I think what is meant is that you have to log into the server directly, and to do _that_, you need to turn IP forwarding off.

What I found was that you could log into the server directly first, which would give you the dimension registration (only possible with IP forwarding off), log off the server using the “quit” option, then you could log in

[2017-07-18 09:40] BrainStone opened #1657 "UnsupportedOperationException: direct buffer when handling plugin channel message"
Originally I thought this was an issue with LuckPerms, but after reviewing the affected code it appears the issue lies on the side of Sponge. Code in question: https://github.com/lucko/LuckPerms/blob/master/sponge/src/main/java/me/lucko/luckperms/sponge/messaging/BungeeMessagingService.java#L86-L90
Original issue: lucko/LuckPerms#372

**I am currently running...**

- SpongeForge version: 1.12-2397

[2017-07-18 10:17] Mumfrey commented on #1657
This seems to be a mistake in the implementation of `MixinPacketBuffer::readUTF` [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/network/MixinPacketBuffer.java#L444) where it's trying to read an array from the incoming buffer but the buffer is a "direct buffer" and has no backing array.

This error has been observed in WorldEdit'

[2017-07-18 10:20] BrainStone commented on #1657
@Mumfrey should be an easy fix then, right?
And yes, I've experienced issues with the WECUI too... Hopefully it's the same problem.

[2017-07-18 11:14] Mumfrey commented on #1657
Basically our current implementation calls `.array()` on `ByteBuf`s in a few places unguarded by a call to `.hasArray()`, they'd need to be changed to support direct buffers as well.

Interestingly, [this code](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/network/MixinPacketBuffer.java#L245) was actually [originally correct](https://

[2017-07-18 11:17] Mumfrey commented on #1657
Changed topic because this isn't being caused by bungee messages, it's caused by plugin channel handlers directly or indirectly calling `array()` on a direct buffer.

[2017-07-18 13:31] cyberdjinn opened #1658 "SpongeForge prevents Actually Additions GUI buttons from working"
I am currently running...

SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2463
Forge version: forge-1.11.2-13.20.1.2393-universal
Java version: 8
Operating System:
 Linux (Ubuntu, Debian, Fedora, etc)
 macOS
 Windows
Plugins/Mods: Actually Additions, AdventureMMO, Better Achievements, BiblioCraft, Biomes O' Plenty,
BiblioWoodBoP, Buycraft, Chisels & Bits, Fast Leak Decay, FTBUtilities, FT

[2017-07-18 13:33] Zidane commented on #1658
https://github.com/SpongePowered/SpongeForge/issues/1602

[2017-07-18 13:33] #1658 closed, assigned to nobody

[2017-07-18 13:42] Zidane commented on #1657
@Mumfrey

:sadface:

It may be wise to write a test for this class as that bug has existed for a very long time now..

[2017-07-18 13:47] Zidane commented on #1589
I'm going to close this issue on the grounds that it isn't a Sponge issue.

[2017-07-18 13:47] #1589 closed, assigned to nobody

[2017-07-18 13:47] Zidane commented on #1565
@Deamon5550 thoughts?

[2017-07-18 13:48] Zidane commented on #1601
@gabizou

Thoughts?

[2017-07-18 13:49] Mumfrey commented on #1657
Might be hard to write integration test for that though since I think it's up to netty whether the buffer is direct or not, which is probably why this got missed for so long because it's effectively a corner case.

[2017-07-18 13:51] Zidane commented on #1448
@Faithcaio

Is this resolved?

[2017-07-18 13:53] #1359 closed, assigned to nobody

[2017-07-18 13:55] Zidane commented on #1076
@Faithcaio

Status?

[2017-07-18 13:56] Zidane commented on #1049
@kashike

Status?

[2017-07-18 14:09] Zidane commented on #1033
Closing this for now as this shouldn't go into SpongeForge and won't unless we absolutely have to.

[2017-07-18 14:09] #1033 closed, assigned to nobody

[2017-07-18 14:09] cyberdjinn commented on #1658
Sorry, I tried looking for this already being reported and missed it.

[2017-07-18 14:10] Zidane commented on #1022
@gabizou

Status? We need to get these old issues resolved before worrying about new stuff.

[2017-07-18 14:11] Zidane commented on #1175
Closing due to no response.

[2017-07-18 14:11] #1175 closed, assigned to nobody

[2017-07-18 14:12] Zidane commented on #1176
The second pastebin link may very well be us, the other two are not. Re-test and re-open an issue for the second link if still an issue.

[2017-07-18 14:12] #1176 closed, assigned to nobody

[2017-07-18 14:16] Zidane commented on #1151
Re-test without your current resource pack as it isn't reproduce-able.

[2017-07-18 14:16] #1151 closed, assigned to Aaron1011

[2017-07-18 15:04] kashike commented on #1049
I'll get this done tonight most likely.

[2017-07-18 15:04] kashike commented on #1049
I'll get this done tonight most likely.

[2017-07-18 15:11] mkrtes commented on #1633
@tyler489 yes

[2017-07-18 15:45] gabizou commented on #1601
I feel like there was an exception before that one to have caused the `DeathPhase` to not have gone through. Would have to test either in dev or in production to reproduce. As far as the health is concerned, that seems more of a mod item issue as reviewing the synchronization bits for how health is managed on the server, it's not possible for the client to not have received any health updates unti

[2017-07-18 15:55] kashike commented on #1657
This wasn't broken with https://github.com/SpongePowered/SpongeCommon/commit/5a9531b12f110332bc6ff3220f43dd0d042f0bc2#diff-b6508f10b836d49cb737ffa1f0ee594eR242, it was broken with the 1.12 upgrade.

1.12 upgraded netty to `4.1.9.Final` from `4.0.23.Final`.

During a decode with `4.0.23.Final`, the following code path is taken:
[code]
If we have a look at [`AbstractByteBuf#readBytes(int)`](https://

[2017-07-18 15:56] #1305 closed, assigned to nobody

[2017-07-18 16:03] #1018 closed, assigned to nobody

[2017-07-18 16:43] Faithcaio commented on #1526
Fixed with latest build.

[2017-07-18 16:43] #1526 closed, assigned to nobody

[2017-07-18 16:46] #1657 closed, assigned to kashike

[2017-07-18 16:55] Faithcaio commented on #1448
should be fixed with latest build

[2017-07-18 16:55] #1448 closed, assigned to nobody

[2017-07-18 16:55] gabizou commented on #883
@Zidane reproduced the issue, unsure how to actually resolve it since other similar block style clocks work, just not this one. You can find out how to make them here: http://minecraft.gamepedia.com/Clock_circuit#Setblock_clock

[2017-07-18 17:01] phit commented on #1091
this was resolved by the mod author

[2017-07-18 17:10] phit commented on #1135
This is no longer an issue as far as I know, at least I haven't seen this on my Beyond server. Also pretty sure this was an EnderIO issue.

[2017-07-18 17:19] phit commented on #1392
this is a Refined Storage issue and won't be backported to 1.10.2

https://github.com/raoulvdberge/refinedstorage/issues/370

[2017-07-18 17:25] phit commented on #1396
this was solved by the mod dev and wasn't a Sponge issue

https://bitbucket.org/Aroma1997/miningworld/issues/112/help-error-on-interaction-with

[2017-07-18 17:25] #1091 closed, assigned to nobody

[2017-07-18 17:25] #1135 closed, assigned to nobody

[2017-07-18 17:25] #1392 closed, assigned to nobody

[2017-07-18 17:26] #1396 closed, assigned to Aaron1011

[2017-07-18 17:34] phit commented on #1425
dupe of #830

[2017-07-18 17:37] #1425 closed, assigned to nobody

[2017-07-18 17:38] Faithcaio commented on #1076
Null ItemTypes should be impossible.
Need more Information on this.

[2017-07-18 17:38] #1076 closed, assigned to Faithcaio

[2017-07-18 17:38] Zidane commented on #1317
Closing due to no response.

[2017-07-18 17:38] #1317 closed, assigned to nobody

[2017-07-18 17:42] FiveEYZ commented on #1541
Dupe of https://github.com/SpongePowered/SpongeCommon/issues/1361
closing this one

[2017-07-18 17:42] #1541 closed, assigned to nobody

[2017-07-18 17:48] phit commented on #1479
AgriCraft doesn't add a planter? Can you please add a proper reproduction.

[2017-07-18 17:56] phit commented on #1441
can't reproduce with spongeforge-1.10.2-2281-5.2.0-BETA-2464

[2017-07-18 17:57] #1441 closed, assigned to nobody

[2017-07-18 17:58] Crueldog opened #1659 "Sponge 1.10.2 causes server to crash"
Hello,

I installed Sponge today, got the latest 1.10.2 build 1.10.2-2281-5.2.0-BETA-2464 , and even tried with an older one 1.10.2-2281-5.2.0-BETA-2456, and they both crash...
Server launches properly without sponge but it dies with sponge :frowning:
I'm using latest Forge, so it shouldnt be the issue...

Log can be found here... _https://pastebin.ca/38441272_  **https://gist.github.com/Crueldog/

[2017-07-18 17:59] phit commented on #1659
paste doesn't work, use https://gist.github.com/

[2017-07-18 18:04] phit commented on #1444
I can't even make a dimension
spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
SimpleDimensions-MC1.10-1.3.jar

https://gist.github.com/phit/448e3da699357adef5802020d4864407

[2017-07-18 18:08] Zidane commented on #1444
@phit

I'm going to be investigating some world issues as we've got some bugs cropping up.

[2017-07-18 18:15] phit commented on #1424
No response and not enough information to reproduce.

[2017-07-18 18:17] #1424 closed, assigned to stephan-gh

[2017-07-18 18:23] xTramitx commented on #1659
New Link will be provided shortly sorry.

[2017-07-18 18:31] Crueldog commented on #1659
Apologies... It worked... Then stopped.. Here is the new link using the provider you suggested:
https://gist.github.com/Crueldog/f9a19e2facc9f6b2762eab5f673f46f3

[2017-07-18 18:38] HeberonYT commented on #1616
I downloaded the latest version of sponge forge and the problem still continues, here are other similar and recent reports.
There is no way to reproduce it, it is only random.

SpongeForge: 1.10.2-2281-5.2.0-BETA-2464.jar
https://pastebin.com/raw/9cx3b90U
https://pastebin.com/raw/W4mU3BwK
https://pastebin.com/raw/LDS2z4Ks

[2017-07-18 18:46] Crueldog commented on #1659
I found what the issue was... It clashes with the PlayerAPI mod.

[2017-07-18 18:52] Zidane commented on #1659
@gabizou

Looks like PlayerAPI is messing with your injection here. Please investigate.

[2017-07-18 18:52] phit commented on #1456
can confirm, don't even need extra mods just SpongeForge is enough (spongeforge-1.11.2-2393-6.1.0-BETA-2471)
repro: craft map on server, hold and rightclick it, your client will crash
if you join again the map works

client crash and log https://gist.github.com/phit/da9f936861317dcdec963a3ea1367d83
server log https://gist.github.com/phit/bb86941f1de24e177e253903c2af3aea

[2017-07-18 19:18] gabizou commented on #1659
@Zidane It's [this](https://github.com/SpongePowered/SpongeCommon/blob/2b828ac9c30e11a576735b81c68106aa08f072b7/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java#L1010-L1029) injection that is failing. PlayerAPI is doing some bad transformations that really don't help in mod compatibility, such as [entirely replacing methods and ditching the remainder of the

[2017-07-18 19:18] #1659 closed, assigned to gabizou

[2017-07-18 19:21] phit commented on #1282
@mrAppleXZ is this still an issue? any idea how to reproduce it?

[2017-07-18 19:24] phit commented on #1260
for reference https://github.com/TheDragonTeam/ArmorPlus/blob/1.11/src/main/java/net/thedragonteam/armorplus/worldgen/OreGen.java

https://github.com/TheDragonTeam/ArmorPlus/issues/96

[2017-07-18 19:37] phit commented on #1449
this is an issue tracker and not a support forum, you can get help here:
Forums: https://forums.spongepowered.org/c/plugins/plugin-development
IRC: https://webchat.esper.net/?channels=spongedev
Discord: https://discord.gg/PtaGRAs

[2017-07-18 19:37] #1449 closed

[2017-07-18 20:09] phit commented on #1297
Still an issue, tried this with bleeding.
Eclipse Oxygen Release (4.7.0) Build id: 20170620-1800

https://gist.github.com/phit/ea5d4f4914bc0d1f346674b49bf9fced

[2017-07-18 20:11] phit commented on #1469
Non issue, if you actually wanna bring this forward the SpongeAPI repo would be the right place for this.

[2017-07-18 20:12] phit commented on #1474
none of the links work, no reproduction and generic title
please open a new issue if you still have this problem

[2017-07-18 20:14] #1469 closed, assigned to nobody

[2017-07-18 20:15] #1474 closed, assigned to nobody

[2017-07-18 20:19] phit commented on #1487
What plugin is adding the `/spawn` command you used? I can't reproduce this with just Sponge and tabcompleting usernames.

[2017-07-18 20:24] phit commented on #1276
Can't reproduce this with 1.11.2-2393-6.1.0-BETA-2471
tried shooting a snowball straight up in the air and works just fine, figure out which mod is triggering it or at least provide a modlist.

[2017-07-18 20:25] phit commented on #1289
is this still an issue? the log file is no longer available

[2017-07-18 20:29] Deamon5550 commented on #1289
Its still an issue in so far as we should add some logging to recursion during the generation phase (forge already has logging if it happens in the population phase)

[2017-07-18 20:33] phit commented on #1430
still an issue with
extrautils2-1.10.2-1.5
spongeforge-1.10.2-2281-5.2.0-BETA-2464

[2017-07-18 20:36] phit commented on #1462
dupe of #1383

[2017-07-18 20:37] kashike commented on #1462
Duplicate of #1383.

[2017-07-18 20:37] #1462 closed

[2017-07-18 20:41] phit commented on #1489
I believe this was fixed by the mod author https://github.com/PG85/OpenTerrainGenerator/issues/25#issuecomment-307558973

[2017-07-18 20:42] Deamon5550 commented on #1565
Can you reproduce this without sponge? This is happening entirely within their code with their own data structures so I think it looks like an issue with their mod.

[2017-07-18 20:47] phit commented on #1504
please close this, this crash was caused by using an outdated sponge version

[2017-07-18 20:47] #1504 closed, assigned to nobody

[2017-07-18 20:47] #1489 closed, assigned to nobody

[2017-07-18 20:49] Eufranio commented on #1565
The RecComplex dev fixed this issue (yea it was in his end)

[2017-07-18 20:49] #1565 closed, assigned to nobody

[2017-07-18 20:53] phit commented on #1518
I made it a bit more readable https://gist.github.com/phit/7f6e9759d0f1e29282885115ba934f85
but the lack of response makes me believe this is no longer an issue.

[2017-07-18 20:57] phit commented on #1525
Server crash, harddrive issues, power loss, other mods, etc. could have caused this, unless this happened more than once I would say this isn't a SpongeForge issue.

[2017-07-18 20:59] Zidane commented on #1525
Closing as you had world corruption and this error is pointing right at that. @phit 's remarks are right on point.

[2017-07-18 20:59] #1525 closed, assigned to nobody

[2017-07-18 21:00] kashike commented on #1518
Please open a new issue if this is still an issue.

[2017-07-18 21:00] #1518 closed, assigned to nobody

[2017-07-18 21:11] phit commented on #1523
This issue tracker is for bugs not lag support, for further help please visit one of these
Forums: https://forums.spongepowered.org/
IRC: https://webchat.esper.net/?channels=sponge
Discord: https://discord.gg/PtaGRAs

[2017-07-18 21:12] Zidane commented on #1523
@phit is right on the mark.

[2017-07-18 21:12] #1523 closed, assigned to nobody

[2017-07-19 02:29] Zidane commented on #1041
Closing until we get more information.

[2017-07-19 02:29] #1041 closed, assigned to nobody

[2017-07-19 02:29] #1056 closed, assigned to nobody

[2017-07-19 03:19] ryantheleach commented on #1588
@Eufranio Your first hastebin has been removed?
`java.lang.IllegalArgumentException: Multiple entries with same key: `
[code]
and
[code]

They appear to be identical other then value.

Is the player wearing this armor, or the skeleton? Strange they have 2 different values being calculated.

[2017-07-19 03:47] ryantheleach commented on #1151
Also, could the behaviour be different between double and single click?

[2017-07-19 10:18] Eufranio commented on #1588
The sekeleton was wearing the armor, and yea hastebins seem to be deleted after 1 month, but the log still there. I could fix by killing myself the skeleton, so I dont think I can reproduce again (this crash popped up at least 5 times in different days and skeletons this month).

[2017-07-19 16:02] JoeSGT commented on #1534
Hello i am also having this very same issue with 1.10.2,
here is my crash report https://pastebin.com/YvZRVpDP
here is the list of the plugins i have https://gyazo.com/2822d33067b7df8d07077704cc72e546
i don't know if this help or not maybe @Eufranio can compare plugins so like that @JBYoshi  can find the issue faster i just release my server and this happen dang :/
Sponge verison: https://gyazo.co

[2017-07-19 16:37] JoeSGT commented on #1534
what @JBYoshi  requested here: https://pastebin.com/yvmaEknk

[2017-07-19 16:51] JoeSGT commented on #1534
Here is the Latest.logs also
https://pastebin.com/tx5cDJjD  - FIXED LINK
all i modified was the player and mine IP address

[2017-07-19 17:30] bhi-elliot opened #1661 "[1.11.2-2393-6.1.0-BETA-2468] Configuration does not accept objects of type class java.util.Optional"
The following came up in the server log. Not sure what caused it. Perhaps something to do with Project Inventories? The only thing I can think might have been happening at the time was OP giving an item to itself (as in, from NEI perhaps). Hope this helps! Thank you for everything!
[Pastebin of just the error](https://pastebin.com/7CahQ8ii)

I am currently running:
- SpongeForge version: spongefor

[2017-07-19 18:04] phit commented on #1165
dupe of #1473 or some other coremod, anyway its not a sponge bug

[2017-07-19 18:07] #1165 closed, assigned to nobody

[2017-07-19 18:45] phit commented on #1451
So I barely understand this mod, but I setup two NPC's and made them both transporters. And linked them, teleporting between them worked without any issues. @LornexMc Do you have a log or anything throwing an error or are you simply having issues due to permissions?

I used CustomNPCs_1.10.2(25may17).jar with spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar and didn't change any CustomNPC configs.

[2017-07-19 19:17] LornexMc commented on #1451
Ok thanks i will test these versions if it works with me^^

[2017-07-19 19:35] Zidane commented on #1451
Closing as we cannot reproduce. We'll re-open if we're given a way to re-produce.

[2017-07-19 19:35] #1451 closed, assigned to nobody

[2017-07-19 19:36] Zidane commented on #1661
This isn't a Sponge bug, go report this to ProjectInventories.

[2017-07-19 19:36] #1661 closed, assigned to nobody

[2017-07-19 19:37] Zidane commented on #1120
Closing due to lack of feedback and isn't a Sponge bug.

[2017-07-19 19:37] #1120 closed, assigned to nobody

[2017-07-19 19:39] Zidane commented on #1312
Closing as it isn't a Sponge issue. While, as @Aaron1011 pointed out, we could catch exceptions from writeToNbt, that would be a bandaid and isn't our job to hide mod issues.

[2017-07-19 19:39] #1312 closed, assigned to nobody

[2017-07-19 19:40] Zidane commented on #1297
@Mumfrey

Since you are an Eclipse user, thoughts?

[2017-07-19 19:45] Zidane commented on #1282
I don't see an issue with your logs. If anything, we add more verbosity to the toString of GameProfile but otherwise that seems completely fine.

[2017-07-19 19:45] #1282 closed, assigned to nobody

[2017-07-19 21:16] Zidane commented on #1297
Maybe @Deamon5550  as well?

[2017-07-19 23:26] phit commented on #1017
Seems to be fixed, tested with

also tested in 1.11.2 and no issue there either

[2017-07-19 23:35] phit commented on #830
Still an issue in 1.11.2, tested with

**Reproduction**
Installed Voidcraft since its portal seem to trigger it 100% of the time you use it.
* give yourself a Voidcraft portal
* stand in it
* be teleported
* crash happens

**Logs**
crash report https://gist.github.com/phit/d3d336f941a2e4c098188b8f9bd5e445
fml-client-latest.log https://gist.github.com/phit/2bcbb89188b3f2f2ca5495ec00aa5fba

[2017-07-20 00:05] #1017 closed, assigned to nobody

[2017-07-20 00:05] phit commented on #1467
So I tested this in 1.12 and couldn't get the game to crash, I though oh well possibly due to the registry rewrite, no idea. Anyways, so I went to 1.11.2 figuring I can easily get it to crash there, sadly no such luck. I even added Actually Additions hoping its villager would trigger it, but nope.

So the last hope 1.10.2, I rebuild the same setup I had used on the other versions and finally, noth

[2017-07-20 00:06] Zidane commented on #1467
Closing unless we get a response with better details on reproduction or issue fixed.

[2017-07-20 00:15] phit commented on #1528
seems to be fixed, used your testworld with:

added an ember gauge to the battery and it seemed to be charging
![http://i.imgur.com/FLenjEg.png](http://i.imgur.com/FLenjEg.png)

[2017-07-20 00:20] phit commented on #1540
fixed by mod author https://github.com/ShetiPhian/Localizations-and-Issues/issues/74
also tested this and had no duping

[2017-07-20 00:22] #1540 closed, assigned to nobody

[2017-07-20 01:35] #1528 closed, assigned to nobody

[2017-07-20 02:31] tyler489 commented on #1594
I installed the plugin on the server and before any players joined it was throwing that error and he reported it here. On the vanilla no mod server it works fine.

[2017-07-20 02:48] phit commented on #1530
Seems to be fixed, GUI opens and you can enchant stuff with Ender Dust, tested with

[2017-07-20 02:49] #1530 closed, assigned to nobody

[2017-07-20 02:50] phit commented on #1563
dupe of #1320

[2017-07-20 02:56] #1563 closed, assigned to nobody

[2017-07-20 06:35] RogueRaiden opened #1662 "[1.10.2] SpongeForge on All The Mods 1 with SpongeBootstrap loads all worlds"
Running:
    spongeforge-1.10.2-2281-5.2.0-BETA-2464
    SpongeBootstrap-0.3.0
    forge-1.10.2-12.18.3.2316-universal
    Modpack: All The Mods v3.00
The server gets to the "preparing spawn" area and then tries to generate the spawn of every dimension, including all of the Advanced Rocketry dimensions. After a while it gets slower and slower.
Without trying to load SpongeForge the server loads on

[2017-07-20 06:50] ryantheleach commented on #1662
If you generate the worlds first, then add SpongeForge, does it work well then?

Also we need to know your Minecraft Forge version.

[2017-07-20 06:54] Deamon5550 commented on #1297
I use the STS gradle plugin rather than buildship so I've not had this issue.

[2017-07-20 07:13] RogueRaiden commented on #1662
ive updated the post with the forge version. and the problem with that is there are like, 60 planets added with Advanced Rocketry. i could restart the server and it would go through trying to load them all again.
it never reaches a joinable state, just continues to load more dimensions. even after about 45 minutes

[2017-07-20 11:38] axle2005 commented on #1662
Have you tried disabling:
[code]

In the Sponge global config?
(Note, Now that they have had time to load, you may need to remove the dimenison/world config for the extra worlds so it can regenerate them)

[2017-07-20 14:05] bloodmc commented on #1654
@Mumfrey any chance you can take a look at this?

[2017-07-20 14:08] bloodmc commented on #1596
@Deamon5550 you able to take a look at this?

[2017-07-20 15:33] Mumfrey commented on #1654
I don't have a windows 10 PC around to test on. Looks like the classpath is incomplete though, from the error. NPE can only happen there if a class is missing.

[2017-07-20 17:32] phit commented on #1662
`load-on-startup` has to be disabled in each world.conf and has no affect in the global.conf
either way this isn't a bug, see the docs for [more information](https://docs.spongepowered.org/stable/en/server/getting-started/configuration/sponge-conf.html?highlight=load-on-startup#global-properties-of-sponge)

[2017-07-20 17:57] HeberonYT opened #1663 "Server Crash [1.10.2]"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
plugin-Prism-3.0.0-beta2-45-gfbbeb2b.jar

**What is the current result?**
It seems that there is an incompatibility betwe

[2017-07-20 18:18] Deamon5550 commented on #1663
Your server timed out, either raise the max tick time or don't perform such large operations all at once.

[2017-07-20 18:18] #1663 closed, assigned to nobody

[2017-07-20 18:39] phit commented on #1654
The new launcher is also available on Linux, I'll spin up a VM and see if it works there!

edit:
I tested with Ubuntu 17.04, had to `apt-get install libgconf-2-4` and used [the staging tarball provided by Mojang](https://launcher.mojang.com/mc-staging/download/Minecraft_staging.tar.gz).

Same issue as in Windows, interestingly enough I couldn't get the launcer to write logs to file.
https://gist.g

[2017-07-20 19:47] #1662 closed, assigned to nobody

[2017-07-21 01:07] RogueRaiden commented on #1662
alright, thanks for the information.

[2017-07-21 02:23] ryantheleach commented on #1663
Considering this is prism, was it a large rollback? or a stalled database transaction on the main thread or something?

[2017-07-21 08:57] arlojeremy commented on #1662
This is not resolved. I have the same issue in 1.11.2, and it seems to revolve around the fact that Advanced Rocketry has so many dimensions and it tries to load all the spawns, as OP said. I had Nucleus and Nucleus Mixins installed, but even when they are disabled I have the same issue.

_Sidebar: Main reason I am using Sponge + Nucleus is to pregenerate chunks for smoother gameplay._

I checked

[2017-07-21 12:26] lucko commented on #1645
The first crash has no trace containing a LuckPerms call, so I don't really see how it is related.

`#getActiveContexts` only calls the registered context calculators on the server, no db lookups.

You're also running old versions of Sponge and LP.

[2017-07-21 14:08] Zidane commented on #1662
@phit @EZKatnipz @arlojeremy

Completely spaced when I read what @phit said. Also try:

```generate-spawn-on-load```

Set that to false

[2017-07-21 18:34] RogueRaiden commented on #1662
from my own testing, it seems that if the dimension hasnt been loaded yet, it will try to load it. once it has done so, you can then set that dimension's configs to false, and it shouldn't load anymore. I had done all this in a test server before trying to load Sponge into my main server, and moved the configs over with all the changes but it decided to change the configs back for most dimensions

[2017-07-21 20:57] kaal-1 opened #1664 "Some mobs crashing the server"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Forge version: 2281
- Java version: 8

- Operating System:
 - [x] Linux (Debian 8)

- Crash:
https://hastebin.com/ohugajopun.http

[2017-07-21 21:19] Zidane commented on #1664
@gabizou , fix this please.

[2017-07-21 21:27] phit commented on #1664
hey, its this crash again, see https://github.com/SpongePowered/SpongeForge/issues/1467
this time a zombie is damaging the villager, I'm mainly confused because I couldn't reproduce this myself just a few days ago on the same Sponge version

[2017-07-21 23:47] gabizou commented on #1664
Duplicate of #1467

[2017-07-21 23:47] #1664 closed, assigned to gabizou

[2017-07-22 04:49] Sir-Will commented on #1648
@kashike any news for a fix? The crash happens a lot lately.

[2017-07-22 06:21] arlojeremy commented on #1662
edit: When I put 'generate-spawn-load' in the following comment, I really meant 'generate-spawn-on-load', which is what I did the replacement with, I only mistyped it in this comment.

Hi @Zidane. I went the sponge config folder, and using Notepad++ file search and replace replaced all `generate-spawn-load=true` to `generate-spawn-load=false` and tried restarting the server (after checking a few t

[2017-07-22 07:15] Hellcommander opened #1665 "Switches not working and damaged things like windows reseting with latest forge and spongeforge when joining local spongeforge server (this is with joining server hosted on the same computer, turning off spongeforge fixes this issue_"
**I am currently running...**

- SpongeForge version: spongeforge-1.12-2397-7.0.0-BETA-2476
- Forge version: 14.21.1.2420( also tested with lowest version of forge that pokecube allows at forge-1.12-14.21.1.2404-universal.jar)
[fml-server-latest.zip](https://github.com/SpongePowered/SpongeForge/files/1167168/fml-server-latest.zip)
Attempt at forge version 2404
- Java version: 1.8.0_131 64 bit
- Op

[2017-07-22 07:44] Hellcommander commented on #1665
(likely preventing switches from activating door and it stops enabling digging of stuff)

[2017-07-22 08:03] Sir-Will commented on #1577
Looks like I have the same issue:
![](http://i.imgur.com/GtQ41Dd.jpg)
![](http://i.imgur.com/X1nWnmE.jpg)
![](http://i.imgur.com/pCCuWjM.jpg)

[2017-07-22 14:02] Keaton1188 opened #1666 "Quantum Quarry DIM Lag"
Hi all, we have been recently experience massive lag coming from the Quantum Quarry DIM, we have tried resetting it but this did not help as the lag just came back.

https://timings.aikar.co/?id=008b9ecb753b45239c4731c89a39b80a

Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2281-5.2.0-BETA-2464
Minecraft Forge: 12.18.3.2316

[2017-07-22 14:26] Zidane commented on #1662
@arlojeremy

It's ```generate-spawn-on-load```

[2017-07-22 15:51] wolfhound871 commented on #1467
this stopped for me after a sponge update and never happened again but i also updated the game version also several versions at the same time so one way or another the issue has disappeared for me and richi as he was an old dev of mine at the time he posted that comment that i was un aware of

[2017-07-22 16:58] PixelmonPRO commented on #1645
@lucko i update last LP, and Sponge 1.10.2-2281-5.2.0-BETA-2464
https://gist.github.com/PixelmonPRO/06c9003d04d8802d96bdb05ae8fc644e

[2017-07-22 22:15] lucko commented on #1645
It's getting stuck on the call to load the Subject for the player. (as this is being called on the main thread)

For online players, this shouldn't be an issue, but offline players aren't loaded until they're needed.

Only a "reference" is kept until a method is called on the player, which is why the data is only being loaded when the getActiveContexts method is called.

https://github.com/lucko/L

[2017-07-23 03:39] EmanYm opened #1668 "[SpongeForge 1.12] Failed to load whitelist"
SpongeForge 1.12 2397 7.0.0 beta 2474
Forge 1.12 14.21.1.2419
Java 8
Some flavour of Linux

Everything is in the hastebin
https://hastebin.com/oliqebohuy.sql

[2017-07-23 08:24] Faithcaio commented on #1638
for the last 2:
If you cancel the event the transactions are rolled back to `#getOrigin`
If you only set the custom result for the slot this does **not** change the cursor-transaction which is not on a slot. You'd have to set the result on `getCursorTransaction` too

[2017-07-23 08:33] Sir-Will opened #1669 "Error spam when loading ocean monument"
The error below got spammed in the log when I loaded chunks of a ocean monument:
[code]

[2017-07-23 12:30] Time6628 commented on #1666
It's an issue with the mod https://github.com/rwtema/extrautilities/issues/1224

[2017-07-23 13:29] ryantheleach opened #1671 "AbstractMethodError: getCause on FML lifecycle events."
https://gist.github.com/ryantheleach/ac40786a3a019a16ad0d3cd900b9e925
``java.lang.AbstractMethodError: Method net/minecraftforge/fml/common/event/FMLLoadCompleteEvent.getCause()Lorg/spongepowered/api/event/cause/Cause; is abstract
``

FML Game lifecycle events have an abstract getCause

Relatively minor error, but logging it to track. Not affecting me negatively, so feel free to close if new cause

[2017-07-23 15:01] gabizou commented on #1671
Versions?

[2017-07-23 17:22] TekuSP opened #1672 "[1.12-2397-7.0.0-BETA-2477] Crash before generating/loading world"
https://pastebin.com/g8MzGhNf = Pipe Source from Console ( .\start.bat > result.txt )
https://gist.github.com/78b46498e5868f889a41e96693310bc6 = fml-junk-earlystartup.log
https://pastebin.com/CfTNFS1d = fml-server-latest.log
https://pastebin.com/LRfr4AR6 = latest.log
https://pastebin.com/UCj7YTdW = crash-2017-07-23_18.46.27-server.txt

Problem started when I installed latest forge because of Immer

[2017-07-24 00:07] ryantheleach commented on #1671
Tested on a recent bleeding. can give exact git hash when I get home if needed.

[2017-07-24 06:02] Hellcommander commented on #1665
Ok waiting a while once server has started up seems to fix this

[2017-07-24 06:03] #1665 closed, assigned to nobody

[2017-07-24 07:56] LilyEvergreen commented on #1577
Hey! I found the issue with Sponge and Psi. The issue seems to be the data that psi is sending to the server when you change the spells in the CAD. You can remove the change or reduce the tick rate it sends it to the server to stop the server from over flooding from the packets. Good Luck!

I am currently unable to fully explain due to time but if anyone wants a more detailed explanation, leave a

[2017-07-24 09:44] PixelmonPRO commented on #1645
@Zidane How fix this problem?

[2017-07-24 15:56] Snez0kRU opened #1673 "Sponge 5.2.0 & Pokecube Dupe"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2433.jar
- Forge version: forge-1.10.2-12.18.3.2281-universal.jar
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
    spongeforge-1.10.2-2281-5.2.0-BETA-2433.jar
    Pokecube Core-4.31.0.jar
    Pokecube Mobs-2.10.0.jar

[2017-07-24 17:32] gabizou commented on #1668
Delete the whitelist and restart? Sponge doesn't alter the whitelist file, so more than likely just a random fluke when the whitelist was saving the last time and it didn't save fully (resulting in a 0 byte size file).

[2017-07-24 17:54] iLefty opened #1674 "Tinker's Construct missing events"
GriefPrevention can't protect some weapons from Tinker's Construct. Players can damage mobs and another players in regions. But they must be outside of claim. So, if you stay in wilderness and use small arms (crossbow, shuriken, bow, etc.) on player (another entity), which staying in region, then he will get damage from you.
Yes, this works if flags on damage false and PvP disable.
And all frypan

[2017-07-24 23:25] Snez0kRU commented on #1673
Someone understands why this happens, or how to fix it, maybe just need to switch something in config, which blocking event sending from player inventory to chest?

I really do not want to go to a clean forge without sponge

[2017-07-25 02:36] tyler489 opened #1675 "Server Crash Sponge Timings"
**I am currently running...**

- SpongeForge version: (spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar)
- Forge version: {12.18.3.2422}
- Java version: 8?
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (154): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Building Bricks Hooks, CreativeCoreDummy, IvToolkit, Spon

[2017-07-25 02:42] phit commented on #1675
dupe of #1402

[2017-07-25 03:34] tyler489 commented on #1675
Seems to be something from the ICE AND FIRE dragons mod.

[2017-07-25 03:47] #1675 closed, assigned to nobody

[2017-07-25 03:52] Deamon5550 commented on #1402
Open an issue with the Ice_and_Fire mod, [they aren't registering any of their blocks properly](https://github.com/Alex-the-666/Ice_and_Fire/blob/master/src/main/java/com/github/alexthe666/iceandfire/core/ModBlocks.java#L38-L63) (or at all......)

(At least this is the cause of the most recent ones, others may be other mods, the common thing is that they aren't registering their blocks at all...)

[2017-07-25 04:24] Deamon5550 commented on #1612
Networking on the main thread.... definitely report it to that plugin, this is not a sponge issue.

[2017-07-25 04:24] #1612 closed, assigned to nobody

[2017-07-25 04:26] #889 closed

[2017-07-25 04:26] EmanYm commented on #1668
I never turned on whitelisting.  It's been doing this since the fresh server install.

[2017-07-25 09:28] Thutmose commented on #1673
Pokecube sends to PC, but checking the ItemTossEvent, checking if it is a filled Pokecube (ie has correct nbt tag on it), and if so, sends to to PC, kills the entityItem, and cancels the event, with just forge, this has the intended behaviour of preventing the item from being dropped, yet still deleting it from inventory.

I suspect sponge is somehow cancelling the toss event, but still allowing i

[2017-07-25 09:56] kashike commented on #1402
@Deamon5550 They are registered:
https://github.com/Alex-the-666/Ice_and_Fire/blob/master/src/main/java/com/github/alexthe666/iceandfire/block/BlockLectern.java#L42
https://github.com/Alex-the-666/Ice_and_Fire/blob/master/src/main/java/com/github/alexthe666/iceandfire/block/BlockDragonOre.java#L24

[2017-07-25 09:56] kashike commented on #1675
Duplicate of #1402.

[2017-07-25 20:37] kasdo opened #1676 "Errors in log [1.10.2]"
Errors: https://hastebin.com/idofiboluj.rb
spongeforge-1.10.2-2281-5.2.0-BETA-2464
![image](https://user-images.githubusercontent.com/7419546/28592595-388e7612-7192-11e7-9553-9db3175223cd.png)

[2017-07-25 21:06] kashike commented on #1676
Full log file, please.

[2017-07-25 21:11] kasdo commented on #1676
Full log is too big
https://hastebin.com/oziroguruk.rb

[2017-07-25 21:15] Zidane commented on #1674
Go and open an issue on the GP issue tracker.

[2017-07-25 21:15] #1674 closed, assigned to nobody

[2017-07-25 21:16] kashike commented on #1676
Please use the issue template provided when opening an issue, as well as providing a *full* log file.

[2017-07-25 21:16] #1676 closed, assigned to nobody

[2017-07-25 21:17] Zidane commented on #1672
@Deamon5550

First long seems to imply that a null biome type is being registered?

[code]

Thoughts?

[2017-07-25 21:27] iLefty commented on #1674
@Zidane bloodshot said, that this issue must be on SF github.

[2017-07-25 21:29] FiveEYZ commented on #1676
use http://paste.ubuntu.com/

[2017-07-25 21:31] Zidane commented on #1674
Then update the OP to use our template or re-create the issue and use our template instead of removing all of it.

[2017-07-25 21:43] phit commented on #1674
there is already a bug for that mod and firing events anyway https://github.com/SpongePowered/SpongeForge/issues/1209

[2017-07-25 22:02] iLefty commented on #1674
So, for 6 mounth no fix?

[2017-07-25 22:53] Deamon5550 commented on #1672
`getId` for some biome must be null, if the biome itself was null then the NPE would be in our code. Which means whatever biome it is is not being passed through `Biome#registerBiome`. Perhaps we could make this a little more resilient by forming the id out of the registry name if its not there, if a biome isn't in the registry then thats an error on the mods part, but I can see perhaps a biome be

[2017-07-26 11:25] Rob5Underscores-zz opened #1677 "Player not accepting BungeeCord messaging channel"
**I am currently running...**

- SpongeForge version: 5.2.0 (Running 1.10.2 modpacks -> this testing is done WITHOUT other mods)
- Forge version: 2281
- Java version: 1.8.0_131
- Operating System:
 - [x] Linux (Debian 8)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, FastAsyncWorldEdit, WorldEdit, PistonSpong

[2017-07-26 14:12] Snez0kRU commented on #1673
Anybody from sponge team. Can smbd fix this ? anyone ? Pls it's still open

[2017-07-26 16:13] Zidane commented on #1673
@Thutmose

Can you link where you're handling that event for us?

[2017-07-26 17:04] TekuSP commented on #1672
If you need more debugging information, you can quickly write mod which will write into console everything you need to know from Biomes and why is some null, or if part of it is null. I will happily help by running it.

[2017-07-26 17:30] Deamon5550 commented on #1672
I'll add some more robustness to our registration and some debug for what biome it is if it still fails.

[2017-07-26 17:48] Deamon5550 commented on #1672
@TekuSP There try the next SpongeForge build once it's available (it'll be build 2479 or so).

[2017-07-26 18:30] FiveEYZ commented on #1672
is this related? https://github.com/SpongePowered/SpongeCommon/issues/1361

[2017-07-26 19:35] Thutmose commented on #1673
here is where I handle the ItemTossEvent:

https://github.com/Thutmose/Pokecube/blob/1.10/Pokecube%20Core/src/main/java/pokecube/core/events/handlers/PCEventsHandler.java#L202-L215

PokecubeManager.isFilled just checks to see if the itemstack has NBT containing a pokemob, then InventoryPC.addPokecubeToPC adds it to the appropriate PC box if it does.

[2017-07-26 20:32] TekuSP commented on #1672
Updated to 2479.
Same issue.
@Deamon5550
[code]

[2017-07-26 23:52] Deamon5550 commented on #1672
Oh thats a different issue, I was talking about the error @Zidane was pointing out. I'm going to need @gabizou to look at that one because it looks like an item thats being passed to the callback (which happens right after its added) doesn't actually have a key.

[2017-07-27 05:13] gabizou commented on #1673
So, from what I'm following, you're still allowing the entity to be spawned (as dead and ignored), but then you're cancelling the event. To my understanding of the event and how it's being *used*, you're still accepting the item toss event, you're just cancelling the toss, which to Sponge, means that the item needs to be placed back into the inventory. I can understand why you'd want to set the en

[2017-07-27 05:46] Thutmose commented on #1673
Here is what the Forge documentation says about this event:

![image](https://user-images.githubusercontent.com/2363472/28655978-3d758ce8-726d-11e7-99fc-e273bed7f589.png)

https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/event/entity/item/ItemTossEvent.java#L26-L31

I was setting the item dead I think from an issue that was occuring in having the not-de

[2017-07-27 08:50] arlojeremy commented on #1662
@Zidane Whoops, my bad. I actually only mistyped it in the comment above, not when I was doing the actual search and replace.

Sorry, I haven't had time to work on this much, but what I don't get is that I set up a server (this time in 1.10.2) that ONLY had Advanced Rocketry, SpongeForge and Nucleus+Mixins and it started up fine without going nuts pre-generating all the AR spawns. Started a new 1.

[2017-07-27 11:25] Brend-Smits commented on #1376
This is also an issue on Sky Factory 3, has been for quite some time. Could anything be done about this?

[2017-07-27 13:54] Zidane commented on #1673
I slept on this @Thutmose and I agree. We are incorrectly putting the stack back in the inventory on cancel.

Originally I imagine our thought process was people wanting to stop an ItemToss and preserve inventory but that is easily fixed by firing a Pre event on our end for our plugins. If not cancelled, it then goes into ItemTossEvent then into SpawnEntityEvent for the EntityItem (should ItemToss

[2017-07-27 13:56] Snez0kRU commented on #1673
@Zidane It would be great, comrades look forward to the update with impatience.

[2017-07-27 16:56] bloodmc commented on #1673
@Snez0kRU Please confirm issue is fixed in latest SF.

[2017-07-27 17:11] Snez0kRU commented on #1673
@bloodmc i didn't know what is SF, sorry. And on site didn't find new builds of sponge. Last 12 days ago

[2017-07-27 17:18] gabizou commented on #1673
There is the latest SF [here](http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/1.10.2-2281-5.2.0-BETA-2482/spongeforge-1.10.2-2281-5.2.0-BETA-2482.jar).

[2017-07-27 17:26] Snez0kRU commented on #1673
@bloodmc I'm tested this, and i confirm that issue is fixed in latest SF. Thanks a lot comrades

[2017-07-27 17:26] #1673 closed, assigned to nobody

[2017-07-27 21:21] tgstyle opened #1678 "Crash with SpongeForge and MalisisDoors"
https://gist.github.com/tgstyle/471e457d5514bbb938e84ec559e5da6f

**I am currently running...**

- SpongeForge version: 2481
- Forge version: 2426
- Java version: 1.8.0_144-b01
- Operating System: Windows 10/Server 2016

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

MalisisDoors-1.12-7.0.2/MalisisCore-1.12-6.0.1

[2017-07-27 21:29] tgstyle commented on #1678
Full crash log
https://gist.github.com/tgstyle/acb1ea68c6cd85a57f422d70735b4acc

[2017-07-27 21:30] tgstyle commented on #1678
Full server log
https://gist.github.com/tgstyle/6abd7a3bfd0911dc359f69a92ef74c05

[2017-07-27 23:54] FiveEYZ commented on #1672
decided to try 1.12, now i keep getting this crash (looks same as the crash @TekuSP are getting):
https://gist.github.com/FiveEYZ/818b050ec2c23aea4d6d41a5a863412a

[2017-07-28 02:28] arlojeremy commented on #1662
Quick update.

On that minimal server installation I swapped in and out a few different mods with a minimal spongeforge setup. With the latest `spongeforge`, `nucleus`, `nucleus-mixins` and `advanced rocketry`, it appears that adding in Astral Sorcery was the cause of the generating issue. After adding it, the issue replicated.

To make sure it wasn't just an `astral sorcery` and `advanced rocketr

[2017-07-28 09:12] CreativeMD commented on #1609
I could find a better solution for this, without ASM transforming. Thanks for you help anyway.

[2017-07-28 09:12] #1609 closed, assigned to nobody

[2017-07-28 12:42] FiveEYZ commented on #1672
Looking at this issue: https://github.com/SpongePowered/SpongeForge/issues/1678
disabling MalisisDoors + Core fixes above crash.

[2017-07-28 12:57] bloodmc commented on #1677
@dualspiral You able to take a look at this?

[2017-07-28 17:52] codeHusky opened #1679 "Processing commands during an Inventory#listener callback fails"
https://hastebin.com/kacokizogu.css

https://github.com/codeHusky/HuskyUI-Plugin/blob/master/src/main/java/com/codehusky/huskyui/states/action/CommandAction.java#L36

It's an unwinding phase incompatibility. Don't know enough about the cause tracker to explain it very well.

[2017-07-28 18:18] BlayTheNinth commented on #942
The latest NetherPortalFix versions for 1.11.2 and 1.12 should work fine with Sponge now.

[2017-07-28 18:25] kashike commented on #942
Thanks, @blay09!

[2017-07-28 18:25] #942 closed

[2017-07-28 22:55] TekuSP commented on #1672
Okay, Looks like MalisisDoor is for unknown reasons registering vanilla minecraft doors as doors without name, texture and that small texture. I recommend catching this issue in Sponge, but looks like bug of MalisisDoors.

[2017-07-29 12:08] Rob5Underscores-zz commented on #1677
Following a tip left here: https://forums.spongepowered.org/t/sponge-bungee/18904/7

This error only occurs when ip forwarding is enabled. If it is disabled (on Bungee and Sponge), this works perfectly..

Given that people tend to generally enable this setting (?), I would suggest that there is still flaw in my implementation of the messaging channels that stop it working when ip forwarding is ena

[2017-07-29 14:09] kaal-1 opened #1680 "YUNoMakeGoodMap compatibility"
**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2464
- Forge version: 2281
- Java version: 8
- Operating System:
Debian 8
- Plugins/Mods:
YUNoMakeGoodMap-1.10.2-6.1.0.26
**What is the expected result?**
The server not crash.
**What is the current result?**
The server crashes when I enter the nether (I have a pregenerated overworld, but if I delete it, it cra

[2017-07-29 14:42] tyler489 opened #1681 "Silent Gems pylon item dupe"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2471.jar
- Forge version:
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
 Plugins (173): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied Llamagistics Core, Aroma1997Core, OpenEye,

[2017-07-29 15:51] ryantheleach commented on #1680
This appears to be a different issue according to the stack trace then https://github.com/SpongePowered/SpongeForge/issues/1153 .

[2017-07-29 16:54] kaal-1 opened #1682 "Farming station + chorus fruit = crash"
Spongeforge-1.10.2-2281-5.2.0-BETA-2464
Forge version: 2281
Java version: 8
EnderIO: EnderIO-1.10.2-3.1.193
EnderCore: EnderCore-1.10.2-0.4.1.66-beta

Farming station crashes SpongeForge server, when used to farm chorus fruit. According to https://github.com/SleepyTrousers/EnderIO/issues/4297 this is apparently on sponge side.

[2017-07-29 21:25] Rob5Underscores-zz commented on #1677
Final update for now.

Was struggling for a while trying to work out why switching everything to offline-mode/no ip-forwarding wasn't working. (I had switched clients between testing sessions).

The messaging works fine in the following configurations;
Using a forge client + SpongePls.
Using a forge client + all offline/no ip-forwarding.

I was unable to get messaging to work with Vanilla clients

[2017-07-29 21:39] YukanoXX commented on #1633
hi,

i have the same problem, but when i remove the ae2 dense cable from the world , it will be fine.
https://pastebin.com/j3aREQtJ
i think "spongeforge-1.10.2-2281-5.2.0-BETA-2433" and later, AE2 Dense Cable works not correct.

same thing with : fork ae2 version rv4 alpha 11 and rv4 stable 1
Forge 12.18.3.2422, Spongeforge 1.10.2-2281-5.2.0-BETA-2464
Testmodpack: FtB Beyond

also, sometimes comes

[2017-07-29 22:21] 5igm opened #1683 "Crash when start server"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2471
- Forge version: forge-1.11.2-13.20.1.2393-universal
- Java version: jre1.8.0_144
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
![1](https://user-images.githubusercontent.com/11610914/28748620-8dda9c36-74bc-11e7-9ef9-a8c93ddf3934.jpg)
**What i

[2017-07-29 22:22] dualspiral commented on #1677
I have had zero time to look at this this weekend due to personal commitments, but I bet this is a Bungee problem. Have you tried with Waterfall? Unfortunately, I don’t think we’re going to get any fixes in with stock Bungee.

Basically, what I get from your testing is that the client type matters. This makes sense, because Bungee does different things based on the client it detects.

I think what

[2017-07-29 22:33] Eldwen opened #1684 "Simple Dimensions Incompatibility"
apprently there is some issues with the mod simple dimensions

**I am currently running 1.11.2 with a modpack and spongeforge 2484**

- SpongeForge version: 1.11.2-2484
- Forge version: 1.11.2-2421
- Java version: omgserv' servers one
- Operating System: omgserv' servers one (maybe linux)

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (130): Minecr

[2017-07-29 22:33] Rob5Underscores-zz commented on #1677
@dualspiral
Thanks for your response. This is essentially resolved for me as I only intend for Forge clients to be used but I imagine this could crop up for someone else in another situation - especially when testing plugins, etc.

I tried using Waterfall and HexagonMC with the vanilla client to no avail.

[2017-07-29 22:51] tgstyle opened #1685 "Quark's Blaze Spawn Naturally and Sponge"
If this Quark option is enabled with spongeforge it disables blaze spawners, disabled they spawn fine with spawners.

**I am currently running...**

- SpongeForge version: 2486
- Forge version: 2426
- Java version: 1.8.0_144-b01
- Operating System: Windows 10/Server 2016

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
Quark-r1.2-103

[2017-07-29 22:52] tgstyle commented on #1685
https://github.com/Vazkii/Quark/issues/564

[2017-07-30 07:13] dualspiral commented on #1677
After sleeping on it, I realised that there is potentially another reason why this might not work, that Forge doesn't register channels for a non-Forge client, in which case, this is likely a Forge problem. I suspect this is much less likely, but I wanted to make a note of it, just in case.

I need to test this with SV as well before jumping to conclusions.

[2017-07-30 21:20] ghost opened #1686 "Error Ticking block entity"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464-5.2.0-BETA-2464
- Forge version: 1.10.2-2281-5.2.0-BETA-2464
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Crash report: https://hastebin.com/ludopotane.scala

[2017-07-30 22:15] bhi-elliot opened #1687 "[1.11.2-2393-6.1.0-BETA-2468] Exception trying to process over a phase (Creeper explosion)"
The following came up in the server log. Not sure what caused it or if it is even Sponge's issue.
I'm sorry, this is all of the log that I have available.

I am currently running:

SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2468
Forge version: forge-1.11.2-13.20.1.2414-universal
Java version: 1.8.0_131
Operating System: Windows 10
Plugins (37): Minecraft, Minecraft Coder Pack, Forge M

[2017-07-31 21:43] madsenbassen opened #1688 "Log-Spam (BUG)"
**I am currently running...**
- SpongeForge version:  1.11.2-2393-6.1.0-BETA-2484
- Forge version: 13.20.1.2393
- Java version:  8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/15655397/28799669-d24fe900-7649-11e7-9ffa-0fda56d1011c.png)

<-LOG->
https://gist.github.com/madsenbassen/2a40

[2017-08-01 03:14] Karagra opened #1689 "Modded entity interaction not working"
**I am currently running...**
- SpongeForge version: spongeforge-1.12-2397-7.0.0-BETA-2486
- Forge version: forge-14.12.1.2428
- Java version: 1.8.0
- Operating System: Windows
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, CreativeCoreDummy, LittleTilesCore, SpongeAPI, SpongeForge, FoamFixC

[2017-08-01 19:40] Xfel commented on #1648
I looked into this, and the crash appears to be coming from wrong assumptions made by the cause tracker's error recovery. When encountering an unexpected Phase during completion, it always assumes that the completion is missing, however in that specific case, we had one completion too much.

Anyways, since the cause tracker is in SpongeCommon, should this issue be moved?

[2017-08-01 20:43] tgstyle commented on #937
I can confirm in 1.12 sponge 2486. It work's fine on a fresh server, shutting down the server and starting back up causes the error.

https://gist.github.com/tgstyle/123c62e40ea0cce25729ae2a812b7697

[2017-08-01 20:45] tgstyle commented on #937
Result of running /locate stronghold.

https://gist.github.com/tgstyle/b8fa78aed5be4c965fc750790e74f09a

[2017-08-01 23:58] runescapejon opened #1690 "AE2 mod unloading cause's ID change in level.dat"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2482
- Forge version: 1.10.2-12.18.3.2422
- Java version:  java 8

- Operating System:
 - [X] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
https://gyazo.com/874da3f926f5f99d3df2d6a987cf05ed
**What is the expected result?**
Blocks/item id change in level.dat
**What is the current result?**
Id's are being change whe

[2017-08-02 03:27] ryantheleach commented on #937
@tgstyle thanks for the reproduction steps, it's appreciated, this would explain why I wasn't able to replicate.

[2017-08-02 03:31] ryantheleach commented on #1690
Are you 100% sure that it's related to AE2 and only reproducible when using Sponge?

We have had a number of reports about this issue, it would be great to nail it down to an exact mod combination that is incompatible, but I'm skeptical considering the size of your mod list.

You (or someone else) needs to run your reproduction steps using only SpongeForge, AE2, and whatever modifications are nece

[2017-08-02 03:33] runescapejon commented on #1690
yes it only happen when spongeforge is installed

[2017-08-02 03:51] FiveEYZ commented on #1690
Tested on forge-1.12-14.21.1.2428-universal:

Installed mods:
applied-llamagistics-1.12-rv5-beta-3
RedstoneFlux-1.12-2.0.1.2-universal
spongeforge-1.12-2397-7.0.0-BETA-2486

[![Screenshot from Gyazo](https://gyazo.com/57d823e5d23660212435e1423e5f5d3c/raw)](https://gyazo.com/57d823e5d23660212435e1423e5f5d3c)
Steps to reproduce:
-  go creative mode and get:
1x Creative Energy Cell
1x Energy Acceptor

[2017-08-02 04:26] FiveEYZ commented on #1690
Did some more testing with above setup:

numbers are how many /stop i did
2 x  with ME Crafting Terminal in place = error
2 x  with ME Crafting Terminal removed = no error
1x  with ME Crafting Terminal in place again = error
2 x  with ME Crafting Terminal removed = no error

[2017-08-02 04:32] thiakil commented on #1690
Judging by the stacktraces, it's to do with the CableBus TE marking itself for update when the network goes down, in order to trigger lighting updates.

As a note, the traces proceeded by `[Server thread/ERROR] [AE2:S]: [AppEng] Network Event caused exception:` should be ones that are caught and just logged by the `catch`

[2017-08-02 04:45] Thutmose commented on #1689
This issue is cause by SpongeCommon's edits to NetHandlerPlayServer.

Here is what SpongeCommon does during the CPacketUseEntity handling of INTERACT_AT:

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/network/MixinNetHandlerPlayServer.java#L646-L659

[code]

Whereas here is what minecraft forge does at the same place:
[code]

The impo

[2017-08-02 05:13] Sir-Will commented on #1259
Just found out that the missing items getting dropped at x: 0 y: 0 z: 0. You can also hear the chicken sounds at that location.

[2017-08-02 05:33] GenDeathrow commented on #1259
@Sir-Will what version are you on of hatchery now? That issue with the chickens sounds should have been fixed with latest versions. But as far as I know this issue with the drops has not been fixed on sponges side yet

[2017-08-02 05:34] Sir-Will commented on #1259
hatchery-1.10.2-0.3.17

[2017-08-02 05:51] ryantheleach commented on #1259
If I were a player on your server I would have been tempted to setup hoppers there :P

[2017-08-02 08:34] 5igm opened #1691 "Error happened when using season sensor in the mod, Tough As Nails"
[code]

windows server 2012
ToughAsNails-1.11.2-2.1.0.36-universal
spongeforge-1.11.2-2393-6.1.0-BETA-2471
forge-1.11.2-13.20.1.2393-universal

[2017-08-02 08:46] dualspiral commented on #1691
Not a Sponge error, report this to the developers of the BlockMonitor plugin, their `DATACONTAINER` column is too short.

[2017-08-02 08:46] #1691 closed, assigned to nobody

[2017-08-02 14:54] Jay9519 opened #1692 "1.12 Sponge Crash"
as discussed in the discord, I removed MalisisCore and Malisisdoors from my mod pack
but unfortunately the crash still exists

**I am currently running...**
- SpongeForge version: 1.12-2397-7.0.0-BETA-2486
- Forge version: 1.12-14.21.1.2443
- Java version: 1.8
- Operating System: Windows 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x ] Windows

Pastebin link:

https://pastebin.c

[2017-08-02 20:45] bloodmc commented on #1689
@Thutmose Thanks. However, ignoring the packet isn't an issue as I call the same method if the result of applyPlayerInteract fails. The actual issue is that I'm not handling EntityInteractSpecific event in my forge event factory. I'll push a fix in a moment.

[2017-08-02 21:06] #1689 closed, assigned to nobody

[2017-08-02 21:06] bloodmc commented on #1689
@Karagra @Thutmose please confirm this issue is resolved in latest build

[2017-08-02 21:53] Thutmose commented on #1689
It appears to be resolved, at least when testing on single player.

[2017-08-03 06:23] Karagra commented on #1689
Everything is working fine on a multiplayer server thank you again.

[2017-08-03 15:43] bloodmc commented on #1692
dupe #1678

[2017-08-03 15:43] #1692 closed, assigned to nobody

[2017-08-03 15:44] #1678 closed, assigned to nobody

[2017-08-03 16:22] bloodmc commented on #1690
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/62452f30a8641ab9418a1631079151771b7090c9

[2017-08-03 16:22] #1690 closed, assigned to nobody

[2017-08-03 16:31] bloodmc commented on #1686
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/6c750b36f6c292288c62818a05bbb4bd7163f1b6

[2017-08-03 16:31] #1686 closed, assigned to nobody

[2017-08-03 16:42] #1682 closed, assigned to nobody

[2017-08-03 17:45] runescapejon commented on #1690
@bloodmc you think you can backport this fix to 1.10.2 greatly appreciated the fix

[2017-08-03 18:38] Karagra opened #1693 "CustomNpc EntityInteractSpecific"
**I am currently running...**

- SpongeForge version: 1.12 - 7.0.0-BETA-2491
- Forge version: 14.21.1.2443
- Java version: 1.8.0
- Operating System: Windows
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, CreativeCoreDummy, LittleTilesCore, SpongeAPI, SpongeForge, FoamFixCore, AntiWDL, Boop, CreativeCore, CustomNPCs, Enjin Minecraft Plugin, FastAsyncWorldEdit, W

[2017-08-03 21:24] axle2005 commented on #1688
Block Monitor is broken... this honestly sounds like there is a problem with your config for the plugin.

[2017-08-03 21:26] JBYoshi commented on #1534
@JoeSGT

Sorry I didn't get to this earlier; I was on vacation. Next time you get this crash, could you post the console output (not the crash report)?

[2017-08-04 01:37] #1693 closed, assigned to nobody

[2017-08-04 03:22] Shadowreaper666 opened #1694 "Spongeforge incompatible with Moving World"
**I am currently running...**

- SpongeForge version: 1.12-2443-7.0.0-BETA-2494
- Forge version: 1.12-14.21.1.2443
- Java version: Java 8 U 121
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
No plugins
Mods:
Spongeforge
Moving World
**What is the expected result?**
The server starts and Moving world and spongeforge both start successful

[2017-08-04 03:52] ryantheleach commented on #1690
Wait, really? Disabling async lighting during server stop, fixes ID's changing in level.dat when used with Ae2?

Would love to have some insight into how.

[2017-08-04 04:03] #1656 closed

[2017-08-04 04:04] runescapejon commented on #1690
I guess so xD I tested this and it really work
i would love to know why does this work 0.0

[2017-08-04 06:43] #1685 closed, assigned to nobody

[2017-08-04 06:50] Coolfeather2 opened #1695 "Exception during phase body"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Forge version: 12.18.3.2281
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
`Plugins (90): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, OpenComputers (Core), SpongeAPI, SpongeFor

[2017-08-04 07:15] gabizou commented on #1695
Since the majority of the log is just startup: providing a [gist](https://gist.github.com/gabizou/5bd54715b9a9902d38f49ca8c88100e2) of the actual exceptions. The exception doesn’t seem to be from sponge but from Blood Arsenal.

[2017-08-04 07:20] gabizou commented on #1695
But in [BloodArsenal](https://github.com/Arcaratus/BloodArsenal/blob/1.10/src/main/java/arc/bloodarsenal/util/handler/EventHandler.java#L87), the item in hand is not being null checked, causing the error to occur. Presumably the item in hand is indeed an empty item, and some update or something didn’t get ported to 1.10.2 correctly where the item is not null checked. Thanks for the report! Probabl

[2017-08-04 07:20] #1695 closed, assigned to nobody

[2017-08-04 07:26] Coolfeather2 commented on #1695
Thanks, I shortened the Log and will let him now

[2017-08-04 10:44] Jay9519 opened #1696 "Error trying to start up the server"
**I am currently running...**
- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2500
- Forge version: forge-1.12.1-14.22.0.2444-universal
- Java version:
- Operating System: windows 10 and Linux
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

Server won't start up and won't give me a crash report or anything about it in the latest.log

https://www.dropbox.com/s/zr5l

[2017-08-04 12:10] stephan-gh commented on #1696
You need to run the Forge installer again after updating to a new Minecraft version. It is not enough to simply download the new `-universal.jar`.

[2017-08-04 12:10] #1696 closed, assigned to nobody

[2017-08-04 17:02] LazerCorn3114 commented on #1690
Can you back port the fix to 1.10.2 BELUUHED. I'm having the same problem.

[2017-08-04 17:15] darkwolf2590 commented on #1690
Can you back port it to 1.10.2? As well as releasing the Jar.? Having the exact same problem as these handsome gentlemen. Would be greatly appreciated, cheers!

[2017-08-04 17:23] runescapejon commented on #1690
@LazerCorn3114  @darkwolf2590  there is already a fix here the jar
http://files.minecraftforge.net/spongepowered

[2017-08-04 22:43] JBYoshi commented on #1690
That download page is outdated. Use https://spongepowered.org/downloads instead.

[2017-08-04 22:43] Polyana-Fontes opened #1697 "Server crashes on placement of a robot without inventory upgrade"
If we assembly an OpenComputer's Robot without an Inventory Upgrade, it will crash the server on placement with:

[code]
**I am currently running...**
- SpongeForge version: 1.11.2-2393-6.1.0-BETA-2484 / 1.11.2-2393-6.1.0-BETA-2499
- Forge version: 1.11.2-13.20.1.2429
- Java version: 1.8.0_45-b15 x64
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows 7 64 bi

[2017-08-04 22:47] Eufranio commented on #1697
Duplicated: https://github.com/SpongePowered/SpongeForge/issues/1526

[2017-08-04 23:22] Polyana-Fontes commented on #1697
Tested on the latest 1.11.2 build 1.11.2-2393-6.1.0-BETA-2499 and it still crashes.
Tested on the latest 1.12 build 1.12-2443-7.0.0-BETA-2498 with OpenComputers-MC1.12-1.7.0.3 and it also crashes.

Does not crash on Minecraft 1.10.2 with:
- spongeforge-1.10.2-2281-5.2.0-BETA-2464
- OpenComputers-MC1.10.2-1.6.2.7

[2017-08-04 23:48] runescapejon commented on #1690
@JBYoshi  it's not outdated
![0fb5fd5c6dd3b4eee11a340cd8034ff7](https://user-images.githubusercontent.com/10858509/28990696-dafeb0f2-794d-11e7-8d8f-110e67d345fd.png)

[2017-08-05 16:43] ghost commented on #1697
OC is stable and released for 1.11.2 or 1.12 ?

[2017-08-05 23:10] FiveEYZ opened #1698 "[1.12] StackOverflowError"
**I am currently running...**

- SpongeForge version: spongeforge-1.12-2443-7.0.0-BETA-2498
- Forge version: forge-1.12-14.21.1.2443-universal
- Java version: 1.8.0_144
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:
(104): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Llamagistics Core, Aroma1

[2017-08-06 06:02] #1688 closed, assigned to nobody

[2017-08-06 14:19] Polyana-Fontes commented on #1697
@hunter688 no, it's alpha for 1.11.2 and wip for 1.12, but doesn't mean that the compatibility issue doesn't exists. Maybe it can be fixed from the OpenComputers side, or here in SpongeForge, but if we work together I'm sure that we can fix it.

I've been investigating the issue and the crashes started happening from this [OpenComputers commit][oc-commit], a nightly build from that commit was vers

[2017-08-06 14:27] Polyana-Fontes commented on #1697
By the way, I forget to mention that this issue happens a little different on the latest development version of OpenComputers 1.10.2, instead of crashing on placement it will crash when a robot has an item in the tool's slot.

[2017-08-06 16:23] Polyana-Fontes commented on #1697
Here is the mixin which is involved in this issue: [MixinInventoryPlayer at line 91](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinInventoryPlayer.java#L91)

[2017-08-07 01:37] Aaron1011 commented on #1694
The important log line is https://gist.github.com/Shadowreaper666/7513543b44730919738fa087d33ce854#file-gistfile1-txt-L20. MovingWorld is loading before Sponge, and loading an older version of Mixin than Sponge supports.

Unfortunately, the exception thrown by Mixin was supressed, making this much harder to spot than it needed to be. I've opened https://github.com/SpongePowered/Mixin/issues/203 to

[2017-08-07 01:37] #1694 closed, assigned to Aaron1011

[2017-08-07 02:43] ghost opened #1699 "(1.11.2) RFTools: New dims do not show up in dialing device and cannot be deleated"
I am not entirely sure who's end this is on so I figured I'd post this here as well.

Link to the RFTools bug report: https://github.com/McJty/RFTools/issues/1323

There is some strange interaction happening between sponge and the way rftools loads dimensions.

[2017-08-07 13:11] bloodmc commented on #1699
SF 1.11.2 build 2393 is an old build. Update to latest SF and try again

http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/index_1.11.2.html

Make sure you provide the proper information such as fml-server-latest.log

[2017-08-07 17:33] Faithcaio commented on #1697
This might be fixed in latest. Please retest.

Also why is OpenComputers extending InventoryPlayer but then overriding its inventory methods?

[2017-08-07 17:33] #1697 closed, assigned to Faithcaio

[2017-08-07 17:51] tgstyle opened #1700 "Forge Creeper Heal is not working with SpongeForge"
It works fine with just forge. It has worked in previous versions.

**I am currently running...**

- SpongeForge version: 2498
- Forge version: 2443
- Java version: 1.8.0_144-b01
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

ForgeCreeperHeal-1.12-1.3.1 [Unofficial]

https://github.com/PrinceOfAmber/ForgeCreeperHeal/issues/3#issuecomme

[2017-08-07 17:53] Zidane commented on #1700
What is broken? We need a lot more details.

[2017-08-07 18:00] tgstyle commented on #1700
It replaces the blocks after a creeper blows up. In forge it does this fine, with sponge nothing happens.

[2017-08-07 19:50] ghost commented on #1699
Misread the version number because I'm a dumbass.

We're actually on version 2499. I will give 2507 a shot and drop a log in here once I get some coffee in my system.

Edit: Alright, I've thrown in the latest version and regenerated my configs for good measure.

I am now unable to dial any of my rftools dimensions. The dialing device throws an invalid destination error.

Newly created rftools dime

[2017-08-07 20:29] FiveEYZ commented on #1698
same crash again but another "SpongeLocatableBlock"

https://gist.github.com/FiveEYZ/3ccd59678d26bde3d99995cdbcaa10ad

[2017-08-08 05:25] bloodmc commented on #1699
@PsionicArchon Please test latest 1.10.2 SF and confirm if this issue is present there as well.

[2017-08-08 06:12] Coolfeather2 opened #1701 "Exception trying to process over a phase"
Source issue: ForestryMC/ForestryMC#1788
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Forge version: 12.18.3.2281
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
[code]
**What is the expected result?**
Was flying a manticore, dismounted into a creeper and the manticore vanis

[2017-08-08 06:30] Coolfeather2 commented on #1701
SpongePowered/SpongeForge#1687

[2017-08-08 06:30] Coolfeather2 commented on #1687
SpongePowered/SpongeForge#1701

[2017-08-08 06:50] ghost commented on #1699
Nope, all is well on the 1.10.2 version. I was able to see and teleport into a newly created dimension.

Edit: Belay that, all is not well. While the first dimension worked perfectly fine, subsequent dimensions cannot be seen by the dialing device.

Forge log: https://mega.nz/#!hAlnEbgb!fdmb1uBPww-iiOjAJJRCShUrme7mkRSmxLqjxWvkM34

[2017-08-08 15:42] JBYoshi commented on #1698
I can't reproduce this given your crash reports. It seems the crash is coming from randomly ticking either a glowshroom or stalagmite, but I've placed a bunch of each and cranked up the `/gamerule randomTickSpeed` to the point that tilled dirt reverts to grass within two seconds and haven't gotten any crash. However, I was just using Biomes o' Plenty and Sponge; I think another plugin is messing w

[2017-08-08 16:03] FiveEYZ commented on #1698
will do!

[2017-08-08 16:12] bloodmc commented on #1699
@PsionicArchon Please provide a test 1.10.2/1.11 test world with everything setup so I may reproduce the issue. Make sure to only use rftools with a fresh world so its small. Also provide steps on what to do as I don't play these mods.

[2017-08-08 17:36] ghost commented on #1699
Sponge version: 2517

World/server/everything you need: https://mega.nz/#!0E801ZRa!6s9aNVW0sxlQjC8feXjljYewYmrCpAQc-z9HNASK0XM

Only RFTools, RFTools dimensions. and JEI were used. All of the machines and necessary materials have already been set up. There are also signs placed in game with some basic instructions on how dimensions work.

Steps:

1.) Grab a blank dimension card from the chest
2.)

[2017-08-08 17:42] phit commented on #1699
this sounds exactly like how it behaved before the big rftools fix in february https://github.com/SpongePowered/SpongeForge/commit/e47758655d863f1c53ba97a3bddbe1320260fe99

[2017-08-08 21:01] Polyana-Fontes opened #1702 "Spectator tracks entities in other dimensions after a dimensional teleport using the vanilla spectator menu [video]"
Video demonstration: https://youtu.be/jkQkNTJfkDc

**I am currently running...**
- SpongeForge version: 1.11.2-2393-6.1.0-BETA-2503
- Forge version: 13.20.1.2429
- Java version: 1.8.0_144
- Operating System:
 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (78): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, OpenComputers (Core),

[2017-08-08 23:47] nosibor opened #1703 "Unexpected error running this command: Listener already listening"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2519
- Forge version: 12.18.3.2316
- Java version:
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
- Operating System:

 - [X] Linux (Ubuntu)

- Plugins/Mods:
 Minecraft, Minecraft Coder Pack, Forge Mod Loader,

[2017-08-09 00:57] #1703 closed, assigned to nobody

[2017-08-09 01:42] bloodmc commented on #1638
This was fixed starting at commit https://github.com/SpongePowered/SpongeCommon/commit/1386182d7c39513fb18c364ad364582059f6919e

Update to latest SF.

[2017-08-09 01:42] #1638 closed, assigned to nobody

[2017-08-09 01:59] nosibor opened #1704 "ArchitectureCraft 1.7.3 Sawbench Dupe Glitch"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2522
- Forge version: 12.18.3.2316
- Java version:
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
- Operating System:

 - [X] Linux (Ubuntu)

- Plugins/Mods:
 Minecraft, Minecraft Coder Pack, Forge Mod Loader,

[2017-08-09 03:13] FiveEYZ commented on #1690
will this fix come to 1.12.1 to?

[2017-08-09 06:17] Coolfeather2 opened #1705 "Empty Inventory Displayed"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2522
- Forge version: 12.18.3.2281
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
[code]
This is a server side issue, singleplayer works fine
**What is the expected result?**
Inventory opens and displays items
**What is the current res

[2017-08-09 14:29] JBYoshi commented on #1705
Are you talking about the player inventory? Could you post a screenshot of what having no GUI looks like?

[2017-08-09 15:38] #1704 closed, assigned to nobody

[2017-08-09 19:12] Tencao commented on #1698
Also getting a similar crash
https://paste.ee/r/mb8mO

Minecraft Version - 1.11.2
Forge Version - 13.20.1.2393
Sponge Version - 1.11.2-2393-6.1.0-BETA-2527

Crashes the moment a player joins the server, didn't happen on some earlier builds

FML Latest - https://paste.ee/r/KtX7j
It seems bibliocraft might be having issues, however since this only started on recent builds of sponge I'm not sure if t

[2017-08-09 21:10] nosibor opened #1706 "Player XP doesn't show until update when teleportation between worlds"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2526
- Forge version: 12.18.3.2316
- Java version:
openjdk version "1.8.0_131"
OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)
OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
- Operating System:

 - [X] Linux (Ubuntu)

- Plugins/Mods:
 Minecraft, Minecraft Coder Pack, Forge Mod Loader,

[2017-08-09 21:22] Skycon45 commented on #1640
PokemonBlack1 do you by any chance still have all of those pixelmon sidemods? Every since pixelmon got shut down you cant download sidemods from their site anymore, i was wondering if you still had them and would let me download a copy.
Thanks

[2017-08-09 22:40] #1706 closed, assigned to JBYoshi

[2017-08-10 00:28] #823 closed

[2017-08-10 05:06] KingDan27 opened #1707 "Issue With Project E?"
sorry you can remove this i preemptively created this ticket

[2017-08-10 05:50] RogueRaiden opened #1708 "[1.10.2] SpongeForge Crashes Modded Server As Soon As Its Joinable"
My server loads all the way to the end, right about to the point where its joinable and then crashes.
I'm running All The Mods for Minecraft 1.10.2 and we've been playing on the server for a while. I have a testing server where I have the same version of ATM running but with a new world and Sponge runs just fine without crashes. But when I try to add it to the main server it causes the crash. I ha

[2017-08-10 05:53] Coolfeather2 commented on #1705
Removing more player models fixed the issue for now (would like to use it), still though here is the [image](http://imgur.com/a/CDiGu)

[2017-08-10 06:00] RogueRaiden commented on #1708
According to the crashlog, it says something about the MineFactory Reloaded Grinder. So I went into my test server and placed down the Grinder, and it instantly crashed the server with the same error.
Not sure if a Sponge problem or a MFR problem.

[2017-08-10 06:19] #1707 closed, assigned to nobody

[2017-08-10 12:08] JBYoshi commented on #1705
So the GUI still exists; it just doesn't display any items.

[2017-08-10 15:00] #830 closed

[2017-08-10 15:06] bloodmc commented on #927
Closing as this should be addressed in Forge.

[2017-08-10 15:06] #927 closed

[2017-08-10 15:06] bloodmc commented on #899
@JBYoshi is this still an issue?

[2017-08-10 15:09] bloodmc commented on #1022
Reopen if this is still an issue with latest builds.

[2017-08-10 15:09] #1022 closed, assigned to gabizou

[2017-08-10 16:08] bloodmc commented on #937
@tgstyle I cannot reproduce this on latest 1.12 using BOP and command. Please test on latest SF and if reproduced, provide your test world zipped with steps.

[2017-08-10 17:18] tgstyle commented on #937
Here is a server in it's broken state with the mods. If you launch and run "locate stronghold" you will see it gives the error. To reproduce, delete the region files for the overworld and start the server. It will now work. Stop the server then start again and it will be broken.

https://www.dropbox.com/s/00w7nxfes6hifer/Server.7z?dl=1

Running latest SF

[2017-08-10 17:32] bloodmc commented on #1699
@PsionicArchon I'll test this when I get some more time as it requires setting up all the sources since the release jar doesn't work properly in dev.

[2017-08-10 17:47] bloodmc commented on #1080
Unable to reproduce this with latest builds.

[2017-08-10 17:47] #1080 closed, assigned to nobody

[2017-08-10 18:03] bloodmc commented on #937
@tgstyle reproduce issue with as few mods as possible. Makes it easier for us to debug this in dev.

[2017-08-10 18:28] tgstyle commented on #937
@bloodmc easy, take the same server delete the DIM folders (they will be broken from removing mods) I kept these three. Same steps to reproduce.

BOP
sponge
worldedit

[2017-08-10 18:41] tgstyle commented on #937
@bloodmc I updated the zip, I was even able to reproduce just using BOP and SF. Out of curiosity on your tests did you ever set level-type=BIOMESOP ?

[2017-08-10 18:57] Zidane commented on #1708
@EZKatnipz Sponge is only in the log trace as we inject up the tree a bit. Not seeing any Sponge issue here.

[2017-08-10 18:57] #1708 closed, assigned to nobody

[2017-08-10 19:06] bloodmc commented on #937
@tgstyle Tested it again, no errors. This must be an issue on release jar as I cannot reproduce it in dev at all.

And yes, level-type is always set to BIOMESOP

[2017-08-10 19:10] bloodmc commented on #1116
@me4502 Reopen this if you can still reproduce with latest.

[2017-08-10 19:10] #1116 closed, assigned to nobody

[2017-08-10 19:39] dualspiral commented on #1677
So, I wrote a quick set of Mixins to check what's going on: https://gist.github.com/dualspiral/8a1f2bea89d1bf2d07eb599caed74571. The idea behind them was to check `REGISTER` packets at two stages:

* When packets are received by Netty and read (READ)
* When FML/Forge handles the packets (REGISTER)

All I do is log the contents of the packet to the log. I don't do anything fancy!

*With Forge behin

[2017-08-10 19:48] tgstyle commented on #937
@bloodmc I was able to reproduce on this zipped server with level-type default.

[2017-08-10 20:09] #1101 closed, assigned to nobody

[2017-08-10 20:10] bloodmc commented on #1132
This is no longer an issue in latest 1.10.2 liteloader snapshots.

[2017-08-10 20:10] #1132 closed, assigned to nobody

[2017-08-10 20:11] bloodmc commented on #1149
Cannot reproduce this issue using latest builds.

[2017-08-10 20:11] #1149 closed, assigned to nobody

[2017-08-10 20:19] bloodmc commented on #1274
@Eufranio Please provide a test world along with steps on what to do to reproduce this issue.

[2017-08-10 20:21] bloodmc commented on #1633
@mkrtes @YukanoXX Please provide a test world using only AE2 and SF with steps on how to reproduce. The id glitch was already fixed, I'm more concerned about the original error.

[2017-08-10 20:30] #1273 closed, assigned to nobody

[2017-08-10 20:38] YukanoXX commented on #1633
Hi
?? @ boodmc
i thought it was already worked on that problem, it was fixed after version 2515+(testet up to 2539) and higher. when i shutdown now the server the world will save correctly without any problems. sorry for the forgotten informations about that.

from my side , closed

best regards
Yukano

[2017-08-10 20:46] dualspiral commented on #1677
It's hard to say who is really at fault here - Bungee could be sending the REGISTER packet too early, or FML isn't listening for it early enough. However, I can solve this by moving [this line in FML](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/common/network/handshake/NetworkDispatcher.java#L163) to above the `completeServerSideConnection` met

[2017-08-10 20:52] bloodmc commented on #1296
This is an issue with the mod

https://github.com/Bartz24/SkyResources/blob/1.10/src/main/java/com/bartz24/skyresources/events/EventHandler.java#L516

The dev's method can return null yet he never checks for it.

[2017-08-10 20:52] #1296 closed, assigned to nobody

[2017-08-10 20:53] bloodmc commented on #1330
Unable to reproduce this with latest builds. If it reoccurs, provide proper steps on how to reproduce.

[2017-08-10 20:53] #1330 closed, assigned to nobody

[2017-08-10 22:25] RogueRaiden commented on #1708
The issue only exists when Sponge is installed, the machines causing the crashes can be placed just fine without sponge installed. The crash only happens when those machines are placed, and it totally crashes the server, and immediately crashes the server again if the machines exist anywhere in the world.

[2017-08-10 22:28] bloodmc commented on #1633
@YukanoXX Thanks!
@mkrtes Please provide what I need to address your issue.

[2017-08-10 23:01] gd71 commented on #1296
Thanks for your reply and time spent for investigation
Greatly appreciated

[2017-08-10 23:15] ghost commented on #1699
No worries, I'll keep an eye on this for updates.

[2017-08-11 05:28] Awex0101 opened #1709 "Botania NPE ShapedOreRecipe"
**I am currently running...**
- SpongeForge version: 1.11.2-2393-6.1.0-BETA-2535
- Forge version: 2393
- Java version: 1.8.0_131, Oracle Corporation
- Java VM Version: Java VM Version: OpenJDK 64-Bit Server VM (mixed mode), Oracle Corporation
- Operating System: Linux (amd64) version 2.6.32-696.3.1.el6.x86_64
- Plugins/Mods: OpemModsCores, Astral Sorcery, PSI, Autoreglib, baubles, bedbugs, betterb

[2017-08-11 05:38] Karagra opened #1710 "IEntityOwnable not being tracked as owned"
**I am currently running...**

SpongeForge version: spongeforge-1.12.1 - 7.0.0-BETA-2537
Forge version: forge-14.12.1.2428
Java version: 1.8.0
- Operating System:
 - [x] Windows
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, CreativeCoreDummy, LittleTilesCore, SpongeAPI, SpongeForge, FoamFixCore, AntiWDL, Boop, CreativeCore, CustomNPCs, Enjin Minecraft Plugin,

[2017-08-11 07:39] #1699 closed, assigned to nobody

[2017-08-11 07:54] #1710 closed, assigned to nobody

[2017-08-11 08:56] mkrtes commented on #1633
@bloodmc This problem occurs at a random time on the server where it plays 5-10 players. I could not figure out the exact cause. Now I use stable version of AE2, and the sponge version 2526. But the world itself saved from older versions. This problem sometimes (rarely) occurs and requires manual restart of the server.
Perhaps the creation of the world anew will fix this. At the moment, the topic

[2017-08-11 14:03] Zidane commented on #1633
Closing issue. Create new one if it reoccurs and we're given a setup to reproduce.

[2017-08-11 14:03] #1633 closed, assigned to nobody

[2017-08-12 02:41] bhi-elliot opened #1711 "Java failed to write core dump - exception_access_violation"
Might not be a Sponge or even a Forge thing. Might be strictly Java, but I know very little.

**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2542
- Forge version: forge-1.11.2-13.20.1.2425-universal
- Java version: 1.8.0_144-b01
- Operating System: Windows 10 64-bit
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods: Mine

[2017-08-12 03:05] Bysokar commented on #1656
This also happens for users running Advanced Rocketry mod (aka me).

[2017-08-12 09:31] 0f-0b commented on #1711
Looks like JVM has attempted to access memory that it should not. Maybe a Java bug.

[2017-08-12 11:06] Niko-sk2x commented on #1711
I also remember getting similar-looking JVM crash when I managed to make mixin "override" interface method with already existing private method (or something like that). Could be some coremod going bad and triggering similar JVM bug.

[2017-08-12 12:22] tetratec opened #1712 "Crash at a large stream of players on a full server"
This crash produces at a large entrance of players. The server may fall even if there is one server on the server and a white list is on the server and many people are trying to enter it.

[14:20:24] [Server Watchdog/FATAL]: A single server tick took 60.00 seconds (should be max 0.05)
[14:20:24] [Server Watchdog/FATAL]: Considering it to be crashed, server will forcibly shutdown.
[14:20:24] [Serve

[2017-08-12 16:08] Tencao commented on #1698
So after more research, it appears as though the block id's for the world was reset somehow, causing all the blocks to be different items. I highly doubt this is a forge bug so my guess is sponge somehow corrupted the old list and generated a new one.

If it also helps, I did also attempt to pre-gen the world to fill in the gaps not generated, but I'm not sure that caused this bug.

[2017-08-12 16:58] bloodmc commented on #1712
Raise 'max-tick-time' in server.properties or set to -1 to disable.

[2017-08-12 16:58] #1712 closed

[2017-08-12 18:16] Wadimich opened #1713 "Console span with errors: Completing incorrect phase"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2546
- Forge version: 12.18.3.2281
- Java version: 8 build 92
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
https://hastebin.com/ihayojiqug.pl
**What is the expected result?**
No errors.
**What is the current result?**
TPS is going low, may go to crash or not,

[2017-08-12 18:24] phit commented on #1713
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1477

[2017-08-12 21:34] gabizou commented on #1698
Sponge doesn't touch block id lists. That's all handled by Forge and in the level.dat, Sponge only interacts with the level_sponge.dat to avoid this sort of corruption.

As far as the stack overflow, it's more likely to happen in Vanilla, but of course, there's not as much modification in vanilla as when sponge is involved.

[2017-08-12 23:00] #1713 closed, assigned to nobody

[2017-08-12 23:00] #1477 closed, assigned to nobody

[2017-08-12 23:38] Rahmiel commented on #1699
Can confirm this fixes the first issue (I live with PsionicArchon). However a new issue has come out where any RFTools dim will now jack up resource use on the server when Sponge is installed. The server's CPU was maxing out when the dimension was teleported to. Multiple DIMs were tested and the issue went away when Sponge was removed from the server. I will make a new issue involving this.

[2017-08-12 23:53] Rahmiel opened #1714 "(1.11.2) RFTools DIMs Crashing Server"
This issue is related to https://github.com/SpongePowered/SpongeForge/issues/1699. When an RFTools DIM is now loaded, the server crashes. Tested on multiple dimensions. This only happens with Sponge installed.

- SpongeForge version: 1.11.2-2393-6.1.0-BETA-2542
- Forge version: 1.11.2-13.20.1.2429
- Java version: 1.8.0_121
- Operating System: Windows 8.1

- Plugins/Mods:
CompatLayer 0.2.9
JEI 4.5.

[2017-08-13 00:19] Rahmiel commented on #1714
Seems you fixed this problem while I was typing the original post. You guys do great work, we will be testing this in the full server soon. Hopefully you don't see us again (you will, you know you will).

[2017-08-13 00:19] #1714 closed, assigned to nobody

[2017-08-13 01:56] phit opened #1715 "Advanced Rocketry - Space Station isn't being created"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2548
- Forge version: 1.10.2-12.18.3.2281
- Java version: jre1.8.0_141

**Mods**
AdvancedRocketry-1.10.2-1.0.19
LibVulpes-1.10.2-0.1.19-universal
jei_1.10.2-3.14.7.419

**What is the expected result?**
Launching a rocket with a space station in the satellite bay will make it deploy in the space dimension.

**What is the c

[2017-08-13 07:12] ghost opened #1716 "[1.10.2] build 2550 crash during start"
https://pastebin.com/6RfMWA8z

previous build 2548 starts without problems

[2017-08-13 14:13] ghost commented on #1716
2555 is ok, thanks a lot.

[2017-08-13 14:13] #1716 closed, assigned to nobody

[2017-08-13 16:29] jkiejr commented on #1398
plz, fix this. im begging you

[2017-08-13 16:55] bloodmc commented on #1715
Linker says "nothing to be linked" and Launch does nothing. Also fuel is empty, not sure if that matters.

[2017-08-13 16:56] phit commented on #1715
shift rightclick the Monitoring  Station then rightclick the rocket

[2017-08-13 17:22] #1715 closed, assigned to nobody

[2017-08-13 19:12] mkrtes opened #1717 "BetterQuesting"
I have a server with BetterQuesting mod and Spongeforge. Modpack "craft of the titans". Players can perform only quest with conditions "bq_standard:retrieval" (have the item in inventory)
All other conditions (hunt, craft etc.) are not met. Without Sponge all good.
This problem may be related to a sponge?

**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2555

[2017-08-13 19:51] wunder-bread opened #1718 "Can not import worlds to server."
**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2548
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: 1.8.0_144_b01
- Operating System:
 - [X ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Conquest Reforged, FastA

[2017-08-13 20:30] mkrtes opened #1720 "MineFactory Reloaded crash"
When I place the Grinder from MineFactory Reloaded mod on the ground the server crashes

**I am currently running...**
    SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2555
    Forge version: 2316
    Java version: 8
    Operating System: Linux
- Plugins/Mods: https://pastebin.com/p3tyPNyi

**What is the expected result?**
Nothing
**What is the current result?**
Massive error flood & cr

[2017-08-13 22:42] ktole1999 opened #1721 "re: Sponge 1.10.2 causes server to crash #1659"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2546
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: jre1.8.0_131

- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ x ] Windows

- Plugins/Mods:
PlayerAPI-1.10.2-1.1

**What is the expected result?**
no crash
**What is the current result?**
crash on start

[2017-08-13 23:37] bloodmc commented on #1721
PlayerAPI is not supported due to the amount of changes done to the player class. You would have to ask the dev for Sponge support.

[2017-08-13 23:37] #1721 closed, assigned to nobody

[2017-08-14 02:39] phit opened #1722 "Chunk unload crash"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2555
- Forge version: forge-1.10.2-12.18.3.2422

started happening randomly since updating to 2555
from myself
https://gist.github.com/phit/7ca80b5e704d4d8f4a91a0eb5a1b91f5

posted by LX_Gaming on discord
https://pastebin.com/ZE60BKiG

[2017-08-14 02:47] bloodmc commented on #1722
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/9452c75e52be395531ef8e6504f711cb7494ae40

[2017-08-14 02:47] #1722 closed, assigned to nobody

[2017-08-14 18:19] ktole1999 commented on #1721
there is already sponge support as it was working fine on 1.10.2-2281-5.2.0-BETA-2353.

[2017-08-14 18:22] Zidane commented on #1721
No there isn't.

Read @gabizou 's response at the end of the issue you referenced.

[2017-08-14 18:40] ktole1999 commented on #1721
i understand what was mentioned. but something in sponge changed since 2353 to cause this breakage. i dont understand how it could be playerapi fault.

[2017-08-14 18:46] Zidane commented on #1721
@ktole1999

PlayerAPI LITERALLY REPLACES VANILLA METHODS WHOLESALE. Full stop, replaces them in their earnest. We cannot make our stuff work with PlayerAPI when the methods that everyone uses are up and replaced by one mod.

It only worked before because we had no need to inject into this method. We now do.

[2017-08-14 18:56] ktole1999 commented on #1721
ok. i dont claim to understand the code or how it works. i just know it was working before and now it doesnt so i look at the last thing that changed. but since sponge changed the way it now works and is no longer compatible with playerapi then it is what it is. i will try and reachout to playerapi dev for help. thanks for the info.

[2017-08-15 07:32] gabizou commented on #1721
To be more precise as to why Sponge cannot fix the compatibility issue: Sponge is attempting to take advantage of safely and accurately injecting into a specific method to make a particular functionality work, in this case health scaling from the server side. The issue that is arising with PlayerAPI being involved is that PlayerAPI is wholeheartedly erasing the entire method, preventing Sponge fro

[2017-08-15 07:43] gabizou commented on #1708
From the crash report:
[code]
It screams that there's a transformer issue at hand. Not sure what the output of the actual byte code is, but I cannot confirm nor deny that this is potentially a sponge issue. If you can export the full classes with the two flags:
`-Dlegacy.debugClassLoading=true -Dlegacy.debugClassLoadingSave=true`, there's a `CLASSLOADER_TEMP` folder with all class loaded class at

[2017-08-15 11:22] Jager67 opened #1725 "All The Mods Expert Mode crashes with sponge."
**I am currently running...** All The Mods Expert Mode

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2558
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: 1.8.0_144
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - ["X"] Windows

- Plugins/Mods:
Mod List: https://docs.google.com/spreadsheets/d/1fXRhaJmBV-ViBr1N91DHwXjvguGEhz0wU4szATPDH

[2017-08-15 12:06] Aang23 opened #1726 "Is it possible to make SpongeForge less RAM - consumming ?"
It's because more than 500MB RAM used with than without totally prevent me from using it...

[2017-08-15 14:20] phit commented on #1725
remove classcachetweaker

[2017-08-15 15:46] bloodmc commented on #1726
Um ok....

[2017-08-15 15:46] #1726 closed, assigned to nobody

[2017-08-15 19:18] ProsperCraft opened #1727 "[1.12] Error - org/spongepowered/api/service/pagination/PaginationList"
**I am currently running...**

- SpongeForge version: spongeforge-1.12-2443-7.0.0-BETA-2498.jar
- Forge version: forge-1.12-14.21.1.2443-universal.jar
- Java version:  openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

 - [X ] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:

**What is the expected result?**
sh

[2017-08-15 19:24] dualspiral commented on #1727
This isn't a sponge error, [this is down to a breakage in the API](https://github.com/SpongePowered/SpongeAPI/pull/1622/files#diff-2a02befdf6e7efacc93d0b871fa62383R253), and Nucleus for MC 1.12.1 is compiled against just about the latest version of the API.

Note that API 7 (1.12.1) is not yet stable, and Nucleus is using a later build of the API than is available for 1.12. If you can update to th

[2017-08-15 19:24] #1727 closed, assigned to nobody

[2017-08-15 19:35] phit commented on #1029
just got one of those myself, http://vpaste.net/bLJn2

currently trying to track down what chunk is even causing it, rolling back from the last 3 backups didnt help

[2017-08-15 19:49] Pokekhan opened #1728 "Error when running pixelmon"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2558
- Forge version: 12.18.3.2316
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
[Server thread/INFO]: Plugins (33): [m[0;32;1mMinecraft[m, [m[0;32;1mMinecraft Coder Pack[m, [m[0;32;1mForge Mod Loader[m, [m[0;32;1mMinecraft Forge[

[2017-08-15 22:13] ProsperCraft commented on #1727
I can run the 1.12.1 spongeforge on a 1.12 server?

[2017-08-15 22:17] parlough commented on #1727
Why would you need to run a 1.12 server? 1.12 is pretty much no longer getting updates/support from Minecraft, Forge, Sponge, and most mod developers. From what I've seen 99% of 1.12 mods will work on 1.12.1 anyway so you should just at least try to make the upgrade to the latest Forge and SpongeForge.

[2017-08-15 22:19] ProsperCraft commented on #1727
Because there is only a single modpack that has updated to 1.12.1... I can give it a try.

[2017-08-15 22:22] parlough commented on #1727
Ah yeah I didn't think of a modpack not being updated yet. Not sure in that situation then. Wouldn't be a problem but the protocol changed between 1.12 and 1.12.1

[2017-08-15 22:31] Sir-Will opened #1729 "Issue with tileentity-activation and chunk loaders"
is there anything which can be done that the `tileentity-activation=true` option doesn't break chunk loaders?

If this option is enabled and a chunk loader is active it doesn't activate the tiles in that chunk after a server restart.

spongeforge-1.10.2-2281-5.2.0-BETA-2464

[2017-08-16 00:20] bloodmc commented on #1725
thanks @phit

[2017-08-16 00:20] #1725 closed, assigned to nobody

[2017-08-16 00:39] bloodmc commented on #1728
Caused by: java.lang.NoSuchMethodError: com.pixelmonmod.pixelmon.entities.pixelmon.EntityStatue.initAnimation()V
        at com.pixelmonmod.pixelmon.entities.pixelmon.EntityStatue.init(EntityStatue.java:75) ~[EntityStatue.class:?]

Not our issue.

[2017-08-16 00:39] #1728 closed, assigned to nobody

[2017-08-16 09:29] MarkTwoFive commented on #469
Has anything regarding this changed so far? I guess plugin commands taking lower priority than vanilla commands is somewhat counter-intuitive...

[2017-08-16 11:53] merjilin commented on #1596
I have just tested this on a brand new world with spongeforge not installed along with no additional mods, and undecorated chunks are still prevalent.
Used:
Forge: forge-1.10.2-12.18.3.2422-universal.jar
RTG: RTG-1.10.2-4.2.0.0-snapshot-5.jar

[2017-08-16 12:27] EmanYm commented on #1728
Didn't Pixelmon stop development on MC 1.10.2/API 5?  There are bound to be some breaking changes between that and 1.12/API 7.

I think if you insist on running Pixelmon you're going to have to leave that server as 1.10.2.

[2017-08-16 14:18] bloodmc commented on #1729
Update to latest SF and provide logs along with a test world to reproduce it. Make sure to use the least amount of mods possible.

[2017-08-16 15:34] #1720 closed, assigned to nobody

[2017-08-17 03:49] Sir-Will commented on #1729
Tested with spongeforge-1.10.2-2281-5.2.0-BETA-2569 this time and same issue.

**Mods used:**
- ChickenChunks
- CodeChickenCore
- CodeChickenLib

**How to reproduce:**
- Enable `tileentity-activation` in the sponge config and start the server
- Get a spot loader, hopper and chest
- Place the hopper and spot loader in the same chunk
- Fill the hopper with item stacks
- Place the chest below the hop

[2017-08-17 04:40] Deamon5550 commented on #1596
@merjilin tell that to the mod developer then so they can look into it properly.

[2017-08-17 12:41] kaal-1 opened #1732 "Fluid tracker crash"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2569
- Forge version: 2281
- Java version: 8
- Operating System: Debian 8

Whenever a player enters my server and loads a chunk containing any block that causes the fluid tracker to function, the server crashes. This doesn't happen if I downgrade to 1.10.2-2281-5.2.0-BETA-2567
Examples:
EnderIO Fluid conduits: https://hast

[2017-08-17 16:04] srs-bsns commented on #1596
@Zidane Why did you close this? This issue has not been dealt with yet.

This issue was opened in relation to the current stable release of RTG for 1.10.2 and the decoration issue has only ever been seen when used with SpongeForge.
merjilin is posting about an unstable alpha snapshot and it, likely, has no connection to this issue.

[2017-08-17 16:37] merjilin commented on #1596
I will do testing with the build shown in this issue and get back to you on that one, just to confirm everything.

[2017-08-17 19:07] tgstyle commented on #1732
Also happens in 1.12.1-7.0.0-BETA-2568 with ThermalDynamics
https://gist.github.com/tgstyle/686a672988c8743b20f107a6b4cb1d95

[2017-08-17 19:18] tgstyle commented on #1732
1.12.1-7.0.0-BETA-2568 also causes this crash with Mekanism
https://gist.github.com/tgstyle/e59c9ee4458dbfd746ba85b113023c17

[2017-08-17 21:35] Tylerun opened #1733 "java.lang.IncompatibleClassChangeError: vtable stub at org.spongepowered.mod.tracker.FluidTracker"
Server crashes upon entering the game.

**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2569
- Forge version: 12.18.3.2422
- Java version: Java 8
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
Blocks should tick with no problems. Problem between Enderio and Actually Additions caused by Sponge.

[2017-08-17 21:37] phit commented on #1733
Duplicate of #1732

[2017-08-17 21:40] Tylerun commented on #1680
Disable sponge. Start Server. Generate map. Enable Sponge.

[2017-08-17 21:53] HenryLoenwind commented on #1732
It seems this code ASMs a call to a tracker method to all methods that have the same name and signature as the tracker method without checking if they belong to a class that is compatible with the first parameter of the tracker methods.

PS: What do you want to track anyway? This approach will get you all kinds of noise from mod-internal redirects, block-private internal tanks and so on. if you wa

[2017-08-17 22:32] #1733 closed, assigned to nobody

[2017-08-18 04:08] ryantheleach commented on #469
@MarkL4YG unless a bug or intentional change has changed the behaviour then whoever registers first, wins.

If you register plugin commands before vanilla does, then your plugin will have priority, if registered after, the user will have to manually override the clash in the configuration file.

Did you have anything specific to add? Have your experiences been different to what I just described? O

[2017-08-18 08:34] Cybermaxke commented on #1732
I am working on the issue, I will get back to it later today.

[2017-08-18 08:38] Cybermaxke commented on #1732
@bloodmc Any idea about wrapping the capabilities?

[2017-08-18 09:48] vectrixdevelops commented on #1596
@Deamon5550 @Zidane The author made this issue.

[2017-08-18 10:43] MarkTwoFive commented on #469
I register my commands at ``onGameInitialization`` when my Managers are initialized. However Vanilla commands still take priority over them.

And yes, this behavior does sound counter-intuitive to me. I get why the priority is a race condition between plugins and mods but if I add a plugin to extend vanilla behavior - why would I choose the vanilla command/behavior over the plugin command ___by de

[2017-08-18 12:23] ryantheleach commented on #469
It's possible something has changed since this issue was first created then, I suggest making a new issue, with versions tested, and expected behaviour detailed, and if this is a recent occurrence, document the last version tested where this behaviour was not observed.

[2017-08-18 12:25] MarkTwoFive commented on #469
I guess I'll do that if this behavior continues past API 5.

[2017-08-18 15:06] gabizou commented on #1596
Not sure why this was closed @Deamon5550 considering one of the devs did open this issue. I'll find some time to work with them to review the issue again and probably figure something out.

[2017-08-18 18:34] Deamon5550 commented on #1596
@gabizou Why the fuck are you bitching at me, I didn't close it? all I did was say if its reproducible without sponge then its probably not a sponge issue and the mod issue should be poked with that information...

[2017-08-18 23:08] PixelmonPRO opened #1735 "MySQL driver error?"
**I am currently running...**
- SpongeForge version:  1.10.2-2281-5.2.0-BETA-2567, 1.10.2-2281-5.2.0-BETA-2569, 1.10.2-2281-5.2.0-BETA-2571
- Forge version: forge-1.10.2-12.18.3.2422-universal
- Java version: 1.8.0_121
- Operating System: Debian 8 Jessie 64 bit

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Version 1.10.2-2281-5.2.0-BETA-2567 works good, but version 1.10.

[2017-08-19 00:27] bloodmc commented on #1735
This has nothing to do with SpongeForge. LuckPerms had an exception while loading groups.

[23:03:26] [pool-2-thread-5/ERROR] [Sponge/luckperms]: The Scheduler tried to run the task luckperms-A-14 owned by Plugin{id=luckperms, name=LuckPerms, version=3.3.3, description=A permissions plugin, authors=[Luck], source=/ssd/UnowaMain/mods/LuckPerms-Sponge-3.3.3.jar}, but an error occured.

Update to lat

[2017-08-19 01:49] bloodmc commented on #1442
Reopen if this still occurs with latest builds.

[2017-08-19 01:49] #1442 closed, assigned to nobody

[2017-08-19 01:50] bloodmc commented on #1683
com.amict.blockmonitor.BlockMonitor.onServerStart(BlockMonitor.java:106)

This is causing the issue, remove it.

[2017-08-19 01:50] #1683 closed, assigned to nobody

[2017-08-19 01:51] bloodmc commented on #1666
This is not a SpongeForge issue, refer to the ticket above.

[2017-08-19 01:51] #1666 closed, assigned to nobody

[2017-08-19 01:52] bloodmc commented on #1337
Reopen if this is still an issue with SpongeForge.

[2017-08-19 01:52] #1337 closed, assigned to nobody

[2017-08-19 01:54] bloodmc commented on #1302
Is this still an issue with latest builds? If not , close.

[2017-08-19 02:01] bloodmc commented on #1327
No longer an issue in latest builds.

[2017-08-19 02:01] #1327 closed, assigned to gabizou

[2017-08-19 02:02] bloodmc commented on #1297
Use STS gradle plugin.

[2017-08-19 02:02] #1297 closed, assigned to stephan-gh

[2017-08-19 02:04] bloodmc commented on #1332
@Nedelosk Please provide a test world with ONLY Forestry and SF and list steps to reproduce.

[2017-08-19 02:04] bloodmc commented on #1643
@Jay9519 @hunter688 Does this still occur in latest build?

[2017-08-19 02:59] bloodmc commented on #1554
dupe #1470

[2017-08-19 02:59] #1554 closed, assigned to nobody

[2017-08-19 03:00] Jay9519 commented on #1643
I have updated the server to 1.12.1 now and the wither skeletons still don't spawn

[2017-08-19 03:07] #1470 closed, assigned to nobody

[2017-08-19 03:24] Aaron1011 commented on #1717
@mkrtes: Can you list the exact steps needed to reproduce this?

[2017-08-19 03:53] #1342 closed, assigned to nobody

[2017-08-19 04:08] bloodmc commented on #1479
Not enough information.

[2017-08-19 04:08] #1479 closed, assigned to nobody

[2017-08-19 04:08] bloodmc commented on #1233
This is no longer an issue in latest builds.

[2017-08-19 04:08] #1233 closed, assigned to nobody

[2017-08-19 04:13] bloodmc commented on #1527
@AEnterprise Is this still an issue with latest SF build?

[2017-08-19 04:32] #1680 closed, assigned to nobody

[2017-08-19 04:54] bloodmc commented on #1643
@Jay9519 Try to figure out which mod is causing it. I would create a test world and add 1 mod at a time until it breaks.

[2017-08-19 05:23] Aaron1011 commented on #1709
I can't reproduce this on the latest SpongeForge and Botania (both 1.11). Can you re-test this?

[2017-08-19 07:05] Aaron1011 commented on #1729
@Sir-Will: First, disable `deny-chunk-requests` in your `global.conf`. Otherwise, spot loaders will never work, even with `tileentity-activation` disabled.

The current behavior of `tileentity-activation` is to skip ticking any TE [that hasn't yet come across a player](https://github.com/SpongePowered/SpongeCommon/blob/stable-5/src/main/java/org/spongepowered/common/mixin/plugin/tileentityactivati

[2017-08-19 08:30] AEnterprise commented on #1527
it shoudn't be (i forgot about this issue) since 7.99.7 no longer uses a fake world to determine requirements for blueprints (or facade info)

[2017-08-19 08:33] ProsperCraft opened #1736 "[1.12.1] Will not start with Mekanism - NoClassDefFoundError: buildcraft/api/fuels/IFuel"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2577, 2573, and 2568
- Forge version: forge-1.12.1-14.22.0.2459-universal.jar, and 2444
- Java version: openjdk version "1.8.0_141"
- Operating System: Centos 7 Linux.

**What is the expected result?**
Run
**What is the current result?**
Crash

https://gist.github.com/ProsperCraft/462ed193463189d549e1dc2922148

[2017-08-19 09:18] #1729 closed, assigned to nobody

[2017-08-19 11:05] Keaton1188 opened #1737 "Scrap Box Duping with Sponge"
Hi all, having a issue on our Age of Engineering server, when you right click a scrap box its meant to drop the item and remove the scrap box from your inventory, well thats not the case, its dropping the item but keeping the box in your inv letting you get lots of items over and over.

I tested this on single player and it worked fine so I am guessing its an issue with Sponge.
Probably happening

[2017-08-19 12:28] ghost opened #1738 "Failed startup"
https://hastebin.com/xejetocari.md
https://pastebin.com/e3EyMTNe - sorry too long for hastebin
https://hastebin.com/ojoyevubuf.md
https://hastebin.com/kimafelinu.sql

[2017-08-19 13:45] Zidane commented on #1736
We need the full server log, there is likely another stack before this.

[2017-08-19 13:47] Zidane commented on #1718
Upload your server installation EXACTLY the way it was before you tried to do the import. Specify EXACT steps that you did up to the error.

[2017-08-19 13:50] Zidane commented on #1738
The logs you posted don't point to anyone. They just state multiple mods had errors loading. Start by removing SpongeForge and try loading your server. If it loads, add it back and remove mods one by one until you find who we have problems with. If it does NOT load, this isn't a Sponge issue and you should also remove them one by one to find the offender.

[2017-08-19 13:52] kaal-1 commented on #1680
That fixed the crash, but the mod still is not working... Now the overworld/end/nether get generated as if the mod was not installed.

[2017-08-19 15:01] wunder-bread commented on #1718
SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2548
Forge version: forge-1.10.2-12.18.3.2281-universal
Java version: 1.8.0_144_b01
Operating System:
[X ] Linux (Ubuntu, Debian, Fedora, etc)
Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Conquest Reforged, FastAsyncWorldEdit, HelpMe, Holograms, LuckPerms, Nucleus, PlotSquared, Proj

[2017-08-19 15:17] tgstyle commented on #1732
Sponge 2577 still has the issue with Mekanism

[2017-08-19 16:01] PixelmonPRO commented on #1735
@bloodmc Hello, problem still exists, Lucko answered:

I don't see how if that works, it could possibly be a LP issue.
blood is also mistaken, the error has nothing to do with loading groups.
[23:03:22] [Server thread/INFO] [STDERR/sponge]: [me.lucko.luckperms.common.storage.backing.sql.SQLBacking:init:197]: com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool:

[2017-08-19 16:06] Tylerun commented on #1680
Go into server properties and verify the world-type is set to VOID and also configure the yunomakegoodmap config to whatever tree spawn you want.

[2017-08-19 16:53] gabizou commented on #1736
Duplicate of #1732

[2017-08-19 16:53] #1736 closed, assigned to nobody

[2017-08-19 16:58] PurpleIsEverything commented on #1732
Here is a server log with more information, keep in mind this log contains a variety of mods and a few ASM and Mixin patches.

https://gist.github.com/ShadowKitten/92b77705610d951e5a5d0282a205d1e5

As this is the normal configuration of our servers this is how it was tested we will not be removing these things.

[2017-08-19 17:02] bloodmc commented on #1738
Your using an outdated Forge build. Update to latest.

The mod cofhcore (CoFH Core) requires mod versions [forge@[14.21.1.2415,15.0.0.0)] to be available

[2017-08-19 17:02] #1738 closed, assigned to nobody

[2017-08-19 17:03] bloodmc commented on #1737
@Keaton1188 Update to latest SF and post your fml-server-latest log. We do not support old SF builds.

[2017-08-19 17:12] phit commented on #1737
works fine with 1.10.2-2281-5.2.0-BETA-2558

[2017-08-19 18:18] gabizou commented on #1596
I misread the notification when the issue was closed, misread in that I understood that daemon closed the issue. I’m not bitching at anyone, just wondered why it was closed. Eventually I can get to this issue, just can’t guarantee it to be reached at in the immediate future.

[2017-08-19 19:17] bloodmc commented on #1732
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/524254046b6c9440d1a43d8623ff06db9edd1ac7

[2017-08-19 19:17] #1732 closed, assigned to nobody

[2017-08-19 20:41] bloodmc commented on #1737
@phit Thanks.

Update SF to fix your issue.

[2017-08-19 20:41] #1737 closed, assigned to nobody

[2017-08-19 20:49] ghost opened #1739 "sponge does not like randomthings"
My server refuses to start with random things installed.
https://hastebin.com/yinebeciqu.sql

[2017-08-19 21:01] phit commented on #1739
Please use the issue template, it's there for a reason.

Anyway I retested this with spongeforge-1.12.1-2444-7.0.0-BETA-2582 & RandomThings-MC1.12.1-4.0.5, same crash.
[crash-2017-08-19_22.59.24-server.txt](https://github.com/SpongePowered/SpongeForge/files/1236657/crash-2017-08-19_22.59.24-server.txt)
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/1236658/fml-server-la

[2017-08-19 21:03] PurpleIsEverything commented on #1735
This is not resolved by updating or downgrading LuckPerms, only a Sponge downgrade resolves it.

[2017-08-19 21:28] bloodmc commented on #1735
@ShadowKitten @PixelmonPRO Did you test SF 2579?

[2017-08-19 21:36] phit commented on #1735
Definitely something in 2569 (https://github.com/SpongePowered/SpongeCommon/commit/453c290d81019e2ccf4ac3fa04e5d0cea55e46de) broke it, here's the logs:

[fml-server-latest.2567.txt](https://github.com/SpongePowered/SpongeForge/files/1236681/fml-server-latest.2567.txt) - last working
[fml-server-latest.2569.txt](https://github.com/SpongePowered/SpongeForge/files/1236680/fml-server-latest.2569.txt)

[2017-08-19 21:44] Aaron1011 commented on #1739
This bug isn't specific to `randomthings` - any mod or plugin which calls `Ingredient#test`

[2017-08-19 21:52] bloodmc commented on #1735
@Cybermaxke can you please take a look at this? You will need to install LuckPerms and setup mysql for testing.

[2017-08-19 22:46] #1739 closed, assigned to Aaron1011

[2017-08-19 22:56] Deamon5550 commented on #1596
It was closed because it was stated that it is reproducible without sponge ergo its a problem with the mod not sponge.

[2017-08-19 23:01] merjilin commented on #1596
I have just tested it using the version specified in the issue, and that does have issues when it's with spongeforge. However, the latest snapshot available on curse does have undecorated chunks without spongeforge when I tested it, so I'm not sure what is happening there. As srs-bsns stated, it could be down to the snapshot being unstable. Sorry for the confusion. If the issue persists on the nex

[2017-08-20 02:38] Aaron1011 commented on #1702
Can you confirm that this isn't the behavior of Vanilla?

[2017-08-20 02:40] Aaron1011 commented on #1642
@FiveEYZ: Can you upload your `fml-server-latest.log` and `latest.log`?

[2017-08-20 03:29] #1493 closed, assigned to nobody

[2017-08-20 03:37] bloodmc commented on #1492
No response in months, closing.

[2017-08-20 03:37] #1492 closed, assigned to nobody

[2017-08-20 04:05] #1672 closed, assigned to gabizou

[2017-08-20 04:16] Zidane commented on #1585
Turn off async-lighting in global.conf and try again.

[2017-08-20 04:19] Zidane commented on #1705
Remove your sponge content from the server and re-add the mod you just removed. Does it work then?

[2017-08-20 05:42] HeberonYT commented on #1585
Hello! What is the location of the file that I have to modify?

[2017-08-20 05:44] Zidane commented on #1585
It is in config/sponge/global.conf

[2017-08-20 05:44] #1735 closed, assigned to nobody

[2017-08-20 06:28] FiveEYZ opened #1740 "[1.12.1] Crash on startup"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2590
- Forge version: forge-1.12.1-14.22.0.2459-universal
- Java version: 1.8.0_144
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
all mods can be seen in the crash-report

**What is the expected result?**
was working on build 2582, but had to downg

[2017-08-20 11:17] mkrtes commented on #1717
@Aaron1011 I checked, even in single player it doesn't work. I think it is not sponge problem.

[2017-08-20 11:17] #1717 closed, assigned to Aaron1011

[2017-08-20 17:16] AwesomeSeal commented on #1715
Does this method solve the generation issue? I'm still not able to create a space station using SpongeForge (Same versions).

[2017-08-20 17:16] phit commented on #1715
update Sponge

[2017-08-20 18:29] bloodmc commented on #1632
Update to latest SF and make a new ticket if it persists.

[2017-08-20 18:29] #1632 closed, assigned to nobody

[2017-08-20 19:50] BillyGalbreath opened #1741 "Tile Entities with Inventory GUI error"
I am looking to switch to Forge/Sponge and have started building a mod from a tutorial to learn the basics of Forge mods. Everything with the tutorial works great when SpongeForge is not installed. But as soon as I install SpongeForge opening the inventory GUI of a custom item doesnt work and throws errors in console. There are no Sponge plugins/mods installed yet, I only have the SpongeForge.jar

[2017-08-21 01:03] ryantheleach commented on #1342
@bloodmc Do you need to provide a locale for these? The Turkish lowercase i bug has bitten us before.

https://garygregory.wordpress.com/2015/11/03/java-lowercase-conversion-turkey/

[2017-08-21 04:08] hugeblank commented on #1591
_INSERT HEAVY BUMPAGE_

I am having this issue too, and have spoken with the developer of galacticraft. This is a really annoying issue, and there is literally nothing that can be done to fix it. As a server operator trying to set up a galacticraft server this issue has become the bane of my existence.
Here is my mod list, forge, and sponge version: https://kaos-network.com/servers/sonarx

[2017-08-21 04:25] hugeblank opened #1742 "Galacticraft inventory being disregarded"
**The Issue**
I am setting up a server with a focus around the mod galacticraft. Now this mod is notorious as it is for being [broken by sponge](https://github.com/SpongePowered/SpongeForge/issues/1591), and I just found another one of those breakages. I have keepInventory enabled on my server, so that when a player dies, all hope isn't completely lost. The only problem is the players items in the

[2017-08-21 06:07] ghost commented on #1740
I have same issue. latest build without problem is 2566.

[2017-08-21 06:17] ghost commented on #1741
It looks like duplicate #1740

Try build  2566.

[2017-08-21 09:02] Snez0kRU opened #1743 "Player moved wrongly! 5.2.0 + Forge forge 2281"
It's just a question, how to off Player moved wrongly

- SpongeForge version: 5.2.0 (Latest)
- Forge version: forge-1.10.2-12.18.3.2281-universal.jar
- Java version: 1.8
- Operating System:

 - [x ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

**What is the expected result?**

**What is the current result?**
[11:54:53] [Server thread/WARN]: DARK moved wrongly!

[2017-08-21 09:34] stephan-gh commented on #1742
Explanation for this issue (feel free to ping the Galacticraft developers about this):

The reason this is broken is that Galacticraft attempts to replace `EntityPlayerMP` with a custom class `GCEntityPlayerMP` at runtime, which seems to be used to copy the inventory after the player has died (among other things). That's just asking for trouble with other mods because obviously only a single mod c

[2017-08-21 13:18] stephan-gh commented on #1591
Does this affect all rocket types? I can reproduce it with the `Tier 1 Rocket` but tier 2 and tier 3 work fine.

[2017-08-21 17:21] radfast commented on #1591
Hi, I'm one of the Galacticraft devs.  I think this may be simply one manifestation of the CauseTracker related issues, [already reported](https://github.com/SpongePowered/SpongeForge/issues/1552)

[2017-08-21 17:35] stephan-gh commented on #1552
Can't reproduce this on latest SpongeForge 1.11.2 build. Spawning entities and placing rockets works fine after a dimension change.

What I did is:

- Use a rocket to go from Overworld to Mars
- Try to spawn cows using spawn eggs: Worked fine
- Try to place a rocket: Worked fine

[2017-08-21 17:36] stephan-gh commented on #1591
@radfast See https://github.com/SpongePowered/SpongeForge/issues/1552#issuecomment-323805757, I can't reproduce this using the latest SpongeForge 1.11.2 (and latest Galacticraft).

I'm pretty sure the dupe problem mentioned in this issue is fixed by https://github.com/micdoodle8/Galacticraft/pull/2955

[2017-08-21 17:41] radfast commented on #1552
Which exact build are you testing, @Minecrell ?   I can re-test, maybe someone fixed it :)

And I'm not sure your label is appropriate, if there is (still) an issue, it's a generic Sponge problem which will affect any Forge mod with dimension transfers.

[2017-08-21 17:42] stephan-gh commented on #1552
@radfast I've been testing in the SpongeForge development environment on the `stable-6` branch, which should be equivalent to `1.11.2-2393-6.1.0-BETA-2592` with `GalacticraftCore-1.11.2-4.0.0.116` etc.

[2017-08-21 17:42] radfast commented on #1742
Hi @Minecrell, I'm one of the Galacticraft devs.  Your comments on our detailed coding techniques are a bit misplaced.  Our mod offers the choice of using GCEntityPlayerMP, or if there are (very rare) compatibility issues with that then people can install **PlayerAPI** which provides additional EntityPlayerMP hooks, in which case Galacticraft will automatically not use its GCEntityPlayerMP.

@huge

[2017-08-21 17:53] stephan-gh commented on #1742
I'm not sure why they're misplaced? Just trying to help to fix the issue, and it's rather hard to fix it in Sponge.

I'm pretty sure PlayerAPI doesn't work properly with Sponge (which is an entirely different issue and unrelated here). The problem with extending `EntityPlayerMP` is that only **a single mod can do this**. It will usually not cause any compatibility issue with other mods except if t

[2017-08-21 19:29] radfast commented on #1742
It would be a good idea to get Sponge working with PlayerAPI, as a lot of Forge mods (10+ mods) rely on that for mutual compatibility, and also RenderPlayerAPI clientside but that's probably not of so much interest to Sponge ...

[2017-08-21 19:32] phit commented on #1742
In reference to PlayerAPI, nothing can be done on Sponge's end to support it.

https://github.com/SpongePowered/SpongeForge/issues/1659#issuecomment-316169095
https://github.com/SpongePowered/SpongeForge/issues/1721#issuecomment-322396990
https://github.com/SpongePowered/SpongeForge/issues/570

[2017-08-21 19:34] radfast commented on #1591
Nice one, thank you for identifying the issue in our mod and making a PR, thank you for taking the time when the issue was our side.  I'll respond separately on the 1552 issue after more testing.

[2017-08-21 22:10] radfast commented on #1552
Thanks, tested the latest and the issue seems to have been resolved.

I'll update our documentation accordingly.

Great job guys.  I don't see which commit fixed this but thank you to the team :)

[2017-08-21 22:10] #1552 closed, assigned to gabizou

[2017-08-21 22:32] ProsperCraft commented on #1737
Please re-open this is happening with the build from today.  2597.

We had it happening in 2581 as well, tried without sponge, no duping, with sponge, duping.

I noticed this happened in the past as well- https://github.com/SpongePowered/SpongeForge/issues/1066

[scrapboxduplogs.zip](https://github.com/SpongePowered/SpongeForge/files/1240306/scrapboxduplogs.zip)

[2017-08-21 22:36] Aaron1011 commented on #1737
I believe that this is a duplicate of https://github.com/SpongePowered/SpongeForge/issues/1066

[2017-08-21 22:37] ProsperCraft commented on #1737
This appears to only happen to servers with         drops-pre-merge=true

[2017-08-21 22:46] ProsperCraft commented on #1737
Confirmed fixed working on my sever with drops-pre-merge=false

[2017-08-22 04:07] bloodmc commented on #1737
That setting has been set to false for a long time in SpongeForge. Never set that to true with mods.

[2017-08-22 04:42] ProsperCraft commented on #1740
Same issue with build 2599 build from today.

https://gist.github.com/ProsperCraft/fc253f6e9082b5d4525e84ea07bccc82

[2017-08-22 05:57] ghost commented on #1718
Sponge have /world command or any importing command for worlds? Why is this problem reported here? Why not reported to plugins (nucleus, project world) issue tracker?

[2017-08-22 06:22] stephan-gh commented on #1591
I believe this should be fixed once the new Galacticraft build is out. @hugeblank / @Eufranio Comment here if this is still a problem.

[2017-08-22 06:22] #1591 closed, assigned to stephan-gh

[2017-08-22 11:56] wunder-bread commented on #1718
Fisrt, I have tickets with both Nucleus and ProjectWorlds. Second I'm reporting here because I'm not sure where the problem lies, as the issue manifested itself around the same time for both mods. So if it is not a problem with sponge, I'm sure a dev will explain and close this ticket. Thank you for your insightful comment.

[2017-08-22 15:43] Zidane commented on #1718
@wunder-bread Can you zip up and upload your server's files so I can work on this?

[2017-08-22 21:07] wunder-bread commented on #1718
@Zidane I emailed you the link to the zipped server files.

[2017-08-23 00:22] Jay9519 commented on #1740
2582 works, anything above that crashes the server

[2017-08-23 02:01] Raycoms commented on #1327
Please reopen, I just tried it with the newest 1.10

[2017-08-23 04:32] hugeblank commented on #1742
@radfast I think you misread my tone there, I wasn't by any means trying to insult GC; or sponge for that matter. Both are very large mods, like you said, that rely on a set of circumstances that are typically present. When combining both large mods, you get issues, and it happens. I was referring to previous issues that had been discussed in sponge's issue tracker and GC's tracker, there are mult

[2017-08-23 16:08] bloodmc commented on #1133
I'm unable to reproduce this issue with latest SF builds.

[2017-08-23 16:08] #1133 closed, assigned to nobody

[2017-08-23 16:24] bloodmc commented on #1002
@phit I don't seem to notice any issues when using this mod on client. Can you be more specific on EXACTLY what is not working?

[2017-08-23 16:25] phit commented on #1002
install it on client AND server and you will see the issue shown in the initial post video

[2017-08-23 16:25] bloodmc commented on #518
@Deamon5550 Is this still an issue?

[2017-08-23 17:18] bloodmc commented on #1002
"A client-side mod that adds several ways of moving items in inventory GUIs." This should not be installed on server.

[2017-08-23 17:18] #1002 closed, assigned to nobody

[2017-08-23 17:21] bloodmc commented on #1217
Need more information.

[2017-08-23 17:21] #1217 closed, assigned to nobody

[2017-08-23 17:22] bloodmc commented on #1276
Cannot reproduce.

[2017-08-23 17:22] #1276 closed, assigned to nobody

[2017-08-23 18:12] phit commented on #1002
seems to be resolved with itemscroller-1.11.2-0.11.0 and spongeforge-1.11.2-2393-6.1.0-BETA-2592 anyway

[2017-08-23 18:18] bloodmc commented on #1487
No response in months.

[2017-08-23 18:18] #1487 closed, assigned to nobody

[2017-08-23 18:22] bloodmc commented on #1610
The mod is violating the event contract by cancelling yet still running the item use hook. It should be setting block use to false in the event.

https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/event/entity/player/PlayerInteractEvent.java#L183

[2017-08-23 18:22] #1610 closed, assigned to nobody

[2017-08-23 20:57] bloodmc commented on #1585
Unable to reproduce with a fresh install using latest builds.

[2017-08-23 20:57] #1585 closed, assigned to nobody

[2017-08-24 06:25] ProsperCraft opened #1744 "[1.10.2] Massive TPS drop - java.lang.NoClassDefFoundError: net/minecraft/crash/CrashReportCategory$4"
**I am currently running...**

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-c675e80
    SpongeForge: 1.10.2-2281-5.2.0-BETA-2597
    Minecraft Forge: 12.18.3.2316

- Java version: openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

- Operating System: Centos 7

 - [ X] Linux (Ubuntu, Debian, Fedora, etc)
 - [

[2017-08-24 11:52] wunder-bread commented on #1718
@Zidane , Any update on this issue? Please and thank you.

[2017-08-24 13:35] ProsperCraft opened #1745 "[1.10.2] java.lang.NullPointerException: Ticking player"
https://github.com/brandon3055/Draconic-Evolution/issues/881

**I am currently running...**
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2281-5.2.0-BETA-2597
Minecraft Forge: 12.18.3.2316
Java version: openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

Operating System: Centos 7

[ X] Lin

[2017-08-24 15:39] phit commented on #1744
post your global.conf

[2017-08-24 15:44] phit commented on #1745
Something else must be turning off saves, please try to narrow it down to a few mods and provide steps to reproduce this.

[2017-08-24 16:01] BillyGalbreath commented on #1741
I can confirm build 2566 is working as intended.

Error still persists using build 2601

[2017-08-24 16:31] ProsperCraft opened #1746 "[1.10.2] Roots boss drops are blocked by Sponge"
Remember this issue? https://github.com/SpongePowered/SpongeForge/issues/857

We are having this issue with the roots boss- The Guardian of Sprites will not drop the otherworld essence when sponge is running.

When sponge is enabled we killed it 12 times with otherworld essence dropping only once.

When sponge was disabled we got between 8-11 otherworld essence every single kill.  Also there are c

[2017-08-24 16:50] ProsperCraft commented on #1744
https://gist.github.com/ProsperCraft/2c90aaef1d9bce4c8651cb2b00591c88

Global.conf

[2017-08-24 16:51] phit commented on #1744
https://gist.github.com/ProsperCraft/2c90aaef1d9bce4c8651cb2b00591c88#file-gistfile1-txt-L19

needs to be all lowercase, then this crash won't happen

[2017-08-24 16:54] phit commented on #1744
@bloodmc why is https://github.com/SpongePowered/SpongeCommon/commit/2e98d6c645cb5d7a2d1dd8edb2a45201354c5a0e not working here?

[2017-08-24 22:18] bloodmc commented on #1744
It is working, he didn't delete his config to regen.

[2017-08-24 22:19] phit commented on #1744
Shouldn't it be converted to lowercase anyway?

[2017-08-24 22:21] bloodmc commented on #1744
Sure but I'm not going to be adding that right now. He needs to just wipe his configs to fix it or simply make it lowercase manually.

[2017-08-25 05:52] ghost commented on #1746
Try this setting:

/sponge -g config optimizations.drops-pre-merge false

[2017-08-25 06:05] ProsperCraft commented on #1746
Already in my config-
        drops-pre-merge=false

[2017-08-25 07:43] #1744 closed, assigned to nobody

[2017-08-26 12:10] ProsperCraft opened #1747 "[1.10.2] Harvestcraft- When trying to buy a nametag from a market, server stacktrace. Asyncronous CME warning."
https://github.com/MatrexsVigil/harvestcraft/issues/34#issuecomment-325109018

I am currently running...
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2281-5.2.0-BETA-2597
Minecraft Forge: 12.18.3.2316
Java version: openjdk version "1.8.0_141"
OpenJDK Runtime Environment (build 1.8.0_141-b16)
OpenJDK 64-Bit Server VM (build 25.141-b16, mixed mode)

Operating System: Cento

[2017-08-26 15:21] bloodmc commented on #1747
The mod is spawning entities async which is very bad. We have these checks in sponge for a reason to avoid CME's. The mod needs to fix this on their end to make sure their call runs on the main thread.

[2017-08-26 15:21] #1747 closed, assigned to nobody

[2017-08-26 18:10] Keaton1188 commented on #1320
Still an issue, any update on this please?

@bloodmc @Aaron1011

[2017-08-27 02:07] JBYoshi commented on #899
Can reproduce on latest bleeding.

[2017-08-27 02:39] #899 closed

[2017-08-27 17:24] Sunconure11 commented on #937
Still occurs on 1.11.2, as well. Both the Ender Compass mod and Ender Eyes get into this issue.

[2017-08-27 17:28] Sunconure11 commented on #937
I have an associated log, too.

https://pastebin.com/442iArzF

[2017-08-27 17:48] Sunconure11 opened #1748 "Cannot use spawn eggs from ice and fire"
**I am currently running...**

- SpongeForge version: .11.2-2393-6.1.0-BETA-2592
- Forge version: 1.11.2 - 13.20.1.2454
- Java version: 8
- Operating System:

 - [x] Windows

- Plugins/Mods:

See: https://minecraft.curseforge.com/projects/compitum-magia

**What is the expected result?**

Mob spawns

**What is the current result?**

https://pastebin.com/MUPC7gZX

https://gist.github.com/Sunconure11

[2017-08-27 18:54] Sunconure11 commented on #1748
Other things of notes:

Mobs from Mowzies Mobs despawn. This is not intended, plus one of them, upon removal, drops a rather OP item. They are listed as misc with spongeforge.

I've heard claims of dragons from ice and fire despawning.

[2017-08-27 19:02] kaal-1 opened #1749 "I need help on tracking tps lag"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2591
- Forge version: 2281
- Java version: 8_144
- Operating System: Debian 8
/sponge timings paste: https://timings.aikar.co/?id=ee2292b4851f4edfafa7f254d0b901a6

I'm running an 1.10.2 modded skyblock server and recently the TPS started to drop pretty bad, staying around 3/4. The server used to have 25/30 players with a 20 TPS (sometimes dropping betw

[2017-08-27 21:08] bloodmc commented on #1749
You need to use forums for this. Github is reserved for actual bugs, not to help diagnose specific server issues.

[2017-08-27 21:08] #1749 closed, assigned to nobody

[2017-08-28 05:24] ghost commented on #1740
build 2602 solved this issue for me

[2017-08-28 07:29] phit commented on #1201
https://github.com/SpongePowered/SpongeCommon/blob/877393fe75621e2ebbe75cd4639bad1a0deb316b/src/main/java/org/spongepowered/common/mixin/entityactivation/MixinEntityItem_Activation.java#L49

should be calling `getActiveConfig` instead of `getWorldConfig` that fixed the config not working in my dev environment

regarding the despawning of items that shouldn't due to `setNoDespawn`, forge adds its o

[2017-08-28 07:32] phit commented on #1324
dupe of #1201

[2017-08-28 12:18] xAlicatt opened #1750 "Description: Exception in server tick loop Caused by: java.lang.IllegalArgumentException: Could not find a DimensionType by id: natura:nether"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Forge version: 2281
- Java version: 8

Log: https://gist.github.com/xAlicatt/60b7fb5bc546a147ba8f994d2df0d44e

I'm honestly not even sure that sponge is to blame here, but my attempts at finding a fix lead me here, so I'm sharing my issue. I'm going to attempt rolling back sponge until i hit on a version that doesn't crash, and will report my fi

[2017-08-28 12:39] axle2005 commented on #1750
Duplicate of [#1637](https://github.com/SpongePowered/SpongeForge/issues/1637)

[2017-08-28 12:45] xAlicatt commented on #1637
Disabling Natura in the nether isn't an option. @tyler489 you're saying just deleting the DIM-1 folder will fix this crash?

EDIT:: Can confirm that I was able to get my server to start up by deleting the nether DIM folder, in case anyone else is looking for a quick "fix" for this.

[2017-08-28 12:46] xAlicatt commented on #1750
My bad. I will comment there from here on out and close this.

[2017-08-28 12:46] #1750 closed, assigned to nobody

[2017-08-28 13:00] xAlicatt commented on #1637
Can confirm that I was able to get my server to start up by deleting the nether DIM folder, in case anyone else is looking for a quick "fix" for this.

[2017-08-28 14:11] Twisted-Code commented on #1324
okay whatever the cause of my specific issue is, it doesn't happen on single player. Still could be a bad interaction between SF and a mod, but what mod?

[2017-08-28 15:55] phit commented on #1201
@kashike this also applies to 1.10 and 1.12

[2017-08-28 17:09] ghost opened #1751 "Error generating Canopy Tree!"
Crash in server when generating a Canopy Tree

**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Forge version: 1.10.2-2281
- Java version: 1.8.0_144
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Crash: https://pastebin.com/r9Wg9ycL and https://pastebin.com/9UaUbUjV ( at the same time, 2 crashes )

[2017-08-28 17:17] ghost opened #1752 "End isn't generating any portals/egg"
When a player kills ender dragon, no portal to the overworld/ender cities and dragon eggs are generated

![image](https://user-images.githubusercontent.com/20505933/29784578-e37f839a-8bfa-11e7-932f-baae195e65d9.png)

**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Forge version: 1.10.2-2281
- Java version: 1.8.0_144
- Operating System:

 - [x] Linux (Ubuntu, Deb

[2017-08-28 19:42] Sunconure11 commented on #937
https://pastebin.com/8Y45Z9yS

Found this with the stronghold, as well.

[2017-08-28 21:00] Deamon5550 commented on #1751
Your server timed out, mostly likely from recursing generation given your version and amount of mods. Raise the max tick time or update.

[2017-08-28 21:00] #1751 closed, assigned to nobody

[2017-08-28 23:27] Magi1053 opened #1753 "PlayerTickPhase CapturedBlocks"
I have a mod pack with 200 some mods in it. I've been running the server fine for a while. I have just now updated all the mods in the pack, including forge and spongeforge. Now I am getting this error spamming my console as far as it can read.
[code]

[2017-08-28 23:29] phit commented on #1753
possibly related to #1456

[2017-08-29 01:38] bloodmc commented on #1753
@Aaron1011 want to look into this?

[2017-08-29 01:59] ryantheleach commented on #1324
@macks2008 Thanks for this update, reports like this are vital information when developers attempt to debug.

[2017-08-29 02:00] ryantheleach commented on #1201
https://github.com/SpongePowered/SpongeForge/issues/1324#issuecomment-325364383 reports that it is not reproducible in single player.

[2017-08-29 02:08] ryantheleach commented on #1748
Does the same exception happen when using monster spawn eggs from vanilla / any other mod?
My (shallow) suspicion is that if vanilla doesn't cause this exception, then the mod differs in how it spawns entities during methods that sponge expects it to place a block instead.

This appears to be a related class, but I'm not familiar enough with Vanilla to compare.

https://github.com/Alex-the-666/Ice

[2017-08-29 06:58] Sunconure11 commented on #1748
The issue does not happen with vanilla or other spawn eggs.

[2017-08-29 17:25] Yeregorix opened #1754 "spawner.offer(Keys.SPAWNER_NEXT_ENTITY_TO_SPAWN, entity) throws NoSuchFieldError"
**I am currently running...**

- SpongeForge version: 1.12.1-2444-7.0.0-BETA-2565:dev
- Java version: 1.8.0_131
- Operating System: Windows 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: WIP world modifier

**What is the expected result?**
Calling `tileentity.offer(Keys.SPAWNER_NEXT_ENTITY_TO_SPAWN, new WeightedSerializableObject<>(EntityArchetype.of(ty

[2017-08-29 18:29] #1754 closed, assigned to stephan-gh

[2017-08-29 19:44] PixelmonPRO opened #1755 "Netty spam in console"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Forge version: forge-1.10.2-12.18.3.2422-universal
- Java version: 1.8.0_121
- Operating System: Debian 8 Jessie 64 bit

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

Periodically, servers start to hang because of Netty errors. I managed to see the beginning of the log of

[2017-08-30 06:35] Ghostfoatitan opened #1756 "Singleplayer Spongeforge crash on start up"
Spongeforge causes minecraft to crash on start up without generating a crash log, removed all mods and just had spongeforge in the mod folder and still will not start

**I am currently running...**

- SpongeForge version: 5.2.0-BETA-2597
- Forge version: 2281
- Java version: 8.141
- Operating System: Windows 7

[2017-08-30 06:36] phit commented on #1756
check the logs folder, and provide the fml-client-latest.log

[2017-08-30 06:40] Ghostfoatitan commented on #1756
[latest.zip](https://github.com/SpongePowered/SpongeForge/files/1262620/latest.zip)
Here is what i think is the correct log you are asking for

[2017-08-30 06:56] phit commented on #1756
does it load without sponge? something broke in your installation

[2017-08-30 06:57] Ghostfoatitan commented on #1756
Loads just fine without sponge, my mods load with it just fine as well

[2017-08-30 07:01] phit commented on #1756
Reinstall the instance/forge/libraries, works fine here with the vanilla launcher.

![image](https://user-images.githubusercontent.com/2097483/29859306-c4db132e-8d61-11e7-8902-4c1587fc10f4.png)

[2017-08-30 07:20] Ghostfoatitan commented on #1756
Did that, still not working

[2017-08-30 10:16] Mumfrey commented on #1756
It looks like your forge binary is missing or incomplete, reinstall forge.

[2017-08-30 20:24] Ghostfoatitan commented on #1756
already did that due to removing the library

[2017-08-30 21:07] BlueCyro opened #1757 "Sponge is not playing nice with RFTools dimensions."
We are currently running 1.12.1

- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2602
- Forge version: Forge 14.22.0.2462
- Java version: 1.8.0_144, Oracle Corporation
- Operating System: Windows Server 2012 R2 (amd64) version 6.3

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
Using only the fixspawning-0.1.jar from here: https://github.com/Spong

[2017-08-31 03:17] tgstyle commented on #1756
Out of curiosity are you using MultiMC and having it install liteloader? Spongeforge will not load with liteloader, at least on 1.12 and above.

[2017-08-31 10:39] Mumfrey commented on #1756
~~What? This is news to me.~~ Confirmed, it works fine. Please don't just regurgitate disinformation like this. I'm sure if it wasn't working then someone might have bothered to report it to me. The only reports I've had of it not working are people trying to get liteloader to run on a server, which it obviously won't.

[2017-08-31 11:09] Ghostfoatitan commented on #1756
i am not using multimc or liteloader

[2017-08-31 11:11] phit commented on #1756
derp, I even tested this myself, Sponge currently does not work with the new Vanilla launcher..
this issue is a duplicate of #1654

[2017-08-31 11:32] Ghostfoatitan commented on #1756
hmm good to know, thanks for pointing me to the current one, couldnt find it

[2017-08-31 15:25] Sunconure11 commented on #1748
After installing the newest version of SpongeForge, I stumbled upon an error that is relevant:

https://pastebin.com/CJ9s4y5N

Happened when I teleported around randomly.

[2017-08-31 15:48] tgstyle commented on #1756
@Mumfrey I have tried it multiple times and could not get it to work. Always this same result. Fresh install with newest launcher as well as MultiMC.
https://gist.github.com/tgstyle/96d9be85d1363089d3701f2d544e9956

Edit: Here is your report for no disinformation.

[2017-08-31 19:41] Aaron1011 commented on #1755
The root cause of this issue seems to be that connected clients are disconnecting unexpectedly. I'm not certain what would cause so many exceptions or disconnections, however.

Other people on the forum seem to be having this issue; https://forums.spongepowered.org/t/console-constant-spam-all-my-logs-are-over-4gb/17316

[2017-08-31 22:42] runescapejon opened #1758 "[1.12.1] issue with creative mode destroy item slot"
**I am currently running...**
- SpongeForge version:  1.12.1 - 7.0.0-BETA-2607
- Forge version: forge-1.12.1-14.22.0.2467
- Java version:  java 8
- Operating System:
 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows
- Plugins/Mods:
 Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge
**What is the expected result?**
Error's in console
**What is the current res

[2017-09-01 12:18] Mumfrey commented on #1756
Oh I see, it's because Sponge currently requires 0.7.2 of Mixin but liteloader is still shipping 0.7.1 in the latest snapshot, I hadn't noticed because my local builds are already using 0.7.3.

If you come across problems with LiteLoader in the future, please report them on [the issue tracker](http://develop.liteloader.com/liteloader/LiteLoader/issues) because I can't fix problems if I don't know

[2017-09-01 12:47] Faithcaio commented on #1758
https://github.com/SpongePowered/SpongeCommon/issues/1513
so many issues bc of this damn getPlugin() method

[2017-09-01 12:47] #1758 closed, assigned to Faithcaio

[2017-09-02 13:52] ktole1999 commented on #1753
i saw this comment "Disable method tracker system until we can test it further.
bloodshot - 12 days ago"

was that to disable these messages or is this something different. Just not sure if this error is gamebreaking or not.

[2017-09-02 18:25] BrainStone commented on #1677
I'm having the same issue. has this been reported on Forge?

[2017-09-02 19:49] Snez0kRU opened #1759 "Sponge 1.10.2 Crash's"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2597.jar
- Forge version: Forge-1.10.2-2281
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
BetterFps-1.3.2.jar
BiomesOPlenty-1.10.2-5.0.0.2290-universal.jar
CatClearLag-0.8.jar
CraftTweaker-1.10.2-3.0.26.jar
CustomNPCs_1.10.2(21jul

[2017-09-02 22:07] Deamon5550 commented on #1759
The `Error`s are just your server timing out because something (pixelmon, luckperms, minetweaker) is spending too much time processing, raise or disable the `max-tick-time` in your server.properties.

The entity error is because whatever mod is adding that entity is not handling creating the spawn packet through however you do that with forge and is not a sponge issue.

[2017-09-02 22:07] #1759 closed, assigned to nobody

[2017-09-03 11:57] yepidoodles commented on #1467
I believe I am getting this or a similar crash.

https://pastebin.com/SqUcR9iF

I'm using SpongeForge version 2281-5.2.0-BETA-2597

I tried asking my players if they did anything to do with villagers before the crashes, but didn't get a conclusive answer, If I find out, I'll let you know.

[2017-09-03 12:41] alexmaurizio opened #1760 "SpongeForge and MultiStorage (FTB): Unexpected World Change Detected"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2597
- Forge version: Forge 12.18.3.2316
- Java version: 1.8.0_144, Oracle Corporation
- Minecraft Version: 1.10.2 (behind bungeecord/more 1.12.1 vanilla servers)
- FTB Server Edition, modpack FTB Beyond 1.10.2 (replaced AE2 with last version since it caused a Sponge  crash but was a already solved bug)
- Oper

[2017-09-03 12:45] alexmaurizio commented on #1760
PS: I plan on moving on CentOS7 hosted servers when testing for this multiserver finish, so Windows is really not representative ATM

[2017-09-03 13:50] Aaron1011 commented on #1760
This is a bug in MultiStorage: https://github.com/ShetiPhian/Localizations-and-Issues/issues/109. While the stacktrace might disappear when Sponge is removed, the underlying issue will still exist.

[2017-09-03 13:50] #1760 closed, assigned to nobody

[2017-09-03 13:52] Aaron1011 commented on #1753
@ktole1999: The 'tracker' in that commit message actually refers to an entirely different system, which transforms mod classes that invoke certain methods. The error and stacktrace you're seeing are due to the 'Cause Tracker', which is responsible for detecting and attributing (to players or entities) changes made to the world.

[2017-09-03 14:22] Aaron1011 commented on #1467
@yepidoodles: I've made the exception more informative in the next Sponge build. The next time the crash occurs, can you post the updated stacktrace?

[2017-09-03 14:45] ktole1999 commented on #1753
I am hoping there is a way to turn off that message to keep from spamming console or does that message mean I have an underlying issue?

Sent via the Samsung Galaxy S® 6, an AT&T 4G LTE smartphone

-------- Original message --------
From: Aaron Hill <notifications@github.com>
Date: 9/3/17 8:52 AM (GMT-06:00)
To: SpongePowered/SpongeForge <SpongeForge@noreply.github.com>
Cc: Bebo <ktole1999@hotmail

[2017-09-03 16:55] alexmaurizio commented on #1760
I don't want to open another thread since this looks related to the other one, since it works the same way.

Also Bibliocraft (used the tape meter) has the same Sponge-Related problem. Here's the ServerLog, can you look at it?

I think it's the same netty IO method. https://pastebin.com/63rUDRVP

[2017-09-03 17:33] Aaron1011 commented on #1760
@destructor3: Yes, this is the same issue.

[2017-09-03 18:11] BrainStone commented on #1677
@dualspiral would you mind to report it on Forge, so it can be fixed? I think you have the most insight in this problem.

[2017-09-04 09:39] Magi1053 opened #1761 "[1.10] Agricraft Seed Analyzer - PlaceBLockPacketState"
I get the following error on my console anytime someone right clicks on a seed analyzer in Agricraft, and the analyzer gui never opens up.
[code]

[2017-09-04 10:40] dualspiral commented on #1677
As communicated to you previously, @BrainStone, I'm gonna get you to test a mixin plugin to make sure my fix is right - I think it'll work, but I may have missed something, previous conversations with a couple of others makes me think there is something else underlying that may need to be fixed too (just have had no time or test code, really, to test it with).

[2017-09-04 19:00] dualspiral commented on #1677
@BrainStone

I've written a plugin for 1.12.1 (bleeding) that should test my theory, above. Could you give it a whirl, check whether it works? [mixin-1677.zip](https://github.com/SpongePowered/SpongeForge/files/1275364/mixin-1677.zip)

Thanks.

[2017-09-04 19:15] BrainStone commented on #1677
@dualspiral It works. So your theory appears to be correct.

[2017-09-04 23:10] Liiw commented on #1492
Hello again!

Terribly sorry about the lack of responses on my behalf. Our server was down for a couple of months because of some disputes between the moderators, and I managed to get it up and running just recently.

However, the issue persists. We are now using "spongeforge-1.10.2-2281-5.2.0-BETA-2464" on the server and there still is issues with the missing SG-s in the Nether (while physically

[2017-09-05 00:00] bloodmc commented on #1492
@Liiw We do not support outdated builds, you need to update to latest SF in order to be supported. Provide a new log with latest builds.

[2017-09-05 00:09] Liiw commented on #1492
@bloodmc I will try to get the latest build working on the server soon. I will inform you then. Thanks for the reply!

[2017-09-05 00:31] ryantheleach commented on #1492
@Liiw Can you disable entity-activation-range under modules by settings entity-activation-range to false? I suspect that it might be related to the symptoms you describe, If this works, you can enable it again, set auto-populate to true (under entity-activation-range) and see if the sg-s populate in the config, once that's done you should be able to set your own values / disable them.

If it doesn

[2017-09-05 11:07] Liiw opened #1762 "Spongeforge latest version not starting up on server (server is running in forge only)"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2610
- Forge version: 1.10.2-12.18.3.2422-universal
- Java version: 1.8.0_144
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:  Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Advanced Rocketry, Applied Energistics 2 Core, Aroma1997Core, Creat

[2017-09-05 11:18] Liiw commented on #1492
@bloodmc I tried to update to the latest version, but I am having trouble and I don't know what I am doing wrong. #1762

@ryantheleach I disabled entity-activation-range and reloaded the global configurations. The problem remained. I restarted the server and tried again, but to no avail. I am uploading the latest server log:

[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/fil

[2017-09-05 13:19] dualspiral commented on #1762
`[13:09:33] [main/INFO] [mixin/]: SpongePowered MIXIN Subsystem Version=0.6.6 Source=file:/X:/CoT%20V%20Server/mods/movingworld-1.10.2-0007-full.jar Env=SERVER`

Newer versions of sponge use a newer version of Mixin (0.7.1?) than the one available in Moving World (0.6.6) - which is actually very old, but Moving World's version gets loaded first. Try renaming the SpongeForge jar to start with the l

[2017-09-05 17:43] Liiw commented on #1762
@dualspiral It works! This was indeed the issue and adding "a" in the front let sponge start up again. Thank you!

[2017-09-05 17:43] #1762 closed, assigned to nobody

[2017-09-05 18:07] Liiw commented on #1492
As stated in #1762 I managed to finally upgrade Spongeforge to the latest version. I fired up the server and tested it. I had to physically travel to the Nether SG to "initialize" it after the update or something. After that, it worked with no problems- the gate would dial from either end and I could use pressure plates on both sides. I even restarted the server just to see if the problem reappera

[2017-09-05 18:42] ProsperCraft opened #1763 "Server crash -NPE- handler$onGetWorldInfo"
On first load, I am getting this crash, it does not happen without sponge.
It does not produce a crash report.

**I am currently running...**

- SpongeForge version: spongeforge-1.12.1-2444-7.0.0-BETA-2609
- Forge version: forge-1.12.1-14.22.0.2469-universal
- Java version: openjdk version "1.8.0_141"
- Operating System:

 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Pl

[2017-09-06 05:27] CaptainSisko opened #1764 "[1.10.2] Minefactory Reloaded Machines Crashing Server"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2610
- Forge version: forge-1.10.2-12.18.3.2422-universal.jar
- Java version: 1.8.0_131
- Operating System: Ubuntu 16.04.3 LTS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
All The Mods 1 (1.10.2)
https://hastebin.com/ehewigewix.py

**What is the expected result?**
Th

[2017-09-06 12:48] JBYoshi commented on #1761
Could you post the full log? Usually errors like this are actually caused by an earlier error.

[2017-09-07 00:15] Magi1053 commented on #1761
[code]

[2017-09-07 01:43] JBYoshi commented on #1761
Make sure you're using matching versions of Agricraft and InfinityLib.

[2017-09-07 02:28] Magi1053 commented on #1761
Neither agricraft or infinitylib have been updated since July, so yes I have the the most up to date and matching version.

[2017-09-07 02:54] ghost opened #1765 "Chunk coordinates are not valid crash!"
Every teleport, this crash appears...
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2610
- Forge version: 1.10.2-2281
- Java version: 1.8.0_144
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Crash: https://pastebin.com/01HM2ELk

[2017-09-07 03:40] Deamon5550 commented on #1765
That chunk `-1874999, 1875000` is invalid so somewhere a check must be being bypassed to allow that chunk to be attempted to be generated.

[2017-09-07 16:56] b0bst3r commented on #1542
I know this issue is old but Better with Mods is going to hit 1.12 packs a lot with what it has to offer, I know of several already.  Sponge is just not an option for a pack with BTM in.  Don't suppose this can be fixed as a priority please?

[2017-09-08 04:19] Zytheus opened #1766 "[1.11.2] Ender Dragon Summoning Ritual never fires."
Issue : After killing the Ender Dragon, I am unable to respawn it using the Vanilla method of placing 4 End Crystals around the Exit Portal. The method works fine without SpongeForge being loaded.  I am unable to figure out what is preventing the summoning ritual event.

Mods/Client Info : Run on MC forge-1.11.2-13.20.1.2393 + spongeforge-1.11.2-2393-6.1.0-BETA-2606

OS: Windows 10

Logs : https:/

[2017-09-08 04:20] liach commented on #1766
Might these be relevant?
[code]

[2017-09-08 04:33] Zytheus commented on #1766
That was simply the world checking for the Pre 1.9 fights. That is a normal log. If I kill the ender dragon, the log will simply say "The dragon has already been killed in this world." but won't actually change anything. Due to the lack of logs, I feel as if it may be a config issue, but I scanned the thing and find no mention of the Exit Portal.

[2017-09-08 12:44] yuanjie000 opened #1767 "Cost too much time to load zenscripts files"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2610
- Forge version: forge-1.10.2-12.18.3.2422-universal
- Java version: 1.8.0_131-b11
- Operating System: Windows Server 2012 R2 Standard

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
Using the "Age of Engineering" modpack version(1.1.0), (I split the scripts file i

[2017-09-08 12:46] phit commented on #1767
did you test this with vanilla forge?

also the normal AoE scripts are way more than 4 files, why did you change this?

[2017-09-08 12:48] yuanjie000 commented on #1767
yes, it runs perfect in a forge server.
I think it may be because the file too much lead to the slow loading, the results are no difference

[2017-09-09 09:56] yepidoodles commented on #1467
Took a while (Always crashes when you don't want it to, doesn't crash when you do, haha)

I think it's the same crash
https://pastebin.com/Va9ajYeW

[2017-09-09 14:39] Magi1053 commented on #1761
Update to latest source fixes issue

[2017-09-09 14:39] #1761 closed, assigned to nobody

[2017-09-10 14:23] Keaton1188 opened #1768 "AoE - Scrap Box Dupe"
Hi all, having a issue on our Age of Engineering server, when you right click a scrap box its meant to drop the item and remove the scrap box from your inventory, well thats not the case, its dropping the item but keeping the box in your inv letting you get lots of items over and over.

Doesn't happen on Single Player.

SpongeForge
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1

[2017-09-10 14:29] Aaron1011 commented on #1768
Duplicate of #1066

[2017-09-10 14:29] #1768 closed, assigned to nobody

[2017-09-10 19:01] #1677 closed, assigned to dualspiral

[2017-09-12 03:53] CaptainSisko commented on #1764
This issue has been reported on the MFR Issue Tracker by another person as well.

https://github.com/skyboy/MineFactoryReloaded/issues/670

That person is also using spongeforge-1.10.2-2281-5.2.0-BETA-2610.

[2017-09-12 20:52] bloodmc commented on #1764
CoFH is doing some ASM hackery that expects all our methods to be public in WorldServer. Put it in a ticket with them as they should be able to fix this.

[2017-09-13 01:14] bloodmc commented on #1764
@CaptainSisko So I'll work on a fix for this and hope CoFH can improve their ASM =). Expect a fix soon.

[2017-09-13 02:37] #1764 closed, assigned to nobody

[2017-09-13 10:05] ozm8 opened #1769 "server crashes when flying/exploring out into the world"
**I am currently running...**

- SpongeForge version:  spongeforge-1.10.2-2281-5.2.0-BETA-2610
- Forge version:  forge-1.10.2-12.18.3.2281-universal
- Java version:  8
- Operating System: centos7 64bit

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

blob:https://imgur.com/a4f3508b-e88a-4e30-8c97-8d1b51e657f2

Crash report: https://pastebin.com/eJ82B3v6

[2017-09-13 13:16] bloodmc commented on #1769
Update to latest and retest

[2017-09-14 04:18] CaptainSisko commented on #1764
Just got around to being able to test this out but it doesnt appear to have fixed this issue.

I have a new crash-log here https://hastebin.com/kozafituxa.scala

I havent ticketed CoFH about this yet but i will now if you still want me to.

[2017-09-14 09:00] ozm8 commented on #1769
Ok i updated to 1.11.2 sponge forge, forge, mods and sponge plugins and new world but still happens.

https://pastebin.com/XXUn78UD

[2017-09-14 12:31] bloodmc commented on #1769
Wait are you flying at normal speed? Because this doesn't make any sense.

[2017-09-14 13:46] ozm8 commented on #1769
nah when i test it at like /speed 5-10 and start going out into the world it crashes the server.

[2017-09-14 13:50] bloodmc commented on #1769
What are the specs of this server? It seems as if the server just cant handle async lighting requests at a good enough pace and lags behind. Remove all mods/plugins except LP/Nucleus and retest in a clean world.

[2017-09-14 13:52] CaptainSisko opened #1770 "[1.10.2] NetherPortalFix Compatibility Issues"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2625
- Forge version: forge-1.10.2-12.18.3.2422-universal.jar
- Java version: 1.8.0_131
- Operating System: Ubuntu 16.04.3 LTS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
All The Mods 1 (1.10.2)
https://hastebin.com/ehewigewix.py

**What is the expected result?**
Th

[2017-09-14 15:15] Zidane commented on #1770
As I mentioned on that issue, the author is re-creating server logic for transporting entities/players to other dimensions:

https://github.com/blay09/NetherPortalFix/blob/1.12/src/main/java/net/blay09/mods/netherportalfix/NetherPortalFix.java#L108

We cannot support a mod who performs their own logic over the server.

[2017-09-14 15:17] ozm8 commented on #1769
well i just got another vps i used for my spigot server and its got 16gb of ram though im only allocating 10gb to it and 6 cpu cores. its a vps from vultr

[2017-09-14 15:39] bloodmc commented on #1769
OK replicate with LP/Nucleus only in a clean world then list the steps you took to make the bug happen.

[2017-09-14 15:47] ozm8 commented on #1769
we tried with just forge sponge and Nucleus  and was unable to crash it and the world was loading faster too while going at speed 10

[2017-09-14 15:53] bloodmc commented on #1769
@ozm8 Figure out what mod/plugin breaks it by adding what you had one by one then let me know.

[2017-09-14 15:56] ozm8 commented on #1769
ok well i removed -XX:+UseG1GC from the java startup falgs which is what I used when i was using a spigot server and i enabled all mod and pluigins and it hasn't crashed for some reason. weird

[2017-09-14 16:16] LuxusDarkangel commented on #937
This is still happening in 1.12.1 with Biomes O' Plenty, and probably with other mods with custom world generation, so let's try and throw some light.

@bloodmc Let's see if this helps you to reproduce it:
Mods used in this test:
- SpongeForge 2624 (Latest)
- Biomes O' Plenty 7.0.0.2291 (Latest, from Maven repository)
- Forge 14.22.1.2479 (Latest)

Steps to reproduce the bug:
1.- Install the above

[2017-09-14 16:39] bloodmc commented on #1769
Interesting, can you always reproduce when you use that flag?

[2017-09-14 16:41] FiveEYZ commented on #1769
Try check ram usage before the server crash, reading the last comment got me thinking...
I'm kind of having the same issue, except I'm not crashing.

Maybe some other flag I'm using makes it able to not crash (or something).

Using ` -XX:+UseG1GC`  ram usage goes crazy high when ppl explore
[![Screenshot from Gyazo](https://gyazo.com/e678158e26b4e833d75fb296f512eb86/raw)](https://gyazo.com/e678158

[2017-09-14 16:45] bloodmc commented on #1769
@FiveEYZ Can you describe the RAM usage you get with both flags?

[2017-09-14 16:55] kwpugh opened #1771 "[1.12.1] Server crashing when Tinkers axe breaks any tree"
Forge: 2479
SpongeForge: 2624 for forge 2479
Tinkers: 2.7.3.30
Mantle: 1.3.1.21

Server crashes as log breaks using a Tinkers Contruct lumber axe on any tree

Report: https://gist.github.com/kwpugh/ad76b47e4a3628c3126b41baf513ac17

[2017-09-15 00:59] bloodmc commented on #1770
There were a few issues I noticed that could break mods including this one so I'll reopen ticket until I push some fixes.

[2017-09-15 03:55] #1770 closed, assigned to nobody

[2017-09-15 13:49] bloodmc commented on #1763
Once the mod's command name is fixed to not contain spaces and be lowercase, it will no longer crash. Wait for mod to fix.

[2017-09-15 13:51] bloodmc commented on #1763
Keeping this open so we can autocorrect bad command names instead of crashing.

[2017-09-15 13:51] phit commented on #1763
he is talking about this log https://gist.github.com/ProsperCraft/900a01dd813183ea4389d93ea9f0a00c
the command thing was already fixed from the mod

[2017-09-15 14:46] bloodmc commented on #1763
I don't have this crash issue with latest SF 1.12.1, ElementalDimensions and ElecCore.

[2017-09-15 14:49] phit commented on #1763
because it has nothing to do with those mods? this issue is about signposts, he just sucks at making that clear since he never linked the actual log he cares about in here

[2017-09-15 15:44] bloodmc commented on #1634
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/e61a7d204c574f1383cbd1a4b1ba9c16b000a547

[2017-09-15 15:44] #1634 closed, assigned to kashike

[2017-09-15 15:54] bloodmc commented on #1763
Tested latest SF with signpost and could not reproduce crash. Create a new ticket with EXACT steps on how to reproduce. Also do not reference completely different mods in ticket.

[2017-09-15 15:54] #1763 closed, assigned to nobody

[2017-09-15 15:56] bloodmc commented on #1742
Closing as dev says it is now fixed. Create a new ticket if problem persists.

[2017-09-15 15:56] #1742 closed, assigned to stephan-gh

[2017-09-15 15:56] bloodmc commented on #1709
Closing as it cannot be reproduced.

[2017-09-15 15:56] #1709 closed, assigned to nobody

[2017-09-15 16:01] bloodmc commented on #1740
Closing as this should be resolved in latest.

[2017-09-15 16:01] #1740 closed, assigned to Faithcaio

[2017-09-15 17:52] Zidane commented on #1745
Closing due to lack of feedback.

[2017-09-15 17:52] #1745 closed, assigned to nobody

[2017-09-15 17:52] Zidane commented on #1743
No information provided at all...no mods...no plugins...no nothing so no support.

[2017-09-15 17:52] #1743 closed, assigned to nobody

[2017-09-15 18:00] bloodmc commented on #1757
@RileyGuy Provide a test world with steps to reproduce. Make sure to use latest SpongeForge build when testing.

[2017-09-15 18:17] Zidane commented on #1705
No response so closing.

[2017-09-15 18:17] #1705 closed, assigned to nobody

[2017-09-15 18:21] BlueCyro commented on #1757
@bloodmc Terribly sorry, this was a user error and not an error with Sponge. The Forge version used was the latest whereas this Sponge version was built with Forge 2444. After reverting to the appropriate version the crashes stopped and expected behavior resumed. I might not be able to provide a test world since I don't know if I have the mod pack anymore and the mod pack was custom so I don't kno

[2017-09-15 19:36] bloodmc commented on #1643
@hunter688 Can you figure out what mod is breaking this?

[2017-09-15 19:59] bloodmc commented on #1637
Anyone able to provide a test world that has this issue with as few mods as possible?

[2017-09-15 20:00] bloodmc commented on #1527
Closing as it should be resolved in latest BC builds.

[2017-09-15 20:00] #1527 closed, assigned to gabizou

[2017-09-15 20:49] BlueCyro commented on #1757
If I might also add, I don't know if a test world is really necessary as it happens on any world whilst generating rftools dimensions most of the time. However as I've said, it resolves itself when using the appropriate Forge version. It's just the latest that it's incompatible with.

[2017-09-15 21:03] #937 closed

[2017-09-15 21:05] bloodmc commented on #937
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/bacfb232c62a173fb2718e12964a4e986d77e968

[2017-09-15 22:38] bloodmc commented on #670
@LuxusDarkangel Can you please provide a test world and steps to reproduce this issue.

[2017-09-15 22:39] bloodmc commented on #883
@Aaron1011 See if you can track down this bug and fix.

[2017-09-15 22:40] bloodmc commented on #1086
This shouldn't be happening on latest builds. Create a new ticket if it persists.

[2017-09-15 22:40] #1086 closed, assigned to nobody

[2017-09-15 22:41] phit commented on #1767
I can't reproduce this on my own AoE server using the latest pack version (1.1.1b) and SpongeForge (5.2.0-BETA-2632). My server is on Linux though, might be a Windows issue?

[2017-09-15 23:00] bloodmc commented on #1082
Unable to reproduce with latest SF and chisel builds.

[2017-09-15 23:00] #1082 closed, assigned to nobody

[2017-09-15 23:03] bloodmc commented on #1229
This shouldn't be happening with latest Forge and SF builds. Reopen ticket if it does.

[2017-09-15 23:03] #1229 closed, assigned to Aaron1011

[2017-09-15 23:12] bloodmc commented on #1254
This is a vanilla bug which was supposedly fixed in 1.11.2. Just use a protection plugin to block the explosion of chests.

[2017-09-15 23:12] #1254 closed, assigned to nobody

[2017-09-15 23:13] #1302 closed, assigned to nobody

[2017-09-15 23:31] Deamon5550 commented on #1767
Use a profiler to see where the time is going, no way to debug this otherwise espeically if we can't reproduce it.

[2017-09-15 23:53] phit commented on #1756
@mumfrey not a mystery its a Duplicate of #1654
sponge doesn't work with the new minecraft launcher

[2017-09-15 23:55] LuxusDarkangel commented on #670
Oh, I forgot this issue was still open. I tested it in 1.12.1 with SpongeForge 2634 and works fine. This was probably fixed in 1.10 with a bunch of bugs of the same type.

[2017-09-15 23:55] #670 closed

[2017-09-16 00:10] #1349 closed, assigned to nobody

[2017-09-16 00:11] #1637 closed, assigned to Zidane

[2017-09-16 06:01] Zytheus commented on #1766
Hello :( ?

[2017-09-16 07:03] yuanjie000 commented on #1767
Here has some sampling Snapshot of server and logs. AoE pack version (1.1.1)
Once I use profiler it did not responding. [files.zip](https://github.com/SpongePowered/SpongeForge/files/1308148/files.zip)
when i use my own pc to run the server, everything is normal. (win10 15063.608)
But Windows Server not. (Windows Server 2012 R2 Standard)
might be a Windows server issue?

[2017-09-16 08:31] ghost commented on #1643
I think its due mod which modify nether, in my case Biomes O Plenty and Tinkers Construct.

[2017-09-16 16:26] dmarcuse commented on #1643
I was having the same issue but I didn't have Biomes O Plenty, only TiCon.

[2017-09-16 18:01] phit commented on #1771
pretty annoying bug, this worked in 1.10 and 1.11

https://gist.github.com/phit/526b1611db38b736c77f9087c5cf8a18

[2017-09-16 23:43] bloodmc commented on #1757
@RileyGuy Does it work without SpongeForge and latest Forge version?

[2017-09-17 00:40] Keaton1188 opened #1773 "Sf3 - Exception attempting to capture or spawn an Entity"
Hi all, Just noticed our SF3 is spamming about Capture or spawn an Entity.

https://pastebin.com/1smzS5s0

SpongeForge:
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-c675e80
SpongeForge: 1.10.2-2281-5.2.0-BETA-2620
Minecraft Forge: 12.18.3.2254

Also spamming this - https://pastebin.com/F09uwQUh