[2017-05-04 22:01] Sunconure11 commented on #1461
Any news regarding this issue? Users keep inadvertently triggering this issue on my server (for 1.10.2, that is)

[2017-05-04 22:34] pau101 commented on #1461
I've replied on the other issue https://github.com/BobMowzie/MowziesMobs/issues/2#issuecomment-298141026

[2017-05-04 22:37] Sunconure11 commented on #1461
I saw. The issue is just getting bothersome, that is all.

[2017-05-05 01:10] gabizou commented on #1461
@bloodmc didn't your commit from a few days ago resolve this?

[2017-05-05 04:16] #1461 closed, assigned to nobody

[2017-05-05 06:15] loveyanbei commented on #1457
+1
StackOverflowError with sponge
No problem with raw forge

[2017-05-05 12:05] Sitherious commented on #1488
your using the wrong forge or sponge forge, try updating your forge to 12.18.3.2281.

forge and sponge need to be the same version numbers as spongeforge is built off of a certain build of forge.

[2017-05-05 12:14] ktole1999 commented on #1488
i was told it was recommended not required.

[2017-05-05 12:19] phit commented on #1488
yeah definitely not required and it won't fix your issue
this is also a dupe of a bunch of other issues https://github.com/SpongePowered/SpongeForge/issues?utf8=%E2%9C%93&q=quarry

[2017-05-05 12:21] Sitherious commented on #1488
also have you posted in the mod about this ? https://github.com/rwtema/extrautilities/issues

[2017-05-05 12:24] phit commented on #1488
rwtema doesn't even check that tracker and it's been reported a [bunch of times](https://github.com/rwtema/extrautilities/issues?utf8=%E2%9C%93&q=sponge) there.. use the search

[2017-05-05 15:35] johnfriedrich commented on #1480
Same with SF 2300

[2017-05-05 17:23] Whazaaaaa opened #1490 "AE2 crashes server right after startup"
My Server crashes right after the modpack has loaded up and people are able to join. I have removed spongeforge and doing this solved the issue without it crashing which made me believe it is a sponge issue. Note that it crashes without any players online.

**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2303
- Forge version: FTBserver-1.10.2-12.18.3.2254-un

[2017-05-05 19:37] gabizou commented on #1490
Your crash logs are showing older versions than the version you're mentioning in the issue. The last fml-server.log is showing the *updated version* but doesn't even show that it crashes. Please reproduce the crash log on the ***new*** version of SpongeForge and paste it please :).

[2017-05-05 20:18] Sunconure11 opened #1491 "Possible incompatibility with Astral Sorcery"
It seems after fixing my entity-related error, another one was found.

https://pastebin.com/smWUXG04

[2017-05-05 20:20] phit commented on #1490
it does, starts line 45095

[2017-05-05 20:22] Liiw opened #1492 "SG Craft interdimensional travel"
Hello!

I am using [SG Craft](https://minecraft.curseforge.com/projects/sg-craft) on a 1.10.2 Spongeforge server with numerous other mods. I have run into an issue when trying to access the Nether:

Upon building the nether gate, I managed to successfully return to the overworld using it. After a while, when I tried to return, the controller informed me that there is no gate on the address specifi

[2017-05-05 20:32] Sunconure11 commented on #1491
It turned out to be some corrupted data, but I'll leave this open anyways, just in case something else can be gleamed from the error.

[2017-05-05 20:56] Whazaaaaa commented on #1490
Perhaps I added a fml from a different server
this is the correct one: https://gist.github.com/Whazaaaaa/7b5ae9a28fdf3fbbf793105c5d860a38
This is straight from my ftp. So if it somehow still looks like its not the version as stated above. Trust me it is: spongeforge-1.10.2-2281-5.2.0-BETA-2303.
http://image.prntscr.com/image/2051ab3322474efe8e41a2f53052f372.png

Edit just noticed the 2 gists are t

[2017-05-06 04:29] DrZoddiak commented on #1466
I'm having a similar issue. Below I've put my crash report (top) and the fml-server-latest (bottom)
This was run on a server with only XU2 and sponge

https://pastebin.com/37RQgLiw

https://pastebin.com/HFpr25LE

[2017-05-06 04:33] bloodmc commented on #1466
@DrZoddiak Stop using pastebin as it strips files that are too long. Use gist.github.com

[2017-05-06 05:35] DrZoddiak commented on #1466
My bad I had no idea!
same separation as before crash report (top) fml (bottom) sorry for that!
https://gist.github.com/DrZoddiak/f88bf2b3c89f6c9dbb5b14e0b1426749
https://gist.github.com/DrZoddiak/927cc72280a1730573bf8155e7be6f5d

[2017-05-06 05:39] bloodmc commented on #1466
@DrZoddiak

spongeforge-1.10.2-2254-5.2.0-BETA-2264.jar
You will not be supported unless you are running latest SpongeForge builds. Update then post a new log.

[2017-05-06 05:42] bloodmc commented on #1490
@Whazaaaaa Provide a copy of your world zipped.

[2017-05-06 05:52] DrZoddiak commented on #1466
Oh dear my bad again! The only reason I ran the test was because it wasn't working on the new version, I forgot to load it into the test!
Here's the files (again) with the latest version sorry!

https://gist.github.com/DrZoddiak/c734671287378aab226ceb15cb4bc030
https://gist.github.com/DrZoddiak/922725c150d3a5f128f68e9e865bbd70

[2017-05-06 08:44] LemADEC opened #1493 "Vanilla beacon applying AbyssalCraft Plague potion effect"
**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2300
- Forge version: 1.10.2-forge1.10.2-12.18.3.2281
- Java version: 1.8.0_92
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods:
AbyssalCraft-1.10.2-1.9.4-pre-2

**What is the expected result?**
1- Place a tier vanilla beacon (9 diamond block + 1 beacon o

[2017-05-06 09:44] Whazaaaaa commented on #1490
@bloodmc https://whazaaaaa.stackstorage.com/s/DiySJUcrcc1XqWL
This is my world in zip. Beware it is already 5gb big so with this host it will take 20-30 min to download I think.
Thanks for looking into this!

[2017-05-06 10:05] Yann151924 commented on #1368
When i use the spongeforge-1.10.2-2254-5.2.0-BETA-2236 , the quantum don't crash and don't freeze my server. If it could help.
But when other version the server freeze or crash.

[2017-05-06 12:25] LIRIKKER commented on #1488
#1468 Duplicate Bug Report. Check before you post

[2017-05-06 17:56] Whazaaaaa commented on #1490
Any progress on this issue? I'm trying to decide what to do with my server because currently I have it set to offline because i'm kind of dependable on sponge.
My question is if it is possible to be fixed the next 1-2 days or if I'll have to find another way to get my server running with sponge again.
I'm also available on Discord for quicker/direct responses 'Whazaaaaa#7259' I am in the SpongePow

[2017-05-06 18:35] Whazaaaaa commented on #1490
Just started my server again and it has seemed to fix itself. All we did was remove sponge and fly around to find a problem. So I have no idea what fixed it...

[2017-05-06 18:35] #1490 closed, assigned to nobody

[2017-05-06 19:11] merjilin opened #1494 "A few chunks not unloading correctly and causing intense tick issues."
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2303
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: 1.8.0_121
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied Energistics 2 Core, Aroma1997Co

[2017-05-06 22:13] bloodmc commented on #1494
Figure out the EXACT build that is causing the issue then update ticket.

[2017-05-06 23:10] #1225 closed, assigned to nobody

[2017-05-07 16:14] Noppes commented on #1333
Im having the same issue
`java.lang.AbstractMethodError: noppes.npcs.NoppesUtilServer$1$1.asCommandSource()Lorg/spongepowered/api/command/CommandSource;
     org.spongepowered.common.command.WrapperCommandSource.of(WrapperCommandSource.java:116)
     net.minecraft.command.ServerCommandManager.func_71556_a(SourceFile:1082)
     net.minecraft.tileentity.CommandBlockBaseLogic.func_145755_a(SourceFile

[2017-05-07 16:24] caunt opened #1495 "SpongeForge error (setBlock() in ChangeBlockEvent.Break)"
I have
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2306
- Forge version: 12.18.3.2281
- Java version: 8
- Operating System: Ubuntu 16.04

My source code:
https://pastebin.com/4iN62riW

And sponge flood this error in console when something break blocks:
https://pastebin.com/KBnNPtQm

[2017-05-07 16:50] Noppes opened #1496 "WrapperCommandSource errors"
My mod uses a custom CommandBlockBaseLogic which sponge seems to have issues with.

Sponge 1.10.2-2281-5.2.0-BETA-2292

[code]

[2017-05-07 16:55] ghost opened #1497 "Sponge crashes FTB Beyond Server"
Hello. Thank you for reading. I am running a FTB Beyond server and trying to install plugins using Sponge. On startup it just crashes and gives an error.(Log Below) Thanks!

**I am currently running Sponge with FTB Beyond on my server**
- SpongeForge version: spongeforge-1.10.2-2254-5.2.0-BETA-2254
- Forge version: FTBserver-1.10.2-12.18.3.2254-universal
- Operating System:
 - [ ] Linux (Ubuntu, D

[2017-05-07 16:59] phit commented on #1497
See #966 & https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2482

Use this Applied Energistics [fork](https://github.com/Stonebound/Applied-Energistics-2#about) or [SpongeBootstrap](https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275)

[2017-05-07 18:24] caunt commented on #1495
Changing event to ChangeBlockEvent.Pre helped for me. But it need fix, or more info for devs in error log

[2017-05-07 18:24] #1495 closed, assigned to nobody

[2017-05-08 04:49] #1497 closed, assigned to nobody

[2017-05-08 11:23] JBYoshi commented on #1496
Duplicate of #1333.

[2017-05-08 16:35] #1496 closed, assigned to nobody

[2017-05-08 16:53] Noppes commented on #1496
The other one is marked as incompatablity with a specific mod. Its not labeled either?

[2017-05-08 16:54] gabizou commented on #1491
This is just corrupted data from deserializing NBT, nothing that sponge could do on it's own. Thanks for the report though!

[2017-05-08 16:54] #1491 closed, assigned to nobody

[2017-05-08 17:55] stephan-gh commented on #1496
@Noppes The cause is the same, it affects multiple mods.

[2017-05-08 21:06] gabizou commented on #1457
We can't really "fix" this issue as it's an issue with NuclearCraft calling recursive methods by overriding `getTileData()`, which is commented out on NuclearCraft's 1.10.2 branch as marked [here](https://github.com/turbodiesel4598/NuclearCraft/blob/1.10.2/src/main/java/nc/tile/NCTile.java#L56). The issue is that Sponge cannot avoid this as we need to be able to retrieve the internal NBTTagCompoun

[2017-05-08 21:06] #1457 closed, assigned to nobody

[2017-05-08 21:44] Eufranio opened #1498 "Botania boss (Guardian of Gaia) won't start a battle until the player move"
In the Botania mod, there is a boss called [Guardian of Gaia](https://github.com/Vazkii/Botania/blob/1.10-final/src/main/java/vazkii/botania/common/entity/EntityDoppleganger.java), which can be summoned with an ritual. On singleplayer or on a pure forge server, once the boss is summonned, it starts to teleport and spawn pixies to hit the player, but when Sponge is loaded, the Guardian will do noth

[2017-05-09 08:45] SynexWolf commented on #1343
Hey @KaneHart , How did you disable async lighting?

[2017-05-09 08:57] StoneLegion commented on #1343
@Lt1489 it's via the sponge config. Just search it should be easily found in there.

[2017-05-09 09:14] SynexWolf commented on #1343
Thanks @KaneHart found it.

[2017-05-09 10:40] cfulton commented on #1489
Hey guys, getting this issue as well.

Here are the details from the crash report

`---- Minecraft Crash Report ----

WARNING: coremods are present:
  IvToolkit (IvToolkit-1.3.2.1-1.10.jar)
  SpongeCoremod (spongeforge-1.10.2-2281-5.2.0-BETA-2312.jar)
  Do not report to Forge! Remove FoamFixAPI (or replace with FoamFixAPI-Lawful) and try again. (foamfix-0.6.2-beta4-anarchy.jar)
Contact their autho

[2017-05-09 13:41] Rongmario commented on #1457
Bit late... He's already fixed it, jesus this speed.

[2017-05-10 02:30] Grauldon commented on #1489
This [post][a] in the forum may help.

https://forums.spongepowered.org/t/sponge-server-crash/18780

[a]: <https://forums.spongepowered.org/t/sponge-server-crash/18780>

[2017-05-10 04:14] Grauldon commented on #1470
Hello @NocturnalSergal

I'm not real experienced at this, but I'm getting back into coding/debugging and I hope this helps.

My first observation is you are running Forge Mod Loader version 12.18.3.**2254** with spongeforge-1.10.2-**2281**-5.2.0-BETA-2274.jar.  The version of FML does not match SpongeForge.  Getting the 12.18.3.2281 of FML may solve the problem.

In addition, I noticed while verif

[2017-05-10 06:56] Fortcraft opened #1499 "Issues with server starting up"
[crash-2017-05-10_01.41.29-server.txt](https://github.com/SpongePowered/SpongeForge/files/988893/crash-2017-05-10_01.41.29-server.txt)
That's the crash log and disabling sponge fixes the issue. I'd like some help.

[2017-05-10 12:01] NocturnalSergal commented on #1470
Yeah I noticed the version mismatch and I downloaded the version of
SpongeForge corresponding since I didn't want to break more shit

On May 10, 2017 12:14 AM, "coderecess" <notifications@github.com> wrote:

[2017-05-10 14:45] #1343 closed, assigned to gabizou, bloodmc

[2017-05-10 16:46] simon816 commented on #1457
Forgot to mention it here, but just FYI I wrote an explanation of the problem on this forum post: https://forums.spongepowered.org/t/crash-on-wither-spawn/18603/4?u=simon816

[2017-05-10 17:39] bloodmc commented on #1484
Remove TrashSlot since it is not compatible with Sponge due to its major hack to inject its trash slot into a player's inventory.

[2017-05-10 17:39] #1484 closed, assigned to nobody

[2017-05-11 06:54] #1368 closed, assigned to nobody

[2017-05-11 06:55] #1378 closed, assigned to nobody

[2017-05-11 06:56] #1410 closed, assigned to nobody

[2017-05-11 06:56] #1440 closed, assigned to nobody

[2017-05-11 06:57] #1466 closed, assigned to bloodmc

[2017-05-11 06:57] #1468 closed, assigned to nobody

[2017-05-11 06:57] #1480 closed, assigned to nobody

[2017-05-11 06:57] #1488 closed, assigned to nobody

[2017-05-11 07:07] ghost commented on #1494
Output of sponge timings should be useful, I had similar problems with EnderIO (mod author ignore bug https://github.com/SleepyTrousers/EnderIO/issues/4037)

[2017-05-11 07:42] ghost commented on #1499
In the world directory you need remove zero size files level_sponge.dat or overwrite from backups.

[2017-05-11 21:54] Sunconure11 opened #1500 "Psi spellcaster interfaces and Ars Magica 2 Inscription Tables sometimes lose data"
A similar issue happens with Ars Magica 2, in particular, with the inscription table, preventing players from saving their spells to be worked on later.

This issue seems to be common on my spongeforge-based server, as reported by various players. However, I cannot get enough details, unfortunately, though I've seen it with Psi, spells will sometimes refuse to apply themselves to bullets and what

[2017-05-11 22:46] Keaton1188 opened #1501 "Beyond - Quantum Quarry issue"
Hi all, recently quarries were fixed and all is working fine, except the main thing really.
The quarry only mines Cobblestone and Dirt.. and nothing else, if you put a filter upgrade on it, it just continues to mine blocks but not give anything but cobble or dirt.

This is happening on our Beyond server, not tested any other yet.

NOTE -  Have tried removing the ExtraUtils2 folder in config/sponge

[2017-05-11 23:49] gabizou commented on #1500
Half of this has no meaning to us Sponge developers. IF you can explain what you mean by "the spell caster interface will sometimes blank itself." and "spells will refuse to apply themselves to bullets", because this has little meaning otherwise.

[2017-05-11 23:53] Eufranio commented on #1500
The spellcaster interface is a block added by the Psi mod, you can build spells there (adding effects and stuff). He wants to say that this block loses its data sometimes, but I personally dont have this issue in any of my servers.

[2017-05-12 00:29] Sunconure11 commented on #1500
@Eufranio is correct. Something similar happens to the Inscription Table from Ars Magica 2 (according to some players) as well. I have no clue WTF is going on.

I'm sorry for the vague nature, as I cannot get any more info aside from literally that. I managed to replicate the issue with Psi, but it's still kind of vague in terms of what info I can get from it. No crashes. No abnormal logs.

I feel

[2017-05-12 01:28] bloodmc commented on #1501
@Keaton1188 I tested with 3 quantum quarries and received some blocks that weren't dirt/cobblestone. However most were but the same exact thing happened in SinglePlayer Forge without SpongeForge so the issue seems to be with the mod.

https://github.com/rwtema/extrautilities/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20quarry

Many tickets already reported with mining blocks using the quantum

[2017-05-12 02:25] FiveEYZ commented on #1501
check what biome u are mining from cause this is what i get https://gyazo.com/1b287773695c0e74e8287e8ac22405f3

[2017-05-12 02:48] bloodmc commented on #1501
@FiveEYZ Thanks for info! So it is definitely working =) Report any mining output issues based on biomes here
https://github.com/rwtema/extrautilities/issues

Closing as this is not a SpongeForge issue.

[2017-05-12 02:48] #1501 closed, assigned to nobody

[2017-05-12 02:50] bloodmc commented on #1486
ExtraUtilities was fixed, update to latest SpongeForge build. Morpheus ticket is a dupe of https://github.com/SpongePowered/SpongeForge/issues/830

Please do not duplicate tickets.

[2017-05-12 02:50] #1486 closed, assigned to nobody

[2017-05-12 02:52] bloodmc commented on #1470
@NocturnalSergal Update to latest SpongeForge, you do NOT have to match the Forge build. If you experience the issue with latest build, post the fml-server-latest.log file here.

[2017-05-12 02:55] bloodmc commented on #1498
Edit your sponge global config and make sure the gaia boss is ignoring entity activation range rules.

[2017-05-12 02:55] #1498 closed, assigned to nobody

[2017-05-12 03:05] bloodmc commented on #1465
@DrakeEldridge Update to latest SpongeForge and retest. Make sure to provide complete logs.

[2017-05-12 03:06] bloodmc commented on #1492
@Liiw Update to latest SpongeForge and retest. Make sure to include logs.

[2017-05-12 03:40] bloodmc commented on #1482
dupe #1459

[2017-05-12 03:40] #1482 closed, assigned to nobody

[2017-05-12 12:27] Hodel1 opened #1502 "Extra Utilities 2 - further Quantum Quarry Servercrash"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2317
- Forge version: 2281
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

We've updated the SpongeForge Version to the latest today (see below) and would testing now the quantum quarry. We had used this introductions: https://github.com/SpongePowered/SpongeForg

[2017-05-12 12:43] FiveEYZ commented on #1502
u gotta update ExtraUltilties2 to 1.4+ to fix this

or simply just update ur server to the latest "release" of FTB Beyond 1.6.1

[2017-05-12 13:26] Hodel1 commented on #1502
Thanks for your reply :)
We will update soon

[2017-05-12 13:29] bloodmc commented on #1502
Not a SpongeForge problem. Update to latest ExtraUtilities 2 build as FiveEYZ mentioned.

[2017-05-12 13:29] #1502 closed, assigned to nobody

[2017-05-12 15:35] Syvered opened #1503 "Pixelmon Spawner doesn't work as of version 1.10.2-2281-5.2.0-BETA-2317."
What I **WAS** running:

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2317 <- Where the Pixelmon Spawner didnt work.
- Forge version: 12.18.3.2185 for Minecraft 1.10.2
- Java version: 1.8.0
- Operating System: Windows

- Plugins/Mods:
   - AdventureMMO
   - Pixelmon Mod
   - FlexibleLogin
   - GriefPrevention
   - LuckPerms
   - Nucleus

Pixelmon Spawners should spawn pokémon around them. However

[2017-05-12 16:54] merjilin commented on #1494
aha! Thanks for that prompt. I just updated my beyond server and it seems to no longer cause any issues on the newest spongeforge.

[2017-05-12 16:54] #1494 closed, assigned to nobody

[2017-05-12 17:44] #1503 closed, assigned to nobody

[2017-05-12 20:45] FiveEYZ commented on #1502
im sorry to say this but its still crashing with extrautils2-1.10.2-1.4.1
it just happen on my dw20 test server when i was going to check another crash im having, then this happen

https://gist.github.com/FiveEYZ/b03d83416edf669a765efc66bc63106b

[2017-05-12 21:19] phit commented on #1502
yeah, that is not Sponge's fault, I already went over that with blood before the quarry broke completely https://github.com/SpongePowered/SpongeForge/issues/1158#issuecomment-281771565

[2017-05-12 21:35] Sunconure11 commented on #1500
Looks like the issue cleared up with later versions of sponge. Closing.

[2017-05-12 21:35] #1500 closed, assigned to nobody

[2017-05-13 16:36] ghost opened #1504 "Server Crashes When Booting up"
Hello. I am running a sever on windows 10. I am using Sponge with FTB Beyond and I keep getting this error. I do have plugins installed
https://gist.github.com/Solarmender/b4327561876acbc6b11a7e788756695f

Any Help is appreciated! thanks!

[2017-05-13 17:05] phit commented on #1504
update sponge to latest
https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2

[2017-05-13 19:44] Zerthick opened #1505 "Entites filtered in DropItemEvent.Dispense and DropItemEvent.Destruct are still removed from inventories"
**I am currently running...**
- SpongeForge version: 1.11.2-2282-6.0.0-BETA-2297
- Forge version: 1.11.2-13.20.0.2282
- Java version: 1.8.0_45
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

**What is the expected result?**
The expected result is that if an entity, such as an `itemstack` is filtered from the event using `filterEntities()`, not only shoul

[2017-05-13 20:03] Ale32bit opened #1506 "Error while running /help"
**I am currently running...**

- SpongeForge version: 1.10.2-2123-6.0.0-BETA-1902
- Forge version: 1.10.2-12.18.3.2297
- Java version: 1.8.0_121
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Unborked Core, <CCTweaks ASM>, ComputerCraft, CCTweaks

[2017-05-13 20:08] dogboy21 commented on #1505
Maybe related to SpongePowered/SpongeAPI#1403

[2017-05-13 23:48] Keaton1188 opened #1507 "Client Logging Issue"
Hi all, we have been having a issue on our servers for some time now.

What it is, if you log out on a manually generated world and then try to log back in, it just won't let you, basically the server sees the client logging in but the client still thinks its in the logging process, maybe it does not receive some form of packet.

This is only a issue with Bungee, if you have a single servers its f

[2017-05-14 02:55] cc3768 opened #1508 "PlayerLens IndexOutOfBounds - on Player Login"
**I am currently running...**

- SpongeForge version: 1.11.2-2282-7.0.0-BETA-2323
- Forge version: 1.11.2-13.20.0.2296
- Java version: Version 8 Update 131
- Operating System: win 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
1.11.2 TFC2-0.2.1
Pam's HarvestCraft 1.11.2h
SpongeForge
**What is the expected result?**
Server Start Up and Ability to Login
*

[2017-05-14 04:13] EmanYm commented on #1508
Please use [pastebin](https://pastebin.com/) or [hastebin](https://hastebin.com) for logs.  It will make it far easier for someone to help if they are able to actually read your log.

[2017-05-14 04:23] Fortcraft commented on #1499
Didn't seem to work hmm...

[2017-05-14 07:18] mkrtes opened #1509 "Crash after login (Ender IO problem)"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2322
- Forge version: 12.18.3.2281
- Java version: 8
- Operating System:

 - [ x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods: EnderIO

Crashlog: https://pastebin.com/mCUi7wuN

Note @HenryLoenwind :
PS: Please report this to Sponge and add this information:
This crash cannot be fixed by Ender IO. Java

[2017-05-14 13:40] EmanYm opened #1510 "global.conf and sql"
**I am currently running...**
- SpongeForge version: [MC1.10.2]SpongeForge[v5.2.0β2320][Forge2281][S].jar
- Forge version: [MC1.10.2]Forge[v12.18.3.2297][U].jar
- Plugins/Mods: [Server thread/INFO]: Plugins (6): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge

- Details:
(I initially started this [on the forums](https://forums.spongepowered.org/t/half-sol

[2017-05-14 14:22] phit commented on #1510
you arent even naming the alias
[code]

[2017-05-14 14:22] dualspiral commented on #1510
[I posted on the forums as I figured that it would be more visible there](https://forums.spongepowered.org/t/half-solved-global-conf-and-mysql-persistent-issue/18849/9?u=dualspiral)

It's not obvious how this section is meant to work. The comment on the setting and probably Sponge Docs need updating to make it obvious.

[2017-05-14 14:28] EmanYm commented on #1510
Thank you Dualspiral.  Your post on the forum cleared up a whole lot.

[2017-05-14 14:28] #1510 closed, assigned to nobody

[2017-05-14 16:35] macman73 opened #1511 "Console output Crash when powering Ender IO Farming station"
I am currently running...

SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2322

Forge version: 12.18.3.2281

Java version: 8

Operating System:

[ x] Linux (Ubuntu, Debian, Fedora, etc)

Plugins/Mods: Various (Invasion Modpack)
Mods supplied in console output

**What is the expected result?**
Endio IO Farming station receives RF power

**What is the current result?**
Tried various methods

[2017-05-14 17:23] phit commented on #1511
dupe of #1509

[2017-05-14 17:24] phit commented on #1509
issue for reference SleepyTrousers/EnderIO/issues/4217

[2017-05-14 17:37] #1511 closed, assigned to nobody

[2017-05-14 17:41] phit commented on #1506
Your Sponge version is ancient, update and try to reproduce it again.

[2017-05-14 18:46] Fortcraft commented on #1499
[latest.txt](https://github.com/SpongePowered/SpongeForge/files/999635/latest.txt)
New Log
Trying to run with SF 3.0.9

[2017-05-14 18:48] phit commented on #1499
your level.dat is corrupted, restore it from a backup you hopefully have

[2017-05-14 19:03] Fortcraft commented on #1499
I deleted the level.dat as this is a new server and this is the new crash log
[latest1.txt](https://github.com/SpongePowered/SpongeForge/files/999643/latest1.txt)

[2017-05-14 19:04] phit commented on #1499
`/world/DIM-1/level.dat`

[2017-05-14 19:21] Fortcraft commented on #1499
Fixed by deleting all level.dat files in every folder

[2017-05-14 19:21] #1499 closed, assigned to nobody

[2017-05-15 16:56] axle2005 opened #1512 "Well of Suffering Crashes server with Villagers"
StackTrace:
[code]

[2017-05-15 17:08] gabizou commented on #1512
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1467

[2017-05-15 17:08] #1512 closed, assigned to nobody

[2017-05-15 17:09] gabizou commented on #1467
I'm going to put a lot of debugging code into villagers which will provide more information as to what is going on and why. It feels like after all the careful validation I have put into villagers to find the right career and registering them after finding the profession was not registered, it feels like some careers aren't being registered at all, only professions. Will have something out later t

[2017-05-15 20:11] RobertHerhold opened #1513 "Exclude annotation event filterer does not work with event supertypes"
**I am currently running...**
- SpongeForge version: `spongeforge-1.10.2-2281-5.2.0-BETA-2330`
- Forge version: `forge-1.10.2-12.18.3.2281`
- Plugins/Mods:

**What is the expected result?**

The `@Exclude` event filterer should filter out all child events. For example, I include `ChangeBlockEvent.class` in the list of events to filter out, so `ChangeBlockEvent.Pre.class` should also be filtered ou

[2017-05-15 20:49] iLefty opened #1514 "Crash with zz-backpacks"
Zz-backpacks mod have a pouch which can give backpack more slots. On second use, this pouch do server crash. I wrote it to mod developer, but his said, that only Sponge devs can fix crash. Without sponge (only forge) crash don't be.
Crash report: https://pastebin.com/mMjJaRm8
Mod link: http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1291844-backpacks-by-brad16840?comment=66

[2017-05-15 21:15] gabizou commented on #1513
Please include a code sample of what it's failing with.

[2017-05-15 21:34] #1509 closed, assigned to nobody

[2017-05-15 21:40] RobertHerhold commented on #1513
Test plugin:

[code]

And when you break a block, this is the output:

[code]

[2017-05-15 21:59] gabizou commented on #1513
This is because `ChangeBlockEvent` is not within the hierarchy of `ChangeBlockEvent.Pre` class. If you note [the class extends only `Event` and `Cancellable`](
https://github.com/SpongePowered/SpongeAPI/blob/91e694711d777f664426c0a159800f5e16d37d10/src/main/java/org/spongepowered/api/event/block/ChangeBlockEvent.java#L94-L114). Because of this, filtering on `ChangeBlockEvent` will not function in

[2017-05-15 21:59] #1513 closed, assigned to nobody

[2017-05-15 22:14] Keaton1188 opened #1515 "Beyond - Crashing Server"
Hi all, our server has been crashing at random times to what seems to be a issue with DeepResonance, could be wrong though. Any idea?

SpongeForge:
Minecraft: 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-a26c654
SpongeForge: 1.10.2-2281-5.2.0-BETA-2330
![untitled](https://cloud.githubusercontent.com/assets/24898745/26081750/41369bba-39c4-11e7-9c55-d85bac8a81e0.png)

[2017-05-15 22:19] gabizou commented on #1515
Paste to https://gist.github.com/ instead of using a screenshot of a stack trace. And please, include the crashlog since this is only part of the log needed to assist in debugging.

[2017-05-15 22:20] gabizou commented on #1506
This was fixed ages ago. Update your version of Sponge.

[2017-05-15 22:20] #1506 closed, assigned to nobody

[2017-05-15 22:50] Keaton1188 commented on #1515
This what ya meant?
https://gist.github.com/Keaton1188/fcc51e8bb201819cad7c336f77aad447

If wrong, just yell at me :)

[2017-05-15 22:50] Eufranio opened #1516 "Slot cannot be null!"
The server randomly crashed, and it's happening like 4 times per day, with different players.

**I am currently running...**
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a26c654
    SpongeForge: 1.10.2-2281-5.2.0-BETA-2328
    Minecraft Forge: 12.18.3.2239
- Java version: 1.8.0_131
- Operating System: Linux Apline (docker)
- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, M

[2017-05-15 22:55] axle2005 commented on #1515
Thats a completely seperate crash log <.< ... That one says Morpheus did it (which is also a thing)
[https://github.com/SpongePowered/SpongeForge/issues/830](#830)

[2017-05-15 23:00] FiveEYZ commented on #1515
update Deep Resonance by McJty (1.4.7 > 1.4.8)
- Fixed a chunk unloading crash with tanks.

FTB Beyond pack version 1.7.0 have this update

[2017-05-15 23:00] parlough commented on #1515
So you need to update DeepResonance as that issue has been fixed in version 1.4.8. Morpheus is not compatible with Sponge at the moment so remove that and check out a Sponge plugin like SleepVote.

[2017-05-15 23:03] Eufranio commented on #1516
This player crashed again, and he said the inventory was an [Engineers Workbench](http://ftb.gamepedia.com/Engineer%27s_Workbench), from the Immersive Engineering mod.

[2017-05-15 23:04] gabizou commented on #1515
Thank you @FiveEYZ, @axle2005, and @Meronat for doing the investigating and resolution for me. As said before, update Deep Resonance and use a different mod/plugin than Morpheus until such a time when Sponge has isolated the issue with Morpheus.

[2017-05-15 23:04] #1515 closed, assigned to nobody

[2017-05-15 23:25] Keaton1188 commented on #1515
Yep, thanks all!

That was my fault. Uploaded the wrong crash report. We just disabled Morpheus for now.
Good to know its fixed in the next update.

[2017-05-16 01:24] axle2005 commented on #1516
Can confirm. Seperate network, had the same crash and one of our players posted on our Discord:

don't put mining drill in engineers workbench.

[2017-05-16 05:31] iLefty commented on #1516
I have the same crash, but with other mod zz-backpacks.

[2017-05-16 05:38] FiveEYZ opened #1517 "SF Build 2336 break plugins"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2336
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: 1.8.0_131
- Operating System:
 - [x] Windows

- Plugins/Mods:
Plugins (105): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, OpenComputers (Core), SpongeAPI, SpongeForge, CoFH ASM, FoamFixCore, ccl-ent

[2017-05-16 08:37] DrZoddiak commented on #1517
I'm having a similar issue. Running only SF2336 and Luckperms.
Latest: https://gist.github.com/DrZoddiak/8e01e1bb6e759b2ebdd705e73e70632e
fml-server-latest: https://gist.github.com/DrZoddiak/70bde35dddde0c5933d3572eb2cdcc68

[2017-05-16 10:44] raizosec opened #1518 "Unexpected world change detected"
**I am currently running...**

- SpongeForge version: 5.2.0 BETA 2317
- Forge version: 12.18.3.2281
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

FTB Beyond 1.6.1
(Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied Energistics 2 Core, Aroma1997Core, Not Enough

[2017-05-16 10:47] mkrtes commented on #1517
I have the same problem.

[2017-05-16 16:33] sintaxcz commented on #1517
I have the same problem.

[2017-05-16 17:18] phit commented on #1517
dupe of SpongePowered/SpongeCommon/issues/1354

[2017-05-16 17:20] #1517 closed, assigned to nobody

[2017-05-17 00:07] rmnaderdev opened #1519 "[1.11.2] Server crash on join."
**I am currently running...**

- SpongeForge version: 1.11.2-2282-7.0.0-BETA-2340
- Forge version: 1.11.2-13.20.0.2282-universal
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
    "The New Frontier" Modpack
    https://pastebin.com/yxbinWBw

**What is the expected result?**
Not to crash on join.
**What is the c

[2017-05-17 01:21] HoopRod commented on #1007
I think your problem can be fix with my video, please subscribe and leave a comment if it works for you https://youtu.be/JARonMG8G7I

[2017-05-17 01:58] Deamon5550 commented on #1518
Please include the full log and upload it to something like https://gist.github.com

[2017-05-17 02:41] Eufranio commented on #1390
My fault - different configs, sorry.

[2017-05-17 02:41] #1390 closed, assigned to nobody

[2017-05-17 02:42] Eufranio commented on #1386
Fixed a few builds ago.

[2017-05-17 02:42] #1386 closed, assigned to nobody

[2017-05-17 02:43] Eufranio commented on #1383
I believe Sponge will need to add this hardcoded check...

[2017-05-17 02:50] Eufranio commented on #1218
Fixed in latest.

[2017-05-17 02:50] #1218 closed, assigned to nobody

[2017-05-17 03:19] EPIICTHUNDERCAT commented on #1519
Last I checked sponge is very buggy or unstable in 1.11.2. Haven't had this issue on other servers running my mod without Sponge. I'll see if I can do something.

[2017-05-17 03:27] Deamon5550 commented on #1519
@EPIICTHUNDERCAT The method `EntityList#func_75616_a` that your mod is calling is client only. It does not exist in the server.

[2017-05-17 04:48] loveyanbei opened #1520 "1.10.2 abandoned？"
1.10.2 branch was gone and all downloads were found marked unsupported.

[2017-05-17 07:32] Deamon5550 commented on #1520
The [1.10.2 branch](https://github.com/SpongePowered/SpongeForge/tree/stable-5) is absolutely not gone and all the [builds](http://files.minecraftforge.net/spongepowered) are [still here](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2)

[2017-05-17 07:32] #1520 closed

[2017-05-17 07:34] loveyanbei commented on #1520
I SAW that happened（unsupported on the downloads）
Maybe just a mistake XD.

[2017-05-17 11:55] rmnaderdev commented on #1519
Is that something that can be fixed?

[2017-05-17 12:09] johnfg2610 commented on #1519
yes it can certainly be fixed by making that bit of the code run on client only

[2017-05-17 12:17] m31317015 commented on #1507
Check Bungeecord, I have this problem too and I notice that I got disconnected immediately no sooner have I connected. A message would pop up like this:

[Player] <-> ServerConnector [Server] has connected
[Player] <-> ServerConnector [Server] has disconnected

[2017-05-17 12:43] rmnaderdev commented on #1519
I'd try to figure it out but I don't have time right now to look into it and make a pull request.

[2017-05-17 14:13] leeci commented on #1278
#801

[2017-05-17 14:15] webrsb commented on #1278
Same issue here #801

[2017-05-17 14:21] bloodmc commented on #1519
As Deamon stated, not a sponge issue. Mod is calling a client-side method on server.

[2017-05-17 14:21] #1519 closed, assigned to nobody

[2017-05-17 14:47] EmanYm opened #1522 "Exception in thread "Server Watchdog""
**I am currently running...**

- SpongeForge version:  [MC1.10.2]SpongeForge[v5.2.0β2328][Forge2281][S].jar
- Forge version: [MC1.10.2]Forge[v12.18.3.2297][U].jar
- Java version: jre1.8.0_131
- Operating System:
 - [x] Windows

- Plugins/Mods:
I started to get this issue with just the above version of SpongeForge and [MC1.10.2]LuckPermsSponge[v3.1.51][S].jar installed

(I can get an fml-latest, co

[2017-05-17 21:58] FiveEYZ commented on #1516
this `Exception Exiting Phase` containing `NullPointerException: Slot cannot be null!` have just started spamming
https://gist.github.com/FiveEYZ/f6d4ce06eeb2d7a89ee765b1d35df86e

[2017-05-18 12:26] Ciannicay commented on #1346
Any news so far on that matter?

[2017-05-18 16:01] bookerthegeek commented on #1346
They are working on it, please be patient as they get this resolved. We don't particularly need everybody jumping in with "Me to" as they have already confirmed the issue.

[2017-05-18 16:37] Arlayn opened #1523 "Ticks and Lags"
Hi , I've a problem with the ticks who create many lags in the server. This bugs is appears when I load many chunks in many place.

Thanks for you'r help
the problem appeared also in forge without sponge in my computer (22GB RAM, AMD FX8350 4GHz )
ps: sorry if my english isn't perfect I'm french ^^

- SpongeForge version: 1.10.2 - 2281 - 5.2.0 - BETA 2341
- Forge version: 1.10.2 2281
- Java versio

[2017-05-18 23:18] Eufranio opened #1524 "[1.11.2] Error creating world with ATG"
When creating a world with ATG (Alternate Terrain Generator), this error will be printed to console:
https://hastebin.com/niqezigefo.vbs
[code]
    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-806a22a
    SpongeForge: 1.11.2-2282-6.1.0-BETA-2343
    Minecraft Forge: 13.20.0.2298
Not running any plugins. Log: https://gist.github.com/Eufranio/ba4d9756851398f54b03ce269c4da3ad

[2017-05-19 03:26] JaSpr commented on #1346
Understandable, although this issue has been open for quite a while, and affects many people.  Periodic updates would be helpful at staving off requests for comment.

[2017-05-19 04:32] EmanYm commented on #1522
I removed ChatUI, and not this error is telling me it's caused by FoxGuard.  I will close this, and open a ticket there, then reference this issue.

[2017-05-19 04:32] #1522 closed, assigned to nobody

[2017-05-19 06:16] bookerthegeek commented on #1346
While I agree that some update would be nice, I would much rather them fix it then then worry about keeping us informed.

[2017-05-19 06:18] ghost commented on #1523
Please provide output of timings: https://docs.spongepowered.org/stable/en/server/spongineer/commands.html#timings

[2017-05-19 12:46] ryantheleach commented on #1015
This looks like it can be closed: https://github.com/TheCBProject/Feedback/issues/3

[2017-05-19 12:55] #1015 closed, assigned to nobody

[2017-05-19 13:10] ryantheleach commented on #1123
I'd sooner see this implementable as a plugin, however it appears that there isn't any sound / effect events.

https://github.com/SpongePowered/SpongeAPI/issues/1562

[2017-05-19 13:15] ryantheleach commented on #1281
Does this happen without SpongeForge, using only Forge, Immersive Engineering, and Tinkers Construct?

[2017-05-19 13:19] ryantheleach commented on #1217
Possibly related: https://github.com/SpongePowered/SpongeForge/issues/1274

[2017-05-19 13:26] ryantheleach commented on #1201
Possibly related:
1. https://github.com/SpongePowered/SpongeForge/issues/1324
2. https://github.com/SpongePowered/SpongeCommon/issues/1212

[2017-05-19 13:32] ryantheleach commented on #1323
@Deamon5550 Cursory look seems like some funky dungeon generation happening outside the required chunk.

However since it's MoCreatures, it's not open source, and neither is it's utility custom mob spawners.

So I'm guessing this is a bug in MoCreatures since my understanding is things shouldn't ever be generating outside the requested bounds.

[2017-05-19 13:43] ryantheleach commented on #1394
Reading the linked issue it appears that it's been replicated without Sponge.
Without extra details on how to reproduce this reliably it's going to cost the Sponge developers a lot of time hunting down what is likely to be a bug with the mod itself if it's able to be reproduced on pure Forge.

From: https://github.com/canitzp/Modpack-Bugs/issues/3

"
Necollex commented on 25 Jan
uhh.... Youre all

[2017-05-19 14:21] ryantheleach commented on #1455
This smells like a data-exploit patch gone wrong, if ops/admins are able to do things that players can not.

Try testing with the following settings to see if it works.

    prevent-creative-itemstack-name-exploit = false
    prevent-sign-command-exploit = false

Do we know if the above patches made it into vanilla yet?

Edit:

    "give @p mob_spawner 1 0 {BlockEntityTag:{SpawnData:{id:Skeleton},

[2017-05-19 16:45] Eufranio commented on #1394
I tested and it works on singleplayer and forge servers, but not in Sponge. 100% of the times it DIDN'T work on sponge, and DID on forge.

[2017-05-19 23:11] Eufranio commented on #1524
This also happens starting the server with Biomes O' Plenty.

[2017-05-20 00:22] Fortcraft opened #1525 "Server trouble starting SF 3.0.9"
I am trying to run sf 3.0.9 on a server and it gives me this error: https://pastebin.com/CgE5uGme

[2017-05-20 00:37] Fortcraft commented on #1525
I have fixed this from loading from a backup, but I'd still like to know why the error has occured. The level.dats were replaced with 0 file size files

[2017-05-20 03:08] neadlak commented on #1514
Workaround for now: backpacks+Sponge will let you upgrade once. Change your backpacks config to make the first upgrade go to maximum size, and only have one upgrade?

[2017-05-20 08:00] iLefty commented on #1514
No, I was mistaken. The first increase is also can crash server.

[2017-05-20 15:28] phit opened #1526 "[1.11.2] OpenComputers Robot crash"
Tested with 1.11.2-2282-6.1.0-BETA-2343 & spongeforge-1.11.2-2282-6.1.0-BETA-2339

https://gist.github.com/phit/4bc450420803f85b708f5d0253bb3c79

Same crash was supposedly fixed in 1.10 #824

[2017-05-20 16:54] ghost opened #1527 "Crash With BuildCraft (need help)"
https://github.com/BuildCraft/BuildCraft/issues/3594#issuecomment-302884439
thanks...

[2017-05-20 17:45] AlexIIL commented on #1527
BuildCraft dev here - This seems to be an issue with how BuildCraft's FakeWorld works - as far as I can tell there is no way (through vanilla) to set the UUID of a world.

[2017-05-20 21:12] gabizou commented on #1527
@AlexIIL I have a good idea on how to fix this, would you imagine this would be reproducible on 1.10.2 as well (seeing as the few bits of code have persisted between 1.10.2 and 1.11 versions)?

[2017-05-20 21:25] AlexIIL commented on #1527
Possibly. I would need to backport the relevant code to 1.10.2 though. (As none of BC is on 1.10.2 right now)

[2017-05-21 01:53] RobertHerhold commented on #1513
@gabizou Thanks for the reply. However, I tested the same plugin on SpongeVanilla, which seems to block all `ChangeBlockEvent` events, regardless of the hierarchy discrepancy that you pointed out.

Do you know why this might be?

[2017-05-21 10:26] Vauxite opened #1528 "Ember Transmission bug"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-beta-2344
- Forge version: 12.18.3.2281
- Java version: v8u131
- Operating System:
Client: Windows 10,
Server: Ubuntu Server 16.04 LTS

- Mods:
Modpack: Nuts and Bolts: Torqued 1.6.4.7
- Plugins
DiscordBridge 2.3
Griefprevention 1.102-2.3.1.295
Luckperms-Sponge 3.2.3
MMCReboot 2.0.4
Nucleus-0.29.1-1.10.2-S5.1-plugin
Prism-3.0.0

[2017-05-21 13:39] ryantheleach commented on #1261
I've confirmed this issue, but I'm not entirely confident on my fix.

My instinct is to introduce a TaskState of Stopped, and only start the interval ticket if the task is of state stopped, but then questions of the timing arises.

If the task is overdue, and the task overruns, should it start immediately? or pause for 100 milliseconds after it stops? Should the scheduler warn on overruns?

Additi

[2017-05-21 13:58] MadByteDE opened #1529 "[BETA-2343] Ticking entity exception"
- **SpongeForge version**: spongeforge-1.11.2-2282-6.1.0-BETA-2343
- **Forge version**: 1.11.2-forge1.11.2-13.20.0.2282
- **Java version**: 1.8.0_25
- **Operating System**: Windows 7 64Bit
- **Plugins/Mods**: none (except Sponge)

**Crash Log**: [here](https://gist.github.com/MadByteDE/6f843610bcffffdc2bd654cf87ca587c)

**Step 1**: Launch the game and load a world
**Step 2**: crash immediately aft

[2017-05-21 14:49] KaiKikuchi commented on #1261
In my opinion, it should support both behaviors, similar to Java's [ScheduledExecutorService](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ScheduledExecutorService.html) [scheduleAtFixedRate](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ScheduledExecutorService.html#scheduleAtFixedRate-java.lang.Runnable-long-long-java.util.concurrent.TimeUnit-) and [scheduleWit

[2017-05-21 15:47] dualspiral commented on #1261
_Based on what the docs say_, if the task is overdue, I think it's reasonable to just drop that attempt and wait for the next time around. In this case, the fix you suggest seems to me to be a reasonable way around it, if a task is running when the next attempt to start it comes around and the `TaskState` isn't in the `STOPPED`, just don't start the task that time around.

A plugin author should h

[2017-05-21 15:53] Eufranio commented on #1526
Not sure if it's related, but placing a Robot will crash the server, with this crash-report: https://hastebin.com/asoxamuxev.pl

    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-806a22a
    SpongeForge: 1.11.2-2282-6.1.0-BETA-2343
    Minecraft Forge: 13.20.0.2298
    OpenComputers: 1.11.2-1.7.0.24

[2017-05-21 16:47] KaiKikuchi commented on #1516
I tried removing [this checkNotNull](https://github.com/SpongePowered/SpongeAPI/blob/stable-5.2.0/src/main/java/org/spongepowered/api/item/inventory/transaction/SlotTransaction.java#L49), and it seems to fix the issue.

After removing that, I tried putting a mining drill in engineers workbench and it does not crash anymore:

![image](https://cloud.githubusercontent.com/assets/8842403/26285762/1db7

[2017-05-21 18:24] Faithcaio commented on #1516
Sadly the solution is not that easy.
Sponge has to be able to readjust the underlying lens on an opened inventory or there wont be any events fired for that slot.

[2017-05-21 19:59] KaiKikuchi commented on #1516
Indeed. Still, I'm sure server owners prefer events not being fired for that slot instead of having servers down because they keep crashing, hence I shared this.

[2017-05-21 20:30] FiveEYZ commented on #1516
here is a log is it may help http://paste.ubuntu.com/24619710/

[2017-05-21 21:06] Mohron opened #1530 "Terraqueous EnderTable cannot be opened"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2342
- Forge version: forge-1.11.2-13.20.0.2299-universal
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [x] Windows

- Plugins/Mods: ```Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Potion Core Coremod, SpongeAPI, SpongeForge, FoamFixCore, Ac

[2017-05-21 21:31] TehFoxFire opened #1531 "Sponge Container crash w/ IE workbench"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2344
- Forge version: 1.10.2-12.18.3.2297
- Java version: Unknown
- Operating System: CentOS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:  Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, SpongeAPI, SpongeForge, ccl-entityhook, Nucleus Mixins, A

[2017-05-21 23:00] axle2005 commented on #1531
Duplicate of [1516](https://github.com/SpongePowered/SpongeForge/issues/1516)

[2017-05-22 00:05] Huckletsplay opened #1532 "Setting up a older work environment."
Trying to set up a developers work environment using git. I want to work on plugins for spongeforge-1.10.2-2281-5.2.0-BETA-2344 but i do not know the link to use for the # git clone --recursive . any help would be great!

[2017-05-22 05:22] JaSpr commented on #1493
Tons of people have been reporting this bug https://github.com/Shinoow/AbyssalCraft/issues/195

[2017-05-22 06:05] stephan-gh commented on #1532
You can add the branch when cloning SpongeForge: (1.10.2 is `stable-5`)

[code]

[2017-05-22 06:05] #1532 closed, assigned to nobody

[2017-05-22 06:12] gigafunk opened #1533 "Tough as Nails, unexpected hash"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2344
- Forge version: 2281
- Java version: 8...131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
ToughAsNails-1.9.4-1.1.1
no other mods just ,spongeforge and Toughmod. No plugins.
**What is the expected result?**
Load without hash error

**What is

[2017-05-22 06:30] Deamon5550 commented on #1533
You're going to have to give more information, logs? crash reports? a list of mods? an actual description?

[2017-05-22 06:32] gigafunk commented on #1533
wow your fast, i typed it and then thought maybe i tested it wrong (was like did i already move spongeforge or was it not in there while i tested) and closed it and cleared it while I retested(it was in there) ! then i reopened and started retyping, and finally  posted it 1 min after you responded! I hope i didnt waste my dev attention! i was trying to be extra sure and test twice! To be clear tha

[2017-05-22 12:50] Arlayn commented on #1523
this is the report :

https://timings.aikar.co/?id=3d98e0203bf748d9a0837e24f1491d9d (during 30min)

[2017-05-22 13:55] Zidane commented on #1513
@RobertHerhold

Paste new code.

[2017-05-22 15:01] gabizou commented on #1528
We're going to need steps on how to re-create this.

[2017-05-22 17:31] maxanier commented on #1049
+1 would love to register and check Sponge compatible permissions from within my Forge mod.

[2017-05-22 19:49] LatvianModder commented on #1049
@me4502 the Forge itself already displays warning when a permission handler is replaced with another

[2017-05-22 21:28] Zerthick commented on #1308
This is still occurring on SpongeForge-1.11.2-2282-6.1.0-BETA-2343

[2017-05-22 22:02] Aaron1011 commented on #1308
Looks like I never cherry-picked this to `bleeding`. Sorry about that - I'll do that now.

[2017-05-22 22:21] Zerthick commented on #1308
😄

[2017-05-22 22:25] Eufranio opened #1534 "[1.11.2] Task rejected crash"
SF randomly crashed with no apparent reason. I got this crash when my players started walking to find their homes (just opened the server)...

    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-806a22a
    SpongeForge: 1.11.2-2282-6.1.0-BETA-2343
    Minecraft Forge: 13.20.0.2298
    Operating System: Linux (Alpine)

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft For

[2017-05-23 00:56] gigafunk commented on #1534
I'm just nobody lurking waiting to see about an issue I am having, so this is unofficial. But, have you tried to match the forge version to the sponge version? I dunno how much it matters. But I always do. I keep everything else up to date, but I leave forge the same as sponge. That sponge was built against 2282 and your running 2298.

[2017-05-23 01:34] Eufranio commented on #1534
Well, BuildCraft needs a newer version of Forge, so I can't :/
I've seen other people running BC in the issue tracker and they dont seem to have this problem (or didnt report) so I doubt it could be the issue.

[2017-05-23 01:38] gigafunk commented on #1534
I almost retracted my statement cause you have an avatar and I figured you probably had a good reason.lol

Sorry bout the noise. You just never know.

[2017-05-23 01:41] Eufranio commented on #1534
It's fine :+1:

[2017-05-23 05:23] gabizou commented on #1527
Seeing as this only cropped up on 1.11.2, I'm expecting the issue not to have cropped up in 1.10.2 since now, but SpongeForge will be back ported for the fix (workaround). Nothing really needs to be done on your end 👍.

[2017-05-23 06:53] ghost commented on #1527
This has been fixed on Sponge's side? Or i misunderstood
edit: OH, i'm so sorry; it's fixed on 2348. couldn't see it. but it's still crashing with buildcraft. here is the crash report. it's so sad :/ dunno why it crashes
[crash-2017-05-23_11.59.22-server.txt](https://github.com/SpongePowered/SpongeForge/files/1021566/crash-2017-05-23_11.59.22-server.txt)

[2017-05-23 09:20] ghost commented on #1527
bump.(for crash report if didn't noticed)

[2017-05-23 09:50] Vauxite commented on #1528
I'll provide a world save when I get home later today.

[2017-05-23 11:32] Sunconure11 opened #1535 "Are there any issues with ender eyes?"
Sorry for another potentially vague issue, but ender eyes, at least, as far as I can tell, do not function as they normally should. I am using a spongeforge server with around 150 or so mods, The map was pregenerated on a server on my main machine, due to seeming screwiness with RTG on what I can only assume is with multicraft at the moment.

Ender eyes are basically, about as useful as if they we

[2017-05-23 11:33] ryantheleach commented on #1535
@Sunconure11 What version of Sponge are you using?

Edit: Possible duplicate issue: https://github.com/SpongePowered/SpongeForge/issues/937

[2017-05-23 11:36] Sunconure11 commented on #1535
Currently, I'm on 1.10.2-2281-5.2.0-BETA-2350, I just moved from 1.10.2-2281-5.2.0-BETA-2344, which is where I last saw the issue.

[2017-05-23 11:38] ryantheleach commented on #937
If people are able to reproduce this issue, please post the seeds involved, Thanks.

[2017-05-23 11:41] Sunconure11 commented on #937
4112307981209916893

This is the seed used by my map.

[2017-05-23 11:47] ryantheleach commented on #937
@Sunconure11 Using ender eyes / ender compass, what happens? do the eyes lead in one constant direction? create an error? or take you to a location that doesn't contain a stronghold?

[2017-05-23 11:57] ryantheleach commented on #937
Using seed -6374430409410178659 in my single player dev environment, on Sponge Forge https://github.com/SpongePowered/SpongeForge/commit/726992c2595aab5d2fa9d80a5efb4bf52033035b I was able to find a stronghold portal at -2206 34 340.

Will now test with Sunconure11's seed, without other mods, then with mods.

If you could test with my seed, and see if you can find the stronghold, or experiment wit

[2017-05-23 11:59] Sunconure11 commented on #937
Ender eyes simply do not launch in the first place, as if I was on a flat map, effectively.

I'll test that command, though.

[2017-05-23 12:03] ryantheleach commented on #937
Testing with your seed, without other mods, using my version resulted in a stronghold at /tp -1976 41 -315

[2017-05-23 12:04] ryantheleach commented on #937
@Sunconure11 I'm currently on the SpongePowered Discord, if you want to walk me through installing your mods.
https://discord.gg/rshrjA

[2017-05-23 12:04] Sunconure11 commented on #937
Unfortunately, I'm still on 1.10.2, and thus, cannot use that command. If there is an equivalent that I can use, whether added by a mod, or otherwise, let me know.

[2017-05-23 16:19] gabizou commented on #1527
@AlexIIL Is FakeWorld supposed to be considered the equivalent to a server world? Or is it supposed to be considered a remote (disconnected world)? Currently, you pass in `false` for the `World` constructor, which is causing Sponge to think that it's a server (non-remote) world, and performing it's tracking logic accordingly.

[2017-05-23 16:52] Vauxite commented on #1528
@gabizou
**Worldsave link:**
https://www.dropbox.com/s/4xvggi8krz3isr5/emberBUG_Vauxite.zip?dl=0
**Virustotal for file:**
https://www.virustotal.com/sv/file/3c4845de146a65880ce4da7f9c3a528bddc6f48bd0b6b53a855c914721ba6c04/analysis/1495558225/

**In pictures**
http://imgur.com/gallery/RCpqo

You may have to attach additional ember gauges to determine if the power actually transfer between the batte

[2017-05-23 17:14] Eufranio commented on #1534
New crash, now mentioning Biomes O' Plenty:
[code]
Full crash-report: https://gist.github.com/Eufranio/5ef9e30d87bf9e324d5a5659797849dd
and with RecurrentComplex: https://gist.github.com/Eufranio/466bf839937e137cdf29dc0e5b161da6

[2017-05-23 17:23] AlexIIL commented on #1527
@gabizou Its meant to a world for testing the behaviour and properties of blocks, which might work differently in a client world to a server world. However we don't extend WorldServer because that requires an instance of MinecraftServer (which is not something we necessarily have access to).

I want to say that this is an issue with sponge, but I think that some other parts of BuildCraft's code as

[2017-05-23 17:56] FiveEYZ commented on #1516
have started to see this in my console output:

`[19:14:59] [Server thread/WARN] [nucleus/]: When trying to listen for the inventory events, targetInventory#getCarrier() is null. THIS SHOULD NOT HAPPEN - this is a Sponge issue.`

same second this error happen:
https://gist.github.com/FiveEYZ/947c92546dec592ded4e80b2bdf9f23a

[2017-05-23 18:42] Eufranio opened #1536 "[1.11.2] Cause tracker is crazy"
It randomly started printing this stacktrace: https://gist.github.com/Eufranio/3fe9038d2b05b6cd4231de34ec35628c

**I am currently running...**
    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-a15cc3e
    SpongeForge: 1.11.2-2282-6.1.0-BETA-2347
    Minecraft Forge: 13.20.0.2298
    Operating System: Linux (Alpine)

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft For

[2017-05-23 19:09] Faithcaio commented on #1516
Please test if this still happens with the latest build.
Its not really fixed but at least it should be less broken.

The getCarrier thing is a separate issue but it should be resolved too.

[2017-05-23 19:22] ghost commented on #1527
hey ah, i just saw the newest sponge version (2352) that has changelog about fixes 1527. Then i tried installing it again, but crashed again :((
[crash-2017-05-23_22.18.54-server.txt](https://github.com/SpongePowered/SpongeForge/files/1023492/crash-2017-05-23_22.18.54-server.txt)
i'm sorry if i'm spamming again, just thought this issue should be fixed in 2352

[2017-05-23 19:57] AEnterprise commented on #1527
i'll work on making the BC fake word extend WorldServer to fix this and other potential issues caused by the current implementation

[2017-05-23 22:50] gabizou commented on #1527
If `world.isRemote == true` then it's a remote world, not a server world. This is the logic that vanilla employs and sponge uses to differentiate between non-server worlds, as from vanilla:
[code]
By this logic, sponge does utilize the `isRemote` check to verify it's not a fake world and is an actual world handled by various systems, including being registered with the DimensionManager etc. Becaus

[2017-05-23 22:53] AlexIIL commented on #1527
@gabizou sorry, I meant the other way around (world.isRemote == false implies WorldServer)

Although we're going to make FakeWorld extend WorldServer rather than expecting Sponge to work around this, so the distinction won't matter.

[2017-05-23 22:54] gabizou commented on #1527
You shouldn't have to, just pass in `true`, would that not work with Buildcraft's systems?

[2017-05-23 23:02] AlexIIL commented on #1527
I know that buildcraft uses ````world.isRemote```` in a lot of block checks to determine what logic should be run, and we want the server logic to be run rather than client logic. I'm not sure if its a problem at the moment, but if we use FakeWorld for more elaborate things (for example ticking tile entities) then it will be important that we get the results for a server.

[2017-05-24 04:24] gabizou commented on #1527
If you utilize FakeWorld to tick tile entities, there might be some issues with regards to how Sponge currently handles block changes and entity spawns, while it does seem feasible to work around it, I don't think it's going to work out well without making just a plain Worldserver instance with customary handling for events and preventing teleportations etc. taking place in those worlds. That bein

[2017-05-24 06:12] AEnterprise commented on #1527
for now there is no ticking going on so there should be no real issues atm yet

the current use of the fake world is to check requirements of blocks for the snapshots in what blocks are required to place them (getting pickblock) but this world is also used for displaying the content of them in your inventory

as for possible compat modifications: since 1.12 is arround the corner it might be worth

[2017-05-24 12:30] iLefty commented on #1516
Yes, it fixed. Thank you!

[2017-05-24 12:31] iLefty commented on #1514
Fixed in SpongeForge-2353.
Close this @Faithcaio

[2017-05-24 13:41] FiveEYZ opened #1537 "Exception caught during firing event net.minecraftforge.event.entity.player.PlayerInteractEvent$RightClickBlock@58a31ffe"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2353
- Forge version: 12.18.3.2297
- Java version: 8u131
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows 2012 r2

- Plugins/Mods:
Plugins (106): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, OpenComputers (Core), SpongeAPI, Spong

[2017-05-24 13:42] ArcasCZ opened #1538 "[1.10.2] TrashSlot vs SpongeForge"
I am currently running MC 1.10.2, my own ModPack

- SpongeForge version: 5.2.0 BETA - 2324
- Forge version: 12.18.3.2281
- Java version: 1.8.0-131
- Operating System: Ubuntu 16.04.2-LTM
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: see Crash-Report

**What is the expected result?**
 Deleting item through TrashSlot without crash

**What is the current resul

[2017-05-24 13:50] ArcasCZ commented on #1538
Fixed by updating SpongeForge to newest version.

[2017-05-24 13:50] #1538 closed, assigned to nobody

[2017-05-24 16:56] #1514 closed, assigned to Faithcaio

[2017-05-24 16:57] #1516 closed, assigned to Faithcaio

[2017-05-24 18:37] #1531 closed, assigned to nobody

[2017-05-24 18:37] gabizou commented on #1531
All you need to do is update.

[2017-05-24 22:26] mineblow opened #1539 "eyes of ender errors"
**I am currently running...**

- SpongeForge version:  2344
- Forge version: 2281
- Java version: jdk 1.8
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X ] Windows

- Plugins/Mods:
all the mods mod pack 1.10.2
**What is the expected result?**
right click enderpearl nothing happens
**What is the current result?**
should lead to end portal

https://gist.githubuserc

[2017-05-24 23:09] LJack2k commented on #1539
Enderpearls don't lead you to the end portal, eye of enders do.

[2017-05-24 23:15] Mohron opened #1540 "Terraqueous Fruit Tree Dupe"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2351
- Forge version: forge-1.11.2-13.20.0.2299-universal
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [x] Windows

- Plugins/Mods:
```Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Potion Core Coremod, SpongeAPI, SpongeForge, FoamFixCore, Ac

[2017-05-24 23:21] gabizou commented on #1539
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/937

[2017-05-24 23:21] #1539 closed, assigned to nobody

[2017-05-24 23:41] #989 closed, assigned to nobody

[2017-05-25 08:12] Autopoietico commented on #1400
This happens also for teams, and other info saved in the scoreboard file, the only scoreboard that don't reset when server is stopped is tags, maybe because this is stored in the indivual player.dat file.

[2017-05-25 10:27] FiveEYZ opened #1541 "InvocationTargetException"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2351
- Forge version: forge-1.11.2-13.20.0.2304-universal
- Java version: 1.8.0_131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:
Plugins (134): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, IvTool

[2017-05-25 12:48] simon816 commented on #1534
This is an issue with the "async lighting" optimisation. For now, set `async-lighting=false` in the global.conf file.
I've previously seen this issue on the forums:
https://forums.spongepowered.org/t/error-spongecoremod-i-need-help/18153/4

[2017-05-25 18:39] Eufranio commented on #1534
I have it already disabled.

[2017-05-26 01:07] srs-bsns commented on #1535
Yesterday, I created a local dedicated server (with default configs) for testing and I discovered 3 strongholds in the world just fine using both Eyes of Ender, and the compass from the EnderCompass mod, using:
- Forge version: 1.10.2-12.18.3.2281
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2322
- RTG version: 1.10.2-4.1.2.4

[2017-05-26 05:28] gabizou commented on #1535
Just going to close this to consolidate efforts on one singular issue: https://github.com/SpongePowered/SpongeForge/issues/937

Since this is a difficult one to reproduce, we'll need exact details, if not complete world copies and config copies with mods to replicate the issue. Any further possibility of reducing how much has to exist to replicate the ender eyes not working will help.

[2017-05-26 05:28] #1535 closed, assigned to nobody

[2017-05-26 14:32] simon816 commented on #1533
Tough As Nails appears to have a hard coded hash check on the classes it transforms. ([see here](https://github.com/Glitchfiend/ToughAsNails/blob/3d63ce83dddc461efdf1cdb67bc26708f564716c/src/main/java/toughasnails/asm/ASMHelper.java#L96)).
The message is to be expected as sponge transforms the classes. It doesn't appear to halt the game so it can be ignored.

[2017-05-26 19:54] johnfg2610 opened #1542 "Duplication bug with better with mods"
**I am currently running...**
http://i.imgur.com/IaNCcdx.png
I have also tried with the latest version of forge and sponge the same issue occured
- Java version: 1.8.0_111
- Operating System:
 - [ X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods:
Plugins (179): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, Micdoodle8 Core, OpenE

[2017-05-26 20:01] gigafunk commented on #1533
Excellent! I was worried that the error stopped the transform from happening, but from the coded it appears it just logs and moves on. Call this closed or should wait for sponge team member to close it?

[2017-05-26 20:03] primetoxinz commented on #1542
Dev of Better With Mods here, I don't know much about Sponge but I know that HCBuoy simple cancels the original EntityJoinWorldEvent and replaces the item with a custom EntityItem implementation. Whatever is going on here Sponge is still spawning the EntityItem even though the event was canceled,
nothing I can do on my end, believe it has to be fixed on Sponge's side.

[2017-05-26 20:16] simon816 commented on #1533
I will close this now

[2017-05-26 20:16] #1533 closed, assigned to nobody

[2017-05-26 20:24] AEnterprise commented on #1527
i have adapted the BC fakeworld implementation so it now extends worldserver, this works fine until you add sponge to the mix, then it all crashes during startup. The final crash forge reports in the crashlog is a nullpointer cased by the fake world constructor crashing so the instance is null

these are the console output, latest.log and fml-server-latest.log: https://gist.github.com/AEnterprise/

[2017-05-26 20:30] AEnterprise commented on #1527
the fakeworld code: https://github.com/AEnterprise/BuildCraft/blob/FakeWorldServer/common/buildcraft/builders/snapshot/FakeWorld.java

[2017-05-26 22:16] wolfhound871 opened #1543 "villager issue with sponge ?"
<!villager crash when you do any damage to them

**beyond 1.5.3...**

- SpongeForge version: 1.10.2 2281-5.2.0 beta 2353
- Forge version: 1.10.2-12.18.3.2281 universal
- Java version: v 8 update 131
- Operating System: win server 2008 r2 standard

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
worldedit forge 1.10.2-6.1.4 snapshot
tickprofiler .20
stackban

[2017-05-27 03:11] rmnaderdev opened #1544 "[1.10.2 Server] RF Tools Dimensions Compatibility?"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2353
- Forge version: 1.10.2-12.18.3.2297-universal
- Java version: 1.8.0_131-b11
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
https://www.feed-the-beast.com/projects/ftb-beyond

**What is the expected result?**
Server not to crash when loading a dimension us

[2017-05-27 04:11] #1544 closed, assigned to nobody

[2017-05-27 09:04] axle2005 commented on #1543
Cause is different, but still the same issue as [#1467](https://github.com/SpongePowered/SpongeForge/issues/1467)

[2017-05-27 10:57] ktole1999 opened #1545 "server crash creating/loading rftools world"
**I am currently running...**
Just havent gotten around to updating to latest version.

- SpongeForge version:
spongeforge-1.10.2-2202-5.1.0-BETA-2078

- Forge version:
forge-1.10.2-12.18.3.2202-universal

- Java version:
Java Version: 1.8.0_102

- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
AgriculturalExpansion[1.9.4][1.10.2]-r1.2.2

[2017-05-27 13:00] FiveEYZ commented on #1545
this was fixed https://github.com/SpongePowered/SpongeForge/commit/f2f78aedddcb8d718fe5f478d9d4b55bad9b6fd7

as you can see the date, this issue was fixed over 4 MONTHS AGO!

[2017-05-27 13:21] dualspiral commented on #1545
@ktole1999 Reporting bugs on serverely outdated versions doesn't help us - a lot changes in 300 builds and there is always a good chance that updating will fix the issue - in this case, it seems like it would have been. Please make sure you check if a bug exists using the LATEST version of SpongeForge in future.

If this bug still exists when you've updated everything to the latest, please comment

[2017-05-27 13:21] #1545 closed, assigned to nobody

[2017-05-27 18:18] #1543 closed, assigned to nobody

[2017-05-28 02:58] phit opened #1546 "1.11.2 Dupe without serverside mods"
- SpongeForge version: 1.11.2-2282-6.1.0-BETA-2352
- Forge version: tested with 13.20.0.2298 & 13.20.0.2309
- Plugins/Mods: none

Install JEI on the client! Drop/place/remove any single item from your inventory, its important the item stack size will be 0 after doing so. Click on the right side of your inventory, basically empty JEI space. The item that just left your inventory will be back.

This

[2017-05-28 16:00] codeHusky opened #1547 "Recent Sponge Forge fails to register mod items"
The SF registry no longer allows you to get mod item item types, rejecting the IDs as invalid. Users can still /give themselves these items, but configs cannot load the items.

1.10.2-2123-6.0.0-BETA-1902
Pixelmon tested but any mod theoretically

[2017-05-28 16:43] dualspiral commented on #1547
That SF version is 6 months old - it was the last development build for API 6 on 1.10.2 before it was switched to target 1.11.2. You likely found it by selecting "experimental 1.10.2" on the downloads page.

Try it again on the latest stable 1.10.2 (API 5) and/or latest stable 1.11.2 (API 6).

[2017-05-28 18:41] codeHusky commented on #1547
@dualspiral I'm not entirely sure what exact version the tester was using when they ran into this issue, but they did tell me earlier that it was the latest version. That was just my guess.

[2017-05-28 19:07] gabizou commented on #1547
Again, need exact test code and build numbers that this failed with, the build that you mention is, as dual spiral said, six months old, after SEVERAL bug fixes, rewrites, refactors, and updates. I have personally tested the registry getting custom modded items after `GameStartServerEvent` which is when you should expect all items to be registered, attempting to get modded items before mods have a

[2017-05-28 19:11] codeHusky commented on #1547
https://github.com/codeHusky/HuskyCrates-Sponge/blob/master/src/main/java/pw/codehusky/huskycrates/HuskyCrates.java <-- Event
https://github.com/codeHusky/HuskyCrates-Sponge/blob/master/src/main/java/pw/codehusky/huskycrates/crate/config/CrateRewardHolderParser.java <-- Actual registry accessing code

I'm trying to get a build number from the tester and ill test it myself in a bit.

[2017-05-28 19:58] codeHusky commented on #1547
spongeforge-1.10.2-2281-5.2.0-BETA-2353

[2017-05-28 19:58] codeHusky commented on #1547
That's a version that's suffering from this issue

[2017-05-28 22:25] phit commented on #1546
yeah something is really broken with inventories, you can also lose items in a similar way

1. Have an item, remove a couple either via dropping, chest, etc
2. Pick up item(s) again
3. Click empty space around JEI, inventory updates and reverts back to your inventory after step 1

pretty sure JEI is not even needed on the server for this, I'll test in a bit with SpongeVanilla too

[2017-05-28 22:35] phit commented on #1546
Tested with SpongeVanilla and it doesn't work, but it does work with just pure SpongeForge on the server no mods/plugins. You just need JEI for the reproduction on the client.

[2017-05-29 00:46] phit commented on #1083
still an issue in 1.11.2

[2017-05-29 02:30] GenDeathrow commented on #1398
Any word on this, cause I am still getting issues on this?

[2017-05-29 06:51] mzx987 opened #1548 "[1.10.2] EnderIO RuntimeException"
**I am currently running...**

- SpongeForge version: 5.2.0 BETA 2353
- Forge version: 12.18.3.2297
- Java version: OpenJDK Version 8, Build 131
- Operating System: Ubuntu Server (Linux:amd64:4.4.0-78-generic)

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (78): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, OpenComputers (Core

[2017-05-29 07:56] DemonHiatus commented on #1259
Any news from this?

[2017-05-29 08:28] AEnterprise commented on #1527
@gabizou do you guys have an idea about what is causing this crash with spongeforge? would be nice if we could have it not blow up

[2017-05-29 18:50] Urhas opened #1549 "[1.11.2] Terrain Gen Issue with ATG & Travel Huts"
**I am currently running...**
- SpongeForge version: 6.1.0-BETA-2354
- Forge version: 2282
- Java version: Version 8 Update 131

- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
  - [ ] macOS
- [x] Windows

- Plugins/Mods:
Travel Hut Version: 2.0.7
Alternate Terrain Gen Version: 2.1.4

**What is the expected result?**
Travel Huts are to generate correctly with ATG world Gen Enabled
!

[2017-05-29 18:52] Urhas commented on #1549
This is only occurring when ATG-Alternate terrain gen is selected in in the World Type options

[2017-05-29 22:19] xUmbrax opened #1550 "Looting Issue"
Heyo!
So Cross posting this with some testing done for you. Ipsis/Woot#139. Seems we are having an issue with the looting enchantment. (Please forgive the lack of Java speak & concrete documentation)

[Woot](https://github.com/Ipsis/Woot): A mod adding a multiblock structure that will generate mob drops at the cost of RF.
It does this by spawning the mobs (In this case a slime) instantly killing t

[2017-05-29 22:21] phit commented on #1550
dupe of #1346

[2017-05-29 22:39] dualspiral commented on #1546
Actually, you don't need JEI at all. I replicated this on my client by just clicking outside the Inventory window.

It's because Sponge captures the changes in the inventory during item drop/pickup/place block, but doesn't clear these transactions. So, when you do a click event outside the window, which causes a drop event, Sponge cancels the transactions - which it has filled from these previous

[2017-05-29 22:41] #1546 closed, assigned to dualspiral

[2017-05-30 02:32] bookerthegeek commented on #1550
You literally just coppies my issue into A new one. Thief.

[2017-05-30 04:40] #1550 closed, assigned to nobody

[2017-05-30 20:00] maxanier commented on #1524
Same for me with Vampirism (which adds one biome).

[2017-05-30 23:12] FiveEYZ opened #1551 "[1.11.2] Error painting blocks with BC Paintbrush"
**I am currently running...**

- SpongeForge version: 1.11.2-2282-7.0.0-BETA-2356
- Forge version: 1.11.2-13.20.0.2304
- Java version: 1.8.0_131
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:
Plugins (132): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, IvToolkit, OpenComputers (Core),

[2017-05-30 23:36] radfast opened #1552 "Cause Tracker preventing entities from spawning properly after player dimension change"
Hi, I'm co-developer of Galacticraft and a previous contributor to Sponge.

- SpongeForge version:   spongeforge-1.10.2-2281-5.2.0-BETA-2353.jar
- Forge version:  2281
- Plugins/Mods: Galacticraft (latest), JEI

Bug:
1) Using the Forge mod (Galacticraft), transfer the player to a new dimension ...
2) If the player now does an action to cause any new entity to spawn in the world (for example, spawn

[2017-05-31 03:31] RogueRaiden opened #1553 "[1.10.2] FTB Utilities Chunk Loading Doesn't Work With Sponge"
**I am currently running...**

- SpongeForge version:  spongeforge-1.10.2-2281-5.2.0-BETA-2353
- Forge Version: forge-1.10.2-12.18.3.2297-universal
- Java version:  1.8.0_71
- FTBUtilities:  1.1x-3.6.5

- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
[modslist.txt](https://github.com/SpongePowered/SpongeCommon/files/1033213/modslist.txt)

[2017-05-31 05:53] RogueRaiden opened #1554 "[1.10.2] Console Spam Error "Unexpected World Change Detected""
**I am currently running...**

- SpongeForge version:  spongeforge-1.10.2-2281-5.2.0-BETA-2353
- Forge Version:  forge-1.10.2-12.18.3.2297-universal
- Java version:  1.8.0_71
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
[modslist.txt](https://github.com/SpongePowered/SpongeCommon/files/1033205/modslist.txt)

**What is the expected res

[2017-05-31 09:45] radfast commented on #1552
Our user (server owner) who first reported the issue to us has now confirmed that multiple issues are solved by using SpongeForge version 2250 or prior, instead of the latest.

-----

I don't know how much Sponge sees Forge-compatibility as important - I would hope it's a primary goal? - but seems like the CauseTracker is really messed up at the moment.

I've also now tested recent Sponge versions

[2017-05-31 10:19] Billabonga opened #1555 "Login not possible!?"
I don't seem to be able to login on the spongepowered.org pages from my computer. the login window doesn't even open. Using Linux Mint Cinnamon Sarah. - Any Ideas?

- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

**What is the expected result?**

**What is the current result?**

[2017-05-31 13:02] radfast commented on #1552
Further testing with breakpoints client-side shows that the Sponge server is not sending any entity spawning packets to the client, in the situation described.  So the client does not receive any ```SPacketSpawnMob```, ```SPacketSpawnObject``` or ```FMLMessage$EntitySpawnMessage```.

Normally on a server all these tyoes of packets should be sent by ```net.minecraft.entity.EntityTracker.createSpawn

[2017-05-31 15:29] gabizou commented on #1555
It's a known issue, this repository is not the right place to report issues with the website.

[2017-05-31 15:29] #1555 closed, assigned to nobody

[2017-05-31 15:33] gabizou commented on #1536
Your full server log doesn't actually include any of the cause tracker stack traces. The problem looks to be some chunks were generated but an exception occurred during that generation. It's important that you find the first stack trace instead of the intermediary stack traces.

[2017-05-31 15:42] Eufranio commented on #1536
Hmmmm, the crash that happens after those errors is the one that I linked here: https://github.com/SpongePowered/SpongeForge/issues/1534

It's a duplicated issue then?

[2017-05-31 15:51] JBYoshi commented on #1555
@Billabonga This was reported a long time ago in <s>a galaxy far far away</s> the SpongeAuth repository: SpongePowered/SpongeAuth#13.

[2017-05-31 19:07] JaSpr commented on #1554
We have this issue as well with FTB Beyond 1.7.0.  Seemingly the same issue.  Causes *lots* of lag while the spam is going on.

[log](https://gist.github.com/JaSpr/e078006ff5bdafd10de26427c37c90d9)

[2017-05-31 22:43] FiveEYZ commented on #1551
this gets generated when u eat from a lunchbox from the mod SpiceOfLife
https://gist.github.com/FiveEYZ/db3f52d73334a59e7b4bd8c9fb112d61

full log:
https://gist.github.com/FiveEYZ/55c02c39551083c31709274d39abb6ec

[2017-05-31 23:28] JaSpr opened #1556 "[1.10.2-2123-6.0.0-BETA-1902] Chat lists user name twice."
Chat now looks like:
`Username: <Username> Message....`

**I am currently running...**
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-24eb858
    SpongeForge: 1.10.2-2123-6.0.0-BETA-1902
    Minecraft Forge: 12.18.3.2297
    Operating System: Linux (amd64) version 3.14.32-xxxx-std-ipv6-64
    Java Version: 1.8.0_131, Oracle Corporation
    Java VM Version: Java HotSpot(TM) 64-Bit Server VM (m

[2017-05-31 23:28] JaSpr commented on #1556
Running FTB Beyond 1.7.0, however this bug started when we upgraded from the latest stable sponge to the latest experimental

[2017-05-31 23:31] phit commented on #1556
that experimental version is 6 months old and not meant for actual usage, please switch back to the stable branch

[2017-06-01 01:23] JaSpr commented on #1556
Kill it with fire.

[2017-06-01 01:23] #1556 closed, assigned to nobody

[2017-06-01 01:23] JaSpr commented on #1556
I had (wrongly) assumed we could be using a newer build by switching to experimental branch.  I take it all builds are now classified as "stable"?

[2017-06-01 02:04] phit commented on #1556
Yes, 1.10.2 is in bugfix only mode (stable-5), then there's stable-6 for 1.11.2.
Experimental usually targets the latest version so right now 1.11.2 with the focus of developing API version 7 this is where all the breaking changes happen and I wouldn't recommend ever running experimental on a production server, even if you were on 1.11.2.

[2017-06-01 02:30] JaSpr commented on #1556
We (all of our members) were hoping there might be some progress on #1346 on a non-stable build.  It's been around for months and a lot of players (on multiple servers I've played on) have complained to me about it.

[2017-06-01 06:14] marvin-bitterlich opened #1557 "Player Inventory Corruption on death"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2353.jar
- Forge version: forge-1.10.2-12.18.3.2281-universal.jar
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

Plugins (123): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Backpacks!

[2017-06-01 07:58] dualspiral commented on #1556
@JaSpr This isn't an issue with Sponge anyway. In Nucleus, set `chat.check-body-for-minecraft-prefix` to `true` or, if that doesn't work, `chat.overwrite-early-prefixes` to `true`. Some other plugin or mod is affecting the chat and moving the Minecraft tag into the body, rather than the prefix.

If you have any more issues, you're best off asking over in the Nucleus discord channel or filing an is

[2017-06-01 10:02] ghost opened #1558 "Crash With Lost Thaumaturgy Mod"
**I am currently running...**
- SpongeForge version: 1.11.2-2282-6.1.0-BETA-2357
- Forge version: 2310
- Java version: Java 8 x64 u131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods:
Plugins: FlexibleLogin, UniverseGuard
Mods: [Lost Thaumaturgy](https://minecraft.curseforge.com/projects/lost-thaumaturgy?gameCategorySlug=mc-mods&projectID=2

[2017-06-01 10:06] phit commented on #1558
from the crash report
`Mod iceandfire (Ice and Fire) requires [llibrary@[1.4.1,)]`

install [llibrary](https://minecraft.curseforge.com/projects/llibrary), not a sponge issue

[2017-06-01 12:06] ghost commented on #1558
oh sorry i just reproduced the bug with only installing ice and fire, sponge and plugins to let a clear crash report. it crashed in my modpack first time.
[crash-2017-06-01_14.59.39-server.txt](https://github.com/SpongePowered/SpongeForge/files/1044652/crash-2017-06-01_14.59.39-server.txt)
btw, it crashes LT in actual. sorry for mentioning the wrong mod.

---
and here is another crash
[crash-2017-

[2017-06-01 12:39] kenijey commented on #1558
hey plz don't abandon it :D

[2017-06-01 12:40] kenijey commented on #1558
and here is another crash
[crash-2017-06-01_15.39.10-server.txt](https://github.com/SpongePowered/SpongeForge/files/1044747/crash-2017-06-01_15.39.10-server.txt)

[2017-06-01 15:42] kenijey commented on #1558
hey ah, it also crashes with ice and fire mod also, i was wrong.
here is the crash report:
[crash-2017-06-01_18.40.57-server.txt](https://github.com/SpongePowered/SpongeForge/files/1045321/crash-2017-06-01_18.40.57-server.txt)

[2017-06-01 19:15] JaSpr commented on #1556
Well, the reason I opened a sponge ticket was because the *only* thing that changed was I switched from latest-stable version of spongeForge to the experimental version (which I didn't realize was so old).  Sort of has to be an issue with sponge if changing sponge is what caused it.

[2017-06-01 19:15] JaSpr commented on #1556
Although, the ticket is invalid because that build is invalid.

[2017-06-01 20:37] kenijey commented on #1558
hello again, sponge crashed with Animania mod. it's another crash on the same server.
[1.txt](https://github.com/SpongePowered/SpongeForge/files/1045980/1.txt)

[2017-06-01 20:43] Deamon5550 commented on #1558
If its different mods crashing then open separate issues we so we can track then individually.

[2017-06-01 20:44] ghost commented on #1558
okay.

[2017-06-01 20:45] ghost opened #1559 "Crash With Animania Mod"
**I am currently running...**
- SpongeForge version: sponge 2357
- Forge version:  2310
- Java version:  8u131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
[1.txt](https://github.com/SpongePowered/SpongeForge/files/1045990/1.txt)

[2017-06-01 22:53] FiveEYZ commented on #1554
on 1.11.2
Mekanism's Digital Miner is also causing this spam when it digs
error:
https://gist.github.com/FiveEYZ/49eefd0b134e42533c26d3a125790d4e

server-log:
https://gist.github.com/FiveEYZ/a1c898ed6fca37d30cc52d91590c148d

[2017-06-01 22:59] Keaton1188 opened #1560 "Beyond Server - Quarry Issue"
Hi all, currently having this issue where the Quantum Quarry world goes to mine and then hits a silver-fish, this then gives the error "java.lang.IllegalArgumentException: Attempted to cancel a non cancellable event"

To fix it, we have to set the difficulty of the Quantum Dim (DIM-9999) to peaceful, if the server restarts or something, this change won't save.

Crash - https://pastebin.com/w5nKtnk

[2017-06-01 23:07] FiveEYZ commented on #1560
same issue as almost all of these in this link
https://github.com/SpongePowered/SpongeForge/issues?utf8=%E2%9C%93&q=is%3Aissue%20quantum

[2017-06-02 00:22] phit commented on #1560
This is a ExU2 issue, the quarry itself was fixed with Sponge!
This issue is ExU2 is trying to cancel a non cancellable event so this can't be fixed on Sponge's end https://github.com/SpongePowered/SpongeForge/issues/1158#issuecomment-281769315

[2017-06-02 01:08] #1560 closed, assigned to nobody

[2017-06-02 18:33] Orcinuss commented on #1554
My beyond server (v1.8.0) is also being affected by this. It causes massive lag whilst occurring results in server timeouts where players can no longer get on the server without it being restarted manually.

Server Log snippet: https://pastebin.com/U2jHijqF

[2017-06-03 04:38] ghost opened #1561 "Crash report. Sever not starting."
C:\Users\ramia\Downloads\Servers\IndustrialBox_052>java -Xmx1G -Xms1G -jar forge.jar nogui
[21:19:51] [main/INFO] [LaunchWrapper]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[21:19:51] [main/INFO] [LaunchWrapper]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[21:19:51] [main/INFO] [LaunchWrapper]: Calling tweak class n

[2017-06-03 05:33] JaSpr commented on #1554
For the time being, go into config/sponge/global.conf and change cause-tracker.verbose to false.  Requires server restart

[2017-06-03 07:12] ryantheleach commented on #1361
@Raycoms Do you have any elaboration? as it stands it's a little hard to follow what you mean.

[2017-06-03 08:57] RogueRaiden commented on #1554
@JaSpr and what does that do?

[2017-06-03 10:22] jackytuutykcaj commented on #1561
Use bootstrap or use a version of applied energistics that works with sponge

[2017-06-03 14:42] Orcinuss commented on #1554
@JaSpr, if there is another issue that causes a crash, will the crash report not tell me what the issue is if I turn the setting off?

[2017-06-03 16:36] gabizou commented on #1561
One of your core mods are loading classes too early. Please review the needed information when opening issues to better assist you. As it stands right now, there's no mod list information or version information for sponge.

[2017-06-03 16:36] #1561 closed, assigned to nobody

[2017-06-03 17:29] Twisted-Code opened #1562 "villagers have mismatched trades"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2353 (Last time I checked the site this was latest and I doubt you would expect people to update every time the repo is pushed, even if it might make fixing things easier)
- Forge version: forge-1.10.2-12.18.3.2185
- Java version: going by the Java control panel, Java 8 update 121 (build 1.8.0_121-b13)
- Opera

[2017-06-03 19:07] Raycoms commented on #1361
Got it figured out, forgot to close this.
Thanks

[2017-06-03 19:07] #1361 closed, assigned to nobody

[2017-06-03 21:27] Mohron opened #1563 "[1.11.2] Baubles Menu Button Voids Items"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2356
- Forge version: forge-1.11.2-13.20.0.2299-universal
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [x] Windows

- Plugins/Mods:
```Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Potion Core Coremod, SpongeAPI, SpongeForge, FoamFixCore, Ac

[2017-06-03 21:39] johnfg2610 opened #1564 "StackOverflowError with Tracking"
**I am currently running...**

- SpongeForge version: 1.11.2-2282-6.1.0-BETA-2358
- Forge version: 13.20.0.2282
- Java version: 8 111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (180): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, Micdoodle8 Core, OpenEye, Backpacks!, SpongeAPI, SpongeForg

[2017-06-03 22:05] Eufranio commented on #1534
Please don't forget this 😢

[2017-06-03 22:14] Eufranio opened #1565 "CME generating a world"
I started walking and suddenly the server crashed. It will crash again if I generate more chunks.

**I am currently running...**
    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-a15cc3e
    SpongeForge: 1.11.2-2282-6.1.0-BETA-2358
    Minecraft Forge: 13.20.0.2298
- Operating System: Linux (Alpine)

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, IvToolkit, O

[2017-06-04 00:12] JaSpr commented on #1554
That setting is to turn off the ongoing logs.  It shouldn't have anything to do with a crash report.  It's just the cause tracker logging that logs pages of data at a time.

[2017-06-04 04:54] ukdyl94 commented on #1460
Just out of curiosity do these players have VeinMiner client side or is it server only.

[2017-06-04 07:38] johnfg2610 commented on #1460
On our server the client and server had it installed

[2017-06-04 07:39] ukdyl94 commented on #1460
Same here; it makes me wonder if maybe it should only be on the server. My mod pack is currently in a testing phase so I'll give it a go and see if any more issues arise. 

		Get Outlook for iOS

On Sun, Jun 4, 2017 at 3:38 AM -0400, "Johnfg10" <notifications@github.com> wrote:

On our server the client and server had it installed

—
You are receiving this because you commented.
Reply to this emai

[2017-06-04 11:11] hfreeb opened #1566 "Failing to run Minecraft Server IntelliJ run configuration"
I have cloned the repository and run both 'setupDecompWorkspace --refresh-dependencies' and 'genIntellijRuns' and they worked successfully. But, when I try to run the 'Minecraft Server' run configuration created, I am spammed with errors from the build such as:
[code]
causing the run to fail.

[2017-06-04 11:21] kashike commented on #1566
If I remember correctly, you need to disable the mixin annotation processor in your IDE.

[2017-06-04 12:04] hfreeb commented on #1566
That works! Thanks.

[2017-06-04 12:04] #1566 closed, assigned to kashike

[2017-06-04 14:24] Bennyboy1695 commented on #1460
Veinminer is required on both, if its not on the server then its not usable by the clients joining with it. And if its not on client its the same as the client can't tell the server "hey im veinmining break all these blocks"

[2017-06-04 15:17] ukdyl94 commented on #1460
After doing some testing @Bennyboy1695 It's not required for Veinminer to be on the client side.

[2017-06-04 18:18] FiveEYZ commented on #1422
been getting this same crash couple of times now
https://gist.github.com/FiveEYZ/05ad6778aa7cb8ae411c41f6de36662d

A mod called [Ruins](https://minecraft.curseforge.com/projects/ruins-structure-spawning-system) adds small (and big) structures around the world with some are containing mob spawners (in this case vanilla spider spawner)

Ruins-1.11.2.jar
spongeforge-1.11.2-2282-6.1.0-BETA-2358
forge-

[2017-06-04 19:32] dualspiral commented on #1460
Subtle bug, but this turns out to be a thread safety problem. [I've explained it on the VeinMiner issue](https://github.com/portablejim/VeinMiner/issues/95#issuecomment-306060287), but it exposes a Sponge bug too.

[The problem is here, in the event manager code](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/event/SpongeModEventManager.java#L304-L32

[2017-06-04 21:24] #1460 closed, assigned to nobody

[2017-06-05 00:23] Keaton1188 commented on #1320
This is still an issue, any update?

@Aaron1011 @bloodmc

[2017-06-05 01:57] gabizou commented on #1422
From what this looks like, it looks like it's passing a `null` Entity class, which is bad. I'm not sure how it's getting to the point where there's a `null` entity class in the first place...
I've added some more information for the issue causing Sponge's registry system to fail, this doesn't resolve the issue itself, but it should provide some more informative information to help us resolve the i

[2017-06-05 02:36] JaSpr opened #1568 "Upon changing dimensions, player.dimension is temporarily null, causing null pointer exceptions with some mods"
The particular mod from which our NPEs stem is morpheus.  Morpheus regularly checks the sleep state of every player, and does so at one point with a request to player.dimension.  Sometimes (maybe once per 15-100 dimension changes) player.dimension will return null, causing an NPE.  This *only* happens when Sponge is present.

**I am currently running...**

    Minecraft: 1.10.2
    SpongeAPI: 5.2.

[2017-06-05 02:44] JaSpr commented on #1568
I believe I made some unproven assumptions with this ticket, and will close it.  I think the issue is that whatever Sponge is returning for dimension, there is no matching key in Morpheus HashMap of sleep states, and then when Morpheus tries to act on that sleep state (now null), it causes the NPE

[2017-06-05 02:44] #1568 closed, assigned to nobody

[2017-06-05 02:53] parlough commented on #1568
Morpheus is known to have incompatibilities with Sponge, so your best bet at the moment is to use an alternative such as [SleepVote](https://ore.spongepowered.org/Icohedron/Sleep-Vote) and remove Morpheus.

[2017-06-05 02:55] JaSpr commented on #1568
That's a good idea, although we're using a modpack (FTB Beyond) at the moment.  I suppose since it is a server-side-only mod, it wouldn't be an issue though.

[2017-06-05 04:46] FiveEYZ commented on #1422
any chance u can make a build for 1.11.2? cause that's what i'm using

[2017-06-05 18:03] aaronegger opened #1569 "There was error attempting to update some data for the content"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2356
- Forge version: 13.20.0.2282
- Java version: Client and Server jre1.8.0_111
- Operating System: Windows 8.1 Pro x64

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
AbyssalCraft-1.11.2-1.9.4-pre-2.jar
AdvancedRocketry-1.11.2-1.2.0f.jar
AnimalBikes-1.11.2.jar
Bauble

[2017-06-05 18:49] aaronegger commented on #1569
I fixed it by myself.

It was the entry ForgeData->SpongeData->CustomManipulators

I had to delete this tag completely to fix it.
Even if there were no sub tags it refused to let someone join the server if this tag was set.
The plugin adventureMMO added a custom tag.

It is not a big thing but i will leave it up to you if you want to leave or delete this issue.
Maybe this will help someone else wh

[2017-06-05 18:49] #1569 closed, assigned to nobody

[2017-06-05 19:00] macks2008 commented on #1562
thread bump: I figure if it's been up for 2 days and no one has even labeled it, you probably missed it, right?

[2017-06-05 19:20] Bennyboy1695 opened #1570 "[1.10.2] MobSpawner Spam"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-Beta-2363
- Forge version: 12.18.3.2281
- Java version: 1.8.0_131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (184): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Not Enough Items, CoFH ASM, FoamFixCore, ccl-e

[2017-06-06 04:09] ghost opened #1571 "[1.11.2] Mob Spawning in Nether issue"
**I am currently running...**
- SpongeForge version:
spongeforge-1.11.2-2282-6.1.0-BETA-2360
- Forge version:
forge-1.11.2-13.20.0.2282-universal
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods:
minecraft{1.11.2} [Minecraft] (minecraft.jar)
mcp{9.19} [Minecraft Coder Pack] (minecraft.jar)
FML{8.0.99.99} [Forge Mod Loader] (forge-1.11.2-13.2

[2017-06-06 04:17] KaleHarris opened #1572 "[1.11.2]Alternate Inventory Issue"
- SpongeForge version: The latest version at the time of this writing, 1.11.2-2282-6.1.0-BETA-2360
- Forge version: 13.20.0.2282
- Java version: whatever version of Java minecraft 1.11.2 uses, I'm honestly not sure.
- Operating System: Run on a server through ApexMC hosting with 2 GB RAM.

- Plugins/Mods:

Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge,

[2017-06-06 05:04] gabizou commented on #1569
This is an issue as it's necessary to perform upgrades from pre-existing data from legacy systems. If you can provide a copy of the old player data and a copy of the new one, that'd be helpful.

[2017-06-06 14:06] Keaton1188 opened #1573 "Inventory Issue"
Hi all, we recently updated to SpongeForge: 1.10.2-2281-5.2.0-BETA-2363 and this caused issues with items dropping out of inventories, picking up stacks of items in your inv or any item and dropping it out your inv it will clear and not drop. Pressing Q to throw an item out is fine.

With SpongeForge: 1.10.2-2281-5.2.0-BETA-2361 this is not an issue, hope it can be fixed soon :)

[2017-06-06 15:12] EmanYm commented on #1573
Do you have NEI/JEI installed?
I can't remember which one, but if you drop items out the right side of your 'e' screen it is the same as a trash can.

[2017-06-06 15:57] AEnterprise commented on #1527
so i have split the fakeworld into 2 parts now: one that extends WorldServer and one that extends World

when adding spongeforge (7.0.0-BETA-2364) to the mix this produces a number of errors, the final one that crashes the server when our dimension is loaded is again about a UUID being null

relevant code: https://github.com/BuildCraft/BuildCraft/pull/3654

[2017-06-06 17:25] FiveEYZ opened #1574 "[1.11.2] Server fail to start on forge 2314"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-7.0.0-BETA-2364
- Forge version: forge-1.11.2-13.20.0.2314-universal
- Java version: 1.8.0_131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:

**What is the expected result?**
updated forge to latest while updating modpack
**What is the current r

[2017-06-06 17:39] ktole1999 commented on #1574
error is in the log. change sponge to match forge or change forge to match sponge.

/* A errpr was encountered whilst patching:                                                                                                                     */
[19:11:25] [main/INFO] [Sponge/]: /*

[2017-06-06 17:42] FiveEYZ commented on #1574
and then we have this comment https://github.com/SpongePowered/SpongeForge/issues/1470#issuecomment-300970482

[2017-06-06 17:43] ktole1999 commented on #1574
the server is telling you what it cant do and why. argue all you want. in some cases a mismatch is not a big deal. in this case apparently it is.

[2017-06-06 18:06] #1573 closed, assigned to nobody

[2017-06-07 19:33] Eufranio commented on #1527
I'm getting (what is looks like to be) the same crash-report: https://hastebin.com/ojuxenevob.sql

[2017-06-08 07:18] AEnterprise commented on #1527
@Eufranio that crash will be fixed when my PR above gets merged although another error will pop up then, we are trying to restore compatibility with sponge because it is used more and more on servers, currently waiting on the busy spongeforge team to have time to look at this

[2017-06-08 07:48] iLefty opened #1575 "Mo'Creatures teleportation"
I have a problem with teleportation to wyverna world.
My players can't teleport to this location, but I can do this (I have OP and LP perms).
When players use a staff, they are teleported to the spawn coordinates from the wyvern world, but to the ordinary world.
But for me teleportation is good.

[2017-06-08 15:37] iLefty commented on #1575
Oh, I forgot said. I use latest SF and forge on minecraft 1.10.2

[2017-06-08 15:48] ryantheleach commented on #1574
Thanks for the report. It helps to notify the developers that a new update needs to happen on Sponges side.

Whilst compatibility is tested when the versions match, we rely upon either the devs or the players reporting when a patch fails in order to know when to update. These issues help us.

To maximize compatibility, run with the versions matching.

To help us, run latest with both, and post iss

[2017-06-08 15:54] ryantheleach opened #1576 "SpongeForge-2360 Incompatible with SinglePlayer / Client."
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-6.1.0-BETA-2360
- Forge version: forge-1.11.2-13.20.0.2282
- Java version:  1.8.0_92, Oracle Corporation
- Operating System: Windows 10 (amd64) version 10.0

- Plugins/Mods:
[code]

**What is the current result?**

Singleplayer doesn't even get past the launch phase.

I'm not using the latest forge due to the incompatibi

[2017-06-08 16:09] dualspiral commented on #1576
Yeah, that was my fault. @Aaron1011 fixed it on bleeding - but it never got cherry picked to stable-6. I've done that now.

https://github.com/SpongePowered/SpongeForge/commit/b51382c19bf1fac37d49ac15ddfbe43c2bf0a676

[2017-06-08 16:09] #1576 closed, assigned to nobody

[2017-06-08 16:13] ryantheleach commented on #1576
Thanks dual.

[2017-06-08 17:45] johnfg2610 commented on #1564
some debug info from @Aaron1011 custom debug build https://thepasteb.in/p/3lhJcDJ9LGAXJuN
"this looks bad I don't think we handle captures for forge's fluids properly since acutallyadditions doesn't change any of the fluid behavior in their blocks" was what aaron said to one of our staff

[2017-06-08 18:11] iLefty commented on #1575
Sorry, is not Sponge bug.

[2017-06-08 18:12] #1575 closed, assigned to nobody

[2017-06-08 19:14] FiveEYZ commented on #1422
@gabizou updated to spongeforge-1.11.2-2282-6.1.0-BETA-2368
here is a new crash:
https://gist.github.com/FiveEYZ/989ec7bf86efb983723934c7c833b893

[2017-06-08 23:10] Katrix opened #1577 "Memory issue with Psi and SlotTransactions"
So I'm running a small modded sponge server where Psi is included. Sometimes when someone casts a spell I notice a big uptick in the amount of memory that the server uses (in the 100s of mb range).  Looking into a heap dump it looks like LOTS of SlotTransactions are taking place (around 2000) and that they aren't cleaned up afterwards.  Seeing as the CAD ItemStack uses quite a bit of memory by its

[2017-06-09 05:01] Autopoietico opened #1578 "[1.11.2] FTB Utilities Anti-Explosion option doesn't work with Sponge"
**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2282-6.1.0-BETA-2343
- Forge version: forge-1.11.2-13.20.0.2304-universal
- Java version: 1.8.0_121
- FTB Utilities: FTBUtilities-1.1x-3.6.5
- Operating System:
 - [x] Ubuntu Linux
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
 - compatlayer-1.11.2-0.2.8.jar
 - FTBLib-1.1x-3.6.5.jar

**What is the expected result?**

Claimed ch

[2017-06-09 16:41] JBYoshi commented on #1422
Related: SpongePowered/SpongeVanilla#328

[2017-06-09 17:15] iLefty opened #1579 "Bug with GP and zz-backpacks"
Hello! I discovered a method of stealing, using zz-backpacks mod. Here's a video:
https://youtu.be/oOqCJOmiTZ0
Will this be fixed?
My players steal items, I do not know what I must do. I have 12 banned players...
This is flags in claim:
https://cdn.discordapp.com/attachments/215593150494801930/322751436024971265/unknown.png
https://cdn.discordapp.com/attachments/215593150494801930/3227514597018173

[2017-06-09 17:24] FiveEYZ commented on #1579
you should really update forge, you have 2272.

update to at least 2281+

[2017-06-09 20:11] Katrix commented on #1577
Here is a link to the heap dump. https://1drv.ms/u/s!AujWrwEeDZYGgqkU53TuYj1SO5phvw

[2017-06-09 20:17] Aaron1011 commented on #1577
@Katrix-: Does this occur when casting any spell, or only certain spells?

[2017-06-09 20:26] Katrix commented on #1577
I'm uncertain, but from what I have seen (just looking at memory usage, no heaps), after the spell has been casted for the first time, memory seems to stay somewhat the same. I'll see if I can run some more tests once I can.

[2017-06-10 02:05] FiveEYZ commented on #1563
is not happening on:
forge-1.11.2-13.20.0.2310-universal
spongeforge-1.11.2-2282-6.1.0-BETA-2368
Baubles-1.11-1.4.5

Baubles menu opens and the items on the mouse falls to the ground

[2017-06-10 04:23] FiveEYZ opened #1580 "[1.11.2] Error activating TileEntity-Activation"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-6.1.0-BETA-2375
- Forge version: forge-1.11.2-13.20.0.2310-universal
- Java version: 1.8.0_131
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:

**What is the expected result?**
no failure

**What is the current result?**
Setting it to true in con

[2017-06-10 12:13] JBYoshi commented on #1563
Then is this resolved?

[2017-06-10 15:05] FiveEYZ commented on #1563
i would say its not resolved, tested this using only Baubles and SpongeForge on a test server, this bug happens... so why is it working properly on the modpack im running? this confuses me

[2017-06-11 07:54] brandon3055 commented on #830
@Quetzi Regardless of whos fault this is it could be easily fixed will a single check in your event handler. It would at the very least stop all the crashes.

[2017-06-11 08:29] tolly765 commented on #830
@brandon3055 His response to that was the fact that "it'd be redundant" and so it wasn't necessary. It is clearly necessary seeing as it is affecting a great number of people, but Quetzi doesn't want to write a few lines of code to write a "redundant" check.

I mean, what else is there to use? Bukkit is currently under a DMCA so that's out of the question, and other alternatives simply do not have

[2017-06-11 12:23] FiveEYZ commented on #1574
this is resolved now by using latest forge and SF

[2017-06-11 12:23] #1574 closed, assigned to nobody

[2017-06-11 19:33] mkrtes opened #1581 "1.10.2 strange error"
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2344
- Forge version: 12.18.3.2297
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)

I don't know what happened. The server crashed with this error. Restart did force.
Spread just like that, maybe it will help in the development.
Error log https://pastebin.com/eHR0Ewx6
Full log more than 10mb, If necessary, p

[2017-06-12 16:00] FiveEYZ commented on #1422
guess this is some info:
[code]
[![https://gyazo.com/4be2118210048df4db47f48b604e21d7](https://gyazo.com/4be2118210048df4db47f48b604e21d7/raw)](https://gyazo.com/4be2118210048df4db47f48b604e21d7)

[2017-06-14 19:27] Zidane commented on #830
@tolly7654 @brandon3055 Can I get a stacktrace with latest SpongeForge (1.10.2) and that mod? I'm going to look into fixing this.

[2017-06-14 21:29] HeberonYT opened #1582 "FTBUtilities buttons broken"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2366
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
FTBLib-1.1x-3.6.5
FTBUtilities-1.1x-3.6.5
**What is the expected result?**
I use the mod ftbUtilities to protect chunks on public servers, the mod must p

[2017-06-14 22:48] EmanYm commented on #1582
You are using SpongeForge for Minecraft 1.10.2 and FTBu for Minecraft 1.11.2
You should either upgrade Sponge or downgrade FTBu

[2017-06-14 23:32] BrainStone opened #1583 ""Exception reading ./world/level.dat" On every startup"
**I am currently running...**
- SpongeForge version: 1.12-2321-7.0.0-BETA-2386 (Didn't occur in 1.12-2321-7.0.0-BETA-2383)
- Forge version: 1.12-14.21.0.2324
- Java version: 1.8_131
- Operating System: Linux Debian
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, OpenEye, SpongeAPI, SpongeForge, Broadcast, BungeeTabListPlus-SpongeBridge, EconomyLite,  FastAsyncWo

[2017-06-14 23:33] BrainStone commented on #1583
Accidentally created an issue over on MinecraftForge/MinecraftForge#3989

[2017-06-14 23:36] BrainStone commented on #1583
Damnit xD Might be still a Forge issue. I honestly don't know...

[2017-06-15 00:21] BrainStone opened #1584 "Failed to handle packet: java.util.NoSuchElementException: packet_handler"
When a Vanilla client connects to a server which only has mods which would allow a vanilla connection I get this exception:

https://pastebin.com/ivPnaR94

**I am currently running...**

- SpongeForge version: 1.12-2321-7.0.0-BETA-2386
- Forge version: 1.12-14.21.0.2324
- Java version: 1.8_131
- Operating System: Linux Debian
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minec

[2017-06-15 00:29] ryantheleach commented on #1584
Is there any more to this error message? It looks like it cuts off right before any useful details appear.

[2017-06-15 00:31] ryantheleach commented on #1584
Does this happen without SpongeForge, using only the forge mods?

[2017-06-15 00:36] BrainStone commented on #1584
@Mysticdrew tested it and it worked without SpongeForge @ryantheleach
That's why he redirect me to here.

[2017-06-15 00:45] BrainStone commented on #1584
EDIT: Further test from @mysticdrew revealed it's not a SF issues as he can reproduce it on Forge 1.12.

[2017-06-15 00:45] #1584 closed, assigned to nobody

[2017-06-15 01:52] HeberonYT commented on #1582
Hello @EmanYm
Let me correct your comment. The version I'm using applies to 1.10.2
Here is the evidence.
![screenshot_2](https://user-images.githubusercontent.com/13698597/27161789-4d831eb6-5143-11e7-8ff5-f2538d0980d3.png)

In addition to that, I comment that you already use previous versions and they did not work either.

[2017-06-15 02:39] EmanYm commented on #1582
That's what I get for only looking at the first matching version numbers...I am hereby corrected.

[2017-06-15 02:56] gabizou commented on #1583
It's a forge thing to be honest, Sponge doesn't have many things that interfere with Forge's registry management system aside from callback additions on additional mod items being registered (things like items, blocks, tile entities, entities, villager professions, careers, etc.)

[2017-06-15 02:56] #1583 closed, assigned to nobody

[2017-06-15 03:47] HeberonYT opened #1585 "Mod Incompatibility"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2379
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
compatlayer-1.10-0.2.9.jar
ElecCore-1.10.2-1.7.421.jar
elementaldimensions-0.1.2.jar

**What is the expected result?**
The mod element dimensions adds different worlds to minecraft,

[2017-06-15 09:07] mkrtes opened #1586 "Crash after creeper explosion (1.10.2)"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2353
- Forge version: 12.18.3.2297
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods: FTB Beyond mod-pack
Plugins (182): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, Not Enough Items,

[2017-06-15 15:33] iLefty opened #1587 "[1.10.2] Crash "Don't know how to add class""
Hello Sponge dev!
My server suffered a disaster. It turns off for a reason that I do not understand. There are crash logs, which fully describe the information about the mods, their versions and about the Sponge version.
I'm sure you will say "check without Sponge", but I can not do this. Crash appears when there is a high online, and without Sponge players will not be on server. Therefore, I can

[2017-06-15 15:40] Zidane commented on #1587
Unfortunately the issues you're posting have nothing to do with Sponge. You have to test without it otherwise we simply cannot help you.

[2017-06-15 15:40] #1587 closed, assigned to nobody

[2017-06-15 15:46] Zidane commented on #1552
@gabizou

I need you to look into this as soon as possible. We don't need regressions from massive tracker changes.

[2017-06-15 15:48] Zidane commented on #1547
1.10.2-2281-5.2.0-BETA-2379

This is the latest 1.10.2 build. Closing this as the tester needs to update to that build and try again.

[2017-06-15 15:48] #1547 closed, assigned to nobody

[2017-06-15 15:51] Zidane commented on #1537
Re-test without Sponge:

[15:17:48] [Server thread/ERROR] [FML/]: Exception caught during firing event net.minecraftforge.event.entity.player.PlayerInteractEvent$RightClickBlock@58a31ffe:
java.lang.NullPointerException
	at mcmultipart.item.PartPlacementWrapper.onPlayerRightClickBlock(PartPlacementWrapper.java:160) ~[PartPlacementWrapper.class:?]

Happening in this mod, not us.

[2017-06-15 15:51] #1537 closed, assigned to nobody

[2017-06-15 15:52] Zidane commented on #1548
@simon816

Take a look at this, see what you think.

[2017-06-15 15:54] Zidane commented on #1564
@Aaron1011

Status?

[2017-06-15 15:54] Zidane commented on #1549
@Deamon5550

Take a look into this please.

[2017-06-15 15:56] Zidane commented on #1563
You're confusing me.

First you say it doesn't happen with just Forge + SF + Baubles then you say it does but it doesn't happen in the modpack yet the issue OP says it DOES happen in the modpack.

Please clarify..

[2017-06-15 16:09] FiveEYZ commented on #1563
yes, im sorry should have clarified that in my first comment i was using A modpack, and those are the versions of the mods in that pack.

later (hence my second comment) i tested the affected mods on a test server and got same result as OP

sorry for confusion

[2017-06-15 16:46] Zidane commented on #1572
@Faithcaio

Get this resolved please.

[2017-06-15 16:50] Zidane commented on #1534
@JBYoshi

Can you look into this?

[2017-06-15 16:50] Zidane commented on #1536
Closing as I think it is a duplicate.

[2017-06-15 16:50] #1536 closed, assigned to nobody

[2017-06-15 17:53] johnfg2610 commented on #1564
it seems to be doing it to other blocks too like gravel ive attached the crashlog
[crash-2017-06-15_04.09.07-server.txt](https://github.com/SpongePowered/SpongeForge/files/1078500/crash-2017-06-15_04.09.07-server.txt)

[2017-06-15 18:07] Eufranio opened #1588 "Multiple entries with the same key"
I found another issue but it was related to heads, this one looks to be related to a random skeleton... When a specific player logs in (and loads the entity), the server crashes. Crash-report: https://hastebin.com/yujowigefa.sql

**I am currently running...**
    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-a15cc3e
    SpongeForge: 1.11.2-2315-6.1.0-BETA-2381
    Minecraft Forge: 13.20.0.2298

[2017-06-15 18:10] Eufranio commented on #1588
Enabling **removeErroringEntities** is a workaround, but this still a issue when the option is disabled.

[2017-06-15 19:16] Faithcaio commented on #1572
This might be fixed in the latest version
@Leafygreens97 if you could test again.

[2017-06-15 21:05] mzx987 commented on #1548
From the looks of things, Ender IO already fixed this issue. So I should be able to close this now.

[2017-06-15 21:05] #1548 closed, assigned to simon816

[2017-06-16 00:01] mkrtes commented on #1394
I have the same problem. Modpak skyfactory3 on the sponge. However, modpak "Age of engineering" is not have this problem! While working on the sponge. Very strange.

[2017-06-16 01:44] HeberonYT commented on #1582
**Additional information**: mod ftb utilities is loading correctly on the server, because the map backup is being performed normally, and that is a characteristic of the mod. It seems that the problem of the buttons to protect, is only visual.

[2017-06-16 02:00] HeberonYT commented on #1579
I have the same problem on my server 1.10.2 and I am using the latest versions.
SpongeForge: 1.10.2-2281-5.2.0-BETA-2379
Forge: 12.18.3.2281
Mod: zz-backpacks 1.10.2 - 3.1.5.jar

[2017-06-16 07:10] iLefty commented on #1579
@HeberonYT
I fixed it, when set in zz-backpack config:
disable_custom_block_interfaces=true
And set another interfaces on true.

[2017-06-16 18:31] tolly765 commented on #830
Sorry for the slow reply @Zidane, but here it is: https://pastebin.com/tPwYiERF

[2017-06-16 18:37] Zidane commented on #830
@tolly7654

Are you using an old build of his mod? Line 28 points to a comment and no code lol:

https://github.com/Quetzi/Morpheus/blob/master/src/main/java/net/quetzi/morpheus/helpers/SleepChecker.java#L28

[2017-06-16 18:37] Zidane commented on #830
Oh wait, 1.10.2...keep forgetting this:

https://github.com/Quetzi/Morpheus/blob/1.10.2/src/main/java/net/quetzi/morpheus/helpers/SleepChecker.java#L28

[2017-06-16 18:38] tolly765 commented on #830
We updated a couple days ago to the latest one, so it's fine

[2017-06-16 18:43] Zidane commented on #830
@tolly7654

What is the quickest way to reproduce?

[2017-06-16 18:44] tolly765 commented on #830
@Zidane Get a draconic dislocator (advanced or regular), make a waypoint in the end then go to the overworld and try go to the end with it. Repeat until crash

[2017-06-16 21:26] ghost opened #1589 "Server restarts cause Sponge to continuously throw cause tracker error"
Whenever my server goes into an automatic restart, Sponge halts the process and throws these errors continuously:

https://pastebin.com/raw/5hZshKTj

I am using Sponge 2379
Forge 2316
Many common Sponge plugins
Pixelmon

Full plugin list: https://gyazo.com/8beeec443c1a306bb9084056784a74f9

Thank you

[2017-06-16 21:39] ziceptor opened #1590 "[1.11.2] Server Crash"
[crash-2017-06-17_04.41.49-server.txt](https://gist.github.com/ziceptor/c564b9910730f063bd6b3c4e12ae8d53)
[fml-junk-earlystartup.log](https://gist.github.com/ziceptor/8f6bad3a7be259f940d984f45a498f90)
[fml-server-latest.log](https://gist.github.com/ziceptor/73a6bf23af38e570a723ab0b22415f82)
[latest.log](https://gist.github.com/ziceptor/e159282c6edf5015feeb03ae0dfae195)

Update from
[code]
to
[code

[2017-06-16 22:17] Faithcaio commented on #1590
please try with the latest version again
could be fixed with https://github.com/SpongePowered/SpongeCommon/commit/de9c49c2de6908861a697e79481ef1593892329f

[2017-06-16 22:39] Eufranio opened #1591 "[1.11.2] GalactiCraft rocket dupe"
When placing a GalactiCraft's rocket in the launch pad, the itemstack will not be consumed: the rocket will be placed and will not be removed from your inventory. This allows infinite rocket duplication.

**I am currently running...**
    Minecraft: 1.11.2
    SpongeAPI: 6.1.0-SNAPSHOT-a15cc3e
    SpongeForge: 1.11.2-2315-6.1.0-BETA-2381
    Minecraft Forge: 13.20.0.2298
- Java version: Java 8 upd

[2017-06-17 03:30] DarkArc opened #1592 "Unable to connect when SpongeForge is installed client side"
**I am currently running...**
[code]

**Exception:**
[code]
[code]

[2017-06-17 04:38] EmanYm commented on #1592
I suggest removing SpongeForge from your client.
Probably don't need SpongeAPI client side either

[2017-06-17 05:53] parlough commented on #1592
@EmanYm SpongeForge is designed to be able to work on servers and clients just fine, it even provides some very slight extra features. Eventually the client version will provide a lot more functionality as well.

It can be a good way to test your plugins quickly, and it is another use case plugin developers should test and plan for. There are some people who even use SpongeForge on singleplayer to

[2017-06-17 06:53] EmanYm commented on #1592
Have you tried without Spongeforge installed?
Did you use the forge installer?
Do you have any other mods installed?

[2017-06-17 10:05] Katrix commented on #1577
So, tried to get a bit more information, but haven't found much. Talked to a player that managed to create a player object roughly a gb in size. According to him, he only uses Psi for conjuring light blocks, some 10-20 times per hour. I tried to run around a conjure a bunch of light blocks myself, but couldn't get the same behavior.

Also tried to see what changed between the item stacks (comparin

[2017-06-17 14:51] DarkArc commented on #1592
@EmanYm It's not any other mods, it's SpongeForge. I've tried with every other mods removed.

I need SpongeForge client side, as my mod is one jar, for client and server, and both a mix of Sponge, and Forge, for Item/Block registration. That's non-trivial to change, and I need Sponge present, if for no other reason, than to allow classes to load properly.

[2017-06-17 15:04] EmanYm commented on #1592
Just trying to help by running down a troubleshooting list.  I will leave this for a dev to look into now.

[2017-06-17 15:11] gabizou commented on #1589
[code]
It sounds like pixelmon is either crashing or recursively saving a player.... Not a sponge issue, it's doing it's job to report that something isn't successfully completing a task.

I'd be curious to see the server log when it first starts as that should provide more information than the forcefully trimmed log you're providing as there are lines that are being skipped throughout.

[2017-06-17 17:24] ziceptor commented on #1590
@Faithcaio
forge-1.11.2-13.20.0.2315-universal.jar
spongeforge-1.11.2-2315-6.1.0-BETA-2395.jar latest version?

[crash-2017-06-18_01.11.14-server.txt](https://gist.github.com/ziceptor/df0ed5e4b6318b07f2ee40013cc49a24)
[fml-junk-earlystartup.log](https://gist.github.com/ziceptor/47972e3a206783cc826a02e5fbab0677)
[fml-server-latest.log](https://gist.github.com/ziceptor/ca165efdea0a999455a64e41b54de6

[2017-06-17 19:51] Faithcaio commented on #1590
You got some old custom data from plugins left in there: `io.github.hsyyid.commandsigns.data.iscommandsign.SpongeIsCommandSignData`

With the next build it should no longer crash.

[2017-06-17 20:16] ziceptor commented on #1590
@Faithcaio

Sponge? Commandsigns?

[2017-06-17 20:48] ghost commented on #1589
If I can reproduce (it's not as reproducible as I thought) I will gladly provide the full log soon

[2017-06-17 21:05] johnfg2610 opened #1594 "Sponge plugin error"
**I am currently running...**
- SpongeForge version: 1.11.2-2315-6.1.0-BETA-2395
- Forge version: 2315
- Java version: 1.8.0_111
- Operating System:debian(i think)

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Aroma1997Core, Micdoodle8 Core, OpenEye, Backpacks!, Co

[2017-06-17 23:55] Faithcaio commented on #1590
Sponge. You should only an error including stacktrace about the old data (once per dataclass per serverstart)

[2017-06-18 00:09] ziceptor commented on #1590
@Faithcaio Works. Thank you!

[2017-06-18 00:17] #1590 closed, assigned to nobody

[2017-06-18 01:56] DarkArc commented on #1592
Started to investigate, this is the original exception, which seems to be the source of the problem:
[code]

[2017-06-18 02:04] DarkArc commented on #1592
Fixed by https://github.com/SpongePowered/SpongeCommon/pull/1384

[2017-06-18 02:04] #1592 closed, assigned to nobody

[2017-06-18 08:43] Ipsis commented on #1346
For reference from Woot as an example of why this is causing an issue and at the request of @ryantheleach

Handling of LivingDropsEvent:
https://github.com/Ipsis/Woot/blob/master/src/main/java/ipsis/woot/event/HandlerLivingDropsEvent.java
This is used to learn which loot is dropped by which mob.
Note that I register at the lowest priority as I want all other mods to add their loot.

Spawning of mo

[2017-06-18 10:20] Faithcaio commented on #1508
@cc3768 does it still happen with the latest version?
I remember fixing a related issue.

[2017-06-18 10:20] #1508 closed, assigned to Faithcaio

[2017-06-18 14:48] #1323 closed, assigned to nobody

[2017-06-18 14:49] #1579 closed, assigned to nobody

[2017-06-19 02:45] john01dav opened #1595 "[1.10] [FTB Beyond] Getting seemingly random server stalls with NBT Tags"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2353 (This is not the latest because I have far too many plugins to be on top of updates for all of them. I will update SpongeForge now however, and reply back here if this occurs again. In the mean time I want to get it posted so if anyone knows what's causing it it can be fixed.)
- Forge version: 12.18.3.2281
- Java ver

[2017-06-19 12:53] whichonespink44 opened #1596 "[1.10.2] Undecorated chunks in RTG worlds"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2401
- Forge version: 1.10.2-12.18.3.2281
- Java version: 8
- Operating System: Windows
- Plugins/Mods:
  - [RTG-1.10.2-4.1.2.4](https://minecraft.curseforge.com/projects/realistic-terrain-generation/files/2381592)

**What is the expected result?**
Decorated chunks in all biomes.

**What is the current result?**
Undecorated chunks in some biomes (mainl

[2017-06-19 13:48] Niko-sk2x commented on #1595
(note: I know nothing about the stalls, I just know what causes the crashes)

You are right that allocating more RAM is *not* the answer. But you would be surprised to see that allocating **less** ram is the answer to the crashes. You allocated a lot of RAM to it, but your system *doesn't* have that much physical RAM. Most of the time not all the RAM you specified is used, but when it is needed -

[2017-06-19 14:53] unovalegends opened #1597 "Hello , My server keeps crashing maybe you guys can tell me why"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2401
- Forge version: forge-1.10.2-12.18.3.2185-universal.jar
- Java version:
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

**What is the expected result?**

**What is the current result?**

https://pastebin.com/pg6iMJ6s

[2017-06-19 15:16] john01dav commented on #1595
The system has 32 gb's of ram total. The java arguments tell the jvm (via
xms) to allocate all 15 gbs when the server starts. Htop conforms that this
happens. The ram allocations of all servers on this machine add up to 23
gbs, which leaves 9 gbs free on the system. During normal usage most of
these 9 gbs are free.

On Jun 19, 2017 8:49 AM, "Bartosz Skrzypczak" <notifications@github.com>
wrote:

[2017-06-19 15:57] Deamon5550 commented on #1595
A random stall report is never going to tell you anything useful as its just what the server happened to be doing at the time but doesn't mean anything about what the server has spent 60 seconds doing. You're going to need to either use timings/warmroast/a profiler to dee that your issue is actually.

Sponge definitely has nothing to do with your server being unable to allocate memory, but it is c

[2017-06-19 16:26] john01dav commented on #1595
I've had this issue multiple times, and the stack trace in the profiler is
always the same. As such, it looks like some sort of nbt stuff is causing
the server to run out of memory. Perhaps a packet similar to a zip bomb (
https://en.m.wikipedia.org/wiki/Zip_bomb) is getting sent (most likely an
out of control loop bug in a mod)?

On Jun 19, 2017 10:57 AM, "Nick Condé" <notifications@github.com> w

[2017-06-19 16:48] Deamon5550 commented on #1595
Then attach a profiler and show us the results.

[2017-06-19 17:05] phit commented on #1595
Seriously lower the RAM allocation, 6GB min and max are plenty for beyond, especially with your player counts..

Here are some arguments I can recommend, based on [this Reddit post](https://www.reddit.com/r/feedthebeast/comments/5jhuk9/modded_mc_and_memory_usage_a_history_with_a/) and my own experience

`-XX:+UseG1GC -Xmx6G -Xms6G -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:G1Rese

[2017-06-19 21:59] aaronegger commented on #1569
@gabizou
Sorry for my late answer.

I've uploaded two profiles on my server.
http://mc.aaronegger.de/oldOne.dat
http://mc.aaronegger.de/newOne.dat

We have now removed the plugin from our server.
After upgrading from spongeforge-1.11.2-2227-6.0.0-BETA-2260 to spongeforge-1.11.2-2282-6.1.0-BETA-2358, AdventureMMO (v2.0.7) refuses to work proberly.

There is a warning that the player profiles couldn

[2017-06-20 03:41] john01dav commented on #1595
@Deamon5550 I tried to attach WarmRoast, but by the time the issue's symptoms (in-game freeze) become available, the VM is already too dead for WarmRoast to get any data. It times out when it makes it's connection to the VM.

[2017-06-20 04:23] bloodmc commented on #1595
@john01dav unless you update SF to latest, this will be ignored. Update and provide new logs. Also remember you can always dump the current memory by using /sponge heap. You can then analyze the heap dump with a profiler.

[2017-06-20 04:26] bloodmc commented on #1581
@mkrtes Update SF to latest.

[2017-06-20 04:27] #1581 closed, assigned to nobody

[2017-06-20 04:52] ryantheleach commented on #1323
@iLefty Was your issue fixed? If you were closing over my comment it was just a guess.

[2017-06-20 07:33] john01dav commented on #1595
I'm already updated, and I am waiting for it to happen again. It's very
intermittent.

On Jun 19, 2017 11:24 PM, "bloodmc" <notifications@github.com> wrote:

[2017-06-20 07:38] iLefty commented on #1323
@ryantheleach, I closed this, because more than 2 months, this crash don't was. All, that I done - updated Sponge and plugins versions. Later I did the game world wipe, but the crash cease to occur until the wipe.

[2017-06-20 13:49] gabizou commented on #1595
Something that I've seen with another server is TickProfiler being installed on the server can mean that certain major systems in Sponge are not functioning as they should (and are likely going to spam the hell out of the server). Do you have a server log with cause tracker verbosity turned on?

[2017-06-21 02:55] KaleHarris commented on #1572
Sorry for the late response, but unfortunately no, it wasn't fixed. I took a screenshot of the new console entries, and I am including the rest of the error message this time even though they don't mention sponge at all.

Edit: I am using sponge version 1.11.2-2315-6.1.0-BETA-2318

Top half:

![screenshot 8](https://user-images.githubusercontent.com/26660001/27364957-b5f7ca80-55fa-11e7-8ef5-d8be5b

[2017-06-21 15:39] Faithcaio commented on #1572
ok please try again with latest build.

[2017-06-21 22:06] mikeprimm opened #1598 "[1.11.2] Cause for decaying leaves inconsistent between API and Forge implementation"
**I am currently running...**

- SpongeForge version: 1.11.2-2315-6.1.0-BETA-2395
- Forge version: 1.11.2-13.20.0.2315
- Java version: 1.8.0-131
- Operating System:

 - [X ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ X] macOS
 - [ ] Windows
- Plugins/Mods: None but test code to expose issue

I have encountered the following apparent inconsistency between the 'NamedCause' definitions for the API, and

[2017-06-22 00:56] alicheek opened #1599 "[1.10.2] Block breaking spam updating to 2401"
Since updating to 2401 it seems there is some form of debug system in place even though all the debug settings are disabled.

**I am currently running...**
spongeforge-1.10.2-2281-5.2.0-BETA-2401.jar
- SpongeForge version:
- Forge version: 12.18.3.2297
- Java version:  1.10.2
- Operating System:
 -  Linux (Ubuntu, Debian, Fedora, etc)

Copy of some of the logs regarding the spam:
https://pastebin.

[2017-06-22 05:02] Flashback083 commented on #1400
Hello, i have the same problem, also there is any fix atm ? Thanks !

[2017-06-22 06:59] bloodmc commented on #1599
A mod or plugin is logging this, not SpongeForge. Remove ALL Mods and Plugins and watch it go away.

[2017-06-22 06:59] #1599 closed, assigned to nobody

[2017-06-22 07:18] Aaron1011 commented on #1400
Sorry for the excessively long delay in getting to this. It should be fixed in the latest SpongeForge.

For reference, the issue was first introduced in https://github.com/SpongePowered/SpongeCommon/commit/092d4cb2f5f56f93f90e6730623d88797f77e33b#diff-851d4e94ff55a5d4a5e26f97ac746111R294.

[2017-06-22 07:18] #1400 closed, assigned to Aaron1011

[2017-06-22 15:17] Flashback083 commented on #1400
I test the spongeforge-1.10.2-2281-5.2.0-BETA-2401.jar version but its seems doesnt work, i need to delete scoreboard.dat before the update ?
Sorry ^^'

[2017-06-22 15:17] Zidane commented on #1598
@bloodmc

Your thoughts?

[2017-06-22 15:20] phit commented on #1400
the fix was only applied for 1.11 and 1.12 by the looks of it, backport? @Aaron1011

~~edit: actually the 1.12 version didn't pass [travis](https://travis-ci.org/SpongePowered/SpongeForge/builds/245671737?utm_source=github_status&utm_medium=notification), so the fix is only out for 1.11 right now~~
fix is still missing for stable-5

[2017-06-22 21:48] tyler489 commented on #1564
@Aaron1011 Bad News Added Imersive Petrolium to the pack and now our console is spammed with this https://pastebin.com/5GA5C2V5

[2017-06-22 22:45] Scratchman opened #1600 "Weather 2 mod storms not forming"
**I am currently running...**
- SpongeForge version:  spongeforge-1.10.2-2281-5.2.0-BETA-2379
- Forge version: forge-1.10.2-12.18.3.2297-universal
- Java version: Java is Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_131
- Operating System: Ubuntu Linux 16.04.2

 - [ x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Yeah, tried that and got kicked from the server.
- Plugins/Mo

[2017-06-23 00:17] KaleHarris commented on #1572
Ok, confirmed working correctly. Thanks for your help!

[2017-06-23 00:17] #1572 closed, assigned to Faithcaio

[2017-06-23 14:15] 1434967947 opened #1601 "Blood Magic sacrificial dagger deathphase error"
[code]
JAVA8
WINDOWS

- Plugins/Mods:
[22:13:51] [Server thread/INFO]: Plugins (32): Minecraft, Minecraft Coder Pack,
Forge Mod Loader, Minecraft Forge, Micdoodle8 Core, SpongeAPI, SpongeForge, Baub
les, Guide-API, Blood Magic: Alchemical Wizardry, Botania, CustomNPCs, EconomyLi
te, IndustrialCraft 2, Galacticraft Core, Galacticraft Planets, LuckPerms, Nucle
us, PlotSquared, Project Core, WorldEdi

[2017-06-23 21:36] Eufranio commented on #1211
This seems to be fixed.

[2017-06-23 21:36] #1211 closed, assigned to nobody

[2017-06-23 21:37] #1220 closed, assigned to nobody

[2017-06-24 14:16] #1598 closed, assigned to nobody

[2017-06-25 15:25] mkrtes opened #1602 "ActuallyAdditions buttons don't work"
There is one strange problem, that I don't know where to write. When I use bungeecord for sponge-server there was a problem with mod ActuallyAdditions. Interface buttons don't work. I run server only with sponge - it works well. Once connect with bungee - buttons not working. Something similar was discussed here: https://github.com/SpongePowered/SpongeForge/issues/1394
I don't know what to do and

[2017-06-25 20:23] Twisted-Code commented on #1562
any progress on this issue guys? Someone in the Discord server said it was something to do with a villager registry or something along those lines? I know y'all are probably just busy maintaining this massive project between, what, 5 coders(?) but I'd really appreciate the status report. Is it fixed? Has anyone figured out at least part of the issue? Is there anything I can do to help? Err, beside

[2017-06-25 20:45] Arkiio commented on #1557
Have the same issue, except player bodies remain stationary while the camera(?) is able to fly around, can hit mobs, cant pick up items and if the body takes damage, the player takes damage, if they disconnect they are also unable to reconnect to the server until the server has been restarted.
log attached. https://paste.ubuntu.com/24950957/

Running modpack, Resonant Rise 4. spongeforge-1.10.2-22

[2017-06-25 20:56] clienthax commented on #1557
[code]

[2017-06-26 10:51] axle2005 commented on #1601
Never mind that this is crazy hard to look at like this and SHOULD have been put in GIST.

It seems your player killed himself using Blood magic, and the death didn't work properly.

or:

He killed a villager, which is already a known issue.

[2017-06-26 11:50] kain184 opened #1604 "latest version cofhcore breaks spounge"
[crash.log](http://server.jesusfreakserver.com/downloads/crash.log)
This crash is created by mod
CoFHCore-1.11.2-4.2.4.9-universal.jar
but not the version prior. I am unsure as to what the cause is just thought you ought to know.

[2017-06-26 15:47] Faithcaio commented on #1557
Should be fixed in the latest build

[2017-06-26 15:47] #1557 closed, assigned to nobody

[2017-06-26 15:51] IceSoulHanxi opened #1605 "spongeforge-1.10.2-2281-5.2.0-BETA-2416 crash"
**I am currently running...**

- SpongeForge version: 2416
- Forge version: 2281
- Java version: 8u131
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:
sponge
**What is the expected result?**

**What is the current result?**

---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.10.2-2281-5.2.0-BE

[2017-06-26 18:00] relative2 commented on #1605
Getting this with chickens on 1.10.2-2281-5.2.0-BETA-2417 on a completely new world
forge 2281,
ubuntu 16.04.2 amd64
java 8u131 openjdk-8-jdk

[code]

[2017-06-26 18:02] Arkiio commented on #1605
Also getting this, reset world, and now errors on a different mob, (ender zoo mob)
running spongeforge 1.10.2-2281-5.2.0-BETA-2417 Forge 2281

// I'm sorry, Dave.

Time: 6/26/17 6:50 PM
Description: Exception in server tick loop

java.lang.ClassCastException: net.minecraft.entity.passive.EntitySheep cannot be cast to org.spongepowered.common.interfaces.entity.player.IMixinEntityPlayerMP
	at net.mi

[2017-06-26 19:47] gabizou commented on #1605
Fixed in the the build with that commit.

[2017-06-26 19:47] #1605 closed, assigned to gabizou

[2017-06-26 23:36] ghost commented on #119
I have excactly the same issue
(intellij, MinecraftDev plugin)

[2017-06-27 00:50] fcpwiz commented on #1604
I can confirm this.

Also, here is an issue made on CoFH's repo: https://github.com/CoFH/Feedback/issues/299

[2017-06-27 01:38] ryantheleach commented on #1604
Hmm, @Mumfrey the linked issue shows a private mixin method mixing into a previously private method, that gets transformed to public is apparently causing an error?

I think a heavy handed solution would be to make all overwrites public? Or is there a way to downgrade this to a warning in a Forge environment, where access transforming is expected?

[2017-06-27 05:48] kashike commented on #119
You need to disable annotation processing in the IntelliJ IDEA project.

Additionally, don't respond to a *2 year old* issue in the future, please.

[2017-06-27 12:00] ghost opened #1607 "[1.10.2] - IC2 empty stack (seeds) crash server"
Console:
<pre>
[13:53:13] [Server thread/ERROR] [Sponge/]: /*******************************************************************************************************************************************/
[13:53:13] [Server thread/ERROR] [Sponge/]: /*                                                       Exception during phase body                                                       */
[13:53:13] [S

[2017-06-27 13:26] phit commented on #1604
@gabizou this issue is for 1.11.2 not 1.10.2 so the fix is needed for stable-6 not stable-5

[2017-06-27 16:39] fcpwiz commented on #1604
@phit I’m running a 1.10.2 server and this issue is present.

[2017-06-27 16:45] phit commented on #1604
yeah, it is supposed to be fixed for 1.10, download 1.10.2-2281-5.2.0-BETA-2422
my point was the initial report here was for 1.11 where the issue isn't fixed yet, but this issue was closed

[2017-06-27 16:45] phit commented on #1604
yeah, it is supposed to be fixed for 1.10, download 1.10.2-2281-5.2.0-BETA-2422
my point was the initial report here was for 1.11 where the issue isn't fixed yet, but this issue was closed

[2017-06-27 19:45] fcpwiz commented on #1604
I'm running SpongeForge version 1.10.2-2281-5.2.0-BETA-2422 and CoFH Core 1.10.2-4.1.8.12-universal but I'm still getting a startup issue.

https://gist.github.com/fcpwiz/90f26ced047ca010de63242b1829b362

[2017-06-27 19:48] fcpwiz commented on #1604
@gabizou Any idea?

[2017-06-27 20:27] BakermanLP commented on #1604
I have inital created the issue on CoFH Issue Tracker. Yes, the bug was in 1.11.2 version

[2017-06-27 20:28] fcpwiz commented on #1604
And the bug is also present in the 1.10.2 version, yes?

[2017-06-27 22:50] gigafunk commented on #1600
Theres settings in the weather mod to just follow vanillanserver rules for rain or its own weather. Have you messed with those? Just a suggesting I am not with sponge, just a lurker...

[2017-06-27 23:13] gigafunk commented on #1559
I run animania's newer releases on sponge 1.10.2  sponge 2422  with forge 2281..and q89 other mode and its all perfect so my opinion as nobody is this gets closed.

[2017-06-27 23:16] gigafunk commented on #1559
Nevermind I didn't realize this was 1.11.

[2017-06-27 23:27] gigafunk commented on #1604
For what its worth, I am still getting startup crash with newest cofh with the version of last version of sponge made to fix this. I am using the spongewrapper if that helps at all. I dont have logs as I am out of the house killing time browsing issues. Can provide if it would help.

[2017-06-27 23:30] gabizou commented on #1604
@gigafunk provide a log please, I'm looking into the issue, but it's getting increasingly difficult to target the issue when it seems like multiple AT's are in play with our overwrites.

[2017-06-28 01:16] gigafunk commented on #1604
Im digging through em remotely and cant find a clean one, we tried a million combos of version 2281 forge vs 2316 and with different cofh versions and my partner handled alot of it, with me piping in remotely, researching.. I dont want to waste your time with messy, maybe not the right log. later tonight, i can make clean version with no foamfix, and with forge 2281. lol we run 2316, and for every

[2017-06-28 02:07] phit commented on #1604
@gabizou clean logs with just Sponge and CoFHCore

**1.10.2** - Forge 2281 - Sponge 2422 - CoFHCore-1.10.2-4.1.8.12
https://gist.github.com/phit/3ac13aefac00e3b739aea1ba1b38e627

**1.11.2** - Forge 2315 - Sponge 2410 - CoFHCore-1.11.2-4.2.4.9
https://gist.github.com/phit/fe99b4407c16aba1bc73b7ead0e7efe2

**edit:** the change must be introduced in these commits, this is the timeframe between latest

[2017-06-28 06:38] yahell1 opened #1608 "Insufficent Memory crashes with Spongeforge Insalled, Pixelmon 5.1.1"
I have a Pixelmon server with 6GB of memory to it and I need a mod that can allow me to install plugins and I choose spongeforge-1.10.2-2171-5.1.0-BETA-2010 I have used the latest releases but they just cause my server to go into a continuous restart loop.

What happens is if I start the server it would load up fine, gets to the done part then immediately goes into a restart with only a insufficen

[2017-06-28 11:01] CreativeMD opened #1609 "ASM Transformer compatibility issue"
Hey there,
unfortunately I have found an issue between my mod (CreativeCore) and SpongeForge.

**What CreativeCore changes**

It modifies `net.minecraft.world.World.updateEntities();` ...

Original code:
[code]
Result code:
[code]

**The issue**
Sponge seems to overwrite this change. I don't know exactly what happens, but shouldTick() will never be called. There is no crash or what so ever.

I alr

[2017-06-28 12:14] Mumfrey commented on #1604
See SpongePowered/Mixin#189 for details, but suffice to say that as far as I'm concerned the current behaviour of Mixin in this instance is **correct**, because allowing this operation to succeed would have some unexpected possibly-unpleasant side-effects.

However I consider that this scenario needs to be accomodated and will add a feature to mixin to allow live adaptation to take place, albeit w

[2017-06-28 14:38] Eufranio opened #1610 "Sponge cancelling Actually Additions manual right click on machines"
Actually Additions has an manual (in-game wiki thing) which has a trick of while holding it, shift-right click any machine from the mod will open it's manual page:

![img](https://image.prntscr.com/image/SgTjgOleTSq-r_va7Wqxtg.png)

The mod cancels the right click event (to the machine) and proccess the logic of the book, opening it. However, looks like Sponge is closing the GUI just after it is o

[2017-06-28 15:22] gabizou commented on #1609
Just so you're aware and so I can shed some light to the situation, Sponge *does* overwrite the entirety of the `World.updateEntities` method [with the following](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorld.java#L142). The main reason for all of the overwrites is so that Sponge can effectively perform various tracki

[2017-06-28 18:34] FiveEYZ commented on #1580
Any update on this?
made a new test with ONLY forge, sponge and `tileentity-activation=true`:
-  SpongeForge version: spongeforge-1.11.2-2315-6.1.0-BETA-2410
-  Forge version: forge-1.11.2-13.20.0.2366-universal
-  Java version: 1.8.0_131

https://gist.github.com/FiveEYZ/ee22edcf0071b5094c0c263833b2c871

edit:
was editing a comment i stared some days ago, it now have the right SpongeForge version

[2017-06-28 18:49] Flashback083 opened #1611 "world/data/scoreboard.dat not updated when using SpongeForge on stable-5"
Hello ! I have the same problem that #1400 , the issue is closed but it still doesent work in spongeforge-1.10.2-2281-5.2.0-BETA-2422.jar !

I quote "With SpongeForge installed, the scoreboard.dat isn't updated, neither after the commands are entered nor when the server is stopped, so the death counter doesn't persist. Without Sponge, the appropriate entries are added to the file, and the death co

[2017-06-28 21:06] tyler489 commented on #1604
Figured i would report this here. For 1.11.2 https://pastebin.com/h0MzJxjp removing cofh core fixed it but would be nice to be able to use cofh

[2017-06-28 21:19] gigafunk commented on #1604
You can use the previous version of cofh core...

[2017-06-28 21:30] fcpwiz commented on #1604
@gigafunk The issue is that the latest version of CoFH Core (the one Sponge has an issue with) is the version the newer releases of CoFH's mods require, including MineFactory Reloaded for 1.10.2.

[2017-06-28 22:06] CreativeMD commented on #1609
I need it for LittleTiles. Unfortunately all tileentities implementing the interface ITickable will tick automatically. Most LittleTile blocks don't need to tick, but some do. If you build a lot stuff with LittleTiles, this can affect performance. In my world have about 30,000 blocks, which have to be iterated every tick. So this code should remove all tileentities which don't need to tick from th

[2017-06-28 23:55] gabizou commented on #1580
Mismatched forge version for sponge forge. More than likely forge has changed something. Re-test with the CORRECT version of forge that sponge forge was built with (in this case 2315) and re-test.

[2017-06-28 23:55] #1580 closed, assigned to nobody

[2017-06-28 23:59] FiveEYZ commented on #1580
as requested:
a log with proper versions used https://gist.github.com/FiveEYZ/5dcbc74575f1dcd0e923a50c50020a88

[2017-06-29 03:57] 1434967947 commented on #1601
Sponge problem or Blood Magic problem?
if this is Sponge problem will it be fixed
by the way, sorry for not using GIST

[2017-06-29 05:26] JSingDreams opened #1612 "Server Crash after Auto Restart"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.10.2-2281-5.2.0-BETA-2394.jar)
Contact their authors BEFORE contacting forge

// This doesn't make any sense!

Time: 6/29/17 1:00 AM
Description: Watching Server

java.lang.Error
	at com.vexsoftware.votifier.netty.channel.AbstractChannel$AbstractUnsafe.<init>(AbstractChannel.java:380)
	at com.vexsoftwar

[2017-06-29 05:26] JSingDreams commented on #1612
Server Info is provided in the logs at the bottom.

[2017-06-29 10:49] Tencao opened #1613 "[1.11.2] Crash on latest spongeforge"
**I am currently running...**
- SpongeForge version: 1.11.2-2315-6.1.0-BETA-2410
- Forge version: 13.20.0.2315
- Java version: 8
- Operating System:
 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

Currently crashes when trying to launch, error doesn't help to narrow the cause

https://paste.ee/r/Gk5vW

[2017-06-29 10:51] phit commented on #1613
dupe of #1604
the version thing is not an error any sponge crash will output that misleading version comparison, read the whole thing it's listed as a *possible* cause

[2017-06-29 10:56] Tencao commented on #1613
Since this issue is a duplicate, I'm gonna close this and focus on that topic

[2017-06-29 10:56] #1613 closed, assigned to nobody

[2017-06-29 17:43] MrIngelborn opened #1614 "Unable to start server"
**I am currently running...**

- SpongeForge version: 1.12-2368-7.0.0-BETA-2423
- Forge version: 1.12-14.21.0.2368
- Java version: openjdk version "1.8.0_131"
- Operating System: Ubuntu 16.04.2 LTS

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [x] macOS
 - [x] Windows

**What is the expected result?**
Server starting
**What is the current result?**
Server crashing

latest.log: https://pastebin.co

[2017-06-29 20:37] TomberWolf opened #1615 "MC 1.10.2: java.lang.StackOverflowError: Ticking entity"
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2422
- Forge version: forge-1.10.2-12.18.3.2297-universal
- Java version: Build 1.8.0_131-b11
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

https://pastebin.com/x2Dzp4N0

[2017-06-30 04:19] Aaron1011 commented on #1611
@Flashback083: Sorry for the delay. This should be fixed in the latest `stable-5`.

[2017-06-30 04:19] #1611 closed, assigned to Aaron1011

[2017-06-30 14:56] JBYoshi commented on #1534
Sorry I missed this. I put it on a TODO list I created and will try to get to it later today.

[2017-06-30 14:56] ktole1999 commented on #1604
you also can not use a previous version for modpacks because King Lemming does not post previous versions on Curse.

[2017-06-30 17:25] HeberonYT opened #1616 "Multiple entries with same key Server Crash"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2422.jar
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
1.10.2v1.5.0_RoxaTallDoorsMod.jar
astralsorcery-1.4.4.jar
AutoRegLib-1.0-2.jar
BirdsNests1.10-1.5.1.jar
BlockArmor-1.10.2-2.4.3.jar
chickens-4.3.2.jar
Chisel-MC1.10.

[2017-06-30 18:06] CreativeMD commented on #1609
Ok, it seems like i can transform updateEntities() in your MixingWorld class. Unfortunately it messes it up afterwards. My code won't be removed completely, but it is not working properly anymore.

I guess you don't really like the idea of adding a hook or something similar for it ... so there is nothing i can do from my end.

If you have a different idea just let me know.

[2017-06-30 21:09] fcpwiz commented on #1604
Using `CoFHCore-1.10.2-4.1.9.13-universal.jar` and `spongeforge-1.10.2-2281-5.2.0-BETA-2424.jar` still results in a crash even with your commit: https://github.com/SpongePowered/SpongeCommon/commit/924c0acecdbae5173bbad164afb9b13f7bf8373a

[2017-07-01 02:22] tyler489 opened #1617 "Server Crash/ Infinate Restarts Because of Draconic Evolution"
-SpongeForge version: 1.11.2-2315-6.1.0-BETA-2410
- Forge version: 2315
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

**What is the expected result?**
Server Stops and restart loop
**What is the current result?**
Server doesnt stop and restart

https://pastebin.com/CSAk8uWj
Disabling Draconic Evolution and BRandons c

[2017-07-01 02:32] xAlicatt commented on #1604
Using `CoFHCore-1.10.2-4.1.9.13-universal.jar` and `spongeforge-1.10.2-2281-5.2.0-BETA-2424.jar`

Crash report not generated, but this is the console output: https://gist.github.com/xAlicatt/5a9db4439b796b0b81e22a74057874b6

[2017-07-01 07:49] gabizou commented on #1617
01.07 04:03:32 [Multicraft] Skipped 275 lines due to rate limit (30/s)

Get the actual server log, not the console log from multi craft...

[2017-07-01 09:33] tyler489 commented on #1617
Here is a plugins list
01.07 11:02:45 [Server] Server thread/INFO Plugins (182): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Aroma1997Core, Micdoodle8 Core, OpenEye, Backpacks!, FoamFixCore, ccl-entityhook, Actually Additions, Baubles, extrautils2, AngelRing 2 Bauble, Animal Bikes, AppleCore, Just Enough Items, AppleSkin, Armor Overlay, Shadowfacts'

[2017-07-01 09:45] swolf91 opened #1618 "MC-Server can't be started due to Mixin problems"
I'm working on a docker image setting up a minecraft forge server with spongeforge and the cubeengine. Unfortunately it doesn't work anymore due to one of the latest changes in spongeforge.
You can have a look https://github.com/CubeEngine/docker to see the code for the docker image. The version only contains forge and spongeforge yet. The image is built with the newest bleeding version of spongef

[2017-07-01 09:56] johnfg2610 commented on #1617
it would appear forge is overwritting something that drac evo is attempting to cast to. ive attached the full server log
[2017-07-01-7.txt](https://github.com/SpongePowered/SpongeForge/files/1116972/2017-07-01-7.txt)

[2017-07-01 10:47] tyler489 commented on #1617
According to john. Brandon core has no issues by itself but with draconic evolution installed that happens.

[2017-07-01 12:17] phit commented on #1618
same as #1614 looks like 1.12 is broken right now due to MinecraftForge/MinecraftForge/pull/4046

[2017-07-01 16:49] #1618 closed, assigned to nobody

[2017-07-01 16:53] gabizou commented on #1617
Riddle me surprised, yet another fake world implementation that triggers Sponge's tracking system. There's only an `isRemote` check that differentiates between a server sided world (which should always be a `WorldServer`), and a "remote" world, in some cases `WorldClient` or other fake worlds that shouldn't be considered for ticking or processing as if it is a server world. This isn't going to be

[2017-07-01 16:58] tyler489 commented on #1617
How can draconic evolution fix this on there end to make it compatible with sponge if they wish to

[2017-07-01 17:53] LuxerIThink opened #1619 "Spongeforge 1.11.2 for forge 2388"
Can you update spongeforge on version 1.11.2 for forge 2388?

[2017-07-01 19:37] phit commented on #1619
any reason why?

[2017-07-01 21:59] LuxerIThink commented on #1619
Because CoFH Core need forge 2388:/

[2017-07-01 22:06] phit commented on #1619
no it doesn't, it just doesn't work with Sponge right now
so this issue is a dupe of #1604

[2017-07-01 23:40] BrainStone commented on #1614
Having that issue too.

[2017-07-02 03:55] #1619 closed, assigned to nobody

[2017-07-02 04:56] Ceezee commented on #543
I found another issue with the lasted stable version of 1.11.2 sponge forge.
Buildcraft quarry drop items insted of picking them up. this issue in in every quarry if you take that same steps. quarry works fine without sponge on the server

[2017-07-02 05:05] ukdyl94 opened #1620 "Sponge Error w/ CoFH Mods"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2422
- Forge version: forge-1.10.2-12.18.3.2281-universal
- Java version: Java 8 v131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Plugins (247): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Applied E

[2017-07-02 05:10] HeberonYT opened #1621 "Server console Spam [1.10.2]"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2424.jar
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
1.10.2v1.5.0_RoxaTallDoorsMod.jar
astralsorcery-1.4.4.jar
AutoRegLib-1.0-2.jar
BirdsNests1.10-1.5.1.jar
BlockArmor-1.10.2-2.4.3.jar
chickens-4.3.2.jar
Chisel-MC1.10.

[2017-07-02 10:49] tolly765 commented on #830
@Zidane Any update on the possible fix?

[2017-07-02 11:23] ryantheleach commented on #1620
Duplicate of: https://github.com/SpongePowered/SpongeForge/issues/1604

[2017-07-02 13:31] CreativeMD opened #1622 "ItemPhysic Drop Item issue"
Hey there,
lately i discovered an issue using ItemPhysic on a SpongeForge server. Dropping an item does not work, although it consumes the stack, but the EntityItem does not appear.
ItemPhysic overwrites the forge way of tossing items so it can add more power to the throw.

That's the code:
https://github.com/CreativeMD/ItemPhysic/blob/1.11/src/main/java/com/creativemd/itemphysic/packet/DropPacket

[2017-07-02 14:50] #1620 closed, assigned to nobody

[2017-07-02 20:44] bl4ckscor3 opened #1623 "SecurityCraft incompatibilities"
There are currently four incompatibilities between SpongeForge and SecurityCraft. We have tested each incident without SF and everything worked as intended.

**I am currently running...**
- SpongeForge version: 1.11.2-2315-6.1.0-BETA-2410
- Forge version: 13.20.0.2315
- Java version: 1.8.0_131 64bit
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

I've te

[2017-07-02 20:47] kasdo opened #1624 "CustomNPCs items dupe [1.10.2]"
Forge: 12.18.3.2297
Spongeforge-1.10.2-2281-5.2.0-BETA-2353.jar
Mods: CustomNPCs, CustomMobSpawer, Mo'Creatures

 If you drop the item and enter the inventory in the quests section (CustomNPCs), then the object will remain in inventory and will be on the ground. So we have already 2 items. You can clone items (Such a bug was not even on 1.7.10 forge etc; I havent this bug in single player). The mo

[2017-07-02 21:37] kasdo commented on #1624
In new versions its already fixed.

[2017-07-03 00:50] ryantheleach commented on #1624
New versions of what? New minor Versions, new Minecraft Version? or new Major versions?

[2017-07-03 01:18] ryantheleach commented on #1623
**Right Click Block With UBM:**
No discernible error,

**Keypad:**
Snipped Stacktrace: https://gist.github.com/ryantheleach/adc192aafc99c5bf11fd3cc8d388172f

https://github.com/Geforce132/SecurityCraft/blob/master/1.11.2/src/main/java/net/geforcemods/securitycraft/util/BlockUtils.java#L207
https://github.com/Geforce132/SecurityCraft/blob/master/1.11.2/src/main/java/net/geforcemods/securitycraft/ut

[2017-07-03 01:40] pie-flavor opened #1625 "Canceling the ChangeBlockEvent for fluid pickup/placing does not prevent the bucket changing"
e.g. if I was in survival mode, and picked up a 'protected' block of lava, it would still be replaced immediately, but I'd be holding a bucket of lava, and it's not just a ghost item.

[2017-07-03 03:59] xAlicatt opened #1626 "[1.10][Sponge 2429] Server crash with no report"
**I am currently running...**

- SpongeForge version: `1.10.2-2281-5.2.0-BETA-2429`
- Forge version: `12.18.3.2281`

**What is the expected result?**
Server to load up without crashing.

**What is the current result?**
Server crashes with _no crash report generated_. I'm still new to reading logs/reports so I'm hoping for some help here.

Console Output: https://gist.github.com/xAlicatt/e859923b2a

[2017-07-03 04:04] xAlicatt commented on #1626
Posted this right before I saw a new version of Forge was pushed. Updating to `1.10.2-2281-5.2.0-BETA-2433` appears to fix.

[2017-07-03 04:04] #1626 closed, assigned to nobody

[2017-07-03 06:00] BakermanLP commented on #1604
Sorry to say that, but here seems to be a problem. The complete fml-server-latest.log can be found here: https://pastebin.com/8W2LMZf8
Used versions:
- forge-1.11.2-13.20.0.2315-universal.jar
- spongeforge-1.11.2-2315-6.1.0-BETA-2432.jar
- CoFHCore-1.11.2-4.2.5.11-universal.jar
Nothing else is installed

Michael (aka BakermanLP)

[2017-07-03 06:18] gigafunk commented on #1604
Just in case its helpful, 1.10.2 works for me, with 189 other mods. I use the sponge wrapper to launch and force sponge to laid first to handle mixins.

[2017-07-03 07:40] Whazaaaaa commented on #1604
Can confirm @BakermanLP crashlog. I'm getting the same with:
forge-1.11.2-13.20.0.2345-universal
CoFHCore-1.11.2-4.2.4.9-universal
spongeforge-1.11.2-2315-6.1.0-BETA-2432

[2017-07-03 10:37] Mumfrey commented on #1604
It looks from the log like @gabizou forgot to enable the conform option for the forge mixin set.

[2017-07-03 13:12] kasdo commented on #1624
New version spongeforge

[2017-07-03 13:35] KingLemming commented on #1619
No, CoFHCore does actually require 2388 now, this is correct.

[2017-07-03 13:44] phit commented on #1619
Good to know, but Sponge build with Forge 2315 works fine with Forge 2388 so even that is not an issue.

[2017-07-03 13:51] KingLemming commented on #1619
Right. And that shouldn't be an issue at all. We upgraded to 2388 because it includes a couple of PRs we made that actually remove ASM, which hopefully reduces the number of conflicts. ;)

[2017-07-03 17:26] JBYoshi commented on #1534
@Eufranio Could you add this plugin to your server and post the full console output next time the issue occurs?

(Note: I had to change the file extension for GitHub to accept it; just place it in your `mods` folder like any other plugin.)
(Note 2: Source code is included in the JAR/ZIP in case you want it.)

[common1534-1.0-1.10.2.zip](https://github.com/SpongePowered/SpongeForge/files/1131009/co

[2017-07-03 17:36] gabizou commented on #1624
Re-test with latest. You're several builds behind.

[2017-07-03 17:36] #1624 closed, assigned to nobody

[2017-07-03 19:13] BreeOge opened #1627 "Mixins Issue!"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2315-6.1.0-BETA-2432.jar
- Forge version: Tried both 2315 and 2388
- Java version: Latest
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

- Plugins/Mods:

**What is the expected result?**
To load

**What is the current result?**
Mixin crash

07/03/2017 14:05:13
14:05:13Forge Mod Lo

[2017-07-03 19:24] Mumfrey commented on #1627
Duplicate of #1604.

[2017-07-03 19:24] #1627 closed, assigned to nobody

[2017-07-04 06:35] #1604 closed, assigned to nobody

[2017-07-04 10:56] ryantheleach opened #1628 "detected missing registry entries: sponge:human"
This occurred while loading a single player save in my IDE, after updating my workspace to [bleeding](https://github.com/SpongePowered/SpongeForge/commit/7789e67bbd1ef2ed2411d08d23c1ea006ef7aa56), last used on a random 1.11.2 dev build.

![screenshot](https://user-images.githubusercontent.com/141554/27827463-94e88e90-60f6-11e7-83e0-221ba115b633.png)

[2017-07-04 12:54] BakermanLP commented on #1604
I can confirm, that the following combination is working now:
- forge-1.11.2-13.20.1.2393-universal.jar
- spongeforge-1.11.2-2315-6.1.0-BETA-2434.jar
- CoFHCore-1.11.2-4.2.5.11-universal.jar

Thank you for the good work.

[2017-07-04 13:01] kasdo opened #1629 "CustomNPCs Server crash (1.10.2)"
Forge Mod Loader version 12.18.3.2316
spongeforge-1.10.2-2281-5.2.0-BETA-2424
Mods: CustomNpcs, Mo'Creatures, CustomMobSpawner, LotsOfFood
Plugins: WorldEdit, RedProtect, EssentialCMDs, ProjectWorlds, ProjectPortals, Twentyticks, PermissionsEx, Holograms
Crash: https://hastebin.com/uqoluponow.xml
Noppes (custom npcs author) say its sponge bug.

[2017-07-04 14:07] JBYoshi commented on #1628
I got that as well. I traced it back to https://github.com/SpongePowered/SpongeCommon/blob/418198e4fd91714831b5b8d5796a66ba9b8f90c2/src/main/java/org/spongepowered/common/registry/type/entity/EntityTypeRegistryModule.java#L209; `git blame` says it was commented out in https://github.com/SpongePowered/SpongeCommon/commit/418198e4fd91714831b5b8d5796a66ba9b8f90c2.

[2017-07-04 15:11] johnfg2610 opened #1630 "Crash on world save"
**I am currently running...**

- SpongeForge version:  spongeforge-1.11.2-2315-6.1.0-BETA-2434
- Forge version: forge-1.11.2-13.20.1.2393-universal
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
https://minecraft.curseforge.com/projects/the-new-frontier/relations/dependencies
^ mods
i can make a list of plugins

[2017-07-04 16:34] johnfg2610 commented on #1630
fixed by resetting the nether!

[2017-07-04 16:34] #1630 closed, assigned to nobody

[2017-07-04 20:10] Twisted-Code commented on #1562
thank you blood for the help on discord. At least now I know who to talk to if this persists on the latest (or nearly latest) Sponge. Will be testing it shortly

[2017-07-05 11:18] ghost opened #1631 "InvalidMixinException thrown when MovingWorld mod is included (loading MovingWorld's older Mixin library before Sponge's)"
**I am currently running...**
- SpongeForge version:  2436
- Forge version: 2397
- Java version:  8u131
- Operating System: windows 10 x64
- Plugins/Mods:
universeguard
QUtilities

**What is the expected result?**
my dedicated server should start
**What is the current result?**
it didn't

[fml-junk-earlystartup.log.txt](https://github.com/SpongePowered/SpongeForge/files/1128360/fml-junk-earlystart

[2017-07-05 12:51] Mumfrey commented on #1631
This is happening because Mixin in MovingWorld is loading before Mixin in Sponge and @gabizou forgot to change the `minVersion` in the config file which *would* have made this crash more obvious.

Force sponge to load before movingWorld by renaming one of the mods.

[2017-07-05 13:32] kasdo opened #1632 "New sponge crash (1.10.2)"
Forge Mod Loader version 12.18.3.2316
spongeforge-1.10.2-2281-5.2.0-BETA-2424
Mods: CustomNpcs, Mo'Creatures, CustomMobSpawner, LotsOfFood
Plugins: WorldEdit, RedProtect, EssentialCMDs, ProjectWorlds, ProjectPortals, Twentyticks, PermissionsEx, Holograms

https://hastebin.com/bikidimivo.php

[2017-07-05 13:32] mkrtes opened #1633 "Applied Energistics 2 error & flood"
Server crashes after multiple error in the console

**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2433
- Forge version: 12.18.3.2316
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: https://pastebin.com/srhtGJHp
Error flood more than 30 mB:

https://gist.github.com/mkrtes/b07d4c0d

[2017-07-05 15:21] ghost commented on #1631
wa wait, how??

[2017-07-05 15:34] ghost commented on #1631
btw, i tried deleting movingworld and davinci's vessels, but it still doesn't work. am i wrong?

[2017-07-05 15:52] Eufranio commented on #1534
Sorry, but I cannot test this on my end, I removed Biomes O' Plenty and won't be adding it anytime soon :(

[2017-07-05 17:12] Mumfrey commented on #1631
Change the filename of spongeForge to like `aaaSpongeForge.jar` so that it loads first.

See this line in your log:

[code]

Unless that says `Source=file:// ... SpongeForge ...` then it's loading Mixin from somewhere else and thus is gonna break.

[2017-07-05 17:13] ghost commented on #1631
oh.... i got it. hope it work, thanks.

[2017-07-05 17:29] ghost commented on #1631
oops, i made spongeforga.jar to aaaspongeforge.jar as you said, but it didn't work. same thing is happening again. :(
[fml-server-latest.log.txt](https://github.com/SpongePowered/SpongeForge/files/1125497/fml-server-latest.log.txt)
used sponge 2436

[2017-07-05 17:59] ghost commented on #1631
any other idea? =/

[2017-07-05 22:11] Mumfrey commented on #1631
You have successfully fixed the original issue. You are now seeing a different exception caused most likely by another mod.

[2017-07-05 22:37] ghost commented on #1631
yeah it doesn't happen with no mod. i think i have to find which mods are causing :/ really, isn't there another way to solve this problem?

[2017-07-05 22:38] phit commented on #1631
https://forums.spongepowered.org/t/spongebootstrap-fixes-ordering-issue-with-other-coremods/12275

[2017-07-06 12:37] kasdo commented on #1632
1 more crash:
https://hastebin.com/ojozeberil.pl

Help me with this crashes, please

[2017-07-06 14:33] ghost commented on #1631
well ah, i deleted bunch of other mods and got it working BUT server stops instantly just after the world generation (after %100) and here are the logs that i couldn't understand ANYthing cus nothing tells nothing about the crash (no crash reports)
[latest.log.txt](https://github.com/SpongePowered/SpongeForge/files/1128174/latest.log.txt)
[fml-server-latest.log.txt](https://github.com/SpongePowere

[2017-07-06 15:30] bookerthegeek commented on #1631
@kenijey
Try this when pasting short logs...

[code]

[2017-07-06 15:30] ghost commented on #1631
very sadly, it happens without ruins mod too... sorry.
this time QUtilities mod caused. u can read in this log
[fml-junk-earlystartup.log.txt](https://github.com/SpongePowered/SpongeForge/files/1128360/fml-junk-earlystartup.log.txt)
edit: and yes, worked after deleting QUtilities mod.

[2017-07-06 15:33] AtomicStryker commented on #1631
Crashes on World.getWorldInfo().getWorldName()

[2017-07-06 15:41] dualspiral commented on #1631
Let's keep sight of what this ticket is for - you're now adding errors that are nothing to do with the original issue. This issue should _only_ be for the `InvalidMixinError` issue (for which the problem has been identified, it's just waiting on the fix).

@kenijey, your other errors (which, as @Mumfrey said, are different to the original issue) should be put in as seperate tickets (but please sea

[2017-07-06 15:42] ghost commented on #1631
theres only 1 issue we are having right now, i can edit this issue. let me do it please.

[2017-07-06 15:50] ghost commented on #1631
and i can open new issue based on the original issue that i had at the beginning if anybody wants. (renaming the sponge.jar to a0sponge.jar)

[2017-07-06 15:57] dualspiral commented on #1631
@kenijey Please stop a moment. I am going to revert _this_ ticket's title to be what it originally was (because it has the commentary on it already) and ask you to make a _new_ one for your QUtilities problem.

**Please note that GitHub is not a support forum**, and while we really do care that you are having issues with your server, GitHub issues are for tracking code defects, and not for trackin

[2017-07-06 16:33] ghost opened #1634 "Sponge Crash With QUtilities Mod"
**I am currently running...**
- SpongeForge version:  2436
- Forge version: 2397
- Java version:  8u131
- Operating System: windows 10 x64
- Plugins/Mods:
universeguard
QUtilities

**What is the expected result?**
my dedicated server should start
**What is the current result?**
it crashed just after the world generation (after %100)

here are the logs.
[fml-server-latest.log.txt](https://github.co

[2017-07-07 03:23] HeberonYT opened #1635 "Sponge Crash With Morpheus Mod"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2433.jar
- Forge version: 12.18.3.2281
- Java version: 1.8.0_111
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
Morpheus-1.10.2-3.1.13.jar
VoidCraft-1.10.2-0.19.6.jar

**What is the current result?**
I discovered that sponge has a problem when using ViodCraft and Morpheus mod.

[2017-07-07 03:39] phit commented on #1635
dupe of https://github.com/SpongePowered/SpongeForge/issues/830

[2017-07-07 04:14] phit commented on #1634
relevant https://github.com/SpongePowered/SpongeCommon/pull/1244 https://github.com/SpongePowered/SpongeAPI/issues/1427

[2017-07-07 05:50] #1635 closed, assigned to nobody

[2017-07-07 12:03] kasdo commented on #1632
+1 more crash:
Its fun, guys. I already have ~6 crashes
https://hastebin.com/razalarodo.pl

[2017-07-07 12:57] JBYoshi commented on #1534
@Eufranio It isn't related to Biomes O' Plenty. It's something else, though I can't tell what it is without more debugging information (which is what the plugin does).

[2017-07-07 14:26] Eufranio commented on #1534
The crash didn't happen anymore since I removed Biomes O' Plenty. I can use your plugin but not sure if it will give you the info you need (since there are no crashes to debug...)

[2017-07-07 15:14] gabizou commented on #1632
3rd crash looks to be a duplicate of https://github.com/SpongePowered/SpongeForge/issues/1534. The other two aren't necessarily helpful without more information. Since the server just ends because of an error, and not an exception, It's not very well possible to figure out just from the log what happened to cause the error, let alone cause what looks like infinite loops or exceptions previously ca

[2017-07-07 18:13] HeberonYT commented on #830
@Zidane  The easiest and fastest way to reproduce it is to create a voidcraft portal, to enter it and to close the server immediately.
view #1635

[2017-07-08 20:57] Whazaaaaa opened #1637 "Crash loading in missing dimension (natura:nether)"
So I'm trying to update my server which runs SkyFactory3 3.0.10 to 3.0.13. While doing this the server is not starting anymore because sponge is trying to load a dimension (natura:nether) that isnt there. I'd also like to note that in this update I also went from sponge 2379 to 2433. This doesnt make much sense as the dimension did not exist before aswell but the server started just fine. I'd like

[2017-07-08 21:57] axle2005 commented on #1637
Since Im guessing this is Skyfactory 3... anyway, This will occur for anyone updating to the most recent recommended version, and can easily be solved by changing:
```    B:"Override Nether"=false ``` to ```    B:"Override Nether"=true ``` in the natura config.

[2017-07-08 22:01] Whazaaaaa commented on #1637
@axle2005 Lifesaver thanks. The server starts up just fine again!

[2017-07-08 22:36] Whazaaaaa commented on #1637
Seeing as that is a temporary fix and it should work without having to set the config to true. I'm reopening this.

[2017-07-09 05:48] gabizou commented on #1552
@radfast sorry that it's taking me forever, time gets busy and work gets in the way. I know that disabling the cause tracker is not usable as currently there's a lot of code in place that has yet to consider that cause tracking is disabled. I'm going to try to get to this before the end of the month (due to time constraints, I can't even consider getting this done in a few days unless something IR

[2017-07-09 10:02] PorPit opened #1638 "ClickInventoryEvent error[1.10.2]"
- SpongeForge version: 5.2.0-BETA-2433
- Forge version: 12.18.3.2316
- Java version: 8
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

when i set a event to Cancelled
code like this
[code]
and when i click a STONE in Inventory   event is normal Cancelled

but when this item in the hotbar,  i clicked this item and close Inventory, and pause "Q" to drop th

[2017-07-09 10:28] radfast commented on #1552
@guys thank you for attending to this, and I appreciate that it is likely going to need a fair amount of work to fix.

I'm fairly busy IRL for the next week also, and with attending to our own mod.

Once you're in a position to look at this in more detail, if there's anything I can do to help, please do ping me - for example I'm happy to help try to narrow down the conditions further.  Right now i

[2017-07-09 11:22] Sir-Will opened #1639 "clear() removes more then it should"
I'm not 100% sure if this is a sponge issue or if I'm doing something wrong.

**I am currently running...**
- SpongeForge version: 1.10.2 - 2433
- Forge version: 2281:

**What is the expected result?**
Remove the correct itemstacks.

**What is the current result?**
I'm trying to remove itemstacks from the player inventory or other inventories.
To filter this I use `query()` which sometimes works c

[2017-07-09 18:01] bhi-elliot commented on #1201
Still an issue as of build 2442:
spongeforge-1.11.2-2393-6.1.0-BETA-2442
forge-1.11.2-13.20.1.2393-universal
ironchest-1.11.2-7.0.25.815

[2017-07-10 08:21] Faithcaio commented on #1452
This should be fixed.

[2017-07-10 08:21] #1452 closed, assigned to nobody

[2017-07-10 15:03] kasdo commented on #1632
I have new crash:
https://hastebin.com/daligufopu.pl

Log when crashed:
https://hastebin.com/suhadeqibe.md

I dont know what information u need for fix this...

[2017-07-10 16:30] dualspiral commented on #1632
@kasdo I personally suspect that this might be down to a faulty plugin. Something that strikes me is that some of those plugins that you are using have been discontinued or have not seen updates for a while and should be replaced:

* EssentialCmds has been discontinued in favour of my plugin Nucleus, another alternative is UltimateCore
* I believe TwentyTicks is no longer supported, there are othe

[2017-07-10 17:46] kasdo commented on #1632
I replaced plugins and updated SF
But I cant found clear lag plugin, can u throw me ulr?

[2017-07-10 20:26] PokemonBlack1 opened #1640 "SpongeForge and ForgeEssentials W/ Pixelmon"
SpongeForge crashes the server. Sponge and Forge are compatible versions. Gives an error on ForgeEssentials preloader. I am unaware how I can make this problem work. FE says they're compatible with SF, but it doesn't seem like. Any advice how to fix it?

**I am currently running...**
- SpongeForge version: 5.1.0-Beta-2100
- Forge version: 2202
- Java version: Latest
- Operating System: Unknown (as

[2017-07-10 20:46] EmanYm commented on #1640
Try updating your [SpongeForge](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2) to the latest MC1.10.2.

SpongeForge version: 5.1.0-Beta-2100

and your [MinecraftForge](http://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.10.2.html) to the latest MC1.10.2

You could also [update your Pixelmon](http://pixelmonmod.com/downloads.php) to the latest while you're at

[2017-07-10 20:48] phit commented on #1640
Your spongeforge version is ancient. Update, you dont have to match forge and sponge version,
see https://gist.github.com/phit/d097a5a4e7172e6c1e4a7616596bc7ce

[2017-07-10 21:00] #1640 closed, assigned to nobody

[2017-07-10 21:26] PokemonBlack1 commented on #1640
Still having problems. Updating them both didn't work. https://pastebin.com/TeqXJMEG Both are fully updated. Not sure what's wrong at this point.

[2017-07-10 21:42] phit commented on #1640
that looks like a forgeessentials issue, almost the same crash can be found here https://github.com/ForgeEssentials/ForgeEssentials/issues/2232

[2017-07-10 21:42] EmanYm commented on #1640
[17:23:19] [main/INFO] [Sponge/]: /*              Message : com.forgeessentials.core.preloader.asminjector.MethodInjector$MethodInjectionError: Error injecting com.forgeessentials.core.preloader.injections.MixinEntity.attackEntityFrom_event(MixinEntity.java:0) into org.spongepowered.common.mixin.core.entity.MixinEntity.func_70097_a */

[2017-07-10 21:58] PokemonBlack1 commented on #1640
Bootstrap didn't work. I'm not sure what to do anymore. If there's a working alternative to ForgeEssentials that anyone knows of, let me know--or if you know any other tries to fix it.

[2017-07-10 22:02] PokemonBlack1 commented on #1640
@EmanYm I'm not entirely sure what I'm supposed to take from this.

[2017-07-10 22:23] phit commented on #1640
Like I said above report the issue to ForgeEssentials and I'm sure they will fix it!
If you are willing to not have FE, what parts do you care about? pretty much everything it does also exists as sponge plugin

Commands, WorldBorder: https://nucleuspowered.org/
Permissions: https://forums.spongepowered.org/t/luckperms-an-advanced-permissions-plugin/14274
Multiworld: https://forums.spongepowered.or

[2017-07-11 13:40] #1333 closed, assigned to nobody

[2017-07-11 13:57] JBYoshi commented on #1628
I just remembered that Forge rewrote their registry system for 1.12. I assume that's why it was commented out. I'll look into this.

[2017-07-11 16:43] #1628 closed, assigned to JBYoshi

[2017-07-11 16:43] ryantheleach commented on #1628
You are going ham Yoshi!!

[2017-07-11 18:27] 5igm opened #1641 "A possible mistake feedback"
**I am currently running...**

forge-1.11.2-13.20.1.2393-universal.jar
spongeforge-1.11.2-2393-6.1.0-BETA-2453.jar
jre1.8.0_131
Windows10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
![111](https://user-images.githubusercontent.com/11610914/28083800-fa6d5d1a-6676-11e7-8d2c-bee7badee97a.jpg)

I am not sure is it the error belonging to Sponge, but it seems

[2017-07-12 01:01] ryantheleach commented on #1641
[code]

Might be due to FoamFix Anarchy?

https://asie.pl/Projects/Minecraft/Mods/FoamFix/

You can try this setting, switching to FoamFix-Lawful, or removing FoamFix, and see if the issue still persists.

[2017-07-12 01:53] 5igm commented on #1641
I found another one here, and I have switched to FoamFix-Lawful
https://pastebin.com/hfgL4dQR

[2017-07-12 02:29] FiveEYZ opened #1642 "[1.11.2] Server crash NoSuchElementException"
**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2442
- Forge version: forge-1.11.2-13.20.1.2393-universal
- Java version: 1.8.0_131
- Operating System:
 - [x] Windows Server 2012 R2

- Plugins/Mods:
Plugins (121): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, Muon, Backpacks!, SpongeAPI, SpongeForge, CoFH ASM, ccl-entityh

[2017-07-12 18:58] tyler489 commented on #1617
Fixed in newest versions of draconic evo

[2017-07-12 18:58] #1617 closed, assigned to nobody

[2017-07-12 19:16] tyler489 commented on #1637
Alternitvly you could just delete the nether world that works to

[2017-07-12 19:16] tyler489 commented on #1633
Are you using spongebootstrap if not i would use t

[2017-07-13 06:39] bookerthegeek commented on #1346
Although, @gabizou maybe a small update would be appreciated?

[2017-07-13 15:40] Jay9519 opened #1643 "No wither skeletons spawning with BoP"
**I am currently running...**
- SpongeForge version:  spongeforge-1.11.2-2393-6.1.0-BETA-2463
- Forge version: forge-1.11.2-13.20.1.2393-universal
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Actually Additions, AdventureMMO, Better Achievements, BiblioCraft, Biomes O' Plenty,
BiblioWoodBoP, Buycraft, Chisels & Bits,

[2017-07-13 18:33] kasdo opened #1644 "[1.10.2] 2 crashes with logs"
Forge Mod Loader version 12.18.3.2316
spongeforge-1.10.2-2281-5.2.0-BETA-2456
Mods: CustomNpcs, Mo'Creatures, CustomMobSpawner, LotsOfFood
Plugins: WorldEdit, RedProtect, Nucleus, ProjectWorlds, ProjectPortals, Twentyticks, LuckPerms, Holograms

1) Crash: https://hastebin.com/alacepewuc.php
Log: https://hastebin.com/dokewiboxo.md

2) Crash: https://hastebin.com/eyutiwosul.php
Log: no log, crash 1

[2017-07-13 19:26] dualspiral commented on #1632
From #1644 (which is a continuation of this and so deduplicating)

The error is simply the server watchdog killing it. The server froze, but didn't necessarily crash. Do you have any context as to what you were doing before the server freezes? One of the stack traces has WorldEdit in it, for example, were you using WE each time before it froze?

One other thing you can try is removing mods one at

[2017-07-13 19:26] dualspiral commented on #1644
Duplicate of #1632

[2017-07-13 19:26] #1644 closed, assigned to nobody

[2017-07-13 19:46] kasdo commented on #1632
Cant delete mods and test. Coz this error crashed only 1 time at a 4-5 days. What about other crash?

[2017-07-13 21:00] PixelmonPRO opened #1645 "Crash server 10.2"
Hello! Server crash(

Java 8
Operating System: Debian 8 Jessie 64 bit
SpongeForce: spongeforge-1.10.2-2281-5.2.0-BETA-2433

[2017-07-13 21:34] PixelmonPRO commented on #1645
and crast again: https://pastebin.com/9SGftjJg

[2017-07-14 00:14] JonoColwell commented on #1133
Hi, would like to note that this is ongoing, death lists in 1.10 still remain in inventory despite being dropped.

[2017-07-14 08:01] ghost commented on #1643
I have same issue. I think its due Biomes o Plenty. I made workaround plugin for fix spawning.

[2017-07-14 09:20] Jay9519 commented on #1643
Care to share?

[2017-07-14 09:36] ghost commented on #1643
https://www.rebelgames.net/fixspawning-0.1.jar

[2017-07-14 11:58] polyzium opened #1646 "[1.12] Quark is incompatible with SpongeForge"
Running Quark together with SpongeForge results in a crash.
I reported [this](https://github.com/Vazkii/Quark/issues/535) to Quark repo itself then Vazkii said to report it here.

**I am currently running...**

- SpongeForge version: 1.12-2368-7.0.0-BETA-2425
- Forge version: 1.12-14.21.1.2406
- Java version: 1.8.0_131
- Operating System: Arch Linux with kernel 4.9.34-1-lts

 - [x] Linux (Ubuntu,

[2017-07-14 13:31] Mumfrey commented on #1646
Looking at the transformer source, it *seems* like Quark is wholesale replacing the method body with a call to a custom method. The Sponge mixin is trying to redirect the individual calls to `isPlayerFullyAsleep` which exist in the target method but is of course failing because the instructions don't exist any more.

There are probably better ways that Quark could achieve the same thing, ultimatel

[2017-07-14 21:44] Sir-Will opened #1648 "Entities keep causing NoSuchElementException"
If I set the `deny-chunk-requests` option to `false` it causes the entity tracking crashes:
Crash-Report: https://pastebin.com/BqEJKdYG
Sponge error: https://pastebin.com/Vtx23ca9

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Forge version: 1.10.2-12.18.3.2281

[2017-07-14 22:09] FiveEYZ commented on #1343
this is happening again on 1.11.2

async-lighting is set to false

versions:
spongeforge-1.11.2-2393-6.1.0-BETA-2463
ImmersiveEngineering-0.11-63

[![Screenshot from Gyazo](https://gyazo.com/0b5cb897d7421b1c09a33f34de4dff57/raw)](https://gyazo.com/0b5cb897d7421b1c09a33f34de4dff57)

[2017-07-15 02:21] bookerthegeek commented on #1646
@Vazkii

[2017-07-15 05:31] malte0811 commented on #1343
Does relogging or F3+A fix this?

[2017-07-15 13:06] ZNixian commented on #1607
How did you get an empty stack? By the looks of it, IC2 is intentionally crashing when trying to manipulate an empty stack. Can you try this on a sponge-less server, and see if you get the same result?

For reference, the IC2 bugtracker is at: [http://bt.industrial-craft.net](url)

[2017-07-15 15:38] linkinkov opened #1649 "[1.10.2] Server spam after remove the plugin"
**I am currently running...**
- SpongeForge version: latest for 1.10.2
- Java version:  8
- Operating System: debian

- Plugins/Mods:
http://i.imgur.com/rexBNc3.png

**What is the expected result?**
https://gist.github.com/linkinkov/e2d6354e493a2e897c400c38266b1813

[2017-07-15 15:43] ryantheleach commented on #1649
I can understand that the spam is annoying and can fill logs.

Maybe we could reduce the amount of lines printed, / lower it from ERROR?

A fix for this would probably be centered around the following Enhancement: https://github.com/SpongePowered/SpongeCommon/issues/448

[2017-07-15 17:38] dmarcuse commented on #1643
I'm having the same issue. The mods that we have in common with you are Actually Additions, BiblioCraft, Chisels & Bits, Iron Chest, JEI, JourneyMap, LuckPerms, Morpheus, and Tinkers' Construct.

[2017-07-15 18:08] FiveEYZ commented on #1343
No, it doesn't @malte0811

[2017-07-15 18:35] FiveEYZ opened #1650 "[1.11.2] Crash: Exception while updating neighbours"
**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2468
- Forge version: forge-1.11.2-13.20.1.2393-universal
- Java version: 1.8.0_131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows Server 2012 R2

- Plugins/Mods:
Plugins (121): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Aroma1997Core, Muon, B

[2017-07-15 18:35] phit commented on #1343
I'm not seeing this myself with the same IE and Sponge version, async is enabled for me.
You sure this is caused by Sponge?

[2017-07-15 18:37] FiveEYZ commented on #1343
maybe i should enable async-lighting then

[2017-07-15 19:56] ghost opened #1651 "Sponge Tracking crashed server with chancecubes"
- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2468.jar
- Forge version: forge-1.11.2-13.20.1.2393-universal.jar
- Java version: Java 8
- Operating System:
 - Linux

- Plugins/Mods:
ClearMob, Discord Bridge, NuVotifier, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MMCRules, Nucleus, WorldEdit, RedProtect, StatusProtocol, ServerListPlus, TabManager, Total Economy

https://gist.git

[2017-07-15 20:51] SamuelWAnderson45 commented on #1607
IC2 fixed the crash on their end in build 240. However, I suppose there is still an empty stack floating around, it just isn't causing crashes.

I've found that shift-clicking items in the crafting bench will trigger the crash often (but not always).

Inventory tweaks (the mod) triggers it as well

[2017-07-15 21:57] Sir-Will commented on #1648
Crash just happened with it enabled. Seems to only reduce the amount of occurrences.

[2017-07-15 22:59] Hellcommander opened #1652 "Random crash relating to spongeforge"
**I am currently running...**

- SpongeForge version: 1.12-2397-7.0.0-BETA-2469
- Forge version: 14.21.1 (up to date so that mods work)
- Java version: latest version 8
- Operating System:Windows 10 Pro

- Plugins/Mods:

**What is the expected result?**Not randomly crashing

**What is the current result?**Random crash crash result is here for easy viewing:
[crash-2017-07-15_18.49.35-server.txt](ht

[2017-07-16 02:26] Hellcommander commented on #1652
Here is another random crash involving a npc and a enderman
`// Hi. I'm Minecraft, and I'm a crashaholic.

Time: 7/15/17 10:20 PM
Description: Exception in server tick loop

java.lang.RuntimeException: java.lang.ArrayIndexOutOfBoundsException: 0
	at net.minecraftforge.fml.common.eventhandler.EventBus.post(EventBus.java:646)
	at net.minecraftforge.fml.common.eventhandler.EventBus.post(EventBus.java

[2017-07-16 03:32] JonoColwell opened #1653 "[1.10.2] Immersive Engineering Incompatability, Core Sample Drill"
- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar
- Forge version: forge-1.10.2-12.18.3.2281-universal.jar
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_131
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Plugins (247): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Advanced Rocketry, Applie

[2017-07-16 11:28] Sir-Will commented on #1507
Same issue here, sponge forge build 2464.
For some reason I can mainly reproduce it by killing my game while in that world.

This error shows up on the client log when connecting:
[code]

[2017-07-16 15:02] m31317015 commented on #1507
I would say I've been fine. The way I solve it would be a trade-off:
ip_forward: false

I tried several plugins from either side, bungee or sponge, none of them worked. Only way is to turn off ip_forward and forward the port yourself in the router.

Sadly if you don't have one you got to get yourself one, unless you're using a single PC that is not sharing external ip with any other devices.

[2017-07-16 15:17] whichonespink44 commented on #1596
Hiya... just wondering if any progress has been made on this as we're about to release a big update to RTG and would love to be SpongeForge-compatible on launch if possible.

If there's anything we can do to help out, please let me know.

[2017-07-16 15:27] Sir-Will commented on #1507
What has this to do with ip forward?

[2017-07-16 16:08] linkinkov commented on #1649
problem with spam then its crash the server with GC error.

[2017-07-16 16:27] Slind14 commented on #1507
This is a game breaking bug for servers requiring additional worlds. Any help would be much appreciated.

[2017-07-16 21:13] sayore opened #1654 "Game just closes after adding spongeforge to mods folder using the new mojang launcher"
I am currently (not) running... spongeforge-1.10.2-2281-5.2.0-BETA-2456.jar

- SpongeForge version:  2456
- Forge version: 2281
- Java version: jre1.8.0_121
- Operating System: Windows 10

 - [x] Windows
- [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS

- Plugins/Mods:
Only Spongeforge

**What is the expected result?**
A running single player.

**What is the current result?**
Nothing

The la

[2017-07-17 05:52] JonoColwell commented on #1653
Closing for now, appears to not be sponge related

[2017-07-17 05:52] #1653 closed, assigned to nobody

[2017-07-17 06:09] gabizou commented on #1649
@ryantheleach this was resolved in API 6 with the inclusion of the new DataRegistration stuff. Granted a stopgap of translation errors can be muted and avoided, I have not considered it quite necessary to back port the entire system in place to 1.10.2 as it had not presented itself necessary to do so at the time. Since it only affects the custom data being removed per custom data holder being load

[2017-07-17 06:59] brunyman commented on #1645
Have you find the cause of this? I'm having the same type of crash.

[2017-07-17 11:30] m31317015 commented on #1507
##The following are my own opinion and guesses.

No it's not only that, players cannot even join the server (please look at the first post), how can they possibly create worlds?

That is another problem, the current problem here is discussing is player is not able to join the server without ip_forward turned off. That solution I found was from I believe waterfall forums.

For the waterfall side, I

[2017-07-17 11:33] Sir-Will commented on #1507
@m31317015 You seem to have a different issue. This issue is about not able to connect after being in a sponge plugin created world. This has nothing to do with ip forwarding.

[2017-07-17 11:36] m31317015 commented on #1507
@Sir-Will I guess I am having another problem then, but since it's solved its a matter of hit or not, welp I missed.

And if you believe this is a waterfall bug, maybe we should go over there and discuss more.

[2017-07-17 13:12] dualspiral commented on #1507
I had a quick look yesterday. I could reproduce this - I managed only under IP forward conditions, but as it was cursory, I didn't really do rigorous testing:

* IP Forwarding is working fine.
* You can log into a standard (0, 1, -1) world fine.
* This only seems to affect a **Forge client** connecting to a **Forge server** - which is important. I couldn't reproduce this using a Vanilla client.

I

[2017-07-17 13:29] Twisted-Code commented on #1324
yeah same thing is happening on my server with Applied Energistics' crystal seeds, though I haven't been able to reproduce it with ONLY AE and SF installed, so I think it might be a bad interaction between SF and something else. What mods do you have installed? I'll let you know if any overlap with my pack and we can go from there

[2017-07-17 15:00] linkinkov commented on #1649
@gabizou can you backport this to 1.10.2 branch? Because now my server crashed with GC error.

[2017-07-17 15:03] linkinkov commented on #1649
Also how i can fix this:
https://gist.github.com/linkinkov/a84a83893eeef17e6e2364540cfc22f6

[2017-07-17 16:00] Pokekhan opened #1655 "Plugins that work with minecraft block throws errors"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Forge version: forge-1.10.2-12.18.2.2099
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

Plugins (35): [m[0;32;1mMinecraft[m, [m[0;32;1mMinecraft Coder Pack[m, [m[0;32;1mForge Mod Loader[m, [m[0;32;1mMinecraft Forge[m, [m[