[2018-01-01 15:49] #1551 closed, assigned to nobody

[2018-01-01 15:49] phit commented on #1456
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:49] #1456 closed, assigned to nobody

[2018-01-01 15:50] phit commented on #1260
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:50] #1260 closed, assigned to Deamon5550

[2018-01-01 15:50] phit commented on #1773
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:50] #1773 closed, assigned to nobody

[2018-01-01 15:50] phit commented on #1846
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:50] #1846 closed, assigned to nobody

[2018-01-01 15:50] phit commented on #1679
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:50] #1679 closed, assigned to gabizou

[2018-01-01 15:51] phit commented on #1854
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:51] #1854 closed, assigned to nobody

[2018-01-01 15:51] phit commented on #1767
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:51] #1767 closed, assigned to nobody

[2018-01-01 15:53] phit commented on #1376
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:53] #1376 closed, assigned to nobody

[2018-01-01 15:53] phit commented on #1901
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:53] #1901 closed, assigned to nobody

[2018-01-01 15:53] phit commented on #1871
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:53] #1871 closed, assigned to bloodmc

[2018-01-01 15:55] phit commented on #1876
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:55] #1876 closed, assigned to nobody

[2018-01-01 15:55] phit commented on #1748
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:55] phit commented on #1746
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:55] #1746 closed, assigned to nobody

[2018-01-01 15:56] phit commented on #1877
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:56] #1877 closed, assigned to nobody

[2018-01-01 15:56] phit commented on #1601
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:56] #1601 closed, assigned to nobody

[2018-01-01 15:56] phit commented on #1524
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:56] #1524 closed, assigned to Deamon5550

[2018-01-01 15:56] phit commented on #1774
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:56] #1774 closed, assigned to nobody

[2018-01-01 15:57] phit commented on #1777
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:57] #1777 closed, assigned to nobody

[2018-01-01 15:58] phit commented on #1426
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:58] #1426 closed, assigned to nobody

[2018-01-01 15:58] phit commented on #1564
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 15:58] #1564 closed, assigned to Aaron1011

[2018-01-01 16:00] phit commented on #1894
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:00] #1894 closed, assigned to nobody

[2018-01-01 16:01] phit commented on #1467
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:01] #1467 closed, assigned to gabizou

[2018-01-01 16:02] phit commented on #1429
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:02] #1429 closed, assigned to gabizou

[2018-01-01 16:03] MJRLegends commented on #1429
@phit Wow just wow, i reported it about a month back and still waiting for anyone to help me.....

[2018-01-01 16:07] phit commented on #1404
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:07] #1404 closed, assigned to gabizou

[2018-01-01 16:08] phit commented on #1549
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:08] #1549 closed, assigned to Deamon5550

[2018-01-01 16:13] phit commented on #1910
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:13] #1910 closed, assigned to nobody

[2018-01-01 16:13] phit commented on #1916
Closing this issue, as of today 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed

[2018-01-01 16:13] #1916 closed, assigned to nobody

[2018-01-01 21:01] phit commented on #1924
To quote dualspiral:

manager - then try with.

Closing as this is not a Sponge issue.

[2018-01-01 21:01] #1924 closed, assigned to nobody

[2018-01-01 21:49] JoeSGT commented on #1906
it seem it's fixed by updating the mod thanks @HorizonsMC

[2018-01-01 21:53] Keaton1188 opened #1926 "Advancements Crash"
**I am currently running**

- SpongeForge version: SpongeForge: 1.12.2-2555-7.1.0-BETA-2815
- Forge version: 14.23.1.2575
- Java version: build 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
FTB Revelations

**Issue Description**
Server randomly crashing at times with this error:
https://gist.github.com/Keaton1188/3f3a98e079c947d3b4ebbc8c724e529a

Spoke to pie_fla

[2018-01-01 21:53] JoeSGT commented on #1906
never mind did a bit of more testing and it still an issue Updated the mod too AdvancedRocketry-1.12.2-1.2.6-42

[2018-01-01 21:56] Sunconure11 commented on #1748
I will let you know if this appears on 1.12.2, since I have since moved there, and so has this mod in question. Right now, I'm waiting for a mod to update with a bug fix before I can bring my server back up, as my server currently crashes with Gravestones Extended, and I'm waiting on the dev to fix it.

[2018-01-01 23:06] Willynator commented on #1919
Yeah, seems I am having a very similar issue which phit referenced to
https://github.com/SpongePowered/SpongeCommon/issues/1676

[2018-01-02 02:02] phillipinman commented on #1919
Can confirm I also have the same issue as @Willynator, the primary issue was the contents disappearing but we also observed the chests would unload from the chucks.

As for mod list @LemADEC there are no mods, just spongeforge itself, the issue persists.

There are also no sponge plugins loaded ether, leading me to believe the issue may be with sponge itself. If there is some way to log chest acti

[2018-01-02 02:27] alicheek opened #1927 "Clumps EntityXPOrbBig - Timings crash when capturing"
I am currently running

SpongeForge version: SpongeForge: 1.12.2-2555-7.1.0-BETA-2806
Forge version: 14.23.1.2575
Java version: build 1.8.0_151-b12
Operating System: CentOS Linux release 7.2.1511
Plugins/Mods:
FTB Revelations
Issue Description
Crash with aikar timings for calling entity on join world event for EntityXPOrbBig

https://gist.github.com/alicheek/b30acd3680107c4b80ade32a8a4661e0

[2018-01-02 02:29] phit commented on #1927
may be related to https://github.com/jaredlll08/Clumps/issues/7

[2018-01-02 02:43] phillipinman commented on #1919
Addition note: This issue affects signs as well interestingly

[2018-01-02 03:02] phillipinman commented on #1919
Updated to SpongeForge 1.12.2-2555-7.1.0-BETA-2815, issue still persists

[2018-01-02 03:05] Zerthick opened #1928 "UseItemStackEvent does not fire"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2815

**Issue Description**
As the title states, the UseItemStackEvent no longer fires as illustrated by the following code snippet:

[code]

It does however fire in SpongeVanilla, tested eating bread, drinking a regeneration potion, and drawing a bow

[2018-01-02 03:25] Benedictum commented on #1919
I can chime in and say we have had this issue on multiple server environments / modpacks, we attributed it to crappy mod packs, but we have definitely seen this exact issue as well.

[2018-01-02 05:16] Inscrutable commented on #1926
I can confirm this also happens on a server with only forge-1.12.2-14.23.1.2583 and spongeforge-1.12.2-2555-7.1.0-BETA-2815. I traveled to the nether, and the server fell over seconds later. Copy of latest-log file here: https://pastebin.com/jaG1Lgc7

[2018-01-02 11:41] dualspiral commented on #1924
To note, I’m not convinced it’s a Nucleus issue, rather that I expose some issue tying scoreboards and skins together.

The code that is causing this is https://github.com/NucleusPowered/Nucleus/blob/sponge-api/7/src/main/java/io/github/nucleuspowered/nucleus/modules/vanish/service/VanishService.java#L7. I think it’s probably because I fire this too early, and it’s screwing around with the user st

[2018-01-02 14:52] Yeregorix commented on #1926
I have the same issue. Here is my deobf crash report: https://pastebin.com/F50UEERq

[2018-01-02 16:20] Faithcaio commented on #1919
Just to be sure: The actual block remains there (same with signs) just all data on it is removed?

This would happen when removing the TileEntity from a position.

[2018-01-02 17:45] johnfriedrich commented on #1926
Just want to add that these kind of crashes can mess up existing Forge mappings in level.dat. (And did in our test enviroment).

[2018-01-02 19:55] LemADEC commented on #1919
When issue happens, do all the chests from the same chunk loose content? or just some chests are emptied, others are fine, in the same chunk?

[2018-01-02 20:48] Faithcaio commented on #1926
fixed in latest API7 stable

[2018-01-02 20:48] #1926 closed, assigned to nobody

[2018-01-02 21:05] phillipinman commented on #1919
As a general rule both outcomes occurred,  but we tend to see one chest at a time lose contents.

Happens to multiple chunks as well.

8 hours ago we filled a chest with colored wool. We then filled another chest next to it with another colored wool. We then went back to chest 1 only to find the contents disappeared in less than 5 seconds.

This issue does not affect ender chests i suspect because

[2018-01-02 21:10] Yeregorix commented on #1926
I had the issue with SF 1.12.2-2555-8.0.0-BETA-2814:dev, is it fixed in API8 ?

[2018-01-02 21:13] Faithcaio commented on #1926
I fixed it in bleeding too but there are currently no builds as API doesnt compile right now

[2018-01-02 21:14] LemADEC commented on #1919
are you sure those 2 chests are in the same chunk?
maybe try putting 12 chests on top of each others and see if those content together or separately?

[2018-01-02 23:54] Benedictum commented on #1919
I can't speak to same chunk issues as we haven't tested as exclusively as
Phillip. However the block definitely remains and just the contents are
wiped.

On Jan 2, 2018 2:14 PM, "LemADEC" <notifications@github.com> wrote:

are you sure those 2 chests are in the same chunk?
maybe try putting 12 chests on top of each others and see if those content
together or separately?

—
You are receiving this b

[2018-01-03 00:05] Willynator commented on #1919
For me any chests that have been loaded, unloaded, then loaded again have the issue. When it happens not all chests in the world experience the issue, as it seems the issue only happens after loading and unloading the chunk of the chests

[2018-01-03 01:26] Keaton1188 opened #1930 "Chemical Reactor - Crash"
**I am currently running**
 Was having a few issues with the newest build (XP orbs, still need to report, Advancements, which I see was recently fixed)
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2800
- Forge version: 14.23.1.2575
- Java version: build 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
FTB Revelations

**Issue Description**
This Multi-Block structur

[2018-01-03 01:32] Keaton1188 opened #1931 "Inventory Slot Function - Crash"
**I am currently running**
Was having a few issues with the newest build (XP orbs, still need to report, Advancements, which I see was recently fixed)
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2800
- Forge version: 14.23.1.2575
- Java version: build 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
FTB  Revelations

**Issue Description**
Not sure what is actually

[2018-01-03 01:36] phit commented on #1930
update to latest advanced rocketry, was fixed in https://github.com/zmaster587/AdvancedRocketry/commit/15dec4e856e4ae5ae7c74d062ad917e063c3c527

[2018-01-03 01:36] #1930 closed, assigned to nobody

[2018-01-03 01:38] phit commented on #1931
not a sponge bug, https://github.com/mezz/JustEnoughItems/issues/1086

[2018-01-03 01:38] #1931 closed, assigned to nobody

[2018-01-03 02:11] ryantheleach commented on #1429
@MJRLegends Note the message above doesn't mean this won't be fixed, just that the support terms for 1.10 / 1.11 has ended.

Developers before this cutoff were expected to at least attempt to backport fixes in 1.12 back to 1.10, this cutoff just means that they are no longer expected to do this, and are encouraged to look forwards. This increases the speed of fixes for 1.12 and forward looking dev

[2018-01-03 02:13] MJRLegends commented on #1429
@ryantheleach Thanks for the reply, this is the latest on my issue Right i added some outputs before this line https://github.com/SpongePowered/SpongeCommon/blob/347bc09f3ad55e316b330c472170a4cd9fd68f97/src/main/java/org/spongepowered/common/world/WorldManager.java#L793 see https://gyazo.com/894e999906fdb4168bbe11b5985c9363 for my output code. From doing this, i got these results https://gist.gith

[2018-01-03 05:24] phillipinman commented on #1919
@Faithcaio you are correct, the blocks remain but the data is wiped.

@LemADEC tried that, same result. the chest data/contents disappears even when stacked in the same chunk.

[2018-01-03 07:19] Faithcaio commented on #1919
This is really weird.
Maybe try placing a bunch of double chests right on a chunk border. (You can show them with F3+G)
Is then the entire doublechest emptied or just half of it?

[2018-01-03 11:06] BlackBeltPanda commented on #823
Still dupes on SpongeForge 1.10.2-2477-5.2.0-BETA-2782

[2018-01-03 17:02] Elec332 commented on #1921
Sponge seems to be modifying the value returned by SaveHandler.getWorldDirectory(), which causes ElecCore to crash.
https://github.com/SpongePowered/SpongeForge/blob/1.12.2/src/main/java/org/spongepowered/mod/mixin/core/world/storage/MixinSaveHandler.java#L78-L91

[2018-01-03 17:20] phit commented on #823
As of January 1st 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed, please open

[2018-01-03 20:04] AlexModGuy commented on #1748
The mod was updated to 1.12.2 on version 1.3.1.

[2018-01-03 20:57] Zerthick opened #1932 "Opening a custom Inventory on a Chest in an InteractBlockEvent and cancelling the event prevents the Inventory from being shown"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817

**Issue Description**
As the title says, when opening a custom inventory in an InteractBlockEvent when the block being interacted with is a chest and then cancelling the event, the inventory is not shown to the player, this only occurs on SpongeForge and not SpongeVanilla. Bug can be replicated by the code below:

[code

[2018-01-03 20:59] LemADEC commented on #1919
so, are they all disappearing in the same chunk at the same time, or not?

[2018-01-03 21:40] bloodmc commented on #1919
If someone could provide a test world where this can be reproduced (few mods as possible), I can take a look. Make sure to list steps on what to do to trigger the bug.

[2018-01-03 21:42] phit commented on #1919
supposedly no mods needed, just load and unload areas with chests, I still haven't been able to reproduce it

[2018-01-03 21:51] LemADEC commented on #1902
Anyway to disable the massive console spam that kill servers due to this bug?

[2018-01-03 21:56] LemADEC commented on #1902
Also to note, the CaptureBlockPos is not reporting actual coordinates in the PhaseContext, so we don't know where to look for the faulty block.

[2018-01-03 22:28] Keaton1188 opened #1933 "Baubles Inventory voids items - Reopened issue."
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817
- Forge version: 14.23.1.2575
- Java version: 1.8.0_151-b12
- Operating System:  CentOS Linux release 7.2.1511

- Plugins/Mods:
This is an issue on 1.10/1.12 servers

**Issue Description**
https://github.com/SpongePowered/SpongeForge/issues/1320

Still an issue, was first reported for 1.10.2, have testing on 1.12.2 and

[2018-01-03 23:36] ryantheleach commented on #1748
https://github.com/Alex-the-666/Ice_and_Fire/issues/398 indicates the issue still persists on 1.12.

[2018-01-04 00:19] phit commented on #1933
Ah, that's a different reproduction from the original issue. The original repro no longer works, but can confirm the new one does using
[`Baubles-1.12-1.5.1.jar`](https://minecraft.curseforge.com/projects/baubles/files/2459083)

[2018-01-04 00:42] ryantheleach commented on #1914
Picking the IntelliJ plugin and choosing Sponge will use an example template for creating Sponge plugins.

Sponge plugins are traditionally server side, so the entire project you have set up will be geared around that.

I believe MCDev has an option for developing a ForgeMod if that's what you want to do, you can select forge mod + Mixin in order to create a new mod that uses mixins.

NOTE: Mixins

[2018-01-04 00:52] rob5251 opened #1934 "XNet ArithmeticException in PhaseTracker"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817
_Also tested on (2819)_
- Forge version: 2555
- Java version:  1.8.0_152
- Operating System: Windows10 64bit

- Plugins/Mods:
Mods (115): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, Actually Baubles, AppleSkin, Applied Energistics 2, Aroma199

[2018-01-04 01:02] phillipinman commented on #1919
Currently busy so i've delegated testing to a trusted party and they report that even with a vanilla client connected to the spongeforge server the issue persists.

You are all welcome to test the issue live at play.binarygaming.net:25520 (bypasses bungeecord)

The standard vanilla 1.12.2 client should work

Its a testing server so do whatever you feel is necessary.

The issue does take some time

[2018-01-04 01:05] phillipinman commented on #1919
@LemADEC No, it appears to be random, you can fill a chest, turn around then back and the contents will be gone. Othertimes it can take awhile to happen.

[2018-01-04 01:08] gabizou commented on #1902
The trace log doesn't appear to be showing the correct sponge forge version. There have been some spam log improvements made in more recent builds than the log shows. Re-test with the latest if you can please.

Otherwise I'm going to continue using what's based on the log, but this appears to be a mod sided bug as the NPE is from the mod accessing a method on a `null` object, but I'm not sure the

[2018-01-04 01:09] gabizou commented on #1926
Bleeding should not be used at present, stable-7 builds are recommended.

[2018-01-04 03:41] ryantheleach commented on #1932
@Aaron1011 you handled the linked issue, you may have additional insight. If you are unable to complete this task due to time constraints, feel free to unassign yourself.

[2018-01-04 09:02] gabizou commented on #1932
Closed with porting the same fix: https://github.com/SpongePowered/SpongeForge/commit/9f8b108578aea62628e828357edbdd9f0199f9b2

[2018-01-04 09:02] #1932 closed, assigned to Aaron1011

[2018-01-04 09:52] LemADEC commented on #1902
I've disabled the quarry and updated forge/sponge, still getting a single error:
https://gist.github.com/LemADEC/4b6f984bacdf1725d76b7f33f102c7c3

[2018-01-04 09:59] LemADEC commented on #1902
Same setup before disabling that quarry with constant spam:
https://gist.github.com/LemADEC/88db98a0a3d3b3a5d1629f799cf2893d

[2018-01-05 00:37] Raycoms opened #1935 "Sponge messing up our creeper protection"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2821
- Forge version: 2555
- Java version:  1.8
- Operating System: Debian

- Plugins/Mods:
 We tested it with and without other mods (besides ours) and it still happends.

Description:
Our mod offers an intensive anti griefing protection for each colony to avoid mob and player griefing of the colonies.
As you'll see in the

[2018-01-05 03:15] ryantheleach commented on #1935
This will likely be fixed by: https://github.com/SpongePowered/SpongeForge/pull/1911

[2018-01-05 03:17] ryantheleach commented on #1935
Closing as a duplicate of: https://github.com/SpongePowered/SpongeForge/issues/1700

If this issue remains after #1911 is merged, feel free to create a new ticket.

[2018-01-05 03:17] #1935 closed, assigned to nobody

[2018-01-05 05:03] Dockter opened #1936 "Cause Stack Frame Corruption! [Client & Server Crash] - API 7.1.0 - b2821"
**I am currently running**
- SpongeForge version:  spongeforge-1.12.2-2555-7.1.0-BETA-2821
- Forge version: forge-1.12.2-14.23.1.2582-universal
- Java version: 1.8
- Operating System:  Win10

Client Stack Trace:  https://gist.github.com/Dockter/f679752c374ab7a99189be3876e796be
Server Stack Trace: https://gist.github.com/Dockter/7208769cac108314c9bd0ce312ce7137

Server is flooded with that stack tr

[2018-01-05 05:43] Willynator commented on #1919
I was able to isolate the issue down to the config folder, I'm trying to isolate it a bit more than that though

[2018-01-05 05:59] Willynator commented on #1919
ill pm u some world files though blood

[2018-01-05 06:00] ryantheleach commented on #1919
Unless you have already talked to blood about it, I'd recommend posting your findings here, so other developers get a chance to fix the issue.

[2018-01-05 06:01] Willynator commented on #1919
alright

[2018-01-05 06:02] Willynator commented on #1919
will be a moment to download etc

[2018-01-05 08:37] Deamon5550 commented on #1936
looks like the stack manager is being called from the client thread, which is bad, but that should result in a different exception for the thread being wrong, unless something is eating that exception and then this is thrown because the frame is never created because of said exception.

[2018-01-05 11:17] Cybermaxke commented on #1936
I think I caused this issue, so I will fix it.

[2018-01-05 12:30] Cybermaxke commented on #1936
Should be fixed in the following PR: https://github.com/SpongePowered/SpongeForge/pull/1929

[2018-01-05 12:32] smmmadden commented on #1936
I got this exception last night after upgrading my test server as well - same builds.  Startup logs looked fine, but once client tried to connect - it fails.

[2018-01-05 16:57] ghost opened #1937 "DankNull Creative dupe"
In the 1.12 version of sponge, DankNull Dupes creative items when you place them in and right click away. I have talk to the dev of the mod and he said it is a sponge prob that they need to fix

[2018-01-05 19:17] phit commented on #1937
Please use the provided issue template.

[2018-01-05 19:17] #1937 closed, assigned to nobody

[2018-01-06 06:06] phillipinman commented on #1919
Is there any additional information i can provide regarding this issue?

[2018-01-06 06:25] Willynator commented on #1919
I wasn't able to upload a world file anywhere due to it being relatively big. But testing it, the issue is able to happen even with a brand new world file

https://www.dropbox.com/s/lrvl2erda2ei4b4/borked%20world%20stuff.zip?dl=0

that has the pixelmon server jar and spongeforge-1.12.2-2555-7.0.0-BETA-2800 jar as well with the current config file used. I was able to replicate the issue using just

[2018-01-06 10:44] unstablecraft opened #1938 "servercrash + world corruption 1.12.2"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2783.jar
- Forge version: forge-1.12.2-14.23.1.2566-universal.jar
- Java version:  1.8.0_151, Oracle Corporation
- Operating System: centOS 7

- Plugins/Mods: not visible due to this https://pastebin.com/gYPGS3wR

**Issue Description**
last night on a test pack this crash occured a few times eventually currupting

[2018-01-06 12:21] ryantheleach commented on #1938
I'll be honest I don't understand the circumstances that would lead to this.

Was anything happening leading up to the crash?

[2018-01-06 12:29] unstablecraft commented on #1938
sponge unloading the nether as in shown log

[2018-01-06 12:36] unstablecraft commented on #1938
and then it crashed

[2018-01-06 14:32] dualspiral commented on #1938
Can you test on the latest SF to see if this is still an issue on there?

[2018-01-06 14:42] rob5251 opened #1939 "Exception in server tick loop"
**I am currently running**

- SpongeForge version: Issue occurring from version 1.12.2-2555-7.1.0-BETA-2823 and on.
- Forge version: 2555
- Java version: 1.8.0_152
- Operating System: Linux

- Plugins/Mods:
Mods (115): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, Actually Baubles, AppleSkin, Applied Energistics 2, Aroma1

[2018-01-06 14:45] tolly765 opened #1940 "/dank/null dupe glitch with sponge installed"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2815 (using this because the latest stable build crashes us with a nullpointer exception)
- Forge version:
- Java version: Java 8.151.12-r0
- Operating System: Alpine

- Plugins/Mods:
Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, @name@, BetterChunkLoader, CBG Utils, CatClearLag, EconomyLite, Enjin Minecr

[2018-01-06 16:03] unstablecraft commented on #1938
sure gonna try that

[2018-01-06 17:35] ryantheleach commented on #1939
This was also reported in Discord with this crash log: https://gist.github.com/ryantheleach/f458297748716009887afc86404b0335

[2018-01-06 23:02] Keaton1188 opened #1941 "Forestry PhaseState spam"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817
- Forge version: 14.23.1.2566
- Java version: build 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
Direwolf20 1.12.2

**Issue Description**
Getting this spam on our Dw20 1.12 server.
https://gist.github.com/Keaton1188/315dc7c171079b0337e7e09bdb9d35fa

[2018-01-07 05:23] KatsuoRyuu commented on #1815
This still exist in version 1.10.2

[2018-01-07 09:39] Willynator commented on #1919
ok I think I have isolated the files causing the issue, its either the **forge.cfg** or **forgeChunkLoading.cfg**
I was manually adding and removing config files, and the forge ones seemed to be the source of the issues. I let it just generate new files after deleting them and it seemed to work well. I haven't looked too far into why but I am too tired atm to do so anyways.

[2018-01-07 09:49] ghost opened #1942 "[1.12.2] refined storage phase tracking console spam"
<pre>
[10:46:26] [Server thread/ERROR] [Sponge]: /*************************************************************************************************************/
[10:46:26] [Server thread/ERROR] [Sponge]: /*                                  Exception occurred during a PhaseState                                   */
[10:46:26] [Server thread/ERROR] [Sponge]: /****************************************

[2018-01-07 10:23] phillipinman commented on #1919
On that note I too have edited the forge.cfg and forgeChunkLoading.cfg

in forge.cfg
alwaysSetupTerrainOffThread=true

and forgeChunkLoading

I:dormantChunkCacheSize=200

What @Willynator found may relate to our setup as well

[2018-01-07 12:01] yyeerai opened #1943 "ChangeInventoryEvent error"
**I am currently running**
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-eebceb6
    SpongeForge: 1.12.2-2555-7.1.0-BETA-2825
    Minecraft Forge: 14.23.1.2555

- Plugins/Mods:
Mods (27): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Better Questing, Better Questing Triggerer, CoFH Core, CoFH World, CodeChicken Lib, CraftTweaker JEI Support, Craf

[2018-01-07 13:31] unstablecraft commented on #1938
@dualspiral  new stacktrace spam on 1.12.2-2555-7.1.0-BETA-2824 STABLEFORGE 2555

added mod list here: https://gist.github.com/unstablecraft/5030214473bd5eae79c10da10a2f2c5c

https://gist.github.com/unstablecraft/d938aa780602aafb8639e54d5716bf1d error log
https://gist.github.com/unstablecraft/0852616d8f0c7236699df86c6460793f more compleet log

![image](https://user-images.githubusercontent.com/336

[2018-01-07 13:35] unstablecraft commented on #1938
https://gist.github.com/unstablecraft/0852616d8f0c7236699df86c6460793f more compleet log

[2018-01-07 15:08] phit commented on #1942
Use the provided issue template and add a reproduction.

[2018-01-07 15:08] #1942 closed, assigned to nobody

[2018-01-07 16:43] ghost opened #1944 "refined storage phase tracking console spam"
**I am currently running**
- SpongeForge version: build 2822
- Forge version: build 2562
- Java version: 1.8
- Operating System:linux

**Issue Description**
Console spam when insert crafting upgrade to exporter from refined storage mod.

https://pastebin.com/62R58nsy

[2018-01-07 19:19] unstablecraft opened #1945 "Extra Utilities 2 - BlockTeleporter Crash CME"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2783.jar
- Forge version: 1.12.2-14.23.1.2573.jar
- Java version:
Java Version: 1.8.0_151, Oracle Corporation
Java VM Version: OpenJDK 64-Bit Server VM (mixed mode), Oracle Corporation
- Operating System: centos7

- Plugins/Mods: https://gist.github.com/unstablecraft/3ebf59087464ef4b61e705f4413b473e

**Issue Desc

[2018-01-07 20:19] tyler489 commented on #1564
Can't say im to impressed  with spongeforge currently. 6 months with no responce to this issue then you tell me  this issue is invalid because its outdated. Kinda a  dick move there dont you think

[2018-01-07 22:24] PixelmonPRO opened #1946 "Generating Woodland Mansion on pre-generated world crashes the server."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2800.jar
- Forge version: forge-1.12.2-14.23.1.2582-universal.jar
- Java version:  1.8.0_144 / 1.8.0_151 (update)
- Operating System: Debian 8 Jessie 64 bit

- Plugins/Mods: https://gist.github.com/PixelmonPRO/5d663870593c452e61d74e2664027223

**Issue Description**
I had a server on version 1.10.2. Map was genera

[2018-01-07 23:44] phit commented on #1946
can you try loading the same areas without Sponge?

[2018-01-08 00:05] PixelmonPRO commented on #1946
@phit yes, i go in crash coordinates - no crash without Sponge
![2018-01-08_03 04 49](https://user-images.githubusercontent.com/26658563/34655794-d1b5980a-f420-11e7-8e73-e51ded9197b2.png)

[2018-01-08 01:49] phit commented on #1946
thanks

[2018-01-08 02:19] smmmadden commented on #1941
https://forums.spongepowered.org/t/exception-occurred-during-a-phasestate-on-startup/21845  same issue I reported here

[2018-01-08 02:45] smmmadden opened #1947 "Client Crashes with latest builds - 2583-2585"
Minecraft: 1.12.2
    SpongeAPI: 8.0.0-SNAPSHOT-fa3b2ab
    SpongeForge: 1.12.2-2555-8.0.0-BETA-2826
    Minecraft Forge: 14.23.1.2585
    Java 1.8.0_152 x64
    Windows 10 Pro x64
    Client 1.12.2 Build 2585
List of Mods
![image](https://user-images.githubusercontent.com/10309346/34657377-72509130-f3f3-11e7-812f-8f7341f19c27.png)

Startup Server - no issues
Startup Client - no issues
Connect to

[2018-01-08 02:51] phit commented on #1947
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1936

[2018-01-08 02:51] #1947 closed, assigned to nobody

[2018-01-08 02:54] phit commented on #1947
don't use api 8 builds, they aren't meant for production
try again with [latest stable](https://www.spongepowered.org/downloads/spongeforge/stable/1.12.2) (currently 2825)

if it's still an issue with that version reply in #1936

[2018-01-08 03:54] smmmadden commented on #1947
I tried 2825 and that's a bust also.

[2018-01-08 03:55] smmmadden commented on #1936
yes, 2583-2585 all crash the client

[2018-01-08 05:58] gabizou commented on #1936
What about build 2825?

[2018-01-08 06:17] gabizou commented on #1939
This has been fixed in the latest builds.

[2018-01-08 06:17] #1939 closed, assigned to nobody

[2018-01-08 10:06] unstablecraft commented on #1938
@dualspiral  https://gist.github.com/unstablecraft/94f9cb1b4b2706e423f01eb041cda81f this crash was last night with the same sponge version this could be usefull

[2018-01-08 15:11] phit commented on #1936
@gabizou https://github.com/SpongePowered/SpongeForge/issues/1947#issuecomment-355880279

[2018-01-08 15:30] bs2609 commented on #1919
Please see https://github.com/MinecraftForge/MinecraftForge/pull/4528.

[2018-01-08 19:10] gabizou commented on #1936
Someone get me a log with the latest builds, I need updated stack traces to match new line numbers.

[2018-01-08 19:29] johnfriedrich commented on #1946
Here is another crashreport. Just in case it's needed. But should be the same anyway.
We did not use a custom generator.
Structure gen is disabled aswell (But not for mansions)
https://pastebin.com/3nPmpf63

[2018-01-08 22:01] phillipinman commented on #1919
@bs2609 Thanks for that info, would this require a forge version bump on sponges part or is this something that can be worked around in forge 2555?

Edit: does this issue only occur when specifying the dormantChunkCache option manually?

[2018-01-08 22:08] smmmadden commented on #1936
@gabizou if you are referring to 2825 shown here, then yes that build was not working either.
![image](https://user-images.githubusercontent.com/10309346/34694739-2811f908-f496-11e7-84b7-04dc7fd77d8b.png)
That with Forge 1.12.2 - 14.23.1.2586 fails as well.  For full disclosure here, I'm assuming that clicking that the row showing the "mod" download and "forge" download go together.  That's what I

[2018-01-09 02:18] ryantheleach commented on #1936
@smmmadden Running Sponge on the client is a supported case, but is often untested outside of a single player environment. There would be a few users running Sponge on the client as well (The Almura server being a popular one), that said, running Sponge on the client as well as the server gives you additional debug on the f3 screen, and maybe a few other features I'm currently unaware of.

So, tha

[2018-01-09 02:49] smmmadden commented on #1936
the other advantage to having it on the client is that the client/player can also connect to my Spigot Servers without needing to change anything.  This too may be an untested scenario, but I opted for Sponge because the client could handle both Forge mods and Spigot plugins with ease.  To me, that's huge that users don't have to shut down the minecraft client only to pick a different startup opti

[2018-01-09 07:42] ryantheleach commented on #1936
@smmmadden FYI, Sponge isn't required on the client, unless you have client side mods or plugins that require Sponge.

In fact, you can
1. connect completely vanilla clients to forge (provided there are no content mods required)
2. connect completely vanilla clients to SpongeVanilla
3. connect completely vanilla clients to SpongeForge (provided they don't require mods)
2. forge clients with client

[2018-01-09 19:26] radfast commented on #1429
hey guys

@ryantheleach  thanks for re-opening this, I am not aware of the [issue you quoted](https://github.com/SpongePowered/SpongeForge/issues/1429#issuecomment-352966266) being fixed, so I would agree it is likely a probable cause of any "weird" or occasional dimension issues which people are still seeing.

@phit it's hard to understand your approach when moderating this issue, **ryantheleach*

[2018-01-09 19:43] radfast commented on #1429
@MJRLegends  in your logged output, I see at line 133 of your log dimensions -38 and -35 - which were there before - have **disappeared!**  And instead there are now duplicates of dimension 1 and dimension -1 which persist.  Then at line 157, DIM-39 "comes back" but now it is taking the place of DIM-33 which has disappeared.

The total number of worldServers seems correct.  So what looks to have h

[2018-01-09 19:44] MJRLegends commented on #1429
@radfast yeah i couldn't find the issue personally i spent ages on it

[2018-01-09 19:48] radfast commented on #1429
@MJRLegends I updated my post with a thought about a possible hashcode collision.  (I'm not in a workspace now to investigate any more deeply)

[2018-01-09 19:51] MJRLegends commented on #1429
@radfast no problem, ive never really done much with spongeforge so i dont know the internals that well to be able to know everything that could be messing this up from my testing i couldnt find much about the cause

[2018-01-09 20:01] phit commented on #1429
@radfast I'm sorry that you feel that way. I don't have the time or energy to go through every single issue that may still be an issue on 1.12. I went through around 100 issues during November/December, that can be tested on 1.12 and checked if it can be reproduced on 1.12. Since Galacticraft didn't have a 1.12 version, this issue was closed alongside all other issues that can't be reproduced on 1

[2018-01-09 23:17] radfast commented on #1429
It's ok, I understand the pressure you're under with a big project like this.

Although SpongeForge is "downstream" for us, obviously we want everything to work properly in SpongeForge and I am happy to help where I can - you will see PRs I have contributed in the past.  I believe the issues discussed here are still current in 1.12.  As discussed above, together with MJRLegends we will test carefu

[2018-01-10 00:06] ryantheleach commented on #1429
@radfast The reason I've been commenting on a closed ticket thread, is I believe it's going to follow us to 1.12

Until that can be proven though, it's going to remain closed as per the Sponge teams support policy regarding our support period of 1.10 / 1.11

Other parts of the Sponge implementation have undergone fundamental changes, and we really do need all hands on deck making sure that is runn

[2018-01-10 02:03] radfast commented on #1429
All good.  Lol at 'merely' issue managers, that's a lot of work.

[2018-01-10 07:33] dshadowwolf commented on #1897
@ryantheleach at any point up until Forge actually "locks" the registries you can access them - even long before the registry events themselves fire. However... BaseMetals has a set of "not IForgeRegistry" registries it uses for tracking a lot of stuff - the "Crusher Recipe Registry" itself has been, recently, changed in when it gets manipulated and another change is going to come because its need

[2018-01-10 13:19] Thutmose commented on #1810
As of my testing in 2831, this issue has been partially addressed, but not completely.

It seems that the ItemTossEvent is not being forwarded to forge mods when the tossed item is a non-EntityItem

[2018-01-10 20:03] unstablecraft opened #1948 "Bibliocraft AbstractMethodError"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2825.jar
- Forge version: 1.12.2-14.23.1.2573.jar
- Java version: 8
- Operating System: centos

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/33659444/34792770-6f0b84c8-f649-11e7-91ab-edc3fee5e671.png)

**Issue Description** sponge is spitting out this error and another error stack trace that

[2018-01-10 20:45] unstablecraft commented on #1948
https://gist.github.com/unstablecraft/1844592316af61a8197ce35bb7f07c60 ERROR stack trace

[2018-01-10 21:12] #1919 closed, assigned to nobody

[2018-01-10 21:38] johnfriedrich commented on #1919
For people watching, fixed with Forge 2587.

[2018-01-10 22:25] phit commented on #1948
the first error looks like a mod bug, not related to Sponge, the second one has the stacktrace cut off

please add your full `fml-junk-earlystartup.log`

[2018-01-11 01:54] Zidane commented on #1946
You have another mod (besides Sponge) that is changing ChunkGeneratorOverworld. Can you remove mods one by one (except Sponge) and see if Sponge never crashes?

[2018-01-11 01:55] Zidane commented on #1946
Scratch the above, this is odd...

[2018-01-11 02:14] johnfriedrich commented on #1946
Maybe worth to mention that our world is an updated world too (from 1.10.2).
However as this is our mining world, we removed the data and region folder entirely to reset the map.
Still, after people got to a mansion, it crashed.

[2018-01-11 03:09] Zidane commented on #1946
@i9hdkill

Can you get on to a chat so I can give you a SF jar to try? Discord/Teamspeak?

[2018-01-11 03:41] Zidane commented on #1946
Actually...

@i9hdkill
Can you get me world data where I can join and trigger a crash? I tried stable-7 AS-IS and get no crash with a seed that is guaranteed to make a mansion nearby.

[2018-01-11 03:52] johnfriedrich commented on #1946
Try this one:
World is named "mine"
https://www.dropbox.com/s/xrmtnrll703xp0t/mine.zip?dl=0
/tp 4400 90 273
Actually the same chunk/mansion like in the crash.
We "fixed" it by disabling structuresaving for mansions (At least we think we fixed it by doing this)
But probably it just took some crashes to generate the whole mansion:D
You may need Pixelmon Reforged 6.0.1

[2018-01-11 04:10] Zidane commented on #1946
@i9hdkill

That doesn't have any region data in it.

[2018-01-11 04:19] johnfriedrich commented on #1946
Thats right, I am pretty sure it's the old 1.10 level.dat or sponge in general. When we reset our mine, we delete the data and region folder completely. And after doing so, the server crashed at that coordinates.
(We only keep level.dat and sponge_level.dat to make sure sponge/world uuid doesn't break)

[2018-01-11 04:36] johnfriedrich commented on #1946
If relevant, this are our sponge settings:
https://www.dropbox.com/s/chs6rn7f07aibo6/sponge.zip?dl=0
Disabled ip forwarding/bungee for you and turned mansion structure saving back on. (Like it was when the servers was crashing on and on)
Forge: 2582
SF: 2800

[2018-01-11 10:08] unstablecraft commented on #1948
https://gist.githubusercontent.com/unstablecraft/69fd256082b72b9eb40704a3a0e577a4/raw/667060bcc2c5639f4c65cd34f21085281c6c52e3/phit's%25208000%2520lines%2520to%2520read

around 8000 lines  but this the log you requested

[2018-01-11 12:29] ryantheleach commented on #1948
![image](https://user-images.githubusercontent.com/141554/34825561-ecb14406-f722-11e7-98b4-161cac8957f9.png)

[code]

Enjin is invoking a method using reflection on a null target? And also calling .get() without checking if it's present.

![image](https://user-images.githubusercontent.com/141554/34825804-e06e15a6-f723-11e7-835b-d5ed4d5b2974.png)

Not Sponges Issue, Contact Enjin plugin support.

[2018-01-11 12:37] ryantheleach commented on #1948
That was maybe a little rash. Leaving open for now because of the other stack traces.

[2018-01-11 12:38] unstablecraft commented on #1948
tell me what you need and ill provide it

[2018-01-11 12:40] unstablecraft commented on #1948
and ill link enjin to this "again" so
far theire support within 24 hours

[2018-01-11 12:42] ryantheleach commented on #1948
Yeah I can't even find the phase tracker trace in your log. @phit Any ideas?

[2018-01-11 12:45] ryantheleach commented on #1948
The modded stack trace might be async lighting related?
Remapped Trace
https://gist.github.com/ryantheleach/62d5eead19d59ec682543de5298faff2/revisions

[2018-01-11 13:49] Ghostlyr opened #1949 "Broken village generation with Recurrent Complex"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2831
- Forge version: 14.23.1.2555
- Java version: 1.8.0_151
- Operating System: Debian 8.10

- Plugins/Mods:
Nucleus, WorldEdit
Baubles, Biomes O' Plenty, CXLibrary, Chisel, CodeChicken Lib, CraftStudio API, IvToolkit, Mantle, Plants, Recurrent Complex, Tinkers' Construct, Tough As Nails, Treecapitator, bspkrsCore

**Issue

[2018-01-11 13:55] unstablecraft commented on #1949
can you reproduce it without sponge ? because minecraft  can be derpy with world gen especialy with BOP
and Recurrent Complex

[2018-01-11 14:05] JoccE0 commented on #1902
With Forge 2573 and Sponge 2831 this is fixed, the quarry now works for me.

[2018-01-11 14:05] Ghostlyr commented on #1949
Everything is fine without a sponge.
Just now i noticed some RC structures are not generated at all on sponge.

![2018-01-11_20 04 15](https://user-images.githubusercontent.com/8511068/34829358-ac381cbe-f70a-11e7-93eb-5ed0a46143d1.png)

[2018-01-11 14:09] unstablecraft commented on #1949
oke ill give it a shot with all the latest versions of the mods

[2018-01-11 14:14] unstablecraft commented on #1949
both Treecapitator, mods aren't updated to 1.12 btw this mod might be disabled
same as bspkrsCore

[2018-01-11 14:21] Ghostlyr commented on #1949
https://minecraft.curseforge.com/projects/treecapitator-port

[2018-01-11 14:21] unstablecraft commented on #1949
also update forge!

[2018-01-11 14:37] unstablecraft commented on #1949
![image](https://user-images.githubusercontent.com/33659444/34830789-3f66ad82-f6e5-11e7-8c87-fe9ae88ce6cf.png)

looks like a hit or miss
used same mods  but the latest versions from curse and updated forge

[2018-01-11 14:50] Ghostlyr commented on #1949
On your screenshot it is also visible broken structure. Tents should look like this:

![default](https://user-images.githubusercontent.com/8511068/34831376-fcbd8d62-f710-11e7-897d-c6ae180b6c05.png)

[2018-01-11 14:57] #1902 closed, assigned to nobody

[2018-01-11 14:59] Zidane commented on #1949
@Deamon5550 Thoughts?

[2018-01-11 15:01] Zidane commented on #1948
@Faithcaio

+10.01 20:57:12 [Server] INFO java.util.concurrent.ExecutionException: java.lang.AbstractMethodError: Method jds/bibliocraft/tileentities/TileEntityTypeMachine.getStackInSlot(I)Lnet/minecraft/item/ItemStack; is abstract

[2018-01-11 15:40] unstablecraft commented on #1949
<Removed dead links, please don't use discord attachments, they age out --ryantheleach>

worldgen with sponge without Recurrent complex turns out normal
so its not just sponge ;) but a mod-incompatibility

[2018-01-11 19:39] Zidane commented on #1936
No longer appears to be an issue after a fix was made on 2827+

[2018-01-11 19:39] #1936 closed, assigned to nobody

[2018-01-11 19:53] Faithcaio commented on #1948
ItemStack getStackInSlot(int index)
is part of the IInventory interface in vanilla
no idea how this can happen

[2018-01-11 19:55] Faithcaio commented on #1925
If this was only the crafting grid size issue this is fixed in latest API-7

[2018-01-11 19:55] #1925 closed, assigned to nobody

[2018-01-11 20:16] Zidane commented on #1923
Closing due to lack of response.

[2018-01-11 20:16] #1923 closed, assigned to nobody

[2018-01-11 20:17] Zidane commented on #1921
@Elec332

Apologies for this. I have made a branch of our codebase for SpongeCommon and SpongeForge that I'll be testing further tonight/tomorrow and if it is stable I'll merge it which will fix this issue.

[2018-01-11 20:28] Zidane commented on #1946
Using your world level.dat and level_sponge.dat, I cannot reproduce this issue with just Sponge.

Proof:

![2018-01-11_14 25 56](https://user-images.githubusercontent.com/744482/34845715-79e04cb6-f6db-11e7-9769-ebc527a8a110.png)

[2018-01-11 20:33] Zidane commented on #1927
Investigated this a bit and is on mod side. Not a Sponge issue.

[2018-01-11 20:33] #1927 closed, assigned to nobody

[2018-01-11 21:10] johnfriedrich commented on #1946
Okay, thanks for looking into it. I will try to reproduce and narrow it down and report back later.

[2018-01-11 21:56] Keaton1188 opened #1950 "XNET Controller - Fatal Error"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2831
- Forge version: 14.23.1.2582
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
Modern Skyblock 2/All 1.12 packs really.

**Issue Description**
When going to open the XNET controller it kicks you with a fatal error message, this does not happen on Single Player.

https://gi

[2018-01-11 22:06] phit commented on #1950
Did you just duplicate your own issue? lol
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1869

[2018-01-11 22:06] #1950 closed, assigned to nobody

[2018-01-11 23:04] Raycoms opened #1951 "Sponge not persisting capabilities in onWorldTick"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2831
- Forge version: 2555
- Java version: 1.8
- Operating System: Debian

**Issue Description**

We're using the "TickEvent.WorldTickEvent event)"
to run through some chunks we need to fill our capability with data.

This works perfectly in single player, in multiplayer (intellij) and on a dedicated server without sponge.
W

[2018-01-11 23:18] Keaton1188 commented on #1950
Silly me! I forget things, too much to remember! :)

My bad @phit

[2018-01-12 02:00] #1700 closed, assigned to JBYoshi

[2018-01-12 02:03] phit commented on #1578
Should be fixed by https://github.com/SpongePowered/SpongeForge/pull/1911, please reply if this is still an issue after updating to 2832+

[2018-01-12 02:03] #1578 closed, assigned to nobody

[2018-01-12 03:27] gabizou commented on #1951
Can it be confirmed that `TickEvent.WorldTickEvent` is actually being listened to? Not that I don't want to set up the environment, but I'm knee deep in reviewing many of the event synchronization from sponge <-> forge to resolve a few longstanding issues.

[2018-01-12 06:44] gabizou commented on #1259
To give an update for this issue, I went and submitted a [1.13 PR for Forge to better improve the handling of drop captures](https://github.com/MinecraftForge/MinecraftForge/pull/4673), meanwhile, in 1.12 I'll work on doing some ~hacky~ ~*insane*~ interesting workaround.

[2018-01-12 07:42] GenDeathrow commented on #1259
well thanks for the update. I appreciate it. Id like for this to all work with out issue.

[2018-01-12 11:14] Raycoms commented on #1951
Yes it is being called accordingly, I log the event, it also reaches the
code accordingly where it should store the information, it just doesn't
persist

On Jan 12, 2018 1:27 AM, "Gabriel Harris-Rouquette" <
notifications@github.com> wrote:

[2018-01-12 14:14] BransonD opened #1952 "The PhaseState having an exception: TileEntityTickPhase"
**I am currently running**
 Was told to revert back to this SpongeForge server from the Discord as when I updated to 2824 (the latest version) my server would not start off and crash.
- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2819
- Forge version: forge-1.12.2-14.23.1.2582-universal
- Java version: Latest 1.8.0_152
- Operating System: Linux (amd64) version 4.4.0-45-generic

- Plugi

[2018-01-12 14:51] smmmadden commented on #1952
The forge-1.12.2-14.23.1.2587-universal.jar and spongeforge-1.12.2-2555-7.1.0-BETA-2831.jar should work for you.  Builds before that have game connection crashes.

[2018-01-12 15:21] #1952 closed, assigned to nobody

[2018-01-12 15:23] Zidane commented on #1893
Not fixing this incompatibility. The mod is causing Minecraft classes to be classloaded in the incorrect classloader.

[2018-01-12 15:23] #1893 closed, assigned to nobody

[2018-01-12 15:23] #1887 closed, assigned to nobody

[2018-01-12 15:26] Zidane commented on #1903
Sponge isn't interfering with the event, it just isn't expecting someone else to be performing item captures like we are doing for our PhaseTracker. I'll investigate to see what can be done.

[2018-01-12 22:00] johnfriedrich commented on #1946
Seems like the problem only occurs after a restart. (Guess due to saving data)

I updated spongeForge to 7.1.0 2833 and Forge 2587
Client-Forge 2581
Take the world I sent you, join it, let the mansion generate and stop your server. (Just in case do /save-all before)
Start your server and try to join. You will get the following error:
https://pastebin.com/h6KXDWmp

Also happens with just SpongeForg

[2018-01-13 05:30] flamechair commented on #1899
I am also experiencing this issue, I do not use IC2 or Bloodmoon. I use GriefPrevention though.

[2018-01-13 06:33] gabizou commented on #1899
@iamtpage can you gist the exception with the latest builds? There's a few changes that likely affect the issue.

[2018-01-13 06:51] flamechair commented on #1899
@gabizou I'll gist it next time I see it in the logs, I rebooted the server and wiped logs to temporarily resolve the issue.

[2018-01-13 12:38] Keaton1188 commented on #1895
@phit The issue in the first Gist I put seems to be sorted but going through fml log I see we are still getting some spam; https://gist.github.com/Keaton1188/577d7fea3c31ff150f26aae2a8ccbc7c

Believe it may be already reported, not 100%

[2018-01-13 12:39] Keaton1188 commented on #1895
Yea.. I reported it :P

I'll close this.

[2018-01-13 12:39] #1895 closed, assigned to nobody

[2018-01-13 16:56] anthonysan95 opened #1953 "Astral Sorcery tree beacon"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2834
- Forge version: 1.12.2-14.23.1.2566
- Java version: 1.8.0_151
- Operating System: Windows

- Plugins/Mods:
Astral Sorcery astralsorcery-1.12.2-1.8.4.jar

**Issue Description**
With sponge installed, the tree beacon from astral sorcery doesn't turn the tree into the fake tree when it grows.. already asked on AS part and

[2018-01-13 17:05] ryantheleach commented on #1953
https://github.com/HellFirePvP/AstralSorcery/issues/504

https://github.com/HellFirePvP/AstralSorcery/blob/master/src/main/java/hellfirepvp/astralsorcery/common/block/BlockTreeBeacon.java
https://github.com/HellFirePvP/AstralSorcery/blob/master/src/main/java/hellfirepvp/astralsorcery/common/block/BlockFakeTree.java

https://github.com/HellFirePvP/AstralSorcery/blob/master/src/main/java/hellfirepvp

[2018-01-13 17:33] polyzium opened #1954 "[1.12.2] Random error while dropping/picking up items"
**I am currently running**
*If you don't use the latest version, please tell us why.* Updates may break stuff + too lazy to update
- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2758
- Forge version: 14.23.1.2560
- Java version: 1.8.0_152
- Operating System: Linux 4.14.9-1-lqx

- Plugins/Mods:
[Here](https://gist.github.com/polyzium/dd7b23e72df8abfdc5d3201e3e4fe2db) At a time writing this i had my

[2018-01-13 18:06] phit commented on #1954
update to latest and try again, your version is quite outdated

[2018-01-13 18:25] unstablecraft opened #1955 "new error stacktrace [1.12.2]"
**I am currently running**

- SpongeForge version: SpongeForge : 1.12.2-2555-7.1.0-BETA-2825
- Forge version: 14.23.1.2573
- Java version:  8
- Operating System: cenOs

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/33659444/34908864-642dfe96-f897-11e7-9175-17bb9f9110a4.png)

**Issue Description** this stack error came along filling up console

https://gist.github.com/unstablec

[2018-01-13 18:27] phit commented on #1955
mod issue https://github.com/Ordinastie/MalisisDoors/issues/210

[2018-01-13 18:27] #1955 closed, assigned to nobody

[2018-01-13 20:27] polyzium commented on #1954
It doesn't occur on the latest spongeforge, my bad

[2018-01-13 20:27] #1954 closed, assigned to nobody

[2018-01-14 02:51] awitkowski0 opened #1956 "SpongeForge Issue (Server runs fine, but the client cannot log in without timing out)"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2833
- Forge version: 1.12.2 - 14.23.1.2555
- Java version: 1.8.0_151
- Operating System: Ubuntu Server 16.04 “Xenial Xerus” LTS (64bits)
- Plugins/Mods:
Mods (33): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Astikoor, Backpacks!, Bad Mobs, Baubles, Baubley Heart Canisters, Bibl

[2018-01-14 02:56] phit commented on #1956
there is no connection in the client log, please provide your `fml-junk-earlystartup.log` for server and client

on a sidenote, as I'm not sure if you are aware, you don't need SpongeForge on your client to join a SpongeForge server

[2018-01-14 03:18] awitkowski0 commented on #1956
Client: https://gist.github.com/alex5219/4850744e07d57996d73ffb508be62a74
Don't know why I had spongeforge installed on the client at that time.
Server: https://gist.github.com/alex5219/9c555ed505b59c39dc130e8e3911a992

[2018-01-14 03:27] phit commented on #1956
looks like crayfish does a lot when logging in possibly freezing your client too long so the connection times out
does your client window freeze with not responding during this?

[2018-01-14 03:29] awitkowski0 commented on #1956
Yes, that's the exact thing that happens.

[2018-01-14 03:33] phit commented on #1956
I would try reporting it to the mod author and possibly giving your game more ram, there's nothing Sponge does to influence this as far as I am aware.
See also https://github.com/MinecraftForge/MinecraftForge/issues/4671

[2018-01-14 03:33] #1956 closed, assigned to nobody

[2018-01-14 11:42] Raycoms commented on #1951
Did anyone start to take a look at this?

The problem is that we can't push our new feature which is important for our performance before it is fixed =/
https://github.com/Minecolonies/minecolonies/pull/1991

[2018-01-14 12:03] xhatz commented on #765
Hello! Still a thing in 1.12.2 latest beta release of Sponge(Forge), using the Chisel (from C&B) in a protected region still gives the bits of the blocks, but does not modify it.

[2018-01-15 01:27] JoeSGT opened #1957 "Advanced Rockety Item causing Duplication glitch with sponge"
**I am currently running**

- SpongeForge version:  1.12.2-2555-7.1.0-BETA-2834
- Forge version:  1.12.2-14.23.1.2581
- Java version:  8
- Operating System: Linux

- Plugins/Mods:
Just having AdvancedRocketry and
LibVulpes Version - 1.12.2-0.2.7-25
griefprevention-1.12.2-4.3.0.511
LuckyPerms - 4.0.46

**Issue Description**
Advanced rockerty have this item called `Basic Laser Gun` it is an item tha

[2018-01-15 03:16] flamechair opened #1958 "java.lang.StackOverflowError: Exception ticking world"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2833.jar
- Forge version: forge-1.12.2-14.23.1.2555-universal-server.jar
- Java version: Java 8
- Operating System: Linux (via hosting company)

- Plugins/Mods:
[code]

**Issue Description**
Server crashed suddenly. Something about an empty stack, no warning or signs of why. Seems to be semi-random

[crash-2018-0

[2018-01-15 04:34] flamechair commented on #1958
[code]

[2018-01-15 07:02] KyleFreedomSeeds opened #1959 "Sponge threw an exception."
- SpongeForge version: 2800 (Latest version that is still compatible with plugins we use)
- Forge version: 2582
- Java version: 8
- Operating System: ubuntu (Dedicated server)

- Plugins/Mods: (See gist)

- Got spammed in console. Took a SS and here i am.

https://gist.github.com/KyleCG8094/f51035fdf8a77b85e0e18629e0c7bd8e

[2018-01-15 07:12] phit commented on #1959
Reproduce it with latest and provide your `fml-junk-earlystartup.log`, then I will reopen this issue.

[2018-01-15 07:12] #1959 closed, assigned to nobody

[2018-01-15 11:54] ryantheleach opened #1960 "Sweeping Edge has no Effect."
**I am currently running**

- SpongeForge version: 1.12.2 7.1.0 2837
- Forge version: Unknown.
- Java version: Unknown.
- Operating System: Unknown

**Issue Description**
This only effects SpongeForge and not SpongeVanilla but Sweeping Edge has no effect.

It was also reported that before transferring a server from Forge to SpongeForge, that the items might have lost their enchantments? This smell

[2018-01-15 12:56] ryantheleach commented on #1828
Lame work around. build a 3x3 room of barrier blocks, at the same location in the end that the portal exists in the overworld. `/blockdata ~ ~1 ~ {Text1:"{\"text\":\"RightClick\",\"clickEvent\":{\"action\":\"run_command\",\"value\":\"tp @p 100 49 0\"}}",Text2:"{\"text\":\"ToSafety\"}"}` Put one of these bad boys in.

[2018-01-15 13:09] ryantheleach commented on #1828
BlockEndPortal::onEntityCollidedWithBlock is called once when entering from the bottom. and like, 2,3,4 times when entering from the top.

Something really funky is going on.

[2018-01-15 18:16] unstablecraft opened #1961 "Extra Utilities Quarry error spam"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2837
- Forge version: 14.23.1.2577
- Java version: 8
- Operating System: centos 7

- Plugins/Mods:

**Issue Description** yet another stack trace
 https://gist.github.com/unstablecraft/6ef755523b209d14a5629f2b3f2453d9

[2018-01-15 19:05] gabizou commented on #1957
(I'll be replying to both issues on sponge and here)
I have a feeling that I'll need to port over the same sort of workaround fixes for Sponge's entity drop captures to work with block drop captures, similar to the [in development branch handling entity drop captures automatically with sponge's tracking system](https://github.com/SpongePowered/SpongeForge/compare/stable-7...refactor/entity-drop-co

[2018-01-15 21:24] gabizou commented on #1951
@Raycoms I did take a glance and haven't found anything yet. As I'm working on a fix for #1259 and #1957, I'll be getting to this shortly thereafter.

[2018-01-15 21:25] Raycoms commented on #1951
Great to hear, thanks a lot.

[2018-01-15 23:51] gabizou commented on #1960
How do you mean it has no effect? It doesn't happen or it doesn't do damage?

[2018-01-15 23:54] ryantheleach commented on #1960
It fails to splash damage. I was able to reproduce it by having a group of zombies, and attacking one with a sweeping edge sword.

[2018-01-16 01:36] Zidane commented on #1961
Joy, a fake player with a fake world.

We'll get to it in a bit when we can.

[2018-01-16 02:28] phit commented on #1856
Gonna close this as there are multiple different issues in here that are probably covered somewhere else by now or fixed, generally the logging should be behave a lot better now thanks to https://github.com/SpongePowered/SpongeCommon/commit/e02ffc86fd5762450c4e2d1f97e4dda346acef3b

[2018-01-16 02:28] #1856 closed, assigned to nobody

[2018-01-16 02:34] #1898 closed, assigned to gabizou

[2018-01-16 06:55] phit commented on #1123
@limbo-app move to sc

[2018-01-16 07:04] phit commented on #1123
@limbo-app move to sc

[2018-01-16 07:09] phit commented on #1943
was fixed in griefprevention

[2018-01-16 07:09] #1943 closed, assigned to nobody

[2018-01-16 07:11] gabizou commented on #1961
Re-test with build 2839 once it's published.

[2018-01-16 07:16] kashike commented on #1123
@limbo-app move to sc

[2018-01-16 07:18] gabizou commented on #1123
@limbo-app move to sf

[2018-01-16 07:19] gabizou commented on #1123
@limbo-app move to sc

[2018-01-16 07:19] limbo-app commented on #1123
Hey @alicheek! I've moved your issue to [SpongePowered/SpongeCommon#1717](https://github.com/SpongePowered/SpongeCommon/issues/1717).

[2018-01-16 07:19] #1123 closed, assigned to Aaron1011

[2018-01-16 07:23] limbo-app opened #1962 "[1.12.2]TileEntityTickPhase causes mass erroring with Hoppers"
This issue was originally submitted by @Rasgnarok in [SpongePowered/SpongeCommon#1679](https://github.com/SpongePowered/SpongeCommon/issues/1679).
___
**I am currently running**
Not using latest version of SF because of mapping issues mentioned in common tickets.
- SpongeForge version: 2800, Forge 2555/2529
- SpongeVanilla version: NA
- Java version: 8
- Operating System: CentOS

- Plugins/Mods: h

[2018-01-16 10:09] unstablecraft commented on #1961
will try in a few

[2018-01-16 11:43] unstablecraft commented on #1961
@gabizou  sorry man this still exist on 2840 https://gist.github.com/unstablecraft/9ed1a55b8196daa95b0c46a8c3a25013

[2018-01-17 04:10] phit commented on #1961
so I figured out the issue set `deny-chunk-requests=false`, `load-on-startup=true`, `keep-spawn-loaded=true` and `config-enabled=true` in `config\sponge\worlds\extrautils2\extrautils2_quarry_dim\dimension.conf` otherwise the mod can't load its dimension to mine, hence the NPE

Tested with
extrautils2-1.12-1.7.2.jar
spongeforge-1.12.2-2555-7.1.0-BETA-2840.jar

[2018-01-17 04:20] phit commented on #1944
Refined Storage bug, not caused by Sponge https://github.com/raoulvdberge/refinedstorage/issues/1567

[2018-01-17 04:20] #1944 closed, assigned to nobody

[2018-01-17 04:24] phit commented on #1941
Forestry bug that happens without Sponge https://github.com/ForestryMC/Binnie/issues/370

[2018-01-17 04:25] #1941 closed, assigned to nobody

[2018-01-17 04:31] phit commented on #1921
Loaded up a singleplayer world, saved and reopened it, no issues. Also checked and it made a extradata folder in the saves. Looks fixed to me!

ElecCore-1.12.2-1.8.434.jar
spongeforge-1.12.2-2555-7.1.0-BETA-2840.jar

[2018-01-17 04:31] #1921 closed, assigned to Zidane

[2018-01-17 05:45] phit commented on #1958
https://github.com/SpongePowered/SpongeForge/issues/1698

[2018-01-17 06:05] ghost commented on #1944
It not same bug, server running, not closed or crashed. Just filling console/log with tons of phase tracking text. Reopen please.

[2018-01-17 07:50] phit commented on #1944
it is the same bug, sponge just stops the server from crashing

from the linked issue
[code]

from your log
[code]

exactly the same mod stacktrace

[2018-01-17 08:16] ghost commented on #1944
Ah ok, thanks for reply.

[2018-01-17 08:53] unstablecraft commented on #1961
But I don't want that dimension to load thought about that?

[2018-01-17 12:48] ryantheleach commented on #1961
It's not expected to be a long term solution, just a hint for testing and narrowing it down.

That said, it might just work with `deny-chunk-requests=false` if you want to test that.

[2018-01-17 13:59] unstablecraft commented on #1961
with deny-chunk-requests=false = spam
with load-on-startup=true = spam
with config-enabled=true in config\sponge\worlds\extrautils2\extrautils2_quarry_dim\dimension.conf = spam

with all 4 as requested/orderd by phit spam stops

but this is a work around and not really a fix since i have to keep that dim loaded on start up and its spawn

i hope you can find it :D

[2018-01-17 14:37] ryantheleach commented on #1961
For what it's worth, config-enabled will have to be on with every setting that applies per dimension or per world or it won't have any affect at all, that's what config-enabled does, is make that config override the global config.

[2018-01-17 15:09] unstablecraft commented on #1961
idk i never messed with the spongeforge configs

[2018-01-17 16:54] unstablecraft commented on #1938
@phit  what info do you need ??? since you added the tag

[2018-01-17 16:58] phit commented on #1938
any way to reproduce this, right now this basically could be any mod or plugin you have installed, forge or simply a bad harddrive sector that broke your level.dat

[2018-01-17 17:04] unstablecraft commented on #1938
not really since sponge is atm on 2840 so are my servers

[2018-01-17 17:46] unstablecraft commented on #1938
with that said you can close this one ill re open it when it happens again @phit

[2018-01-17 17:48] phit commented on #1938
will do, sorry that I don't really have a solution

[2018-01-17 17:48] #1938 closed, assigned to nobody

[2018-01-17 17:51] unstablecraft commented on #1938
dw about it

[2018-01-17 17:53] unstablecraft commented on #1961
thiss isue just occured on revelations 1.3.0 since i updated to 2840 exact same stacktrace only diff forge version

[2018-01-17 18:00] phit commented on #1961
yes, its always gonna happen unless you tweak your config.. the mod assumes the dimension is gonna be always loaded, and the second one quarry is build the dimension needs to be kept loaded at all times

[2018-01-17 18:01] unstablecraft commented on #1961
hmm ill live with the spam then until you guys fixed it

[2018-01-17 18:02] phit commented on #1961
there is nothing to fix.. load the dimension or this spam is gonna keep happening
the only "fix" would be setting those settings I suggested by default for that dimension, so you dont have to manually edit them but that's about it

[2018-01-17 19:39] unstablecraft opened #1963 "Error when inventory is missing a displayname"
**I am currently running**

- SpongeForge version: 1.12.2 2840
- Forge version: forge-1.12.2-14.23.1.2587-universal
- Java version: 8
- Operating System: CentOs

- Plugins/Mods:

**Issue Description** found a new fatal error with sponge involved
https://gist.github.com/unstablecraft/8ba12b04ee508077f1acbc69cb54efcf

sadly this error is not compleet (missing 30 ish lines) will add the compleet one

[2018-01-17 21:48] phit commented on #1963
your log not missing anything important, here's another log from myself https://gist.github.com/phit/994f8d3917de8b17596bf72920a34fd7
already had told Faith about this, it's kinda a mod issue, but I suppose he could add a fallback when the name is missing

[2018-01-18 00:39] unstablecraft commented on #1963
I figured after some Google time and only catched this by accident otherwise I wouldn't seen it but I though I should report it anyway.
 any clue wich item it is?
if I know that can file another report @the mod dev

[2018-01-18 00:44] phit commented on #1963
one of these https://minecraft.curseforge.com/members/elucent/projects
my bet is on gadgetry, that's where I got my log from at least

[2018-01-18 01:34] ryantheleach commented on #1948
@Zidane @Faithcaio This is a long shot, but is it a remapping error of some kind? I can't fine 'getStackInSlot' defined in their mod on that class, but shouldn't it have an MCP name in the stack trace?

[2018-01-18 06:31] Faithcaio commented on #1963
The name is not really missing on this one.
[code]

The mod is trying to access `net.minecraft.client.resources.I18n`
which is ClientSide only so it will crash on the server.

[2018-01-18 14:20] tyrobbb94 opened #1964 "Packmode Recipe Change Issue"
I am currently running

- SpongeForge version: spongeforge-1.12.2-2555-8.0.0-BETA-2841
- Forge version: forge-1.12.2-14.23.1.2587
- Java version: 9
- Operating System: Windows 10

- Plugins/Mods: https://rawgit.com/AllTheMods/ATM-3/master/modlist.html

**Issue Description**

Using a pack with alternate pack modes (All The Mods 3 in this case), regardless of what the packmode is set to, the server

[2018-01-18 14:29] ryantheleach commented on #1964
The entire Minecraft ecosystem including Forge and Sponge is currently unequipped to run Java 9 in production.

Use Java 8. We will update at our own pace, and using the new Java 9 Module system before everyone is ready is going to end in pain.

Additionally, You are running `spongeforge-1.12.2-2555-8.0.0-BETA-2841`

API 8.0.0-SNAPSHOT versions are listed under the experimental tag on the download

[2018-01-18 14:29] #1964 closed, assigned to nobody

[2018-01-18 14:34] tyrobbb94 commented on #1964
I apologize, I mistyped with that, and meant to put Java Version 8. Thank you i will look into this.

[2018-01-18 14:35] ryantheleach commented on #1964
Remake your issue if it still exists on a SpongeForge API 7.x.x latest (stable) builds.

[2018-01-18 14:39] tyrobbb94 commented on #1964
Will do.

[2018-01-18 15:30] tyrobbb94 opened #1965 "Packmode Recipe Change Issue Revised"
I am currently running

SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2840

Forge version: forge-1.12.2-14.23.1.2587

Java version: 8

Operating System: Windows 10

Plugins/Mods: https://rawgit.com/AllTheMods/ATM-3/master/modlist.html

Issue Description

Using a pack with alternate pack modes (All The Mods 3 in this case), regardless of what the packmode is set to, the server will not lo

[2018-01-18 15:33] ryantheleach commented on #1965
@tyrobbb94 Is there anything in the log files that would indicate something going wrong with the loading of the recipes from the scripts?

[2018-01-18 15:39] tyrobbb94 commented on #1965
Not that i've seen but it is possible i have missed something, i will double check myself and link the latest log here.

[2018-01-18 15:49] tyrobbb94 commented on #1965
Unfortunately the paste was too large for pastebin and i'm not familiar with other sites, hopefully a dropbox link is acceptable: https://www.dropbox.com/s/lzpwbycy4yt9qev/fml-junk-earlystartup.log?dl=0

[2018-01-18 16:16] tyrobbb94 commented on #1965
Im going to close this issue because after looking through and trying something, i seem to have found the problem. It appears that since the server files i was using were a clone from our public servers, the items that were banned still existed, Apparently one of the items involving the minecolonies mod was causing the scripts to ignore a portion of the recipes suppose to be registered. Im still n

[2018-01-18 16:16] #1965 closed, assigned to nobody

[2018-01-18 22:39] FilipK-CZ opened #1966 ""Freeze""
**I am currently running**

- SpongeForge version: 8.0.0-BETA-2841
- Forge version: 1.12.2-2555
- Java version: OpenJDK Runtime Environment (build 1.8.0_151-b12)
                        OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: CentOS 7

- Plugins/Mods:
[code]
**Issue Description**
Server after some time (randomly, only with online players) "freeze" - kick players

[2018-01-18 23:33] phit commented on #1966
what is your max-tick-time in the server.properties set to?

[2018-01-18 23:55] ElvenChaos opened #1967 "[Mod Compat] Multi-Hotbar"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2840
- Forge version: 2598
- Java version: 1.8.0_151
- Operating System: Win10 Home

- Plugins/Mods:
LuckPerms
Nucleus
[Multi-Hotbar](https://minecraft.curseforge.com/projects/multi-hotbar/files/2520321) and it's [Core](https://minecraft.curseforge.com/projects/multi-hotbar-core)

**Issue Description**
When Multi-Hotbar (and

[2018-01-19 00:07] phit commented on #1967
https://github.com/rolandoislas/multi-hotbar-core/blob/master/src/main/java/com/rolandoislas/multihotbar/asm/transformer/Transformer.java

[2018-01-19 05:28] ziceptor opened #1968 "NetworkDispatcher exception"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2840.jar
- Forge version: forge-1.12.2-14.23.1.2555-universal.jar
- Java version: java version "1.8.0_151"
- Operating System: Win 7 x64

- Plugins/Mods:
ActionBroadcaster.jar
ActiveTime-s7.1-v1.3.2.jar
AntiXray-1.0.0.jar
CatClearLag-0.8.2.jar
ChangeSkin.jar
chopchop.jar
console-lock-1.1.1.jar
craftbook-sponge-S7

[2018-01-19 05:32] #1838 closed, assigned to nobody

[2018-01-19 05:33] ryantheleach commented on #1838
Closed in favor of SpongePowered/SpongeCommon#1718 (Reproducible on SV)

[2018-01-19 05:41] phit commented on #1968
upload the logs to gist.github.com, nobody wants to download some file to get your logs
apart from this, with the amount of plugins you have this is gonna be impossible to track down for a third party, remove all your plugins and add them back one by one, when it stops working you found the source

[2018-01-19 05:55] ryantheleach commented on #1968
[code]

If you want a short cut, these would be my personal first suspects just based on what I think the API can do and my guess at whether they hook into internals based on the plugin name.

[2018-01-19 06:21] XakepSDK commented on #1968
I found this in the logs. Nothing more.
[code]

[2018-01-19 09:28] unstablecraft commented on #1961
ive fiexed this now by disableing the dims in the extra utils config  this may be closed but a warning should be handy so people know what to do while having this error

[2018-01-19 10:19] FilipK-CZ commented on #1966
I have set 60000

[2018-01-19 18:01] Faithcaio commented on #1967
Should be fixed with latest API 7 build now

[2018-01-19 18:01] #1967 closed, assigned to nobody

[2018-01-19 19:45] ziceptor commented on #1968
@phit I forgot to post the link
[fml-junk-earlystartup.log ](https://gist.github.com/ziceptor/7e8e3010f0850f13a4849e0255ed9c19)
\+
[fml-server-1.log ](https://gist.github.com/ziceptor/ea8f59f6852c70ac40d130b726e7628c)
[fml-server-2.log ](https://gist.github.com/ziceptor/89d077c315abed49c257569c4e93594c)
[fml-server-3.log](https://gist.github.com/ziceptor/7de60cfa3e19104bdfaebd4b3343c1fd)
[fml-serv

[2018-01-19 20:16] phit commented on #1968
remove antixray and try again?

[2018-01-19 20:22] ziceptor commented on #1968
Still not removed. Recorded the video. Now removes the plugin and try again.

[2018-01-19 20:50] ziceptor commented on #1968
This happens without the plugin antixray

[2018-01-19 21:43] ziceptor commented on #1968
Difficult to reproduce. I've done a lot of successive connections and disconnections. Here's what happened: [video](https://www.youtube.com/watch?v=BdDlwnxduY0)

[2018-01-19 21:51] XakepSDK commented on #1968
@ziceptor отправь логи из видео.
/en/
send logs from video

[2018-01-19 21:54] phit commented on #1968
once again

more logs or videos aren't gonna change that

[2018-01-19 22:02] ziceptor commented on #1968
@phit I'll do it later
@XakepSDK
https://gist.github.com/ziceptor/3eefa1c3166ef2c87ecc940dda4c803f
https://gist.github.com/ziceptor/4bc1aa6a313e446f3c1b59b3ade69179
https://gist.github.com/ziceptor/a6977625485e741a9773f7162400527c
https://gist.github.com/ziceptor/65c55560f8b989b20521dcf0d64792b9
https://gist.github.com/ziceptor/a1c17636b1d13859081d3cd75ea60934

[2018-01-19 22:07] XakepSDK commented on #1968
[code]

[2018-01-19 22:11] XakepSDK commented on #1968
@ziceptor можешь моды и плагины раздельно написать?
/en/
can you divide mods and plugins in description?

[2018-01-19 22:12] Zidane commented on #1962
As per the comment on the common issue, not a Sponge problem.

[2018-01-19 22:12] #1962 closed, assigned to nobody

[2018-01-19 22:14] ziceptor commented on #1968
mod: Dynmap-2.6-beta-1-forge-1.12.jar
other: plugins

[2018-01-19 22:18] Zidane commented on #1948
Closing this as neither are Sponge issues.

[2018-01-19 22:18] #1948 closed, assigned to Faithcaio

[2018-01-19 22:20] XakepSDK commented on #1968
После чего эта проблема появилась?

T: Then this problem appeared?

[2018-01-19 22:24] ziceptor commented on #1968
Я думаю, что после обновления губки. Я сейчас создал сервер без модов.. только spongeforge. И смог воспроизвести проблему. Только немного другое поведение. Спам в консоли есть, но во время спама уже не подключиться к серверу.

T: I think that after updating the sponge. I now created a server without mods .. only spongeforge. I was able to reproduce the problem. Just a little bit different behavior

[2018-01-19 22:25] XakepSDK commented on #1968
Скинь лог. Мне кажется, где-то в forge race condition ну или губка добавила
его.

T: Throw off the log. It seems to me, somewhere in the forge race condition well, or the sponge added him.

[2018-01-19 22:29] ziceptor commented on #1968
Снова все?

T: Everything again?

[2018-01-19 22:30] XakepSDK commented on #1968
Ну в которых ошибки есть (exception)

T: Well, in which there are errors

[2018-01-19 22:34] ziceptor commented on #1968
only spongeforge (without plugins and mods)
the problem remained

https://gist.github.com/ziceptor/40825cd7bf99f3457786eddb72f245ef
https://gist.github.com/ziceptor/1d48d6f67609dc6a3e435dc1723144b7
https://gist.github.com/ziceptor/88e8988036f81b205ef269f6b04d074e

[2018-01-19 22:39] ziceptor commented on #1968
video https://youtu.be/7HZVv4CoAbA

[2018-01-19 22:47] Zidane commented on #1968
Closing as this isn't a Sponge issue and is either a Forge or Minecraft issue.

I would start with Forge.

[2018-01-19 22:47] #1968 closed, assigned to nobody

[2018-01-19 22:48] XakepSDK commented on #1968
Создай тут issue

T: Create a new issue here
https://github.com/MinecraftForge/MinecraftForge

[2018-01-20 00:48] #1963 closed, assigned to nobody

[2018-01-20 01:00] phit commented on #1966
try 7.1.0-BETA-2842
don't use the 8.0.0 builds for a production server

[2018-01-20 17:15] FilipK-CZ commented on #1966
Ok I'll try
This is alpha testing server

[2018-01-21 14:43] DrN0xx opened #1969 "Structure active/inactive sub-directory behavior on import/export/gen and edit"
Hello,

With regards to structure files storage and recall.  One can store rcst files in structures/active/<subdir> and when you edit them or rec:complex properly pulls files anything in active or below, which is great!

However, when you go to edit or import/re-export, the files are put back into the active directory and are not over-written back over the original file that was read in... could t

[2018-01-21 14:44] #1969 closed, assigned to nobody

[2018-01-22 04:59] bloodmc commented on #1957
Unable to replicate this issue with latest SF and GP. Retest with a CLEAN server and ONLY GP/SF/LP/Advanced Rocketry. Make sure everything is updated to latest.

[2018-01-22 06:09] JoeSGT commented on #1957
It seem that it's fixed it's possibly got fixed by the new GP update because with SF i had
spongeforge-1.12.2-2555-8.0.0-BETA-2841 and i was able to do it
but i updated GP/SF/LP and it work thanks @bloodmc

[2018-01-22 06:44] ryantheleach commented on #1957
I wonder what fixed it...

@JoeSGT For the record you shouldn't be using 8.0.0 builds of SpongeForge unless you are developing / assisting in the development of Sponge API for 1.13 Things might be working now, but they will very quickly diverge once we have 1.13 snapshot support or a 1.13 MCP project to play with.

[2018-01-22 17:51] mblob commented on #1840
Same here

- spongeforge-1.12.2-2555-7.1.0-BETA-2842

- forge-1.12.2-14.23.1.2555
- OpenComputers-MC1.12.1-1.7.1.43
- gentoo
- oracle jdk "1.8.0_152"

https://gist.github.com/mblob/b310074f0dad5e3997b865d367d01257

[2018-01-22 20:49] ghost opened #1970 "Crash after generating over 50k chunks succesfully and trying to restart"
SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2790.jar
Java version: OpenJDK 64-Bit Server VM, version 1.8.0_151
Operating System:Linux
All plugins and mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, IvToolkit, OpenComputers (Core), SpongeAPI, SpongeForge, CoFH ASM, ccl-entityhook, Nucleus Mixins, AdamantineShield, Admi

[2018-01-22 20:56] phit commented on #1970
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1815

[2018-01-22 20:56] #1970 closed, assigned to nobody

[2018-01-22 21:02] ghost commented on #1970
It still exists on 1.10.2 even though the report it is a duplicate off is a few months old

[2018-01-23 03:27] ryantheleach commented on #1957
Reopened by request of blood, he believes there is a deeper issue still existing in Sponge.

[2018-01-23 07:25] gabizou commented on #1957
Yeah. I was going to say that this issue is more about the capture syncing that has to take place

[2018-01-24 13:27] johnfriedrich commented on #1946
Were you able to reproduce?
This is still a thing:
https://pastebin.com/DBMDSHv3
SF 2844 + Forge 2590

[2018-01-26 14:43] Keaton1188 commented on #1966
Hey, we have had this issue before.. for us its usually due to people doing massive crafting jobs with RS, this causes the server to freeze up and have to be killed. Possibly the issue you are having.

[2018-01-26 18:01] Whazaaaaa opened #1972 "Phase Tracker Incompatibility with iChisel from Chisel"
**I am currently running**

- SpongeForge version: SpongeForge-1.12.2-2555-7.1.0-BETA-2842 (havent had the time to update yet but I dont see newer versions fixing this problem)
- Forge version: FTBserver-1.12.2-14.23.1.2587-universal
- Java version: 8
- Operating System: Ubuntu

- Plugins/Mods: AdamantineShield, BetterChunkLoader, CatClearLag, Discord Bridge, Enjin Minecraft Plugin, GoonUtils, Gri

[2018-01-27 16:46] Raycoms commented on #1951
Hey, any news yet? We're eager to move on with our changes but we rely on it working correctly on sponge servers as well =/

[2018-01-27 16:48] Raycoms opened #1973 "World Transfer NPE"
**I am currently running**

- SpongeForge version: 2844
- Forge version: 2604
- Java version: 1.8
- Operating System: Debian.

We seem to get the following crash when executing inter dimensional teleport with sponge installed.

Our code: https://github.com/Minecolonies/minecolonies/blob/fix/dim-tp/src/main/java/com/minecolonies/coremod/util/TeleportToColony.java

[2018-01-27 17:11] ryantheleach commented on #1973
Remapped StackTrace: https://gist.github.com/ryantheleach/6ea03da4e403bf6a656835bb603b5f5c/revisions

[2018-01-27 17:43] dualspiral commented on #1973
I haven't been able to get into exactly why this is and have to disappear for a bit, but I reproduced it - [it looks like it's this line to me](https://github.com/SpongePowered/SpongeCommon/blob/7678e517fb3c79535a3d0727cc061e461f09c674/src/main/java/org/spongepowered/common/mixin/core/world/MixinTeleporter.java#L241), I think `entityIn.getLastPortalVec()` is returning `null` - though that's from a

[2018-01-27 17:53] Raycoms commented on #1973
We tried it only with transfer to world but it causes the same issue.

[2018-01-27 18:29] henkelmax opened #1974 "LivingDropsEvent fired twice"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2851
- Forge version: forge-1.12.2-14.23.1.2555
- Java version: jre1.8.0_144
- Operating System: Windows 10

- Plugins/Mods: GraveStone Mod 1.10.0 (Works fine without SpongeForge)

**Issue Description**
The LivingDropsEvent is fired twice when a player dies. The first time with all drops and exactly after that aga

[2018-01-27 18:32] ryantheleach commented on #1974
Hey Henkelmax, was this working before 2851? Faith and I just finished a fix for plugins wanting to implement soulbound that may have touched this code. If you are available on discord atm, we would love to chat. https://discord.gg/PtaGRAs

[2018-01-27 19:02] henkelmax commented on #1974
I can confirm it for the following versions:
spongeforge-1.12.2-2555-7.0.0-BETA-2764
spongeforge-1.12.2-2555-7.1.0-BETA-2848

[2018-01-27 19:09] ryantheleach commented on #1974
Thanks.

[2018-01-27 19:22] mindcloud69 commented on #1974
I am seeing this issue as well FTB Revelations. 1.3.0
https://gist.github.com/mindcloud69/b5d0503f853d50b9776fafc66ab79d09

[2018-01-27 19:24] mindcloud69 commented on #1974
No it was still having the error I was using 2834 until earlier today and I was seeing the issue on that version as well.

[2018-01-27 19:35] marchermans commented on #1951
@gabizou I am running into the same Issue, with both Minecolonies and Armory. It would be nice if we at least could get some Progress Information.

[2018-01-27 19:39] ryantheleach commented on #1974
We are investigating it now. It's apparent that the event was firing for LivingEntityBase as well as Players.

[2018-01-27 19:57] ryantheleach commented on #1974
Duplicate of : https://github.com/SpongePowered/SpongeForge/issues/1859 Please continue discussion there if you have additional information, but we are partially through a fix.

[2018-01-27 19:57] #1974 closed, assigned to nobody

[2018-01-27 23:55] ryantheleach commented on #1859
Moved this from gab to Faith as he has changes in progress.

[2018-01-28 00:25] FilipK-CZ commented on #1966
I switched to Stable version and still freezing. It looks like a problem with chat. I was in game and server was Ok and after send message server instantly freeze. Another freeze was that 2 players were on a server and I wrote to console and again instantly freeze.  Every freeze is random (normal chat works)

[2018-01-28 00:59] phit commented on #1859
Should be fixed in 7.1.0-BETA-2852

[2018-01-28 00:59] #1859 closed, assigned to Faithcaio

[2018-01-28 03:50] gabizou commented on #1398
I’ve been working on this to resolve the hatchery issue.

[2018-01-28 17:54] Mohron opened #1975 "TinkerIO Phase Tracker Exception"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2851
- Forge version: forge-1.12.2-14.23.1.2604-universal
- Java version: 1.8
- Operating System: Ubuntu

- Plugins/Mods:
Plugins (20): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AutoBroadcaster, BadgeUp Sponge Client, BetterChunkLoader, CarrotShop, DimReseter, Discord Bridge, EconomyLite, GotR Spong

[2018-01-28 18:34] gabizou commented on #1951
I've not been able to find a solution, but I've got a hunch it may have to do with our dimension handling. Are capabilities persisting *at all* on the main overworld, but not on dimensions? Ot is it for all worlds?

[2018-01-28 18:46] Raycoms commented on #1951
@gabizou as far as I noticed it, the capability do get stored when using another even besides the "TickEvent.WorldTickEvent event" like the chunks on player enter events as it seems.
I'm not sure if they get persisted, over various sessions but it seems like they get stored at least.

[2018-01-28 19:20] JoeSGT opened #1976 "JEI Plus button broken with SpongeForge"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2854
- Forge version: 1.12.2-14.23.1.2604
- Java version: 8
- Operating System: Windows

- Plugins/Mods:
 jei_1.12.2-4.8.5.147
spongeforge-1.12.2-2555-7.1.0-BETA-2854

**Issue Description**
I made a clean server with those 2 mods
and when you click on an item example stone brick in jei  but make sure you have the item to cra

[2018-01-28 20:01] ryantheleach commented on #1975
Remapped gist: https://gist.github.com/ryantheleach/65280e9e1aa5c69e65be11b5fc54352a

[2018-01-28 20:02] Mohron commented on #1975
How'd you get that to gist? It kept failing on me it was so large...

[2018-01-28 20:19] Zidane commented on #1975
@ryantheleach

Why are you not putting in the actual error?

[code]

Not a Sponge problem. We're only in this stacktrace because we wrap around ticks...........

[2018-01-28 20:19] #1975 closed, assigned to nobody

[2018-01-28 23:43] Whazaaaaa commented on #1861
Okay so I asked the author of the mod to look at it and he said he fixed it. Feel free to close this or look into it for further problem solving.

[2018-01-28 23:45] #1861 closed, assigned to nobody

[2018-01-29 00:32] gabizou commented on #1951
So further investigation:

It shows that the capabilities are definitely added,
![capabilities](https://i.imgur.com/NsmWwZh.png)

But! If I quit the world (in single player mode) and re-load said world, I see that the NBT doesn't have the owned info as shown here:
![nbt](https://i.imgur.com/B9fd8qP.png)

Which, afterwards, since the ownedChunks and closeChunks aren't being added to from NBT, the t

[2018-01-29 04:56] ryantheleach commented on #1976
Does this happen without jei on the server and only jei on the client?

[2018-01-29 06:28] Yeregorix opened #1977 "Mixin is sometimes detecting my plugin, sometimes not."
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2844
- Forge version: 1.12.2-14.23.1.2555

- Plugins/Mods: AntiXray

**Issue Description**
I've recently developed a public Sponge plugin using Mixin which works fine for me and for most users but for some users using SpongeForge my plugin is not working at all because my mixin config does not seems to be applied or even det

[2018-01-29 06:44] phit commented on #1977
will need logs of it not loading, otherwise we can't really do anything

[2018-01-29 08:24] Yeregorix commented on #1977
I can't reproduce the issue but here is a log provided by an user:
https://gist.github.com/BrainStone/be87875d06da5ca1d48f9fd074d09553

[2018-01-29 08:32] JoeSGT commented on #1976
I tried singleplayer and i can do it, Tried without SpongeForge on server and i can do it
but if you were too take jei out of Serverside the feature does not work it's disabled here a screenshot of what i am talkin about
https://gyazo.com/1f1252414f55bd2a8aaa733bbd8c2108

[2018-01-29 08:34] phit commented on #1977
Plugins using Mixins have to go into the `mods` folder, the user put them in `mods/plugins` which doesn't load the Mixins.

[2018-01-29 08:34] #1977 closed, assigned to nobody

[2018-01-29 09:59] Faithcaio commented on #1976
Please try build 2845.
JEI might change the inventory without us noticing it in the new CraftingEvents.

[2018-01-29 10:22] Faithcaio commented on #1976
This is where stuff is set in the grid: https://github.com/mezz/JustEnoughItems/blob/4937b44c5d747600ae076b7c5f895bba2553ddf9/src/main/java/mezz/jei/transfer/BasicRecipeTransferHandlerServer.java#L73-L85

[2018-01-29 12:42] JoeSGT commented on #1976
Tried using build 2845 on a test server and it work!
but sadly i cannot use that build on my other server due to other plugins and mods work on the latest

[2018-01-29 13:57] Pythonic-Rainbow opened #1978 "Ticking entity crash when being thrown between 2 SpongeForge servers in Waterfall"
**I am currently running**

- SpongeForge version: 1.12.2 Build 2859
- Forge version: 1.12.2 Build 2605
- Java version: 8u162 x64
- Operating System: Win10 FCU

- Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, LuckPerms, Nucleus

- Mods: SpongeAPI, SpongeForge, Akashic Tome, AppleSkin, Applied Energistics 2, Astral Sorcery, AutoRegLib, BC Builders, BC Energy, BC

[2018-01-29 14:01] phit commented on #1978
I moved your logs to a gist, so people don't have to download a zip. Also remapped the first example.
But yeah, you gonna have to figure out what mod is needed to reproduce this, I run multiple 1.12 servers behind Hexacord myself and haven't had such issues.

The log seems to suggest the player may have a parrot on them?

[2018-01-29 15:27] dualspiral commented on #1978
Try this without SF and IP forwarding and see what happens in a testing scenario, I suspect you may find a similar result.

I'm not convinced that this is a SF problem at all. What happens is that the forge handshake to check compatibility with the recieving server occurs before the server switch occurs, so the client gets reverted to frozen and then has the new mod mappings sent. My gut feeling i

[2018-01-29 17:02] Zidane commented on #1978
Not an issue with Sponge code.

[2018-01-29 17:02] #1978 closed, assigned to nobody

[2018-01-30 03:02] ryantheleach commented on #1978
@Pythonic-Rainbow Did/Does this happen before 2951 or so?

@Faithcaio Remember that shoulder entity stuff we touched? maybe that caused a waterfall bug to surface?

[2018-01-30 04:42] mezz commented on #1976
When JEI opens its gui, it doesn't close the container of the old gui.
When the transfer button is pressed, it goes back to the old gui and sends a packet to the server which sets the items in the container. This works without any race conditions on a vanilla client because the old container is always open. There may be an issue with SpongeForge if it works differently when the JEI gui
 opens.

Be

[2018-01-30 09:09] Pythonic-Rainbow commented on #1978
@ryantheleach yes  this did happenn b4 2851
@dualspiral Yes ,from Waterfall's log,the client connected to game server first,after it loads the map and then disconnect from lobby.However I believe my network is not slow at all.

So do I have to create an issue in Forge and Waterfall?

[2018-01-30 09:44] Pythonic-Rainbow commented on #1978
Here is an example for the Waterfall. SpongePI was just added, so when i created the issue SpongePI wasnt there.

``[17:39:14 INFO]: Listening on /0.0.0.0:25565
[17:41:53 INFO]: [/192.168.1.1:50954] <-> InitialHandler has connected
[17:41:54 INFO] [SpongePls]: Using the Forge Server Connector for Pythonic_Rainbow
[17:41:54 INFO] [SpongePls]:  for the target "lobby".
[17:41:54 INFO]: [Pythonic_Rain

[2018-01-30 09:45] phit commented on #1978
remove SpongePls, its not needed for Waterfall

[2018-01-30 09:46] dualspiral commented on #1978
If you have a load of mods, the mappings might take a non trivial amount of time to transfer.

It's something that needs to change in the Forge client because the reset packet and transfer of new mod mappings take effect before the handshake is complete. To be honest, I don't see Lex going for it, but you never know.

Either way, not a Sponge issue.

[2018-01-30 14:17] D3nnis3n commented on #1897
The issue still persists without disabling the integration. The Modmaker thinks "wontfix". Anything you can do about this?

[2018-01-30 17:55] Faithcaio commented on #1976
Found it. I ignored changes in the crafting grid when coming from an unknown packet.
Because it caused an infinite loop with Tinkers Construct Crafting Stations when canceling a recipe.

[2018-01-30 18:08] Faithcaio commented on #1976
Somewhat fixed in latest.
We just dont fire the Preview events for now when a mod sets the crafting grid slots using non vanilla packets.

A cancel on CraftItemEvent.Craft still works.

[2018-01-30 18:08] #1976 closed, assigned to nobody

[2018-01-30 18:42] ryantheleach commented on #1976
@Faithcaio does that mean you can no longer adjust the crafting recipe for modded packets, or does it mean it just doesn't show the changes effectively? Also the comment on the line above your change probably needs changing

[2018-01-31 03:17] phit commented on #1828
https://github.com/SpongePowered/SpongeCommon/commit/edc5e0c7e7bda58bf695786de8a6a2cfefb6a9bd

[2018-01-31 03:17] #1828 closed, assigned to nobody

[2018-01-31 06:53] Faithcaio commented on #1976
You could not do that before either. We just ignored Crafting Grid changes.
It might still be possible to do it by lying to the client about the crafting result.

[2018-01-31 07:02] limbo-app opened #1979 "IC2 EntityDynamite explosion NPE"
This issue was originally submitted by @XakepSDK in [SpongePowered/SpongeCommon#1404](https://github.com/SpongePowered/SpongeCommon/issues/1404).
___
[code]
SpongeForge 1.11.2-2315-6.1.0-BETA-2402

[2018-01-31 07:02] limbo-app opened #1980 "IC2 EntityDynamite explosion NPE"
This issue was originally submitted by @XakepSDK in [SpongePowered/SpongeCommon#1404](https://github.com/SpongePowered/SpongeCommon/issues/1404).
___
[code]
SpongeForge 1.11.2-2315-6.1.0-BETA-2402

[2018-01-31 07:03] #1980 closed, assigned to nobody

[2018-01-31 14:06] Keaton1188 commented on #1869
@gabizou Not tried without sponge on the server but have tested in SP and it wasn't an issue.

Still is an issue at the moment.

[2018-01-31 21:23] rob5251 opened #1981 "Closing inventory while moving item causes item to be deleted instead of dropped (Forge)"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2866
- Forge version: 14.23.1.2586
- Java version: 1.8.0_161
- Operating System: Win10

**Issue Description**
In the current recommended version of forge to use with Sponge (2586) there is an issue where if you are holding an item in the inventory (moving with mouse click) and then hit esc or the inventory hotkey instead of

[2018-01-31 22:28] Faithcaio commented on #1981
I run Forge ~2555~ 2586 in my dev environement and it works fine.
Make sure you are not in creative. Items on cursor will not drop when in creative.

[2018-01-31 23:10] rob5251 commented on #1981
Is 2555 fine to use with spongeforge build 1.12.2-2586-7.1.0-BETA-2866 though or will I have to revert to spongeforge 1.12.2-2555-7.1.0-BETA-2857?

I always try to make sure I'm running the one recommended for the build.

[2018-01-31 23:25] Faithcaio commented on #1981
Oh nvm. I didnt notice it was changed to Forge 2586.

[2018-02-01 01:37] rob5251 commented on #1168
Issue seems to be occurring on the latest spongeforge releases again.

[2018-02-01 02:49] ryantheleach commented on #1168
@rob5251 What version numbers have you tested, Can you open a new ticket with reproduction steps? Was this newly introduced, or has it happened on every 1.12 release you have tried?

[2018-02-01 03:26] bloodmc commented on #1933
@Keaton1188 @phit Are you sure this isn't the same exact issue as https://github.com/Azanor/Baubles/issues/223

If so then close this as it's intended behavior.

[2018-02-01 03:35] bloodmc commented on #1933
Just tested bleeding and item dropped fine.

[2018-02-01 03:35] #1933 closed, assigned to nobody

[2018-02-01 06:32] Zidane commented on #568
Just as an update for those on this original issue, I have updated the issue @phit linked above:

SpongePowered/SpongeCommon#1165

[2018-02-01 07:51] notfood commented on #1981
Using
* spongeforge-1.12.2-2586-7.1.0-BETA-2868.jar

Tried with
* forge-1.12.2-14.23.1.2586-universal.jar
* forge-1.12.2-14.23.1.2594-universal.jar
* forge-1.12.2-14.23.1.2607-universal.jar

Still happening.

My test was to grab a torch, then press escape. The torch kept disappearing.

Commit https://github.com/SpongePowered/SpongeForge/commit/25720e43901b4296b1bc1639cf92daec59f25d2c had no effect

[2018-02-01 07:56] Faithcaio commented on #1981
@bloodmc maybe this only happens in production not dev?

@notfood that commit fixed smth. else. Calling `player.closeInventory` during some events caused exceptions.

[2018-02-01 08:04] Faithcaio commented on #1981
Please try this Sponge build: 1.12.2-2586-7.1.0-BETA-2865.
So we know for sure this is a new issue

[2018-02-01 08:11] notfood commented on #1981
Tested with 1.12.2-2586-7.1.0-BETA-2865

Same issue found

[2018-02-01 08:15] Faithcaio commented on #1981
What about the one before 1.12.2-2586-7.1.0-BETA-2863?

[2018-02-01 08:36] notfood commented on #1981
Notice, I'm testing this with 0 mods and 0 plugins.

It's literally forge and spongeforge. It's very easily reproducible.

spongeforge-1.12.2-2586-7.1.0-BETA-2863.jar FAIL
spongeforge-1.12.2-2586-7.1.0-BETA-2862.jar FAIL
spongeforge-1.12.2-2555-7.1.0-BETA-2850.jar FAIL
spongeforge-1.12.2-2555-7.1.0-BETA-2843.jar FAIL
spongeforge-1.12.2-2555-7.1.0-BETA-2842.jar PASS
spongeforge-1.12.2-2555-7.1.0-BE

[2018-02-01 08:47] notfood commented on #1981
Notice, I'm testing this with 0 mods and 0 plugins.

It's literally forge and spongeforge. It's very easily reproducible.

[2018-02-01 08:56] notfood commented on #1981
spongeforge-1.12.2-2555-7.1.0-BETA-2837.jar PASS

[2018-02-01 08:58] notfood commented on #1981
spongeforge-1.12.2-2555-7.1.0-BETA-2850.jar FAIL

[2018-02-01 09:00] notfood commented on #1981
spongeforge-1.12.2-2555-7.1.0-BETA-2843.jar FAIL

[2018-02-01 09:01] phit commented on #1981
edit your post please instead of posting 30 comments, thanks for testing this

[2018-02-01 09:05] notfood commented on #1981
Sorry. Got carried away as the time within tests was long. Won't happen again.

Last working version is spongeforge-1.12.2-2555-7.1.0-BETA-2842.jar

[2018-02-01 09:09] phit commented on #1981
2843 is https://github.com/SpongePowered/SpongeForge/commit/83bb1dd2926a527befbda235391f8e3604111c42

[2018-02-01 09:11] Faithcaio commented on #1981
huh so the captured items are just not spawned... but why was is it working for me in dev.
Thanks for testing. I'll try to fix it this evening.

[2018-02-01 17:55] Faithcaio commented on #1981
found it:
 only happened when `SpongeImpl.getGlobalConfig().getConfig().getOptimizations().doDropsPreMergeItemDrops()` is false

fixed in https://github.com/SpongePowered/SpongeCommon/compare/5858f2a99a5e...1e1597034149

[2018-02-01 17:55] #1981 closed, assigned to Faithcaio

[2018-02-02 00:26] rob5251 opened #1982 "Dupe with Animal Nets from Hatchery"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2873
- Forge version: 14.23.1.2586
- Java version: 1.8.0_161
- Operating System: Win10

- Plugins/Mods:
Mods (7): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Hatchery

Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge

**Issue Description**
The animal net is

[2018-02-02 00:26] rob5251 commented on #1168
@ryantheleach I opened a new ticket here:
https://github.com/SpongePowered/SpongeForge/issues/1982

I only recently added Hatchery to my modpack so I can't comment on what version it started to occur again. Further testing will need to be done at this point.

[2018-02-02 05:50] ryantheleach commented on #1982
Does this allow animals to be duplicated?

To devs: last time this fixed it, but it was on the old phase tracker, https://github.com/SpongePowered/SpongeCommon/commit/4648e4af32f68b07690df05d5446a5b74b99f2b2

It may need to be ported to the new phase tracker.

Edit: Marked as high priority due to potential duplication of 10 10 10 Diamond Chickens etc. (Imagine a mob farm that produced diamonds)

[2018-02-02 12:26] phit commented on #1899
@iamtpage status?

[2018-02-02 14:44] flamechair commented on #1899
@phit haven't been able to see it happen again in the logs. Looks like @gabizou was right. Consider this fixed!

[2018-02-02 15:09] ryantheleach commented on #1899
@iamtpage Thanks.

[2018-02-02 15:09] #1899 closed, assigned to nobody

[2018-02-02 21:07] samolego opened #1983 "Advancement crash, possibly related to the Nether"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2865.jar
/tried with 2887 too
- Forge version:  2586
- Java version: Java 8
- Operating System: Raspbian GNU/Linux 8 (jessie)

Not using the latest SF, because the issue seems to be in other versions, too...

- Plugins/Mods:
Nucleus, Luckperms, Griefprevention, Biomes O Plenty, Veinminer, Worldedit, flexiblelogin,

[2018-02-02 21:19] Krosta8 opened #1984 "Tinker's Construct Slime boots - on bounce movement, network error."
**I am currently running**
- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2873
- Forge version: 14.23.1.2586
- Java version: 1.8.0_101
- Operating System: Linux

- Plugins/Mods:
Plugins (26): Minecraft, Minecraft Coder Pack, Sponge API, SpongeForge, FastAsyncWorldEdit, BungeeTabListPlus-SpongeBridge, CatClearLag, CmdBuilder, CmdControl, CommandUtils, DailyRewards, GriefPrevention, LuckPerms, Nucleu

[2018-02-02 21:35] phit commented on #1984
please provide the full log, as asked from you in the issues template.. `fml-junk-earlystartup.log` and upload it to https://gist.github.com

[2018-02-02 21:48] Krosta8 commented on #1984
Sorry,
I thought, that in this case, just error log would be better for you.
Here is the full log: https://gist.github.com/Krosta8/91b0e714e3c37d6b2fd9dd297229cf81

[2018-02-02 21:49] rob5251 commented on #1982
You can duplicate them, but only by using the net to place the chicken in the Nesting Pen. If you try to place it on the ground nothing will happen though.

So yeah if you had a 10/10/10 diamond chicken from the chickens mod in a nesting pen, you could duplicate it to a bunch of other pens.

[2018-02-02 23:15] phit commented on #1984
you didnt add any log to your initial post

[2018-02-03 01:22] TheNimbleNinja opened #1985 "PMPMDescription: Exception ticking world java.lang.ArrayIndexOutOfBoundsException"
forge 1.12.2

- SpongeForge version: none
- Forge version: forge-14.23.1.2610
- Java version: java9(64-bit)
- Operating System: windows 10

- Plugins/Mods:around 203 mods(abyssalcraft intergration,abyssalcraft,actually additions,actuallybaubles,additionalloottables,advancedrocketry,ae2stuff,aether_legacy,akashictome,alchemytrinkets,angelringtobauble,applecore,appleskin,appliedenergistics2,architec

[2018-02-03 02:05] kashike commented on #1985
You aren't using Sponge. This is the wrong place to open an issue.

[2018-02-03 02:05] #1985 closed, assigned to nobody

[2018-02-03 02:43] TheNimbleNinja commented on #1985
then where do i post it?

[2018-02-03 11:34] kremi151 opened #1986 "[1.12.2] SpongeCommon missed introduction of KeyBind TextComponent"
I am using SpongeForge BETA 2865. The server crashes when loading a world when the newest version of my mod (MinaMod) is present, as it worked perfectly before the new version. One thing I changed was the descriptions of 2 advancements to display the key binding on the client side in order to open a custom GUI. Pressing the key should then trigger the advancement(s).
For example: Pressing the 'N'

[2018-02-03 12:02] dualspiral commented on #1986
Can you try SF 2881? There were some advancements related issues that were worked around in some of the latest versions.

[2018-02-03 12:23] Krosta8 commented on #1984
Oh, I see, sorry for this.. Here is just the error https://gist.github.com/Krosta8/c9990c94490d65fc9b671470a552145e

[2018-02-03 12:27] Whazaaaaa commented on #1972
Anyone that can figure out whatsup?
I'm still having this with 1.12.2-2586-7.1.0-BETA-2881
Now I'm horrible at reading these kinds of logs so can anyone figure out whats going on? It doesnt seem like anyone else is having this either?

[2018-02-03 13:38] phit commented on #1972
https://gist.github.com/phit/57a45c144fc680b7f7ee6db439cb0ebf

looks like a bug in Chisel to me, not a Sponge issue.

[2018-02-03 13:43] Whazaaaaa commented on #1972
But sponges causetracker is the thing that breaks stuff. When without sponge the problems we get would never happen. And seeing ad modpacks dont update as often as spongeForge does. It would be really nice to have a fix for this on the sponge side of things.

[2018-02-03 13:47] phit commented on #1972
there's nothing for Sponge to fix, the mod is erroring, Sponge just tells you about it instead of it crashing the server

see https://github.com/SpongePowered/SpongeCommon/commit/bb605ed82a865d08cf7f18e67e4d90905f3f0eb8#diff-887da76c98bfd683f387bc220c615dc9R399

[2018-02-03 13:48] kremi151 commented on #1986
I tried it with SpongeForge 2881, same error:

java.lang.UnsupportedOperationException
	at net.minecraft.util.text.TextComponentBase.createBuilder(TextComponentBase.java:562)
	at net.minecraft.util.text.TextComponentBase.toText(TextComponentBase.java:695)
	at net.minecraft.util.text.TextComponentTranslation.wrapFormatArgs(SourceFile:570)
	at net.minecraft.util.text.TextComponentTranslation.createB

[2018-02-03 13:48] Whazaaaaa commented on #1972
So if it werent for sponge the server would crash then?

[2018-02-03 13:49] phit commented on #1972
most likely, yes

[2018-02-03 13:50] phit commented on #1983
@samolego try updating to SpongeForge 2881 or newer

[2018-02-03 14:18] ryantheleach commented on #1982
@rob5251 Thanks for the updated reproduction steps, That definitely would have tripped people over. I've edited your OP for the updated info.

[2018-02-03 14:34] ryantheleach commented on #1986
https://minecraft.gamepedia.com/17w16a (1.12 snapshot version) Added the TextComponents for keybinds, we have totally failed to catch this, and will probably be throwing errors whenever a TextComponent is parsed as a Text.

@limbo-app move to sc

[2018-02-03 14:42] dualspiral commented on #1986
~move to sc

[2018-02-03 14:42] limbo-app commented on #1986
Hey @kremi151! I've moved your issue to [SpongePowered/SpongeCommon#1758](https://github.com/SpongePowered/SpongeCommon/issues/1758).

[2018-02-03 14:42] #1986 closed, assigned to nobody

[2018-02-03 15:18] ryantheleach commented on #1984
This probably doesn't have anything to do with fall damage, but alternate unexpected movement of some kind.

https://github.com/SlimeKnights/TinkersConstruct/issues/3334
https://github.com/SlimeKnights/TinkersConstruct/issues/3340
https://github.com/SlimeKnights/TinkersConstruct/issues/3362

[2018-02-03 15:35] ryantheleach commented on #1984
This isn't us, @Rednesto reproduced it in pure Forge, whilst @Faithcaio and I were trying to reproduce on Sponge Forge.

We are preparing a reply for tinkers.

[2018-02-03 15:35] #1984 closed, assigned to nobody

[2018-02-03 15:38] samolego commented on #1983
I have updated, nothing happened...

[2018-02-03 18:04] samolego commented on #1983
Tried, nothing better. Still crashing

[2018-02-03 20:48] #1905 closed, assigned to nobody

[2018-02-04 16:38] samolego commented on #1983
Actually, when I am not the Nether, it works fine... strange...

[2018-02-04 16:59] Vitali8 commented on #1815
Yes, the server crashes depending on the choice of generation in the mod configs. I changed from the default parameter `S: dimensionProfile = biosphere` in the config file and...
Here's the crash log: https://pastebin.com/9guj23Dz
SpongeAPI: 7.1.0-SNAPSHOT-b163786
SpongeForge: 1.12.2-2586-7.1.0-BETA-2868
Minecraft Forge: 14.23.1.2607
Mod version: lostcities-1.12-2.0.0

[2018-02-05 05:01] tterrag1098 commented on #1972
Uhh no? Sponge is doing some verbose logging here and creating its own exception:

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L579-L582
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L451

There is no exception being generated

[2018-02-05 16:45] Flashback083 opened #1987 "[1.12.2] Random crash"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2887
- Forge version: forge-1.12.2-14.23.1.2586
- Java version: 1.8.0_131 (61 bits)
- Operating System: Debian 8.10 (Jessie)

- Plugins/Mods:
Sponge plugins :
SpongeAPI, SpongeForge,  FastAsyncWorldEdit, CmdBuilder, CmdControl, CoinPurse, DailyRewards, EconomyLite, GriefPrevention, Inventory Sync, LuckPerms, Multi

[2018-02-05 17:44] ryantheleach commented on #1987
The website is under your control right? I've never heard of something using rcon for voting

[2018-02-05 17:49] Flashback083 commented on #1987
Yeah, i'm on ovh (website and server) (the website isnt dedicated but i have full access database/files) and i never see this in my 1.8.9 sponge server and 1.10.2 <_<

Edit : I disable voting/purchase on my website (also, no rcon connection) and my server is up since 2 hours, it can be hazard but weird, also, if its RCON how we can fix it, cause its Minecraft fonction o_o

Thanks !

[2018-02-05 18:44] gabizou commented on #1972
The weird thing about this issue is that sponge has had a tracking system to wrap around listeners like this, in this case, where sponge specifically knows that it has to process block changes for server and world tick listeners.

The problem here is that I'm not sure why the listener phase state is being entered to process the block changes (since otherwise, sponge doesn't have a phase state to u

[2018-02-05 20:38] LXGaming commented on #1987
In the crash report your server was stopped by the `Server Watchdog`.

In the `server.properties` try setting `max-tick-time` value to `-1`

[2018-02-06 19:17] Flashback083 commented on #1987
I have still crash :/
https://gist.github.com/Flashback083/f8519b8189ba551968d7f88d3fa1d49e

[2018-02-06 19:26] phit commented on #1987
looks like related to https://github.com/SpongePowered/SpongeForge/issues/1456
but there's a lot of weird crashes in your initial gist, any idea how to reproduce any of them?

[2018-02-06 19:32] phit commented on #1966
sorry, but until you figure out what mods are needed to reproduce this there is nothing we can really do

[2018-02-06 21:00] mihionmc opened #1988 "RefinedStorage Inventory IndexOutOfBoundsException"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2887
- Forge version: ftb direwolf 1.12.2 1.8
- Java version: bleeding oracle
- Operating System:linux

- Plugins/Mods:

**Issue Description**

Hi! i get this after upd to the last ver.1.12.2-2586-7.1.0-BETA-2889 on direwolf https://gist.github.com/phit/9b5bb7554c615a7fcc43787cf8c5464d
the gamer thinks that it has something

[2018-02-07 01:14] Flashback083 commented on #1987
I have 10 report look different, and i think its not a map issue, its occure often when i have a rcon connection, but i'll make more test into this to confirm that

[2018-02-07 01:55] LXGaming commented on #1987
Any crash reports that have `Description: Watching Server` I would ignore as they are only created when the server is **forcibly** killed by the Server Watchdog, The exception shown in the crash report is just a stack trace of the Main thread.

The latest crash you posted seems to indicate that the overworld is ether non-existent or has been unloaded.

[2018-02-07 02:17] ryantheleach commented on #1987
Whilst true, if you can get repeatable stack traces, it's usually a sign of where the server is experiencing perf issues, or can get locked in an infinite loop.

[2018-02-07 06:47] SawFowl opened #1989 "Incorrect block state."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2887
- Forge version: forge-1.12.2-14.23.1.2586
- Java version: 1.8.0_131 x64
- Operating System: Ubuntu Server 16.0.4   or   Windows 7/8.1 x64

- Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CmdCalendar, CommandSyncSponge, CommandUtils, Econom

[2018-02-07 08:40] Faithcaio commented on #1988
https://github.com/raoulvdberge/refinedstorage/blob/18b4fbe358ba12e9ece3642d6a405859169ffd27/src/main/java/com/raoulvdberge/refinedstorage/container/ContainerGrid.java#L44
Somehow we don't find the craftmatrix in the correct place?

[2018-02-07 10:56] RedNesto commented on #1989
After investigation it seems that since the net and the water are on the same block, Sponge thinks it is a water block, while it should capture the net AND the water.

[2018-02-07 10:59] SawFowl commented on #1989
Maybe you're right. Without Sponge, there is no such problem. This can somehow be fixed?

[2018-02-07 11:04] RedNesto commented on #1989
I will search how to fix it, but I can't promise anything, don't really know the blocks tracking part of Sponge.

[2018-02-07 13:18] phit commented on #1988
well it broke in build 2888 which is https://github.com/SpongePowered/SpongeForge/commit/d946afc934d5611f298102ff115f117e08ff2174

[2018-02-07 14:08] Flashback083 commented on #1987
also, i make somes test and i just see one thing :
Each time i disable RCON, the server have 20 TPS (no crash now)
If i enable and players vote, TPS drop a lot <_<
I close this issue, i try to use Buycraft for my shop and nuvotifier for vote, if i have another issue, i create another ticket with more information ^^
Sorry for the wasted time, and thanks for the help !

[2018-02-07 14:51] mihionmc commented on #1988
I don't know if it is important but this one is on 2887:
https://gist.github.com/mihionmc/16821e30f1ef29558454206d2b63fb84

[2018-02-07 17:22] Faithcaio commented on #1988
fixed in https://github.com/SpongePowered/SpongeCommon/commit/4802b6e3e36d20f4c44bc25ad0beef54f0dbb4e8

[2018-02-07 17:22] #1988 closed, assigned to nobody

[2018-02-07 21:34] #1961 closed, assigned to nobody

[2018-02-07 23:36] ryantheleach commented on #1987
@Flashback083 I still feel this is worth investigating if someone can reproduce the issue.

[2018-02-08 03:49] JoeSGT opened #1990 "Pre-generation crash with a mod"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2889
- Forge version:  14.23.1.2606
- Java version:  8
- Operating System: linux

- Plugins/Mods:
both mods and plugin list are included in the crash report

**Issue Description**
Crash report: https://pastebin.com/8RuBCZi3 remapped: https://pastebin.com/mD0B2nmh

i had ask the mod developer of Lost Thaumaturgy  this his sid

[2018-02-08 04:44] ryantheleach commented on #1990
This just looks like the server stalled out during generation due to taking too long to tick, but you say it doesn't happen without Sponge.

What plugins do you have installed? Do any of them have databases?

[2018-02-08 05:18] JoeSGT commented on #1990
the plugins i installed
CustomRestartMessage
Nucleus
LuckPerms
crazyfeetsponge
Auctions
and i did not have any database all of those config have been default haven't edit them yet
and i ran nucleus pre-generation command `/world border gen`
and wait around 5% and it crashed when i took out those sponge plugins and SpongeForge out and ran just forge pregeneration command since Forge Api have there

[2018-02-08 14:47] ryantheleach commented on #1961
Talking to Zidane, this will be fixed by changing the config defaults to work with Extra Utilities by default, in a larger refactor of the configuration.

[2018-02-08 14:48] phit commented on #1961
reposting as this issue is quite long, if you run into this

[2018-02-08 14:50] phit commented on #1990
add sponge back and try pregenerating with the forge commands again

[2018-02-08 17:36] JoeSGT commented on #1990
@phit unfortunately i cannot do what you request because Sponge breaks forge api generate command
`/forge gen`

[2018-02-08 17:38] phit commented on #1990
log? it really shouldn't if it does that's a bug by itself

[2018-02-08 17:50] JoeSGT commented on #1990
Latest.log https://pastebin.com/DhUifJgp - as you can see i generate 10000000 chunks and you can see the time in them it should NOT take a 3 seconds for 10,000,000 Chunks
Fml-Server-latest.log https://pastebin.com/ZSUhWx0Q
Fml-Junk-earlystartup.log https://gist.github.com/JoeSGT/db26f7f149cab42fcf7eade2b84c205c

i provided all of the different types of logs and here a screenshot of nothing in the

[2018-02-08 18:29] ghost opened #1991 "Failed to save configuration"
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2887.jar
- Forge version: 14.23.1.2586
- Java version: build 1.8.0_151-b12
- Operating System: 64bit windows 10 home

Plugins: Currently none
Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, Advanced Generators, Ambience, Applied Energistics 2, Aroma1997Core, Ar

[2018-02-08 19:37] Keaton1188 opened #1992 "1.10.2 port-over issues"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2793
- Forge version: 12.18.3.2422
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods:
Sky Factory 3

**Issue Description**
Hey.. I know you have stopped accepting issues for 1.10 but having a bit of a dilemma here.. 2793 sponge version will crash the server if someone enters the

[2018-02-08 20:00] Zidane commented on #1991
I ran a server with just Sponge on my desktop in a folder (to match how you are doing things here) and I cannot reproduce this issue. Even added multiple dimensions just because.

You've got a FileSystem issue or a rare edge case that can fail in Configurate.

[2018-02-08 21:22] Earthplate commented on #1946
This just happened on my server which is running the latest forge/sponge

[2018-02-09 00:36] gabizou commented on #1946
@Earthplate can you provide some logs and version information?

[2018-02-09 00:45] JoeSGT commented on #1990
Just wondering is there any more information that is needed?

[2018-02-09 03:52] ryantheleach commented on #1990
I wonder if this is a chunk loading related issue with the world configs @phit , can't gen something that can't load correctly?

[2018-02-09 05:25] JoeSGT commented on #1990
well my world configs are default in fact i did all this on a clean test server

[2018-02-09 13:50] johnfriedrich commented on #1946
https://pastebin.com/GZkF07Td
Same crash with recent sponge and forge version.
Same map I uploaded

[2018-02-09 16:34] ghost commented on #1991
All file permissions are default

[2018-02-09 18:05] ghost commented on #1047
Note that this was never fixed for 1.10.2 @Aaron1011

[2018-02-09 21:20] mkrtes opened #1993 "Crash when user go to void Nether (1.10.2)"
**I am currently running**
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-c675e80
    SpongeForge: 1.10.2-2477-5.2.0-BETA-2790
    Minecraft Forge: 12.18.3.2511
- Operating System: Debian

Crashlog https://gist.github.com/mkrtes/2fcc473a6c3d80eb9c1c8b2972ee2b9d

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Not Enough Items, OpenComputers (Core), SpongeAP

[2018-02-09 21:23] phit commented on #1993
1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed, please [open a new issue](http

[2018-02-09 21:23] #1993 closed, assigned to nobody

[2018-02-09 21:25] phit commented on #1992
1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed, please [open a new issue](http

[2018-02-09 21:25] #1992 closed, assigned to nobody

[2018-02-10 01:06] LemADEC commented on #1324
Do we have any idea how to fix that issue?
Any whitelisting configuration we could have in the mean time?

[2018-02-10 01:11] LemADEC opened #1994 "Client not booting with just forge"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2897
- Forge version: 14.23.1.2586
- Java version: 1.8.0_92
- Operating System: Windows 10

- Plugins/Mods: just Forge and Sponge

**Issue Description**
Client won't boot due to mixin issue

https://gist.github.com/LemADEC/41b06906d8bbab48df10568bdbcf9005

[2018-02-10 01:27] Dockter commented on #1994
Issue confirmed.

[2018-02-10 04:29] liach opened #1996 "Client crash on using empty map"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-0.jar (Custom build by Almura)
- Forge version: 1.12.2-14.23.1.2610
- Java version: 8u152
- Operating System: Windows 10

- Plugins/Mods: Almura 3 server modpack

[code]

**Issue Description**

This issue is a client-only crash.

Link: https://gist.github.com/liach/2f2751596049ffba2672a7ba808d70eb

As a player, t

[2018-02-10 04:37] limbo-app opened #1997 "Extra Utilities 2 Unexpected World Change"
This issue was originally submitted by @rojo8399 in [SpongePowered/SpongeAPI#1776](https://github.com/SpongePowered/SpongeAPI/issues/1776).

Edited missing information and replies into the OP - @ryantheleach
___

SpongeForge: 1.12.2-2586-7.1.0-BETA-2897
forge: 1.12.2-14.23.2.2611
java: 8
OS: Win 10 latest

When breaking any compressed blocks from extra utilities 2, this is spammed in console. It d

[2018-02-10 04:38] liach commented on #1996
Update:

https://github.com/SpongePowered/SpongeCommon/blob/eb4dbb5e5c85306c7bd50421a7419f03b8bec15f/src/main/java/org/spongepowered/common/mixin/core/item/MixinItemMap.java#L42

That piece of code is both incorrect and even if it's correct, it cannot work on the client.

[2018-02-10 05:09] Dockter commented on #1994
Fixed.

[2018-02-10 06:49] #1994 closed, assigned to nobody

[2018-02-10 08:24] XakepSDK commented on #1996
Dupe: https://github.com/SpongePowered/SpongeForge/issues/1456

[2018-02-10 08:27] liach commented on #1456
SpongePowered/SpongeCommon#1789 can actually fix this issue hopefully.

[2018-02-10 08:39] Krosta8 opened #1998 "Duplication of buckets"
**I am currently running**
- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2899
- Forge version: 14.23.1.2586
- Java version: 1.8.0_101
- Operating System: Linux

- Plugins/Mods:
Plugins (26): Minecraft, Minecraft Coder Pack, Sponge API, SpongeForge, FastAsyncWorldEdit, BungeeTabListPlus-SpongeBridge, CatClearLag, CmdBuilder, CmdControl, CommandUtils, DailyRewards, GriefPrevention, LuckPerms, Nucleu

[2018-02-10 10:58] phit commented on #1324
someone would have to implement checking for the forge ´lifespan´ tag, I looked into it before but no idea how to best integrate this as the item despawning code is in SC, but the ´lifespan´ tag obviously isnt a thing thing in SV

[2018-02-10 12:03] Mordna opened #1999 "Incompatibility with Futurepack"
**I am currently running**
- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2899
- Forge version: 14.23.2.2611 (also tried matching version)
- Java version: java-8-openjdk 8.u144
- Operating System: Linux 4.15.1

- Plugins/Mods: Futurepack 1.12.2-26.3.88

**Issue Description**
After generating a new world, moving a bit around and the going in a TechDungeon or exploring the world (takes longer) a "run

[2018-02-10 13:42] LemADEC commented on #1324
Could we have a whitelist or a way to disable the feature for now?

[2018-02-10 13:43] phit commented on #1324
there is no feature or anything in place, infinite lifespan set by forge is simply never checked
adding a whitelist would be more effort than fixing the actual issue

[2018-02-10 14:20] RedNesto commented on #1998
I can also reproduce in SpongeVanilla stable-7 and bleeding.

I'll see what I can do.

[2018-02-10 14:23] rojo8399 commented on #1997
Here's the whole error.

`[Server thread/ERROR] [Sponge]: /************************************************************************************************************************************************************************************************************************************************************************************************/
[08:22:28] [Server thread/ERROR] [Sponge]: /*

[2018-02-10 15:22] LemADEC commented on #1324
By feature, I mean the sponge part that wants to override the despawning mechanism

[2018-02-10 15:23] phit commented on #1324
disable the entity activation module

[2018-02-10 22:07] Keaton1188 commented on #1997
- SpongeForge version: ?
- Forge version: ?
- Java version: ?
- Operating System: ?

[2018-02-10 22:08] rojo8399 commented on #1997
SpongeForge: 1.12.2-2586-7.1.0-BETA-2897
forge: 1.12.2-14.23.2.2611
java: 8
OS: Win 10 latest

[2018-02-10 22:17] ilFau opened #2001 "Astralsourcery mantle don't work"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-2900.jar
- Forge version: 2586
- Java version: 8 (1.8.0_151-8u151)
- Operating System: ubuntu server

- Plugins(0)/Mods(1):
AstralSourcery

**Issue Description**
The Mantle of Star attuned with Vicio, is a plate of Astral Sourcery which allow to flight like Elytra. But with sponge it doesn't work. The player, instead of planar, pressing

[2018-02-10 22:44] #1996 closed, assigned to nobody

[2018-02-11 09:37] ilFau commented on #2001
This problem still occurs in the new sponge version 7.1.0-BETA-2906 for forge 2611

[2018-02-11 09:41] ryantheleach commented on #1997
[code]

[2018-02-11 10:02] SquidDev opened #2002 "ServerChatEvent.setCanceled has no effect"
### I am currently running
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2906
- Forge version: 1.12.2-14.23.2.2613
- Java version: 1.8.0_151-b12
- Operating System: Windows
- Plugins/Mods: LuckPerms, CC: Tweaked, Plethora.

### Issue description
Cancelling Forge's `ServerChatEvent` event does not result in the equivalent `MessageEvent` being cancelled. I realise this was marked fixed in #1263, so

[2018-02-11 12:13] ryantheleach commented on #1999
[code]
TileEntityDungeonCore.run:
https://gist.github.com/ryantheleach/14b6097cc9fc41223d558657882b3f1e#file-tileentitydungeoncore-java-L91-L105

It looks like we are calling the callable immediately, where as a default minecraft only calls the callable immediately if (!this.isCallingFromMinecraftThread() && !this.isServerStopped())) == false

https://github.com/SpongePowered/SpongeCommon/blob/090

[2018-02-11 12:27] ryantheleach commented on #1991
Has this issue persisted since you restarted your computer?

[2018-02-11 12:31] phit commented on #1458
still not working after https://github.com/SpongePowered/SpongeForge/commit/293b6646d9dc9e706b7724679b97ab1523e764f7

[2018-02-11 12:50] SquidDev commented on #2002
Amazing, thank you!

[2018-02-11 15:58] phit commented on #1998
~move to sc

[2018-02-11 15:58] limbo-app commented on #1998
Hey @Krosta8! I've moved your issue to [SpongePowered/SpongeCommon#1794](https://github.com/SpongePowered/SpongeCommon/issues/1794).

[2018-02-11 15:58] #1998 closed, assigned to nobody

[2018-02-11 15:59] ghost commented on #1991
Yes

[2018-02-11 16:04] phit commented on #1990
@ryantheleach Indeed setting `deny-chunk-requests=false` fixes this..

moved this to https://github.com/SpongePowered/SpongeForge/issues/2003

---

@JoeSGT as for your initial report, can you retest pregenning with nucleus and set `deny-chunk-requests=false` before you do and see if it still freezes?

[2018-02-11 16:08] phit opened #2003 "Proposal to set deny-chunk-requests to false by default"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2911.jar
- Forge version: 2611
- Java version: 8_161

- Plugins/Mods: /

**Issue Description**
I opened this in SF even though it's part of SC, as it doesn't really affect SpongeVanilla and more people that may be affected by this will see it here.

Run the built-in forge command `/forge gen 0 0 0 10000` it will

[2018-02-11 16:11] phit commented on #2003
example of a crash I got in the past due to this option http://vpaste.net/TDMLU

[2018-02-11 18:02] Fently opened #2004 "Minecraft Comes Alive Crash"
Hi, I'm having problems with sponge and Minecraft Comes Alive

1) Crashes when trying to trade with MCA villager
2) Every server restart results in a purple and black textured villager named "Steve the Farmer":
* Any MCA villager npc that is currently loaded in the game, will be transformed into "Steve the Farmer" on any crash, restart, etc. No clue why. When discovering an MCA villager npc for th

[2018-02-11 18:06] phit commented on #2004
please retest this without sponge, this looks like a mod issue on first glance

[2018-02-11 18:13] Fently commented on #2004
I thought so too, but the weird part is these issues only occur when SpngeForge is installed. Here is the log without SpongeForge running: [Pastebin](https://zerobin.net/?7b0f548f651b0138#iFeRl1tHzEQel+3uZBSi3VuCA9bVU8YL8Ot9vyG785Y=)

The "MalformedParameterizedTypeException" no longer shows up, server can be rebooted any number of times and mca villagers will still remain the same, and trading wi

[2018-02-11 19:00] ProsperCraft opened #2005 "Futurepack - Cannot get property PropertyBool"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2911
- Forge version: 2613
- Java version: java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
- Operating System:Windows 10 64 bit - running Sponge on my client.

- Plugins/Mods: Its in the crash report.

**Issue Descript

[2018-02-11 19:10] phit commented on #2005
how do you reproduce this, were you far away from that door?

[2018-02-11 21:38] mcenderdragon commented on #2005
This crash is caused because the tileEntiy is there but not the block.

[2018-02-11 21:49] phit commented on #2005
@ProsperCraft try setting `deny-chunk-requests=false` in your `config/sponge/global.conf`

[2018-02-12 00:12] ProsperCraft commented on #2005
I was not by the door, about 50 blocks away or so.
I didn’t have to do anything but log in to make its happen.  If you want to reproduce this you would place three of those doors that raise up then add sponge to your client.

[2018-02-12 03:44] yyeerai opened #2006 "NPE bug"
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-SNAPSHOT-6aa4e43
- SpongeForge: 1.12.2-2611-7.1.0-BETA-2906
- Minecraft Forge: 14.23.2.2611

plugins And mods
Plugins (14): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, GriefPrevention, Holograms, LangSwitch, LuckPerms, Nucleus, SkyClaims, Total Economy, VillagerShops, WorldEdit

Mods (12): Minecraft, Minec

[2018-02-12 09:56] ghost commented on #1991
What other information could i possibly give?

[2018-02-12 10:20] ryantheleach commented on #1991
If we knew, we would have asked.

It's unsolvable until someone who knows how to debug the issue can either reproduce it, or get reproduction steps that hint to what the problem is, thus, "more information needed" It's not a slight against you, it's a label to show the status on the main issue list until more information is turned up (either by you, a dev, or someone with a similar issue).

[2018-02-12 10:44] dualspiral commented on #1991
For what it's worth, Nucleus had a bug like this because I (currently) use Configurate for saving data, though I do plan to move away from that. It _might_ be this, but I cannot be sure. Just hope this sheds some light on this.

In my case, it was due the file trying to load and save at the same time. In my system, I have a loading cache with a removal listener. In the case where an item was evict

[2018-02-12 16:18] JoeSGT commented on #1990
Yeap it's fix this issue thanks

[2018-02-12 16:18] #1990 closed, assigned to nobody

[2018-02-12 20:34] dualspiral commented on #1991
Just looked through the stack trace and I'm more convinced of what's going on.

Because `config-enabled` is `true` in this scenario (only way this is able to occur), during our injected constructor, the save operation is being called no less than three times, possibly four. In this case, copy operations to the same file name are occurring within what I suspect to be microseconds of each other. Win

[2018-02-13 17:35] ziceptor commented on #1991
I'm seeing this error regularly. Starting with sponge 1.8. This is not just about the sponge. The same thing happens with the plugins. Craftbook, nucleus (rare), placeholder and some others.

spongeforge-1.12.2-2611-7.1.0-BETA-2914.jar
Restarted the server several times. Looks like the problem's solved. Some testing is required.

[2018-02-13 17:41] dualspiral commented on #1991
Thanks, that’s encouraging to hear.

[2018-02-13 18:02] ghost commented on #1991
I am however unable to test it currently as i am replacing the 1.10.2 versions of my modpack and server with 1.12.2 and i am still working on the client after which i will continue working on the server.

[2018-02-13 18:03] Mordna commented on #1999
If I debug forge server while using the mod and watch the expression after
`if (!.this.isCallingFromMinecraftThread() && !this.isServerStopped())`
as you mentionend in MinecraftServer.class, Futurepacks' task are executed there.
Tasks include: DungeonGeneratorBase$BakedDungeon

If I do the same in Spongeforge, only adding/replacing
[code]
in ```public Object onCall(Callable<?> callable) throws Exc

[2018-02-13 19:47] ziceptor commented on #1991
ooh https://gist.github.com/ziceptor/a3a0ff62c38f7dfac5f348ec4844757e#file-fml-junk-earlystartup-log-L6163

[2018-02-13 22:01] dualspiral commented on #1991
That's futher down the load worlds method so I seem to be on the right track. Will take a look when I get time - for my own reference: https://github.com/SpongePowered/SpongeCommon/blob/4b27a932181364707df81b9aae5ec0079cb89182/src/main/java/org/spongepowered/common/world/WorldManager.java#L727

[2018-02-14 02:14] Eufranio opened #2007 "WorldEvent.Load missing Phase"
**I am currently running**
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-6aa4e43
SpongeForge: 1.12.2-2611-7.1.0-BETA-2916
Minecraft Forge: 14.23.1.2607
Java 1.8_151

Plugins (10): ```Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, FastAsyncWorldEdit, GriefPrevention, LuckPerms, MagiBridge, Nucleus, WorldEdit```

Mods (60): ```Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forg

[2018-02-14 08:17] gabizou commented on #2007
I'd almost say that Minecolonies should not be modifying worlds while they are being loaded, but alas, this *can* be resolved in sponge specifically. Thoughts @Zidane @Raycoms?

[2018-02-14 10:23] McJty commented on #1815
As of this moment we have found no way to solve this on Lost City side. Suggestions are always welcome. Would it be possible to at least make this optional on Sponge side as a workaround?

Thanks

[2018-02-14 12:24] Siriuo opened #2008 "Exception occurred during a PhaseState"
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2916
- Forge version: 1.12.2-14.23.2.2611
- Java version: 1.8.0_161 64-bit
- Operating System: Centos 6.9

**Plugins:** Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Buycraft, LuckPerms, Nucleus

**Mods:** Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actuall

[2018-02-14 12:26] phit commented on #2008
https://github.com/SpongePowered/SpongeForge/issues/1961#issuecomment-364134079

[2018-02-14 12:26] #2008 closed, assigned to nobody

[2018-02-14 13:55] ghost commented on #1815
Perhaps they could add a sponge config to prevent it from messing with worldgen because most sponge plugins don't require it anyways

[2018-02-14 16:17] Raycoms commented on #1951
Any progress on this?

[2018-02-14 16:57] gabizou commented on #1951
I believe @zidane had done some research as he ran into a similar issue on his own mod.

[2018-02-14 21:53] bloodmc commented on #2007
This looks fine as the mod is running its logic during Forge's 'WorldEvent.Load' which is fired after the world has been loaded. The problem is definitely our side and should be fixed with a proper phase to handle this.

[2018-02-14 21:57] Raycoms commented on #2007
We'll even remove this part of the code since it's called without purpose, nevertheless, it should probably be also fixed on your side =)

[2018-02-15 15:38] wpmidia opened #2009 "Server crashing after using new SpongeForge file"
Everytime server crashing... I don't understand the error log.

**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2916.jar
- Forge version: 2611
- Java version: java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed mode)
- Operating System: Linux CentOS

- Plugins/Mods:

**Issue

[2018-02-15 15:46] dualspiral commented on #2009
Not a Sponge error. This is caused by Nucleus requesting a permission and LuckPerms waiting for a check to complete:

https://gist.github.com/wpmidia/562136449388229e7f639cebee08a491#file-crash-2018-02-15_10-00-23-server-txt-L84-L111
https://gist.github.com/wpmidia/562136449388229e7f639cebee08a491#file-crash-2018-02-15_10-00-23-server-txt-L153-L166

I'd report this to LuckPerms as the block is on

[2018-02-15 15:46] #2009 closed, assigned to nobody

[2018-02-15 15:49] phit commented on #2009
@dualspiral probably not even that, its a watchdog crash.. could be literally anything else freezing the server this just happened to be the stack trace it chose to spit out

[2018-02-15 15:54] dualspiral commented on #2009
Normally I’d agree, but considering that the thread was blocked on a CompleteableFuture#get(), it means that main thread was waiting for the permission to come back. It might be a deadlock on LPs end looking at the trace, can’t be sure, but if it’s happening everytime then I’d be more inclined to think there is some strange locking going on.

Of course, it could be the server running out of memory

[2018-02-15 20:29] JoeSGT opened #2010 "Dupe bug with Compressed Cobblestone"
**I am currently running**

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2916
- Forge version: 1.12.2-14.23.2.2615
- Java version: 8
- Operating System: linux

- Plugins/Mods:
Luckperms and GriefPrevention, Draconic Evolution, Extra Utilities.

**Issue Description**
1) place down a Compressed Cobblestone 9.0 Blocks
2) go get a modded pickaxe like Draconic staff of power or a tinkers contrust pic

[2018-02-15 20:33] wpmidia commented on #2009
So .... what I should do?
No updates for LuckPerms.
I just downloaded a newer version of Nucleus...

Thanks guys! ♥

[2018-02-15 20:33] RedNesto commented on #2010
Sounds like the same dupe as https://github.com/SpongePowered/SpongeCommon/issues/1796 I experimented with @jd1378

[2018-02-15 22:32] phit commented on #2010
probably also related to https://github.com/SpongePowered/SpongeForge/issues/1997

[2018-02-16 02:32] ryantheleach commented on #2009
The database or something probably went down during a check, I'm not sure how LP handles it, but I would expect it to fail more gracefully then this.

[2018-02-16 04:09] bloodmc commented on #1973
@Raycoms please provide a test world that I can use to easily reproduce this issue so I can do some further testing.

[2018-02-16 08:48] BillyGalbreath commented on #1834
Any word on this?

[2018-02-16 10:05] Terrails opened #2011 "NetherUtils respawning issues"
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2916
- Forge version: 1.12.2-14.23.2.2611
- Java version: 1.8.0_161-b12
- Operating System: Windows 10 Pro x64

- Mods: CodeChickenLib, NetherUtils, TerraCore

**Issue Description**
Basically NetherUtils makes players spawn in the nether, currently if you join the server for the first time you get spawned in the nether but af

[2018-02-16 10:34] phit commented on #2010
gonna assume this was fixed in latest, if not let me know and I'll reopen the issue

[2018-02-16 10:34] #2010 closed, assigned to nobody

[2018-02-16 11:31] Raycoms commented on #1973
@bloodmc actually you only need to install minecolonies, place down a "Townhall" in the overworld, then go to the nether or end and do /mc home, I will send you the jar which crashes this.
https://s3.eu-central-1.amazonaws.com/minecolonies/Minecolonies/Minecolonies_Branches/7223/minecolonies-universal-1.12.2-0.8.7223.jar

[2018-02-16 11:45] dualspiral commented on #1973
@bloodmc You just need to write a small mod that has the equivalent of [this line](https://github.com/Minecolonies/minecolonies/blob/fix/dim-tp/src/main/java/com/minecolonies/coremod/util/TeleportToColony.java#L142-L143) and transfer a player to a non-end dimension **before** the player touches a portal block.

My PR fixes this (https://github.com/SpongePowered/SpongeCommon/pull/1759), but as I su

[2018-02-16 13:34] phit commented on #2011
possibly related to
https://github.com/SpongePowered/SpongeForge/issues/1973
https://github.com/SpongePowered/SpongeCommon/pull/1759

[2018-02-16 14:01] wpmidia commented on #2009
The problem continues. The server is crashing all the time. I do not know what else to do. Please help me!
https://gist.github.com/wpmidia/4565a40fe9a7d0683a23e9f0962d2af5

[2018-02-16 19:01] tolly765 opened #2012 "Draconic Evolution Mobsoul allows infinite mob spawning"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2900
- Forge version: 14.23.1.2601
- Java version: Java 8.151.12-r0
- Operating System: Alpine

- Plugins/Mods:
Plugins:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, @name@, BetterChunkLoader, CBG Utils, CatClearLag, EconomyLite, Enjin Minecraft Plugin, GriefPrevention, Holograms, HuskyCrates, HuskyUI, KaisCommon

[2018-02-16 19:06] phit commented on #2012
https://github.com/brandon3055/Draconic-Evolution/blob/f5789462962897ef195147f6a8f53cd46076e099/src/main/java/com/brandon3055/draconicevolution/items/MobSoul.java#L66

https://github.com/brandon3055/BrandonsCore/blob/d5514ae6b7f4a826d2d27d4a8a05f65c0efec5eb/src/main/java/com/brandon3055/brandonscore/utils/InventoryUtils.java#L89

actually can you retest with latest when you get a chance, just to m

[2018-02-16 21:27] JoeSGT commented on #2010
yeap it's fixed. just want to put it out there

[2018-02-17 00:31] bloodmc commented on #1973
@dualspiral @Raycoms So I debugged this in both Forge and SpongeForge and they both have the issue. It will ONLY work properly if the player interacts with a portal block such as Nether's portal then types "/mc home". This is due to lastPortalVec being set on collision with Nether's portal block.

If you login then teleport to another dimension via a command WITHOUT colliding with a portal block t

[2018-02-17 00:45] phit commented on #2006
literally 0 context or reproduction, please explain when this happens and what is needed to for this to show up

edit: didnt mean to close

[2018-02-17 00:48] phit commented on #1997
@rojo8399 is this still an issue on latest?

[2018-02-17 01:04] bloodmc commented on #1973
@Raycoms I've decided to fix this issue for you =) I'll have to PR Forge the same fix when I get a chance. Expect a fix soon.

[2018-02-17 01:26] #1973 closed, assigned to nobody

[2018-02-17 02:08] Raycoms commented on #1973
Thanks that sounds great =)

2018-02-17 1:26 GMT+00:00 bloodmc <notifications@github.com>:

[2018-02-17 05:51] yyeerai commented on #2006
Vshop to create a non-villager entity, add items to the vshop inside, right-wrong entity when the error

[2018-02-17 10:40] ryantheleach commented on #2009
@wpmidia Is luck perms using a database? You may find luck perms specific help in their discord: https://discord.gg/W3FzxHA but chances are it's just a connection problem between your server and your database.

If they arn't being hosted within the same cloud hosting provider / datacentre / bedroom I'd recommend doing that.

[2018-02-17 11:46] wpmidia commented on #2009
No, it doen't use database, as MySQl, etc...
But is OK. I'll keep looking for a solution to my problem.

Thanks.

[2018-02-17 14:17] Terrails commented on #2011
Found something, in the [fml-junk-earlystartup.log](https://gist.github.com/Terrails/a2bee34c7e8d22adc7a1df3e76e1fda5),
it prints out an error called "Unexpected World Change Detected!"
Updated to latest sponge too

[2018-02-17 16:29] #1324 closed, assigned to nobody

[2018-02-17 16:53] tolly765 commented on #2012
Sorry for the late reply, but I just tested it on sponge version 1.12.2-2611-8.0.0-BETA-2921 (latest as of this post) and the issue is still present.

[2018-02-17 20:42] #1951 closed, assigned to nobody

[2018-02-17 21:29] phit commented on #2012
quicker than any of us here, thanks for checking!

[2018-02-17 21:40] phit commented on #1671
related to https://github.com/SpongePowered/SpongeForge/issues/1154

[2018-02-18 01:36] JoeSGT opened #2013 "Console Spam with errors"
**I am currently running**

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2925
- Forge version: 1.12.2-14.23.2.2615
- Java version:  8
- Operating System: linux

- Plugins/Mods:
https://gist.github.com/JoeSGT/5ce09462999de2913cf00a12c21309a7

**Issue Description**
I'm not too sure how to reproduce this spam but my console keep spamming with those errors
https://gist.github.com/JoeSGT/0ae66d66bc4c

[2018-02-18 04:23] gabizou commented on #2013
Can you enable stack trace in the cause tracker section so we can get some printouts of where the generation state is coming from?

[2018-02-18 05:23] lolmetimbers opened #2014 "Advanced Rocketry space station skybox not generated properly"
**I am currently running...**
SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2793
Forge version: 1.10.2-12.18.3.2511
Java version: jre1.8.0_151

**Mods**
AdvancedRocketry-1.10.2-1.2.5a-77
LibVulpes-1.10.2-0.2.7-7-universal

**What is the expected result?**
Space station skybox is generated. Stars + planet view

**What is the current result?**
Star skybox is generated but cannot see the 'p

[2018-02-18 05:44] #2014 closed, assigned to nobody

[2018-02-18 12:58] JoeSGT commented on #2013
https://gist.github.com/JoeSGT/0a74a82902c5bae45de2e108d59ab6ee
I'm not sure if i did it right. If i did do it wrong can be more specific on what config option because i kind of guess it xD

[2018-02-18 13:31] limbo-app opened #2015 "Blocks don't get dropped when being broken by Psi Guns / TiC Lumberaxe"
This issue was originally submitted by @mihionmc in [SpongePowered/SpongeCommon#1804](https://github.com/SpongePowered/SpongeCommon/issues/1804).
___
**I am currently running** FTB Direwolf20 B  FTBPresentsDirewolf20112-1.12.2-1.8.0-Server.zip

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2925
- SpongeVanilla version:
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
- Operat

[2018-02-18 16:02] phit commented on #2015
to quote @Krosta8

Another example with mod Tinker's Construct and Lumberaxe. When player use lumberaxe (like regular axe, but with ability to cut a whole tree) to cut a tree, tree just disappear without any drop (regular axe works).
I tried to every build from newest to oldest till working one. Last working build for this is 1.12.2-2611-7.1.0-BETA-2916.

[2018-02-18 16:35] Pythonic-Rainbow commented on #2015
I remember once I break a jungle log with TiC Lumberaxe, the block didnt break but stacks of logs flew around of the tree,it is a log generator lol and the server crashed

not quite related with this issue though XD

[2018-02-18 17:46] johnfriedrich commented on #2015
Happening since this common commit as far as I know
https://github.com/SpongePowered/SpongeCommon/commit/b847918855d05ad3c7563ff8f30592ffeb2cef6e

[2018-02-18 23:16] #2015 closed, assigned to bloodmc

[2018-02-18 23:30] Zidane commented on #2013
Looks like AdvancedRockery is loading chunks off the main thread.

@gabizou Don't think this is our issue

[2018-02-19 00:05] JoeSGT commented on #2013
if it's not sponge issue then
@zmaster587 mind taking a look please?

[2018-02-19 03:03] johnfriedrich opened #2016 "MinecartHopper crashing server since updating from 2916 to 2927"
**I am currently running**

- SpongeForge version: 2927
- Forge version: 2611

crashlog: https://pastebin.com/61LJGFnP

I guess thats the commit that breaks it:
https://github.com/SpongePowered/SpongeForge/commit/957a325dbdc2c4473b14f79462bb542f5e2db114

@Faithcaio

[2018-02-19 05:00] james58899 opened #2017 "Using a sword in creative mode will destroy the block"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2927
- Forge version: 14.23.2.2611
- Java version: 1.8.0_144
- Operating System: Linux

- Plugins/Mods: sponge only

**Issue Description**
Using a sword in creative mode will destroy the block
![minecraft-2018-02-19_12 41 44](https://user-images.githubusercontent.com/5798637/36363045-b776b8e6-1574-11e8-8f9d-296667ad8b64.gif)

[2018-02-19 06:54] #2016 closed, assigned to nobody

[2018-02-19 08:24] McJty commented on #1815
I may have found a solution on Lost City side. Working on it

[2018-02-19 08:47] ronaldburns commented on #1997
Still happening on 1.12.2-2611-7.1.0-BETA-2929
Do you mean API 8?

[code]

[2018-02-19 14:08] phit commented on #1997
no, 7.1.0 is the only stable version right now
thanks for testing again, I was just hoping this was fixed with https://github.com/SpongePowered/SpongeForge/issues/2010

[2018-02-19 14:18] phit commented on #518
I couldn't find any traces left of the code mentioned here in the current codebase, gonna close this as it was probably resolved a long time ago with one of the rewrites.

[2018-02-19 14:18] #518 closed

[2018-02-19 17:45] #2003 closed, assigned to nobody

[2018-02-19 18:17] phit commented on #2017
confirmed, doesn't even make a sound when you break a block with a sword equipped

[2018-02-19 18:33] QAngelusQ opened #2018 "Compact Machine 3 Dimensions : Mobs won't die"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2927
- Forge version: 1.12.2-14.23.2.2611
- Java version: 1.8.0_161
- Operating System: Windows 10

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AI Improvements, Actually Additions, Advanced Mortars, Animania, AppleCore, Applied Energistics 2, ArmoreableMobs, Art

[2018-02-19 18:57] ProsperCraft commented on #1999
Same problem on my end.

[2018-02-19 20:26] gabizou commented on #1997
Looks like I really do need to enter phase states for plugin listeners, much like how stack frames are creating for event listeners. I can write something for stable-7 which should work out fine.

[2018-02-19 21:00] phit commented on #1983
still can't reproduce this, have you tried this on a fresh world?

[2018-02-19 22:23] Sunconure11 commented on #1748
I'm noticing it still persists, at least, with the snow villagers from Ice and Fire. In addition, it extends to the travelling merchant from Primitive Mobs. It seems one cannot trade with either unless sponge is removed, either.

[2018-02-20 17:57] ProsperCraft opened #2019 "Placing a Signpost sign boots me from the server - ClassCastException: cofh"
**I am currently running**

- SpongeForge version:  spongeforge-1.12.2-2611-7.1.0-BETA-2933
- Forge version: forge-1.12.2-14.23.2.2618-universal
- Java version: openjdk version "1.8.0_161"
- Operating System: Centos 7 minimal install

- Plugins/Mods: Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, LuckPerms, MMCReboot, MagiBridge, Nations, Nucleus, PayDay, PwnFi

[2018-02-20 17:59] Eufranio commented on #2019
Looks like an issue with the mod. Does it happen without Sponge?

[2018-02-20 19:24] ProsperCraft commented on #2019
It does not happen without sponge, we have used them extensively as our only teleport on our forge only server for a month with no issues at all.

[2018-02-20 21:17] LordRalex commented on #2019
And if you remove sponge, it doesn't crash now?

This log points to a coding issue within the Sign mod, it somehow has a tile duct registered as it's own stuff and it's breaking there.

[2018-02-21 09:09] McJty commented on #1815
Should be fixed in 2.0.3. Untested

[2018-02-21 10:16] ryantheleach commented on #1815
@McJty Just curious, what was the fix?

[2018-02-21 10:19] McJty commented on #1815
Well the issue is that I need access to my chunk generator given a dimension ID. So I basically made a hashmap like this:

`Map<Integer, WeakReference<LostCityChunkGenerator>> cache;
`
So from that I can get the information I want without having to use a cast

[2018-02-21 15:59] johnfriedrich opened #2020 "Phase State NPEs with Quarry"
**I am currently running**
- SpongeForge version: 2931 (But also happens with 2911)
- Forge version: 2611

Modpack: Direwolf20 1.7.1

The tile has a weird owner: Owner: SpongeUser (But this might be right)
NPE's: https://pastebin.com/nUTFLbKk
junk startup: https://gist.github.com/i9hdkill/5dac1021ca66916e85426b0c2f0cf47b

It's ridiculously spamming:D

[2018-02-21 16:01] Eufranio commented on #2020
SpongeUser is the impl of User, I guess, on your case its assigned to `Deadlocz`

[2018-02-21 17:20] phit commented on #2020
use the search please

https://github.com/SpongePowered/SpongeForge/issues/1961#issuecomment-364134079

[2018-02-21 17:20] #2020 closed, assigned to nobody

[2018-02-21 19:28] ProsperCraft commented on #2019
This isssue is really odd. It comes and goes.

When the signs don't work and give the stacktrace in console, advancements don't get sent to chat either.

[2018-02-21 20:36] ghost commented on #1815
After a small fix for 2.0.3 it turns out to be working just fine

[2018-02-21 22:37] QAngelusQ commented on #2018
After more digging, this issue was caused by a mod "Scaling Health"

Not a direct sponge issue

[2018-02-21 22:37] #2018 closed, assigned to nobody

[2018-02-22 02:01] gabizou commented on #2018
Scaling Health mod? I'm curious what that mod is doing since sponge does some health scaling already.

[2018-02-22 02:30] QAngelusQ commented on #2018
Here you go!

https://github.com/SilentChaos512/ScalingHealth/issues/86

[2018-02-22 03:32] ShortCircuit908 opened #2021 "UserStorageService NPE"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2793
- Forge version: 12.18.3.2422
- Java version: 1.8
- Operating System: ubuntu 16.04.3 LTS

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, Not Enough Items, OpenComputers (Core), SpongeAPI, SpongeForge, CoFH ASM, FoamFixCore, ccl-entityhook, N

[2018-02-22 08:35] gabizou commented on #1989
Investigated into the issue a bit further with @RedNesto, discovered what I think to be a root issue with the mod itself and Sponge's tracking system.

To summarize the findings so far:
- Sponge tracks very well the block additions/removals when they are made
- Sponge does NOT track block removals, it plays back the block removals as soon as they are performed, which is considered playing physics

[2018-02-22 08:50] gabizou commented on #1989
@bloodmc @Zidane I went and committed a fix that I'm hoping will work, I tested it locally and it worked fine, but I'm not sure of the potential consequences.

[2018-02-22 09:37] phit commented on #1928
@Zidane update on that branch?

[2018-02-22 20:28] simon816 commented on #2021
The problem is that you're calling the service before the server has loaded.

From the logs we can see that the server is still in the initialization phase:
[code]

`UserDiscoverer` attempts to validate the server is available ([here](https://github.com/SpongePowered/SpongeCommon/blob/57702bf6baf492d72a0d4307d7eaef0434a7bfce/src/main/java/org/spongepowered/common/service/user/UserDiscoverer.java#L

[2018-02-23 04:25] ProsperCraft commented on #1324
AE2 nether quartz seeds which are never supposed to despawn are still despawning in spongeforge-1.12.2-2611-7.1.0-BETA-2934.jar

[2018-02-23 07:24] ryantheleach commented on #1324
The linked PR was merged into bleeding. It will end up in a Sponge release eventually, for now disable the entity activation module.

[2018-02-23 16:38] MJRLegends commented on #1429
@phit @ryantheleach any chance https://github.com/SpongePowered/SpongeForge/issues/1429 can be marked as 1.12.2 issue too please as someone has reported it for 1.12.2 here https://github.com/micdoodle8/Galacticraft/issues/3185

[2018-02-23 17:04] phit commented on #1429
make a new issue, that log is completely different from what was reported here

[2018-02-23 17:59] MJRLegends commented on #1429
Its the same issue :/

[2018-02-23 18:10] phit commented on #1429
It's the same issue as the one you've been having yes, but not the same one that this issue started with which was closed [a long time ago](https://github.com/SpongePowered/SpongeForge/issues/1429#event-1063199618). It is also not the same issue, as this was reopened with, which makes this whole issue thread now have 3 separate issues.

It's already way too long for anyone to remotely grasp what i

[2018-02-23 21:42] MJRLegends commented on #1429
@phit No problem i will do, i wasn't clear over
`make a new issue, that log is completely different from what was reported here`
but now you have explained it in details i totally agree thank you for your messages

[2018-02-24 12:52] CyberSpongie commented on #2013
Getting the same issue, odd i can't seem to find what the cause of it.

[2018-02-24 12:54] CyberSpongie commented on #1917
Omg this is why my server was lagging bad, thanks for reporting it, having the same issue, disabled redstone clocks and lag stop

[2018-02-24 14:51] kencinder commented on #1840
Same here

- spongeforge-1.12.2-2611-7.1.0-BETA-2931
- forge-1.12.2-14.23.2.2611
- OpenComputers-MC1.12.1-1.7.1.43
- Debian 9.3
- OpenJDK 1.8.0_151

[fml-server-latest.log](https://github.com/SpongePowered/SpongeForge/files/1754460/fml-server-latest.log)

[2018-02-24 19:02] gabizou commented on #2013
@Zidane appears to be correct. On a cursory glance at the error log, chunks are being loaded off thread. While I could do some thread checks on entrance and closures for the PhaseTracker, I'm not keen on it being fast enough to do that.

[2018-02-24 22:35] phit commented on #1817
~move to sc

[2018-02-24 22:35] limbo-app commented on #1817
Hey @simibubi! I've moved your issue to [SpongePowered/SpongeCommon#1815](https://github.com/SpongePowered/SpongeCommon/issues/1815).

[2018-02-24 22:35] #1817 closed, assigned to nobody

[2018-02-24 22:41] JoeSGT commented on #2013
So this is Not a sponge issue but a mod issue?
I though chunk that run off the main thread is fine cause of forge

[2018-02-24 23:07] MarkTwoFive commented on #1840
Confirmed
* forge-1.12.2-14.23.2.2619
* spongeforge-1.12.2-2611-7.1.0-BETA-2931
* OpenComputers-1.12.2-1.7.1.43
* Ubuntu 16.04.3 LTS (in docker container)
* Oracle-Java (build 1.8.0_161-b12)

https://gist.github.com/MarkL4YG/fec6a51ba3ca084789a0326f7396debd
(Just included one example)

[2018-02-25 03:18] JoeSGT opened #2022 "Sponge Crash when interactinginventorycloseed"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2939
- Forge version:  1.12.2-14.23.2.2615
- Java version:  8
- Operating System: linux

- Plugins/Mods:
it's in the crash report

**Issue Description**
I have no idea but my server is crashing unless
crash report: https://pastebin.com/bhMWHrCH

[2018-02-25 08:30] Faithcaio commented on #2022
fixed in latest

[2018-02-25 08:30] #2022 closed, assigned to nobody

[2018-02-25 11:35] MarkTwoFive commented on #1840
hmmm...
Added ``&& !transformedName.startsWith("scala")`` to [this statement](https://github.com/SpongePowered/Mixin/blob/master/src/launchwrapper/java/org/spongepowered/asm/mixin/transformer/Proxy.java#L71) and it seemed to fix the issue.
Patch included in the gist above.
I did ___not___ verify if that affects gameplay though. I just bodged around a little knowing not that much about mixins.

Oh

[2018-02-25 17:56] JoeSGT commented on #2013
@gabizou  https://gist.github.com/JoeSGT/1b87232565ad9024b4a3cb9d4611faed
my logs got to 5GB and had to force shut my server down because of it
are you sure it's not a sponge issue?

[2018-02-25 18:34] samolego commented on #1983
I have, it was solved. I guess it was the advancements pack that I've installed.

[2018-02-25 18:34] samolego commented on #1983
I have, it was solved. I guess it was tge advancements pack that I've installed.

[2018-02-25 18:34] #1983 closed, assigned to nobody

[2018-02-25 20:46] ProsperCraft opened #2023 "Server crash - CME- org.spongepowered.common.event.tracking.PhaseStack.forEach"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2940.jar
- Forge version: forge-1.12.2-14.23.2.2619-universal.jar
- Java version: openjdk version "1.8.0_161"
- Operating System: Centos 7

- Plugins/Mods:
[13:33:44] [Server thread/INFO]: Plugins (14): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, LuckPerms, MMCReboot, MagiBridge, Nations

[2018-02-25 21:05] ProsperCraft commented on #2023
Here is a big stacktrace from console before it happened again-

https://gist.github.com/ProsperCraft/d33ff6ac88aa8d91df094397ef54435f
Server crash  log -
https://paste.fedoraproject.org/paste/M4v0s0mXA9uC-MYmLkAdoQ

[2018-02-25 21:06] ProsperCraft commented on #2023
This may be related -

http://millenaire.org/forum/viewtopic.php?f=12&t=1316&p=6738#p6738

[2018-02-25 22:52] Zidane commented on #2023
Closing as this isn't a Sponge issue, contact your mod authors and ask them to stop loading chunks off the main thread (millenaire in this case).

[2018-02-25 22:52] #2023 closed, assigned to nobody

[2018-02-26 04:21] ryantheleach commented on #1983
@samolego in future, if you have a crash relating to X and you have an X Pack installed, providing X would help a ton.

In this case, if you want us to be able to reproduce, providing the Advancement pack would have allowed us to investigate.

How was it solved? Was it a workaround because we are doing something wrong still? Or was the advancement pack invalid on vanilla as well?

[2018-02-26 05:46] ProsperCraft opened #2024 "Futurepack Ships can't fly(teleport) pilot gets kicked, ship stays."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2944
- Forge version: forge-1.12.2-14.23.2.2619-universal
- Java version: openjdk version "1.8.0_161"
- Operating System: Centos 7

- Plugins/Mods:
Plugins (14): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, LuckPerms, MMCReboot, MagiBridge, Nations, Nucleus, PayDay, PwnFilter Sponge Plugi

[2018-02-26 05:57] samolego commented on #1983
Yeah, I am really sorry, I remembered that 2 days ago when I was thinking if I have installed any custom packs...

[2018-02-26 06:05] samolego commented on #1983
I didn't try it in vanilla, so I actually don't know if this is SF problem or not.

I am sorry, I cannot find the advancement pack that I've been using anymore ... If a find it, I will comment.

Thanks for all the help. I really appreciate it!

 And sorry for all the work you (and team) have done.

[2018-02-26 06:14] Zidane commented on #2024
@ProsperCraft

https://gist.github.com/ProsperCraft/bb6c015cd22abab4733d567f004ee95f#file-gistfile1-txt-L199

[FPPacketHandler$MessageRe                             */
questTerrain.class:?]

Not a Sponge issue, they are doing stuff off the main thread they shouldn't be. Just because it works in Forge doesn't mean its not wrong.

@gabizou Fix the printout of these logs, this is awful...

[2018-02-26 06:14] #2024 closed, assigned to nobody

[2018-02-26 06:58] SawFowl commented on #1989
I noticed a similar bug in this [mod](https://minecraft.curseforge.com/projects/giacomos-foundry?gameCategorySlug=mc-mods&projectID=231254).
When the block is destroyed, 2 items are dropped instead of one.

[2018-02-26 12:51] mcenderdragon commented on #2024
Why is calling "getBlockState" wrong outside the main thread ?

[2018-02-26 12:57] me4502 commented on #2024
Block data isn’t stored in a thread safe manner. Grabbing that data on another thread means you could be grabbing it whilst it’s being modified.

[2018-02-26 13:06] mcenderdragon commented on #2024
Ok, has sponge fixed the Problem with the sheduled tasks for servers? The last time it crashed because it executed to many tasks at once.

[2018-02-26 20:59] gabizou commented on #2013
@JoeSGT Sponge is emitting errors because things are being called off thread. Yes, sponge is bringing it up as an issue, but sponge is not *causing* the issue that stuff is being done off thread. It's also not helping that the error log is reformatted from what it's supposed to look like (spacing is all over the place), did you copy it from a log file or from console?

[2018-02-26 22:09] JoeSGT commented on #2013
Oops i did copy straight out of the console, my console have double space because of the Daemon but i have took the time to reformat it for you
https://gist.github.com/JoeSGT/1b87232565ad9024b4a3cb9d4611faed

If it indeed a mod issue should i go report it over to them ?

[2018-02-27 20:27] waggz81 opened #2025 "Unexpected spawn location using modded portals"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2918 works as expected, issue starts occurring with 2920, verified still an issue with 2931 and 2944
- Forge version: forge-1.12.2-14.23.2.2623-universal.jar
- Java version: java-1.8.0-openjdk-1.8.0.161-0.b14.el7_4.x86_64
- Operating System: CentOS Linux release 7.4.1708 (Core)

- Plugins/Mods:

[14:01:33] [Serve

[2018-02-27 23:16] gabizou commented on #2013
The rest of the log from two days ago though is not well formatted, the phase tracker bit at the top is not making as much sense as possibly the lower bits of the log.

[2018-02-28 00:35] JoeSGT commented on #2013
Sorry Gabizou but this happen so random, at a point my logs was over 5GB i had to get rid of it
i don't know how to reduce it, but do you have any idea on what it could be so i can try to reduce the issue and give you more information

[2018-02-28 02:30] JoeSGT opened #2026 "Random crash from Monolith from Dark-Utilities"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2933
- Forge version: 1.12.2-14.23.2.2615
- Java version:  8
- Operating System: linux

- Plugins/Mods:
in the crash report lol

**Issue Description**
basically having this random crash and here is more information from the developer
https://pastebin.com/cWjpwevv
https://github.com/Darkhax-Minecraft/Dark-Utilities/issues/139

[2018-02-28 07:53] #1989 closed, assigned to gabizou

[2018-02-28 14:17] xxlio109 opened #2027 "crash-reports"
- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2793
- Forge version:  Forge-1.10.2-12.18.3.2511
- Java version:    JAVA8
- Operating System:  centos

- Plugins/Mods:
Baubles-1.10.2-1.3.13
Botania r1.9-341
BloodMagic-1.10.2-2.1.11-80
Guide-API-1.10.2-2.0.3-46
ironchest-1.10.2-7.0.15.804
JurassiCraft-2.1.3-Fix
llibrary-1.7.7-1.10.2
Mantle-1.10.2-1.1.5
mysticalagriculture-1.10.2-1.5.10
SlashBlade-mc1.

[2018-02-28 14:23] phit commented on #2027
**1.10.2 and 1.11.2 are not longer supported, as of January 2018.** If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue with SpongeForge on Minecraft 1.12.2 and this issue was wrongly closed, please

[2018-02-28 14:23] #2027 closed, assigned to nobody

[2018-02-28 16:42] JoeSGT opened #2028 "unable to use Holo-projector from libvupes"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2946
- Forge version: 1.12.2-14.23.1.2606-universal
- Java version: 8
- Operating System: windows

- Plugins/Mods:
LibVulpes-1.12.2-0.2.8-27
AdvancedRocketry-1.12.2-1.2.6-54

**Issue Description**
Holo-Projector is an item from LibVulpes use for AdvancedRocketry to have a holographic look of a ghost blocks to give us more of

[2018-02-28 17:09] SquidDev opened #2029 "Forge's TileEntity timing system does not work"
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2940
- Forge version: 1.12.2-14.23.2.2613
- Java version: 1.8.0_151-b12
- Operating System: Windows

I've mentioned this on the discord, but felt it would probably be better to create an issue too:

Forge adds the `/forge track state te` command, which times how long each tile entity (and entity) takes to tick, reporting the slowest ones. When using Sp

[2018-02-28 22:14] gabizou commented on #2029
~move to sc

[2018-02-28 22:14] limbo-app commented on #2029
Hey @SquidDev! I've moved your issue to [SpongePowered/SpongeCommon#1823](https://github.com/SpongePowered/SpongeCommon/issues/1823).

[2018-02-28 22:14] #2029 closed, assigned to nobody

[2018-02-28 22:26] Spontini opened #2030 "Mods not working"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2946
- Forge version: 14.23.2.2618
- Java version: Java 8 Update 161 64bit
- Operating System: Ubuntu Server 17.10 "Artful Aardvark".

- Plugins/Mods: FTB Revelation v1.6
-Plugins
+AIImprovements-1.12-0.0.1b3
+Born+In+A+Barn+V1.8-1.12-1.0
+BuycraftX
+CatClearLag-0.8.1
+crazyfeet-sponge-Api-7-1.14
+incontrol-1.12-3.7.1
+LuckP

[2018-03-01 00:31] gabizou commented on #2030
So what block do I need to place down to verify the RF generation isn’t working as it should? Is it as simple as setting up a generator and connecting to something like an MFE from IC2?

[2018-03-01 16:06] phit commented on #1940
can't reproduce this with `DankNull-1.12-1.4.33` and `spongeforge-1.12.2-2611-7.1.0-BETA-2942.jar`
can you confirm this is fixed @tolly7654

[2018-03-01 16:24] Mohron commented on #1940
In my testing, this has been fixed (not the original reporter but I subscribed due to having this issue as well).

[2018-03-01 16:25] phit commented on #1940
good enough, please reply if it pops up again

[2018-03-01 16:25] #1940 closed, assigned to nobody

[2018-03-01 16:27] tolly765 commented on #1940
Can confirm, this has been fixed.

[2018-03-01 17:28] ProsperCraft commented on #2030
Screenshots can be helpful.

[2018-03-01 17:28] ProsperCraft commented on #2030
Is boostrap still required in 1.12.2? I thought AE2 was fixed.

[2018-03-01 17:56] ProsperCraft commented on #2025
We are having this same problem with the Caverns portals.

People keep getting killed by ending up inside the ground.

[2018-03-01 18:01] ProsperCraft opened #2031 "Console error - Error while creating CraftingInventoryLensImpl for brad16840.common.ContainerStack"
**I am currently running**
- SpongeForge version: SpongeForge: 1.12.2-2611-7.1.0-BETA-2944
- Forge version: forge-1.12.2-14.23.2.2619-universal.jar
- Java version: openjdk version "1.8.0_161"
- Operating System:Centos 7

- Plugins/Mods:
Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, LuckPerms, MMCReboot, MMCRestrict, MagiBridge, Nations, Nucleus, PayDay, PwnFil

[2018-03-01 19:05] Faithcaio commented on #2031
This error wont affect gameplay. But Sponge will not be able to provide the CraftingInventory for that Container.

[2018-03-01 23:08] mcenderdragon commented on #1999
I often use addSheduled task to get/set BLockstates of the world from other threads, so please keep that in mind to prevent something like #2024

[2018-03-01 23:14] ProsperCraft opened #2032 "Bad issues after updating to spongeforge 2946 - graves without ownership, multiblocks not breaking properly."
**I am currently running**
- Forge version: forge-1.12.2-14.23.2.2623-universal.jar

**Issue Description**
After updating to 2946 Tomb Many Graves would spawn with the owner of the mods name, and Immersive multiblocks would not break properly and drop.

Reverting to 2944 removed that problem.

https://github.com/M4thG33k/TombManyGraves2/issues/30

[2018-03-02 09:37] Whazaaaaa commented on #2032
Would like to add to this that items such as universal cables higher tiers when placed down will become the default basic tier.
And crates/chests that keep their inventory when broken do not keep the items anymore in 2946.
No problem in 2944 as Prosper said aswell.

[2018-03-02 09:42] Whazaaaaa commented on #1972
I know this is an odd issue and I'm probably the only one who has had it for now. But I am still having this issue on 2944/2946. Anything I can do? Its probably some chisel block somewhere that went wrong and Sponge doesnt know how to handle. But I have no way of finding it :(

[2018-03-02 19:51] ghost opened #2033 "Sponge and Carry On+ on forge crash when interacting with chest"
https://gist.github.com/ternsip/68ba1de78f56ff792c15702bc80ea72f
Sponge and Carry On+ on forge crash when interacting with chest
I'm trying to pick chest with arms and sponge crushes

[2018-03-02 20:26] XakepSDK commented on #2033
[code]
Not a sponge issue.

[2018-03-02 21:45] #2033 closed, assigned to nobody

[2018-03-02 21:46] phit commented on #2033
As said above, not a Sponge issue.

[2018-03-03 00:43] Lemmmy commented on #2032
ComputerCraft monitors are also facing only one direction when being placed.

[2018-03-03 02:18] #2030 closed, assigned to nobody

[2018-03-03 02:18] #2032 closed, assigned to nobody

[2018-03-03 04:58] JoeSGT commented on #2026
Going to close this as this issue is clearly not a sponge issue

[2018-03-03 04:58] #2026 closed, assigned to nobody

[2018-03-03 09:46] SquidDev commented on #2028
Is this also fixed by SpongePowered/SpongeCommon@2da3a726695a43137376f6e848d8a0acd87a892c? I know it's fixed similar issues I've had.

[2018-03-03 09:51] JoeSGT commented on #2028
yeap tested it's fixed :D

[2018-03-03 09:51] #2028 closed, assigned to nobody

[2018-03-03 13:01] Lemmmy opened #2034 "Some turtle events being fired as wrong user"
Moved from https://github.com/MinecraftPortCentral/GriefPrevention/issues/610. On this server, turtles have a 100% chance of duping (+ their inventories) if they are moving up and a player is jumping on top of them. We have been able to reproduce the underlying issue on a fresh server this time.

**Update:** This is still an issue on SpongeForge 2951, and GriefPrevention 559.

# Production server

[2018-03-03 13:47] SquidDev commented on #2034
I've done some experimentation and found a different issue which I think stems from the same issue (namely jumping on turtles).

### Reproduction steps
 1. Setup LP and GP as normal.
 2. Log in as two separate players.
 3. Create a claim with Player 1 and place a turtle inside.
 4. Insert a stack of items in the inventory and run `turtle.place()` to place a block. Note the block is placed. Destroy

[2018-03-03 14:56] Lemmmy commented on #2034
The underlying bug can be reproduced with pistons. While I have not managed to get it to dupe the block being moved by the piston, I have managed to get it to disable the piston entirely.

### Reproduction steps

1. Place a sticky piston with a block on top as TEST_USER.
![](https://shitty.download/UVDK.png)
2. Connect the repeater to a redstone clock. I used ComputerCraft ([code])(https://gist.gi

[2018-03-03 16:20] bloodmc commented on #2034
Ended up being GP issue. Fixed in commit
https://github.com/MinecraftPortCentral/GriefPrevention/commit/6e57991c02df71b9f63ecc4e696d3a4fd613b0f7

[2018-03-03 16:20] #2034 closed, assigned to nobody

[2018-03-03 19:50] bloodmc commented on #2034
It turns out there was also a related sponge bug which has been fixed =).

[2018-03-04 04:21] JoeSGT commented on #1840
Still an issue
- SpongeForge: .12.2-2611-7.1.0-BETA-2953
- Forge: 1.12.2-14.23.2.2624
- OpenComputers: MC1.12.2-1.7.1.63

**LOGS**
Fml-server-latest.log:
[fml-server-latest.log](https://github.com/SpongePowered/SpongeForge/files/1778187/fml-server-latest.log)
fml-junk-earlystartup.log:
[fml-junk-earlystartup.log](https://github.com/SpongePowered/SpongeForge/files/1778189/fml-junk-earlystartup.log)

[2018-03-04 14:21] JamesMC100 commented on #1840
Please fix this @gabizou  or @bloodmc i am having this same issue it's really annoying!

[2018-03-04 14:54] zedwick opened #2035 "getVelocity returns incorrectly when player is in boat"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2931
- Forge version: forge-1.12.2-14.23.2.2611
- Java version: 1.8.0_131
- Operating System: Mac OS X

When a player is in a boat, Player.getVelocity() and Player.getVehicle().get().getVelocity() both return (0.0, 0.0, 0.0) instead of their actual velocity.

[2018-03-04 17:58] MarkTwoFive commented on #1840
@JamesMC100 I've mentioned a work-around. Try that for the time being.

[2018-03-05 03:49] bloodmc commented on #2005
@ProsperCraft Can this be reproduced on latest SF? I fixed a recent issue that caused TE's to be created with SpongeBlockSnapshot's.

[2018-03-05 05:44] ProsperCraft commented on #2005
I am now unable to reproduce, good work :)

[2018-03-05 05:44] #2005 closed, assigned to nobody

[2018-03-05 15:40] bloodmc commented on #2005
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/dae4226283882e83d19a55ceaae9156486859720

[2018-03-05 17:39] MrSkittlesROTR opened #2036 "clay soldiers mod, player disconnecting and server hang."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2953
- Forge version: forge-1.12.2-14.23.2.2613-universal
- Java version: 8
- Operating System: Windows server 2012 R2

Mods:
- Plugins/Mods: AntiXray-1.2.3
bdlib-1.14.3.12-mc1.12.2
CodeChickenLib-1.12.2-3.1.5.331-universal
CoFHCore-1.12.2-4.3.10.5-universal
CoFHWorld-1.12.2-1.1.1.12-universal
CraftTweaker2-1.12-

[2018-03-05 22:13] Zidane commented on #1999
@Mordna

You code sample is incorrect. We redirect callable.call so we are inside the:

[code]

[2018-03-05 22:26] liach commented on #1999
@Mordna Does this still happen in futurepack 26.3.123? The related code changed.

[2018-03-06 01:24] bloodmc commented on #2036
@MrSkittlesROTR Remove ALL plugins and mods except ClaySoldiers and then provide a log. Make sure you do this with a FRESH world.

[2018-03-06 03:52] LuminescentMoon opened #2037 "Server crashes immediately when player enters Twilight Forest portal with OTG"
**I am currently running**

- SpongeForge version: 2953 (also tested with recent previous version)
- Forge version: 2611 (also tested with a few newer versions)
- Java version: 1.8.0_161, Oracle Corporation
- Operating System: Windows 10 Pro 1709 x64

- Plugins/Mods: SpongeForge, Open Terrain Generator, The Twilight Forest

**Issue Description**
Server crashes immediately when a player enters a [T

[2018-03-06 09:59] Mordna commented on #1999
@liach It does not happen in 26.3.152.
Is it normal that typing just 'sponge' in the server command line results in:
`Invalid subcommand state -- no more than one mapping may be provided for child arg child0`
while typing 'sponge foo' displays valid subcommands?
Using forge-2611, sponge 2953, 1.12.2

@Zidane I am sorry, I only thought of going backwards and tested the behavior against forge, but i

[2018-03-06 09:59] #1999 closed, assigned to nobody

[2018-03-07 16:38] ProsperCraft commented on #2031
I found how to reproduce it, you install this mod-
https://minecraft.curseforge.com/projects/minetweaker-recipemaker

Then type /mtrm

Then you get this - https://gist.github.com/ProsperCraft/b8855967ca5e60a55c44cf8e15dab64c

[2018-03-07 17:17] Faithcaio commented on #2031
Did not think that a crafting inventory without output makes sense. But here it is...

[2018-03-08 07:40] ghost opened #2038 "Recurent crash Structpro + sponge forge"
- Docker: docker container openjdk:8u151-alpine
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2953.jar
- Forge version: forge-1.12.2-14.23.2.2611-universal.jar
- Java version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (IcedTea 3.6.0) (Alpine 8.151.12-r0)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System:
Linux v22018025835161770 4.9.0-6-amd64 #1 S

[2018-03-08 09:35] bloodmc commented on #2038
Completely ignored our issue template. Closing until you can learn to follow our instructions.

[2018-03-08 09:36] bloodmc commented on #2036
@MrSkittlesROTR I will be closing this if you do not respond by tomorrow.

[2018-03-08 09:37] bloodmc commented on #2037
Does TerrainControl have this issue?

http://build.mctcp.com/job/TerrainControl%20-%20Master%20-%20Gradle/default/lastStableBuild/artifact/platforms/forge/build/distributions/terraincontrol-forge-2.8.3-SNAPSHOT.jar

[2018-03-08 10:53] ghost commented on #2038
I fixed the description. If it drawn up correct - can you please reopen issue. I want to figure out what goes improper way. Sorry for skipping the template stage.

[2018-03-08 15:34] D3nnis3n opened #2039 "QuackLib Issue with SpongeForge"
**I am currently running**

- SpongeForge version: 2953
- Forge version: 2624
- Operating System: Linux

I'll just link you over to the issue i made on the mod authors issue tracker. If you need special information, please tell me which, i lately had no access to the server.

https://github.com/therealfarfetchd/QuackLib/issues/1#issuecomment-371522217

[2018-03-08 15:47] dblsaiko commented on #2039
To sum up the issue: I'm reflecting into my other mods' classes using the Kotlin reflection API. The function/property of the reflection API that I call is never supposed to throw an exception (either return an object or null), but with Sponge installed it does throw an exception. [This](https://github.com/therealfarfetchd/QuackLib/blob/1.12/src/main/kotlin/therealfarfetchd/quacklib/common/api/uti

[2018-03-08 18:50] 3TUSK commented on #2025
I am experiencing the same issue when entering Twilight Forest with the following setup:
* MinecraftForge 1.12.2-14.23.2.2624
* Twilight Forest 1.12.2-3.6.364
* SpongeForge 1.12.2-2611-7.1.0-BETA-2931 (or 1.12.2-2611-7.1.0-BETA-2920; 1.12.2-2611-7.1.0-BETA-2918 does not have this issue)
* macOS High Sierra 10.13.3
* Java(TM) SE Runtime Environment (build 1.8.0_144-b01)

Entering twilight forest wi

[2018-03-09 14:50] ghost opened #2040 "When I start SpongeForge, the server STOPS."
I am currently running:
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2790
I tried too with the new version and it's the same error (2793)
- Forge version: 1.10.2-forge1.10.2-12.18.3.2477
- Java version: Java 8 161 (64-bit)
- Operating System: Windows 8.1

- Plugins/Mods: CatClearLag-0.8, EasyScoreboards, flexiblelogin-0.16.8, spongeapi-5.1.0-shaded.

The issue (crash) it's this:
When

[2018-03-09 14:53] RedNesto commented on #2040
It seems Pokestop tries to do client stuff on the server, have you tried without it ?

[2018-03-09 15:04] #2040 closed, assigned to nobody

[2018-03-09 15:04] phit commented on #2040
As RedNesto said, not a Sponge issue.

[2018-03-09 22:12] flamechair opened #2041 "PhaseTracker StackTrace with RFTools Dimension"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2953
- Forge version:  14.23.2.2611
- Java version: java version "1.8.0_161"
- Operating System: Hosted server

- Mods (61): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AbyssalCraft, AbyssalCraft Integration, Aroma1997Core, AromaBackup, AromaBackuprecovery, AutoRegLib, Baubles,

[2018-03-09 22:32] lucasman123 opened #2042 "Extra utilities 2 quantum quarry throwing an nullpointerexception"
**I am currently running**

- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2905
- Forge version: 14.23.1.2587
- Java version: 1.8.0_101
- Operating System: Windows 7 pro

- Plugins/Mods:
Mods (136): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI,SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied Energistics 2, Aroma1997'

[2018-03-09 23:01] phit commented on #2042
https://github.com/SpongePowered/SpongeForge/issues/1961#issuecomment-364134079

---
if this doesn't resolve it please add your `fml-junk-earlystartup.log`

[2018-03-09 23:01] #2042 closed, assigned to nobody

[2018-03-10 14:31] #2036 closed, assigned to nobody

[2018-03-10 22:53] liach commented on #2025
@3TUSK You are for sure wrong. That commit only exists on the bleeding branch while you test with a stable-7 build.

[2018-03-10 23:01] phit commented on #2025
@liach https://github.com/SpongePowered/SpongeCommon/commit/38fdfdcb9bc631ade7175bdec72d2198a798044b no?

[2018-03-10 23:59] liach commented on #2025
Oh. that's a cherry pick, so that first commit isn't shown to be on stable 7

[2018-03-11 00:01] rubensworks opened #2043 "Item duping with Integrated Dynamics"
*Note: this issue was originally reported by @xILikepuddingx in CyclopsMC/IntegratedDynamics#560, so if additional information is required, @xILikepuddingx will be able to help*

**I am currently running**
- SpongeForge version: v1.12.2-2611-7.1.0-BETA-2931
- Forge version: 14.23.2.2619
- Java version: 1.8 (?)
- Operating System: ?

- Plugins/Mods:
Unknown

**Issue Description**

When SpongeForge

[2018-03-11 01:05] Rasmun opened #2044 "Server crash when any player enters Nether"
**I am currently running**
- SpongeForge version: 2.4.77-5.2.0-BETA-2793
- Forge version: 2.4.77
- Java version: 8 Update 161 for 64bit
- Operating System:  Windows 2012

**Plugins/Mods:**
The only things installed are SkyFactory 3 and SpongeForge.  Below is the list from '/sponge plugins'

[18:35:14] [Server thread/INFO]: Plugins (186): Minecraft, Minecraft Coder Pack,
 Forge Mod Loader, Minecraf

[2018-03-11 01:24] LXGaming commented on #2044
Sponge no longer supports 1.10.2, This is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1662

Downgrade Sponge to the following version: [SpongeForge-1.10.2-2477-5.2.0-BETA-2788](https://repo.spongepowered.org/maven/org/spongepowered/spongeforge/1.10.2-2477-5.2.0-BETA-2788/spongeforge-1.10.2-2477-5.2.0-BETA-2788.jar)

[2018-03-11 02:42] Dockter opened #2045 "SpongeForge conflict with MorePlayerModels?"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2955
- MorePlayerModels version: MorePlayerModels_1.12.2(18jan18)

Client side error:  https://gist.github.com/Dockter/c52c7c881d17155cd6fea9afecece496