[2018-05-29 18:51] phit commented on #2180
get us a proper full log, this means nothing without context
but due to the classcasting errors it seems most likely that you have some form of world corruption

please upload your full `logs/debug.log` and `config/sponge/global.conf` to https://gist.github.com/
then link them here

[2018-05-29 19:31] DatenThielt commented on #2180
https://gist.github.com/DatenThielt/c016bf374d560b6b6a782b11e0323677 global.conf
https://gist.github.com/DatenThielt/83477324911e4e92fe9229ebdd1d5ccc latest.log

The debug.log is to big for Gist,  (Or I am getting a 405, Not Allowed) so I have uploaded it to my Mega
https://mega.nz/#!qPoQhIpA!-8vwugORFEgyqkNUDpdkZ8cZKKv9Lap_T3jsvcGQgQg

[2018-05-29 20:21] phit commented on #2180
https://gist.github.com/DatenThielt/c016bf374d560b6b6a782b11e0323677#file-global-conf-L1378
`deny-chunk-requests=true`

dont even have to look at the rest, set that config to false and roll the world back to a working backup

https://github.com/SpongePowered/SpongeForge/issues/2003
https://github.com/SpongePowered/SpongeForge/issues/2128
https://github.com/SpongePowered/SpongeForge/issues/2135

[2018-05-29 20:21] #2180 closed, assigned to nobody

[2018-05-29 20:40] DatenThielt commented on #2180
So we disabled it,  The world itself is fine and has never corrupted,  This is a bit more informative by the looks of it

![screenshot_67](https://user-images.githubusercontent.com/4466326/40684255-350f9ace-6391-11e8-93ff-4a6008eda1e9.png)

[2018-05-29 20:47] phit opened #2181 "EnderIO farming station incompatibility"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3126
- Forge version: 14.23.4.2705

- Plugins/Mods:
EnderCore-1.12.2-0.5.22.jar
EnderIO-1.12.2-5.0.22.jar

**Issue Description**
https://gist.github.com/phit/83a9b4f1eab359ad5f1fa076f71584f4

[2018-05-29 20:49] phit commented on #2180
I opened a new issue for that here https://github.com/SpongePowered/SpongeForge/issues/2181
this issue has too many unrelated logs, that will just mislead devs trying to fix it

[2018-05-29 22:15] FiveEYZ commented on #2173
tried the latest build and no more exceptions when closing the server
galacticraft also seem to be able to unregister its own dimension just fine now.

[code]

thx for the fix

[2018-05-29 22:15] #2173 closed, assigned to nobody

[2018-05-29 22:59] #2181 closed, assigned to nobody

[2018-05-30 03:04] phit opened #2183 "Advanced Rocketry crash, on rocket launch"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3134.jar
- Forge version: 14.23.1.2554

- Plugins/Mods: AdvancedRocketry-1.12.2-1.4.0-80.jar

**Issue Description**
can provide test world tomorrow, just writing this before i lay down
but basically launch a rocket and see the server crash with this

https://gist.github.com/phit/b7d6ab919011a1f73226d51779889f3e

[2018-05-30 15:01] Tototi1 opened #2184 "Error when I dying"
**I am currently running**

- SpongeForge version: 2705-7.1.0-BETA-3135
- Forge version: 14.23.4.2705
- Java version: java 8 - 64bits
- Operating System: linux

- Plugins/Mods: ctgui@1.0.0,extendedrenderer@v1.0,creativecoredummy@1.0.0,configmod@v1.0,jei@4.9.1.188,attributefix@1.0.1,mtrm@1.2.2.30,custommainmenu@2.0.8,nei@2.4.1,contenttweaker@1.12.2-4.5.0,schematics@1.12.2.4,redstonepaste@1.7.5,subc

[2018-05-30 15:12] XakepSDK commented on #2184
Pleaseusegisttopostanylogbecauseitsimpossibletoreadthislogwhileitisntproperlyformatted. Thank you.
(Please use gist to post any log because its impossible to read this log while it isn't properly formatted)

[2018-05-30 15:24] Tototi1 commented on #2184
I use git, just small code is here.

[2018-05-30 15:24] gabizou commented on #2184
Is it possible to get a reduced mod list to replicate the issue? Or is it just a one off thing that happened once?

Also saying "I died" isn't enough. Did you have any armor on? Items in your inventory? Killed by what (looks like a zombie attacked you)? What did the entity that killed you have equipped?

[2018-05-30 15:28] Tototi1 commented on #2184
I think you can use just "scaling healt", "corpse complex" and "player revive". It must be they only ones affecting death.
It happens at every death, i don't have anything and no matter how I die

[2018-05-30 15:34] #2183 closed, assigned to nobody

[2018-05-30 17:03] DeadlyGamer1 commented on #2129
Having the same issue

[2018-05-30 20:49] FC-Creations opened #2185 "Unable to move or do anything when entering a portal"
**I am currently running**

- SpongeForge version: 3135
- Forge version: 2669
- Java version: 8
- Operating System: ubuntu

- Plugins/Mods: https://minecraft.curseforge.com/projects/natures-beauty/relations/dependencies
(I don't have sponge installed anymore due to the issues, so I couldn't run that command, figured it would be easier to drop the link to the mod pack, I have no other mods installe

[2018-05-31 09:31] Anguriaboy opened #2186 "spongeforge Report errors"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 8
- Operating System:win

**Issue Description**
I don't know why the backstage has been Report errors。
![qt z4y9m0z4 do5 8 xdp9a](https://user-images.githubusercontent.com/39192846/40774529-6815a02c-64f8-11e8-9c32-3d3ac8d3e10b.png)
![35 h bwsp83nwc6d 25

[2018-05-31 09:37] XakepSDK commented on #2186
![a](https://user-images.githubusercontent.com/4938483/40774923-a6cfb79a-64e8-11e8-8346-98794a23fbd7.jpg)

[2018-05-31 10:54] Aaron1011 commented on #2186
@Anguriaboy Can you please upload your log to Pastebin?

[2018-05-31 11:40] Anguriaboy commented on #2186
This problem does not happen sometimes. Sometimes it appears, but it doesn't matter much.

[2018-05-31 12:12] Aaron1011 commented on #2186
@Anguriaboy: If you want us to be able to help you, please upload the actual text of the logs to a site like Pastebin. Screenshots of the logs aren't very useful.

[2018-05-31 12:58] Anguriaboy commented on #2186
No problem for the time being, thank you. If there is a problem, I will keep in touch with you

[2018-05-31 12:58] #2186 closed, assigned to nobody

[2018-05-31 13:47] JoeSGT commented on #2129
@bloodmc  i had enabled unload/load chunks log and i saw this
[latest.log](https://github.com/SpongePowered/SpongeForge/files/2058441/latest.log)
[debug.log](https://github.com/SpongePowered/SpongeForge/files/2058442/debug.log)
That a lot of unload/loading then i went to the world dim. and to the cords most of them were nothing there just a void for Advanced Rocketry space, it seem Sponge is unloa

[2018-05-31 14:01] JoeSGT commented on #2179
Bloodmc in the recent forge they took out fml-* logs and replace them with `latest.log` and `debug.log`

[2018-05-31 16:53] Sir-Will opened #2187 "General Performance"
I did run a profiling with 29 players online and found few sponge methods which decrease the performance slightly. I thought to share them so a few of those methods can maybe be improved.

spongeforge-1.12.2-2705-7.1.0-BETA-3126
forge-1.12.2-14.23.4.2705-universal

![](https://i.imgur.com/hFHnWW6.jpg)
![](https://i.imgur.com/y9Bi2jD.jpg)
![](https://i.imgur.com/gSdhZZD.jpg)
![](https://i.imgur.com

[2018-05-31 20:22] phit commented on #2172
was fixed by the mod https://github.com/iLexiconn/LLibrary/issues/73
https://github.com/gegy1000/LLibraryCore/commit/b0b506385d626d1e4e6a0cbd955134cd56d867bf

[2018-05-31 20:22] #2172 closed, assigned to Aaron1011

[2018-06-01 00:10] EverNife opened #2188 "HarvestDropsEvent Exception"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3126.jar
- Forge version: 2705
- Java version: 8
- Operating System: Linux  - version: 4.9.87-xxxx-std-ipv6-64

Plugins (25): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BetterKits, CatClearLag, EverNifeCoreSpongy, FlexibleLogin, GriefPrevention, Holograms, HuskyCrates, HuskyUI,

[2018-06-01 00:13] phit commented on #2188
was already fixed https://github.com/SpongePowered/SpongeForge/issues/2181, update to latest

[2018-06-01 00:13] #2188 closed, assigned to nobody

[2018-06-01 01:35] JoeSGT commented on #1912
@gabizou  this issue is still not fix in SpongeForge 7.1.0-BETA-3136 in fact it don't even say capture mob in chat when attempting to capture the ender dragon. When i attempt to capture the ender dragon in singleplayer it works just fine without SpongeForge.

[2018-06-01 15:13] JoeSGT commented on #2129
I look into a bit more in detail and it seem it's AE2 mod that causing chunks to unload/load here is what i had found https://pastebin.com/raw/JFjHinLg i had made an issue on there https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/3524 if anyone else had this issue so going to close this issue

[2018-06-01 15:17] gabizou commented on #2187
Reviewing all these profiling, none of them can be altered for the sake of performance as they are already optimized as best as possible and a majority of the hot code is not specifically sponge's code (guava caching is already the fastest caching, Mojang's auth lib is already it's own set of code, and HashMap is already the fastest map implementation in Java, and in the first image, you have a pe

[2018-06-01 15:17] #2187 closed, assigned to nobody

[2018-06-01 15:51] JoeSGT commented on #2129
https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/3524 i will reopen this issue because the Developer said ` there is something seriously broken in sponge when they tick unloaded chunks.`

[2018-06-01 16:05] CyberSpongie commented on #2129
I am also having this issue here is what i had found i hope this helps  i also did sampler https://pastebin.com/raw/TrdPxnyR and use Sponge Logging https://pastebin.com/raw/zwAG665C

My server TPS is at 1-10 when i take out Spongeforge i get 18-20 TPS

[2018-06-01 16:50] JoeSGT commented on #2129
I had also removed spongeforge for a test and installed Sampler once SpongeForge was out then i did do `/sampler loads show` to show me any loaded chunks that was shown in the error log and it didn't gave me any errors show im pretty sure this is a sponge issue

[2018-06-01 17:18] bloodmc commented on #2129
I'm assuming the issue is related to our chunk gc feature. The odd thing is why the TE is ticking if the chunk was unloaded. Please disable Sponge's chunk gc and retest.

[2018-06-01 18:47] JoeSGT commented on #2129
Okay here is the results of my testing, i set `max-chunk-unloads-per-tick=0`  instead of the default 100 and it did not unload/load chunks then i set it back to 100 then i tried ` chunk-gc-tick-interval=0` instead of default 600 and then restarted the server it started unloading/loading chunks, it seem that `max-chunk-unloads-per-tick` this setting is the cause of the problem but your right it's r

[2018-06-02 01:36] bloodmc commented on #2179
@Mr-Krab Try disabling sponge's chunk gc and see if that solves the issue.

[2018-06-02 01:41] bloodmc commented on #2129
Unloading chunks is normal vanilla behavior. Sponge just uses chunk gc to unload chunks that are "leaked" by worldgen and mods. Setting `chunk-gc-tick-interval` to 0 will restore vanilla behavior. Setting `max-chunk-unloads-per-tick` to 0 will never unload chunks and will cause major performance issues as more and more chunks continue to load.

[2018-06-02 02:52] JoeSGT commented on #2129
im not sure how to fix this issue without touching those settings

[2018-06-02 08:47] Inscrutable opened #2189 "NPE in SpongeManipulatorRegistry.bake"
**I am currently running**
- spongeforge-1.12.2-2705-7.1.0-BETA-3126, also tried 3136
- forge-1.12.2-14.23.4.2705, also tried 2707
- Java version: 1.8.0_171, Oracle Corporation
- Operating System: Windows 10 (amd64) version 10.0
- 4GB RAM to client. Normally more than enough.

- Plugins/Mods: BiomesOPlenty-1.12.2-7.0.1.2391-universal.jar, CraftStudio-1.0.0.93-mc1.12-alpha.jar, Quark-r1.4-123.jar,

[2018-06-02 10:08] SawFowl commented on #2179
@bloodmc  With these parameters, the server is not started.

![default](https://user-images.githubusercontent.com/29023558/40873264-da681402-6665-11e8-9be4-360bef183ea5.png)

[2018-06-02 18:08] Aaron1011 commented on #2189
@Inscrutable I can't seem to reproduce this. Can you trying removing your `config` folder, and starting the pack again?

[2018-06-02 18:13] phit commented on #2185
can't really test with such a big pack, please figure out what mods are needed to reproduce this

[2018-06-02 18:52] Aaron1011 commented on #2177
This is a bug with UmbraLux - it's not properly registering its blocks with Forge.

I've opened a PR to fix the issue: https://github.com/ArtixAllMighty/Rpg-Addon-UmbraLux/pull/4

[2018-06-02 18:52] #2177 closed, assigned to nobody

[2018-06-02 19:33] wormzjl opened #2190 "Startup crash with FTBUtilities"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0 171
- Operating System: win 7

- Plugins/Mods:
FTBLib-5.1.0.20
FTBUtilities-5.1.0.25

**Issue Description**
Crash on launch

Crash log: https://gist.github.com/wormzjl/a15796945ea3bd2d7ea23fe15891bd55
Server log: https://gist.github.co

[2018-06-02 20:16] LatvianModder commented on #2190
I will fix this in FTBUtilities, but basically, there is no limits to what the max op level can be in vanilla. I suggest defaulting to op_4 when any larger number is given or handle it somehow seperately. It works just fine if I use `getRequiredPermissionLevel() 6` and set `op-permission-level=6` in `server.properties`

[2018-06-02 20:28] LatvianModder commented on #2190
Next update will fix the issue from FTBU side but you still should consider using something like
`int level = Math.min(4, command.getRequiredPermissionLevel());`

[2018-06-02 20:47] wormzjl opened #2191 "Startup crash with BetterWithMods and Triumph"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0 171
- Operating System: win 7
- Plugins/Mods:
BetterWithMods-1.12-2.1.22
BNBGamingCore-1.12.2-0.8.0
BNBGamingLib-1.12-2.11.2
Triumph-1.12.2-1.13.0

**Issue Description**
This crash only happens when BOTH BetterWithMods and Triumph are

[2018-06-02 23:56] Th4nat0s1s opened #2192 "Multi-Hotbar incompatibility"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3105
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 8
- Operating System: Win 8.1

- Plugins/Mods:
      [1.12.x]+SecurityCraft+v1.8.4.1
      appliedenergistics2-rv5-stable-11
      Aquaculture-1.12.2-1.6.2
      Aquatic-1.12.2-1.0.0-c
      Baubles-1.12-1.5.2
      BiomesOPlenty-1.12.2-7.0

[2018-06-03 00:13] Aaron1011 commented on #2191
The issue is occuring [here](https://github.com/SpongePowered/SpongeCommon/blob/8307be3fad663cf2d3fa3b6715d34d1b0553e0a8/src/main/java/org/spongepowered/common/mixin/core/advancement/MixinAdvancement.java#L169). One of the Triumph mod's advancements has an entry in `requirements` that doesn't have a corresponding entry in `criterionMap`

@Cybermaxke: Is this a bug with the mod, or something that w

[2018-06-03 04:53] flamechair opened #2193 "Exception ticking world"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: Shared host (not sure)
- Operating System: Shared host (container based server I believe)

- Plugins/Mods:

**Issue Description**
Walking through the world, everytime I get near a village the server crashes with an "Exception ticking world

[2018-06-03 05:00] phit commented on #2193
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2127

[2018-06-03 05:00] #2193 closed, assigned to nobody

[2018-06-03 08:09] wormzjl opened #2194 "java.lang.NullPointerException: Exception ticking world at net.minecraft.block.Block.getId(Block.java:2830)"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0 171
- Operating System: win 7

- Plugins/Mods:
: Mods (151): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge
, SpongeAPI, SpongeForge, Advanced Generators, Advanced Mortars, Advanced Rocket
ry, Alternating Flux, Anti

[2018-06-03 08:21] wormzjl commented on #2190
Thanks for the quick fix!

[2018-06-03 09:17] Cybermaxke commented on #2191
@Aaron1011 Looks like a bug in the mod to me, it makes no sense to have a criterion requirement that doesn't exist.

[2018-06-03 09:20] wormzjl commented on #2191
I'll try to report to the mod author

[2018-06-03 10:29] Cybermaxke commented on #2191
Maybe we can throw a meaningful error message to know which advancement it's criterion is missing.

[2018-06-03 14:54] gabizou commented on #2190
Thanks @LatvianModder for the speedy fix!

[2018-06-03 14:54] #2190 closed, assigned to nobody

[2018-06-03 18:58] Aaron1011 commented on #2194
@wormzjl This is due to a mod failing to properly register its blocks with Forge.

I've improved the error message in the latest build of SpongeForge, which will allow us to determine which mod is responsible for this.

[2018-06-03 19:00] wormzjl commented on #2194
Is it 1.12.2-2705-7.1.0-BETA-3142 ?

[2018-06-03 19:00] Aaron1011 commented on #2194
@wormzjl Yes, that's correct.

[2018-06-03 20:07] Rsslone opened #2195 "Unloader Mod Incompatibility"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 1.8.0_152-b16
- Operating System: WIN-8.1

- Plugins/Mods:  Mods (169): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Advanced Rocketry, Aether Legacy, Akashic Tome, AngelRing 2 Bauble, Animania

[2018-06-03 20:11] phit commented on #2195
as a solution: remove Unloader from your mods, Sponge already does the same thing

[2018-06-03 21:10] Rsslone commented on #2195
Oh duh, I should have put that together. Well thanks for helping out a noob.

[2018-06-04 00:12] Rsslone opened #2196 "Off main thread uncaught exception with thaumcraft"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3136
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version:  1.8.0_152-b16
- Operating System: WIN-8.1

- Plugins/Mods: (168): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Advanced Rocketry, Aether Legacy, Akashic Tome, AngelRing 2 Bauble, Animania, App

[2018-06-04 00:42] phit commented on #2196
please report this to Thaumcraft

[2018-06-04 01:03] Rsslone commented on #2196
Thanks, will do.

[2018-06-04 01:03] #2196 closed, assigned to nobody

[2018-06-04 05:41] gabizou commented on #2195
While I'm able to resolve the issue of mods attempting to do better world management on their own, they are using methods available, but I'm not going to put out a fix relatively soon. I can make it where it will be "compatible" in the sense that the events thrown from the mod will be ~~intercepted~~ handled correctly by sponge, it's a little tricky with the way they are doing it. It's simple enou

[2018-06-04 05:43] Rsslone commented on #2195
I understand, It'd be more of a sanity check for people like me. Realistically people should just use sponge for load unloading.

[2018-06-04 07:21] wormzjl commented on #2194
So betterwithmods is messing with vanilla mushroom block which causes the crash.

Crash log: https://gist.github.com/wormzjl/c3213f608d2c0bcd5ad934cefc721784
Server log: https://gist.github.com/wormzjl/b28ed5ee3603ce1ba33b557267345bcb

After disabling it's mushroom farming feature it's no longer crashing, thanks!

[2018-06-04 07:21] #2194 closed, assigned to nobody

[2018-06-04 10:57] Aaron1011 commented on #2194
@wormzjl: Please report this to BetterWithMods - this is strictly a bug on their end.

[2018-06-04 16:33] Pixelmnkey opened #2197 "The beneath mod not creating portal."
Using the latest version from sponge and sevtech, the beneath mod dosn't create a room when you use the portal, suffocating people, but placing a portal block inside the beneath creates the right room outside in the overworld. What can cause that? It works fine on forge.

SpongeForge Version: 1.12.2-2705-7.1.0-BETA-3143
Forge version: 2705
Plugins/mods: Runing latest version of sevtech and about p

[2018-06-04 16:42] phit commented on #2197
please post your global.conf

[2018-06-04 16:54] Pixelmnkey commented on #2197
There ya go https://pastebin.com/r8uPAzds

[2018-06-04 17:49] gabizou commented on #2167
This is now fixed with the newest versions of Chisels & Bits, latest version can be found here: https://github.com/AlgorithmX2/Chisels-and-Bits/issues/390#issuecomment-394047065

[2018-06-04 18:28] Pixelmnkey commented on #2197
Still nothing, seems to keep the y when you create the portal, but refuses to spawn a platform, it works fine from beneath to overworld.

[2018-06-04 23:47] Grauldon commented on #2184
Which versions of [PlayerRevive](https://minecraft.curseforge.com/projects/playerrevive/files?filter-game-version=2020709689%3A6756) and [InGameConfigManager](https://minecraft.curseforge.com/projects/ingameconfigmanager/files?filter-game-version=2020709689%3A6756) are you using?

[2018-06-05 02:56] Rutes opened #2198 "Forced Disconnect with The Camping Mod"
Issue also posted here: https://github.com/Rikmuld/MC-Camping/issues/116

- SpongeForge version:  spongeforge-1.12.2-2705-7.1.0-BETA-314

- Plugins/Mods:
The Camping Mod v2.4.3

Excerpt of server log showing the forced disconnect:
https://gist.github.com/Rutes/32b4e28013d93664d046b096986ce9b2

[2018-06-05 02:57] Rutes commented on #2198
The disconnect occurs when opening the "camping inventory" if one has not yet received the advancement for doing so. So, I would guess it's somehow related to advancements or inventory UI.

[2018-06-05 04:08] Dockter opened #2199 "SGCraft TE's unable to tick TE / load chunks due to this commit"
SF Working :  == 3119
SF Not Working : =>3124

Issue,  SGCrafts TE ability to Tick/keep chunks loaded seems to be dead in SF builds => 3124.

The TE uses this chunk manager:  https://github.com/AlmuraDev/SGCraft/blob/Sponge-7.1.0/src/base/gcewing/sg/BaseTEChunkManager.java

Please advise.

[2018-06-05 04:11] Dockter commented on #2199
Ive double confirmed that the build differences between 3119 and 3124 are the issue.

[2018-06-05 05:12] JoeSGT commented on #2199
@Dockter  it seem to be the same issue here https://github.com/SpongePowered/SpongeForge/issues/2129

[2018-06-05 05:55] phit commented on #2199
https://github.com/SpongePowered/SpongeForge/commit/824dffa9714b0493baef6a3a2c10cf6c8ce7323e

[2018-06-05 05:55] #2199 closed, assigned to nobody

[2018-06-05 06:37] tomm2000 opened #2200 "Can't activate ender shard with ender dragon"
**I am currently running**
Idk the specs of the machine our server is running on, I am not an admin. I just know it uses sponge.

- Plugins/Mods:
We are running the all the mods 3 modpack.

**Issue Description**
When I go to the end and I got an ender dragon with an ender shard it does not start the programming when it should (atm3 is configured to have that enabled)
(Ender shard from woot)

**Ste

[2018-06-05 06:45] phit commented on #2200
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1912

[2018-06-05 06:45] #2200 closed, assigned to nobody

[2018-06-05 06:48] phit commented on #2192
would be nice to get the broken playerdata to see if its reproducable, otherwise really not much to do here with so little info :/

[2018-06-05 06:51] phit commented on #2198
looks like a mod issue
`Caused by: java.lang.IllegalStateException: CauseStackManager called from off main thread`

[2018-06-05 06:53] phit commented on #2197
please add all relevant mod versions to your main post

- SpongeForge version
- Forge version
- Plugins/Mods

[2018-06-05 07:02] Th4nat0s1s commented on #2192
I mean...I may be able to recover it but is there really not much to the crash report??

[2018-06-05 07:22] phit commented on #2192
nothing apparent to me @Faithcaio may have an idea
https://gist.github.com/phit/c06acd5a48520660247ccda896d41ec3

[2018-06-05 11:37] Inscrutable commented on #2189
OK, I can report that starting an entirely new, clean MC instance _and_ letting fresh configs generate seems to have fixed the problem. I still have no idea what the real perpetrator was, as it *worked without SpongeForge*. A test server with the same mods ran without issues.

[2018-06-05 12:39] Tototi1 commented on #2184
Player revive 1.2.13 and creative core 1.9.22, i don't have IGCM

[2018-06-05 13:03] Pixelmnkey commented on #2197
Done.

[2018-06-05 13:05] Pixelmnkey opened #2201 "Astral sorcery Mantle of Stars : Vicio -- Fatal Error"
Hey there, we just switched to spongeforge and suddenly the mantle of star attuned to vicio from astral sorcery, wich works as an elytra, causes a fatal error while the vanilla elytra dosn't.

SpongeForge Version: 1.12.2-2705-7.1.0-BETA-3143
Forge version: 2705
Plugins/mods: Runing latest version of sevtech and about plugins, luckyperms, forgedperms, nucleus.

[2018-06-05 13:22] bloodmc commented on #2129
@JoeSGT test latest SF to see if it solved the issue.

[2018-06-05 14:40] Aaron1011 commented on #2201
@Pixelmnkey: Please pastebin the error and your server log.

[2018-06-05 17:30] JoeSGT commented on #2129
Just tested with spongeforge version spongeforge-1.12.2-2705-7.1.0-BETA-3144 it is the latest at this current moment and i can confirm that it does not fix the issue

[2018-06-05 17:34] Aaron1011 commented on #2198
This is a bug in The Camping Mod - it's trying to open a GUI off the main thread.

I've opened an issue here: https://github.com/Rikmuld/MC-RMCore/issues/1

[2018-06-05 17:34] #2198 closed, assigned to nobody

[2018-06-05 17:46] Aaron1011 commented on #2201
This is another packet handler related bug: https://github.com/HellFirePvP/AstralSorcery/issues/739.

@Pixelmnkey: In the future, please attach your crash report and server logs to any issues involving crashes.

[2018-06-05 17:46] #2201 closed, assigned to nobody

[2018-06-05 18:00] kristi71111 opened #2202 "Cannot Use Water/Lava Buckets"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3144
- Forge version: 14.23.4.2705
- Java version:  java version "1.8.0_121"
- Operating System: CentOS7

- Plugins/Mods:
Plugins:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BaconTowny, EconomyLite, Nucleus

  Mods:
  Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE

[2018-06-05 18:04] Aaron1011 commented on #2202
@bloodmc: Based on the build numbers (and the fact that this is an interaction issue), this appears to have been caused by your change: https://github.com/SpongePowered/SpongeForge/commit/cad257e63d4c7937ce6d5497539947bc7bbe498e

[2018-06-05 18:59] #2197 closed, assigned to Aaron1011

[2018-06-05 22:03] #2202 closed, assigned to nobody

[2018-06-05 23:16] Grauldon commented on #2184
OK Thanks!

I can re-create the PhaseState exception.  It may be take a little time, but I will see if I can determine the cause.

[2018-06-05 23:39] Aaron1011 commented on #2198
This has been fixed in the next version of The Camping Mod.

[2018-06-06 04:02] WiffleBen opened #2203 "Chunk Loading not working aroma1997 mining dimension while online."
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3136
     -The latest version of spounge forge doesn't allow players to place water or lava out of buckets, strange bug.
- Forge version: forge-1.12.2-14.23.4.2705
- Java version: build 1.8.0_171-b11
- Operating System: Windows 10 Pro

- Plugins/Mods:Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeA

[2018-06-06 04:27] phit commented on #2203
upgrade to latest this was fixed in 7.1.0-BETA-3144

[2018-06-06 04:29] WiffleBen commented on #2203
this was still happening in the latest version
meaning 7.1.0-BETA-3146 as of now
I will test with the release that came out 6 hours ago though
Working with the latest release

[2018-06-06 04:29] WiffleBen commented on #2203
meaning 7.1.0-BETA-3146 as of now

[2018-06-06 04:31] WiffleBen commented on #2203
I will test with the release that came out 6 hours ago though

[2018-06-06 04:38] #2203 closed, assigned to nobody

[2018-06-06 09:08] Tototi1 commented on #2184
OK Thanks!

[2018-06-06 18:51] bloodmc commented on #2179
@Mr-Krab try latest SF.

[2018-06-06 23:22] pyscho974 opened #2204 "not recognizing techgun zombies properly"
**I am currently running**

- SpongeForge version: 3148
- Forge version: 2707
- Java version: 1.8.171
- Operating System:win7 x64

- Plugins/Mods:
TConstruct-1.12.2-2.10.0.81
techguns-1.12.2-2.0.1.1

**Issue Description**
tinkers bows are 1 shot killing tech gun zombies . tech gun zombies are not dropping any loot or xp.
im told has something to do with techguns registering its mobs as fake player

[2018-06-06 23:35] pyscho974 commented on #2204
is also reported on techguns side it seems

https://github.com/pWn3d1337/Techguns/issues/181

[2018-06-07 01:37] phit commented on #2126
closing, reply if it pops up again

[2018-06-07 01:37] #2126 closed, assigned to nobody

[2018-06-07 01:39] phit commented on #2191
for ref https://bitbucket.org/bloodnbonesgaming/triumph/issues/4/triumph-mods-advancements-has-an-entry-in

[2018-06-07 01:52] Aaron1011 commented on #2204
This is a bug with TechGuns. Though Sponge may call `ISpecialArmor#damageArmor` in situations that Forge doesn't, it's still TechGun's responsibility to do a proper `instanceof` check before casting.

[2018-06-07 01:52] #2204 closed, assigned to nobody

[2018-06-07 02:27] Aaron1011 commented on #2184
This should be fixed in the latest SpongeForge.

[2018-06-07 02:27] #2184 closed, assigned to nobody

[2018-06-07 05:09] SawFowl commented on #2179
@bloodmc Chunks are still not unloaded. Although the server now starts normally without crashing in both configuration options.
![default](https://user-images.githubusercontent.com/29023558/41079282-de909b22-6a29-11e8-9edc-dd775f86637d.png)
![default](https://user-images.githubusercontent.com/29023558/41079292-ea69228e-6a29-11e8-9e1e-0022a42cf334.png)

[2018-06-07 08:42] Whazaaaaa commented on #1912
Would like to also add that its still not working.

woot-1.12.2-1.2.1
Guide-API-1.12-2.1.5-60
forge-1.12.2-14.23.4.2705-universal
spongeforge-1.12.2-2705-7.1.0-BETA-3148

If more tests are needed to be done, I would be happy to do them.

[2018-06-07 09:41] Aang23 opened #2205 "FTB Utilities chunk loader bugs"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3136
- Forge version: 14.23.4.2705
- Java version: 8.171
- Operating System: Linux (Ubuntu Server 18.04)

- Plugins/Mods: Nucleus, FTB Utilities, FTBLib, SpongeForge

**Issue Description**
Try to claim a chunk with FTB Utilities. It does not work. Restarting the server make the chunks load, but unclaming and them reclaiming

[2018-06-07 09:52] SawFowl commented on #2179
The load on the server seems to be less, TPS became better. I'll watch more.

[2018-06-07 12:45] philipzou opened #2206 "There seems to be a small problem with the waystone mod"
**I am currently running**

- SpongeForge version: 3124 ,3133 ,3149
- Forge version: 2703 & 2705
- Java version: Java 8
- Operating System:Win 7

- Plugins/Mods:
Plugin:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CmdCalendar, FlexibleLogin, LuckPerms, Nucleus, Twenty Ticks
Mod:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Adva

[2018-06-07 12:59] Aaron1011 commented on #2206
This should be fixed in the next build of SpongeForge.

[2018-06-07 12:59] #2206 closed, assigned to nobody

[2018-06-07 13:00] azbh111 opened #2207 "tab complete throw an exception"
**I am currently running**
- SpongeForge version:spongeforge-1.12.2-2655-7.1.0-BETA-3052.jar
- Forge version: run/forge-1.12.2-14.23.3.2655-universal.jar
- Java version: java8
- Operating System:windows server 2016 , macOS
- Plugins/Mods: PlotSquared-Sponge-18.05.07-59e06c2-1988.jar

**Issue Description**
input "/plot kick" then key down the tab,nothing happen but throw an exception.
then I make a

[2018-06-07 16:17] Shmeeb opened #2208 "Enchanted item deserialization issue"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3150
- Forge version: 14.23.4.2703
- Java version: 8
- Operating System: Ubuntu

Serialize an ItemStackSnapshot (that has enchantments) with:
`String json = DataFormats.JSON.write(snapshot.toContainer());`

Then load it with:
`DataContainer container = DataFormats.JSON.read(json);`
`ItemStackSnapshot snapshot = Sponge.getDat

[2018-06-07 16:20] Aaron1011 commented on #2207
@azbh111 Can you post the source to the `CommandCallable` for the `plot` command?

[2018-06-07 18:16] dualspiral commented on #2207
@Aaron1011 [It's because they are returning null when getting suggestions](https://github.com/IntellectualSites/PlotSquared/blob/master/Sponge/src/main/java/com/plotsquared/sponge/util/SpongeCommand.java#L47-L66), and the [`ArrayList` constructor can't deal will nulls](http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/6-b14/java/util/ArrayList.java?av=h#151).

[We should guard

[2018-06-07 21:35] LemADEC opened #2209 "Async-lighting causing cast exception with AdvancedRocketry"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3148
- Forge version: 1.12.2-14.23.4.2707
- Java version: 1.8.0_171
- Operating System: CentOS

- Plugins/Mods:
FTB Continuum 1.2.0 including AdvancedRocketry-1.12.2-1.4.0-83-universal.jar
Prism (custom fixed for inventory handling) https://github.com/LemADEC/Prism

**Issue Description**
1- Build an Advanced Rocketry rocket,

[2018-06-07 22:12] Aaron1011 commented on #2209
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/ebfb77b4079cabf5b07106b426dc45ada6051b06

[2018-06-07 22:12] #2209 closed, assigned to nobody

[2018-06-08 01:56] azbh111 commented on #2207
the CommandCallable:
https://github.com/IntellectualSites/PlotSquared/blob/master/Sponge/src/main/java/com/plotsquared/sponge/util/SpongeCommand.java

[2018-06-08 10:25] dualspiral commented on #2207
I've provided a PR to fix it on their end: https://github.com/IntellectualSites/PlotSquared/pull/1986.

Given we annotate `getSuggestions` with `Nonnull`, should we provide the null check? If not, then this is a plugin issue and should be closed, else, it won't be hard to fix this.

[2018-06-08 22:36] Aaron1011 commented on #2130
This should be fixed in the latest SpongeForge.

[2018-06-08 22:36] #2130 closed, assigned to nobody

[2018-06-09 01:31] bloodmc commented on #2205
This was already fixed, update to latest SF.

[2018-06-09 01:31] #2205 closed, assigned to nobody

[2018-06-09 04:27] Mireu-zz opened #2210 "Botania spark and corporea spark has limit. (config file already has the option.)"
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3065
- Forge version: forge-1.12.2-14.23.3.2655
- Java version: jre-8u171-windows-x64
- Operating System: windows server 2016 (64x)

(I don't use latest version because Thaumcraft made some crash when update latest version)

Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge

Mods (111): Minecraft, Minecraft Coder Pack, Fo

[2018-06-09 06:14] Mireu-zz commented on #2210
And another Q.
is there an option to toggle visible/invisible
for botania (force relay + warp lens) warping mana?
I can see it in singleplay world but can't in server.
(It's same world. I was copy that from server to singleplay)

[2018-06-09 06:21] KingDan27 opened #2211 "Bee effect not persisting through server reboot"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3151.jar
- Forge version: FTBserver-1.12.2-14.23.3.2702-universal.jar
- Java version: openjdk version "1.8.0_171"
- Operating System: Ubuntu

- Plugins/Mods: Catclearlag, Modpack: FTB Continuum

**Issue Description**
Yente Bee's effect from career bees mod does not persist through server reboot. Works fine with o

[2018-06-09 07:10] gabizou commented on #2211
Aside from "testing" an entire mod pack, is this reproducible with just the mod and sponge forge? Can you provide the steps involved to reproduce the issue as if I've never used the mod before?

[2018-06-09 09:04] Aang23 commented on #2205
Tanks, I didn't know it because I was using the "recommended" build.
Sorry for reporting.

[2018-06-09 16:14] KingDan27 commented on #2211
Okay, so with just career bees and its dependancy forestry this issue is repeatable.
Step 1: Make a apiary put a queen in it
Step 2: Make Yente princess and shift+right click the apiary with it in main hand
Step 3: Wait full bee cycle and see the effect happens correctly (effect is it takes the princess and best drone from the output and moves them to the breeding slots in the apiary)
Without Spon

[2018-06-09 16:26] yepidoodles opened #2212 "Hopper deleting items"
- SpongeForge version: API7 3151
- Forge version: 2707
- Java version: 8
- Operating System: Win7

- Plugins/Mods:
https://gist.github.com/yepidoodles/219eddffefb2db034e7ca8bc348a7f40

**Issue Description**
With a few modded blocks, when they output into a vanilla hopper, the items disappear (This does not happen on Single player with the same modpack). Does not happen with all modded blocks, so f

[2018-06-09 16:29] phit commented on #2211
you completely forgot to mention what the effect is,

Yente will make matches for your bees. Shift-right-click a Yente princess onto an apiary and it's breeding will be automated. Yente will always choose the drone that she judges to have the best traits for the princess.

so the automation breaks? does this also happen with other bees or just this specific one?

source for reference https://githu

[2018-06-09 16:29] KingDan27 commented on #2211
i edited it

[2018-06-09 16:30] KingDan27 commented on #2211
just this one specificly that i have found my other ones work fine

[2018-06-09 16:34] phit commented on #2210
sounds like the config override for collisions broke, will need to test

[2018-06-10 00:45] Th4nat0s1s commented on #2192
Hey sorry it has taken me so long to get back to this, my internet has been ridiculous recently but here is my old player .dat file that I deleted.

https://mega.nz/#!nTAkBS4I!fz3eq5esMvNcTzgcks95IUVVoQCdj14rFp5GApPiQd0

[2018-06-10 01:21] LemADEC opened #2213 "Server/Client crash with Mystcraft"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version: 1.12.2-14.23.4.2707
- Java version: 1.8.0_162 & 1.8.0_171
- Operating System: Windows 10 & CentOS

- Plugins/Mods:
mystcraft-1.12.2-0.13.4.03
no other mods
no plugins

**Issue Description**
Server crashes when starting/loading a new world in single or multiplayer.
[code]

https://gist.github.com/LemADEC/

[2018-06-10 01:25] KingDan27 opened #2214 "Droping items from any side of inventory causes them to not be droped but be voided"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3151.jar
- Forge version: FTBserver-1.12.2-14.23.3.2702-universal.jar
- Java version: openjdk version "1.8.0_171"
- Operating System: Ubuntu 16.04

- Plugins/Mods:
(mods)https://gist.github.com/KingDan27/2353f552c39cf4f220d0db5d88a5610d, (plugins)https://gist.github.com/KingDan27/4cf72d5de8d03f65f001519bcea3aabd

[2018-06-10 03:00] bloodmc commented on #2214
Reproduce with no mods or plugins then provide steps.

[2018-06-10 08:07] Faithcaio commented on #2212
The exception is the hopper pulling items out of an inventory.
Do the machines not allow extraction maybe?

[2018-06-10 08:10] phit commented on #2212
here's the source to the grindstone that was mentioned
https://github.com/AppliedEnergistics/Applied-Energistics-2/blob/52d28fabe3d3de70892fba32e1e0a22bf0b174db/src/main/java/appeng/container/implementations/ContainerGrinder.java
https://github.com/AppliedEnergistics/Applied-Energistics-2/blob/548af3c6ccef35b123bf37050389b23e8fca20fa/src/main/java/appeng/tile/grindstone/TileGrinder.java

[2018-06-10 08:19] Faithcaio commented on #2212
Try that next build.

[2018-06-10 15:07] Rutes commented on #2127
Vampirism dev indicated this could be related to Vampire Hunters from that mod:
https://github.com/TeamLapen/Vampirism/issues/279#issuecomment-396016018

[2018-06-10 17:10] maxanier commented on #2127
I did not say that. The issue is unrelated to the hunter, but probably triggered by Vampirism in this case anyway:
Vampirism creates a new VillageCareer for the `priest`. And based on gabizou's comment I guess we do not register it correctly (or at least not in a Sponge friendly way, it is working with Forge only)

@gabizou Do you have a example of a registration that is compatible with Sponge som

[2018-06-10 18:19] Zexceil opened #2215 "Journey map issue"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3148
- Forge version: 1.12.2-14.23.3.2702
- Java version: Java 8
- Operating System: Ubuntu server 18.04
- Reason for not upgrading: This build seems to work best with the server but only with that exception.
- Modpack: FTB Continuum

- Plugins/Mods:

Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecr

[2018-06-10 18:21] phit commented on #2215
this was added by forge and needs to be fixed by journeymap, nothing to do with sponge https://github.com/MinecraftForge/MinecraftForge/pull/4890
https://github.com/TeamJM/journeymap/issues/42

[2018-06-10 18:21] #2215 closed, assigned to nobody

[2018-06-11 15:42] MCEventHorizon opened #2216 "SpongeForge messing up with configs of other mods"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3151
- Forge version: 14.23.4.2707
- Java version: 1.8.0_171
- Operating System: Windows 10

- Plugins/Mods: LootBags, ArmorPlus, DrCyano's Lootable Bodies

I have found a lot of issues when sponge gets added to forge when it comes to loading mod configs, some configs aren't loaded at all and some get messed up. These are some examples:

[2018-06-11 16:15] tryolivier opened #2217 "2705"
Hello,

•SpongeForge version: API7 1.12.2-2705-7.1.0-BETA-3151
•Forge version: 2705
•Java version: 8
•Operating System: Win7
•Plugins/Mods:
Issue Description
I wanted to update spongeforge with the laste spongeforge, but I and all the players have :
https://image.noelshack.com/fichiers/2018/23/7/1528648914-2018-06-10-18-41-28.png

we have all the good forge but we have that :)

thanks to have a lo

[2018-06-11 16:17] phit commented on #2217
use the issue template

[2018-06-11 16:17] #2217 closed, assigned to nobody

[2018-06-11 16:27] tryolivier commented on #2217
PS bungee logs : https://paste.md-5.net/cavoxewali.pas

[2018-06-11 17:07] liach commented on #2217
@phit Issue has been updated, consider reopening it.

[2018-06-11 17:12] phit commented on #2217
@liach they already messaged me on discord, I'll quote myself

use the support forums or discord, to figure out a solution or report it to bungeecord

Obviously I'm not the only person doing so, plenty of other servers using Bungeecord with latest SF with no issues. If there is an issue with more recent BungeeCord versions, add the last version it works with to the issue and provide proper reprodu

[2018-06-11 18:48] bloodmc commented on #2216
This has nothing to do with configs. There are probably just compatibility issues with the mods you are mentioning. Create an issue for each mod issue.

[2018-06-11 19:32] bloodmc commented on #2179
Test on a clean install with latest SF/TE and see if the problem exists. There should be no chunk unloading issues with latest builds.

[2018-06-11 19:32] bloodmc commented on #2140
@OneTrueVex please test latest SF.

[2018-06-11 19:48] #2216 closed, assigned to nobody

[2018-06-11 19:52] phit commented on #2214
seeing a lot of this in the log

[code]

[2018-06-11 23:05] gabizou commented on #2127
I'm investigating the issue, since I've recently rewrote the registration, I could have missed some place.

[2018-06-12 07:14] ryantheleach commented on #2170
If other mods are expecting the dimensions to exist, I don't think Sponge can reasonably disable them completely?

If the act of loading them (and I guess, periodically unloading them) is the issue, leaving them enabled might be better?

Or is it the 'constant' drain on the server of ticking the other worlds?

If you don't need multi-world support, you could consider disabling the nether in server

[2018-06-12 07:18] ryantheleach commented on #2185
@paulccorey Was this reproducible with only that pack, and Sponge, without any plugins?

[2018-06-12 08:02] YaoTeacher opened #2218 "Mods and plugins can not run"
**I am currently running**

- SpongeForge version:
- Forge version: spongeforge-1.12.2-2705-7.1.0-BETA-3151
- Java version: forge-1.12.2-14.23.4.2707-universal
- Operating System:WIN10

- Plugins/Mods:
Mods:  zombieawareness; vampirism; telepads; mobends; immersiveEngineering; dynamictrees; customnpcs; baubles; astralsorcery;  colorchat; epicsiege; forestry
Plugins: Nucleus; placeholderAPI; Univer

[2018-06-12 10:14] MCEventHorizon opened #2219 "LootBags issues"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version: 14.23.4.2707
- Java version: 1.8.0_171
- Operating System: Windows 10

- Plugins/Mods: LootBags

**Issue Description**
These are the issues I encountered while using LootBags mod with SpongeForge(I have tested it without Sponge and everything works as it should):
1. LootBags often get duplicated when killing a mob even tho the con

[2018-06-12 10:20] MCEventHorizon opened #2220 "Lava Armor is still being damaged in water"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version: 14.23.4.2707
- Java version: 1.8.0_171
- Operating System: Windows 10

- Plugins/Mods: Armor Plus and TheDragonLib

**Issue Description**
Most of the configs from the mod armor plus don't get loaded:
1. In the config I set armors to give buffs even when wearing one peace but in game, they require a full set.
2. Lava armor is set t

[2018-06-12 11:38] SawFowl commented on #2170
I have on the server only 2 worlds, both standard, but empty. If I use the allow-nether = false option, I can not create a second empty world, and this parameter does not affect the world of the edge.
It would be acceptable to prohibit the transfer of players to these worlds and then unload them. If I unload the world with Nucleus, then it does not load until the server is restarted.

[2018-06-12 14:33] tyler489 commented on #2181
https://github.com/SleepyTrousers/EnderIO/issues/4704

[2018-06-12 21:13] XakepSDK opened #2221 "Access transformers won't applied if plugin is in custom directory"
Access transformers working only if:
1. Plugin is in mods directory
2. Plugin forced to load as mod

Repro:
1. Download packetgate https://github.com/CrushedPixel/PacketGate
2. Put it in `mods/plugins/` dir
3. ???
4. PROFIT!

[2018-06-12 21:59] #2221 closed, assigned to nobody

[2018-06-12 22:00] phit commented on #2221
intended behavior, even mentioned in the [docs](https://docs.spongepowered.org/stable/en/server/management/plugins.html?highlight=mixin%20mods#spongeforge)

oh and for the forceloadasmod, something in forge changed, theres a mixin ticket for it https://github.com/SpongePowered/Mixin/issues/253

[2018-06-12 23:21] gabizou commented on #2213
Should be fixed with https://github.com/SpongePowered/SpongeForge/commit/22ec41cc1d7153f0ba6d36ca2c46b601e5d9fe44

SpongeForge 3163 should have the fixes and avoid the crash.

[2018-06-13 00:09] LemADEC commented on #2213
Issue is still reproduced with spongeforge-1.12.2-2705-7.1.0-BETA-3163.jar:
[code]

[2018-06-13 00:18] LemADEC opened #2222 "Unable to interact with EU2 shady villagers"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3163.jar
- Forge version: 14.23.4.2707
- Java version: 1.8.0_172
- Operating System: Windows 7

- Plugins/Mods:
SpongeForge + extrautils2-1.12-1.7.6.jar

**Issue Description**
Start single player world
Spawn a villager until you get a Shady villager or Red priest from ExtraUtilities2.
Right click the villager to s

[2018-06-13 01:00] Aaron1011 commented on #2213
There are two issues here. The first is relatively simple: `WorldServer#setActiveConfig` ends up being called from the `WorldServer` constructor, before the `mixinChunkProviderServer` field is initialized. Since Mystcraft directly modifies the `chunkProvider` field, we should simply get rid of `mixinChunkProviderServer`.

The second issue is that Mystcraft's dummy WorldInfo has a null `levelName`.

[2018-06-13 01:33] Aaron1011 commented on #2222
This is caused by the fact that ExtraUtils2 [doesn't use Forge's `VillagerCareer#addTrade`](https://github.com/rwtema/Extra-Utilities-2-Source/blob/5a84281cff5542b7f63353823564147f36db368a/1.10.2/src/main/java/com/rwtema/extrautils2/villagers/XUVillagerCareer.java). Instead, it overrides `getTrades`, and uses its own system for determining the trades for a given level.

@gabizou: On one hand, ther

[2018-06-13 03:35] bloodmc commented on #2077
This issue doesn't make any sense as auto-populate doesn't add all TE's to config immediately. You definitely entered the entry wrong in the config which is why it didn't work properly.

[2018-06-13 04:31] bloodmc commented on #2077
So after speaking to Sir-Will, he clarified that auto-populate is not related to issue and you simply have to add a single TE from a mod to have the bug occur. I confirmed this is indeed a bug. Fix will be coming shortly.

[2018-06-13 05:46] #2077 closed, assigned to nobody

[2018-06-13 06:18] bloodmc commented on #2077
Proper fix in commit https://github.com/SpongePowered/SpongeCommon/commit/56677bd93203e54ebebac6efaa535e9fb2b34014

[2018-06-13 06:28] SawFowl commented on #2179
For new worlds, the problem is solved. But what about the worlds that already exist? Is there any way to forcefully unload chunks?
I do not want to delete the world, as this action will not please the players.

[2018-06-13 09:08] yepidoodles commented on #2212
Hello,

I updated to SpongeForge 3167 and the issue still persists.

[2018-06-13 16:35] bloodmc commented on #2214
Closing as I am unable to reproduce this with a clean server.

[2018-06-13 16:36] bloodmc commented on #2214
Actually, I see this is a FTB server pack. Remove all sponge plugins and retest. If issue persists then you will have to track down which mod is causing the issue.

[2018-06-13 16:39] bloodmc commented on #2211
@KingDan27 retest with entity activation disabled.

[2018-06-13 17:48] gabizou commented on #2220
For reference, the armor code:
https://github.com/TheDragonTeam/ArmorPlus/blob/1.12/src/main/java/net/thedragonteam/armorplus/armors/APArmorMaterial.java#L90

[2018-06-13 17:54] gabizou commented on #2218
Plugins are definitely running there, you have some commands that aren't running, but it sounds like you have not set up your permissions correctly to be able to execute the commands. Either way, configuration error, not sponge error.

[2018-06-13 17:54] #2218 closed, assigned to nobody

[2018-06-13 20:30] MCEventHorizon commented on #2220
Excuse me but this isn't the only problem I mentioned, other configs don't work neither, all armor that I set to require only one piece still require full set.

[2018-06-14 13:35] Y0ungSandwich commented on #2127
Having the same issue on the modpack:
 Mech & Magic version: 3.0.2
spongeforge version: spongeforge-1.12.2-2705-7.1.0-BETA-3169.

https://pastebin.com/rCu4Eif3

[2018-06-14 13:52] jinkhya opened #2223 "Crash of the server when a specific player logs on"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3172.jar
- Forge version: 2705
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, AE2 Stuff, AI Improvements, Actually Additions, Actually Baubles, Advanced Generators, Advanced

[2018-06-14 14:38] bloodmc commented on #2223
@Cybermaxke can you take a look at this?

[2018-06-14 22:26] bloodmc commented on #2129
Unable to reproduce this on a clean server.

[2018-06-14 22:29] bloodmc commented on #2129
I'll keep this open a few more days if you find out how to reproduce.

[2018-06-14 22:33] JoeSGT commented on #2129
it's fine to close it to be honest with you i have no idea how to reproduce it, it's been on going issue now i had recently enable chunk loaders and allow the player to use them. If this issue does get close and later on i manage to find a way to reproduce this i will provide as much information and a way to reproduce it then make an another ticket regarding of this again. Sorry about this but tha

[2018-06-14 22:34] bloodmc commented on #1917
@Aaron1011 please take a look at this.

[2018-06-15 01:21] gabizou commented on #2127
Ok, once 3178 is finished building, try that build out. I'm trying to reproduce the issue and get villagers synced, but if this build fixes it, I'll close the issue.

[2018-06-15 01:26] gabizou commented on #2127
@Y0ungSandwich @Rutes give the new build a shot.

[2018-06-15 03:03] XakepSDK commented on #2129
Can you make memory dumps and profiling snapshots with YourKit while server errors?
p.s. don't forget to disable watchdog before doing this, enable snapshot compression(checkbox in confirm. window), because it may be really big with that much mod count(>8GiB)
Warning: memory snapshot may contain sensitive data.

[2018-06-15 12:31] Y0ungSandwich commented on #2127
Loaded up fine with 3178 and I flew around several villages just to be sure. Everything is looking good!

[2018-06-15 13:08] Y0ungSandwich opened #2224 "Entity spawning console spam"
**I am currently running**

spongeforge-1.12.2-2705-7.1.0-BETA-3178 (but has happened on earlier builds as well.)
forge-1.12.2-14.23.4.2705-universal
- Java version:  1.8.0_171
- Operating System: Windows 10 + Cantos 6

- Plugins/Mods: Complete modpack modlist at this link https://www.atlauncher.com/pack/MechMagic

Immediately after starting the server the console is spammed with:
`[08:53:44] [Ser

[2018-06-15 13:28] Rutes commented on #2127
still crashing for me: https://gist.github.com/Rutes/e3809db85fc76ec9182d70bb43956660

[2018-06-15 13:51] Rutes opened #2225 "Cannot interact with Snow Villagers from Ice & Fire mod"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3178
- Forge version: forge-1.12.2-14.23.4.2705-universal

- Plugins/Mods: Ice & Fire: Dragons in a Whole New Light

When interacting with "Snow Villagers" from the mod Ice & Fire, they do nothing. The server console throws some errors:
https://gist.github.com/Rutes/6a624bf8ca253989cd234c5b7ddc37eb

but there is not a crash. This happens on

[2018-06-15 15:23] gabizou commented on #2224
Not sure where I copied this from, but it originated in forge, and now I can't find how it was changed recently: https://github.com/SpongePowered/SpongeForge/blob/stable-7/src/main/java/org/spongepowered/mod/event/SpongeForgeEventFactory.java#L792

[2018-06-15 15:24] gabizou commented on #2224
Nevermind, found out that that bit of code was removed:
https://github.com/MinecraftForge/MinecraftForge/commit/2bd8b95a3b95cf65a84e7299332d5892e4a879d8#diff-27e07ae0b4ecb5d6fcc27c69d92db04eL57

Will be removing, but potentially there is a mod that is attempting to spawn empty itemstacks.

[2018-06-15 15:37] #2224 closed, assigned to nobody

[2018-06-15 17:26] flamechair commented on #2127
Crashing still for me as well, using 3178 and 3179

[2018-06-15 17:33] gabizou commented on #2225
Attempt SpongeForge 3181 once it's built. If it fails, it should provide a nice error message from sponge and still fall back, but it should provide a lot more insight as to the issue on sponge's side.

[2018-06-15 17:34] gabizou commented on #2127
Give 3181 a try. (it's being built as I write this).

Ok, new error this time. Correcting.

[2018-06-15 18:17] flamechair commented on #2127
Generating villages no longer causes the server/client to crash, instead this message is printed to the server log: https://gist.github.com/iamtpage/3bc95420535c1da65fc8b69441f3147d

[2018-06-15 18:42] gabizou commented on #2127
Alright, so, now try 3182 (building currently), I've tested it locally, but I wasn't able to get the same error you did @iamtpage. It's sounding like a separate issue, but hopefully the commit that resolved this issue should resolve yours.

Edit: Build uploaded.

[2018-06-15 18:46] gabizou commented on #2225
Fixed with https://github.com/SpongePowered/SpongeForge/commit/67f080fbdbb3946fb2425fef486a22c775582555

[2018-06-15 18:46] #2225 closed, assigned to gabizou

[2018-06-15 18:47] gabizou commented on #2127
Verified the built jar is allowing snow villagers to spawn and be interacted correctly. @iamtpage If you still have issues with 3182 printing out that message, open a new issue.

[2018-06-15 18:47] #2127 closed, assigned to gabizou

[2018-06-15 19:13] flamechair commented on #2127
Same error/results as 3181: https://gist.github.com/iamtpage/eed7ae1e0047455781997467ff7e682e

[2018-06-15 19:23] flamechair commented on #2127
Sorry, didn't see the new comment. Will open a new issue

[2018-06-15 19:42] flamechair opened #2226 "Villager Career Mismatch!"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3182
- Forge version: 2705 1.12.2
- Java version: N/A
- Operating System: N/A

- Plugins/Mods:
[04:48:49] [Server thread/INFO] [net.minecraft.server.dedicated.DedicatedServer]: Mods (79): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AI Improvements, AbyssalCraft, Aby

[2018-06-15 19:45] gabizou commented on #2226
Also, disable foam fix block pos modification in the config (noticed from the log).

[2018-06-15 19:51] Xemiru opened #2227 "ClickInventoryEvent does not trigger for empty slots"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3169
- Forge version: 2705
- Java version: 1.8.0_144
- Operating System: Windows 7

- Plugins/Mods: Test Plugin

**Issue Description**

The `ClickInventoryEvent` does not trigger for empty slots. Presumably this happens because essentially no transaction takes place when both the cursor and target slot is empty at the time of the event.

[2018-06-15 19:53] yaroslav4167 opened #2228 "Crash on startup server."
**I am currently running**

- SpongeForge version: 3182
- Forge version: 2705
- Java version: 1.8.0_151-b12
- Operating System: Linux

- Plugins/Mods: [plugins](http://bit.ly/2JN9iuT)/[mods](http://bit.ly/2tduzqw)

**Issue Description**
Crash on startup server.

Full server log: [log](http://bit.ly/2tctFL4)

[2018-06-15 19:55] phit commented on #2227
~move to sc

[2018-06-15 19:55] limbo-app commented on #2227
Hey @Xemiru! I've moved your issue to [SpongePowered/SpongeCommon#1942](https://github.com/SpongePowered/SpongeCommon/issues/1942).

[2018-06-15 19:55] #2227 closed, assigned to nobody

[2018-06-15 19:56] flamechair commented on #2226
Done, same error.

[2018-06-15 19:58] gabizou commented on #2228
Duplicate https://github.com/SpongePowered/SpongeForge/issues/2226

[2018-06-15 19:58] #2228 closed, assigned to nobody

[2018-06-15 21:09] flamechair commented on #2226
Hi @gabizou

While testing this the server can indeed start up, but now when villages spawn this error appears:

[code]

Is this a separate issue or does this fall under this issue?

[2018-06-15 21:16] gabizou commented on #2226
Still falls under this issue.

[2018-06-15 21:17] Faithcaio commented on #2212
You got an updated error log?

[2018-06-15 21:33] phit commented on #2212
https://i.imgur.com/5R4xpxF.png
https://i.imgur.com/HPWViDD.png

can't reproduce with appliedenergistics2-rv5-stable-11.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3184.jar

edit: tried sag mill as well, even switched modes for the bottom face, still no issue https://i.imgur.com/HMbXoXt.png

[2018-06-15 21:47] phit commented on #2070
still an issue on latest?

[2018-06-15 21:49] #2058 closed, assigned to nobody

[2018-06-15 21:58] phit commented on #2211
to be exact make sure tile-entity-activation is disabled, the only way this realistically could be broken is if the bee house isn't updating

[2018-06-15 22:40] ProsperCraft commented on #2070
It is hard to say, because Corail put in a work around(hack), will have to wait for his reply.

[2018-06-15 22:56] gabizou commented on #2226
Should be fixed in SpongeForge 3186 (currently building on Jenkins to deploy).

https://github.com/SpongePowered/SpongeForge/commit/4780cb07edaa9f4e19ab47eb5fc32fb0ebd5c33e

[2018-06-15 22:57] #2222 closed, assigned to Aaron1011

[2018-06-15 22:57] #2226 closed, assigned to nobody

[2018-06-15 23:17] flamechair commented on #2226
Can confirm! Tested 5 village generations, 0/5 caused errors to report in the console. Thanks!

[2018-06-16 00:02] LemADEC commented on #2222
As of
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-d453c3e
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3186
    Minecraft Forge: 14.23.4.2707
Issue is still reproduced

[2018-06-16 00:22] ryantheleach commented on #2120
It would be worth revisiting this.

I'm not sure if it has the same root cause as the recent changes to Sponge Forge that addressed Villager Careers, but it would be worth trying again to see if the issue still persists.

[2018-06-16 00:57] Rutes commented on #2127
confirmed no more crashes! Thanks guys!

[2018-06-16 01:00] Rutes commented on #2225
actually the snow villagers are still not working... No longer throwing errors to console, though. There is also a new version of Ice & Fire out today. So, I will test with everything at latest and re-open a new if still a problem.

[2018-06-16 01:04] gabizou commented on #2120
Should be resolved in SpongeForge 3188.

[2018-06-16 01:04] #2120 closed, assigned to Aaron1011

[2018-06-16 01:17] gabizou commented on #2225
Give 3188 a shot.

[2018-06-16 02:41] LemADEC commented on #2222
Using    SpongeForge: 1.12.2-2705-7.1.0-BETA-3189
Issue is still reproduced

[2018-06-16 03:02] gabizou commented on #2222
I forgot to mention, you need to re-create the villagers as they may have empty merchant lists already created, because I just downloaded 3188 and it works:

<img width="800" alt="screen shot 2018-06-15 at 8 02 05 pm" src="https://user-images.githubusercontent.com/1203877/41495221-1ce8f08c-70d7-11e8-889e-0a860c800262.png">

And for further reference, went and downloaded the latest:
<img width="983

[2018-06-16 07:26] MCEventHorizon opened #2229 "Console Spam/Error with Realistic Item Drops"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version: 14.23.4.2707
- Java version: 1.8.0_171
- Operating System: Windows 10

- Plugins/Mods: Realistic Item Drops

**Issue Description**

Getting this error in the console even tho everything seems to be working with this mod: [Server thread/WARN] [FML]: Attempted to add a EntityItem to the world with a invalid item at

Log: https://gis

[2018-06-16 07:32] LemADEC commented on #2222
ok, it does work with 3189, thanks!

[2018-06-16 09:18] MCEventHorizon commented on #2229
Closing it cause the latest version of sponge fixes it.

[2018-06-16 09:18] #2229 closed, assigned to nobody

[2018-06-16 10:32] jinkhya opened #2230 "Crash at the end of every server start"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3190.jar
- Forge version: 2705
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, AE2 Stuff, AI Improvements, Actually Additions, Actually Baubles, Advanced Generators, Advanced

[2018-06-16 16:37] bloodmc commented on #2230
You can either remove foamfix as it interferes with our patches OR remove our blockpos mixin found in 'mixins.common.core.optional.json'. Remove the 'util.math.MixinMutableBlockPos' line and try foamfix again.

[2018-06-16 16:42] phit commented on #2230
@bloodmc FoamFix works fine with Sponge, that BlockPos mixin error does not cause any issues, but if you want to get rid of it simply set `B:optimizedBlockPos=false` in the `foamfix.cfg`

----
in regard to that crash, seems to be happening to everyone in the recent ATM3 update no real lead yet what mod update is causing it

[2018-06-16 16:45] bloodmc commented on #2230
Try removing all plugins and retest.

[2018-06-16 16:46] jinkhya commented on #2230
Yeah I turned it optimizedBlockPos to false after looking at logs, wich didn't stop it from crashing. I tried disabling foamfix  as suggested, didn't fix it either.

OK will do about plugins.

[2018-06-16 16:56] JoeSGT commented on #2129
I would but i have no idea how to mess with YourKit

[2018-06-16 16:57] jinkhya commented on #2230
it's apparently GriefProtection that is crashing it. It's not compatible with latest versions of sponge then I suppose?

[2018-06-16 17:02] liach commented on #2230
it crashed in updateTimeLightAndEntities

[2018-06-16 17:03] yepidoodles commented on #2212
Still happening on 3190

https://gist.github.com/yepidoodles/c1fe26135509c8844c163be6d0c0cc70

[2018-06-16 17:05] phit commented on #2212
take a screenshot of the setup, we could not reproduce this at all

[2018-06-16 17:05] yepidoodles commented on #2212
Funny, as I posted that I thought I'd better add a screenshot - [![Screenshot from Gyazo](https://gyazo.com/611b31f1155decbcaedccb8600b3fdd1/raw)](https://gyazo.com/611b31f1155decbcaedccb8600b3fdd1)

[2018-06-16 17:07] phit commented on #2212
so basically the same thing i had, figure out what mods are needed to reproduce it
I was trying with just
EnderCore-1.12.2-0.5.31.jar
EnderIO-1.12.2-5.0.26.jar
jei_1.12.2-4.10.0.198.jar
RedstoneFlux-1.12-2.0.2.3-universal.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3184.jar
appliedenergistics2-rv5-stable-11.jar

and it worked fine

[2018-06-16 17:13] yepidoodles commented on #2212
I have no way to run a test server in order to try and find the culprit, and the current server I have running is public and active :/

[2018-06-16 17:58] bloodmc commented on #2230
GP works fine on latest. Backup and reset your Luckperms to see if you have bad data.

[2018-06-16 18:27] bloodmc commented on #2230
LuckPerms-Sponge-4.1.61.jar

You are using a completely outdated version of LP which can cause problems with GP. Update to latest LP.

[2018-06-17 01:57] LemADEC opened #2231 "OTG command fails to create dimension"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3190
- Forge version: 14.23.4.2707
- Java version: 1.8.0_144
- Operating System: Windows 10:amd64:10.0

- Plugins/Mods:
Biome_Bundle-1.12.2-v6.1.jar
OpenTerrainGenerator-1.12.2 - v6.jar

**Issue Description**
The command to create dimension in OTG fails with an exception regarding
[code]

Logs for single player:
https://gist.

[2018-06-17 11:54] jinkhya commented on #2230
Right, got it to work with latest version of luckperms and GP. Thanks for your help !

[2018-06-17 11:54] #2230 closed, assigned to nobody

[2018-06-17 17:21] ryantheleach commented on #2212
I've seen an issue years ago under bukkit with WorldGuard that was similar.

Make sure the area is unclaimed by protection plugins, (if you allow editing in wilderness), otherwise just double check that there isn't a conflicting claim permission on or near that boundary.

The issue it reminds me of was caused by the hopper and chest being in different regions, regardless of permissions, Off chance

[2018-06-17 18:24] yepidoodles commented on #2212
Okay, so I did a little playing and I always found out that it's also deleting items when outputting into these mod blocks.
Screenshot: https://gyazo.com/97f49e9086f1b808c026b8904fb78cc8
Gist: https://gist.github.com/yepidoodles/6da08f71185562b44c7f3492c974eb52
Gist of it happening to someone else: https://gist.github.com/yepidoodles/4e2e74f7ad4421ff5469d2c41e333462

Gist of someone else trying th

[2018-06-17 23:50] Liiw opened #2233 "Riding boat not working properly"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-8.0.0-BETA-3202
- Forge version: forge-1.12.2-14.23.4.2705
- Java version: 8 64bit
- Operating System: Win 10 Home 64bit

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, ActuallyComputers, Advanced Rocketry, AgriCraft, Alternating Flu

[2018-06-17 23:54] phit commented on #2233
do not use [api 8 ](https://docs.spongepowered.org/stable/en/server/getting-started/implementations/spongeforge.html#reading-the-download-filename)builds in production, they are unstable, will break your plugins and will quite often miss patches from the main api 7 builds

this specific issue was fixed a while ago on api 7, so please switch to the latest recommended api 7 build
https://www.spongep

[2018-06-17 23:54] #2233 closed, assigned to nobody

[2018-06-18 00:20] Liiw commented on #2233
Hello again!

That was the problem indeed. When I discovered this issue, I had 7.1.0-BETA-3169 installed. Trying to resolve the issue, I downloaded the latest "experimental" build thinking "newer sponge is better sponge". I did not realize there is an API difference. Works fine with 7.1.0-BETA-3171. Thank you for your help!

[2018-06-18 00:23] fcpwiz opened #2234 "When right-clicking an Arcane Workbench, error in console"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3201.jar
- Forge version: forge-1.12.2-14.23.4.2705-universal.jar
- Java version: 8 64 bit
- Operating System: Linux

- Plugins/Mods:

Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Aliases, CatClearLag, Denizen2Sponge, FoxCore, FoxGuard, GriefPrevention, Holograms, LuckPerms, MMCRestrict,

[2018-06-18 03:08] sandtechnology opened #2235 "Mod Teleport Problem with Sponge"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3171
- Forge version: 2705
- Java version: 1.8.0_172
- Operating System: Windows Server 2018

- Plugins/Mods:

Plugins (9): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, FlexibleLogin, LuckPerms, Prism, UWhitelist

Mods (23): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI

[2018-06-18 03:30] ryantheleach commented on #2235
Duplicate of Cyclics issue: https://github.com/PrinceOfAmber/Cyclic/issues/756 https://github.com/PrinceOfAmber/Cyclic/issues/795

This looks like the CSM being unable to know what caused the teleport.

This is due to Cyclic using the GUI thread hooks, to schedule a chunk load, then using a callback on chunk load in order to teleport the player.

Seems pretty straight forward from their end, wanti

[2018-06-18 05:41] #2234 closed, assigned to nobody

[2018-06-18 05:41] Faithcaio commented on #2234
Try again with latest.
But the error does not actually break anything.
We're just skipping the Grid-Support for that Inventory.

[2018-06-18 10:28] yushijinhun commented on #2178
I agree with you.

In fact, there isn't any technological difficulty in supporting 1-character or 2-character usernames. It is totally a man-made restriction set by Mojang.

However, aside from Mojang's authentication system, there are offline users and users who use a different authentication system. We should give them the right to choose whatever username they like.

[2018-06-18 11:14] phit commented on #2235
literally calling teleport from their packet handler, mod bug
https://github.com/PrinceOfAmber/Cyclic/blob/6c8a7a51e2204f8879a35a4e3158665f3e5772ba/src/main/java/com/lothrazar/cyclicmagic/item/enderbook/PacketWarpButton.java#L60

report it to the mod author

[2018-06-18 11:14] #2235 closed, assigned to nobody

[2018-06-18 17:13] caseif opened #2236 "DropItemEvent.Destruct and SpawnEntityEvent are no longer called after breaking a block"
As of SpongeForge 3074, `DropItemEvent.Destruct` and `SpawnEntityEvent` are no longer called when an item entity is spawned from a broken block. I suspect that fd599aa3c72cf0b82bf8fec28a07ca9da7473324 is the culprit, although SF 3074 includes multiple commits, so I can't say with certainty as I've only done a bisect on precompiled builds.

[2018-06-18 17:31] ghost commented on #2070
it's still an issue, with sponge 1.12.2-2705-7.1.0-BETA-3171, the equipped techgun ammos are never present in the playerdrop event

[2018-06-18 18:11] Aaron1011 commented on #2210
@Mireu-zz Your SpongeForge build is quite outdated. Please retest on the latest version - if there's an issue with Thaumcraft, open a separate issue for it.

[2018-06-18 19:43] Aaron1011 commented on #2070
This is caused by the weird way in which TechGuns performs drops from its own inventory.

In its `PlayerDropsEvent` listener, TechGuns runs this snippet of code:

[code]

Instead of adding its drops directly to the event, it spawns the items into the world after turning on capturing. The only reason that this ever works is that Forge's list of captured drops `Entity.capturedDrops` is the same obje

[2018-06-18 20:44] tatsudev opened #2237 "Server Watchdog/FATAL [net.minecraft.server.dedicated.ServerHangWatchdog]: A single server tick took 60.00 seconds (should be max 0.05)"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 1.12.2-14.23.3.2655
- Java version: openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-1~deb9u1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)
- Operating System: Debian 9

start.sh
java -Xmx3G -Xms3G -jar forge-1.12.2-14.23.3.2655-universal.jar -d64

- Plug

[2018-06-18 21:54] gabizou commented on #2070
There's already a few states in use during living drops, we can do as I had to do for hatchery where the phase state dictates how to handle the list supplied to the event.

[2018-06-19 01:48] ghost commented on #2070
if it can help, the techguns ammos are not around the grave too (because my graves also catch items around) and that's why i catch theses ammos in the next tick as a provisory fix.

[2018-06-19 04:05] bloodmc commented on #2237
SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065

Over 130 builds old.... Update

[2018-06-19 04:05] #2237 closed, assigned to nobody

[2018-06-19 04:37] ashpieboop opened #2238 "Remove org.spongepowered:testmods from dependencies"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3171 / 1.12.2-2705-7.1.0-BETA-3201
- Forge version: 2705
- Java version: 1.8
- Operating System: Windows

- Plugins/Mods: Not relevant

**Issue Description**
.pom of 1.12.2-2705-7.1.0-BETA-3171 contains a runtime dependency "org.spongepowered:testmods" with "unspecified" version, which is not resolved on the sponge maven ser

[2018-06-19 07:21] jinkhya opened #2239 "Actually Additions Villager crashing the server when a village is generated"
**I am currently running**

- SpongeForge version: 3203
- Forge version: 2707
- Java version: 1.8.0_121-b13
- Operating System: Centos 7.3.1611

- Plugins/Mods:
ATM3 (5.9.7b)
plugins :
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, Enjin Minecraft Plugin, LuckPerms, MMCRestrict, Nucleus, WorldEdit

**Issue Description**
When somebody explores the map and generates a village,

[2018-06-19 09:46] tatsudev commented on #2237
Ohh my head.. Thank I try))

[2018-06-19 10:47] Luysita opened #2240 "IP forwarding not working"
**I am currently running**

**- SpongeForge version:** spongeforge-1.12.2-2705-7.1.0-BETA-3171
**- Forge version:** forge-1.12.2-14.23.4.2705-universal
**- Java version:** (build 1.8.0_171-8u171-b11-0ubuntu0.16.04.1-b11)
**- Operating System:** Ubuntu 16.04.4 LTS

**- Plugins/Mods:**
spongeforge-1.12.2-2705-7.1.0-BETA-3171.jar
BiomesOPlenty-1.12.2-7.0.1.2391-universal.jar
ServerListPlus-3.4.7-Univ

[2018-06-19 10:56] dualspiral commented on #2240
Second line in your bungee config `forge_support: false`, set to `true`.

[2018-06-19 11:12] Luysita commented on #2240
Worked!! I feel a bit dumb now, sorry! :')
Thank you so much!!!!!!!!!!!

[2018-06-19 11:12] #2240 closed, assigned to nobody

[2018-06-19 17:28] Vitali8 commented on #2148
Same issue.
SpongeForge version: 1.12.2-2705-7.1.0-BETA-3204 & 1.12.2-2705-7.1.0-BETA-3171

[2018-06-19 17:29] #2239 closed, assigned to nobody

[2018-06-19 19:24] Rasgnarok opened #2241 "Block-capturing module populates on populate=false"
**I am currently running**

- SpongeForge version: 3206
- Forge version: 2705
- Java version: 8
- Operating System: Centos7

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/41619535-9a606ed2-73d4-11e8-8ce9-03c1edd66231.png)

**Issue Description**
1) Get a fresh Spongeforge setup with some mod (testing with Pixelmon Reforged 6.3.1). Check the `global.conf` file, where `b

[2018-06-19 19:26] phit commented on #2231
https://github.com/SpongePowered/SpongeForge/issues/2072#issuecomment-377701029

[2018-06-19 19:26] #2231 closed, assigned to nobody

[2018-06-19 21:11] RussianSanity opened #2242 "Error from World Unloading during Terrain Generation with Extra Planets"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3206
- Forge version: forge-1.12.2-14.23.4.2707-universal.jar
- Java version: 1.8.0_161, Oracle Corporation
- Operating System: Linux (amd64) version 4.9.33-mod-std-ipv6-64

- Plugins/Mods: Tick Profiler, Better Chunkloader, Universeguard, Stackban, Prism, Nucleus, LuckPerms, GriefPrevention, and a custom plugin

[2018-06-19 21:14] RussianSanity commented on #2242
First reported on the Sevtech: Ages modpack github. They referred me to report it here.
Original Report [(HERE)](https://github.com/DarkPacks/SevTech-Ages/issues/2927)

[2018-06-19 21:31] gabizou commented on #2242
@RussianSanity Try SF 3211 (it's in progress of building based on that commit).

It's uploaded now.

[2018-06-19 21:32] KingDan27 commented on #2211
Okay tested this today with tileentity-activation set to disabled and the effect did not persist through reboot.

[2018-06-19 21:39] RussianSanity commented on #2242
Okay, will try now.

[2018-06-19 21:39] Aaron1011 commented on #2220
@MCEventHorizon: I'm unable to reproduce the water debuff issue. Can you re-test on the latest SpongeForge?

[2018-06-19 21:45] gabizou commented on #2242
@RussianSanity Also, the crash may still happen, but if it does, please re-paste the new crashlog.

[2018-06-19 22:16] RussianSanity commented on #2242
Welp I flew around Uranus for around 13 minutes, randomly /rtping here and there and it seems to be fine. No server crash at all. When the player who was making it crash before gets on I'll have them try it themselves and see the result.

If anything changes I'll post it here. Thank you for fixing it (as far as we know lol)!

[2018-06-19 22:30] gabizou commented on #2242
I wrote more of a workaround for now which will avoid any errors, 3212 has the added null check to avoid this error, but it doesn't properly fix the issue. I'll investigate further at some point.

[2018-06-19 23:28] ghost opened #2243 "Sponges crashes on server start up"
**I am currently running**

- SpongeForge version: Latest
- Forge version:  2705
- Java version: 8
- Operating System: 10

- Plugins/Mods:

**Issue Description**
https://gist.github.com/SacrificialFlame/578d6fe4333077c10b94599e8a77e5f5

[2018-06-19 23:32] phit commented on #2243
https://github.com/DimensionalDevelopment/JustEnoughIDs/issues/1

[2018-06-19 23:32] #2243 closed, assigned to nobody

[2018-06-20 02:02] JoeSGT opened #2244 "Movement Module crash with other mods"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3212
- Forge version: 1.12.2-14.23.4.2705
- Java version:  8
- Operating System: Windows 10

- Plugins/Mods:
spongeforge-1.12.2-2705-7.1.0-BETA-3212
plethora-1.12.2-1.1.11
cc-tweaked-1.80pr1.5

**Issue Description**
Just go on global.conf and enable movement module and you will crash
[crash-2018-06-19_22.00.07-server.txt](ht

[2018-06-20 03:45] Aaron1011 commented on #2244
@phit: I wouldn't say that this is 'high priority', since this mixin just disables some annoying Vanilla messages (and can be disabled in the config). However, I'll take a look.

[2018-06-20 03:46] #2238 closed, assigned to kashike

[2018-06-20 04:16] CDAGaming opened #2245 "When Respawning, Players are TP'd to the Void"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3213
- Forge version: 14.23.4.2705
- Java version: 1.8.0_162
- Operating System: Windows 10

- Plugins (16): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, CatClearLag, LuckPerms, MMCRestrict, Nucleus, Prism, ProjectCore, ProjectInventories, ProjectWorlds, ServerListPlus, Total Economy, WorldEdi

[2018-06-20 04:47] Aaron1011 commented on #2244
This crash happens without either of those mods installed. It appears to happen only in production - it seems to be a problem with the `@ModifyConstant` injector.

[2018-06-20 06:25] Aaron1011 commented on #2244
Fixed in https://github.com/SpongePowered/SpongeForge/commit/e80cb0e1f1ba783cd996fe826f4254d5b7f94aa4.

This was a really weird issue. The `BeforeInvoke` ordinal was wrong this entire time, but it worked anyway until commit https://github.com/SpongePowered/SpongeCommon/commit/d05b375618ccc38b980ddbbdef01a03f32a6a037 bumped our Mixin version to include https://github.com/SpongePowered/Mixin/commit/

[2018-06-20 06:25] #2244 closed, assigned to nobody

[2018-06-20 08:24] MCEventHorizon commented on #2220
@Aaron1011 With latest sponge it doesn't do damage but it does give Slowness II which is also not intended.

[2018-06-20 09:49] Luysita opened #2246 "Dynmap doesn't work"
**I am currently running**

**- SpongeForge version:** spongeforge-1.12.2-2705-7.1.0-BETA-3171
**- Forge version:** forge-1.12.2-14.23.4.2705-universal
**- Java version:** (build 1.8.0_171-8u171-b11-0ubuntu0.16.04.1-b11)
**- Operating System:** Ubuntu 16.04.4 LTS

**- Plugins/Mods:**
spongeforge-1.12.2-2705-7.1.0-BETA-3171.jar
BiomesOPlenty-1.12.2-7.0.1.2391-universal.jar
ServerListPlus-3.4.7-Univ

[2018-06-20 09:56] dualspiral commented on #2246
You need to install the dynmap mod on your server, you've only installed the Dynmap/Nucleus bridge.

Please note that Github is not the best place for support. You will find much better support on:

* The Sponge forums: https://forums.spongepowered.org/
* IRC: #sponge on irc.esper.net
* Discord: https://discord.gg/PtaGRAs

[2018-06-20 09:56] #2246 closed, assigned to nobody

[2018-06-20 12:40] Aaron1011 commented on #2244
Slightly unrelated: Debugging this issue lead me to submit https://github.com/MinecraftForge/MinecraftForge/pull/4989, since I was having trouble running Plethora in my IDE.

[2018-06-20 18:18] JoeSGT opened #2247 "Sponge breaks Forge LivingEntityUseItemEvent"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3214
- Forge version: 14.23.4.2705
- Java version:  8
- Operating System: windows

- Plugins/Mods:
https://gyazo.com/52bf997c900b0a7f0cba4bb2acff30bb

**Issue Description**
After a lot of testing to find what commit broke
immersive engineering mod an item called "Chemical Thrower" it is an item that let you shoots various fluids. I used

[2018-06-20 21:44] Aaron1011 commented on #2247
This will be fixed in the next SpongeForge build.

@JoeSGT: For future reference, please include detailed reproduction instructions whenever mod items are involved. I had to fiddle around with Immersive Engineering for a while to figure out how to actually use the Chemical Thrower.

[2018-06-20 21:44] #2247 closed, assigned to Aaron1011

[2018-06-20 22:02] JoeSGT commented on #2247
i will next time sorry, also it seem the commit broke startup https://pastebin.com/raw/vuCAf7mp
@Aaron1011

[2018-06-20 22:05] Aaron1011 commented on #2247
@JoeSGT: My bad - I forgot to actually bump the SpongeCommon ref in my commit. The next build should fix that.

[2018-06-21 03:57] gabizou commented on #2242
@Zidane can you look into this potentially? It's weird that the world unload was occurring from normal areas when another world was generating chunks.

[2018-06-21 05:39] CDAGaming commented on #2245
Fixed this myself, was something with my World's Level Data.
Closed as Fixed.

[2018-06-21 05:39] #2245 closed, assigned to nobody

[2018-06-22 01:02] KingDan27 commented on #2214
Okay closing this ticket. Issue was narrowed down to catclearlag not sponge thanks for the assist.

[2018-06-22 01:02] #2214 closed, assigned to nobody

[2018-06-22 08:02] Fatmice opened #2248 "GUI gets forced closed when sneak-right clicking RF Tools Network Monitor Item on a Tile Entity"
**I am currently running**

[07:52:03] [Server thread/INFO] [net.minecraft.server.dedicated.DedicatedServer]: SpongeForge
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-d453c3e
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3204
    Minecraft Forge: 14.23.4.2705
Server: Linux 4.4.0-1061-aws #70-Ubuntu SMP Fri May 25 21:47:34 UTC 2018 x86_64
Client: Windows 10

- Plugins/Mods:

[07:51:36] [Server thr

[2018-06-22 09:08] Fatmice commented on #2248
I've updated to newest beta
spongeforge-1.12.2-2705-7.1.0-BETA-3218.jar

Problem seems to have gone away but now the commands /sponge plugins or /sponge mods or anything /sponge have disappeared

[2018-06-22 13:03] phit commented on #2248
closing, as it was solved. for the command issue follow https://github.com/SpongePowered/SpongeCommon/issues/1953

[2018-06-22 13:48] luenlin opened #2249 "The main thread stuck"
`---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.12.2-2705-7.1.0-BETA-3218.jar)
  ForgelinPlugin ([前置机翻是什么影子核心]Forgelin-1.7.4.jar)
  llibrary (llibrary-core-1.0.6-1.12.2.jar)
  AstralCore ([研究星星的魔法]astralsorcery-1.12.2-1.9.1.jar)
Contact their authors BEFORE contacting forge

// On the bright side, I bought you a teddy bear!

Time: 18-6-22 下午9:41
Des

[2018-06-22 16:03] liach commented on #2249
the watchdog should probably start after the serverstartedevent has finished firing.

[2018-06-22 16:36] phit commented on #2249
virtualchest is doing database stuff on the main thread, report it to them

[2018-06-22 16:36] #2249 closed, assigned to nobody

[2018-06-22 20:53] Aaron1011 commented on #2249
@luenlin: In the future, please use a service like Pastebin or Gist when posting logs.

[2018-06-22 22:57] liach commented on #2249
@aaron1011 i believe gist or pastebin is blocked in china, while a few others are not permanent.

[2018-06-23 00:19] LemADEC opened #2250 "UnsupportedOperationException when pressing Shift-F3"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3218
- Forge version: 14.23.4.2708
- Java version: 1.8.0_162
- Operating System: Windows 10

- Plugins/Mods:
None, just Forge + SpongeForge

**Issue Description**
Create new world > press shift-F3 > crash
https://gist.github.com/LemADEC/a653d7e46668d3b376acefbf1c565b10

[2018-06-23 00:31] phit commented on #2249
indeed https://en.greatfire.org/gist.github.com

[2018-06-23 00:33] phit commented on #2250
https://github.com/SpongePowered/SpongeCommon/issues/1726#issuecomment-364620972

[2018-06-23 03:20] #2250 closed, assigned to nobody

[2018-06-23 03:28] phit commented on #2241
will be fixed with https://github.com/SpongePowered/SpongeCommon/pull/1951

[2018-06-23 03:33] luenlin opened #2251 "The main thread is again stuck with a different error"
Crash report: https://paste.feed-the-beast.com/view/12a1de88

[2018-06-23 04:10] Aaron1011 commented on #2251
@luenlin: Can you see if https://paste.feed-the-beast.com/ is unblocked for you?

[2018-06-23 04:13] luenlin commented on #2251
@Aaron1011 yes Sir https://paste.feed-the-beast.com/view/12a1de88

[2018-06-23 04:15] Aaron1011 commented on #2251
@luenlin: Thanks!

[2018-06-23 04:16] luenlin commented on #2251
@Aaron1011  I should thank you for that.

[2018-06-23 14:50] Fatmice commented on #2248
@phit please reopen.  I just found that it is not solved.  SpongeForge 3221 did not load due to conflict with LagGoggles' Mixin, so it made it seemed as if the problem went away.  It did not.

[2018-06-24 01:34] IronworksProductions opened #2253 "infinite slowness and mining fatigue from unknown origin"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3206.jar
- Forge version: 2705
- Java version: 1.8
- Operating System:ubuntu

- Plugins/Mods:_..x_SecurityCraftv.jar

actuallyadditions.jar
actuallybaubles.jar
advancedRocketry.jar
adventurepack.jar
akashictome.jar
appleskin.jar
aroma1997core.jar
aroma1997sdimension.jar
astralsorcery.jar
autoreglib.jar
Avaritia.j

[2018-06-24 01:55] phit commented on #2253
Not really our place to debug your modlist to figure out what mod is doing so. When you figure out that its somehow only happens with Sponge. feel free to add a reproduction and I'll be happy to reopen the issue.

[2018-06-24 01:55] #2253 closed, assigned to nobody

[2018-06-24 02:05] IronworksProductions commented on #2253
Ok the modpack plays fine in singleplayer its as soon as it enters the server that it does this. and since its giving a level of mining fatigue that prevents you from even mining dirt i suspect it is spawn protection gone awry. but thats for you to figure out.

[2018-06-24 02:43] IronworksProductions commented on #2253
I updated the issue with what i did to cause the error it is sponge since its multi world only the world i generated with the multiworld system ahas this happen inside.

[2018-06-24 07:54] gabizou commented on #2253
We're here to fix bugs with our software, we're not here to prune a modlist of 100+ mods and spongeforge to figure out where the issue is coming from. You'll need to provide us with step by step reproduction instructions to even start helping us help to fix the problem since I have no understanding of your second comment is going on about:

There's no error in the log that points to potion effects

[2018-06-24 12:48] ryantheleach commented on #2253
One extremely quick test you can do to work out if it's even remotely related to sponge, is to disable SpongeForge and see if the issue persists.

If the issue persists without SpongeForge, It can't possibly be a bug with our software.

If you are using a modpack, and that modpack has a support channel / forum / comments / discord, ask them, there will be many others with your exact setup that may

[2018-06-25 02:03] DMahalko opened #2254 "requires mixin subsystem 0.7.10 but 0.7.4 was found"
- SpongeForge version: spongeforge-1.12.2-2705-8.0.0-BETA-3225.jar
- Forge version: forge-1.12.2-14.23.4.2705-universal.jar
- Java version:  Java is Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_144
- Operating System:  Linux:amd64:4.4.0-91-generic

Summary:
[20:33:48] [main/DEBUG] [mixin]: spongeforge-1.12.2-2705-8.0.0-BETA-3225.jar has core plugin org.spongepowered.mod.SpongeCoremod. Injectin

[2018-06-25 02:04] Lemmmy commented on #2254
dear god your log is javascript

[2018-06-25 02:06] kashike commented on #2254
MalisisCore is shipping an older version of Mixin. You can get around this by renaming the SpongeForge JAR to something like `aaaaSpongeForge....`.

[2018-06-25 02:07] DMahalko commented on #2254
I have never used this before. I see the link works properly if I remove ".js" .. updated

[2018-06-25 02:16] #2254 closed, assigned to nobody

[2018-06-25 02:16] DMahalko commented on #2254
I renamed spongeforge to aaaa* and Sponge now loads but it crashes anyway on the MalisisCore mod.

Is there anything that the Sponge developers can do about it, or does the modpack author need to do something?

[21:11:50] [main/ERROR] [mixin]: Classloader restrictions [PACKAGE_TRANSFORMER_EXCLUSION] encountered loading mixins.malisiscore.core.json:MixinClientNotif$MixinWorld, name: net.malisis.cor

[2018-06-25 02:17] Lemmmy commented on #2254
you probably copied the link from the "Embed" box on the gist page - its for embedding the gist via javascript in websites

[2018-06-25 02:18] phit commented on #2254
report it to malisiscore, they need to update

[2018-06-25 03:14] phit commented on #2140
No reply in over a week, closing this for now. If this is still an issue, then please reply with the information you have been asked for and I will reopen this issue.

[2018-06-25 03:14] #2140 closed, assigned to Aaron1011

[2018-06-25 04:48] IronworksProductions commented on #2253
Yeah I just removed spongeforge and the issue vanished. before i did that i removed project world and it did not go away. I wish I could go to a support channel but this is MY custom modpack I designed it.
if you want to reproduce it i can give  you my launcher that auto downloads the mods then all you need to do is setup a sponge server with a multiworld plugin and create a world. eventually this

[2018-06-25 05:15] ryantheleach commented on #2253
The issue you linked doesn't relate to "infinite slowness and mining fatigue" and is specifically talking about ["Adventure Mode"](https://minecraft.gamepedia.com/Adventure)

[2018-06-25 05:18] IronworksProductions commented on #2253
that is what it actually is.

[2018-06-25 05:18] IronworksProductions commented on #2253
can't even break dirt
probably should have edited that last comment but oh well

[2018-06-25 16:32] DMahalko opened #2255 "mixin: failed injection: Lnet/minecraft/world/World"
- Summary:
Still trying to get modpack "Hexxit Updated" working. Disabled malisiscore and associated mods, as they are just decorative eye candy and don't affect core gameplay. Renamed spongeforge from "aaa-" back to normal, no effect, still crashes.

- Everything appears to be working fine right up to line 2242:
[11:12:35] [main/WARN] [mixin]: Failed to locate initialiser injection point in <init

[2018-06-25 16:36] prokopiy opened #2256 "[Server thread/FATAL] spaming"
**I am currently running**

- SpongeForge version: 3206
- Forge version: 2705
- Java version: 1.8.171
- Operating System:Ubuntu 16.04x64

/sponge plugins
[19:31:31] [Server thread/INFO]: Server ran the command: /sponge plugins
[19:31:31] [Server thread/INFO]: §ePlugins§r§f (§r§f14§r§f): §r§aMinecraft§r, §r§aMinecraft Coder Pack§r, §r§aSpongeAPI§r, §r§aSpongeForge§r, §r§aAuction§r, §r§aCatClearLag§

[2018-06-25 16:43] phit commented on #2256
https://github.com/TehNut/HWYLA/issues/122

[2018-06-25 16:43] #2256 closed, assigned to nobody

[2018-06-25 18:06] gabizou commented on #2255
Can you try using the latest 7.1.0 SpongeForge build 3228? You're using a SpongeForge built for SpongeAPI 8 which has lots of breaking changes and is targeting 1.13 at some point, so all recommended builds are using API 7.x releases, which in this case the latest SpongeForge build is 3228.

[2018-06-25 18:13] #2255 closed, assigned to nobody

[2018-06-25 18:19] phit commented on #2251
looks like a Luckperms issue if anything, nothing for Sponge to do here

[2018-06-25 18:19] #2251 closed, assigned to nobody

[2018-06-25 19:35] flamechair opened #2257 "Exception occurred during a PhaseState"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3228
- Forge version: 14.23.4.2705
- Java version: N/A
- Operating System: N/A

- Plugins/Mods:
[code]

Sponge Plugins:
[code]

Player logs in and it generates the stacktrace: https://gist.github.com/iamtpage/e6a3303bdbbbaea9dafdcc8640ee1cda

Server log: https://gist.github.com/iamtpage/da5529e6a2d8effb41e9d30eddda4ac3

[2018-06-25 19:46] phit commented on #2257
https://github.com/TeamLapen/Vampirism/blob/1.12/src/main/java/de/teamlapen/vampirism/entity/DamageHandler.java#L54

[2018-06-25 19:50] flamechair commented on #2257
cc @maxanier

[2018-06-26 19:55] phit commented on #2138
![image](https://user-images.githubusercontent.com/2097483/41935873-94e6d902-798b-11e8-8193-371c66c2ece9.png)

seeing the same issue on 7.1.0-BETA-3233

[2018-06-26 20:14] gabizou commented on #2138
I'm having a hard time accepting that this is Sponge causing issues. The code in question is specifically called by a tile entity attacking/killing entities, which will naturally call what MCP names: `ItemStack#attemptDamageItem` (which is the very last method listed in the profiling).

Sure, it can be a "performance" issue, but it's not caused by Sponge in the slightest, as you can see in the sta

[2018-06-26 20:14] #2138 closed, assigned to nobody

[2018-06-26 21:15] Vitali8 opened #2258 "Crash during the chunk generation of the overworld (Lost Cities)"
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3204
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 1.8.0_162
- Operating System: Linux

- Mods: baubles, guide api, blood magic, blood arsenal, applied energistics2, bdlib, ae2stuff, better questing, biomes o plenty, codechickenlib, redstoneflux, brandonscore, ic2, sonarcore, calculator, jei, crafttweaker, customnpcs,

[2018-06-26 22:01] Sir-Will opened #2259 "Cyclic Spawn Seeker causes server crash with cause tracker"
Using the Spawner Seeker in the extra planets dimension causes the server to crash.

[code]
Log: https://gist.github.com/Sir-Will/0400d43d70ff7f1e00b932493a88d0f2

spongeforge-1.12.2-2705-7.1.0-BETA-3233
forge-1.12.2-14.23.4.2705-universal
Cyclic-1.12.2-1.15.8
GalacticraftCore-1.12.2-4.0.1.177
Galacticraft-Planets-1.12.2-4.0.1.177
ExtraPlanets-1.12.2-0.3.8

[2018-06-26 23:57] Aaron1011 commented on #2259
There's at least one issue here - possibly more. I've opened an issue for the initial stacktrace, which is due to Cyclic modifying the world off the main thread: https://github.com/PrinceOfAmber/Cyclic/issues/863

[2018-06-27 03:05] Aaron1011 opened #2260 "Specify an updateJSON URL in our mcmod.info"
Forge has [a built-in update checker](https://github.com/MinecraftForge/MinecraftForge/blob/d09a8d98d7eefe9f2d1120f9d777873b5918b042/src/main/java/net/minecraftforge/fml/common/Mod.java#L247) that checks a mod-provided URL on startup. It would be nice if Sponge opted into this system, which would allow Sponge update notifications to be shown to users.

This would require [DownloadIndexer](https://

[2018-06-27 03:27] cestofmir opened #2261 "The PhaseState having an exception: EntityTickPhase: (Galacticraft and null UUIDs)"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Forge version: 1.12.2 - 14.23.4.2705
- Java version: Assumed to be latest, handled by the host "ShockByte"
- Operating System: Windows 10 Pro

- Plugins/Mods: https://i.imgur.com/02gZK7Q.png

**Issue Description**
Galacticraft adds new dimensions to minecraft, which are accessed through launching a rocket into space un

[2018-06-27 03:52] phit commented on #2260
see https://mcforge.readthedocs.io/en/latest/gettingstarted/autoupdate/
for the format

[2018-06-27 03:59] kashike commented on #2260
https://files.minecraftforge.net/maven/org/spongepowered/spongeforge/promotions_slim.json

[2018-06-27 05:09] gabizou commented on #2261
For reference, it looks like it's this line here:
https://github.com/micdoodle8/Galacticraft/blob/9bbb881405ea947de611929dc674fc37538ad10c/src/main/java/micdoodle8/mods/galacticraft/core/util/WorldUtil.java#L220

I'm not sure whether @radfast could provide some insight, but I'm not familiar enough with all the checks and "requirements" for what states some things can be in for that line to fail li

[2018-06-27 11:09] maxanier commented on #2257
I will look into this today or tomorrow

[2018-06-27 21:31] maxanier commented on #2257
Looks like I forgot to initialise the ConvertedVillagers garlicCache. Fixed that, hope it resolves the issue. Planning a new bug fix release in a couple of days unless this has a severe impact (crash etc.) then I can do a release tomorrow

[2018-06-27 21:49] radfast commented on #2261
hey @gabizou  :)

@cestofmir this is a crash in Galacticraft code which Sponge has trapped.  I'm not sure that it's a Sponge issue at all.  Please can you open an issue on the [Galacticraft issue tracker](https://github.com/micdoodle8/Galacticraft/issues) for now, so that our messages to try to resolve this don't create a whole bunch of extra emails for the Sponge guys.

I suggest this can be clos

[2018-06-27 21:50] #2261 closed, assigned to nobody

[2018-06-27 21:58] cestofmir commented on #2261
@radfast Thanks, I'll do that.

[2018-06-28 02:08] #2260 closed, assigned to kashike

[2018-06-28 03:13] flamechair commented on #2257
Server doesn't crash, but it could be considered a time bomb since the stack trace generates rapidly when a player loads a chunk with a converted vampire villager. The workaround we use currently is to just kill any converted villagers to keep it from spamming the log.

[2018-06-29 00:40] NEXUS2345 commented on #2213
I can also reproduce this issue on SpongeForge 7.1.0 BETA 3238. Is there any status update on this issue?

[2018-06-29 01:17] sfxworks opened #2262 "Sponge Logging"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3151
- Forge version:  14.23.4.2705
- Java version: [java 8 alpine](https://hub.docker.com/_/openjdk/)
- Operating System: [Container-Optimized OS](https://cloud.google.com/container-optimized-os/docs/)

- Plugins/Mods:
[code]

**Issue Description**

When enabling logging for chunk loading/unloading in the config for the overworld, it outputs, but I ge

[2018-06-29 01:26] phit commented on #2262
set `log-stacktraces` to false in your global.conf

[2018-06-29 01:26] #2262 closed, assigned to nobody

[2018-06-29 01:27] ryantheleach commented on #2262
This is by (possibly lazy) design, we could look into moving it from STDERR, to SPONGE, but enabling stack trace logging for Chunk GC, it's literally to enable this extra output, and the mechanism for doing so, is by using throwables to grab and print the stack for us.

Also note that the logging level remains at INFO, even though the logger is set to STDERR but it's using the logging frameworks o

[2018-06-29 02:55] Zidane commented on #2213
@Aaron1011

A better fix (and a longer drawn out one) is simply to not touch any "fake" worlds. Even at the config level.

[2018-06-29 03:52] Aaron1011 commented on #2213
@Zidane: I've gotten the world to load on this branch: https://github.com/SpongePowered/SpongeCommon/tree/fix/mystcraft-issues

However, I'm going to take a closer look at how we handle 'fake' worlds.

[2018-06-29 15:35] JanSponge opened #2263 "Migrating Old World Using SpongeForge"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3206
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: Java 8
- Operating System: 64-bit

- Plugins/Mods:
    - PixelmonGenerations-1.12.2-2.1.0-universal
    - spongeforge-1.12.2-2705-7.1.0-BETA-3206

**Issue Description:**
I am trying to migrate a 1.7.10 world from an old server to 1.12.2. My

[2018-06-29 16:26] Dockter commented on #2263
Be advised this person pinged several members of the community already on this matter.  I personally told him that the error being received wasn't indicative of the actual issue.

I'm not sure what part of, "You can't easily just move a 1.7.10 world to 1.12.2 with Mods and expect it to work everytime" wasn't clear.

[2018-06-29 16:54] Dockter commented on #2263
I researched this issue.  This isn't a sponge issue its a "World was generated under 1.6.4" issue and the level.dat file has some old FML entries.

Not a sponge issue.

[2018-06-29 16:56] Dockter commented on #2263
From FMLContainer.java:

 if (tag.hasKey("ModItemData") || tag.hasKey("ItemData")) // Pre 1.7
        {
        StartupQuery.notify("This save predates 1.7.10, it can no longer be loaded here. Please load in 1.7.10 or 1.8 first");
        StartupQuery.abort();
        }

[2018-07-02 00:26] Sir-Will opened #2264 "Dupe bug with wrenches"
If you shift right click a tile entity while the tile is protected by a protection plugin like GP then it drops the tile and keeps it in the world causing it to duplicate.

spongeforge-1.12.2-2705-7.1.0-BETA-3247
griefprevention-1.12.2-4.3.0.633
ThermalExpansion-1.12.2-5.5.0.29-universal

[2018-07-02 00:30] phit commented on #2264
https://github.com/CoFH/ThermalExpansion/blob/fa83d130881e14bcbf20434f9bc481b7eb50f9df/src/main/java/cofh/thermalexpansion/block/BlockTEBase.java#L69

[2018-07-02 00:32] gabizou commented on #2264
Why would this be a sponge problem? The block is already checking an event, and sponge is properly delegating that event to plugins, so I don't see the problem to do with sponge but more so with grief prevention.

[2018-07-02 00:32] #2264 closed, assigned to nobody

[2018-07-02 00:33] Sir-Will commented on #2264
blood told me to report this here: https://github.com/MinecraftPortCentral/GriefPrevention/issues/664#issuecomment-401636559

[2018-07-02 04:05] Fatmice opened #2265 "Exception Exiting Phase"
**I am currently running**

- SpongeForge version:
    SpongeAPI: 7.1.0-SNAPSHOT-f28d4ba
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3247
- Forge version:
    Minecraft: 1.12.2
    Minecraft Forge: 14.23.4.2705
- Java version:
_Server:_ openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.16.04.1-b11)
OpenJDK 64-Bit Server VM (build 25.171-b11, mixed mode)
_Clien

[2018-07-02 15:02] wormzjl commented on #2259
I'm getting a console spam which might be related
https://gist.githubusercontent.com/wormzjl/a13a9b67a04567bde4b0e1a5f722a515/raw/49dcb736ed435c1c338e4e3921475dd5f6fa3659/gistfile1.txt

[2018-07-02 15:15] wormzjl opened #2266 "ITeleporter cannot be cast to org.spongepowered.api.world.PortalAgent"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3243
- Forge version: forge-1.12.2-14.23.4.2725-universal
- Java version: 1.8.0_144
- Operating System: linux

- Plugins/Mods:
 Mods (260): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Addit

[2018-07-02 15:17] wormzjl opened #2267 "NPE with ftblib/ftbu"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3243
- Forge version: forge-1.12.2-14.23.4.2725-universal
- Java version: 1.8.0_144
- Operating System: linux

- Plugins/Mods:
 Mods (260): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Addit

[2018-07-02 15:29] phit commented on #2267
FTBU issue, please report it on their issue tracker

[2018-07-02 15:31] Aaron1011 commented on #2259
@wormzjl  That appears to be the same issue

[2018-07-02 16:53] gabizou commented on #2265
Can you try 3248?

[2018-07-02 18:24] gabizou commented on #2259
@wormzjl Looking over the log, it's going to be an expensive test (making exceptions for every PhaseState entry, I need you to enable `generate-stacktrace-per-phase` in the tracker config.

Provide the new log at that point when you start seeing the spam from runaway phases.

What it increasingly looks like though is that someone is loading chunks async and syncing them back to the world in anothe

[2018-07-02 21:37] phit commented on #1209
this may have been fixed on tinkers side, can you retest @Eufranio

[2018-07-03 06:06] Fatmice commented on #2265
Latest Beta appears to have fixed the exception message
 Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-f28d4ba
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3250
    Minecraft Forge: 14.23.4.2705

Thank you.

[2018-07-03 06:06] #2265 closed, assigned to gabizou

[2018-07-03 08:07] zayats1 opened #2268 "Crash when moving world mod instaled!"
https://hastebin.com/icimowimat.sql   - lasetstlog
https://hastebin.com/ixoginazuz.md   -  debuglog
Fata.jar  --  Forge2705
-

[2018-07-03 13:33] #2268 closed, assigned to nobody

[2018-07-03 13:34] phit commented on #2268
https://github.com/SpongePowered/SpongeForge/issues/2254#issuecomment-399810578

[2018-07-03 14:58] Aaron1011 commented on #2039
After bumping Mixin in https://github.com/SpongePowered/SpongeForge/commit/c9b253f68c6e1fe9eba49ad859ec5c11c925eba6, this issue appears to have been fixed.

[2018-07-03 14:58] #2039 closed, assigned to Aaron1011

[2018-07-03 16:02] droopi29 opened #2269 "Bug Started Impossible"
**I am currently runningrunning in the last version of sponge

- SpongeForge version: Laste
- Forge version: recommended 1.12.2
- Java version: Java8

when the server started i have a big error :
https://gist.github.com/phit/fe4ae09ec760a93148615f187ac862de

[2018-07-03 16:04] #2269 closed, assigned to nobody

[2018-07-03 16:05] phit commented on #2269
dont run plugins for 1.10 or 1.11 on 1.12

[2018-07-03 16:07] #2259 closed, assigned to nobody

[2018-07-03 16:08] #2257 closed, assigned to nobody

[2018-07-03 16:09] #2241 closed, assigned to nobody

[2018-07-03 16:09] phit commented on #2241
pr was merged

[2018-07-03 16:10] phit commented on #1878
gonna close this for now, if it still doesnt work reply and it will be reopened

[2018-07-03 16:10] #1878 closed, assigned to nobody

[2018-07-03 16:12] phit commented on #2185
No reply in over two weeks, closing this for now. If this is still an issue, then please reply with the information you have been asked for and I will reopen this issue.

[2018-07-03 16:12] #2185 closed, assigned to nobody

[2018-07-03 16:12] #2157 closed, assigned to nobody

[2018-07-03 16:17] phit commented on #2178
~move to sc

[2018-07-03 16:17] limbo-app commented on #2178
Hey @Jecvay! I've moved your issue to [SpongePowered/SpongeCommon#1971](https://github.com/SpongePowered/SpongeCommon/issues/1971).

[2018-07-03 16:17] #2178 closed, assigned to nobody

[2018-07-03 16:25] gabizou commented on #2259
@Sir-Will If you want to give it a try, there's a new build with better thread checks for async block changes that sponge will properly warn about async block changes, and prevent spamming issues in these cases.

[2018-07-03 17:08] Aaron1011 commented on #2097
I believe the problem was actually an *extra* call to `putDormantChunk`, which was overwriting any data saved in the previous dormant chunk cache entry. This should be fixed in https://github.com/SpongePowered/SpongeForge/commit/a319151a96aa5d913cf398f6356c35d013c4e34a.

[2018-07-03 17:48] phit commented on #2191
https://bitbucket.org/bloodnbonesgaming/triumph/issues/4/triumph-mods-advancements-has-an-entry-in

[2018-07-03 17:48] phit commented on #2191
@Cybermaxke can I close this as the mod has added a check to stop this in the future, or leave it open until a better message is added?

[2018-07-03 17:50] phit commented on #2189
gonna assume this was a mod issue, if it pops up again we can reopen

[2018-07-03 17:50] #2189 closed, assigned to nobody

[2018-07-03 18:01] phit commented on #1542
appears to be fixed
HardcoreBuoy-1.12-1.0.3.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3253.jar
BetterWithMods-1.12-2.1.24.jar

[2018-07-03 18:01] #1542 closed, assigned to gabizou

[2018-07-03 18:06] phit commented on #1623
seems to work fine with
spongeforge-1.12.2-2705-7.1.0-BETA-3253.jar
[1.12.x] SecurityCraft v1.8.4.1.jar

no errors when a keypad is activated

[2018-07-03 18:06] #1623 closed, assigned to nobody

[2018-07-03 18:22] phit commented on #1906
can't reproduce this with
LibVulpes-1.12.2-0.2.8-32-universal.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3253.jar
AdvancedRocketry-1.12.2-1.4.0-88-universal.jar

using `I:atmosphereCalculationMethod=3` which is now the default

[2018-07-03 18:22] #1906 closed, assigned to nobody

[2018-07-03 19:00] phit commented on #1934
can't reproduce this on my server with various people using xnet, also tried in singleplayer a bit no luck
if this happens again to you, feel free to reply and I'll reopen

tested with
xnet-1.12-1.7.1.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3253.jar

[2018-07-03 19:00] #1934 closed, assigned to nobody

[2018-07-03 19:06] phit commented on #2012
still an issue with
BrandonsCore-1.12.2-2.4.3.168-universal.jar
Draconic-Evolution-1.12.2-2.3.12.297-universal.jar
spongeforge-1.12.2-2705-7.1.0-BETA-3253.jar

[2018-07-03 19:29] Aaron1011 commented on #2248
This should be fixed in the latest SpongeForge.

[2018-07-03 19:29] #2248 closed, assigned to nobody

[2018-07-03 19:57] DMahalko commented on #2255
Followup to anyone else doing a Google search for this error. After trying every sponge I can find, I decided to start disabling mods one at a time until this startup crash went away, and I found the problem...

**TickDynamic-1.12.2-1.0.1.jar**

https://minecraft.curseforge.com/projects/tick-dynamic

_Tick Dynamic is a Minecraft Forge CoreMod, which will attempt to maintain a server Ticks Per Seco

[2018-07-03 20:16] realLevTheDev opened #2270 "Exception generating new chunk."
The problem occurs when players on my Sky Factory 3 server enter the Nether. I think the way minecraft and sponge generate terrain are conflicting but I have no idea. I have tried to reset the nether but it seems to continue despite my efforts.
Sponge Version: spongeforge-1.10.2-2477-5.2.0-BETA-2793
Crash Report: [https://pastebin.com/inTF1y58](https://pastebin.com/inTF1y58)

[2018-07-03 20:16] limbo-app commented on #2270
Hey @PreferableFlavor! You seem to be running an unsupported version (1.10) of SpongeForge. Support for 1.10 ended in January 2018.

If you can reproduce this issue with Minecraft 1.12.2, please [open a new issue](https://github.com/User{login=SpongePowered}/SpongeForge/issues/new) with updated information.

[2018-07-03 20:16] #2270 closed, assigned to nobody

[2018-07-03 20:23] phit commented on #2270
@PreferableFlavor downgrade to spongeforge-1.10.2-2477-5.2.0-BETA-2788

[2018-07-04 01:52] ryantheleach commented on #2011
Other tickets recently closed had the error message, "Unexpected World Change Detected!"

It may be worth revisiting this ticket.

[2018-07-04 01:59] phit commented on #2011
respawning seems fixed, seeing some new issue though, but I'll open a new one for that as this issue has been fixed

new issue https://github.com/SpongePowered/SpongeForge/issues/2271

[2018-07-04 01:59] #2011 closed, assigned to nobody

[2018-07-04 02:01] phit opened #2271 "Nether Utils UnexpectedBlockChange"
**I am currently running**
- SpongeForge version: 7.1.0-BETA-3259
- Forge version: 2705

- Plugins/Mods:
NetherUtils-1.12-1.4.22.jar
TerraCore-1.12-2.1.13.jar

**Issue Description**
create new world, watch console
https://gist.github.com/phit/c15ed6eecb6f511f36d3267983cf9619

[2018-07-04 02:06] phit commented on #1917
https://github.com/SpongePowered/SpongeCommon/commit/d7275cc4d6a952177e36f90cca2364973283eb6e

[2018-07-04 02:06] #1917 closed, assigned to Aaron1011

[2018-07-04 02:08] phit commented on #2271
probably same as https://github.com/SpongePowered/SpongeForge/issues/2007

[2018-07-04 02:10] #2059 closed, assigned to nobody

[2018-07-04 02:11] #2066 closed, assigned to nobody

[2018-07-04 02:12] phit commented on #2066
don't see an outstanding issue here? if you have issues with chunkloading please open an issue for that

[2018-07-04 02:14] #2097 closed, assigned to nobody

[2018-07-04 02:17] phit commented on #2098
there was some more logging for this added since then, if this pops up again feel free to make a new issue including if possible first occurrences of the error logging which should help identifying the source

[2018-07-04 02:17] #2098 closed, assigned to nobody

[2018-07-04 02:25] phit commented on #2115
really nothing in here to go off, you can try updating netty by replacing the packages in the vanilla server jar to maybe fix it

download this https://dl.bintray.com/netty/downloads/netty-4.1.25.Final.tar.bz2
then move over the packages selected in this screenshot over into the vanilla jar
https://i.imgur.com/zMidV9O.png

closing this for now, unless you have a way to somewhat reproduce it

[2018-07-04 02:25] #2115 closed, assigned to nobody

[2018-07-04 02:28] bloodmc commented on #2263
@Dockter Thanks!

[2018-07-04 02:28] #2263 closed, assigned to nobody

[2018-07-04 02:33] phit commented on #2124
not much to go off here, what call is spend the most time on?
if you can create a nps snapshot with sampler that could be a bit more helpful
`/sampler trigger ticktime <timeInMS>` will make a snapshot of any ticks taking longer than specified

closing this for now until there's more info, world saves by their nature will always take significant time.
 you can improve this with our structure saving

[2018-07-04 02:33] #2124 closed, assigned to nobody

[2018-07-04 02:39] Cybermaxke commented on #2191
@phit I already added the message in my PR, so I guess that you can close it.

[2018-07-04 02:41] phit commented on #2191
oh didnt see the pr https://github.com/SpongePowered/SpongeCommon/pull/1968

[2018-07-04 04:07] CreeperFace00 opened #2272 "Server Stuck in Exception Loop"
- SpongeForge version: SpongeForge : 1.12.2-2705-7.1.0-BETA-3206 (Same result on recommended build)
- Forge version: 14.23.4.2705
- Java version: 1.8.0_60 (Server)
- Operating System: Linux (amd64) version 3.14.32-xxxx-grs-ipv6-64 (Server)

- Plugins/Mods:  mcp, FML, forge, otgcore, randompatches, spongeapi, sponge, openmodscore, foamfixcore, opencomputers|core, albedocore, actuallyadditions, adva

[2018-07-04 04:22] Sir-Will commented on #2124
I already have structures off. I never had any save lag issues on 1.7.10, not sure if this is because of the changes in minecraft 1.10+ or if bukkit/cauldron did improves this in 1.7

![](https://i.imgur.com/T2zpglM.jpg)
![](https://i.imgur.com/jINp05w.jpg)
![](https://i.imgur.com/77s9BnF.jpg)

[2018-07-04 05:08] Sir-Will commented on #2259
@gabizou It didn't crash so far, going to unban the item and see if players are able to get it to crash.

[2018-07-04 05:43] gabizou commented on #2271
I've an idea on how to fix this. Though, it's a little interesting. I'll have to revisit the branch https://github.com/SpongePowered/SpongeCommon/tree/refactor/merge-frames-and-states to resolve listeners and basically expect forge event listeners to be considered "capturable" or "trackable" in some way. Definitely a bug on our end it looks like, as the main thread check has already since been pas

[2018-07-04 05:45] gabizou commented on #2259
IT won't crash with the newer builds now as it will simply print out the exception stack trace and whatnot, but it will explicitly ignore the requested block change and return `false` (though, almost no one ever checks for the return value except some rare instances of vanilla code).

[2018-07-04 07:02] ryantheleach commented on #2255
@DMahalko You may be interested in this ticket. https://github.com/SpongePowered/SpongeCommon/issues/1713

[2018-07-04 22:13] Excaliburning commented on #2066
@phit the issue being the server forced to shut down, I wouldn't consider it "outstanding" but maybe just a crank below "critical".
It is indeed an issue about chunkloading ? I quote the title "chunks loads off-thread".

I haven't followed Millénaire's development these past weeks for some reasons but @Kinniken 's question stood unanswered about chunk generation "Does Sponge impose harsher restric

[2018-07-04 22:35] phit commented on #2066
Nothing in your logs mentioned crashing, the spam was caused by something Millenaire did and was fixed on their end. They were loading chunks off the main thread and you can't load chunks off the main thread in this game or do any world interaction really.

I'm asking for a new issue from Millenaire if they are having issues with loading in general in Sponge because it has nothing to do with your

[2018-07-05 06:02] SawFowl opened #2273 "PhaseTracker PostBlockNotificationsAndNeighborUpdates StackOverflow"
**I am currently running**
- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3262
- Forge version: 14.23.4.2705
- Java version: OpenJDK 1.8.0_171
- Operating System: Ubuntu 18.04

- Plugins/Mods:
Mods (37): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Advanced Solar Panels, Applied Energistics 2, BD Lib, CXLibrary, Clumps, CoFH Core, CoFH Worl

[2018-07-05 06:29] SawFowl commented on #2170
If I use allow-nether = false, then I can not create a custom world. Is it possible to make a list of worlds that should be unloaded and disconnected if there are no players in them? Access to the worlds I can limit using the plugin Nucleus.

[2018-07-05 06:50] SawFowl commented on #2273
Not sure, but maybe figured out one of the reasons. Since I have a SkyBlock server, I turned off the worlds (nether and end) and created an empty world for the islands separately. Today the nether world suddenly turned up. After that, the server began to crash.

[2018-07-05 18:38] RJHaytree commented on #2273
I initially posted this on discord but Phit directed me here. Here's a crash report with the issue rather than a regular log: https://gist.github.com/RJHaytree/7151b5d4de5c132053981b1c496abb9a

[2018-07-06 00:17] PurpleIsEverything commented on #2273
We've also experienced this with a RFTools dimension made up entirely of cryotheum, loading into that world causes a stackoverflow. SF 1.12.2-2705-7.1.0-BETA-3265 adds more debugging information and it's this build these reports were created on.

Phase error: https://gist.github.com/PurpleIsEverything/567492e5f845017f276e24980d2f63b9
Crash report: https://gist.github.com/PurpleIsEverything/de964fb

[2018-07-06 08:21] Sir-Will opened #2274 "Ore Excavation mod broken after update"
After updating SpongeForge from 3247 to 3262 using Ore Excavation breaks the blocks but does only drop one block.
Same issue with 3266.

![](https://i.imgur.com/dciAfHg.gif)

[2018-07-06 14:05] RJHaytree commented on #2273
After edited the global.conf to include `max-block-processing-depth=200` as requested, the crash with tall_grass is still occurring. A crash report can be found here: https://gist.github.com/RJHaytree/14d982ffb8a5e73045e99fe7a07f1b4f

[2018-07-06 18:13] gabizou commented on #2274
Is there a specific build this breaks with?

[2018-07-06 20:05] flamechair opened #2275 "StackOverflow Exception"
**I am currently running**

Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-0fb26ee
SpongeForge: 1.12.2-2705-7.1.0-BETA-3260
Minecraft Forge: 14.23.4.2705

- Plugins/Mods:
[code]

[code]

**Issue Description**
Stack Overflow exception

https://gist.github.com/iamtpage/de1ae45ac74ae246b29eccfa7e29a791

[2018-07-06 20:08] Aaron1011 commented on #2275
If you upgrade to the latest SpongeForge, you'll get a nicer exception, and can avoid the stack overflow. We're currently working on a fix for the underlying issue.

[2018-07-06 20:14] Sir-Will commented on #2274
Yes but I didn't go through the builds to find which one, only got the range which I mentioned in the issue.

[2018-07-06 20:18] flamechair commented on #2275
Thanks, will do!

[2018-07-06 21:15] gabizou commented on #2275
Also, duplicate of #2273

[2018-07-06 21:15] #2275 closed, assigned to nobody

[2018-07-06 21:32] Shybella opened #2276 "java.lang.IndexOutOfBoundsException: writerIndex(25990) Server Crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3263.jar
- Forge version: 2709
- Java version:  1.8 update 171
- Operating System: Windows Server 2012 R2

- Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied E

[2018-07-06 21:36] Shybella opened #2277 "Meecreeps Server Crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3263.jar
- Forge version: 2709
- Java version:  1.8 update 171
- Operating System: Windows Server 2012 R2

- Plugins/Mods: Mods (156): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, Actually Additions, Advanced Generators, Akashic Tome, AppleSkin, Applied E

[2018-07-07 07:26] MoeShimaKaze opened #2278 "Some errors on my SpongeForge Server"
hmm,that's the error
Mods (55): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Advanced Solar Panels, Applied Energistics 2, Avaritia, Baubles, Botania, ChinjufuMod, CodeChicken Lib, ContainerFix, CraftTweaker JEI Support, CraftTweaker2, CustomNPCs, Ender IO, Ender IO Applied Energistics Conduits, Ender IO Base, Ender IO Conduits, Ender IO Integration w

[2018-07-07 10:34] SawFowl commented on #2273
Maybe it will help you. With the game rule doFireTick = true, problems occur more often. I also reduced the resource consumption to the limit and reduced the range of drawing the world to 3. Here are the logs in the archive, I can not pour the text, very heavy.
[logs.zip](https://github.com/SpongePowered/SpongeForge/files/2172660/logs.zip)

[2018-07-07 14:19] gabizou commented on #2273
@Mr-Krab I can reproduce the issue just fine, fixing it is the difficult part. You can follow https://github.com/SpongePowered/SpongeCommon/compare/stable-7...fix/stack-overflow-from-notifications to see what changes are being made to resolve the stack overflow.

[2018-07-07 14:41] johnfriedrich commented on #2223
Doesn't crash, but no one is able to login:
Full log:
https://pastebin.com/sLhxb5gN
Error on tried join: https://pastebin.com/b6eDzDCc

SF 3221 and 3270
Before this happened, someone used a "Block Placer" that created this little spammy errors:
https://pastebin.com/LWZdtd1a
I deleted the region, but guess this broke advancements somehow.

Maybe due to not working fake palyers?

[2018-07-07 14:45] dogboy21 commented on #2223
We're also experiencing this with Fakeplayers

https://pastebin.com/pXGzcrZA

EDIT: Nvm, @i9hdkill already added it to his comment

[2018-07-07 14:55] #2191 closed, assigned to nobody

[2018-07-07 14:55] #2223 closed, assigned to nobody

[2018-07-07 14:55] #2277 closed, assigned to nobody

[2018-07-07 15:00] Starshak3r opened #2279 "Instantly crashing client"
**I am currently running** 1.12.2

- SpongeForge version: I have no clue, ask the guys at Minecolonies Mod
- Forge version: 14.23.4.2729
- Java version:
- Operating System: W10 x64

- Plugins/Mods: Minecolonies Official Modpack

**Issue Description**
Open client, client crashes immediately

[2018-07-07-5.log.gz](https://github.com/SpongePowered/SpongeForge/files/2172845/2018-07-07-5.log.gz)

[2018-07-07 15:00] Shybella commented on #2277
Thank you, I will test and get back with you.

[2018-07-07 15:01] gabizou commented on #2279
This is a MalisisCore mixin issue. SpongeForge isn't even installed on the client according to your logs.

Not to mention that MalisisCore is shipping an older Mixin version from last year, there have been many bug fixes since with Mixins specifically.

[2018-07-07 15:01] #2279 closed, assigned to nobody

[2018-07-07 15:05] Starshak3r commented on #2279
I was told that it was a sponge issue by the mod team
so I have no clue, sorry

[2018-07-07 15:43] wormzjl opened #2280 "Startup crash with no mods on latest build"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3272
- Forge version:  2705
- Java version: 8
- Operating System: win7

- Plugins/Mods:
none

**Issue Description**
https://gist.github.com/wormzjl/911fcce30d21c813cc0a9615b9704267

[2018-07-07 15:46] SawFowl commented on #2273
@gabizou Thank you. I now have a serious increase in the number of players, so much that the server because of this problem in Sponge cannot cope. He periodically crashes.

[2018-07-07 16:16] 02Miki opened #2281 "Feature request // offline inventory enderchest"
Idk if this is the right section, couldn’t create a new ticket in pull requests; can you add offline inventories for enderchest, like the same thing you did with player inventories

[2018-07-07 22:23] alicheek commented on #2280
Got this crash too with the most recent update regarding the advancements using the sevtech modpack  for my example

[2018-07-07 23:10] Shybella commented on #2273
https://pastebin.com/raw/KV7LACmS

Basically in the same position as Mr-Krab.

[2018-07-07 23:25] phit opened #2282 "DragonPhase Failed to process all PhaseContext captured"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3265
- Forge version: 2705

- Plugins/Mods: https://gist.github.com/phit/9dfc2a7f6a08b065c976c2b76a1165c3#file-gistfile2-txt

**Issue Description**
https://gist.github.com/phit/9dfc2a7f6a08b065c976c2b76a1165c3

[2018-07-08 00:35] gabizou commented on #2273
I don't need more stack traces. I know the issue....

For reference, I've tested gutting Sponge's block handling entirely, restoring vanilla/forge code in it's entirety without any Sponge modifications and the issue appears to have the possibility of occurring in said code.

To give an example: The following as a populator:

![2018-07-07_17 11 16](https://user-images.githubusercontent.com/1203877/

[2018-07-08 01:21] Shybella commented on #2276
https://pastebin.com/raw/xeeUagKj

[2018-07-08 03:53] kashike commented on #2280
https://github.com/SpongePowered/SpongeCommon/issues/1981

[2018-07-08 03:53] #2280 closed, assigned to nobody

[2018-07-08 14:28] yaroslav4167 opened #2283 "java.lang.ExceptionInInitializerError on server starting (Sponge 3272)"
**I am currently running**

- SpongeForge version: 3272

- Plugins/Mods:
Plugins (22): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, AntiBot for Sponge, BlockyArena, Broadcast, CatClearLag, GameSpleef, GriefPrevention, KeepInventorySponge, LuckPerms, Mirage, Nucleus, Plan, ProtectionPerms, Total Economy, Web-API, WebCmd, WorldEdit, ireport

Mods (83): Minecraft, Min

[2018-07-08 14:31] wormzjl opened #2284 "Failed to process all PhaseContext log spams"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3270
- Forge version: 2705
- Java version: J8 171
- Operating System: linux

- Plugins/Mods:
Mods (255): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Additional Banners, Advanced Generators,

[2018-07-08 16:24] Shybella commented on #2284
This is a temp patch for #2273 until it's fixed.

Yes, It is causing performance issues.

[2018-07-08 17:10] Aaron1011 commented on #2283
The next build of SpongeForge contains a fix for this issue.

[2018-07-08 17:10] #2283 closed, assigned to nobody

[2018-07-08 17:11] Aaron1011 commented on #2284
@Shybella This is actually an entirely separate issue from https://github.com/SpongePowered/SpongeForge/issues/2273. You're probably thinking of [this message](https://github.com/SpongePowered/SpongeCommon/blob/e19bebe741a5bbbeca2ce485e4b0702d142a3bc6/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L909).

[2018-07-08 17:38] Shybella commented on #2284
I posted in the wrong issue. Oops.

[2018-07-08 17:54] Aaron1011 commented on #2284
@wormzjl All of the PhaseContext related errors should be fixed in the next build. However, the `SimpleChannelHandlerWrapper` exceptions are an entirely different issue altogether - can you please open a separate issue for them?

[2018-07-08 17:56] wormzjl opened #2285 "SimpleChannelHandlerWrapper exception java.lang.UnsupportedOperationException: null"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3270
- Forge version: 2705
- Java version: J8 171
- Operating System: linux

- Plugins/Mods:
Mods (255): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Additional Banners, Advanced Generators,

[2018-07-08 17:56] wormzjl commented on #2284
New issue here https://github.com/SpongePowered/SpongeForge/issues/2285

[2018-07-08 18:03] Aaron1011 commented on #2284
Closing this issue since the PhaseContext errors should be fixed in the latest `stable-7`.

[2018-07-08 18:03] #2284 closed, assigned to nobody

[2018-07-08 18:05] Aaron1011 commented on #2285
Like the issue this was created from, this issue *also* appears to be comprised of multiple independent issues.

The majority of the exceptions seems to be due to Quark performing a lot of operations off the main thread. I've opened an issue here: https://github.com/Vazkii/Quark/issues/900

[2018-07-08 19:04] Aaron1011 commented on #2285
The `TextComponentBase`-related exception should be fixed in the latest SpongeForge. Unfortunately, all of the   'server thread' exceptions will continue to happen until the issue in Quark is fixed.

[2018-07-08 19:38] johnfriedrich commented on #2273
SF 3270
Crash: https://pastebin.com/8N0FiXkp
Could we get a sponge 7 build with this fix?

[2018-07-08 20:03] gabizou commented on #2273
@i9hdkill @Mr-Krab @Shybella @RJHaytree

SF 3278 has the fixes I've just merged.

[2018-07-08 20:16] #2273 closed, assigned to nobody

[2018-07-08 20:20] SawFowl commented on #2273
@gabizou Many thanks, I hope tomorrow you will be able to download the new version.

[2018-07-08 20:24] phit commented on #2273
@Mr-Krab its up here http://files.minecraftforge.net/spongepowered

[2018-07-08 20:44] SawFowl commented on #2273
@phit It seems to me that crashing the server right after launching is not normal.

https://gist.github.com/Mr-Krab/21fea7eda162beb1ed98140dde6f40d3

[2018-07-08 20:46] phit commented on #2273
@Mr-Krab not related to this issue, report it to virtualchest https://github.com/ustc-zzzz/VirtualChest/issues

[2018-07-08 23:04] #2285 closed, assigned to nobody

[2018-07-08 23:06] Aaron1011 commented on #2282
@gabizou Do we want to be doing bulk captures for `GeneralDragonPhaseState`?

[2018-07-08 23:29] gabizou commented on #2282
Depending, Dragons are very finicky... I'd say no.

[2018-07-08 23:52] Aaron1011 commented on #2274
This issue is that OreExcavation explicitly sets Forge's `World.captureBlockSnapshots` field to `true`, and checks `World.capturedBlockSnapshots` after calling `PlayerInteractionManager.tryHarvestBlock`.

Sponge needs to properly add to `World.capturedBlockSnapshots` in our `setBlockState` rewrite.

**EDIT**: While this is necessary to make 'undo' support work in Ore Excavation, it doesn't appear

[2018-07-09 00:25] Aaron1011 commented on #2274
This should be fixed in the next SpongeForge build.

[2018-07-09 00:25] #2274 closed, assigned to nobody

[2018-07-09 06:14] xxlio109 commented on #2282
Similar
SpongeForge version: 1.12.2-2705-7.1.0-BETA-3270
Forge version: 2705
Plugins/Mods: https://gist.github.com/xxlio109/c385e6b8c00ae4feb607ba777cb56ded

Issue Description
https://gist.github.com/xxlio109/e66952ad206c1c49a13fb366c617b02d

[2018-07-09 06:19] xxlio109 opened #2286 "ExceptionInInitializerError Crash"
The server crashes while loading
SpongeForge version: 1.12.2-2705-7.1.0-BETA-3272
Forge version: 2705

Plugins/Mods:
https://gist.github.com/xxlio109/c385e6b8c00ae4feb607ba777cb56ded

Issue Description
https://gist.github.com/xxlio109/e7c0781cd5b490fc4ecbec76a109a26f

[2018-07-09 06:23] kashike commented on #2286
duplicate of #2280

[2018-07-09 06:23] #2286 closed, assigned to nobody

[2018-07-09 06:24] kashike commented on #2283
duplicate of #2280

[2018-07-09 11:57] SawFowl opened #2287 "Problems with the craft. The conflict with the Parachronology mod."
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3281
- Forge version:  14.23.4.2705
- Java version:  openjdk 1.8.0_171
- Operating System: Ubuntu 18.04

- Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, HuskyCrates, HuskyUI, JobsLite, LangSwitch, LuckPerms, Nucleus

[2018-07-09 12:12] SawFowl opened #2288 "Giacomo's Fishing Net. Invalid block state."
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3281
- Forge version: 14.23.4.2705
- Java version: openjdk 1.8.0_171
- Operating System: Ubuntu 18.04

-  Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, HuskyCrates, HuskyUI, JobsLite, LangSwitch, LuckPerms, Nucleus,

[2018-07-09 15:35] phit commented on #2288
previous issue https://github.com/SpongePowered/SpongeForge/issues/1989

[2018-07-09 16:05] mmis1000 opened #2289 "Some mods bypass all inventory events"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3270
- Forge version: 14.23.4.2705
- Java version:  java 8
- Operating System: linux

- Plugins/Mods:
[Inventory Tweaks](https://github.com/Inventory-Tweaks/inventory-tweaks/commit/cca9641f0b03bbef306ee2283fe7daaa3d175100)

**Issue Description**

The `Inventory Tweaks` use a server side mod that calling [player.openContainer

[2018-07-09 17:06] Sir-Will commented on #2274
Yep, works again, thanks.

[2018-07-09 18:10] ghost opened #2290 "Server crash on startup"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.10-BETA-3285
- Forge version: 2705
- Java version: Java 8
- Operating System: Windows Server

- Plugins/Mods:
Cant List them as I cant get the server to launch

**Issue Description**
We start our server and it crashes right away with no reason why and then tells us it could break our world and if this does happen we are screwed.

htt

[2018-07-09 18:13] gabizou commented on #2290
Issue with RandomPatches. https://github.com/TheRandomLabs/RandomPatches/issues/7

[2018-07-09 18:13] #2290 closed, assigned to nobody

[2018-07-09 18:17] gabizou commented on #2287
Going to need to know how to reproduce the bug to even attempt to resolve the issue. Currently all I know is that I could be crafting a torch and it turns into an unbreakable pickaxe?

[2018-07-09 18:22] SawFowl commented on #2287
@gabizou When you open the crafting window, there already is this pickaxe. Even if there is nothing in the craft grid. I tried to reproduce the problem myself, but I did not succeed.

[2018-07-10 06:28] spaceotter commented on #2063
Ran into this issue while playtesting my new pack.
spongeforge-1.12.2-2705-7.1.0-BETA-3206.jar
Flan's Mod-1.12.2-5.5.2.jar

[2018-07-10 08:53] wormzjl opened #2291 "Error executing task java.util.concurrent.ExecutionException: net.minecraft.util.ReportedException: Colliding entity with block"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3287
- Forge version: 2705
- Java version: J8 171
- Operating System: linux

- Plugins/Mods:
Mods (255): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Additional Banners, Advanced Generators,

[2018-07-10 09:25] wormzjl commented on #2267
This issue only happen with sponge installed.
Before removing sponge, some player names in chat are show as "BrokenFormatting"
After removing sponge, player names are shown as normal and claiming chunks is no longer crashing.
@phit Can you reopen this issue?

[2018-07-10 09:29] wormzjl opened #2292 "Weird client crash when breaking blocks from the rockhounding mod"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3287
- Forge version: 2705
- Java version: J8 171
- Operating System: linux

- Plugins/Mods:
Mods (255): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Additional Banners, Advanced Generators,

[2018-07-10 10:02] #2292 closed, assigned to nobody

[2018-07-10 11:17] SawFowl commented on #2291
I confirm this problem.

**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3290
- Forge version: 14.23.4.2705
- Java version: openjdk 1.8.0_171
- Operating System: Ubuntu 18.04

- Mods (39): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Advanced Solar Panels, Applied Energistics 2, BD Lib, CXLibrary, Clumps, CoFH Core,

[2018-07-10 12:39] #2291 closed, assigned to nobody

[2018-07-10 12:41] phit commented on #2267
https://github.com/LatvianModder/FTBUtilities/issues/796

[2018-07-10 22:38] Sir-Will opened #2293 "Flat Transfer Node disappearing on chunk load"
With sponge installed the Flat Transfer Nodes from ExtraUtilties2 are disappearing when the chunk gets loaded. This issue doesn't happen without sponge. I had the similar issue with other blocks like Translocators but wasn't able to reproduce it effectively, not sure if it's the same issue.

To reproduce:
- Place a chest and place a Flat Transfer Node (Item) at one of the sides
- Reload the chunk

[2018-07-11 00:49] Sir-Will opened #2294 "Events not being triggered"
The events from DraconicEvolution here: https://github.com/brandon3055/Draconic-Evolution/blob/master/src/main/java/com/brandon3055/draconicevolution/network/PacketPlaceItem.java#L88 are not being detected by Sponge.
Using the debug mode of GP shows that nothing is being tracked.

spongeforge-1.12.2-2705-7.1.0-BETA-3284

[2018-07-11 01:16] Shybella commented on #2294
I also have this problem and was in the process of reporting it.

[2018-07-11 02:33] liach commented on #2294
In my opinion, this is caused by draconic evolution firing events on networking threads. Not even mods are able to listen to this event fired by draconic evolution as forge event bus is single-threaded.

[2018-07-11 04:24] flamechair opened #2295 "Unable to login due to Advancements exception"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3291
- Forge version: 1.12.2 2705
- Java version: N/A
- Operating System: N/A

- Plugins/Mods:
[code]

**Issue Description**
As soon as i join the server, there is an internal server error and the stack trace is printed. I am unable to login to the server.

https://gist.github.com/iamtpage/d9247605e3f1fa336221632

[2018-07-11 05:51] MoeShimaKaze opened #2296 "TileEntityTickPhase errors on the Server"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3291
- Forge version: 14.23.4.2705
- Java version: jre1.8.0_171
- Operating System:Windows Server 2016
the error logs:https://pastebin.com/XC4qn4pL
when i running the 1.12.2-2705-7.1.0-BETA-3206,the problem still exist
so i update the SpongeForge,but the problem isn't sloved

Mods list:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge

[2018-07-11 07:51] gabizou commented on #2296
You were right with the first title: ExtraUtils2 is doing something funky that throws an NPE (not sponge code, but extra utils 2 code) and Sponge is catching it.

For reference, here's the trimmed stack trace of where the issue lies:
[code]

I'm pretty sure that somehow the `world` reverence does' exist......

[2018-07-11 07:52] MoeShimaKaze commented on #2296
so can you fix it?
i think this problem make my server very bad

[2018-07-11 08:01] iPoLarA commented on #2296
can i yingyingying?

[2018-07-11 09:37] SawFowl commented on #2287
Screenshots https://imgur.com/a/pzsWGzX

I hope this helps.

[2018-07-11 10:05] SawFowl commented on #2288
Fixed.

Tested on: 1.12.2-2705-7.1.0-BETA-3291

[2018-07-11 10:05] #2288 closed, assigned to nobody

[2018-07-11 13:49] Sir-Will commented on #2294
@liach just tested it and it does trigger the forge `BlockEvent.PlaceEvent` event. I can also cancel it without issues.

[2018-07-11 14:52] johnfriedrich commented on #2295
SF 3290
Forge 2705
Modpack: FTB Continuum
Same here:
https://pastebin.com/JzRejTQk
Full log:
https://pastebin.com/HX5Cwzad

[2018-07-11 15:16] MoeShimaKaze commented on #2296
hmm,i delete the nether,so cause this problem
now i fixed it by change the mod config
thank you help me

[2018-07-11 15:32] MoeShimaKaze opened #2297 "DeathUpdateState error"
- Forge Version:1.12.2-14.23.4.2705
- Java Version:jre1.8.0_171
- SpongeForge Version:1.12.2-2705-7.1.0-BETA-3291
Mod list:https://pastebin.com/Zsf5A1wL
Plugins List:https://pastebin.com/bfLvYCpr
Error logs:
  - https://pastebin.com/K4LcY0za
  -  (Edit: Better formatting, https://gist.github.com/ryantheleach/ae6122a4d02cb7db6eca7f557da7b114)

[2018-07-11 21:49] liach commented on #2294
but a mod should not fire events in off thread.

[2018-07-11 21:58] Zidane commented on #2294
@Sir-Will

You aren't getting it. The event they are calling is being triggered ON A NETWORK THREAD. We aren't supporting this, they need to enqueue onto the main thread (like basically all Vanilla network handlers already do).

[2018-07-12 00:54] #2296 closed, assigned to nobody

[2018-07-12 06:38] ryantheleach commented on #2297
@MoeShimaKaze Do you have any steps to get this to occur? Is it constant? Does it happen on an empty server with just you?

[2018-07-12 08:04] 3TUSK commented on #2280
Issue still persists with `spongeforge-1.12.2-2705-8.0.0-BETA-3273.jar`, the newest build I can find on Sponge website at the time I am writing this. Setup:

  - SponegForge 1.12.2-2705-8.0.0-BETA-3273
  - Forge 1.12.2-14.23.4.2732
  - Java
[code]
  - macOS High Sierra 10.13.5
  - Mod/plugin list https://paste.ubuntu.com/p/SnqvVdmjN9/

Server cannot start, and will exit with this crash report left

[2018-07-12 09:41] RedNesto commented on #2280
@3TUSK The website download list may not be up to date, but [this one is](http://files.minecraftforge.net/spongepowered), and the latest (`3291`) loads fine for me.

[2018-07-12 10:51] MoeShimaKaze commented on #2297
I didn't how the problem cause
but sometimes the errors logs appear...

[2018-07-12 10:52] 3TUSK commented on #2280
@RedNesto Thanks for the info. ~~However I think Sponge website acts a bit wonky - I can find the build `#3291` in the stable but not the experimental...~~ (that experimental branch is for 8.0.0... I probably need more sleep.) Anyhow, will update my mods folder right now.

[2018-07-12 12:40] KurimuzonAkuma opened #2298 "Server crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-8.0.0-BETA-3273
- Forge version: forge-1.12.2-14.23.4.2732-universal
- Java version: 1.8.0_25
- Operating System: Windows 10

- Plugins/Mods: spongeforge-1.12.2-2705-8.0.0-BETA-3273, industrialcraft-2-2.8.73-ex112

**Issue Description**
Server cant start with spongecoremod.

https://gist.github.com/KurimuzonAkuma/40060cdb5f

[2018-07-12 16:21] se7kn8 commented on #2298
SpongePowered/SpongeCommon#1981

[2018-07-12 17:09] gabizou commented on #2298
Update SpongeForge, and don't use bleeding branches (It says 8.0.0 in your jar name, use 7.1.0 builds) in production.

[2018-07-12 17:09] #2298 closed, assigned to nobody

[2018-07-13 10:10] Martmists-GH commented on #2266
[Crash log](https://hastebin.com/apibahizay.java)

Context:
Using FTB Utilities commands that teleport you to change dimensions causes this crash.

[2018-07-13 13:43] Zidane commented on #2266
@aaron1011 look into this please.

[2018-07-13 21:06] Y0ungSandwich opened #2300 "No block drops on mining"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3293
- Forge version: 1.12.2-2705
- Java version: 8
- Operating System:Centos

- Plugins/Mods: Nucleus, Villager Shops, Grief Prevention, EconomyLite, LuckPerms

Mining/Breaking any block destroys the block but does not drop an item.

https://gist.github.com/Y0ungSandwich/f73ee066a3f7648817bdef8244bb2177

[2018-07-13 21:18] Y0ungSandwich opened #2301 "Server Disconnect on leaving rideable entity"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Forge version: 1.12.2-2705
- Java version: 8
- Operating System:CentOS

- Plugins/Mods:Nucleus, Villager Shops, Grief Prevention, EconomyLite, LuckPerms

**Issue Description**
Any rideable entity, i.e. Boats, ViesCraft airships, horses, etc, will disconnect the player from the server upon getting off. Player shooting

[2018-07-13 21:19] Shybella commented on #2300
lots of Phase Tracker errors.

Does this happen on build 3292?

[2018-07-13 21:29] Y0ungSandwich commented on #2300
It is indeed happening in 3292 as well as on 3291

[2018-07-13 22:52] prokopiy opened #2302 "What is this spaming?"
**I am currently running**

- SpongeForge version: 3291
- Forge version: 2705
- Java version: 1.8.0_171
- Operating System: Ubuntu 16.04

- Plugins/Mods:
[01:51:10] [Server thread/INFO]: §cMods§r§f (§r§f84§r§f): §r§aMinecraft§r, §r§aMinecraft Coder Pack§r, §r§aForge Mod Loader§r, §r§aMinecraft Forge§r, §r§aSpongeAPI§r, §r§aSpongeForge§r, §r§aAdvanced Solar Panels§r, §r§aApplied Energistics 2§r, §r

[2018-07-13 23:06] gabizou commented on #2300
These aren't the phase tracker errors that I'm used to seeing. I see a lot of spam from:
[code]
Which the last bit is the actual problem with the mod's packet handling. Not sure what mod `astikoor.packets.SPacketActionKey` comes from, but that's what's causing the spam. Maybe a recent mod update?

[2018-07-13 23:34] Y0ungSandwich commented on #2300
Not in the past few weeks and this issue only started when I updated to the latest build this afternoon seeing if there was a fix already for https://github.com/SpongePowered/SpongeForge/issues/2301

[2018-07-13 23:40] Aaron1011 commented on #2301
This is *yet another* mod that's directly modifying the world from its Netty handler:

[code]

@Y0ungSandwich For a real fix, you should report this to the mod developer. However, https://github.com/SpongePowered/SpongeForge/pull/2299 will provide a temporary fix once I merge it.

[2018-07-14 00:41] Aaron1011 commented on #2301
I've opened an issue here; https://gitlab.com/DragonForge/HammerCore/issues/69

[2018-07-14 01:14] Aaron1011 commented on #2301
@Y0ungSandwich: The next build of SpongeForge will contain support for working around this issue. in `config/sponge/global.conf`, set `modules.broken-mod=true`. Then, under the `broken-mods` section, add `hammercore` to `broken-network-handler-mods`

[2018-07-14 01:14] #2301 closed, assigned to nobody

[2018-07-14 06:57] ylluminate opened #2303 "Error: "Completing incorrect phase" - "state engine was in incorrect state""
SpongeForge : 1.12.2-2705-7.1.0-BETA-3206
Minecraft Forge : 14.23.4.2705
Java version: 1.8.0_171
OS: Ubuntu 18.04

Got this near the end
[code]

Performed an upgrade from an older version of Sponge and Forge and then during the world load the following error occurred wherein it instructed me to report it:
[code]

[2018-07-14 09:09] Faithcaio commented on #2289
As this is a custom packet its probably not entering the phase for capturing inventory changes.
I remember having problems with some mods (one was Tinkers Construct I think) going into infinite loops in crafting inventories when canceling the result.
@gabizou

[2018-07-14 09:47] fcpwiz opened #2304 "java.lang.ClassCastException with Forestry & Mekanism"
**I am currently running:**

SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3291.jar
Forge version: forge-1.12.2-14.23.4.2705-universal.jar
Java version: 8 64 bit
Operating System: Linux
Plugins/Mods:
Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Aliases, CatClearLag, Denizen2Sponge, FoxCore, FoxGuard, GriefPrevention, Holograms, LuckPerms, MMCRestrict, MagiBridge

[2018-07-14 11:52] mmis1000 commented on #2289
We have tried change the action to be scheduled at server thread. But it seems it still not works.
Is this event can be triggered only by normal player action? or it is just another bug?
If this also should not work, is there a way to manually trigger the event from the Inventory Tweaks's side and give sponge a chance to cancel it?

[2018-07-14 15:47] gabizou commented on #2304
I'm fairly sure that Sponge isn't altering any calls for getting tile entities, so in this case, we have a problem of a tile entity somehow requesting a different type of tile entity. Any specific way to reproduce? I know it's spamming the log a lot, but there should be newer logs with newer versions of SpongeForge where the position of the tile entity is presented.

[2018-07-14 15:52] liach commented on #263
https://github.com/SpongePowered/SpongeForge/commit/e37fa119fa73a9a2819ad68a0d9ff8bb436f0459#diff-58e0014cf676b44128730ca938af8f0dR135
Should be `SERVER_THREAD` instead.

[2018-07-14 16:11] gabizou commented on #2303
Once build 3304 is published from jenkins, can you give that a try (maybe not on production, as the build number jump is quite high).

[2018-07-14 16:39] ylluminate commented on #2303
Thanks so much @gabizou. I'll give it a go. Is this going to go into the 1.12.2 branch?

[2018-07-14 16:56] Martmists-GH commented on #2295
Potentially related:
https://hastebin.com/honubeleli.pl (incomplete due to Android, will update asap)

modpack: ATM3

[2018-07-14 17:03] gabizou commented on #2303
This is in `stable-7` branch.

[2018-07-14 17:38] #2303 closed, assigned to nobody

[2018-07-14 17:43] fcpwiz commented on #2304
As of now (the past few hours), this issue has been resolved since I removed the region file that contains the issue.

Also, I’m currently using SpongeForge 3291. A newer version changes how these kinds of logs are presented in the console?

[2018-07-14 18:27] Lemmmy opened #2305 "ComputerCraft turtles can't move over 90% of the time outside of GP claims"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3293
- Forge version: 14.23.4.2705
- Java version: openjdk version "1.8.0_172"
- Operating System: Linux barbecute 4.4.0-124-generic #148-Ubuntu SMP Wed May 2 13:00:18 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Plugins (6): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, GriefPrevention, LuckPerms
- Mods (7): Minecraf

[2018-07-14 20:36] Shybella commented on #2276
I am not experiencing this anymore. I will close and reopen if the issue comes up again.

[2018-07-15 01:11] IronworksProductions opened #2306 "server crash"
**I am currently running**

- SpongeForge version: latest
- Forge version: 2705
- Java version: 1.8
- Operating System:ubuntu

- Plugins/Mods:[1.12.x] SecurityCraft v1.8.4.1.jar
[1.12]SimpleBedrolls-1.2.1.jar
1.12.2
ActuallyAdditions-1.12.2-r133.jar
ActuallyBaubles-1.12-1.1.jar
AdvancedRocketry-1.12.2-1.4.0-88-universal.jar
adventurepack-1.5.jar
AkashicTome-1.2-10.jar
angelRingToBauble-1.12-0.3.1.

[2018-07-15 07:26] gabizou commented on #2306
Stacktrace from crash log:
[code]
First line is mod code as the event is thrown from Forge (not sponge) and the mod code is crashing. Also, don't say the "latest" version, that means nothing to me. I still don't even know what version of sponge you're running (and yes, it is located in your log file, just next time use whatever spits out from `/sponge version`).

[2018-07-15 07:26] #2306 closed, assigned to nobody

[2018-07-15 11:44] johnfriedrich commented on #2295
Not 100% sure why this happens, but this seems to start happening when FakePlayers are placing blocks

[2018-07-15 13:01] 3TUSK opened #2307 "Server crashes when player entering new MystCraft world ("age")"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3291
- Forge version: 14.23.4.2732
- Java version: OpenJDK 1.8.0_171
- Operating System: Debian

- Plugins/Mods: Bauble Of Undying, Baubles, Baubley Heart Canisters, Charset, Electroblob's Wizardry, FoamFix, FoamFixCore, Forestry, Just Enough Items, Mantle, Millenaire, Mystcraft, No World Gen 5 You, Serene Seasons, Signals,

[2018-07-15 15:15] flamechair commented on #2295
Doesn't happen on my server when FakePlayers place blocks, so I'm not sure thats the reason here

[2018-07-15 15:41] flamechair commented on #2295
Still present on spongeforge-1.12.2-2705-7.1.0-BETA-3304

[2018-07-15 16:09] johnfriedrich commented on #2295
Not instantly, but when FakePlayers are getting Advancements due to block placements. Thats my guess

[2018-07-15 18:12] EscolarProgramming commented on #2295
Still not fixxed :(
SF 3306
Forge 2705
The error: https://pastebin.com/FKePs9Qu
Full log: https://paste.feed-the-beast.com/view/4ade1700

[2018-07-15 19:18] bloodmc commented on #2295
@EscolarProgramming Try this test build
https://www.dropbox.com/s/x7ffc5kzdal59d2/spongeforge-1.12.2-2705-7.1.0-BETA-TEST1.jar

[2018-07-15 19:31] Keaton1188 opened #2308 "Server crash when entering Deep Dark - 1.12"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3262
- Forge version: 14.23.4.2705
- Java version: Java openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: FTB Revelations

**Issue Description**
Whenever someone enters the De

[2018-07-15 19:33] #2295 closed, assigned to gabizou

[2018-07-15 19:41] Aaron1011 commented on #2308
Can you retest on the latest SpongeForge?

[2018-07-15 19:45] Keaton1188 commented on #2308
Testing now.

[2018-07-15 19:55] Keaton1188 commented on #2308
Yep all fixed, thanks :)

Closing,

[2018-07-15 19:55] #2308 closed, assigned to nobody

[2018-07-15 20:56] Lemmmy commented on #2305
Fixed in https://github.com/MinecraftPortCentral/GriefPrevention/commit/06d1bb7a77e4f97ee38033d600b05d59953215b1

[2018-07-15 20:56] #2305 closed, assigned to nobody

[2018-07-15 21:17] RussianSanity opened #2309 "Duplicating Blocks Against Claim Edge (GP)"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3304
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0_161, Oracle Corporation
- Operating System: Linux (amd64) version 4.9.33-mod-std-ipv6-64

- Plugins/Mods: Tick Profiler, Better Chunkloader, Universeguard, Stackban, Prism, Nucleus, LuckPerms, GriefPrevention (1.12.2-4.3.0.643), and a

[2018-07-16 02:33] prokopiy commented on #2302
These coordinates are two torches on different sides in the same block.

[2018-07-16 06:40] Aipaloovik opened #2310 "Mixins Error on Startup"
**I am currently running**
- SpongeForge version: 3262
- Forge version: 1.12.2-14.23.4.2705
- Java version: 1.8
- Operating System: Debian 8

**Issue Description**
Upgraded to 3262 from recommended (3206). Getting this on startup (but not causing any noticeable issues). Perhaps it has something to do with this commit (b5104c7adaef284d54e11e3d8ce41dd28413bef2)?

Startup error: https://gist.github.c

[2018-07-16 08:46] SawFowl opened #2311 "There are many errors in the console. Decrease in TPS."
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3307
- Forge version: 14.23.4.2705
- Java version: Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
- Operating System: Debian 9

- Mods (43): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Advanced Solar Panels, Applied Energistics 2, BD Lib, CXLibrary,

[2018-07-16 10:07] SawFowl commented on #2311
https://timings.aikar.co/?id=0373c09dd5104010b118a55026e34c70

https://sparkprofiler.github.io/?Qtmzqr59nb

[2018-07-16 10:26] SawFowl commented on #2287
This issue does not appear at this time.

[2018-07-16 13:41] bloodmc commented on #2311
@Mr-Krab Please test the following build from my event branch that will soon be merged
https://www.dropbox.com/s/wb117qdtcte01ho/spongeforge-1.12.2-2705-7.1.0-BETA-BUG1-TEST9.jar

[2018-07-16 13:43] SawFowl commented on #2311
@bloodmc It will take several hours. The problem does not appear immediately after the server starts.

[2018-07-16 14:06] XakepSDK commented on #2311
@Mr-Krab in future - post debug.log and latest.log

[2018-07-16 15:38] SawFowl commented on #2311
@XakepSDK  I gave it. See the first message.

[2018-07-16 16:18] flamechair commented on #2295
Still happening on spongeforge-1.12.2-2705-7.1.0-BETA-3308

[code]

cc: @bloodmc

[2018-07-16 16:20] SawFowl commented on #2311
@bloodmc It seems there are fewer errors. But the performance is at the same low level.

Timings https://timings.aikar.co/?id=3823ceaf12ce42d999c97818a8db7c0b
Profiler https://sparkprofiler.github.io/?N8IdAM00KQ
Log and Debug https://gist.github.com/Mr-Krab/887abe999c5a6fadf6f7f0620b922bbb

I'll check even more new version. I will report the results here.

[2018-07-16 16:23] bloodmc commented on #2309
Fixed in forge event refactor.

https://github.com/SpongePowered/SpongeForge/commit/59ffec9539cff0462c395c2a2273ba6dd7fb370f

[2018-07-16 16:23] #2309 closed, assigned to nobody

[2018-07-16 16:24] bloodmc commented on #2300
Latest SF working fine after forge event refactor.

https://github.com/SpongePowered/SpongeForge/commit/59ffec9539cff0462c395c2a2273ba6dd7fb370f

[2018-07-16 16:24] #2300 closed, assigned to nobody

[2018-07-16 17:11] gabizou commented on #2311
@Mr-Krab looks like your server is plagued by thermal dynamics doing a lot of stuff...

<img width="1478" alt="screen shot 2018-07-16 at 10 08 29 am" src="https://user-images.githubusercontent.com/1203877/42772812-6f362316-88e0-11e8-8b1b-ba7fdeaa204f.png">
Sponge's consumer code (the PhaseTracker bits) are seemingly non-existent in the profiler results, let alone timings. I'd look into the possibi

[2018-07-16 17:18] SawFowl commented on #2311
@gabizou This seemed strange to me. https://imgur.com/a/f852zI6#uZqRq3D
The funnel on the screenshot is empty. I also looked at the mechanisms from Thermal Dynamics, their indicators were lower. I do not even know what data to believe. 3 different checks show different data.

[2018-07-16 17:27] Dockter commented on #2311
The performance issues was the main reason we abandoned all CoFH based mods.

[2018-07-16 18:24] gabizou commented on #2311
@Mr-Krab I don't believe they count neighbor updates since chunk loads are showing up in the profiler (no idea why they don't do better chunk checks, or make it apparent that their mechanisms can cause chunk loads). Either way, I don't see much of the original issue being present with the latest logs/profiling.

[2018-07-16 18:31] #2287 closed, assigned to nobody

[2018-07-16 18:36] #2310 closed, assigned to nobody

[2018-07-16 18:42] bloodmc commented on #2311
@Mr-Krab Please go on sponge's discord https://discord.gg/KuWhVP for testing this issue. It seems to be an issue with our Chunk GC feature and TE's neighbor power check.

[2018-07-16 18:50] bloodmc commented on #2311
As a simple test, disable chunk's GC feature in the sponge's global config.

[2018-07-16 21:48] Shybella commented on #2276
https://pastebin.com/raw/1tFRQTJH

SF: 3311

[2018-07-16 21:48] Shybella commented on #2276
Happened again today.

[2018-07-17 00:30] Aaron1011 commented on #2276
@Shybella This will be fixed in the next SpongeForge build.

Surprisingly, this was actually a *Vanilla* bug. However, it would only be triggered when a large amount of data was stored per chunk (e.g. a large number of block ids in use in a particular chunk).

[2018-07-17 04:29] EnvyingGolem47 opened #2312 "Sponge Forge Server getting stuck loading with flans mod"
**I am currently running**

- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3302
- Forge version: 1.12.2 - 14.23.4.2705
- Java version: 1.8.0_171
- Operating System: Ubuntu 17.10 (GNU/Linux 4.13.0-43-generic x86_64)

- Plugins/Mods: SecurityCraft, AutoRegLib, BetterFps, crayfish's device mod, crayfish's furniture mod, chisels and bits, code chicken lib, CoFH Core, CoFH World, Common Capabilities, Co

[2018-07-17 04:42] bloodmc commented on #2312
You are using an outdated SpongeForge build. Update to latest
http://files.minecraftforge.net/spongepowered

[2018-07-17 05:22] EnvyingGolem47 commented on #2312
I just updated to latest SpongeForge build and it still got stuck at the same point, with the same text.

[2018-07-17 08:58] SawFowl commented on #2311
bloodmc I tested on 1.12.2-2705-7.1.0-BETA-3315
The number of errors in the console is less. I think later I will make a profile using Lag Googles.
https://gist.github.com/Mr-Krab/45394778f84d16a4a2f27e3bf9dd018e
https://timings.aikar.co/?id=80ed04fccb00476da94e596183004d58
https://sparkprofiler.github.io/?pTsw8HHDwL

[2018-07-17 11:24] phit commented on #2312
use stable builds, API 8 is not meant for production if it still happens on api7 provide a new log

[2018-07-17 11:25] #2312 closed, assigned to nobody

[2018-07-17 13:28] bloodmc commented on #2311
@Mr-Krab I noticed you have `deny-chunk-requests` set to true. This can easily cause issues with certain mods like Thermal Expansion. Set this value to false and restart.

[2018-07-17 13:33] SawFowl commented on #2311
@bloodmc As far as I know before, with the deny-chunk-requests = false parameter there were problems with the state of the blocks, they could unexpectedly be replaced. But I'll try to use the setting you suggested.

[2018-07-17 13:43] EnvyingGolem47 opened #2313 "Server getting stuck loading with flans mod"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Forge version: 1.12.2 - 14.23.4.2705
- Java version: 1.8.0_171
- Operating System: Ubuntu 17.10 (GNU/Linux 4.13.0-43-generic x86_64)

- Plugins/Mods: SecurityCraft, AutoRegLib, BetterFps, crayfish's device mod, crayfish's furniture mod, chisels and bits, code chicken lib, CoFH Core, CoFH World, Common Capabilities, Co

[2018-07-17 13:45] bloodmc commented on #2311
@Mr-Krab All `deny-chunk-requests` does is allow requests to load chunks rather than deny them preventing the load. It should have no affect on the `state` of a block. If that is occurring, then something else is at play here.

[2018-07-17 13:53] spockmenow commented on #2313
Hey guys we really need your help and we don't think it's the version, we are pretty sure it is a compatibility problems but we need this to work for our mod pack to be successful. So please don't throw this away as a simple problems and try it out for yourself.

[2018-07-17 15:06] phit commented on #2313
could have just replied with that on the old issue and I would have reopened

[2018-07-17 15:09] phit commented on #2311
seriously do not set that to true it can corrupt your world and breaks a lot of mods

[2018-07-17 15:19] kencinder opened #2314 "SleepingEvent.Pre most likely not firing after updating to 3315"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3315
- Forge version: 1.12.2-14.23.4.2705
- Java version: OpenJDK 1.8.0_171
- Operating System: Debian 9.5

- Plugins: `GriefPrevention, LuckPerms, MMCReboot, Nucleus, SleepVote, spark`

- Mods: `Aether Legacy, AppleSkin, Applied Energistics 2, BTFU, Baubles, BiblioCraft, Binnie Core, Binnie's Botany, Binnie's Design, Binnie

[2018-07-17 15:34] EnvyingGolem47 commented on #2313
Sorry about that. Can you still help us?

[2018-07-17 16:08] flamechair opened #2315 "Unable to login due to uninitialized advancement"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3315
- Forge version: 1.12.2 2705
- Java version: N/A
- Operating System: N/A

- Plugins/Mods:
[code]

**Issue Description**
As soon as i join the server, there is an internal server error and the stack trace is printed. I am unable to login to the server.

https://gist.github.com/iamtpage/81e4c3f173fe1596e5c1327

[2018-07-17 19:17] phit commented on #2313
please add the debug.log, nothing interesting in the latest.log and the advancements finish loading by the looks of it and the server is done starting

[2018-07-17 19:24] phit commented on #2302
mod issue, report to "forge multipart", Sponge is simply warning you about the issue
if you want it fixed for now disable the timings module

[2018-07-17 19:24] #2302 closed, assigned to nobody

[2018-07-17 19:26] phit commented on #2278
any reproduction? does it still happen on latest? even when you posted this your version was already a week outdated

[2018-07-17 21:54] EnvyingGolem47 commented on #2313
Here is the debug log that goes along with the latest log. https://gist.github.com/EnvyingGolem47/6b78d0f7a840de46a51f6c800c93ca9b

[2018-07-17 22:29] MCEventHorizon commented on #2219
Seems to be fixed in the latest version.

[2018-07-17 22:29] #2219 closed, assigned to nobody

[2018-07-17 22:29] MCEventHorizon commented on #2220
Seems to be fixed in the latest version.

[2018-07-17 22:29] #2220 closed, assigned to nobody

[2018-07-17 22:56] RussianSanity opened #2316 "Ore Excavation/Integration broke with recent Spongeforge"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3318
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0_161, Oracle Corporation
- Operating System: Linux (amd64) version 4.9.33-mod-std-ipv6-64

- Plugins/Mods: Plugins/Mods: Tick Profiler, Better Chunkloader, Stackban, Prism, Nucleus, LuckPerms, GriefPrevention, Spark, HuskyCrates(only o

[2018-07-17 23:04] RussianSanity opened #2317 "RFTools Modular Storage Recipes Graphics Disappear In Crafting Window"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3318
- Forge version: forge-1.12.2-14.23.4.2707-universal
- Java version: 1.8.0_161, Oracle Corporation
- Operating System: Linux (amd64) version 4.9.33-mod-std-ipv6-64

- Plugins/Mods: Plugins/Mods: Tick Profiler, Better Chunkloader, Stackban, Prism, Nucleus, LuckPerms, GriefPrevention, Spark, HuskyCrates, Unive

[2018-07-17 23:56] #2314 closed, assigned to nobody

[2018-07-18 01:21] Aaron1011 opened #2318 "Improve async lighting thread safety"
Our async lighting is vulnerable to at least one race condition. If a chunk is unloaded between an 'isChunkLoaded' check and a call to 'getChunkFromChunkCoords', a chunk will be loaded from off the main thread.

This has already happened at least once: https://gist.github.com/Aaron1011/46f919e91c5cd254ce7c450d5b45ea74

We should also look into the thread-safety of the map used to store loaded chun

[2018-07-18 02:04] Sir-Will commented on #2258
I get this crash when I try to create or generate the dimension in a seperate dimension:
[code]
spongeforge-1.12.2-2705-7.1.0-BETA-3315

[2018-07-18 05:40] #2318 closed, assigned to nobody

[2018-07-18 08:13] batteryhun78 opened #2320 "EnderIO Dark Steel Armor"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3320 or any version
- Forge version: 14.23.4.2732
- Java version:  Version 8 Update 171
- Operating System: Win10 or Linux

- Plugins/Mods:
Direwolf20 2.1.0 all the mods, but tested with only EnderCore, EnderIO, Sponge present, and without Sponge. Without Sponge, everything is fine. I'm sure it's between the two

[2018-07-18 12:58] ViperzSmurfz opened #2321 "Items Deleted on Close Inventory"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 1.8.0_161
- Operating System: Win10

**Issue Description**
there is an issue where if you are holding an item in the inventory and then hit esc or the inventory hotkey instead of the item getting dropped (as normal) the item just gets deleted completel

[2018-07-18 13:02] XakepSDK commented on #2321
Does this happen on vanilla?

[2018-07-18 13:03] ViperzSmurfz commented on #2321
Have no tested, testing it now

[2018-07-18 13:07] SimonFlash commented on #2321
This has been resolved in later builds. Though 3206 is the most recent recommended version, it's over 100 builds behind latest. Issues should always be tested on latest as well to ensure that they haven't already been fixed prior to opening an issue.

[2018-07-18 13:10] ViperzSmurfz commented on #2321
I have tried this on 1.12.2-2705-7.1.0-BETA-3320 and it also seems to be doing the same thing.
i also git cloned the github and built it myself and it still seems to be doing the same

[2018-07-18 13:12] ViperzSmurfz commented on #2321
Tested, VanillaSponge also does this.

[2018-07-18 13:19] ViperzSmurfz commented on #2321
Ah, i believe i have found the issue on here. [CLICK HERE](https://github.com/SpongePowered/SpongeForge/issues/1981) Except it doesn't seem to be resolved for me exactly.

[2018-07-18 13:20] Lemmmy commented on #2321
Can you share your mod and plugin list?

[2018-07-18 13:21] ViperzSmurfz commented on #2321
No plugins, but modlist [here](https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12/files/2582361) Just Direwolf20 1.12 Pack v2.1.0 Mods

[2018-07-18 13:48] SawFowl commented on #2311
@bloodmc I did not notice the difference.
Tested on 1.12.2-2705-7.1.0-BETA-3319(An error occurred when the player disconnected unexpectedly)
[logs.zip](https://github.com/SpongePowered/SpongeForge/files/2205924/logs.zip)
https://timings.aikar.co/?id=8001416b150645af97e84fef5e47b60e
https://sparkprofiler.github.io/?SY25LD4VH3
![default](https://user-images.githubusercontent.com/29023558/42885663-3a

[2018-07-18 13:57] bloodmc commented on #2311
@Mr-Krab Include a copy of your world zipped with all relevant mods/configs. Also specify the location where lag occurs most.

[2018-07-18 14:55] RussianSanity commented on #2317
This appears to be a mod conflict instead. Has nothing to do with sponge from what I can see. One chunk the recipe doesn't stay but pick up the modular storage and put it in another chunk and the recipe stays. Also moving the modular storage away from an XNet cable made it possible to craft again.

Going to close this as it doesn't appear to be Sponge's fault.

[2018-07-18 14:55] #2317 closed, assigned to nobody

[2018-07-18 15:35] wormzjl opened #2322 "Error spam with hopper"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3287
- Forge version: 2705
- Java version: J8 171
- Operating System: linux

- Plugins/Mods:
Mods (255): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, AI Improvements, ATM Tweaks, Actually Additions, Actually Baubles, Additional Banners, Advanced Generators,

[2018-07-18 15:44] phit commented on #2322
Duplicate of #2212

[2018-07-18 15:44] #2322 closed, assigned to nobody

[2018-07-18 17:22] ProsperCraft opened #2323 "Latest builds break Caverns 2 veinmining."
**I am currently running**

- SpongeForge version:
- Forge version:  1.12.2-2705-7.1.0-BETA-3320
- Java version: openjdk version "1.8.0_171"
- Operating System: Centos 7 Minimal install

- Plugins/Mods:
Mods-
https://minecraft.curseforge.com/projects/towncraft

Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, EconomyLite, LuckPerms, MMCReboot, MMCRestrict,

[2018-07-18 17:42] phit commented on #2323
probably same as https://github.com/SpongePowered/SpongeForge/issues/2316

[2018-07-18 17:56] ProsperCraft commented on #2323
Looks like it.

[2018-07-18 19:10] #2321 closed, assigned to nobody

[2018-07-18 22:58] tyler489 commented on #2320
Is related to issue #1192

[2018-07-19 00:12] gabizou commented on #2320
Because there's a lot of confusion going around, can I get a very precise explanation on how to reproduce the issue? What steps, what items *specifically* and how to test the items work without sponge forge?

[2018-07-19 02:04] bloodmc commented on #2129
@JoeSGT do you have a world you can provide that can easily reproduce this issue?

[2018-07-19 02:19] Dockter opened #2324 "IllegalStateException: The advancement is not yet initialized [SF 3320]"
Hello,
Received the following error on `client` using SpongeForge build `3320` when logging into the server running the same build of SF:
* https://gist.github.com/Dockter/f84506b257e8507640888d725f23882a

[2018-07-19 03:13] spockmenow commented on #2313
@phit Could you please remove those tags, we have provided the info you asked for.

[2018-07-19 04:58] tyler489 commented on #2320
Place down any tier of energy or fluid conduit from enderio. Then get a different tier of energy conduit or fluid conduit and place it down. The first conduit should disapear and the one you placed should go down in stacksize... in vanilla forge it does... in spongeforge it doesnt

[2018-07-19 05:00] tyler489 commented on #2320
Sorry i misread the issue. i thought this was a different issue... which was  not reported yet and as such i just opened a new issue for it (#2325)

I have removed my confusing statements from this thread
This was origionally reported as https://github.com/SleepyTrousers/EnderIO/issues/4782
on enderio's github

[2018-07-19 05:27] tyler489 opened #2325 "Enderio Bug in spongeforge"
**I am currently running**
- SpongeForge version: 3291
- Forge version: 14.23.4.2708
- Java version: ?
- Operating System: ?

This is a Cross post from enderio's github.. AS such i do not ALL have the above info. Sorry
https://github.com/SleepyTrousers/EnderIO/issues/4766

**Issue Description**
When attepting to replace a enderio conduit with a higher tier by clicking the conduit. the higher tier

[2018-07-19 05:45] tyler489 commented on #2325
Here is the Relevent code for conduit replacement https://github.com/SleepyTrousers/EnderIO/blob/22717941f4313ccce6faa68ac386cd2abc9d2718/enderio-conduits/src/main/java/crazypants/enderio/conduits/conduit/AbstractItemConduit.java#L119-L163

[2018-07-19 05:47] Shybella commented on #2325
I can confirm this issue on SF 3320

[2018-07-19 06:46] JoeSGT commented on #2129
it's an large world about over 20gb

[2018-07-19 06:54] SawFowl commented on #2311
@bloodmc https://www.beandex.ru/test.7z

World - IslandWorld
Coordinates 5354, 109, -5355

I also noticed that there are problems with unloading chunks. This problem occurs regardless of the configuration of Sponge. Without Sponge, chunks are unloaded normally.

[2018-07-19 06:56] batteryhun78 commented on #2320
@gabizou Simply, get a simple server. I used Direwolf 2.1.0. Without sponge forge[any version] the modpack-EnderIO works fine. But I need some plugins to my server, so let's put the sponge forge into the mod folder, where it should be. After this act, I was wearing my armor from EnderIO and realized that it doesn't "work" because i take two heart damage from skeleton, one and a half from zombie, i

[2018-07-19 06:59] tyler489 commented on #2320
Note Absorption is what the armor uses its energy stored not the potion effect

[2018-07-19 07:06] #2315 closed, assigned to nobody

[2018-07-19 07:12] batteryhun78 commented on #2320
![2018-07-19_09 09 50](https://user-images.githubusercontent.com/29629248/42927073-982133e2-8b33-11e8-84fc-3370669670b6.png)

For example. If I'm wearing the boots, the fall damage reducing works, so it takes energy from the boots, so i don'take damage. But when we talk about "protection" like getting hit be arrow/zombie hits, the armor doesn't work

[2018-07-19 11:44] phit commented on #2313
still don't see anything wrong in that log, what happens when you try to connect, to you see the connection coming in on the server?
what is the client message when connecting?

[2018-07-19 12:00] ryantheleach commented on #2320
https://github.com/SleepyTrousers/EnderIO/blob/b6ef960f0d4f7f8a06516f089107fb79a2a0d0d7/enderio-base/src/main/java/crazypants/enderio/base/item/darksteel/ItemDarkSteelArmor.java#L345 For relevant ender IO code.

[2018-07-19 12:42] SawFowl opened #2326 "Incorect craft result. Dupe."
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3322
- Forge version: 14.23.4.2705
- Java version: Java HotSpot(TM) 64-Bit Server VM (build 25.171-b11, mixed mode)
- Operating System: Debian 9

- Mods (48): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Advanced Solar Panels, Applied Energistics 2, BD Lib, CXLibrary,

[2018-07-19 12:43] phit commented on #2326
does this also happen in a vanilla crafting table?

[2018-07-19 12:46] SawFowl commented on #2326
@phit Yes. And there is no bug in single mode.

[2018-07-19 13:20] JBYoshi commented on #2313
When I try it, the server starts up fine. I'm using SpongeForge version 3322 (development mode) with Flan's Mod 5.5.2 and all the content packs.

[2018-07-19 13:29] spockmenow commented on #2313
So odd, we tried 3322 and that didn't work and we are running 5.5.2. Currently I am trying to get a screenshot of what it shows me when I try to log in after that (maybe later today because of school) I will try to get a video of how we set up sponge or something else to figure out if that could be the problem.

[2018-07-19 13:30] bloodmc commented on #2313
Set `max-tick-time=-1` in `server.properties` and try again.

[2018-07-19 13:41] spockmenow commented on #2313
Ok, I tried that and it didn't work. But I did see Flans try to load a bunch of stuff after it got stuck on the advancements but it deleted the lines for some reason.

[2018-07-19 13:43] spockmenow commented on #2313
@phit It gives me the same message as when it's trying to start a minecraft server normally.

[2018-07-19 15:29] bloodmc commented on #2311
@Mr-Krab I'm not seeing any issues. Set `chunk-gc-tick-interval` back to 600 and disable `deny-chunk-requests`.

[2018-07-20 02:00] EnvyingGolem47 commented on #2313
Alright @phit we got flans mod to work with sponge now. I put all of the flans official content for flans mod in this time and what I did was I loaded flans and sponge together to make a new world then put all of our other mods we had into our mods folder and it works fine. We have a new problem now, every time we try to connect using bungee cord it tells me to enable IP forwarding in bungee cord'

[2018-07-20 02:19] JBYoshi commented on #2313
It's a known issue with BungeeCord. See the warning box in https://docs.spongepowered.org/stable/en/server/getting-started/bungeecord.html for some workarounds.

[2018-07-20 02:48] SimplyLime opened #2328 "space stations from advanced rocketry not spawning with spongeforge on Continuum 1.3.1"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3320
- Forge version: 1.12.2-14.23.4.2705
- Java version: build 1.8.0_181-b13
- Operating System: Ubuntu

- Plugins/Mods:
Continuum Modpack 1.3.1
CatClearLag
EMPSponge
ForgedPerms
LuckPerms
MMCRestrict
MMCRules
Nucleus
MagiBridge
Nuvotifier
TickProfiler
WorldEdit

**Issue Description**
When Flying a rocket to go t

[2018-07-20 07:46] Lemmmy commented on #2002
This issue appears to have resurfaced in SpongeForge 3308 (works fine in 3307, still doesn't work in 3323). When a Forge mod cancels ServerChatEvent, the message is still sent in public chat (and if Nucleus is installed, it is handled by that). The reproduction case shown in the original post still works:

[code]

[2018-07-20 08:07] SawFowl commented on #2311
@bloodmc There are no problems with the basic world. There is a problem with the created worlds. Watch the video, I hope you understand what the problem is.
https://youtu.be/pnNyainxY0I
SpongeForge: 1.12.2-2705-7.1.0-BETA-3323

[2018-07-20 12:11] phit commented on #2328
please give use your `/config/sponge` folder, you most likely have deny-chunk-requests enabled or something similar

[2018-07-20 13:33] ryantheleach commented on #2324
Does this still occur on 3322?

https://github.com/SpongePowered/SpongeForge/commit/7662ccfa92bb8e9534a61aa1093206d24a6bbe7a should have fixed it, which corresponds to 3322.

[2018-07-20 13:52] bloodmc commented on #2311
@Mr-Krab Thanks for the video, I was able to reproduce the issue. I'll be pushing a fix soon once I figure out what is happening.

[2018-07-20 14:41] EnvyingGolem47 commented on #2313
@JBYoshi We are using linux so we changed the IPtables and our firewall rules now we are only getting this error: Internal Exception: com.google.common.util.concurrent.UncheckedExcecutionException: net.minecraftforge.fml.common.LoaderExceptionModCrash: Caught exception from Minecraft Forge (forge)

[2018-07-20 15:43] marekvac opened #2329 "Worldedit error"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2793
- Forge version: 1.10.2-12.18.3.2477
- Java version: Java 8
- Operating System: Windows 7

- Plugins/Mods: Nucleus, PEX, WorldEdit, AppleCore, AppleSkin, AutoRegLib, BiblioCraft, Blocklings, CodeChickenLib, CoFH core, CTM, CustomMobSpawner, MoCreatures, DungeonTactics, ElevatorMod, FastLeafDecay, Hats, Chisel, iChuntil,

[2018-07-20 15:43] limbo-app commented on #2329
Hey @marekvac! You seem to be running an unsupported version (1.10) of SpongeForge. Support for 1.10 ended in January 2018.

If you can reproduce this issue with Minecraft 1.12.2, please [open a new issue](https://github.com/User{login=SpongePowered}/SpongeForge/issues/new) with updated information.

[2018-07-20 15:43] #2329 closed, assigned to nobody

[2018-07-20 15:46] phit commented on #2329
you downloaded worldedit for 1.12 and are running 1.10
you can grab the 1.10 version here http://builds.enginehub.org/job/worldedit/last-successful?branch=feature/sponge-1.10.2

[2018-07-20 16:12] SimplyLime commented on #2328
Here is the global.conf.
https://gist.github.com/SimplyLime/8b45092bf817ca2d3ab3665f83ccb2fa
that setting is the first i checked as its referenced to be the problem but no dice.

[2018-07-20 16:15] SimplyLime commented on #2328
Here is the whole sponge folder.
[sponge.zip](https://github.com/SpongePowered/SpongeForge/files/2214629/sponge.zip)
that setting is the first i checked as its referenced to be the problem but no dice.

[2018-07-20 16:18] phit commented on #2328
yeah, looks fine, ill test it locally in a bit because last I checked it works fine on my server
just have to figure out what config setting differs

[2018-07-20 16:19] SimplyLime commented on #2328
Alright thank you. ive been pulling my hair out on this issue.

[2018-07-20 16:23] phit commented on #2328
try adding this if you have some time to test, because I won't be able to for a few more hours

https://gist.github.com/phit/abbedfa1c6f241a0e9fa59552f9eb5bd/revisions

btw unrelated to this `block-capturing` no longer has any effect in the global.conf and has been moved to the tracker.conf you can safely delete that section

[2018-07-20 16:31] SimplyLime commented on #2328
I will try editing the config but unsure of when i will be able to properly test that change.

[2018-07-20 20:43] #2311 closed, assigned to nobody

[2018-07-20 20:52] bloodmc commented on #2179
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/0954d501d990f455af05ca2d17d4ec2ac6a123d7

[2018-07-20 20:52] #2179 closed, assigned to nobody

[2018-07-20 20:53] bloodmc commented on #2129
@JoeSGT Please test latest SF build. Make sure `chunk-gc-tick-interval` is set to 600.

[2018-07-20 22:37] #2316 closed, assigned to nobody

[2018-07-20 22:37] #2323 closed, assigned to nobody

[2018-07-21 02:16] JoeSGT commented on #2129
It's fixed in the latest
EDIT: tested with SF: spongeforge-1.12.2-2705-7.1.0-BETA-3328

[2018-07-21 02:24] bloodmc commented on #2129
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/0954d501d990f455af05ca2d17d4ec2ac6a123d7

[2018-07-21 02:24] #2129 closed, assigned to nobody

[2018-07-21 03:58] Shybella commented on #2276
https://pastebin.com/raw/0DUUmyJy

Back again on SF: 3328

[2018-07-21 06:27] Faithcaio commented on #2326
Too many mods.
Please try to reproduce with minimal amount of mods.

I could not reproduce it locally.

[2018-07-21 13:37] Aipaloovik opened #2330 "Cause Stack Frame Corruption"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3307
- Forge version: forge-1.12.2-14.23.4.2705
- Java version: 1.8
- Operating System: Unbuntu 16.04

- Plugins/Mods: Pixelmon, CustomNPCs, VariedCommodities

**Issue Description**
All of a sudden started getting this error. Not entirely sure where it is coming from. Usually results in a crash

https://gist.github.com/Aipalo

[2018-07-21 13:38] Lemmmy commented on #2330
Try upgrading to the latest SpongeForge (3328).

[2018-07-21 14:49] Tencao opened #2331 "Crash on updateWorldGenerator"
**I am currently running**
- SpongeForge version: 2705-7.1.0-BETA-3328
- Forge version: 14.23.4.2705
- Java version: 8
- Operating System: Windows 10

- Plugins/Mods: Unable to get full list due to server not starting, but the main mod seems to be Streams

**Issue Description**
As the server starts up, even on a fresh world I'm met with an immediate crash. This did work on the recommended build of

[2018-07-21 16:58] gabizou commented on #2331
Looks like Farseek is trying to use reflection to do something with Sponge’s world generation. If we change our interfaces, for our implementation, and someone else relies on it, it’s their fault.

Link to offending code:
https://github.com/delvr/Farseek/blob/1.12/src/main/scala/farseek/world/gen/structure/StructureGenerationChunkProvider.scala#L34

To be completely honest, I understand wanting to

[2018-07-21 16:58] #2331 closed, assigned to nobody

[2018-07-21 17:03] gabizou commented on #2330
Already fixed in a recent commit.

[2018-07-22 00:46] dezil opened #2332 "advancement issues"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3328
- Forge version: 14.23.4.2725
- Java version: 1.8.0_171
- Operating System: Ubuntu

players get dropped from the server with this error in the log
https://pastebin.com/FvajV1d1

started after we updated to 3328 but we were on 3270

[2018-07-22 03:28] gabizou commented on #2258
https://github.com/McJtyMods/LostCities/issues/142

Issue with LostCities.

[2018-07-22 03:28] #2258 closed, assigned to nobody

[2018-07-22 03:38] Shybella commented on #2258
Same with meecreeps here https://github.com/McJtyMods/MeeCreeps/issues/44

[2018-07-22 12:48] Lollyde opened #2333 "weird java.lang.NoClassDefFoundError on low-spec server"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3330
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version:
[code]
- Operating System: Ubuntu 16.04.4
- System Info: 3GB RAM, "1 vCPU" (hosting on DigitalOcean)
- Plugins/Mods:
 none, this is off of a *fresh* installation of forge

**Issue Description**

Installing forge with `java -jar forge-1.12.2

[2018-07-22 12:54] SimonFlash commented on #2333
Though 3 GB of RAM should be sufficient, the stacktrace is quite clear. I would question whether 3 GB is actually being allocated to the JVM here, as it seems highly unlikely that you would be receiving that otherwise given that no mods are installed.

If you're looking for assistance with figuring out what's happening here, the best place is on the Sponge Discord or forums.

[2018-07-22 13:05] Lollyde commented on #2333
ah, thank you, I must have missed that line. I'll try allocating more with `-Xmx` and report back on wether it worked or not.

EDIT:
well damn, that was it, load time was improved significantly and it loaded properly. thank you for pointing it out!

[2018-07-22 13:07] #2333 closed, assigned to nobody

[2018-07-22 17:54] Tollainmear opened #2334 "Not sure why the module 'real-time' reset to false after server restart"
**I am currently running**

- SpongeForge version:  3206
- Forge version: 2705
- Java version: Java 8 (running on a remote server, can't make sure the detailed info about that)
- Operating System: Linux(as the same with above)

- Plugins/Mods:
Plugins:
Minecraft Coder Pack, SpongeAPI, SpongeForge, CommandBlockingManager, CommandSigns Reloaded, EasyScoreboards, FlexibleLogin, GriefPrevention, Holog

[2018-07-22 17:58] phit commented on #2334
* either use the command to edit the config with the server running https://docs.spongepowered.org/stable/en/server/getting-started/configuration/index.html#modifying-the-config-in-game
* edit the config, then run the reload command
* stop server, then edit the config while the server is stopped

otherwise the config will always be overriden

---
the mixin error is unrelated and can be fixed by se

[2018-07-22 17:58] #2334 closed, assigned to nobody

[2018-07-22 18:17] fcpwiz opened #2335 "Some players lose inventory on weak connection when attempting to join"
SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3320.jar
Forge version: forge-1.12.2-14.23.4.2705-universal.jar
Java version: 8 64 bit
Operating System: Linux
Plugins/Mods:
Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Aliases, CatClearLag, Denizen2Sponge, FoxCore, FoxGuard, GriefPrevention, Holograms, LuckPerms, MMCRestrict, MagiBridge, Nucleus, PlaceholderAPI, Ra

[2018-07-22 18:19] Lemmmy commented on #2335
Does this issue persist on the latest SpongeForge (3330)?

[2018-07-22 18:31] fcpwiz commented on #2335
I'll try.

[2018-07-22 19:01] fcpwiz opened #2336 "Server stop error"
SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3320.jar
Forge version: forge-1.12.2-14.23.4.2705-universal.jar
Java version: 8 64 bit
Operating System: Linux
Plugins/Mods:
Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Aliases, CatClearLag, Denizen2Sponge, FoxCore, FoxGuard, GriefPrevention, Holograms, LuckPerms, MMCRestrict, MagiBridge, Nucleus, PlaceholderAPI, Ra

[2018-07-22 22:29] Aaron1011 commented on #2276
Another crash was reported on Discord: https://pastebin.com/EiDSRygE

[2018-07-23 00:45] bloodmc commented on #2332
Fixed in SF 3333

[2018-07-23 00:45] #2332 closed, assigned to nobody

[2018-07-23 00:46] bloodmc commented on #2324
Fixed in SF 3333.

[2018-07-23 00:46] #2324 closed, assigned to nobody

[2018-07-23 04:31] Dockter opened #2337 "Inventory Phase - IndexOutOfBoundsException"
**I am currently running**

- SpongeForge version: SF3333
- Forge version: 2705
- Link: https://gist.githubusercontent.com/Dockter/1dab2b2ce635522ddc8ce449fea21af0/raw/e7864a6625a9f1db926f3ad3caa906b89359d610/gistfile1.txt

- Feedback:  I was clicking fast within the Recipe Manager on a IronBlock.

[2018-07-23 08:04] Aipaloovik commented on #2330
Still getting this issue
Log: https://gist.github.com/Aipaloovik/5171db37aad8dceed85c0a5b84246007
Running: spongeforge-1.12.2-2705-7.1.0-BETA-3334

[2018-07-23 08:30] ryantheleach commented on #2330
@Aipaloovik Is it constant? Only when your world is loaded? Only when used on a certain modpack?

Is this the full error message? I can't see what originally triggered it easily.

[2018-07-23 08:32] XakepSDK commented on #2330
@Aipaloovik please, add `-Dsponge.debugcauseframes=true` before `-jar` in your startup cmd line.
e.g. `java -Dsponge.debugcauseframes=true -jar forge.jar`

[2018-07-23 08:35] Aipaloovik commented on #2330
@ryantheleach
It happens multiple times before eventually just crashing.
Here is a larger log: https://gist.github.com/Aipaloovik/9a04ef8e39161d181bb5fac326535c9c
There is also a "Completing incorrect phase" error in there, not sure if it's related.
The mods installed are Pixelmon and CustomNPCs.
I have yet to determine anything that causes it in particular. Sometimes it doesn't happen for hours,

[2018-07-23 08:40] SawFowl commented on #2326
@Faithcaio The minimum of mods. Without plugins. https://youtu.be/n5nD1dU-_18

SpongeForge: 1.12.2-2705-7.1.0-BETA-3334

[2018-07-23 08:46] ryantheleach commented on #2336
This might possibly be a morpheus error?
[code]

[2018-07-23 08:59] Aaron1011 commented on #2336
The latest SpongeForge build contains a fix that night resolve this.

[2018-07-23 09:33] Aaron1011 commented on #2276
@Shybella: I've added some debugging information to the latest SpongeForge build. The next time you get an exception, the stacktrace should tell you the offending chunk.

[2018-07-23 10:10] ryantheleach commented on #2326
@Mr-Krab Thankyou for the video. However, some confusion still lies in whether any keys are being pressed. Inventory is difficult with the amount of control actions that are available..

@Faithcaio This image of BandiCam may assist in understanding what mouse presses are being pressed.

![image](https://user-images.githubusercontent.com/141554/43070888-2d3f5a42-8eb0-11e8-8b56-b6a5b6143074.png)

[2018-07-23 10:38] SawFowl commented on #2326
@ryantheleach Shift + Right Click. However, the axe enters the inventory at any click.
Here is my understanding of this bug. When crafting an item, the player gets 2 items instead of one, since under the cursor there should be an item from the mod, it remains under the cursor, but the ax goes to inventory. An error as a result of crafting. As a result of crafting, there should be only one item.
Ho

[2018-07-23 10:48] PolyacovYury opened #2338 "Incorrect piston update order when panda-redstone is enabled"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3206
- Forge version: forge-1.12.2-14.23.4.2705-universal
- Java version: 1.8.0_181
- Operating System: Win10

- Plugins/Mods: many of them, but the issue is definitely in Sponge itself.

**Issue Description**

Various BUDed piston configurations don't work like in Vanilla, which breaks numerous contraptions. Eve

[2018-07-23 10:56] XakepSDK commented on #2338
Try latest SF

[2018-07-23 12:12] PolyacovYury commented on #2338
Still the case on build 3338.

[2018-07-23 16:21] Shybella commented on #2276
I will be placing this on live today. The crash is really rare so it may take some time. Or the chunk rarely gets loaded.

[2018-07-23 19:13] Shybella opened #2339 "plese help my extreme reactor not work"
hello i need personal support for my exttreme reackers not work spongegorge 3338

[2018-07-23 19:15] Dockter commented on #2339
Please be more specific.

[2018-07-23 19:22] #2339 closed, assigned to nobody

[2018-07-23 19:26] Shybella commented on #2339
This is why It's important to discuss issues before reporting them here. It stops this. Especially with test builds that break nearly everything sometimes.

[2018-07-23 19:30] Lemmmy commented on #2339
or you could just be like a normal person and follow the issue template; include your sponge+forge version, full mod + plugin list, a minimal reproduction case, and all relevant logs

[2018-07-23 19:37] Shybella commented on #2339
Sponge testing discord needs to be completely streamlined for testing and not setup as personal support for latest builds.

[2018-07-23 20:08] Yeregorix commented on #2338
Try disabling Panda's redstone and tell us if this bug still exists

[2018-07-23 20:27] Bucky420 commented on #2302
does that just remove the spam?

[2018-07-23 20:30] phit commented on #2302
just? its where this comes from https://github.com/SpongePowered/SpongeCommon/blob/a9423c7ec9f2b423b52c273f7e7a23818a8f3e41/src/main/java/co/aikar/timings/TimingHistory.java#L112

[2018-07-23 20:35] Bucky420 commented on #2302
this issue is a huge issue and is affecting many servers atm with pipes and any thing that use FMP to not load or disappear when the chunk reloads and i think it is a sponge issue

[2018-07-23 20:46] TheOpalium opened #2340 "EnderIO Farming Stations cause constant console spam"
**I am currently running**

- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3304
- Forge version: 14.23.4.2735
- Java version: OpenJDK 1.8.0_171
- Operating System: Ubuntu 16.04 64bit

- Plugins/Mods:
Mods (172):
`Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, AE2 Stuff, Actually Additions, Actually Baubles, Advanced Generators, Advanced Sola

[2018-07-23 20:48] bloodmc commented on #2340
Upload the entire log.

[2018-07-23 20:52] phit commented on #2302
@codydbgt open a new issue for that, has nothing to do with the spam (which was now removed)

[2018-07-23 21:01] PolyacovYury commented on #2338
Big thanks for poking me nose-first into the configs. It was panda-redstone. Disabling it brought piston behaviour back to how it should be.
I'd suggest adding some sort of a warning in the config file. I know that there is a link to a bug-report, but comments there don't mention that changes are **this** severe. Something along the lines of "If some redstone contraptions that involve pistons don'

[2018-07-23 21:04] TheOpalium commented on #2340
If you insist.
https://gist.github.com/TheOpalium/9c40fb2f913033b316b50a90c4462f66
The error first appears at line 5368.