[2018-03-11 03:12] Dockter commented on #2045
@Zidane wanted me to add that this shouldn't be being fired here:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L548

@kashike added: func_175583_aK is a server only method.

[2018-03-11 03:19] #2045 closed, assigned to nobody

[2018-03-11 03:29] Rasmun commented on #2044
That fixed the issue for us.  Thank you so much for your time!

[2018-03-11 03:29] #2044 closed, assigned to nobody

[2018-03-11 18:55] gabizou commented on #2043
I'm curious about the placement logic. It might have to do with the delay of the block placement being performed while the item being used is not delayed. Since the PhaseTracker does do a bit of handling in this instance, if you're able to load into a development environment with SF and ID specifically, the [unwinding of the InteractionPacketState](https://github.com/SpongePowered/SpongeCommon/blo

[2018-03-12 00:31] rubensworks commented on #2043
The placement logic is a bit special, because of the multipart system, so I'm not surprised that this can cause issues with SF.

Relevant code:
* https://github.com/CyclopsMC/IntegratedDynamics/blob/4d742e81cac150f89b64f74aaf3ec4889a76b53d/src/main/java/org/cyclops/integrateddynamics/core/item/ItemPart.java#L73-L74
* https://github.com/CyclopsMC/IntegratedDynamics/blob/4d742e81cac150f89b64f74aaf3e

[2018-03-12 00:32] kashike commented on #2043
We have dev JARs available: https://files.minecraftforge.net/maven/org/spongepowered/spongeforge/

[2018-03-12 00:33] rubensworks commented on #2043
Ah, even better, thanks @kashike!

[2018-03-12 03:10] josephcsible commented on #2043
Deobfuscating the release jar might be a better idea, to avoid a recurrence of CyclopsMC/IntegratedDynamics-Compat#4.

[2018-03-12 05:19] LuminescentMoon commented on #2037
@bloodmc Setting ``TerrainControl`` for ``level-type`` in ``server.properties`` doesn't enable it for the default world so I can't test. Typing in ``/tc worldinfo`` results in ``TerrainControl is not enabled for this world.`` even with a fresh world with the config folder deleted.

[2018-03-12 07:10] gabizou commented on #2043
I don’t think it would work in deobfuscating a production jar because the mixin constants wouldn’t be modified I think. The dev jar would more like be best. Otherwise, the cloning and setup can take maybe 10 mins (instructions on spongeforge readme)

[2018-03-12 07:32] PixelmonPRO opened #2046 "EXP in Nether / Enchant"
**I am currently running**

- SpongeForge version: `spongeforge-1.12.2-2611-7.1.0-BETA-2931`
- Forge version: `14.23.2.2611`
- Java version: `1.8.0_161`
- Operating System: `Debian 8`

- Plugins/Mods: [Plugins/Mods](https://gist.github.com/PixelmonPRO/0b61e4f6d74185645ea2682b9af2ddd4)

**Issue Description** After the player enchant any items, he goes to Nether, destroy any ore and the experience r

[2018-03-12 14:18] bloodmc commented on #2037
@LuminescentMoon TerrainControl REQUIRES world configs to be setup or it will not enable. I just tested TC with latest SpongeForge and Twilight Forest, no issues teleporting. OTG must fix this as I only support TerrainControl.

https://github.com/MCTCP/TerrainControl/wiki

[2018-03-12 14:18] #2037 closed, assigned to nobody

[2018-03-12 16:07] ProsperCraft commented on #2025
May want to change the topic to -
Unexpected spawn location when using any mods portals to other dims.

We are having problems with Caverns 2, Twilight, and changing dims with the signpost mod.

[2018-03-12 16:35] LuminescentMoon commented on #2037
@bloodmc ah, understandable. The installation guide for forge servers implied that it would enable but "the world will look like a default Minecraft world."

[2018-03-13 02:43] phit commented on #2046
to sum up the video:

* player has X experience in overworld e.g. 31 lvls
* enchant an item (losing experience) now down to 28 lvls
* go to nether, gain experience (in this case by mining coal)
* experience jumps up to 31 lvls again like the enchanting never happened

[2018-03-13 03:51] phit commented on #2025
changed the title, I can confirm this happens with pretty much any kind of modded portal

[2018-03-13 06:26] #2025 closed, assigned to bloodmc

[2018-03-13 07:35] ProsperCraft commented on #2025
Tested - Fixed the issue with Caverns 2 thank you!

[2018-03-13 18:00] ProsperCraft commented on #2019
This has been resolved, no longer happening with updates.

[2018-03-13 18:00] #2019 closed, assigned to nobody

[2018-03-13 18:01] parlough commented on #2019
@ProsperCraft Thanks for keeping us updated, glad it's working now!

[2018-03-13 23:29] ghost commented on #2043
with the current version of spongeforge, the bug seems to have been fixed

[2018-03-13 23:33] rubensworks commented on #2043
Ok, so @xILikepuddingx tested it with SF 7.1.0-BETA-2963.

I can confirm that I tested it in a dev environment with SF 8.0.0-BETA-2959 and I was not able to reproduce this.

So I guess this issue can be closed.

[2018-03-13 23:33] #2043 closed, assigned to nobody

[2018-03-14 01:58] MasterSloth1 opened #2047 "ftb utilities buttons crash"
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2963.jar
- Forge version: 14.23.2.2625
- Java version: 1.8.0_161
- Operating System: Windows 7 version 6.1

please ask me any questions u need
https://cdn.discordapp.com/attachments/321806752985120789/423296484201463808/crash-2018-03-13_20.43.44-server.txt
^^crash report

[2018-03-14 05:46] phase commented on #2047
Gist of the crash report: https://gist.github.com/phase/8993fc9c3373fa1969da91565b2d640f
<sub>(some people don't want to download the file)</sub>

[2018-03-14 07:05] gabizou commented on #2047
It looks like FTBUtilities is having an NPE [here](https://github.com/LatvianModder/FTBUtilities/blob/776814c6e37cb2215d685e5bd84b02f4bcca12e0/src/main/java/com/feed_the_beast/ftbutilities/data/FTBUTeamData.java#L58), maybe get some input from @LatvianModder perhaps? I'm not sure from the stack trace where the world saving is coming from or what phase of the game it is in to cause a world save, bu

[2018-03-14 07:05] gabizou commented on #2047
Could there be some more information as to what was going on the server when this happened? Is it reproducible? There's more to the issue template that you didn't fill out.

[2018-03-15 04:00] MasterSloth1 commented on #2047
yes its reproducable it happens when clicking the buttons in the E menu (top left corner) ive also messaged the dev of ftb utilities and they said that ftbu is not compatible with sponge atm so thanks ill wait till its updated if there is still a problem ill be back 😄

[2018-03-15 22:43] husscraft opened #2048 "Invalid villager profession ID"
**I am currently running**

- SpongeForge version: 1.12.2-2611-2931
- Forge version: 1.12.2-14.23.2.2625
- Java version:  Java 8
- Operating System:

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Actually Additions, AE2 Stuff, Animania, Applied Energistics 2, ArchitectureCraft, AutoRegLib, BC Builders, BC Energy, BC Factory, BC Robotics

[2018-03-16 03:14] gravityfox opened #2049 "SpongeForge shouldn't be referenced as rootProject"
**I am currently running**

- SpongeForge version: all
- Forge version: n/a
- Java version: n/a
- Operating System: n/a

- Plugins/Mods: n/a

**Issue Description**
SpongeForge should not assume that it is the root gradle project, because it doesn't have to be.
It makes that assumption here: https://github.com/SpongePowered/SpongeForge/blob/bleeding/build.gradle#L89

This means if you try include S

[2018-03-16 03:25] kashike commented on #2049
Feel free to open a PR.

[2018-03-16 04:23] Dockter opened #2050 "Custom Portal-Agents > odd obsidian spawn blocks coming from custom nether"
- SpongeForge version:  **spongeforge-1.12.2-2611-7.1.0-BETA-2963**

I have created several custom worlds that require their own nether.  I linked the parent world to their associated nether using the below configuration.

**Cemaria** portal agents:
portal-agents {
       "minecraft:default_the_end"=Cemaria-End
       "minecraft:default_the_nether"=Cemaria-Nether
}

**Cemaria-Nether** portal agent

[2018-03-16 14:57] JBYoshi commented on #2046
Can reproduce in the latest build (build 2963). This works even without going to the Nether.

[2018-03-16 15:15] JBYoshi commented on #2046
Fixed in https://github.com/SpongePowered/SpongeForge/commit/8d6c775b5e3ce1c73fcd42824cff8a66ebb766d9.

[2018-03-16 15:15] #2046 closed, assigned to JBYoshi

[2018-03-17 11:04] demon57730 opened #2051 "1.12.2 actually Additions xp / experience"
forge-1.12.2-14.23.2.2627-universal.jar
spongeforge-1.12.2-2611-7.1.0-BETA-2964.jar
ActuallyAdditions-1.12.2-r132.jar

I contact you because I have a problem sponge side with a mod

here I have a mod: Actually Additions

in this mod it has an item Experience Solidifier without sponge any problem

but with sponge when we click on a digit consumes its xp but its not giving the solidified experience

[2018-03-17 14:56] KangYee opened #2052 "tileentity-activation module not working on 1.12.2"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2969
- Forge version: forge-1.12.2-14.23.2.2611
- Java version: java8 u163
- Operating System:windows server 2012R2

**Issue Description**
When I set the hopper block-range to 0 in the configuration, the hopper will still work.

[2018-03-17 17:00] phit commented on #2052
`0` means disabled, working as intended

[2018-03-17 17:00] #2052 closed, assigned to nobody

[2018-03-18 01:27] JoeSGT commented on #1346
Still an issue with
SpongeForge - 1.12.2-2611-7.1.0-BETA-2964
woot-1.12.2-1.0.0

[2018-03-18 02:30] kuxiabk commented on #2048
I have the same question as you

[2018-03-18 02:30] kuxiabk commented on #2051
I have the same question as you

[2018-03-18 04:51] KangYee commented on #2052
But when I set up block-range to 1, and I'm out of range, the hopper will still work.

[2018-03-18 05:06] phit commented on #2052
post your full global.conf to https://gist.github.com/
and put the link in here

[2018-03-18 07:38] KangYee commented on #2052
https://gist.github.com/KangYee/aff889ea6304c3fc7f8bb46401e38620

[2018-03-18 17:39] pdglobal opened #2053 "Sponge crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970
- Forge version: forge-1.12.2-14.23.2.2625-universal
- Java version:  1.8.0_161
- Operating System: Windows 10 x64

- Plugins/Mods:
ae2stuff-0.7.0.4-mc1.12.2,appliedenergistics2-rv5-beta-1,bc-ore-processing-7.99.15-1,bdlib-1.14.3.12-mc1.12.2,binnie-mods-1.12.2-2.5.0.119,buildcraft-7.99.15,capabilityadapter-1

[2018-03-18 20:34] #2050 closed, assigned to nobody

[2018-03-18 20:39] phit commented on #2052
~move to sc

[2018-03-18 20:39] limbo-app commented on #2052
Hey @KangYee! I've moved your issue to [SpongePowered/SpongeCommon#1838](https://github.com/SpongePowered/SpongeCommon/issues/1838).

[2018-03-18 20:48] phit commented on #2053
turn off verbose and verbose-errors in the sponge config for now

[2018-03-18 22:35] pdglobal commented on #2053
This is actually a computercraft bug, please disregard

[2018-03-18 22:55] #2053 closed, assigned to nobody

[2018-03-18 23:30] phit opened #2054 "Logging issues on Forge 2629+"
**I am currently running**

- SpongeForge version: any 1.12
- Forge version: forge-1.12.2-14.23.2.2629-universal
- Java version: 1.8.181
- Operating System: Windows

- Plugins/Mods: any

**Issue Description**

Forge got some new logging changes, which don't seem to play nice with Sponge.
https://github.com/MinecraftForge/MinecraftForge/pull/4802

example https://gist.github.com/phit/ff5cc7169aaab3

[2018-03-19 01:28] Lemmmy commented on #2053
@pdglobal consider replacing ComputerCraft with CC:Tweaked - it is an updated fork of ComputerCraft by SquidDev which works *much* nicer with sponge.

[2018-03-19 06:43] jmac460 opened #2055 "Crash/No GUI opening"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970
- Forge version: forge-1.12.2-14.23.2.2629-universal
- Java version: 8_161
- Operating System: Windows 10

[minecraft, mcp, FML, forge, spongeapi, sponge, ae2stuff, applecore, appleskin, appliedenergistics2, avaritia, basemetals, baubles, bdlib, betterbedrockgen, betterbuilderswands, bibliocraft, botania, ch

[2018-03-19 06:44] jmac460 commented on #2055
Raw Log: https://gist.githubusercontent.com/jmac460/efd9603da8637e3fa781d54135787286/raw/d109a4c05f77977c7d98946c236961b469d174e1/Log

Also: https://gist.githubusercontent.com/jmac460/0e800be908c0c7e8ed0e20cfc205dd9e/raw/12e1cf75e95385387cb9e7782fcf1353fb65e405/gistfile1.txt

[2018-03-19 09:27] DrakEmono opened #2056 "Crashing while the server was running"
**I am currently running**

- SpongeForge version: 2555-7.1.0-BETA-2840
- Forge version: 14.23.1.2555
- Java version: 1.8
- Operating System: Windows 10
Not using the latest version because I started to use this one to test my plugins (which was the latest one when I downloaded)

- Plugins/Mods:
-Minecraft
-Minecraft Coder Pack
-Forge Mod Loader
-Minecraft Forge
-SpongeAPI
-SpongeForge
-Extended p

[2018-03-19 18:10] jmac460 opened #2057 "Server Stops Loading"
I am currently running

    SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970
    Forge version: forge-1.12.2-14.23.2.2629-universal
    Java version: 8_161
    Operating System: Windows 10

[minecraft, mcp, FML, forge, spongeapi, sponge, ae2stuff, applecore, appleskin, appliedenergistics2, avaritia, basemetals, baubles, bdlib, betterbedrockgen, betterbuilderswands, bibliocraft, botania

[2018-03-19 18:22] phit commented on #2055
the only issue i see in your logs is that you removed mods and have to run /fml confirm, for the logging issues there's https://github.com/SpongePowered/SpongeForge/issues/2054 which also changed the way the console worked

downgrade forge for now to a supported version

[2018-03-19 18:22] #2055 closed, assigned to nobody

[2018-03-19 18:24] phit commented on #2056
update to latest recommended version 2870 and provide the full log prior to the crash

[2018-03-19 18:32] phit commented on #2057
you can't just expect to drop a modlist here, no context and us somehow to figuring out what the issue is, first try a supported forge version that being 2611 for your release

[2018-03-19 18:34] jmac460 commented on #2057
Just curious, why would the Watchdog value be set to -1? And on line 81, it wants to do the itemstack conversion. Is this meant to be, or is this an issue? I will attempt with Forge 2611, but I previously had an issue with that as well.

[2018-03-19 18:40] phit commented on #2057
you have set that value yourself in the `server.properties`.. fix it, line 81 is something with startup so no idea what you are talking about

[2018-03-19 18:43] jmac460 commented on #2057
Okay, I will fix that. Did not know i somehow changed the server.properties file, but i will look into it

[2018-03-19 18:49] jmac460 commented on #2057
There is not a value in my server.properties file with a value of -1

[2018-03-19 18:51] phit commented on #2057
what is `max-tick-time` set to?

[2018-03-19 18:52] jmac460 commented on #2057
60000 is the value

[2018-03-19 18:54] phit commented on #2057
¯\\_(ツ)_/¯ either way that error is not gonna make your server not start

[2018-03-19 18:54] jmac460 commented on #2057
Okay. So what should I do, I have the current forge version installed now, and it still does not start.

[2018-03-19 19:01] phit commented on #2057
in the log you provided the server finished its startup

[2018-03-19 19:05] jmac460 commented on #2057
Okay, but why does the GUI not pop up? It makes it where I cannot type any command.

[2018-03-19 19:11] phit commented on #2057
there is no GUI in Sponge, please refer to our docs
https://docs.spongepowered.org/stable/en/server/getting-started/launch-script.html

[2018-03-19 19:19] jmac460 commented on #2057
https://images-ext-1.discordapp.net/external/U8MTtIbjOjpCdVNcX4cR-ohymd7Xe4W_tgZtmFqth1o/https/cdn.discordapp.com/attachments/228709204268023818/425116317285351434/unknown.png

This is what iam referring to, this never pops up.

[2018-03-19 19:21] phit commented on #2057
seriously read the page i just linked, there is no GUI with Sponge
to quote

[2018-03-19 19:23] jmac460 commented on #2057
https://cdn.discordapp.com/attachments/228709204268023818/425373524882882560/unknown.png

It did not load for me. I see what you are saying, but when i launch without mods, the GUI pops up. Thats why I have been asking why it has not, because it previously did when i launched without mods.

[2018-03-19 19:40] JoeSGT opened #2058 "Some mods have Crafting Tables without CraftingOutputSlot"
**I am currently running**

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2974
- Forge version:  1.12.2-14.23.2.2624
- Java version:  8
- Operating System: windows 10

- Plugins/Mods:
CodeChickenLib-1.12.2-3.1.6.339-universal
Avaritia-1.12-3.2.0.13-universal

**Issue Description**
Made a quick test server then place down a Extreme Crafting table then look in console you will get this error messag

[2018-03-19 23:19] phit commented on #2054
looks like there are some issues on forge's end aswell https://github.com/MinecraftForge/MinecraftForge/issues/4808

[2018-03-20 04:44] bloodmc commented on #2057
This has nothing to do with sponge, set `max-tick-time` properly.

[2018-03-20 04:44] #2057 closed, assigned to nobody

[2018-03-20 06:19] ghost commented on #2054
forge issue, can be closed :)

forge build 2631 works fine

[2018-03-20 09:28] ProsperCraft opened #2059 "Inventory dupes when Multi-storage vault kills you"
**I am currently running**

    SpongeAPI: 7.1.0-SNAPSHOT-06016f2
    SpongeForge: 1.12.2-2611-7.1.0-BETA-2974
    Minecraft Forge: 14.23.2.2628
- Java version:  openjdk version "1.8.0_161"
- Operating System: Centos 7

- Plugins/Mods:
[03:22:42] [Server thread/INFO]: Mods (168): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, /dank/null, AI Improvements

[2018-03-20 17:42] #2054 closed, assigned to nobody

[2018-03-20 19:55] jmac460 commented on #2057
It is properly set... its at 60000.

[2018-03-21 10:52] JJRockie commented on #966
MY server will not start please help. JJRockie
[02:11:54] [main/DEBUG] [FML/]: Injecting tracing printstreams for STDOUT/STDERR.
[02:11:54] [main/INFO] [FML/]: Forge Mod Loader version 12.18.3.2511 for Minecraft 1.10.2 loading
[02:11:54] [main/INFO] [FML/]: Java is OpenJDK 64-Bit Server VM, version 1.8.0_151, running on Linux:amd64:4.4.0-45-generic, installed at /usr/lib/jvm/java-8-openjdk-amd64/j

[2018-03-21 15:45] JoeSGT commented on #1982
having the same issue on
hatchery-1.12.2-2.1.2
spongeforge-1.12.2-2611-7.1.0-BETA-2963
Forge - 14.23.2.2624

[2018-03-23 16:58] Rasmun opened #2061 "Baubles not kept on death with `DestructEntityEvent.Death#setKeepInventory(true)`"
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2931
-  Forge version: FTBserver-1.12.2-14.23.2.2618-universal
-  Java version: 8 Update 161 for 64bit
-  Operating System: Windows 2012

**Plugins/Mods:**
[11:54:28] [Server thread/INFO] [nucleus]: Server ran the command: /sponge plugi
ns
[11:54:28] [Server thread/INFO]: Plugins (15): Minecraft, Minecraft Coder Pack,
SpongeA

[2018-03-24 03:27] Big-Deaddy opened #2062 "Server Resource Pack causes error after rejoining."
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2970
- Forge version: 14.23.2.2611
- Java version: Unknown
- Operating System: Unknown

- Plugins/Mods: Plugins (33): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CarrotShop, CatClearLag, CraftBook, EconomyLite, Enjin Minecraft Plugin, GriefPrevention, Holograms, HuskyCrates, HuskyUI, LuckPerms, MMCRestrict, Magi

[2018-03-24 03:29] phit commented on #2062
~~@JBYoshi probaly related to https://github.com/SpongePowered/SpongeCommon/pull/1771?~~

got my timeline messed up, @Big-Deaddy please try 2972 or newer

[2018-03-24 04:04] Big-Deaddy commented on #2062
With 2972 I get the following error when following my steps:
`[23:55:17] [Server thread/WARN]: handleDisconnection() called twice`

The latest version (2981) seems to work okay on my test server, I'll let you know if the issue arises again when I update my main server. Thanks.

[2018-03-24 04:25] Big-Deaddy commented on #2062
People on my main server timeout after ~20 seconds of being on the server after enabling server resource packs, but the other errors from before are gone. After several retries, however, it does eventually work for some. So far, that number ranges from 2 all the way up to 10+.

[2018-03-24 19:20] rippy222 opened #2063 "dupe with flans mod"
**I am currently running**

- SpongeForge version:  spongeforge-1.12.2-2611-8.0.0-BETA-2971
- Forge version: 1.12.2
- Java version:  java 8
- Operating System:

- Plugins/Mods:
Sponge

**Issue Description**
So when  i grab a gun from flans mod, i press q to drop it, then it doesnt drop it out of my inventory but it drops a new same item but keeps the one in my inventory allowing me to dupe it. thi

[2018-03-25 15:16] TripleZ0 opened #2064 "SpongeForge + Age Of Engineering problem"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2793
- Forge version: 1.10.2-12.18.3.2511
- Java version: 1.8.0_162
- Operating System: Win 7 64bit

- Plugins/Mods: Age Of Engineering modpack
Extra Plugins: LuckPerms + Nucleus

**Issue Description**
Win 7 64bit:
I can't start the server. I included a crash log. If I remove SpongeForge server starts fine.

Debian Stretch:

[2018-03-25 21:43] kashike commented on #2064
As of January we no longer support 1.10.

If you can reproduce this issue with SpongeForge for Minecraft 1.12.2 please [open a new issue](https://github.com/SpongePowered/SpongeForge/issues/new).

[2018-03-25 21:43] #2064 closed, assigned to nobody

[2018-03-25 22:29] CebolaSelvagem opened #2065 "“A fatal error has ocorred, this connection is terminated” Sponge and Dalek Mod!"
**I am currently running**

- SpongeForge version: Sponge 1.12.2-2611-7.1.0-BETA-2983
- Forge version: Forge 1.12.2 - 14.23.2.2635
- Java version: Java 8u161
- Operating System: Windows Server 2012

- Plugins/Mods: Sponge and Dalek Mod 1.12.2 (Update 47)

**Issue Description**
Hello guys, guess what? Big problem here

I’m trying to run a server with my friends with the latest dalek mod and some pl

[2018-03-25 22:33] phit commented on #2065
please report this to the mod authors, not a Sponge issue

[code]

[2018-03-25 22:33] #2065 closed, assigned to nobody

[2018-03-25 23:28] Excaliburning opened #2066 "server time-out chunks loads off-thread"
Hi !

**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2983.jar
- Forge version: forge-1.12.2-14.23.2.2611-universal.jar
- Java version: Java 8
- Operating System: Windows 10 Pro x64

- Plugins/Mods:
- Plugins (16): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CraftBook, Holograms, ItemChat, KaroglanSignEditor, LuckPerms, MMCReboot, MagiBridge, Nucle

[2018-03-26 02:39] gabizou commented on #2066
I'm seeing a lot of this at first:
[code]
Which reminds me of https://github.com/SpongePowered/SpongeForge/issues/2065. Part of the problem is that there are several chunk generations that got halted on another thread, and those are now leaking into the main thread.

Sponge itself could "workaround" by terminating the thread properly, but it boils down to chunks generating off thread and sponge ex

[2018-03-26 08:30] Excaliburning commented on #2066
Edit: my bad, the culprit is clearly Millénaire. Didn't notice the names in the reports. I'm going to report it to them and see what can be done, thanks.

Hmm I see, the culprits could be Millénaire and Streams then.
They're the only ones actually generating anything in the overworld aside of normal.
I saw a river from Stream cross a Millénaire village, but aside of this happening as in vanilla (e

[2018-03-26 08:42] dualspiral commented on #2066
With respect to Nucleus: no

[2018-03-26 08:45] dualspiral commented on #2066
Oh, yes, the non-hostile mobs thing - I bet you gave yourself * permissions. That’s causing Nucleus to vanish you on login.

https://ore.spongepowered.org/Nucleus/Nucleus/pages/The-Permissions-Wildcard-(And-Why-You-Shouldn't-Use-It)

[2018-03-26 16:21] Excaliburning commented on #2066
@dualspiral Just noticed that as well, I'd read your topic just before you sent it but thanks a lot, greatly appreciated.
I sent this issue to Millénaire since it seems to come from them.

[2018-03-26 23:41] phit commented on #2051
can't reproduce with
1.12.2-2611-7.1.0-BETA-2984
ActuallyAdditions-1.12.2-r133

[2018-03-26 23:41] #2051 closed, assigned to nobody

[2018-03-26 23:50] phit commented on #2063
confirmed with
spongeforge-1.12.2-2611-7.1.0-BETA-2984.jar
Flan's Mod-1.12.2-5.5.1.jar
Modern Warfare-Content Pack-1.12.2-5.5.2.jar

[2018-03-27 00:41] Rasgnarok commented on #2052
Confirmed with a daylight sensor as well as a hopper on SF 2970, Forge 2611, no other mods. Sidenote, might be worth checking on entity-activation ranges as well - on testing, entities did not seem to stop moving, rather they would flicker and rotate, only 'walking' once in range.

[2018-03-27 01:18] phit commented on #2041
gonna need a full log, but probably a dupe of https://github.com/SpongePowered/SpongeForge/issues/1757

[2018-03-27 01:22] phit commented on #2038
please retest on latest (7.1.0-BETA-2985)

[2018-03-27 01:26] phit commented on #2006
https://github.com/DosMike/VillagerShops/issues/35

[2018-03-27 01:26] #2006 closed, assigned to nobody

[2018-03-27 01:27] phit commented on #2035
~move to sc

[2018-03-27 01:27] limbo-app commented on #2035
Hey @zedwick! I've moved your issue to [SpongePowered/SpongeCommon#1846](https://github.com/SpongePowered/SpongeCommon/issues/1846).

[2018-03-27 01:27] #2035 closed, assigned to nobody

[2018-03-27 01:31] phit commented on #2056
no reply and not enough information to go off, if this happens again provide the information that was asked for and I'll reopen the issue

[2018-03-27 01:31] #2056 closed, assigned to nobody

[2018-03-27 02:05] #2021 closed, assigned to nobody

[2018-03-27 02:14] CrypticDivide opened #2067 "SpongeForge is over-writing the custom villager trades from the Villager Trade Tables mod."
## Versions/OS Information

- SpongeForge Version: 1.12.2-2661-7.1.0-BETA-2970
- Forge Version: 14.23.2.2634
- Java Version: Java 8, Revision 161
- Operating System: Windows 10.1709 Pro (Build 16299.309)

## Mods
**SevTech: Ages ─ Version 3.0.1**
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, A Block of Charcoal, AbyssalCraft, AbyssalCraft Integration,

[2018-03-27 05:18] kuxiabk commented on #2051
ActuallyAdditions-1.12.2-R133 It seems to be repaired

[2018-03-27 08:00] Kinniken commented on #2066
Hi,

Millénaire creator here. This is indeed due to Millénaire loading chunks off the main thread, which I'll prevent. However the root cause is that the chunks are not loaded in the first place even though Millénaire requests them to be using Forge's ticket system. With regular Minecraft servers nobody has reported this issue.

Does Sponge impose harsher restrictions on keeping chunks loaded? Bec

[2018-03-27 10:56] Excaliburning commented on #2066
@Kinniken could it come from Stream (forge mod) ? I noticed the streams often crossed Millénaire towns for some reason. But I'm not sure if it tinkers with the things you mentionned.

I do not know if Sponge's restrictions towards chunks is different from Forge's.
Maybe @dualspiral could have an idea since he's well versed in Sponge. I would ask a Sponge dev but I don't know their team sadly.

Tha

[2018-03-27 12:28] Kinniken commented on #2066
I doubt it's those streams. They could cause some issues with pathing etc but not chunk-loading.

I'll check #101, a little odd.

[2018-03-27 12:43] DeadlyBladez commented on #2067
Also this issue is to do with world gen for sponge for if the location such as a village is loaded than sponge is added the already loaded village spawns with the right villager tab but any new one give vanilla villagers

[2018-03-27 14:33] ProsperCraft commented on #2066
Could this be related to -
https://forums.spongepowered.org/t/psa-spongeforge-rb-2985-spongevanilla-rb-30-for-minecraft-1-12-2/23123

[2018-03-27 14:57] Zidane commented on #2066
@ProsperCraft

No lol

[2018-03-27 15:04] dualspiral commented on #2066
Is `deny-chunk-requests` set to `true` in your `global.conf` file? If so, it could be that Sponge is denying the requests to load, in which case try setting it to `false` and reloading the config/restarting.

[2018-03-27 15:21] Excaliburning commented on #2066
@dualspiral it seems this is set to false by default.
`deny-chunk-requests=false` in my `global.conf`.

It can't come from that then. However, it's a good idea to double-check it.

As expected by @Kinniken it's not Streams either.

[2018-03-27 16:32] Sir-Will opened #2068 "DataSerializableTypeSerializer - IllegalArgumentException - ItemStack NBT"
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2990
- Forge version: 1.12.2-14.23.2.2631

**Issue Description**
Getting the `java.lang.IllegalArgumentException: Configuration does not accept objects of type class [B` error when trying serialize a itemstack with this NBT data (both items cause the error):
![](https://i.imgur.com/cbzSDIc.jpg)

[code]

Full error: https://pa

[2018-03-28 02:26] Kitsune30 opened #2069 "ItemFishedEvent doesn't appear to be working when SpongeForge is included."
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2963
- Forge version: forge-1.12.2-14.23.2.2611-universal
- Java version: Java 8 JRE 1.8.0_152
- Operating System: Windows 10

- Plugins/Mods: Just Sponge and my Test Mod (included at the bottom of the post)

**Issue Description**
Started a clean Forge server.
Ran it once with no mods, tested fishing. Worked as n

[2018-03-28 13:59] ProsperCraft opened #2070 "Grave will not capture all items on death"
**I am currently running**

    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-06016f2
    SpongeForge: 1.12.2-2611-7.1.0-BETA-2990
    Minecraft Forge: 14.23.2.2628
- Java version:  openjdk version "1.8.0_161"
- Operating System: Centos 7 minimal install

- Plugins/Mods:
Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, EconomyLite, GriefPrevention, LuckPe

[2018-03-28 15:32] fhntv24 commented on #1917
Still an issue in latest sponge versions ( 1.12.2-2611-7.1.0-BETA-2990 , 8.0.0 snapshot ). Default config ( so block capturing is enabled for clock ). Could someone look at this issue ?

[2018-03-28 15:49] JoeSGT commented on #2013
You can close this, like mention above it happen random very hard to keep track, if this happen again i will get a  way to reduce it and more information

[2018-03-28 16:58] #2013 closed, assigned to nobody

[2018-03-28 17:23] JoeSGT commented on #1917
I just remove redstone clocks from the config @fhntv24

[2018-03-28 19:26] hugeblank commented on #1138
I didn't want to bother creating another issue because I knew I created this one, but this issue has arisen again in the lastest versions of sponge. Just thought I'd give you guys a heads up.

EDIT: I’ll shut up now, I thought the issue I reported here was something else, my bad.

[2018-03-28 20:29] phit commented on #1917
https://gist.github.com/phit/48f45448540c04d4cc0632f1ac24fcf3

from my rough understanding, before it hits `org.spongepowered.common.event.tracking.TrackingUtil.updateTickBlock(TrackingUtil.java:287)` (in updateTickBlock) it is supposed to hit `checkAndAssignBlockTickConfig` whatever that was supposed to do no longer does what  it used to

my best guess this broke during this https://github.com/Sp

[2018-03-28 21:01] phit commented on #2011
@Terrails can you please retest on latest (7.1.0-BETA-2990)? there were a few fixes related to this

[2018-03-28 21:04] phit commented on #1997
appears to be resolved running eed4b540aeff1dd1be8670da969f9c525ddd31dc and `extrautils2-1.12-1.7.5`

[2018-03-28 21:04] #1997 closed, assigned to nobody

[2018-03-28 21:07] #1966 closed, assigned to nobody

[2018-03-28 21:12] phit commented on #1945
@unstablecraft any idea how to reproduce this? looks like a mod bug too me, but I couldn't reproduce it with any teleportation methods the mod adds

[2018-03-28 21:14] Terrails commented on #2011
Still nothing, but this time the error was printed straight into the log/console. Also there's no stacktrace this time. [latest.log](https://gist.github.com/Terrails/214624cde2624561d23e56bd844fbc5c)

[2018-03-28 21:21] phit commented on #1912
works with woot-1.12.2-1.0.1.jar
Guide-API-1.12-2.1.5-60.jar
on Sponge eed4b540aeff1dd1be8670da969f9c525ddd31dc

[2018-03-28 21:23] phit commented on #1886
this was hopefully solved with https://github.com/SpongePowered/SpongeForge/commit/9bf6989675a5559f651e784d82a5f0adc1fbecec

for more information read the announcement https://forums.spongepowered.org/t/psa-spongeforge-rb-2990-spongevanilla-rb-33-for-minecraft-1-12-2/23123

[2018-03-29 03:02] gabizou commented on #2067
I can understand how this is happening. Truth be told, since vanilla MC does not handle any customization of villagers short of a multidimensional array to determine the trade offers made for villagers, sponge had to essentially overwrite in the entirety how villager trades are handled and generated. On top of that, sponge has to then handle the Forge added systems to integrate with mod added vill

[2018-03-29 14:51] ProsperCraft opened #2071 "Server crash -Position is out of bounds: expected in range"
**I am currently running**
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-06016f2
SpongeForge: 1.12.2-2611-7.1.0-BETA-2990
Minecraft Forge: 14.23.2.2628
Java version: openjdk version "1.8.0_161"
Operating System: Centos 7 minimal install

- Plugins/Mods:
Plugins/Mods:
Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, EconomyLite, GriefPrevention, LuckPerms, MMC

[2018-03-30 09:33] elementalistic commented on #2071
I've just had the same type of biome gen error.  This is a Void World for Modern Skyblock 3, generated using Void Island Control's "voidworld" gen type.

I am currently running
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-06016f2
SpongeForge: 1.12.2-2611-7.1.0-BETA-2970
Minecraft Forge: 14.23.2.2611
Java Version: 1.8.0_161, Oracle Corporation
Operating System: Windows Server 2012 R2 (amd64) version

[2018-03-30 15:26] PoroUsedSnax commented on #2031
I have been noticing this error too (for brad16840). I'm fairly certain it is related to the Backpacks! mod. And more specifically a crafting window that is opened by right clicking a crafting table in the players inventory, opening a custom GUI.

I have reported it to the developer, but thought I would mention it here as well as I found this issue.

Here is more information for it, same as given

[2018-03-30 15:59] gabizou commented on #2031
The problem with marking the Sponge listener as "hot" code is that it's not doing anything special except processing the tick scheduler for plugins (so naturally sponge gets the massive hit for having to run all the scheduled tasks in that listener. If possible to associate warm roast or another VM hotspot timings reader would help as the image above doesn't provide any useful information to find

[2018-03-30 16:46] PoroUsedSnax commented on #2031
My error is the same CraftingInventoryLens one that this issue was originally made for, the `Error while creating CraftingInventoryLensImpl for brad16840.common.ContainerStack` one, it's just that our lag issues seem to be **related** to this error, but I can start a new issue if you'd like, not sure what else it would be called though. I can sort out a warmroast for you to take a look at.

EDIT:

[2018-03-31 10:55] Meesmaalt opened #2072 "Spongeforge server worldgen crash"
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2996
- Forge version: forge-1.12.2-14.23.2.2611-universal
- Java version: openjdk version "1.8.0_151"
- Operating System: SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64 GNU/Linux

- Plugins/Mods: https://imgur.com/a/pWyUv

**Issue Description**
Going near 0;0 crashes server, error messages spam like crazy.
When i disable spongeforge and use

[2018-03-31 12:15] xxlio109 opened #2073 "Right click crash"
SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2996

Forge version: forge-1.12.2-14.23.2.2611-universal

Java version: openjdk version "1.8.0_161"

Operating System: centos 7

Plugins/Mods:
SpongeAPI, SpongeForge, Actually Additions, Advanced Generators, BD Lib, Baubles, Bed Patch, BedFix, Binnie Core, Binnie's Botany, Binnie's Design, Binnie's Extra Bees, Binnie's Extra Trees, Binnie's G

[2018-03-31 14:41] ghost commented on #2070
Hi, to provide more infos : tombstone only uses the PlayerDropsEvent
NB : for now, Tombstone uses a provisory fix to make it works, but the problem is still present any way (in the latest for 2655 too)

[2018-03-31 15:27] Zidane commented on #2073
I would look ito what this mod is doing, it is causing some massive recursion

	at ru.poopycoders.improvedextraction.tile.TileEntityCuttingTable.func_189515_b(TileEntityCuttingTable.java:48)

[2018-03-31 15:29] Zidane commented on #2072
No and OTG will never work correctly with SpongeForge as they circumvent several Forge subsystems such as the DimensionManager.

[2018-03-31 15:29] #2072 closed, assigned to nobody

[2018-03-31 15:33] Zidane commented on #2071
The errors are clear, the pregenerator is literally causing it to generate biomes out of the range you are supposed to generate biomes at. Using the pregenerator from Nucleus, I have never seen that problem (as it uses the one we ship inside Sponge).

[2018-03-31 15:34] Zidane commented on #2058
@Faithcaio

Status?

[2018-03-31 17:09] broeredaan opened #2074 "Timings increasing startup time"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2996
- Forge version: forge-1.12.2-14.23.2.2635-universal
- Java version: 8
- Operating System: Ubuntu

- Plugins/Mods: Plugins none, Modpack is SevTech Ages 3.0.3

**Issue Description**
As the title suggests. When I add SpongeForge the startup time increases greatly. I think it takes like 5-10 minutes more to st

[2018-03-31 19:31] gabizou commented on #2074
Kinda need more info: Do you have some timings to report? Warmroast/VisualVM/other timing programs to help find out what is causing your server to load slowly?

[2018-03-31 19:34] broeredaan commented on #2074
I thought i'd be easiest if you guys downloaded the server files and see for yourself?
https://minecraft.curseforge.com/projects/sevtech-ages/files/2545727
Its as simple as putting spongeforge in the mods folder and removing it.
Where with sponge startup takes alot longer. And without its normal.
I would assume you guys know better how to track it. But if needed I can try using Warmroast/VisualVm

[2018-03-31 19:40] gabizou commented on #2074
Assumes we're all sitting at our desktops and have a server available to turn on with a new modpack etc.

This is an issue tracker, generally we try to gather as much information as possible to *replicate* and *identify* issues in sponge, but sometimes performance issues are not as simple as just downloading a modpack and "trying it".

[2018-03-31 19:42] broeredaan commented on #2074
My bad. I tried this on both my server and running it locally on my pc. Same outcome With SpongeForge much slower than clean modpack. So I thought you could do it locally aswell.

But I'll see if I can learn how to use WarmRoast/VisualVM and see if I can come back with a result.

[2018-03-31 20:07] broeredaan commented on #2074
Okay then. Here is the 2 .nps files I could create. I hope I did it correctly. I also included the logs from the startups if that helps.
[SevTech Sponge Issue.zip](https://github.com/SpongePowered/SpongeForge/files/1865869/SevTech.Sponge.Issue.zip)

[2018-04-01 01:57] #2073 closed, assigned to nobody

[2018-04-01 03:00] gabizou commented on #2074
So, from what it looks like is Timings is spending a lot of time at startup because of how many events are constantly being thrown. I would disable Timings if you're not using them, otherwise, there could be a workaround to disable timings for specific events or during startup (as they shouldn't really be used then).

[2018-04-01 07:30] elementalistic commented on #2071
I don't understand world gen code, I've not had to play with it, but looking at the source for the worldtype, it's using the minecraft default biome generator.  The worldBiomeID is set as -1 in the config.

https://github.com/Bartz24/VoidIslandControl/blob/16493e320a623b77888551d6acc057374fbbc70d/src/main/java/com/bartz24/voidislandcontrol/world/WorldTypeVoid.java#L47

This was from a new player s

[2018-04-01 10:52] broeredaan commented on #2074
I do use timings every now and then but usually tickprofiler is the one that help me the most. So I could turn timings off completely, but I'd rather turn it off for the startup. I cant find a config for this. What can I do to turn it off for startup? Or were you talking more about a possible addition to sponge timings?

For now I'll turn of timing. Thanks! 👍

[2018-04-01 16:39] Nitroxko commented on #1903
This is a bump, because this issue is still happening.

[2018-04-02 03:24] ProsperCraft commented on #1324
AE2 seeds are still despawning with entity activation mode on in 2996

[2018-04-02 06:50] alicheek opened #2075 "Sevtech Modpack - Better Advancements Issue with Progression"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-8.0.0-BETA-2993.jar
- Forge version: forge-1.12.2-14.23.2.2635-universal.jar
- Java version: Java openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

- Operating System: CentOS release 6.8 (Final)

- Plugins/Mods:

Sevtech Modpack 3.0.4

**Is

[2018-04-02 07:55] dualspiral commented on #2075
I notice you’re using the experimental builds. Does the same issue occur with stable builds?

https://www.spongepowered.org/downloads/spongeforge/stable/1.12.2

[2018-04-02 15:04] ChrisLane commented on #2063
Where ItemTossEvent is cancelled in FlansMod: https://github.com/FlansMods/FlansMod/blob/fd1077cf43b4ae4416731d18aeed96b0e8d9053d/src/main/java/com/flansmod/common/FlansMod.java#L442

This seems like it's related to #1265 which has been open for over a year now.

[2018-04-02 20:57] alicheek commented on #2075
Yes updating to that version solved the issue @dualspiral  Thanks for that :)

[2018-04-02 20:57] #2075 closed, assigned to nobody

[2018-04-03 07:42] ryantheleach commented on #2061
From memory, setKeepInventory should be following the same semantics as the gamerule.

What happens if you have the gamerule setKeepInventory on true, without Sponge with this mod?

[2018-04-03 10:00] Sir-Will opened #2076 "Chunks in CompactMachines world don't save with Sponge"
The chunks in the region files of the compact machines world don't get saved when sponge is running (Region file gets created but always empty).

Steps to reproduce:
- Start a server with CompactMachines and SpongeForge installed
- Create a compact machine by placing one of the blocks and interacting with the Personal Shrinking Device
- Restart the server and you will see that the chunks were not

[2018-04-03 11:22] Sir-Will opened #2077 "tileentity-activation per-mod override requires all tiles"
If you create a entry in tileentity-activation.mods for a mod and don't add all tiles then all not listed tile ents never tick/activate.
So the only way to use this right now is to have auto-populate always enabled.

Would be great if not listed tiles use the default configuration.

[2018-04-03 20:09] bloodmc commented on #2076
Paste your entire sponge global config.

[2018-04-04 03:15] ziceptor commented on #1991
In piggy Bank.

There were no mistakes for a long time. But after updating the plugin ([commit](https://github.com/trentech/WalletDrop/commit/3cbfe97460d877152cb1ad710519ff65baddc42d)) the server went crazy. Each run is accompanied by a set of errors "Failed to save configuration".

A set of [files](https://i.imgur.com/rfhVEo9.png) with [identical](https://i.imgur.com/qKRqKio.png) contents is crea

[2018-04-04 04:29] Sir-Will commented on #2076
It's default configuration: https://pastebin.com/tKi7AyER

[2018-04-04 10:46] Cybermaxke opened #2078 "Forge EntityMobGriefingEvent broke GriefingData"
With the implementation of the `EntityMobGriefingEvent` in forge are the `GriefingData` mixin injections broken:
EntityMobGriefingEvent PR: https://github.com/MinecraftForge/MinecraftForge/pull/4710
Original GriefingData impl PR: https://github.com/SpongePowered/SpongeCommon/pull/432

[2018-04-04 11:51] JoeSGT commented on #1982
Can someone look into this please, some of my players are starting to abuse this D:

[2018-04-04 18:22] parlough commented on #2078
A few other mixins were broke as well, will hopefully have some time tonight to work on the recent Forge changes.

[2018-04-04 20:15] BrainStone opened #2079 "org.spongepowered.asm.mixin.injection.callback.CancellationException: The call func_70097_a is not cancellable."
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2990
- Forge version: 14.23.2.2611
- Java version: 1.8.161
- Operating System: Debian 9

- Plugins/Mods: (Console spams too much )

**Issue Description**
My console gets spammed with this error. This appears to happen for all arrows currently loaded in the world.

Full log: https://gist.github.com/BrainStone/fecb9a8ffb837077

[2018-04-04 22:18] phit commented on #2076
https://github.com/SpongePowered/SpongeForge/commit/c45b1b179c58e3c78e761e27a567a64397a65237

[2018-04-04 22:18] #2076 closed, assigned to nobody

[2018-04-04 22:30] Zidane commented on #2079
@BrainStone

This will be fixed in SpongeForge build 3002 when it uploads :p.

https://github.com/SpongePowered/SpongeCommon/tree/bdfcaff6ad1d58d5190a327fc4face05227dbce6

[2018-04-04 22:30] #2079 closed, assigned to nobody

[2018-04-05 05:33] Sir-Will commented on #2076
Works now, thanks.

[2018-04-05 14:12] demon57730 opened #2080 "SpongeForge doesn't load with latest Forge"
spongeforge-1.12.2-2611-7.1.0-BETA-3002.jar

forge-1.12.2-14.23.2.2654-universal.jar

https://pastebin.com/9nA6B0Rg

not compatible with the latest version of forge

[2018-04-05 15:37] demon57730 commented on #2080
for info the last version of forge solved full of bug, he even solved the problem of connection.

[2018-04-05 17:56] gabizou commented on #2080
As me mentioned in the docs, [try to match forge versions](https://docs.spongepowered.org/stable/en/server/getting-started/implementations/spongeforge.html?highlight=forge#reading-the-download-filename). Forge had a few breaking changes that requires many fixes to bring back compatibility.

[2018-04-05 19:23] demon57730 commented on #2080
ok my question is simple will you release a spongrforge version compatible with the forge version I wrote ??

[2018-04-05 22:26] DragaoNimhe opened #2081 "Entities in every dimension except spawn world invincible"
**I am currently running**
- SpongeForge version: 1.12.2-7.1.0 (beta-2990), but this problem persists on all versions of 1.12.2-7.1.0 that we have tried
- Forge version: 1.12.2-14.23.2.2611
- Java version: openjdk version "1.8.0_161"
- Operating System: CentOS 7.4.1708

**Plugins/Mods:**
While we are using plugins, the problem persists without any of the plugins present. However, these are the plu

[2018-04-06 02:00] marineomi0204 opened #2082 "Mixin Crash"
What I'm running:
- SpongeForge version: 1.12.2
- Forge version: 1.12.2 - 14.23.2.2611
- Java version: Latest? Version 8 I believe
- Operating System: Windows

- Mods: _Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AngelRing 2 Bauble, Animania, Bailey's Dailies, Baubles, BiblioCraft, Biomes O' Plenty, Botania, Chameleon, CodeChicken Lib, CraftStudio AP

[2018-04-06 02:02] phit commented on #2082
gonna need a log file or crash report

[2018-04-06 06:27] Sir-Will commented on #1886
@phit the issue is not resolved unfortunately. Running SpongeForge 3002 and it still happens.

[2018-04-06 06:34] SawFowl commented on #1886
After the fix, I do not notice the problem yet, but I continue to observe.

[2018-04-06 07:30] phit commented on #1886
that's a shame, if you have any more ideas how to reproduce this please feel free to add that here
same for any logs or other maybe relevant files

[2018-04-06 07:35] SawFowl commented on #1886
I have no idea what causes this problem. She appears suddenly. If she comes back to me again, I'll let you know right away.

[2018-04-06 08:54] xxlio109 opened #2083 "NBTTagCompound"
SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3002

Forge version: forge-1.12.2-14.23.2.2611-universal

Java version: openjdk version "1.8.0_161"

Operating System: centos 7

Plugins/Mods:

Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Actually Additions, Advanced Generators, BD Lib, Baubles, Binnie Core, Binnie's Botany, Binnie's Design, Bin

[2018-04-06 09:09] phit commented on #2083
looks like a mod issue to me, please report it to Galacticraft

[code]

[2018-04-06 13:53] radfast commented on #2083
Hi, Galacticraft developer here.

This is **not** a Galacticraft-related crash, on the information available in that crash report.

@phit : the suggestion that it is Galacticraft, is disturbing.  Although I can see that the crash report contains this line for the entity being ticked:

    Entity Type: null (micdoodle8.mods.galacticraft.core.entities.player.GCEntityPlayerMP)

that is merely stating

[2018-04-06 13:57] radfast commented on #2083
TL;DR:  You need to re-open this.  It is not a Galacticraft issue.

[2018-04-06 15:13] phit commented on #2083
my bad, I shouldn't look at issues when I just woke up.. still don't see this pointing to Sponge though

@xxlio109 please ask xie_yue what they were doing when this occured

[2018-04-06 15:28] radfast commented on #2083
PS  one thing I noticed, the instance which crashed has both **SpongeForge** (normally a server-side mod) and **JEI** and **FoamFix** (normally client-side mods).  Seems a bit strange to have all these together.

Here is [another similar crash report](https://pastebin.com/98fyuJFf) I found.  This one also has Sponge, JEI and Foamfix all together, and some overlapping mods.

[2018-04-06 15:40] leelawd commented on #2074
Just wanted to throw in a theory on this.

After having my server take 10+ minutes to load and having time out issues with new worlds loading I took a look into the log files and found that when someone enters a world that was previously unloaded, These errors get thrown: https://pastebin.com/6RQj5peK

My assumption here is that its due to the modpack removing all but The betweenlands and the Twil

[2018-04-06 15:50] gabizou commented on #2080
Yes, in due time.

[2018-04-06 15:58] gabizou commented on #2083
It sounds like an NBTTagCompound contains itself which is causing recursion. I'd vaguely try to figure that sponge isn't doing much (Sponge added a null check into NBTTagCompound because there were some mods that were storing nulls into NBTTagCompound and when the `#copy()` method was called, it'd NPE).

[2018-04-06 16:22] gabizou commented on #2083
Ok, now that it has been built, build 3004 has some improved debugging output for this specific case, if you can replicate the issue easily, it should print out some nice logs for us to read and understand.

[2018-04-06 16:37] mcenderdragon opened #2084 "Create a config option for loading chunks on block tick for mod compatibility."
It seems like if you call world.scheduleUpdate(pos, block, delay); but the chunk unloads this tick/update gets not passed to the black when the chunk is loaded again.

[2018-04-07 10:45] broeredaan opened #2085 "Server crashing since forge 2646"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3004
- Forge version: forge-1.12.2-14.23.2.2646-universal
- Java version: 8
- Operating System: Linux/Windows

- Plugins/Mods: None

**Issue Description**
I tried to update my SevTech Ages server today which has the newest forge version 2654. However this crashed an gave an error with incompatibility sponge issue

[2018-04-07 10:57] phit commented on #2085
https://github.com/SpongePowered/SpongeForge/issues/2080

[2018-04-07 10:57] #2085 closed, assigned to nobody

[2018-04-07 15:14] 892279645 opened #2086 "Unable to load the spongeforge"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2990
- Forge version: 14.23.2.2654
- Java version: 1.8.0_162
- Operating System:Linux

- Plugins/Mods:BetterBedrockGenerator,infinimend,TabModifier,PotionFingers,shulkerbox,SimilsaxTranstr,ctors,Tesla,AppleSkin,HatStand,owls,EnchantingTable,DailyRewards,Aroma1997s-Dimensional-World,AutoRegLib,OnlinePicFrame,SimpleQuarry,pres

[2018-04-07 15:36] phit commented on #2086
downgrade forge, see https://github.com/SpongePowered/SpongeForge/issues/2080

[2018-04-07 15:36] #2086 closed, assigned to nobody

[2018-04-07 15:37] phit commented on #2080
reopened this until this is resolved, to hopefully avoid a bunch of other duplicates

[2018-04-07 18:29] codeHusky opened #2087 "Cause Stack poisoning on InteractBlockEvent based on proximity"
*Based on information from another user, currently not confirmed by yours truly.*
**I am currently running**

![image](https://user-images.githubusercontent.com/6946558/38458702-b9140ffc-3a66-11e8-9d75-c81b0f1112a6.png)
- Java version:
![image](https://user-images.githubusercontent.com/6946558/38458734-314f7498-3a67-11e8-88d3-df173597d9ce.png)

- Operating System: Linux
![image](https://user-image

[2018-04-07 21:25] gabizou commented on #2087
Can you show us some example code or some debugging information as to what events are causing the player b to show up as being rewarded?

[2018-04-07 21:34] codeHusky commented on #2087
As far as I've been able to tell, Sponge is firing InteractBlockEvent twice for some reason. I don't know exactly why this is happening or what's causing it as I haven't been able to isolate the problem.

[2018-04-07 21:52] Faithcaio commented on #2087
InteractBlockEvent fires twice because you have a main and offhand.
So you're getting e.g.
`InteractBlockEvent.Primary.MainHand` and
`InteractBlockEvent.Primary.OffHand`

[2018-04-07 22:32] codeHusky commented on #2087
@Faithcaio
`public void openCrateBlock(InteractBlockEvent.Secondary.MainHand event, @Root Player player){`
Signature, so that isn't why.

[2018-04-07 23:29] codeHusky commented on #2087
The other guy wasn't able to reproduce this issue and I haven't been able to either. Doesn't seem to be a particularly reliable bug, if it is one.

[2018-04-07 23:43] codeHusky commented on #2087
Okay, i'll clear this up.

So, in my plugin, I use `%p` as the player's username and `%P` as the player's uuid.

Someone had mistakenly used `@p` in their config, and that seems to be what was happening. Oops.
If this happens again I'll reopen the issue, but it seems to be user error.

[2018-04-07 23:43] #2087 closed, assigned to nobody

[2018-04-08 01:40] xxlio109 commented on #2083
New crash ，I don't know if it's the same as before。。。
spongeforge-1.12.2-2611-7.1.0-BETA-3004
https://gist.github.com/xxlio109/2bd19884782dfb253b393f2db3cefcdb

[2018-04-08 06:09] Lorrainrm opened #2088 "Server Crash when loading certain area (something with Woodland Mansion)"
**sponge 2990**

- SpongeForge version: 2990
- Forge version: 2611 i guess
- Java version: 8
- Operating System: linux

---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.12.2-2611-7.1.0-BETA-2990.jar)
Contact their authors BEFORE contacting forge

// Everything's going to plan. No, really, that was supposed to happen.

Time: 4/8/18 1:54 AM
Description:

[2018-04-08 06:32] phit commented on #2088
https://github.com/SpongePowered/SpongeForge/issues/1946

[2018-04-08 06:32] #2088 closed, assigned to nobody

[2018-04-08 12:05] Lorrainrm commented on #1946
Guess a world gen (nucleus) fixed it for me.
Peace

[2018-04-08 18:17] Artitus commented on #2074
I never had an issue with load times with sponge, but the current sponge build is not compatible with the latest version of forge which the latest version of the sevtech: ages pack uses. Hope I was able to provide helpful input.

[2018-04-08 21:55] ghost opened #2089 "[1.12.2] Most explosives broken"
*sponge and forge version are included in the error*

This appears whenever i set off an explosive, the blast occurs but it does not damage any blocks and it keeps on spamming my console until i restart the server:
https://pastebin.com/HDe48sHD

[2018-04-08 21:59] #2089 closed, assigned to nobody

[2018-04-08 21:59] phit commented on #2089
we have an issue template for a reason, use it

[2018-04-08 22:12] ghost opened #2090 "ICBM Classic Explosives Issue"
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3002.jar
- Forge version: 1.12.2 - 14.23.2.2611
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_151
- Operating System: Linux

- Plugins/Mods:
Mods (103): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, Advanced Generators, Applied Energistics 2, Aroma1997Cor

[2018-04-09 08:15] demon57730 commented on #1912
I have the same problem

spongeforge-1.12.2-2611-7.1.0-BETA-3004.jar
woot-1.12.2-1.0.1.jar
Guide-API-1.12-2.1.5-60.jar

[2018-04-09 09:50] phit commented on #1912
did you test with just those 3 mods?

[2018-04-09 10:29] Sir-Will commented on #1886
So after many days of testing, debugging an so on I finally found out what is causing it.
If you have any sponge plugin which cancels the `UnloadWorldEvent` of the overworld on shutdown then you will have changed block id's.

This bug should be fixed asap.

This is not in issue in the 1.10 sponge version.

[2018-04-09 10:39] Mohron commented on #1886
That doesn't explain why world edit forge and FAWE forge were found to have some relation to the issue. When I removed them, I stopped having this issue.

[2018-04-09 11:07] ghost commented on #2090
I just wanna let you guys know that my server release is delayed until this has been fixed so id appriciate it if this were to be fixed quickly.
I'm willing to try out any experimental fixes myself if nessesairy

[2018-04-09 11:08] phit commented on #1886
I never had WE or FAWE installed and had this issue happen, nor did I ever have a plugin that cancels `UnloadWorldEvent`,
but for me this issue has been pretty much non existent since I set `deny-chunk-requests=false` which is now default.

At this point I think this whole thing probably has multiple causes that can lead to it.

[2018-04-09 11:10] dualspiral commented on #2090
We welcome pull requests if you want this fixed quickly. Please remember that this is a volunteer run, open source project, we do not prioritise issues based on comments like this.

[2018-04-09 11:16] ghost commented on #2090
Phit, mind telling me if that mod incompatability will be dealt with on spongeforge its side or not, if not imma refer the dev to this issue

[2018-04-09 11:23] phit commented on #2090
looks like a mod issue from a brief glance, but don't quote me on that
so feel free to also report it to them

[2018-04-09 11:33] Sir-Will commented on #1886
Well, I can reproduce it all the time with just SpongeForge, Forestry and a single class plugin which cancels the unload event while `deny-chunk-requests` is set to false.

[2018-04-09 11:59] JoeSGT commented on #2061
it seem this same issue that is causing a Duplication bug using Soul Bound enchantment from EnderIO as Dualspiral mention me this issue

[2018-04-09 12:05] ghost commented on #2090
And 1 explosive(thermobaric) runs into a multi threading issue if that helps: https://pastebin.com/B7Md8zpq
This one explosive might just have an issue on the mod its side though

[2018-04-09 12:38] pdglobal opened #2091 "Item skips pickup event if same item already exists in inventory"
**I am currently running**
- SpongeForge version: 4.1.30
- Forge version: forge-1.12.2-14.23.2.2611-universal
- Java version:  java version "1.8.0_161"
- Operating System: Windows Server 2016

- Plugins/Mods:

appliedenergistics2-rv5-beta-1,base-1.12.2-3.7.0,bc-ore-processing-7.99.15-1,bdlib-1.14.3.12-mc1.12.2,binnie-mods-1.12.2-2.5.0.119,BiomesOPlenty-1.12.2-7.0.1.2337-universal,buildcraft-7.99.1

[2018-04-09 13:00] ghost commented on #2090
I just tested all explosives without spongeforge and they worked flawlessly, even the thermobaric which had multithreading issues  https://pastebin.com/B7Md8zpq worked

[2018-04-09 13:11] broeredaan commented on #2083
My server crashes on startup because of this
https://gist.github.com/broeredaan/1339bee2dc66bf18246766faa2de7129
(edit: currently running the SkyBlock 3 V3.3 pack with spongeforge 3006)

[2018-04-09 14:49] demon57730 commented on #1912
I just do it with another server even forge even the same 3 mod avaritia and more (this mod does not change any mob) and still I can not always capture the dragon with woot

[2018-04-09 14:50] phit commented on #1912
does the wither work?

[2018-04-09 14:51] demon57730 commented on #1912
it seems to me that yes I will test two minutes because I find another bug but I will see if these forge or sponge that cause it

[2018-04-09 15:15] demon57730 commented on #1912
https://youtu.be/-SFUX2TncLc

in this video I show that I capture the wither but not the dragon ender

at the end I show the server ftp with the 4 mod + forge + sponge

__________________________________________________________________________________________________

in the video you see that I kill in 1 blow with the sword the wither but not possible with the dragon these sword of Avaritia.

Wel

[2018-04-09 16:08] gabizou commented on #2083
@xxlio109 different crash, that's sponge catching the error and making it more available as to what nbttag compound is being used to store a null value (which is not allowed, even by Mojang's standards).

@broeredaan that's a villager crash, related to #2048

[2018-04-09 16:11] gabizou commented on #2083
@radfast any idea where the crashlog you got came from or how to reproduce? I added stack overflow error handling for nbttagcompound writing, but it just seems like someone is adding a compound to a list to itself, but so far no one has reproduced it with my changes.

[2018-04-09 16:22] radfast commented on #2083
hey @gabizou  no idea, sorry - the pastebin came up on a Google search for some of the text seen in xxlio109's error log.  I cannot find any page linking to it or discussing the pastebin.

Because I only found it in that one search - and here - this suggests to me that the error is **very rare**.  Maybe wait a month and see if anything comes up in your logging?

[2018-04-09 16:35] broeredaan commented on #2083
@gabizou This was on server startup where the server doesnt even have a world yet. (it crashes before it can create a world because of this). But ill keep track of #2048 I guess then. Thanks

[2018-04-09 16:41] phit commented on #1912
thanks for testing!

for reference Woot's capture code is [here](https://github.com/Ipsis/Woot/blob/1_12/src/main/java/ipsis/woot/item/ItemEnderShard.java#L57)

[2018-04-09 16:46] demon57730 commented on #1912
so he has a worry with the sword of avarita and the dragon because without spongeforge the sword kills the dragon in 1 shot but with spongeforge the sword is not effective as if spongeforge says that the dragon is not a mob or rather he does not know the dragon ender

[2018-04-09 17:07] demon57730 commented on #1912
[16:53:01] [Server thread/WARN] [net.minecraft.stats.StatisticsManagerServer]: Invalid statistic in ./world/stats/e7e67562-eb9a-4853-881d-8e62e91b3baf.json: Don't know what stat.useItem.woot.endershard is
[16:53:01] [Server thread/WARN] [net.minecraft.stats.StatisticsManagerServer]: Invalid statistic in ./world/stats/e7e67562-eb9a-4853-881d-8e62e91b3baf.json: Don't know what stat.useItem.avaritia.

[2018-04-09 17:19] phit commented on #1912
please don't fill this issue with unrelated things, open a separate issue for the avaritia stuff

[2018-04-09 18:08] gabizou commented on #2090
This is more of a bug with the mod itself doing threaded workers without null checking their threads. Otherwise, explosions appear to have been working with SpongeForge unless another ticket is opened with another mod's explosives not working properly.

Reviewing the mod's code, there's a few things they are doing semi-right, but not checking threads and nullable fields is bad practice in general.

[2018-04-09 18:33] ghost commented on #2090
Is there any chance for me to get a fix on spongeforge its side

[2018-04-09 19:12] DarkGuardsman commented on #2090
I'll take a look at the bug, next time post on the mod tracker first. I will be able to tell if its a sponge or vanilla mod problem. Based on memory I want to say this is very likely just legacy code failing. The original thread code was made in 1.5.2 Minecraft and has received very little work. As I plan to replace it with the VoltzEngine worker thread system.

[2018-04-09 19:40] DarkGuardsman commented on #2090
Threaded explosives include Sonic, Rot, Nuclear (Large thread), and AntiGrav (small thread)

I've added a try-catch around the postcode and a null check if the thread failed to run. The first should catch any errors. While the second should let me know if the thread itself is the issue. If it turns out the world is null then something is fishy. As the world shouldn't be able to go null and still h

[2018-04-09 20:22] demon57730 opened #2092 "Avaritia attempts to kill entities directly, without damaging them."
Avaritia-1.12-3.2.0.13-universal.jar
spongeforge-1.12.2-2611-7.1.0-BETA-3012.jar
woot-1.12.2-1.0.1.jar
Guide-API-1.12-2.1.5-60.jar

as i explained in another subject you told me to open one so voila avaritia has a sword that kills all mob in 1 shot.

without spongeforge the end dragon makes him kill in 1 shot but with the spongeforge he does not die and even the sword and almost ineffective agains

[2018-04-09 20:46] phit commented on #2092
for reference https://github.com/Morpheus1101/Avaritia/blob/master/src/main/java/morph/avaritia/item/tools/ItemSwordInfinity.java#L45

[2018-04-09 20:51] gabizou commented on #2004
If you want to give it a shot with SF 3014, might fix a few things.

[2018-04-09 20:51] gabizou commented on #1748
@Sunconure11 give SF 3014 a shot. I know it's been a while.

[2018-04-09 21:02] #1562 closed, assigned to gabizou

[2018-04-09 21:02] #2048 closed, assigned to nobody

[2018-04-09 21:02] #2067 closed, assigned to nobody

[2018-04-09 23:27] demon57730 opened #2093 "buy bug"
forge-1.12.2-14.23.2.2634-universal.jar
spongeforge-1.12.2-2611-7.1.0-BETA-3012.jar
Nucleus-1.3.6-S7.0-MC1.12.2-plugin.jar
PlayerShopsRPG-2.1.0.jar

[01:12:00] [Server thread/ERROR] [Sponge]: Error occurred while executing command 'shop item buy 70b04799-249d-431e-b307-07d1b02acfc4 1 ba94cd66-815f-40d8-a4ae-97cdc74ee9dc' for source EntityPlayerMP['laboriens'/3297, l='world', x=-57.79, y=72.00, z=7

[2018-04-09 23:42] demon57730 commented on #2093
sorry it does not come from spongeforge it must come from the plugins economy j

[2018-04-09 23:48] #2093 closed, assigned to nobody

[2018-04-10 00:39] Sunconure11 commented on #1748
I haven't used Sponge in some time, but I'll see about testing this soon.

One unrelated issue I did note was that dragons from Ice and Fire were invisible unless the hitbox settings or whatever were set to high levels. I'd advise having them, by default, be near the highest possible, due to many mods having large mobs and what not.

[2018-04-10 11:21] broeredaan commented on #2083
So @gabizou #2048 was closed with 3014 but I am still experiencing the issue with NBTTagCompound from the gist I posted here. So perhaps it does have something to do with this issue?
https://gist.github.com/broeredaan/1139b6c2d1801cc2e1f3f3ae02db690d
Or should I make a new issue for this?

[2018-04-10 13:54] Bulldog83 commented on #1402
I have same crash on 1.12.2 forge server with sponge.
Crash report with list of mods:
https://gist.github.com/Bulldog83/eb800c057029cf01677440c8880e91c4

[2018-04-10 14:01] Bulldog83 opened #2094 "NPE Timings when getting block ID"
I have [same](https://github.com/SpongePowered/SpongeForge/issues/1402) crash on 1.12.2 forge server with sponge.
Crash report with list of mods:
https://gist.github.com/Bulldog83/eb800c057029cf01677440c8880e91c4

[2018-04-10 14:39] gabizou commented on #2083
I'm going to say it once, #2048 is a *separate bug/issue that was resolved with separate code*.

[This line is saying it's a mod's fault](https://gist.github.com/broeredaan/1139b6c2d1801cc2e1f3f3ae02db690d#file-another-L10-L14) for adding a null **as the log suggests**, I wrote the message to catch nulls for mods to stop breaking things, which [buildcraft had an issue at some point that they could

[2018-04-10 15:08] broeredaan commented on #2083
I was just reporting it because you said my issue was related to #2048 earlier in this issue

But thanks for the info. I'll be silently waiting in the back now ^^

[2018-04-10 21:16] creeper123123321 opened #2095 "Scheduler not running tasks on internal server"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3016
- Forge version: 1.12.2-14.23.2.2611
- Java version: openjdk version "1.8.0_162"
- Operating System: Arch Linux

- Plugins/Mods: modified ViaVersion

**Issue Description**
SpongeForge is not running tasks while internal server is open, but when i exit world it seems to execute that tasks
[code]
test code:
[c

[2018-04-10 21:17] kashike commented on #2095
Please provide a description of your issue.

[2018-04-10 22:45] liach commented on #2095
Recall that last tine dockter moved ticking events onto the client. I suspect that's the cause. (I've pointed out back then)

[2018-04-10 23:25] Y0ungSandwich commented on #2081
This appears to have been fixed in sponge version:
spongeforge-1.12.2-2611-7.1.0-BETA-2990
and/or in Mech & Magic version:
2.0.7

[2018-04-11 00:20] simon816 commented on #2095
@Dockter you checked the scheduler still worked with this PR? https://github.com/SpongePowered/SpongeForge/pull/1995#issuecomment-364645691

[2018-04-11 03:52] DragaoNimhe commented on #2081
Can confirm the newest version of Mech and Magic has fixed the issue, so wherever the conflict was, it's gone now! Thanks y0ung!

[2018-04-11 05:58] #2081 closed, assigned to nobody

[2018-04-11 15:30] Zidane commented on #2095
@simon816

While we can revert his commit, the core issue still remains. We have no means of scheduling on client thread.

I mean one could say "Well you could use NMS, grab Minecraft and schedule interally to Minecraft from a Sponge scheduled task" but that is horrifically hacky. We really need a scheduler per logic thread (Server/Client).

Thoughts?

[2018-04-11 15:43] kashike commented on #2095
Time to start introducing `Client`?
`Client#getScheduler()` etc

[2018-04-11 16:33] liach commented on #2095
Didn't zidane mention a few month ago that sponge is in cleanup phase recently?

[2018-04-11 18:44] simon816 commented on #2095
@Zidane Perhaps we could reconsider this? https://github.com/SpongePowered/SpongeAPI/commit/a3ad9e6c1dc47ea0f99f5fcbc1650652df0abfa5#r16207084

I like @kashike's suggestion.
Or you chould choose the scheduler when building a task, something like @maxov's suggestion way back https://github.com/SpongePowered/SpongeAPI/pull/697#issuecomment-106014675

[2018-04-11 19:56] JoeSGT commented on #2094
You need to use the template in order to submit issues

[2018-04-11 20:02] phit commented on #2094
it's fine in this case, the parent issue has all the information needed

[2018-04-12 01:42] Derpyness2000 opened #2097 "NBT data not properly saving/disappearing at random"
Tested sponge versions: 1.12.2-2611-7.1.0-BETA-3016 3003 3002 2990 and 2790
Forge version: 1.12.2 - 14.23.2.2611
Java version: OpenJDK 64-Bit Server VM, version 1.8.0_151
OS: Linux

Plugins (19): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, Eagle Factions, LuckPerms, MMCRestrict, MagiBridge, No Downfall, NuVotifier, Nucleus, Prism, SeriousVote, Total Economy, UniversalMark

[2018-04-12 04:43] Sir-Will opened #2098 "Teleport causes "Completing Phase" spam"
The log gets frequently spammed with the "Completing Phase" error which seems to get triggered by teleports.

**I am currently running**

- spongeforge-1.12.2-2611-7.1.0-BETA-3002
- forge-1.12.2-14.23.2.2631-universal

Completing Phase error: https://gist.github.com/Sir-Will/1e714b76b5f419dc0aa2e7f70b1b17b2

[2018-04-12 07:21] gabizou commented on #2094
Can you re-test on some newer builds of SpongeForge?

[2018-04-12 09:25] dualspiral commented on #2098
It's a bug with when runaway phases are printed. The multiple `GenerationPhases` in there are re-entrant so are in the phase stack multiple times, but the runaway phase check only checks the head of the stack for if that's re-entrant on pop. `CommandPhase` is not re-entrant (unlike the ones below) and the stack is greater than 6 items large so it triggers this spam. I could fix it by caching the n

[2018-04-12 15:06] Sir-Will commented on #2098
Is there any way to disable this logging temporary until this is fixed? As this spam kills the sever.

[2018-04-12 15:12] dualspiral commented on #2098
Set `cause-tracker.verbose` to `false` in `global.conf`

[2018-04-12 15:24] gabizou commented on #2098
I do believe there are phases that have not been popped, in this case with generation. Chunk generation should only occur in specific instances, not during packet handling. Since world generation itself is performed long before packets are being read (which is calling a command for teleport), I do believe there is a bug somewhere.

Is it possible to get the full server log (however large that may

[2018-04-12 16:03] Sir-Will commented on #2098
Truncated the log and only included the part where it started:
[server-2018-04-11-22-24-16.zip](https://github.com/SpongePowered/SpongeForge/files/1904006/server-2018-04-11-22-24-16.zip)

[2018-04-12 17:25] Derpyness2000 commented on #2097
Found the cause: I:dormantChunkCacheSize in forgeChunkLoading.cfg is not compatible with spongeforge And here is where i managed to find that which turned out to work even though spongeforge wasen't present in this issue: https://github.com/MinecraftForge/MinecraftForge/issues/3325

[2018-04-12 17:59] phit commented on #2097
not a Sponge issue in the first place, that setting is broken with just Forge

[2018-04-12 19:10] phit commented on #2082
no reply, closed for now

[2018-04-12 19:10] #2082 closed, assigned to nobody

[2018-04-12 20:23] Derpyness2000 commented on #2097
Without spongeforge that settings works just fine

[2018-04-12 21:44] gabizou commented on #2097
I don’t believe we re implemented the asynchronous chunk loading in sponge common, but I do have a hunch that we are breaking it possibly due to previously missed updates to forges chunk loader. Would have to ask @bloodmc or @Zidane to investigate as I have my plate full. Or maybe @kashike if he’s willling.

[2018-04-12 21:48] gabizou commented on #2098
@Lemmmy not sure what your comment’s purpose is, but there’s no link that I’ve seen for a full log.

Edit: Oh, I see. @Sir-Will, I'll need the full log, because it's more likely an exception from earlier is causing world generation leakage.

[2018-04-12 22:46] creeper123123321 opened #2099 "Console spam when stopping internal server with LAN players"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3016
- Forge version: 1.12.2-14.23.2.2611
- Java version: openjdk version "1.8.0_162"
- Operating System: Arch Linux

- Plugins/Mods: Forge, SpongeForge

**Issue Description**
Reproduction:
1 - open a world to LAN
2 - join that world with a vanilla client
3 - stop SpongeForge internal server by leaving world

htt

[2018-04-12 23:00] Lemmmy commented on #2099
Similar behaviour also happens when you ^C a server - not that you should, but felt it was worth mentioning.

[2018-04-13 07:13] Bulldog83 commented on #2094
I've made several tests. Crash causes by a combination of mods: SpongeForge + Better With Mods + Biomes O' Plenty.
Last crash-report: https://gist.github.com/Bulldog83/16a05ca35b3625feb699f08081cc688f

[2018-04-13 07:44] Bulldog83 commented on #2094
SpongeForge 7.1.0-BETA-3019 causes crash too.
https://gist.github.com/Bulldog83/f928e3ab746a185f3e792028b56c3a10

[2018-04-13 08:41] stonestevend opened #2100 "Repeat command blocks stop looping after going a certain distance away"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2990
- Forge version: forge-1.12.2-14.23.2.2611-universal
- Java version: jre1.8.0_161 64-bit
- Operating System: Windows 8.1

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge

**Issue Description**
      Repeat command blocks stop looping after the player

[2018-04-13 08:43] phit commented on #2100
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1815

[2018-04-13 08:43] #2100 closed, assigned to nobody

[2018-04-13 15:03] gabizou commented on #2094
At this point, I can safely say you have a block that is not registered **at all with forge**.

I'll provide some more luggable warnings for this, but the NPE is happening here:
[code]
Which can only mean that the registry does not have the block registered.

I'll comment back when I have something that will provide more information with a newer sponge build.

[2018-04-13 15:57] misaka00251 commented on #1752
Latest 1.12.2-2611-7.0.0-BETA still have this issue....
Maybe a plugin problem?

[2018-04-13 16:02] phit commented on #1752
then please test and figure out what is needed to reproduce this, we can't really help when the requirement is to install 40 mods/plugins

[2018-04-13 18:33] ghost opened #2101 "Exception in server tick loop"
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-3017
- Forge version: 14.23.2.2611
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_151
- Operating System: Linux

Plugins (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, Eagle Factions, LuckPerms, MMCRestrict, MagiBridge, No Downfall, NuVotifier, Nucleus, Prism, SeriousVote, Total Economy, UniversalMarket, Vanish

Mo

[2018-04-13 18:40] ghost commented on #2101
Source found: redstone clock

[2018-04-14 18:27] Aersaud opened #2102 "Exception reading DIM1/level.dat"
[code]

Started getting this recently on my latest.log. Just wanted to report and possibly find a fix.

Using
[code]

Mods installed:

[code]

[2018-04-14 18:31] phit commented on #2102
your level.dat corrupted, could be hardware failing, server not being shut down properly etc. not a Sponge issue

restore the file from a working backup and you should be okay

[2018-04-14 18:31] #2102 closed, assigned to nobody

[2018-04-14 18:33] iridium34 opened #2103 "The advancement is not yet initialized"
- SpongeForge version: 1.12.2-2611-8.0.0-BETA-3018
- Forge version: 14.23.2.2645
- Java version:  Version 8 Update 161 Build 12
- Operating System: Windows 10

**Issue Description**
it happend while using the Twilight Forest Mod.
1. moving in Twilight Forest Dim
or
2.Llogin while in Twilight Forest Dim

Crash Log:
https://gist.github.com/iridium34/1378bfd10161c1e1859d84dfb80d4dcf

[2018-04-14 20:45] kashike commented on #2103
You should be using `7.1.0`, not `8.0.0` snapshots. Try with `1.12.2-2611-7.1.0-BETA-3019`, or with `1.12.2-2655-7.1.0-BETA-3024` if you can upgrade to Forge build 2655.

[2018-04-14 20:49] Aersaud commented on #2102
All set after cp'ing level.dat_old to level.dat after removing the corrupted level.dat
Thanks!

[2018-04-15 00:28] gabizou commented on #2080
Fixed in build 3024.

[2018-04-15 00:28] #2080 closed, assigned to nobody

[2018-04-15 08:38] Sir-Will opened #2104 "Atomic Reconstructor Enchanted Book Splitting"
**Issue Description**
The Atomic Reconstructor from Actually Additions does have a feature which splits enchanted books with multiple enchantments into multiple books with one enchantment.
As seen here: https://github.com/Ellpeck/ActuallyAdditions/issues/985#issuecomment-350949723
Unfortunately does this feature not work with SpongeForge, trying to use it will cause the book to disappear.

**Steps

[2018-04-15 11:51] XakepSDK opened #2105 "Forge 1.12.2-14.23.3.2666 incompat"
SpongeForge 1.12.2-7.1.0-3024 and forge 1.12.2-14.23.3.2666 are incompatible.
Error log:
https://gist.github.com/XakepSDK/7b024a13c5c8127087fb0beaf114f85c

[2018-04-15 14:43] Andre601 commented on #328
dear god.... How many labels do you want to add?

[2018-04-15 17:05] kashike commented on #328
Yes.

[2018-04-15 21:42] Cybermaxke commented on #2105
Got broken in:
https://github.com/MinecraftForge/MinecraftForge/commit/9d0771b3d736a1a1b26bcdfcbda193a626e95d59#diff-b3af1b66c89ea0b47400441c6f9a4334L393
Broken mixin:
https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/fml/common/MixinLoader.java#L58

[2018-04-15 23:59] gabizou commented on #2105
There's a problem updating, if we update, we'll break compatibility with older versions of forge I think. I'll try and see what I can do though.

[2018-04-16 06:39] ProsperCraft opened #2106 "Mod portals are broken again with forge update. Players end up in stone and die."
**I am currently running**

    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-a312749
    SpongeForge: 1.12.2-2655-7.1.0-BETA-3025
    Minecraft Forge: 14.23.3.2655
- Java version:  openjdk version "1.8.0_161"
- Operating System: Centos 7 Minimal install

- Plugins/Mods:
[https://minecraft.curseforge.com/projects/towncraft](https://minecraft.curseforge.com/projects/towncraft)

[00:33:40] [Server

[2018-04-16 15:02] phit commented on #2101
side effect of https://github.com/SpongePowered/SpongeForge/issues/1917

[2018-04-16 15:02] #2101 closed, assigned to nobody

[2018-04-16 15:05] phit commented on #2106
previous issue https://github.com/SpongePowered/SpongeForge/issues/2025

[2018-04-16 15:08] #2078 closed, assigned to nobody

[2018-04-16 15:10] phit commented on #2068
~move to sc

[2018-04-16 15:10] #2068 closed, assigned to nobody

[2018-04-16 15:10] limbo-app commented on #2068
Hey @Sir-Will! I've moved your issue to [SpongePowered/SpongeCommon#1874](https://github.com/SpongePowered/SpongeCommon/issues/1874).

[2018-04-16 15:20] gabizou commented on #2106
I'll need to clean up teleportation code, I think I forgot to fix location placement and allow mod teleports to perform the location placement.

[2018-04-17 18:39] Rasmun commented on #2061
@ryantheleach the gamerule works fine in single player, without Sponge or Nucleus.  On our server that have both Sponge & Nucleus, we have the issue.  Does that help?

[2018-04-19 04:43] ProsperCraft opened #2107 "[1.12.2] If the server gets improperly shut down, it will not boot again- RuntimeException: derp at net.minecraft.world.storage.SaveHandler"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3025.jar
- Forge version: forge-1.12.2-14.23.3.2655-universal.jar
- Java version: openjdk version "1.8.0_161"
- Operating System: Centos 7 minimal install

**Issue Description**
I power cycled the box, and it would not come back up after.

Someone else reported the same issue a few days ago in the Sponge discord.

[2018-04-19 05:00] gabizou commented on #2107
@Zidane Should we consider to just revert if there's an older file located during the improper shutdown? The exception is pretty nondescript to many people (even us). I'd consider just raising a warning about potential corruption and move on.

[2018-04-19 05:17] Zidane commented on #2107
@gabizou

I pushed a far more informative exception message. We aren't rolling back. The server needs to stop if this is hit as there is a pretty good chance it is just the start of the corruption and should be a red flag for the admin to start investigating world data. Just restoring the backup for them makes a very SERIOUS issue they need to investigate something that will just get ignored and h

[2018-04-19 05:17] #2107 closed, assigned to nobody

[2018-04-19 05:20] #2103 closed, assigned to nobody

[2018-04-19 05:24] Zidane commented on #2084
We don't reschedule the block ticks unlike what Vanilla does (as Vanilla will reschedule forever). Is a bit of a big performance boost.

Does this break your mod(s)? May need something in a Sponge config where certain blocks are allowed to keep rescheduling. For stuff like Water, there is no point (it just reschedules again while ticking or when a neighbor block updates).

[2018-04-19 05:28] Zidane commented on #2074
I'm closing this per @leelawd 's comment until I hear otherwise.

@Artitus SpongeForge's current series of builds for stable-7 (API 7.1-SNAPSHOT) are on Forge 2655.

[2018-04-19 05:28] Zidane commented on #2094
Closing as this is not a Sponge issue.

[2018-04-19 05:28] #2094 closed, assigned to nobody

[2018-04-19 05:36] Zidane commented on #2047
Closing this due to mod incompatibility

[2018-04-19 05:36] #2047 closed, assigned to nobody

[2018-04-19 05:37] Zidane commented on #2038
Closing due to lack of reply.

[2018-04-19 05:37] #2038 closed, assigned to nobody

[2018-04-19 05:38] #2031 closed, assigned to Faithcaio

[2018-04-19 05:40] Zidane commented on #2004
Closing until we hear further.

[2018-04-19 05:40] #2004 closed, assigned to nobody

[2018-04-19 06:07] Zidane commented on #1886
@Sir-Will

I pushed a change to SpongeForge that makes sure to not stop the saving logic on shutdown even if you cancel UnloadWorldEvent.

Generally via normal API methods you can NEVER unload the Overworld and during the server lifecycle it'll never be told to unload UNTIL we're shutting down. This was an oversight (a bad one at that).

I'll close this until another scenario crops up that can be

[2018-04-19 06:07] #1886 closed, assigned to nobody

[2018-04-19 06:17] Zidane commented on #1882
Honestly nothing in the WorldManager does anything special here. I pass off whatever folder name that Nucleus gives me to Mojang's ``SaveHandler`` which just does ``this.worldDirectory = new File(p_i46648_1_, saveDirectoryNameIn);``

What happens if you run a Vanilla server with that name as your level-name?

[2018-04-19 06:24] Zidane commented on #1945
Closing due to lack of response.

[2018-04-19 06:24] #1945 closed, assigned to nobody

[2018-04-19 06:29] Zidane commented on #1897
From reading the above, there is some shady crap going on with the registries in Unidict and I suspect that Sponge is only showing the issue and its quite likely this is happening regardless. We literally do little to the registry system in Forge...the extent of which is simply to synchronize what is in the Forge registry for blocks/items/etc to what is available to our plugins.

We can't fix what

[2018-04-19 06:29] #1897 closed, assigned to nobody

[2018-04-19 06:32] ryantheleach commented on #1882
level-name=wor/ld inside "D:\s\testvanilla\server.properties"

results in D:\s\testvanilla\wor\ld

![image](https://user-images.githubusercontent.com/141554/38975015-58a243a8-43eb-11e8-8514-7274500733e8.png)

[2018-04-19 06:32] Zidane commented on #1869
Testing in SinglePlayer literally means nothing. There are numerous things that are different on a dedicated server.

Closing until you can test this again against the latest RB of SpongeForge and without SpongeForge and compare the results. If it does crash, respond back with your logs.

[2018-04-19 06:32] #1869 closed, assigned to nobody

[2018-04-19 07:57] mcenderdragon commented on #2084
I have created a redstone timer, which used this as it is better performance wise compared to a ticking tileentity. A config would indeed fix this.

[2018-04-19 13:29] LatvianModder commented on #2047
I think this was fixed? not sure tbh

[2018-04-19 13:47] Zidane commented on #1840
Apologies for how long this took to fix for something so simple. Somehow slipped through the cracks. Once the new SpongeForge build is deployed it should be fine.

I started a server with OpenComputers and us and it launched.

[2018-04-19 13:47] #1840 closed, assigned to nobody

[2018-04-19 14:34] ghost opened #2108 "Server crash with spongeforge"
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3029
- Forge version: 2655
- Modpack: Modern Skyblock 3

With the current version of Sponge and Modern Skyblock 3 there are problems with the NBT. I do not know exactly now but it has since been updated to Forge 2655 and the sponge version from 3024.

Here again a small screenshot with the problem.

https://screen.ichhaa.de/t8u3t7dfpo.png

[2018-04-19 14:51] rediomand opened #2109 "StackOverflowError in PhaseTracker"
- SpongeForge version:  spongeforge-1.12.2-2655-7.1.0-BETA-3029.jar
- Forge version: 14.23.3.2655
- Java version: java version "1.8.0_144"
- Operating System: Debian

- Plugins/Mods: Sevtech Modpack version 3.0.6

Sevtech server crash after join

Crashreport: https://pastebin.com/q4q9pmef

[2018-04-19 15:08] Zidane commented on #1834
As of the latest SpongeForge build via this common commit:

https://github.com/SpongePowered/SpongeCommon/commit/ad4859eeff55a9f883a93cb43c3b6657a4f40e4a

This is resolved.

[2018-04-19 15:08] #1834 closed, assigned to nobody

[2018-04-19 15:10] Zidane commented on #2109
@gabizou

I poked you on this before. Here is another situation where this happens.

[2018-04-19 15:15] #1868 closed, assigned to nobody

[2018-04-19 15:18] phit commented on #1868
This should be fixed in the latest 1.12.2 versions!

[2018-04-19 15:59] gabizou commented on #2108
No sponge's fault, just making it aware for a mod developer to fix. Just not clear as to which mod is passing nulls.

[2018-04-19 15:59] #2108 closed, assigned to nobody

[2018-04-19 16:26] Zidane commented on #1671
https://github.com/SpongePowered/SpongeForge/commit/1bdfe64539910c5597cbf052907e07b3cdd16fb7

[2018-04-19 16:26] #1671 closed, assigned to nobody

[2018-04-19 16:26] #1154 closed, assigned to nobody

[2018-04-19 16:37] #1802 closed, assigned to nobody

[2018-04-19 16:48] Zidane commented on #1757
I'm labeling this as a won't fix.

Our code is what this should be, ChunkGenerators are meant to be INSTANCES, not shared. RFToolsDim is literally sharing the object for some stupid damn reason and willy nilly changing the world ref solely for this "upside down" world concept.

Could I remove the exception? Yes I could but all that does is put back in the boilerplate that already exists in his mod

[2018-04-19 16:48] #1757 closed, assigned to nobody

[2018-04-19 16:50] phit commented on #2041
no reply and other issue was closed

[2018-04-19 16:50] #2041 closed, assigned to nobody

[2018-04-19 16:57] Zidane commented on #1444
This is being labelled as a won't fix.

Forge has a DimensionManager, the mod kindly uses it here:

https://github.com/lumien231/Simple-Dimensions/blob/master/src/main/java/lumien/simpledimensions/dimensions/DimensionHandler.java#L194

Then turns around and side-steps the Forge DimensionManager here:

https://github.com/lumien231/Simple-Dimensions/blob/master/src/main/java/lumien/simpledimensions/

[2018-04-19 16:57] #1444 closed, assigned to nobody

[2018-04-19 17:07] #1815 closed, assigned to nobody

[2018-04-19 17:10] #2049 closed, assigned to nobody

[2018-04-19 17:16] Zidane commented on #1987
Closing this until we get feedback it happens again.

[2018-04-19 17:16] #1987 closed, assigned to nobody

[2018-04-19 17:21] Zidane commented on #1810
[code]

Signature literally requires it to be an EntityItem and that is being called in SpongeForge.

[2018-04-19 17:22] Zidane commented on #1878
@Raycoms

Can you retest against our latest SpongeForge builds?

[2018-04-19 17:24] Raycoms commented on #1878
Can do =)

2018-04-19 18:22 GMT+01:00 Chris Sanders <notifications@github.com>:

[2018-04-19 17:27] Thutmose commented on #1810
When I get home, I will look into what forge does then, as forge sends an itemtossevent in this case, I suspect it is making a toss event for the conventional itemstack, then making the new entity and actually tossing that

[2018-04-19 17:31] Zidane commented on #1882
@Rasgnarok

Thinking more on this, I think Nucleus is at fault here. I use the foldername and synchronize it back to the NBT name when loading a World and migrating one via the built in WorldMigrator (that moves worlds on the root inside your world folder).

[2018-04-19 17:31] #1882 closed, assigned to Zidane

[2018-04-19 20:22] phit commented on #1265
fixed in 7.1.0-BETA-3037

[2018-04-19 20:22] #1265 closed, assigned to nobody

[2018-04-19 21:16] Thutmose commented on #1810
So, it seems that forge converts the itemstack from an item to an custom entity at the point when it is added to the world, so during all of the cases where ItemTossEvent is used, it is still an itemstack.

https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/common/ForgeInternalHandler.java#L51-L64

[2018-04-19 21:29] Thutmose commented on #1810
I can confirm that this bug still occurs with spongeforge 1.12.2-2655-7.1.0-BETA-3037

Where do you intercept the dropping of the item? is it before or after it is added to the world?

[2018-04-19 21:33] gabizou commented on #1810
Sponge intercepts item drops from various places, but always before the entity item is created, and when the item entity is spawned (usually captured for later spawning with proper bulk events). This issue *might* be resolved once I do [finish ~~rewriting~~ the drop capture management](https://github.com/SpongePowered/SpongeCommon/compare/stable-7...refactor/entity-drop-compatibility).

[2018-04-19 21:45] Thutmose commented on #1810
I am also working on making a tiny test mod for this case, it will add a single item that when dropped, spawns a chicken.

hopefully it will help with narrowing things down.

[2018-04-19 21:55] Thutmose commented on #1810
[eggtoss.zip](https://github.com/SpongePowered/SpongeForge/files/1929894/eggtoss.zip)
the zip contains the obfuscated, deobfuscated and sources for the mod

Here is a mod that displays the current bug, it adds a single item which can be found in the "tools" creative tab.

Without spongeforge, dropping this item spawns a chicken at the player's location.

With spongeforge, dropping the item does no

[2018-04-19 22:10] phit commented on #1698
closing in favor of #2109 as it has a more up-to-date stacktrace

[2018-04-19 22:10] #1698 closed, assigned to nobody

[2018-04-19 22:11] phit commented on #1958
closing in favor of #2109 as it has a more up-to-date stacktrace

[2018-04-19 22:11] #1958 closed, assigned to nobody

[2018-04-19 22:23] Zidane commented on #2069
You may have fishies again as of that commit.

[2018-04-19 22:23] #2069 closed, assigned to nobody

[2018-04-19 22:25] gabizou commented on #1458
Mental note to myself: During the refactor of drops, the block events need to be payed attention to throw the correct event, only when the block is actually broken, this will mean that drops have to occur based on the block position so that the event for the related block is not thrown.

This means that we absolutely HAVE to capture based on block position for entity drops.

[2018-04-19 22:35] gabizou commented on #1810
@Thutmose thanks for the update, I think I stumbled on the root of the issue, Forge handles creating the custom entity through an internal Forge listener (which makes sense why it may not be working now). I'll update the issue as I progress with the refactoring).

[2018-04-20 01:13] Rasgnarok commented on #1882
Alright, I'll foward this to dual, thanks!

[2018-04-20 02:04] Kitsune30 commented on #2069
Woo! Thank you!

[2018-04-20 05:00] P3rf3ctXZer0 commented on #1444
@Zidane I am not using sponge forge. Also I do use the forge dimension loader so saying won't fix to my report is the same as leaving this mod broken.

[2018-04-21 17:06] phit commented on #2083
latest will now attempt to tell you which mod is responsible, in the case of modern skyblock 3 it appears to be inventorygenerators

https://github.com/SpongePowered/SpongeForge/commit/26174b43d359df44b30a878949cedc1fd72bdf20

[2018-04-21 17:06] #2083 closed, assigned to nobody

[2018-04-21 18:10] Lorrainrm opened #2112 "CustomNPCs EntityTrackerEntry crash"
Java8
spongeforge-1.12.2-2611-7.1.0-BETA-2990
Pixelmon reforged and stuff

Got my latest.log 2.6gb of info.

https://pastebin.com/HwcRX5U3

I'm assuming its all about this example i sent ^

[2018-04-21 18:23] XakepSDK commented on #2112
1. Mod list
2. Plugin list
3. How to reproduce.

Issue guidline(template when you create issue) made not as joke, follow it.

[2018-04-21 18:39] Lorrainrm commented on #2112
zpixelmonplaceholders-1.3.1
xPPokedex-0.7-MC1.12.2-F2611-S7.1.0
worldedit-sponge-6.1.9-SNAPSHOT-dist
WonderTrade-1.12.2-4.5.2-universal
VoxelSniper-8.5.0-SNAPSHOT
VirtualChest-1.0.0-alpha
VariedCommodities_1.12.2(06nov17)
UniversalMarket-1.12.2-v1.2.1
UltimateChat-1.8.6-b156-Universal
TrainerCommands-1.12-2.3.1-universal
TradeLogger-1.0.0
Tournaments-1.12.2-2.3.1
TickProfiler-1.12-0.0.4
TabManager

[2018-04-21 19:54] evilscoop-games opened #2113 "Possible LivingDropsEvent issue again -Gravestone mod is now not creating graves"
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3044.jar
- Forge version: forge-1.12.2-14.23.3.2655-universal.jar

Not listing all the mods as only change was sponge and forge update, but dev of gravestone said to drop a note here, so as reported on
https://minecraft.curseforge.com/projects/gravestone-mod?comment=216

Gravestone are not being created on player death, nor is any note give

[2018-04-21 21:30] BrainStone opened #2114 "java.lang.UnsupportedOperationException: A method was invoked on a dummy class, due to the static field ALL not being initialized (most likely in a CatalogType-related class)."
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3047
- Forge version: 1.12.2-14.23.3.2655-universal
- Java version: 1.8.0_161
- Operating System: Windows 10

**Issue Description**

When calling
[code]
the following exception is thrown.

Stacktrace:
https://gist.github.com/BrainStone/5370ab478a1fbc78a9fe05f949735973
Full log:
https://gist.github.com/BrainStone/5178e2757c75

[2018-04-21 21:31] Zidane commented on #2114
I literally just pushed a common commit that fixes that.

[2018-04-21 21:31] #2114 closed, assigned to nobody

[2018-04-21 21:32] Zidane commented on #2114
SpongeForge build incoming shortly.

[2018-04-21 21:32] Zidane commented on #2106
Resolved in latest builds.

[2018-04-21 21:32] #2106 closed, assigned to nobody

[2018-04-21 21:32] BrainStone commented on #2114
Great. Looks like you were a tad faster :P

But thanks for the quick fix. The build should be out in like 5 minutes-ish, right?

[2018-04-21 22:03] BrainStone commented on #2114
@Zidane I've just noticed this issue is persiting on the version you mentioned. In fact I was using that exact version

[2018-04-21 22:04] BrainStone commented on #2114
If appropriate, I'll move this report to SC.

[2018-04-22 00:12] BrainStone commented on #2114
This bug seems to be present in all versions ranging back to at least `1.12.2-2655-7.1.0-BETA-3024`.

Also notable that all versions log this:

[code]

[2018-04-22 00:15] Zidane commented on #1047
@Aaron1011

Issues for 1.10.2 are closed as we don't support 1.10.2 anymore.

[2018-04-22 00:15] #1047 closed, assigned to nobody

[2018-04-22 00:15] BrainStone commented on #2114
It appears like that this commit caused the issues, as it was working before, but not after.
https://github.com/SpongePowered/SpongeAPI/commit/bec74cdcf86657f0f4cd67285dd580b0be016922

[2018-04-22 00:33] #1463 closed, assigned to nobody

[2018-04-22 00:37] LemADEC commented on #1463
BCL says its SpongeForge issue. SpongeForge is closed. Where's the fix?

[2018-04-22 00:38] phit commented on #1718
looks like this was figured out a long time ago https://github.com/NucleusPowered/Nucleus/issues/906#issuecomment-328144453

[2018-04-22 00:38] #1718 closed, assigned to Zidane

[2018-04-22 00:41] phit commented on #1778
~move to sc

[2018-04-22 00:41] #1778 closed, assigned to nobody

[2018-04-22 00:41] limbo-app commented on #1778
Hey @Dockter! I've moved your issue to [SpongePowered/SpongeCommon#1885](https://github.com/SpongePowered/SpongeCommon/issues/1885).

[2018-04-22 00:50] phit commented on #1463
I talked to the author of BCL, this is a nonissue. Quote:

[2018-04-22 01:19] phit commented on #2090
https://github.com/BuiltBrokenModding/ICBM-Classic/commit/63d52dc976bfa6536e566020919a06c48ca8865d

[2018-04-22 01:19] #2090 closed, assigned to nobody

[2018-04-22 02:08] #2017 closed, assigned to Aaron1011

[2018-04-22 02:11] #2113 closed, assigned to Zidane

[2018-04-22 02:43] Aaron1011 commented on #2039
I've reproduced this on the latest SpongeForge. I'm taking a look at it now.

[2018-04-22 02:53] DarkGuardsman commented on #2090
Completely forgot about this ticket; good to see someone keeping up with tickets.

As a note, BuiltBrokenModding/ICBM-Classic@63d52dc didn't actually fix the problem but prevents error when thread fails. The actual issue was EntityExplosion being initialized with a tick (entity exists) value greater than 1. Which causes pre-init explosive calls to never run nor threads to start. A simple issue but

[2018-04-22 03:20] Zidane commented on #2061
Tested on latest SpongeForge and I kept my bauble with setting that to keep inventory to true via the death event.

[2018-04-22 03:20] #2061 closed, assigned to nobody

[2018-04-22 04:18] Aaron1011 commented on #2039
The root issue appears to be our `MixinIProperty`. Mixin appears to be merging the generic signatures for `BlockTrait` and `IProperty` in an odd way, which is confusing Kotlin's reflection system.

I'll investigate more tomorrow.

[2018-04-22 14:52] Aaron1011 commented on #2039
It turns that our `MixinIProperty` is causing Mixin to change the generic signature of `IProperty` from `IProperty<T>` to `IProperty<T, U>`. This is confusing the Kotlin reflection API, which doesn't expect this kind of generic signature change to occur.

I've opened an issue on the Mixin repository to address this: https://github.com/SpongePowered/Mixin/issues/254

[2018-04-22 14:56] phit commented on #2039
see also https://github.com/SpongePowered/SpongeCommon/issues/1845#issuecomment-383316109
for more kotlin fun

[2018-04-22 15:04] XakepSDK opened #2115 "NetworkManager.closeChannel possible deadlock?"
Yourkit profiling:
[code]
[code]
https://puu.sh/A8kZp/25e84a6a40.png

Forge 2611 SpongeForge 2990

[2018-04-22 15:07] XakepSDK commented on #2115
Something with player disconnect
[forge-1.12.2-14.23.2.2611-universal-2018-04-22.zip](https://github.com/SpongePowered/SpongeForge/files/1935728/forge-1.12.2-14.23.2.2611-universal-2018-04-22.zip)

[2018-04-22 15:10] Aaron1011 commented on #1960
I can't seem to reproduce this.

[2018-04-22 15:25] XakepSDK commented on #2115
All netty threads are in blocked state. Something with entity spawning.
[forge-1.12.2-14.23.2.2611-universal-2018-04-22-1.zip](https://github.com/SpongePowered/SpongeForge/files/1935750/forge-1.12.2-14.23.2.2611-universal-2018-04-22-1.zip)

[2018-04-22 15:29] #1960 closed, assigned to nobody

[2018-04-22 15:39] XakepSDK commented on #2115
Another one snapshot with same hang like first snap.
[forge-1.12.2-14.23.2.2611-universal-2018-04-22-2.zip](https://github.com/SpongePowered/SpongeForge/files/1935767/forge-1.12.2-14.23.2.2611-universal-2018-04-22-2.zip)

[2018-04-22 15:47] Aaron1011 commented on #2001
This is a problem with how AstralSorcery's class transformer works. I've opened an issue on the project: https://github.com/HellFirePvP/AstralSorcery/issues/644

[2018-04-22 15:52] Aaron1011 commented on #2092
For reference, here's the class for the relevant item: https://github.com/Morpheus1101/Avaritia/blob/master/src/main/java/morph/avaritia/item/tools/ItemSwordInfinity.java

[2018-04-22 17:01] gabizou commented on #2092
To be honest, directly performing death things isn't really supported by sponge very well (noticing it during my refactoring for #2110). My gut feeling is to tell Avaritia to simply do their own void damage absolute damage for the maximum health of the player (since that will perform relatively the same effect than what they're currently doing). AND it will support the likelyhood that the event is

[2018-04-22 17:58] phit commented on #2001
https://github.com/HellFirePvP/AstralSorcery/commit/7a0e16406690b136df04407f2055cccaea60127f

[2018-04-22 17:58] #2001 closed, assigned to nobody

[2018-04-22 19:05] BrainStone opened #2116 ""Phase incompatibility detected! Attempting to switch to an invalid phase!" when closing an inventory during clicking on an item"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3051
- Forge version: 14.23.3.2655
- Java version: 1.8.0_161
- Operating System: Windows 10

- Plugins/Mods: Custom plugins and HuskyUI-v0.6.0PRE1

**Issue Description**

When closing an inventory when an item is being clicked, the error below occurs.
From my testing this only happens on SF, not SV. All recent older versions

[2018-04-22 19:42] Silver-Wulf opened #2117 "Way too much critical damage on SpongeForge"
**I am currently running**

- SpongeForge version: 1.12.2 2655 7.1.0 BETA 3047
- Forge version: 14.23.3.2655
- Java version: 1.8.0_144-b01
- Operating System: Windows 10 (also tried Ubuntu 14.04)

- Plugins/Mods:
No plugins
Only TheOneProbe installed as a mod to view damage

**Issue Description**
Critical hits with a diamond sword (or any sword) do way too much damage. I can deal 17-18 damage to c

[2018-04-22 19:43] Silver-Wulf commented on #2117
I would like to clarify that critical hits deal normal damage usually under half of what Im experiencing above when Sponge is removed.

[2018-04-22 20:11] avescarelo opened #2118 "Bug with Quark and AstralSorcery"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3041
- Forge version: 14.23.3.2655
- Java version: 1.8.0_72-b15
- Operating System: Windows/Linux

- Plugins/Mods:

Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, ActiveTime, EconomyLite, GriefPrevention, LuckPerms, Nucleus, Soulbound, TimeWarp, UltimateChat

Mods (35): Minecraft, Minecraft Coder Pack

[2018-04-22 21:01] parlough commented on #2117
Thank you for reporting this, I am surprised we never noticed this, oops. Closed by bc381759c5467d6da477b524cc6f1d3541cc6aea

Should deal 10.5(150%) instead of 17.5(250%).

[2018-04-22 21:01] #2117 closed, assigned to nobody

[2018-04-22 23:30] phit commented on #1748
![2018-04-23_01 29 59](https://user-images.githubusercontent.com/2097483/39101145-dfe5270c-4695-11e8-9e66-7c6733e3764b.png)

[2018-04-22 23:30] #1748 closed, assigned to gabizou

[2018-04-22 23:32] phit commented on #1979
seems to be fixed in latest 1.12 with industrialcraft-2-2.8.75-ex112.jar

[2018-04-22 23:32] #1979 closed, assigned to nobody

[2018-04-23 08:20] ryantheleach commented on #2116
Probably a duplicate of: https://github.com/SpongePowered/SpongeCommon/issues/1865

PR in progress: https://github.com/SpongePowered/SpongeCommon/pull/1869

[2018-04-23 08:20] #2116 closed, assigned to nobody

[2018-04-23 13:59] Aaron1011 commented on #1810
@gabizou: We took over how Forge handles custom item entities in commit https://github.com/SpongePowered/SpongeForge/commit/ff5615eb4b442c95b8a01187305a2710dd52a982#diff-fd74c12711b592b4abd8fd1f7d34f37a. However, that was several years ago, and Forge's behavior may have changed since then.

[2018-04-23 15:02] gabizou commented on #1810
Yes, I've already started writing the implementation to support custom item entities. It'll show up in #2110 as soon as I've completed that rewrite.

[2018-04-23 17:52] Zidane commented on #1398
Closing this as we now have a project open to handle the Drops Refactor

https://github.com/orgs/SpongePowered/projects/12

[2018-04-23 17:52] #1398 closed, assigned to gabizou

[2018-04-23 20:47] Aaron1011 commented on #2118
This is going to be somewhat tricky to resolve.

Quark handles its custom NoteBlock gui by calling `openGui` in an `PlayerInteractEvent.RightClickBlock` event handler, and then [cancelling the event](https://github.com/Vazkii/Quark/blob/a0dbd0c69ae00bca778487ac36982fa17480e02c/src/main/java/vazkii/quark/misc/feature/NoteBlockInterface.java#L33). The GUI is purely client-side, so the call to `openG

[2018-04-23 20:51] ProsperCraft opened #2119 "CME when setting MaximumChunksPerTicket to 0"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3052.jar
- Forge version: 2655
- Java version: openjdk version "1.8.0_161"
- Operating System: Centos 7 minimal install.

- Plugins/Mods:Plugins (21): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BetterChunkLoader, EconomyLite, LuckPerms, MMCReboot, MMCRestrict, MagiBridge, Nations, Nucleus, PayDay, P

[2018-04-23 21:04] phit commented on #2119
please test this without Sponge

[2018-04-23 21:13] ProsperCraft commented on #2119
No crash without sponge.

[2018-04-23 22:02] Aaron1011 commented on #2104
@gabizou: This issue is due to the fact that `TileEntityTickPhaseState` [doesn't check `getBlockDropSupplier` in its `unwind` method](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/tracking/phase/tick/TileEntityTickPhaseState.java#L79). There doesn't appear to be a snapshot readily available to use with `TrackingUtil.spawnItemDataForBlockDr

[2018-04-24 07:02] gabizou commented on #2118
I believe that is a safe solution to implement @Aaron1011, I'll agree to that.

[2018-04-24 07:14] gabizou commented on #1810
@Thutmose I've gotten [some centralization of code](https://github.com/SpongePowered/SpongeCommon/commit/fc3df57d81f0d8616f8811e43bdbfa3b622c7179#diff-88b8beb17c23098a0b640f4891177c72R509) to handle entity spawns and when they are items, to check for their custom entities to spawn (this is wrapped around in our "common" codebase to allow us to target vanilla, while still [overwriting as necessary

[2018-04-24 11:26] XakepSDK commented on #2115
https://puu.sh/A9zWT/5d5da82fbb.png
Meh, i forgot to turn on monitor recording...

[2018-04-24 14:57] Thutmose commented on #1810
Hopefully it goes well, the test mod was the simplest case for displaying this particular bug, once it is solved, I can probably start looking for other bugs between pokecube and spongeforge, this was the last one I was made aware of, if I find more, I will either try to fix on my end, or will see about making more simple test mods that display the behaviour

[2018-04-24 15:01] maddyn99 opened #2120 "Crash from village/villager issue"
**I am currently running**

- Forge version:
        spongeforge-1.12.2-2655-7.1.0-BETA-0.jar (hotfix/test build?)
        forge-1.12.2-14.23.3.2655-universal.jar
	Minecraft Version: 1.12.2
	Operating System: Linux (amd64) version 4.9.87-xxxx-std-ipv6-64
	Java Version: 1.8.0_161, Oracle Corporation
	Java VM Version: OpenJDK 64-Bit Server VM (mixed mode), Oracle Corporation
        Linux aka Centos

[2018-04-24 15:29] Aaron1011 commented on #2120
@maddyn99: Can you please upload all relevant log files?

[2018-04-24 15:49] phit commented on #2120
@Aaron1011 I edited their issue, they had an open `<!--` comment tag before the log links, so they didnt show up

[2018-04-24 17:37] #2118 closed, assigned to nobody

[2018-04-24 18:05] Aaron1011 commented on #2119
@ProsperCraft: Do you have any idea which mods might be related to this? That modpack has 182 mods, which makes it somewhat difficult to test.

[2018-04-25 02:21] IronworksProductions opened #2121 "Invalid id 4096 - maximum id range exceeded."
**I am currently running**

- SpongeForge version: beta 3058
- Forge version: forge-1.12.2-14.23.3.2655
- Java version: 1.8
- Operating System: ubuntu

- Plugins/Mods:ET Lunar [Environmental Tech Addon] (by ValkyrieofNight)
Baubles (by azanor)
Controlling (by jaredlll08)
Integrated Tunnels (by kroeser)
Tinkers Construct (by mDiyo)
[SBM] Wooden Shears (by darkguardsman)
Quick Leaf Decay (by lumien2

[2018-04-25 02:31] Zidane commented on #2121
How is hitting the block id limit a SpongeForge issue when we don't add blocks nor affect how blocks are registered?

[2018-04-25 02:31] #2121 closed, assigned to nobody

[2018-04-25 05:09] Blayyke opened #2122 "[1.12.2] Crash on startup"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3059
- Forge version: forge-1.12.2-14.23.3.2655
- Java version: 1.8
- Operating System: Actually not sure. This happened on one of akliz's server that a friend owns.

- Plugins/Mods:
None but sponge

**Issue Description**
Error on start that crashes the server. Doesn't require me to do anything but try starting s

[2018-04-25 05:12] gabizou commented on #2122
Can you toggle `cause-tracker.generate-stacktrace-per-phase = true` in your global config and re-paste? It should have more information about the stack as to why the command state isn't completing. Also, is this the full log or only partial?

[2018-04-25 19:19] Zidane commented on #2095
Closing this as @Aaron1011 's fix fixes the original issue with a PR to rightfully add per-side Scheduler support later.

[2018-04-25 19:19] #2095 closed, assigned to nobody

[2018-04-25 19:20] Zidane commented on #2105
Closing as we bump Forge every so often anyways, don't need a ticket on this....

[2018-04-25 19:20] #2105 closed, assigned to nobody

[2018-04-25 20:12] Blayyke commented on #2122
The server managed to start and hasn't had this issue since, if I get it again I'll report the crash log. This was the full error part of the log.

[2018-04-25 21:15] Lorrainrm commented on #2112
Just happened again. Ill paste all the info i could find in the console:

fml-junk-earlystartup < 2.6gb
https://pastebin.com/NWeKUfTN

[2018-04-25 21:15] Lorrainrm commented on #2112
Sorry, no idea what trigges this :(

[2018-04-26 01:35] Dockter commented on #2121
This modpack must take 15 minutes to load....

[2018-04-26 02:42] Lorrainrm commented on #2112
Ok, seems like i got more info when it started:

https://pastebin.com/XfkrrDLn

[2018-04-26 03:53] Zidane commented on #2112
Looks like Pixelmon keeps looping through savePlayer, almost like an infinite loop.

Go talk to them and show them this log. Not a Sponge issue.

[2018-04-26 19:19] avescarelo opened #2123 "Some console spam"
**I am currently running**

- SpongeForge version: 3028
- Forge version: 2655
- Java version: 8
- Operating System: Windows/Linux

- Plugins/Mods:

Plugins (5): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, TimeWarp

Mods (33): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AbyssalCraft, Animania, Antique Atlas, AppleCore, Astral Sorcery, Aut

[2018-04-26 19:20] phit commented on #2123
https://gist.github.com/phit/b2c387b3070c410de88fb6e9333704bf

[2018-04-27 00:43] Sir-Will opened #2124 "Auto Save Lag Spikes"
Is there anything which can be done in sponge to prevent this lag spike from happening?
(1551 loaded chunks)
[code]
spongeforge-1.12.2-2611-7.1.0-BETA-3019
forge-1.12.2-14.23.2.2631

[2018-04-27 13:08] Aaron1011 commented on #2124
@Sir-Will: Is 'threadlock' a mod?

[2018-04-27 18:01] Sir-Will commented on #2124
No sponge plugin.

[2018-04-27 22:09] ProsperCraft commented on #2071
Server crashes when not pre-generating chunks, just under normal play.

https://gist.github.com/ProsperCraft/61218e45c344b73fc0829b0684a86583

https://gist.github.com/ProsperCraft/fc6bb719304eb85784c9de48a8ac3a01

[2018-04-27 23:22] Blayyke opened #2125 "Crashed on startup"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3064
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: JRE 1.8.0_171 64bit
- Operating System: Windows 10 Home 64Bit

- Plugins/Mods:
PLUGINS:
-Boop-1.6.0
-CatClearLag-0.8.3
-CommandSigns-7.0.0-2.0-SNAPSHOT
-EconomyLite-7.0.0-2.13.0
-foxcore-sponge-0.11.0-246-server
-foxguard-sponge-0.21.0-405-

[2018-04-28 12:04] #2122 closed, assigned to nobody

[2018-04-28 15:42] Blayyke opened #2126 "Startup crash with Dynamic Surroundings"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3064
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 1.8.0_171
- Operating System: Win10 64bit Home

- Plugins/Mods:
MODS: https://i.imgur.com/VxiuX88.png
Plugins: https://i.imgur.com/YTGAteu.png

**Issue Description**
Server crashed on startup with Dynamic Surroundings installed. Dev mention

[2018-04-28 16:08] Lorrainrm commented on #2112
It's a bit different now:
https://pastebin.com/cSNrdPZj

[2018-04-28 18:34] Lorrainrm commented on #2112
Another one but didnt give a loop
https://pastebin.com/tp3qdCdi

[2018-04-28 18:35] Aaron1011 commented on #2112
@Lorrainrm: Can you upload your full server log?

[2018-04-28 18:51] Lorrainrm commented on #2112
Ok, more infos:
After 2 hours and 30 min online ~~ (depending on the amount of players online, more players, means this issue starts earlier), the server tps drops to 0 for few seconds, then few seconds goes back to 20 for few seconds then 0, then 20 until i restart. Usually players has some problems within this window of 0~20 tps. Loose items, loose pokemons, some dupe happens, etc.

latest.log:

[2018-04-28 19:46] Aaron1011 commented on #2112
@Lorrainrm: Can you upload your `fml-server-latest.log` (or the `fml-server` log from the most recent server run that had the exception)?

[2018-04-28 19:56] phit commented on #2112
@Aaron1011 those files are no longer a thing, theres only latest.log and debug.log
you want debug.log

see https://github.com/mezz/MinecraftForge/commit/65284c5541eebec6f2e019faa141a31ade36a211#diff-b6de2700983073cf649bb620766ffce7

[2018-04-28 22:44] gabizou commented on #2126
This sounds like a world is not a legitimate world with a proper provider, [because this area is throwing the null pointer](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/world/MixinWorld.java#L116-L118).

The problem is I'm not sure whether @OreCruncher is doing anything special with this world, or whether the world is considered as handl

[2018-04-28 22:55] OreCruncher commented on #2126
I'm not doing anything special with the world.  All my code is trying to do is get a hold of the world info data when processing the Forge world load event.  And I agree - it is strange there is no world info object.

[2018-04-28 23:02] gabizou commented on #2126
@Blayyke do you have a full log? There already seems to be some debugging information that should've been printed to that log before the crash.

[2018-04-28 23:06] Blayyke commented on #2126
[crash-2018-04-28_10.42.27-server.txt](https://github.com/SpongePowered/SpongeForge/files/1958265/crash-2018-04-28_10.42.27-server.txt)
This is the entire crash log. Edit: Misread what you asked.

[2018-04-28 23:21] gabizou commented on #2126
No, I need the full server log, the crashlog only contains the crash, but there should be some more errors printed to the log before the crash.

[2018-04-29 00:01] Blayyke commented on #2126
No longer have the log. Re-added it and going to see if it happens again, will report back if it does.

[2018-04-29 14:55] Lorrainrm commented on #2112
This is my latest Debug
[debug-1.log.gz](https://github.com/SpongePowered/SpongeForge/files/1958839/debug-1.log.gz)

[2018-04-30 01:45] SnowBlitzz commented on #1946
Guess it's still happening. I've provided a crash log on that other ticket that was referenced in case you guys need more data or something.

My world is pre-generated so it's making less sense that the generation of the structure is crashing the server.

[2018-05-01 13:20] Rutes opened #2127 "Exception ticking world - Server crash on village generation"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3064
- Forge version: 2655
- Java version: 1.8.0_162
- Operating System: xubuntu 16.04

- Plugins/Mods:
 Plugins (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, GriefPrevention, JdaLibraryLoader, LangSwitch, LuckPerms, MMCRestrict, Nucleus, ProjectCore, ProjectPortals, ServerListPlus,

[2018-05-01 15:22] Lorrainrm commented on #2112
Console log:
https://pastebin.com/9b30pUTs

Last lines from latest.log
https://pastebin.com/6u1X3HDJ

Crash reports from latest to earlier:
https://pastebin.com/kQpsiZme
---
https://pastebin.com/91bxr59s
---
https://pastebin.com/kXenXYDB
---

[2018-05-01 16:12] fhntv24 commented on #2097
It should happen with Forge without sponge too - they just didn't save nbt at all, and then loaded empty cached nbt. It was fixed in 2497, and another bug that could rewrite entity nbt ( and so [un]dupe items ) in 2587.

But this is still an issue with forge 2655, and latest 7.1 spongeforge.
It's pretty easy to reproduce:
1. disable dormantChunkCacheSize
2. Place some blocks with nbt ( it doesn't

[2018-05-01 18:34] Lorrainrm commented on #2112
Didnt crashed this time but got this error once:
https://pastebin.com/GPXUXf4J

[2018-05-01 18:53] Lorrainrm commented on #2112
Got this right in time before/while crashing:
Console:
https://pastebin.com/k7sibjtU
Crash report:
https://pastebin.com/wb3MGhkK

[2018-05-01 22:45] Aaron1011 commented on #2112
@Lorrainrm: The crash log is due to the [Custom NPCs](http://www.kodevelopment.nl/minecraft/customnpcs) mod not properly registering its entities with Forge's EntityRegistry.

[2018-05-01 23:35] Lorrainrm commented on #2112
Ok, already sent noppes the crash logs, let's see what he'll do. I'll update here with his infos, if thats ok.

Peace

[2018-05-02 12:54] Noppes commented on #2112
@Aaron1011 Hi, nope. My npc entity is registered the normal way and works just fine. I mean its the entity my whole mod resolves around and it goes well for hours for most until at some point usually when a player logs in, it can not resolve the entity.

My conclusion here is that it isnt my fault. I have no found a way to properly reproduce the error either.

[2018-05-02 16:08] bs2609 commented on #2097
SpongeForge calls that method via its own mixins, it just does so incorrectly:
https://github.com/SpongePowered/SpongeForge/blob/ffa6cae5ed9fadfe0dbc1993ce123dc8f68ae758/src/main/java/org/spongepowered/mod/mixin/core/world/gen/MixinChunkProviderServer.java#L53-L57

The call to `putDormantChunk` is too late from that location - it should be relocated to match https://github.com/MinecraftForge/Minec

[2018-05-03 09:47] Tollainmear opened #2128 "[1.12.2]Crash on starting up"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3064
- Forge version: 14.23.3.2655
- Java version: 8
- Operating System: Windows Server Datacenter

- Plugins/Mods: [Open on gist if needed](https://gist.github.com/Tollainmear/62ff02881ba3ac96951dfe1334ae8335)

**Issue Description**
Hi, dear sponge developers, it's unpleasant that a crash has happened on my server, and afte

[2018-05-03 18:32] phit commented on #2128
looks like your world corrupted, make sure you have [`deny-chunk-request=false`](https://github.com/SpongePowered/SpongeForge/issues/2003) in your config/sponge/global.conf and have [dormant chunk cache disabled](https://github.com/MinecraftForge/MinecraftForge/issues/3325)

then roll back to your last working backup

[2018-05-03 18:32] #2128 closed, assigned to nobody

[2018-05-04 21:17] Rutes commented on #2127
pre-generating the world prevents the crash

[2018-05-05 02:04] JoeSGT opened #2129 "Performance issue from Unload/load chunks"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3060
- Forge version:  14.23.3.2655
- Java version: 8
- Operating System: Ubuntu 16.06

- Plugins/Mods:
 Plugins (32): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, ActiveTime, Aliases, Auction, AurionsVoteListener, AutoBroadcaster, Buycraft, CatClearLag, ClaimTweaks, CrazyFeetSponge, EconomyLite, ElytraTrails, Gr

[2018-05-05 10:49] avescarelo opened #2130 "Unable to respawn when AbyssalCraft is installed"
**I am currently running**

- SpongeForge version: 3064
- Forge version: 14.23.3.2655
- Java version: 1.8.0_72-b15
- Operating System: Windows/Linux

- Plugins/Mods:

Mods (32): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AbyssalCraft, Animania, Antique Atlas, AppleCore, Astral Sorcery, AutoRegLib, Baubles, BiblioCraft, Botania, Botaunomy, CraftStudi

[2018-05-05 13:55] sheng-ri opened #2131 "Crashed on startup"
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 1.12.2-14.23.3.2655
- Java version: 8-64
- Operating System: Windows 10(My computer) - Linx(Server)

- Plugins/Mods: only a Sponge

[code]

[2018-05-05 18:11] JBYoshi commented on #2130
My analysis:

When a player dies, Minecraft creates a new `EntityPlayerMP` object for them. If the player's bed is not obstructed, it will then copy the spawn point over to the new player object (and Forge fires a `PlayerSetSpawnEvent` in the process). It does not copy the spawn point, or fire the event, if the bed is obstructed, even though the spawn point is technically being changed to `null`.

[2018-05-05 18:14] Lemmmy commented on #2129
Try downgrading to SpongeForge 3059 and see if it persists - this solved the performance issues on my server (see https://github.com/SpongePowered/SpongeCommon/issues/1896)

[2018-05-05 18:15] phit commented on #2130
see also https://github.com/SpongePowered/SpongeCommon/pull/1601

IMO we should restore Forge functionality, relying on mods to patch their code for changes we introduced is unrealistic for things like this.

[2018-05-05 18:27] JBYoshi commented on #2127
I don't think it's specifically part of village generation. The "church" is the [stone tower](https://minecraft.gamepedia.com/File:Villagechurch.png) generated in some villages.

It appears to be something related to villager professions/careers that are placed during village generation. Are there any mods you have that add professions or careers to villagers?

[2018-05-05 18:30] JBYoshi commented on #2127
Appears to be related to #2120.

[2018-05-05 18:40] JoeSGT commented on #2129
I just tried  SpongeForge 3059 and it does not fix the issue but thanks you

[2018-05-05 19:14] Rutes commented on #2127
which part indicates the villager professions/careers? sorry I'm pretty new to troubleshooting crash logs. Is it net.minecraft.entity.passive.EntityVillager.func_175554_cu(EntityVillager.java:2268)?

[2018-05-05 20:03] JBYoshi commented on #2127
Yep. One way to analyze stack traces (without installing any extra programs) is by searching for bits of the stack trace in the [MCP mappings](http://www.modcoderpack.com) - download the bundle for the proper version of Minecraft and search the `conf/methods.csv` file for the bits of text starting with `func_`. In this case, `func_175554_cu` is listed as `populateBuyingList`. Typically, you only n

[2018-05-05 21:22] IronworksProductions opened #2132 "[1.12]Can't get into server"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3058
- Forge version: 1.12.2
- Java version: 1.8
- Operating System:Ubuntu

- Plugins/Mods:/dank/null, Actually Additions, Actually Baubles, Advanced Rocketry, Advanced Rocketry Core, Adventure Tools, Akashic Tome, AngelRing 2 Bauble, AppleSkin, Aroma1997's Dimensional World, Aroma1997Core, Astral Sorcery, AutoRe

[2018-05-05 21:24] phit commented on #2132
your client is probably too slow, remove some mods assign more ram etc, or try installing this https://minecraft.curseforge.com/projects/randompatches

[2018-05-05 21:24] #2132 closed, assigned to nobody

[2018-05-06 06:31] gabizou commented on #2127
I see the issue, I can "workaround" the issue by reporting it properly, but it means that sponge has not been able to validate the profession correctly because there are still awkward ways that villager careers are working with almost a lack of registrations. In either case, I understand what must be done, and then I can get the fix out soon.

In essence, [here](https://github.com/SpongePowered/Sp

[2018-05-06 09:58] Aang23 commented on #1912
Got the exact same issue here, using both the recommended build or the latest.
It's also impossible to capture Draconic Evolution's Chaos Guardian. It works without sponge.

[2018-05-06 10:26] demon57730 commented on #1912
I put the last recommended version of forge with sponge a day so it does the same thing

[2018-05-06 14:31] gabizou commented on #1912
This should be resolved once #2110 is completed and merged.

[2018-05-06 14:48] Rutes commented on #2127
awesome! so, wait, is it a mod that is altering professions/careers? or just the plain old vanilla careers?

[2018-05-06 15:29] phit commented on #2071
Just had another user report a crash with this on Discord, again with a different mod and also without using a pregenerator..

https://pastebin.com/K4mihyix

[2018-05-06 22:16] gabizou commented on #2127
It's more likely a mod career that isn't registered normally (there's currently several ways to register a career, which is the problem).

[2018-05-06 23:57] EnderGamingFilms commented on #2131
Try deleting the world and running the server again.

[2018-05-06 23:59] phit commented on #2131
`Caused by: java.lang.OutOfMemoryError: GC overhead limit exceeded`

Please make sure you are allocating enough memory, see our docs for more help https://docs.spongepowered.org/stable/en/server/getting-started/launch-script.html

[2018-05-06 23:59] #2131 closed, assigned to nobody

[2018-05-07 00:39] ACPenguin commented on #2063
im getting this as well with all versions of sponge

[2018-05-07 05:48] MineyShadow opened #2133 "Increased memory usage in unstable builds"
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3065
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 8, 64-bit 1.8.0_141
- Operating System: Linux (Shared Hosting)
- Plugins/Mods: Sponge Only

[Server has 2 GB ram, installing sponge makes it use 1.5+/2 GB RAM, without it the server uses 0.6/2 GB]
Apparently the server starts fine, does not crash as far as i know but

[2018-05-08 09:56] fhntv24 commented on #2133
SpongeForge / Forge / Plugins&Mods same as OP
Information gathered with JProfiler:
After starup server uses 1GB of memory ( After manual GC's )
After 5 minutes and calling manual GC again it dropped down to 1GB. Most of allocations are vanilla, and from entity doing it's things ( creating new ent's, AABB's for them ), and sponge creating tick events / etc. There is around 30K of objects being crea

[2018-05-08 10:59] MineyShadow commented on #2133
While my issue is not resolved, i thought maybe i could try using the older forge [forge-1.12.2-14.23.2.2611] along with its sponge [spongeforge-1.12.2-2611-7.1.0-BETA-3002] as a test. [No Mods and plugins of course]
Results:
It works fine with no issues, server uses 0.8/2 GB RAM, i can't use this old forge version however since some mods started relying on new versions.

[2018-05-08 17:15] ziceptor commented on #1991
forge-1.12.2-14.23.3.2655-universal.jar
spongeforge-1.12.2-2655-7.1.0-BETA-3065.jar

We still hope for a fix

[2018-05-08 18:31] DucPecc opened #2134 "SpongeForge/Bootrap error on Sprout Serveur"
**I am currently running**
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2790
- Java version: forge-1.10.2-12.18.3.2477-universal
- Operating System: Win10/Linux

- Plugins/Mods: Sprout Modpack

**Issue Description**
 Hello ^^ i tried to make a Sprout serveur for my Twitch Channel and host it, but i would like add some Plugins, and for this i actually need tu use SpongeBootstrap for st

[2018-05-08 18:54] phit commented on #2134
1.10 is no longer supported and as this isn't a bug on our end please use our forums for additional help
https://forums.spongepowered.org/

[2018-05-08 18:54] #2134 closed, assigned to nobody

[2018-05-08 18:56] DucPecc commented on #2134
okay thanks ^^

[2018-05-08 19:04] gabizou commented on #2134
To summarize the problem you're having:
Another coremod (not just a mod, but a coremod) is loading a class too early for Sponge to be able to transform said class. Try removing core mods one at a time and then you can report to the coremod that is loading that class (in this case `IProperty`).

[2018-05-08 23:36] gabizou commented on #1259
So, I've figured out the reason *precisely* why this is happening. I'm fixing it now in #2110 that is mostly paired with logic from SpongePowered/SpongeCommon#1882. @GenDeathrow I hadn't realized that the hatchery tile entity was just telling the chicken entity to create items (which is why sponge was not triggering the captures). This will be relatively easy to resolve now on sponge's end.

[2018-05-09 01:35] gabizou commented on #1810
Verified now that custom item drops are fully functional in all aspects throughout Sponge's drop handling and entity spawns (no room for any entity to be spawned into the world unless someone does the actual duplicate code to spawn an entity without calling the spawn entity method).

The issue will be closed once #2110 is merged.

[2018-05-09 01:37] gabizou commented on #1259
@phit I've tested locally that Hatchery is successfully capturing the resource drops from the chickens, I'm not 100% sure that it works absolutely because I had to modify some variables in local testing to make testing a little faster than waiting several minutes at a time to get some custom resource drops.

This should be closed once #2110 is merged.

[2018-05-09 03:11] gabizou commented on #1903
With other issues having been verified fixed in #2110, I'm now progressing to start working on this issue in that branch.

[2018-05-09 11:03] Blayyke commented on #2125
Haven't had it happen again and thus have been unable to get any full crash logs. If it ever happens again i'll reopen.

[2018-05-09 11:03] #2125 closed, assigned to nobody

[2018-05-09 14:26] SawFowl opened #2135 "Crash 1.12.2"
**I am currently running**
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-7d8a938
SpongeForge: 1.12.2-2655-7.1.0-BETA-3065
Minecraft Forge: 14.23.3.2655
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System: Debian 8

Mods (39): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Advanced Solar Panels, Applied Energ

[2018-05-09 14:29] phit commented on #2135
please post your `config/sponge/global.conf`

[2018-05-09 14:30] phit commented on #2133
please test this without Sponge and just the Forge version that causes these issues

[2018-05-09 14:30] SawFowl commented on #2135
config/sponge/global.conf => https://pastebin.com/uYreDZHy

[2018-05-09 14:32] phit commented on #2135
Yup there's the cause, set `deny-chunk-requests=false` (line 552).

https://github.com/SpongePowered/SpongeForge/issues/2003

[2018-05-09 14:32] #2135 closed, assigned to nobody

[2018-05-09 14:34] SawFowl commented on #2135
@phit Thank you.

[2018-05-09 16:20] MineyShadow commented on #2133
Testing without sponge is also outlined in the first comment?

[2018-05-09 16:32] phit commented on #2133
sorry, missed that short sentence

[2018-05-09 20:24] fatyg5 opened #2136 "Pixelmon leafstone tools not losing durability"
**I am currently running**

- SpongeForge version: 3064
- Forge version: 2655
- Operating System: CentOS7

- Plugins/Mods: Pixelmon, SpongeForge

**Issue Description**
SpongeForge is causing the Pixelmon leafstone tools to not take durability damage upon using them. These tools have a special property in which durability can be traded to create a bonemeal effect on a crop. However, with SpongeForg

[2018-05-10 05:37] gabizou commented on #2136
Is there any easy way to reproduce this? I'm not terribly keen on reviewing Pixelmon code directly, but seeing as distribution of Pixelmon was made illegal, I'm only guessing that some developer input may be necessary to provide a simplified bit of code to replicate the issue.

[2018-05-10 13:52] fhntv24 commented on #2133
@phit Diff. is also outlined in my comment ( with actual memory difference ).
Do you need help with searching where that HashMap's are ?
(Btw, memory usage looks like there is just tons of empty maps with default ratio. But I'm not 100% sure on this)

[2018-05-10 14:57] gabizou commented on #2133
There's thousands of usages of maps virtually everywhere in Java. Just saying that there's a bunch of them existing is equivalent to saying that there's Nitrogen in the air we breathe. Profiling for the *owners* is more important as it can potentially view into where objects are being allocated.

After I manage to get #2110 squared away I can dedicate some time to isolating some memory usages, but

[2018-05-10 15:51] FiveEYZ commented on #2105
any chance this will happen in a near future?

[2018-05-10 16:09] phit commented on #2105
whenever the newer Forge versions become recommended this becomes an option, as we do not want to break compatibility with the current recommended version

[2018-05-10 17:43] Rasgnarok commented on #2136
@Gabizou Pixelmon received a C&D to which they complied, and so the code was never illegal to begin with, nor its distribution by persons outside the core team. Currently, the forks aren't done by that team either. Had went over it with Zidane a month or two ago.

If you have more questions, feel free to drop by our discord, its something I already spoke about with a couple others in Sponge.

That

[2018-05-10 19:42] MineyShadow commented on #2133
Thought i could try memory profiling, I'm quite new to it and don't know if i did it right but. [This was tested on my own computer and apparently using sponge+forge bumps the memory usage to 2 GB+ and hovers around that point while forge without sponge of course uses 0.6 GB]
![image](https://user-images.githubusercontent.com/37338176/39890396-19659990-54b4-11e8-9352-5d9a11a15044.png)

[2018-05-11 00:07] gabizou commented on #2133
Yeah, that still doesn't tell us where the hash maps are being stored or utilized. All it tells us is that there's more hash maps.

[2018-05-11 11:10] CDAGaming opened #2137 "Forge Incompatibility 2667+"
Trying to build the stable-7 branch on Forge 14.23.3.2667 and Higher, results in a NoMethodFound for findModDirMods in MixinLoader. This is most likely due to the newer way Forge detects mods, but any chance there is a way to add support for these versions or on how I can work around it to build SpongeForge?

*Edited to Reference #2105
*Find anything @gabizou ?

[2018-05-11 13:42] #2137 closed, assigned to nobody

[2018-05-11 15:31] Sir-Will opened #2138 "Performance issue with applyArmorDamage"
Tile entities which kill mobs like Mob Grinder from Draconic Evolution or Mob Relocator from Industrial Foregoing are causing performance issues when `applyArmorDamage()` is called.

I'm not sure if this is an issue in sponge or minecraft itself.

spongeforge-1.12.2-2611-7.1.0-BETA-3019

![](https://i.imgur.com/9fqlIbW.jpg)
![](https://camo.githubusercontent.com/18a81e4f13edab61ba32e4dedc865345e52

[2018-05-11 15:31] gabizou commented on #2137
Forge recommended builds are still pointing to 2655, so usually when the build updates, we’ll update. Because this is a backwards breaking change we can’t leave important fixes still in progress (like #2110) to only the newer forge builds if they aren’t recommended.

[2018-05-11 19:10] gabizou commented on #1957
@phit so this issue is currently fixed with the branch?

[2018-05-11 19:29] RaiKave opened #2139 "Techgun not supported by Sponge."
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 14.23.3.2655
- Java version: 8

- Plugins/Mods:
Mod - Car-1.2.11, Mod - Chisel-0.2.0.31, Mod - CLib-1.0.2.31-universal, Mod - CodeChickenLib-3.1.8.341-universal, Mod - CoFHCore-4.4.1.12-universal, Mod - CTM-MC1.12-0.2.3.12, Mod - Currency-1.3.2, Mod - CustomNPCs_(20jan18), Mod - ExtremeReactors-0.4.5.48, Mod - Fexcraft Common Libr

[2018-05-11 19:52] phit commented on #1957
@gabizou what was the issue even?

[its not even an issue on the current stable anymore](https://github.com/zmaster587/AdvancedRocketry/issues/1064#issuecomment-359340402) and is only open, as ryan said, due to blood requesting it

[2018-05-11 20:21] gabizou commented on #1957
I'll keep it closed then as I couldn't thread through to find the issue relevant in my branch anymore.

[2018-05-11 20:21] #1957 closed, assigned to gabizou

[2018-05-11 20:26] gabizou commented on #2139
Closing as it's not a Sponge issue but an issue with [Techguns2 issue where they're checking instances and then casting anyways](https://github.com/pWn3d1337/Techguns2/blob/150cef027b2e61173ac2fe5cbd9f3ec162431316/src/main/java/techguns/items/armors/GenericArmor.java#L455-L469).

Even in IDE this will be flagged as a warning:
<img width="1062" alt="screen shot 2018-05-11 at 1 25 27 pm" src="https:

[2018-05-11 20:26] #2139 closed, assigned to nobody

[2018-05-11 20:30] RaiKave commented on #2139
Thanks for your fast response, if the mod is fixed in githublike you said maybe i should recompile it.

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : Gabriel Harris-Rouquette <notifications@github.com>
Envoyé : Friday, May 11, 2018 10:26:52 PM
À : SpongePowered/SpongeForge
Cc : RaiKave; Author
Objet : Re: [SpongePowered

[2018-05-11 20:31] gabizou commented on #2139
https://github.com/pWn3d1337/Techguns2/issues/38. For reference.

[2018-05-11 20:34] RaiKave commented on #2139
Thanks x) i will wait a respose from the mod author.

[2018-05-11 20:50] RaiKave commented on #2139
I have this error too i just don’t know what is it and if you can help me for that ?

[2018-05-11 20:56] gabizou commented on #2139
That's more of a networking exception. You'd need to open a new issue with a full log to get some help on that.

[2018-05-11 21:16] OneTrueVex opened #2140 "Twilight Forest advancements crash"
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 1.12.2-14.23.3.2655
- Java version: 1.8.0_51
- Operating System: Windows 10

- Plugins/Mods:

fenceoverhaul, baubles, bibliocraft, biomesoplenty, jei, blockdrops,  bloodmoon, cfm, cosmeticarmorreworked, customspawner, customnpcs, ptrmodellib, props, disenchanter, doggytalents, mocreatures, fastleafdecay, foamflower, gravestone, ic

[2018-05-11 22:07] phit commented on #1991
@dualspiral can you take a look at this again, the fix you pushed seems to have caused more issues than it fixed

specifically it seems to lead to the configs being overwritten with their default values in some cases, with the only fix making the config file read only

[2018-05-11 22:29] Tommeh1 commented on #1991
I had my applied energistics config randomly reset a few days ago which caused overlapping dimension ids followed by a crash loop.

[2018-05-11 23:16] Tommeh1 opened #2141 "RefinedStorage GUI incompatability"
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3056.jar
- Forge version: 1.12.2 - 14.23.3.2655
- Java version: java8 update 161
- Operating System: Linux

Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Eagle Factions, LuckPerms, MMCRestrict, MagiBridge, No Downfall, NuVotifier, Nucleus, SeriousVote, Total Economy, UniversalMarket, Vanish

Mods (105): Minecraft, M

[2018-05-12 00:02] Lorrainrm commented on #2112
Yeah.. Still crashes here and there
Specially when its friday or a day with more players..
Updated to spongeforge-1.12.2-2655-7.1.0-BETA-3064 but still..

Sometimes gets noppes custom admin error in the crash report, sometimes pixelmon...

 :(

[2018-05-12 00:03] dualspiral commented on #1991
@ziceptor @phit Having looked at the stack traces, that has nothing to do with this specifc bug or my fix. The stack traces in the issue point to custom data config files, not the world config files, which are loaded at a completely different point.

For what it’s worth, all my fix did was defer saving within the same tick to prevent multiple saves occuring. If it was causing problems, I would hav

[2018-05-12 12:14] dualspiral commented on #1991
https://github.com/SpongePowered/SpongeCommon/commit/4bbcc65d26b5659d86c91acb3ae55514aef3fe2e fixes the problem indicated by the stack trace, it was a duplicated save operation when creating the custom data config file.

This is actually something that will likely occur on SpongeVanilla too, this is code affecting SC. I'll move the issue over there.

[2018-05-12 12:15] dualspiral commented on #1991
~move to sc

[2018-05-12 12:15] limbo-app commented on #1991
Hey @TomTheHero! I've moved your issue to [SpongePowered/SpongeCommon#1906](https://github.com/SpongePowered/SpongeCommon/issues/1906).

[2018-05-12 12:15] #1991 closed, assigned to dualspiral

[2018-05-12 14:10] Tommeh1 commented on #2063
Same, had to lockdown my server

[2018-05-12 15:06] phit commented on #1991
@dualspiral I wasn't even talking about that custom_data stuff, my comment was purely about the global.conf

[2018-05-12 16:46] PolyacovYury opened #2142 "Villagers don't pick up items"
**I am currently running**
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3069
- Forge version: 1.12.2-14.23.3.2655-universal
- Java version: 1.8
- Operating System: Windows

- Plugins/Mods: NONE

**Issue Description**

Well, the title says it all. Villagers won't pick up anything I throw at them. Inventory stays empty (checked with `/entitydata` command), and the item just lies there until it desp

[2018-05-12 17:21] ziceptor commented on #1991
@dualspiral the fix didn't work.

[debug.log](https://gist.github.com/ziceptor/29f7f75f4b12fe7d5ce6394f60ed9057)
[latest.log](https://gist.github.com/ziceptor/a22ceaa4feb735f9bf837f8543c24949)

forge-1.12.2-14.23.3.2655-universal.jar
spongeforge-1.12.2-2655-7.1.0-BETA-3070.jar

[2018-05-12 19:01] ninja0773 opened #2143 "Sentient Pickaxe"
**I am currently running**

- Forge version: 8.0.99.99
- Operating System: Windows 10

- Plugins/Mods: Sky Factory 3

**Issue Description**
Tossing a sentient pickaxe on the ground to summon a sentient specter doesn't consume the pickaxe.

[2018-05-12 19:07] phit commented on #2143
no version info, unsupported version (we only support 1.12.2 at this point), a dupe of https://github.com/SpongePowered/SpongeForge/issues/1366 and no mod list

[2018-05-12 19:07] #2143 closed, assigned to nobody

[2018-05-12 23:43] ProsperCraft commented on #2142
I have never in all my time playing minecraft had a villager pick up an item, what are you talking about?

You open villagers inventory, and trade with them.

[2018-05-12 23:55] Aaron1011 commented on #2142
I think it's a recent-ish feature: https://minecraft.gamepedia.com/Villager#Picking_up_items

[2018-05-13 00:04] phit commented on #2142
last time this came up we couldnt reproduce this, see https://github.com/SpongePowered/SpongeCommon/issues/1211

[2018-05-13 00:55] PolyacovYury commented on #2142
`recent-ish feature`
Yeah. Since 1.8 release, if I'm not mistaken. Did you actually build at least one functional breeder since then?
And did you know that they also can plant, harvest and share crops? And that they need food to breed?

[2018-05-13 01:56] phit commented on #2142
well our last testing of that was in january, thats was only 2-3 months ago, haven't tried since then though
will test later

[2018-05-13 09:57] Prasodym opened #2144 "Structures do not generate edit=UPDATE +Code and images"
1.12.2-2655-7.1.0-BETA-3065 Spongeforge

`	| State | ID                         | Version                      | Source                                            | Signature                                |
	|:----- |:-------------------------- |:---------------------------- |:------------------------------------------------- |:---------------------------------------- |
	| U     | minecraft

[2018-05-13 11:04] PolyacovYury commented on #2142
[code]
Let me get this straight. If a villager (or, actually, ANY living entity, including skeletons, zombies, etc.) is **dead** OR **can grief** - this returns **true**.

While the original code proceeds to actually doing stuff only if this is **false**:
[code]

P.S. Good thing that you said you've tested this in January, because the code was written in April.
P.P.S. Looks like it's not SpongeFor

[2018-05-13 13:45] #2144 closed, assigned to nobody

[2018-05-13 13:45] phit commented on #2144
use the issue template and try the search before opening an issue

[2018-05-13 15:23] PolyacovYury commented on #2142
[14:29] Polyacov_Yury: @gabizou, why didn't you redirect the canPickUpLoot function instead?...
[18:06] gabizou: @Polyacov_Yury, probably because I was wanting the injection to be as close as possible to the previous injection position. I see the logical error now. One of the devs can fix it as [I'm currently busy].

[2018-05-13 19:46] Faithcaio commented on #2142
https://github.com/SpongePowered/SpongeCommon/commit/46c568c1639a44118eaeed4349d746887ff990c5

[2018-05-13 19:46] #2142 closed, assigned to nobody

[2018-05-13 22:50] Keaton1188 opened #2145 "Visual Glitch - SevTech"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 14.23.3.2655
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: SevTech

**Issue Description**
Hi there.. having a visual glitch with IE (Immersive Engineering)
"https://www.youtube.com/watch?v=xCID_Vtu46c&feature=youtu.be"

Vid to show what its doing.

This

[2018-05-13 22:53] Aaron1011 commented on #2145
Are you able to reproduce this with just IE and Sponge?

[2018-05-13 23:11] Keaton1188 commented on #2145
Probably not anytime soon.. sorry.

[2018-05-14 10:37] Prasodym commented on #2144
Update: [https://pastebin.com/LbFiZDmz](url)

- I could capture the codes here to create

- Minecraft default world are also faulty see picture

![2018-05-14_08 55 22](https://user-images.githubusercontent.com/38152214/39992528-6529eaea-5773-11e8-9717-8eabec893337.png)
**Default World one**

![2018-05-14_08 54 28](https://user-images.githubusercontent.com/38152214/39992569-8425b3f2-5773-11e8-975b-

[2018-05-14 17:19] juniorjunior opened #2146 "Hard lock on player join event"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3070
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: Java HotSpot(TM) 64-Bit Server VM (build 25.162-b12
- Operating System: CentOS 7.4

- Plugins/Mods:
[code]

**Issue Description**
The server seems to hang sometimes when a player tries to connect. This shows up as a total freeze, except tha

[2018-05-14 17:28] gabizou commented on #1903
Ok, after some small refactoring and hooking into the `World.getEntitiesWithinAABB` method, I can now verify that block drop captures are working for the purposes of DraconicEvolution's uses. Here's an example of it working (I assumed it wasn't working for a brief period due to the loot core just filling the inventory instead of just dropping a loot core, but as the player inventory filled up, I f

[2018-05-14 17:40] gabizou commented on #2146
You're not listing any mods or plugins, yet the warm roast shows there are plugins/mods installed. Sponge itself only throws the event (as shown in the stack trace), but a plugin is performing a permission check and that permission check is doing some lookups. Not a SpongeForge issue. More likely either a GriefPrevention issue or whatever permissions plugin you're using.

[2018-05-14 17:40] #2146 closed, assigned to nobody

[2018-05-14 17:50] juniorjunior commented on #2146
Hmm, the full list of both mods and Sponge plugins were on the two lines without any line-breaks. That's my bad and wouldn't expect anyone to try and parse that out.

I did just update both GriefPrevention and LuckPerms after making this issue, but saw nothing in either of their changelogs which might be addressing a lock contention or login event issue. We shall see. Thanks for the feedback.

[2018-05-14 18:25] gabizou commented on #2146
Maybe a communication failure from the database to server for fetching permissions?

[2018-05-14 18:54] juniorjunior commented on #2146
Using built-in, which I assume is SQLite. If it persists after the update and I can get no traction elsewhere I'll see if switching to MySQL/MariaDB does anything.

[2018-05-14 19:16] #1903 closed, assigned to nobody

[2018-05-14 19:16] #1430 closed, assigned to nobody

[2018-05-14 19:16] #1458 closed, assigned to gabizou

[2018-05-14 19:16] #1825 closed, assigned to nobody

[2018-05-14 19:16] #1810 closed, assigned to gabizou

[2018-05-14 19:16] #1259 closed, assigned to gabizou

[2018-05-14 19:16] #1346 closed, assigned to gabizou

[2018-05-14 21:36] JoeSGT commented on #1903
tested and @gabizou https://gist.github.com/JoeSGT/32bbb82d30b66eab30f752df6108e163 whenever you keep mining and you'll get the error I mine at 5x5 but it worked, this error happen whenever i attempt to mine the loot core it's self
reason for this cause i wanted too spam it xD

[2018-05-14 22:17] gabizou commented on #1903
@JoeSGT open a new issue please. and can you provide explanation on how to do this step by step, and stop copying from windows console (it removes spaces and makes logs illegible).

[2018-05-14 23:03] JoeSGT opened #2147 "ClassCastException in Phase Tracker"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3074
- Forge version: 14.23.3.2655
- Java version: 8
- Operating System: windows

- Plugins/Mods:
RedstoneFlux-1.12-2.0.1.2-universal
spongeforge-1.12.2-2655-7.1.0-BETA-3074
CodeChickenLib-1.12.2-3.1.8.341-universal
BrandonsCore-1.12-2.4.2.157-universal
Draconic-Evolution-1.12-2.3.11.290-universal

**Issue Description**
This

[2018-05-15 06:58] davisaur opened #2148 "Chunk Generation issue with Flans Mod"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3074
- Forge version: forge-1.12.2-14.23.3.2655
- Java version: JRE 8 Update 161
- Operating System: Windows Server 2016

- Plugins/Mods:
Mods: https://gist.github.com/ChilledEasy/7580fea8a42b4e1acee2666e927882ba
Content Packs on Flans Mod: https://i.imgur.com/EnKAwmG.png
No Plugins

**Issue Description**
Server will not lau

[2018-05-15 07:17] davisaur commented on #2148
**Update:**
I've tried it with only Flans Mod and SpongeForge. Same issue. However, without Flans Mod but with all the other mods, it works.

[2018-05-15 13:11] CDAGaming opened #2149 "Console Crash(Prism?) : Something happened when trying to unwind a phase"
**I am currently running**
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3074
- Forge version: 14.23.3.2655
- Java version: 1.8.0_161
- Operating System: Windows 10

- Plugins/Mods: Nucleus, FastAsyncWorldEdit, Prism, CatClearLag, Aether II v1.0.4, OrbisAPI v1.1, Aether Legacy v3.0, LuckPerms, ServerListPlus, TotalEconomy

**Issue Description**
This Log is now being spammed into console, after Upd

[2018-05-15 14:15] Thutmose commented on #1810
I can confirm that this issue no longer occurs in spongeforge 3074

[2018-05-15 15:14] Bennyboy1695 opened #2150 "justenoughdimensions startup crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3074
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 1.8
- Operating System: Ubuntu 16.04

- Plugins/Mods: Modpack Exoria, No plugins yet as server was in crash loop

**Issue Description**
Server is in a constant crash loop because its unable to load the worlds due to error mentioned in crash

[2018-05-15 16:12] phit commented on #2149
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2147

[2018-05-15 16:12] #2149 closed, assigned to nobody

[2018-05-15 16:13] phit commented on #2147
`java.lang.ClassCastException: org.spongepowered.common.event.tracking.PhaseContext cannot be cast to org.spongepowered.common.event.tracking.context.GeneralizedContext`

[2018-05-15 16:18] CDAGaming commented on #2147
Players on my server are reporting Elytras that are picked up vanishing from their inventories as well. No clue if it could be related to this (If not, I'll remove this comment)

[2018-05-15 21:33] CDAGaming opened #2151 "All Chests empty after 3075"
Caused by: java.lang.ClassCastException: org.spongepowered.common.item.inventory.lens.impl.comp.GridInventoryLensImpl cannot be cast to org.spongepowered.common.item.inventory.lens.slots.SlotLens

[2018-05-15 21:40] #2151 closed, assigned to nobody

[2018-05-15 21:40] phit commented on #2151
not enough info, no logs, no versions etc use the issue template

[2018-05-15 22:28] CDAGaming commented on #2151
Well @phit It was fixed in https://github.com/SpongePowered/SpongeCommon/commit/c98ef25f327a575a1c5e87b7a213ea0cce00d51a regardless...

[2018-05-15 22:49] Keaton1188 opened #2152 "Anvil Issue"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3074
- Forge version: 14.23.3.2655
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: SevTech

**Issue Description**
When using the anvil if it's low durability and you try to put a book on a pickaxe it consumes both the book, pickaxe, and anvil and returns nothing. This does not

[2018-05-16 03:49] yyeerai opened #2153 "Sponge world crash"
**I am currently running**
- SpongeForge version:  spongeforge-1.12.2-2655-7.1.0-BETA-3074
- Forge version:  forge-1.12.2-14.23.3.2655-universal
- Java version: 1.8
- Operating System: centos 6.8

- Plugins/Mods:
Plugins (25): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, DailyRewards, EasyKits, EconomyLite, GTS, GiftCode, GriefPrevention, Holograms, LuckPerms, Nucleus, Pix

[2018-05-16 08:58] ziceptor commented on #1991
@phit Do I need to issue a separate issue? ^

[2018-05-16 15:53] Keaton1188 opened #2154 "Sponge config - Plugins directory issue"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-7034
- Forge version: 14.23.3.2655
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: FTB Continuum

**Issue Description**
Hi there.. I am trying to make it so sponge points to a /plugins folder and not /mods. I changed it in the config (like we've done for all our servers..) and

[2018-05-16 16:14] XakepSDK commented on #2154
Does this directory exists? Show us your logs.

[2018-05-16 16:43] johnfriedrich opened #2155 "Performance regression when updating from 3002 to 3029+"
- SpongeForge version: 3029
- Forge version: 2655
- Java version: 1.8.152

3002 timings:
https://timings.aikar.co/?id=2e1d6dc5c1d2441ba4d81a17cdfc631e
3029
https://timings.aikar.co/?id=2ea78b4029334d1c85634416ec283135
https://timings.aikar.co/?id=931c9552e58349df941608fc870e4f82

As you can see, redstone torches are the bad guys. I think sponges updates the block state on these torches every tick,

[2018-05-16 16:50] phit commented on #2155
reproduce it with a clean world, and or provide steps to reproduce this.

this doesn't mean anything really

[2018-05-16 16:51] phit commented on #1991
@ziceptor reply in https://github.com/SpongePowered/SpongeCommon/issues/1906

[2018-05-16 16:53] phit commented on #2154
Can't reproduce on 3076, gonna need more info. Please upload your global.conf and debug.log

[2018-05-16 17:54] Rasgnarok commented on #2155
That comment is meant to show it was tested throughout two versions without anything else changing. It doesn't replace a fresh install, but it is not useless.

[2018-05-16 18:03] phit commented on #2155
k..

[2018-05-16 19:05] johnfriedrich commented on #2155
3002:
https://timings.aikar.co/?id=65241d99a9e04aedae22718056341689

Redstone lags the server. Runtime doesn't matter in that case.

[2018-05-16 19:18] Rasgnarok commented on #2155
Regardless of uptime, this isn't expected behaviour, nowhere near it in fact. If you need more detailed testing or description, please, let us know.

[2018-05-16 20:40] Keaton1188 commented on #2154
I tried with 3076 at first and had the same issue so decided to go back a few version to see if that would help.

global.conf -  https://pastebin.com/0JBRfd1w

debug.log -
[debug.zip](https://github.com/SpongePowered/SpongeForge/files/2010871/debug.zip)

Actually seems like the whole config is just resetting when I start up the server..

[2018-05-16 22:48] Keaton1188 commented on #2154
Sorry all.. ignore me.

Me being stupid, closing .

[2018-05-16 22:48] #2154 closed, assigned to nobody

[2018-05-17 02:23] Thutmose opened #2156 "Unable to make new dimension/world from forge mod"
**I am currently running**

- SpongeForge version: 3077 (was latest when I downloaded it) (Also applies to 3080)
- Forge version: 14.23.3.2655
- Java version: 1.8.0_111
- Operating System: Windows 10

- Plugins/Mods:
§cMods§r§f (§r§f22§r§f): §r§aMinecraft§r, §r§aMinecraft Coder Pack§r, §r§aForge Mod Loader§r, §r§aMinecraft Forge§r, §r§aSpongeAPI§r, §r§aSpongeForge§r, §r§aFoamFix§r, §r§aFoamFixCore

[2018-05-17 02:36] bloodmc commented on #2155
@i9hdkill What was the first SF build post 3002 that started with issues? 3029? Also, please provide a warmroast trace when the server lags.

[2018-05-17 02:51] Thutmose commented on #2156
Until I get around to extracting the coded needed for the dimension generation (it is fairly interconnected with a bunch of other crap), the simplest way I can get this replicate-able is as follows:

Make a server, add spongeforge to mods folder, also add this jar:
https://minecraft.curseforge.com/projects/pokecube-aoi/files/2560258

Start server, join server (client also needs that jar), select s

[2018-05-17 02:52] bloodmc commented on #2155
@i9hdkill Please turn off `block-tick-capturing` and retest. It might even be best to test with a CLEAN sponge config.

[2018-05-17 03:06] Zidane commented on #2156
I need to see the exact code you're using to create the dimension.

[2018-05-17 03:19] Thutmose commented on #2156
[code]

https://github.com/Thutmose/Pokecube/blob/1.12.x/Pokecube%20Core/src/main/java/pokecube/core/world/dimensions/PokecubeDimensionManager.java#L60-L74

[2018-05-17 04:42] OneTrueVex opened #2157 "OpenBlocks/OpenModsLib Crash"
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3080
- Forge version: 1.12.2-14.23.3.2655
- Java version: 1.8.0_51
- Operating System: Windows 10 Home

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, §Aether Legacy, Baubles, BiblioCraft, Biomes O' Plenty, Bloodmoon, Carry On, CosmeticArmorReworked, Decocraft, Disenchanter, Doggy Talents, Dr

[2018-05-17 04:47] bloodmc commented on #2155
Actually `block-tick-capturing` seems to have been broken for quite some time so its definitely not that.

[2018-05-17 04:56] bloodmc commented on #2155
I really don't see anything between 3002 and 3029 that would cause redstone to blow up the server. It may be a Forge change that is causing the performance regression. Have you compared Forge 2611 and Forge 2655+ for performance differences?

[2018-05-17 16:12] yyeerai opened #2158 "sponge Crash"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3080
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 1.8
- Operating System: centos 6.8

- Plugins/Mods:
  -- Plugins (25): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, DailyRewards, EasyKits, EconomyLite, GTS, GiftCode, GriefPrevention, Holograms, LuckPerms, Nucleus,

[2018-05-17 16:41] gabizou commented on #2158
Have you tried just sponge and mods but no plugins?

[2018-05-17 18:20] WolfeyWolfey opened #2159 "Tinker's Construct GUI Issues"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3077.jar
- Forge version: 2665
- Java version: 8
- Operating System: Linux

- Plugins/Mods:Thaumcraft (Needs Baubles)
Pam's Harvest Craft
Actual Additions
OpenBlocks (Needs Openmods)
Applied Energistics
Extra Utilities
Tinker's Construct (Needs mantle)
HWYLA
Iron Chests
IndustrialCraft 2
EnderIO (EnderCore)
Just e

[2018-05-17 18:22] phit commented on #2159
pretty sure this is already fixed on latest (3080), if not reply and ill reopen

[2018-05-17 18:22] #2159 closed, assigned to nobody

[2018-05-17 18:42] WolfeyWolfey commented on #2159
Confirming that updating to 3080 fixed our problem. Thank you!

[2018-05-17 18:52] Thutmose commented on #2156
Here is a test mod for this issue:

[dimspam.zip](https://github.com/SpongePowered/SpongeForge/files/2014369/dimspam.zip)

https://github.com/Thutmose/Thut/blob/1.12.x/Misc/DimSpam/src/main/java/thut/dimspam/DimSpam.java

How to use:

it adds a command, /dimspam, used as follows:
`/dimspam <dim>` loads or creates a dimension of id <dim>, if <dim> is less than 20, it is a nether world, otherwise if

[2018-05-17 22:13] gabizou commented on #2147
Fixed the class cast exception.

[2018-05-17 22:13] #2147 closed, assigned to nobody

[2018-05-18 03:33] MoeBoy76 commented on #2136
Did some testing, tools except the hoe are working, this also seems to cause some issues with carrot on a stick to not work correctly.

Tested on SpongeForge version: 3082, Forge 2655, LuckPerms 4.2.12
Also did secondary testing with GriefPrevention 4.3.0.579

https://luckperms.github.io/verbose/?4JaTYmoTkp
https://griefprevention.github.io/debug/?3DBka8HeG5

for reference this is called from the

[2018-05-18 14:03] Whazaaaaa opened #2160 "Right clicking sheep doesnt drop wool since 3074"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3082 started since 3074
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: 8
- Operating System: Windows/Linux

- Plugins/Mods: None

**Issue Description**
I've tested this locally only on sheeps. But on modded server this also didnt work on things like seeds.
So when you for example shear a she

[2018-05-18 14:11] Sir-Will opened #2161 "NoSuchElementException: Could not retrieve value for key 'sponge:spawn_type'"
spongeforge-1.12.2-2655-7.1.0-BETA-3082
forge-1.12.2-14.23.3.2655-universal
[code]

[2018-05-18 16:32] #2161 closed, assigned to gabizou

[2018-05-18 16:49] #2160 closed, assigned to nobody

[2018-05-18 16:50] gabizou commented on #2160
I can't verify if this fix fixes the mod item not dropping items, but it would make sense if it does due to it extending the `ItemShears` item to perform those interactions.

[2018-05-18 18:54] Aaron1011 commented on #2152
I can't seem to reproduce this. Are you able to reproduce this on a plain SpongeForge server running the latest build?

[2018-05-19 18:31] Lorrainrm commented on #2112
FYI
I'm not getting this stupid huge log anymore
But crashes a lot with this very same issue, specially on weekends.. more players means more crashes.. :(

Getting the same generic crash report, blaming the customnpcs

Peace

[2018-05-19 19:57] CDAGaming opened #2163 "ItemFrame Not Dropping Items"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3095
- Forge version: 14.23.3.2655
- Java version: 1.8.0_161
- Operating System: Windows 10 x64

- Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, CatClearLag, LuckPerms, Nucleus, Prism, ServerListPlus, Total Economy, WorldEdit
- Mods (12): Minecraft, Minecraft Coder Pack, Forge Mo

[2018-05-19 21:18] gabizou commented on #2163
The crash is a simple fix. I just need to figure out why the item frames aren't dropping items. Doesn't look like item frames in general drop anymore either.

[2018-05-19 21:25] parlough commented on #2163
Don't have a chance to look into it right now, but I made this change a while back https://github.com/SpongePowered/SpongeCommon/commit/dad0dfa6fc88baec467eb3af38d060727260289b and Forge did as well, but in my testing it worked fine and no other issues have popped up.

[2018-05-19 22:30] gabizou commented on #2163
~~@Meronat just looking over the commit, looks like you forgot to make the shift after setting the item to null. Will test again now with a potential fix.~~
Edit: did not change anything. Stepping through what's going on with hanging items and why they are not dropping items.

[2018-05-20 04:17] LLOL748 opened #2165 "1.12.2 Sponge server"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3052
- Forge version: forge-1.12.2-14.23.3.2655-universal
- Java version: jre1.8.0_161
- Operating System:windows 2012server
- Plugins/Mods:Pixelmon-1.12.2-6.2.3 or CustomNPCs_1.12.2(13may18)

- One:Pixelmon loaded a new chunk [-6, -104] in dimension 0 (overworld) while populating chunk [-5, -103], causing cascad

[2018-05-20 06:36] Faithcaio commented on #2141
https://github.com/SpongePowered/SpongeForge/issues/2058

[2018-05-20 06:36] #2141 closed, assigned to nobody

[2018-05-20 06:38] Faithcaio commented on #2058
Stacktrace from another mod: https://pastebin.com/raw/kFu0Nci4
___

This happens because we fail to find the CraftingOutputSlot of a CraftingInventory.

If you don't care about Crafting events you can ignore this error.

[2018-05-20 14:33] the-whapow commented on #2163
I am having this issue as well.
spongeforge-1.12.2-2655-7.1.0-BETA-3082.jar
Forge: 14.23.3.2655
Game: Java 1.12.2

Any suggestions on a work around?

[2018-05-20 17:08] seisatsu commented on #2163
I can confirm this issue. I discovered the issue on my server yesterday, so I tested client-side with SpongeForge and with Forge only. Latest version of SpongeForge prevents item frames from dropping items, while Forge alone does not.

I am using spongeforge-1.12.2-2655-7.1.0-BETA-3088.jar on the server.

[2018-05-21 01:01] bloodmc commented on #2155
I cannot reproduce any redstone issues using latest build. I tested on the same redstone map I've used for years

https://www.planetminecraft.com/project/some-redstone-creations/

Logging into the world , the server sits at around 4ms. If I start to turn devices on then it starts to rise above 10ms. All torches are also working as they should.

[2018-05-21 02:07] bloodmc commented on #2156
@Thutmose why are you not using Forge's initDimension to hotload your dimension?

https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/common/DimensionManager.java#L227

[2018-05-21 02:14] Thutmose commented on #2156
Does the bug still occur if I use that?  Iirc I was not using it, so I could implement my own WorldServerMulti with a different borderListener, I could probably just use reflection to deal with the default one instead though

[2018-05-21 02:17] bloodmc commented on #2156
The bug should not occur if you use that as we already support Forge's DimensionManager. If you need additional functionality in Forge's DimensionManager then I would suggest opening a PR with Forge or a ticket requesting the feature. Bypassing it will cause issues for mods such as ours that don't expect other mods to bypass Forge's API.

[2018-05-21 02:23] Thutmose commented on #2156
Ahh, I found another reason, the default WorldServerMulti does not support custom worldinfo, so trying to do anything with that won't work

[2018-05-21 02:29] bloodmc commented on #2156
You should be using Forge's perWorldStorage system for custom data per dimension.

https://mcforge.readthedocs.io/en/latest/datastorage/worldsaveddata/

Both Forge and Vanilla use a single savehandler so it makes perfect sense why WorldServerMulti would delegate to overworld's WorldInfo as that represents the only level.dat in existence.

[2018-05-21 02:30] Thutmose commented on #2156
WorldInfo is not related to saving, it is things like generator options, world type (flat, default, etc)

[2018-05-21 02:32] bloodmc commented on #2156
Yes it is. WorldInfo represents level.dat which is written to disk using the world's savehandler.

https://minecraft.gamepedia.com/Level_format

The point still stands. You should be using Forge's PerWorldStorage system as shown in docs above. This is how mods get around the single savehandler.

[2018-05-21 02:37] Thutmose commented on #2156
I am letting the world save it's data to wherever it goes by default, if you look at the test mod, it uses the same savehandler that forge does

[2018-05-21 02:40] bloodmc commented on #2156
Mystcraft uses initDimension and provides dimensions with full customization. There is no reason why you cannot do the same. If you bypass Forge's API you will have problems with Sponge.

[2018-05-21 02:42] Thutmose commented on #2156
Can you direct me to their source, or an example of how they do it? I could probably get something working, but seeing theirs will help, this was the quickest implementation I came up with, they possibly have a better way

[2018-05-21 02:46] bloodmc commented on #2156
Mystcraft is closed source. You can search for other open source mods that add dimensions such as RFTools. You can also ask for help in Forge's IRC channel.

[2018-05-21 02:54] Rasgnarok commented on #2165
Normal messages while generating, please first pregenerate your map before getting players to use it. If you have more questions, just head to the [Pixelmon discord](https://www.reforged.gg/discord), we can explain to you there how to stop those "lag" messages from appearing.

The long error log is not related to Sponge I believe, that's a player disconnecting with internet issues (if memory serve

[2018-05-21 02:59] Thutmose commented on #2156
Well, if you can confirm that making that change to the test mod fixes the issue, you can close this issue, I won't be able to test this until Wednesday

[2018-05-21 03:04] #2165 closed, assigned to nobody

[2018-05-21 03:12] phit commented on #2157
cant reproduce with just sponge, openmodslib and openblocks

OpenBlocks-1.12.2-1.7.6.jar
OpenModsLib-1.12.2-0.11.5.jar
spongeforge-1.12.2-2655-7.1.0-BETA-3096.jar

[2018-05-21 03:16] phit commented on #2153
cant reproduce on latest, please add what mods are needed to get this to happen

[2018-05-21 03:18] phit commented on #2150
this caused by justenoughdimensions and its config in this pack

[2018-05-21 03:31] phit commented on #2126
@Blayyke ever happened again?

[2018-05-21 03:33] phit commented on #2123
https://github.com/SpongePowered/SpongeForge/issues/2058

[2018-05-21 03:33] #2123 closed, assigned to nobody

[2018-05-21 03:36] LLOL748 commented on #2165
@Rasgnarok thank you very much！

[2018-05-21 03:45] bloodmc commented on #2156
I ran the command `/dimspam 11` with the following code

[code]

![Works](https://i.imgur.com/F241pk7.png "Success")

[2018-05-21 03:45] #2156 closed, assigned to nobody

[2018-05-21 05:45] #2163 closed, assigned to gabizou

[2018-05-21 15:35] LemADEC commented on #2124
Is there a download for that threadlock plugin?

[2018-05-21 21:09] ghost commented on #2148
I am having a similar issue running Flan's Mod along with SpongeForge on Forge build 2655.

[2018-05-21 21:37] Keaton1188 commented on #2145
Doesn't seem to be an issue anymore, closing.

[2018-05-21 21:37] #2145 closed, assigned to nobody

[2018-05-21 21:42] Keaton1188 opened #2166 "Continuum - Forge - Sponge"
**I am currently running**

- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3080
- Forge version: 14.23.2.2655
- Java version: 1.8.0_151-b12
- Operating System: CentOS Linux release 7.2.1511

- Plugins/Mods: FTB Continuum

**Issue Description**  This is server/client related, FTB Continuum is not using a recommended version of forge this causes issues with sponge + stability, we have had to use forg

[2018-05-21 21:43] phit commented on #2166
https://github.com/SpongePowered/SpongeForge/issues/2137#issuecomment-388399032

[2018-05-21 21:43] #2166 closed, assigned to nobody

[2018-05-21 21:45] phit commented on #2148
for ref https://github.com/FlansMods/FlansMod/blob/1.12.2/src/main/java/com/flansmod/apocalypse/common/world/buildings/WorldGenSkeleton.java

[2018-05-21 21:47] phit commented on #1878
@Raycoms status?

[2018-05-21 21:48] Raycoms commented on #1878
Sorry, I wasn't able to play minecraft in the last 3 months due to
university work. I'll ask one of my players as soon as I get to it.

2018-05-21 22:47 GMT+01:00 phit <notifications@github.com>:

[2018-05-21 21:53] phit commented on #2152
cant reproduce either, closing until author replies with proper reproduction

[2018-05-21 21:53] #2152 closed, assigned to nobody

[2018-05-21 21:53] phit commented on #2158
no reply and cant reproduce with just sponge

[2018-05-21 21:53] #2158 closed, assigned to nobody

[2018-05-21 21:55] phit commented on #2153
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2158

[2018-05-21 21:55] #2153 closed, assigned to nobody

[2018-05-21 21:57] phit commented on #1542
@johnfg10 still an issue on more recent versions?

[2018-05-21 22:00] phit commented on #1819
closing as this seems to also happen with just the mod, just more rarely

[2018-05-21 22:00] #1819 closed, assigned to nobody

[2018-05-21 22:16] TeKGameR950 commented on #765
Still happening on latest.

[2018-05-21 22:16] TeKGameR950 commented on #765
Also we can still modify the block if its already chiseled

[2018-05-21 22:17] phit commented on #765
open a new issue please

[2018-05-21 22:23] TeKGameR950 opened #2167 "Sponge not registering Chisel&Bits events."
**I am currently running**
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3105
- Forge version: 14.23.3.2655
- Java version: JAVA 8
- Operating System: OMGSERV Hosted srry idk what is it :/

- Plugins/Mods:

**Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, FlexibleLogin, LuckPerms, Nucleus, PlaceholderAPI, SkinsRestorer, Total Economy, Universe Guard 2, VirtualChest**

**Mod

[2018-05-22 12:13] ryantheleach commented on #2163
`return EntityUtil.entityOnDropItem((EntityHanging) (Object) this, stack, offsetY, this.posX + xOffset, this.posZ + zOffset);`

From a far distance, having [offsetY ](https://github.com/SpongePowered/SpongeCommon/commit/888c151663e673060987a8f99f4dbe5eaf6dbb92#diff-848a957b99a542da447136cf79553609R129)not having the position added looks slightly suspect. Is it ok?

[2018-05-23 01:02] yaroslav4167 opened #2168 "EnderIO obelisk XP duplication. (Works only on the server)"
**I am currently running**
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3105
- Forge version: 1.12.2-14.23.3.2655
- Java version:  1.8.0_151-b12
- Operating System: Linux

- Plugins/Mods:
**Plugins** (17): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AntiBot for Sponge, AntiXray, BlockyArena, CatClearLag, EconomyLite, GriefPrevention, KeepInventorySponge, LuckPerms, Nucleus, Prism, Pr

[2018-05-23 01:26] phit commented on #2168
~~looks like this was already fixed in EnderIO https://github.com/SleepyTrousers/EnderIO/issues/4572~~

i take that back looks like a different issue, I replied to https://github.com/SleepyTrousers/EnderIO/issues/4652

[2018-05-23 04:32] MacKey-255 opened #2169 "Loading World, ERROR: java.lang.NullPointerException: Exception ticking world"
**I am currently running**

- Minecraft Version: 1.12.2
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3065
- Forge version: 14.23.3.2655
- Java version: 1.8.0_131, Oracle Corporation
- Operating System: Windows 10 (amd64) version 10.0

- Plugins/Mods:
[code]

**Issue Description**
Me ocurre un crash al cargar una parte del mundo y se cierra el Servidor.
Crash Server Error with Loading World

[cras

[2018-05-23 04:43] XakepSDK commented on #2169
Use gist for crash reports, no one wants download files.

[2018-05-23 05:22] tyler489 commented on #2168
Not a sponge issue

[2018-05-23 07:17] Retovath commented on #2140
I believe that this could be a result of forge version updates, on the present build (5/23/18) it requests forge 2675 at a minimum for some lighting fixes.
https://gist.github.com/Retovath/cd8747f9b622c23751302d4ce37c56d9

Spongeforge is currently updated to reccomended builds only, so spongeforge is up to forge 2655. Improperly matched forge/spongeforge versions can occasionally cause crosstalk i

[2018-05-23 07:35] SawFowl opened #2170 "The world is disabled, but loaded."
**I am currently running**
Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-43d8496
SpongeForge: 1.12.2-2655-7.1.0-BETA-3105
Minecraft Forge: 14.23.3.2655
- Java version:  OpenJDK Runtime Environment (build 1.8.0_171-8u171-b11-0ubuntu0.18.04.1-b11)
- Operating System: Ubuntu Server 18.04

Plugins (24): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BeanCore, CatClearLag, CommandSync, EconomyL

[2018-05-23 13:09] #2168 closed, assigned to nobody

[2018-05-23 18:48] Whazaaaaa commented on #2074
Okay so I just did some tests with a clean AllTheMods3 install. This is a very heavy pack. So I would think this is also the best to test timings on.
So with timings enabled the startup of the server takes about 2 and a half minutes longer than when timings is disabled in the _global.conf_

I'm running Forge: **forge-1.12.2-14.23.3.2702-universal**
And SpongeForge: **spongeforge-1.12.2-2690-7.1.0-

[2018-05-23 22:07] gabizou commented on #2167
Can you try this jar? (I had to zip it so github would allow it). [spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip](https://github.com/SpongePowered/SpongeForge/files/2033026/spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip)
It has some changes to better detect when mods are requesting to modify a block, which Chisel should be able to be blocked correctly from dropping the items. I'll link to the branch

[2018-05-23 22:12] TeKGameR950 commented on #2167
I'll try if i find why my server isnt starting with this forge version.

[2018-05-23 22:20] bloodmc commented on #2155
Closing as there has been no response in over a week.

[2018-05-23 22:20] #2155 closed, assigned to nobody

[2018-05-23 23:20] gabizou commented on #2167
[spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip](https://github.com/SpongePowered/SpongeForge/files/2033186/spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip)
Try this jar now.

[2018-05-24 15:52] TeKGameR950 commented on #2167
Same error after trying again, https://pastebin.com/D91jbdPv

[2018-05-24 16:07] gabizou commented on #2167
[spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip](https://github.com/SpongePowered/SpongeForge/files/2036195/spongeforge-1.12.2-2690-7.1.0-BETA-0.jar.zip)
Try this one, fixed the crash at startup.

[2018-05-24 16:21] TeKGameR950 commented on #2167
Okay, its better, now the first issue is totally fixed and the second issue is a little bit fixed, what i mean;

Now when you chisel an already chiseled block it doesnt give the microblock but it still modify it, i tried restarting the server/reloading my client to see if it was only modifying the block clientside but no, it really modify it, other players see the modification.

[2018-05-24 16:30] gabizou commented on #2167
Made a new issue with Chisels and Bits as the block check is passing before sponge can cancel the interaction:
https://github.com/AlgorithmX2/Chisels-and-Bits/issues/390

Otherwise the issue is going to be pending on the mod change.

[2018-05-24 16:32] TeKGameR950 commented on #2167
Already did

He said thats a sponge issue

[2018-05-24 18:44] ljc1035 opened #2171 "Increased Loading Times"
**I am currently running**
- SpongeForge version:1.12.2-2690-7.1.0-BETA-3112
- Forge version:1.12.2-14.23.3.2690
- Java version:1.8.0.171 (64 Bit)
- Operating System:Windows 8.1 64-Bit

- Plugins/Mods:
- Nucleus-1.3.13-S7.0-MC1.12.2
- EconomyLite-7.1.0-2.14.3

This bug report pertains to the substantial increase in server load time when the Timings module is enabled. While this is enabled, my serv

[2018-05-24 18:58] phit commented on #2171
https://github.com/SpongePowered/SpongeForge/issues/2074#issuecomment-391456755

[2018-05-24 18:58] #2171 closed, assigned to nobody

[2018-05-24 20:32] Rutes opened #2172 "LLibrary Core crashes"
I am currently running:
- SpongeForge version: spongeforge-1.12.2-2690-7.1.0-BETA-3112
- Forge version: forge-1.12.2-14.23.3.2690-universal
- Java version: 1.8.0_171-b11
- Operating System: Windows 10 x64 Pro 1803

- Plugins/Mods:
animania-1.12.2-1.4.8.jar
architecturecraft-1.12-2.68.jar
astralsorcery-1.12.2-1.8.10.jar
Baubles-1.12-1.5.2.jar
BiblioCraft[v2.4.4][MC1.12.2].jar
BiomesOPlenty-1.12.2-7

[2018-05-24 20:52] Aaron1011 commented on #2172
@Rutes Can you upload your full server log?

[2018-05-24 21:55] Rutes commented on #2172
Is it not all there in my gist link?
https://gist.github.com/Rutes/82f88a373780def312da8bad7d8a6e07

I cleared the logs folder before re-running to get clean version of crash log, debug, and latest.
Here are some bookmark links if it's a lot to navigate/scroll:
https://gist.github.com/Rutes/82f88a373780def312da8bad7d8a6e07#file-crash-2018-05-24_15-08-28-server-txt
https://gist.github.com/Rutes/82f

[2018-05-24 22:17] Rutes commented on #2172
This seems to be the start of the error:
[15:08:28] [Server thread/ERROR] [net.minecraft.server.MinecraftServer]: Encountered an unexpected exception
java.lang.AbstractMethodError: Method net/minecraft/server/dedicated/DedicatedServer.isMainThread()Z is abstract

[2018-05-24 22:28] phit commented on #2172
looks like LLibrary Core or Astral Transformer is to blame

[2018-05-24 22:29] Aaron1011 commented on #2172
I'm looking into this.

[2018-05-24 22:42] Aaron1011 commented on #2172
The problem appears to lie with [LLibraryCore's implementation of getCommonSuperClass](https://github.com/gegy1000/LLibraryCore/blob/06344248a3ba2964cb4c9cc5cd3efff11866bf0e/src/main/java/net/ilexiconn/llibrary/server/asm/PatchClassWriter.java#L21-L44), which can trigger re-entrant classloading.

Given that this mod works without Sponge, a simple fix would probably be to annotate the transformer w

[2018-05-24 22:50] Rutes commented on #2172
aha! interesting... apparently I recently updated LLibrary, but I might not have needed to. The one mod that requires it is Ice&Fire. I'll rollback to an earlier version of LLibrary and see if it launches

[2018-05-25 00:48] DarethZ33 commented on #2172
@Rutes Did that fix this for you? I'm also having this issue.

[2018-05-25 03:35] Rutes commented on #2172
Yep, reverting back to llibrary-1.7.9-1.12.2 fixed it for me. I guess I'll need to report the issue on LLibrary's github?

[2018-05-25 13:03] FiveEYZ opened #2173 "server fail to close properly LoaderExceptionModCrash"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2690-7.1.0-BETA-3115
- Forge version: forge-1.12.2-14.23.3.2690-universal
- Java version: 1.8.0_171
- Operating System: Windows 10 Pro 1803

- Plugins/Mods:
Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge
mods: GalacticraftCore-1.12.2-4.0.1.176, MicdoodleCore-1.12.2-4.0.1.176

**Issue Description**
when i try

[2018-05-25 14:55] johnfriedrich commented on #2155
Sponge: 3002
Forge 2611
Warmroast:
part1: http://prntscr.com/jmjgvm
part2: http://prntscr.com/jmjhia
Timings: https://timings.aikar.co/?id=0e94c8fcf2a94911bb1fbdb5e98c0fa9

Yes, seems to be also on older builds, like you said

[2018-05-25 16:25] gabizou commented on #2074
Can you give the newest builds a shot? I forgot I included some timings changes for startup with events, it should make an impact. Build 3115 should do the trick.

[2018-05-25 17:06] #2167 closed, assigned to nobody

[2018-05-25 17:18] Whazaaaaa commented on #2074
So its still happening.
[sponge +timings  debug.log](https://github.com/SpongePowered/SpongeForge/files/2040271/sponge.timings.debug.log)
[sponge -timings debug.log](https://github.com/SpongePowered/SpongeForge/files/2040272/sponge.-timings.debug.log)
[nosponge debug.log](https://github.com/SpongePowered/SpongeForge/files/2040273/nosponge.debug.log)

**Startup Times**
Without Timings: 04:26
With T

[2018-05-25 17:36] Whazaaaaa opened #2174 "Server timing out on shutdown (Advancedrocketry world unload)"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2690-7.1.0-BETA-3115
- Forge version: forge-1.12.2-14.23.3.2702-universal
- Java version: 8
- Operating System: Both WIndows and Linux

- Plugins (4): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge
- Mods (9): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Advanced Rocketry,

[2018-05-25 17:38] Whazaaaaa commented on #2174
Just saw this was a duplicate of #2173, Sorry :( but perhaps the logs help.

[2018-05-25 17:41] Tommeh1 commented on #2058
It can however crash the client in some cases

[2018-05-25 19:46] johnfriedrich commented on #2155
Found it. It's an massive autofarm that worked without lags in sponge 1.10.
But the issue only arised some weeks ago, as the guy who build it got active again at that time. Around that time, we updated from 3002 to later sponge. Thats why we thought it's the sponge version.

Still, it works without that much lag on 1.10.2 sponge.

Schematic: https://www.dropbox.com/s/geuloyjqu7ead4b/TheWhiteBlader

[2018-05-25 23:29] Routhinator opened #2175 "BetterFPS and SpongeForge Clarifications"
I need feedback here. I see that in 1.10 it was not recommended to include BetterFPS with Sponge as the optimizations are very similar or the same.

I'm wondering if this is still true in 1.12.2 and if it was applicable to both server and client side or just server. My instinct is that the statement only applies to the server side since Sponge provides no optimizations for the client.

Can someone

[2018-05-26 00:20] Routhinator commented on #2175
Tried it and it crashes, so that's a nope.

[2018-05-26 00:20] #2175 closed, assigned to nobody

[2018-05-26 12:49] Anguriaboy opened #2176 "Client update forge2703 Unable to enter the server"
- SpongeForge version:  spongeforge-1.12.2-2703-7.1.0-BETA-3116
- Forge version: Forge-14.23.4.2703
- Java version: 8
- Operating System: Windows

Issue Description
 Client update Forge-14.23.4.2703 Unable to enter the server。
After the update spongeforge2703 the player digs out the dropped items will disappear。
![qq 20180526204847](https://user-images.githubusercontent.com/39192846/40576297-37313

[2018-05-26 12:50] Lemmmy commented on #2176
We are also experiencing this issue in our server. It appears to be related to https://github.com/SpongePowered/SpongeCommon/issues/1823.

[2018-05-26 12:51] Lemmmy commented on #2176
We are also having this issue on our server. It appears to be related to https://github.com/MinecraftForge/MinecraftForge/pull/4942.

[2018-05-26 15:24] gabizou commented on #2176
looks Like a forge client bug. We don’t need to update recommended but I’m sure Forge will have a new recommended build soon.

[2018-05-26 15:24] #2176 closed, assigned to nobody

[2018-05-27 07:57] Faithcaio commented on #2058
Show me logs then.
But it should not cause crashes as we literally just ignore the crafting inventory when this error comes up.

[2018-05-28 05:50] bloodmc commented on #2173
@FiveEYZ @Whazaaaaa Please provide a world save with minimum mods to reproduce the issue.

[2018-05-28 05:53] bloodmc commented on #2174
dupe #2173

[2018-05-28 05:53] #2174 closed, assigned to nobody

[2018-05-28 05:55] bloodmc commented on #2129
@JoeSGT Retest with latest SF build and provide new logs.

[2018-05-28 08:05] JoeSGT commented on #2129
Sorry i had deleted the source of the lag in the world but i had went back into one of my backup worlds that had this issue i had ran 2 timings report to quickly help see if OpenComputer is still causing the issue
Here is the timings report of my current server without the OpenComputer issue https://timings.aikar.co/?id=e5cdbd7bb11e4b769e8d9b88ceff0160 i know applied Energistics 2 has issues but i

[2018-05-28 12:07] FiveEYZ commented on #2173
dont need a world save
the mods i listed in first post was the minimum needed

just start the server with those mods and then do /stop should yield same result

but i think this can easily be fixed on galacticrafts side, by doing something similar to what phit did here
https://github.com/zmaster587/AdvancedRocketry/commit/5f174ff6d1608320ec61c32e3311bb59b5d7cbba

so it could look something like th

[2018-05-28 12:58] Tototi1 opened #2177 "Issue with umbralux and sponge"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-3002
- Forge version: 14.23.2.2611
- Java version:
- Operating System: linux

- Plugins/Mods: ctgui@1.0.0,extendedrenderer@v1.0,creativecoredummy@1.0.0,configmod@v1.0,jei@4.8.5.147,attributefix@1.0.1,mtrm@1.2.2.30,custommainmenu@2.0.8,contenttweaker@1.12.2-4.5.0,redstonepaste@1.7.5,subcommonlib@1.2.0.1,waystones@4.0.42,mcp@9

[2018-05-28 13:05] Whazaaaaa commented on #2173
@bloodmc  The errors and logs are always the same, but here is the world download as requested
[World download that has this crash/timeout on shutdown](https://www.dropbox.com/s/rtkre5x20xvfhz5/AdvRocketry%20Forge%202703%20shutdown%20fail.rar?dl=0)

I think the same thing happens for galacticraft( my error was with advanced rocketry)
Phits fix did indeed fix this like FiveEYZ said(edited the file

[2018-05-28 14:53] Jecvay opened #2178 "Some Chinese username could't be recognized as valid username."
- SpongeForge version: 1.12.2-2703-7.1.0-BETA-3119
- Forge version: 14.23.4.2703
- Java version: 1.8
- Operating System: Windows 10 1803

Some Chinese username could't be recognized as valid username.
as an example, when username='测试',
this issue happened.

is this issue relation with "com.google.common.base.Preconditions.checkArgument" ?

[code]

[2018-05-28 14:54] axin0452 commented on #2178
This is a very serious problem.

[2018-05-28 15:12] phit commented on #2178
am I missing something? usernames in minecraft are limited to

https://help.mojang.com/customer/en/portal/articles/928638-minecraft-usernames

[2018-05-28 15:47] gabizou commented on #2177
Could you test with the latest SpongeForge? It would require upgrading the Forge dependency, and I'm not sure whether your mods are dependent on the forge version specifically.

[2018-05-28 16:58] liach commented on #2178
vanilla can allow unicode usernames.

[2018-05-28 17:11] Aaron1011 commented on #2169
Here's the log that @MacKey-255 posted: https://gist.githubusercontent.com/Aaron1011/b173e94103c8f147c44b61418c18e4a7/raw/63be9e8be7fe967048750e5802e980e2d1c7486e/gistfile1.txt

[2018-05-28 17:41] FiveEYZ commented on #2173
sure we can add if statement or try/catch to go around the issue, but i guess the question is why the DIMs are not registered in the first place.

[2018-05-28 18:09] liach commented on #2178
@phit In China, there are Chinese usernames in the China version of Minecraft. https://minecraft.gamepedia.com/Minecraft_China

[2018-05-28 19:00] Tototi1 commented on #2177
the latest version of sponge not work for me, even with the latest version of forge

[2018-05-28 19:14] SawFowl opened #2179 "Thermal Dynamics, the chunks are not unloaded after they are left by the player."
**I am currently running**
- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-SNAPSHOT-43d8496
- SpongeForge: 1.12.2-2703-7.1.0-BETA-3119
- Minecraft Forge: 14.23.4.2703
- Java version:  openjdk version "1.8.0_171"
- Operating System: Ubuntu Server 18.04

- Plugins (24): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, HuskyCrates, Husk

[2018-05-28 19:33] XakepSDK commented on #2179
Report it to thermal dynamics tracker.

[2018-05-28 19:35] SawFowl commented on #2179
@XakepSDK
https://github.com/CoFH/Feedback/issues/1112#issuecomment-392589484

[2018-05-28 19:44] liach commented on #2178
@Jecvay 试试看名字长一点（三个字）能不能行

https://github.com/SpongePowered/SpongeCommon/blob/a17a93e23d7cc29bbcf69c3f8fb87b3265cc8a0d/src/main/java/org/spongepowered/common/service/user/SpongeUserStorageService.java#L60

[2018-05-28 19:45] bloodmc commented on #2179
Turn on chunk load/unload logging in Sponge's config and show us a log.

[2018-05-28 20:04] SawFowl commented on #2179
@bloodmc
[latest.log](https://github.com/SpongePowered/SpongeForge/files/2046071/latest.log)
[debug.log](https://github.com/SpongePowered/SpongeForge/files/2046072/debug.log)
[global.conf.txt](https://github.com/SpongePowered/SpongeForge/files/2046078/global.conf.txt)

[2018-05-28 20:43] bloodmc commented on #2179
@Mr-Krab Include all fml-* logs.

[2018-05-28 20:47] SawFowl commented on #2179
@bloodmc
Here is the entire folder with the logs of my test server.
[logs.zip](https://github.com/SpongePowered/SpongeForge/files/2046156/logs.zip)

[2018-05-28 20:57] phit commented on #2178
@liach forgot that they had a different auth system, thanks

[2018-05-28 22:32] liach commented on #2178
In fact @phit it should be username length difference. I am not sure if Chinese users can have 1 character user names.

[2018-05-29 01:30] Jecvay commented on #2178
@liach 可以的啦, 谢谢大神

[2018-05-29 06:28] bloodmc commented on #2136
The issue is caused by Pixelmon's GenericHoe class ALWAYS returning `EnumActionResult.FAIL` even when the item use succeeded. When this occurs, sponge performs a rollback causing the issue. Once Pixelmon returns the proper result of `EnumActionResult.SUCCESS`, there will be no issues with Sponge.

[2018-05-29 06:28] #2136 closed, assigned to nobody

[2018-05-29 06:46] XakepSDK commented on #2178
[code]

I even can't imagine, how this can be fixed.

[2018-05-29 06:59] Jecvay commented on #2178
@XakepSDK what did you mean ?

do you mean len("测试") == 2 is wrong or something else ?

[2018-05-29 07:04] ryantheleach commented on #2178
https://github.com/SpongePowered/SpongeCommon/blob/989a541950ef28198015e626dfe38fa5539cb9d6/src/main/java/org/spongepowered/common/service/user/SpongeUserStorageService.java#L60

If Mojang indeed allow usernames to be < 3 characters, it should be a pretty easy fix to just make sure it's a > 0 length username.

[2018-05-29 07:13] XakepSDK commented on #2178
@Jecvay just to be sure, that `测试` is 2 characters length string. For users from China this can be obvious, but not for me or any other developer that knows nothing about Chinese characters in unicode.
@ryantheleach only in China, iirc this issue.

[2018-05-29 07:21] MoeBoy76 commented on #2136
Thanks blood, completely missed that

[2018-05-29 08:24] ryantheleach commented on #2178
@XakepSDK My point was that we shouldn't set it to '2' just because we think, but don't have evidence of it being the minimum, 3 was clearly incorrect, and it was documented.

I think > 0 is fine for validation, and I also question if there are other issues in Sponge when dealing with the alternate authentication implementations. It may also have some unintended consequences potentially with NPC's

[2018-05-29 13:47] JBYoshi commented on #2099
This seems to have been fixed. I can't reproduce it on the latest SpongeForge build (3126).

[2018-05-29 15:04] gabizou commented on #2173
@FiveEYZ try with the newest SpongeForge with that commit from blood.

[2018-05-29 18:49] DatenThielt opened #2180 "Sponge seemingly eating errors"
Initially reported to EnderIO but not just an ender IO issue,  Sponge appears to be eating errors, making it near impossible to find out what the actual issue is,  Conciquence is that the console is being spammed with Sponge messages

`/* The PhaseState having an exception: TileEntityTickPhase */
/* The PhaseContext: */
/* - Owner: EntityPlayerMP['DatenThielt'/1193537, l='world', x=490.96, y=66.00