[2016-10-18 01:41] NyleGarcia commented on #950
fixed in #948

[2016-10-18 01:41] #950 closed

[2016-10-18 01:44] bloodmc commented on #948
@Bebabo10 OK there still seems to be a problem with hermit modpack. I'll have LemADEC create another ticket for it. I'll push the changes for this ticket shortly.
@LemADEC can you open a separate ticket for hermit? The original issue in this ticket has been resolved and I would like to keep these issues separate.

[2016-10-18 01:47] Bebabo10 commented on #948
@bloodmc thats strange its been reporting 20tps in console for /forge tps /sponge tps and /gc

[2016-10-18 01:54] bloodmc commented on #948
@Bebabo10 oh great! I'll try to figure out what issue LemADEC is experiencing then in a separate ticket. Thanks for the update.

[2016-10-18 01:57] NyleGarcia commented on #948
nvm all the mods is lagging but no block lag let me know if i can do anything to help you investigate on hermitpack @bloodmc

[2016-10-18 02:00] #948 closed

[2016-10-18 02:05] bloodmc commented on #946
Please test latest SF which should resolve the pixelmon toss issue as well.

[2016-10-18 02:07] Tencao commented on #954
Any news on this getting fixed? It's preventing me from using sponge at all

[2016-10-18 02:17] NyleGarcia opened #968 "Hermitpack lag issues"
@bloodmc @LemADEC  refrencing the hermit pack issue that wasnt resolved in ticket #948

hermit pack warmroast
[WarmRoasthermitpack.zip](https://github.com/SpongePowered/SpongeForge/files/535126/WarmRoasthermitpack.zip)
timings
https://timings.aikar.co/v2/?id=f11ff43a4cd447288ecfab1e069e7991

[2016-10-18 02:22] bloodmc commented on #968
@Bebabo10 Thanks, I'll investigate this further when I get some more time to spare =)

[2016-10-18 05:24] ghost commented on #948
Lag not returned. Thanks for fixing the issue!

[2016-10-18 06:01] bloodmc commented on #968
@Bebabo10 @LemADEC @hunter688 Please test
https://www.dropbox.com/s/9ll2aa9bi58ptwu/spongeforge-1.10.2-2098-6.0.0-BETA-0.jar?dl=0

Let me know if you notice a difference. I'm troubleshooting an odd issue with this pack.

[2016-10-18 07:28] Vauxite commented on #948
No lag for me, has been running for over 4 hours. Just an overpopulation of skeleton horses to deal with.

[2016-10-18 07:41] bloodmc commented on #968
Also here is a highly experimental async build

https://www.dropbox.com/s/oy4hu3h4j3cre9w/spongeforge-1.10.2-2098-6.0.0-BETA-async-test1.jar?dl=0

Make sure you backup your entire world before testing this build. DO NOT run in production, i'm not responsible if anything breaks =)

Let me know performance results from this build.

[2016-10-18 14:53] Vauxite commented on #857
Confirmed the bug running FTB Hermitpack 1.0.1 with spongeforge
[16:53:18] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: bleeding-SNAPSHOT-b550bfa
    SpongeForge: 1.10.2-2098-bleeding-BETA-0
    Minecraft Forge: 12.18.2.2098

[2016-10-18 15:00] bloodmc commented on #857
@Vauxite Test using LATEST SF build.

[2016-10-18 15:00] Siigari opened #969 "Spice of Life causing client crash when eating food after user dies. Repeatable."
Using Spice of Life 1.9.4-1.3.6.jar and AppleCore-mc1.10.2-2.0.1 on 1.10.2.

When I eat food before dying, food is processed normally.

When I eat food after dying, I crash with the following server log:

http://pastebin.com/7nPbwWQF

[2016-10-18 15:25] ProsperCraft commented on #946
The stopping the server taking minutes is now resolved thank you @bloodmc!
You are amazing!

Also the TPS issues have improved drastically.

[2016-10-18 15:28] Vauxite commented on #857
@bloodmc Does that include the tps fix in bleeding-beta?

[2016-10-18 15:29] bloodmc commented on #857
@Vauxite yes, my changes were merged.

[2016-10-18 15:43] bloodmc commented on #946
@ProsperCraft thanks, closing as this ticket should be resolved with latest builds.

[2016-10-18 15:43] #946 closed

[2016-10-18 15:45] bloodmc commented on #949
@Dysthymic Re-test with latest build as it should fix this issue.

[2016-10-18 16:11] dogboy21 commented on #857
Broken Spawners still don't drop with the latest SF build

[2016-10-18 16:47] ProsperCraft opened #970 "Fakeplayer Crash with Extra Utilities quarry."
When you create the Extra Utilities 2 Quantum Quarry multiblock and turn it on the server instantly crashes, this is repeatable, and does not happen when sponge is not on the server.

Complete Crash log -
http://pastebin.com/qcppLYPv

Relevant portion-
Description: Ticking block entity

[10:23:05] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: bleeding-SNAPSHOT-b550bfa

[2016-10-18 17:24] Vauxite commented on #857
Didn't fix the issue. Spawners still give me Spawner Shard when broken.

[2016-10-18 17:32] gabizou commented on #857
@bloodmc this is back to the HarvestDrops event not being fired correctly.

[2016-10-18 19:19] TheMrCaveman commented on #970
your server forge is not matching, sponge needs forge 2098

[2016-10-18 19:25] inklit commented on #965
This is also possible to do alone with TNT. A player on my server reported it and I mentioned it in IRC however I never got around to opening an issue.
It is a vanilla bug and also works in Forge.

[2016-10-18 20:52] LemADEC commented on #968
Using
forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2098-6.0.0-BETA-async-test1.jar
Nucleus-0.11.0-S5-1.10.2-plugin.jar
HermitPack 1.1.0 (newest beta)

The /home and /rtp commands fail to teleport unless chunks are already loaded.
The /minecraft:tp command works.
Once I teleport to the lag base (-88 91 742), I can /home to my home base (987 78 2078), but I'm still unable to teleport t

[2016-10-18 21:43] Siigari opened #971 "java.lang.NoClassDefFoundError: net/minecraft/client/gui/FontRenderer"
Immersive Engineering

http://pastebin.com/ujvTfWyX

[2016-10-18 21:45] squeek502 commented on #969
Relevant issue on the mod's issue tracker: https://github.com/squeek502/SpiceOfLife/issues/99

[2016-10-18 21:50] kashike commented on #971
This was an issue with Immersive Engineering which was fixed in https://github.com/BluSunrize/ImmersiveEngineering/commit/bbc17a499058534dde361835570ac96c8111b4af, and reported in https://github.com/BluSunrize/ImmersiveEngineering/issues/1614.

[2016-10-18 21:50] #971 closed, assigned to nobody

[2016-10-18 21:51] Siigari commented on #971
Why won't the server launch?

[2016-10-18 21:53] bloodmc commented on #968
@LemADEC Test the other build I posted as well as latest SF. The async build is highly experimental.

[2016-10-18 21:54] kashike commented on #971
Download a newer version of Immersive Engineering.

[2016-10-18 21:58] kashike commented on #969
Relevant issue on the AppleCore repository: https://github.com/squeek502/AppleCore/issues/78

[2016-10-18 22:03] LemADEC commented on #968
![image](https://cloud.githubusercontent.com/assets/4776032/19498039/5d9a7e0e-958f-11e6-8293-d6aee75add72.png)
TPS is still 20 after 90mn uptide, warmroast isn't happy.

[2016-10-18 22:06] Dockter commented on #971
Is that a font renderer class being attempted to be loaded on the server?  Someone dun screwed up.

[2016-10-18 22:16] LemADEC commented on #968
Trying now with spongeforge-1.10.2-2098-6.0.0-BETA-1819.jar

Teleportation works as expected.
Lag is present. Looks like Forestry bee hives are reloading chunks:
![image](https://cloud.githubusercontent.com/assets/4776032/19498444/2a240da4-9591-11e6-98d9-71489f7b13c1.png)

[2016-10-18 22:19] Dockter commented on #896
Spigot and Cauldron's world directories are NOT fine in the example given.

Here's the problem with this;

If a server is running and loses power, tons of things are not necessarily written to the disk, this includes but is not limited to server world files, server player files, dynmap files etc.  I have even seen plugins become corrupt.

I would hope that anyone runnign a server is smart enough t

[2016-10-18 23:48] simon816 commented on #969
Pretty sure this is a duplicate of https://github.com/SpongePowered/SpongeForge/issues/916

[2016-10-18 23:54] simon816 commented on #919
right, looks like something changed in recent versions.
I guess the sponge event bus should just ignore this event then

[2016-10-19 00:03] kashike commented on #969
https://github.com/SpongePowered/SpongeForge/issues/916

[2016-10-19 00:03] #969 closed, assigned to nobody

[2016-10-19 00:03] kashike commented on #916
https://github.com/squeek502/SpiceOfLife/issues/99
https://github.com/squeek502/AppleCore/issues/78

[2016-10-19 00:27] Aaron1011 commented on #970
@ProsperCraft: I can't reproduce this with the latest Spongeforge. Are you able to reproduce it with only Sponge and Extrautils (running the matching Forge version for Sponge).

[2016-10-19 05:22] ghost commented on #896
It is silly to buy a UPS because three files in one directory after power loss have zero size. Other tons of files are fine. The problem is that those files are always open for writing.

[2016-10-19 06:08] Vauxite commented on #968
There seems to be a chunkunloading issue.
https://timings.aikar.co/v2/?id=9e2213b1e5704b90ac0c4f7a7af1ab89

Version:
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-73050f3
    SpongeForge: 1.10.2-2098-6.0.0-BETA-1818
    Minecraft Forge: 12.18.2.2098

[2016-10-19 08:31] LemADEC commented on #968
After fixing Forestry beehive bugs, lag remains:
![image](https://cloud.githubusercontent.com/assets/4776032/19511287/fe29882c-95e6-11e6-84db-03f6ff672358.png)

To reproduce, I'm just doing a 10+ random teleportations to load parts of the map, including the lag base and mine.

[2016-10-19 08:38] LemADEC commented on #968
Highlights on the Sponge part on a 10mn acquisition:
![image](https://cloud.githubusercontent.com/assets/4776032/19511577/0e168158-95e8-11e6-830a-6cbe2e46f5aa.png)
![image](https://cloud.githubusercontent.com/assets/4776032/19511591/1bb9b49c-95e8-11e6-8771-f4833e9e53f9.png)

[2016-10-19 10:00] ghost commented on #965
Has anyone submitted a bug report to Mojang's JIRA?

[2016-10-19 14:24] bloodmc commented on #968
Test the following builds and report back

https://www.dropbox.com/s/59gzwvso8gko58w/spongeforge-1.10.2-2098-6.0.0-BETA-test1.jar?dl=0
https://www.dropbox.com/s/5stru9a51zmzf5u/spongeforge-1.10.2-2098-6.0.0-BETA-test2.jar?dl=0

Let me know which build is best and if both perform better than build 1819

[2016-10-19 15:34] ProsperCraft commented on #970
http://pastebin.com/DKL6emym

Different pack(hermitcraft) same crash

[09:09:59] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: bleeding-SNAPSHOT-b550bfa
    SpongeForge: 1.10.2-2098-bleeding-BETA-0
    Minecraft Forge: 12.18.1.2095

I will try with the latest spongeforge, will the change to API 6 break all of my plugins?

[2016-10-19 17:05] ProsperCraft commented on #970
[10:40:27] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-73050f3
    SpongeForge: 1.10.2-2098-6.0.0-BETA-1819
    Minecraft Forge: 12.18.2.2099

Tested with recommended forge and latest spongeforge, still crashing.
http://pastebin.com/QVHvbCXQ

[2016-10-19 17:30] NyleGarcia commented on #968
http://pastebin.com/ubAxthrM
when using test2 will share the warm roast next time we restart the build you gave us for all the mods has been running on just at certain times the server starts to drop in tps.

[2016-10-19 17:40] NyleGarcia commented on #968
[WarmRoast.zip](https://github.com/SpongePowered/SpongeForge/files/539777/WarmRoast.zip)

[2016-10-19 17:48] ProsperCraft commented on #798
This is still a problem with:

[11:24:24] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-73050f3
    SpongeForge: 1.10.2-2098-6.0.0-BETA-1819
    Minecraft Forge: 12.18.2.2099

[2016-10-19 18:22] Vauxite commented on #968
@bloodmc
Tested the 2nd one first,
https://timings.aikar.co/v2/?id=54b41389d49a4f04be4072fabe6ea2ba
Will test the other one on next restart.

[2016-10-19 20:35] NyleGarcia opened #972 "Random preformace dips using sponge"
[WarmRoastspongelagrandom.zip](https://github.com/SpongePowered/SpongeForge/files/540123/WarmRoastspongelagrandom.zip)

[2016-10-19 21:17] Aaron1011 commented on #970
@ProsperCraft: Can you list the exact steps you took to set up the quantum quarry? Mine was mining blocks without any problems (they appeared in the attached chest).

[2016-10-19 22:31] Eufranio opened #973 "[1.10.2] Never have hunger"
No matter what happen, death, a long sprinting time, regen, I never have hunger. The hunger bar won't never. The difficulty is hard, and started since I updated to SpongeForge build 1817.
Using Forge 1.10.2-12.18.2.2107

[2016-10-19 22:47] kashike commented on #973
Do you have any mods installed? Plugins?

[2016-10-19 22:50] Eufranio commented on #973
Yes. Mods: http://www.technicpack.net/modpack/magitech-server-beta-pack.883332/mods
Plugins: Nucleus, LuckPerms and GriefPrevention

[2016-10-19 23:12] LemADEC commented on #968
With beta-test1, lag is initially severely reduced during the first 10mn profiling:
![image](https://cloud.githubusercontent.com/assets/4776032/19538989/292ab5da-9657-11e6-8541-50ca02aca253.png)
then I've restarted the profiler (still no moving from my base), and we can see it's actually lagging (11mn profiling):
![image](https://cloud.githubusercontent.com/assets/4776032/19539319/0c4c8a4a-9659-11

[2016-10-20 00:20] axle2005 opened #974 "Botania Mana Pools - HermitPack"
We recently updated our SpongeForge version from:
spongeforge-1.10.2-2098-5.0.0-BETA-1788

to:
spongeforge-1.10.2-2098-6.0.0-BETA-1819

I also tried 1818, as we wanted a version after build 1815 for the Chunk support.

Following this update, dropping any items in a Botania Mana Pool produce the particles, but no item is dropped. Ive confirmed a few times nothing is picking up the items, even went

[2016-10-20 01:06] ProsperCraft opened #975 "Feature request - All plugin configs saved in a /pluginconfigs/ folder."
It would make updating modpacks much easier if all of plugins would save their configs in a pluginconfigs folder so we didn't have to do surgery on the configs folder every single update.  If they were all in one folder like the plugins are all in the /mods/plugins folder we can automate the copying of the folders with a script when we update the server.

[2016-10-20 01:46] Eufranio opened #976 "Boats moving too quickly"
When I use a boat, the message spams in the console:
`Boat (vehicle of Foxgameplays) moved too quickly! -6.97142847120449,0.0,7.49881407108262`
No issues without SpongeForge.

Forge 12.18.2.2107
SpongeForge 5.1.0-BETA-1814
Plugins: Nucleus, GriefPrevention and LuckPerms

[2016-10-20 02:39] kashike commented on #975
@Mumfrey https://github.com/SpongePowered/SpongeCommon/issues/427#issuecomment-171442512

https://github.com/SpongePowered/SpongeForge/commit/dc658830635ac4afc5f22ce6e8192911df2bfcf0 added support for adding an additional directory to load plugins from

[2016-10-20 05:10] bloodmc commented on #972
@Bebabo10 Stop creating new tickets. There is already a ticket for your issue
https://github.com/SpongePowered/SpongeForge/issues/968

[2016-10-20 05:10] #972 closed, assigned to nobody

[2016-10-20 05:59] Vauxite commented on #968
With Beta-TEST 1.
https://timings.aikar.co/v2/?id=ee04c44d92484561a29f5241068aaec4

[2016-10-20 18:15] ProsperCraft commented on #975
ok, so I read that very long and upsetting discussion where people who apparently don't run and maintain large server networks were fighting with people that actually do.  I am still confused as to where it all landed.

I don't see any mention of locations for configs/mods in the documentation yet.
In the thread I saw mention of maven-style formatting, this is programmer speak, I don't comprehend

[2016-10-20 19:57] Deamon5550 commented on #975
And its overly combative responses like that that forever drop this issue in priority.

[quote from SpongeCommon#427](https://github.com/SpongePowered/SpongeCommon/issues/427#issuecomment-171442512)

Simply asking what happened to this feature without flying off the handle and just being plain insulting would have been the correct way to phrase your above response.

(As for moving the plugins them

[2016-10-20 20:04] phit commented on #975
The documentation reads like it only applies to mods (referred to as plugins) and not configs?

[2016-10-20 20:06] Deamon5550 commented on #975
@phit That config is only for the plugins themselves, a new config entry to specify a root for the plugin configs is still required.

[2016-10-20 20:09] phit commented on #975
Okay, well that's at least half way there! Ignoring the tone of some people asking for this feature, I think their reasoning still holds some truth. I would love to see a config-dir config implemented in a similar manner at some point.

[2016-10-20 21:46] NyleGarcia commented on #975
Basically all we are asking for is the option to have plugins configs go into
./config/plugins/ and not ./configs
to mirror what they have done with plugins ./mods/plugins

or to have an option like \"${CANONICAL_MODS_DIR}/plugins\"" to redirect the configs of the plugins to where we see fit

[2016-10-20 21:56] NyleGarcia commented on #975
or to have it in ./config/sponge/plugins
@kashike

[2016-10-20 22:07] NyleGarcia commented on #976
that happens without sponge too

[2016-10-20 22:47] kashike commented on #975
Quote from @Mumfrey in https://github.com/SpongePowered/SpongeCommon/issues/427#issuecomment-171442512:

It will get done in the same fashion as the directory to load plugins from - as a configuration option. It's just a matter of someone either submitting a pull request, or someone on the core development team pushing a change.

[2016-10-20 23:15] NyleGarcia commented on #975
@kashike yes we see that that's not the issue the issue is that no one has made that pull request or pushed the change. It has been over 9 months since that conversation happened AND we have not seen what has been promised by @Mumfrey regarding this issue. #https://github.com/SpongePowered/SpongeCommon/issues/427

[2016-10-20 23:28] kashike commented on #975
Someone can feel free to submit a pull request Otherwise, wait for someone to push a change for this when someone has time.

[2016-10-21 02:17] inklit commented on #965
@octo-byte Considering this issue is fixed in 1.9 and above, I don't think it's necessary to submit this bug to Mojang's JIRA because they likely know about it.
Even if we did I doubt they would backport a fix to 1.8.9.

This needs to be fixed by Forge or Sponge, and Sponge is probably the best place to fix it.

[2016-10-21 13:19] bloodmc commented on #654
Fixed in commits
https://github.com/SpongePowered/SpongeCommon/commit/b810920e12ca40c5c98c37811eb8d341fe8d452a
https://github.com/SpongePowered/SpongeCommon/commit/1217e1d4628b2c8da21e5c632e5253715830bee9

[2016-10-21 13:19] #654 closed

[2016-10-21 22:16] LemADEC commented on #968
According to our players, spongeforge-1.10.2-2098-bleeding-BETA-TEST1 is better than spongeforge-1.10.2-2098-6.0.0-BETA-1823.
In both cases, chunk-gc was disabled, if that makes any sense.

Looks like the lag increase was in fact due to a buggy tile entity from Mekanism or QuantumTanks.

[2016-10-21 22:26] Eufranio opened #977 "[1.10.2] Players aren't able to use commands/chat using Forced Hosts"
I'm using a Sponge server in a Bungee network. When a player join the server trough Forced Hosts, he isn't able to use commands, or chat. Nothing appears in the logs (commands issued, errors, etc).

Using BungeeCord from HexagonMC
Forge 12.18.2.2107
SpongeForge 5.1.0-BETA-1814
Plugins: Nucleus, GriefPrevention and LuckPerms

[2016-10-21 22:44] NyleGarcia commented on #968
its looking like refined storage and sponge  may be causing the issue with hermit pack https://i.gyazo.com/49f7796102cb651250fcfc0871df10b9.png

[2016-10-21 22:58] NyleGarcia commented on #968
[WarmRoast.zip](https://github.com/SpongePowered/SpongeForge/files/545389/WarmRoast.zip)

[2016-10-21 23:28] bloodmc commented on #968
@Bebabo10 Does that lag occur everytime you go to a specific area? If so, upload your world so I can test it. I also have your old world, if you tell me the location I can see if it occurs.

Also, please test the same area with Forge only and let me know if lag persists.

[2016-10-21 23:46] bloodmc commented on #968
@Vauxite Looks like forestry's swarm is causing most of your lag. Is there a way you can setup a world with JUST forestry and try to reproduce the lag? I can then test it on my end.

[2016-10-22 00:00] NyleGarcia commented on #968
#https://github.com/raoulvdberge/refinedstorage/issues/492

[2016-10-22 00:06] NyleGarcia commented on #968
Found the issue now its at 20 tps again

[2016-10-22 00:19] bloodmc commented on #968
@Bebabo10 Please try the same issue without Sponge and let me know if it occurs. I'm curious if Sponge is causing the lag issue.

[2016-10-22 05:00] NyleGarcia commented on #968
https://www.dropbox.com/s/r4s2e79mjdwicak/world-hermitpack.zip?dl=1 hope you got good Internet its a 3.8gb world and will test without Forge tomorrow when player count is low

[2016-10-22 05:18] bloodmc commented on #968
@Bebabo10 What is the lag location?

[2016-10-22 07:48] StoneLegion opened #978 "CME on Chunk Load with Player Crashing the Server each time they login."
When exploring the world and generating new chunks we hit a CME that is on a crash loop every time the player logs in.

http://pastebin.com/2i4cj61F

Tested and crashed 5 times in a row.

[2016-10-22 08:02] #978 closed, assigned to nobody

[2016-10-22 08:03] bloodmc commented on #949
OK, assuming this issue is resolved. Re-open if it persists.

[2016-10-22 08:03] #949 closed

[2016-10-22 08:04] bloodmc commented on #968
@Bebabo10 @LemADEC @Vauxite @hunter688 Please test SF 1826. It should solve the chunk unloading issue where performance slowly declines. I also optimized a few areas for chunk lookups.

[2016-10-22 16:07] NyleGarcia commented on #968
@bloodmc What do you mean chunk lookup? and it is very difficult to find the source of the lag when your live testing ,will try to get tick profiler to work again to more easily find the locations.

[2016-10-22 16:11] Zidane commented on #968
@Bebabo10

Just test the newest build of SF. He wants to see if his changes make a lasting impact to your lag issues.

[2016-10-22 16:16] NyleGarcia commented on #968
@Zidane im already testing and warmroasting with that build im responding to

[2016-10-22 16:23] bloodmc commented on #930
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/952ca27921a25d5a1829e05070816f0d88c4afbb

[2016-10-22 16:23] #930 closed

[2016-10-22 16:23] bloodmc commented on #940
Fixed in commit
https://github.com/SpongePowered/SpongeCommon/commit/952ca27921a25d5a1829e05070816f0d88c4afbb

[2016-10-22 16:23] #940 closed

[2016-10-22 16:25] bloodmc commented on #978
This also fixed #930 and #940

[2016-10-22 17:57] LemADEC commented on #968
Forge Mod Loader version 12.18.2.2107 for Minecraft 1.10.2
Updating from spongeforge-1.10.2-2098-bleeding-BETA-TEST1.jar
to spongeforge-1.10.2-2098-6.0.0-BETA-1826.jar
No significant lag change is observed with no chunk-gc.
Activating chunk-gc increased noticeably the lag.

However, we've major dup bug with 1826:
Some items with multiple NBT tags are remaining in inventory slots when moving around

[2016-10-22 18:17] ghost commented on #968
Potion can confirm - its deleted when im in the survival mode - in the creative is dropped to ground. With press q works ok. Looks like something with drag&drop events...

[2016-10-22 18:21] TheMrCaveman opened #979 "server crashed while using the cyclic standard exchange cepter"
Sponge version 1.10.2 - 6.0.0-BETA-1826
Forge 1.10.2 - 12.18.2.2107

Server crash report: http://pastebin.com/N2FZ1WiD

[2016-10-22 18:32] ghost commented on #973
try without mods/plugins...

[2016-10-22 19:05] NyleGarcia commented on #968
can confirm these dupes

[2016-10-22 19:08] NyleGarcia opened #980 "AllTheMods preformance issues"
[WarmRoast.zip](https://github.com/SpongePowered/SpongeForge/files/545972/WarmRoast.zip)
@bloodmc

[2016-10-22 21:04] lilmoefow commented on #937
Also Having this issue on my Server.  I am not using RTG

FML Latest: https://gist.github.com/lilmoefow/8032533c48462c4b6e9be32e713324c2

Latest Log: https://gist.github.com/lilmoefow/65d9c575b7e2c1033c3613bd17034ab9

spongeforge-1.10.2-2098-5.1.0-BETA-1814.jar
forge-1.10.2-12.18.2.2098-universal.jar

[2016-10-22 21:16] bloodmc commented on #968
OK thanks, ill look into the inventory issues.

[2016-10-22 21:38] ProsperCraft opened #981 "Performance issues - org.spongepowered.common.event.tracking.TrackingUtil.tickTileEntity()"
mekanism.common.block.BlockBasic.getActualState

[15:11:31] [pool-3-thread-28/INFO]: There are 19/40 players online.

[15:10:55] [Server thread/INFO]: World [world-hermitpack](DIM0) TPS: 11.934, Mean: 83.796ms
[15:10:55] [Server thread/INFO]: World [DIM-1](DIM-1) TPS: 20.000, Mean: 4.117ms
[15:10:55] [Server thread/INFO]: World [DIM1](DIM1) TPS: 20.000, Mean: 2.115ms
[15:10:55] [Server thread/INFO

[2016-10-22 21:56] ProsperCraft commented on #981
![e3bff4e48fa3cc612b695afe96788ca5](https://cloud.githubusercontent.com/assets/4427684/19622791/f700ad60-986f-11e6-8c3a-2129e5e24685.png)

[WarmRoast.zip](https://github.com/SpongePowered/SpongeForge/files/546058/WarmRoast.zip)

   SpongeAPI: 6.0.0-SNAPSHOT-cebc736
    SpongeForge: 1.10.2-2098-6.0.0-BETA-1823
    Minecraft Forge: 12.18.2.2099

[2016-10-22 22:51] gabizou commented on #979
My best guess is that a new world was created which didn't exist before, only reason why completing the worlds processing would fail. If you can explain what was going on and how to reproduce, that'd be great.

[2016-10-22 23:22] iKurama opened #982 "SpongeForge bug"
Mods and versions
(Sponge itself is the cause of the dupe, tried without.)
AutoRegLib-1.0-2
Psi-r1.0-41
FTBLib-1.10.2-3.0.0.4
FTBUtilities-1.10.2-3.0.0.3
spongeforge-1.10.2-2098-6.0.0-BETA-1824

https://www.youtube.com/watch?v=QjcXGl8KEEU
(Happened at an unknown sponge version)

So yesterday I tried it again (On hermitpack, which is the new hype apparently), just SpongeForge with HermitPack. I cou

[2016-10-23 00:04] ryantheleach commented on #982
https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/item/ItemCAD.java#L126

So from what I can gather, when the item is activated, it's launching a ~~projectile~~ EntityThrowable
https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/entity/EntitySpellProjectile.java#L38

and when it lands, somewhere in the SpellContext eventually

https://github.com/Vazkii

[2016-10-23 01:21] bloodmc commented on #968
Please try SF 1830 and let me know if that fixes your inventory issues.

[2016-10-23 02:06] ProsperCraft commented on #981
More tracking tileentity, but this time with Forestry.

![a23e71812c3cf0bb8fee217972183bf4](https://cloud.githubusercontent.com/assets/4427684/19623721/eaedd854-9892-11e6-99c4-7fb91fb2102c.png)
[WarmRoast-forestry.zip](https://github.com/SpongePowered/SpongeForge/files/546134/WarmRoast-forestry.zip)
![a23e71812c3cf0bb8fee217972183bf4]

![e3bff4e48fa3cc612b695afe96788ca5](https://cloud.githubuserco

[2016-10-23 02:12] LemADEC commented on #968
@bloodmc We've just rebooted with spongeforge-1.10.2-2107-6.0.0-BETA-1830.jar
Still using Forge Mod Loader version 12.18.2.2107 with no chunk-gc

The dup bugs is gone but some items are unmoveable like:
- weaponcase:weaponsword with 6 NBT tags (from previous test)
- ic2:jetpack with 0 NBT tags (empty, from creative items list)
- ic2:jetpack with 1 NBT tags (fillled, from creative items list)
- ic2

[2016-10-23 02:15] LemADEC commented on #968
I'm still able to move/delete those items while in creative mode.

[2016-10-23 02:51] ProsperCraft commented on #981
Fully Updated.

![64582d52eb2cbaa3776f317e8ddab357](https://cloud.githubusercontent.com/assets/4427684/19623805/e89a2f3e-9898-11e6-9257-37831f9af101.png)

[WarmRoast.zip](https://github.com/SpongePowered/SpongeForge/files/546145/WarmRoast.zip)

[code]

![6f762174f32b0fc5ddfe93218eeda24f](https://cloud.githubusercontent.com/assets/4427684/19623811/572d359a-9899-11e6-8214-face6747e872.png)

[2016-10-23 03:09] bloodmc commented on #982
@iKurama update to SF 1830+

[2016-10-23 03:09] #982 closed, assigned to nobody

[2016-10-23 03:30] ProsperCraft opened #983 "Some drops are not dropping"
[code]

Players are reporting the followig items are not dropping with sponge enabled.

Actually additions bat wings and solid xp
Enderio broken spawners

[2016-10-23 04:26] bloodmc commented on #981
@ProsperCraft Please test the following build

https://www.dropbox.com/s/kyoc1ypfkkvrsmy/spongeforge-1.10.2-2107-6.0.0-BETA-test1.jar?dl=0

Set chunk-gc-tick-interval to 1 and set chunk-unload-delay in config to 0.

[2016-10-23 04:26] ProsperCraft commented on #974
Same problem here on versions

[code]

[2016-10-23 04:28] bloodmc commented on #968
@Bebabo10 @LemADEC @Vauxite @hunter688
Test the following build
https://www.dropbox.com/s/cy7jrrrznm0bq91/spongeforge-1.10.2-2107-6.0.0-BETA-0.jar?dl=0

Set chunk-gc-tick-interval to 1 and set chunk-unload-delay in config to 0. The main cause of lag with chunk gc enabled was the unload delay causing too many chunks to be queued for unload so setting this to 0 will force the unload to happen right

[2016-10-23 04:41] NyleGarcia commented on #981
well that build just broke my base lol https://gyazo.com/f0e2a333f718adcfa8f1204efdc5980d

[2016-10-23 04:43] bloodmc commented on #981
@Bebabo10 can you come on IRC to test further?
https://webchat.esper.net/

channel #sponge

[2016-10-23 07:00] ghost commented on #968
potion fixed with 1830

[2016-10-23 10:46] LemADEC commented on #968
We've updated to spongeforge-1.10.2-2107-6.0.0-BETA-0.jar
and changed chunk-unload-delay to 0

Inventory issue persist with IC2 Jetpacks and weaponcase:weaponsword. No other inventory issue in sight so far.
Lag is still present.
Profiler shows some IC2 cable reloading chunks:
![image](https://cloud.githubusercontent.com/assets/4776032/19625653/bd84df5c-991e-11e6-8494-e6d568a0110c.png)

[2016-10-23 11:53] Vauxite commented on #974
Confirmed running:
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-cebc736
    SpongeForge: 1.10.2-2107-6.0.0-BETA-0
    Minecraft Forge: 12.18.2.2098

[2016-10-23 13:09] LemADEC commented on #983
That Sponge version has known inventory issues.

[2016-10-23 13:36] axle2005 commented on #974
It is at minimum any version after 1815 (Just to save some people some time), which means all the 6.0.0 API builds. We current;y are using 1808, which still has Botania working.

[2016-10-23 16:28] bloodmc commented on #983
@LemADEC This is not the build, it's been a known issue for awhile

dupe #857

[2016-10-23 16:28] #983 closed, assigned to nobody

[2016-10-23 17:48] Aaron1011 commented on #974
This should be fixed in build 1831 onwards.

[2016-10-23 17:48] #974 closed, assigned to nobody

[2016-10-23 17:58] LemADEC commented on #968
We had a server hang with spongeforge-1.10.2-2107-6.0.0-BETA-0.jar
- There was no response on console
- Warmroast and Java debug tools were unable to connect
- kill -3 <pid> had no effect either
- forced server heap dump is available but only 28MB and fails to load in Eclipse MAT

A few minutes before that, one player was unable to move his ic2:bronze_leggings. I couldn't reproduce it with my inve

[2016-10-23 19:37] TheMrCaveman commented on #979
With the standard exchange cepter you can exchange blocks that you touch with the cepter with blocks from your own inventory. You can set it to 1 block, 3x3, 5x5, 7x7, or 9x9. It worked with 1 block. So i tried 3x3 exchanged stone with dirt and server crashed.

4 people here on the server tried to reproduce it but failed doing so. But we found this cepter to be very bugy. It works first few times

[2016-10-23 20:39] bloodmc commented on #864
@Pymous set max-tick-time to -1 and update to latest SF.

[2016-10-23 20:39] #864 closed

[2016-10-23 20:40] bloodmc commented on #957
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/952ca27921a25d5a1829e05070816f0d88c4afbb

[2016-10-23 20:40] #957 closed

[2016-10-23 20:41] bloodmc commented on #869
@Rasgnarok Unable to reproduce this with latest SF builds.

[2016-10-23 20:41] #869 closed

[2016-10-23 22:23] ProsperCraft commented on #974
Confirmed fixed, thank you!

[2016-10-23 23:13] IBGnova opened #984 "TP Void Glitch. [1.8.9 Sponge Forge]"
Hello,

I have posted this on the sponge forums but I figured it wouldn't hurt to post it here. Players are getting stuck in the void sometimes when they tp, it is quite random but I am told it is due to the chunks not loading around the player before they tp. We have tested quite a bit with it and it does seem to only happen when a player TPs to somewhere that is not loaded. I have tried everythi

[2016-10-23 23:35] IBGnova commented on #965
Any new news on this?

[2016-10-24 03:12] ProsperCraft commented on #857
Dragon's breath from the roots mod is also not dropping from the ender dragon

[2016-10-24 03:19] gabizou commented on #981
The specific fix for this has already been added in a recent commit. The specific issue in this case has been querying for the "virtual" `BlockState` of a `TileEntity`, which some mods end up costing quite a bit of processing for being called so often. Eliminating the method call and using the default block state that is serialized is the solution, which @bloodmc has provided.

The remainder of pe

[2016-10-24 03:19] #981 closed, assigned to nobody

[2016-10-24 03:22] gabizou commented on #968
Just going to mention that the API 5 bleeding version is not the same as API 5 stable version.

Another note: I do have a distaste for Torcherino, mostly because it masks performance by calling additional tile updates:

![torcherino](https://puu.sh/rTxuK/c670410bd5.png)

As an example, this is calling neighboring blocks updates, including blocks that generally are unperformant, even if harmless (s

[2016-10-24 06:40] ghost opened #985 "[1.10.2] Ender IO fakeplayer error in console"
[08:27:41] [Server thread/ERROR] [Sponge]: No entity type is registered for class crazypants.enderio.machine.FakePlayerEIO

SF:
1.10.2-2107-6.0.0-BETA-1830
EnderIO:
1.10.2-3.0.1.120_beta

[2016-10-24 06:42] bloodmc commented on #980
@Bebabo10 Please test SF 1835 and report back.

[2016-10-24 06:44] bloodmc commented on #968
@Bebabo10 @LemADEC @Vauxite @hunter688 Please test SF 1835 and report back. Also make sure to test with chunk-gc-tick-interval enabled as I've fixed the major issue causing slowdowns with it. Feel free to experiment as well with chunk-unload-delay between 0-30.

[2016-10-24 06:46] NyleGarcia commented on #968
@bloodmc fixed in build 1835

[2016-10-24 06:51] ghost commented on #985
found similar error for ic2:

[08:51:47] [Server thread/ERROR] [Sponge]: No entity type is registered for class ic2.core.Ic2Player

[2016-10-24 07:20] LemADEC commented on #968
For the record, Torcherino was disabled in all my testings.

Lag base still remains chunkloaded, lag is getting better but it's still present on this 2 mn profiling:
![image](https://cloud.githubusercontent.com/assets/4776032/19636645/d1ecbc7e-99ca-11e6-97c6-5c1bf139fdf3.png)
![image](https://cloud.githubusercontent.com/assets/4776032/19636653/e830f9c8-99ca-11e6-992d-ef1462bd25f3.png)
This is with

[2016-10-24 10:35] StoneLegion opened #986 "Tinkers Tools vanish after retrieving them from the Place item Feature from Draconic."
**Current version is:**
forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2107-6.0.0-BETA-1835.jar

Without Sponge It Works Fine!

If you use the place item feature:
https://i.imgur.com/HEJTbNb.png

From Draconic and place Tinkers Tool like a Hammer on anything like a wall.

https://i.imgur.com/seUYf1O.png

When you pick it up the item vanishes and does not go in the inventory.

Server co

[2016-10-24 11:44] TheMrCaveman commented on #986
They also disapear if you throw them @ another player!!

[2016-10-24 16:42] Siigari opened #987 "Issue regarding Spice of Life and Sponge"
http://pastebin.com/W6vM5Q30

This issue occurs after a player dies and then eats with Spice of Life installed. It generates an internal server error.

[2016-10-24 16:47] gabizou commented on #798
@ProsperCraft Can you re-test with 1836?

[2016-10-24 16:52] ProsperCraft commented on #916
We are also having this issue on our Allthemods server using the same versions, and spongeforge 1834

[2016-10-24 17:13] ProsperCraft commented on #798
Resolved! This issue can now be closed.

[2016-10-24 17:27] Zidane commented on #987
That trace really doesn't show anything to do with Sponge. Have you tested this without Sponge installed? Need way way more details. Need Forge build numbers/Spice of Life version/Sponge build numbers.

[2016-10-24 17:28] ProsperCraft commented on #798
@gabizou players are reporting that items are still remaining in their inventores with 1836.

[2016-10-24 17:29] Zidane commented on #977
This needs further testing on your end by testing with just that mod, Forced Hosts, and SpongeForge.

[2016-10-24 17:30] simon816 commented on #987
Known issue with AppleCore, see https://github.com/SpongePowered/SpongeForge/issues/916

[2016-10-24 17:30] Zidane commented on #976
This happens without Sponge as I've confirmed it.

[2016-10-24 17:30] #976 closed, assigned to Aaron1011

[2016-10-24 18:26] gabizou commented on #987
Duplicate of #916.

[2016-10-24 18:26] #987 closed, assigned to nobody

[2016-10-24 18:29] NyleGarcia commented on #968
nvm #981  https://timings.aikar.co/v2/?id=98743f8f4ccb43c0b8f7ef3109cc9c83&start=1477331947&end=1477332061&section=lag IC2 tile entities and refined storage again

[2016-10-24 18:43] #968 closed, assigned to nobody

[2016-10-24 18:44] bloodmc commented on #968
@LemADEC TrackingUtil simply wraps around each TE tick so we can capture relevant information and the real slowdown is with whatever TE it is showing so I would report to the mod dev as that is not a sponge issue.

Report any performance issues with refined storage here

https://github.com/raoulvdberge/refinedstorage/issues

[2016-10-24 19:12] bloodmc commented on #879
closing as there has been no response for over a month.

[2016-10-24 19:12] #879 closed

[2016-10-24 20:15] Aaron1011 commented on #985
@hunter688: That's my bad - it really should be logged at `WARNING`, instead of `ERROR`.

Those messages all appear to be from various types of 'fake players' from different mods. As long as the mods use them correctly, and don't spawn them into the world, everything should be fine.

[2016-10-24 20:15] #985 closed, assigned to nobody

[2016-10-24 20:20] ProsperCraft commented on #918
Just verified, this is still happening in
    SpongeAPI: 6.0.0-SNAPSHOT-cebc736
    SpongeForge: 1.10.2-2107-6.0.0-BETA-1837
    Minecraft Forge: 12.18.2.2107

[2016-10-24 20:36] #798 closed

[2016-10-24 21:15] #986 closed, assigned to Aaron1011

[2016-10-24 22:42] LemADEC commented on #968
@bloodmc My concern is about java.utils.ArrayList.removeAll taking 14% CPU. To me this indicates chunks are in constant reloading.
On server we had to disable chunk-gc again because lag was way worse with it (more than 150ms per tick).
I wish we had a mod/plugin monitoring 'fast chunk reloads' to help identify such bogus behavior.

Have we considered reimplementing the Cauldron (?) trick that disa

[2016-10-24 23:46] #980 closed, assigned to nobody

[2016-10-24 23:46] NyleGarcia commented on #980
#968

[2016-10-25 00:22] bloodmc commented on #968
@LemADEC Set the following in your config

mob-spawn-range 4
chunk-gc-tick-interval 1
chunk-unload-delay 0
max-chunk-unloads-per-tick=100
auto-save-interval 6000

If the issue still occurs, turn on debug logging by setting the following to true
chunk-load=true
chunk-unload=true
log-stacktraces=true

Once this is done, simply execute
/sponge reload -g
This will refresh the global config.
Note: This

[2016-10-25 00:54] LemADEC commented on #968
@bloodmc  timings isn't a valid sub command when I type "/sponge timings" or "/sponge timings -g"

To reproduce quickly, I go the lag base (same world and coordinates I've posted last week: -99 91 753), then do 20 times /rtp (using Nucleus plugin, with 30 attempts at 3000 radius), then go back to my base.

[2016-10-25 01:11] bloodmc commented on #968
@LemADEC For sponge timings the command would be

/sponge timings on
wait a few minutes
/sponge timings paste

When done with timings,
/sponge timings off

I still need the output from the chunk load/unload debug. Follow what i said above and report back with the logs.

[2016-10-25 01:27] LemADEC commented on #968
@bloodmc Server console logger crashed due to the spam so I couldn't get the timings. Here's the logs:
It probably crashed too soon after enabling logs to see much, I'll try again later this week with a larger buffer.

[2016-10-25 01:27] LemADEC commented on #968
Please remove the link once you've got it.

[2016-10-25 01:54] bloodmc commented on #968
@LemADEC Thanks, I was able to reproduce the issue. Working on a fix.

[2016-10-25 05:20] bloodmc commented on #968
@LemADEC Turns out some logic was wrong in my chunkgc handler. I'll be pushing a fix shortly =) Looks like everything is working perfectly now, just need to test a bit more.

[2016-10-25 07:56] bloodmc commented on #968
@LemADEC Please test latest build and confirm that the lag is fixed. I would recommend keeping the chunk delay at around 15. There were problems with this in earlier builds due to the ChunkGC logic not being correct. I also introduced some optimizations to fight against mods that leak chunks.

[2016-10-25 10:10] StoneLegion opened #988 "Redstone Duping Bug."
This is a strange one. Throwing Redstone from the inventory dupes it. But I can't seem to find other items that also dupe just Redstone.

Can't repeat it if I remove Sponge.

spongeforge-1.10.2-2107-6.0.0-BETA-1840.jar
forge-1.10.2-12.18.2.2107-universal.jar

Mod Pack:
https://minecraft.curseforge.com/projects/sandbox-2

Video:
https://www.youtube.com/watch?v=WOccWRMM5r8

[2016-10-25 10:48] Eufranio commented on #916
Progress?

[2016-10-25 13:37] Zidane commented on #916
@Eufranio

We will get to it when we get to it. It isn't a very easy issue to solve.

[2016-10-25 16:31] bloodmc commented on #968
I'm pushing a better build, so just wait for next one.

[2016-10-25 17:43] bloodmc commented on #968
@LemADEC @Bebabo10 @Vauxite @hunter688 Please test SF 1841. It should solve this issue once and for all =). Before you run the build, make sure you change the following defaults in config

chunk-gc-tick-interval - 600
chunk-unload-delay - 15

The chunk gc will now run once every 30 seconds to cleanup any chunks that leaked. The chunk unload delay is only for player chunks (doesn't affect leaks). S

[2016-10-25 17:46] NyleGarcia commented on #977
sponge provides full use with waterfall bungee and a few others that i have tested

[2016-10-25 19:31] StoneLegion opened #989 "Eye of Ender Causes Error executing task and does not execute."
Here is the server log:
http://pastebin.com/JABx02Tt

Works fine without Sponge.

spongeforge-1.10.2-2107-6.0.0-BETA-1840.jar
forge-1.10.2-12.18.2.2107-universal.jar

Mod Pack:
https://minecraft.curseforge.com/projects/sandbox-2

[2016-10-25 20:49] StoneLegion opened #990 "Nether Portals don't load chunks at remote location and causes really odd teleporting mechanics."
We are having really crazy things happening right now with Nether Portals. If someone is at the other end or if the chunks are loaded it works fine. But if no one is loading the chunks they exit out random locations and no portal is made as well.

It's a mess :)

spongeforge-1.10.2-2107-6.0.0-BETA-1840.jar
forge-1.10.2-12.18.2.2107-universal.jar

Mod Pack:
https://minecraft.curseforge.com/projects

[2016-10-25 20:58] #990 closed, assigned to nobody

[2016-10-25 21:09] Aaron1011 commented on #988
@KaneHart: Can you try to narrow this down to the mod or mods that this occurs with? In particular, take a look at the mod that's adding the `EMC` tooltip to the redstone.

[2016-10-25 21:57] StoneLegion commented on #988
EMC Tooltip would be Project E but it also adds it on many other things and has no dupes to them.

I can try playing around with it later but sadly only happens with sponge and without Sponge no issues.

[2016-10-26 04:59] YuRaNnNzZZ commented on #988
I have same issue with BetterWithMods, as the "Hardcore Buoy" feature from it using [custom item entity](https://github.com/BeetoGuy/BetterWithMods/blob/master/src/main/java/betterwithmods/entity/item/EntityItemBuoy.java).

[2016-10-26 06:57] StoneLegion commented on #988
I don't use BetterWithMods myself. So it looks like multiple mods might be triggering this.

[2016-10-26 16:10] NyleGarcia opened #991 "Droping items from any side of inventory causes them to not be droped but be voided"

[2016-10-26 16:15] thyraxx commented on #991
I had the same issue, after testing I came to the conclusion it's SpongeForge, by using 1.10.2 - 6.0.0-BETA-**1840** it's solved, but if you update to 1.10.2 - 6.0.0-BETA-1843 (newest version right now) the bug is back again. So i'll be using SpongeForge 1.10.2 - 6.0.0-BETA-1840 for a while.

[2016-10-26 16:30] NyleGarcia commented on #991
#https://github.com/SpongePowered/SpongeForge/commit/a9936719c1886dd3fb0435e89e90cb2af012296d

[2016-10-26 17:17] bloodmc commented on #991
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/ea3a08e3611c83877616b6186249a3750c087f14

[2016-10-26 17:17] #991 closed, assigned to nobody

[2016-10-26 17:59] ProsperCraft opened #992 "Server Crash - elec332.core.grid.v2.AbstractGridHandler.checkChunkLoad(AbstractGridHandler.java:171)"
https://github.com/Elecs-Mods/ElecCore/issues/65#issuecomment-256422978

This server crash does not occur with sponge disabled.

[2016-10-26 18:04] ProsperCraft commented on #992
Then I re-enabled sponge and he was able to log in....so may not be clearly sponge.

[2016-10-26 20:08] Tencao commented on #954
I know this issue is being looked into, but I want to say that it wasn't a plugin that specifically caused this problem. After testing and removing all plugins, it turned out a mod was causing this problem, which is weird. the mod in question was https://mods.curse.com/mc-mods/minecraft/229598-ice-shards

[2016-10-26 22:18] JBYoshi commented on #954
This is a Forge bug (although plugin-meta should probably be updated with the fix when it comes). [`Restriction.toString()`](https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/fml/common/versioning/Restriction.java#L184) does not take into account identical lower and upper bounds, so (in this case) it returns `[${version},${version}]` when it should retur

[2016-10-26 22:49] Symsyr opened #993 "Villagers possibly causing a crash"
https://gist.github.com/Symsyr/7074efa26c1af516d54acce81a9541fa

[2016-10-26 23:36] ProsperCraft opened #994 "Null ItemType when processing Torcherino pre-merged drops"
https://gist.github.com/ProsperCraft/813dfd9bd6ba7a9e851cb72982d5cc79

Blood said @gabizou might want to see this.

[code]

[2016-10-27 02:28] gabizou commented on #993
Can you link the modpack?

[2016-10-27 02:36] Symsyr commented on #993
It is in HermitPack.  We had an issue with Forestry and had to remove it, which should have removed the villagers as well but Sponge is still recognizing them.

[2016-10-27 02:36] Symsyr commented on #993
HermitPack 1.1.0, stable release and not Beta

[2016-10-27 02:52] gabizou commented on #993
Wait, so Forestry added the villagers and now they're not available so it's crashing?

[2016-10-27 06:31] bloodmc commented on #967
@hunter688 @FiveEYZ This is not an issue with only Sponge/GP installed. Please determine what mod is causing this issue so I can fix.

[2016-10-27 06:47] Symsyr commented on #993
Yes, but it is only crashing when sponge is running, which is the odd part.  I have been running the server without sponge for the last 5 hours with no crashes.

[2016-10-27 07:07] bloodmc commented on #967
This turned out to be a GP bug.

[2016-10-27 07:07] #967 closed, assigned to nobody

[2016-10-27 07:38] Symsyr commented on #993
I deleted my sponge level.dat just now and went to a village that was known to crash it, it is still standing.  Doing some more testing now

[2016-10-27 07:41] ghost commented on #967
Works now as expected! Many thanks!

[2016-10-27 12:19] ProsperCraft opened #995 "Players unable to log in to a world that is unloaded"
https://github.com/NucleusPowered/Nucleus/issues/449

[2016-10-27 12:26] ProsperCraft commented on #992
Please re-open, mod author is pointing back here.

[2016-10-27 15:38] LemADEC commented on #968
The lag appears to be gone for the most part. Here's a timings report about
10mn after my lag stress test:
https://timings.aikar.co/v2/?id=8dff316c281143f988b370fb5217590e

Sadly, we're observing a lot of IC2 crashes since we've deployed the latest
fix. The pattern was there before when players where dismounting IC2
consumers. It's a bit too soon to conclude if the last sponge changes are
causing

[2016-10-27 17:35] Vauxite commented on #922
Confirmed with this version.

Minecraft 1.10.2
spongeAPI: 6.0.0-SNAPSHOT-cebc736
SpongeForge 1.10.2-2107-6.0+.0-BETA-1836
Minecraftforge 12.18.2.2107

[2016-10-27 17:38] Vauxite commented on #857
Still a problem in:
Minecraft 1.10.2
spongeAPI: 6.0.0-SNAPSHOT-cebc736
SpongeForge 1.10.2-2107-6.0+.0-BETA-1836
Minecraftforge 12.18.2.2107

[2016-10-27 17:39] Vauxite commented on #798
Stilla problem with:
Minecraft 1.10.2
spongeAPI: 6.0.0-SNAPSHOT-cebc736
SpongeForge 1.10.2-2107-6.0+.0-BETA-1836
Minecraftforge 12.18.2.2107

[2016-10-27 18:37] ProsperCraft commented on #798
Update to 1846 its fixed.

[2016-10-27 18:47] bloodmc commented on #968
@Player any idea why the above would happen so I can check our end?

[2016-10-27 18:47] bloodmc commented on #968
@sfPlayer any idea why the above would happen so I can check our end?

[2016-10-27 19:06] Aroma1997 commented on #968
That crash is caused by an IC2 addon not using the API correctly. My guess: calculator.
In a newer build of IC2, we changed that to log the error instead of crashing the game. Try updating your IC2 version.

[2016-10-27 19:48] bloodmc commented on #781
This is no longer an issue in latest 1.10.2 builds.

[2016-10-27 19:48] #781 closed

[2016-10-27 19:51] bloodmc commented on #799
@Eufranio @inklit is this still an issue with latest SF 1.10.2 builds?

[2016-10-27 19:52] Eufranio commented on #799
Not here.

[2016-10-27 19:57] Aaron1011 commented on #799
Oops, sorry.

[2016-10-27 20:16] lilmoefow commented on #798
GraveStone Mod 1.5.8.jar
forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2107-6.0.0-BETA-1846.jar

Can Confirm it is Fixed.

[2016-10-27 20:34] lilmoefow commented on #857
forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2107-6.0.0-BETA-1846.jar
EnderCore-1.10.2-0.4.1.56-beta.jar
EnderIO-1.10.2-3.0.1.120_beta.jar

Yeup still an issue in these versions aswell,  If i can provide anything else to help just let me know.

[2016-10-27 21:37] inklit commented on #799
I can't test with 1.10.2, but it is still an issue for 1.8.9.

[2016-10-27 21:41] Eufranio commented on #799
Elevators from RFTools are working here, but Robots from OpenComputers are duped. Steps to reproduce:
1. Place a Robot (I'm using Creatix):
   ![cda5481a1295428cb090c5a9b9b746d3](https://cloud.githubusercontent.com/assets/17598280/19786325/2d26b546-9c7c-11e6-9586-1f2b590c4ebf.png)
2. Open, turn on and enter in the LUA terminal using `lua` command:
   ![cda5481a1295428cb090c5a9b9b746d3](http://imag

[2016-10-27 22:21] ProsperCraft opened #996 "Unable to load single player with spongeforge."
https://paste.ee/p/wwcY6

Steps to reproduce- make a modpack with the three mods listed, it starts fine, add sponge, it will not start.

[2016-10-28 00:43] ProsperCraft commented on #996
https://www.dropbox.com/s/0q73wsjlim77x61/CorrelatedPotentialistics.zip?dl=1

Here is the modpack I made to test a bug that flushed this one out.  it has 4 mods(including sponge)

[2016-10-28 04:31] LemADEC commented on #968
This is from the FTB HermitPack 1.1.0 version, Calculator isn't part of that pack. However TechReborn and Mekanism are in.
Will the log give a block name or at least a mod name so we know where to look for?

[2016-10-28 09:54] Vauxite opened #997 "Mekanism Fusion reactor reset"
**Hello**

**Problem**
The mekanism fusion reactor resets after each server restart. Both the reaction inside it and the fuel-input blocks.

**How to reproduce**
1. Build a reactor.
2. Start fusion
3. Restart server
4. Fuel pipes disconnected and reaction has stopped

**Versions**
-     Minecraft: 1.10.2
-     SpongeAPI: 6.0.0-SNAPSHOT-cebc736
-     SpongeForge: 1.10.2-2107-6.0.0-BETA-1850
-     M

[2016-10-28 12:59] bloodmc commented on #997
@Vauxite Provide a test world with only mekanism so I can debug it on my end.

[2016-10-28 13:11] bloodmc commented on #799
@Eufranio Please test again with latest SF and GP.

[2016-10-28 14:38] simon816 commented on #992
I need exact steps to reproduce this otherwise I can't investigate,

[2016-10-28 14:47] chasem-dev opened #998 "Upon login, can't move. 1.10.2 Sponge 1841"
So whenever I log in, and other users login. We are instantly glitching, and the screen flickers constantly. It looks as if it's teleporting us in between two different locations almost. This has been going on for a while for me up from 1.8.9 builds even. This might be relevant to #995 ?

[2016-10-28 15:42] Vauxite commented on #997
Sorry, couldn't reproduce with only mekanism.

[2016-10-28 15:42] #997 closed, assigned to nobody

[2016-10-28 16:15] Darktilldawn commented on #998
I can confirm I have the same issues on my server. 1.10.2, pixelmon 5.0.0 beta10, latest sponge and forge.

Sent from my iPhone

[2016-10-28 20:00] Whazaaaaa opened #999 "Unable to interact with certern items (using Hermitpack)"
I'm running a FTB Hermitpack 1.2.1 and I'm having a problem with not being able to interact with a few items.
One of the items I have this problem with is the IC2 Electric Jetpack and also weapons from the WeaponCaseLoot mod. When I click the item to move it elsewhere (different inventory/crafting bench, etc) it de-selects the item. So I am unable to move this item from the place it is at in my in

[2016-10-28 20:43] Symsyr commented on #993
Okay, still seems to happen but when I run without Sponge, everything is fine

[2016-10-28 22:06] Aaron1011 commented on #999
@Whazaaaaa: Can you see if this happens with just IC2/WeaponCaseLoot and Sponge?

[2016-10-28 22:21] bloodmc commented on #995
@ProsperCraft fixed in latest build.

[2016-10-28 22:24] bloodmc commented on #998
@Xwaffle1 @Darktilldawn Have you tested SF 1853+ ?

[2016-10-28 22:35] Aaron1011 commented on #996
@ProsperCraft: I can't seem to reproduce the issue with the mdopack and the latest version of Sponge. Can you retest with the latest SpongeForge bleeding for 1.10?

[2016-10-28 22:45] ProsperCraft commented on #999
I was not able to replicate with Hermitpack 1.1.0.

I did have a user submit this though!
https://youtu.be/ogNfKkgOwBg

versions -
    SpongeAPI: 6.0.0-SNAPSHOT-f247c80
    SpongeForge: 1.10.2-2107-6.0.0-BETA-1853
    Minecraft Forge: 12.18.2.2114

[2016-10-28 23:14] ProsperCraft commented on #857
Guardian scales do not drop from elder guardians (or normal ones) in multiplayer, but in single player they drop 3 per elder guardian and 1 for each few normal guardians. https://www.youtube.com/watch?v=wLANjiEyios https://www.youtube.com/watch?v=7sQiWVCCrqE

Versions-
SpongeAPI: 6.0.0-SNAPSHOT-f247c80
SpongeForge: 1.10.2-2107-6.0.0-BETA-1852
Minecraft Forge: 12.18.2.2114

[2016-10-29 00:18] ProsperCraft commented on #996
Still an issue with spongeforge-1.10.2-2107-6.0.0-BETA-1853

https://gist.github.com/ProsperCraft/3c545ae6c1c08f9ad6a708e1da326c61

[2016-10-29 00:20] ProsperCraft commented on #995
This is still an issue with 1853

[2016-10-29 00:33] bloodmc commented on #995
@ProsperCraft Remove all mods/plugins EXCEPT Sponge/Nucleus and retest.
1. /world create myworld
2. /world teleport myworld
3. Disconnect
4. /world unload myworld
5. Reconnect
   Works as expected

[2016-10-29 01:30] Whazaaaaa commented on #999
@Aaron1011 I've created my own server with only IC2 WeaponCaseLoot and Sponge and everything works as it should. Also the video that ProsperCraft posted, thats the same that happens when I try to move the IC2 jetpack or weaponcaseloot items.

[2016-10-29 09:13] IBGnova commented on #984
Is there anyway to get a fix for this, this is causing major problems on my server.

[2016-10-29 12:52] atakle opened #1000 "Sponge limits the function of Botania sparks."
Sponge seems to impose a limit on the number of sparks that can be connected to each other.

The image below shows a simple mana pool setup. The spark in the lower left corner has a recessive augment, and the spark on the opposite side has a dominant augment.
![nosponge](https://cloud.githubusercontent.com/assets/6999276/19829616/cfbb6b56-9de6-11e6-9ef7-59f039c97422.png)

The second image shows th

[2016-10-29 13:29] Aaron1011 commented on #1000
@atakle: Can you describe how i would replicate this setup on a fresh world?

[2016-10-29 13:51] atakle commented on #1000
Place down the mana pools and place a spark on each of them. Right click one spark with a "Spark augment: Dominant" and the opposite one with a "Spark augment: Recessive". To start the mana transfer, drop a creative mana tablet into the pool with the recessive spark.

[2016-10-29 15:29] NyleGarcia commented on #1000
Can confirm this with sponge only having the same issue

[2016-10-29 15:38] NyleGarcia commented on #896
This may not even be a sponge issue it's possible just a data loss issue and I wouldn't recommend and server to be hard rebooted /unplugged for it can cause more damage. Also preform backups

[2016-10-29 16:31] #1000 closed, assigned to nobody

[2016-10-29 16:34] Aaron1011 commented on #1000
@atakle @Bebabo10: The issue was due to Sponge's collision configuration system. By default, Sponge only allows a block or entity to collide with 8 other entities at a time (it limits how many results are returned from `getEntitiesWithinAABB`). However, Sparks need all collisions within the AABB to function, so I've added a default config setting which disables collision limiting for Sparks.

You'

[2016-10-29 16:44] Aaron1011 commented on #994
@ProsperCraft: Can you reproduce this consistently? If so, please list the steps to do so.

[2016-10-29 16:56] Aaron1011 commented on #994
This mod actually [ticks other tileentities](https://github.com/sci4me/Torcherino/blob/1.10.2/src/main/java/com/sci/torcherino/tile/TileTorcherino.java#L109) during its update method. This will absolutely wreak havoc on Sponge, which needs to be able to control tileentity ticking in order for its tracking system to work.

Honestly, I don't think that mod can ever really be compatible with Sponge.

[2016-10-29 16:59] Aaron1011 commented on #925
This has been fixed in the latest SpongeForge/SpongeVanilla.

[2016-10-29 16:59] #925 closed

[2016-10-29 19:37] ProsperCraft opened #1001 "Server crash after disabling AE2"
Modpack Allthemods 1.40b

https://gist.github.com/ProsperCraft/26d950bb43a8fae2c1d9aafeacff4486
https://gist.github.com/ProsperCraft/d745e32c6eed802bc89408dd47f6ab2c
https://gist.github.com/ProsperCraft/26d950bb43a8fae2c1d9aafeacff4486

Once I disable sponge it no longer crashes.

[2016-10-29 20:01] ProsperCraft commented on #998
Is this only happening with Pixelmon?

[2016-10-29 20:13] #1001 closed, assigned to nobody

[2016-10-29 20:41] ProsperCraft commented on #1001
I love you!

[2016-10-29 21:00] ProsperCraft commented on #1001
Completely resolved our issue.

[2016-10-29 22:20] atakle commented on #1000
Thank you. However, this issue also affects Corporea sparks, which use a different entity ID. It can be fixed the same way, by adding "botaniacorporeaspark" to the config. I believe Master Corporea Sparks use the same ID as normal Corporea Sparks, so they don't need special treatment.

[2016-10-30 00:53] ProsperCraft opened #1002 "Mod incompatibility - Scrolling does not move items properly."
https://minecraft.curseforge.com/projects/item-scroller

https://www.youtube.com/watch?v=TiCKJA1FQZw

[2016-10-30 00:53] ProsperCraft commented on #1002
This does not happen in single player, or when sponge is disabled on the server.

[2016-10-30 02:16] ProsperCraft commented on #857
Still an issue with

[code]

[2016-10-30 03:39] ProsperCraft opened #1003 "Abyssalcraft Asorah will not appear."
Relayed from one of our players-
Unable to summon Asorah, The fallen from Abyssalcraft.  I am able to summon it just fine on single player.  Its the dragon in the abyssal wasteland dimension.  Without it you cannot progress in that mod.  After doing the ritual you can see the health bar for a brief moment then it disappears.
Basically you make the ritual altar in the Abyssal Wasteland dimension.

[2016-10-30 04:16] ProsperCraft commented on #1003
We disabled sponge on the server and verified it is working without it.

[2016-10-30 04:17] ProsperCraft commented on #992
There are no steps, certain players log in and the server crashes...we disable sponge and it doesn't

[2016-10-30 04:29] ProsperCraft commented on #992
Also once the server starts crashing due to this issue, it happens every time they log in.

But...once you disable sponge, let them log in, then re-enable sponge they can log in without crashing the server.

[2016-10-30 04:32] Mattabase opened #1004 "Biomes OP Crash"
https://gist.github.com/2685cd8366afa1ff5ddb60950b0299aa

Crash when running Build 1856

[2016-10-30 07:49] bloodmc commented on #1004
Delete your sponge config so it can regenerate fresh as it has corrupted entity activation entries. You can find this config in ./config/sponge

[2016-10-30 07:49] #1004 closed, assigned to nobody

[2016-10-30 15:08] ProsperCraft opened #1005 "Console Null pointer when opening the Cooking for Blockheads Cooking Table"
https://gist.github.com/ProsperCraft/8e25f3f3948dfda42467fe9336f57384

Every time I open the Cooking table ingame it throws this null pointer in console, when I disable sponge it no longer does it.

[code]

Modpack: Hermitpack 1.2.1

CookingForBlockheads_1.10.2-4.2.16

Caused by: java.lang.NullPointerException
        at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:213) ~[m

[2016-10-30 15:54] ProsperCraft opened #1006 "Server crash java.lang.OutOfMemoryError: Java heap space at org.spongepowered.common.event.tracking.PhaseContext.addBlockCaptures"
https://gist.github.com/ProsperCraft/0684d5e4442884e99ab39bd9ef829b18

java.lang.OutOfMemoryError: Java heap space
    at org.spongepowered.common.event.tracking.PhaseContext.addBlockCaptures(PhaseContext.java:131)
    at org.spongepowered.common.event.tracking.TrackingUtil.tickTileEntity(TrackingUtil.java:195)
    at net.minecraft.world.WorldServer.redirect$onUpdateTileEntities$zjj000(WorldServer

[2016-10-30 16:02] Pepejson opened #1007 "Aether & SpongeForge - crash when generating DIM for Aether"
Tried to run Aether [c82b52eb](https://git.gildedgames.com/GildedGames/Aether-II/commit/c82b52eb783848420ca05a2e1344527ad5d67cc5) with Forge 12.18.2.2099 and SpongeForge 1.10.2 - 6.0.0-BETA-1844.
It crashed during Aether dimension creating.
About a week or two ago I successfully ran Sponge with Aether but unfortunately cannot find the version numbers which worked. If I'll find them I'll edit this

[2016-10-30 16:24] ProsperCraft opened #1008 "Server Crash - Block facing problem Random things"
https://gist.github.com/ProsperCraft/058d72e8d3db633d340f2834b42405f2

Description: Ticking block entity

java.lang.IllegalArgumentException: Cannot get property PropertyDirection{name=facing, clazz=class net.minecraft.util.EnumFacing, values=[down, up, north, south, west, east]} as it does not exist in BlockStateContainer{block=minecraft:air, properties=[]}
    at net.minecraft.block.state.BlockS

[2016-10-30 17:30] ProsperCraft commented on #995
Verified that it still happens when plugins are disabled entirely and only sponge.
Doing your next steps now.

[2016-10-30 17:42] ProsperCraft commented on #995
I had no problems logging in after the world was unloaded.

Deleting spongeconfigs for the world the player can't log in to and letting them regen.

[2016-10-30 18:02] Mohron opened #1009 "[Dupe] WeaponCaseLoot"
Sponge: spongeforge-1.10.2-2107-6.0.0-BETA-1856.jar
Forge: forge-1.10.2-12.18.2.2114-universal.jar
Mod: weaponcaseloot-1.10.2-4.0.1.jar

The mod add 4 item cases that when activated in your hand begin to roll from the loot pool. If you move a weapon case while it is rolling, it creates another weapon case and you still get the rolled item. Doesn't seem to affect the bow and bauble cases and I'm no

[2016-10-30 18:11] ProsperCraft commented on #995
Still can't log in if you log out in the gather world which was created pre sponge fix.

Tomorrow we are scheduled to wipe that world so we will recreate it then.

[2016-10-30 18:15] ProsperCraft commented on #995
So here is something odd, I bet this will help.

When this happens you actually log into the game, other players can see you, but your client still says "Logging in..."

I had a player teleport to me in the gather world and they can see me, yet I still can't log in.

So perhaps not a chunk loading issue?

[2016-10-30 22:17] Pepejson commented on #1007
This time it was caused by Aether II. If you want to look what they have to do to fix it, here's the issue on their GitLab - all infos there.
https://git.gildedgames.com/GildedGames/Aether-II/issues/198

[2016-10-30 22:17] #1007 closed, assigned to nobody

[2016-10-30 23:02] xf57212 opened #1010 "CommandBlock requires OP to modify"
I was told in https://github.com/PEXPlugins/PermissionsEx/issues/2572 that this is an issue in Sponge.

Apparently sponge doesn't support /op when a permissions plugin is installed and that nothing in sponge should look at the ops list. However this is not the case.

When right clicking a command block, the ops list is checked. EssentialsCmds seems to also be checking for OP as it sets my name pre

[2016-10-30 23:05] gabizou commented on #992
Can you provide some of the latest crash logs? Also is it only with ElecCore?

[2016-10-30 23:21] Aaron1011 commented on #1010
Sponge adds the permission `minecraft.commandblock` - try granting yourself that.

[2016-10-31 01:54] LemADEC commented on #992
Please remove the link once you've downloaded it

[2016-10-31 02:29] gabizou commented on #1006
That's an OutOfMemoryError. Not something sponge will throw or cause directly. Is this happening consistently?

[2016-10-31 03:05] ProsperCraft commented on #1006
https://gist.github.com/ProsperCraft/b7f8d1e071e162f05885b14dc146f473
https://gist.github.com/ProsperCraft/aeabbb49701a83a587452cef1e54982b

Was not happening until the update to Hermitpack 1.2.1

[2016-10-31 03:06] ryantheleach commented on #1010
Also to clarify "op not being supported" The reason why it's not supported, is anything on the plugin side / game side of things should be querying for permissions, this allows you to separate out the different roles and responsibility.

/op still works. It is just interpreted by the permissions service however it wants, in the base game with only the default permissions service it should be grant

[2016-10-31 03:06] Mattabase commented on #1004
Thanks for response. Yeah got it all fixed on my end by deleting the config.

I am wondering though, is this in an issue that was caused by a mod, or on sponges end?
Should I do something to avoid this in the future or do I just do this every time it happens?

[2016-10-31 03:11] ProsperCraft commented on #1006
We have 12 gigs set for the pack.

It might be be related to the memory leaks in the pack.

The ram does a lot of spiking then back down.

[2016-10-31 03:19] ProsperCraft commented on #992
Latest crash logs are found here-
https://github.com/Elecs-Mods/ElecCore/issues/65#issuecomment-256422978

[2016-10-31 06:09] gabizou commented on #1006
@ProsperCraft It feels like it's not so much a sponge issue still, but could you post a screenshot of the memory timeline? I wouldn't be surprised that there are some mods that updated in the pack that are either having bad object churn or a legitimate memory leak.

[2016-10-31 06:18] ghost commented on #1010
use /minecraft:op playername

[2016-10-31 06:19] ghost opened #1011 "console warning about inventory"
[07:16:43] [Server thread/WARN] [Sponge]: Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{windowId=4, slotId=9, usedButton=5, actionNumber=124, clickedItem=null, mode=QUICK_CRAFT}

SF build 1856

[2016-10-31 06:56] #727 closed

[2016-10-31 07:31] Vauxite opened #1012 "TC Souldbound deleted on death"
**Problem**
Soulbound tinker construct tools are deleted on death

**How to reproduce**

1. Create a soulbound tinkerconstruct tool by adding a netherstar.
2. Die a vanilla death
3. TC tool is not in grave or player inventory

**Versions**
-     Minecraft: 1.10.2
-     SpongeAPI: 6.0.0-SNAPSHOT-f247c80
-     SpongeForge: 1.10.2-2107-6.0.0-BETA-1856
-     Minecraft Forge: 12.18.2.2107

[2016-10-31 07:52] bloodmc commented on #922
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/4be85ed231ccedd8326761f0aa314b65b21749ae

[2016-10-31 07:52] #922 closed

[2016-10-31 07:53] bloodmc commented on #1012
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/de1daa0f2e30c1c34e0d4ca2602731946be73c23

[2016-10-31 07:53] #1012 closed, assigned to nobody

[2016-10-31 08:15] ProsperCraft commented on #1006
memory timeline from the timings?

[2016-10-31 08:25] bloodmc commented on #973
@Eufranio test latest SF build.

[2016-10-31 10:25] Aaron1011 commented on #1011
@hunter688: Were you doing anything in particular (such as left or right-click dragging items in an inventory) to reproduce this?

[2016-10-31 10:26] ghost commented on #1011
Idk howto reproduce :(

[2016-10-31 11:52] ghost commented on #1011
looks like its during crafting workbench:

[12:50:13] [Server thread/WARN] [Sponge]: Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{windowId=0, slotId=2, usedButton=5, actionNumber=8, clickedItem=null, mode=QUICK_CRAFT}
[12:50:13] [Server thread/WARN] [Sponge]: Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{windowId=

[2016-10-31 13:13] maxanier opened #1013 "[1.10.2] Problems with EntityAttributeModifiers"
Hello,

there seems to be an issue with (Player) EntityAttribute modifiers.

**Short version:** Attribute Modifiers that are applied during EntityJoinWorld events change the base value of that attribute when the player dies.

**Long version:** _I'm having trouble explaining this well, but hopefully the following explains the problem enough._

My mod Vampirism applies attribute modifiers (e.g. heal

[2016-10-31 17:07] ProsperCraft commented on #1006
https://gist.github.com/ProsperCraft/c570affba55dc8dfd64e60c72ff2885b

This is from the Allthemods server as opposed to the hermitpack server before, the memory issue wasn't happening before, but I updated both packs so its possible it could be from one of the mods that updated in both of the packs.

[2016-10-31 17:52] ghost opened #1014 "naturally spawned creepers give no damage"
when naturally spawned creeper explode, explosion give me no damage
(gamerule mobgriefing is false)

when spawn creeper using spawn egg, all works as expected

[2016-10-31 18:26] bloodmc commented on #1013
I'll be recreating the player object in SF in order to support Forge's PlayerEvent.Clone. Ticket will be open until I push a fix.

[2016-10-31 18:36] ghost commented on #1011
steps to reproduce:

open inventory, take 4 wooden planks
press right mouse button, and move around hand crafting slots, when released, 4 lines appear in the console

[2016-10-31 18:38] ghost commented on #1011
just FYI - server is behind bungeecord (waterfall)

[2016-10-31 19:26] #1011 closed, assigned to nobody

[2016-10-31 19:41] #1005 closed, assigned to nobody

[2016-10-31 19:49] Aaron1011 commented on #1009
@Mohron: Can you try again with the latest SpongeForge? I'm unable to reproduce this using the latest build of SpongeForge.

Also, are you running any plugins/mod besides WeaponCaseLoot?

[2016-10-31 19:54] Aaron1011 commented on #1014
@hunter688: I can't seem to reproduce this - I'm still damaged by naturally spawned creepers with `mobGriefing` set to `false`.

Are you running any plugins that might prevent the damage from occuring (GriefPrevention, perhaps)?

[2016-10-31 19:57] ghost commented on #1014
yes running GP

[2016-10-31 19:59] Aaron1011 commented on #1014
@hunter688: See if you can reproduce this with only Sponge.

[2016-10-31 20:01] Aaron1011 commented on #918
In this specific case, the message is becoming very long due to the amount of nested Text objects created, which serialize to a lot of nested JSON.

The best solution is probably to just try and cut down on the complexity of the built `Text` object. I don't think there's really any good way for the implementation to split up a long text object. At a minimum, it would require splitting it over mult

[2016-10-31 20:08] kashike commented on #918
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/command/SpongeCommand.java#L490-L506
Removing the hover action would be a good start - show plugins, click to get details (version, etc).

[2016-10-31 20:15] ProsperCraft commented on #918
Or...it would be really cool if it only showed plugins ;)
In running modpacks you can care less what version of the mods you are running because the modpack keeps that up to date, and if you are maintaining the mods you will just look at the filenames not mouse over ingame.
As a user I don't want to see mods when I type /plugins
If you really want to show mods make a /mods command?

[2016-10-31 21:12] ghost commented on #1014
looks like when updated SF, GP problem solved

[2016-10-31 21:12] #1014 closed, assigned to nobody

[2016-10-31 21:17] ProsperCraft opened #1015 "Chickenbones Enderpouch crash"
Is it possible this is sponge? The mod was added after we completed our forge only testing phase.

https://github.com/TheCBProject/EnderStorage/issues/22

[2016-10-31 21:51] Vauxite opened #1016 "Crash on join."
Feel free to close this ticket if you think this issue is not related to spongeforge.

**Problem:**
Server crash on a specific player joining.

**Crashlog**
Copied from console: http://pastebin.com/UgHPjY7q
Crashlog in crash-reports http://pastebin.com/Gt7YHjc3

**How to reproduce:**
- No clue. Tried this so far without being able to reproduce:
- I tried copy his player dat file.
- Log into the sa

[2016-10-31 23:01] Deamon5550 commented on #1016
Duplicate #992

[2016-10-31 23:01] #1016 closed, assigned to nobody

[2016-10-31 23:42] lilmoefow opened #1017 "Issue with Crossroads"
There seems to be a dupe glitch with the mods Crossroads (https://mods.curse.com/mc-mods/minecraft/250231-crossroads-mc).

When placing the gears from that mod, they get placed in world but the item is not used up from the Inventory.  The grears then can be broken with a pick axe, to retrieve a second copy of the gear.

spongeforge-1.10.2-2107-6.0.0-BETA-1862.jar
forge-1.10.2-12.18.2.2107-universa

[2016-10-31 23:48] lilmoefow opened #1018 "Error With Ender Compas"
There is an error happening on load up with Ender Compass preventing it from working.   I have installed it to help players find the strong hold because Eyes of Ender still are not working with the current releases of Sponge.

Server Log http://pastebin.com/Ac7rNLCX

spongeforge-1.10.2-2107-6.0.0-BETA-1862.jar
forge-1.10.2-12.18.2.2107-universal.jar
EnderCompass-1.9.x-1.2.3.2.jar

I think that log

[2016-11-01 02:08] ryantheleach opened #1019 "Skeleton Horse Trap does not spawn riders. SF only."
Ran into this issue when testing something unrelated. Skeleton trap explodes as expected but has no rider. Spawned naturally.

Recreated this in SpongeVanilla using command "/summon EntityHorse ~ ~ ~ {SkeletonTrap:1}"
SV creates riders as expected.

Client reports

[code]

Reconnecting doesn't fix.

Tested on :
[code]

[code]

[2016-11-01 02:20] ryantheleach commented on #937
Unable to reproduce without any mods other then Sponge.

Unknown if world was generated with SF or SV however.

Tested on

[code]

[code]

[2016-11-01 02:21] ryantheleach commented on #989
Possible duplicate:
https://github.com/SpongePowered/SpongeForge/issues/937

[2016-11-01 02:21] ryantheleach commented on #1018
Mentioned Eye of Ender issue: https://github.com/SpongePowered/SpongeForge/issues/937

[2016-11-01 03:04] ryantheleach commented on #713
Still relevant on latest SF bleeding. But valid issue on SpongeVanilla.

[code]

Tested on:
https://github.com/SpongePowered/SpongeForge/commit/9274acaaf90a192c10fe1fc43aeffe559e32a7bf

and Sponge Vanilla

[code]

[2016-11-01 06:47] ghost commented on #896
Setting auto-player-save-interval and auto-save-interval to higher values solves my issue.

[2016-11-01 06:47] #896 closed

[2016-11-01 08:51] Aroma1997 commented on #968
If you update your IC2 version, it will.

[2016-11-01 18:38] Vauxite opened #1020 "AA Solidified Experience"
**Problem**:
Solidified Experience is very rare compared to single player environment.

**How to reproduce/test:**
1.  Create a sword with looting 3 (not required but makes it easier)
2. Spawn or find closest zombie.
3. Kill said zombie.

**Version:**
-     Minecraft: 1.10.2
-     SpongeAPI: 6.0.0-SNAPSHOT-f247c80
-     SpongeForge: 1.10.2-2107-6.0.0-BETA-1860
-     Minecraft Forge: 12.18.2.2107

[2016-11-01 18:40] ProsperCraft commented on #857
Also Draconic Evolution hearts don't drop when killing the ender dragon which stops progress in the draconic evolution mod.

[code]

[2016-11-01 18:57] ProsperCraft commented on #995
Still having this issue with a world created with

[code]

[2016-11-01 19:13] ProsperCraft commented on #995
This is a gamebreaking issue please re-open.

[2016-11-01 20:08] Deamon5550 commented on #995
Start removing mods to find out which one is causing this, because as stated above it works fine with just sponge.

[2016-11-02 02:30] acidjazz opened #1021 "draconic rev - ender dragon not dropping hearts, end crystals indestructable"
I don't know why #933 was just closed and not separated when these are still ongoing issues the past month

This has been confirmed and when sponge is not active this works, we get no dragon heart which is a huge part of draconic evolution

[2016-11-02 07:20] #736 closed

[2016-11-02 07:20] #916 closed

[2016-11-02 07:20] #1013 closed, assigned to nobody

[2016-11-02 16:10] maxanier commented on #1013
Awesome, that make things cleaner and easier, thanks :)

[2016-11-02 19:07] LemADEC opened #1022 "Some value was null from a block snapshot"
As reported initially on Prism plugin here: https://github.com/prism/Prism/issues/49#issuecomment-257933152

[2016-11-02 19:17] Aaron1011 commented on #1019
@ryantheleach: Can you test on the `6.0.0-SNAPSHOT` builds? I can't reproduce it on the very latest SpongeForge.

[2016-11-03 00:07] ryantheleach commented on #1019
Unable to reproduce in 6.0.0-SNAPSHOT

[2016-11-03 00:07] #1019 closed, assigned to nobody

[2016-11-04 00:28] bloodmc commented on #998
Closing as this does NOT happen with latest builds.

[2016-11-04 00:28] #998 closed, assigned to nobody

[2016-11-04 00:30] bloodmc commented on #988
@KaneHart Please test latest SpongeForge build and let me know if it still occurs.

[2016-11-04 04:58] Hiroku opened #1024 "Forge BlockPlace/Destroy events broken (unable to get previous BlockSnapshots)"
So, the BlockBreak event is not firing at the same time (I think) as when running without SpongeForge. When a block is broken, the goal is to swipe the block snapshot before that block was destroyed. But, that snapshot reads in as air. In the picture below, `preBlock` is a serialized air block, when it should be whatever block was there before.
![2](https://cloud.githubusercontent.com/assets/17847

[2016-11-04 05:28] #1024 closed, assigned to nobody

[2016-11-04 11:00] ziceptor opened #1025 "[pool-4-thread-6/WARN]: Couldn't look up profile properties for com.mojang.authlib.GameProfile@5dd1237b"
forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2107-6.0.0-BETA-1864.jar

Continuously spamming in the console.
http://pastebin.com/93b0p0Eh

[2016-11-04 15:47] Zidane commented on #1025
Duplicate: https://github.com/SpongePowered/SpongeCommon/issues/958

[2016-11-04 15:47] #1025 closed, assigned to nobody

[2016-11-05 06:16] bloodmc commented on #1021
@gabizou
I realized that we need to always fire DropItemEvent.Destruct even if nothing is captures. This is due to Forge always firing their LivingDropsEvent even though nothing was captured. This mod adds the drops during this event but since it never gets fired, it drops nothing.

[2016-11-05 06:45] #1021 closed, assigned to bloodmc

[2016-11-05 06:50] bloodmc commented on #973
This shouldn't be an issue in latest builds.

[2016-11-05 06:50] #973 closed, assigned to nobody

[2016-11-05 18:45] phit opened #1026 "ExU2 Redstone Clock Tracking Crash Loop"
put my server in a crash loop just now, I'll ask the player in question for reproduction steps once I can reach them
[crash-2016-11-05_14.37.47-server.txt](https://github.com/SpongePowered/SpongeForge/files/573436/crash-2016-11-05_14.37.47-server.txt)

updating to latest sponge didn't fix the crashloop either, had to remove the block
[crash-2016-11-05_14.41.29-server.txt](https://github.com/Sponge

[2016-11-05 19:08] #857 closed

[2016-11-05 19:41] phit commented on #1026
picture of setup that caused it http://i.imgur.com/I5quce5.png
theres a single piece of redstone on top of the clock
removing the redstone clock from extra utilities 2 resolved the issue, can't reproduce the crash without sponge

[2016-11-05 20:04] Aaron1011 commented on #1026
@phit: Can you post your `global.conf` here?

[2016-11-05 20:04] phit commented on #1026
just found this

[code]

I assume setting it to false will resolve the issue?

[2016-11-05 20:05] Aaron1011 commented on #1026
@phit: `RedstoneClock` needs to be set to `true`. Why did you change it?

[2016-11-05 20:05] lilmoefow commented on #1017
Issue still happening with these versions.  Going to report to  the crossroads devs now as well and see if they have any input on it.

forge-1.10.2-12.18.2.2107-universal.jar
spongeforge-1.10.2-2107-6.0.0-BETA-1872.jar
crossroads-1.10.2-1.1.8.jar

[2016-11-05 20:06] phit commented on #1026
it is set to true, hit ctrl+enter on accident while i was pasting
just found the line and was about to set it to false

[2016-11-05 20:07] Aaron1011 commented on #1026
@phit: That's a bizarre error you're having. Can you join `#spongedev` on EsperNet to discuss this further?

[2016-11-05 23:10] FiveEYZ opened #1027 "[1.10.2] Issue with Correlated Potentialistics"
Getting this error when trying to add items to a Correlated Potentialistics system

when i try to shift-click an item/s it will say that the item/s got added but it wont get removed from my inventory, later i can remove that same item i tried to add from the system and effectively "dupe" the item/s.
http://pastebin.com/raw/FuSEd6x8

this does not happen in singleplayer

Minecraft: 1.10.2
SpongeAPI

[2016-11-05 23:27] lilmoefow opened #1028 "Server/Client sync issue with PSI"
Not sure how to really explain this one, i may record a small video if necessary.  When placing the Casting Assistant Device into a chest, it will leave a ghost version of it in your inventory, sometimes leading to it to be duped.   Also if you open your inventory and happen to accidentally "drop" or throw the C.A.D. onto the ground, it can leave a ghost version of it in you inventory either causi

[2016-11-06 01:55] FiveEYZ commented on #799
only 1 issue remain with RFTools elevator the, the first issue where the blocks would get duped is gone.

Instead now it will leave a "ghost" block to the client, if u destroy it it wont change for other clients looking at the same block/s and the block/s wont drop (unless you destroy a block in the elevator at the floor its currently at).

[2016-11-06 06:45] StoneLegion commented on #988
Still happening with the latest build and even latest forge, latest mods, etc :)

@bloodmc

[2016-11-06 07:31] Eufranio commented on #1028
Happens only with PSI stuff?

[2016-11-06 14:35] inklit opened #1029 "BlockPosTable NBT Server Crash/Map Corruption"
On my server, there is a chunk that presumably has a really large BlockPosTable which is causing the server to crash.

Loading the area around 6013.00, y=71.00, z=2416 immediately crashes the server with this error message.

[code]
Using spongeforge-1.8.9-1890-4.2.0-BETA-1762.jar

[2016-11-06 14:42] inklit commented on #1029
I am still fiddling around with NBTExplorer in the chunk in question to see if I can uncorrupt it but have had no luck so far.

http://switchcraft.pw/r.11.4.mca is the file so you can see what might be wrong.

EDIT: I ended up rolling back the region file from my last backup - however this issue still persists.

[2016-11-06 16:27] lilmoefow commented on #1028
So far, i have only noticed it happening with the C.A.D.

[2016-11-06 16:31] Vauxite commented on #999
This is still a problem running:
SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 6.0.0-SNAPSHOT-bd88c91
    SpongeForge: 1.10.2-2107-6.0.0-BETA-1870
    Minecraft Forge: 12.18.2.2107

[2016-11-06 17:09] agarb7 opened #1030 "infinite-water-source=false doesn't work"
Config option `infinite-water-source=false` doesn't work.

Demo of problem: http://www.filehosting.org/file/details/616081/2016-11-07_00-53-45.mp4

Mods set:
![javaw_2016-11-07_01-02-38](https://cloud.githubusercontent.com/assets/8955838/20039818/028def54-a486-11e6-8ab1-17be66c07373.png)
![javaw_2016-11-07_01-03-27](https://cloud.githubusercontent.com/assets/8955838/20039819/030a1db8-a486-11e6-9e0

[2016-11-06 17:49] phit opened #1031 "Blood Magic Phantom Bridge freezing server"
using spongeforge-1.10.2-2107-6.0.0-BETA-1871.jar
modpack ftb infinity lite
console is not responsive, warmroast screenshot: http://i.imgur.com/1VmGifG.png

[2016-11-06 18:12] phit commented on #999
still an issue with
spongeforge-1.10.2-2107-6.0.0-BETA-1871.jar
using the FTB Infinity Lite pack

[2016-11-07 07:26] AussieWarGod opened #1032 "Players consistently kicked from server/can't join [nettyIO issue]"
We are unsure of the root of this problem but have narrowed it down to a sponge or a forge issue (we think) and so are pushing this issue to both sponge and forge git's.

Basically at random intervals a single player will be disconnected, pushing out a nettyIO error message.
Then at other intervals everyone will be kicked with another nettyIO error.
nettyIO errors also come up when some people try

[2016-11-07 07:30] AussieWarGod commented on #1032
SpongeAPI: 6.0.0
SpongeForge: 1.10.2-2107-6.0.0-BETA-1864
Minecraft Forge: 12.18.2.2119

[2016-11-08 01:29] Shybella commented on #1032
Do these players experience slow chunk loading when loading in? As if the world isn't loading?

[2016-11-08 01:56] KendirkRS commented on #1032
I'll answer on this as i experience this issue sometimes yes sometimes the it loads just fine but i have no chat i can move around but when i disconnect and reload i'm back to the spot i started the first time

[2016-11-08 02:04] Shybella commented on #1032
I ask because I'm having this same issue and those loading issue happens with it too. They load in but the world doesn't load.

[2016-11-08 02:07] AussieWarGod commented on #1032
That usually happens just before the kicks, yes.

Chunks stop loading suddenly, tps drops and everyone is kicked

[2016-11-08 02:10] Shybella commented on #1032
I don't have the problem with kicking everyone out and low tps issue.

[2016-11-08 13:39] ProsperCraft commented on #1020
Update and try again, some drops were fixed in newer versions, mostly enderio broken spawners.

[2016-11-08 16:50] gabizou commented on #1027
It sounds like it's restoring the item because of a sponge plugin cancelling the event. @blood, you'd be the best person to figure this one out.

[2016-11-08 20:46] gabizou commented on #1015
Is this reproducible only with Chickenbones and SpongeForge? Need some crashlogs with that setup please, and a description on how to reproduce.

[2016-11-08 21:17] ProsperCraft commented on #1015
Logs are found here - https://github.com/Chicken-Bones/EnderStorage/issues/77

[2016-11-08 21:18] ProsperCraft commented on #1015
Fortunately the InfinityLite 1.10.2 pack we are running right now doesn't have Chickenbones Enderstorage so we won't see crashes.

[2016-11-08 23:58] gabizou commented on #1031
Is there any crash log of sorts?

[2016-11-09 01:56] phit commented on #1031
No, it freezes completely.
I waited 10 minutes and then killed the process :/

[2016-11-09 14:31] ghost opened #1033 "Custom reject message"
Will be possible implement using mixin custom reject message?

https://github.com/MinecraftForge/MinecraftForge/issues/1772

in the forge ticket rotting for a long time... :(

[2016-11-09 19:49] gabizou commented on #1031
Did you disable the watchdog? Set the maximum time to something reasonable and it should forcibly crash the server to shut down for "A single tick took too long!" crash log. And any instructions on how to reproduce (coming from us, we don't really know how to do much with certain mods yet).

[2016-11-09 20:26] GershonR opened #1034 "New User Error"
Minecraft: 1.10.2
 SpongeAPI: 6.0.0-SNAPSHOT-bd88c91
SpongeForge: 1.10.2-2107-6.0.0-BETA-1873
Minecraft Forge: 12.18.2.2116

http://pastebin.com/qhefz3G6

[2016-11-09 21:09] kashike commented on #1034
That... should not be happening at all. Is this reproducible? What operating system are you using?

[2016-11-09 21:26] GershonR commented on #1034
Probably some sort of Linux distribution, most likely Debian, it's a shared hosting so I can't tell

[2016-11-09 22:32] GershonR commented on #1034
Unsure, it started spamming it for that specific user, it looks like it started when they joined the server for the first time

[2016-11-09 22:36] kashike commented on #1034
Has it happened for anyone else?

[2016-11-09 23:08] GershonR commented on #1034
I believe not, but I just switched over to bungee, not sure if it's related to that.

[2016-11-09 23:57] LemADEC opened #1035 "Command on sign causing exception in Minetweaker"
When triggering a /say command on a sign, Minetweaker is reporting an exception.
Issue isn't reproduced in SSP without sponge.
Issue is reproduced in SSP with sponge with a NoClassDefFoundError:
[code]

Issue is reproduced in SMP with a NullPointerException:
[code]

Steps to reproduce the issue:
FTB InfinityLite
forge-1.10.2-12.18.2.2119 (SSP) or forge-1.10.2-12.18.2.2123 (SMP)
spongeforge-1.10.2-

[2016-11-10 00:34] ProsperCraft opened #1036 "End Crystals are still indestructable after summing the dragon"
SpongeAPI: 6.0.0-SNAPSHOT-bd88c91
    SpongeForge: 1.10.2-2123-6.0.0-BETA-1876
    Minecraft Forge: 12.18.2.2123

After players summon the ender dragon using vanilla mechanics, they are unable to destroy the end crystals to do it again.

We tested this previously without sponge and it worked.

[2016-11-10 00:34] ProsperCraft commented on #1036
https://github.com/SpongePowered/SpongeForge/issues/1021

[2016-11-10 00:34] ProsperCraft commented on #1036
Reported here too
https://github.com/SpongePowered/SpongeForge/issues/933

[2016-11-10 01:55] kashike commented on #1034
If this happens again please reply to this issue. In the meantime, I'm going to close it.

[2016-11-10 01:55] #1034 closed, assigned to kashike

[2016-11-10 10:07] AussieWarGod commented on #1036
i can confirm this also. the ender dragon will also not drop a heart (draconic evolution) or an egg

[2016-11-10 10:08] AussieWarGod commented on #1032
we fixed the single player disconnects and inability to connect. it was an SRV issue.

However the mass kicks persist, when they occur they are clumped together usually.

[2016-11-10 14:22] ryantheleach commented on #1035
You mention 1.10 but call it MineTweaker, Are you sure you don't mean CraftTweaker?

[2016-11-10 14:49] ProsperCraft commented on #1036
was the heart drop not fixed with the broken spawners fix recently?

[2016-11-10 16:53] GershonR commented on #771
This seems to still be happening with

SpongeForge: 1.10.2-2107-6.0.0-BETA-1873

http://pastebin.com/2K5Ckh9Z

[2016-11-10 18:09] ghost opened #1037 "IC2 jetpacks dupe - cannot take from crafting table"
Without spongeforge all works as expected.

With SF build 1876 (no plugins installed) cannot take crafted IC2 backpack, jetpack and electric jetpack from crafting table.

When close gui, ingredients are in the ground, but not removed from inventory - duped.

[2016-11-10 20:26] AussieWarGod commented on #1036
My apologies, we had not yet updated spongeforge. The ender crystals are the only issue.

[2016-11-10 20:58] LemADEC commented on #1035
The internal name is still MineTweaker, but yes it's CraftTweaker.

[2016-11-10 22:25] AussieWarGod commented on #1032
Apologies, i was premature in my assumption. It seems people are still having difficulty connecting. I can provide more logs at any time you require them.

[2016-11-11 01:11] Rasgnarok opened #1038 "[1.10.2 - 1844] Error: GenericArguments$UserCommandElement.getValue"
Saw this error pop up really often throughout my logs, has not caused issues so far - just a lot of spam, so I thought I might as well should report it.

http://pastebin.com/VF7eLdmt

[2016-11-11 04:17] gabizou commented on #1036
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/795. It's unfortunate that it's being so weird, this was something previously on my todo list but I have sadly forgotten this. I'll get back to fixing this issue as soon as possible.

[2016-11-11 04:17] #1036 closed, assigned to nobody

[2016-11-11 05:17] phit commented on #1037
relevant issue #999

[2016-11-11 21:22] inklit opened #1039 "Server crash 1.10.2"
Running SpongeForge 2123 1.10.2.

Unknown server crash - no obvious reason why.
[code]

[2016-11-12 20:00] Mohron opened #1040 "Server Crash: Exception ticking world"
Forge: forge-1.10.2-12.18.2.2124-universal.jar
SF: spongeforge-1.10.2-2123-6.0.0-BETA-1877

http://hastebin.com/gihehaxemo.sql

Edit: Had another crash :(
http://hastebin.com/ububisebun.scala

[2016-11-12 22:01] kashike commented on #1040
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/block/SpongeBlockSnapshot.java#L116

[2016-11-13 07:44] ghost commented on #1037
It looks like some kind of crafting check cancel click/move inventory event...

[2016-11-14 01:42] ProsperCraft commented on #1040
Same here
https://gist.github.com/ProsperCraft/c093d58444c616e310fba0512bc5fc3b

[code]

[2016-11-14 01:43] ProsperCraft commented on #1040
This one may help as well.

https://gist.github.com/ProsperCraft/777469f7516246c30d2133acc918219d

[2016-11-14 01:50] ProsperCraft commented on #1040
This happened after 4 of those above

https://gist.github.com/ProsperCraft/631fcb6bd91eddeb2e2967e1fb466ef3

And this one
https://gist.github.com/ProsperCraft/89ddc35e4047a0d55b2451166869258d

[2016-11-14 02:04] bloodmc commented on #1040
@Mohron @ProsperCraft Looks like you both have "max-tick-time" set to a ridiculous high value or turned off because some of these NPE's in these reports should never happen. Try setting "max-tick-time" to 120000 (2 min) and see if the watchdog dumps all threads with a more useful report.

[2016-11-14 03:12] AussieWarGod opened #1041 "When killing the enderdragon, spawns multiple eggs."
when killing the ender dragon, drops work as normal but as it is exploding if you continue to hit it, it spawns more eggs on the ground.

[2016-11-14 20:22] Orcinuss opened #1042 "Installing Applied Energistics Causes Crash"
I wasn't sure where to post an issue so ill make one in both.

When Applied Energistics is installed, sponge fails to launch due to:
An essential class was loaded before Sponge could patch it, this usually means  that another coremod has caused the class to load prematurely

I have tried loading in the following ways:
Forge Version > Sponge Version with AE == failed
Forge Version < Sponge Version

[2016-11-14 20:33] Orcinuss commented on #1042
https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2482

[2016-11-14 20:34] #1042 closed, assigned to nobody

[2016-11-14 20:40] Orcinuss commented on #966
Are there any updates regarding this issue? From what it looks like from the applied energetic issue is that they are unwilling to fix it, although i'm not entirely sure.

[2016-11-14 22:29] kashike commented on #1042
https://github.com/SpongePowered/SpongeForge/issues/966

[2016-11-14 23:42] bookerthegeek commented on #966
Not unwilling to fix, unwilling to bandaid.

[2016-11-15 02:20] simon816 commented on #1035
Both of these issues look to be a problem with CraftTweaker
They should not be hard [referencing `DedicatedServer`](https://github.com/jaredlll08/CraftTweaker/blob/master/MineTweaker3-MC1102-Main/src/main/java/minetweaker/mc1102/server/MCServer.java#L49) on the client and they also haven't handled the situation where [their `getPlayer` returns null](https://github.com/jaredlll08/CraftTweaker/blob/

[2016-11-15 02:58] LemADEC commented on #1035
Sponge isn't supposed to change forge behavior in events received from mods either.

[2016-11-15 07:40] alicheek opened #1043 "Push for Forge version : 2124"
Hey there this morning i was attempting to set up the new DW20 server for mc version 1.10.2 it comes packaged with forge version 2124 and unfortunately with sponge the server wont boot up.

I was using the latest version of sponge as of me writing this : 6.0.0-BETA-1878

Log:  http://pastebin.com/cmns5dQd

Thanks for the great support and the amazing Sponge system really loving it :)

[2016-11-15 07:52] kashike commented on #1043
https://github.com/SpongePowered/SpongeForge/issues/966

[2016-11-15 07:52] #1043 closed, assigned to nobody

[2016-11-15 15:45] ghost commented on #1037
When tested found issue. When try take jetpack (mouse click) from craftingtable gui and have some item selected in hotbar see hand animation, similar when interacting. When craft for example stick and try to take using mouse click see no hand animation.

[2016-11-15 15:58] ghost commented on #1037
Hand animation is with forge (no spongeforge installed) too. Every clicking to batpack in the inventory lead to hand animation.

[2016-11-15 17:48] ghost commented on #1037
Issue at IC2 BT:

http://bt.industrial-craft.net/view.php?id=2036

[2016-11-15 21:20] ghost commented on #1037
Tried some debug.

With this patch of SpongeCommon:

<pre>
diff --git a/src/main/java/org/spongepowered/common/mixin/core/network/MixinNetHandlerPlayServer.java b/src/main/java/org/spongepowered/common/mixin/core/network/MixinNetHandlerPlayServer.java
index 5bd5868..c3e0ece 100644
--- a/src/main/java/org/spongepowered/common/mixin/core/network/MixinNetHandlerPlayServer.java
+++ b/src/main/java/org

[2016-11-15 21:59] ghost commented on #1037
When look to JEI its show recipe Batpack with durability 27/27 but recipe result in the crafting table show in the client is durability 1/27.

[2016-11-15 22:00] ghost commented on #1037
Similar bug with durability was in the IC2 1.6.4 :-)

[2016-11-15 23:46] ProsperCraft opened #1044 "Server crashed from a block of sand? NPE SpongeBlockSnapshot"
https://gist.github.com/ProsperCraft/af08979eace10474cecfa3f06c954b8e

Description: Exception while ticking a block

java.lang.NullPointerException: Exception while ticking a block
	at com.google.common.base.Preconditions.checkNotNull(Preconditions.java:213)
	at org.spongepowered.common.block.SpongeBlockSnapshot.<init>(SpongeBlockSnapshot.java:116)
	at org.spongepowered.common.block.SpongeBlockSna

[2016-11-16 06:47] ghost commented on #1037
https://github.com/SpongePowered/SpongeCommon/commit/1217e1d4628b2c8da21e5c632e5253715830bee9

[2016-11-16 11:37] ghost commented on #782
I think 1.8.9 become unmaintained...

[2016-11-16 11:37] #782 closed

[2016-11-16 11:37] ghost commented on #811
I think 1.8.9 become unmaintained...

[2016-11-16 11:37] #811 closed

[2016-11-17 15:30] ghost commented on #799
Have same issue with SpongeForge and OpenComputers robots on 1.10.2 - build 1879. (No GP installed).

[2016-11-17 19:46] NightOps007 opened #1045 "[Bug] item dupes with extra utilities 2"
With sponge installed with extra utilities 2(extrautils2-1.10.2-alpha-1.2.2), it causes item dupe when you mine compressed anything(cobblestone, netherrack, sand, gravel, didn't try compressed dirt but probably it too). Bug duplicated in test world with only sponge and XU2 installed. Tried for both API5(spongeforge-1.10.2-2123-5.1.0-BETA-1879) and API6(spongeforge-1.10.2-2123-6.0.0-BETA-1877). Bug

[2016-11-17 23:03] Rasgnarok commented on #1032
This happens with Pixelmon+Sponge as well, downgrading Forge helped us alleviate the trouble. How did you fix it, @AussieWarGod ? So far, I have not been able to track an actual range of versions that cause this issue _en masse_ .

[2016-11-18 05:37] GershonR commented on #1034
This happend again:
http://pastebin.com/JCG02DMN

[2016-11-18 06:51] kashike commented on #1034
This has been fixed in 1.11: https://github.com/SpongePowered/SpongeCommon/commit/4fd3b2754c60b42024f7f1b6f4df854230f609e7.

[2016-11-18 09:40] LizzyTrickster commented on #799
Paging @fnuecke

[2016-11-18 10:37] ghost commented on #799
OC Robot moving:

https://github.com/MightyPirates/OpenComputers/blob/OC1.6-MC1.10/src/main/scala/li/cil/oc/common/tileentity/Robot.scala#L189

[2016-11-18 13:35] ghost commented on #799
When turn on sponge debug:

Place robot:

<pre>
[14:32:16] [Server thread/INFO] [Sponge]: Block PLACE [RootCause: HunterzCZ][User: HunterzCZ][World: world][DimId: 0][OriginalState: minecraft:air][NewState: opencomputers:robot]
[14:32:16] [Server thread/INFO] [Sponge]: Tracking Block [RootCause: HunterzCZ][World: world(0)][Block: opencomputers:robot][Pos: BlockPos{x=-2, y=84, z=-1}]
[14:32:16] [Ser

[2016-11-18 14:25] inklit commented on #804
I'm going to do more testing for this issue on 1.10.2 to see if this is still relevant.

[2016-11-18 18:08] mcenderdragon opened #1046 "Server crash if a Mod adding a Dimension is installed"
The Crash report: http://pastebin.com/qSXmXzU9

[2016-11-18 18:21] Dysthymic commented on #965
This is an issue on latest Sponge 1879 for 1.10 as well. I would consider this as an urgent matter. Every server is effected.
We tested this without Sponge and it does not occur.

[2016-11-18 19:32] GershonR commented on #1034
Awesome, thanks

[2016-11-18 19:54] phit commented on #1037
applied energistics 2 tools are also affected by this bug

[2016-11-19 06:17] Dysthymic opened #1047 "Exception Exiting Phase (API 5)"
http://pastebin.com/vymVG4UU

Sponge 1877

No clue what is causing this but it's spamming our log files like no other. Today, forge-latest log file is 9GB. Yesterday, it was 400MB.

I keep seeing the entry for 29x bread. I removed the bread from the players inventory and it is still going on and on and on

[2016-11-19 08:17] trabpukcip opened #1048 "Redstone, Redstone Blocks & Ender Eyes unable to be dropped"
SpongeForge: spongeforge-1.10.2-2123-5.1.0-BETA-1879.jar (also tested with spongeforge-1.10.2-2123-6.0.0-BETA-1878.jar)
Flux Networks Mod: FluxNetworks-1.9.4-1.0.7.jar
Sonar Core Mod (Required): SonarCore-1.9.4-3.1.6.jar

When Flux Networks is installed it requires that Redstone, Redstone Blocks & Ender Eyes be able to be thrown into fire as part of how the mod works.

Sponge interferes with the b

[2016-11-19 08:52] Xfel opened #1049 "Forge permissions API"
Now that MinecraftForge provides a permissions API (https://github.com/MinecraftForge/MinecraftForge/pull/3155), SpongeForge should integrate with it, allowing us to query permissions from the mod's side.

[2016-11-19 10:16] ZigTheHedge opened #1050 "Blood Magic Crash during player login (sponge #1897)"
Server crashes when certain player logs in. Here's crashlog: http://pastebin.com/nD4sxh28

I'm not sure whether it is Sponge issue, or Blood Magic, so, here's link to WayOfTime's issue: https://github.com/WayofTime/BloodMagic/issues/977

Versions:
    BloodMagic: 1.9.4-2.1.0-66
    Minecraft: 1.10.2
    Forge: 2123
    Sponge: 1879

[2016-11-19 12:02] ProsperCraft commented on #1045
We have the same issue.

[2016-11-19 12:04] ProsperCraft opened #1051 "1880 will not load, 1879 will."
I get this crash when updating to 1880, is this the point where 6.0 doesn't work with 5.0 plugins any longer?

https://gist.github.com/ProsperCraft/50254e240e2d5722569bcd832077c773

[2016-11-19 12:07] ST-DDT commented on #1049
I'm not sure what you are requesting.
- Do you want SpongeForge to provide an implementation of the ForgePermission API
- or do you want SpongeForge to default to Forge's Permission API
- or both?

What happens if both Forge and Sponge provide a permission plugin?

There are also some fundamental differences between both concepts.
AFAICT there is no "OP" flag in Sponge, but it is used in Forge.

[2016-11-19 12:15] stephan-gh commented on #1051
Yes and no. The change that is breaking two of your plugins was already made for API 5 (but is only enforced in API 6 now). That means these plugins were not properly updated to API 5. Two of your plugins need an update (they are using invalid plugin IDs):
- `VotifierListener` (`io.github.hsyyid.votifierlistener`)
- `RankUpper` (`br.net.fabiozumbi12.rankupper`)

Until they are updated you will eit

[2016-11-19 12:15] #1051 closed, assigned to nobody

[2016-11-19 12:45] ProsperCraft commented on #1051
Thank you.

[2016-11-19 13:05] ghost commented on #1046
try it with latest SF - yours version is outdated

[2016-11-19 15:15] Xfel commented on #1049
The basic permission check should be interoperable. As far as I can see, it would be pretty difficult to implement the sponge permissions api on top of the forge one, as the sponge api provides a lot more features.

The other way round seems possible though. The only problem here is forge's DefaultPermissionLevel using the OP concept, which needs to be mapped to those default roles in some way.

[2016-11-19 15:54] Aaron1011 commented on #1047
Can you link to your full `fml-server-latest.log`?

[2016-11-19 17:34] Dysthymic commented on #1047
It'll take a day or two to download and upload. It is 15GB now

[2016-11-19 17:37] Dysthymic commented on #1047
I thought it may be a confliction with our Forge version at 2107 on the latest Sponge which asks for a higher Forge. So we downgraded Sponge to 1864 as a test and it still occurs

[2016-11-19 17:51] mcenderdragon commented on #1046
Fogre latest and Sponge latest.
http://pastebin.com/97tnhW9P
It look the same

[2016-11-19 20:41] Xfel commented on #1049
I don't think this is related to commands specifically, the API is meant to be used by mods in general.

[2016-11-19 22:40] Aaron1011 commented on #1047
@Dysthymic: If the full log is too large, can you just upload several of the `Exception Exiting Phase` sections from it? In the pastebin you linked, the full error was cut off due to some kind of rate limiting with your logger.

[2016-11-20 17:11] DigitalSketch opened #1052 "Soulbound acts like cursed enchant"
We're using the FTB HermitPack and have found that since we installed Sponge to make it run more smoothly (which it does by the way, thank you!), the soulbound (From EnderIO) items completely disappear from a user's inventory and grave site.  It acts more like the cursed enchant.   I've tested this in a single player world on the FTB HermitPack mod pack, and it works as it's supposed to.

Below ar

[2016-11-20 21:45] MadHalaster commented on #655
This is happening again.

[2016-11-21 12:48] trabpukcip commented on #1048
The drops issue is worse than what I thought it was.
If you have a stack of one of the 3 offending items and spam shift+q (i.e. drop a stack) you will overflow your inventory with dupes in under 2 seconds with whatever it was and swill keep dropping more into the world.

The dupe issue is not actually related to Botania at all, only the mana pool big slowdown (and going untilk the mana runs out).

[2016-11-21 13:58] vaniron opened #1053 "kicking message"
hello guys do u think that it is possible to change error message on forge server when kicking player without modpack?

in default it says this:
[FML]: Disconnecting Player: This server requires FML/Forge to be installed. Contact your server admin for more details.
- but i need to change it to my language so players better understand it

is it possible to add this feature to sponge or modify the m

[2016-11-21 17:50] ProsperCraft opened #1054 "Using a redstone contraptions(piston doors) in a nation you don't own causes a crash/lockup"
https://gist.github.com/ProsperCraft/4830fb5e5e84afb8811e7b20d5b2a053

We have the nations plugin.

Description: Watching Server

java.lang.Error
	at java.util.ArrayList.remove(ArrayList.java:528)
	at net.minecraft.world.World.func_175713_t(World.java:2484)
	at net.minecraft.tileentity.TileEntityPiston.func_145866_f(TileEntityPiston.java:200)
	at net.minecraft.block.BlockPistonMoving.func_180663_b

[2016-11-21 18:03] bloodmc commented on #1054
Your server timed out. Have nations fix the issue as this works perfectly fine in my plugin GriefPrevention.

[2016-11-21 18:03] #1054 closed, assigned to nobody

[2016-11-21 18:04] bloodmc commented on #1053
This belongs in Forge's github

https://github.com/MinecraftForge/MinecraftForge/issues

[2016-11-21 18:04] #1053 closed, assigned to nobody

[2016-11-21 18:07] bloodmc commented on #1052
You are behind over 50+ builds. Update to latest SpongeForge.

[2016-11-21 18:07] #1052 closed, assigned to nobody

[2016-11-21 18:09] bloodmc commented on #1050
Error is coming from Blood Magic
 WayofTime.bloodmagic.demonAura.WorldDemonWillHandler.getCurrentWill(WorldDemonWillHandler.java:177)

Looks like corrupted data in the player's profile
Delete the player's dat file so it regens fresh.

[2016-11-21 18:09] #1050 closed, assigned to nobody

[2016-11-21 18:11] bloodmc commented on #1047
@Dysthymic You can turn off these warnings in sponge's global.conf under cause tracker category

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/config/category/CauseTrackerCategory.java#L33

It still has to be resolved though but at least it shouldn't spam your logs further.

[2016-11-21 18:13] bloodmc commented on #1044
This should never happen and seems like a result of your server timing out. Make sure your max-tick-time in server.properties is set to around 6000 and not too high.

[2016-11-21 18:13] #1044 closed, assigned to nobody

[2016-11-21 20:06] Deadlyapples opened #1055 "Chunk loading and tick issue - Minecarts revealed the issue."
https://www.youtube.com/watch?v=dVk7hwUXErQ&feature=youtu.be

That is the evidence. This issue went away when I removed spongeforge as a mod on my server.

No crash reports or logs hint as to why this happens.

[2016-11-21 20:58] LuxusDarkangel commented on #1055
The video is set to private, change it to unlisted if you want people to access it only through the link.

[2016-11-22 09:11] Deadlyapples commented on #1055
Video link updated.

[2016-11-22 09:23] Deamon5550 commented on #1055
If I understand what you are confused about: sponge adds [configurable](https://docs.spongepowered.org/master/en/server/getting-started/configuration/sponge-conf.html) entity activation ranges and does not tick entities out side of those ranges from the nearest player which is a significant performance boost at no cost in most cases. You can raise or disable the activation range for minecarts if y

[2016-11-22 09:49] Deadlyapples commented on #1055
How do I remove these range checks? I tried removing them from the list but this causes No entities to exist anywhere. No mobs, no items, no carts etc

[2016-11-22 10:44] #1055 closed, assigned to nobody

[2016-11-22 16:21] DigitalSketch opened #1056 "Immersive Engineering Villagers trading."
We're running the hermit mod pack with sponge, and the immersive engineering villagers won't allow us to trade with them (right clicking does nothing).  I checked in a single player world and the villagers would trade.  Is there a setting to enable villager trading we have to set?  Or is this a bug?

We're running version 1888

[2016-11-22 16:53] Dysthymic commented on #1047
Hello, sorry for the delayed response. We had to downgrade because it was pretty serious. Here is as much of the forge-latest when we experienced the issue as I could upload http://pastebin.com/7YzTP88Y

[2016-11-23 03:37] mrapplexz commented on #966
Still crashes, but now I have this log:
http://pastebin.com/i3Ww2Vhy - fml-server-latest.log
AE version: rv4-alpha-6.
SpongeForge version: 1.10.2-2123-6.0.0-BETA-1890
MC version: 1.10.2
Forge version: 1.10.2-12.18.2.2151

[2016-11-23 19:28] Aaron1011 commented on #1047
This should be fixed in the latest SpongeForge stable: https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2.

[2016-11-24 05:57] zmaile opened #1057 "[1.8.9] Chunk loading related performance issues in Buildcraft"
This issue has been brought up at [https://github.com/BuildCraft/BuildCraft/issues/3458](https://github.com/BuildCraft/BuildCraft/issues/3458), however it seems to be a sponge issue, not a Buildcraft issue, so i'm making it here.
------------------------

When a long Buildcraft pipe extends beyond the currently loaded chunks, the chunks seem to be getting loaded, pipes get initialised, and then th

[2016-11-24 23:16] inklit opened #1058 "Server crash"
Running spongeforge-1.10.2-2123-5.1.0-BETA-1891

[code]
Just a random crash, not sure how to reproduce it but it has only happened about 4 times over the span of a few weeks.

[2016-11-25 06:47] bloodmc commented on #1057
1.8.9 is no longer supported. Update to 1.10.2

[2016-11-25 06:49] bloodmc commented on #1057
Hrmm maybe i'll backport my chunk gc fixes. I'll think about it =) For now, try disabling chunk gc in sponge's global.conf

[2016-11-25 07:01] zmaile commented on #1057
@bloodmc That'd be awesome as Buildcraft's latest stable is still in 1.8.9.

[2016-11-25 08:13] bloodmc commented on #1057
@zmaile Disable chunk gc in sponge's global.conf and retest.

[2016-11-25 11:33] phit opened #1059 "Crash when breaking RFTools timer with Actually Additions Drill"
Doesn't always seem to happen, but we had a few of those now.
Pack is Direwolf20 1.0.0
spongeforge-1.10.2-2123-6.0.0-BETA-1878

[crash-2016-11-24_07.37.34-server.txt](https://github.com/SpongePowered/SpongeForge/files/613127/crash-2016-11-24_07.37.34-server.txt)

Generally the drill seems to behave rather weird, we had some people break a EnderIO Vaccum Chest with it, the block disappeared and you

[2016-11-26 00:42] xChristopher210 opened #1060 "[1.10.2] Exception On Login"
I get this when I log in.

Taken from fml-server-latest.log
http://paste.ubuntu.com/23535155/

SpongeForge: 1890 (API 6.0.0)

[2016-11-26 05:54] killerjwl32 opened #1061 "Issue with explosions of all types"
I thought it was tinkers construct / Sponge Forge but it seems to be all explosions from anything including normal tnt - No items drop from explosions )=

[2016-11-26 05:54] zmaile commented on #1057
After changing to:

The tickrate issue disappears, and goes back to 12-14ms/tick

EDIT: So is this actually a bug, or is it an unfortunate side-effect of the chunk GC working as intended?

[2016-11-26 14:21] stephan-gh commented on #954
I'm pretty sure I have fixed that in https://github.com/SpongePowered/SpongeForge/commit/cb6b2d9a89e076c75ca759cf8fa73538f8b8fffe#diff-ada9f267324c695c8a357c6769b3449eR133

[2016-11-26 14:21] #954 closed

[2016-11-26 20:42] ArbitraryHubris opened #1062 "PSI/Sponge crash"
[Crashlog](http://pastebin.com/80V2p0gV)

[PSI Recipe](http://imgur.com/HbvOQzw)

the spell tries to smelt in a PSI pick but it didn't break the block first so it was trying to apply smelt to stone rather than cobble - this is all assumption.

Crash occurred on Direwolf20 1.10.2 pack v1.0.0

[2016-11-27 02:08] chasem-dev opened #1063 "(Possible) World Save Crash 1.10.2-1878"
http://pastebin.com/aS4PSZTu

Constantly occuring.

[2016-11-27 11:24] ghost opened #1064 "IC2 Enet issues with SF build > 1899"
When player leave home (unload chunks), then return (load chunks) IC2 Enet system broken on SF builds > 1899.
Tested with build 1911 for example.

With 1899 works fine.

[2016-11-27 20:01] lucasdidur commented on #966
AE: rv4-alpha-7
Sponge: spongeforge-1.10.2-2123-5.1.0-BETA-1911
Forge: 1.10.2-12.18.2.2151

http://pastebin.com/X6svQTbP

[2016-11-28 01:24] ghost opened #1065 "Making mods compatible with SpongeForge?"
So I know there is the running issue with some mods (such as EXU2 and AE2) where they instantiate forge classes and that somehow stops sponge from making transformations and crashes everything. I'm trying to setup a server with some of these mods and I'd just like to know what exactly it is that's causing this issue so I can go in and hopefully patch the mods to run on my server. I have working kn

[2016-11-28 02:18] JBYoshi commented on #1065
That happens only when a coremod loads Minecraft classes before all of the coremods are fully set up. If you don't use core mods (`IFMLLoadingPlugin`), you should be perfectly fine.

[2016-11-28 03:14] bloodmc commented on #1064
@hunter688 No chunk changes have been made in those builds so something on your end. Try turning off chunk-gc in config if you still have an issue.

[2016-11-28 03:14] #1064 closed, assigned to nobody

[2016-11-28 03:16] bloodmc commented on #1057
@zmaile chunk-gc is bugged in 1.8.9, it will be fine in 1.10.2+.

[2016-11-28 03:43] zmaile commented on #1057
@bloodmc okay, no worries. Thanks for your help. I'll leave it up to you if you want to close this.

[2016-11-28 05:13] lilmoefow commented on #1017
Just want to update this issue to say that it is still present with these versions

forge-1.10.2-12.18.2.2123-universal.jar
spongeforge-1.10.2-2123-5.1.0-BETA-1914.jar
crossroads-1.10.2-1.1.8.jar

[2016-11-28 05:55] Xiaoyan366 commented on #1037
[crash-2016-11-28_13.52.43-client.txt](https://github.com/SpongePowered/SpongeForge/files/615481/crash-2016-11-28_13.52.43-client.txt)

Similar mistakes

[2016-11-28 06:32] ghost commented on #1037
trying spongeforge build 1914 with this fix, but get client crash when click to crafting result (IC2 batpack) - trying drag and drop.
With shift-click can be moved to inventory.
http://pastebin.com/BELW7nU0

[2016-11-28 06:40] Xiaoyan366 commented on #1037
This problem will be fixed?
Players have IC2 backpack, can not be on-line later
The on-line client will crash

Now what are the solutions?

[2016-11-28 06:42] ghost commented on #1037
downgrade spongeforge, problem will be fixed (works on my test server)

[2016-11-28 07:25] bloodmc commented on #1037
Unable to reproduce this with latest IC2 build 119.
http://jenkins.ic2.player.to/job/IC2_110/119/

[2016-11-28 07:26] ghost commented on #1037
try IC2 build 109 for example

[2016-11-28 07:31] gabizou commented on #1065
Basically, to understand what is going on, it's best to read the [Mixin wiki](https://github.com/SpongePowered/Mixin/wiki/Introduction-to-Mixins---Understanding-Mixin-Architecture) and then once you understand how class transformation works, understand that there's an order of how core-mods are loaded at runtime that certain core-mods (such as AE2) are class loading classes before Sponge is instan

[2016-11-28 18:03] ghost commented on #1037
tested on the local server too, its not latency issue, still crashes client

[2016-11-28 19:10] ghost commented on #1037
My test code of latetst patch. I added some debug output to trace. When craft IC2 batpack, after latest TRACE11 - false is client crashed.
when add after line mixinContainer.setCaptureInventory(false);

return true;

can craft IC2 batpack and drag to inventory without client crash

<pre>
    public boolean onProcessClickWindowItemValidate(ItemStack stackA, ItemStack stackB) {
        boolean resul

[2016-11-28 21:55] cj89898 commented on #1065
So I was about to post my issue, but saw this one. So does anybody know if AE2 will be made compatible? I know that the new group that took it over are very active.

[2016-11-29 04:56] Xiaoyan366 commented on #1037
[工业2]industrialcraft-2-2.6.120-ex110.jar
1.10.2-forge1.10.2-12.18.2.2166
spongeforge-1.10.2-2123-6.0.0-BETA-1890.jar or spongeforge-1.10.2-2123-5.1.0-BETA-1914.jar
Use the latest version of IC2 and forge
I found this problem solved

Great! No BUG good

[2016-11-29 05:42] bloodmc commented on #1062
@ArbitraryHubris update to SF 1914+ and try again.

[2016-11-29 05:44] bloodmc commented on #1063
@Xwaffle1 This doesn't happen with SF only. Update to SF 1914 and start removing plugins until it goes away.

[2016-11-29 05:44] #1063 closed, assigned to nobody

[2016-11-29 05:45] bloodmc commented on #1048
@trabpukcip dupe issue should be fixed in 1914+. Retest.

[2016-11-29 05:46] bloodmc commented on #1046
@mcenderdragon Test with a fresh world. If it works, try wiping your level_sponge.dat file.

[2016-11-29 05:47] bloodmc commented on #1028
@lilmoefow Does this bug occur with SF 1914+?

[2016-11-29 05:48] bloodmc commented on #1045
@NightOps007 @ProsperCraft Test with SF 1914+.

[2016-11-29 05:50] bloodmc commented on #1065
Please avoid creating tickets for non-game issues. Use the forums for questions like this.

https://forums.spongepowered.org/latest

[2016-11-29 05:50] #1065 closed, assigned to nobody

[2016-11-29 05:51] bloodmc commented on #1038
Using a very outdated build. Update to SF 1914 and repost a log if it occurs.

[2016-11-29 05:52] bloodmc commented on #1038
Closed by accident.

[2016-11-29 05:53] bloodmc commented on #1027
@FiveEYZ This should be resolved in SF 1914. Close ticket if it is.

[2016-11-29 05:54] bloodmc commented on #1022
@gabizou Can you take a look at this?

[2016-11-29 05:56] bloodmc commented on #1009
Closed due to no response in nearly a month.

[2016-11-29 05:56] #1009 closed, assigned to nobody

[2016-11-29 05:56] bloodmc commented on #988
@KaneHart Can you try SF 1914?

[2016-11-29 05:57] bloodmc commented on #984
1.8.9 is no longer supported. Please update to 1.10.2+

[2016-11-29 05:57] #984 closed, assigned to nobody

[2016-11-29 06:00] bloodmc commented on #965
@IBGnova @Dysthymic @bookerthegeek This was fixed recently in 1.10.2+. Please update to SF 1914+.

https://github.com/SpongePowered/SpongeCommon/commit/2719f2a7fdc4f4cd23c5f3296d5a7ef13be3c0e2

[2016-11-29 06:03] StoneLegion commented on #988
Sorry, TBH we went back to 1.7.10 someone else will have to try LOL.

[2016-11-29 06:05] bloodmc commented on #951
This shouldn't be an issue with our latest builds.

[2016-11-29 06:05] #951 closed

[2016-11-29 06:35] ghost commented on #1037
Still crashing for me.
forge 2166
ic2 120
sf 1914

http://pastebin.com/pKs4LVM4

[2016-11-29 06:39] lilmoefow commented on #1028
Yes it is still occurring with these versions.

forge-1.10.2-12.18.2.2123-universal.jar
spongeforge-1.10.2-2123-5.1.0-BETA-1914.jar
Psi-r1.0-42.jar

And When trying to recreate it, I acutally got a client crash.

Here is the Crash Log - http://pastebin.com/WZ57xWV5

Client Log Latest - http://pastebin.com/akgtCe5C

Fml Client Latest - https://gist.github.com/lilmoefow/d81f051b0054f63c4582df135861c

[2016-11-29 06:55] Xiaoyan366 commented on #1037
Synthetic now there won't be a BUG
On the armor items block, do you want to take it down The client will collapse
[crash-2016-11-29_14.45.53-client.txt](https://github.com/SpongePowered/SpongeForge/files/618269/crash-2016-11-29_14.45.53-client.txt)

[2016-11-29 08:09] bloodmc commented on #1037
OK i'll review the code tomorrow and try to get a fix.

[2016-11-29 09:31] phit commented on #1037
yeah, 1914 is unusable for our server :(
clients keep crashing
[crash-2016-11-29_10.23.31-client.txt](https://github.com/SpongePowered/SpongeForge/files/618568/crash-2016-11-29_10.23.31-client.txt)
[crash-2016-11-29_10.29.20-client.txt](https://github.com/SpongePowered/SpongeForge/files/618567/crash-2016-11-29_10.29.20-client.txt)

[2016-11-29 11:26] trabpukcip commented on #1048
@bloodmc I setup build 1914 on a test server with just SonarCore and Flux Networks installed.
It is still duping and the items can not be dropped.
It was harder to dupe on drop but still very doable.
No log messages of note.

Interestingly on the full mod pack it crashes the client, I could post the log but I don't see how it would be relevant if the underlying issue is still there in an isolated

[2016-11-29 15:54] FiveEYZ commented on #1027
tried SF 1914 and got https://gist.github.com/FiveEYZ/c756bc37a56052c2e096cdfc4b4733b3
this client crash happend when after i sucesfully built a system and tried to shift+right-click a item in to the system.

after disabling this mod (CorrelatedPotentialistics-2.0.0-alpha2), ppl are still reporting client crash cause of SF 1914
https://gist.githubusercontent.com/anonymous/f37cdb8a9218cd0d5c3e40b2c

[2016-11-29 20:51] ghost opened #1066 "IC2 scrapbox - right click not working in hand"
Tested on pure forge server, works.
IC2 build 120
With SF 1914/1925 (no plugins or others mods) when right click no item dropped to ground, scrapbox stay in the inventory when survival mode.

[2016-11-29 21:23] bloodmc commented on #965
@IBGnova @Dysthymic @bookerthegeek we will be pushing another fix shortly. 1914 turned out to cause other issues.

[2016-11-29 21:36] dualspiral opened #1067 "[1.10.2, 1.11] TabCompleteEvent.Chat firing at incorrect times"
When playing about with the [Boop plugin](https://forums.spongepowered.org/t/boop-notifies-you-when-youre-mentioned-in-chat/15672) using SpongeForge, tab completion isn't working. It turns out that the `TabCompleteEvent.Chat` event isn't firing at the correct times, firing with `TabCompleteEvent.Command` rather on it's own.

I created a Mixin plugin for 1.10.2 (with an added listener) to investiga

[2016-11-29 21:47] inklit commented on #965
Glad to hear that @bloodmc! 1914 did not seem to fix it.
Testing with a different method with a mod transferring items between slots rapidly and clicking, but I believe it's the same bug.

[2016-11-29 22:12] dezil commented on #1037
can confirm this issue updated to 1914 about 24-36 hours ago and have had a heap of users crash with the same rendering error

[2016-11-29 23:22] MrDiamond123 opened #1068 "Server Didn't Start/Crashed [Latest Forge and SpongeForge]"
[Crash Log](https://gist.github.com/MrDiamond123/c882e9e0333e06e7c5d44622aa71ddbd)

[2016-11-29 23:26] Deamon5550 commented on #1068
Please use a paste site like [gist.github.com](http://gist.github.com)

[2016-11-29 23:26] MrDiamond123 commented on #1068
ok

[2016-11-29 23:28] MrDiamond123 commented on #1068
https://gist.github.com/MrDiamond123/c882e9e0333e06e7c5d44622aa71ddbd

[2016-11-29 23:30] #965 closed, assigned to nobody

[2016-11-29 23:52] inklit commented on #965
Thanks!

[2016-11-30 01:47] FiveEYZ opened #1069 "[1.10.2] Exception caught during firing event"
This exception started after updating to SF 1914, same error occurs on SF 1921.

holding any item in hand and right-click in air
https://gist.github.com/FiveEYZ/fa525501dad00a9dbce8eebdac70147f

[2016-11-30 01:51] Deamon5550 commented on #1069
Post your full log that snippet is useless.

[2016-11-30 02:04] FiveEYZ commented on #1069
sure thing
fml-server-latest.log: http://paste.ubuntu.com/23556123/
latest.log: http://paste.ubuntu.com/23556168/

[2016-11-30 02:25] Dysthymic opened #1070 "1914 Crash Corruptions"
http://pastebin.com/z49yYQ6z

Multiple players are disconnected constantly due to blocks that appear to be corrupted in the world on 1914. This is their player crash report. Upon downgrading, the issue goes away 100%.

We've encountered corrupted Pixelmon Trees, and mainly chests that cause repeat crashes upon login unless the chest or block is set to stone or air with worldedit.

[2016-11-30 02:56] Varijon opened #1071 "[1.8.9] Piston trying to push pumpkin/melon at y255 crashes server"
Attempting to activate a piston horizontally at y255 will crash the server if it's attempting to push a pumpkin/melon. This would normally drop these as item instead of pushing them, other blocks such as dirt do not cause the crash. It's a bit strange the error complains about y256, while everything is happening at y255.

Gif demonstration:
http://i.imgur.com/9HwsqTs.gifv

Version:
spongeforge-1.8

[2016-11-30 03:25] inklit commented on #1070
Update to the latest version and test again, 1914 was a broken build I think. Use 1923.

[2016-11-30 05:53] FiveEYZ commented on #1027
client crash stopped after updating to 1921

now i can add items to the CoPo system only using shift + right-click, but im unable to extract any items

[2016-11-30 05:54] bloodmc commented on #1070
@Dysthymic This has been solved with latest SF stable builds. There were many lost commits in the original merge from 1.10 bleeding.

[2016-11-30 05:54] #1070 closed, assigned to nobody

[2016-11-30 05:58] #1037 closed, assigned to Aaron1011

[2016-11-30 06:19] ghost commented on #1037
Can confirm its fixed now. Many thanks!

[2016-11-30 08:14] kashike commented on #1068
Fixed with https://github.com/SpongePowered/SpongeForge/commit/c88aa371c714be6fbf0c7b367fdaed8d5d5d90c8.

[2016-11-30 08:14] #1068 closed, assigned to nobody

[2016-11-30 11:31] phit commented on #999
this should be fixed with 1921+

[2016-11-30 15:39] bloodmc commented on #1071
1.8.9 is no longer supported. Update to 1.10.2+

[2016-11-30 15:39] #1071 closed, assigned to nobody

[2016-11-30 15:59] ghost opened #1072 "Regression: Shift-click in the IC2 machines"
Fix IC2 jetpacks #1037 (SF build 1925) bring another bug - cannot shift-click inside IC2 machines.

[2016-11-30 16:43] phit commented on #1072
also refined storage terminals

[2016-11-30 17:04] ghost opened #1073 "Empty message when player die two times same way"
When player die two times same way (eg. Skeleton shot), the second death instead death message show empty line in the chat.

SF build 1899

[2016-11-30 17:19] FiveEYZ commented on #1072
same inside CorrelatedPotentialistics terminal and Chisel GUI, also cant open the Chisel GUI if aiming at air (same goes for food).

[2016-11-30 19:29] axle2005 opened #1074 "Unable to complete Tinkers Tools"
Updated to Sponge build 1921 last night, (From 1888) and now the server can't complete tinkers tools at all. Much like what was happening with the IC2 Jetpack (Probably related)

[2016-11-30 19:31] axle2005 commented on #1074
After reading changelog, I see 1925 MIGHT fix this... will test it

[2016-11-30 19:44] axle2005 commented on #1074
It did.

[2016-11-30 19:44] #1074 closed, assigned to nobody

[2016-12-01 08:48] zerafox opened #1075 "Unknown Error?"
I was minding my own business, developing my farm to feed myself and my cows when all of a sudden I couldn't plant my seeds anymore, out of no where. I also couldn't use my hoe to create more farmland, couldn't access my doors, chests, furnaces, anything.

01.12 03:37:58 [Server] INFO /*****************************************************************************************************************

[2016-12-01 09:25] kashike commented on #1075
You aren't running the latest build of SpongeForge. Update, and report if this still happens.

[2016-12-01 09:54] zerafox commented on #1075
This is the latest version available to me through my host. :(

[2016-12-01 10:21] zerafox commented on #1075
I just uploaded the latest version of spongeforge I could find on the site and I'm getting this:

01.12 05:20:06 [Server] Server thread/WARN [Sponge]: /***********************************************************************************************************************/ 01.12 05:20:06 [Server] Server thread/WARN [Sponge]: /* java.lang.Thread.run(Unknown Source) */ 01.12 05:20:06 [Server] Server

[2016-12-01 10:23] zerafox commented on #1075
And this one too?
Not sure if their connected, apologies if they aren't..

01.12 05:20:06 [Server] Server thread/WARN [Sponge]: /***********************************************************************************************************************/ 01.12 05:20:06 [Server] Server thread/WARN [Sponge]: /* java.lang.Thread.run(Unknown Source) */ 01.12 05:20:06 [Server] Server thread/WARN [Sponge]: /

[2016-12-01 11:32] kashike commented on #1075
Those aren't related to this issue. You can open a new issue for those, but *please* format them correctly, and not all on one line.

[2016-12-01 11:32] #1075 closed, assigned to kashike

[2016-12-01 11:33] zerafox commented on #1075
:\ That's how they copy from the console/file. I'll see what I can do though

[2016-12-01 11:53] zerafox opened #1076 "Null Item Found! Error"
[code]

[2016-12-01 16:20] FiveEYZ opened #1077 "[1.10.2] Crash when adding MovingWorld"
here is the fml log while trying to start the server with https://minecraft.curseforge.com/projects/movingworld/files/2346115

modpack is https://minecraft.curseforge.com/projects/abridged

Running with:
Forge 2171
SF 1928

[fml-server-latest.log](https://gist.github.com/FiveEYZ/9a6a32ca2af625f422e1fe078aca1ea1)
[latets.log](https://gist.github.com/FiveEYZ/65c2ddee3c09c966c707ab8075f86632)

[2016-12-01 22:31] Mohron commented on #1072
I can confirm this issue affecting Refined Storage.

[2016-12-02 09:01] bloodmc commented on #1072
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/ce93b5fdea4a2f2f1889c6675387433098f0808f

[2016-12-02 09:01] #1072 closed, assigned to nobody

[2016-12-02 14:59] bloodmc commented on #1066
@hunter688 Test 1930

[2016-12-02 15:03] ghost commented on #1072
It works now, thanks for fix!

[2016-12-02 15:09] ghost commented on #1066
scrapbox still not working

[2016-12-02 15:29] bloodmc commented on #1045
Reopen if the issue exists in 1930+

[2016-12-02 15:29] #1045 closed, assigned to nobody

[2016-12-02 15:33] bloodmc commented on #992
This issue was fixed by dev. Upload to latest ElecCore builds. Also make sure you are running LATEST SF builds.

[2016-12-02 15:33] bloodmc commented on #1002
@ProsperCraft Test latest SF build.

[2016-12-02 15:35] bloodmc commented on #1039
This NPE should never happen but in your case happened due to max-tick-time being set to a really high number or disabled entirely. Set max-tick-time back to a reasonable number and you wont have this crash but instead get a proper Watchdog thread dump.

[2016-12-02 15:35] #1039 closed, assigned to nobody

[2016-12-02 15:38] bloodmc commented on #966
We have reached out to AE2 dev with required PR fix. Once AE2 is stable enough, it will be accepted. For now, there are patched builds out there that should work. Check the AE2 ticket for details.

[2016-12-02 15:38] #966 closed, assigned to gabizou, Aaron1011

[2016-12-02 15:38] #1040 closed, assigned to nobody

[2016-12-02 15:39] bloodmc commented on #1069
Update to latest SF build.

[2016-12-02 15:39] #1069 closed, assigned to nobody

[2016-12-02 15:42] bloodmc commented on #1006
Update to latest SF.

[2016-12-02 15:42] #1006 closed, assigned to nobody

[2016-12-02 15:42] bloodmc commented on #999
This has been fixed in latest SF builds.

[2016-12-02 15:42] #999 closed, assigned to nobody

[2016-12-02 15:43] bloodmc commented on #970
No response in over a month.

[2016-12-02 15:43] #970 closed, assigned to nobody

[2016-12-02 15:44] bloodmc commented on #876
Update to latest SF.

[2016-12-02 15:44] #876 closed

[2016-12-02 15:46] bloodmc commented on #866
Update to latest SF build.

[2016-12-02 15:46] #866 closed

[2016-12-02 15:46] bloodmc commented on #871
1.8.9 no longer supported. Update to latest SF 1.10.2+ builds.

[2016-12-02 15:46] #871 closed

[2016-12-02 15:47] bloodmc commented on #868
1.8.9 is no longer supported. Update to latest SF 1.10.2+ builds.

[2016-12-02 15:47] #868 closed

[2016-12-02 15:48] bloodmc commented on #834
Update to latest SF builds.

[2016-12-02 15:48] #834 closed

[2016-12-02 15:48] bloodmc commented on #780
Update to latest SF builds.

[2016-12-02 15:48] #780 closed

[2016-12-02 15:49] bloodmc commented on #764
1.8.9 is no longer supported. Update to latest SF 1.10.2+ build.

[2016-12-02 15:49] #764 closed

[2016-12-02 15:51] bloodmc commented on #1057
OK just keep it disabled for 1.8.9. When you update to 1.10.2+, you can leave it on as it works correctly.

[2016-12-02 15:51] #1057 closed, assigned to nobody

[2016-12-02 16:11] phit commented on #1045
working fine with
extrautils2-1.10.2-alpha-1.2.2
spongeforge-1.10.2-2171-5.1.0-BETA-1930

[2016-12-02 17:50] FiveEYZ commented on #1069
Still happening on SF 1930

[fml-server-latest.log](https://gist.githubusercontent.com/FiveEYZ/3b4a9a007b040e987919b74c4430f772/raw/718dcb096d8f8f72fe996f6b5d0d55627c2acbde/fml-server-latest.log)
[latets.log](https://gist.github.com/FiveEYZ/e1b22c4b99a767204ce3765c5e224dde)

Also tried to throw a ender pearl but nothing gets thrown, the stack count gets reduced by 1 every attempt to throw.

unable

[2016-12-02 18:02] #944 closed

[2016-12-02 18:03] Zidane commented on #918
Re-open in SpongeCommon.

[2016-12-02 18:03] #918 closed

[2016-12-02 18:03] Zidane commented on #713
Re-open in SpongeCommon.

[2016-12-02 18:03] #713 closed

[2016-12-02 18:04] Zidane commented on #669
1.8.9 is no longer supported. Check this against stable-5 and re-open if still an issue.

[2016-12-02 18:04] #669 closed

[2016-12-02 18:05] Zidane commented on #663
1.8.9 is no longer supported. Check this against stable-5 and reopen if still an issue.

[2016-12-02 18:05] #663 closed

[2016-12-02 18:05] Zidane commented on #630
@bloodmc has finished this up in latest bleeding.

[2016-12-02 18:05] #630 closed

[2016-12-02 18:06] Zidane commented on #502
@kashike

Want to look into making this work now that you have a machine again? :p.

[2016-12-02 18:07] #718 closed

[2016-12-02 18:08] Zidane commented on #720
@simon816

Change this to how you want it to be then.

[2016-12-02 18:08] Zidane commented on #723
1.8.9 is no longer supported. Check this against stable-5 and reopen if still an issue.

[2016-12-02 18:08] #723 closed

[2016-12-02 18:09] Zidane commented on #747
1.8.9 is no longer supported. Check this against stable-5 and reopen if still an issue.

[2016-12-02 18:09] #747 closed

[2016-12-02 18:09] Zidane commented on #778
I think this has been resolved a bit ago.

[2016-12-02 18:09] #778 closed

[2016-12-02 18:10] #783 closed

[2016-12-02 18:12] Zidane commented on #801
I believe @bloodmc resolved this issue as well as API5 now has InteractItemEvent.

[2016-12-02 18:12] #801 closed

[2016-12-02 18:13] Zidane commented on #823
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:13] Zidane commented on #867
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:13] #867 closed

[2016-12-02 18:15] Zidane commented on #637
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:15] #637 closed

[2016-12-02 18:15] Zidane commented on #741
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:15] #741 closed

[2016-12-02 18:16] Zidane commented on #881
Have them re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:16] #881 closed

[2016-12-02 18:16] Zidane commented on #899
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:17] Zidane commented on #911
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:17] #911 closed

[2016-12-02 18:17] Zidane commented on #875
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:17] #875 closed

[2016-12-02 18:18] Zidane commented on #1020
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:18] #1020 closed, assigned to nobody

[2016-12-02 18:19] #1010 closed, assigned to nobody

[2016-12-02 18:19] Zidane commented on #1008
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:19] #1008 closed, assigned to nobody

[2016-12-02 18:21] Zidane commented on #996
That last gist shows that you've got a mod classloading MinecraftDummyContainer too early. Not a Sponge issue.

[2016-12-02 18:21] #996 closed, assigned to nobody

[2016-12-02 18:23] Zidane commented on #994
I agree with @Aaron1011 , when you have a mod taking over core server logic (ie ticking other TEs....), we can't expect to work with it.

[2016-12-02 18:23] #994 closed, assigned to nobody

[2016-12-02 18:23] Zidane commented on #952
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:23] #952 closed

[2016-12-02 18:23] #977 closed, assigned to nobody

[2016-12-02 18:24] FiveEYZ commented on #1027
Only issue left is when i try to break a Drive Bay it will dissapear and i get this error http://pastebin.com/DESLRixd

[2016-12-02 18:25] Zidane commented on #1031
Re-test with stable-5 and re-open if it still occurs.

[2016-12-02 18:25] #1031 closed, assigned to nobody

[2016-12-02 18:31] phit commented on #1031
works fine in spongeforge-1.10.2-2171-5.1.0-BETA-1930 👍

[2016-12-02 18:33] gabizou commented on #994
@sci4me I can't really contemplate on how to get Torcherino to be compatible with Sponge's core systems (since it does take over a lot of core systems around the game to not just make the API function, but to improve performance). If you're willing to somehow make your mod compatible with sponge in a way, I don't know how, but you'd effectively have to hook into our CauseTracker system with [this

[2016-12-02 18:37] bloodmc commented on #1069
@FiveEYZ Remove all mods and plugins and test with ONLY SF.

[2016-12-02 18:41] Zidane commented on #979
Re-test with stable-5 and report back if still an issue and we will re-open.

[2016-12-02 18:41] #979 closed, assigned to nobody

[2016-12-02 18:42] Zidane commented on #804
Re-test with stable-5 and report back if still an issue and we will re-open.

[2016-12-02 18:42] #804 closed

[2016-12-02 18:42] Zidane commented on #861
Re-test with stable-5 and report back if still an issue and we will re-open.

[2016-12-02 18:42] #861 closed

[2016-12-02 18:43] #988 closed, assigned to Aaron1011

[2016-12-02 18:49] Zidane commented on #1030
Re-test with just Sponge (remove all mods and plugins) and test again. If it works, add back mods/plugins until you find the setup that triggers it.

[2016-12-02 18:49] #1030 closed, assigned to nobody

[2016-12-02 18:49] #707 closed

[2016-12-02 18:51] Zidane commented on #765
Re-test with stable-5 and report back if still an issue and we will re-open.

[2016-12-02 18:51] #765 closed

[2016-12-02 20:03] Aaron1011 commented on #1027
@FiveEYZ: That appears to be an issue with the version of Scala being used by that mod. Can you check if that crash occurs without Sponge?

[2016-12-02 20:03] Aaron1011 commented on #889
I don't think this issue is fixed - I have some code in a branch that I need to revist.

[2016-12-02 20:07] FiveEYZ commented on #1027
https://github.com/elytra/Correlated/commit/d4c0ce8dbcb6ea799e04b21a4843a5920456a9ca

[2016-12-02 20:09] Aaron1011 commented on #1027
Lol, that commit message :)

Closing, as this was resolved in the mod.

[2016-12-02 20:09] #1027 closed, assigned to nobody

[2016-12-03 00:50] #502 closed

[2016-12-03 00:50] #865 closed

[2016-12-03 05:50] hugeblank opened #1078 "[1.11] Observer blocks partially broken"
the title only puts it lightly, the observers are more than partly broken. In all of my tests, the observer either works when breaking a block, or it doesn't work at all.
I'm going to preface this by discussing how the observer (Block Update Detector) is supposed to work.

- Outputs a Redstone signal if any change occurs to the block adjacent to the face of the observer whether it be:
  - Blocks b

[2016-12-03 13:51] phit opened #1079 "Gravestone mod items not dropping"
When breaking gravestones from the [gravestone mod](https://minecraft.curseforge.com/projects/gravestone-mod) some items don't drop when breaking the gravestone, e.g. any tinkers construct tools don't drop.
This started happening since I've updated to ```spongeforge-1.10.2-2171-5.1.0-BETA-1930``` and worked fine before with the same mod versions.

Could reproduce it with just these mods and sponge

[2016-12-03 15:29] #1078 closed, assigned to nobody

[2016-12-03 15:47] Aaron1011 commented on #1076
@zerafox: Are you able to reproduce the issue consistently with that plugin?

[2016-12-03 17:45] ghost commented on #1033
Full description is in the Forge ticket.

Simply I would like change kick message sent to client. Instead of list missing/incopatible mods prefer some kind of message what understand every players. Eg. "You have wrong versions of mods, please update modpack" - this message will be configurable at server side and show to client when disconnected.

[2016-12-03 18:29] phit commented on #1033
I would like to see this added, the current message is rather useless for players that just play modpacks.

[2016-12-03 20:32] #1079 closed, assigned to nobody

[2016-12-03 20:40] johnfriedrich opened #1080 "Crash/Errorspam unwind org.spongepowered.common.event.tracking.phase.packet.PrimaryInventoryShiftClick@79b17038"
SF 1928
Forge 2123
Pixelmon 5.0 Beta 12
To be honest I have no idea how to reproduce.
We have 60 players online and we get this or even bigger traces quite often, ending in crashes or 5.000.000 lines of errors in 3 seconds.
http://pastebin.com/sbNhkX86
http://pastebin.com/arKh14Rs
http://pastebin.com/d7TnzWQP

[2016-12-03 21:31] ghost commented on #883
I can confirm this. Using a regular command block ("impulse" mode, "needs redstone").

Forge Version: 1.10.2-12.18.2.2171
SpongeForge Version: 1.10.2-2171-5.1.0-BETA-1933
Mod(s): Extra Utilities v2-1.10.2-1.1.1

No important logs, just information about block placing from command.

[2016-12-03 22:09] Aaron1011 commented on #1080
Can you upgrade to SpongeForge 1942? I've made some changes that will aid in debugging future stacktraces.

[2016-12-03 23:12] johnfriedrich commented on #1080
Testing with SpongeForge 1942 and Forge 2171 now. Will report back if error shows up again.

[2016-12-04 00:14] zerafox opened #1081 "Duplicating Entities"
Teleporting from one area to another and back again causes a Duplication of Entities.

This was discovered by the increasing amount of Cows, Pigs, Chickens & Mo' Creatures sharing a space often occupied by the player.

Mods installed to SpongeForge:
Forge: 12.18.2.2171
SpongeForge: 1.10.2-2171-5.1.0-BETA-1942
AdminShop 1.8.2
**Biomes O' Plenty:** 5.0.0.2109
**Custom Spawner:** 3.10.1
**Custom NPCs

[2016-12-04 00:34] zerafox commented on #1081
I've done some minor teleportation tests in a Forge only environment with only the mods installed to the client, I cannot reproduce a duplication with only Forge supported Mods.
For this test, I recorded my starting location and spawned 1 Vanilla Cow, 1 Mo'Creatures Turkey and an NPC from CustomNPC. Teleported a great deal away from the location and returned. No duplication of either the Turkey or

[2016-12-04 00:41] Aaron1011 commented on #1073
@hunter688: Can you reproduce this on the latest SpongeForge? Also, do you mean dying twice in a row by the same source, or something else?

[2016-12-04 00:56] Aaron1011 commented on #1067
This is my fault - I never updated our tab completions injections for 1.9, when the code was modified to support sending the targeted block during tab completion. I'll update it.

[2016-12-04 01:00] kashike commented on #1035
@LemADEC What event is Sponge changing the behaviour of?

[2016-12-04 01:42] zerafox commented on #1076
I'm not sure I've seen it more than that once.
And I already don't remember what happened when it occurred. My guess would be when I couldn't place items anymore.. Which I haven't encountered again yet. It was a completely random/untriggered occurrence as far as I am aware.

[2016-12-04 02:17] zerafox commented on #1076
If this is related to the instance i couldn't place items, I'd say it's still occurring.  I am still unable to place blocks in certain areas, which are not protected.. But I can place blocks in the area around them and below them just fine.
Attempting to place gives the illusion that items are removed from my inventory/hotbar but clicking on the slot refreshes the stacks actual count.

[2016-12-04 02:32] #1067 closed, assigned to Aaron1011

[2016-12-04 03:42] LemADEC commented on #1035
My understanding is that something in WrapperCommandSource doesn't reproduce original behavior when calling getPlayer().

[2016-12-04 03:58] kashike commented on #1035
No, CraftTweaker just doesn't handle all vanilla command source types - such as sign block entities.

[2016-12-04 03:59] inklit commented on #1081
Oh interesting. This seems to affect my server as well but I didn't quite pin it down to what was causing it.

[2016-12-04 05:47] zerafox commented on #1081
Do you also have any of the mods I listed above?
If not, I think we can rule out any sort of mod combination or fault.

[2016-12-04 08:45] ghost commented on #1073
Yes by same source. Reproduced with build 1933.
<pre>
[09:44:07] [Server thread/INFO]: Adam4CZ was shot by Skeleton
[09:45:02] [Server thread/INFO]:
</pre>

[2016-12-04 10:13] LemADEC commented on #1035
It works fine without Sponge. It fails on a null player with Sponge. How could that be a bug in the mod itself?

[2016-12-04 13:06] kashike commented on #1035
@LemADEC If you look at [the source](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/command/WrapperCommandSource.java#L115-L126) you'll see that all `WrapperCommandSource` does is wrap an `ICommandSender`.
If you look [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/command/WrapperCommandSo

[2016-12-04 13:17] ghost opened #1082 "chisel mod NPE in server console"
[code]

[2016-12-04 13:19] ghost commented on #535
It looks like this bug returns in the SF build 1933 - build 1930 is ok

[2016-12-04 13:25] stephan-gh commented on #535
@hunter688 Have you tested with the latest build? The latest build is `1.10.2-2171-5.1.0-BETA-1949`

[2016-12-04 13:28] ghost commented on #535
Something is with my browser cache, i see latest 1933.

[2016-12-04 13:29] stephan-gh commented on #535
The Forge downloads page is having problems currently, for now you can access the latest build at https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2

[2016-12-04 13:35] ghost commented on #535
looks fine, thanks for suggestion

[2016-12-04 13:37] Aaron1011 commented on #1073
@hunter688: are you able to reproduce this without any plugins or mods?

[2016-12-04 13:37] ghost commented on #1066
with build 1947 still not working

[2016-12-04 13:39] ghost commented on #1073
I will try it, then report...

[2016-12-04 14:07] ghost commented on #535
latest build works without problem, thx

[2016-12-04 17:10] johnfriedrich commented on #1080
New error with spongeforge 1952:
http://pastebin.com/mpkTw2Hd

[2016-12-04 18:22] Aaron1011 commented on #1066
For now, set `drops-pre-merge` to `false` in your `global.conf` ('I've changed the default value, but it won't affect existing configs). In the future, we'll probably have a more granular way to disable per-merging, but it's necessary to disable it completely for now to fix this issue.

[2016-12-04 18:22] #1066 closed, assigned to Aaron1011

[2016-12-04 18:29] ghost commented on #1066
works for me, thanks!
<pre>
/sponge -g config optimizations.drops-pre-merge false
</pre>

[2016-12-04 18:34] Aaron1011 commented on #1080
@i9hdkill: Can you see if it's possible to reproduce this by left/right clicking or shift clicking in the Pixelmon pokemon gui to the left of your main inventory? You might need to actually perform an action (e.g. moving a pokemon around) for it to work.

[2016-12-04 19:25] inklit commented on #1081
None of the same mods.
[code]

[2016-12-05 04:27] bookerthegeek commented on #1081
@zerafox If I am reading this right, the entity needs to be in the same block space as the player when teleporting away and then back correct?

[2016-12-05 04:48] zerafox commented on #1081
In the area, within render range when teleporting back. Doesn't have to be sharing the block or even the block next the player. I think the entities were all within a 10-20 block radius tops around the player?

It also began duplicating hung item frames and the items in them too (causing them to pop off the extras to the floor) sometimes. That one didn't occur all the time though

[2016-12-05 05:31] bookerthegeek commented on #1081
What are you using to perform the teleportation?

[2016-12-05 05:35] zerafox commented on #1081
Nucleus

On Mon, Dec 5, 2016 at 12:31 AM, BookerTheGeek <notifications@github.com>
wrote:

[2016-12-05 15:55] inklit commented on #1081
I used EssentialCMDs

[2016-12-05 19:15] flier268 opened #1083 "Tinkers Construct of EFLN does not work"
Forge : forge-1.10.2-12.18.2.2179
MC : 1.10.2
SpongeForge : 1.10.2-2171-5.1.0-BETA-1933

EFLN will break block ,but i can't get any block
I have report to [here](https://github.com/SlimeKnights/TinkersConstruct/issues/2605)

[2016-12-06 00:24] johnfriedrich opened #1084 "[1.10.2] Intended to capture block changes, but there is no list available!"
SF 1957
Forge 2171
Not sure how this happened exactly.
Some players mentioned in this report were not even online, when this happened! Not even since the restart.(18hours before the error)
http://pastebin.com/5SBqWwfH
Tell me if you need more information.

Hm, leaf_stone_hoe is involved, which is actually bugged in the pixelmon mod.

[2016-12-06 00:25] johnfriedrich commented on #1080
Me and some staff members tried that. Even to interact with pixelmon pc's etc. all kind of pokemon movements inside the gui etc. Everything fine.

[2016-12-06 07:12] LertuZUES opened #1085 "[1.10.2] Crash Error with every single version of sponge forge for 1.10.2"
[23:09:58] [main/INFO] [LaunchWrapper]: Loading tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[23:09:58] [main/INFO] [LaunchWrapper]: Using primary tweak class name net.minecraftforge.fml.common.launcher.FMLServerTweaker
[23:09:58] [main/INFO] [LaunchWrapper]: Calling tweak class net.minecraftforge.fml.common.launcher.FMLServerTweaker
[23:10:01] [main/INFO] [FML]: Forge

[2016-12-06 08:24] Deamon5550 commented on #1085
Duplicate #966

[2016-12-06 08:24] #1085 closed, assigned to nobody

[2016-12-06 14:55] johnfriedrich opened #1086 "[1.10.2] Daylight sensor crash Cannot get property PropertyInteger"
Happened when saving the map
Mc server log: http://pastebin.com/f7XVyhZh
mc crash log: http://pastebin.com/rxFxFha9
No errors in forge log.
We just use Pixelmon, so no mod that uses/alters the sensor at all. So guess it's eiher sponge or forge.

[2016-12-06 18:49] axle2005 opened #1087 "RR4 Issue Updating Sponge. - Negative Array Size Exception"
I tried to update from build 1925 to 1963, gets to the point its loading Malisis Core

http://pastebin.com/i75pX84D

[2016-12-07 02:27] gabizou commented on #1087
There's more to the log, please include the full log.

[2016-12-07 03:02] kashike commented on #975
https://github.com/SpongePowered/SpongeCommon/commit/86f2f3ca6cfa230ebd81c80588d9e56638338773

[2016-12-07 03:02] #975 closed, assigned to kashike

[2016-12-07 03:02] kashike commented on #975
@ProsperCraft :)

[2016-12-07 04:30] cj89898 commented on #966
How can I update myself on if this is released/accepted?

[2016-12-07 04:49] LertuZUES opened #1088 "NO CONFIG"
im currently using the latest build of sponge on 1.10.2 and WHENEVER I LOAD the server to get the plugin config It wont generate it

[2016-12-07 05:11] LertuZUES commented on #1088
and no log
its like the plugins are invisible in the plugins folder

[2016-12-07 06:00] bloodmc commented on #1084
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/e197c1ea07772481b991d46b00b52641b850fc24

[2016-12-07 06:00] #1084 closed, assigned to nobody

[2016-12-07 06:02] bloodmc commented on #1080
@i9hdkill Does this happen with SF 1971?

[2016-12-07 07:09] ghost commented on #799
Still not fixed in the build 1971. Voting for this bug.

[2016-12-07 08:41] SnowBlitzz commented on #1073
iirc this is an issue with GP. Not sure tho, so any tests would be nice @hunter688

[2016-12-07 12:18] JBYoshi commented on #1088
If there is no log, could you post the terminal output?

[2016-12-07 12:21] Deamon5550 commented on #1088
also when you say `plugins folder` you are aware that plugins go into the mods folder by default right?

[2016-12-07 14:23] bloodmc commented on #1088
Move plugins to mods folder as Deamon stated.

[2016-12-07 14:23] #1088 closed, assigned to nobody

[2016-12-07 14:24] bloodmc commented on #1081
@zerafox You need to test latest Forge/SF with no other mods and/or plugins besides nucleus.

[2016-12-07 14:26] bloodmc commented on #1060
Update to latest SF.

[2016-12-07 14:26] #1060 closed, assigned to nobody

[2016-12-07 14:27] bloodmc commented on #1048
@trabpukcip Does this occur with SF 1971?

[2016-12-07 14:31] bloodmc commented on #1026
@Aaron1011 what is the status of this?

[2016-12-07 14:59] phit commented on #1026
I didn't see this issue pop up again in recent builds.

[2016-12-07 15:07] #1026 closed, assigned to nobody

[2016-12-07 15:08] bloodmc commented on #1062
Update to latest SF. There should be no issue.

[2016-12-07 15:08] #1062 closed, assigned to nobody

[2016-12-07 15:08] bloodmc commented on #1028
@lilmoefow Does this occur with SF 1971? Also turn off item pre-merging if you have it on in sponge's global.conf

[2016-12-07 17:04] inklit commented on #799
Confirmed it is still a problem on latest SpongeForge, @bloodmc said he had some insight on this issue a while back, any ideas?

[2016-12-07 17:27] jasoninsane commented on #1048
hello! yes the dupe is still there along with not being able to drop redstone and with just sponge forge mod without plugins

[2016-12-07 22:35] lilmoefow commented on #1028
forge-1.10.2-12.18.2.2171-universal.jar
spongeforge-1.10.2-2171-5.1.0-BETA-1971.jar
Psi-r1.0-42.jar

It seems to be fixed.  When i pick up the item from my inventory and try to place into a chest, there is an extra "ghost" item still in my inventory for not even a half a second then it corrects its self.  No crashing, duping or deleting of the C.A.D. seems to  be happening any more.

[2016-12-08 00:03] LertuZUES opened #1090 "Why does the server KEEP CRASHING"
I keep crahing whith this log please help me because I'm kinda new to sponge
http://pastebin.com/XdKANCwA

[2016-12-08 00:48] Deamon5550 commented on #1090
You are using an out of date plugin `io.github.hsyyid.spongychest` looks like it was made for api 4.x but you are running with version 5.1.0.

[2016-12-08 00:48] #1090 closed, assigned to nobody

[2016-12-08 04:38] alicheek opened #1091 "Sponge Forge Build 1.10.2 [1971] Random Crash with RFtools Power Generator"
Doesnt seem to be a consistant crash but it has done it a few times now

Crash Report : http://pastebin.com/rDBeYUKx

[2016-12-08 04:54] alicheek opened #1092 "Sponge Forge Build 1.10.2 [1971] : New World Generation & Lag Spikes"
Hey there, now i do not have any errors for this issue but it seems that all our 1.10.2 servers with sponge forge installed seem to be getting issues with quite substantial lag spikes from  new world generation, these lag spikes can last about 10 seconds which in this time a player basically cant interact with the world.

I have quite a few servers from 1.5.2 to 1.11 and general lag will just prod

[2016-12-08 06:59] ghost commented on #1092
pregen yours world before server start...

[2016-12-08 16:17] johnfriedrich commented on #1080
Not the inventory issue I guess, but this is still there:
http://pastebin.com/xqDs9XwP
Full log: (55mb)
http://pastebin.com/ScjiFFdC
https://www.dropbox.com/s/wt36v0gxwid5h4a/fml-server-latest.log?dl=0
This only happens if people give each other /at or /trust when they are both on the same claim.

For example
Player A owns a claim.
Player B is on that claim.
Player A uses /at or /trust PlayerB

Bi

[2016-12-08 16:36] bloodmc commented on #1092
Do what hunter688 said and pregen your world. Use nucleus or project borders to do this. Search for them on our forums.

[2016-12-08 16:36] #1092 closed, assigned to nobody

[2016-12-08 17:24] bloodmc commented on #1080
@Aaron1011 @gabizou can you see what is happening above?

[2016-12-09 00:14] inklit opened #1093 "Infinitely flying Wither Skulls"
As you can see by this picture....
[http://i.imgur.com/ShNy8u7.png](url)...
a Wither Skull is flying infinitely through my world. Wither Skulls appear to not despawn until they hit something.
They should have a maximum lifetime and then despawn automatically after they reach it.

SpongeForge version 1.10.2 1971

[2016-12-09 00:32] Aaron1011 commented on #1093
I'm fairly certain that this is a Vanilla issue.

[2016-12-09 01:39] Nullga opened #1094 "[1.11] Server closes while creating dimensions"
Forge 1.11-13.19.0.2178
Sponge 1.11-2178-6.0.0-BETA-1972
RFTools 1.1x-5.70
RFTools Dimensions 1.1x-4.50
McJty lib 1.1x-2.3.1
CompatLayer - 1.11-0.1.3

Logs
http://pastebin.com/1RkdPTyY
http://pastebin.com/PrzQr22w

Server closes while creating RFTools dimensions. Installed mods are RFT Dims and its dependencies. Dimlets specified to create the dimension are Normal sky, Effect none and Feature non

[2016-12-09 06:31] ghost commented on #1073
Looks like fixed now (Tested with build 1971).

[2016-12-09 06:31] #1073 closed, assigned to nobody

[2016-12-09 07:29] shuymn opened #1095 "[1.11] Exeption caught when trying to attack mobs."
Exeption happended when left clicking(attack) mobs.
This error doesn't cause server/client crash and only in SpongeForge 1972+

my server latest.log: http://pastebin.com/9q42KGw7

Minecraft: 1.11
SpongeForge: 1974
Forge: 2178

[2016-12-09 07:29] Nullga opened #1096 "[1.11] Can't deal damages to mobs"
Forge 1.11-13.19.0.2178
Sponge 1.11-2178-6.0.0-BETA-1974
(No other mods)

Logs
http://pastebin.com/bh63ivhU
http://pastebin.com/fzYguTZy

Can't deal damages to mobs. Sponge BETA 1974 as well as 1972 but 1970.

[2016-12-09 07:33] Nullga commented on #1096
Just noticed this is dupe of https://github.com/SpongePowered/SpongeForge/issues/1095
Thank you.

[2016-12-09 07:33] #1096 closed, assigned to nobody

[2016-12-09 16:30] phit opened #1097 "Grave losing items when breaking grave"
Players noticed after I upgraded to 1971 from 1955 that when they break their graves they no longer get all their items (full stacks) back.

Reproduction:
1. fill your inventory http://i.imgur.com/dJeT5bJ.png
2. do /kill
3. break your grave http://i.imgur.com/odbtaQA.png

Since this worked with previous Sponge versions it's unlikely to be a mod issue and the deathnote also lists all items properly

[2016-12-09 16:50] FiveEYZ commented on #1097
same thing is happening for me, here is my "Latest.log" where this happen: https://gist.github.com/FiveEYZ/258da8f45e3c7473df41241ff052f84a#file-latest-log-L3608

[2016-12-09 17:46] gabizou commented on #1080
@bloodmc this was fixed ages ago with bed block changes. If I recall, we recently changed it ever so slightly, but it should still be capturing block changes (or letting them pass through). There's basically supposed to be special handling from the stop sleeping status packet.

[2016-12-09 17:48] phit opened #1098 "Insane drop of tickrate and freezes after tracking error"
So I finally figured it out, the insane lag I've been getting..
TPS drops to under 1 and server eventually just stalls, it all starts with these errors
https://gist.github.com/phit/e87b8c01f17ef1b3254d8d1a54aa0587#file-latest-log-L142

It was fine in 1955, currently on 1971
Modpack is Direwolf20 version 1.0.0

[2016-12-09 17:50] gabizou commented on #1094
Wait, is this reproducible? Or not reproducible?

[2016-12-09 17:53] ghost commented on #937
I too am have the same issue my logs - http://pastebin.com/rbhd9Vwr - http://pastebin.com/EQdBhRbk
I am using BIOMESOP - and a custom seed. My pack is FTB Infinity Lite 1.3.3
SpongeForge
Minecraft: 1.10.2
SpongeAPI: 5.1.0-SNAPSHOT-682caf3
SpongeForge: 1.10.2-2171-5.1.0-BETA-1973
Minecraft Forge: 12.18.2.2166

Plugins installed
CommandScheduler-2.3.jar
griefprevention-1.10.2-2.2.0.185.jar
Nucleus-0

[2016-12-09 20:24] Aaron1011 commented on #1095
Sorry about that - I forgot to update the submodule ref for my fix. The problem should be fixed in the latest SpongeForge (commit https://github.com/SpongePowered/SpongeForge/commit/846342f324bfa3b93235b3154397256dbbf960d7)

[2016-12-09 20:24] #1095 closed, assigned to nobody

[2016-12-09 20:37] johnfriedrich commented on #1080
Yes, still getting the inventory one with 1971

[2016-12-09 20:49] ghost commented on #937
also updated the MC forge version to 2171 and took out all plugins and I am still aable to reproduce the errors

[2016-12-09 22:44] Aaron1011 commented on #1094
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/910. @Zidane needs to decide how we want to handle this.

[2016-12-09 22:44] #1094 closed, assigned to nobody

[2016-12-10 02:17] Aaron1011 commented on #1003
This issue can be solved by setting `max-bounding-box-size` to `0` in your `global.conf`.

@bloodmc: Why do we remove entities with a 'too large' bounding box by default? The only thing this seems to accomplish is breaking mods.

[2016-12-10 02:17] #1003 closed, assigned to nobody

[2016-12-10 09:28] bloodmc commented on #799
The bug seems to be on OpenComputer's end. I filed a ticket here

https://github.com/MightyPirates/OpenComputers/issues/2173

[2016-12-10 10:04] ghost commented on #799
I tried as workaround remove OC robots from block tracking:
<pre>
    }
    block-tracking {
        # Add block ids you wish to blacklist for player block placement tracking.
        block-blacklist=[
            "opencomputers:robot",
            "oc:robot",
            "oc:rs.bundledInput",
            "oc:rs.rednetInput",
            "oc:rs.bundledOutput"
        ]
        # If enabled, adds p

[2016-12-10 10:06] ghost commented on #799
Maybe will be useful some kind of entity/tile entity tracking blacklist too. (for debugging purposes).

[2016-12-10 13:35] phit commented on #1097
this also happens when breaking hoppers

[2016-12-10 15:26] Vexatos commented on #799
https://github.com/MightyPirates/OpenComputers/pull/2174 should fix the issue with robots duplicating once it is merged.

[2016-12-10 15:48] bloodmc commented on #799
I also added a patch which should fix issues with current versions of OpenComputers.

https://github.com/SpongePowered/SpongeCommon/commit/956f69ec03d62f96928d52b9ffdc5b046f70b483

Thanks again @Vexatos

[2016-12-10 16:29] inklit commented on #799
Thanks a lot @bloodmc and @Vexatos! I can't wait until that fix is merged into 1.10.2.

[2016-12-10 16:37] inklit commented on #1097
@phit I can't reproduce with hoppers.

[2016-12-10 16:42] phit commented on #1097
https://phit.link/files/share/2016-12-10_17-42-27.mp4

with spongeforge-1.10.2-2171-5.1.0-BETA-1976

[2016-12-10 17:07] Orcinuss commented on #1091
This doesn't seem to be limited to one type of block. Happened to me with the RFTools timer.
Crash Report: http://pastebin.com/8JrJSFxK

I reported it on RFTools Github: https://github.com/McJty/RFTools/issues/913

[2016-12-10 17:14] Orcinuss opened #1099 "Unable to Update Redstone Neighbors -> Crash"
Sponge seems to be having trouble updating redstone wire at times and occasionally crashes the server. The last block being updated says it has something to do with the rftools timer.

Please note that the actual size of the crash report is 1.2MB and has been cut short due to file restrictions on pastebin.
Crash Report: http://pastebin.com/Gx3K9jqZ
Full Report: http://paste.ubuntu.com/23609184/

[2016-12-10 17:18] FiveEYZ commented on #1099
U can use paste.ubuntu.com no limitation there

[2016-12-10 17:19] Orcinuss commented on #1099
It doesn't really make a difference due to the crash report being the same exact thing over and over again.

[2016-12-10 17:20] Aaron1011 commented on #1099
I'm fairly certain that this is the same issue as with Extrautil2's redstone clock. I'll be investigating this later today.

[2016-12-10 17:21] Orcinuss opened #1100 "Unable to generate crash report correctly"
Not sure about this one. Based on the block being ticked it has something to do with refined storage but im going to guess that the actual error should come out differently and has something to due wit sponge itself.

Crash report: http://pastebin.com/ygfhrhbg

[2016-12-10 17:51] gabizou commented on #1100
Could you link a full startup log? There might be a failed mixin for whatever reason.

[2016-12-10 18:16] Orcinuss commented on #1100
I don't have the startup logs from the time of the crash. I do have the log from the time of the crash but that only has stuff from when the server was online till it crashes.
Here is the latest startup log of the server: http://paste.ubuntu.com/23609447/

[2016-12-10 18:29] ghost commented on #799
Thanks a lot. Now robots move! Great job!

[2016-12-10 19:29] johnfriedrich opened #1101 "endportal with disabled end crashes server and/or collide portal"
5.1.0-BETA-1971
An end portal is involved. (End is disabled in world.conf)
Server crashed, not sure what the player did.
minecraft log:
https://pastebin.com/Vi7xjCi2
minecraft crash log:
https://pastebin.com/nANjwgQz

In addition to that, server lags ridiculously, if you step into an endportal if end is disabled.
https://timings.aikar.co/v2/?id=670c5980de6e47be8f7c59d6271e4b8a&start=1481397690&end

[2016-12-10 23:34] Mohron opened #1102 "Actually Additions Mob drops not dropping"
SF: spongeforge-1.10.2-2171-5.1.0-BETA-1976.jar
AA: ActuallyAdditions-1.10.2-r88.jar via DW20 1.1.3

This is related to #983 and #857. Actually additions bat wings and solidified xp still do not drop even with the fixes for the other drops involved in those issues. The items drop in without SF with no issues.

[2016-12-10 23:44] bloodmc commented on #1102
@Aaron1011 please look into this.

[2016-12-11 01:10] phit commented on #1098
@Aaron1011 as requested
https://gist.githubusercontent.com/phit/3295ea6189d8d5e4b737146d448c8800/raw/cf014a575006bafc03d13282e04981a54f9591e1/gistfile1.txt

[2016-12-11 02:24] johnfriedrich commented on #1080
@bloodmc @gabizou Can confirm it's a bed that is causing this issue.
You can easily repdroduce it.

[2016-12-11 02:35] axieum commented on #1020
@Zidane @ProsperCraft

This issue is still present on our recently updated HermitPack server (1.5.1; although was still an issue during 1.4.*). Solidified Experience does not appear to be a drop. We have, however, seen bat wings drop (which are another drop from the mod).

Versions:

[2016-12-11 03:28] trabpukcip commented on #1048
Sorry about the delay but yeah, still duping, updated forge to the required 2171 build and tested spongeforge builds 1971 and 1980. No changes to Flux Networks or SonarCore.

Here is a quick demo video:
https://youtu.be/goAOwRYsSTY

[2016-12-11 15:45] johnfriedrich commented on #1101
Yep, throwing items under some cirumstances in endportals will crash the server.

[2016-12-11 17:36] ProsperCraft opened #1103 "Server Crash - java.lang.NoClassDefFoundError: net/minecraft/crash/CrashReportCategory$4"
Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-323db46
    SpongeForge: 1.10.2-2171-5.1.0-BETA-1976
    Minecraft Forge: 12.18.2.2171

A player said they may have been moving a clock with a piston, I will update if we can reproduce it.

https://gist.github.com/ProsperCraft/0c43b4a175b812d6c096731a61887193

Thread: Server thread
Stacktrace:
	at net.minecraft.crash.CrashReportCategory.func_175750_a

[2016-12-11 18:01] kashike commented on #1103
#1100

[2016-12-11 18:54] Aaron1011 commented on #1103
@ProsperCraft: Can you post your full `fml-server-latest.log`?

@kashike: While those issues have the same error, they might be caused by two different mods.

[2016-12-11 19:11] Aaron1011 commented on #1099
I can't reproduce this with the latest SpongeForge. Can you post a screenshot of how the timer block is wired up in the world?

[2016-12-11 19:54] Aaron1011 commented on #1102
The mod author has updated it, but only for 1.11. At the moment, I don't think there's much you can do except for upgrading to 1.11. :/

@bloodmc ^

[2016-12-11 20:44] bloodmc commented on #799
Fixed in latest OC and SpongeForge builds.

[2016-12-11 20:44] #799 closed

[2016-12-11 23:05] ProsperCraft commented on #1103
https://gist.github.com/ProsperCraft/5f0234b15ebea6c3a8a53df8cb927685

[2016-12-12 01:16] Mohron commented on #1102
Fixed via my fork https://github.com/Rebelcraft/ActuallyAdditions/tree/spongeforge for anyone using DW20 v1.1.3

[2016-12-12 01:16] #1102 closed, assigned to Aaron1011

[2016-12-12 01:16] Mohron commented on #1102
@Aaron1011 Thanks for the help!

[2016-12-12 05:36] curscascis opened #1104 "Villager causing issue with sponge."
Upon a village being generated we are getting this issue, this is on a new map.
We've attempted to disable different mods to try to find the source at no avail.

[crash-2016-12-12_00.17.34-server.txt](https://github.com/SpongePowered/SpongeForge/files/645168/crash-2016-12-12_00.17.34-server.txt)

ModPack
http://www.technicpack.net/modpack/rosecraft-2.901656

[2016-12-12 05:39] curscascis commented on #993
Getting a  similar issue
https://github.com/SpongePowered/SpongeForge/issues/1104

[2016-12-12 05:58] curscascis commented on #1104
After some more trying things, setting Immersive Engineering to get rid of it's villagers seemed to cause the problem, but a problem still exists with the villagers being loaded and sponge crashing upon verifying them, not sure where the problem is exactly, also reporting the bug to IE dev.

[2016-12-12 06:07] curscascis commented on #1104
I take that back, after some time we are still seeing issues but no crashing, which is good.

here is our fml log, the errors are close to the end, maybe this will help.
[fml-server-latest.txt](https://github.com/SpongePowered/SpongeForge/files/645194/fml-server-latest.txt)

[2016-12-12 07:38] Polyana-Fontes opened #1105 "LoadChunkEvent and UnloadChunkEvent are not being called"
I'm developing a plugin that needs to handle both events but they are no longer being fired on Sponge Forge since version 1.10.2-2171-5.1.0-BETA-1930 (this commit: https://github.com/SpongePowered/SpongeForge/commit/49b141bfccccd02ac596903b5fcaf560a1ee2413 ) . Sponge Vanilla is still firing them.

I tested the most recent versions 1.10.2-2171-5.1.0-BETA-1986 and 1.11-2178-6.0.0-BETA-1985 and both

[2016-12-12 14:06] RhythmNz commented on #731
@thomas15v https://github.com/densitycraft/ForgePacketFix/ is 404
Do you have a file?

[2016-12-12 14:11] thomas15v commented on #731
@RhythmNz I removed that repo with the densitycraft group. Also I am not re-uploading that repo since it is not the correct way to fix it, see: https://github.com/MinecraftForge/MinecraftForge/issues/3284.

By modifying bungeecord to send the correct packet on server switch, you can easily fix the problem. However I am pretty sure that change will never get pulled in the original bungeecord since

[2016-12-12 14:26] axle2005 commented on #1087
Tried using 1973 and worked fine.

[2016-12-12 14:26] #1087 closed, assigned to nobody

[2016-12-12 14:37] ghost commented on #731
Try this: https://www.rebelgames.net/ForgePacketFix-1.0.1.jar

[2016-12-12 15:39] Aaron1011 commented on #1104
@curscascis: Can you see if this issue occurs with only Immersive Engineering, on a freshly-created world?

[2016-12-12 15:45] curscascis commented on #1104
Good Morning,
So we actually tried it out, and the issues started occurring again and we did get crash an hour o so later. So it seems as though it is not immersive engineering. just villagers of any mod that was removed.

On a freshly created world we have yet to see any errors. I'm not sure but My assumption is that sponge is just erroring out instead of handling it and either removing the entit

[2016-12-12 16:15] Aaron1011 commented on #1104
Yes, that would definitely be causing it.

@gabizo: What do you think is the best way to handle this? Should we log a warning, and revert the villager back to a default profession?

[2016-12-12 17:21] #1105 closed, assigned to bloodmc

[2016-12-12 20:50] ghost opened #1107 "weird bug with placing blocks"
Im found some areas on the map, where cannot place blocks, for example 2x1x1 cuboid. But can place for example torch, fence, wall. During some tests I tried using piston at adjacent area. When piston move to "bug block"  looks like its unbugged and can place block here. No errors in the console.

How i can debug what is wrong with these blocks? (some nbt, tile entity or... )

[2016-12-13 04:29] RhythmNz commented on #731
@thomas15v You mean I can write a plugin to fix?
I will try it thanks

[2016-12-13 08:05] thomas15v commented on #731
@RhythmNz Ehm no. You have to path your bungee in order to support it. This is the path I applied on my server: https://gist.github.com/thomas15v/3768613bce327caa2f46b319eadea615.

[2016-12-13 20:25] KasperFranz commented on #1097
any update @Aaron1011

it is with EnderIO spamming alot (and making it nonresponding for some minutes after this)

I am currently looking into which version this began in to narrow down what is causing it :)

[2016-12-13 20:41] KasperFranz commented on #1097
it isn't present in 1967 - but in 1971 so this must be the cause of it?

Connected [commit ](https://github.com/SpongePowered/SpongeForge/commit/622b29e6eaf96e8e9ab476e890e8cceb77b655ba) by @bloodmc

log: https://gist.github.com/KasperFranz/d481ac6bb013c8bfbe3473f246c8c364

[2016-12-13 20:46] Aaron1011 commented on #1097
@KasperFranz: Can you set `verbose-errors` to `true` in your global.conf, and restart your server? The new errors will be much more helpful.

[2016-12-13 20:47] KasperFranz commented on #1097
ofc gonna try that with 1 item in inventory

[2016-12-13 20:51] KasperFranz commented on #1097
Here you go:

FML:  https://gist.github.com/KasperFranz/d77b670e0215a9060488f85893bebdf8
latest.log: https://gist.github.com/KasperFranz/7f79bec8bc33e4f4e3b6b22bff67b0b1

[2016-12-13 21:19] KasperFranz commented on #1097
I can also reproduce with hoppers (when grave and sponge is in the pack)
[FML](https://gist.github.com/KasperFranz/48763dd4b58988ee58893a215be94c1d)
[latest.log](https://gist.github.com/KasperFranz/7997907a6daf6c23dd47a153583a891a)

If you need more from me just say so :)

[2016-12-14 01:17] axieum opened #1108 "Common occurrence where a player's client will be minutes behind but their information is still processed for other players."
Version: spongeforge-1.10.2-2171-5.1.0-BETA-1992

Running HermitPack: 1.5.1

A player will login, and not see other players messages, block placements etc.. for up to 2 minutes.
However, other players can still see their activity. Usually (to what I've seen) only affects one player that is online. Re-logging and restarting does not fix this. I thought my friend was going insane, until I experience

[2016-12-14 03:37] kashike commented on #1097
Looks like GitHub didn't close this issue when @Aaron1011 referenced it above - closing.

[2016-12-14 03:37] #1097 closed, assigned to Aaron1011

[2016-12-14 03:40] Aaron1011 commented on #1097
Github only closes issues automatically for commits on the default branch, to prevent an issue from being closed as soon as someone creates a feature branch to start working on it.

[2016-12-14 16:36] jelaw21 opened #1109 "Crashes After Generating Spawn on Server Start"
I have included the crash report, please assist?

[crash-2016-12-14_11.30.04-server.txt](https://github.com/SpongePowered/SpongeForge/files/652270/crash-2016-12-14_11.30.04-server.txt)

[2016-12-14 20:33] jelaw21 commented on #1046
I am having the same issue:

[crash-2016-12-14_11.30.04-server.txt](https://github.com/SpongePowered/SpongeForge/files/652806/crash-2016-12-14_11.30.04-server.txt)

[2016-12-15 01:22] axieum commented on #1081
This is also an occurrence on our HermitPack (1.5.1) server. However, I've only seen my tamed wolves duplicate.
**SpongeForge-5.10-BETA-1992**

[2016-12-15 07:10] ghost commented on #937
any update on this?

[2016-12-15 08:11] Orcinuss commented on #1099
Unfortunately the red stone that was causing this has been removed.

[2016-12-15 08:48] Orcinuss opened #1110 "Silent Caching Entity Error Causing TPS to Drop Below 5"
There is a silent caching entity error that gets spammed to console over and over again.

For some reason when this is happening the server's TPS drops below 5. I don't know what exactly is causing the error but the server always has 20 TPS unless this error is occurring. This can go on for hours before the server restarts. Sometimes the update time will reach into the upper hundreds and will usua

[2016-12-15 11:42] Aaron1011 commented on #1110
Make sure you're running the very latest SpongeForge.

[2016-12-15 14:03] mcenderdragon commented on #1046
We have tryed all veriant, old world, new world. In any combination it crashs

[2016-12-15 14:06] jelaw21 commented on #1046
Yeah. AbyssalCraft, which adds 4 dimensions, also crashes.

On Dec 15, 2016 9:03 AM, "mcenderdragon" <notifications@github.com> wrote:

[2016-12-15 14:21] mcenderdragon commented on #1046
In a default enviorment I cant find the methode "getGeneratorModifiers", so I guess you are adding it via ASM, what does this methode do?

[2016-12-15 17:18] johnfriedrich opened #1111 "[1.10.2]Entities stop spawning after a period of time"
Forge 2171
Sponge: 1986+ Not sure, using specialversion from blood
Pixelmon Beta 12

After starting the server everything is fine, entities are spawning fine. But after 1-4 hours, it depends on the entitiy type, entities will stop spawning.
Timings with an uptime of 45 minutes and 25 players online:
https://timings.aikar.co/v2/?id=38777fef8dd84c74bbd143701d8d2970
~1500 entities

Timings with a upt

[2016-12-15 18:13] Elec332 commented on #992
Amazing to hear this issue has been fixed! Great job SP team!

[2016-12-15 20:55] FiveEYZ commented on #1111
i most say, after reading this issue we have had this exact same thing happening to us

its happening so slow u barely notice it

[2016-12-15 22:08] FiveEYZ opened #1112 "[1.10.2] Error executing task"
I keep seeing this error every now and then.
[latest.log](https://gist.github.com/FiveEYZ/a2492d6f1cb5aab2343839157d0d039d)

Here is the fml log if needed:
[fml-server-latest.log](https://gist.github.com/FiveEYZ/f4aad350f14a996cedb0afbf9791ae5b)

Using:
spongeforge-1.10.2-2171-5.1.0-BETA-1992
forge-1.10.2-12.18.3.2185-universal
Direwolf20 1.10 1.1.4

[2016-12-15 22:21] Deamon5550 commented on #1046
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/storage/MixinWorldInfo.java#L643-L646

[2016-12-15 23:02] jelaw21 commented on #1046
Is there a planned fixed? Every mod I try that had dimensions fails.

On Dec 15, 2016 5:21 PM, "Nick Condé" <notifications@github.com> wrote:

[2016-12-16 01:57] Dysthymic opened #1113 "Disconnections during structure saves (feature request)"
There is a known issue with structure data saving causing immense issues on the recent updates of Sponge.
I along with several other large server owners have recently experienced frequent mass disconnections during world saves. Essentially what is happening is structures in the /world/data folder are not saving properly either due to lag caused by mods or potentially other various issues. However

[2016-12-16 04:26] inklit commented on #1111
It would definitely be helpful to know precisely which test build you are using from blood.

I am also using a test build and my server has been online for 4 days and entities spawn just fine.

[2016-12-16 12:44] alicheek opened #1114 "How to go about finding FakePlayer UUID"
Hey there might be a silly question but how do we go about finding the fake players to add to the list in the sponge configs?

[2016-12-16 14:37] Zidane commented on #1109
We need the full server log.

[2016-12-16 14:38] Zidane commented on #1108
Does removing Sponge fix the issue?

[2016-12-16 14:40] Zidane commented on #1114
Consult the mod author's documentation (or ask them directly). You'll likely get even more replies with more options on our forums (https://spongepowered.org) as the issue tracker for SpongeForge is for issues with the product.

[2016-12-16 14:40] #1114 closed, assigned to nobody

[2016-12-16 14:41] inklit commented on #1114
Generally if this is a problem, your server will likely be spamming lookups for that UUID. This makes it quite obvious that you need to add it to the fake player list.

[2016-12-16 14:43] #1099 closed, assigned to Aaron1011

[2016-12-16 17:11] Xiaminou opened #1115 "Spongeforge conflict with other mod?"
I thought I'd try spongeforge on my server with my 160 mods modpack today. But it looks like there's still conflicts with other mods, however I can't tell which.

Here is the log: [fml-server-3.txt](https://github.com/SpongePowered/SpongeForge/files/657790/fml-server-3.txt)

Minecraft: 1.10.2
Forge: 2185
Mods: [list.txt](https://github.com/SpongePowered/SpongeForge/files/657792/list.txt)

[2016-12-16 17:20] FiveEYZ commented on #1115
try remove appliedenergistics2-rv4-alpha-9

[2016-12-16 17:38] Xiaminou commented on #1115
Confirmed, it crashes with AE2 only. Yeah, looks like they're already working on it.

[2016-12-16 17:40] #1115 closed, assigned to nobody

[2016-12-16 22:41] Rasgnarok commented on #1113
Mapping in the /data folder of a world was causing that, upon timed saves, the players would disconnect on `Gathering id map for writing to world save [world name]` - normally 10 to 25ish players for me.

This was caused by a rushed update to a latest Sponge (at the time, `1.10.2-2171-5.1.0-BETA-1971`). Ever since then, the disconnects were happening no matter the plugins that were added or remove

[2016-12-16 22:53] Deamon5550 commented on #1113
We'd need profiling data from warmroast or `/sponge timings` to be able to debug this.

[2016-12-17 02:01] Orcinuss commented on #1110
This is still happening on the latest stable SpongeForge v1992.

[2016-12-17 02:02] Orcinuss commented on #1112
I am also getting this error.

[2016-12-17 07:25] Dysthymic commented on #1113
Some further information gathered by Jay113355:

https://bukkit.org/threads/psa-minecraft-1-7-update-possibly-losing-structures.186617/

It has been a fairly well known issue in the past and is still relevant. When this occurs again, I will get a timings report for help with debug but just to clarify we just need a method to disable those structures from saving

[2016-12-17 08:25] me4502 opened #1116 "Can't load multiple extra worlds (Potentially due to UUID being null)"
http://pastebin.com/uw6Gx7WH

This error occurs when adding a second extra world to SpongeForge. After checking the line it occurs on, it appears that's where it puts the UUID into a Map. It therefore appears that the UUIDs of the worlds aren't being saved.

[2016-12-17 10:19] jelaw21 commented on #1109
The issue is tied to another. Spongeforge crashes server any time a new dimension is added. These mods I have tried and all have caused server crash trying to load other dimensions.  AbbyssalCraft, RandomThings, and Futurepack.

[2016-12-17 12:11] johnfriedrich commented on #1113
That seems to be the feature, but more advanced:
https://github.com/SpongePowered/SpongeCommon/pull/887

[2016-12-17 16:40] exaskye opened #1117 "[1.10] A dimension-adding mod changing its mod ID but not dimension ID causes a crash on load"
See: elytra/Correlated#54

It seems Sponge remembers the old modid associated with a dimension and crashes if the modid has changed. (The fact the message is "derp" suggests to me this was assumed to never be the case.)

I recently renamed my mod from `correlatedpotentialistics` to `correlated` and got this issue report shortly after. The dimension imports cleanly on regular Forge.

Is there a qui

[2016-12-17 21:15] hugeblank opened #1118 "[1.10.2] server crash when changing/loading dimensions"
Issue:
when moving between dimensions, in my case the nether, everything loads for a second (you can see the chunk you are in consists of netherrack), and then the server crashes. I'm pretty sure this is sponge that is causing the issue, because when I looked at the log, it appeared to be some sort of world generation issue, and sponge is the only mod that I know of that handles world generation i

[2016-12-17 23:42] Tahul opened #1119 "[1.10.2] #2171 - UTF8 Characters creeping out"
https://yaelguilloux.fr/upload/java_2016-12-17_18-37-29.png
https://yaelguilloux.fr/upload/idea_2016-12-17_18-39-06.png

Those two screenshots are 1/ The result ingame, 2/ the method used to send the messages.

Thanks a lot for your help.

[2016-12-17 23:46] Tahul commented on #1119
Quick fix is anyone has the same issue, using Java Unicodes.

http://itpro.cz/juniconv/ this converter can help you.

[2016-12-18 03:06] #1113 closed, assigned to nobody

[2016-12-18 04:40] ziceptor opened #1120 "[FML]: No types have been added to Biome minecraft:"
http://pastebin.com/Qz1W1zWR

[2016-12-18 06:03] inklit commented on #1120
mods? version? more details needed

[2016-12-18 06:17] Proxying opened #1121 "[1.10.2] Feature Request (Moved too quickly)"
While players are riding entities within Minecraft, if the entity moves too quickly the server incorrectly calculates where it should be and "rubber-bands" it back to that location while printing "Vehicle X of Player Y moved too quickly". This is a pretty significant issue with mods such as Pixelmon where there are many Pokemon of varying speeds and abilities (land mounts, flying mounts, water mou

[2016-12-18 06:34] Rasgnarok commented on #1121
Referencing this off of a ticket made months ago;
https://github.com/SpongePowered/SpongeForge/issues/952

Both the `PLAYER moved wrongly!` and `VEHICLE (vehicle of PLAYER) moved too quickly!` are great causes for lag spikes in servers - they not only clutter logs, but suspend action for a few seconds, until the spam ends. I have personally tried setting sponge's config option `max-speed=0`, which

[2016-12-18 10:14] axieum commented on #1108
No. It has just been noticed by the maintainer of HermitPack series (Xisumavoid). Hopefully they fix that soon.

However, we've disabled sponge for now, as there are duplicating entities and solidified experience/dimlet parcels were not dropping from mobs.

[2016-12-18 10:14] #1108 closed, assigned to nobody

[2016-12-18 12:43] ghost opened #1122 "build 2000 crashes - tile entity activation"
<pre>
[13:39:59] [Server thread/ERROR]: Encountered an unexpected exception
net.minecraft.util.ReportedException: Ticking block entity
        at net.minecraft.server.MinecraftServer.func_71190_q(MinecraftServer.java:715) ~[MinecraftServer.class:?]
        at net.minecraft.server.dedicated.DedicatedServer.func_71190_q(DedicatedServer.java:387) ~[ld.class:?]
        at net.minecraft.server.Minecraf

[2016-12-18 13:36] alicheek opened #1123 "Implementation : Boss death sound radius"
Just a request, something that spigot is implemented and would be great to see this also implemented in sponge, its nothing major but ive had quite a few people complaining about the sounds due to other players having wither mob grinding systems and such.

dragon-death-sound-radius
Default: 0
Type: Integer
Description: Limit the sound of the dragon's death.

wither-spawn-sound-radius
Default: 0
Ty

[2016-12-18 13:57] kashike commented on #1120
Full server log please.

[2016-12-18 15:48] ziceptor commented on #1120
Sorry. @kashike
[code]
[fml-server-latest.log](http://paste.ubuntu.com/23648586/)

[2016-12-18 16:20] kashike commented on #1120
This is a warning from Forge, you can try using a newer Forge version - but make a backup incase something breaks.

[2016-12-18 18:05] ST-DDT commented on #1119
First of all make sure that your IDE/build system uses UTF-8 encoding.

In eclipse you can set this up under options -> workbench.
In maven there is a property for it.

[code]

If you use a text file to store these messages make sure to load them properly (define the encoding).

[code]

or use a JSON parser which uses UTF-8 by default.

Outsourcing the messages in a separate text files, simplifies

[2016-12-18 22:32] hugeblank opened #1124 "[1.10.2] SpongeForge & Applied Energistics 2 hate each other"
The issue:
Applied Energistics 2  came out for 1.10.2 not too long ago. In a rush of excitment, I went to go install it to my server. Upon restart, I got a very... interesting response by sponge. [Here](http://pastebin.com/yHzr5Hv6) is the log with -DfmldebugExit set to true. I plan on reporting the same issue to the mod developers as well.
To recreate:
1: Get a forge server, and slap spongeforge,

[2016-12-18 22:49] bookerthegeek commented on #1124
Before you do that you really should learn how to use the search function.

[2016-12-18 22:53] hugeblank commented on #1124
Updated link so it actually would work :P sorry about that.
and Added version info because they probably would be helpful

[2016-12-18 23:27] Lemmmy commented on #1124
@hugeblank please view issue #966.

[2016-12-18 23:28] inklit commented on #1124
AE2 is incompatible with Sponge. https://github.com/Stonebound/Applied-Energistics-2/#about for a fork of it that will work.

[2016-12-18 23:50] hugeblank commented on #1124
Ah. thanks for all the information.

[2016-12-18 23:50] #1124 closed, assigned to nobody

[2016-12-19 02:13] axle2005 commented on #1123
If I recall, as we had the issue on our server... these are client side things. A viable option is to make a resource pack changing them.

[2016-12-19 02:20] alicheek commented on #1123
Well yes you can turn off mob sounds but that means you also cant hear any mobs at all which is a bit unproductive. As stated spigot have implemented a server wide setting for this.

[2016-12-19 17:04] FiveEYZ opened #1125 "[1.10.2] Blood Magic Rituals"
the rituals no longer works when adding SF into the mix

here is the log if needed:
[fml-server-latest.log](https://gist.github.com/FiveEYZ/8e2cb2c16ebe009f3691e1c5c5bb2b6d)

BloodMagic-1.9.4-2.1.0-68
Guide-API-1.10.2-2.0.2-45

spongeforge-1.10.2-2171-5.1.0-BETA-2000
forge-1.10.2-12.18.3.2185-universal

[2016-12-19 19:51] Aaron1011 commented on #1125
@FiveEYZ: Can you describe a specific ritual that no longer works, along with detailed steps to reproduce it?

[2016-12-19 22:47] FiveEYZ commented on #1125
Can you describe a specific ritual that no longer works:
all of them

In creative take a Transcendent Blood Orb and right click
(to make sure there is life essence to start a ritual)
because if u don't have life essence to start the ritual then nausea will be given

what i did was to start a server without sponge (just to check it wasnt a mod bug)
1. place a master ritual stone and Ritual Stone of

[2016-12-20 03:00] hugeblank commented on #1118
I recommend that this issue get fixed ASAP, seeing as it's game breaking. If someone would please at least comment saying that they have read this, it would be amazing.

[2016-12-20 03:36] vectrixdevelops commented on #647
Correct.

[2016-12-20 16:55] ProsperCraft commented on #1125
We are having the same issue @bloodmc since we updated to build 2000 with the tileentity activation.

[2016-12-20 16:56] ProsperCraft commented on #1123
We made a serverside mod that stopped the boss sounds from being sent to the client in 1.7, we were planning to update it to 1.10.2 but it has not happened yet.

[2016-12-20 17:13] FiveEYZ commented on #1125
yes but i did all tests with `tileentity-activation=false` but that build might effect is anyway somehow, gonna test older builds

Edit:
Rituals are working using spongeforge-1.10.2-2171-5.1.0-BETA-1998

[2016-12-20 17:52] Aaron1011 commented on #1125
@FiveEYZ: I'm unable to reproduce this on the latest SpongeForge 1.10 (singleplayer). Are you running any other mods?

[2016-12-20 17:57] FiveEYZ commented on #1125
no, no other mods and i never even thought of trying it singleplayer

[2016-12-20 18:11] Aaron1011 commented on #1125
@FiveEYZ: Can you test in singeplayer, with a fresh Sponge config folder?

[2016-12-20 18:36] FiveEYZ commented on #1125
yes it works in "singleplayer" but i have to click the middle stone 2 times before it starts, i dont really follow why u wanted me to try it when we have the problem on a server.

[2016-12-20 19:48] jelaw21 opened #1127 "Game crash (tile entity activation) when placing IC2 Batbox"
Spongeforge 2000
Forge 1.10.2 - 2171

This is the first instance of this error, when placing a basic bat box in world.
[crash-2016-12-20_14.36.34-server.txt](https://github.com/SpongePowered/SpongeForge/files/664591/crash-2016-12-20_14.36.34-server.txt)

This is a second instance when placing the next tier batbox, but this one now crashes the server each time that player tries to enter world.
[cra

[2016-12-20 20:05] #1125 closed, assigned to nobody

[2016-12-20 20:05] ghost commented on #1127
I think its duplicate of #1122

[2016-12-20 20:07] Aaron1011 commented on #1122
@hunter688: Can you retest on the latest SpongeForge?

[2016-12-20 20:07] Aaron1011 commented on #1127
@jelaw21: Can you retest with the latest SpongeForge?

[2016-12-20 20:14] jelaw21 commented on #1127
What is the latest version?

On Dec 20, 2016 3:07 PM, "Aaron Hill" <notifications@github.com> wrote:

[2016-12-20 20:15] ghost commented on #1122
Ok, deployed build 2003, i will report how it works. Idk howto reproduce crash.

[2016-12-20 20:17] Aaron1011 commented on #1127
`1.10.2-2171-5.1.0-BETA-2003`, which is t he latest build on [the downloads page](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2).

[2016-12-20 20:19] jelaw21 commented on #1127
Ok. Will try that in about 30 mins.

On Dec 20, 2016 3:17 PM, "Aaron Hill" <notifications@github.com> wrote:

[2016-12-20 20:20] Aaron1011 commented on #1122
@hunter688: Enable tile entity activation in your config, and place down/walk near a `ic2:chargepad_mfsu` block. (There was a bug in the older build where tile entity activation would be on, even if disabled in the config).

[2016-12-20 20:24] bloodmc commented on #1111
Please do not create tickets for test builds. Update to latest stable and if it occurs with that then i'll reopen this ticket.

[2016-12-20 20:24] #1111 closed, assigned to nobody

[2016-12-20 20:28] ghost commented on #1122
Looks like bug fixed, thanks a lot.

[2016-12-20 20:28] #1122 closed, assigned to nobody

[2016-12-20 21:26] jelaw21 commented on #1127
That seemed to fix the problem. Thank you.

On Tue, Dec 20, 2016 at 3:19 PM, Joshua Law <jelaw21@gmail.com> wrote:

[2016-12-20 21:42] #1127 closed, assigned to nobody

[2016-12-20 22:03] GeneralStrange opened #1128 "Possible BloodMagic/SpongeForge compatibility issue"
**Copy and paste direct from what I posted on WayOfTime's Github Issue https://github.com/WayofTime/BloodMagic/issues/1011**
#### Issue Description:
Server instantly crashes when a Demon Pylon is loaded in a nearby area.

This is in Madhouse Madpack, my own pack, this has happened a few times even with updates to BM, Forge and SpongeForge. Once the Demon Pylons had been removed from the world all