[2016-12-20 22:05] Aaron1011 commented on #992
This is still an issue on the latest SpongeForge.

[2016-12-20 22:17] Aaron1011 commented on #1128
@Crouch93: I'm unable to reproduce this. Can you try reproducing this on a fresh world with only Sponge and BloodMagic?

[2016-12-20 23:01] NyleGarcia opened #1129 "mek and sponge"
http://paste.fedoraproject.org/510313/22747831

[2016-12-20 23:02] john01dav commented on #992
@Aaron1011 When I switch to your build and update Sponge to the latest recommended version, the error goes away. Thanks :)

[2016-12-20 23:37] john01dav opened #1130 "IllegalAccessError after Updating"
Hello,

After updating to Sponge 5.1.0-BETA-2000 from 5.1.0.BETA-1983, my server crashed with the attached bug report when the chunks surrounding spawn were loaded. I am using the Direwolf20 1.10 pack on its latest release version. Please let me know if you need more information :)

[crash-2016-12-21_00.26.16-server.txt](https://github.com/SpongePowered/SpongeForge/files/665034/crash-2016-12-21_00

[2016-12-20 23:46] Aaron1011 commented on #992
For reference, here's my comment from the other issue:

@john01dav @Dongonzales: Try using [this build](https://www.dropbox.com/s/m5jvo1o6n5wph0t/ElecCore-1.10.2-1.6.localBuild-fake-1.6.345.jar?dl=0) (Source at https://github.com/Aaron1011/ElecCore/commit/9b04dae02808b7740d8fa4fd53eb7063d7cb6b28). I've added some extra information to the exception being printed out, which should help to debug this

[2016-12-20 23:47] Aaron1011 commented on #992
@john01dav: My build actually doesn't fix anything 😄 - all it does it add more information to the errors printed out during a crash. If the crash comes up again, can you post the new crash report here?

[2016-12-21 00:03] Aaron1011 commented on #1130
@john01dav: This should be fixed in the latest SpongeForge.

[2016-12-21 00:03] #1130 closed, assigned to nobody

[2016-12-21 00:19] TehNut commented on #1128
Close this. It's an unfinished feature that is unobtainable through normal gameplay.

[2016-12-21 01:49] hugeblank commented on #1118
Fixed in update 2005. Thank you SO MUCH!

[2016-12-21 01:53] hugeblank commented on #1118
Thought 2005 fixed it...nevermind :/

[2016-12-21 02:20] hugeblank commented on #1118
Okay. New results:
It works! Kinda.
Worlds that previously were corrupted need to be reset. Was that an issue for me? No. From the start I had been having issues with the nether, caused by sponge. So it was never really used. I'd suggest pushing an update that de-corrupts previous worlds, for convenience of other servers.

Unrelated:
I was about to report an issue to you guys for 'sponge not gener

[2016-12-21 04:38] ghost commented on #1129
duplicate #1122

[2016-12-21 08:27] hugeblank opened #1131 "[1.10.2] Sponge handling lava in an... interesting way"
Forge: 12.12.3.2185
Sponge: 2005
Issue: Flowing Lava refuses to flow after it gets itself into a certain state, and acts as a source block. This may not be the BEST example but the attached photo is one.
![2016-12-20_23 18 35](https://cloud.githubusercontent.com/assets/16393543/21382170/41b8aa88-c714-11e6-835f-f2be76547093.png)

[2016-12-21 09:51] DonyorM opened #1132 "SpongeForge and LiteLoader causing crash"
I am trying to load SpongeForge and Lite Loader on the same profile, but minecraft crashes whenever a world is loaded. Minecraft will load up to the title screen and work fine, but as soon  as I try to load any world, it crashes. I am running this on Java 8, Linux Mint 17 (Ubuntu 14.04).

Forge Log: https://gist.github.com/DonyorM/942315c89e08e45e5b4209c81f775ec2
LiteLoader Log: https://gist.githu

[2016-12-21 11:37] Mumfrey commented on #1132
You just need to re-download [liteloader stable](http://www.liteloader.com/download#stable_11020) (or [latest snapshot](http://jenkins.liteloader.com/view/1.10.2/)). Basically there is a fix I have to apply to the refmap file because Forge actually outright removes a vanilla method and replaces it with its own. However for some reason beyond my comprehension, this patch was omitted from the refmap

[2016-12-21 14:10] DonyorM commented on #1132
I downloaded the file today, same error. I just tried redownloading and extracting it but it still didn't work. Is it specific to my setup then?

[2016-12-21 15:06] johnfriedrich commented on #1131
Not sure why sponge does that by default, but there is a config option that restores vanilla lava behaviour.

[2016-12-21 19:09] hugeblank commented on #1131
Oh...odd. Thank you very much!

I'm going to keep this open, just to poke the sponge devs and see if they could set this to false by default.

[2016-12-21 21:02] Deamon5550 commented on #1131
That is the vanilla behavior, the config option makes it decay like vanilla `water`.

[2016-12-21 21:42] jelaw21 opened #1133 "Issue with using Q to drop items"
Running:
TombManyGraves: 1.10.2-2.1.14
spongeforge - 1.10.2-2171-...-2003
Forge - 1.10.2-12.18.2.2171

After a player dies, they are given a deathlist. However, even with config are set properly, the deathlist does not drop when player Q's from hotbar. IF a player SHIFT-Q's the deathlist to drop it, it combines their inventory into the deathlist and deletes the actual items from the inventory. Rep

[2016-12-22 05:13] hugeblank commented on #1131
@Deamon5550 Can I ask why it works like vanilla lava when I changed that config option then?

Nowhere in the vanilla behavior does flowing lava behave like a source block.

[2016-12-22 06:20] BytesByBytes commented on #1123
I think this would be an awesome idea i have had to put a stop to automated wither killers due to a couple players constantly spawning them and players just getting the shits with the sound. Extra Utilities used to have the option to disable wither sounds in 1.7.`10 but has not been included in the 1.10 version

[2016-12-22 06:26] BytesByBytes opened #1134 "EntityItem Console Spam"
We seem to keep getting major console spam since we updated to version 2003 of Sponge

[GIST](https://gist.github.com/Bubble0seven/2535f6a9ba5f4f484d5b782acd7a8e27#file-consolespam)

Sponge Version: spongeforge-1.10.2-2171-5.1.0-BETA-2005
Forge Version 12.18.3.2185

[2016-12-22 06:34] Deamon5550 commented on #1131
Can you pick it up with a bucket? otherwise its not that its acting as a source block but that it does not go away immediately which is the vanilla behaviour.

[2016-12-22 10:20] BytesByBytes commented on #1134
This was IC2 issue and has been resolved

[2016-12-22 10:20] #1134 closed, assigned to nobody

[2016-12-22 10:25] BytesByBytes opened #1135 "Console Spam from EnderIO NetworkPowerManager: Exceptions"
Major Console Spam from EnderIO

https://gist.github.com/Bubble0seven/7065e8dea8b1136a6d809aebf6160dd1

We reverted back to spongeforge-1.10.2-2171-5.1.0-BETA-1992 from spongeforge-1.10.2-2171-5.1.0-BETA-2005 and the spam has stopped. We tried spongeforge-1.10.2-2171-5.1.0-BETA-2000 before and was getting issues with console spam and certain inconsistencies so we thought updating to spongeforge-1.

[2016-12-22 16:35] johnfriedrich commented on #1107
Got this problem today:
SF: 2003
Forge: 2171

We threw a dmg potion and killed some invisible chickens.
You can push these invisible entities(and already killed entities) with pistons but cannot remove them entirely.
Affected region file:
https://www.dropbox.com/s/0df2yp35rhgnr2f/r.-3.3.mca?dl=0
affected block positions:
-1267--1268 68-70 1884-1885

roughly a 3x2x2 area

source of this?
https://gi

[2016-12-22 18:28] inklit commented on #1131
Are you using any plugins that may be affecting liquid movement? A protection plugin maybe?
Did you try with just SpongeForge, and did you try with just Forge?

[2016-12-22 21:51] GershonR opened #1136 "[1.10.2] Piston & Armor Stand Dupes"
I'm not entirely sure how these are being done, i'm still trying to catch a person attempting to do this, I definitely know that with armour stands you are able to duplicate armor pieces and with pistons you are able to duplicate blocks.

For the piston dupe I believe it's done like in the older versions of Minecraft like:
https://www.youtube.com/watch?v=gkoYCiQ3-hs

I'll try to update the ticket

[2016-12-22 23:00] hugeblank commented on #1131
@Deamon5550
1. No I can't pick it up with a bucket
2. I am saying it acts like a source block as in it will NEVER go away. It stays there for as long as you are willing to stay and stare at it... and then some.

@inklit
I didn't think that anything I installed would affect that, but apparently it did.

So with that said, bug fixed!

[2016-12-22 23:00] #1131 closed, assigned to nobody

[2016-12-23 07:47] BakermanLP opened #1137 "[1.10.2] Can you update to forge 2185"
Hello,

can you please update Spongeforge for minecraft 1.10.2 to forge 2185?

I think that will be the last release of forge for 1.10.2 and some mods have dependencies to this forge version.

Thank you

Michael (aka BakermanLP)

[2016-12-23 09:28] hugeblank opened #1138 "[1.10.2] Abnormalities in weather causing gameplay issues"
I run a 1.10.2 modded survival server, and have come across this abnormality with the in-game weather.

**The issue:**
 For starters, it is either clear or thundering NEVER just rain. This is relatively annoying due to the fact that mobs spawn in thunderstorms, making it almost impossible to go anywhere without having to fight off mobs. The second issue is that when there is a thunderstorm, lightn

[2016-12-23 12:47] axle2005 commented on #1137
There is nothing stopping you from updating to that forge version. We already run it on our servers alongside Build 1973 of SpongeForge.

[2016-12-23 12:52] BakermanLP commented on #1137
Sorry, but latest Build for Minecraft 1.10.2 is 5.1.0-BETA-2006 and the next row tells me, that it is compatible to forge 2177 and not 2185. In the documentation to spongeforge it is strongly recommended to use the exact version of forge. That's why I ask.

[2016-12-23 14:40] Zidane commented on #1138
Quite appreciated and a good read above. This is something that @bloodmc has sworn on his firstborn is occurring and we've now assigned @Aaron1011 to take a look and see just what the heck is going on.

[2016-12-23 15:44] BytesByBytes commented on #1138
I would have to concur with this my server is simply plagued with these trapped skeleton horses i have counted roughly 15 to 21 of these in 20 block radius of where i am standing.  I always thought this was a bit much or it was just because we have our server set on hard but in saying that due to the high number of these trapped skeleton horses we do not have many other normal mobs spawning such a

[2016-12-23 19:43] inklit commented on #1138
I've seen rain on my server........but a little too often than what seems normal. It always seems to be raining.
We haven't had a map reset ever since our beginning days so we are on Day 12K~.
Skeleton traps are incredibly populous but likely not related to weather.

[2016-12-23 19:58] gabizou commented on #1137
Build 2006 still works fine with 2185.

[2016-12-23 19:58] #1137 closed, assigned to nobody

[2016-12-23 21:09] hugeblank commented on #1138
Haha! Glad this
1: isn't just me
2: my little experiment actually prove something.

If you can figure this out, you are a hero to all servers @Aaron1011 😂

[2016-12-23 21:12] hugeblank commented on #1138
Along with that, if people have noticed this before me, why hasn't anyone reported it like I did? Especially after the 1.9 update, it surprises me that nobody questioned 7 horses in one chunk 😂

That being said, I'm not blaming anyone for failing to catch an issue, I'm just shocked that I was the first.

Consider your firstborn saved.

[2016-12-23 21:55] ProgrammedSoul commented on #897
You are probalby using ic2 or some mod add a subfolder in mod folder on its own. In this case forge goes through the folder first then turns to all the other jar mod files. If I make a folder on my own and drop sponge in, it would not load. If i put sopnge in ic2 folder it got deleted upon loading. A solution can be put your core mod inside a folder begin with a "_" as well?

[2016-12-23 21:57] Tencao commented on #897
The issue was AE2, not IC2, and sadly the sponge devs have tried to assist them but they refused to work with them, so the issue with AE2 remains

[2016-12-23 22:30] lurr commented on #1138
I can also confirm that there is _excessive_ amounts of skeleton horses. 😐

[2016-12-24 00:28] phit commented on #897
Just fyi I maintain a fork of AE2 that works with Sponge [here](https://github.com/Stonebound/Applied-Energistics-2#about),

[2016-12-24 02:16] codeHusky commented on #1138
I **also** can confirm that the amount of skeleton horses that spawn is very, very irritating. I had to download a plugin just so that I could develop plugins in peace.

[2016-12-24 13:37] vaniron opened #1139 "lag on chunk autosave"
Hello guys, i got new map pregenerated with nucleus on my pixelmon server but still got some lag when autosaving chunks.. quite strange?

Autosave set to 5 minutes (sponge config): http://pastebin.com/raw/1BPQBrWi
Lag times: http://prntscr.com/dnetol <= per 5 minutes as autosave happens?
Pixelmon config: http://pastebin.com/raw/9dNDDK4U
Timings: https://timings.aikar.co/v2/?id=7f23bb9ca3f44bfc892c

[2016-12-24 19:31] hugeblank commented on #1058
It looks like, just based off of some of the things I see in the log, that it's crashing because of an issue with random ticking crops. I'm pretty sure it has something to do with moisturizing land in the same tick that a crop is growing. Sponge is probably not handling it correctly and causing the crash

I don't know if that helped, but I figured I'd share

[2016-12-25 15:21] inklit commented on #1058
@hugeblank It looks more to me like it was trying to moisturize stone.

[2016-12-25 15:43] SonarSonic commented on #1048
Should be fixed in next update

[2016-12-25 23:44] Mohron commented on #992
I'm experiencing this issue. If it helps, here's a bugged inv and a fixed inv. They're different by 1 byte but i couldn't see the difference using nbt explorer either.
[BUGGED](https://dl.dropboxusercontent.com/u/27532718/Inventories/7ae0b839-d948-4db5-b2c9-147ff83264cf.dat.bad)
[FIXED](https://dl.dropboxusercontent.com/u/27532718/Inventories/7ae0b839-d948-4db5-b2c9-147ff83264cf.dat)

[2016-12-26 00:51] hugeblank commented on #1058
Oh yep I see it now. Stupid screen resolution not showing it all. XP

Well here's a few thoughts that may or may not be of use:

Maybe someone used (right clicked) a hoe on stone, and sponge assumed it to be tilled?

Or is world edit available? If that were the case, a crop block could have been replaced by stone, and sponge just didn't recognize it, mixed the block data up, and then caused the is

[2016-12-26 03:32] GershonR commented on #1136
Here is a video of a hopper dupe:
https://vid.me/NKVc

[2016-12-26 10:31] TheMrCaveman opened #1140 "server won't boot anymore?"
minecraft 1.10.2
Sponge 1.10.2 beta 2006
Forge 12.18.3.2185

Modpack Old Guys Gaming

http://pastebin.com/rDFu3geG

[2016-12-26 13:41] phit commented on #1140
AE2 is currently not compatible with Sponge, see #966 and AppliedEnergistics/Applied-Energistics-2#2482
a patched version can be found [here ](https://github.com/Stonebound/Applied-Energistics-2/#about)

[2016-12-26 16:33] Aaron1011 commented on #992
@Mohron: Can you post the crash log you get when using my build?

[2016-12-26 16:51] Mohron commented on #992
@Aaron1011 I already fixed the crashing player, this had happened multiple times before so I was able to deal with it quickly. If it's the same elecCore I can wait for it to happen again or you can just run SpongeForge with DW20 1.2.1 and make the bad inventory your own.

[2016-12-26 16:52] TheMrCaveman commented on #1140
i am using that patched version

[2016-12-26 16:56] Aaron1011 commented on #992
@Mohron: Would you be able to join `#spongedev` on `irc.esper.net` to discuss this further?

[2016-12-26 17:03] phit commented on #1140
~what are the filenames for both AE2 and sponge in your mods folder?~
which one?

[2016-12-26 17:25] TheMrCaveman commented on #1140
appliedenergistics2-rv4-alpha-9
spongeforge-1.10.2-2171-5.1.0-BETA-2006
But i am investigating it @ the moment. Rebuilding modpack from scratch;(

[2016-12-26 17:52] phit commented on #1140
can't reproduce this with just Sponge and AE2 alpha9

[2016-12-26 18:39] inklit commented on #1136
Update Sponge; pretty sure the ~piston~ hopper dupe was already fixed.

[2016-12-26 19:01] axle2005 opened #1141 "Open Modular Turrets prevents boot. Issue with Version Checker."
Recently tried to update our RR4 server to the public beta. It would consistently crash on boot.
Crash Log- http://pastebin.com/Gncg8EiN

Line immediately before the crash
[Sponge/]: The mod ompd was designed for omlib 3.0.0-37. It may not work properly. (It has the proper build)

New Crashlog after disabling OMPD
http://pastebin.com/yPdQihVX

After disabling Just Modular Turrets and enabling OMPD

[2016-12-26 19:39] GershonR commented on #1136
I'm currently on the latest Sponge for API 6 1.10.2, i'm waiting for some plugins to support API 5 before I can go back to API5 for 1.10.2

[2016-12-26 19:42] Deamon5550 commented on #1136
The only versions of api 6 for 1.10.2 are compatible with the 5.1.0 builds for 1.10.2 so there should be nothing stopping you from using the latest.

[2016-12-26 19:43] GershonR commented on #1136
Yeah but some plugins crash the server for the API5 1.10.2 builds

[2016-12-26 21:29] gabizou commented on #1136
Then those plugins need to be for API 6 which is only updated for 1.11, do NOT use the API 6 builds of sponge for 1.10.2.

[2016-12-27 02:25] GershonR commented on #1136
Alright but are these dupes patched in the latest versions of API 5?

[2016-12-27 05:41] Unnoen commented on #988
Exact same issue happening on spongeforge-1.10.2-2171-5.1.0-BETA-2006

Modpack: https://mods.curse.com/modpacks/minecraft/242462-all-the-mods

[2016-12-27 06:21] Unnoen commented on #1048
@SonarSonic The update does indeed fix the redstone returning to the user, but does not fix the duping of it.

[2016-12-27 07:36] gabizou commented on #1136
It's nothing to do with whether it's against API 5 or 6, the dupes would be in the internal systems of the server implementation/sponge's implementation, which is API agnostic. The later builds for 1.10.2 are only built against API 5. 1.11.x builds are based on API 6. The internals that cover the block physics of this should be in both implementations (as those systems haven't changed all that muc

[2016-12-27 08:01] ghost commented on #1140
I see latest build is 1.10.2-2171-5.1.0-BETA-2008 - why you use forge build 2185?

I think SpongeForge must be run under same forge - 2171.

[2016-12-27 08:06] ghost commented on #1141
SpongeForge is built against Forge 2171, why You use 2185?

[2016-12-27 12:27] Tencao opened #1142 "[1.10.2] Itemstack cannot be null crash"
http://paste.ee/r/i1B4z

This is causing almost frequent crashes on my server

[2016-12-27 12:29] Tencao opened #1143 "[1.10.2] Cannot get properly, replacing air block with snow"
I'm not sure if this is a Vanilla, Forge, or Sponge bug, so I'm going to start from here and work my way down. When trying to place snow on the ground, sometimes it will crash with this error.

http://paste.ee/r/ywcbS

[2016-12-27 12:31] Tencao commented on #1138
I can confirm this too. Many players on my server have been complaining not so much about the weather, but the absolute insane amount of skeleton horses.

[2016-12-27 13:32] JBYoshi commented on #1140
SpongeForge does not have to be run under a matching Forge build; the version just indicates which version of Forge it's tested against.

[2016-12-27 13:57] Sitherious opened #1144 "sponge doesnt work with FTBUtilities-1.10.2-3.2.4"
FTBserver-1.10.2-12.18.3.2185-universal
spongeforge-1.10.2-2171-5.1.0-BETA-2008
FTBUtilities-1.10.2-3.2.4

http://pastebin.com/5jCzEzK5

[2016-12-27 16:46] Aaron1011 commented on #1144
@zml2008: The cause of this issue is that this mod has an option to [re-register all commands](https://github.com/LatvianModder/FTBUtilities/blob/1.9/src/main/java/com/feed_the_beast/ftbu/FTBU.java#L92) (including its own) for the purpose of adding permission support.

I'm not sure what the best way is to handle this - do we want to add an exception for mods, since this does work in plain Forge?

[2016-12-27 16:48] Sitherious commented on #1144
works fine in forge, soon as i add sponge, sponge crashes and gives me that error

[2016-12-27 16:50] Aaron1011 commented on #1144
@Sitherious: Sorry, I should have been more clear - this is indeed caused by Sponge, but I'm unsure of how best to fix it.

[2016-12-27 16:52] Sitherious commented on #1144
i have no clue, just reporting the issue :) hopefully you or someone else can solve this.

[2016-12-27 18:53] #1141 closed, assigned to nobody

[2016-12-27 19:27] Aaron1011 commented on #1135
@

[2016-12-27 19:27] Aaron1011 commented on #1135
@Bubble0seven: Does this issue occur with the latest SpongeForge?

[2016-12-27 19:30] Aaron1011 commented on #1142
@Tencao: From looking at the stacktrace, this appears to be caused by breaking a certain block. Can you try to determine if a player is breaking a block immediately before the crash?

[2016-12-27 19:50] Aaron1011 commented on #1143
@Tencao: That's a very weird error. Are you able to reproduce this crash with any kind of consistency?

Also, would you be able to join `#sponge` on `irc.esper.net` to discuss this further?

[2016-12-27 20:11] haydenfree opened #1145 "Periodic Lag Spikes Kick Everyone"
I'm having an issue where my players periodically all time out, but have no issues with TPS loss. Only started occurring since updating from Pixelmon 5.0.0 Beta 12 to Pixelmon 5.0.0 and with that updating to Forge 2185. It seems to happen once every 10 minutes or so. The only thing I can think of on that schedule is the world auto-saving every 10 minutes (12000 ticks).

Here are two logs of what t

[2016-12-27 21:30] Aaron1011 commented on #1138
I've identified the cause of the lack of plain rain (though I'm unsure how this related to the excessive lightning/skeleton horses).

Whenever Sponge detects a weather change, it fires a `ChangeWorldWeatherEvent`. The problem is that this event only specifies one duration, while internally there are two - the thunder duration and the rain duration.

In Vanilla, these two numbers are set individual

[2016-12-27 21:38] Tencao commented on #1143
Sadly outside of two instances I've not had this crash repeat itself. I investigated the area but all I saw was a player building on a mountain with a few torches and chests, so nothing major.

[2016-12-27 21:40] Tencao commented on #1142
I'll monitor it the next time it happens and find out which block is been broke to trigger it.

[2016-12-27 22:30] vaniron commented on #1145
Looks similar to mine issue #1139

[2016-12-27 23:34] Sitherious commented on #1144
its fixed, https://github.com/LatvianModder/FTBUtilities/issues/292

[2016-12-28 08:59] hugeblank commented on #1138
@Aaron1011 Yay! it's good to hear that the issue has at least been found.

Another question for ya:
In vanilla the maximum amount of time before weather will get changed is 10 days (200 minutes). I'm not sure what the minimum is, but has sponge changed that maximum at all?

[2016-12-28 18:41] FiveEYZ commented on #1112
Bit more info on this error:

[Error executing task](https://gist.github.com/FiveEYZ/7cfb5ed4a1adb39c9444d9011b90b48a)

also updated to:
spongeforge-1.10.2-2171-5.1.0-BETA-2009
Direwolf20 1.10 1.2.1

[2016-12-28 19:12] FiveEYZ opened #1146 "[1.10.2] Exception trying to process over a phase!"
[fml-server-latest.log](http://paste.ubuntu.com/23701730/)

~11 hours up-time, i know this is a long log and most error a probably the same, but the errors can be found at these lines:
27612
27935
28215
33616
41184
41644
42351
42717
43654
47566
50089

[2016-12-28 19:19] Aaron1011 commented on #1146
There appear to be at least two different issues in that log. One of them is definitely being caused by [Rough Mobs](https://mods.curse.com/mc-mods/minecraft/245849-rough-mobs) spawning an explosion  during blaze deaths.

[2016-12-29 17:19] KasperFranz commented on #992
@Aaron1011
here is my crash-log, after using your build :)

[code]

[2016-12-29 18:03] Tencao opened #1147 "[1.10.2] Crash - CachedLong2ObjectMap"
I have no clue what caused this, it was a random crash so I decided to bring it to your attention

http://paste.ee/r/0JpIU

Sponge version - 1.10.2-2171-5.1.0-BETA-2010
Forge version - 12.18.3.2185

[2016-12-29 18:26] bloodmc commented on #1147
Your server timed out by exceeding the set max-tick-time set in server.properties. When this occurs, the watchdog force kills the server and dumps all threads. Determine what is causing your lag, with the following

https://github.com/sk89q/WarmRoast

and

/sponge timings paste

You can also raise max-tick-time a tad (not too high).

[2016-12-29 18:26] #1147 closed, assigned to nobody

[2016-12-29 18:30] bloodmc commented on #1145
This is not a sponge issue as the same disconnect issues have been reproduced with only Forge. You need to update to latest SF then disable mineshaft structure saving as this was one of the causes for disconnects.
Set structure-saving enabled to true then make sure mineshaft is false.

Dupe https://github.com/SpongePowered/SpongeForge/issues/1113

[2016-12-29 18:30] #1145 closed, assigned to nobody

[2016-12-29 19:01] Aaron1011 commented on #992
@KasperFranz: Does this issue occur when a player logs in near the location mentioned in the error? If so, can you screenshot the tank setup at that location?

[2016-12-30 04:31] ktole1999 opened #1148 "server crash detecting villager identity"
minecolonies{1.10.2-0.6.2038}
forge-1.10.2-12.18.2.2123-universal
spongeforge-1.10.2-2123-5.1.0-BETA-1879

Expected behavior

not to crash server when detecting new village

Actual behaviour

server crashed.
Description: Invalid Villager profession id is present! Found: 11 when the expected contain: [SpongeProfession{id=minecraft:farmer, name=farmer, type=0}, SpongeProfession{id=minecraft:libraria

[2016-12-30 09:00] KasperFranz commented on #992
it happens if a player goes near it/logs in near it.

Only got a screenshot with the removed block - gonna find it and attach it
http://puu.sh/t5BuX/52d8ea33ec.png

it seems to only be if certain people go near it (I am as confused as you are)

[2016-12-30 14:08] yuuka-miya commented on #1049
Hi @ST-DDT and @zml2008 -

I know this is fairly late (dropped out of the modding scene for quite a while), but I was one of those who helped @LatvianModder design the Forge permissions API. Just came across this issue, so I thought I'd share my thoughts on the matter.

My ideas for SpongeForge was that it provide a single **non-replaceable** implementation of the Forge permissions API, that deleg

[2016-12-30 17:48] gabizou commented on #1140
Using the patched versions is practically the only way to load AE2 at the moment. It's been a known issue and the developer has been notified already.

[2016-12-30 17:48] #1140 closed, assigned to nobody

[2016-12-30 17:55] #1129 closed, assigned to nobody

[2016-12-30 18:33] tmoflash commented on #897
@phit thank you for this. Much appreciated.

[2016-12-31 10:23] me4502 commented on #1049
I disagree with having it non overridable. If that were to be done, it'd make sense to have an option to disable it and a warning in the console if another forge permission mod is found.

[2016-12-31 15:13] johnfriedrich opened #1149 "[1.10.2] Crash Chunk.func_177414_a (armorstand)?"
mc crash report:
https://pastebin.com/AV8RuYNp

No errors in fml or minecraft log.

Every player times out and server crashes after some time.

One player got spammed with this in his client:
https://pastebin.com/fqks58Ae

Broken chunkfile:
https://www.dropbox.com/s/ikivee4k7ob2bfg/r.1.0.mca?dl=0

[2016-12-31 18:22] curscascis commented on #992
I am currently experiencing this same issue. Will test with Aaron's build and post my report.

[2016-12-31 18:27] curscascis commented on #992
I am running DW 1.2.2
`java.lang.IllegalStateException: Some chunkcheck failed! Instance: mcjty.deepresonance.tanks.TankGridHandler@51285273 mcjty.deepresonance.tanks.TankGridHandler Position: [DimensionCoordinate: BlockPos{x=-5661, y=25, z=19223} dim: 0] Object: mcjty.deepresonance.tanks.TankTileLink@1882a264 TileEntity: mcjty.deepresonance.blocks.tank.TileTank@5afa1877 oldUpdates: [[DimensionCoo

[2016-12-31 18:36] curscascis commented on #992
https://i.imgur.com/0qdTLkY.png
This is a screenshot of the base causing it. I used world edit to replace the area with lava and then undid it, people can now go there without it crashing.

@Aaron1011
I'd like to point out that this only happened after deleting forcedchunks.dat earlier today. I can not say if it was a coincidence or not, but seeing the stack, I think it might be related.

[2016-12-31 21:47] ProsperCraft opened #1150 "Sponge not passing getDeathMessage method?"
https://github.com/TrainerGuy22/Reliquary/issues/234#issuecomment-266904444

[2017-01-01 03:54] Eufranio opened #1151 "Sponge won't let me make right food with Cooking for BlockHeads"
With this mod, we can craft food in a "visual" kitchen multiblock. There is a block called "kitchen table", where we can craft food, and it has some imaginary slots, this way:

![a](http://image.prntscr.com/image/20dffd9679a74f3ea93507a6c03bf909.png)

In this table, we can double click the slots to craft the food, but as they are imaginary, looks like Sponge is having trouble with them. Sometimes,

[2017-01-01 12:58] RhythmNz commented on #731
@thomas15v Do you have the finished version of the Jar. For 1.7.10
I still don't learn how to use Git

[2017-01-01 13:10] RhythmNz commented on #731
@thomas15v Do you have the finished version of the Jar. For 1.7.10
I still don't learn how to use Git

[2017-01-01 18:42] johnfriedrich commented on #1149
Alright, found the issue. It was an invisible armorStand at -1
http://prntscr.com/dqd0vc

One armorstand...Now the server duplicated it 65536 times. (that was the issue why the server timeouted)
http://prntscr.com/dqd3jz
But no idea how that happened in the first place.

[2017-01-01 20:12] Aaron1011 commented on #1150
@ProsperCraft: I've tried killing some mobs with the Hunters Handgun, and I can't seem to reproduce it. Is there a specific mob that you killed?

[2017-01-01 20:59] ProsperCraft commented on #1150
Wasn't me, it was one of my players, and a while ago.

[2017-01-01 21:30] Whazaaaaa commented on #1144
Hello! I'm having this issue aswell. Not sure if this is better solved on the FTBUtil side but seeing as modpacks dont get updated as much as SpongeForge I would really love to see a fix for this in sponge (if possible as soon as possible)
Skyfactory3 just came out and it is very depending on FTBUtilities to function properly. So if it were possible to fix this that would be great.

[2017-01-01 21:42] bhi-elliot opened #1152 "[1.11.2-2012] Server thread warning: skipping tileentity, statistic, key"
Good day,

Just testing out a build for a 1.11.2 server. I don't know a lot, so I apologize if this is a non-issue, but thought I would let you know the following server thread warning:
http://pastebin.com/je1eiHur
Java Version: 1.8
Minecraft Version: 1.11.2
Sponge Version: spongeforge-1.11.2-2201-6.0.0-BETA-2012
Forge Version: forge-1.11.2-13.20.0.2201-universal

Thank you for the amazing SpongeF

[2017-01-01 21:52] Time6628 opened #1153 "Sponge doesn't like WhyUNoMakeGoodMap worlds"
Testing out Sky Factory 3 with sponge, get this crash everytime
[code]

[2017-01-01 22:00] johnfriedrich commented on #1149
Short explanation:
We have issues with ghost entities, like described in an older SF ticket.
(Plugins should cancel spawning of existing entities), they do, but entities remain as ghost entities.
Lets say you have a chicken, you disable spawning of chicken. Restart server. Chicken cannot spawn, but spawns as an invisible chicken.
(That is fixed in future builds, thx blood)
You cannot place blocks

[2017-01-01 22:26] Aaron1011 commented on #1153
WhyUNoMakeGoodMap [unregisters and re-registers Vanilla dimensions](https://github.com/LexManos/YUNoMakeGoodMap/blob/master/src/main/java/net/minecraftforge/lex/yunomakegoodmap/YUNoMakeGoodMap.java#L129-L134). Sponge doesn't properly handle dimension re-registering at the moment - and it will take some extra work to make it work with the core Vanilla dimensions.

[2017-01-02 00:04] ProsperCraft commented on #1153
https://gist.github.com/ProsperCraft/b6247994f8de1d2add23dc33e583ec02

Same issue.

[2017-01-02 02:33] Zidane commented on #1152
This is for our benefit as it means certain data keys aren't implemented.

Thanks anyways.

[2017-01-02 02:33] #1152 closed, assigned to nobody

[2017-01-02 05:57] RobertHerhold opened #1154 "Errors with event filtering"
Forge build 2171
SF build 1.10.2-2171-5.1.0-BETA-2010

Test plugin code:

[code]

The stacktrace:
http://pastebin.com/cPGD1ace

So I understand that this is an issue with event filters not working on certain Forge events. I don't know of any workarounds to this issue, and I'm not obviously mis-using the API. Is there a good way to fix this?

[2017-01-02 06:06] Deamon5550 commented on #1154
Not a problem with event filtering. The issue would seem to be that there is no mixin implementing that method for `FMLEvent`s. See [MixinEventState.java](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/event/state/MixinEventState.java) for the only thing that comes close. Although this also has a getGame method implemented which hasn't exi

[2017-01-02 13:15] axle2005 opened #1155 "ExtraUtil Compressed blocks, when mined, drop duplicated blocks."
Seems to be a reoccurrence of: https://github.com/SpongePowered/SpongeForge/issues/1045

Sometimes its 4 blocks, sometimes its 14.

SpongeForge version: 2010
Forge: 2185

[2017-01-02 21:59] #1144 closed, assigned to nobody

[2017-01-03 00:13] xf57212 opened #1156 "SkyFactory 3 hostile mob spawns create extreme lag"
Timings report: https://timings.aikar.co/v2/?id=a7bb91a91feb45bfb9a1a3f11cfdc1bf

On sky factory 3 we have discovered that hostile mobs are creating huge amounts of lag (server averaging ~7 TPS). Turning off hostile mob spawning in server.properties boosts TPS to 20.

Is there anything that can be done to allow our server to run with hostile mobs enabled?

Note its the actual process of spawning t

[2017-01-03 00:14] xf57212 commented on #1156
output of /sponge version:

[01:14:21] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-e221622
    SpongeForge: 1.10.2-2171-5.1.0-BETA-2010
    Minecraft Forge: 12.18.3.2185

[2017-01-03 07:41] KingDan27 opened #1157 "Description: Exception in server tick loop"
Not experienced with Sponge but crash seems to be caused by it as server launches fine without it.Hoping someone can help me out. Trying to add this Skyfactory 3 see crash log below

Forge version is 2185

http://pastebin.com/JXnv3cb7

[2017-01-03 09:53] KaiKikuchi commented on #1156
I also confirm this issue and I want to add this VisualVM profile snapshot screenshot that may help:
![image](https://cloud.githubusercontent.com/assets/8842403/21604306/bdba959a-d1a2-11e6-868f-93d9c1048330.png)

[2017-01-03 11:21] Sitherious commented on #1144
works like a charm thanks :)

[2017-01-03 15:07] axle2005 commented on #1157
https://github.com/SpongePowered/SpongeForge/issues/1153

Remove yunomakegoodmap and itsbecauseuhasnogoodspawn

[2017-01-03 15:43] Slind14 commented on #1156
Same with build 2010:
https://timings.aikar.co/v2/?id=9b5fb33bdf444d7895fd3ab46633ceb5
https://timings.aikar.co/v2/?id=420de73c16f14d37bfc701fb6f89e7b6
![](https://i.imgur.com/52WPDJ1.png)

[2017-01-03 21:18] ktole1999 commented on #1156
so what happens if you use the same forge/sponge version rather than different versions?

[2017-01-03 21:25] Rob5Underscores-zz commented on #1156
There isn't a SpongeForge for 2185 that I can see - only 2202.

[2017-01-03 21:26] ktole1999 commented on #1156
exactly

[2017-01-03 21:31] xf57212 commented on #1156
so what are you saying ktole? change the forge version? that kind of prevents all players from logging in unless they change it client side too. not plausable for a public server

[2017-01-03 21:33] ktole1999 commented on #1156
im just saying if you are running a server plugin not tested against the version of forge you are running you could have compatibility issues.

[2017-01-03 21:36] bookerthegeek commented on #1156
@xf57212 what is being said is that your forge version needs to match the SpongeForge version.

[2017-01-03 21:38] axle2005 commented on #1156
Thats enough. This isn't a place to discuss this. Go on the forums and have a jolly old debate. None of it is actually related to the issue, additionally, its been said multiple times that the spongeforge version and forge version do not need to be identical, as long as forge is at least the version required by spongeforge.

Stop filling up the issue with all your guys useless spam.

[2017-01-03 21:39] xf57212 commented on #1156
@ktole1999 @bookerthegeek there is no way to make the versions match though since sponge does not have a 2185. We upgraded sponge to 2202 and have the same issue

[2017-01-03 21:46] ktole1999 commented on #1156
i apologize if i was misinformed about compatibility. I was always told they needed to match.

[2017-01-03 21:57] Aaron1011 commented on #1156
I'm going to improve the performance of `EntityTypeREgistry#getEntity` - it's implemented extremely inefficiently atm.

[2017-01-03 21:59] #1107 closed, assigned to nobody

[2017-01-03 23:11] Aaron1011 commented on #1156
This should be fixed in [the latest build](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2#1.10.2-2202-5.1.0-BETA-2016).

@xf57212 @KaiKikuchi @Slind14: Thank you so much for bringing this to our attention! The code I changed had been in place for over a year, and was almost certainly causing TPS issues on other servers as well (though no one identified it until now).

[2017-01-03 23:12] Aaron1011 commented on #1156
@ktole1999: You're absolutely right - unless a developer says otherwise, it's important to have the Sponge and Forge build numbers match. However, the issue in this case was a performance problem, which wasn't affected by the build used.

[2017-01-03 23:12] KaiKikuchi commented on #1156
Thank you very much! <3

[2017-01-03 23:13] Aaron1011 commented on #1156
@KaiKikuchi: Glad to help :) Let me know if the performance issues are resolved, and i'll close the issue.

[2017-01-03 23:23] KaiKikuchi commented on #1156
Yes it definitely fixed it! Thanks a lot!

[2017-01-03 23:24] #1156 closed, assigned to nobody

[2017-01-03 23:28] axle2005 commented on #1156
https://timings.aikar.co/v2/?id=30c9da39b59d42279e405c86aabe5943&section=lag

Not fixed. Kai lied

@Aaron1011

[2017-01-03 23:29] Aaron1011 commented on #1156
@axle2005: Can you run VisualVM and/or WarmRoast, and post a screenshot? It's possible that another issue is slowing down mob spawns.

[2017-01-03 23:30] KaiKikuchi commented on #1156
Although the main method got fixed... there are other methods causing huge TPS issues:

![image](https://cloud.githubusercontent.com/assets/8842403/21626963/d807aaba-d214-11e6-8add-3da1cf411104.png)

[2017-01-03 23:31] KaiKikuchi commented on #1156
@axle2005 I didn't lie... the server had TPS 20 for the first time xD then it went to 10. It's going definitely better than before with TPS 4.

[2017-01-03 23:32] Aaron1011 commented on #1156
@KaiKikuchi: This is definitely a separate problem. Can you open a new issue for it?

[2017-01-03 23:33] KaiKikuchi commented on #1156
Yes I can, but I think it's related to this issue. It's still mob spawning causing issues on SF3 :s

[2017-01-03 23:37] Aaron1011 commented on #1156
@KaiKikuchi: All of the discussion here was from the specific issue I fixed. It would be better to have a fresh thread for discussing that specific problem.

[2017-01-03 23:40] KaiKikuchi opened #1158 "SkyFactory 3 - mob spawning causes huge TPS issues v2"
Related to https://github.com/SpongePowered/SpongeForge/issues/1156

![visualvm](https://cloud.githubusercontent.com/assets/8842403/21626963/d807aaba-d214-11e6-8add-3da1cf411104.png)

https://timings.aikar.co/v2/?id=30c9da39b59d42279e405c86aabe5943&section=lag

After fixing the setEntity method the TPS is slightly better, but still there are more methods causing TPS issues.

SpongeForge: 1.10.2-22

[2017-01-03 23:44] KaiKikuchi commented on #1158
@Aaron1011 Thanks!

[2017-01-04 04:11] curscascis commented on #1153
http://pastebin.com/9RW4Fw68
I am also getting the same issue.

[2017-01-04 06:36] ghost commented on #1107
It looks like bug still here. Or fixes only newly placed entities?

[2017-01-04 06:59] JayWood commented on #1153
For those reading this in the future, offending mod is `YUNoMakeGoodMap-1.10.2-6.1.0.26.jar` specifically as of January 4th.

[2017-01-04 11:14] Slind14 commented on #1156
For us this didn't change a thing regarding performance. We are still wracking at 10-16 TPS with 30 players, same as before. But we use a custom entity limitation system.

[2017-01-04 11:22] Slind14 commented on #1156
![javaw_2017-01-04_12-21-46](https://cloud.githubusercontent.com/assets/3914677/21640888/77440af2-d278-11e6-9293-8d3c134ccad2.png)
![javaw_2017-01-04_12-22-03](https://cloud.githubusercontent.com/assets/3914677/21640889/77449300-d278-11e6-8933-5163e61befda.png)

[2017-01-04 11:22] Slind14 commented on #1158
![javaw_2017-01-04_12-21-46](https://cloud.githubusercontent.com/assets/3914677/21640898/7d42748e-d278-11e6-9335-b3fe7eea5e62.png)
![javaw_2017-01-04_12-22-03](https://cloud.githubusercontent.com/assets/3914677/21640897/7d425576-d278-11e6-927b-17ba5c92512f.png)

[2017-01-04 11:53] curscascis opened #1159 "Extra Utilities Dupe Bug With Sponge"
When breaking compressed cobblestone or similar compressed blocks gives you between 4-8 blocks of the same type (on occasion up to 16). When breaking with a hammer you receive close to a stack of the intended drop. Tested on DW20 Modpack as well as SkyFactory3.

[2017-01-04 12:39] axle2005 commented on #1159
https://github.com/SpongePowered/SpongeForge/issues/1155

In the future... at least do a search for issues before posting. This was 4 down...

[2017-01-04 12:49] curscascis commented on #1159
I'm sorry I did a search and looked through the issues, I didn't see it on the sponge GitHub. It's 5am I make mistakes. A simple merge, or close would do.

[2017-01-04 12:49] #1159 closed, assigned to nobody

[2017-01-04 12:59] lenis0012 opened #1160 "clearPassengers doesn't work."
http://pastebin.com/fA8SasTF

I am using Sponge 5.0.0-2171-2010 forge MC1.10.2

[2017-01-04 13:17] xf57212 commented on #1156
@Slind14 the issue in this ticket was the getEntity() method which was fixed. instead of trying to piggy back off a closed ticket, you should make a new ticket for the separate issue you are having.

[2017-01-04 14:07] ktole1999 commented on #1107
mo'creatures in your pack? if so then remove it. problem solved.

[2017-01-04 14:12] ghost commented on #1107
No MoC in my pack.

[2017-01-05 01:42] KingDan27 commented on #1153
Is there a fix planned for the issue "sponge doesn't properly handle dimension re-registering at the moment" ?

[2017-01-05 02:17] Zidane commented on #1153
Yes there is a fix planned, it'll be out in a few days. Requires a bit of API wrangling and some core implementation to change.

[2017-01-05 03:03] ronaldburns commented on #1135
Running 2202. Get the same errors.

[2017-01-05 04:54] BytesByBytes commented on #1135
Sorry for such a late reply i am starting to think  its only on a certain version of EnderIO as it only occurs on one server not all them.

There is a big update coming for enderio so i would like to see if it persists or not as i am not sure whether its a sponge issue or enderio .

I will keep you informed once the update has occurd

To answer your question i have tested it on multiple versions i

[2017-01-05 09:30] BytesByBytes opened #1161 "[1.10.2] Updating FTB Lite now wont start due to mixin error"
Updated Lite to their latest build and now the server simply wont start due to mixins crash see log below

Forge Version 2185

Have tried Spongeforge version 1992 and 2020 and get the same results

[Log](https://gist.github.com/Bubble0seven/362dc3733d9744407adb4f0bd9a7831e)

[2017-01-05 09:33] FiveEYZ commented on #1161
i suggest to disable `foamfix-0.5.0-BETA2-anarchy` or update it to Lawful Edition

[2017-01-05 11:14] BytesByBytes commented on #1161
That doesn't work same error using Lawful Edition or disabling it

 [Error](https://gist.github.com/Bubble0seven/5d0fb52f0bf7080ec15ba1791761d774)

[2017-01-05 11:27] Inscrutable commented on #1161
Just FYI, https://github.com/asiekierka/FoamFix/issues/15

[2017-01-05 11:33] BytesByBytes commented on #1161
thanks

[2017-01-05 15:53] ghost opened #1162 "IC2 crops cause server crash"
from fml-server-latest.log:
http://pastebin.com/medmmirW

no crash report generated...

server silently shut down

SF build 2020
IC2 build 146

Server crashes when do /save-all and some chunks with IC2 crops are active.

[2017-01-05 16:22] Polyana-Fontes opened #1163 "Cancelling InteractBlockEvent.Secondary doesn't cancell RightClickBlock"
I'm working on a protection plugin and it listen for `InteractBlockEvent.Secondary` with `@Listener(order = Order.FIRST, beforeModifications = true)`. It's working fine, and is fired before mods, but, when I cancel the event with `event.setCancelled(true)` the event is still passed to the mods as if it was not cancelled while the other plugins.

Time line:
1) Right click packet is received by the

[2017-01-05 16:35] FiveEYZ commented on #1162
u should do what it says:

[code]

[2017-01-05 16:57] ghost commented on #1162
Reported as: http://bt.industrial-craft.net/view.php?id=2078

[2017-01-05 17:17] Polyana-Fontes commented on #1163
The cancellation state, useBlock and useItem results are not being set after the forge event is created: [SpongeForgeEventFactory:812](https://github.com/SpongePowered/SpongeForge/blob/9b833e447d053bc1eed7cbb3ba03fc6de93f33a7/src/main/java/org/spongepowered/mod/event/SpongeForgeEventFactory.java#L812)

[2017-01-05 17:24] #1161 closed, assigned to nobody

[2017-01-05 17:36] Zidane commented on #1163
@bloodmc Can you look into this?

[2017-01-05 17:45] Aaron1011 commented on #1158
@KaiKikuchi @Slind14: Can you both re-run whatever profile you're using, and enable the option to show the number of method calls? Make sure to expand everything out all the way (as in @Slind14's comment) when you screenshot it.

[2017-01-05 17:53] asiekierka commented on #1161
Lawful Edition would not cause this crash, it does not include a coremod.

[2017-01-05 17:58] FiveEYZ commented on #1161
@Bubble0seven the second error u are getting is from FTBUtilities

[2017-01-05 19:04] KaiKikuchi commented on #1158
@Aaron1011 I'm sorry but we're using VisualVM and a JMX connection. That doesn't show the invocation count. Unfortunately I don't know how to make it show the invocation count or use another way other than a JMX connection. I've searched on Google without any results. I tried everything I could with VisualVM and the JMX connection. If you know a way, please let me us know.

[2017-01-05 19:17] Aaron1011 commented on #1158
@KaiKikuchi: You could use the evaluation version of YourKit, which supports invocation counting.

[2017-01-05 21:10] ALebrunDev opened #1164 "AE2 Incompatibilty"
Hello,

Is there a way to cohabit Sponge and AE2 now?

[2017-01-05 21:15] DenWav commented on #1164
It was never resolved afaik. https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/2482

[2017-01-05 21:18] ALebrunDev commented on #1164
Oh and if we want to play with sponge and AE2 ?
Because i need to create a Forge server with plugins on 1.10

[2017-01-05 21:24] DenWav commented on #1164
You might have more luck waiting for this fork, since they seem to actually be willing to fix the issue. https://github.com/AEModernMCPort/Applied-Energistics-3/issues/100

[2017-01-05 21:28] ALebrunDev commented on #1164
So there's a chance that someday it works?

[2017-01-05 21:31] DenWav commented on #1164
Yes, the fix is very simple and laid out in detail in the first link I posted. The developer was simply not willing to actually apply the fix.

[2017-01-05 21:32] ALebrunDev commented on #1164
I hate this Dev.
Because a lot of FTB modpack work with AE2

[2017-01-05 22:00] phit commented on #1164
https://github.com/Stonebound/Applied-Energistics-2#about

[2017-01-05 22:20] KaiKikuchi commented on #1158
I'm sorry... unfortunately our evaluation version of YourKit expired.

[2017-01-05 22:37] Deamon5550 commented on #1164
Duplicate

[2017-01-05 22:37] #1164 closed, assigned to nobody

[2017-01-06 03:17] me4502 commented on #1160
clearPassengers has not yet been implemented.

Waiting on https://github.com/SpongePowered/SpongeCommon/pull/1007

[2017-01-06 03:17] #1160 closed, assigned to nobody

[2017-01-06 04:41] BytesByBytes commented on #1161
Thanks Five i was having a total retard moment

[2017-01-06 06:41] ghost commented on #1162
Looks like fixed with IC2 build 147.

[2017-01-06 06:41] #1162 closed, assigned to nobody

[2017-01-06 07:38] xAlicatt opened #1165 "org.spongepowered.asm.mixin.transformer.throwables.InvalidMixinException"
[code]

[2017-01-06 12:50] axle2005 commented on #1165
All this tell them is that a core mod is present. It doesn't have a log (FML log) or anything else to help them figure out what the issue is.

IF I had to take a stab at it, I know 3 mods that currently cause this issue.

Applied Energistics
Yunomakegoodmap
Itsbecauseyounogoodspawn

You would need to remove them or get a patched version.

Additionally there is something called Sponge BootStrap on

[2017-01-06 13:00] FiveEYZ commented on #1165
wasn't it FoamFix that generated this error?

here is what Yunomakegoodmap will do https://github.com/SpongePowered/SpongeForge/issues/1153

[2017-01-06 14:56] bloodmc commented on #1158
@KaiKikuchi Please retest with a clean sponge config. I see you turned off chunk-gc entirely which will hurt performance. Wipe out your sponge config folder, then provide another timings report.

[2017-01-06 16:19] bloodmc commented on #1157
dupe #1153

[2017-01-06 16:19] #1157 closed, assigned to nobody

[2017-01-06 17:25] ktole1999 commented on #1165
need to know what version forge the server is running as well as other mods.

[2017-01-06 17:54] xAlicatt commented on #1165
AE2 is probably the cause then...I will look into seeing if it will run without it and I will look into patchs and bootstrap. thank you @axle2005

@ktole1999 It's running forge-1.10.2-12.18.3.2202-universal

current modlist is here: https://minecraft.curseforge.com/projects/jakspack-1-10-2

[2017-01-06 21:00] Aaron1011 commented on #1165
@FiveEYZ: This is a different error from both the foamfix and Yunomakegoodma errors.

[2017-01-06 21:31] CriticalClaw opened #1166 "[1.10.2] world.conf gets reset on server restart"
Hi,

Im trying to make a server with void worlds using sponge API void generation. However every time I restart the server all the world.conf files get reset.

[2017-01-06 22:12] Vauxite commented on #1166
I can confirm this problem with the following versions:

- **SpongeForge**: spongeforge-1.10.2-2202-5.1.0-BETA-2022
- **Forge**: forge-1.10.2-12.18.3.2202

Additional plugins (have tried without them):

- griefprevention-1.10.2-2.2.0.205
- LuckPerms-Sponge-2.16.79
- Nucleus-0.18.0-S5.1-1.10.2-plugin
- projectworlds-5.1.0-0.11.4
- skyclaims-1.0.0-alpha13

In addition to the original problem. Someti

[2017-01-07 01:38] alicheek commented on #1158
Ive got a timings report here with your sponge timings report : https://timings.aikar.co/?id=e2eb41af474c4b92b7055a81d59b59ca&section=all

This is with pretty much default settings for sponge as you asked with about 20 players on

As you can see for the potential spawn calls are very high (biggest being count(56376325))

[2017-01-07 10:07] craigbrian opened #1167 "spongeforge-1.10.2-2202-5.1.0-BETA-2022 and below Error occurred while executing command /i"
It seems any mod that you try to use /i gives this error.

[code]

and if you use id's it says
/i 4134
Item not found!
this worked in 1.7.10 in Cauldron Forge perfectly fine why is SpongeForge limited?

[2017-01-07 10:34] simon816 commented on #1167
You are using an old version of Nexus. Looks like you have sponge `5.1.0` but the nexus plugin is targeting version `4.x.x`

/i 4134
Item not found!

Item IDs are no longer numerical, you should use the string ID instead (e.g. "minecraft:stone")

[2017-01-07 10:41] craigbrian commented on #1167
I assume this is why /i command or /i minecraft:command_block doesn't work either.

I have to wait for Nexus to release a 1.10.2? Thank you for the help!
I notcied /give @p minecraft:grass says Player not found is that a bug or part of nexus also?

[2017-01-07 11:50] bookerthegeek opened #1168 "Animal Nets from Hatchery do not function properly with SpongeForge"
https://github.com/GenDeathrow/Hatchery/issues/23
Versions:
* Sponge: spongeforge-1.10.2-2202-5.1.0-BETA-2019.jar
* Forge: forge-1.10.2-12.18.3.2185-universal.jar
* ModVersion: hatchery-1.10.2-0.2.1.jar

What Happens:
- Item is not changing on use

What is Expected to happen:
- Item changes on use

Overview of Issue:
- When right clicking an Animal Net (Mod added item to hold a mod added chicken t

[2017-01-07 17:14] lenis0012 opened #1169 "[1.10.2] TrackingUtil Error"
Our server has been crashing a lot recently (as in, A LOT)
I suspect there is an issue with one of the entities in our world.
And the stack trace directs towards SpongeForge (2020)

The fact that it doesn't say which entity/chunk this happened in doesn't exactly make it easier.
I would really appreciate it if someone took a look at this potential issue =)

http://pastebin.com/vuygiYsY

[2017-01-07 18:42] alicheek commented on #1158
here is an updated one with 40 players on : https://timings.aikar.co/?id=f2a979852ed54c1589f41d82e6c4d209&section=lag

[2017-01-07 20:40] bhi-elliot opened #1170 "[1.11.2-2201-6.0.0-BETA-2023] can't use command line to edit dimension.conf"
Good day,

Trying to remotely edit the dimension.conf using a command like
/sponge config -d overworld world.auto-save-interval
to check settings, produces error message:
No values matching pattern 'overworld' present for dimension!

Also tried the_end and nether, same message. also tried other config lines but could not get it to work.

What does work is, say:
/sponge config -w DIM-1 world.auto-s

[2017-01-08 13:43] LemADEC opened #1171 "Intended to capture block changes, but there is no list available! Please analyze the current phase context."
Using spongeforge-1.10.2-2202-5.1.0-BETA-2020.jar + forge-1.10.2-12.18.3.2202-universal.jar with our custom modack, we've seen a case where 2 consecutive exception "Intended to capture block changes, but there is no list available! Please analyze the current phase context." appeared while related player was sleeping.
After that, players where unable to connect due to mod rejection on VeinMiner wit

[2017-01-08 16:02] Slind14 commented on #1158
Sorry but we can't provide any invocation counts, because tracing freezes the server down to < 0.1 TPS and call counting is incompatible with sponge. https://gist.github.com/Slind14/dc64f39f7de75eb68661edb8a07d0f61

[2017-01-08 16:31] Slind14 commented on #1158
After a few more tries I managed to get a short call counting, I hope it helps in combination with the sampling tree view from before.
https://transfer.sh/%28/XG5iL/sf3-call-counting.zip%29.tar.gz

[2017-01-08 16:33] Vauxite opened #1172 "[Dupe] [SF3] Redstone"
**How to reproduce**
1. Acquire redstone
2. Throw redstone (Q by default).

Redstone is thrown and stay in inventory.

**Versions:**
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-428c0b2
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2022
    Minecraft Forge: 12.18.3.2202
    Modpack: Skyfactory 3 version 3.0.1

[2017-01-08 16:45] Vauxite opened #1173 "[Dupe][SF3][1.10.2]"
**How to reproduce**
1. Place compressed cobblestone
2. Break placed block
3. Receive 15 extra compressed block (16 including the the block you broke)

You can use compressed hammer and get extra result too.

**Versions:**
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-428c0b2
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2022
    Minecraft Forge: 12.18.3.2202
    Modpack: Skyfactory 3 version 3.0.

[2017-01-08 18:19] covers1624 commented on #1015
ES dev here.
There seems to be no issues thus far with the DW20 pack, the only way this could ever occur is if EntityPlayerMP.connection is null.

[2017-01-09 00:20] Maudslay opened #1174 "Sponge continuing loading certain chunks"
Hello,
When i reboot my 1.10.2 Hermitpack the server starts up alright but when i look at loaded chunks, there already is like 2000 loaded chunks with only 3 people online and slowly the cpu usage is going up and the loading error is just making it lag but having all those chunks loaded, i turned on logging.chunk-load true to see what it was coming from but when i saw the cords, i went over their

[2017-01-09 00:20] Maudslay commented on #1174
I'm also trying to keep them from being loaded by increasing the unload limit but that is failing slowly :/

[2017-01-09 00:46] axle2005 commented on #1172
Duplicate: [#1048](https://github.com/SpongePowered/SpongeForge/issues/1048)

[2017-01-09 00:47] axle2005 commented on #1173
Duplicate [#1155](https://github.com/SpongePowered/SpongeForge/issues/1155)

[2017-01-09 00:53] #1172 closed, assigned to nobody

[2017-01-09 00:53] #1173 closed, assigned to nobody

[2017-01-09 03:56] MastaC729 commented on #937
I can confirm this on Forge 2202 and Sponge 2022.

[2017-01-09 06:26] bloodmc commented on #1174
You are only using an SF build nearly 150 builds old.

spongeforge-1.10.2-2123-5.1.0-BETA-1879.jar

Update to latest SF and Forge.

[2017-01-09 06:26] #1174 closed, assigned to nobody

[2017-01-09 07:58] KingDan27 commented on #1048
can confirm this issue happens on Skyfactory3 SF 2202

[2017-01-09 08:41] GenDeathrow commented on #1168
Thanks for posting this.

[2017-01-09 13:58] Slind14 commented on #1158
Unfortunately this is still a major issue.

I went ahead and disabled the Tinkers Construct and Random Things spawn as they have a high method call amount according to timings. But that didn't change much.

[2017-01-09 19:15] Tencao opened #1175 "[1.10.2] Tile entities stopped being linked to a block"
So I've experienced this bug with several blocks, ranging from the vanilla furnace, to item pipes, to machines, all from different mods. I've found no way of producing it, but from what I can gather based on player feedback, sometimes a vanilla furnace will randomly lose it's contents or stay turned on and never cook anything, sometimes an item pipe from ender io for example will continue to work

[2017-01-09 19:23] phit commented on #1175
#1059

may or may not be related I never found a better reproduction, but the effect was pretty much the same

[2017-01-09 19:31] codeHusky commented on #1175
I can confirm this with 1.11.2 and 1.11, when the server first starts blocks don't have tile entities either. I had a bug even where all tile entities were invisible until I reloaded the chunk, but they had no data after.

[2017-01-09 19:40] Tencao commented on #1175
I actually have multiple errors like Phit's, I'll paste them all below.

http://paste.ee/r/SFsPs
http://paste.ee/r/hrzGO
http://paste.ee/r/qGF8c <-- Should never be null as the ticks are called by the alch chest tile
https://paste.ee/r/vfR6v
https://paste.ee/r/HfbhH <-- Should never be null as the ticks are called by the DM Pedestal tile

[2017-01-09 22:07] Tencao commented on #1158
I can also confirm this is a bug, however I may be able to shed a little more information regarding why Trinkers mobs seem to lag spawning. Tinkers pulls from the world data cache to check if their island is in the spawn location, perhaps something is going on with the chunk cache to cause certain mod mobs to cause far more tick time?

[2017-01-09 22:09] Rob5Underscores-zz opened #1176 "Are these caused by Sponge's tracking?"
My server has been crashing frequently as a result of reports that easily identify the rogue block, however, all mention Sponge's tracking in the crash report? The crashes are all similar in nature, however, happen with a wide variety of mods and different blocks within each mod.

Is Sponge's tracking to blame? Do you expect disabling the tracking to stop this issue?

I have attached a few crash r

[2017-01-09 23:45] Slind14 commented on #1158
Well I fully disabled the Tinkers Construct mob spawn, so that shouldn't be an issue.

[2017-01-10 00:28] Tencao commented on #1158
But Tinkers mob spawning was causing severe lag for us so it might be linked

Looking at the code, they basically do normal mob spawning except they check the chunk cache

[2017-01-10 00:39] Tencao commented on #1176
Might be linked to #1175

[2017-01-10 09:54] KaiKikuchi commented on #1158
I think this issue is caused even before mob spawning. This should be the code that searches where a mob can be spawned.

I think we just need a way to tweak how much the server tries to find valid mob spawn locations. I don't think this is caused by inefficient methods like the `EntityTypeRegistry#getEntity`... but just the server insanely trying to find where to spawn mobs.

[2017-01-10 15:34] TheoKah commented on #1158
The problem comes from the fact that SF3 is a void map. As long as biome is 'Void' this looks stable, but as soon as one change the biome, the algorithm that is looking for a spot to place the mob is going crazy:
Algorithm picks a block, see it cannot spawn here so automatically check for its neighbour, cannot spawn there either so check for the neighbour again and so on until it reaches an island

[2017-01-10 19:29] Tencao commented on #1158
This is not exclusive to the void, I have a normal world and the issues are still very present, if anything a void world would be or should be less laggy than a normal world.

To further add, I'm running a completely separate modpack and the issues are still there.

[2017-01-10 19:40] alicheek commented on #1158
@Tencao Well if the issues are still present they are definitely not as bad as it is in the void world as we have a hermitpack , infinity lite and dw20 1.10.2 server which do not have tps issues like sf3 has.

[2017-01-10 19:44] Tencao commented on #1158
Maybe, but we've certainly been hit massively by it, especially when it comes to tinkers construct slime spawning.

Edit - Named the wrong mod for slime spawning, corrected.

[2017-01-10 21:02] jelaw21 commented on #1046
Any word on whether this issue has been resolved?

[2017-01-10 21:23] ktole1999 commented on #1046
i have used sponge 2123 with abyssalcraft and other mods that add dimensions and have not run into this issue.

[2017-01-10 21:25] jelaw21 commented on #1046
Can you provide the versions of both Spongeforge and Forge?

On Jan 10, 2017 4:23 PM, "Bebo" <notifications@github.com> wrote:

[2017-01-10 21:27] ktole1999 commented on #1046
forge-1.10.2-12.18.2.2123-universal and spongeforge-1.10.2-2123-5.1.0-BETA-1879 and i have no issues.

[2017-01-10 21:30] jelaw21 commented on #1046
Thank you. I will try it tonight and post my findings.

On Jan 10, 2017 4:27 PM, "Bebo" <notifications@github.com> wrote:

[2017-01-10 23:50] jelaw21 commented on #1046
Ok, I tried the versions you suggested. Below is the crash report:

On Tue, Jan 10, 2017 at 4:30 PM, Joshua Law <jelaw21@gmail.com> wrote:

---- Minecraft Crash Report ----

WARNING: coremods are present:
  ChiselCorePlugin (Chisel-MC1.10.2-0.0.7.3.jar)
  EnderCorePlugin (EnderCore-1.10.2-0.4.1.58-beta.jar)
  RBLoadingPlugin (RealBench-1.10.2-1.3.2.jar)
  AppleCore (AppleCore-mc1.10.2-2.1.0.jar)

[2017-01-11 01:17] jelaw21 commented on #1046
[crash-2017-01-10_18.47.43-server.txt](https://github.com/SpongePowered/SpongeForge/files/697807/crash-2017-01-10_18.47.43-server.txt)

[2017-01-11 13:31] mcenderdragon commented on #1046
Its still the same crash... so it looks like they did nothing :/ Its quite sad because sponge worked for our server good sofar.

[2017-01-11 17:28] ProsperCraft opened #1177 "Sponge not compatable with FTB InfinityLite version 1.5.1 class loaded prematurely!"
This is similar to the AE2 problems of the past.

Oh dear. Sponge could not apply one or more patches. A required class was loaded prematurely!

https://gist.github.com/ProsperCraft/6055ba6fe2e7664538e215def577e366

spongeforge-1.10.2-2202-5.1.0-BETA-2026.jar
forge-1.10.2-12.18.3.2202-universal.jar

[2017-01-11 17:36] Eufranio opened #1178 "Sitting in stairs is client-side only with Sponge"
Using the mod Quak, we are able to sit in stairs. While sitting, in singleplayer/pure forge server, other players can see us when we are sitting, but with Sponge the client sit but other clients can't see. This appears in console:

[code]

How I am supposed to be seen:

![a](http://image.prntscr.com/image/5541661ee18e44bd8dab08174c8abf8e.png)

How I am seen:

![a](http://image.prntscr.com/image/97

[2017-01-11 17:38] codeHusky commented on #1178
Sponge clearly doesn't want you to sit. :P

[2017-01-11 18:52] phit commented on #1177
can you post the full log up to this point, hopefully whatever loads that early prints something

[2017-01-11 22:24] Aaron1011 commented on #1046
This is probably related to the other issues Sponge has with registering and unregistering mod dimensions. I'll be addressing this soon.

[2017-01-11 22:36] ProsperCraft commented on #1177
That is the full log.

[2017-01-11 22:39] FiveEYZ commented on #1177
Try remove foamfix or update it to latest

[2017-01-11 23:00] ProsperCraft commented on #1177
yup! that was it, Sponge is not compatible with foamfix in 1.5.1 thank you. Updated topic.

[2017-01-11 23:16] Deamon5550 commented on #1177
Duplicate #1161 and already fixed by the mod author, update to FoamFix `0.5.0-BETA3` (if its been released yet) or change to the lawful edition.

[2017-01-11 23:16] #1177 closed, assigned to nobody

[2017-01-11 23:36] Tencao opened #1179 "[1.10.2] Dupe bug with protections"
From what I've observed, it seems that tools that dig multiple blocks bypass the permission and drop the item of the block, even though the block is never destroyed. This can very quickly be abused and I've observed this happening with multiple different protection plugins, which leads me to believe this is an issue with sponge not the plugins. At a guess, the event is not been canceled before bre

[2017-01-11 23:45] ProsperCraft opened #1180 "Piston crashing the server- Exception while updating neighbours"
I thought this was sorted out previously, I could not find any open or closed reports that match though so here it is.

A Piston is crashing our server.

Screenshot-
![2017-01-11_16 41 53](https://cloud.githubusercontent.com/assets/4427684/21871114/45e8222c-d81d-11e6-84ac-1fb40132bfe5.png)

Crashlog-
https://gist.github.com/ProsperCraft/d0628f37b70a5b707182bac9a9ec44cb

[2017-01-12 00:12] bookerthegeek commented on #1179
Would it not be the permission plugins responsibility to inform sponge to cancel the drop? And or the mod to check permissions?

[2017-01-12 00:14] Tencao commented on #1179
Again, the mod is checking permissions, I even posted 3 ways one item on project e tests for permissions before breaking a block. As for the plugin to cancel the drop, considering this has happened with 3 different protection plugins, I'm only going to assume this is a sponge bug.

I wish you would read what I've already put in the first post before asking that.

[2017-01-12 00:17] bookerthegeek commented on #1179
I did read it, and more then once. You failed to list:

Plugins used.
Mods tested with.
Proof this does not happen without sponge.
Versions.

Please make sure bug reports include all relevant information when posting to not waste other people's time.

[2017-01-12 00:18] Orcinuss opened #1181 "org.spongepowered.mod.mixin.handler.MixinErrorHandler Error"
Im getting this error regarding the order of loading core mods.
Ive had this before but in this case Applied Energistics is NOT installed.
No crash report. Only start up log.
http://pastebin.com/wHHL2swk

[2017-01-12 00:22] FiveEYZ commented on #1181
remove foamfix

alternative update it to latest or change to the lawful edition.

[2017-01-12 00:29] Tencao commented on #1179
Plugins Used/Tested
- Foxguard
- Nations
- Safeguard

Mods Tested with
- ProjectE
- Tinkers Construct
- Mekanism

Proof this doesn't happen without sponge? Well of course it wont, it's sponge's protection that causes it

Versions are again listed in the first post. If you're referring to mod versions, the latest publicly available at the time of this post.

[2017-01-12 01:01] bookerthegeek commented on #1179
Still waiting for any testing that shows this does not happen with protection mods in a pure forge environment.

Generally speaking you start at the lowest most likely option and start from their.

So first,  check with each mod having this issue that they actually throw the event.  A good one in 1.7 for example was blood magic bound tools, they did not throw an event so they bypassed all protecti

[2017-01-12 01:04] Orcinuss commented on #1153
Any fix for this yet?

[2017-01-12 01:12] Tencao commented on #1179
How am I suppose to show that, this only happens in protected areas covered by sponge plugins, I even stated that. Removing sponge wont cause the dupe because the dupe is being caused by the protection plugins themselves, doing this on any unprotected land does not cause the dupe.

I can look more into what the protection plugin themselves are doing but I do know from source that the project e too

[2017-01-12 01:57] Bluexin commented on #1179
On a sponge report tracker... Asking to test without sponge... Asking for already provided info... And even having the nerve to tell stuff like "please do so not to waste people's time"? Wow.
Who are you exactly to act like that? I mean, it's nice to try and help people but... C'mon.

[2017-01-12 02:05] Bluexin commented on #1179
On another note, might be linked to #1163

[2017-01-12 03:00] nacjmclub opened #1182 "crash on launch on only 1.9.4 server version"
I built a server with the mods from skyfactory3 that are compatible and the engender mod and before the other mods get to register I am crashing on a mixintargetalreadyloadederror.

the server version is forge 1.9.4 1968 with the latest 1.9.4 spongeforge mod.

steps to reporduce:

1.build forge 1.9.4 1968 server on computer
2. add latest 1.9.4 spongeforge mod.
it should crash.

[2017-01-12 03:03] Aaron1011 commented on #1182
Sponge for 1.9.4 isn't supported anymore. You'll need to upgrade to either 1.10 or 1.11

[2017-01-12 03:03] #1182 closed, assigned to nobody

[2017-01-12 05:14] Eufranio commented on #1179
Try using GriefPrevention.

[2017-01-12 05:15] Eufranio commented on #1181
FoamFix in the server side(?????)

[2017-01-12 05:27] johnfriedrich opened #1183 "[1.10.2]Flowing water/pistons eats up flowers/grass/wheat/melons etc"
Forge:2202
SF 2039
**Setup:**
Place some flowers.
Get a bucket of water and place water near them.

OR

Place a piston
Place a melon in front of a piston
activate piston.

**What should happen:**
Flowers should drop

or

melon should be destroyed by the pistons and should drop melonslices.

**What actually happens:**
They are just removed by the water and no drops are spawned

or

Melon gets remov

[2017-01-12 10:01] Tencao commented on #1155
Would like to also confirm this bug too

[2017-01-12 14:30] thomas15v commented on #1048
Same issue here, we tried to ban the dropping of redstone with stackban. The event gets canceled correctly but the dupe keeps happening.

[2017-01-12 21:39] Raycoms opened #1184 "Exception attempting to capture a block change! - Gamebreaking for our server!"
We have a tool which allows the player to place blocks.
"We're the minecolonies mod team". And everytime we try to place it the following happens:

/*                                                Exception attempting to capture a block change!                                                 */
/******************************************************************************************************

[2017-01-12 21:51] bloodmc commented on #1184
@Raycoms What SpongeForge build? Pastebin your entire fml-server-latest.log

[2017-01-12 21:52] bloodmc commented on #1180
Fixed in latest SF build, update.

[2017-01-12 21:52] #1180 closed, assigned to nobody

[2017-01-12 21:56] Raycoms commented on #1184
spongeforge-1.10.2-2123-5.1.0-BETA-1879.jar

[2017-01-12 22:00] Raycoms commented on #1184
http://pastebin.com/YkaT3ztd
We also don't like the explosion event exceptions.

[2017-01-13 06:19] ghost commented on #1184
Idk why you use outdated SF build.

[2017-01-13 08:05] gabizou commented on #1184
Update your SF version and re-test.

Red protect is attempting to call some methods that are no longer available on the event, more than likely because it's either using an older version of the API or it's already updated for the latest API that hasn't been released yet.

[2017-01-13 08:54] BytesByBytes opened #1185 "Sponge Crashes Due to failure to load Dimensions for Skyfactory 3 ModPack"
Already reported so closin. Mini Moderator Phit pointed out my errors

[2017-01-13 10:15] phit commented on #1185
then why do you open a duplicate if you know it's already reported?!

[2017-01-13 10:42] Bubble0seven commented on #1185
Fuck sake maybe because i didnt see it when i first reported it sorry for making a mistake so get off ya high horse

[2017-01-13 10:43] #1185 closed, assigned to nobody

[2017-01-13 16:53] ProsperCraft commented on #1181
Yes, you can safely remove it, and the clients can still have it active on their client.

[2017-01-13 16:56] ProsperCraft opened #1186 "Server Crash -Cannot set property PropertyBool - Mod incompatability?"
Is this a sponge issue?

https://github.com/SgtPunishment/Soul-Shards-The-Old-Ways/issues/55#issuecomment-272036275

[2017-01-13 17:33] phit commented on #1048
yup, tried to prevent it with GP no luck either
https://phit.link/s/2017-01-13_18-31-03.mp4

[2017-01-13 22:45] alicheek commented on #1158
Just to continue the process for trying to find the problem we have now updated to skyfactory 3.0.4 and the lag is still quite present for the mobspawning events even though we have mobs disabled in the normal world and a mob spawning world thats is only the size of a small island with 8 dark rooms for mobs to spawn in.  https://timings.aikar.co/?id=dc53c677518348679a869ae1f882942d

[2017-01-13 23:02] ProsperCraft opened #1187 "Server crash- Watchdog- spongepowered.common.service.user.UserDiscoverer.findByProfile"
https://gist.github.com/ProsperCraft/cb02b1caac3cfc6395a2b2d830bf61e9

Description: Watching Server

java.lang.Error
	at com.google.common.base.Equivalence$Equals.doHash(Equivalence.java:330)
	at com.google.common.base.Equivalence.hash(Equivalence.java:104)
	at com.google.common.cache.LocalCache.hash(LocalCache.java:1837)
	at com.google.common.cache.LocalCache.getIfPresent(LocalCache.java:3922)
	a

[2017-01-14 01:26] Eufranio commented on #1171
I don't know about the missing mod, but I'm getting the same error (https://hastebin.com/turupepecu.md) when a player wake up
[code]
We both also have Morpheus installed, didn't try without it.

    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-428c0b2
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2029
    Minecraft Forge: 12.18.3.2185
**Steps to reproduce**:
- /time set night
- sleep
- wake up while

[2017-01-14 06:35] #1138 closed, assigned to Aaron1011

[2017-01-14 08:25] GamingTechTips commented on #1153
I have the same problem for my server please fix it !

[2017-01-14 09:02] Deamon5550 commented on #1187
All this means is that your server timed out, the stacktrace is irrelevant. Use a profiler or increase the max-tick-time.

[2017-01-14 09:02] #1187 closed, assigned to nobody

[2017-01-14 14:14] kremi151 opened #1189 "Custom Villagers throw Exceptions when trying to trade"
My server is running a self developed Forge mod which adds 3 new villager types. Altough these villagers are working perfectly in a non-Sponge environment (single player or plain forge server), they are no longer working in combination with Sponge. This is the exception being thrown when I try to trade with a custom villager:

Error executing task
java.util.concurrent.ExecutionException: java.lang

[2017-01-14 18:18] gabizou commented on #1189
It sounds like the mod Minamod is failing to register their villager professions correctly, since it's in-house developed, I can't imagine that a public source or public jar file would be available to inspect and verify that the registrations are correct.

[2017-01-14 18:20] Eufranio opened #1190 "Crash & Suggestion: Remove villager if invalid villager proffession is present"
Today I got a crash that is happening a lot with my server, related to invalid villager proffession IDs. That's the crash: https://hastebin.com/uwirejezuq.scala

`java.lang.IllegalStateException: Invalid Villager profession id is present! Found: 12`

My suggestion is to remove villagers which the ID is unknown (since they won't work anyway), or replace them with a random proffession.

    Minecraf

[2017-01-14 19:09] ampericus opened #1191 "TP Does not work"
"Error occured while executing command:
org.spongepowered.api.entity.living.player.Player.setLocation(Lorg/spongepowered/api/world/Location;)V"
MC Version: 1.10.2
Forge Version: 1.10.2-12.18.3.2202
Sponge Version 1.10.2-2202-5.1.0-BETA-2032

I have not found any other issues which are similar to this.

[2017-01-14 19:18] Deamon5550 commented on #1191
We'll need the full stacktrace or preferably the full log.

[2017-01-14 21:02] bookerthegeek opened #1192 "EnderIO Conduit Issues"
#### Issue Description:
When changing conduit Tiers from one tier to another tier the conduit dupes.

#### Background:
The mod [EnderIO](https://github.com/SleepyTrousers/EnderIO) has tiered conduits for moving Power / Liquids from point A to point B. It also has the ability to upgrade conduits already in the world in place at a rate of one to one from one tier to another tier.

#### What happens:

[2017-01-15 04:25] ghost commented on #949
I believe it persists.

[2017-01-15 04:30] bookerthegeek opened #1193 "Compressed Block duping (Again)"
As per previous issues ([#1045](https://github.com/SpongePowered/SpongeForge/issues/1045), [1155](https://github.com/SpongePowered/SpongeForge/issues/1155) & others) Breaking compressed blocks yields to many items.

### Issue Description:
When breaking Compressed blocks from [Extra Utilities ](https://github.com/rwtema/extrautilities) or [ExNihilo Adscensio](https://github.com/MikeLydeamore/ExNihi

[2017-01-15 08:20] kremi151 commented on #1189
You cannot find it as it is not made public yet, sorry for that :/

Here is my class where I define my villagers: (I truncated it a bit)
http://pastebin.com/Qixt2dS8

The `registerVillagers` method is called from the main class during pre init phase, so I don't see how I should register them otherwise as they are working perfectly when I don't use sponge

[2017-01-15 14:58] axle2005 commented on #1155
Im closing this one... the new one 1193 is so much more detailed.

[2017-01-15 14:58] #1155 closed, assigned to nobody

[2017-01-15 17:12] #1148 closed, assigned to nobody

[2017-01-15 18:11] adracamas opened #1194 "Possible reason for TPS issue in regards to mob spawns"
I have a theory on the whole mob spawns increasing TPS.

A place to check is the routines for half-slabs. I have a theory that the mobs are still trying to spawn on them even if there is no space for them. Seems a peculiar thing.. but there may be a way to optimize the code to avoid checking every mob for the space.. mainly if there is another block butted against the top of it.

![image](https://

[2017-01-15 18:31] gabizou commented on #1189
@kremi151 the reason why it's not working is because you're using GameRegistry.register. I can fix it, but it's rather annoying to fix as it will require multiple checks. For the mean time, it's very well possible to simply use `VillagerRegistry.register(VillagerProfession)` since the id is auto-assigned.

[2017-01-15 19:08] Deamon5550 commented on #1194
This should be a comment on whatever issue was open no a new issue.

[2017-01-15 19:08] #1194 closed, assigned to nobody

[2017-01-15 21:27] Bennyboy1695 opened #1196 "Any help ? Entity tracking keeps killing tps"
Not sure what causes it, our players believe its graves but i think its just a random occurrence, but either way whatever causes it keeps killing the server to the point that the majority of the online players get kicked until the lags fixes itself.
Here's a copy of the section of the log that causes the issues, if you need more i can grab it no problem as this is a continual issue.
`[22:03:54] [S

[2017-01-16 00:33] adracamas commented on #1158
I have a theyoy on the whole mob spawns increasing TPS.

A place to check is the routines for half-slabs. I have a theroy that the mobs are still trying to spawn on them even if there is no space for them. Seems a peculiar thing.. but there may be a way to optimise the code to avoid checking every mob for the space.. mainly if there is another block butted against the top of it.

![image](https://

[2017-01-16 04:22] hugeblank commented on #1138
Haha Nice!

[2017-01-16 10:17] Siriuo opened #1197 "Invalid Villager Profession ID is present!"
Having some server crashes caused by Villagers

Crash report from server is: http://pastebin.com/FFKSuS2Q

[2017-01-16 15:59] filki7 opened #1198 "Crash with Immersive Engineering and SpongeForge 1.10.2-2202-5.1.0-BETA-2032"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  FMLPlugin (InventoryTweaks-1.62-dev-66.jar)
  MalisisCorePlugin (malisiscore-1.10.2-4.2.9.jar)
  ForgelinPlugin (Forgelin-1.2.0.jar)
  LoadingPlugin (ResourceLoader-MC1.9.4-1.5.1.jar)
  AppleCore (AppleCore-mc1.10.2-2.1.0.jar)
  ChiselCorePlugin (Chisel-MC1.10.2-0.0.7.7.jar)
  IC2core (industrialcraft-2-2.6.142-ex110.jar)
  EnderCo

[2017-01-16 16:23] kremi151 commented on #1189
My class is now looking like this: http://pastebin.com/Z2xVeNw6

The output is the following when starting up the server:

VillagerProfession has not been registered: net.minecraftforge.fml.common.registry.VillagerRegistry$VillagerProfession@2cf8388e
VillagerProfession has not been registered: net.minecraftforge.fml.common.registry.VillagerRegistry$VillagerProfession@4fc19bca
[17:17:53] [Server th

[2017-01-16 16:57] SkyFoxCoder opened #1199 "SpongeForge & Placeable Items | Mod conflict | MC-1.10.2"
### Issue Description:
Mod conflict with **Placeable Items** _(forge mod)_ and **SpongeForge**.
Throws NPE at server console when right clicking with an item in hand.

Tested on a brand new Forge server, the only mods are SpongeForge and Placeable items.

### Version List:
- MC: **1.10.2**
- SpongeForge: **spongeforge-1.10.2-2202-5.1.0-BETA-2034**
- Forge: **forge-1.10.2-12.18.3.2185** _(Recommend

[2017-01-16 17:54] kremi151 commented on #1189
Alright I solved it myself. Here is my new class: http://pastebin.com/WT90w2QV
I solved it by registering the villager professions before registering careers to them. No more outputs in the console that sponge doesn't recognize them and they are finally working now in game,

[2017-01-16 18:59] ghost opened #1200 "Sky Factory 3 (FTB) Sponge"
so I added "spongeforge-1.10.2-2202-5.1.0-BETA-2037" to my server mod folder (Sky Factory 3) and i go to run my server and it gives me this :/ btw I haven't added any extra mods to this server

http://pastebin.com/0bLAxqaf

and i thought for a little that it was AE2 but it is not installed on the server

[2017-01-16 20:56] Siriuo commented on #1197
Seems to be caused when placing a routing node from blood magic.

[2017-01-16 21:19] axle2005 commented on #1200
https://github.com/SpongePowered/SpongeForge/issues/1153

[2017-01-16 21:41] bhi-elliot opened #1201 "[1.11.2-2393-6.1.0-BETA-2442] Item-despawn-rate setting not making a difference"
As per the discussion over at:
https://forums.spongepowered.org/t/item-despawn-rate-not-working/16832/4
brought up by user tridaak.

item-despawn-rate configuration in global.conf, dimension.conf, and world.conf in /config/sponge does not seem to affect the item despawn rate. It always is the default 5 minutes.

from user simon816
"From looking at the code, the despawn rate is only considered when

[2017-01-16 22:37] Deamon5550 commented on #1200
Duplicate #1161 and already fixed by the mod author, update to FoamFix `0.5.0-BETA3` (or higher) or change to the lawful edition.

[2017-01-16 22:37] #1200 closed, assigned to nobody

[2017-01-16 22:47] simon816 commented on #1201
Paging @bloodmc
`EntityItem` never goes into it's [`inactiveTick()`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/entityactivation/MixinEntityItem_Activation.java#L49) method because [this check](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/plugin/entityactivation/ActivationRange

[2017-01-16 23:20] #1189 closed, assigned to nobody

[2017-01-16 23:23] Zidane commented on #1197
One of your mods is not registering villagers correctly (or at all). Remove mods one by one till you find the culprit.

[2017-01-16 23:25] Zidane commented on #1191
Closing until we get more information.

[2017-01-16 23:25] #1191 closed, assigned to nobody

[2017-01-16 23:38] ghost commented on #1200
i've updated foamfix and that didn't work so i removed it and i am still crashing... but thanks anyway

[2017-01-17 01:19] Deamon5550 commented on #1200
@xXMiniGunXx after updating foamfix you likely hit the error in #1153

[2017-01-17 02:56] ampericus commented on #1191
It does not give me a stack trace nor does it produce any error in the log (no idea why). It doesn't crash the server, it just spits that out in chat and noone gets tp-ed.

[2017-01-17 05:59] Sitherious opened #1202 "Ticking player"
https://paste.ubuntu.com/23814809/

[2017-01-17 06:20] Deamon5550 commented on #1202
[FTBUPlayerEventHandler.java#L134](https://github.com/LatvianModder/FTBUtilities/blob/1.9/src/main/java/com/feed_the_beast/ftbu/handlers/FTBUPlayerEventHandler.java#L134) That does not look like a sponge issue?

[2017-01-17 06:41] Sitherious commented on #1202
I'm unsure if it's sponge or ftbutils but if the mod author says it's sponge I will post it in sponge.

[2017-01-17 08:26] kashike commented on #1202
`08:02:21 +LatvianModder | Yeah, thats ftbu issue, i should add nullcheck there`

[2017-01-17 08:26] #1202 closed, assigned to nobody

[2017-01-17 20:52] Bennyboy1695 commented on #1196
Do you know if there's any config option i can turn off to fix this temporarily ? As the server is almost unplayable because of these random lags

[2017-01-17 21:09] ktole1999 commented on #1196
need full log

[2017-01-17 22:30] Bennyboy1695 commented on #1196
https://gist.github.com/Bennyboy1695/231ef1d9999a2772a358a789f14fdd94 The code chicken issues we know whats causing them and its not related to the issue with the entity tracking.

[2017-01-18 00:19] Aaron1011 commented on #1196
@Bennyboy1695: Can you set `verbose-errors` to `true` in your `global.conf`, and re-run your server until you get an exception? The message will be much longer this time.

[2017-01-18 01:41] Bennyboy1695 commented on #1196
https://gist.github.com/Bennyboy1695/a919bb87f4f1cc7cd2d49980cc627006 Ok thats after maybe 30 mins of the server being up with that setting on. If you need anymore then im leaving it on until the next restart/crash. The first line of extended info is 30145, probably could have trimmed the log down a bit until it started but oh well 😛

[2017-01-18 05:10] bloodmc commented on #1175
@Tencao update to latest SF. You are using an outdated build.

[2017-01-18 05:20] IronworksProductions opened #1203 "server crash on launch with bookshelf and spongeforge-1.10.2-2202-5.1.0-BETA-2029"
Hey,

I built a server with a modpack i made structured off of the mods from skyfactory3 minus the skyblock generators plus projectE and i am getting a crash on the server with your core mod unable to run all the patches needed even when called apple.jar
steps to reproduce:
start forge server on 2202
install sponge and bookshelf
crash.

log:
<details>
  <summary>Click to expand</summary>
[00:08:17

[2017-01-18 05:37] Zidane commented on #1203
You have another mod that already class loaded ModContainer

[code]

Remove your mods one-by-one until you find the culprit.

[2017-01-18 05:37] #1203 closed, assigned to nobody

[2017-01-18 05:46] Deamon5550 commented on #1203
`foamfix-0.5.0-BETA2-anarchy.jar` update to 0.5.0-BETA3 or 0.5.1+

[2017-01-18 09:16] bloodmc commented on #1183
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/bed5183c969ec784e1dc69e92f8052ed5d30ba94

[2017-01-18 09:16] #1183 closed, assigned to nobody

[2017-01-18 11:10] Tencao commented on #1175
I'm always on the latest build, those were just old logs. I can see if the bug is fixed on the latest build though

[2017-01-18 13:17] masterrip opened #1204 "Crash 1.10.2-2202-5.1.0-BETA-2042"
---- Minecraft Crash Report ----

WARNING: coremods are present:
  SpongeCoremod (spongeforge-1.10.2-2202-5.1.0-BETA-2042.jar)
  TANLoadingPlugin (ToughAsNails-1.9.4-1.0.11.jar)
Contact their authors BEFORE contacting forge

// Shall we play a game?

Time: 1/18/17 2:14 PM
Description: Exception in server tick loop

java.lang.NoClassDefFoundError: net/minecraft/client/Minecraft
	at com.mrcrayfish.f

[2017-01-18 13:18] masterrip commented on #1204
1.10.2-2202-5.1.0-BETA-2039 Version did not have this problem

[2017-01-18 13:21] simon816 commented on #1204
(reposted from the comment on the commit)

@masterrip That has nothing do do with these changes. It's an issue with the furniture mod.
It appears to have been fixed as of last week https://github.com/MrCrayfish/MrCrayfishFurnitureMod/commit/5465b1bdfbb3f1bbdc74b244536490919bff848f
see this issue
https://github.com/MrCrayfish/MrCrayfishFurnitureMod/issues/120
I'd expect an update of the furniture m

[2017-01-18 13:21] #1204 closed, assigned to nobody

[2017-01-18 13:31] masterrip commented on #1204
You're right . Furniture causes crash. Thank you.

[2017-01-18 15:00] Slind14 commented on #1158
I'm wondering is anyone looking into this. We provided all the asked for information to the best of our abilities. It would be nice to see some progress on this matter.

[2017-01-18 17:02] Kalclavia opened #1205 "Sponge crash "net.minecraftforge.fml.common.ModContainer", on Skyfactory 3 WITHOUT AE2"
[Here](http://pastebin.com/b9TzHgjn) is the log of the crash.
I am attempting to run a skyfactory 3 server, with no other mods added. No AE2, and since this issue seems to be caused exclusively by AE2, I am unsure as to the cause of the error.

[2017-01-18 17:07] phit commented on #1205
#1161 #1153

[2017-01-18 17:26] Deamon5550 commented on #1205
Update foamfix to 0.5.0-BETA3 or higher. and look at issue 1153 as well as you'll likely hit that next.

[2017-01-18 17:26] #1205 closed, assigned to nobody

[2017-01-18 21:58] Aaron1011 commented on #1158
@adracamas: It's very possible that some of the lag is coming from SkyFactory itself. However, the timing reports that I've seen all point to a significant Sponge component, which I'll be working on addressing.

[2017-01-18 22:01] Tencao commented on #1158
Once a fix is released, I will also test it on my normal world which was also experiencing large spawning lag.

[2017-01-18 23:17] Eufranio commented on #1197
Same crash with ONLY Forge + SpongeForge + Nucleus installed. I've set nucleus to generate the world, and as long it is generating, the server crashes.

[2017-01-18 23:21] #885 closed

[2017-01-19 00:36] Time6628 commented on #823
Still occurs with:
SpongeForge: 1.10.2-2171-5.1.0-BETA-2010
Minecraft Forge: 12.18.3.2202

on the sky factory 3 modpack.

[2017-01-19 02:13] gabizou commented on #1197
Duplicate of #1190 Will be fixing very soon.

[2017-01-19 02:13] #1197 closed, assigned to nobody

[2017-01-19 02:14] gabizou commented on #1104
Closing in favor of #1190's resolution. Will be implementing something more descriptive and productive in terms of a warning/error.

[2017-01-19 02:14] #1104 closed, assigned to gabizou, Aaron1011

[2017-01-19 02:14] gabizou commented on #993
Closing in favor of #1190's resolution. Will be implementing something more descriptive and productive in terms of a warning/error.

[2017-01-19 02:14] #993 closed, assigned to gabizou

[2017-01-19 02:26] gabizou commented on #823
@Time6628 is it reproducible on 2042?

[2017-01-19 04:25] IronworksProductions commented on #1032
My spongeforge 1.10.2 server is experiencing this as well
I can't join my server because of nettyio disconnecting me as soon as i am connected.
this is with the latest spongeforge for 1.10.2

[2017-01-19 05:52] IronworksProductions opened #1206 "Unable to join server"
Hey,
I have a server with several mods and sponge on it but when I try and connect I get disconnected by nettyio once making it to the server.

the server loads and welcomes me then I get disconnected.
please help.

--
NN
logs:
<details>
  <summary>Click to expand</summary>
  [17:31:45] [Client thread/INFO]: Setting user: NuclearNIX
[17:31:53] [Client thread/WARN]: Skipping bad option: lastServer:

[2017-01-19 07:18] HeeyItsRen opened #1207 "SkyFactory3 Crashing with Latest SpongeForge"
I've already updated the mod FoamFix which seemed to be the issue of the crashing in the beginning where it wouldn't apply updates. After updating FoamFix, I started up the server it went fine then I get to the problem where EnderIO begins to read failures

http://pastebin.com/H8kRrjCs
I would post the entire crash report here instead but it looks too jumbled

[2017-01-19 07:35] Deamon5550 commented on #1207
Duplicate #1153

[2017-01-19 07:35] #1207 closed, assigned to nobody

[2017-01-19 07:37] Deamon5550 commented on #1206
Please use a paste service such as gist.github.com for your log

[2017-01-19 14:27] stephan-gh commented on #527
Fixed in https://github.com/SpongePowered/SpongeCommon/pull/1135

[2017-01-19 14:27] #527 closed

[2017-01-19 17:31] IronworksProductions commented on #1206
https://gist.github.com/nacjm/14aa83997df4dc12a5fcd03e0a963310
here

[2017-01-19 18:55] Deamon5550 commented on #1206
Preferably with newlines...

[2017-01-19 21:05] Brend-Smits commented on #1158
Looking forward to a fix as well! Keep up the good work Sponge!

[2017-01-20 01:02] IronworksProductions commented on #1206
just fixed it and updated it

[2017-01-20 07:06] Kalclavia commented on #1153
Having the same problem, is there a fix in sight yet?

[2017-01-20 09:09] weigui opened #1208 "[spongeforge-1.10.2-2202-5.1.0-BETA-2049] EntityActivation plugin is trying to cast EntityArmorStand to EntityLiving"
crash report here:
http://pastebin.com/AudsqMDe

# Issue Description
Server crashes because of the newly modified `org.spongepowered.commom.mixin.plugin.entityactivation.EntityActivationRange`  codes.
Commit 86a52412a53acb6d2e5f130cc6d58e83f9f45407 by @bloodmc

method `checkEntityImmunities(Entity entity)` at `EntityActivationRange.java:354` is trying to cast `net.minecraft.entity.item.EntityArmor

[2017-01-20 10:33] kashike commented on #1208
Fixed in https://github.com/SpongePowered/SpongeCommon/pull/1147.

[2017-01-20 10:33] #1208 closed, assigned to nobody

[2017-01-20 21:43] bhi-elliot commented on #1201
I am still experiencing the default 5 minute despawn time, even though I have it configured to 12000 ticks. This is the case using SpongeForge build 2054 (or 1.11.2-2201-6.0.0-BETA-2054).
Thoughts?

[2017-01-20 22:10] lantren commented on #568
This is still a thing.  any updates?

[2017-01-21 00:26] Time6628 commented on #1153
Everyone who installs sponge with WhyUNoMakeGoodMap _will have_ this problem, please stop commenting that you have this problem, when there's a fix, there will be a fix. You can also subscribe to this issue using the button that says "Subscribe" on the right, so you get notified every time there is an update to this issue.

[2017-01-21 03:04] Eufranio opened #1209 "Tinkers Construct's EFLN won't fire break events"
EFLN is a throwable item from Tinkers Construct mod (tconstruct:throwball) that explodes on impact. This explosion doesn't seem to be tracked, I use GriefPrevention (which cancells the explosion and break events) but using GPDebug shows that the blocks broken aren't firing the events (so GP cant catch them). This is a grief issue for servers running Tinkers.

[2017-01-21 03:21] Eufranio opened #1210 "Dupe bug with half blocks"
Pistons pushing half blocks will dupe them. I dont know how to exactly explain, but that's a setup:

![a](https://cdn.discordapp.com/attachments/265252707751821313/271670973671931905/unknown.png)

![a](https://cdn.discordapp.com/attachments/265252707751821313/271671092370866176/unknown.png)

   Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-b7a6e54
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2053

[2017-01-21 03:31] Eufranio opened #1211 "Dupe with Crafting Station from Tinkers Construct"
I explained the issue [here](https://github.com/SlimeKnights/TinkersConstruct/issues/2727#issuecomment-274230652), but it's basically that 2 players can open the crafting station and craft items at the same time, dupping. I tested with a pure forge server and it didn't happen, so I'm reporting this here.

  Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-b7a6e54
    SpongeForge: 1.10.2-2202-5.1.0-

[2017-01-21 03:33] Eufranio opened #1212 "Turtles from ComputerCraft won't fire events when moving"
The only event that is fired is the block break one. With this, we can't prevent turtles from walking, entering protected areas, etc.

  Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-b7a6e54
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2053
    Minecraft Forge: 12.18.3.2185

[2017-01-21 03:43] inklit commented on #1212
Hm, are you sure? It should be firing onBlockPre. What are you doing to test? What version of CC are you using? Are you using CCTweaks or unborked? To say the least, I can't reproduce. More information is required.

[2017-01-21 03:52] Eufranio commented on #1212
I'm placing a turtle in a border of a GriefPrevention claim, opened and made it walk 1 block (enter the claim). The debug of GP showed only the block break event, probably by the turtle moving.

I'm running ComputerCraft 1.80pr0 and CCTweaks 1.2.4.

[2017-01-21 08:22] ghost commented on #1211
It looks like Redpower Dupe Table is back :-)

[2017-01-21 09:05] inklit commented on #1212
No unborked? Try installing unborked & then retry. Unborked fixes CC for 1.10.2 for the most part.

[2017-01-21 14:26] axle2005 commented on #1209
Duplicate of [1083](https://github.com/SpongePowered/SpongeForge/issues/1083)

[2017-01-21 14:28] Eufranio commented on #1209
Not sure if it's really duplicated, since my issue is because they BREAK but DONT FIRE the events. In this issue they don't even break...

[2017-01-21 14:52] Eufranio opened #1213 "Entities causing TPS issues"
When my server gets 10+ players online, the server will start lagging, something about entities. I don't have much experience in debugging those things, but I made a [WarmRoast report](http://frani.magitechserver.cf/WarmRoastReport.rar) while the server is lagging, and also a [Timings](https://timings.aikar.co/dev/?id=185fb970424b4c898c8cf076b9975382) report. In the WarmRoast report, it seems that

[2017-01-21 18:35] Deamon5550 commented on #1213
I don't see anything there that looks like a hot point other than your server not being powerful enough for that many players and that many mods.

[2017-01-22 17:44] Aaron1011 commented on #1209
Thiis bug is due to the fact the Tinker's Construct performs custom explosions, which are spread out over multiple ticks. We're currently determining what the best way to address this issue is.

[2017-01-22 18:52] Inferius77 commented on #910
Yes this issue occurs on my server too.  Player tried to enter a new dimension made with Rftools Dimensions and the server crashed.   I hope spongeforge and/or @McJty find a solution to this.

[2017-01-22 19:24] McJty commented on #910
Reusing a DimensionType for different providers is certainly how it is supposed to work and can't be avoided in the case of rftools dimensions. There is a readon DimensionType is distinct (and has a different ID) from dimensions themselves.

As to the second (reregistering) not sure but the api is there in forge to do this (unregister dimensions) so I don't see why it wouldn't be allowed?

[2017-01-22 19:30] Aaron1011 commented on #910
@McJty: This is a bug in how Sponge handles dimensions internally. Mods shouldn't have to change anything - this is purely a Sponge issue.

[2017-01-22 20:24] Inferius77 commented on #910
Actually I was just reading the patch notes and the latest stable spongeforge says this:
1.10.2-2202-5.1.0-BETA-2059
https://github.com/SpongePowered/SpongeCommon/commit/876d09be834a8a4c06a80fe73fb75931cebbbb66
https://github.com/SpongePowered/SpongeCommon/commit/ee116d6c1cea21c46e2b5fc002566c9c8607854c

Those are links to the "fixes" referenced on the downloads page for that spongeforge version I

[2017-01-23 00:18] Aaron1011 commented on #910
@Inferius77: Unfortunately, no - this is a separate issue, and will require much more extensive changes than those issues.

[2017-01-23 13:42] Time6628 commented on #1206
Can you provide the server logs? From the looks of it you just cannot connect to the server long enough hold a connection with it.

[2017-01-23 13:53] IronworksProductions commented on #1206
After trial and error it seems that it will do this several times.
If i am persistent and keep trying to connect it will let me in the server.
I will provide exact logs when and if it happens again but on the console side it says i connected then it says i disconnected nothing in between telling me what might be preventing the connection

[2017-01-23 15:26] Inferius77 commented on #1206
I host a small server for friends with ftb infinity lite on it,  and one of my players was having as issue which sounds just like what you're describing.  The issue was fixed by allocating more ram to the server.  Instead of 3gigs, I increased it to 5gigs. Now that player always connects on first try.
The difference between our situations is that this was before I added spongeforge to the server,

[2017-01-23 16:08] atakle opened #1214 "Corporea Sparks don't work properly"
Corporea sparks from Botania stop working properly if there's more than 8 of them in a single network. This probably has the same cause as with issue #1000.

Corporea sparks go on top of inventory blocks or blocks with "Corporea" in their names. Exactly one master spark needs to be present.

[2017-01-23 20:05] CyanGenesis opened #1215 "Possible EntityTracker issue"
Hi, there appears to be a problem related to SpongeForge with a forced entity spawn. As a little background info, this issue happens when trying to use a packet to spawn in an entity(from a GUI) from my mod. I want to note that single player works fine, and launching a test server with the Forge MDK works fine, but upon launching up a small private server for myself with SpongeForge added in, I se

[2017-01-23 20:18] Aaron1011 commented on #1215
@CyanGenesis: This warning is caused by the fact that your mod is calling `World#spawnEntity` directly from a packet handler method. As [the MinecraftForge docs state](https://mcforge.readthedocs.io/en/latest/networking/simpleimpl/#imessagehandler), packet handlers are run on Netty threads, and therefore should always schedule a task (on the main thread) in order to interact with the main game.

[2017-01-23 20:18] #1215 closed, assigned to nobody

[2017-01-23 20:45] Aaron1011 commented on #1210
This is actually a Vanilla bug, but I haven't been able to find a corresponding Mojira ticket. I'll investigate further, and link the issue I create here.

[2017-01-23 21:06] Aaron1011 commented on #1210
I've determined the following necessary conditions for this bug:

* The top block needs to be moveable, with a `neighborChanged` method that drops it when no longer supported. Both rails and carpets fulfill these requirements, and substituting in carpet for rail causes the same dupe bug to occur
* The bottom block's `getMobilityFlag` method needs to return `EnumPushReaction.DESTROY`, and also allo

[2017-01-23 21:47] #1210 closed, assigned to Aaron1011

[2017-01-23 22:05] Aaron1011 commented on #1210
Since there's no associated Mojira ticket for this, I'll summarize the issue here:

The bug was caused by the second call to `World#setBlockToAir` in `BlockPistonBase#doMove`, which occurs when destroying blocks (blocks that return `EnumPushReaction.DESTROY` from `Block#getMobilityFlag`). `setBlockToAir` calls `setBlockState` with a flag of 3, which causes neighbor notifications to take place.

No

[2017-01-23 22:11] Aaron1011 commented on #1077
@FiveEYZ: With the fix of the associated Mixin bug, MovingWorld should work in the latest version of SpongeForge for 1.10.2.

[2017-01-23 22:11] #1077 closed, assigned to nobody

[2017-01-23 22:36] Aaron1011 commented on #1213
@Eufranio: Note that all entity ticks on the server get funneled through `org.spongepowered.common.event.tracking.TrackingUtil.tickEntity()`. This causes the method to be shown as consuming a large portion of the tick time, but in reality, nearly all of the time is spent in the actual tick methods that it wraps.

[2017-01-23 22:42] Aaron1011 commented on #1198
This was fixed [in ImmersiveEngineering](https://github.com/BluSunrize/ImmersiveEngineering/commit/a8932fdf07999171df8628b36716e277fe4650a3), and wasn't a Sponge problem.

[2017-01-23 22:42] #1198 closed, assigned to nobody

[2017-01-23 23:16] Aaron1011 commented on #1199
This should be fixed in the latest SpongeForge. Thanks for your extremely detailed issue report!

[2017-01-23 23:16] #1199 closed, assigned to nobody

[2017-01-24 00:13] IronworksProductions commented on #1206
The server has 6 gigs of ram it only is using 2 right now the modpack requires 3 gigs of ram to run.
nettyio is the error that is in the console when I get disconnected,

[2017-01-24 01:49] Aaron1011 commented on #1181
This issue is fixed in the latest FoamFix.

[2017-01-24 01:49] #1181 closed, assigned to nobody

[2017-01-24 04:11] bhi-elliot commented on #1201
Just tested again with 2069, same result.

[2017-01-24 05:34] Eufranio commented on #1210
Thanks!

[2017-01-24 05:37] Eufranio commented on #1213
So, it's a hardware problem?

[2017-01-24 09:10] #1048 closed, assigned to nobody

[2017-01-24 12:43] Aaron1011 commented on #1163
Can you re-test with the latest SpongeForge? I just fixed a bug related to this.

[2017-01-24 16:39] simon816 commented on #1201
I've taken a quick look at this. It appears to be using the world-specific config file rather than the `gobal.conf`, even if `config-enabled` is set to false.
This might be highlighting a larger issue with sponge's config inheritance.

[2017-01-24 17:42] phit commented on #1168
the mod dev marked this a wontfix and blames sponge, so it would be nice if this could be looked at by the sponge team

[2017-01-24 18:54] Aaron1011 commented on #1168
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/4648e4af32f68b07690df05d5446a5b74b99f2b2. The latest SpongeForge will contain this fix.

[2017-01-24 18:54] #1168 closed, assigned to nobody

[2017-01-24 19:50] Aaron1011 commented on #1178
This appears to be a bug in Quark itself - I was able to reproduce the issue without Sponge installed at all.

[2017-01-24 19:50] #1178 closed, assigned to Aaron1011

[2017-01-24 20:00] Aaron1011 commented on #1151
@Eufranio Can you retest with the latest SpongeForge? This is working fine for me.

[2017-01-24 20:47] bhi-elliot commented on #1201
Hi Simon. Thanks all for the help with this.
If I understand what you are saying, I believe that is the correct hierarchy.
World overwrites Dimension overwrites Global.
In my case, I have changed the 'item-despawn-rate' in each of those config files to equal 12000, so it shouldn't matter how the inheritance works, it just needs to actually be influencing the game.

But perhaps I am not understandi

[2017-01-25 05:21] curscascis opened #1216 "Actually Additions Leaf Blower Causes Crops to produce fruit and remain intact/unharvested as a block"
With grief prevention, using a leaf blower on plants from a claim you are not trusted in causes the crops to duplicate. Disabling Item-spawn in gp did not fix the issue.

[2017-01-25 18:11] Eufranio commented on #1151
I can still reproduce. Try double-clicking in the slots (that are showing the foods). It will craft wrong ones.

[2017-01-25 18:53] Eufranio commented on #1216
Try with latest SpongeForge, blood fixed a thing like this.

[2017-01-25 18:54] Eufranio commented on #1178
True, it was reported in Quark repo for the ones who are having issues: https://github.com/Vazkii/Quark/issues/284#issuecomment-275197422

[2017-01-25 18:56] curscascis commented on #1216
thanks, actually I think Aaron's fix may have fixed it, by respecting the cancellation given by gp, I'll have to test it out.

[2017-01-25 19:44] curscascis commented on #1216
Can verify the fix did not apply to this bug.

[2017-01-25 22:07] Eufranio opened #1217 "Blocks lose tile entities after exploded & cancelled"
When I try to explode a block and the event is cancelled (by a protection plugin, by example), the blocks will lose their tile entities data. This breaks modded blocks, such as machines, batteries, after an explosion event near them, the energy is reseted, facing, inventory, etc.

Using:
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-d41d606
    SpongeForge: 1.10.2-2202-5.1.0-BETA-2078
    Mi

[2017-01-25 22:24] Eufranio commented on #1214
In `server/config/sponge/global.conf`, you should see
[code]
Just add `botaniacorporeaspark=-1` to this topic, it should be like this:
[code]

[2017-01-25 23:36] Eufranio opened #1218 "Explosions from Psi are broken on latest build"
Before, explosions were working at all. Now, in the latest build (or the one I'm using), all explosions works, except the ones by Psi. I fire the spell, the damage is given to mobs/players, the particles are shown, but nothing breaks (and/or actually explodes). If it matter, that's the class that explodes: https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/spell/trick/PieceT

[2017-01-26 01:40] Eufranio opened #1219 "Storage Drawers dupe"
Looks like even after cancel a explosion near a Storage Drawer's drawer, it will still drop its items.

Steps to reproduce:
1. Place a Storage Drawer and put any item inside.
2. Explode an TNT and cancel the event (or do it inside a GriefPrevention claim with explosions off, by example).
3. The drawer wont break, but the items will be dropped, dupping them.

[2017-01-26 01:48] FiveEYZ commented on #823
this is still happening @gabizou

using: spongeforge-1.10.2-2202-5.1.0-BETA-2078
here is a error that gets generated when placing the "packing tape" on a chest
https://hastebin.com/wuretogizi.vbs

full server log: http://paste.ubuntu.com/23866896/

[2017-01-26 01:57] Eufranio opened #1220 "Lasers from Actually Additions will damage even if pvp is off"
In the mod, we can attach lens to the Atomic Reconstructor block, and one of those lens will kill instantly any player, and the problem os that it will kill players even if PvP is turned off in the Sponge config.

[2017-01-26 15:38] jackytuutykcaj opened #1221 "Can't break blocks by end portal in the end dimension"
ftb infinity lite 1.5.1
spongeforge-1.10.2-2202-5.1.0-BETA-2078.jar

[2017-01-26 15:48] FiveEYZ commented on #1221
this happen for me to, somehow there was spawn-protection

setting `spawn-protection=0` in server.properties fixed it for me

still odd with spawn-protection in the end :P

[2017-01-26 16:35] ghost commented on #1221
add permission **minecraft.spawn-protection.override** to specific world context

[2017-01-26 18:10] #1214 closed, assigned to nobody

[2017-01-26 18:49] Aaron1011 commented on #1220
I believe that this is working as intended. My understanding of the Sponge config's pvp flag is that it only prevents damage directly initiated by players - not damage to players in general.

Pinging @SpongePowered/developers for input.

[2017-01-26 18:50] Eufranio commented on #1220
Players are able to place and activate it near other players to kill them. The best is ban the lens item then?

[2017-01-26 18:53] Aaron1011 commented on #1220
@Eufranio: I think that kind of control is best left to a plugin. While Sponge could conceivably prevent all damage to players caused blocks with a different `Owner`, this would probably make the option too heavy-handed - and therefore not very useful - for most people.

[2017-01-26 19:40] yepidoodles opened #1222 "Sponge doesn't handle delayed Villager Profession registration"
Version: spongeforge-1.10.2-2202-5.1.0-BETA-2022
Modpack: http://www.technicpack.net/modpack/elbeta.705651
Crash report: http://www.codesend.com/view/44385064606caeeb2c5fa511ebfb5ed0/

The crash happens when someone goes near some villages, I suspect it's one of the mod's fault, but as the report is not pointing to any mod this is the only place I can post it. There's always a couple of seconds be

[2017-01-26 19:46] FreeGameE opened #1223 "Overlord causes server crash"
Hi,

I run a server forge (forge-1.11.2-13.20.0.2224-universal) with spongeforge-1.11.2-2201-6.0.0-BETA-2061, but it seems to not be compatible with the mod Overlord.

here the crash report:

[11:50:26] [Server thread/INFO]: Starting minecraft server version 1.11.2
[11:50:26] [Server thread/WARN]: To start the server with more ram, launch it as "java -Xmx1024M -Xms1024M -jar minecraft_server.jar"

[2017-01-26 20:03] Hoto-Cocoa opened #1224 "Crash with AE2"
[code]

[2017-01-26 20:11] Deamon5550 commented on #1224
Duplicate #966 See https://github.com/Stonebound/Applied-Energistics-2/#about for a work around

[2017-01-26 20:11] #1224 closed, assigned to nobody

[2017-01-26 21:13] Hoto-Cocoa commented on #1224
Thanks!

[2017-01-26 22:55] #1223 closed, assigned to nobody

[2017-01-27 01:16] KhaozFrost opened #1225 "Entity Riding Mod Support"
[11:02 AM] FrostEffects: hey blood, has pixelmon entity riding been fixed? to restrict it inside certain claims?
[1:04 PM] bloodshot: @FrostEffects that is a sponge bug
[1:04 PM] bloodshot: i could attempt to fix it in GP but the proper fix is in Sponge

I asked bloodshot if there was a way to restict entity riding inside claims and he said its a sponge bug so Id like to submit this ticket in hope

[2017-01-28 01:35] thefiz opened #1226 "Possible Memory Leak"
I'm running the latest (as of this post) version of Sponge (1.10.2-2202-5.1.0-BETA-2086) with forge 2202 on a modded server with what is mainly the Direwolf20 pack with some modifications.

Ever since switching over to Sponge I have had a pretty nasty memory leak and lag I've been chasing.  I ran a heap dump on the server when I noticed 7GB of RAM usage for 2 players (the server normally starts up

[2017-01-28 01:36] thefiz commented on #1226
Forgot to attach my timings report
https://timings.aikar.co/?id=3b3fc2a58f70448286a3b20283d013c9

[2017-01-28 04:17] Aaron1011 commented on #1222
This is due to a problem with how we handle villager profession and career registrations from Forge mods. I should have a fix available soon.

[2017-01-28 05:55] Aaron1011 commented on #1225
@bloodmc Can you clarify what the bug in Sponge is?

[2017-01-28 07:53] Eufranio opened #1227 "Psi dupping items if the break event is cancelled"
When we use a [Break Block spell](https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/spell/trick/block/PieceTrickBreakBlock.java) from Psi in a protected area, the block won't break (because the event is cancelled), but will still drop it's items. Like, we break a chest, the items will drop but the chest won't be broken, dupping them.

[2017-01-28 07:58] liach commented on #1227
Sounds like a Psi bug. Vazkii should check whether the breaking failed or not.

[2017-01-28 08:00] Eufranio commented on #1227
I guess it already does? It checks if the event is cancelled.

[2017-01-28 08:02] liach commented on #1227
change block event is not the same as block break event. Probably need to make some change in forge to fix this.

[2017-01-28 16:04] Eufranio opened #1228 "Lightning and Wither sounds are heard in all worlds"
When a player spawns a lightning, or a wither is spawned, the song is heard in all the world(s) for all players, and this is quite annoying. Could you guys fix or add a config for range of the sounds?

[2017-01-28 16:18] Time6628 commented on #1228
Have players install the Bad Wither no cookie mod.

[2017-01-28 18:16] ziceptor opened #1229 "Failed to handle packet"
The player said that was major lag. The other players were all good.

http://pastebin.com/GM0WVi5S

1.11.2-2201-6.0.0-BETA-2097

[2017-01-28 18:22] zerafox commented on #1227
PSI is not the only thing causing this problem. I get the same thing when a Creeper explodes and Nucleus cancels the block break event. I still see stone, wood, etc; show up as if the creeper **had** created it's crater.

[2017-01-28 18:23] Eufranio commented on #1227
Are you in latest SpongeForge? This was already fixed.

[2017-01-28 18:24] zerafox commented on #1227
Depends on when a "new version" was released..

[2017-01-28 18:24] phit commented on #1228
#1123

[2017-01-28 18:26] Eufranio commented on #1228
Oh, sorry.

[2017-01-28 18:26] #1228 closed, assigned to nobody

[2017-01-28 18:26] Eufranio commented on #1123
Lightning/smite are heard in all the world(s) too.

[2017-01-28 18:27] Eufranio commented on #1227
Yesterday?

[2017-01-28 18:31] zerafox commented on #1227
As of the build 13hrs ago
_Which is kind of crazy/ridiculous there's a new build every couple of hours..._
my creepers aren't leaving brand new blocks from exploding.

[2017-01-28 18:45] ziceptor commented on #1229
AntiWDL-1.1-all.jar
API6-BetterBoom.jar
AutoBroadcasterSponge-0.2.1.jar
CommandSigns-API-6.0.0-1.3.1.jar
CustomPlayerCount.-.1.1.jar
EasyScoreboards.jar
EconomyLite-5.0.0-2.8.0.jar
FlexibleLogin.jar
foxcore-0.10.3-208-server.jar
foxguard-0.20.2-api5-347-server.jar
Graveyards-v2.1.3.jar
helpme-5.0.0-0.2.2.jar
holograms-v2.0.1.jar!
IPLog-0.1.0.jar
Launchpad-v1.0-FIXED.jar
MiscStuff-1.0-SNAPSHOT.jar

[2017-01-28 18:55] Aaron1011 commented on #992
The root of this issue is that `Chunk#onChunLload` was being called twice for the same chunk - once from Forge's async chunk loader code, and once from Sponge's `loadChunkForce` method. This caused a `ChunkEVent.Load` to be fired twice for the same chunk, messing up ElecCore (along with any number of other things).

Sponge's `loadChunkForce` method was intended to bypass an unecessary check found

[2017-01-28 18:55] #992 closed, assigned to nobody

[2017-01-28 18:56] Eufranio commented on #992
❤️

[2017-01-28 19:15] Aaron1011 commented on #1226
@thefiz: Can you do another heap dump with the latest SpongeForge? [This commit](https://github.com/SpongePowered/SpongeCommon/commit/3ba053165a12460fe2720a20b6548917110c5719) may significantly cut down on the number of `SlotTransaction` objects.

[2017-01-28 19:21] Time6628 commented on #1123
Use this mod on the client, https://minecraft.curseforge.com/projects/bad-wither-no-cookie
ExtraUtils implemented a feature in this to disable boss sounds in all worlds in 1.7.10, so he will probably do it again.

[2017-01-28 19:55] bookerthegeek opened #1230 "IC2 Scrap Boxs"
[IC2 Bug Tracker Link](http://bt.industrial-craft.net/view.php?id=2073)
Likely similar to https://github.com/SpongePowered/SpongeForge/issues/1168
Versions:
- Sponge: spongeforge-1.10.2-2202-5.1.0-BETA-2019.jar
- Forge: forge-1.10.2-12.18.3.2185-universal.jar
- ModVersion: Industrialcraft-2-2.6.142-ex110.jar

What Happens:
- Item is not used on use

What is Expected to happen:
- Item is removed fr

[2017-01-28 19:58] Aaron1011 commented on #1230
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1066.

[2017-01-28 19:58] #1230 closed, assigned to nobody

[2017-01-28 20:47] #1222 closed, assigned to Aaron1011

[2017-01-28 22:44] yepidoodles commented on #1222
I updated as soon as you posted the new version, had 10-16 players on since, spent my entire time searching for villages (found lots) and not a single crash. Thank you very much!

[2017-01-28 23:06] yepidoodles opened #1231 "Strange Interaction Issue"
SpongeForge version 1.10.2-2202-5.1.0-BETA-2098
Forge Version 1.10.2-12.18.3.2202

I'm not sure if this is Sponge's fault or another plugin (I know it's not a mod, doesn't happen on Singleplayer). It seems to only happen to a few players and random times, only way I've been able to fix it is with a server restart, although one player said they fixed it by teleporting between dimensions. Happy to p

[2017-01-28 23:40] Aaron1011 commented on #1231
@yepidoodles: Are playes able to use items at all (either right-clicking on blocks or in the air)?

[2017-01-29 01:17] yepidoodles commented on #1231
Yes, you can do stuff like eat and use backpacks.

[2017-01-29 02:20] Aaron1011 commented on #1171
This should be fixed in the latest SpongeForge.

[2017-01-29 02:20] #1171 closed, assigned to Aaron1011

[2017-01-29 14:53] #1221 closed, assigned to nobody

[2017-01-29 16:16] ProsperCraft commented on #1123
One problem with that mod is that if you add it serverside, it requires that it be installed on the client as well, I did ping him requesting that he change that, not sure if he did yet.

[2017-01-29 17:32] Time6628 commented on #1123
It wouldn't work serverside, because it blocks the sound on the client side.

[2017-01-29 20:13] liach commented on #1227
Related to #1231 ?

[2017-01-29 20:17] #1219 closed, assigned to nobody

[2017-01-29 21:26] Aaron1011 commented on #1190
@Eufranio: Can you re-test this on the latest SpongeForge?

[2017-01-29 21:33] Eufranio commented on #1219
Thanks!

[2017-01-29 21:34] Eufranio commented on #1227
I don't think so, since this dupe happens **every time**.

[2017-01-29 21:41] Eufranio commented on #1190
Yes, exploring a bit right now.

[2017-01-29 21:48] Aaron1011 commented on #1169
Can you still reproduce this on the latest SpongeForge?

[2017-01-29 21:54] liach commented on #1227
@Eufranio It should have been addressed in 0fb7475752dec8aad8e09454e582bf5c05b6d1b3. Try the latest build.

[2017-01-29 22:06] Eufranio commented on #1190
Explored a lot and no crashes, seems to be fixed, thanks!

[2017-01-29 22:08] Eufranio commented on #1028
Sync issues (because PSI GUIs are client-side), the issue is with Psi and not Sponge.

[2017-01-29 22:46] Aaron1011 commented on #1231
@yepidoodles: Can you upgrade tp the latest SpongeForge? Look for any errors in your `latest.log` and `fml-server-latest.log` when you do so

[2017-01-29 22:58] DestinyMC opened #1232 "Server Crash"
Log:
https://paste.ubuntu.com/23890235/

Warmroast:
https://gyazo.com/84942cc3865866d368295c21b52752a4

[2017-01-30 00:28] yepidoodles commented on #1231
Before I had a chance to update to the latest SpongeForge, it happened while I was also having issues with [AdventureMMO](https://forums.spongepowered.org/t/trophy-adventuremmo-v1-6-3-api-4-5/14985), I've since updated SpongeForge and removed AdventureMMO, hopefully it was that causing it, if it doesn't happen again in the next 3 days, I'll close this issue.

[2017-01-30 00:39] FiveEYZ opened #1233 "[1.10.2] Error seen during startup"
dont know if its critical, just wanted to report it
https://gist.github.com/FiveEYZ/486266d564d78561acbd427f6ee328c1

dont know how this will affect the server as it still starts up fully.

here is the full start up log:
https://gist.github.com/FiveEYZ/24b470b33b52fd04584250a293b024e9

using:
spongeforge-1.10.2-2221-5.1.0-BETA-2104
forge-1.10.2-12.18.3.2221-universal

[2017-01-30 00:48] FiveEYZ commented on #1229
have also started to get alot of these packet issues lately

like this one Flux-network:
https://hastebin.com/oqecizumup.rb

or this with Waila:
https://hastebin.com/inorucozel.rb

sorry if they are not related as im using 1.10.2, and they may only be mod related

[2017-01-30 22:33] Eufranio opened #1234 "RemoveErroringEntities/TileEntities won't work in Sponge servers"
That's an config/option from Forge (you can see in forge.cfg), that hasn't been working in SpongeForge. I've been told that Sponge overwrites World.updateEntities, so that could be the reason (thanks simon816).

[2017-01-31 02:34] bhi-elliot commented on #1201
Still an issue as of build 2110.
SpongeForge 1.11.2-2226-6.0.0-BETA-2110
Forge 2226
foxcore-0.10.3-208
foxguard-0.20.2-api5-347
ironchest-1.11-7.0.17.799
Nucleus-0.21.0-S5.1-PR2-plugin
worldedit-sponge-6.1.7-SNAPSHOT-dist

[2017-01-31 15:32] bookerthegeek commented on #1230
Thank you! Did not see that one for some reason.

[2017-01-31 17:32] lenis0012 commented on #1169
@Aaron1011 I will take a look to make sure

[2017-01-31 18:38] HeyZeer0 opened #1235 "SpongeForge is not receiving / sending messages via channels (bungeecord)"
SpongeForge is not receiving / sending messages via channels (bungeecord)

Tested with SpongeForge: ``1.10.2-2221-5.1.0-BETA-2109``
Tested with SpongeVanilla: ``1.10.2-5.1.0-BETA-370``

Evidences: (I'm Brazilian, so I'll translate the messages)
With SpongeVanilla: http://prntscr.com/e2srua
With SpongeForge: http://prntscr.com/e2sjx7 ``(The player should be kicked because the bungeecord did not res

[2017-01-31 23:31] ProsperCraft opened #1236 "1.11.2 - All armor armor stands disapeared after adding sponge."
Running 1.11.2 forge and after booting with Sponge installed all armor stands disappeared and took the armor on them as well.

    Minecraft: 1.11.2                                                                                                                                                                                                                     │··
    SpongeAPI: 6.0.0-SNAPSHOT-466d1

[2017-01-31 23:44] ProsperCraft opened #1237 "1.11.2 Players lose all items when breaking grave"
This issue is back.

https://github.com/SpongePowered/SpongeForge/issues/1097

    Minecraft: 1.11.2
    SpongeAPI: 6.0.0-SNAPSHOT-466d1a8
    SpongeForge: 1.11.2-2226-6.0.0-BETA-2112
    Minecraft Forge: 13.20.0.2226

[2017-02-01 00:32] Aaron1011 commented on #1236
I attempted to reproduce this by creating an armor stand (with armor) on a plain Forge client, then opening the world with a Sponge client. It worked fine - was there something else that you did to reproduce this?

[2017-02-01 00:36] TheRealDadbeard commented on #1132
I have the same issue with the newest stable liteloader on beta 2100

[2017-02-01 01:42] ProsperCraft commented on #1236
Modpack is One Elf Squared, they all had top tier armour from different mods.

[2017-02-01 02:57] Eufranio commented on #1235
I guess it should be posted in SpongeCommon?

[2017-02-01 07:26] ProsperCraft commented on #1236
This may be the difference- We ran sponge to pregen the world, then played with sponge only for several days, then added sponge in for the performance with no plugins.

Perhaps it happened due to the switch from forge to forge with sponge.

[2017-02-01 16:10] TheRealDadbeard opened #1238 "Liteloader and Spongeforge crash"
Title. I'm using Forge 2209 and Spongeforge 2100 on Minecraft 1.10.2. It crashes before the title screen.

[code]

[2017-02-01 16:56] Mumfrey commented on #1238
This is fixed in the latest builds of LiteLoader for 1.11 and 1.11.2. Specifically, it was fixed by [this commit](https://github.com/SpongePowered/Mixin/commit/ea4f8aea8ee6de8fd6a215bee14f14a93967f35b) in Mixin.

[2017-02-01 19:07] afannnn commented on #1238
May someone backport the fix to 1.10.2 please?

[2017-02-01 19:17] Eufranio commented on #1190
Hmmm, nope, it crashed again, and now registering ExtraUtils2's villager:
[code]
Full crash-report: https://hastebin.com/tezotoweyo.scala

[2017-02-01 20:03] Mumfrey commented on #1238
Download latest snapshot build.

[2017-02-01 20:53] rmnaderdev commented on #1046
Has any progress been made on this issue? If not I'd like to contribute and see how I might be able to help.

[2017-02-01 20:55] mcenderdragon commented on #1046
nope, here i still no progress,. Sadly

[2017-02-01 21:00] PotatoSauceVFX commented on #1046
Alright I'll clone a repo and see what I can do. Is latest-5 the most recent 1.10.2 branch?

[2017-02-01 21:22] TheRealDadbeard commented on #1238
Gives me that error

![unbenannt](https://cloud.githubusercontent.com/assets/23340600/22526786/d8d5f6a8-e8cc-11e6-802b-0eed2ccc79f0.PNG)

[2017-02-01 21:58] Eufranio opened #1239 "Dupe with Psi block break"
When we use a [Break Block spell](https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/spell/trick/block/PieceTrickBreakBlock.java) from Psi in a protected area, the block won't break, but will still drop it's items. Like, we break a chest, the items will drop but the chest won't be broken, dupping them.

    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-c82cd9e
    SpongeFo

[2017-02-01 22:10] Mumfrey commented on #1238
Turns out Jenkins wasn't set up to build SNAPSHOT since 1.10.2 was supposed to be frozen, it's building a new SNAPSHOT now.

[2017-02-01 23:14] Eufranio opened #1240 "NoClassDefFoundError: net/minecraft/crash/CrashReportCategory$4"
Looks like the server doesn't have the crash report class? :P
Crash-report of the missing crash-report class: https://hastebin.com/equyeluvaz.sql

[2017-02-01 23:37] axle2005 commented on #1239
Duplicate [#1227](https://github.com/SpongePowered/SpongeForge/issues/1227)

[2017-02-01 23:39] Eufranio commented on #1239
Oh sorry, how I didn't see my own issue lol

[2017-02-01 23:39] #1239 closed, assigned to nobody

[2017-02-01 23:39] Eufranio commented on #1227
Still dupping in latest build.

[2017-02-01 23:53] HeyZeer0 commented on #1235
@Eufranio The problem only occurs in the forge version, so here is probably the correct location.

[2017-02-02 00:39] Aaron1011 commented on #1240
I haven't been able to reproduce this in production - calling `CrashReportCategory.addBlockInfo` works fine in production for me. Can you provide a list of steps to reproduce this?

[2017-02-02 01:37] Aaron1011 commented on #1235
@HeyZeer0: Your code worked fine for me. Can I see your full code snippet, as well the version of BungeeCord that you're using?

[2017-02-02 03:02] Deamon5550 commented on #1240
Is that a patched version of applied energistics?

[2017-02-02 16:19] Eufranio commented on #1240
Yes.
Aaron, I dont have much info about it, it just randomly happens. That's my modpack: http://www.technicpack.net/modpack/magibeta-pack.940049
I removed all the plugins and still having the crash.

[2017-02-02 16:26] HeyZeer0 commented on #1235
I tried to use bungeecord version [#1225](http://ci.md-5.net/job/BungeeCord/1225/) and [HexagonMC Version](https://github.com/HexagonMC/BungeeCord)

There is my code:
<removed>

Thanks for answering @Aaron1011 =)

[2017-02-02 16:38] simon816 commented on #1235
I suspect this has something to do with you using the channel in the `ClientConnectionEvent.Join` event. The network handler may not have been completely setup at that point.
Try scheduling it a few ticks later

[2017-02-02 16:46] HeyZeer0 commented on #1235
@simon816 The code works perfectly on SpongeVanilla and there is already a delay.

[2017-02-02 17:39] phit commented on #1240
where did you get the patched ae2 version from?

[2017-02-02 17:48] Eufranio commented on #1240
Your version(?) https://github.com/Stonebound/Applied-Energistics-2

[2017-02-02 19:28] Sean-Amor opened #1241 "Custom Npcs Crash [1.10.2]"
May not be sponge at all, but thought it was worth a shot posting this:

**CustomNPCs_1.10.2(20nov16)

Minecraft Forge: 12.18.3.2221
SpongeForge: 1.10.2-2202-5.1.0-BETA-2034
SpongeAPI: 5.1.0-SNAPSHOT-428c0b2
Minecraft: 1.10.2 23.01**

From what players are saying, if they have a staff and use it/have it in there inventory it crashes the server.
I believe this may be the error log, I may have to ha

[2017-02-02 20:04] Eufranio commented on #1212
Fixed by updating SF.

[2017-02-02 20:04] #1212 closed, assigned to nobody

[2017-02-03 01:12] TheRealDadbeard commented on #1238
Sadly I am still crashing.

[code]

[2017-02-03 02:01] Mumfrey commented on #1238
Please confirm it's crashing with LiteLoader and SpongeForge. There are a lot of other mods there which takes this outside the scope of the original issue.

[2017-02-03 02:24] TheRealDadbeard commented on #1238
Yes its just with spongeforge

[code]

[2017-02-03 02:51] Mumfrey commented on #1238
As far as I can tell this now needs [this fix](https://github.com/SpongePowered/SpongeForge/commit/cb6b2d9a89e076c75ca759cf8fa73538f8b8fffe) by @Minecrell which was added to bleeding but not backported to stable. If it's possible to merge this into stable then it should cure the problem.

[2017-02-03 12:56] TheRealDadbeard commented on #1238
Okay thanks

[2017-02-03 17:22] alicheek opened #1242 "SimpleChannelHandlerWrapper exception java.lang.RuntimeException: PLAYER target expects a Player arg [Sponge 1.10.2-2221-5.1.0-BETA-2109]"
Dont know if its actually causing any issues but we get it very often seems thats its linked to waila when the player disconnects.

Error:

[code]

[2017-02-03 17:28] alicheek opened #1243 "[Sponge 1.10.2-2221-5.1.0-BETA-2109] Exception during phase body"
Error Report: http://pastebin.com/EDssvjVB

[2017-02-03 17:35] Deamon5550 commented on #1243
The first stack is harvestcraft being stupid. The actual error seems to be a bug with https://github.com/MikeLydeamore/ExNihiloAdscensio/blob/master/src/main/java/exnihiloadscensio/barrel/modes/compost/BarrelModeCompost.java#L81 Can't see anything there that we might cause, try and reproduce it without sponge.

[2017-02-03 17:56] simon816 commented on #1242
Definitely an issue with Waila. I can't seem to find the source code for waila 1.10.2, where did you get it from and what version is it?

[2017-02-04 09:29] kosakriszi opened #1244 "Stacktrace when opening ActuallyAdditions Powered Furnace in spectator mode"
Hey, I get this stack trace when opening up a powered furnace.

https://gist.github.com/kosakriszi/ee92f5463687e7db5c8985931e7af89c

[2017-02-04 09:56] ProsperCraft opened #1245 "Breaking a chest or dropper with items in it make them disapear."
Using spongeforge
    Minecraft: 1.11.2
    SpongeAPI: 6.0.0-SNAPSHOT-466d1a8
    SpongeForge: 1.11.2-2226-6.0.0-BETA-2112
    Minecraft Forge: 13.20.0.2226

Breaking chests with items in them, or a dropper with items the items are lost.

[2017-02-04 12:49] alicheek commented on #1242
looking in my mod directory now and cant actually find it , the only other mod like it i think is : Wawla-1.10.2-2.3.1.214

Its the SkyFactory3 3.0.6 modpack that is being used.

[2017-02-04 15:07] simon816 commented on #1242
OK so I found out it's actually HWYLA (https://github.com/TehNut/HWYLA), they seem to have kept the `mcp.mobius.waila` name so I didn't realise it wasn't WAILA.

The issue appears to be client sends HWYLA message to server and the server replies but the player has since been disconnected.

Report this on the HWYLA issue tracker. Closing this since it's not an issue with spongeforge.

[2017-02-04 15:07] #1242 closed, assigned to nobody

[2017-02-04 15:47] alicheek commented on #1242
ok thanks for the info will do :)

[2017-02-05 04:42] willies952002 commented on #1238
Forge: 13.20.0.2226
LiteLoader: 1.11.2-SNAPSHOT-rAF8F47E-b9-9
SpongeForge: 1.11.2-2226-6.0.0-BETA-2114

No other mods installed

Crash: https://gist.github.com/willies952002/d54f1107c8e403b79211760534ddbcd0

[2017-02-05 12:00] ProsperCraft opened #1247 "[1.11.2] Server crashloop that stops when sponge is removed."
https://gist.github.com/ProsperCraft/3cab4cc74101c8753adc2095df4a6818

Modpack One Elf Squared 4.1

I can supply the world, compressed its almost 2 gigs though.

[2017-02-05 12:47] ghost commented on #1247
I think foamfix isnt compatible with sponge.

[2017-02-05 13:21] simon816 commented on #1247
Appears to be an issue with Mine Colonies. From a quick look at the code it could be to do with a world unloading.

[2017-02-05 13:32] Raycoms commented on #1247
The question is why this happens with sponge and not or only rarely without.

[2017-02-05 17:46] Mumfrey commented on #1238
Make sure you're on latest snapshot, this was fixed but literally only in the very latest builds.

[2017-02-05 21:35] TheRealDadbeard commented on #1238
But where are the snapshots? Latest for 1.10.2 is this one spongeforge-1.10.2-2221-5.1.0-BETA-2113

There are only newer snapshots for 1.11

[2017-02-05 21:49] Time6628 commented on #1235
Are you using SpongePls to allow forge clients to connect to the server?

[2017-02-06 01:17] bloodmc commented on #1236
You are using a plugin that is denying entity spawns during chunk loads. Not a sponge issue. Remove all plugins and it will work fine.

[2017-02-06 01:20] bloodmc commented on #1226
This was fixed as reported above.

[2017-02-06 01:20] #1226 closed, assigned to nobody

[2017-02-06 01:21] bloodmc commented on #1213
This is not a sponge issue, lower spawns or adjust your entity activation config.

[2017-02-06 01:21] #1213 closed, assigned to nobody

[2017-02-06 01:23] bloodmc commented on #1206
No server logs or anything, create a new ticket when you provide all information required.

[2017-02-06 01:23] #1206 closed, assigned to nobody

[2017-02-06 01:25] ProsperCraft commented on #1236
We didn't have any plugins installed at all.

[2017-02-06 01:36] phit commented on #1098
fixed itself at some point

[2017-02-06 01:36] #1098 closed, assigned to nobody

[2017-02-06 01:42] #910 closed

[2017-02-06 01:43] bloodmc commented on #910
SpongeCommon commit https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:44] bloodmc commented on #920
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:44] #920 closed

[2017-02-06 01:44] bloodmc commented on #995
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:44] #995 closed, assigned to nobody

[2017-02-06 01:45] bloodmc commented on #1046
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:45] bloodmc commented on #1109
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:45] #1109 closed, assigned to nobody

[2017-02-06 01:45] bloodmc commented on #1117
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:45] #1117 closed, assigned to nobody

[2017-02-06 01:45] bloodmc commented on #1153
Fixed in latest. SpongeCommon commit can be found here
https://github.com/SpongePowered/SpongeCommon/commit/dbf3c828d24cba094ef118b6e5aa1086a3db2b17

[2017-02-06 01:45] #1153 closed, assigned to Zidane

[2017-02-06 01:52] bloodmc commented on #1236
@ProsperCraft woops i thought this was 1.10.2, perhaps a change i made didnt get carried over to 1.11

[2017-02-06 01:53] bloodmc commented on #1236
Figure out what mod is causing it.

[2017-02-06 02:22] ProsperCraft commented on #1236
He had the stands there for quite some time while we were forge only, then when we added sponge they wiped.

[2017-02-06 02:24] ProsperCraft commented on #995
SO HAPPY!!!  Thank you

[2017-02-06 03:52] phit commented on #970
this is still an issue, just updated sponge and was greeted by this http://vpaste.net/KZUHB
no idea why it popped up now, I also noticed this line on startup
`No entity type is registered for class com.rwtema.extrautils2.fakeplayer.XUFakePlayer`

[2017-02-06 12:21] Tencao opened #1249 "[1.10.2] Excessive mob spawns"
So for a while, I always found mob spawns to be a little underwhelming, however recently there's been so much it's nearly impossible to control. I've set far lower activation ranges for mobs in hopes to reduce their numbers, but I can still sometimes get 2000 mobs around 1 players base. Is this a bug and if not, can you add a more direct way to control mob spawning via the sponge config.

Sponge v

[2017-02-06 14:27] merjilin opened #1250 "Not Enough Wands - Block Change"
Hey, it seems that the mod 'NotEnoughWands' is sending out excepts when using a block changing wand. The format of the error is similar to ones I have seen for other sponge issues, so I thought it might be best for me to make you aware of it.

[code]

[2017-02-06 17:25] Eufranio opened #1251 "Exception during phase body - lumien.randomthings.entitys.EntitySoul"
This error just popped up in my server console: https://hastebin.com/ekoqimanek.md
I can't reproduce, but all the times it happened, a player clicked a soul from Random Things mod.

    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-c82cd9e
    SpongeForge: 1.10.2-2221-5.1.0-BETA-2109
    Minecraft Forge: 12.18.3.2185

[2017-02-06 17:37] gabizou commented on #1251
This is more of an exception from `EntitySoul` throwing an exception during an interact. Sponge simply wraps around to prevent the cause stack from overloading itself due to these exceptions.

[2017-02-06 17:37] #1251 closed, assigned to nobody

[2017-02-06 17:40] Eufranio commented on #1251
Should I report to the mod author, or just ignore this error?

[2017-02-06 17:44] mcenderdragon commented on #1046
Nope it is not fixed: still happening. (Same crash)
latest forge (2221) , latest sponge (2117).
http://pastebin.com/U6nAGwmf

Please reopen this issue.

[2017-02-06 18:16] bloodmc commented on #1232
This is not a sponge issue. Report to Forge.

[2017-02-06 18:16] #1232 closed, assigned to nobody

[2017-02-06 18:17] bloodmc commented on #1241
@Sean-Amor Update to latest SpongeForge and try again. Old builds will NOT be supported.

[2017-02-06 18:18] Aaron1011 commented on #1250
The error you posted is cut off. Can you upload the entire error? It should end with a stacktrace and a closing ASCII banner (e.g. `***********`)

[2017-02-06 18:36] phit commented on #1249
Sounds like you have a chunk corruption, or some mod bugging out, I have not seen anything like this on either SF3 or DW20.
Does this happen everywhere randomly or same place all the time?

[2017-02-06 18:51] Tencao commented on #1249
I think it's most noticeable near the ocean, we tend to get a fair bit of water mobs spawning there

[2017-02-06 19:01] merjilin commented on #1250
Oops, sorry about that. Here:

[code]

[2017-02-07 00:08] Keaton1188 commented on #1193
@Aaron1011 Hey man, you had any luck with knowing what the issue is?

[2017-02-07 01:42] Zidane commented on #1251
@Eufranio

Yes, report it.

[2017-02-07 02:01] gabizou commented on #1250
If you can copy it from the server log, it's much more readable, not from console (console doesn't preserve whitespace well).

[2017-02-07 04:26] ghost opened #1253 "TPS drop with build 2117"
After some time server drop tps. When revert to build 2113, issue is resolved and never returned.

https://timings.aikar.co/?id=606fbc9959d74cb692001d0c91a53e39

[2017-02-07 05:03] bloodmc commented on #1253
2117+ now allows mods to load chunks when calling getTileEntity. Remove Sponge and check if timings are the same, if so then report the issue to the mod dev. If not, zip your world + mods + config so I can fix it.

[2017-02-07 06:20] #1046 closed, assigned to Aaron1011

[2017-02-07 07:06] bloodmc commented on #1249
@Tencao Use a mod that customizes mob spawning like CustomSpawner or JustAnotherSpawner. The only changes you can make in Sponge is the same as Forge/Vanilla. I have tested the mob spawns and couldn't find any issues. If you can prove Sponge causes "excessive" spawns with a modpack such as SF3 or DW20 then I'll reopen the ticket. Make sure you test the exact same scenario with Forge only.

[2017-02-07 07:06] #1249 closed, assigned to nobody

[2017-02-07 07:07] bloodmc commented on #1236
@ProsperCraft You need to figure out EXACTLY what mod is causing this as it cannot be reproduced with no mods.

[2017-02-07 15:45] HeyZeer0 commented on #1235
Thanks @Time6628, can be closed.

[2017-02-07 16:23] Time6628 commented on #1235
You can close github issues you opened yourself.

[2017-02-07 16:25] #1235 closed, assigned to nobody

[2017-02-07 16:31] Aaron1011 commented on #1250
This is a bug in NotEnoughWands - it occurs without Sponge installed. I've opened an issue here: https://github.com/romelo333/notenoughwands/issues/51

[2017-02-07 16:31] #1250 closed, assigned to Aaron1011

[2017-02-07 16:34] Aaron1011 commented on #1247
This appears to have been fixed in https://github.com/Minecolonies/minecolonies/commit/027251b7b151f33dc7e3bb55db5956ad9eacd384

[2017-02-07 16:34] #1247 closed, assigned to nobody

[2017-02-07 17:43] mcenderdragon commented on #1046
Ok after testing it is fixed.

[2017-02-07 18:14] #1244 closed, assigned to nobody

[2017-02-07 20:09] Aaron1011 commented on #1237
I believe this is fixed in the latest SpongeForge (probably in https://github.com/SpongePowered/SpongeCommon/commit/a73c930b1692340cc61c1742a957dd00c1191533)

[2017-02-07 20:09] #1237 closed, assigned to nobody

[2017-02-07 20:37] Brend-Smits commented on #1193
Can confirm this is still an issue on latest build

[2017-02-07 20:45] Aaron1011 commented on #1193
@Keaton1188: Sorry - I forgot to update the issue with what I discovered.

The problem stems from the fact the extrautils2 calls `setBlockState` in its `getHardness` method. This causes Sponge to track multiple updates for a single mine.

Fixing this will require modifying how we process captured block drops. I should have a fix for this later today.

[2017-02-07 20:50] #1234 closed, assigned to nobody

[2017-02-07 20:51] Brend-Smits commented on #1193
@Aaron1011 awesome news! Can't wait for this :)

[2017-02-07 21:23] Keaton1188 commented on #1193
@Aaron1011 Thx for the update :)

[2017-02-07 21:27] Keaton1188 commented on #1193
I know its not related to this issue but we are still after 1 month having massive lag from the sponge mobSpawn issue.

We have had to have natural mob spawning turned off from when the server first opened. This is because the massive lag it causes when enabled (Shows us in sponge timings report) still lags hard even with natural spawning turned off.

Sponge timings report - https://timings.aikar.

[2017-02-07 21:53] Deamon5550 commented on #1193
@Keaton1188 you should open a new issue for that one.

[2017-02-07 21:55] Brend-Smits commented on #1193
As far as I know there already are issues on that,  #1158 for example, I hope it's still being worked on.

[2017-02-07 21:58] Keaton1188 commented on #1193
Hope that it is as well :/

[2017-02-08 00:43] bloodmc commented on #1245
dupe SpongePowered/SpongeCommon#1079

[2017-02-08 00:43] #1245 closed, assigned to nobody

[2017-02-08 03:24] bloodmc commented on #1253
http://imgur.com/a/3n50W

As you can see the same issues happen on pure forge with standard redstone conduit setup. Are you using redstone conduits? If so you will need to remove them or prevent players from creating fast clocks.

[2017-02-08 07:00] ghost commented on #1253
TPS drop started when player disconnects. Looks like chunks remains loaded. Yes use redstone conduits. I will stay on build 2113 it not have this issue.

another timing report: https://timings.aikar.co/?id=ae4f3b583ec74c42b078d1085110455f#505_2

[2017-02-08 15:21] bloodmc commented on #1253
@hunter688 You need to zip your world so I can test it on my end. Also provide some warmroast screenshots.

[2017-02-08 16:57] ghost opened #1254 "TNT Duplication"
Blow a chest up that contains something while rapidly inserting and taking out the item and it'll dupe.

[2017-02-09 01:31] bloodmc commented on #1192
@Aaron1011 please look into this.

[2017-02-09 06:53] kosakriszi opened #1255 "Placing Mekanism Digital Miner Causes Phase Exception"
Stack trace: https://gist.github.com/kosakriszi/e4d1d019e8d78a9f599c66bd512bbb05

[2017-02-09 11:10] bookerthegeek commented on #823
Reproduced on spongeforge-1.10.2-2221-5.1.0-BETA-2128

[2017-02-09 13:01] Raycoms opened #1256 "Something blocking entityAttackEvent"
In our mod we suscribe to the following event:

    @SubscribeEvent
    public void on(final AttackEntityEvent event)
    { }

It works great without Sponge to cancel that event under certain circumstances but with sponge it doesn't seem to work.

[2017-02-09 16:58] Raycoms commented on #1256
I was debugging the event, the event does not even get called!

[2017-02-09 17:01] Aaron1011 commented on #1256
What version of Sponge are you running?

[2017-02-09 17:02] Raycoms commented on #1256
spongeforge-1.10.2-2202-5.1.0-BETA-2034.jar

[2017-02-09 17:12] Raycoms commented on #1256
Tried it with the newer: 5.1.0-BETA-2100 as well. No difference

[2017-02-09 17:14] Aaron1011 commented on #1256
@Raycoms: This should be fixed in the latest SpongeForge now: https://github.com/SpongePowered/SpongeForge/commit/7c41975c8fd890329a28036f2327898b20a92fc8

[2017-02-09 17:14] #1256 closed, assigned to nobody

[2017-02-09 17:29] Raycoms commented on #1256
Not fixed. I just tried it out with the newest spongeforge-1.10.2-2221-5.1.0-BETA-2128.jar
Still not working.

[2017-02-09 17:39] Aaron1011 commented on #1256
@Raycoms: Oops - that commit didn't get built on Jenkins for some reason. A new build should be out shortly.

[2017-02-09 18:11] Aaron1011 commented on #1256
@Raycoms: Check now.

[2017-02-09 18:34] Aaron1011 commented on #1255
This is an issue with Mekanism. I've opened an issue here: https://github.com/aidancbrady/Mekanism/issues/4192

[2017-02-09 18:34] #1255 closed, assigned to nobody

[2017-02-09 18:36] Aaron1011 commented on #1229
@ziceptor: Can you pasebin your full `latest.log` and `fml-server-latest.log` when this happens again? I suspect something else is going on to cause this.

[2017-02-09 18:45] Aaron1011 commented on #1216
This is an issue with how ActuallyAdditions spawns in the drops, which prevents Sponge from properly tracking them. I've opened an issue here: https://github.com/Ellpeck/ActuallyAdditions/issues/624

[2017-02-09 18:45] #1216 closed, assigned to nobody

[2017-02-09 18:48] Aaron1011 commented on #1165
@xAlicatt: Are you able to reproduce this wit the latest SpongeForge?

[2017-02-09 18:49] Aaron1011 commented on #518
Is this still an issue?

[2017-02-09 18:50] Aaron1011 commented on #662
@Zidane: Is this still an issue, or has it been fixed?

[2017-02-09 18:53] Aaron1011 commented on #719
This should no longer be an issue, since we no longer mix into Forge events.

[2017-02-09 18:53] #719 closed

[2017-02-09 18:58] #720 closed

[2017-02-09 19:03] alicheek opened #1257 "[FML/]: NetworkDispatcher exception java.io.IOException: Error while write(...): Broken pipe [spongeforge-1.10.2-2221-5.1.0-BETA-2128]"
This seems to be spamming in our logs quite durastically on our Skyfactory3 server.
Error log: http://pastebin.com/DS3TYwAi
Modpack: SkyFactory 3 3.0.6

[2017-02-09 19:46] Aaron1011 commented on #1257
@alicheek Can you update to the latest SpongeForge, and upload your new log?

[2017-02-09 19:52] Aaron1011 commented on #1032
Can you re-test this wit the latest SpongeForge, and upload the new log? I've added some extra information to it.

[2017-02-09 19:57] Aaron1011 commented on #1167
Make sure that NExus supports the version of Sponge that you're running.

[2017-02-09 19:57] #1167 closed, assigned to nobody

[2017-02-09 19:58] Aaron1011 commented on #1150
Closing, as I was unable to reproduce this. If the issue re-occurs, please re-open this issue.

[2017-02-09 20:10] Raycoms commented on #1256
Where do I find them? it's the 2128?

[2017-02-09 20:10] Aaron1011 commented on #1192
@bookerthegeek: I'm unable to reproduce this with Sponge and EnderIO. Could you post a video or screenshot of your setup, so that I can be sure I'm testing the bug correctly?

[2017-02-09 20:11] Aaron1011 commented on #1256
files.mionecraftforge.net/spongepowered doesn't seem to have updated its index. You can use [Sponge's download page](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2) to get the latest build.

[2017-02-09 20:12] #1150 closed, assigned to nobody

[2017-02-10 00:51] xAlicatt commented on #1165
I have a working server using spongeforge-1.10.2-2202-5.1.0-BETA-2070.jar. I have also long since dropped AE2 from my pack, so if that was the cause, it could be why it's working now.

[2017-02-10 01:09] kosakriszi commented on #1255
I was having trouble figuring out if it was Mekanism or Sponge, thank you for confirming and reporting it to them!

[2017-02-10 02:03] Aaron1011 commented on #1196
Sorry for the delay in getting to this - I think I have a fix for it now.

[2017-02-10 02:17] #1196 closed, assigned to Aaron1011

[2017-02-10 02:17] Aaron1011 commented on #1196
@Bennyboy1695 If the exception re-occurs, please re-open this issue.

[2017-02-10 06:20] bookerthegeek commented on #1192
Ok, after testing with the latest versions of
- EnderCore-1.10.2-0.4.1.65-beta
- EnderIO-1.10.2-3.1.156
- spongeforge-1.10.2-2221-5.1.0-BETA-2136

It seems the Issue is no longer prevalent. Am glad this got fixed between when I posted this and now. :)

[2017-02-10 07:20] #1192 closed, assigned to Aaron1011

[2017-02-10 07:33] alicheek commented on #1257
@Aaron1011 Ok just updated it there and ill paste a log if it comes up.

[2017-02-10 08:11] alicheek opened #1258 "[Netty Epoll Server IO #11/ERROR] [Sponge/]: The following exception was thrown from a netty handler's exceptionCaught() method: java.lang.NullPointerException [Sponge: 1.10.2-2221-5.1.0-BETA-2136]"
Due to Fluxnetworks causing quite an insane amount of lag ( sponge timings recorded a 500% timings report just for it) https://timings.aikar.co/?id=d73114d968f343a68e5a2afaf94d0c41
I decided it would be best to remove the mod, since this has been the case for quite a long time now. Upon removing it players which had used flux networks couldnt connect due to additions being made to their dat files

[2017-02-10 13:45] Time6628 commented on #1258
The invalid statistic is just telling you that it can't find the achievement anymore.

[2017-02-10 15:46] Sir-Will opened #1259 "Hatchery - Not dropping iron ingots with SpongeForge"
A Nesting Pen with a Iron Chicken should drop a Iron Ingot after a while which it does if SpongeForge is not installed.
![](http://i.imgur.com/CKupttx.jpg)

When SpongeForge (1.10.2-2221-5.1.0-BETA-2136) is installed it drops everything which is on the screenshot but no iron ingot.

Probably same issue with the other chickens.

[2017-02-10 18:28] chaosblad3 commented on #1259
Can confirm with other chickens too, no logs from log chickens, no flint from flint chickens etc.

[2017-02-10 21:49] Raycoms commented on #1256
Worked

[2017-02-10 23:02] lenis0012 commented on #1169
Updated to SpongeForge 2136 today.
So far haven't had any issues.
If it stays this way for 3 days i will consider it resolved

[2017-02-10 23:36] KhaozFrost commented on #1225
has this been fixed yet? trying to keep up with what i can and cant yet do with sponge.

[2017-02-11 02:53] Aaron1011 commented on #1225
I still have no idea what the bug actually is 😄

[2017-02-11 03:55] ghost opened #1260 "Sponge-Forge does not create Lava Crystal Block of ArmorPlus Mod"
Sponge-Forge does not create Lava Crystal Block of ArmorPlus Mod. I can find that block in single play world.(Default settings) I always check at a new world and same version mods&plugin, but I can find only single play. so I think it is sponge issue.

armorplus-1.11.2-9.5.4.5-beta.jar
spongeforge-1.11.2-2226-6.0.0-BETA-2114.jar
( Forge version is 2226 at client and server )

[2017-02-11 16:49] ziceptor commented on #1229
ok

[2017-02-11 21:29] KaiKikuchi opened #1261 "Asynchronous tasks with interval don't wait for the previous occurrence of the task to terminate"
From [Sponge JavaDoc Task.Builder class, interval method](https://jd.spongepowered.org/5.0.0/org/spongepowered/api/scheduler/Task.Builder.html#interval-long-java.util.concurrent.TimeUnit-):

I'm not sure if I misunderstood. This should avoid that a single Task is running multiple times at the same time. I recently found this doesn't happen.

Using:
forge-1.10.2-12.18.3.2221
spongeforge-1.10.2-2221

[2017-02-11 21:42] bookerthegeek commented on #1227
No longer an issue with the latest version on our server. Running:
- SpongeForge 1.10.2-2221-5.1.0-BETA-2136
- Skyfactory 3
- Direwolf20

[2017-02-11 21:43] mattysweeps opened #1262 "Stack overflow: infinite loop when clearing inventory"
When my plugin tried to clear an inventory (I believe a chest), this happened:
[code]
full stack trace here: https://gist.github.com/m0pt0pmatt/87a7895c297aede1ea5b54fae4822738

It's hard to know for sure, but digging through my code I think this is the code which started the infinite loop:
[code]

I'm using the bleeding branch of SpongeForge, and it's up to date.

I'm going to debug my server for

[2017-02-11 22:00] gabizou commented on #1227
Woo, good to hear. I was trying to find this issue to see if it was similar to the other issue already fixed with a recent commit.

[2017-02-11 22:00] #1227 closed, assigned to gabizou

[2017-02-11 22:18] Eden-Mor opened #1263 "Botania Corporea typing in chat"
The mod [Botania] has a system called the corporea system, you use it to request items from a inventory by typing in chat.
In previous versions and singleplayer it doesnt type to chat as intended, but when on the sponge server the item requested is typed into chat.
It makes the whole system unusable and im sure this is a small fix.
Thank you!
Have a nice day!

Mod versions
Botania r1.9-340.jar
spo

[2017-02-11 22:18] Slind14 commented on #1193
@Aaron1011 just wondering, is this still on your radar?

[2017-02-11 22:24] Slind14 commented on #1158
@Aaron1011 unfortunately this is still a major issue. Any chance it could be addressed further?

[2017-02-11 22:31] mattysweeps commented on #1262
Yup, that's the call which starts the infinite loop. Confirmed it in the debugger.

Looks like the culprit is the mixin TraitInventoryAdapter.

After taking a thread dump:
[code]

It's strange, I didn't have this problem a few months ago, but both of the methods were implemented a while ago.

[2017-02-11 22:56] Time6628 commented on #1193
He said he's working on it. When it's fixed, it's fixed.

[2017-02-11 23:02] phit commented on #1193
He also said this 4 days ago, so it's natural to ask again since it didn't happen, and/or didn't update here why it didn't.

[2017-02-11 23:29] Amaxter opened #1264 "(1.11.2 build 2137)Crash with Quark r1.2-79"
https://github.com/Vazkii/Quark/issues/317

[2017-02-11 23:44] mattysweeps commented on #1262
Running the code on commit `e6ef93e52c39296c3ec8e5774cb1e483ec520bc9` everything works. The thread dump is:
[code]

so TraitInventoryAdapter wasn't being mixed into TileEntityChest?

[2017-02-12 00:27] #1263 closed, assigned to nobody

[2017-02-12 04:31] #1264 closed, assigned to nobody

[2017-02-12 07:54] Kaptinobvius commented on #1259
The issue isn't that they are not dropping.  The issue is that actual item drops are throw out of the nesting pen and not dropped like the rest of the items.

If you enclose the space you have your nesting pens in, you'll find the random drops all over the room.

[2017-02-12 15:47] chaosblad3 commented on #1259
No, my nesting pens are already fully enclosed, and I have adv item collectors (random things) in the area anyway so if any items were thrown out into the world then they would be picked up by that, I have literally stood in front of my iron chicken pens for 45 mins while watching a show on my second monitor and after multiple cycles not one iron ingot had generated from my 8x 10/10/10 iron chicke

[2017-02-12 16:09] phit commented on #1259
well that is also an issue then, regardless the items flying all over the place isn't happening without sponge either

[2017-02-12 19:32] Aaron1011 commented on #1231
@yepidoodles: Has this re-occured?

[2017-02-12 19:34] mattysweeps commented on #1262
Just tried `67f5242db6f8cd9082efa66ff1d5330d39918c33` and it also didn't work. I'll keep looking

[2017-02-12 19:40] Aaron1011 commented on #1262
This looks like an issue with the `@Intrinsic` for Inventory#clear not being skipped. I'll keep looking into it.

[2017-02-12 19:44] mattysweeps commented on #1262
Thank you @Aaron1011

[2017-02-12 19:49] Aaron1011 commented on #1262
@m0pt0pmatt: I found the issue.

In 1.10, Method from Vanilla's `IInventory`, such as `clear`, are implemented in each `TileEntity` (e.g. `TileEntityChest`). Mixin will correctly see tyhat the `@Intrinsic` method already exists in the target, and skip adding it.

However, in 1.11, many of those methods (such as `clear`) were moved to `TileEntityLockableLoot`. Since our `@Intrinsic`s were never upd

[2017-02-12 19:50] mattysweeps commented on #1262
@Aaron1011 sounds good, thanks for your work on this :)

[2017-02-12 19:59] #1262 closed, assigned to nobody

[2017-02-12 20:02] Aaron1011 commented on #1260
@Deamon5550: Can you take a look at this?

[2017-02-12 20:21] mattysweeps commented on #1262
Just confirmed that the problem is fixed. :)

[2017-02-12 20:40] Aaron1011 commented on #1112
This should be fixed in the latest SpongeForge: https://github.com/SpongePowered/SpongeCommon/compare/ead0600c1c30df0725967c0c3ab9a2fe0af4d297...8fa91261754b256451e5acc6327a4bbe31878959

[2017-02-12 20:40] #1112 closed, assigned to Faithcaio

[2017-02-12 21:31] Varijon opened #1265 "Forge ItemTossEvent not firing with Sponge"
After some testing, I concluded that with SpongeForge running, the Forge ItemTossed event is not firing correctly.

I used a forge mod with an eventhandler on the ItemTossed event to test whether this event is working properly.

Using the drop button or throwing the item out of the inventory triggers the event fine.
But if a player closes their inventory with an item being held by the cursor, the

[2017-02-13 00:55] Varijon opened #1266 "[1.10.2] Forge PlayerInteractEvent.RightClickItem firing incorrectly"
When SpongeForge is running, the forge PlayerInteractEvent.RightClickItem event behaves differently.
When rightclicking air, it fires the event twice.
When rightclicking a block, it fires the event once.

Without SpongeForge, the event only fires once in both cases.

Versions:
spongeforge-1.10.2-2221-5.1.0-BETA-2139
forge-1.10.2-12.18.3.2221-universal

As a sidenote, trying this with an old 2123-5

[2017-02-13 07:34] bloodmc commented on #1158
I have been working on many changes that will improve performance greatly as well as fix some bugs in both SkyFactory 3 and DW20 modpacks. Currently, my changes are being tested extensively by a few servers. If you want to test, contact me on GP discord which can be found here

https://discord.gg/jy4FQDz

Once the changes have been confirmed stable after a few weeks of testing, I will push it all

[2017-02-13 09:47] yepidoodles commented on #1231
It has not, sorry, forgot about the issue ^.^

[2017-02-13 09:47] #1231 closed, assigned to nobody

[2017-02-13 11:27] judgekreep opened #1267 "[1.10.2] Blocks not updating"
Versions: spongeforge-1.10.2-2221-5.1.0-BETA-2142 and spongeforge-1.10.2-2221-5.1.0-BETA-2109

Water doesn't flow, lava doesn't flow, sand and gravel don't fall as intended.
When using with CustomNPCs and Pixelmon, the NPCs don't spawn unless you reload the world.
(Bone Meal only shows 1 flower or 1 tall grass, you have to reload the world for the multiple flowers/grass to be visible)
When NPCs in

[2017-02-13 12:06] ghost commented on #1253
I can give you live access to warmroast.

![warmroast1](https://cloud.githubusercontent.com/assets/1410134/22882792/2c9193aa-f1ed-11e6-9b39-8dee3e928284.png)

[2017-02-13 12:35] Varijon commented on #1267
I've had the issue of blocks not falling when placed etc. It was because forge was outdated and no longer compatible with spongeforge, also threw console errors when placing blocks.
Just a random similar experience.

[2017-02-13 13:31] judgekreep commented on #1267
After updating, the issues were gone.
Thank you so much for sharing!

[2017-02-13 13:31] #1267 closed, assigned to nobody

[2017-02-13 15:00] Aaron1011 commented on #1216
This has been fixed in the latest ActuallyAdditions.

[2017-02-13 15:02] Aaron1011 commented on #1158
@Slind14: I'll be finishing up a refactor to the event factory tody that should greatly improve performance.

[2017-02-13 15:09] Slind14 commented on #1158
Thank you @Aaron1011 looking forward to it :)

[2017-02-13 23:36] Keaton1188 commented on #1158
@Aaron1011  Looking forward to it! :)

[2017-02-14 00:53] Aaron1011 commented on #1158
See https://github.com/SpongePowered/SpongeAPI/pull/1486

[2017-02-14 01:06] Eufranio opened #1268 "Wither breaking protected blocks"
Protected areas with GriefPrevention can be exploded by players that spawn withers near it. The wither will break the blocks, and yes they have an owner:

![a](http://image.prntscr.com/image/b4833a4af5b9496fa15c2debe828482b.png)

This player don't have permission to break the area, but the wither will still break it.

    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-6459642
    SpongeForge: 1.1

[2017-02-14 18:17] axle2005 commented on #1268
1) This is an issue for GriefPrevention, not Sponge Forge.
2) Do you have the proper claim flags set? Explosion is a claim flag.

[2017-02-15 00:21] #1268 closed, assigned to nobody

[2017-02-15 11:31] Varijon commented on #1266
Couldn't get the title quite right..
Nevertheless, it's an issue I'd like to see resolved, it's interfering with features involving items triggered on rightclick.

[2017-02-15 12:32] Varijon opened #1269 "[1.10.2] Dispenser not updating liquid when dispensing"
When a dispenser with water bucket is triggered, it seems to place an invisible water block.
Triggering it again, fills the bucket again.

This water doesn't flow until some block update happens to it.
Hence I think the liquid block isn't updating properly when placed by a dispenser.

A gif of what I mean:
http://i.imgur.com/OBxnZyx.gifv

Versions:
forge-1.10.2-12.18.3.2221-universal
spongeforge-1

[2017-02-16 00:38] JBYoshi commented on #1269
I fixed something like this some time ago. Not sure if it was backported to 1.10.2. https://github.com/SpongePowered/SpongeCommon/pull/1115 https://github.com/SpongePowered/SpongeCommon/commit/9bd8a48407261cd35d1fbc1b77d0ba522e40e126

[2017-02-16 05:24] bloodmc commented on #1253
@hunter688 This has been fixed and will be pushed with my next round of updates.

[2017-02-16 06:09] ghost commented on #1253
great!

[2017-02-16 17:34] emilandersson91 commented on #1266
Can we have some kind of response on this? As OP stated it is quite a big issue in need of being solved.

[2017-02-16 22:22] #1258 closed, assigned to nobody

[2017-02-16 22:32] alicheek commented on #1257
actually havent seen this error since so ill close for now :)

[2017-02-16 22:32] #1257 closed, assigned to nobody

[2017-02-17 03:48] Aaron1011 commented on #1266
Sorry for the delay in getting to this. This appears to be an issue with the 'pre' block interaction events we fire. I'll be talking to @bloodmc about the best way to get this resolved.

[2017-02-17 16:11] Brend-Smits commented on #1261
Any update on this by any chance? Seems to be a pretty significant issue

[2017-02-17 16:17] Keaton1188 commented on #1193
@Aaron1011 Hey man, hows that fix going? :)

[2017-02-18 00:22] Sir-Will opened #1270 "Botania: Horn of Wild - Dupe Bug"
Info can be found here: https://github.com/MinecraftPortCentral/GriefPrevention/issues/260

[2017-02-18 00:24] Aaron1011 commented on #1259
I've reproduced this bug, and I'm working on a fix.

[2017-02-18 12:22] Varijon opened #1271 "[1.10.2] PlayerInteractEvent.RightClickItem firing incorrectly still"
The attempted fix was not successful, the behavior now is:
Rightclick with item on air= event triggers once
Rightclick with item on blocks = event doesn't trigger at all

The event fires one less time overall, compared to the previous ticket.

#1266

Versions:
forge-1.10.2-12.18.3.2221-universal
spongeforge-1.10.2-2221-5.1.0-BETA-2156

[2017-02-18 14:04] LemADEC opened #1272 ""No entity type is registered for class" errors"
As of spongeforge-1.10.2-2221-5.1.0-BETA-2156, fake players are reporting errors in console:
[code]

[2017-02-18 14:07] LemADEC opened #1273 "Spam of "Could not find XXXX owning class""
As for spongeforge-1.10.2-2221-5.1.0-BETA-2156, console is spammed with warnings on forge entities:
[code]

[2017-02-18 14:23] #1271 closed, assigned to nobody

[2017-02-18 14:24] Aaron1011 commented on #1271
@Varijon: Did you intend to close this?

[2017-02-18 14:24] Varijon commented on #1266
Forgot you can reply to closed tickets, probably better to notify people.

The attempted fix was not successful, the behavior now is:
Rightclick with item on air= event triggers once
Rightclick with item on blocks = event doesn't trigger at all

The event fires one less time overall, compared to the previous situation.

Versions:
forge-1.10.2-12.18.3.2221-universal
spongeforge-1.10.2-2221-5.1.0-BE

[2017-02-18 14:29] emilandersson91 commented on #1266
Still broken. Double-checked.

[2017-02-18 15:17] Varijon commented on #1271
@Aaron1011 I decided to just comment on the existing ticket later, since it's still the same issue.
See #1266

[2017-02-18 19:24] Eufranio commented on #1272
This is not an error.

[2017-02-18 19:57] LemADEC commented on #1272
The log does say ERROR.
Either it should be fixed or not being in the logs.

[2017-02-18 20:44] Eufranio opened #1274 "Psi block break spell removing some tile entities"
When breaking blocks with a [Block Break spell](https://github.com/Vazkii/Psi/blob/master/src/main/java/vazkii/psi/common/spell/trick/block/PieceTrickBreakBlock.java) from the Psi mod, if they are cancelled, some blocks will lose it's Tile Entities. It's reproducible when breaking IC2's machines with the spell: cables won't connect anymore, the machine will not be accessable, no blocks dropped whe

[2017-02-18 21:12] Eufranio opened #1275 "Players still able to access RFTools screens if interact is cancelled"
Screens from the RFTools mod inside an area protected by GriefPrevention are accessable by players even if the interact event is cancelled. Players aren't able to open the GUI, but are able to click in the screen, activating buttons.

Using:
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-6459642
    SpongeForge: 1.10.2-2221-5.1.0-BETA-2147
    Minecraft Forge: 12.18.3.2185

[2017-02-18 22:12] #1266 closed, assigned to nobody

[2017-02-18 22:14] xorinzor commented on #889
@Aaron1011 is this still an actual issue? or has it been solved in a recent build/release?

[2017-02-18 23:20] marshmellion commented on #1132
yes the error still exists
EDIT--> sorry Mumfry i stand corrected. am using 1.10.2 2.0.0#16 and this is working with liteloader and forge. (although it seems something like minetweaker or crafttweaker may break this as[crafttweaker for sure])

Edit 2 --> NM it still crashes on world load with that set up.
forge 1.10.2 version 2221 (3 different lite loaders were tried including the newest 1.10.2 sn

[2017-02-19 00:30] Stann0x opened #1276 "SpongeForge glitch when trying to use throwable items from Reliquary"
I can use a bow - or a pistol from reliquary -, a snowball or any kind of projectile items ONLY when block range is reacheable. If I try to use a trowable item aiming away from a next block, nothing happens.
The server log give me this:
(I think SpongeForge is triggering the wrong event.)
(I am using several mods)

[code]

How can I solve this? I tryied some things but I cant figure out where is t

[2017-02-19 00:31] TheWalker27 commented on #1276
How can I solve this? I tryied some things but I cant figure out where is the problem.

[2017-02-19 00:41] TheWalker27 commented on #1276
Here a pastebin with the outputs when trying to use a pistol, bow and the snowball
http://pastebin.com/AZsLVA8q

[2017-02-19 01:30] Aaron1011 commented on #1276
This appears cut off. Can you upload your fml `fml-server-latest.log` and `latest.log`?

[2017-02-19 01:55] marshmellion opened #1277 "SpongeForge and LiteLoader still causing a crash upon world load"
semi copy of issue #1132

I have seen the aformentioned issue and would like to point out this is still a problem

it still crashes on world load with an updated setup of version between the 3 plugins/mods
forge 1.10.2 version 2221 (3 different lite loaders were tried including the newest 1.10.2 snapshot and recommended) and spongeforge 1.10.2-2221-5.1.0-BETA-2158
(i tried all version of liteloade

[2017-02-19 02:09] Deamon5550 commented on #1277
There is no need to open a new issue...

[2017-02-19 02:09] #1277 closed, assigned to nobody

[2017-02-19 03:46] Varijon commented on #1265
Sorry for testing the fix out so late, but this did not solve the issue, ItemTossEvent is still not firing when dropping the item on cursor via inventory close.

Versions:
forge-1.10.2-12.18.3.2221-universal
spongeforge-1.10.2-2221-5.1.0-BETA-2158

[2017-02-19 07:21] SjsolisZXA opened #1278 "[6.0.0][1.11.2] UseItemStackEvent.Start and LaunchProjectileEvent Not Functioning"
**Sponge Build:** spongeforge-1.11.2-2227-6.0.0-BETA-2159
**Sponge API Build:** 6.0.0-20170217.091623-41
**Forge Build:** forge-1.11.2-13.20.0.2227-universal
**Java Version:** 1.8.0_121-b13

Hello, I have the following listeners that do not function at all. Unless I'm doing something wrong, I would like to know if this can be looked at. Thanks!

[code]

[2017-02-19 10:07] marshmellion commented on #568
areed this is still a thing and still annoying

[2017-02-19 13:03] mrapplexz opened #1279 "[1.10.2] Strange error on server stop."
When I stop the server, this error occurs:
[code]
Log files: https://gist.github.com/mrAppleXZ/7bb33258ab4c0dd80c6bbd0c9deb8098
Sponge version: 1.10.2-2221-5.1.0-BETA-2158
MC version: 1.10.2
Forge version: 12.18.3.2221

[2017-02-19 17:08] #1279 closed, assigned to nobody

[2017-02-19 18:53] ghost commented on #1253
Issue still here:

https://timings.aikar.co/?id=cb889664e6d74eef94011295ab57a434

[2017-02-19 20:18] bloodmc commented on #1253
Upload your world

[2017-02-19 22:08] Aaron1011 commented on #1240
Moving the discussion to https://github.com/SpongePowered/SpongeForge/issues/1103.

[2017-02-19 22:08] #1240 closed, assigned to nobody

[2017-02-19 22:09] Aaron1011 commented on #1103
I've pushed a commit (https://github.com/SpongePowered/SpongeCommon/commit/3877881828dcf3f24a2dd3a763a8390ab1aed167) that will allow us to recover the original error that preceded the `NoClassDefFoundError`. Anyone experiencing this issue should upgrade to the latest SpongeForge, and post their `latest.log` and `fml-server-latest.log` when this occurs.

[2017-02-19 22:21] Aaron1011 commented on #1275
Unfortunately, there's not much that Sponge can do about this - the gui is [opened on the client](https://github.com/McJty/RFTools/blob/d2ada0a76ec8e/src/main/java/mcjty/rftools/blocks/screens/ScreenBlock.java#L157), using a custom packet. Without explicit support from the mod, there's probably not much that can be done here.

[2017-02-19 22:30] KasperFranz opened #1280 "InteractBlockEvent.Secondary fired twice"
**SpongeForge:** 1.10.2-2221-5.1.0-BETA-2164
**Tested On:** Test on latest HermitPack (1.6.1) forgemods without any other sponge plugins/mods
Listener:  ([full plugin](https://gist.github.com/KasperFranz/b401da419ee00f4674de8b062c57f35b))

[code]

Chat output:
![2017-02-19_23 28 30](https://cloud.githubusercontent.com/assets/191405/23107317/3af5f2f2-f6fb-11e6-9225-276cc20f5187.png)

[2017-02-19 22:31] KasperFranz commented on #1280
Oh ffs - My bad, it is triggered for OffHand and MainHand...

Don't mind me

[2017-02-19 22:31] #1280 closed, assigned to nobody

[2017-02-19 22:43] Eufranio commented on #1240
This one is #1240 lol

[2017-02-19 22:58] Aaron1011 commented on #1240
Oops - I meant #1103

[2017-02-19 23:02] Aaron1011 commented on #1272
Closed in https://github.com/SpongePowered/SpongeCommon/commit/3e1efc372ce74d51ce303ba48f3efbecda43e5d2.

This should have been a warning, not an error - my bad. While it's normally a sign that a mod is doing something wrong, the two classes mentioned above appear to be various 'fake player' classes. Since these never actually get spawned into the world, you can safely ignore them.

[2017-02-19 23:02] #1272 closed, assigned to nobody

[2017-02-19 23:05] #1275 closed, assigned to nobody

[2017-02-19 23:26] Aaron1011 commented on #1276
I can't reproduce this on the latest SpongeForge. Make sure you upgrade to the latest Sponge, and try again.

[2017-02-19 23:37] Aaron1011 commented on #1270
This is [an issue in Botania](https://github.com/Vazkii/Botania/issues/2173) - there's nothing Sponge can do about this, unfortunately.

[2017-02-19 23:37] #1270 closed, assigned to nobody

[2017-02-20 00:49] Eufranio commented on #1275
As I said, **Players aren't able to open the GUI, but are able to click in the screen, activating buttons.**. The GUI is closed right after be opened, so It's not the problem (I think blood did that a time ago for protection).

[2017-02-20 01:15] Aaron1011 commented on #1193
Sorry for all of the delays in getting this fixed - it's completely my fault.

The issue should be resolved in the latest SpongeForge. Thanks for your extremely details issue report @bookerthegeek  - it was a huge help!

[2017-02-20 01:15] #1193 closed, assigned to Aaron1011

[2017-02-20 01:15] Aaron1011 commented on #1270
This has been [fixed in Botania](https://github.com/Vazkii/Botania/issues/2173#event-968511646)

[2017-02-20 01:25] Aaron1011 commented on #1169
I'm closing this issue. If it comes up again, feel free to re-open the issue.

[2017-02-20 01:25] #1169 closed, assigned to nobody

[2017-02-20 01:45] Puremin0rez commented on #1269
I can confirm this - found out the hard way with lava.

[2017-02-20 01:45] Aaron1011 commented on #1133
This will require re-wroking how we fire Forge's `ItemTossEvent` - we currently restore the item to the inventory if it's cancelled, which isn't the behavior in Forge.

[2017-02-20 02:33] jmercado808 opened #1281 "Coke oven from IE getting duped with fortune applied"
Coke ovens from Immersive Engineering are getting duped with the fortune enchantment applied to a tinkers pick. It does not happen on vanilla pickaxes.

[2017-02-20 06:37] ghost commented on #1253
With build 2169 is tps very low, only 4. It is worse than previous test.

https://timings.aikar.co/?id=44a488d7ec1641afa1bb60dc19d87587

world: http://62.182.234.26/world-ic2.tar.gz
modpack: https://www.mirc.cz/ic1102.tar.gz

when tp to 784 78 1109, then somewhere away or log off - conduits starts lag, build 2113 is the latest without this issue.

[2017-02-20 07:18] mrapplexz opened #1282 "[1.10.2] Whitelist message randomly displays as "java.io.IOException"."
Logs before Sponge installation:
https://gist.github.com/mrAppleXZ/0ffa7b87c8c28e979fe966d77d8e62d1
Logs after Sponge installation:
https://gist.github.com/mrAppleXZ/f2703acb19f10acb0779655ca87be802
Is this is a Sponge issue?

[2017-02-20 16:15] bloodmc commented on #1253
@hunter688 I just tested your world and cannot reproduce the issue. I get under 1ms when I log off.

[11:14:40] [Server thread/INFO]: World [world] (DIM0) TPS: 20.000, Mean: 0.771ms
[11:14:40] [Server thread/INFO]: World [DIM-1] (DIM-1) TPS: 20.000, Mean: 0.035ms
[11:14:40] [Server thread/INFO]: World [DIM1] (DIM1) TPS: 20.000, Mean: 0.027ms
[11:14:40] [Server thread/INFO]: Overall TPS: 20.000, Me

[2017-02-20 19:14] Earthplate opened #1283 "Gamerule showDeathMessages"
The gamerule the showdeathmessages doesnt work.

[2017-02-20 20:11] Aaron1011 commented on #1282
Which part of the the log displays the issue? All I was able to find was `java.io.IOException: Error while read(...): Соединение разорвано другой стороной`, which could just be a connection issue.

[2017-02-20 23:01] liach opened #1284 "[1.11.2-2227] SpongeForge crashes on client side"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2227-6.0.0-BETA-2170
- Forge version: forge-1.11.2-13.20.0.2227
- Java version: 1.8.0_112 x64
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: None beside Forge and SpongeForge

**What is the expected result?**
The client finishes loading and show up main screen
**Wh

[2017-02-21 03:46] bloodmc commented on #1158
@Slind14 @KaiKikuchi @Keaton1188 @Tencao @alicheek @adracamas @Rubbertjuh
Please confirm SF 2172+ fixes your lag issues.

[2017-02-21 04:40] mrapplexz commented on #1282
@Aaron1011 I think, the logs don't contain any info about this. Maybe, several mods do something when I connect to the server and the server resets the connection before client gets "You are not whitelisted on this server" response? Or does it works differently? =)

[2017-02-21 06:29] ghost opened #1285 "(1.10.2) Leads crash server with 'targetEntity' was not provided null pointer"
I've searched both sponge forge and sponge common repositories for similar errors.  Two separate posts came up, both closed back in 2015 listed as fixed.

Simply attempting to detach a lead from the animal it has been attached to crashes my server.

I am using the latest version of sponge available for 1.10.2: 5.1.0-BETA-2172

crashlog: http://pastebin.com/DjCe2r0d

[2017-02-21 06:30] greyjester opened #1286 "crash bug with enderIO"
here is the crash bug with enderIO

http://pastebin.com/Gv4iW1VJ

[2017-02-21 06:30] #1286 closed, assigned to nobody

[2017-02-21 18:06] Slind14 commented on #1158
Unfortunately I don't see any improvement: https://timings.aikar.co/?id=327239b0338445a99758b60bd0e3eae2

Please keep in mind that during this timings report we had a tile ent going crazy, so please use absolute numbers for comparison.

[2017-02-21 18:09] Rob5Underscores-zz commented on #1158
Same here. Turning on mob spawning drops TPS about 6. Can provide logs if necessary.

[2017-02-21 18:18] bloodmc commented on #1158
@Slind14 You are using build 2169. Update to 2172+ which includes additional spawning fixes as well as async lighting which helps.

[2017-02-21 18:19] Brend-Smits commented on #1158
Running Build 2177 at the moment, having no issues with Mob Spawning enabled [SkyFactory 3]. Thanks for the fix =]
TPS is stable at 35MS (/sponge tps)

[2017-02-21 18:29] Slind14 commented on #1158
Will report back with the latest build in about half an hour.

[2017-02-21 18:36] MastaC729 commented on #937
http://pastebin.com/UFPq8LLy

I can confirm the issue still exists as of Forge 2234 and Sponge 2177.

[2017-02-21 18:58] alicheek commented on #1158
@bloodmc i can happily say its made a big difference for mobspawning events, just the lovely mods themselves causing us quite a lot of lag now XD

Thanks guys for this implementation!

[2017-02-21 19:00] Slind14 commented on #1158
Here is the timings report from the latest version. The mobSpawn self time is still high: https://timings.aikar.co/?id=c0080d0343204fbf819f17a3102e1d52

[2017-02-21 19:09] alicheek commented on #1158
@Slind14  wouldnt of said 9% was much, you have to remember beforehand it could be up to 40% or more with no mobs at all just the spawning event causing the high processing time.

[2017-02-21 19:10] Slind14 commented on #1158
Not for us after optimizing spawn limits.

[2017-02-21 19:12] Brend-Smits commented on #1158
9% for hostile monsters is rather normal afaik.
I'm happy with the progress and with the improvements =) Thanks!

[2017-02-21 19:20] bloodmc commented on #1158
@Slind14 That doesn't look bad to me as its only 5-6ms. Try raising tick-rate-monster in sponge's global config. By default the spawner will run every tick for monsters, try setting it to like 5 to see if that helps.

[2017-02-21 19:27] Slind14 commented on #1158
hmm, I tried creating another timings report after some more uptime, but it doesn't load and further tries didn't work either: https://timings.aikar.co/?id=cfc4b29bd89948f0aacf0706de127b90
I'll try that, thanks blood.

[2017-02-21 19:34] Brend-Smits commented on #1158
Interesting Slind, I thought I was along on that issue with the Aikar website. I have that as well from time to time. Restart fixes it though.

[2017-02-21 19:40] Slind14 commented on #1158
@bloodmc changing this improved the method time by around 30%. Had to use yourkit, as timings doesn't work even after /sponge timings reset.

[2017-02-21 19:42] bloodmc commented on #1158
@Slind14 OK great, just adjust it until you find the best balance. I'll leave this ticket open for a few days in case anything blows up. Just so you are aware, Ambients/Animals/Water Creatures run spawning logic once every 400 ticks by default in vanilla but monsters run spawning logic every single tick. In latest build, I added options for each type so you can control it as you please.

[2017-02-21 21:32] Sean-Amor opened #1287 "Error creating Sponge Timings"
**Versioning:**
Minecraft Forge: 12.18.3.2221
SpongeForge: 1.10.2-2221-5.1.0-BETA-2177
SpongeAPI: 5.1.0-SNAPSHOT-794171b
Minecraft: 1.10.2
SpongeForge

**Issue:**
Cannot get timings report

**Commands:**
/sponge timings reset
/sponge timings on
/sponge timings report

**Error Log:**
https://hastebin.com/yohuquvafe.vbs

[2017-02-21 21:50] Aaron1011 commented on #1287
That log appears cut off - can you get the full exception from your `latest.log` or `fml-server-latest.log`?

[2017-02-21 22:12] Aaron1011 commented on #1287
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/942ae729ab42a9fbd0c8bff02b12aded768b979d.

[2017-02-21 22:12] #1287 closed, assigned to nobody

[2017-02-22 00:04] lgdolman opened #1288 "[1.10][SkyFactory3] Crash on start - Exception in server tick loop / java.io.EOFException"
Currently unable to start with sponge loaded. System is still stable with manually upgraded forge without Sponge.

spongeforge-1.10.2-2221-5.1.0-BETA-2178
Forge 12.18.3.2221

Disabled mods:
ItsBecauseUHasNoGoodSpawn-1.0.5.jar
YUNoMakeGoodMap-1.10.2-6.1.0.26.jar

Manually upgraded mods:
Forge      ->  12.18.3.2221
Foamfix   ->  foamfix-0.6.1-law

---- Minecraft Crash Report ----

WARNING: coremods

[2017-02-22 00:19] phit commented on #1288
this doesn't look like a sponge crash, something in your world is corrupted

somewhat unrelated, but

they both work with sponge now

[2017-02-22 00:41] lgdolman commented on #1288
The disabling was just a good-faith test to ensure I've tried the resolutions from other issues.

You were correct issue was resolved by removing ./world and still worked after re-enabling the two mods. Strange that it loads without sponge but that isn't the issue at hand!

[2017-02-22 00:41] #1288 closed, assigned to nobody

[2017-02-22 17:42] phit commented on #1158
I keep seeing this crash since updating http://vpaste.net/wRhZq
I this related to the modspawn changes?

[2017-02-22 17:47] Tencao opened #1289 "Create a warning when a mod overflows it's bounds during worldgen."
New world, happened to randomly crash when exploring
Sponge version - 1.10.2-2221-5.1.0-BETA-2178
Forge version - 12.18.3.2221
Crash report - https://paste.ee/r/TTdpt

[2017-02-22 17:52] bloodmc commented on #1158
ExtraUtils is cancelling a non-cancellable event. The crash cannot be more clear.

https://github.com/rwtema/extrautilities/issues/1218

[2017-02-22 18:01] phit commented on #1158
I didn't see this crash until updating, my bad!
edit: Actually I think this might be still related to this update, the stacktrace in the linked issue points at lycanitesmobs spawning, while mine is actually crashing with vanilla and it didn't happen before, and I know people have been using the quarries long before this update and the only thing that changed on the server was Sponge..

edit2: proo

[2017-02-22 18:23] Slind14 commented on #1158
I can confirm this, we encountered this the first time with the TEST Build, if you remember blood ;)

This is new for us too (no modpack update), can anyone confirm? https://gist.github.com/Slind14/c973235fb9a50cc89be276fddccc8168 (since the upgrade from TEST8)
https://gist.github.com/Slind14/707db266866c246240687ea97786500a (was there with TEST8 already)

I haven't seen these crashes before the c

[2017-02-22 18:31] Rob5Underscores-zz commented on #1158
@Slind14
I'm getting the first infrequently on automated shutdowns but I've had it prior to this build also.

[2017-02-22 18:35] Brend-Smits commented on #1158
Both crashes that you are referring to have been around for a while now. Not related to sponge and have been fixed afaik

[2017-02-22 18:36] phit commented on #1158
none of you seen the ExU2 crash? or did you all disable the quarry?

[2017-02-22 18:39] Slind14 commented on #1158
@Rob5Underscores do you know if you experienced this prior to 2145? That was the build where the user lookup was slightly changed: https://github.com/SpongePowered/SpongeForge/commit/6bffa19544e7076c26490e5b35af55eceb3825bd

[2017-02-22 18:40] Slind14 commented on #1158
@phit we do, I also wrote that ;)

[2017-02-22 18:48] bloodmc commented on #1158
@Slind14 It doesn't matter what update caused the ExU2 crash. The fact is, the mod is CANCELLING a non-cancellable event that has crashed pure forge servers. The dev needs to fix it, it is not our issue.

Build 2145 has nothing to do with the chickenchunks crash. It NPE's here

https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/common/ForgeChunkManager.ja

[2017-02-22 18:59] phit commented on #1158
@bloodmc Look at the crash that [I linked](http://vpaste.net/wRhZq) and the [one from the ExU](http://vpaste.net/FRxbg) tracker, the one from me is crashing with vanilla spawns the other one isn't. My guess is ExU is changing something in forge that is now also being changed by Sponge. Possibly introduced with https://github.com/SpongePowered/SpongeCommon/commit/22a4974e68c051f31d86f14d9a66f2d3dda

[2017-02-22 19:08] bloodmc commented on #1158
https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/event/ForgeEventFactory.java#L207

https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/event/entity/living/LivingSpawnEvent.java#L116

It does NOT matter how the event is triggered. The mod is CANCELLING a non-cancellable event when it should be using result, end

[2017-02-22 19:10] phit commented on #1158
right, I never said it didn't but it might be changing the event with ASM, which now fails due to the changes in Sponge

[2017-02-22 19:16] bloodmc commented on #1158
Uh no that would be retarded if a mod attempted to make an event cancellable.

I got tired of stating the same thing over and over, here is what ExtraUtils 2 is doing

https://gist.github.com/bloodmc/4ee3317a5db5b058cea025c56ac40b0f#file-extrautils_fun-java-L4

The mod ASSUMES every LivingSpawnEvent is cancellable.

[2017-02-22 19:53] Deamon5550 commented on #1289
Huh I think I can guess what happened. I believe a mod managed to spill so far passed its boundaries that it triggered a new chunk to generate and since generation makes use of a cached biome volume it got moved to the new generating chunk then then when it returned to the original chunk the biomes had been moved from under it and it crashed.

We see far too many errors from mods causing recursive

[2017-02-22 19:56] liach commented on #1158
Another case of "Stupid modders".

[2017-02-22 22:11] Aaron1011 commented on #1285
I can't seem to reproduce this. Can you see if removing any of the mods you have installed causes the crash to stop occuring?

[2017-02-22 22:21] #1283 closed, assigned to nobody

[2017-02-23 01:06] Tencao commented on #1289
If it helps, I had biomes o plenty biome size set to 6, instead of the default 4. Not sure if that is the direct cause for this, or if it's something else.

[2017-02-23 03:52] #1163 closed, assigned to nobody

[2017-02-23 06:02] ghost commented on #1285
I probably should have checked an unmodded instance first :(

The culprit is Epic Siege Mod. I'm guessing that it has something to do with epic siege hooking into the passive mob ai for hostile passive mobs.

I'm going to drop a bug report on their github as well, see if anything can be done.

[2017-02-23 07:50] leelawd opened #1290 "[1.10.2] Attempted to cancel a non cancellable event crash"
I cannot remember exactly when this error came to light and since I am running a fairly active server, i cannot perform extensive tests to figure out what version this appeared in.

Edit: After looking through old reports, This seemed to appear after our update from SF 2165 to 2177

Here is the crash report: http://pastebin.com/0cq8ZL7d

SF: 2185
Forge: 2221

Modpack: Direwolf20 v1.5.1

[2017-02-23 10:36] Deamon5550 commented on #1290
mod issue, they're cancelling an event that can't be cancelled, nothing to do with sponge

rwtema/extrautilities#1310

[2017-02-23 10:36] #1290 closed, assigned to nobody

[2017-02-23 11:29] ghost commented on #1253
looks like problem solved (build 2185):

https://timings.aikar.co/?id=7ae53b88988d4fc0ae28ecaf0111ce76

I will make some other tests, then report...

[2017-02-23 14:40] bloodmc commented on #1158
Closing ticket as it has been confirmed by multiple users to be solved.

[2017-02-23 14:40] #1158 closed, assigned to nobody

[2017-02-23 16:46] Lichthagel commented on #1260
+1 I can agree on that

[2017-02-23 16:50] ghost commented on #1253
Hmm, again :-(

https://timings.aikar.co/?id=e6f9e3ebbd17499fb39bca149b2aa4b2

[2017-02-24 05:12] yepidoodles opened #1291 "Server Error"
SpongeForge Version: 2221-5.1.0-BETA-2185
Forge Version: 2221
Modpack: https://www.technicpack.net/modpack/172-dragontech-testserver.408937

Error:
http://www.codesend.com/view/f8ea87195e610261b41455046de34284/

This error appears when someone places a [Digital Miner](http://wiki.aidancbrady.com/wiki/Digital_Miner) from [Mekanism](http://aidancbrady.com/mekanism/) and it pushes them out of the way

[2017-02-24 12:25] Aaron1011 commented on #1291
@yepidoodles: Can you upload your `fml-server-latest.log`?

[2017-02-24 16:58] Tencao opened #1292 "[1.10.2] NoSuchElement when generating chunks"
Forge version - 12.18.3.2221
Sponge version - 1.10.2-2221-5.1.0-BETA-2185

Crash reports:
https://paste.ee/r/bcPwW
https://paste.ee/r/rd4qE

These crashes happened when I attempted to generate the world using a world gen plugin called ProjectBorders. By the looks of the error though, the problem seems to be sponges end so I'm coming here first.

[2017-02-24 17:04] Deamon5550 commented on #1292
Duplicate spongepowered/SpongeCommon#1219

[2017-02-24 17:04] #1292 closed, assigned to nobody

[2017-02-24 17:05] Eufranio commented on #1292
That's the same crash as mine, @Aaron1011. I think you forgot to commit the build with the debug that you commentee yesterday.

[2017-02-25 02:22] Aaron1011 commented on #1291
This was already [fixed in the latest Mekanism](https://github.com/aidancbrady/Mekanism/issues/4192).

[2017-02-25 02:22] #1291 closed, assigned to nobody

[2017-02-25 02:42] Aaron1011 commented on #1285
Closed in https://github.com/SpongePowered/SpongeCommon/commit/acd8119fffb56ee957f75b4bd79351be7d0e78cd.

[2017-02-25 02:42] #1285 closed, assigned to nobody

[2017-02-25 04:52] Kaptinobvius opened #1293 "Dupe Bug With Storage Drawers"
Sponge version - 1.10.2-2221-5.1.0-BETA-2188
Forge version - 12.18.3.2221

In Sky Factory 3, When using the packing tape from the "Packing Tape" mod on any storage drawer, it packages the drawer and also drops the items.  At which point you can open the packaged drawer and still have the original contents.

Works on any item in any quantity.

[2017-02-25 07:22] ghost commented on #1285
Thanks for the fix :)

[2017-02-25 07:50] gabizou commented on #1293
Duplicate of #823

[2017-02-25 07:50] #1293 closed, assigned to nobody

[2017-02-25 15:55] merjilin opened #1294 "Console Spam regarding an Unknown Change"
Hey there, I just this moment upgraded to spongeforge-1.10.2-2221-5.1.0-BETA-2188 and this console spam has appeared regarding an unknown change. Here's the pastebin: http://pastebin.com/5kGPzNRy
SF:  spongeforge-1.10.2-2221-5.1.0-BETA-2188
Forge: forge-1.10.2-12.18.3.2239-universal.

[2017-02-25 16:07] merjilin commented on #1294
Okay, so I just downgraded my spongeforge to the version before, along with my forge to 2221 and the spam is gone.

[2017-02-25 17:14] Aaron1011 commented on #1294
@merjilin: Can you re-upgrade to the latest SpongeForge, and upload your full `fml-server-latest.log` (after the exceptions start occuring)?

[2017-02-25 17:16] merjilin commented on #1294
would you like to me update back to the newest forge or stick with 2221? And I'll do it as soon as I can.

[2017-02-25 17:16] Aaron1011 commented on #1294
Stick with 2221 for now.

**EDIT**: Actually, you should upgrade to the latest Forge

[2017-02-25 18:24] gd71 opened #1295 "Unexpected world change when launching a workorder with minecolonies"
Greetings
using spongeforge-1.10.2-2221-5.1.0-BETA-2188
with minecolonies-universal-1.10.2-0.6.2879 mod
https://github.com/Minecolonies/minecolonies
Launching a workorder with a building rod put in the world some construction tapes delimiting the build place.
This action is triggering the report below. I also add a screenshot
![2017-02-25_19 06 13](https://cloud.githubusercontent.com/assets/258182

[2017-02-25 18:40] Aaron1011 commented on #1295
This is an issue with minecolonies: https://github.com/Minecolonies/minecolonies/issues/656

[2017-02-25 18:45] Aaron1011 commented on #1295
On second thought, this appears to be a Sponge issue.

[2017-02-25 21:53] gd71 commented on #1295
Have same issue with opencomputer I guess

[code]

[2017-02-26 01:02] #1295 closed, assigned to nobody

[2017-02-26 01:02] Aaron1011 commented on #1295
This is fixed in the latest SpongeForge 1.10.2

[2017-02-26 01:06] Aaron1011 commented on #1294
Fixed in https://github.com/SpongePowered/SpongeForge/commit/7d1cf6e346c780bcfce80d9828694512f601e839.

[2017-02-26 01:06] #1294 closed, assigned to nobody

[2017-02-26 01:18] Zidane commented on #1243
Closing due to no feedback.

[2017-02-26 01:18] #1243 closed, assigned to nobody

[2017-02-26 01:18] Zidane commented on #1236
Closing due to lack of feedback. We cannot reproduce with just Sponge.

[2017-02-26 01:18] #1236 closed, assigned to nobody

[2017-02-26 09:02] gd71 commented on #1295
still occurs with latest
[02:16:04] [main/INFO] [FML]: Forge Mod Loader version 12.18.3.2221 for Minecraft 1.10.2 loading
[02:17:07] [Server thread/INFO] [fml.ModTracker]: This world was saved with mod spongeapi version 5.1.0-SNAPSHOT-faba8ee and it is now at version 5.2.0-SNAPSHOT-982a6b0, things may not work well
[02:17:07] [Server thread/INFO] [fml.ModTracker]: This world was saved with mod spo