[2016-07-27 21:19] #793 closed

[2016-07-27 21:47] Eufranio commented on #792
Still present in latest SpongeForge build.

[2016-07-27 21:49] TBlueF commented on #786
@gabizou
The frost_walker enchantment still creates ghost-blocks. _(it also does not fire any BlockChangeEvent)_

_(tested with a freshly pulled version through eclipse, so the version should be up to date, i hope)_

[2016-07-27 22:12] GershonR commented on #771
For SpongeForge 1617:

[code]

[2016-07-28 07:46] MastaC729 opened #796 "[1.10.2] Crash at server startup due to "A required class was loaded prematurely!""
I'm not sure if maybe I have an old version of one of these mods that's incompatible with Sponge, or if it's a newly found mod that is incompatible. Here is the log:

http://pastebin.com/EGK0XxiS

[2016-07-28 15:25] LuxusDarkangel commented on #796
CodeChickenCore is not compatible with 1.10.2.

First test your mods without Sponge. If everything works fine add Sponge, and if you get any errors, remove your mods one by one until you find the one causing the error. Then, report it.

[2016-07-28 15:26] gabizou commented on #796
Also, CodeChickenCore is class loading `ModContainer` really early, far earlier than Sponge can finish loading to attach mixins.

[2016-07-28 15:26] #796 closed

[2016-07-28 16:03] LuxusDarkangel commented on #792
A bit more of info: The change causing this bug was added between builds 1570 (works fine) and 1588 (the bug appears). I can't point to the exact build because they're not available to download.

[2016-07-28 16:08] LuxusDarkangel commented on #791
@hunter688 #781 doesn't happen in 1.10.2. It's not something wrong with dropping items in general, only with Forestry.

[2016-07-28 16:08] inklit commented on #792
http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/
Click the "Show All Downloads" button.

[2016-07-28 16:10] LuxusDarkangel commented on #792
@inklit I did. Builds 1571 to 1587 are still missing. Probably failed builds or something.

[2016-07-28 16:20] LuxusDarkangel commented on #780
@gabizou Any progress on this? It's killing TPS very hard.

[2016-07-28 16:27] Zidane commented on #780
@LuxusDarkangel

For the life of me, I cannot reproduce.

[2016-07-28 16:30] LuxusDarkangel commented on #780
@Zidane You can't trigger it, it just... happen. As I said, config options to limit mobs should fix it, but I guess it's not easy to implementación.

[2016-07-28 16:32] Zidane commented on #780
@LuxusDarkangel

Its easy to implement but the fact of the matter is Vanilla DOES have spawn limits so why are they not working...

[2016-07-28 16:34] LuxusDarkangel commented on #780
@Zidane Oh, nice point.

[2016-07-28 17:20] FiveEYZ commented on #792
@LuxusDarkangel look at 1.8.9 then u will find Build 1571 to 1587

[2016-07-28 17:31] Zidane commented on #780
@LuxusDarkangel

Any mods/plugins installed?

[2016-07-28 17:33] LuxusDarkangel commented on #780
Yeah, a lot: https://timings.aikar.co/v2/?id=4fe12a0839e9493c8a2da1395aacecf4&section=plugins

[2016-07-28 18:11] FiveEYZ opened #797 "[1.10.2] Ticking entity"
i was shooting some arrows on skeletal horses, 1 of them made the server crash

https://gist.github.com/FiveEYZ/d8faa05f1cfaefcb2c9c53f96aac0db6

spongeforge-1.10.2-2026-5.0.0-BETA-1622

[2016-07-28 18:35] LuxusDarkangel commented on #797
@Aaron1011 maybe this is the same as #769 but with vanilla projectiles instead of modded projectiles?

[2016-07-28 19:54] MastaC729 commented on #796
Even after I removed CodeChickenCore, it still crashes.

[2016-07-28 19:59] MastaC729 commented on #796
OK, I figured this out last night then after posting this report. I'll contact ChickenBones and let him know that there's an incompatibility.

[2016-07-28 20:13] LuxusDarkangel commented on #796
Follow what I told you in muy last post.

[2016-07-29 00:13] XileForce opened #798 "[1.10.2] Incompatibility with graves mod."
Upon death, a copy of the players inventory is stored in the grave, but they also retain their inventory upon respawn effectively duplicating it.

Spongeforge 1624

using this graves mod. http://minecraft.curseforge.com/projects/gravestone-mod

[2016-07-29 09:56] LatvianModder commented on #718
It shouldnt break buttons, weird

[2016-07-29 13:45] FiveEYZ commented on #774
using build 1623 and can now see eggs laying around again

[2016-07-29 13:51] FiveEYZ commented on #797
Dont know what mods it is but its a skeleton rider on a skeleton horse, when approached a lightning will hit it and it will split to 4 horses with 1 rider each and will shoot arrows at you.

feels this is the same issue:
https://github.com/SpongePowered/SpongeForge/issues/735

[2016-07-29 18:18] FiveEYZ opened #799 "[1.10.2] move block event?"
RFTools Elevator as seen on the picture will move to the desired level but also stay on current and hence duplicating the blocks it uses as floor.

https://gyazo.com/7cca4f9e8bfae05df72bef4489f0fafb

this all started when we enabled sponge on the server
nothing shows in the logs and

current sponge installed is:
spongeforge-1.10.2-2026-5.0.0-BETA-1626

[2016-07-29 23:08] knoxhack opened #800 "Chisel crash MC 1.10"
https://gist.github.com/knoxhack/83d0e439444e0b2f0db4c78713feda77

[2016-07-29 23:15] JBYoshi commented on #797
That's not a mod, it's vanilla Minecraft: http://minecraft.gamepedia.com/Horse#Skeleton_trap

[2016-07-29 23:20] dakattack commented on #774
fixed in [9f85a52](https://github.com/SpongePowered/SpongeForge/commit/9f85a521315762fe5444f5932079c31ec3429ffe)

[2016-07-29 23:20] #774 closed

[2016-07-29 23:30] FiveEYZ commented on #797
oh, i actually didnt know about those traps :S

Now this crash may look the same as above
https://gist.github.com/FiveEYZ/751c6973ee138710b14c9f52beefa6b3
but this time i was shooting them on my friend.

Dont know if it will help but i was using spongeforge-1.10.2-2026-5.0.0-BETA-1626

[2016-07-30 04:47] #800 closed

[2016-07-30 04:55] #797 closed

[2016-07-30 14:16] webrsb opened #801 "[1.10.2] UseItemStackEvent have no effect in SpongeForge."
I tried same code like below in SpongeForge and SpongeVanilla.

[code]

SpongeVanilla functioned normally but SpongeForge does not. Is it SpongeForge's bug?

Environment :
spongeforge-1.10.2-2026-5.0.0-BETA-1632
forge-1.10.2-12.18.1.2011-universal

spongevanilla-1.10.2-5.0.0-BETA-93.jar

[2016-07-30 15:11] TBlueF opened #802 "No Fallldamage when you land on the edge of a block."
**Tested successfully with:**
_Minecraft: 1.8.9
SpongeAPI: 4.2.0-SNAPSHOT-1f5dac2
SpongeForge: 1.8.9-1890-4.2.0-BETA-1625
Minecraft Forge: 11.15.1.1890_
**and:**
_Minecraft: 1.10.2
SpongeAPI: 5.0.0-SNAPSHOT-a13a8d6
SpongeForge: 1.10.2-2026-5.0.0-BETA-1632
Minecraft Forge: 12.18.1.2026_

**How to reproduce:**
Build an L-Shape like this: http://imgur.com/KvC6A2R
Make it as high as you want and place

[2016-07-30 16:32] ST-DDT commented on #801
@webrsb Can you explain that a little bit more in detail?

What does not work
* Listen to that event?
* Sending the message?
* Sending the message colored?

Maybe a screenshot can help to understand your issue a little bit better.

Do you have any plugins/mods installed (besides this one)?

[2016-07-30 16:35] ST-DDT commented on #802
Does this occur in SpongeVanilla as well?

[2016-07-30 16:42] TBlueF commented on #802
Yes it does!
I just tested it with a new Server:
_Minecraft: 1.8.9
SpongeAPI: 4.2.0-SNAPSHOT-79f9c8e
SpongeVanilla: 1.8.9-4.2.0-BETA-348_

Should i close it here then and create a new issue it in the Common Repo?

[2016-07-30 16:55] i9hdkill opened #803 "[1.10.2] Ticking entity item frame"
Server crashes with this error when player logs in at this position:
http://pastebin.com/nJMU6WZh

[2016-07-30 17:06] i9hdkill commented on #803
After removing this specific block/entity with world edit, I am getting this crash when entering the region:
http://pastebin.com/hwxj0iM4

[2016-07-30 18:11] gabizou commented on #799
Can you list instructions on how to replicate this exactly? Seeing as I've never played with RFTools, I have little to no clue how to get that sort of thing started.

[2016-07-30 18:32] inklit commented on #799
I've seen a very similar bug with OpenComputer's Robots on SpongeForge 1.8.9.
The robot leaves a trail of itself behind.

[2016-07-30 18:38] inklit commented on #771
I've confirmed that this is an issue with FakePlayer's created by mods.
I've let a developer of a mod that is affected by this know about the bug and hopefully this can be fixed.
https://github.com/SquidDev-CC/plethora/issues/11
Here is the same issue opened on that specific mod's github for reference.

In particular this code is causing this spam to happen:
https://github.com/SquidDev-CC/plethora

[2016-07-30 18:43] gabizou commented on #803
Bug with pixelmon, they fixed already.

[2016-07-30 18:43] #803 closed

[2016-07-30 19:02] i9hdkill commented on #803
I guess in it's fixed in Beta 4 that is not released? Because crash happens with Beta 3

[2016-07-30 19:02] gabizou commented on #803
I'm going to assume so, yes.

[2016-07-30 19:03] gabizou commented on #799
Yes, again, I have not had the experience of using any of those mods, so if you can please provide a list of instructions on replicating this, that'd be great.

[2016-07-30 20:11] MastaC729 commented on #798
I can confirm this as well.

[2016-07-30 20:22] bloodmc commented on #798
@XileForce Is keepInventory on? if so turn it off and retest.

[2016-07-30 20:24] XileForce commented on #798
Keep inventory is not on. The graves actually dont even spawn if keep inventory is on.

[2016-07-30 20:46] MastaC729 commented on #798
Well that's a feature with the Gravestone mod, if keepInventory is on.

[2016-07-30 20:55] XileForce commented on #798
Yea I was just pointing it out fot bloodmc.

[2016-07-30 21:00] inklit commented on #799
1: Install Forge 1902, Sponge 1625,  and OpenComputers 1.5.22
2: In your creative menu search for "Creatix" (This is a prebuilt Robot for creative users and debugging purposes)
3: Place down "Creatix" and right click the Robot.
4: Press the Power button on the Robot to turn it on. You will then be prompted with a operating system of sorts that can be programmed via Lua.
5: Type "lua" to start the

[2016-07-30 21:22] bloodmc commented on #798
@XileForce @MastaC729 I just looked at Gravestone mod code and I don't understand how this doesn't happen WITHOUT sponge. Please test without SpongeForge, the same issue should occur.

[2016-07-30 21:38] Aaron1011 commented on #792
@Eufranio: I'm unable to reproduce this with the latest SpongeForge for 1.10.2 (build 1632). Can you re-test on that build?

[2016-07-30 21:53] inklit commented on #771
According to the developer of that mod, the way to fix this is to add the mod's UUID to the `invalid-lookup-uuids` configuration option in Sponge.

[2016-07-30 22:11] Aaron1011 commented on #787
The issue appears to be that Sponge is firing `WorldEvent.Load` for a world before it's added to `MinecraftServer#worldServers`. On a plain Forge servers, the world has already been added to that array.

[2016-07-30 22:18] gabizou commented on #787
@Zidane I think this is your realm of expertise.

[2016-07-30 22:19] LuxusDarkangel commented on #792
@Aaron1011 Keeps happening. Used a Pure Daisy to test: surrounded it with stone and waited until it did the animation, but stone is not converted into livingrock.

[2016-07-30 22:46] Aaron1011 commented on #792
Sorry, I should have been more specific - I wasn't able to reproduce the Gourmaryllis issue. Let me test the Pure Daisy issue again.

[2016-07-30 23:05] Aaron1011 commented on #792
@LuxusDarkangel: I'm also unable to reproduce the Pure Daisy issue with SpongeForge (stone converted into livingrock just fine).

[2016-07-30 23:08] FiveEYZ commented on #799
was in middle of making a tutorial but i did it on a server with only sponge and rftools installed

when i tested the elevator this happen: https://gist.github.com/FiveEYZ/c77f4db5dd777bc6fdc698040cf868d3

will now try the same with opencomputer

[2016-07-30 23:23] XileForce commented on #798
Sounds good!

[2016-07-30 23:38] FiveEYZ commented on #792
seems to have been pre-313 botania issue...

on the latest release from 1 day ago https://github.com/williewillus/Botania/releases/tag/r1.8-314

- Fix blocks turning into other blocks when being placed (Forge fixed a vanilla bug I was unintentionally relying on)

[2016-07-30 23:46] LuxusDarkangel commented on #792
It keeps happening for me, using Botania Unofficial r1.8 314, SpongeForge 1633 and Forge 12.18.1.2043.
Deleted the world, the config folder and every single file generated by the server but the eula, and it's still there.

Server folder if you want to test it with the same setup I used: https://mega.nz/#!wZcEza5R!KRR97t9vpiIxHvOJZOChE12TVQGCA6jhmBEL9BDTTDs

@FiveEYZ Nope, as I said above, it's hap

[2016-07-31 01:30] webrsb commented on #801
Just the "UseItemStackEvent" can't be listened.  No error fond and had no other mods. You can check the source on [github](https://github.com/webrsb/EventTest).

Test in SpongeForge:
http://i.imgur.com/LHyPypn.png
Test in SpongeVanilla:
http://i.imgur.com/undefined.png

[2016-07-31 01:49] Aaron1011 commented on #802
@TBlueF: I'm able to reproduce this - thanks for documenting it in so much detail! I've had an intermittent issue where I haven't been taking fall damage, but was never able to determine precisely what was causing it.

[2016-07-31 02:42] Eufranio commented on #792
Still happening for me too, latest release from Botania and latest build of SpongeForge, even in a clean installation.

[2016-07-31 03:06] Aaron1011 commented on #802
Closed in https://github.com/SpongePowered/SpongeCommon/commit/8ed0112572af76df6140636c4babdf1f8b84f1b8.

[2016-07-31 03:06] #802 closed

[2016-07-31 04:42] #787 closed

[2016-07-31 05:02] ryantheleach commented on #799
I assume this is due to moving tile entities?

[2016-07-31 14:06] inklit commented on #799
That is right @ryantheleach

[2016-07-31 14:50] inklit opened #804 "[1.8.9] invalid-lookup-uuids option is broken"
**Summary**
According to Sponge, you are supposed to add mod FakePlayers to this list to prevent GameProfile lookups from contacting Mojang and causing spam.
However, the `invalid-lookup-uuids` option does not work.
I am using SpongeForge 1625.

**Expected Result**
The expected result is that GameProfile lookups for a UUID added to the `invalid-lookup-uuids` option will no longer contact Mojang an

[2016-07-31 15:05] ryantheleach commented on #799
Does computercraft also use moving tile entities? or does it use an entity as well as a tile entity?

[2016-07-31 15:11] inklit commented on #799
@ryantheleach I'm not sure, it's closed source. The only person that I know that might know the answer to that is @SquidDev-CC

[2016-07-31 18:54] Nentify opened #805 "[1.10.2] MineTweaker recipes do not sync to client"
When Sponge is installed on the server, MineTweaker recipes do not sync properly.

Issue on CraftTweaker GitHub: https://github.com/jaredlll08/CraftTweaker/issues/36

/sponge version

[code]

Main mod info

[code]

Full mod list

[code]

[2016-07-31 19:56] hunter688 opened #806 "[1.10.2] pressure plates not detecting player"
Found strange issue with pressureplates. When use wooden pressure plate and wooden doors, cannot open doors using restone, when stay on pressure plate. When throw item to plate, it works. When doors are opened, and then I stay to pressure plate, can close door.

[2016-07-31 20:37] FiveEYZ commented on #806
its really odd
You can hear the pressure plate being triggered when walked over
the redstone wont light up but the piston will trigger
piston will also trigger if placed next to a pressure plate but not the door

After installing https://minecraft.curseforge.com/projects/malisisdoors the doors now work properly
but redstone will only light up if i throw an item on it.

[2016-07-31 23:21] #806 closed

[2016-08-01 02:32] AuricPolaris opened #807 "[1.10.2] ExceptionInInitializerError and NullPointerException: Exception in server tick loop"
When trying to start up a server with the below versions of forge and sponge, the server will crash upon initial initialization. I disabled the mod causing the error but another mod took it's place. So here I am to report it! Please let me know if I am missing anything and I will get said information here as soon as possible.

Forge Version: forge-1.10.2-12.18.1.2043-universal
Sponge Version: spon

[2016-08-01 02:36] FiveEYZ commented on #807
first crash is a mod called "Natural Pledge" and its not working on this new forge i would suggest try forge 2031

the second is the mod psi update 36 does now work, u need to update to 37
https://minecraft.curseforge.com/projects/psi/files/2319176

[2016-08-01 02:51] AuricPolaris commented on #807
It is like you are already playing this same modpack that I am. I am just one step behind you.

I will report back after I do the above. ^^

[2016-08-01 03:14] AuricPolaris commented on #807
Alright, after also updating Mantle (that needed an update with TiCon) and running 2043 forge on my client as well, everything seemed alright. The server and client both loaded. Thank you FiveEYZ. :)

[2016-08-01 03:14] #807 closed

[2016-08-01 03:30] MastaC729 commented on #738
See mezz's comments in the Forestry issue: https://github.com/ForestryMC/ForestryMC/issues/1365

[2016-08-01 03:46] FiveEYZ opened #808 "[1.10.2] Exception while ticking a block"
1.  Place a Dropper anywhere
2.  Activate it with any redstone signal
3.  Watch server crash

https://gist.github.com/FiveEYZ/ee5513b1f6b03f4ed2c9f49c896a4842

Used:
spongeforge-1.10.2-2043-5.0.0-BETA-1644
forge-1.10.2-12.18.1.2044-universal

[2016-08-01 06:46] gabizou commented on #808
Already fixed.

[2016-08-01 06:46] #808 closed

[2016-08-01 09:27] SaibaX opened #809 "Incompatability with LycanitesMobs"
For some reason when loading LycanitesMobs and SpongeForge together this happens. http://pastebin.com/E7jrnfc1

It prevents anything from this mod from being spawned into the world by any means.

http://lycanitesmobs.com/

[2016-08-01 09:56] SaibaX commented on #809
https://github.com/Lycanite/LycanitesMobs/blob/master/java/lycanite/lycanitesmobs/junglemobs/entity/EntityUvaraptor.java#L55

Lycanite asked that I send this to you. Not sure why but he thought it may be useful.

[2016-08-01 17:07] gabizou commented on #809
@Aaron1011 some small investigating for you, the AI tasks are being added while the entity was spawned on a `WorldClient`.

@Lycanite You should really consider overriding the appropriate method: `protected void initEntityAI()` to add ai tasks instead of performing that on the constructor. Reason being is that AI tasks should likely never be performed on the client world, only on the server world.

[2016-08-01 17:38] Zidane commented on #809
I'm closing this issue as no one should EVER add their tasks to the client-side and the crash is completely valid.

[2016-08-01 17:38] #809 closed

[2016-08-01 23:38] LuxusDarkangel commented on #757
Fixed in https://github.com/SpongePowered/SpongeForge/commit/9f85a521315762fe5444f5932079c31ec3429ffe

@Aaron1011 Please, close this.

[2016-08-01 23:44] #757 closed

[2016-08-01 23:46] Zidane commented on #805
@Nentify

Try this with just CraftTweaker and SpongeForge. Remove all other mods. Retest.

[2016-08-01 23:51] Zidane commented on #792
Someone needs to remove all mods besides Botania + SpongeForge and re-test. I suspect this is what @Aaron1011 did and he can't reproduce as its another mod triggering it.

[2016-08-01 23:52] Zidane commented on #791
@Aaron1011 Test this with ONLY us + Forestry.

[2016-08-01 23:54] Zidane commented on #762
Closing this as perf improvements have been made.

[2016-08-01 23:54] #762 closed

[2016-08-01 23:56] Zidane commented on #741
Please re-test with the latest build and report back.

[2016-08-01 23:57] FiveEYZ commented on #792
i did that but can try it again now when everything been updated

[2016-08-01 23:57] Zidane commented on #779
Retest with latest build.

[2016-08-02 00:14] FiveEYZ commented on #792
nothing happens with the flowers

tested with only:
forge-1.10.2-12.18.1.2044-universal
spongeforge-1.10.2-2044-5.0.0-BETA-1649
Botania-unofficial.r1.8-314
Baubles-1.9.4-1.2.1.0

[2016-08-02 00:30] Zidane commented on #792
@FiveEYZ

Please provide exact steps for reproduction of this issue.

[2016-08-02 00:44] FiveEYZ commented on #792
1.  Get yourself a Pure Daisy
2.  Place it on the ground
3. Place Stone or Wood Logs around the flower in 3x3 (you can mix)
like this: http://imgur.com/yShsIw4

It can take up to 5-30 seconds for the Pure Daisy to transform the blocks.

[2016-08-02 03:34] FiveEYZ commented on #799
dont know what u did, but its fixed with Build 1646 thanks a bunch

[2016-08-02 07:13] Lycanite commented on #809
Oooh, that explains a few problems! Lol! I completely forgot about initEntityAI(), is that new with 1.8+?

[2016-08-02 09:10] maxanier commented on #735
Looks like this was fixed (by simply adding a null check).

[2016-08-02 09:10] #735 closed

[2016-08-02 11:58] FiveEYZ opened #810 "[1.10.2] No longer any drops when leaf decay"
Title says it all, no other mods installed tested with only:

- spongeforge-1.10.2-2044-5.0.0-BETA-1649
- forge-1.10.2-12.18.1.2044-universal

Can still get drops by breaking them by hand.

[2016-08-02 15:36] Nentify commented on #805
Seems it doesn't happen with just CraftTweaker, I'll see if I can find the culprit.

[2016-08-02 16:42] #810 closed

[2016-08-02 16:57] Nentify commented on #805
It seems to be working now. Updated Forge and SpongeForge to 2044. I'm guessing it's either because the versions were mismatched before (2011/2014/whatever was on client) or something changed between 2011 and 2044.

Sorry about this and thanks for all your help!

[2016-08-02 16:57] #805 closed

[2016-08-02 21:48] Eufranio commented on #792
Tested here and is happening same as @FiveEYZ .

[2016-08-02 22:44] gabizou commented on #792
@FiveEYZ Anything appear in console or in FML's log?

[2016-08-02 23:02] FiveEYZ commented on #792
nothing shows up in console or logs

posting the logs again: https://gist.github.com/FiveEYZ/4c1a031f73625c5512be47eb4366312a

[2016-08-03 00:42] gabizou commented on #792
I can't reproduce this using latest builds of both SF and Botania.

[2016-08-03 12:09] hunter688 opened #811 "[1.8.9] server crash java.util.ConcurrentModificationException"
http://pastebin.com/1RizdJ9h

[2016-08-03 14:38] FiveEYZ commented on #792
Sorry if it sounds like im on repeat but I don't know whats going on anymore... is there a special config I missed? Advanced java flag setup I didn't do? Ready odd that it's only working for sponge devs?!

What i did? same as I said in previous post, after a while I placed pure daisy around all stones like this:
![688331f709707b58ae551c036d389061](https://cloud.githubusercontent.com/assets/9557442

[2016-08-03 15:49] gabizou commented on #792
Ok, so I've been finally able to reproduce, as it only happens server side.

[2016-08-03 16:47] ST-DDT commented on #811
Which plugins and versions do you use?
Is that bug reproducible? How?
Is it reproducible without mods?
Could you remove them them all and check one plugin at a time? To check which one is causing this?

[2016-08-03 19:19] hunter688 commented on #811
plugins/mods are in the stacktrace
IDK howto reproduce - i think its during generating new map chunks

[2016-08-04 05:42] kosakriszi commented on #791
As commented on a previous bug report for this same issue (not sure why there are 2), here are Mezz' comments and some further testing info: https://github.com/ForestryMC/ForestryMC/issues/1365

[2016-08-04 16:56] Eufranio commented on #792
And... Needs be fixed by SpongeForge or?

[2016-08-04 17:52] Eufranio commented on #791
@gabizou

[2016-08-04 17:58] sky0-1 opened #812 "[1.10] Sponge crashes custom dimensions"
When using SpongeForge and my dimension-adding mod, a user got this error:
[code]
This possibly occurred because of calling `MinecraftServer#worldServerForDimension(int dimID)` or `MinecraftServer#getPlayerList()#transferPlayerToDimension(PlayerMP player, Teleporter tel)`

[2016-08-04 17:59] sky0-1 commented on #812
Using my dimension-adding mod without SpongeForge causes no crash

[2016-08-04 18:43] Leasara opened #813 "[1.10.2] SpongeForge fails to load a number of dimensions added by various mods"
Error:
04.08 11:16:22 [Server] Server thread/ERROR [Sponge]: An attempt was made to load a world with dimension id [53] that has no registered world folder!
04.08 11:16:22 [Server] Server thread/ERROR [Sponge]: An attempt was made to load a world with dimension id [52] that has no registered world folder!
04.08 11:16:22 [Server] Server thread/ERROR [Sponge]: An attempt was made to load a world wit

[2016-08-04 18:46] FiveEYZ commented on #799
dont know what really changed, but this is sadly back
https://gist.github.com/FiveEYZ/e375341a15bd3141f4386e6d77f21635

tested with:
forge-1.10.2-12.18.1.2045-universal
spongeforge-1.10.2-2044-5.0.0-BETA-1655
mcjtylib-1.10-1.9.9
rftools-1.10-5.10

[2016-08-04 19:19] gabizou commented on #791
Closing since this is a duplicate of #738

[2016-08-04 19:19] #791 closed

[2016-08-04 21:05] inklit commented on #799
It was never fixed to begin with.
OpenComputers still experiences the same issue. This is not exclusive to 1.10.2 by the way. It also affects 1.8.9.

[2016-08-05 00:22] cartman-2000 opened #814 "[1.10.2] Phasetracking error with chests."
There's a new bug that I've seen with chests over the past couple days that can cause this error to be spammed in the logs when someone closes a chest on the server. It only seems to happen to some of the chests on the server, not all of them. There's also an issue with the closing sounds not working on chests anymore over the sponge updates over the past week or so.

Server version output:
[17:20

[2016-08-05 00:37] cartman-2000 opened #815 "[1.10.2] Detector rails are broken under sponge."
Detector rails no longer work when sponge is loaded on the server. There's no errors that are generated with this, they just no longer activate when a cart goes over it.

Sponge version:
[17:37:35] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-d41be56
    SpongeForge: 1.10.2-2044-5.0.0-BETA-1655
    Minecraft Forge: 12.18.1.2044

With a plain vanilla server

[2016-08-05 00:48] #814 closed

[2016-08-05 02:08] #815 closed

[2016-08-05 03:04] gabizou commented on #812
Could you include the full error? and use ` ``` ` to make a code block so there's no space issues.

[2016-08-05 22:41] LuxusDarkangel commented on #813
1.- Use `/sponge version` to see the version you're running and post it.
2.- I gues you're using SpongeForge for 1.8.9 based in the name of the modpack. If it's true, please correct the title.

[2016-08-05 23:05] JonDaHackingWiz commented on #812
@sky0-1 You're not the only one to have this problem. Apparently the dimension handler on SpongeForge is a little bit screwed and needs fixing.

[2016-08-06 15:07] sky0-1 commented on #812
@gabizou I did not get the crash, but [here is the log](http://pastebin.com/6ZGzzxzX) I was provided.
Line 35-36 of that log is where my mod's block is activated and the TileEntity transfers the player to the dimension. My code for that is [here](https://github.com/sky0-1/Nomadic-Tents-1.9.4/blob/master/com/yurtmod/block/TileEntityTentDoor.java#L155-L173)

[2016-08-06 20:38] AnimadorX commented on #792
is it fixed_

[2016-08-07 06:23] Starza4TW commented on #796
Just came across this too, Masta posted in an outdated repo: here is someone's issue from about two weeks ago on the same issue: https://github.com/TheCBProject/CodeChickenCore/issues/2

[2016-08-08 00:43] Eufranio commented on #799
Yeah it happens here too. I think ComputerCraft handles turtles moving in a different way, OC and RFTools are more generic... Any news?

[2016-08-08 00:45] Eufranio commented on #718
It was not detecting server-side mods, here InventoryTweaks stopped work in client-server-side too. But seems fixed in latest SpongeForge builds.

[2016-08-08 00:48] Eufranio commented on #766
Tested and happens here too.

[2016-08-08 00:48] Eufranio commented on #766
Tested here, confirm.

[2016-08-08 05:18] MastaC729 commented on #796
Ah derp, thanks for letting me know,

[2016-08-08 18:02] Rhonim opened #817 "[1.8.9-1890-4.2.0-BETA-1653] Server Crash/Lockup"
Had about 4-5+ Crashes/lock ups from this so far

http://pastebin.com/m0puTEw7

[2016-08-09 01:04] trentech opened #818 "[1.10.2] offering PoweredData to supporting blocks always rejected"
After updating to API 5.0.0 I can no longer change PoweredData key for supportting blocks such as buttons and levers. Also when printing the Container I noticed the Key is always false even when interacting with the supporting blocks such as toggling the lever on and off.

https://forums.spongepowered.org/t/powereddata-problem-api-5-x/14032

I've tested this with latest SpongeVanilla and SpongeFor

[2016-08-09 01:27] #792 closed

[2016-08-09 01:28] bloodmc commented on #792
@Eufranio @FiveEYZ @LuxusDarkangel This issue should now be resolved. Grab latest build for fix.

[2016-08-09 01:32] williewillus commented on #792
I'm curious why this happens, can someone give me a bit of insight?

The Pure Daisy is a `SubTilePureDaisy`, housed within a `TileSpecialFlower`, which is just your standard ITickable TE. not sure why this problem arises but I'm curious to know

[2016-08-09 01:33] Eufranio commented on #792
Thank you very much ! :smiley:

[2016-08-09 01:35] AnimadorX commented on #792
Thanks ratata!

[2016-08-09 01:40] AnimadorX commented on #766
Same issue here ratata

[2016-08-09 01:54] bloodmc commented on #792
@williewillus I was looking at old source. It seems the issue was caused by
[code]
If the target class had a client class, it would throw an exception and skip the canTick check causing your TE not to tick.

[2016-08-09 01:56] williewillus commented on #792
cool, thanks!

[2016-08-09 02:01] bloodmc commented on #792
@williewillus Looks like the following caused it to throw an exception

https://github.com/williewillus/Botania/blob/master/src/main/java/vazkii/botania/common/block/tile/TileSpecialFlower.java#L168

This is missing a SideOnly.CLIENT annotation

[2016-08-09 06:20] me4502 commented on #818
From the thread it's noted that a Cause is required to perform this action. If this is intentional (And it probably is), should we mention that in the JavaDocs for the offer method that doesn't have a Cause?

[2016-08-09 14:21] gabizou commented on #818
I already updated the javadocs for this, if a `BlockState` change is required for a location, the same method that has an additional parameter for a `Cause` is required. You can read more here: https://github.com/SpongePowered/SpongeAPI/pull/1315.

[2016-08-09 14:21] #818 closed

[2016-08-09 17:00] ryantheleach commented on #818
I think it's more about the similar naming of the methods, yet distinct behaviour that's causing the issue. Principal of least surprise would make people suspect that the cause is optional, not that the method without a cause can only affect tile entities.

[2016-08-10 03:38] kosakriszi commented on #738
Okay, after some further testing, I think I've discovered a potential culprit.
https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/entity/item/MixinEntityItem.java

In this mixin, the EntityItem#onEntityCollideWithPlayer() method is triggering the ForgeEventFactory#onItemPickup(). My theory is that when an item is dropped, the item collides wit

[2016-08-10 23:22] LuxusDarkangel commented on #817
For me it doesn't look like a problem with SpongeForge. Steps to reproduce? Can you try without Sponge?

[2016-08-11 00:50] Rhonim commented on #817
Not really viable for me to reproduce. Looks like its triggered off of a ClientConnectionEvent.Login event returning false (i.e. this line: https://github.com/SpongePowered/SpongeCommon/blob/31fde9f031a5141add3bd24244e96559c0ccbaaa/src/main/java/org/spongepowered/common/mixin/core/server/MixinPlayerList.java#L237)

[2016-08-11 04:44] #699 closed

[2016-08-11 04:44] #763 closed

[2016-08-11 04:44] #812 closed

[2016-08-11 04:44] #813 closed

[2016-08-11 05:58] covers1624 commented on #796
Im the new dev of CB's stuff, i believe i have found the issue, it was indeed CCC loading the class to early, iv'e moved some stuff around and it should be fixed.

[2016-08-11 19:24] cartman-2000 commented on #804
This also affects the Prism plugin when rolling back of an entity, it still spams the console with this error after adding the fake UUID to the list in the config.

[2016-08-11 20:18] FiveEYZ commented on #813
first startup with AbyssalCraft-1.10.2-1.9.2.8 works fine. but when i restart the server it fails to load the dimensions and crashes: https://gist.github.com/FiveEYZ/fd5fe5dd6b7dde44830a799c6f1981b0

using:
spongeforge-1.10.2-2044-5.0.0-BETA-1661
forge-1.10.2-12.18.1.2050

[2016-08-12 14:33] ziceptor opened #819 "[1.8.9] I do not work minecraft:detector_rail. Not activated trolley."
I do not work minecraft:detector_rail. Not activated trolley. [Video](https://cloud.mail.ru/public/4JwF/mLZiMdFVa)

spongeforge-1.8.9-1890-4.2.0-BETA-1662.jar

[2016-08-12 14:47] ziceptor commented on #819
Without sponge-1.8.9 rails work.

[2016-08-12 16:50] bloodmc commented on #819
@Aaron1011 you want to push a fix for this? Same one you did in 1.10

[2016-08-12 18:32] ziceptor commented on #819
Not all plugins are ready for 1.10. Will it be fixed in sponge-1.8.9?

[2016-08-12 19:14] hunter688 opened #820 "[1.8.9] Bibliocraft crash server with SpongeForge"
without spongeforge server starts ok

with SF build 1653:

http://pastebin.com/pzh7NbJ1

[2016-08-12 19:31] gabizou commented on #820
From a quick look, Bibliocraft is constructing it's enchantments with `null` `ResourceLocation`s, which means the enchantments themselves are going to have no proper id's to refer them to. The issue with this is of course that Sponge will not be able to understand what they are properly named as. I'm unaware that it's a good thing to have null resource locations, would have to ask @Nuchaz as to wh

[2016-08-12 19:40] Nentify commented on #799
Same issue with OpenComputers here, hopefully this can be fixed.

Screenshot:

![](http://puu.sh/qyPLt/eaf72bd7ed.jpg/ss%20(2016-08-12%20at%2004.45.38).jpg)

[2016-08-12 19:41] Nentify opened #821 "[1.10.2] Ender IO lighting bugs when chunk is unloaded"
Screenshot:

![](http://puu.sh/qyOxO/d7c651fb4b.jpg)

SpongeForge on the server, when unloading a chunk with the Ender IO lamp and reloading it, the lighting appears odd like this.

[2016-08-12 19:46] gabizou commented on #821
Version info?

[2016-08-12 19:47] Nentify opened #822 "[1.10.2] Can't break storage drawer by clicking non-front side in creative"
You should be able to break the storage drawer in creative by left clicking a side that isn't the front.

![](http://i.nentify.me/6lVClMAF.png)

[2016-08-12 19:49] Nentify opened #823 "[1.10.2] Packing Tape dupe"
Containers spit out items as well as retain them in the inventory when packed with packing tape (the mod). The items shouldn't spit out and they should remain in the inventory.

![](http://i.nentify.me/EUw6VA1i.png)

[2016-08-12 19:51] Nentify commented on #822
Here is an error that is output to console when this is attempted: http://pastebin.com/KAbBLShw

[2016-08-12 20:10] Nentify commented on #821
[code]

EnderIO-1.10.2-3.0.1.81_beta

[2016-08-12 20:31] #819 closed

[2016-08-12 21:34] Nentify opened #824 "[1.10.2] OpenComputers crash"
Crash report: http://pastebin.com/SYXJxxYx

Occurred when putting a floppy disc into a robot according to the user.

[2016-08-13 02:51] bloodmc commented on #813
@FiveEYZ Is this issue resolved in latest build? I pushed some more fixes earlier today that should fix your issue.

[2016-08-13 03:20] FiveEYZ commented on #813
Yea it works alright, only thing now is im wondering,
is it supposed to create so many folders per dimension?

This is inside config/sponge/worlds
https://gyazo.com/605796ca9669eca27732db6b5abfc72f

[2016-08-13 03:26] bloodmc commented on #813
@FiveEYZ hrmm no, I'll look into that.

[2016-08-13 04:34] bloodmc commented on #813
@FiveEYZ Please test build 1667 when it is finished building. Make sure to clean out your config folder so you can see what it produces. It should store everything by modid now.

[2016-08-13 05:00] FiveEYZ commented on #813
@bloodmc looks much better now, once again awesome work

[2016-08-13 10:27] gigaherz commented on #823
Author of the mod, here. I use a dirty hack to prevent the items from spilling: https://github.com/gigaherz/PackingTape/blob/master/src/main/java/gigaherz/packingtape/tape/ItemTape.java#L54,L70

I guess this does not behave the same when Sponge is installed.

This may be an opportunity to use a better method. Any suggestions?

[2016-08-13 12:43] gabizou commented on #823
I guess the first question is whether this is reproducible on 1.8.9, then the next step is to figure out where basically `CauseTracker` is causing the dupe. Secondly, I'm guessing that the `worldIn.restoringBlockSnapshots` is not only forge specific, but also something that forge hooks to prevent `block.onRemoved` logic to be performed (which I'm guessing is causing this dupe).

[2016-08-13 20:45] #726 closed

[2016-08-13 20:52] Nentify opened #825 "[1.10.2] Joining world that doesn't exist"
[code]

blood fixed something similar on Cauldron, perhaps reset player's position to the spawn point if the world doesn't exist?

[2016-08-13 21:21] Aaron1011 commented on #825
Can you please list the versions of any mods you're using (as well as the versions of Sponge and Forge)?

[2016-08-13 21:45] Nentify commented on #825
[code]

[code]

I'm pretty sure it's just a simple Sponge issue though. I deleted the world the users were last in and they now can't connect because the world doesn't exist. In Cauldron, blood just made it so the player gets set to the server default spawn.

[2016-08-13 21:53] Nentify commented on #821
May have been due to the world plugin we were using, it had odd issues saving or something. Nucleus seems to give better results. Will re-open if I have more information/it occurs again.

Thanks!

[2016-08-13 21:53] #821 closed

[2016-08-13 23:45] #738 closed

[2016-08-13 23:48] cartman-2000 commented on #825
I've noticed this in my own testing, if you remove a world that a player was in the last time they were on the server, they can no longer connect to the server without getting DC'd on connect from an error like this. It should be made so that a player will be sent to the main world spawn when this happens.

[2016-08-14 02:08] Zidane commented on #825
I have code to resolve this in an old branch and have cleaned it up locally. If it works, I'll push it up.

[2016-08-14 05:43] cartman-2000 opened #826 "[1.10.2] Server error when teleporting to an unloaded world."
I got this error when teleporting to an unloaded nether world using a nether portal.

[code]

Server version:
[22:29:12] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-d11a7b4
    SpongeForge: 1.10.2-2052-5.0.0-BETA-1670
    Minecraft Forge: 12.18.1.2052

[2016-08-14 10:44] maxanier opened #827 "Player inventory bug"
I'm working on/modifiying a shop plugin and found something strange:

Executing `Player.getInventory().offer(Item.createStack())` does not work during  (no item is added) InteractBlockEvent (Primary) under a certain condition:
1. The player already has a stack (containing 1-x items) on his hotbar
2. That slot is selected
3. Left of that slot on the hotbar is no slot that item could fit in (empty o

[2016-08-14 13:47] jk-5 commented on #826
Same issue happens for me when creating (hotloading) a new dimension.
SpongeForge 8e803f3960bc56501c1a40c8b2604fb62af73485

[2016-08-15 01:31] Eufranio opened #828 "[1.10.2] Could not pass CollideBlockEvent$Impl to org.spongepowered.mod.plugin.SpongeModPluginContainer@4121b14c"
I updated to latest SpongeForge and Forge builds and now i get this error spamming a lot in the console:

[code]

[2016-08-15 01:34] Eufranio commented on #828
Sorry, updated to the latest GriefPrevention build and seems it's fixed!

[2016-08-15 01:34] #828 closed

[2016-08-15 01:45] Starza4TW opened #829 "Botania Alchemy does not work on SpongeForge Servers"
Using a SpongeForge server, any items dropped into a Mana Pool + Alchemy Catalyst will not alchemize. They will simply drop onto the ground like any other item. Ex: http://g.recordit.co/l9EQM9WWjT.gif

This does not occur on any client using SpongeForge, only servers using SpongeForge. Removing SpongeForge from the server also allows the alchemy. This is what it should look like: http://g.recordit

[2016-08-15 01:55] Eufranio commented on #829
Confirm.

[2016-08-15 01:56] Eufranio opened #830 "[1.10.2] Incompatibility with Morpheus mod?"
https://github.com/Quetzi/Morpheus/issues/21

[2016-08-15 02:39] williewillus commented on #829
Sponge devs: I just use Block.onEntityCollidedWithBlock(World, BlockPos, IBlockState, Entity), which calls to the TE. no special magic here.

[2016-08-15 03:11] #829 closed

[2016-08-15 05:57] gabizou commented on #830
Sounds like `PlayerDimensionChangeEvent` isn't being thrown from a [cursory glance](https://github.com/Quetzi/Morpheus/blob/master/src/main/java/net/quetzi/morpheus/helpers/MorpheusEventHandler.java#L48).

[2016-08-15 12:11] Eufranio commented on #830
Happens here when there is only one player in the server, and he goes from overworld to another dimension (like Nether)

[2016-08-15 13:14] 5igm opened #831 "Error feedback about death event."
After death, inventory is keeped, although keepinventory is setted false.
spongeforge-1.8.9-1890-4.2.0-BETA-1666
This error happened after I installed gravestone mod.
https://mods.curse.com/mc-mods/minecraft/238551-gravestone-mod
[code]

[2016-08-15 15:38] tenten8401 opened #832 "[1.10.2] Incompatability with RFTools Dimensions"
Hey there, using sponge, when I restart the world w/ an RFTools dimension enabled, it crashes, giving this stack trace.
[code]

I reported this to RFToolsDimensions and he seems to think it's a problem with sponge. See the issue [here](https://github.com/McJty/RFToolsDimensions/issues/26).

[2016-08-15 16:01] 5igm opened #833 "[1.8.9]Error feedback about chat system."
[code]

[2016-08-15 16:32] FiveEYZ opened #834 "[1.10.2] crash ConcurrentModificationException"
i did a /rtp from the plugin Nucleus, server crashed when loading destination

using:
forge-1.10.2-12.18.1.2061-universal
1.10.2-2052-5.0.0-BETA-1673
and `all the mods` listed in the crash-report

https://gist.github.com/FiveEYZ/f15c7a5793c55f751ead9bd2126711cf

here kind of the same crash again, but much longer:
https://gist.github.com/FiveEYZ/6188f7ba125d394f9a4f66fbd25042ba

[2016-08-15 17:10] 5igm opened #835 "Error feedback about movement event"
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-15 17:13] Minecrell commented on #835
The plugin you downloaded was built for SpongeAPI 5.0 (1.10.2 builds of SF) and is not compatible with SpongeForge 1.8.9. You may need to download a different version or an older build.

[2016-08-15 17:13] #835 closed

[2016-08-15 17:14] Deamon5550 commented on #831
Duplicate #798

[2016-08-15 17:14] #831 closed

[2016-08-15 18:36] 5igm opened #836 "[1.10.2]Sponge is not compatible with Nomadic Tents"
MC: 1.10.2

Forge: forge-1.10.2-12.18.1.2026-universal
spongeforge-1.10.2-2044-5.0.0-BETA-1649
Nomadic Tents: NomadicTents[1.10.2]-7.01
[code]

[2016-08-15 18:37] 5igm commented on #833
spongeforge-1.8.9-1890-4.2.0-BETA-1666

[2016-08-15 18:42] FiveEYZ commented on #836
update forge to 2044, the spongeforge u are using require forge 2044

[2016-08-15 19:51] bloodmc commented on #836
This was already fixed. Update to latest SF build.

[2016-08-15 19:51] #836 closed

[2016-08-15 20:39] bloodmc commented on #775
@dakattack I cannot reproduce this. Open another ticket if you reproduce it with latest builds.

[2016-08-15 20:39] #775 closed

[2016-08-16 01:41] cartman-2000 opened #837 "[1.10.2] Error when joining a server on an unloaded world."
You get this error when joining a server when you were last on a world that is currently unloaded on the server. The server also doesn't try to load the world when the player connects to the server. There's some similarity to this report #825, but this is for a world that does exist, but is in an unloaded state, the idea would that the world would load on demand when the player enters the world.

[2016-08-16 05:37] cartman-2000 commented on #826
Technically speaking there is a "workaround" for this, you could throw an item in the portal before going through it, that will cause the world to load, and you won't get DC'd when you go through, if you go through before the time it unloads again.

[2016-08-16 14:31] gabizou commented on #826
This was already fixed. Forgot to link the issue in the commit.

[2016-08-16 14:31] #826 closed

[2016-08-16 14:33] jk-5 commented on #826
Is the fix already in SpongeForge bleeding?

[2016-08-16 14:34] gabizou commented on #826
Yes.

[2016-08-16 14:34] jk-5 commented on #826
Ok. Thanks

[2016-08-16 14:37] gabizou commented on #833
This is a plugin's event listener NPE  not sponge.

[2016-08-16 14:37] #833 closed

[2016-08-16 14:47] 5igm opened #838 "Error feedback"
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-16 15:03] 5igm opened #839 "Error feedback"
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-16 15:53] 5igm commented on #839
[code]

[2016-08-16 15:53] 5igm commented on #839
[code]

[2016-08-16 15:53] 5igm commented on #839
[23:51:40] [Server thread/ERROR] [Sponge/]: Could not pass ClickInventoryEvent$Shift$Primary$Impl to org.spongepowered.mod.plugin.SpongeModPluginContainer@6d614690
java.lang.NullPointerException
	at io.github.nucleuspowered.nucleus.dataservices.GeneralService.getBlacklistedTypes(GeneralService.java:59) ~[GeneralService.class:0.7.1-SNAPSHOT]
	at io.github.nucleuspowered.nucleus.modules.blacklist.li

[2016-08-16 16:08] ST-DDT commented on #838
This looks like a plugin issue:
[`FoodHistory#get(EntityPlayer)`](https://github.com/squeek502/SpiceOfLife/blob/1.8.9/java/squeek/spiceoflife/foodtracker/FoodHistory.java#L223)
The passed player seems to be `null`.

[2016-08-16 16:24] ST-DDT commented on #839
@5igm The first looks like its a plugin issue, but i cannot verify that since I cannot find the corresponding source code of that plugin. Might be caused by this plugin: https://minecraft.curseforge.com/projects/hide-names

@5igm The second one looks like a different error. But I cannot investigate it without more context. But from the stacktrace I would say, its either a bad plugin  config or a p

[2016-08-16 16:40] gabizou commented on #839
These seem to be all plugin issues.

[2016-08-16 16:40] #839 closed

[2016-08-16 16:40] #838 closed

[2016-08-16 19:02] jk-5 commented on #825
Before you could prevent this by changing the World the player spawns in in an ClientConnectionEvent.Login, but now the server throws this error before calling that event.

[2016-08-16 19:41] mbax commented on #832
https://github.com/McJty/RFToolsDimensions/issues/26

[2016-08-16 19:46] Rhonim commented on #817
Moving this issue to SpongeCommon.

[2016-08-16 19:46] #817 closed

[2016-08-16 19:47] gabizou commented on #832
Please include steps to reproduce. A stack trace and an issue doesn't really help much.

[2016-08-16 19:51] tenten8401 commented on #832
Create a dimension, Any kind, teleport to it, and restart the server.

[2016-08-17 01:15] cartman-2000 opened #840 "[1.10.2] Ghost entities bug."
I've been having some issues, over the past few days, with Invisible entities(ghost entities) on the server, one's that can't be seen on the client, and block the placement of blocks in the spot the entity is in. By the looks of it, the ghost entities are ones that had previously died, but for some reason, didn't get removed, and all I've seen so far, the entities have also been on fire. The ghost

[2016-08-17 06:47] 5igm commented on #839
@ST-DDT Thank you very much. May kind people be blessed with life-long peace .

[2016-08-17 09:08] FiveEYZ opened #841 "[1.10.2] Nether issue"
So here is whats going on

I make sure im in creative mode then I go to the nether and I will be in survival when I arrive

I died in the nether and notice this error in the latest.log
https://gist.github.com/FiveEYZ/25dd150950fe31c9e2adab118e4f7c18
The death didn't return me to the overworld and I didn't have a bed set (this might be a nucleus issue?).

Now here comes the weird part
- I send my f

[2016-08-17 10:01] Nentify commented on #822
Fixed in latest SpongeForge

[2016-08-17 10:01] #822 closed

[2016-08-17 13:59] floh22 opened #842 "[1.10.2] Startup crash when data folder is present"
Spongeforge causes the server to crash if there are any data folders present in the world folder.

Deleting the data folders in all worlds and then starting the server works fine.

Issue present on all recent spongeforge builds on 1.10.2, including bleeding bleeding branch.
Happens with a clean install

Crashlogs:

http://pastebin.com/wXxDuRYq

[2016-08-17 14:54] ziceptor opened #843 "[1.8.9 and 1.10.2] Couldn't look up profile properties for com.mojang.authlib.GameProfile"
Without spongeforge there are no errors!
If I add it to the mods folder, then in the log: http://pastebin.com/F503z3QR
Immediately after starting the server.
How to fix?

spongeforge-1.10.2-2052-5.0.0-BETA-1675.jar
forge-1.10.2-12.18.1.2052-universal.jar

[2016-08-17 15:37] ziceptor commented on #843
Hmmm.. Have previously installed the plugin ChangeSkin.jar. He may have made to the world changes. I installed it and the error disappeared. Maybe it's a coincidence.

[2016-08-17 15:47] Aaron1011 commented on #842
What version of Forge are you using?

[2016-08-17 15:54] games647 commented on #843
Do I understand that correctly that after you installed ChangeSkin you won't get this error?

[2016-08-17 15:59] FiveEYZ commented on #843
Seen this error to, went to the nether and died then this error appeared:
https://gist.github.com/FiveEYZ/25dd150950fe31c9e2adab118e4f7c18

[2016-08-17 16:01] games647 commented on #843
@FiveEYZ What plugins do you use?

[2016-08-17 16:44] FiveEYZ commented on #830
this issue just appeared for me

we were 3 people on the server and all of us went to the end

when 1 of us did a /spawn (command from nucleus) this happen: https://gist.github.com/FiveEYZ/fcd39b0aca1c27814eaecd69befe689b

i know it dosen't show any "sponge" in the crash but i think its related to all the dimension changes that were made recently

[2016-08-17 17:08] FiveEYZ commented on #841
sorry for this, i had projectworlds-5.0.0-0.10.3.jar installed and it cause most of these issues... will report to there

[2016-08-17 17:08] #841 closed

[2016-08-17 21:33] Nentify opened #844 "[1.10.2] Buggy with Cyberware"
[code]

[code]

One example - Remove legs in robo-surgeon and relog. You'll be able to move normally again but visually have no legs. I'd recommend installing and just trying the mod and you will encounter bugs. I can provide more information/pack/test server I have up atm if it's easier.

[2016-08-17 22:29] floh22 commented on #842
Using build 2065, though I haven't had any different experiences with previous builds

[2016-08-18 16:54] 5igm opened #845 "Suggestion: grant highest permission to command block"
Now, if players don't have permission, command block do nothing for them. I think it is better to grant all permission to command block.

[2016-08-18 20:17] bookerthegeek commented on #845
I think this is a stupid idea that will cause servers who use command blocks a multitude of issues.

[2016-08-18 20:29] 5igm commented on #845
I think if sponge set "only op in creative mode can edit commandblock" as precondition, this idea will not cause problems. @bookerthegeek

[2016-08-18 20:31] bookerthegeek commented on #845
What is wrong with the way it is now?

[2016-08-18 20:45] 5igm commented on #845
I tried to make several questions for players before they begin the game to ensure players can get all of the informations they need to know. In the past, I used customnpc to help questions working. If the player choose correct answer, he/she will be teleporated to next question until finishing all of the questions. If the player answers wrongly, he/she will be teleporated to last question positio

[2016-08-18 21:44] LuxusDarkangel commented on #767
This issue was driving me mad, so did a lot of testing with each feature to find what was causing it.

How to reproduce:
1.- Get any drive from Correlated Potentialistics.
2.- Right click with it to open the disk GUI.
3.- Click the Partitioning mode button.

[2016-08-18 21:57] JBYoshi commented on #845
@5igm Sponge already does this.
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/command/MixinCommandBlockSource.java#L54

[2016-08-19 00:14] LuxusDarkangel commented on #767
Using this patch fixes the issue: https://unascribed.com/f/b52c88f4_CorrelatedPotentialistics-1.1.3-spongefix.jar

[2016-08-19 00:14] #767 closed

[2016-08-19 07:34] 5igm commented on #845
@JBYoshi Sorry, I am a little confused. Is that mean my suggestion has been adopted or Sponge already has this function?

[2016-08-19 11:58] JBYoshi commented on #845
@5igm Sponge already has this function. Unless you take away permissions via a permissions plugin, a command block will have full permissions.

[2016-08-19 14:06] Haidyn opened #846 "Error when placing 3D opencomputers prints"
Console error every time a 3D print is placed in the world.
http://pastebin.com/raw/xNB9uCuE

[code]

[2016-08-19 15:03] #845 closed

[2016-08-19 16:32] gabizou commented on #846
Update SF, this is partially fixed already.

[2016-08-19 16:32] #846 closed

[2016-08-19 18:25] Haidyn opened #847 "[1.10.2] Teleporting between worlds doesn't seem to work properly"
When teleporting between worlds, it seems to not update the world properly for the client or something.

For example, in the video, The One Probe works fine, but teleporting to the `market` world is showing blocks from the main world and vice versa. This is also reproducible with the Ender IO coordinate picker; the dimension name is always the world you first log in to, so I believe it may be an i

[2016-08-19 19:19] LuxusDarkangel opened #848 "[1.10.2] Move player from non registered dimensions to the overworld instead of kicking them."
If a player disconnects in a world and you unload it, instead of moving them to the overworld they will get kicked, resulting in players stuck until you delete his .dat

[2016-08-19 20:44] Deamon5550 commented on #848
Duplicate #837

[2016-08-19 20:44] #848 closed

[2016-08-20 01:45] Tencao opened #849 "[1.10.2] Crash on latest sponge version - 1676"
When I use the recommended forge for sponge alongside the latest sponge, it crashes on load.

I have no mods other than sponge, and only two plugins, BungeeTabList, and SpongyCord.

http://pastebin.com/CZ8UJya6

I would also like to say that this is a fresh install, with no world generated

[2016-08-20 01:54] Deamon5550 commented on #849
@gabizou https://github.com/SpongePowered/SpongeCommon/commit/cd9655f83216f0c206543b28d58e46e607553e6c#diff-aa177db6b85f010b8ddd5019f285ab5aR95

[2016-08-20 02:08] #849 closed

[2016-08-20 02:53] FiveEYZ commented on #849
getting this using build 1677

https://gist.github.com/FiveEYZ/0bb9b3a5ffcd0e03bbead8f1a91850d6

[2016-08-20 03:52] Deamon5550 commented on #849
@FiveEYZ It was fixed for real in build 1678, update to that.

[2016-08-20 06:19] ryantheleach commented on #847
Source for the mod: 1.10 branch https://github.com/McJty/TheOneProbe/tree/1.10/src/main/java/mcjty/theoneprobe

[2016-08-20 06:29] ryantheleach commented on #767
For anyone curious: https://github.com/elytra/CorrelatedPotentialistics/issues/32

[2016-08-20 08:42] Tencao opened #850 "[1.10.2] Exception exiting phase"
http://pastebin.com/x5nn3kgs

Forge version - 1.10.2-12.18.1.2052
Sponge version - 1.10.2-2052-5.0.0-BETA-1678

[2016-08-20 16:30] hunter688 commented on #850
same problems, reverting to 1675 solve the issue

[2016-08-21 01:41] #850 closed

[2016-08-21 02:07] SnowBlitzz opened #851 "Interact error spamming console"
http://pastebin.com/PyCKuhcf - yes you might tell me to update to latest. I was on the latest gp b66 and sf 1666 for a week now and keep getting this, just downgraded to gp56 and sf1653 just now to test if it still happens, thus this console log.

[2016-08-21 02:43] gabizou commented on #851
Could you paste the fml-log?

[2016-08-21 02:57] bloodmc commented on #851
20.08 22:04:32 [Server] INFO at com.helion3.keys.listeners.InteractBlockListener.onUse(InteractBlockListener.java:49) ~[InteractBlockListener.class:1.2+unknown-b0.git-unknown]
20.08 22:04:32 [Server] INFO at java.util.Optional.get(Optional.java:135) ~[?:1.8.0_91]

Prism's issue. Report to them.

[2016-08-21 02:57] #851 closed

[2016-08-21 05:35] 5igm opened #852 "Is this error related to sponge?"
This error causes buttons and pressure plate cannot be reset to inactivated status. It means if I press a button, the button will be activated forever until being broken.
spongeforge-1.10.2-2052-5.0.0-BETA-1678
forge-1.10.2-12.18.1.2068-universal
[code]

[2016-08-21 09:45] 5igm commented on #852
https://youtu.be/40IIrGTwH6s

[2016-08-21 11:00] hunter688 commented on #852
update to latest spongeforge

[2016-08-21 12:48] #852 closed

[2016-08-21 12:53] SnowBlitzz commented on #851
Uhmm I'm not using Prism atm

[2016-08-21 15:05] bloodmc commented on #851
@SnowBlitzz I meant to say "Keys".

[2016-08-21 20:59] Tencao opened #853 "[1.10.2] Exception in server tick loop"
Sponge version - 1.10.2-2052-5.0.0-BETA-1680
Forge version - 1.10.2-12.18.1.2052

Crash Report - http://pastebin.com/fX1ZnJhb
Full Log - http://pastebin.com/42QDCf7z

I have confirmed that this issue does not happen without sponge, and it crashes before fully loading

[2016-08-22 00:21] Tencao commented on #853
I would also like to add that this bug did not exist a few builds ago (1678)

[2016-08-23 04:00] Rasgnarok opened #854 "[1.10.2] SpongeForge 1675 cannot find WE(forge) block changes"
So, at this point, it is getting too hard to actually use the plugin without coming into this issue, that spams the console for a solid 5 minutes and makes everyone disconnect.

I am running:
[code]

If anyone understands what is going on, you are very, very welcome. I have seen the error across sf versions _(after versions 1629)_, meaning this isn't just one version's problem. It seems to do this

[2016-08-23 04:50] FiveEYZ commented on #854
have you tried the worldedit made for sponge?

[2016-08-23 07:51] LotuxPunk opened #855 "Crash at launch [1.10.2 - 1681 server]"
Hello, can you help me please ? :)

http://pastebin.com/TQWCvY80

[crash-2016-08-22_23.00.59-server.txt](https://github.com/SpongePowered/SpongeForge/files/431917/crash-2016-08-22_23.00.59-server.txt)

[2016-08-23 07:54] #825 closed

[2016-08-23 07:54] #832 closed

[2016-08-23 07:54] #837 closed

[2016-08-23 07:54] #847 closed

[2016-08-23 07:54] #853 closed

[2016-08-23 07:55] bloodmc commented on #830
@Eufranio Please test this issue with latest build.

[2016-08-23 08:10] FiveEYZ opened #856 "[1.10.2] build 1682, failed to start"
The error:
http://pastebin.com/raw/xjsJgBvK

Full log:
http://pastebin.com/raw/0zBxkaVB

[2016-08-23 09:20] Deamon5550 commented on #856
Fixed in build 1683 once it builds.

[2016-08-23 09:20] #856 closed

[2016-08-23 09:41] hunter688 commented on #855
step by step remove mods, then you can find which mod causing problem

[2016-08-23 10:04] LotuxPunk commented on #855
But, on 1675, the server don't crash

[2016-08-23 12:06] ziceptor commented on #843
@games647 I'm not sure. Maybe coincidence. There are no more errors.

[2016-08-23 12:06] #843 closed

[2016-08-23 14:08] LuxusDarkangel commented on #855
It's by far easier to find the issue knowing which mod causes It, and the way to find It is removing mods one by one.

[2016-08-23 14:19] gabizou commented on #855
[code]
The forge build that that version of SF was built against is not matching the forge build you're running the server off of. I'd recommend trying with Forge 2052 and see if it still occurs, otherwise, update to the latest Forge and SF (we updated versions), and test against that.

[2016-08-23 14:49] bloodmc commented on #855
dupe #853

[2016-08-23 14:49] #855 closed

[2016-08-23 14:55] LotuxPunk commented on #855
Ok ! Thank you for your awesome job ! ;)

[2016-08-23 15:41] LotuxPunk commented on #854
@FiveEYZ Do you have a link ?

[2016-08-23 15:46] Rasgnarok commented on #854
No, since this very same WE is fine without spongeforge - I tested on singleplayer. Meaning this is a spongeforge issue.

[2016-08-23 16:49] FiveEYZ commented on #854
@Rasgnarok what do u mean? ofc it works fine without SF, cause it was built only against Forge

They also have a jar built against sponge and here is the link to the one im using:
http://builds.enginehub.org/job/worldedit/9352

then take the one named ` worldedit-sponge-mc1.10.2-6.1.4-SNAPSHOT-dist.jar`
this one gets updated to reflect the changes made to sponge

here ya go @LotuxPunk

[2016-08-23 16:53] Rasgnarok commented on #854
I know, but the ForgeWE should be compatible with Spongeforge. Trying a sponge version means that spongeforge is no longer made to be compatible with core forge plugins.

Hence why I am reporting a bug that needs fixing - only if it is impossible to fix should you ever jump plugins because of a bug.

[2016-08-23 17:00] LotuxPunk commented on #854
Thank you @FiveEYZ !

[2016-08-23 17:16] bloodmc commented on #842
Unable to reproduce this issue using latest builds.

[2016-08-23 17:16] #842 closed

[2016-08-23 17:17] wizjany commented on #854
Do you happen to be running in //fast mode?

[2016-08-23 17:30] Rasgnarok commented on #854
Did not know that was an option - no I am not.

[2016-08-23 18:08] LuxusDarkangel opened #857 "[1.10.2] EnderIO's Broken Spawner not dropping."
Using SpongeForge and EnderIO results in Broken Spawner not dropping. Works fine only with Forge.

Steps:

1.- Place a vanilla Mob Spawner (ID: 52)
2.- Break it using a pickaxe.
3.- It should drop a Broken Spawner, but it doesn't.

Versions: Latest SpongeForge, EnderIO and EnderCore.

EDIT: Relevant code: https://github.com/SleepyTrousers/EnderIO/blob/c70377e3e3325f701630d9cd46b70257a41fcf2f/src/m

[2016-08-23 20:40] bloodmc commented on #857
@LuxusDarkangel  Did you test without any plugins?

[2016-08-23 23:37] gabizou commented on #857
I'm pretty sure I have an understanding what's going on. I'll need to test my theory but it more than likely has to do with harvest events being misfired for forge mods.

[2016-08-23 23:39] gabizou commented on #854
What did you use to perform the world changes? From what it looks like, it's just a chat event getting executed, not a command, which is why Sponge is flipping out because it's not exactly expected for world block modifications to take place due to a chat event.

[2016-08-24 00:18] Rasgnarok commented on #854
Well, WorldEdit works with commands, say //set water (having selected with the wand stone). I am unsure if that is what you are referring to - nothing more needs to be done to reproduce the bug. The usage of the double slash here is default-worldedit.

As soon as the command will change water/lava, console flips out.

[2016-08-24 01:09] bloodmc commented on #769
@LuxusDarkangel This is a mod issue. Tell the dev to add a NPE check.

[2016-08-24 01:09] #769 closed

[2016-08-24 01:11] bloodmc commented on #820
@hunter688 apparently this was fixed by mod dev.

[2016-08-24 01:11] #820 closed

[2016-08-24 02:56] LuxusDarkangel commented on #857
I know you're already looking into It, but yeah @bloodmc, I forgot to say It, but I always test this kind lf issues without plugins or other mods not directly related.

[2016-08-24 10:26] hunter688 opened #858 "Exception trying to process over a phase / attempting to capture a block change"
spongeforge build 1685
worldedit-forge-mc1.9.4-6.1.4-SNAPSHOT

http://pastebin.com/NpvRhcuj

[2016-08-24 10:35] hunter688 commented on #858
hmm duplicate #854

[2016-08-24 10:35] #858 closed

[2016-08-24 12:13] Nentify opened #859 "[1.10.2] Keeping entity Villager that already exists with UUID ... Spam"
When launching the server, this spams when SpongeForge is installed:

http://pastebin.com/4jYyZJXb

It stops after a little while and normally stops after the first user logs in. Sometimes it's about an XPOrb as well. I'm not sure where/what this villager/xp orb is or why it's doing this though.

When I remove SpongeForge, the messages appears once:

http://pastebin.com/C2kxK4St

Edit: When it spa

[2016-08-24 14:18] gabizou commented on #859
Any mods?

[2016-08-24 14:25] Nentify commented on #859
If that's so, I'll have a poke around with the mods and get back to you. Thank you!

[2016-08-24 15:59] bloodmc commented on #859
This is probably related to
https://github.com/SpongePowered/SpongeCommon/issues/872

[2016-08-24 16:27] caseif commented on #720
It appears this also occurs on SpongeForge 5.0.0 w/ Forge #2073. Stack trace follows:

[code]

[2016-08-24 17:30] DPxKnightxZero opened #860 "Crash on start - Not sure why"
https://gist.github.com/DPxKnightxZero/a8b7f8b526a88f5d22f8a04d339a6919

[2016-08-24 17:43] 5igm opened #861 "Error feedback about Command_block"
If there are two or more people in server. command block cannot execute the command used @p. For example, I typed "/tppos @p -175 182 -110" in command space. If there is only one player in the server, command block can transport the player to the position of -175 182 -110. If there are two or more players in the server, command block will just warn "[00:27:37] Usage: /tppos <player> [<world>] x(-2

[2016-08-24 18:03] bloodmc commented on #860
You are trying to load a mod that is attempting to load client classes on server side. Not a sponge issue.

[2016-08-24 18:03] #860 closed

[2016-08-24 20:28] MastaC729 opened #862 "Sponge doesn't recognize a thrown Eye of Ender as a valid EntityFire Item"
The following is produced in console after I throw an Eye of Ender:

http://pastebin.com/qvrZeTu6

(Sorry that the pastebin looks like crap, I think it doesn't like how big the box is haha)

Then because of this, the eye of ender does not fully drop to the ground.

[2016-08-25 03:06] bloodmc commented on #830
reopen if this is still an issue.

[2016-08-25 04:37] bloodmc commented on #768
This was apparently fixed a few builds ago. Update to latest.

[2016-08-25 04:37] #768 closed

[2016-08-25 04:40] #840 closed

[2016-08-25 04:40] #859 closed

[2016-08-25 05:24] bloodmc commented on #854
@Rasgnarok The latest build should fix this. Please confirm.

[2016-08-25 05:53] hunter688 commented on #854
I think issue is resolved, tested similar #858 with latest SF now.

[2016-08-25 06:28] #854 closed

[2016-08-25 13:01] 5igm opened #863 "Player is transported into the wall"
5igm

dualspiral

https://github.com/NucleusPowered/Nucleus/issues/329#issuecomment-242373842

I have reported this problem to the plugin author, and he said it is caused by sponge. When players tried to use random transportation in server, sometimes players will be transported into the wall and be killed.

[2016-08-25 13:19] 5igm commented on #863
https://youtu.be/gBOMgqN0NBk

[2016-08-25 14:35] Pymous opened #864 "[1.10.2] Random crash related to WorldGeneration (Chunk / Populating)"
Hey !

I manage a Pixelmon Server, using Sponge Forge, and we have a lot of crashes (2-3 every hour, sometimes 3 in a row in the span of 10 minutes).

All of them either talk about World or Chunk, and almost all reports are different, so I will add some, but here is the list for the day : https://files.pymous.xyz/MC/

[crash-2016-08-25_01.49.50-server.txt](https://github.com/SpongePowered/SpongeFo

[2016-08-25 15:42] Zidane commented on #863
@5igm @dualspiral

The safe teleportation code is pretty wretched in Sponge. @dualspiral I'd appreciate it if you wanted to re-write it and submit a PR (as your plugin uses it).

[2016-08-25 15:43] dualspiral commented on #863
@Zidane Alrighty, I'll see what I can do when I get time.

[2016-08-25 17:04] Dysthymic commented on #864
We're getting this exact same issue. Exact same crash report as well. Using forge 2073 and sponge 2686

[2016-08-25 17:58] Deamon5550 commented on #864
Obviously you are generating chunks and for some reasons its taking longer than your watchdog timeout time so the watchdog is killing the server, get some timings data during chunk generation.

[2016-08-25 18:10] Dysthymic commented on #864
max-tick-time=90000
I've raised it a few days ago in an attempt to fix the issue. We're running on an i7-4700K so there really should not be any reason for timeouts for chunk generation. I think it just needs optimized a bit to support the intensive mods such as Pixelmon.
https://timings.aikar.co/v2/?id=8f6c937683df469583236368ec6e002c&section=all

I've contacted the devs there as well about this

[2016-08-25 18:35] phit commented on #864
the watchdog is pretty broken even on vanilla forge, ran into frequent crashes when worldgen happened with [the pack](https://principium.stonebound.net/modlist) i help maintaining
I ended up fixing it by just setting ```max-tick-time=-1``` as recommended by mojang in their bugtracker https://bugs.mojang.com/browse/MC-63590

[2016-08-25 20:18] Rasgnarok opened #865 "[1.10.2] Enchanting - Crash on Illegal Argument"
So, this has been ever since last night - when we started using the `/enchant` with Nucleus, after moving to spongeforge 1683, with Forge 2073.

Server Crash - http://pastebin.com/g6CgTpqA
Server Crash - http://pastebin.com/SXKMP2nA
On world-loading - http://pastebin.com/24XmWhM0

**EDIT**: Offending items are not able to be deleted through creative panel, Player needs to have inventory cleared.

[2016-08-25 20:21] kashike commented on #865
https://github.com/SpongePowered/SpongeAPI/issues/1337
https://github.com/SpongePowered/SpongeAPI/issues/1338

[2016-08-25 20:25] Rasgnarok commented on #865
Lovely, known bug. Hopefully the extra info in the last pastebin will help resolving it.

[2016-08-26 03:01] TheHimayLegend opened #866 "tbh idk what happened but pixelmon devs told me to report here"
http://pastebin.com/fvPeiS6c

[2016-08-26 03:02] TheHimayLegend commented on #866
one of my my mods said they killed the ender dragon

[2016-08-26 07:36] ZephireNZ commented on #866
I can't replicate this with just Forge 1890 and Sponge 1662. Went to end, killed dragon, and hopped back in the portal with no problems (and the part in the code the error occurs was fine for me).

I assume this happened while in the end? If possible could you try removing mods and see if that fixes it. The problem appears to be that a world wasn't registered properly and so Sponge was unable to f

[2016-08-26 09:22] Nentify commented on #859
Maybe related to https://bugs.mojang.com/browse/MC-95649 ?

Still happening with XPOrbs and sometimes villagers on latest SF.

[2016-08-26 15:54] aglarcz opened #867 "shop invisible items"
Hello,
i am using https://forums.spongepowered.org/t/adminshop-v1-8-1-server-shops/8867 and items bought are not invisible in inventory, players have to relog to see them. Propably api problem as plugin author said.

[2016-08-26 16:18] kinggoesgaming commented on #867
Inventory sync issues. AFAIK @mumfrey will get it sorted sometime

[2016-08-26 22:55] Nentify commented on #864
Just started getting this on latest SF/Forge versions as well.

[2016-08-26 23:07] Deamon5550 commented on #864
@bloodmc found some points where cause tracking was not being properly disabled during generation that may help this.

[2016-08-27 01:46] SnowBlitzz opened #868 "Several Crashes"
Attached below
[crash-2016-08-25_22.13.21-server.txt](https://github.com/SpongePowered/SpongeForge/files/440396/crash-2016-08-25_22.13.21-server.txt)
[crash-2016-08-25_22.14.29-server.txt](https://github.com/SpongePowered/SpongeForge/files/440397/crash-2016-08-25_22.14.29-server.txt)
[crash-2016-08-26_06.51.18-server.txt](https://github.com/SpongePowered/SpongeForge/files/440398/crash-2016-08-26_0

[2016-08-27 02:11] Deamon5550 commented on #868
Please upload these to gist or pastebin or anything that doesn't require downloading files to our computers in order to view them.

[2016-08-27 03:32] SnowBlitzz commented on #868
I'll assure you they are safe, but alright.

1. http://pastebin.com/WZm8kijM
2. http://pastebin.com/5MXFb5fx
3. http://pastebin.com/QmWFFSF3
4. http://pastebin.com/xPHR9GFZ
5. http://pastebin.com/sgETQ6tR
6. http://pastebin.com/FNjTZEF0
7. http://pastebin.com/wTVkT0ZL
8 similar to 7 so i didn't paste it
9. http://pastebin.com/UbxVkx5R

These are all different btw and all happened within 12 hours

[2016-08-27 04:59] Rasgnarok opened #869 "[1.10.2] Boats are 12.6% of tick"
Finally got my sponge timings working (s/o to Aikar for making this a thing), and I have somehow found that `minecraft:boats` are taking a whooping 12.6% of a server tick, greater than `tile.Entity` check or `BlockUpdates`.

Here's the report:
https://timings.aikar.co/v2/?id=0c1922d4d6284191bec8bbc45993a4cc&section=lagsummary

**Running:**
`spongeforge-1.10.2-2073-5.0.0-BETA-1683.jar
Nucleus-0.7.2

[2016-08-27 05:24] ryantheleach commented on #869
check for elytra launchers using boats.

[2016-08-27 07:56] Aaron1011 commented on #869
This is most likely an issue in Vanilla(possibly caused by the collision detection boats now do to auto-mount entities). However, we could look into ways to improve the performance in Sponge.

[2016-08-27 23:40] Rasgnarok opened #870 "[1.10.2] minecraft:stop doesn't stop"
Ever since moving to 1683, I have had to deal with my server frequently being unable to shutdown by itself, through console or in-game command. Normally, you can wait around 2-3 minutes (which is still too long), and it will shutdown eventually, but more often that needed, I have to manually kill screens or java processes. [So, here's an example of how long it can take for stop to work (and in thi

[2016-08-28 00:42] GershonR opened #871 "[1.8.9] Netty Error"
SpongeForge 1.8.9 - 4.2.0-BETA-1666

After this the server stops responding

[code]

[2016-08-28 02:27] ZephireNZ commented on #871
Honestly it seems more like a networking problem either on server/client end than a Sponge problem - broken pipes and timeouts. If possible could you test if the problem still happens with vanilla MC?

[2016-08-28 12:03] SnowBlitzz commented on #871
Been happening a lot on my server as well.

[2016-08-28 13:41] GershonR commented on #871
Unfortunately not because I run a fairly large server on a shared host so I can't experiment with vanilla

[2016-08-29 13:07] ziceptor opened #872 "[1.10.2] Pistons are flashing"
Pistons are flashing. During the return movement.  [video](https://cloud.mail.ru/public/DvoD/NtmXKGks1)

[2016-08-29 19:51] Rasgnarok opened #873 "[1.10.2] Rabbits are 2.43% of server tick"
Title says it all - whilst looking into my server's timings, I found that rabbits seem to cause quite a fair amount of issues, especially in high quantities. With a normal amount of them (eg, only as natural spawns) they count for [2% of the server tick](https://gyazo.com/f05567258ebf42c9fcb6ba02ba854835), more than any other mob.

While this might be core Minecraft issues, could Spongeforge deal

[2016-08-29 20:10] mbax commented on #865
Recently known bug, to be fair. For now, don't enchant with a value higher than 32,767.

[2016-08-29 23:44] LuxusDarkangel commented on #769
Vazkii just fixed this, update to Psi-r1.0-38 to get the fix.

[2016-08-29 23:49] LuxusDarkangel commented on #766
@gabizou Just reminding this exist, there's a workaround for this, but it's very dirty and allows players to cheat levels.

[2016-08-30 00:02] bloodmc commented on #873
[+]Minecraft::tickEntity - minecraft:rabbitcount(7044) total(0.10% 0.338s, 0.15% of tick)  avg(0.05ms per - 0.07ms/1.52 per tick)

0.10%, always look at the entire duration and not just a spike. Also, entity activation settings are in config for a reason, use them if you want to improve performance with entities. Read docs on how to configure.

[2016-08-30 00:02] #873 closed

[2016-08-30 01:59] gravityfox commented on #751
As of the latest commit on master, this issue is back again.

[2016-08-30 05:04] gabizou commented on #870
The log is showing that nucleus is performing the shutdown command, not the vanilla stop command.

[2016-08-30 05:20] ryantheleach commented on #870
https://github.com/NucleusPowered/Nucleus/blob/1aed4e9912b0f492f12a35caed609201c4028117/src/main/java/io/github/nucleuspowered/nucleus/modules/admin/commands/StopCommand.java#L38

[2016-08-30 10:51] 5igm opened #874 "[1.10.2]People can drop items before they login into the account"
The problem is still existing. Now, if people use "q" to try to drop some items before login, items will not be dropped on the ground, but items will be deleted.
https://github.com/games647/FlexibleLogin/issues/35
spongeforge-1.10.2-2073-5.0.0-BETA-1689

[2016-08-30 13:35] ryantheleach commented on #874
Possible duplicate: https://github.com/SpongePowered/SpongeAPI/issues/1346

[2016-08-30 14:17] kosakriszi commented on #872
I may be wrong, but this is vanilla rendering behavior, and is not an issue with SponeForge.

[2016-08-30 14:29] Cybermaxke commented on #872
@kosakriszi This isn't a rendering issue, when the piston is supposed to retract, the block state is set. So the retracting animation is never played, causing the flash.

[2016-08-30 14:40] kosakriszi commented on #872
@Cybermaxke So... a rendering issue? :joy:

[2016-08-30 15:01] aglarcz opened #875 "gravel crash"
Hello,
using build 1653 i got this crash on my server: http://pastebin.com/raw/fUbupsXP

I googled and find its sponge related, happening when chunks with gravel are generated, is it true? Any fix for that?

[2016-08-30 15:16] ryantheleach commented on #872
@kosakriszi I can't reproduce this on vanilla.

[2016-08-30 16:44] ST-DDT commented on #875
Could you test it again with the latest build?
http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/
Maybe this helps, although there aren't any changes in that class you are having issues with.

Ref: [CauseTracker.java#L1112](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/event/CauseTracker.java#L1112)

[2016-08-30 16:54] bloodmc commented on #751
@gravityfox
[12:53:15] [Server thread/INFO]: Saving chunks for level 'world'/Overworld
[12:53:15] [Server thread/INFO] [STDOUT]: [org.spongepowered.mod.event.SpongeEventHooks:onWorldUnload:54]: FORGE WORLD UNLOAD , world = net.minecraft.world.WorldServer@c635d13

Works fine, something you are doing wrong.

[2016-08-30 16:56] bloodmc commented on #751
Hrmm, plugin may not be receiving this event. Confirming....

[2016-08-30 17:18] #751 closed

[2016-08-30 18:37] gravityfox commented on #751
Eyy lmao it works finally.

Thanks blood. <3

[2016-08-30 21:19] kosakriszi commented on #872
@ryantheleach Okay, then I was wrong. Thanks for the confirmation!

[2016-08-31 08:09] superon commented on #872
i can reproduce this with OptiFine;)

[2016-08-31 13:44] Rasgnarok commented on #870
I have sent it over to Nucleus as well, and they've reported the same issue. This wasn't causing a problem until I updated to `sf 1683`, so this is why I am here and not there.

[2016-08-31 19:36] 5igm opened #876 "Server connection"
Sometimes it is very hard to connect to the server. Is it caused by sponge?
spongeforge-1.10.2-2073-5.0.0-BETA-1689

[code]

[2016-08-31 20:20] mkiplm commented on #798
anyone have fix, so players dont have to have keepinventory on.

[2016-09-01 14:46] Nentify commented on #827
Posted the same issue on SpongeCommon with my findings: https://github.com/SpongePowered/SpongeCommon/issues/891

Hopefully something can be sorted.

[2016-09-02 00:33] Rasgnarok opened #877 "[1.10.2] EntityJoinWorldEvent Error"
I have been having a recurring issue with Sponge not liking the handling of a forge mod's EntityJoinWorldEvent, giving an error on console that rather spams the place. Here's the [pastebin of the error](http://pastebin.com/JvmdghnC). It needs to be relaying the event, yet it struggles to do so. If it is of any relevance, the handle of the event is often cancelled, which might be the actual issue.

[2016-09-02 13:23] Hiroku opened #878 "Placing signs causing exorbitant errors"
Excuse the very long error, but I've confirmed this to exist on 1692 (1.10.2). Happens on my own server and also got it confirmed on another server. Non-fatal, but bloody obnoxious. Thanks you~
http://pastebin.com/LFFHmD5L

[2016-09-02 15:15] Jasems commented on #857
If it helps in fixing, I do notice the broken spawner drop in the air for a split second, then vanish.

[2016-09-02 16:47] lenis0012 opened #879 "[1.10.2] TickNextTick exception"
I have an issue on SpongeForge when i paste in relatively small schematics,and its not running out of ram.
Our server runs on 16GB of ram and a perm gen of 512MB.
WorldEdit: 6.1.4-SNAPSHOT (Sponge API edition)
Sponge: 1.10.2-2073-5.0.0-BETA-1687
Forge: 12.17.1.2073

Error: http://pastebin.com/Zrf9VT5P

Note: I first reported this to WorldEdit, but i was told this is a sponge issue.

[2016-09-03 07:05] LotuxPunk opened #880 "[1.10.2]Crash with RFTools"
Hello, can you help me please ? :)
http://pastebin.com/YtVMDQmh

[2016-09-03 07:06] LotuxPunk commented on #880
I'm on 1695 SpongeForge build & 2073 Forge Build

[2016-09-03 13:16] Nentify commented on #878
Getting this with the latest builds too.

[2016-09-03 16:16] #878 closed

[2016-09-03 17:06] ziceptor commented on #872
Not a problem sponge. It affects NoXray. https://cloud.mail.ru/public/8jX6/xm1C9ekid

[2016-09-03 17:14] #872 closed

[2016-09-04 04:05] gabizou commented on #880
Fixed in the latest builds.

[2016-09-04 04:05] #880 closed

[2016-09-04 06:29] ryantheleach opened #881 "Storms not Spawning"
@Tanner69406

https://github.com/Corosauce/weather2/issues/80

1.10 branch https://github.com/Corosauce/weather2/tree/1.10.x/src/main

[code]

[2016-09-04 06:51] theboomer opened #882 "[1.10.2] Ghasts have lost their mojo (fireballs)"
Build 1.10.2 Beta 1698  SpongeForge, JUST FORGE and SpongeForge only, no other plugins or mods
Ghasts make the shooting noise and animation, but no fireball projectile is spit out.

Disable spongeforge, and in forge-only server, the ghast serves up the fireballs just fine.

[2016-09-04 13:53] #863 closed

[2016-09-04 14:32] Nentify commented on #870
Also having this issue, I typed /minecraft:stop to ensure it wasn't nucleus (which I think just logs all commands) and it doesn't work. Experienced it in the recent builds; it worked fine before.

[2016-09-04 14:45] viper2g1 commented on #857
I can confirm this happens, I'm not sure if you need any logs to fix it at this point but I'd be happy to provide some if you do.

[2016-09-04 17:10] #882 closed

[2016-09-04 17:30] Aaron1011 commented on #879
@lenis0012: Can you list the steps you too to reproduce this?

As a side note, the perm gen setting was removed in JRE 8, so setting that won't do anything.

[2016-09-04 17:43] Aaron1011 opened #883 "Command block clock is broken"
Using a command block, it's possible to make a fast redstone clock. However, Sponge currently breaks this.

Steps to reproduce:
1. Place down a command block with this command: `setblock ~1 ~ ~ minecraft:redstone_block 0 destroy`
2. Place down a redstone block +1 blocks away on the x axis. If in doubt, power the command block to see where it places a redstone block. Then, remove the power source,

[2016-09-04 19:24] Aaron1011 commented on #862
I'm unable to reproduce this with the latest SpongeForge.

[2016-09-04 19:24] #862 closed

[2016-09-04 19:30] 5igm commented on #863
@Zidane  Hi. I saw you have closed https://github.com/SpongePowered/SpongeCommon/commit/2365863f1e0b2feda5ba8893b98c0f78601c57d3. Does it mean new safe teleportation will appear in latest sponge?

[2016-09-04 19:36] Aaron1011 commented on #863
@5igm: Yes, that's correct.

[2016-09-04 19:38] 5igm commented on #863
@Aaron1011  Thank you very much. Thanks for your contribution.

[2016-09-04 19:39] Aaron1011 commented on #863
@5igm: Don't thank me, thank @dualspiral :). He's the one who wrote it.

[2016-09-04 19:44] 5igm commented on #863
@dualspiral Thanks for your work very much.(^_^)
And thanks for all of sponge contributors work for sponge as well.

[2016-09-04 20:19] Varijon opened #884 "[1.8.9] Item duplication with itemframes and signs"
When a sign is placed over an itemframe containing an item and the block behind it is broken, both the itemframe and the item will duplicate. This does not occur in vanilla, where the itemframe will stay in the air for a bit there and pop normally after.

A quick gif demonstrating:
http://i.imgur.com/1xx0k7A.gifv

To confirm, made a clean server:
forge-1.8.9-11.15.1.1902-1.8.9-universal
spongeforg

[2016-09-04 21:23] dualspiral opened #885 ""Player has left" message broadcast to the server when someone who is not on a whitelist or is banned tries to join"
When a player tries to join a server running SpongeForge (either 1.8.9 or 1.10.2) and either is not on an activated whitelist or is banned, they get disconnected correctly, but the yellow "{name} has left the game" message is broadcasted to the entire server.

This happens with only SpongeForge installed and no other mods or plugins. This does not happen under SpongeVanilla.

Relavent logs and ver

[2016-09-04 21:34] lenis0012 commented on #879
@Aaron1011 oh, i forgot. I thought it used to give you a warning tho.

1. Install forge
2. Install sponge
3. Install worldedit
4. Paste any decently sized schematic.
5. witness as your server crashes without even consuming 5% of its resources

All the versions are listed above.
It may be worth noting I also installed Pixelmon, TConstruct and a bunch of other small mods.
I tried using the WorldEdit

[2016-09-04 22:26] iKaneki-Ken opened #886 "Ticking Gravel."
Here's the pastebin of the crash, let me know if you need anymore information.

http://pastebin.com/deEmv8Ea

[2016-09-04 22:44] gabizou commented on #886
Already fixed in a later build.

[2016-09-04 22:44] #886 closed

[2016-09-05 02:22] Zidane commented on #870
I've typed /stop at least 50 times today on latest bleeding, works every time.

[2016-09-05 09:39] 5igm opened #887 "Incompatibility with Tinker Construct mod"
https://github.com/SlimeKnights/TinkersConstruct/issues/2367#issuecomment-244635226
Originally I reported the bug in there. Then when I run my server in forge, the bug disappeared. My sponge version is spongeforge-1.10.2-2073-5.0.0-BETA-1700.

The bug is

And I found this bug only appears in sponge.

[2016-09-05 09:53] 5igm commented on #887
https://my.pcloud.com/publink/show?code=XZuGQWZtFe4VlojngYaHNNRxFX0IzfPHVvV

[2016-09-05 10:05] bonii-xx commented on #887
Some extra info: Forge/Vanilla can't handle itemstacks with custom EntityItems when using /give. They spawn the items twice in that case. Probably the same logic affected.

[2016-09-05 11:33] Nentify commented on #870
It's been alright recently, it could just be when the server is overloaded - In my case anyway. I'll update if I can find anything else.

[2016-09-05 13:19] gabizou commented on #887
Does disabling item pre merging in the optimization category work?

[2016-09-05 14:54] 5igm commented on #887
@bonii-xx

[2016-09-05 16:24] hunter688 opened #888 "incompatibility with Sky resources mod"
Sky resources mod add nether void dimension with id -1. This works with pure forge, but not works with spongeforge.

forge server:

<pre>
[18:17:59] [Server thread/INFO]: Preparing level "world"
[18:17:59] [Server thread/INFO] [FML]: Loading dimension 0 (world) (net.minecraft.server.dedicated.DedicatedServer@1b32436b)
[18:18:00] [Server thread/INFO] [FML]: Loading dimension -1 (world) (net.minecra

[2016-09-05 16:39] Aaron1011 commented on #888
@hunter688: It replaces the nether dimension entirely? That sounds extremely questionable.

@Zidane: Can you weigh in on this?

[2016-09-05 16:41] hunter688 commented on #888
Looks like replaces it... Have not looked into sources.

[2016-09-05 17:24] Bartz24 commented on #888
Well, I know nothing about SpongeForge, and I wasn't building the mod for it.  Unless someone comes up with a solution, I'm not going to do anything about it. Sorry.

[2016-09-05 17:31] hunter688 commented on #888
@Bartz24 : Replaces yours nether void dimension vanilla nether dimension?

[2016-09-05 18:49] hunter688 commented on #887
similar issue in the 1.8.9 spongeforge: #781

[2016-09-05 18:52] Nentify commented on #887
@gabizou Yes this still happens with pre-merging off.

[2016-09-05 18:54] Nentify commented on #870
It seems running the command from console doesn't work properly, but running /stop in-game works fine.

[2016-09-05 19:36] Zidane commented on #888
@Bartz24

Why are you replacing a Vanilla dimension type? Why do you not register your own?

[2016-09-05 19:56] Zidane commented on #870
@Nentify

I've did it both in-game and in console. Primarily from console. No issues.

[2016-09-05 23:21] BakermanLP opened #889 "Spongeforge and Veinminer don't work together"
Here is my setup:
- forge 2073
- spongeforge 2073...1705
- veinminer 0.34.1.1.9r571...

Without spongeforge it is working, with spongeforge it doesn't.

Do you know why?

Cross Ref: https://github.com/portablejim/VeinMiner/issues/76

Thanks for reading

Michael (aka BakermanLP)

[2016-09-05 23:34] Nentify commented on #887
Using Q does work fine though, not sure if that was mentioned.

[2016-09-06 00:55] knoxhack opened #890 "labyrinth + SpongeForge Server crash"
https://gist.github.com/knoxhack/90370893525af2bc53eed8ef0e80dd4b

[2016-09-06 01:00] knoxhack commented on #890
https://github.com/abecderic/labyrinth/issues/1

[2016-09-06 10:28] Bartz24 commented on #888
I have to have a void nether, and as far as I know, this is the only way to replace it.

[2016-09-06 13:00] abecderic commented on #890
SpongeForge devs: call the server lifecycle events properly, especially call `FMLServerStartingEvent` before any world gen happens

[2016-09-06 14:25] Zidane commented on #888
@Bartz24

Register a DimensionType with an ID other than -1 and use that dim id for your World.

[2016-09-06 14:27] mcsnetworks commented on #888
Why in all sane things would you replace an existing Dimension ID?

[2016-09-06 14:37] Zidane commented on #889
What doesn't work? Server logs?

We need a LOT more information before any attempts of investigation.

[2016-09-06 14:42] BakermanLP commented on #889
It is simple ... Veinminer is working in server environment without sponge. If I start the server with spongeforge, veinminer doesn't work. Sorry, but no error logs, no crashlogs, neither on server or client side.

This can be really easy be achieved by only using:
- forge 2073
- spongeforge 2073...1705
- veinminer 0.34.1.1.9r571...
on server side,
- forge 2073
- veinminer 0.34.1.1.9r571...
on cli

[2016-09-06 15:19] Zidane commented on #889
Okay now tell us WHAT doesn't work.

[2016-09-06 15:24] BakermanLP commented on #889
Simple as is ... vein mining doesn't work. Press the configured key in the key bindings with an axe in the hand and chopping the lowest log. That should cut down the whole tree. But only the lowest block will be cut down as usual

[2016-09-06 15:31] BakermanLP commented on #889
Just forgot one thing. Source code of modern is available at https://github.com/portablejim/VeinMiner
Mod is available  at https://minecraft.curseforge.com/projects/veinminer/files

[2016-09-06 17:59] bookerthegeek commented on #889
Veinminer: a mod for mining multiple blocks of the same type as the first one broken as long as they are connected. For example to mine out a complete vein of iron ore. Usually bound to holding a jey, but can be a toggle on/off.

When on forge if you take an axe and chop (mine) the bottom block of a tree it will chop the entire tree down.

On SpongeForge this does not happen.

[2016-09-06 19:30] Nentify opened #891 "CME On teleport"
On teleporting there seems to be a small chance of this crash occuring.

It's happened with both Nucleus and Prism teleports so far.

[code]

http://pastebin.com/raw/2MpKu1xM

[2016-09-06 22:21] Aaron1011 commented on #890
@abecderic: I'm not sure what you mean. `FMLServerStartingEvent` is always fired after world gen happens (both with and without Sponge installed.)

[2016-09-07 01:05] Deamon5550 commented on #890
@abecderic Perhaps you are wanting FMLServerAboutToStartEvent instead ([for ref](https://github.com/MinecraftForge/MinecraftForge/blob/5eeda7923471cd6fe3ce168ab1d1671094e62c7c/patches/minecraft/net/minecraft/server/dedicated/DedicatedServer.java.patch#L40-L49))

[2016-09-07 09:45] 5igm commented on #887
@Nentify You also need to install tinker construct. When you hover your mouse on tinker construct equipment and try to drop, you will drop unlimited amount. I has showed this in the video.

[2016-09-07 09:58] cosmocosma opened #892 "ChangeBlockEvent.Pre doesn't fire for modded fluids"
[code]

[2016-09-07 10:00] Nentify commented on #887
@5igm Yes, I have Tinkers Construct and I'm having the same issue. Using Q while holding the item with the inventory closed works fine, but using Q while hovering over an item inside the inventory or moving the item to the left of the inventory and clicking dupes the tool.

[2016-09-07 10:34] abecderic commented on #890
@Aaron1011 You are right with world gen when it comes to the overworld. The loading of a dimension does not trigger any world gen when you don't have Sponge installed but it does if you do have Sponge installed. Then comes preparing of start region / spawn area. This only happens for the overworld when you don't have Sponge installed; Sponge however makes Minecraft prepare a spawn area for every d

[2016-09-07 10:45] #890 closed

[2016-09-07 15:01] GershonR opened #893 "[1.8.9] Ticking World Crash"
http://pastebin.com/DDDdEMny

[code]

[2016-09-07 20:08] Aaron1011 commented on #893
@GershonR: That's one monster of a stacktrace :)

Are you able to reproduce this consistently? If so, what steps did you take?

[2016-09-07 20:12] Tanner69406 opened #894 "[1.10.2] Breaks Localized Weather Mod"
Without spongeforge the localized weather mod spawns storms on its own and you can also spawn them in with a command. With spongeforge installed storms do not spawn naturally, only some rain showers and you cannot spawn storms in. Please fix this for my server is based around the localized weather mod.

[2016-09-07 20:18] Deamon5550 commented on #894
Duplicate #881

[2016-09-07 20:18] #894 closed

[2016-09-07 20:57] GershonR commented on #893
This happened every time on server startup but after looking into it it seems to be a Pixelmon issue according to their dev team

[2016-09-07 20:57] #893 closed

[2016-09-08 00:35] Rasgnarok opened #895 "[1.10.2] Nether Portals"
When using a Nether Portal and on creative mode, you get stuck in a teleporting loop due to the instanteneous teleporting, which doesn't allow you to leave the portal's zone before teleporting you again. Furthermore, if you've manually set the Nether's world border, you will have instances where players can create Nether portals that teleport them over the world border, suffocating them upon usage

[2016-09-08 03:44] Rasgnarok commented on #879
I haven't had an issue with Forge's worldedit - got any logs? If in doubt, try removing mods one by one and see if it works; if it does, you got your culprit.

[2016-09-08 05:55] hunter688 opened #896 "level.dat zero size when server power loss"
On the same server hardware is running spongeforge, cauldrons, spigots. When server sometimes loss power, in the world directory files level.dat (sponge_level.dat) have zero size and must overwrite from backups. Spigots, Cauldrons world directories are fine and have no problems.

I think sponge have these files still open, not only when need. Will be possible handle with these files similar way li

[2016-09-08 13:42] lenis0012 commented on #879
@Rasgnarok no errors, just pastes one array of chunks and does not finish the paste.
It alsos eems to paste in a beacon for some reason.

Point is tho, WorldEdit should work on sponge, or so the dev said. but it doesnt

[2016-09-08 16:18] wizjany commented on #879
i've been unable to reproduce this either. my guess is that a certain block (probably from one of your mods) in the schematic is causing issues.

[2016-09-08 16:20] Deamon5550 commented on #896
If we're not already we could also me more robust and write to a temp file before copying it over the original.

[2016-09-08 18:43] Varijon commented on #884
I'll add a bit more info:
Does not occur in vanilla (base game)
Does not occur with just forge (no mods)
It works with any item

This is a pretty serious issue for a server's economy, I'm worried this issue is going unnoticed.

[2016-09-09 00:06] Tencao opened #897 "[1.10.2] Sponge could not apply patch"
http://pastebin.com/VbdpeC1D

Forge version - 1.10.2-12.18.1.2076
Sponge version - 1.10.2-2073-5.0.0-BETA-1709

I'm sorry if this has been reported before, I just want this to be fixed.

[2016-09-09 00:14] Nentify commented on #891
Steps to reproduce:

1. Download and install Minecraft Forge 1.10.2 12.18.1.2076 from http://files.minecraftforge.net/
2. Run server and agree to the eula
6. Stop server
7. Download SpongeForge 1.10.2 5.0.0-BETA-1708 from http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/
9. Download EnderCore 1.10.2 0.4.1.54 from https://minecraft.curseforge.com/projects/endercore/files/2328765

[2016-09-09 04:56] ryantheleach commented on #897
One of your mods is loading forge classes too early.

A possible workaround for this is to rename SpongeForge so that it runs before the other CoreMods.

Try prepending a _ to the file name of SpongeForge's mod jar.

https://github.com/SpongePowered/SpongeForge/issues/511

[2016-09-09 05:54] #870 closed

[2016-09-09 09:11] Tencao commented on #897
I added a _ to the beginning of the mod jars name, however the same crash happens.

[2016-09-09 09:31] Tencao commented on #897
I would also like to add that I have tried also updating CodeChickenLib to the latest version, 1.10.2-2.2.3.74, however this hasn't changed this issue

[2016-09-09 11:49] Nentify commented on #891
Can reproduce on build 1707, can't reproduce on 1704. The builds in between all crash on start up.

[2016-09-09 13:02] bloodmc commented on #895
This was fixed in later builds.

[2016-09-09 13:02] #895 closed

[2016-09-09 13:05] bloodmc commented on #877
Fixed in latest builds.

[2016-09-09 13:05] #877 closed

[2016-09-09 14:24] FiveEYZ opened #898 "[1.10.2] chunk 0, 0 not loading!"
Chunk 0, 0 stopped loading for some reason.

https://gyazo.com/b9c66f7a8622c7f9baf35acf8e255a50

https://gyazo.com/1a53e48e6b7f786f077a785204cb5041

updated to from SpongeForge Build 1705 -> 1709

[2016-09-09 17:59] lenis0012 commented on #879
@wizjany It is a schematic made in vanilla.
ill upload it tonight so you can try it out

[2016-09-09 18:41] Zidane commented on #897
Closing this as this isn't a Sponge issue. You have a mod loading ModMetadata too early. Remove mods one by one until the issue stops happening and report that to the mod author.

[2016-09-09 18:41] #897 closed

[2016-09-09 18:44] Zidane commented on #888
Closing this as we simply will not support a mod who outright replaces a Vanilla game object.

[2016-09-09 18:44] #888 closed

[2016-09-09 18:49] ziceptor opened #899 "[1.10.2] experience of minecraft:mob_spawner"
The player can fill his experience of minecraft:mob_spawner. [Video](https://cloud.mail.ru/public/8MFV/BwADmKkL4). Protected plugin foxguard. [gravityfox response](https://forums.spongepowered.org/t/api-4-2-x-5-x-foxguard-the-flexible-world-protection-solution/9952/613?u=ziceptor)

[2016-09-09 18:49] Tencao commented on #897
While I understand this, and I will do what you've suggested, isn't it possible to put some kind of failsafe into sponge to prevent an outright crash if a mod loads before sponge?, since currently everything loads perfectly fine without sponge, whether or not a mod is loading it too early.

I appreciate the help so far, but I do believe having some kind of permanent solution to this problem for fu

[2016-09-09 19:06] Aaron1011 commented on #897
@Tencao: The issue is that Sponge isn't a normal mod, by any stretch of the imagination. In order to work, it needs to be able to modify many different classes (including many core Forge classes) in order for it to properly implement that API. The way things are currently set up, mods which loads certain classes early on can prevent Sponge from being able to apply the necessary transformations.

I

[2016-09-09 19:23] Aaron1011 commented on #898
It looks like the chunk may be corrupted. Can you pastebin your full `fml-server-latest.log`?

[2016-09-09 19:44] FiveEYZ commented on #898
sorry for not including it, here it is:
https://gist.github.com/FiveEYZ/1080ee5b97c602bd3d155c6f69a2bbe8

[2016-09-09 21:08] Bartz24 commented on #888
I'll work on it soon, prob not this weekend though. i'll let you know when I think I got something that'll work. I don't use spongeforge, so idk the solution will work.

[2016-09-10 06:45] hunter688 commented on #888
I can test it.

[2016-09-10 14:59] bloodmc commented on #898
@FiveEYZ Can you let me know which build this started to occur in? Thanks!

[2016-09-10 17:56] #898 closed

[2016-09-11 22:45] Rasgnarok opened #901 "[1.10.2] Pixelmon and Mob malfunction"
For the past week or so, I have been getting constant reports of Pixelmon not being able to get sent out after X amount of time on servers using `Spongeforge 1693+` (inclusively). Whilst aware that this issue was recently 'fixed' past `1709`, I continue to have it in `1713`. The general issue remains the same - after an indeterminate amount of time, all players online find that they simply cannot

[2016-09-11 22:57] JBYoshi commented on #901
I'll assume the issue only occurs with Pixelmon installed?

[2016-09-11 22:57] Rasgnarok commented on #901
Considering that this is about Pixelmon getting sent out, yes.

[2016-09-11 23:09] JBYoshi commented on #901
@Rasgnarok I was asking because of your eighth point. Just wanted to make sure.

[2016-09-11 23:15] Rasgnarok commented on #901
Ah, well for that I haven't quite ran tests without Pixelmon, simply because my worlds require it (tried to stick with a constant environment when running the tests above). Though, I have skimmed the issues here before posting, and I have not found anything on it - except the excessive spawning problem (which really is something bothersome).

[2016-09-12 00:18] bloodmc commented on #891
@Nentify Try to reproduce this on latest build.

[2016-09-12 00:27] inklit commented on #891
I've seen this error quite a lot although I have not really linked it to teleporting, I originally thought it had to do with either chunk loading or unloading.

[2016-09-12 11:20] Nentify commented on #891
@bloodmc Can still reproduce this issue on build 1719.

[2016-09-12 16:01] Zidane commented on #733
Reopen this in SpongeCommon.

[2016-09-12 16:01] #733 closed

[2016-09-12 16:02] #721 closed

[2016-09-12 16:02] #717 closed

[2016-09-12 16:03] Zidane commented on #714
@bloodmc has fixed this in bleeding.

[2016-09-12 16:03] #714 closed

[2016-09-12 19:32] #633 closed

[2016-09-13 21:21] bloodmc commented on #891
This issue is caused by EnderCore calling isInLava when 'EntityPlayer.isElytraFlying' is called which has the potential of loading a chunk causing re-entry to 'EntityTracker.updateTrackedEntities'.

[2016-09-16 11:42] Slind14 opened #902 "Option to disable vanilla internal watchdog"
Hi,
it would be great if there was a config option to disable the vanilla internal watchdog.

[2016-09-16 11:43] Minecrell commented on #902
Set `max-tick-time` to -1 in `server.properties`, see http://minecraft.gamepedia.com/Server.properties#max-tick-time

[2016-09-16 11:43] #902 closed

[2016-09-16 11:53] Slind14 commented on #902
nice thanks.

[2016-09-16 12:18] FiveEYZ opened #903 "[1.10.2] chiselsandbits"
Chisels and bits isn't working. I can't chisel anything, nor place any bits.

This error generates while doing whats said above:
[latest.log](https://gist.github.com/FiveEYZ/3ab7e3fb5f6e6531afa0560cb8eca3e1)
[fml-server-latest.log](https://gist.github.com/FiveEYZ/01ef0cc97cbb2a77e8031ae117cca6ba)

using:
Minecraft: 1.10.2
SpongeAPI: 5.0.0-SNAPSHOT-6211516
SpongeForge: 1.10.2-2079-5.0.0-BETA-1727
M

[2016-09-16 14:08] iKaneki-Ken opened #904 "Exception on Login"
I get this error whenever I try to login a Sponge based server.

[code]

[2016-09-16 14:35] kashike commented on #904
It's a temporary issue with the Mojang session servers. Should be fixed soon. See https://help.mojang.com/  for status updates.

[2016-09-16 14:35] #904 closed

[2016-09-16 18:03] ryantheleach commented on #804
For why it's stripping quotes, I believe it's likely because of the hocon lib deciding that since the string starts with a number it needs to be wrapped in quotes.

[2016-09-16 20:13] Aaron1011 commented on #901
Here's the commit range for builds `1687` to `1692` (@Rasgnarok stated [on the forums](https://forums.spongepowered.org/t/still-cant-throw-out-retrieve-pokemon/14650/7?u=aaron1011) that `1687` works): https://github.com/SpongePowered/SpongeForge/compare/236c026c13fcdcbf4b3058808abb8f84defe3c17...3e842c8e8a39669044ebebea967d0086176d4f48

The only thing that seems like it could be related are @blood

[2016-09-16 21:03] TheMrCaveman opened #905 "Can't keep up! 1.10.2 5.0.0-BETA-1726"
What ever version of sponge i use for 1.10.2 it keeps freaking the server out!

Modpack is ftb unstable 1.10.2  4.2.8

Take sponge away and we never have this problem @ all and server runs whitout issues!

11:15:27Can't keep up! Did the system time change, or is the server overloaded? Running 2108ms behind, skipping 42 tick(s)

22:57:38Can't keep up! Did the system time change, or is the server ov

[2016-09-16 21:49] kinggoesgaming commented on #905
Can you provide a timings report?

[2016-09-16 22:47] Aaron1011 commented on #903
@FiveEYZ: I'm unable to reproduce this. Can you try again with the latest SpongeForge, and list the exact steps you took to cause this error?

[2016-09-17 01:02] FiveEYZ commented on #903
Tested with SpongeForge 1731 and forge 2079 / 2088.

1.  Start the server (no special java flags)
2.  OP myself
3.  Put myself in gamemode 1
4.  Take any chisel tool (I chose a Stone Chisel)
5.  Put myself in gamemode 0
6.  De-OP myself
7.  Left-click anywhere on any block

These steps might seem simple in mind, but this is really the only things I do.
The mod works without sponge added, and it re

[2016-09-17 01:25] Aaron1011 commented on #903
@FiveEYZ: Thanks, reproduced.

[2016-09-17 01:53] iKaneki-Ken commented on #905
Problem is EnderIO. https://timings.aikar.co/v2/?id=3e15edad1b6f4f4c9b7f678689f695f8&section=lag

[2016-09-17 02:10] #903 closed

[2016-09-17 05:55] gabizou commented on #905
I would personally attach a profiler to the server and get some more data on what is taking a chunk of processing every tick. I'm not 100% sure as to what could be causing the issue, but it would be very fast at finding out what is the biggest issue and why.

[2016-09-17 07:29] fpoulet73 opened #906 "[1.10.2] No structure Dungeons/Village generated"
Forge 2079
SpongeForge 7032
Without the mod village/dungeons are generated correcly but the spongeForge is there, no structure are generated.
There are no other mod activated, only spongeForge.
My server is running on Fedora 22
Except this issue the server is very stable.

[2016-09-17 07:43] ST-DDT commented on #906
Could you provide a seed and a location for testing purposes?

[2016-09-17 07:56] fpoulet73 commented on #906
atout.be:25566
seed: -1276505101678576079

[2016-09-17 08:42] fpoulet73 commented on #906
is the above information enough ?
 I have no idea from which build it is there.
I just start working with sponge on 1.10.2 since 2 weeks, before it was on 1.8 long time ago.

[2016-09-17 09:00] fpoulet73 commented on #906
I just make a new test, with a full installation from scratch.
Same issue, village is there without spongeForge but not there if mod is activate. Using same seed

[2016-09-17 15:45] KratosKnox commented on #901
@Aaron1011 this has nothing to do with chunks. The issue is caused by gabizou's changes in 1694 which captures all entities. In 1.8.9, this was resolved by avoiding capturing of entities in most scenarios and simply firing a event right away. The main issue with capturing is simply due to the fact that spawnEntityIntoWorld returns a boolean so quite a few mods expect a proper result as well as the

[2016-09-17 15:46] bloodmc commented on #901
@Aaron1011 this has nothing to do with chunks. The issue is caused by gabizou's changes in 1694 which captures all entities. In 1.8.9, this was resolved by avoiding capturing of entities in most scenarios and simply firing a event right away. The main issue with capturing is simply due to the fact that spawnEntityIntoWorld returns a boolean so quite a few mods expect a proper result as well as the

[2016-09-17 16:18] Deamon5550 commented on #906
I'll look into it.

[2016-09-17 20:05] TheMrCaveman commented on #905
https://timings.aikar.co/v2/?id=f1f32e04b9e540e8980c6381b4e05513

[2016-09-17 20:25] #779 closed

[2016-09-18 00:42] Amaxter opened #908 "Crash with Farseek and Streams"
Using SponeForge 1732 for 1.10.2 I get the following crash with Farseek and Streams (have confirmed this through trial and error testing)
@delvr

http://hastebin.com/imavebodej.cs

[2016-09-18 01:39] Aaron1011 commented on #908
This is a known issue on Farseek's side: https://github.com/delvr/Farseek/issues/16

[2016-09-18 01:39] #908 closed

[2016-09-18 02:25] #884 closed

[2016-09-18 02:25] Aaron1011 commented on #884
@Varijon: Sorry for the very long delay in getting this. It should be fixed on the latest SpongeForge.

[2016-09-18 02:40] nalllen commented on #906
I'm having the exact same issue

[2016-09-18 03:37] #906 closed

[2016-09-18 04:56] #827 closed

[2016-09-18 13:47] FiveEYZ opened #909 "[1.10.2] Ticking player"
A player opened the GUI from Chisel

[Chisel - MC1.9.4-0.0.6.33](https://minecraft.curseforge.com/projects/chisel)

using:
spongeforge-1.10.2-2079-5.0.0-BETA-1742

https://gist.github.com/FiveEYZ/3731560f98cb75930d6545d9a04fbeee

[2016-09-18 14:58] #909 closed

[2016-09-18 16:37] ItsRevolt commented on #901
@bloodmc On the sponge changelog, it says the issue was fixed in 1709, which I believe it was, but it is happening again. So would this be related to something else?

[2016-09-18 19:58] Aaron1011 opened #910 "Mod dimension registration/unregistration needs improvements"
While trying to reproduce a bug with [RFToolsDimensions](https://github.com/McJty/RFToolsDimensions), I discovered a couple of problems in the way that Sponge currently handles mod dimensions:
- We currently [assume that a given DimensionType is only used for one provider id](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/forge/MixinDimens

[2016-09-18 20:12] FiveEYZ opened #911 "[1.10.2] Another Ticking player"
A player were mining using a tinker's pickaxe with fortune 2 modifier on a trier 2 Pillar from the mod [Roots](https://minecraft.curseforge.com/projects/roots/files/2328890)

https://gist.github.com/FiveEYZ/d4e27e792e2913a59f313ce43d3351dd

[2016-09-18 20:36] FiveEYZ opened #912 "[1.10.2] Roots drops"
When using a tool (Bark Knife) from this mod in forge+sponge environment you don't get any loot (bark)

expected to happen:
Use Bark Knife on Oak Wood to get Oak Bark.

happens instead:
Use Bark Knife on Oak Wood yields no Oak Bark.

Logs:
[fml-server-latest.log](https://gist.github.com/FiveEYZ/b8f9d359f918fcc36cd0d6ad4221cb24)
[latest.log](https://gist.github.com/FiveEYZ/c1d85f535e82d7e3c454bc78a

[2016-09-19 06:31] ThornsOfire opened #913 "Couldn't save chunk; already in use by another instance of Minecraft?"
Error throws on save-all and plugin world save events. Spams for a bit then stops, worlds do not save.

Debian MineOS-Node

Installed Plugins:
 permissionsex
 Version: 2.0-SNAPSHOT-b142

 sponge
 Version: 1.10.2-2079-5.0.0-BETA-1737

 foxcore
 Version: 0.9.4-api5-157

 FML
 Version: 8.0.99.99

 spongeapi
 Version: 5.0.0-SNAPSHOT-fd6816c

 foxguard
 Version: 0.19.3-dev-api5-319

 pjp
 Version: 0.12

[2016-09-19 08:00] ryantheleach commented on #912
Can you split the description into what you expected to happen, and what happens instead?

[2016-09-19 16:44] Xwaffle1 opened #914 "Crash on Startup after updating Sponge. Class casting error."
http://hastebin.com/olenitefab.php

This error shows us on 1733, but we had the issue on latest build 1744 as well.

We're running Minecraft 1.10, with sponge 1.10

[2016-09-19 17:01] Zidane commented on #914
Fixed as of latest SF build.

[2016-09-19 17:01] #914 closed

[2016-09-19 17:07] Zidane commented on #913
@ThornsOfire

Remove PJP and PJW, install Nucleus, have it create your worlds and see if this happens.

[2016-09-19 17:51] ProsperCraft opened #915 "Server console - Catched unhandled exception : [class net.blay09.mods.cookingforblockheads.tile.TileToaster] java.lang.NullPointerException"
I started getting this in console after installing spongeforge-1.10.2-2092-5.0.0-BETA-1746.jar

http://pastebin.com/aSaWQvBa

[2016-09-19 18:17] ProsperCraft commented on #915
Thank happens when opening the cooking table.

[2016-09-19 18:26] lujiren opened #916 "[1.10.2] Lost EntityPlayer in EventBus (after player respawn)"
**It's fine in forge server but  in spongeforge broken**

Using AppleCoreAPI with spongeforge-1.10.2-2092-5.0.0-BETA-1746
If the player is not dead before, everything is work and fine.
When player after die and try to firing "FoodEvent.FoodEaten" event,  Client will be kicked out server and throw an exception (On server).
**by checked code , its seems event.player is null**

Here is the exception

[2016-09-19 18:32] Zidane commented on #915
Fixed as of latest build.

[2016-09-19 18:32] #915 closed

[2016-09-19 22:03] ProsperCraft commented on #915
Please re-open

http://pastebin.com/FVjbbS1V

Not fixed in 1747.

After updating it removed the block from the server as well as the drying rack above it with pans, when a new cooking table was placed down, it started showing the error in console again.

[2016-09-19 22:16] Aaron1011 commented on #915
@ProsperCraft: That should be fixed in https://github.com/SpongePowered/SpongeCommon/commit/dba74a15555931edbbff84fcec252cc8c3f1108e. It turns out that some mods set `Slot.inventory` to null.

[2016-09-19 22:24] ThornsOfire commented on #913
Will test that when I get home!

[2016-09-19 22:47] ProsperCraft commented on #915
Thank you for adding that patch.

Forgive my ignorance, but do the new builds that just came out now have that patch?

[2016-09-19 23:14] Aaron1011 commented on #915
@ProsperCraft: Yes, they do :)

You can check the changelog (available on the main downloads page) to see the commit messages included in a particular build - though the messages themselves aren't always that helpful (e.g. `Update SpongeCommon`).

[2016-09-19 23:27] ProsperCraft commented on #915
http://pastebin.com/jkV2DShT

Here is a new one from the calculator mod using build 1749

[2016-09-20 01:13] ProsperCraft commented on #915
Perhaps we shouldn't close this till its really fixed? :)  please reopen.

[2016-09-20 01:18] Zidane commented on #915
@ProsperCraft

Your previous issues were fixed. While we fixed those, this mod is causing us to code definitively to fix more things.

[2016-09-20 01:19] ProsperCraft commented on #915
ok, this looks just like the others, thought it was the same, I Will post a new issue.  Thank you.

[2016-09-20 01:21] ProsperCraft opened #917 "Null pointer on server console - at org.spongepowered.common.item.inventory.lens.impl.fabric.ContainerFabric.getFirstDisplayName"
http://pastebin.com/jkV2DShT

Minecraft version 1.10.2

Modpack - Allthemods

Sponge version 1749

[2016-09-20 01:22] ProsperCraft commented on #915
https://github.com/SpongePowered/SpongeForge/issues/917

[2016-09-20 01:24] Aaron1011 commented on #917
This is a bug in the mod - I've opened an issue [here](https://github.com/SonarSonic/Sonar-Core/issues/8).

[2016-09-20 01:24] #917 closed

[2016-09-20 02:47] gabizou commented on #916
Yeah, I don't know what event this is getting thrown from, but it's not a Sponge event that is causing it. Does it still break with forge only?

[2016-09-20 04:05] Dysthymic commented on #901
It's a bug after the builds 1692, like bloodmc said it's the entity changes

[2016-09-20 05:18] ThornsOfire commented on #913
Works fine with Nucleus! Not a sponge error I'll talk to the author.

[2016-09-20 05:19] #913 closed

[2016-09-20 07:34] ProsperCraft opened #918 "when I type /sponge plugins I get kicked from the server."
[01:09:01] [Server thread/INFO] [nucleus]: Goshen ran the command: /sponge plugins
[01:09:01] [Netty Epoll Server IO #15/ERROR]: io.netty.handler.codec.EncoderException: String too big (was 33591 bytes encoded, max 32767)
[01:09:01] [Server thread/INFO]: Goshen lost connection: Disconnected
[01:09:01] [Server thread/INFO] [com.nguyenquyhy.spongediscord]: Goshen has disconnected!
[01:09:01] [Server

[2016-09-20 11:44] Minecrell commented on #918
You seem to have a lot of plugins installed, if the serialized message is longer than 32k characters ;)

[2016-09-20 11:58] lujiren commented on #916
no, just use forge server its always fine @gabizou

[2016-09-20 14:59] lujiren commented on #916
The problem is **lost PlayerObject in event (after player respawn)**.

 I found bug#827 - Sponge has duplicate PlayerInteractEvent to mods. (Declared has been fixed)
May be they have relevance?

[2016-09-20 15:06] kashike commented on #918
`/sponge plugins` output should be split into multiple lines in cases like this

[2016-09-20 17:13] ST-DDT commented on #918
That command should use pagination in this case or just something like this: https://github.com/SpongePowered/SpongeAPI/issues/1312#issuecomment-236357288

Should we always use pagination or just above a certain number of plugins?

@ProsperCraft Could you give us a number of plugins/mods you have installed?
 Just for comparison.

[2016-09-20 17:17] caseif opened #919 "EntityEvent#getTargetEntity() returns null for PlaySoundAtEntityEvent"
Simple as that. Seeing as this method does not return an `Optional`, it is implied that it is guaranteed to return a non-`null` value, an assumption which is violated in this case.

Additionally, it seems odd to pass Forge events to plugins which aren't exposed in any  by the API - perhaps a filter could be implemented which only passes events which have an appropriate representation in the API?

[2016-09-20 17:28] Zidane commented on #919
Paste your plugin's code.

[2016-09-20 17:49] caseif commented on #919
It's not strictly relevant - it just listens to the `TargetEntityEvent` and calls `getTargetEntity`.

[2016-09-20 18:59] Aaron1011 commented on #917
@ProsperCraft: The issue [has now been fixed in SonarCore](https://github.com/SonarSonic/Sonar-Core/commit/f109c54d9264a6f42e9322edb944f6f0f0a4abce)

[2016-09-21 00:29] ProsperCraft commented on #918
What if the command only showed plugins instead of all plugins and mods?

[18:05:25] [Server thread/INFO] [nucleus]: Server ran the command: /sponge plugins
[18:05:25] [Server thread/INFO]: Plugins (157): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, OpenComputers (Core), SpongeAPI, SpongeForge, ExtraUtils2, Mantle, Tinkers' Construct, Immersive Engineering, Just Enough Items

[2016-09-21 00:31] ProsperCraft commented on #905
Here is my timings and warmroast.

https://github.com/ZeroNoRyouki/BigReactors/issues/20

[2016-09-21 00:33] ProsperCraft commented on #905
We are running Sponge 1752

[2016-09-21 08:22] ryantheleach commented on #918
The problem is that it is crashing clients. ideally all messages sent to clients would be split across multiple messages if they exceed the limit.

Paginating the command is a good idea, as is separating the mods and plugins, but neither of these fix the root cause.

[2016-09-21 12:55] Eufranio commented on #918
Maybe split /sponge plugins, and show only plugins. About mods, would be nice a /sponge mods command.

[2016-09-21 13:55] ST-DDT commented on #918
IMO Sponge should not differenciate between mods and plugins. It should either detect them and show them all at one or ignore them.
@ryantheleach is right too.

[2016-09-21 14:33] ProsperCraft opened #920 "Server Crash - RFTools - author kicked it back to sponge."
https://github.com/McJty/RFTools/issues/749

[2016-09-21 14:54] ProsperCraft opened #921 "Armour plus end dragon zombies take no damage with sponge installed."
With sponge 1752 installed end dragon zombies take no damage from players.

Remove sponge, and they take damage.

Modpack- allthemods version 1.28

[2016-09-21 16:20] Dysthymic opened #922 "KeepInventory Dimensions"
KeepInventory mode only works in the Overworld. It does not follow rules in the Nether or The End. We've applied keepinventory true in the End and Nether for our tests.

Using 1692 and tested on latest 1752 as well

[2016-09-21 16:42] Aaron1011 commented on #918
I agree with @ryantheleach: It should never be possible to crash a client by sending a message to them through the API. The implementation should either split up the `Text` (which might be difficult), or throw an exception if it exceeds the length limit

[2016-09-22 12:45] hunter688 commented on #811
Yesterday this issue occur when player teleported to /home - chunks loaded.

[2016-09-22 17:21] hunter688 commented on #920
Try replicate without sponge, if success report to mod author back.

[2016-09-24 10:34] Abelatox opened #924 "Mob drops not working?"
Hello, I'm Abelatox and I have a problem, I want to host a Kingdom Keys server with Sponge so it can have some plugins, The thing is that mobs do not drop the mod loot.
Any help?
I'm using:
spongeforge-1.10.2-2073-5.0.0-BETA-1710
forge-1.10.2-12.18.1.2073

[2016-09-24 11:41] Bartz24 commented on #888
Ok, registering the dimension to something crashes when the player visits the nether, as this mod overrides the nether to be void, it's not another new dimension.

To be honest, I the code I use is the basically the same as Ex Nihilo's [https://github.com/Jozufozu/ExNihiloOmnia/blob/master/src/main/java/exnihiloomnia/world/ENOWorld.java#L142-L150](url)

I just put the try catch in though, so it sh

[2016-09-24 16:57] Rasgnarok commented on #901
I am now using @bloodmc 's `spongeforge-1.10.2-2079-5.0.0-BETA-async-test44.jar` and honestly, it is a bit better - now the recall/sendout glitch only happens to a single player, not all of the other players. The M.O. of the glitch still is the same - all pokemon in the party and PC get affected, and you can only send each once (accompanied by the message).

It is happen very often however - for m

[2016-09-24 16:59] Rasgnarok commented on #901
@ItsRevolt The issue that was fixed in 1709 has nothing to do with this one - it was, I believe, caused by a mispelled command in chat. `1709` did not fix the one I am referring to.

[2016-09-25 03:27] inklit commented on #804
That's interesting ryantheleach, do you know if the quotes are needed for the UUID to be ignored?
It could be quite an odd coincidence that all of the required UUIDs to be ignored by default have numbers as the first character, which could be why nobody has noticed this til now.

[2016-09-25 06:06] Dysthymic commented on #901
I too am running 1692 still due to this glitch.
We would love to be able to take advantage of the new unload fixes to stop rollbacks and play with the new InventoryAPI.

We have the same send out issue effecting random players on 1692 as well. Like @rasgnarok said with the Async build they are testing, it does not effect ALL players just one player. We can't use the newer versions because they eff

[2016-09-25 07:37] ryantheleach commented on #804
Assuming that it's parsing correctly the quotes shouldn't matter one way or another, and is just a distraction from whatever issue is the real issue.

[2016-09-26 00:37] bloodmc commented on #924
You are using an outdated build. Update to latest SF build.

[2016-09-26 00:37] #924 closed

[2016-09-26 19:52] thomas15v commented on #731
Took me a while to figure out this issue. But the problem isn't bungeecord nor thaumcraft. The problem lies in the minecraft protocol and the challenge bungeecord brings.

When a player join a server on bungeecord, it gets asigned a entity id on that specific server. However when the client switches to another server the client id on the new server will be different. Bungee itself counteracts this

[2016-09-27 04:38] Zidane commented on #901
Minecon is now over (as a majority of us attended) so this is now back to being a high-priority.

[2016-09-27 05:10] hunter688 commented on #731
Hey Thanks a lot!

[2016-09-27 05:23] hunter688 commented on #731
Looks like it does not work for me. :(

Latest Waterfall, ForgePacketFix, lobby server with 1.10 and latest protocolsupport, latesst 1.8.9 sponge with thaumcraft. Still cannot change focuses.

[2016-09-27 06:54] thomas15v commented on #731
Yeah I tested this for 1.7.10. I guess the packet id's for the new thaumcraft are different. Ill add the id's for 1.8.9 tho. See: https://github.com/densitycraft/ForgePacketFix/issues/1.

[2016-09-27 06:55] hunter688 commented on #731
Great!

[2016-09-27 20:23] Abelatox commented on #924
It keeps happening with this one: spongeforge-1.10.2-2092-5.0.0-BETA-1756

[2016-09-28 13:33] aso824 opened #925 "Console warn: Unable to find InventoryPacketState"
I see in console that I get this warning sometimes:

`[Server thread/WARN] [Sponge]: Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{windowId=29, slotId=-999, used
Button=4, actionNumber=20, clickedItem=null, mode=QUICK_CRAFT}`

Where `windowId` and `actionNumber` changes.
This warning occured to my friend, I was unable to reproduce this.
Also, this not affe

[2016-09-28 14:31] LotuxPunk commented on #905
Any solution ?

[2016-09-28 19:11] inklit commented on #905
@TheMrCaveman The issue with OpenComputers is a seperate bug, you should open it seperately too.

[2016-09-29 15:44] tinywolf3 opened #926 "[1.10.2] Can't long right click."
Long right click is weird.
If target is a block, cannot long right click.
If target is the sky, long right click is ok.
Eating a food is inconvenient.
(Sorry, my english isn't good)

recorded video: https://youtu.be/xhe8hi3tfM0

Forge Server: forge-1.10.2-12.18.1.2092-universal.jar
SpongeForge: spongeforge-1.10.2-2092-5.0.0-BETA-1756.jar

[2016-09-29 16:51] gabizou commented on #905
Ok, here's where I'm drawing the line, because mod packs are so immensely huge to test, can you test individual mods that are breaking with sponge and sponge alone? From what I gather, there are issues with OpenComputers + Sponge.

Also, version testing with the latest versions would be much appreciated.

[2016-09-29 19:41] inklit commented on #905
I've tested OC + Sponge on Sponge 1755 and OpenComputers 1.5.22.6 on 1.8.9.

The issues with robots moving and components occasionally disappearing is unique to Sponge and is most certainly an issue.

However, I haven't personally observed an obvious performance issue with OpenComputers and Sponge, but it could just be because my server is super beefy and I simply have not noticed.

[2016-09-29 19:45] inklit commented on #799
@gabizou I thought I'd mention this again, since you labeled it under 1.10, it is actually not exclusive to 1.10.
The bug affects 1.8.9 as well.

[2016-09-29 22:16] Aaron1011 commented on #901
@Rasgnarok @Dysthymic: Have either of you had issues with chunks not loading/being unloaded around or near where this bug is happening?

[2016-09-29 22:49] Dysthymic commented on #901
@Aaron1011
No corruption issues or empty chunks.
There are some rollbacks occasionally on 1692

[2016-09-29 23:08] Rasgnarok commented on #901
I don't think it is relevant, since 1687 to 1692 has a bug that causes chunks to stay loaded. That is fixed in the experimental version I have, and it still occurs.

[2016-09-30 00:59] inklit opened #927 "Logging in twice and duplicating items"
**Explanation of the problem:**
If you connect at the exact same time on two clients, you are able to login twice on the same account. This causes all sorts of issues regarding movement, inventories, and other weird shenanigans.
The primary concern here is item duplication, you are able to login on two accounts and drop both inventories to duplicate items.

**Procedure for testing:**
1. Start a Sp

[2016-09-30 12:52] Inscrutable commented on #652
There still seem to be issues with RTG and Sponge [reported on the RTG thread at MCF](http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/2524489-realistic-terrain-generation-rtg-realistic-biomes?comment=3550) and also on [Sponge Forums](https://forums.spongepowered.org/t/spongeforge-conflicting-with-world-entity-generation-in-realistic-terrain-generation-mod/14955). Has there

[2016-09-30 19:40] topisani commented on #652
I have kinda left the team, but i will ping the grand @WhichOnesPink44 once again

[2016-09-30 20:18] Aaron1011 commented on #887
The cause of this issue is Forge's [questionable](https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/common/ForgeInternalHandler.java#L67) way of allowing mods to use an entity other than `EnittyItem` for their `ItemStacks`. Forge has an internal `EntityJoinWorldEvent listener which, when an `EntityItem` is spawned whose `ItemStack` requires a custom `Eni

[2016-09-30 20:48] srs-bsns commented on #652
We're already in communication with @gabizou on [our discord server](https://discord.gg/0wIG7mz3g6Qynq4E) for issues relating to RTG.
This specific issue (double decoration events) was noticed by myself in 1.8.9 and I'm not sure it even applies anymore with the current version of Sponge*. The current issue that we are exploring is with random chunks __not__ being decorated (decoration events being

[2016-10-01 01:52] gabizou commented on #652
@srs-bsns SpongeForge for 1.8.9 is under LTS so it's still supported, however, if you're saying that RTG for 1.8.9 is not supported, then that's fine as well.

[2016-10-01 13:31] FiveEYZ opened #928 "[1.10.2] Crach: Ticking block entity"
updated from:
`spongeforge-1.10.2-2092-5.0.0-BETA-1759`
to
`spongeforge-1.10.2-2092-5.0.0-BETA-1770`

and now im getting this crash just after the world loads:
https://gist.github.com/FiveEYZ/6bb868478952c7d3984eddd5a2881c24

[2016-10-01 18:01] ProsperCraft opened #929 "Server crash Ftbutils fakeplayer and spongepowered.common.mixin.plugin.entityactivation.ActivationRange.addEntityToConfig"
http://pastebin.com/hXuwryAq

[2016-10-01 18:02] ProsperCraft opened #930 "Server crash on worldgen"
http://pastebin.com/qXfnz0kZ

at net.minecraft.world.gen.structure.MapGenStructure.func_175794_a(MapGenStructure.java:90)
    at biomesoplenty.common.world.ChunkProviderGenerateBOP.func_185931_b(ChunkProviderGenerateBOP.java:487)
    at org.spongepowered.mod.world.gen.SpongeChunkGeneratorForge.func_185931_b(SpongeChunkGeneratorForge.java:248)

[2016-10-01 21:25] LatvianModder commented on #929
Def FTBU bug

[2016-10-01 21:31] gabizou commented on #929
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/928

[2016-10-01 21:31] #929 closed

[2016-10-01 21:31] gabizou commented on #928
This is actually a FakePlayer having an invalid `EntityType`, @simon816 I believe you know more than I do to fix this issue, if not @Zidane or @Aaron1011.

[2016-10-01 22:41] srs-bsns commented on #652
@gabizou Well, we've received 0 complaints in respect to this issue, and I think they if anyone is still using SpongeForge with RTG, they've either moved on from 1.8.9, or haven't seen or taken issue with duplicate decoration events. (Server operators may be encountering this, but unless they are specifically looking for it, they probably just assume it's intended behavior.)

We're still supportin

[2016-10-01 23:33] ProsperCraft opened #931 "Server crash when starting a digital miner from Mekanism"
http://pastebin.com/aZcYMmT9

[2016-10-01 23:35] ProsperCraft opened #932 "Server crash when starting a digital miner from Mekanism"
http://pastebin.com/aZcYMmT9

[2016-10-01 23:36] Zidane commented on #932
Dupe of #931.

[2016-10-01 23:36] #932 closed

[2016-10-02 00:22] Aaron1011 commented on #928
Should be fixed in https://github.com/SpongePowered/SpongeCommon/commit/bd1b26b8b25d76339c87c447c8baa3c8e5f1bc63.

[2016-10-02 00:22] #928 closed

[2016-10-02 00:24] Aaron1011 commented on #931
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/bd1b26b8b25d76339c87c447c8baa3c8e5f1bc63.

[2016-10-02 00:24] #931 closed

[2016-10-02 02:27] ProsperCraft commented on #932
Will this fix this one as well?

http://pastebin.com/z9uiUMFL

[2016-10-02 02:28] ProsperCraft commented on #931
Will this fix this one as well?

http://pastebin.com/z9uiUMFL

[2016-10-02 02:32] Zidane commented on #931
Yes

[2016-10-02 02:32] ProsperCraft commented on #931
Thank you, Testing now

[2016-10-02 02:34] ProsperCraft commented on #931
Fixed thank you

[2016-10-02 07:46] inklit commented on #927
I asked a friend of mine to code a hotfix for this bug.
This is by no means a solution to the problem but it prevents the problem from causing any serious issues.
I figured some server owners out there might find this useful.

`http://switchcraft.pw/logdupepatch-1.0-snapshot.jar` is the download link.
`https://gist.github.com/inklit/c208a36bd5901d56db13ec9b0add94a1` is the link to the source code.

[2016-10-02 13:22] Korvynus opened #933 "Issues with Ender Dragon, some mods and a lot of broken things..."
Forge Version: 1.10.2-12.18.1.2092

Sponge Version: 1.10.2-2092-5.0.0-BETA-1759

I'm currently running 70 mods in my modpack. Since I installed Sponge on my server, a lot of things are broken.

1. Right after respawning the Ender Dragon. I can't destroy the End Crystal that are on the top of each obsidian tower, they are invincible entities unless I use the kill command. Also, it should give me so

[2016-10-02 16:14] inklit commented on #927
Here's an updated patch for this for a small performance improvement: http://switchcraft.pw/logdupepatch-2.0-snapshot.jar
https://gist.github.com/inklit/c208a36bd5901d56db13ec9b0add94a1#gistcomment-1888014 is the source code.

[2016-10-02 16:32] Zidane commented on #933
Number 3 is already a known issue.

[2016-10-02 16:32] Zidane commented on #933
Please split number 1 and 2 into their own issues.

[2016-10-02 16:32] #933 closed

[2016-10-02 21:29] #926 closed

[2016-10-03 04:36] gabizou commented on #901
From what I understand, updating Pixelmon seems to have fixed the issue. @Aaron1011 and @Zidane have spoken to some administrators and have not been able to reproduce the issue any longer after updating.

[2016-10-03 04:36] #901 closed

[2016-10-03 05:37] gabizou commented on #652
So, I've found already a bug that has probably gone by unnoticed for a while now:

![image](https://puu.sh/rw0dQ/34c58c9a10.png)

This probably has to do with the duplication of certain events for the same objects and lack thereof of gravel generation. I'm doing some more investigating, but I'm failing to find any specific duplication of events for the same chunk at the current time with 1.10.2's

[2016-10-03 11:19] Stuart74 commented on #912
This also occurs on my server image below of what occurs

[Inage](http://files.enjin.com.s3.amazonaws.com/499751/modules/forum/attachments/output_oldex4_1472056107.gif)

Supposed to be able to retrieve bark when you use the bark knife but currently we get nothing back at all with sponge installed as i tested this in single player and non sponge server and it works as it normally would.

Sponge Ver

[2016-10-03 13:48] ryantheleach commented on #912
https://github.com/RootsTeam/Roots/blob/master/src/main/java/elucent/roots/item/ItemDruidKnife.java

[2016-10-03 13:55] Stuart74 commented on #912
This means ?

[2016-10-03 14:08] ryantheleach commented on #912
Just a convenient link for anyone else attempting to look into the issue.

[2016-10-03 17:20] Rasgnarok commented on #901
I have indeed been testing with Aaron and Zidane. Updating to the latest SpongeForge fixed it, not updating Pixelmon.

After more than 24hours on the build, it seems to have been eradicated. Can't assure to 100%, but so far, none of my players have experienced it. Thank you all for the help!

[2016-10-03 21:04] #887 closed

[2016-10-03 21:04] Aaron1011 commented on #887
@5igm; This is fixed in the latest SpongeForge. Sorry for the very long delay in getting this addressed.

[2016-10-03 21:32] gabizou commented on #652
From my testing, I have not found issues with RTG and SpongeForge for 1.10.2, I have fixed the issue noted in the previous comment, but for now I feel that this can be closed.

[2016-10-03 21:32] #652 closed

[2016-10-03 21:55] Aaron1011 commented on #912
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/11a395e468b175d37db0e5bbcdf7d9b827f3e2d4. Sorry for the long delay in getting to this.

[2016-10-03 21:55] #912 closed

[2016-10-03 22:25] FiveEYZ opened #934 "[1.10.1] console spam "Could not pass events""
Here i have a fml-server-latest.log that i copied after 3 min 34 sec uptime

updated from build 1776 to 1778
same spam happens on 1780

https://gist.githubusercontent.com/FiveEYZ/368fd923c8b3e7507e929b890bd14927/raw/b7b9e46ed73e0499816ad07aa23f850712a9dfb5/fml-server-latest.log

what i can see are:
`Could not pass CollideBlockEvent$Impl`
`Could not pass ChangeBlockEvent$Pre$Impl`
`Could not pass C

[2016-10-03 22:27] #844 closed

[2016-10-03 22:27] Aaron1011 commented on #844
@Nentify Sorry for the long delay in getting to this.

[2016-10-03 22:28] Aaron1011 commented on #934
@FiveEYZ This is an issue with GriefPrevention - @bloodmc  needs to update it for the latest SpongeAPI.

[2016-10-03 22:28] #934 closed

[2016-10-03 22:36] Aaron1011 commented on #824
I cannot reproduce this with the latest SpongeForge (it was probably fixed with some of the recent inventory improvements). Please re-open this issue if it occurs again.

[2016-10-03 22:36] #824 closed

[2016-10-03 22:42] Aaron1011 commented on #892
@bloodmc: I'm not sure exactly where the hooks should go in Forge's base Fluid block classes. Can you take care of this?

[2016-10-03 23:19] ProsperCraft commented on #905
Roll foward to Sponge 1779 and Enderio  EnderIO-1.10.2-3.0.1.116_beta.jar

Modpack- Allthemods

With sponge enabled the server is unplayable, blocks take 3-4 hits to break, and the day doesn't cycle.  Yet the TPS is reported as being fine on some accounts.
Remove sponge and the playability is instantly returned.

https://timings.aikar.co/v2/?id=9d5c8a529afc44cfa510fa5f12cbec91
https://gyazo.com/55

[2016-10-04 04:10] srs-bsns commented on #652
I'll try and do some more testing at some point in the future, and if I notice anything wrong I'll let you know.

[2016-10-04 13:59] LotuxPunk commented on #905
@ProsperCraft I've the same trouble on my server

[2016-10-04 14:13] Zidane commented on #905
@ProsperCraft @LotuxPunk

I am going to have @gabizou or @Aaron1011 look into why EnderIO is having a fit with us but we need your help by confirming it is SOLELY with EnderIO + SpongeForge that the server starts going to pieces. If you cannot confirm after running SOLELY those two, then keep adding mods till you can. Once you find the mod that when adding it turns into this issue, run that SOLELY

[2016-10-04 16:42] bonii-xx opened #935 "[1.10.2] Crash on Startup with Tinkers and other mods"
See https://github.com/SlimeKnights/TinkersConstruct/issues/2430

Crashlog: http://pastebin.com/VSBKK6uW
Corresponding line in TiC: https://github.com/SlimeKnights/TinkersConstruct/blob/master/src/main/java/slimeknights/tconstruct/library/TinkerRegistry.java#L69

It doesn't happen with only TiC and Sponge, it seems to be a constellation of mods or plugins.

[2016-10-04 17:45] hunter688 commented on #935
Why You using outdated spongeforge?

[2016-10-04 18:05] dogboy21 commented on #857
It looks like the tileentity for the spawner is being removed before the BreakBlock event is being fired

[2016-10-04 18:16] dogboy21 opened #936 "Bark from Roots mod doesn't drop with SpongeForge"
When using Sponge, bark from the Roots mod doesn't drop when right-clicking a log with the bark knife.

**Steps to reproduce:**

- Place log

- Right click with bark knife

Per click it normally drops one bark.

**Relevant code:**
- https://github.com/RootsTeam/Roots/blob/master/src/main/java/elucent/roots/item/ItemDruidKnife.java#L47
- https://github.com/SpongePowered/SpongeCommon/blob/bleeding/s

[2016-10-04 18:26] FiveEYZ commented on #936
this was fixed in one of the latest builds
im currently using spongeforge-1.10.2-2092-5.0.0-BETA-1784 and roots-1.10.2-0.203.0 and it works all fine

[2016-10-04 18:34] dogboy21 commented on #936
I'm currently using Sponge in my dev environment with SpongeForge on 0cdc55d and SpongeCommon on a5e8616. Currently updating to master to see if the problem is solved

[2016-10-04 18:38] dogboy21 commented on #936
Okay, problem is solved on master. Thank you!

[2016-10-04 18:38] #936 closed

[2016-10-04 18:55] Aaron1011 commented on #935
@bonii-xx: As @hunter688 said, please test this again using the latest SpongeForge.

[2016-10-04 18:57] jules552 commented on #935
@hunter688 I have updated my SpongeForge today, I have tested and the server still crashing,

[2016-10-04 19:01] jules552 commented on #935
I think definitely it's a problem with one's of my mods or plugins. I will make some test when I have the time and when I finished the tests, I'll say you the results and what was the problems and which mods or plugins does this crash ;)

And I forgot to said, sorry for my very bad English ;)

[2016-10-04 19:09] hunter688 commented on #935
Paste actual crashlog, then try step by step remove mods/plugins to find what mod causing problem.
I have Tinkers on my SpongeForge server and does not crashing.

[2016-10-04 19:14] jules552 commented on #935
@hunter688

My crashlog:
http://pastebin.com/gV4fnfqk

And yes I will test to remove the mods/plugins one by one ;)

[2016-10-04 19:14] Zidane commented on #921
We need way more information on this. EnderDragon + Zombies + whoever take damage just fine on a test server I have with SpongeForge.

[2016-10-04 19:15] Zidane commented on #891
https://github.com/SleepyTrousers/EnderCore/commit/8c630f79ad05058378dd4b5f3aefa5e02809ff25

Fixed in EnderCore.

[2016-10-04 19:15] #891 closed

[2016-10-04 19:24] hunter688 commented on #935
Looks like problem is Building bricks mod not Tinkers/Sponge
<pre>
java.lang.RuntimeException: Could not load material from tconstruct:materials/vine.json
    at com.hea3ven.buildingbricks.core.materials.loader.MaterialResourceLoader.loadResources(MaterialResourceLoader.java:30)
    at com.hea3ven.buildingbricks.core.ProxyCommonBuildingBricks.onPreInitEvent(ProxyCommonBuildingBricks.java:86)
</pre

[2016-10-04 19:25] jules552 commented on #935
I will try without BuildingBricks

[2016-10-04 19:45] FiveEYZ commented on #921
"end dragon zombies" is a custom mob created by the mod ArmourPlus
https://github.com/TheDragonTeam/ArmorPlus/blob/1.10.2/src/main/java/net/thedragonteam/armorplus/entity/entityzombie/EntityEnderDragonZombie.java

[2016-10-04 21:43] Aaron1011 commented on #857
@dogboy21: You're absolutely correct. This issue is due to Sponge's capturing system, which fires a bulk event after all of the changes have been performed for a particular action (e.g. breaking a block).

@gabizou: What do you think is the best way to deal with this?

[2016-10-04 21:54] Raycoms opened #937 "Sponge gets into problems with ender eye."
When I use the enderEye on our server it writes

6:44:50 PM CONSOLE: thread/FATAL]: Error executing task

We generated the strongholds before adding sponge so we're pretty sure they are there.
We removed sponge and throwing the ender pearls worked after adding again the pearl won't fly.

[2016-10-04 22:03] Aaron1011 commented on #905
@ProsperCraft: Do you have a particularly complex or special conduit setup? My timings report looked perfectly normal after doing some testing.

[2016-10-04 22:03] Aaron1011 commented on #937
@Raycoms: Can you pastebin the full error message that you get?

[2016-10-04 22:05] Raycoms commented on #937
That's unfortunately the full error message.

[2016-10-04 22:08] Aaron1011 commented on #937
@Raycoms: I'm pretty sure that there should be more to it. Can you pastebin your full `latest.log` and `fml-server-latest.log`?

[2016-10-04 22:23] Raycoms commented on #937
http://pastebin.com/7Nc5DNMK

Seems to be a problem with RTG even after we deactivated that RTG generates these structures.

[2016-10-04 22:37] ProsperCraft commented on #905
@aaron1011 I have a server full of players.

[2016-10-04 22:38] ProsperCraft commented on #905
I can provide the map file if that would help.

[2016-10-04 22:41] Zidane commented on #905
@ProsperCraft

Please do.

[2016-10-05 00:22] dogboy21 commented on #905
Same issue here.
Timings: https://timings.aikar.co/v2/?id=6a72a17df885449fa46406e13fa16c6c
Warmroast: https://ss.myftb.de/pCOKfnn2.png

[2016-10-05 03:06] Aaron1011 commented on #905
To everyone having this issue - I believe that it's caused by chunk thrasing (in the world I'm using, rftools is doing on it).

Please set `chunk-load`, `chunk-unload`, and `chunk-gc-queue-unload` to `true` in your `global.conf`. If my theory is correct, your logs should be continuously spammed with unload messages for a very small number of chunks (for me, it was just two).

[2016-10-05 03:08] Aaron1011 commented on #905
@bloodmc: This is your area of expertise.

[2016-10-05 03:17] Aaron1011 opened #939 "Chunk thrashing with EnderIO and RFTools"
The root cause of [this issue](https://github.com/SpongePowered/SpongeForge/issues/905) appears to be [RFTool's `CoalGeneratorTileEntity` calling `World#getTileEntity`](https://github.com/McJty/RFTools/blob/5c2e9b7702c1c0e3698da50cfd8bc1887e46173d/src/main/java/mcjty/rftools/blocks/generator/CoalGeneratorTileEntity.java#L174) (though any mod could probably cause this). With the default chunk GC se

[2016-10-05 11:00] mister-man opened #940 "[1.10.2 / Sponge 5.0.0-BETA-1784] Crash While world generation"
Hallo together,

I found a crash while world generation with sponge version

[code]

Thanks :)

[2016-10-05 12:51] mister-man commented on #930
Hallo,

didn't find the post before posting. These error seems equal to mine.

#940

[2016-10-05 16:23] 5igm commented on #887
@Aaron1011 Thank you very much! Wish sponge to be better!^_^

[2016-10-05 20:47] Raycoms commented on #937
I also noticed that using sponge and RTG structures won't be generated at all, even if we deactivate the participation in structures in the RTG config.

[2016-10-05 21:23] dogboy21 opened #941 "Lag when placing Redstone on top of Redstone Clock (ExtraUtils)"
When redstone is placed on top of a ExtraUtils redstone clock the server begins to lag pretty bad. When redstone is placed on the 4 sides, it works as expected.

ExtraUtils 1.10.2-alpha-1.0.1
Sponge 1.10.2-2092-5.0.0-BETA-1756
Forge 12.18.1.2092

**Steps to reproduce:**

- Place down ExtraUtils Redstone Clock

- Place Redstone on top of it (=lag)

- Place Redstone on the sides (=no lag)

Timings:

[2016-10-05 22:49] dogboy21 commented on #905
As requested by @Aaron1011:
If anyone want's a map to reproduce the issue, use [this one](https://ss.myftb.de/zAunq_xe.zip). There's a conduit network at -346 73 1218 which triggers the problem. Required mods are IronChest (1.10.2-7.0.9.796), IC2 (2.6.15-ex110), rftools (1.10-5.22) and obviously enderio (1.10.2-3.0.1.107_beta)

[2016-10-05 23:01] Aaron1011 commented on #941
This is caused by us capturing block snapshots during scheduled block updates. The mod redstone clock block is implemented by repeatedly scheduling updates for itself. When its `updateTick` method sets itself to either powered or unpowered, it expects neighbor notification to happen instantly (it sets a flag to avoid running certain logic if it receives any transitive neighbor notifications from a

[2016-10-06 01:00] SmallSansSerif opened #942 "SpongeForge 1.10.2-2092-5.0.0-BETA-1785 ignores NetherPortalFix Mod"
I can't this mod to function while running latest (1.10.2-2092-5.0.0-BETA-1785) SpongeForge for 1.10.2. Works fine using Forge 2092

https://minecraft.curseforge.com/projects/netherportalfix?gameCategorySlug=mc-mods&projectID=241160

[2016-10-06 02:07] ryantheleach commented on #942
For reference for anyone investigating:

Replaces vanilla teleporters on world load, for overworld and nether, based on hard coded dimension id's.

https://github.com/blay09/NetherPortalFix/blob/1.10/src/main/java/net/blay09/mods/netherportalfix/NetherPortalFix.java#L23

Possibly buggy for Sponge generated dimensions.

New teleporter sets new NBT data on the player tracking which portal they came

[2016-10-06 05:45] gabizou commented on #941
@Aaron1011 @Zidane @bloodmc Here's what I'm thinking, in this circumstance, it does suit to make it configurable for specific blocks to enable bypassing the tracker for block capturing to only throw instant block change events as they happen while a certain block tick takes place. Why this would make sense is that ultimately, there are going to be some blocks that do require customary bypasses suc

[2016-10-07 21:28] dogboy21 opened #943 "Soul Shard Dupe"
When a Soul Shard from [Soul Shards: The Old Ways](https://minecraft.curseforge.com/projects/soul-shards-the-old-ways) is inserted into a Soul Cage, the shard remains in the player's inventory instead of being used.

SpongeForge 1.10.2-2092-5.0.0-BETA-1784
Forge 12.18.1.2092
Soul Shards 1.10.2-2.6.3-43

**Steps to reproduce:**

- Place down soul cage

- Insert soul shard which is bound to a mob in

[2016-10-08 01:05] Dysthymic commented on #901
I've experienced this once on 1722 (build created to patch this issue) yesterday and once today. The issue seems to not have been resolved only lessened. When it happens it effects all players on the server until the server restarts.

[2016-10-08 01:26] Rasgnarok commented on #901
So, it is like the 1692+ builds - all players affected. Found any special triggers?

[2016-10-08 01:34] josh6259 commented on #766
I'm running into something that might be the same as this.... whenever I press "c" to bring up the menu to learn anything it acts as if I haven't made psidust or leveled, even though I did create the cad and psidust, this is preventing me from progressing, and I even tried using admin commands to force myself to "learn" the first tutorial and psidust levels but was unable to progress.

[2016-10-08 06:35] hunter688 commented on #935
Can be closed, not a SF problem.

[2016-10-08 13:45] ryantheleach commented on #935
Are you saying you reproduced this using those mods, but without SF?

[2016-10-08 15:16] #935 closed

[2016-10-08 15:16] ryantheleach opened #944 "[1.8.9] World names + copying woes."
I'm sorry for the bad issue report in advanced, I'm repeating it second hand from a server operator I'm working with.

They had been running a test server using SpongeForge 1.8.9 and using the default world name of "world"

They later received a map from a builder named "worldo"

They copied worldo over, and renamed it to world to fit with their naming.

Something in the world remembered that it w

[2016-10-08 15:21] Zidane commented on #944
@ryantheleach

It is cause renaming the folder isn't enough. level.dat has the field for the worldname as well. I'll separate these concepts in bleeding but would be a break in 1.8.9.

[2016-10-08 18:29] ryantheleach commented on #944
I worked around it with an NBT editor.

[2016-10-08 18:34] Rasgnarok opened #945 "[1.10.2] Unusable Command Blocks"
So, referring to the Forums post: https://forums.spongepowered.org/t/opening-command-blocks/14211/12 ; I still cannot open command blocks on the newest spongeforge versions (using 1772). I was able to before, and nothing in my PEX config has changed.

Is there a node that was introduced? Because as of early August, all command blocks were unable to open, but they are running and working.

[2016-10-08 20:16] Aaron1011 commented on #945
Possibly related to https://github.com/SpongePowered/SpongeCommon/issues/893.

[2016-10-08 20:24] Rasgnarok commented on #945
yes, aware. I wanted to start a new ticket since that one refers to old builds.

[2016-10-08 22:04] Aaron1011 commented on #901
@Dysthymic: Are you certain that this is the same issue?

[2016-10-09 02:21] simon816 commented on #919
It seems odd that the event has a null entity. Could you print the stacktrace when the error occurs so we can see where the null entity is being passed in.
I did a quick test (on 1.8.9) and could not reproduce this

Also some version numbers would be good.

[2016-10-09 03:52] #939 closed

[2016-10-09 03:52] Aaron1011 commented on #905
Closed in https://github.com/SpongePowered/SpongeForge/issues/939.

[2016-10-09 03:52] #905 closed

[2016-10-09 04:32] Aaron1011 commented on #943
This is an issue with Soul Shards: https://github.com/TehNut/Soul-Shards-The-Old-Ways/issues/33

[2016-10-09 04:32] #943 closed

[2016-10-09 04:50] Rasgnarok opened #946 "[1.10.2] Ridiculously Low Performance"
By now, I am aware that Spongeforge is in development and that it has quite a few ways before it goes out of 'bleeding' state. However, in using `spongeforge-1772` I have noticed quite a lot of lag as soon as a server goes above 30 players.

With 24G allocated, for example, it takes about [8 minutes to stop a server](https://gyazo.com/0d87d84d59374c2379f0eee581eb0456) or the [mean tick time nears

[2016-10-09 04:52] Aaron1011 commented on #885
@dualspiral: Sorry for the long delay in getting this. It appears to be a consequence of the fact that Sponge moves calling `PlayerList#allowUserToConnect` (which handles the whitelist and banlist) to `PlayerList#initializeConnectionToPlayer`, which is called after a `NetHandlerPlayServer` is alrady being used. By contrast, Vanilla and Forge call `allowUserToConnect` while `NetHandlerLoginServer`

[2016-10-09 05:01] Aaron1011 commented on #946
@Rasgnarok: Make sure you're always running the latest build of Sponge (currently `1787`).

Can you please provide it? It's difficult to determine what the cause is with only reports of lag.

[2016-10-09 05:14] kashike commented on #919
The `player` parameter of `playSound` [is `@Nullable`](https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/patches/minecraft/net/minecraft/world/World.java.patch#L178-L180).
[code]

[2016-10-09 12:18] Aaron1011 commented on #943
Update: This has been fixed in the mod itself.

[2016-10-09 14:47] Dysthymic commented on #901
Yes this is occurring a lot more frequently now. 3 times overnight. All players are effected when this occurs. I've attempted updating to the latest SF and experienced the exact same issue. It is now occurring much more frequently. I would say this is definitely not fixed

[2016-10-09 15:03] TehNut commented on #943
Just going to say: This was 100% not my issue. The next time you ***break*** something, fix it yourself instead of shoving it on the mod developers.

[2016-10-09 15:26] Aaron1011 commented on #901
@Dysthymic: What build are you using?

[2016-10-09 15:50] Dysthymic commented on #901
@Aaron1011 Currently I am using SF 1787 and F 2095
Once this issue occurs it seems to happen within about 5-10 minutes after a restart again, prompting us to need about 2-3 restarts before everything is back to normal again for a few hours

[2016-10-09 16:02] Aaron1011 commented on #901
@Dysthymic: Can you please open a new issue for this, and describe exactly what problem you're having (and what, if anything, causes it)?

[2016-10-09 16:07] Aaron1011 commented on #766
I can't reproduce this with the latest SpongeForge. Please re-open this issue if it occurs again.

[2016-10-09 16:07] #766 closed

[2016-10-09 16:09] Dysthymic commented on #901
I can write up a new issue for this here shortly, however, it appears to be the exact same issue as this. I would love to find the cause for this but it's practically impossible with my player count. We hit around 70 players and it is triggered by 1 player and then everybody is effected all at once- therefore it would be near impossible to pinpoint which player caused it. If this issue was anythin

[2016-10-09 16:59] Aaron1011 commented on #937
@Raycoms: I'm unable to reproduce this with a freshly created world with RTG and Sponge. What kind of world were you trying this on?

[2016-10-09 17:00] Aaron1011 commented on #911
@FiveEYZ: Are you able to reproduce this with just those two mods, on the latest SpongeForge?

[2016-10-09 17:07] Raycoms commented on #937
WorldType is realistic and we're using it in SMP.

[2016-10-09 17:29] Aaron1011 commented on #937
Does this happen when you generate a fresh world with Sponge and RTG?

[2016-10-09 19:25] hunter688 opened #947 "[1.10.2] dupe with GriefPrevention installed and right click to container"
When use for example item and try to store in the storage drawer (storage drawers) or place in the casting table (tinkers construct) item is duplicated - is in the container and in the player hand too.

It is in the wilderness only, in the own claim is it ok.

OP players (with all permissions) have no this issue.

Spongeforge 1787, GP 77

[2016-10-09 20:49] Bebabo10 commented on #905
With build 5.0.0-BETA-1788
https://gyazo.com/f9497191e70b1528f04ad361fd4a1860
https://timings.aikar.co/v2/?id=3dcf1ba0542c4327b50a63ea3acb143c << running since server start
https://timings.aikar.co/v2/?id=38f24078ac2041b7af0fbaaf9b85f908 << running for a few min
Still the same issue when adding sponge to a world that has 20 tps the world will start experiencing major lag.

[2016-10-09 21:01] Bebabo10 commented on #905
Also after disabling sponge the tps resumed to its normal level at 20
https://gyazo.com/a3f73dd8035e40dc9f32c537e03ba70e

[2016-10-09 21:05] Aaron1011 commented on #905
@Bebabo10: This is a completely separate issue - the one I fixed had to do with chunk thrashing. Can you please open a new issue for the problem that you're having?

[2016-10-09 21:08] Bebabo10 commented on #905
ok ty

[2016-10-09 21:10] Bebabo10 opened #948 "[1.10.2/spongeforge] Adding sponge to server dropping tps to unplayable levels"
With build 5.0.0-BETA-1788
https://gyazo.com/f9497191e70b1528f04ad361fd4a1860
https://timings.aikar.co/v2/?id=3dcf1ba0542c4327b50a63ea3acb143c << running since server start
https://timings.aikar.co/v2/?id=38f24078ac2041b7af0fbaaf9b85f908 << running for a few min
Still the same issue when adding sponge to a world that has 20 tps the world will start experiencing major lag.
with tps dropping to 1-.6

[2016-10-09 21:48] Bebabo10 commented on #948
@Aaron1011
i can supply anything that is needed including a [world download](https://drive.google.com/open?id=0B7nzOkVIC8ApSXVGWGwxZzNJYUU).[ Pack link ](https://mods.curse.com/modpacks/minecraft/242462-all-the-mods)

[2016-10-09 22:17] Rasgnarok commented on #946
https://timings.aikar.co/v2/?id=47eb6441eeca4c93ab073c8a7e20291c

as you can see, there is little on the actual report. Most often than not, it spikes (as you can see at the beginning of the report) then it drops down. Normally, this is accompanied by massive spam in the console, and dozens of players disconnecting. This was after one of those cases - lost around 20 players to it.

[2016-10-09 22:20] Rasgnarok commented on #901
Do open a new one, I just experienced it as well.

[2016-10-09 22:21] Rasgnarok commented on #948
https://github.com/SpongePowered/SpongeForge/issues/946

[2016-10-09 22:26] Rasgnarok commented on #946
Errors that spam it:
http://pastebin.com/FRF1yEFA
http://pastebin.com/MNq1pv7U

I have others, including non-tracked entities, inventory issues, but those two I see frequently when this happens.

[2016-10-09 22:48] Bebabo10 commented on #948
lol pastebin crashes when u try to paste in more then a million lines
so heres a google doc folder with them in it https://drive.google.com/open?id=0B7nzOkVIC8ApZjFYQW9fOGFyN1U

[2016-10-09 22:49] Aaron1011 commented on #946
That's a clear Sponge issue  I'll look into it.

[2016-10-09 22:52] Rasgnarok commented on #946
I can... would imply that it is in part due to interacting in a certain way with Pixelmon's shopkeepers. Does it specify what action caused the error?

[2016-10-09 22:52] Aaron1011 commented on #948
@Bebabo10: There's quite a few exceptions in that log. Would you be open separate issues for each (I think many are duplicates).

[2016-10-09 22:53] Bebabo10 commented on #948
i was only posting the logs because @Rasgnarok asked

[2016-10-09 22:55] Aaron1011 commented on #946
It's kind of a bizarre exception, but it seems to be caused by right-clicking at `x=-609.80, y=46.00,z=-178.49` However, there's definitely something weird going on - it almost looks like the interaction is recursively happening over and over again.

[2016-10-09 22:55] Bebabo10 commented on #948
greped sponge in ./logs http://pastebin.com/Ch8XbWAj

[2016-10-09 22:57] Rasgnarok commented on #946
I can see and track down what entity is there later today. I'll let you know, but I doubt that I can find anything bizarre about it.

[2016-10-09 22:58] Aaron1011 commented on #946
@Rasgnarok: The only thing I need to know is if you can cause that stacktrace consistently - and if it happens with any other shopkeepers.

[2016-10-09 23:47] Rasgnarok commented on #948
Aside from the apparent HikariPool spam (which I know for a fact causes major issues in performance), line 1884 also shows the start of a sponge error.

[2016-10-09 23:56] Rasgnarok commented on #946
Seems to happen intermittently whenever we interact with them. There's also this error; might it be connected?
https://gyazo.com/06a9d80d4e1566f22de5d3bf467a0a35

[2016-10-10 00:19] Aaron1011 commented on #946
@Rasgnarok: I'll look into these issues. Can you see if you can reproduce them on a fresh world, with just pixelmon and sponge?

[2016-10-10 00:40] bloodmc commented on #948
@Bebabo10 disable ALL your plugins and retest.

[2016-10-10 00:47] Dysthymic opened #949 "[1.10.2] Pixelmon and Mob Malfunction #2"
Continued from a previous report https://github.com/SpongePowered/SpongeForge/issues/901

This issue is very similar if not exactly the same issue as before.

Sponge: We first experienced this 2 days ago on 1776. It happened approximately 4 times on that build since. We've recently updated to the latest Sponge to debug and see if the issue still occurs. We are now **currently running 1787** (this

[2016-10-10 00:55] Rasgnarok commented on #949
I had previously reported it fixed for 1772, but it seems that it's only become rarer. Note, that this kind of exponential appearance could also be seen on 1692 and up - issue happens once, ok. Second, third, fourth, fifth will happen more often.

[2016-10-10 01:03] Rasgnarok commented on #946
I could see that yes. The channel pipeline one might be impossible to, as well as the entity tracking error. I'll see what I can do on my test one; using the latest possible.

[2016-10-10 01:23] Bebabo10 commented on #948
still drops down to under 1 tps without plugins.
https://drive.google.com/open?id=0B7nzOkVIC8ApSXVGWGwxZzNJYUU
https://mods.curse.com/modpacks/minecraft/242462-all-the-mods

[2016-10-10 03:17] lilmoefow commented on #947
This also happens with fluids, same versions used as hunter688.  I have a feeling I am missing a permission node for the default group.

[2016-10-10 05:16] hunter688 commented on #948
Try add tickprofiler mod, then do _/profile e_ and you can see which chunks cost cpu power.

[2016-10-10 13:30] Bebabo10 commented on #948
@hunter688 Tick profiler has not been working for us for quite some time all it shows is blank spots where info used to be. I I'll be happy to try it again if u know of a working copy for 1.10.2

[2016-10-10 13:32] hunter688 commented on #948
https://jenkins.nallar.me/job/TickProfiler/job/1.10.2/

[2016-10-10 14:12] Bebabo10 commented on #948
@hunter688
https://gyazo.com/b4a559390357ae4a79e4514ad094c679 << before sponge with 12 players online
https://gyazo.com/04a6ec354cf4ff77e2f82deb60a8fd6d << with sponge no players online
https://gyazo.com/61bd4aac1b886d6b5262d9422ee6bd6a << sponge with 9 players
https://timings.aikar.co/v2/?id=c2e823600f054e7d8ad050a1ab9ea396 << timmings since start
https://gyazo.com/603006843e1c9ec515e7bc53b65cf51

[2016-10-10 14:24] Bebabo10 opened #950 "[1.10.2] with sponge stop command 1min vs 3 sec"
http://pastebin.com/0A6tLbK9 << 1min 5s with sponge

http://pastebin.com/f4y8iM1A << 3 sec

[2016-10-10 15:54] Aaron1011 commented on #950
@Bebabo10: By itself, that doesn't tell us much. Can you please post either a timings like or a screenshot of WarmRoast?

[2016-10-10 15:57] Aaron1011 commented on #949
Wait - the chat message always appears? That's different from what @Rasgnarok was reporting, where no message would display at all after the first time.

[2016-10-10 16:05] hunter688 commented on #948
Profiler is for finding problematic chunks/entities - reason of low tps, screesnshots with tps rate is unvaluable information.

Show **full output** of _/profile e_ command.

[2016-10-10 16:15] Dysthymic commented on #949
I'm getting a couple mixed stories. It's been happening a lot overnight when I'm not available.

After reviewing with my team it seems they can not recall seeing the "You've sent out xxx!" message. Therefore only displaying the Pokeball and nothing else.

This happened last night and also it's been reported to me that when a player relogs- it fixes the whole issue for them. I'm going to have to wa

[2016-10-10 16:18] Aaron1011 commented on #949
@Dysthymic: That error looks very relevant. I'm going to push up a new build that will add more information to that error message.

[2016-10-10 16:29] Bebabo10 commented on #950
https://gyazo.com/5cabc7cca3c4978fd8bc2096443fc259 <<warmroast directly after /stop executed

[2016-10-10 16:37] Aaron1011 commented on #949
@Dysthymic: The next build of SpongeForge will print include the actual entity in that erorr message, which should help us to determine what's going on.

[2016-10-10 16:53] Bebabo10 commented on #948
Warmroast without sponge https://gyazo.com/5c49943abe20eaa581eb30df8db9cfbc
warmroast with sponge https://gyazo.com/603006843e1c9ec515e7bc53b65cf511

[2016-10-10 17:02] Aaron1011 commented on #948
@Bebabo10: Could you expand the warmroast with Sponge all the way past `NetworkedInventory#insertItem` (e.g. click '+' until you reach the bottom).

[2016-10-10 17:05] Dysthymic commented on #949
http://pastebin.com/wC6StDBS

[2016-10-10 17:05] Aaron1011 commented on #948
@Bebabo10: Can you try to build a similar item conduit network on a fresh world, with only EnderIO? That world and pack are way to large to reasonable debug.

[2016-10-10 17:14] Aaron1011 commented on #949
@Dysthymic: Try [build 1791](http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/1.10.2-2098-5.0.0-BETA-1791/spongeforge-1.10.2-2098-5.0.0-BETA-1791.jar).

[2016-10-10 18:11] Dysthymic commented on #949
Here is a log of the last 10 minutes on 1791
http://pastebin.com/vzR0ps3s

[2016-10-10 19:04] Aaron1011 commented on #949
@Dysthymic: Thanks - that's very helpful. I'm looking into the cause of it.

[2016-10-10 19:08] Aaron1011 commented on #949
@Dysthymic: Would you be able to come on #spongedev on EsperNet?

[2016-10-10 19:28] Aaron1011 commented on #889
The cause of this issue is Sponge's block capturing. VeinMiner explicitly compares the blockstate in Forge's `BreakEvent` to the actual block in the world, probably to detect changse by other mods. In Sponge, the actual block in the world will always be `AIR`, so VeinMiner won't perform its actions.

[2016-10-10 19:35] Rasgnarok commented on #949
@Aaron1011 @Dysthymic I have seen the error before, as I detailed in other posts. I happens pretty often, but it is not a precursor to the bug itself.

[2016-10-10 19:37] hunter688 commented on #947
Thist bug also leads to negative stack in the inventory, then server kicked player. Must clear inventory, then can player connect again.

[2016-10-10 19:38] Aaron1011 commented on #949
@Rasgnarok: I suspect that they may be connected, even if the issue takes a while to manifest after seeing that error.

[2016-10-10 19:39] Rasgnarok commented on #949
That'd be great if it is - let me know if you need anything on my end as well, able to run latest builds as well.

[2016-10-10 19:54] Aaron1011 commented on #949
@Dysthymic: Can you try this build, and report your new stacktraces: http://files.minecraftforge.net/maven/org/spongepowered/spongeforge/1.10.2-2098-5.0.0-BETA-1792/spongeforge-1.10.2-2098-5.0.0-BETA-1792.jar

[2016-10-10 19:59] Aaron1011 opened #951 "Reconsider how block capturing is done"
Recently, I've become aware that several issues, such as [this one with Extrautils2](https://github.com/SpongePowered/SpongeForge/issues/941) and [this one with VeinMiner](https://github.com/SpongePowered/SpongeForge/issues/889), are being directly caused by Sponge's capturing system. While the exact reasons may vary (the former is caused by neighbor notifications not happening when expected, the

[2016-10-10 21:04] Dysthymic commented on #949
http://pastebin.com/hhPawrCL
On build 1792

[2016-10-10 22:30] Xwaffle1 opened #952 "Player moved wrongly!? [1.10.2][Pixelmon]"
I leave this issue that I believe is highly related to
https://forums.spongepowered.org/t/1-10-2-too-quickly-error-performance-issue/14376

Pixelmon has a block(warp plate) that once being placed you can link to teleport a player that stands on it. I've tested it with just Forge and it works fine, but once linked with Sponge it doesn't work and non-opped players can not  use it, it then spams cons

[2016-10-11 00:12] LemADEC opened #953 "Chests disappearing with Chest transporter mod"
As reproduced in SSP with
+ ChestTransporter-1.10.2-2.5.3
+ ironchest-1.10.2-7.0.11.797
+ spongeforge-1.10.2-2098-5.0.0-BETA-1792
+ Forge Mod Loader version 12.18.1.2095

Using chest transporter item on block have them disappearing.

[2016-10-11 01:22] Tencao opened #954 "[1.10.2] Range cannot have identical boundaries"
So I tried to use the latest sponge, however, it crashes with the error -

org.spongepowered.plugin.meta.version.InvalidVersionSpecificationException: Range cannot have identical boundaries: [${version},${version}]

Full crash report - https://paste.ee/r/lzNmt
Forge version - 12.18.2.2102
Sponge version - 1.10.2-2098-5.0.0-BETA-1792

[2016-10-11 01:30] Zidane commented on #954
@Minecrell

That error should never EVER crash the server. Fix that as soon as you can.

[2016-10-11 01:30] Zidane commented on #954
Also, the exception is entirely unhelpful. You don't show the offending plugin...

[2016-10-11 01:47] Rasgnarok commented on #949
Posted same thing on the Discord where we talked last, Aaron.
`[5:14 PM] RasBot: @Aaron1011  There's the error`
`[5:14 PM] RasBot: http://pastebin.com/cCfeVc5d  `

[2016-10-11 01:51] Rasgnarok commented on #952
It does indeed cause performance issues, and this even happens with `1792 spongeforge`. You do not need to be using any warp plates, simply moving fast enough that it would be kicking you had the `server.properties` not been on 'allow-fly=true'.

[2016-10-11 02:41] Rasgnarok commented on #945
Using the latest you provided, I still cannot open them (`sf 1792`).

[2016-10-11 02:43] Bebabo10 commented on #948
warm roast with latest build fully expanded >> https://drive.google.com/file/d/1kESg1Mc361CWOnJvRdqTKhwEC33UGmSC0n2tRZbIHgJPHtLqYI_beHriiGBKWp82f72FeVL18tcTRj--/view?usp=sharing

[2016-10-11 05:27] bloodmc commented on #948
@Bebabo10 Looking at the timings, the main culprit seems to be ComputerCraft

[-]Minecraft::tickTileEntity - blockConduitBundleTileEntitycount(22060) total(56.58% 7.666s, 528.68% of tick)  avg(0.35ms per - 264.34ms/760.69 per tick)

Try removing CC and see if that solves your issue.

[2016-10-11 05:35] Bebabo10 commented on #948
There is no computer craft on the server.

[2016-10-11 05:37] hunter688 commented on #947
When do pex debug and player in the wilderness try place using right mouse button plate to Tinkers Construct table:

<pre>
[07:34:41] [Server thread/INFO] [permissionsex]: Permission griefprevention.admin.claim.manage.wilderness checked in [world=world, localip=62.182.235.7, localport=25565, gp_claim=e67ecf3d-4d0e-4dcc-b5b5-a5402f7fee27, remoteip=46.135.46.251, localhost=mc.rebelgames.net, dimensi

[2016-10-11 06:03] bloodmc commented on #948
Ah yes, that is actually EnderIO's BlockConduitBundle. See if you can reproduce this issue just using EnderIO and a few other mods on a fresh server. The less mods the better.

[2016-10-11 06:06] Bebabo10 commented on #948
Tomorrow I'll test on hermit pack instead of allthemods hermit has about 40 less mods, was just waiting to test to let people build up a bit

[2016-10-11 19:28] Aaron1011 commented on #945
@Rasgnarok: You've given the user the `minecraft.commandblock` permission, right (Sponge adds that).

[2016-10-11 19:35] bloodmc commented on #951
I'll just recap what I stated on IRC...

For first issue, provide a config to disable capturing and fire events immediately similar to how we handle entity spawns.

For second issue, Forge fires their break event for players before setting the blockstate. To workaround this, we could fire a Forge BreakEvent when we fire our ChangeBlockEvent.Pre event for player breaks. We would also have to make s

[2016-10-11 20:25] #953 closed

[2016-10-12 01:43] Rasgnarok commented on #945
No... which is why I was referring to "Is there a node that was introduced? " - before the versions released in August, we set the command block permission through the level of permission in PEX. There was no need for nodes.

Thank you, it is now fixed.

[2016-10-12 02:40] #945 closed

[2016-10-12 02:53] Aaron1011 commented on #950
@Bebabo10: Could you post another warmroast with all of the nodes fully expanded (especially ItemPattern#create).

[2016-10-12 03:03] #941 closed

[2016-10-12 05:42] hunter688 opened #955 "[1.10.2] console exception with build 1795"
http://pastebin.com/s7p6aRf0

http://pastebin.com/yEzRvKzv

server not crashed, but players complains about lag

idk howto reproduce

1794 is ok

[2016-10-12 07:02] #955 closed

[2016-10-12 10:30] hunter688 opened #956 "[1.10.2] Strange behavior of right-click interact"
I would like using plugin deny use of mining laser from the IC2 mod when is player at Y>40.

I have this code:

http://pastebin.com/33ew8GVY

When laser points to air or water, all works as expected.

When point to block, event looks like isnt cancelled, but red message about Y see in the chat (line 46 in the pastebin).

Is my plugin wrong or in the SF is a bug?

As workaround I added my another f

[2016-10-12 10:40] dogboy21 opened #957 "[1.10.2] CME on world generation"
During world generation the log files get spammed with ConcurrentModificationExceptions

SpongeForge 1.10.2-2092-5.0.0-BETA-1787
FTB Unstable 4.2.8 Modpack

Stacktrace: https://paste.myftb.de/ozajawijez

[2016-10-12 13:59] Zidane commented on #957
Yeah this is another issue of "Re-entrant World Generation".

@Deamon5550 @gabizou We need a strategy on dealing with mods who are doing this. Can either of you comment?

[2016-10-12 14:01] Zidane commented on #956
So does the laser beam still spawn is what you are saying?

[2016-10-12 14:01] Zidane commented on #956
@Aaron1011

Look into this, should be simple to resolve.

[2016-10-12 14:38] Deamon5550 commented on #957
Could add a flag to world which causes a check of all setBlock calls during population and if they go out of their bounds throw a thread dump of the mod.

[2016-10-12 14:54] hunter688 commented on #956
Zidane yes.

[2016-10-12 16:15] Deathwhitch commented on #946
i can confirm this issue as well.  same exact issue.  if it helps when i interact with a move tutor or shop npc sometimes it triggers a battle instead of opening  the shop menu then shortly after players start timing out  of  the server and getting disconnected.  they still show as in the server and can't then reconnect until i force a restart

[2016-10-12 17:14] Aaron1011 commented on #946
@Rasgnarok @Deathwhitch: Can you both use build 1798, and enable the new `verbose-errors` config option, which will be automatically inserted into your config (it requires a restart to apply). Once you get another tracker error, please pastebin it here.

[2016-10-12 17:59] Aaron1011 commented on #956
This issue is due to our filtering of right click air events. Unfortunately, our assumptions about the `EnumActionResult` that mods return was incorrect, as IC2 returns `EnumActionResult.FALSE` from `onItemUseFirst` while still performing logic in `onItemRightClick`

[2016-10-12 18:36] liach commented on #956
I'd ping @sfPlayer1 for this.

[2016-10-12 21:11] FiveEYZ commented on #957
this is what chisel tries to do:
https://github.com/Chisel-Team/Chisel/blob/f21c63198426d7bef432c2f10c77c5dd7980867c/src/main/java/team/chisel/common/util/GenerationHandler.java#L66

here is the config i had to disable:
https://github.com/Chisel-Team/Chisel/blob/1.10/dev/src/main/java/team/chisel/common/config/Configurations.java#L86

[2016-10-12 22:50] Deamon5550 commented on #957
Hmm well at a glance that seems to be alright, probably good to have that check anyway so we can catch things.

[2016-10-12 23:53] lilmoefow commented on #798
Issue still present with:

forge-1.10.2-12.18.2.2098
spongeforge-1.10.2-2098-5.0.0-BETA-1798.jar
GraveStone Mod 1.5.7.jar

Let me know if there is a way i can provide more info for this.

[2016-10-13 00:21] LemADEC commented on #947
This issue isn't specific to GriefPrevention. It applies to any forms of protection plugins.
Do we have any idea how to fix it?

[2016-10-13 00:33] LemADEC commented on #948
Similar issue has been posted on EnderIO here: https://github.com/SleepyTrousers/EnderIO/issues/3769

[2016-10-13 00:53] bloodmc commented on #948
@LemADEC You able to provide me with a test world with as FEW mods as possible to reproduce the slow down with enderio? If so, please provide link and i'll test it on my end.

[2016-10-13 05:53] sfPlayer1 commented on #956
The reason behind returning FAIL is to prevent the use animation from playing.

[2016-10-13 06:02] Barteks2x commented on #957
Chisel does it right as of [this commit](https://github.com/Chisel-Team/Chisel/commit/48a3fba31d7095bf3f267c0bbdee2de93ae51f09), so if something is wrong with chisel - it's old version.

[2016-10-13 09:12] LemADEC commented on #948
From what we suspect so far, it's related to a base mixing EnderIO + Refined Storage + Mekanism + QuantumStorage + EnvironmentalTech + ExtraUtils + Tinker's + IronChest + Storage Drawers and 2 chunkloaders.
Map is 1.5GB compressed with 94 mods (HermitPack on Curse), available here http://mc.funsquaregames.com/download/Harry-20161013.zip without the chunkloaders at -88 91 472 and -99 89 739.

We'll

[2016-10-13 15:05] bloodmc commented on #957
FTB Unstable 4.2.8 was released before that commit in chisel so @Barteks2x is correct that the issue is the version being used in that specific modpack. However, I'll keep ticket open until @Deamon5550 adds a check to catch this issue in future.

[2016-10-13 15:14] Barteks2x commented on #957
From the log, another big issue seems to be harvestcraft, I already reported that yesterday (before this issue).

[2016-10-13 18:46] hunter688 commented on #947
Found another related problem. When try use Conduit Facade from Ender IO to Item Conduit from same mod, looks like right clicking called twice (place instead one facade two).

Also can be reproducet with vanilla chest and any vanilla block.

Take wooden planks to hand and click right button to wooden chest. Planks are placed to world as new block next to chest.

[2016-10-13 18:55] Aaron1011 commented on #956
@sfPlayer1: This isn't a problem with IC2 at all - it's a sponge problem. We'll be working on a fix for this.

[2016-10-13 21:11] FiveEYZ commented on #947
can confirm with the facade being placed twice.

it happen to a player where he had 1 conduit facade on hotbar and when he placed it 2 appeared placed in world, the one facade he had on hotbar turned in to -1 and the player got kicked with "internal server error"
this happen in the players own GP claim

http://pastebin.com/raw/uw7KknLv

[2016-10-14 00:01] lilmoefow opened #958 "Client Dissconects instantly after connecting"
Player was trying to collect Demonic Wills from Blood Magic, when he was disconnected from the server.
Now when ever he trys to rejoin it kicks him instantly.  Not sure how but he has managed to get back on.

Here is the error in the FML logs when he tried to connect
https://gist.github.com/lilmoefow/aa2f59ccb79e743e19a306759e648549

forge-1.10.2-12.18.2.2098-universal.jar
spongeforge-1.10.2-2098-

[2016-10-14 00:12] kashike commented on #958
Is Baubles installed?

[2016-10-14 00:22] lilmoefow commented on #958
Yeah, like i said before  " I have a feeling it might have something to do with Blood Arsenal not being updated to the newest Baubles, but the player was not using any baubles nor did he have any equipped."

If that is 100% the issue, i will just rollback baubles.  But the error is referencing "at biomesoplenty.common.block.BlockBOPPlant.func_180634_a(BlockBOPPlant.java:455) [BlockBOPPlant.class:?

[2016-10-14 06:34] bloodmc commented on #947
@hunter688 @FiveEYZ @LemADEC @lilmoefow The following PR should solve StorageDrawers issues once pulled

https://github.com/jaquadro/StorageDrawers/pull/350

Many of the issues were caused on how the mod was handling block clicks and breaks. Essentially, the client would send a custom packet to server which would schedule a click or break to run following tick. This probably will fix other bugs it

[2016-10-14 07:11] bloodmc commented on #958
The issue is either you are using a different version of baubles that blood arsenal expects or baubles is not installed. This is not a sponge issue.

[2016-10-14 07:11] #958 closed

[2016-10-14 07:39] LemADEC commented on #948
In SinglePlayer, with just Sponge and EnderIO, setting next to a simple setup for 4+ hours, lag isn't reproduced. If I go back and forth into the nether, lag seems to build up (very) slowly.

On the main server, since the base at -88 91 742 is no longer used, we've observed an heavy lag coming from Mekanism, similar to the original EnderIO one:
![image](https://cloud.githubusercontent.com/assets/4

[2016-10-14 16:02] lilmoefow commented on #958
Ok cool.  I thought so, just wanted to just some extra confirmation.  Thanks for humoring me :)

[2016-10-14 19:02] Aaron1011 commented on #940
@mister-man: Sorry for the delay in getting this. Can you please tell us the mods that you're running (as well as their versions). Also, does this issue always occur when generating a fresh world, or is it an issue with an existing one?

[2016-10-14 22:28] LemADEC commented on #948
I'm observing some lag in Sponge cause tracker every now and then:
![image](https://cloud.githubusercontent.com/assets/4776032/19404305/4cb6ab6e-926d-11e6-9420-10d0652cbcd2.png)
same a bit later
![image](https://cloud.githubusercontent.com/assets/4776032/19404394/f5d20c3e-926d-11e6-800e-caef728bb1a9.png)

[2016-10-14 23:45] LemADEC commented on #948
Here's another lag pattern seen a few times:
![image](https://cloud.githubusercontent.com/assets/4776032/19405520/9765c928-9278-11e6-9ad3-5bda634edba8.png)
I see at least 2 issues here:
1- a block event is fired in an unloaded chunk (memory leak?)
2- RefinedStorage is scanning all recipes on chunk loading through onCraftMatrixChanged

[2016-10-15 04:28] Rasgnarok commented on #946
@Deathwhitch Didn't you get an error already that crashed the server on 1798? Post it up mate

[2016-10-15 10:03] LemADEC opened #959 "RefinedStorage explosion not supported"
In the RefinedStorage, an explosion is triggerred when placing a second controller in the same network.
When such explosion happens, console is spamming logs about "Exception trying to process over a phase!":
[code]

Issue is reproduced in SSP with only the following mods:
Forge Mod Loader version 12.18.1.2095 for Minecraft 1.10.2
MCMultiPart-1.2.1-universal
spongeforge-1.10.2-2098-5.0.0-BETA-1798

[2016-10-15 14:29] ryantheleach opened #960 "[1.10.2] Emerald Ore does not generate in extreme hills."
Created a new world using an Extreme Hills only preset.

[code]
[Copy of EmeraldTestForge.zip](https://github.com/SpongePowered/SpongeForge/files/531189/Copy.of.EmeraldTestForge.zip)

World file included, regions deleted, on load should place player directly looking at emerald ore.

Found an Emerald Ore location in vanilla, Noted co-ordinates of 962 29 983

``/tp 959.5 28.0 984.5 -110 0``

Launch

[2016-10-15 14:37] ryantheleach commented on #960
Edit:

Tested on Forge without Sponge, emerald generates as expected.

[2016-10-15 14:53] ryantheleach commented on #960
Moved to: https://github.com/SpongePowered/SpongeCommon/issues/979

[2016-10-15 14:53] #960 closed

[2016-10-15 17:59] Deathwhitch commented on #946
i have the verbose on now,  problem is the server doesn't crash or produce an error it just stops responding to everything.  players lag out and can't log back in cause it says they are still in the server.  server won't respond to stop command or any commands.  i have to force close it to restart. not sure what's causing it or how to fix it but server is unplayable in this state

[2016-10-15 18:11] Deathwhitch commented on #946
heres the paste from my last server run, its not an error log its the whole console but you can see where it stopped responding and how long the server ran.

http://pastebin.com/DCVHFnRW

[2016-10-15 18:27] bloodmc commented on #956
Fixed in

https://github.com/SpongePowered/SpongeForge/commit/97b8c5040edf38a55cf789d402892876b8d43b3d

and

https://github.com/SpongePowered/SpongeCommon/commit/d68412db39cddc6f35b647c3d945184c25af6523

[2016-10-15 18:27] #956 closed

[2016-10-15 18:27] bloodmc commented on #947
Fixed in https://github.com/SpongePowered/SpongeForge/commit/97b8c5040edf38a55cf789d402892876b8d43b3d

[2016-10-15 18:29] Deathwhitch commented on #946
it finally logged an error when the stop porcess kicked in.No idea if it is related to the issue here or not but here it is

http://pastebin.com/hrJVk6YT

[2016-10-15 19:31] Aaron1011 commented on #946
@Deathwhitch: Can you pastebin your entire `fml-server-latest.log` file?

[2016-10-15 19:51] Deathwhitch commented on #946
https://drive.google.com/file/d/0B5A00RnWKl-tNHRsWUNMQ0VpaWc/view?usp=sharing

[2016-10-15 20:03] Aaron1011 commented on #946
@Deathwhitch: The error stacktrace you posted is just related to a log file - is it possible that you moved/deleted/did something to a log file while the server was running?

Nothing is standing out in your server log that would cause a slowdown. Can you paste us a timings report and WarmRoast from when the lag is occuring?

[2016-10-15 20:09] Deathwhitch commented on #946
I would love to, but every time i have tried the link it generates leads to a 404 page

[2016-10-15 23:50] Deathwhitch commented on #946
so here is something weird. I have a pastebin of my console while the server unresponsive and players cannot log in, however rcon CAN still log in and run commands that the server responds to. I ran the TPS command while the server was in this unresponsive state and took a screenshot. However the server still did not respond to the stop command and would not shut down until force closed. Here is t

[2016-10-15 23:51] Aaron1011 commented on #946
@Deathwhitch: Can you open a separate issue for the problem with creating timings?

[2016-10-15 23:53] Deathwhitch commented on #946
sure

My last post was still relevant to this issue though.

[2016-10-16 00:54] Deathwhitch commented on #946
UPDATE: Issue stopped for me on 1798 if I remove griefprevention from my mod folder. This narrows it down to a GP related issue and I will post on that thread about it.

[2016-10-16 01:04] Rasgnarok commented on #946
I did find that land protection plugins (in my case, Polis) are making it harder, performance wise. Will be posting a timings soon when I get to 60 players on, to illustrate my point. What does it for me is chunk loading/unloading, and entity ticking. Pixelmon in this case creates so much clogging that furnaces, apricorns, and other items relying on ticks do not function properly. For example, I s

[2016-10-16 01:49] bloodmc commented on #946
@Deathwhitch The issue isn't with GP but something occuring in Sponge AFTER specific events get cancelled. GP also has timings for everything it does which will show up in a timings report. This issue is probably caused due to the CauseTracker getting in a bad state. Once the entity event fix branch is merged, it should resolve it.

I'm also running a 1.10.2 server with over 30 mods and no issues

[2016-10-16 02:58] Rasgnarok commented on #946
@bloodmc How many players? I think there is a large difference in that sense - often enough I cannot reproduce most of the spammed errors I get unless I achieve that playercount... makes it hard to be able to stress-test builds in terms of performance.

[2016-10-16 07:52] TheMrCaveman opened #961 "server won't boot with sponge 5.0.0-BETA-1806"
updatde sponge from 5.0.0-BETA-1798 to 5.0.0-BETA-1806

And server won't boot anymore

/********************************************************************************************************/
/* */
/* Oh dear. Something went wrong and the server had to shut down! */
/* */
/*------------------------------------------------------------------------------------------------------*/
/* */
/* A critica

[2016-10-16 08:04] TheMrCaveman opened #962 "crash with sponge 5.0.0-BETA-1803"
so apperently the only latest version that works on our server is 5.0.0-BETA-1799

see crash report here:

http://pastebin.com/2Ct1fckJ

[2016-10-16 08:12] ZephireNZ commented on #961
Looking into this now, was my PR that broke it

[2016-10-16 10:10] ZephireNZ commented on #962
Fixed in #963

[2016-10-16 10:10] ZephireNZ commented on #961
Fixed in #963

[2016-10-16 14:00] #961 closed

[2016-10-16 14:00] #962 closed

[2016-10-16 17:52] ghost commented on #947
Issue with chest/facades mentioned above still here (build 1808). Can be reproduced in the wilderness, in the own claim is it ok.

[2016-10-17 00:50] IBGnova opened #965 "[1.8.9 URGENT] Massive Duping Issue!"
Hello,
So recently one of my staff members pointed out a quite concerning issue, this issue is a massive dupe glitch. The way it works:

You need two people.
Place down a chest,
Have one player with the item you want to dupe place the item in the chest's first slot and have them spam one so it will go in and out of their inventory.

The next step is all about random timing, you need the other pers

[2016-10-17 01:06] Aaron1011 commented on #965
@IBGnova: This sounds like a vanilla bug. Can you see if it can be reproduced on either plain Forge, or Vanilla?

[2016-10-17 01:35] IBGnova commented on #965
I tried doing it on a Spigot 1.8.9 server and I could not reproduce it.

[2016-10-17 01:44] Aaron1011 commented on #965
@IBGnova: It's possible that spigot fixes it. Can you try vanilla and plain forge?

[2016-10-17 01:46] IBGnova commented on #965
Sure give me a moment to setup a test server. Would you like the IP, maybe I can show you how it works if it does.

[2016-10-17 02:00] IBGnova commented on #965
Ok it's a MC/Forge Issue. I have a test server if you want to see how it works let me know and I will Pm you. I assume if spigot has a fix for this then you guys can make one too?

[2016-10-17 02:02] bookerthegeek commented on #965
I know thermos fixes this in 1.7.10, maybe ping them for what exactly causes  this and how they fixed it.

[2016-10-17 02:02] IBGnova commented on #965
https://gyazo.com/25634ff556c40f0a54dffd510ab00bff

That is the item that is given to the player when it works. And once they get that they can just keep throwing items out non-stop.

[2016-10-17 02:04] Aaron1011 commented on #965
@IBGnova: We'll looking into fixing this in Sponge.

[2016-10-17 02:04] Aaron1011 commented on #965
@IBGnova: Btw, were you able to reproduce this in Vanilla, or only in Forge?

[2016-10-17 02:04] IBGnova commented on #965
Will the fix be pushed to 1.8.9 as well?

[2016-10-17 02:05] bookerthegeek commented on #965
@Robotia any idea?

[2016-10-17 02:05] IBGnova commented on #965
I have been told you guys are mainly focusing on 1.10, but i think this is major enough to make an update for 1.8.9

[2016-10-17 02:14] sameer commented on #965
A similar issue was encountered and patched in Thermos. It had to do with negative stack-sizes being returned from mods. I proposed it to be implemented in Forge but the issue I had posted was closed.
Here is the patch that was applied: https://github.com/CyberdyneCC/Thermos/commit/2fd5068cb9a28f5a87d5fba9fc7a6b2cfeec4810

[2016-10-17 02:20] Deathwhitch commented on #946
here is a paste of the permissions file for my server. pretty basic but hope it can help you narrow down what what happens after the cancel event is called as blood mentioned

http://pastebin.com/tyarYDP6

[2016-10-17 02:54] ProsperCraft commented on #921
This is still happening with the 5.0 Release - Build 1808

[2016-10-17 05:26] bloodmc commented on #947
@hunter688 @FiveEYZ That is an entirely different issue, open up a new ticket. The original issue has been resolved so there is no need to keep this ticket open.

[2016-10-17 05:26] #947 closed

[2016-10-17 05:27] mrapplexz opened #966 "[1.10.2] Minecraft not loads with latest AE2 nightly build and SpongeForge."
Minecraft not loads with latest AE2 nightly build and SpongeForge.
Forge version: 1.10.2-12.18.2.2107.
Sponge version: 1.10.2-2098-5.0.0-BETA-1808.
AE2: rv4-nightly.
fml-client-latest.log: http://pastebin.com/GMD2MtrB

[2016-10-17 05:28] ghost opened #967 "[1.10.2] Right click place block instead open chest gui (GP installed)"
In the wilderness:

Take wooden planks to hand and click right button to wooden chest. Planks are placed to world as new block next to chest instead only open chest gui.

In the own claim is ok.

[2016-10-17 05:29] ghost commented on #967
Placing enderIO facades to conduits have related problem. Facade is placed twice.

[2016-10-17 05:54] FiveEYZ commented on #967
can confirm with the Coduit Facades being placed twice.

it happen to a player where he had 1 conduit facade on hotbar and when he placed it 2 appeared placed in world, the one facade he had on hotbar turned in to -1 and the player got kicked with "internal server error"
this happen in the players own GP claim

http://pastebin.com/raw/uw7KknLv

[2016-10-17 06:07] ghost commented on #948
I have similar issue with enderIO conduits. Trying now world.chunk-gc-tick-interval=0 as workaround mentioned here: https://github.com/SpongePowered/SpongeForge/issues/905#issuecomment-251570906

[2016-10-17 06:10] gabizou commented on #966
@mrAppleXZ I've submitted a PR making the necessary change for AE2 and SpongeForge to coexist without crashing at launch, whether there's other bugs that SF indirectly causes with entities/tileentities/items/blocks/etc. is a different story ;) This should be closed as soon as the AE2 issue is resolved.

[2016-10-17 06:12] mrapplexz commented on #966
@gabizou Thank you!

[2016-10-17 06:17] ghost commented on #967
pls retest with latest SF

[2016-10-17 09:12] LemADEC commented on #948
Disabling the chunk gc helped, but the lag spikes remains when going into the faulty base.
So the server no longer reachs the 180 s timeout, but it still lags for up to 10 s every now and then.

[2016-10-17 16:46] bloodmc commented on #948
@LemADEC I tested your Harry map with latest SF/GP/PEX and cannot reproduce your issue with lag. I tested at location -88 91 742. Test on your end and reproduce the issue then list steps.

[2016-10-17 17:15] bloodmc commented on #948
@Bebabo10 confirmed allthemods has severe tps issues. I'll see if I can find what's causing it in Sponge.

[2016-10-17 17:33] bloodmc commented on #948
@LemADEC It took a bit but the lag finally started to happen. I'm looking into it.

[2016-10-17 17:41] Dysthymic commented on #949
Still occurs on latest snapshot- Different issue now
It tells the player "You have sent out xxx" No pokeball appears though

[2016-10-17 18:01] bloodmc commented on #948
@Bebabo10 @LemADEC as others have mentioned, as a temporary workaround set your chunk-gc-tick-interval to 0 in global.conf then run the command "sponge reload -g" to reload the config. This should fix the lag issues until I figure out what is causing it.

[2016-10-17 20:00] bloodmc commented on #946
@Rasgnarok @Deathwhitch Please test the following build

https://www.dropbox.com/s/ra3hrlz5uw7xbhf/spongeforge-1.10.2-2098-bleeding-BETA-TEST1.jar?dl=0

This fixes another ticket with a similar performance issue https://github.com/SpongePowered/SpongeForge/issues/948

Make sure to set "chunk-gc-tick-interval" back to 1. Also, please test to make sure chunks are unloading properly. If it works, I'l

[2016-10-17 20:01] bloodmc commented on #948
@Bebabo10 @LemADEC @hunter688 Please test the following build

https://www.dropbox.com/s/ra3hrlz5uw7xbhf/spongeforge-1.10.2-2098-bleeding-BETA-TEST1.jar?dl=0

It should solve the issue you all are experiencing. Make sure to set "chunk-gc-tick-interval" back to 1.
Also, please test to make sure chunks are unloading properly. If it works, I'll push to bleeding.

[2016-10-17 21:03] #959 closed

[2016-10-17 21:03] Vauxite commented on #948
I'm trying this version now. I'm the one who reported the issue over at EnderIO.

[2016-10-17 21:06] ghost commented on #948
Testing too about half hour, looks fine for now, soon I will report how performance changed after long time.

[2016-10-17 21:30] LemADEC commented on #948
We've tried it for 30 mn or so and lag is back without having to load the faulty base:
![image](https://cloud.githubusercontent.com/assets/4776032/19456393/835a0e58-94c1-11e6-8fab-da67e28d913a.png)
![image](https://cloud.githubusercontent.com/assets/4776032/19456420/a7d43312-94c1-11e6-97db-a881d0cfb854.png)

Something seems to constantly unload/reload the chunks.
I'm rebooting now and disabling ch

[2016-10-17 22:29] NyleGarcia commented on #948
@bloodmc It's looking good atm but its only been up for about 25 min with 13 players online with a solid 20tps and plugins.

will keep testing for now

[2016-10-18 01:15] bloodmc commented on #948
@hunter688 @Bebabo10 Did lag return?

[2016-10-18 01:39] NyleGarcia commented on #948
https://timings.aikar.co/v2/?id=26ea12ecfe8b440c9e15562b4ed4fac4 << hermit

https://timings.aikar.co/v2/?id=b5f7ee9302444d2eb88ceb8bd98ecc4d << allthemods

[2016-10-18 01:41] NyleGarcia commented on #948
looking good @bloodmc thank you it also fixed issue #950